{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.gamelift#AcceptMatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#AcceptMatchInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#AcceptMatchOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers a player's acceptance or rejection of a proposed FlexMatch match. A\n            matchmaking configuration may require player acceptance; if so, then matches built with\n            that configuration cannot be completed unless all players accept the proposed match\n            within a specified time limit. </p>\n        <p>When FlexMatch builds a match, all the matchmaking tickets involved in the proposed\n            match are placed into status <code>REQUIRES_ACCEPTANCE</code>. This is a trigger for\n            your game to get acceptance from all players in the ticket. Acceptances are only valid\n            for tickets when they are in this status; all other acceptances result in an\n            error.</p>\n        <p>To register acceptance, specify the ticket ID, a response, and one or more players.\n            Once all players have registered acceptance, the matchmaking tickets advance to status\n            <code>PLACING</code>, where a new game session is created for the match. </p>\n        <p>If any player rejects the match, or if acceptances are not received before a specified\n            timeout, the proposed match is dropped. The matchmaking tickets are then handled in one\n            of two ways: For tickets where one or more players rejected the match, the ticket status\n            is returned to <code>SEARCHING</code> to find a new match. For tickets where one or more\n            players failed to respond, the ticket status is set to <code>CANCELLED</code>, and\n            processing is terminated. A new matchmaking request for these players can be submitted\n            as needed. </p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-client.html\">\n                Add FlexMatch to a Game Client</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-events.html\"> FlexMatch Events Reference</a>\n         </p>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>StartMatchmaking</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeMatchmaking</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>StopMatchmaking</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>AcceptMatch</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>StartMatchBackfill</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#AcceptMatchInput": {
      "type": "structure",
      "members": {
        "AcceptanceType": {
          "target": "com.amazonaws.gamelift#AcceptanceType",
          "traits": {
            "smithy.api#documentation": "<p>Player response to the proposed match.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerIds": {
          "target": "com.amazonaws.gamelift#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a player delivering the response. This parameter can include one or multiple\n            player IDs.</p>",
            "smithy.api#required": {}
          }
        },
        "TicketId": {
          "target": "com.amazonaws.gamelift#MatchmakingIdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking ticket. The ticket must be in status <code>REQUIRES_ACCEPTANCE</code>; otherwise this\n            request will fail.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#AcceptMatchOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.gamelift#AcceptanceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCEPT"
          },
          {
            "value": "REJECT"
          }
        ]
      }
    },
    "com.amazonaws.gamelift#Alias": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "target": "com.amazonaws.gamelift#ArnStringModel",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a>) that is assigned to a GameLift alias resource and uniquely identifies it. ARNs are unique across all Regions.. In a GameLift alias ARN, the resource ID matches the alias ID value.</p>"
          }
        },
        "AliasId": {
          "target": "com.amazonaws.gamelift#AliasId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for an alias. Alias IDs are unique within a Region.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example \"1469498468.057\").</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of an alias.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this data object was last modified. Format is a number expressed in Unix time as milliseconds (for example \"1469498468.057\").</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>"
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties that describe an alias resource.</p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ResolveAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#AliasId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^alias-\\S+|^arn:.*:alias\\/alias-\\S+"
      }
    },
    "com.amazonaws.gamelift#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Alias"
      }
    },
    "com.amazonaws.gamelift#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.gamelift#ArnStringModel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9:/-]+"
      }
    },
    "com.amazonaws.gamelift#AttributeValue": {
      "type": "structure",
      "members": {
        "N": {
          "target": "com.amazonaws.gamelift#DoubleObject",
          "traits": {
            "smithy.api#documentation": "<p>For number values, expressed as double.</p>"
          }
        },
        "S": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>For single string values. Maximum string length is 100 characters.</p>"
          }
        },
        "SDM": {
          "target": "com.amazonaws.gamelift#StringDoubleMap",
          "traits": {
            "smithy.api#documentation": "<p>For a map of up to 10 data type:value pairs. Maximum length for each string value\n            is 100 characters. </p>"
          }
        },
        "SL": {
          "target": "com.amazonaws.gamelift#StringList",
          "traits": {
            "smithy.api#documentation": "<p>For a list of up to 10 strings. Maximum length for each string is 100 characters.\n            Duplicate values are not recognized; all occurrences of the repeated value after the\n            first of a repeated value are ignored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Values for use in <a>Player</a> attribute key-value pairs. This object lets\n            you specify an attribute value using any of the valid data types: string, number, string\n            array, or data map. Each <code>AttributeValue</code> object can use only one of the\n            available properties.</p>"
      }
    },
    "com.amazonaws.gamelift#AwsCredentials": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Temporary key allowing access to the Amazon GameLift S3 account.</p>"
          }
        },
        "SecretAccessKey": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Temporary secret key allowing access to the Amazon GameLift S3 account.</p>"
          }
        },
        "SessionToken": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Token used to associate a specific build ID with the files uploaded using these\n            credentials.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Temporary access credentials used for uploading game build files to Amazon GameLift. They\n            are valid for a limited time. If they expire before you upload your game build, get a\n            new set by calling <a>RequestUploadCredentials</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.gamelift#BackfillMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTOMATIC",
            "name": "AUTOMATIC"
          },
          {
            "value": "MANUAL",
            "name": "MANUAL"
          }
        ]
      }
    },
    "com.amazonaws.gamelift#BooleanModel": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.gamelift#Build": {
      "type": "structure",
      "members": {
        "BuildArn": {
          "target": "com.amazonaws.gamelift#BuildArn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a>) that is assigned to a GameLift build resource and uniquely identifies it. ARNs are unique across all Regions. In a GameLift build ARN, the resource ID matches the\n                <i>BuildId</i> value.</p>"
          }
        },
        "BuildId": {
          "target": "com.amazonaws.gamelift#BuildId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a build.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example \"1469498468.057\").</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a build. Build names do not need to be unique. It can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>Operating system that the game server binaries are built to run on. This value\n            determines the type of fleet resources that you can use for this build.</p>"
          }
        },
        "SizeOnDisk": {
          "target": "com.amazonaws.gamelift#PositiveLong",
          "traits": {
            "smithy.api#documentation": "<p>File size of the uploaded game build, expressed in bytes. When the build status is\n                <code>INITIALIZED</code>, this value is 0.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#BuildStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the build.</p>\n        <p>Possible build statuses include the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <b>INITIALIZED</b> -- A new build has been defined,\n                    but no files have been uploaded. You cannot create fleets for builds that are in\n                    this status. When a build is successfully created, the build status is set to\n                    this value. </p>\n            </li>\n            <li>\n                <p>\n                    <b>READY</b> -- The game build has been successfully\n                    uploaded. You can now create new fleets for this build.</p>\n            </li>\n            <li>\n                <p>\n                    <b>FAILED</b> -- The game build upload failed. You\n                    cannot create new fleets for this build. </p>\n            </li>\n         </ul>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>Version information that is associated with a build or script. Version strings do not need to be unique. This value can be set using <a>CreateBuild</a> or <a>UpdateBuild</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties describing a custom game build.</p>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListBuilds</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteBuild</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#BuildArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:.*:build\\/build-\\S+"
      }
    },
    "com.amazonaws.gamelift#BuildId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^build-\\S+|^arn:.*:build\\/build-\\S+"
      }
    },
    "com.amazonaws.gamelift#BuildList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Build"
      }
    },
    "com.amazonaws.gamelift#BuildStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INITIALIZED",
            "name": "INITIALIZED"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.gamelift#CertificateConfiguration": {
      "type": "structure",
      "members": {
        "CertificateType": {
          "target": "com.amazonaws.gamelift#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a TLS/SSL certificate was generated for a fleet. </p>\n        <p> </p>\n        <p> </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the use of a TLS/SSL certificate for a fleet. TLS certificate\n            generation is enabled at the fleet level, with one certificate generated for the fleet.\n            When this feature is enabled, the certificate can be retrieved using the <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk.html\">GameLift Server SDK</a> call <code>GetInstanceCertificate</code>. All instances\n            in a fleet share the same certificate.</p>"
      }
    },
    "com.amazonaws.gamelift#CertificateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "Disabled"
          },
          {
            "value": "GENERATED",
            "name": "Generated"
          }
        ]
      }
    },
    "com.amazonaws.gamelift#ComparisonOperatorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GreaterThanOrEqualToThreshold",
            "name": "GreaterThanOrEqualToThreshold"
          },
          {
            "value": "GreaterThanThreshold",
            "name": "GreaterThanThreshold"
          },
          {
            "value": "LessThanThreshold",
            "name": "LessThanThreshold"
          },
          {
            "value": "LessThanOrEqualToThreshold",
            "name": "LessThanOrEqualToThreshold"
          }
        ]
      }
    },
    "com.amazonaws.gamelift#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamelift#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service\n            resource associated with the request. Resolve the conflict before retrying this\n            request.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gamelift#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateAliasInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for a fleet. In most situations, you can use an alias ID in place of\n            a fleet ID. An alias provides a level of abstraction for a fleet that is useful when\n            redirecting player traffic from one fleet to another, such as when updating your game\n            build.  </p>\n        <p>Amazon GameLift supports two types of routing strategies for aliases: simple and terminal. A\n            simple alias points to an active fleet. A terminal alias is used to display messaging or\n            link to a URL instead of routing players to an active fleet. For example, you might use\n            a terminal alias when a game version is no longer supported and you want to direct\n            players to an upgrade site. </p>\n        <p>To create a fleet alias, specify an alias name, routing strategy, and optional\n            description. Each simple alias can point to only one fleet, but a fleet can have\n            multiple aliases. If successful, a new alias record is returned, including an alias ID\n            and an ARN. You can reassign an alias to another fleet by calling\n                <code>UpdateAlias</code>.</p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ResolveAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateAliasInput": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the alias.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias. </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new alias resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n                <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateAliasOutput": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.gamelift#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The newly created alias resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateBuild": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateBuildInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateBuildOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon GameLift build record for your game server binary files and points to\n            the location of your game server build files in an Amazon Simple Storage Service (Amazon S3)\n            location. </p>\n        <p>Game server binaries must be combined into a zip file for use with\n            Amazon GameLift. </p>\n        <important>\n            <p>To create new builds directly from a file directory, use the AWS CLI command <b>\n                  <a href=\"https://docs.aws.amazon.com/cli/latest/reference/gamelift/upload-build.html\">upload-build</a>\n               </b>. This helper command uploads build files and\n                creates a new build record in one step, and automatically handles the necessary\n                permissions. </p>\n        </important>\n        <p>The <code>CreateBuild</code> operation should be used only in the following scenarios:</p>\n        <ul>\n            <li>\n                <p>To create a new game build with build files that are in an Amazon S3 bucket under your own AWS account. To use\n                    this option, you must first give Amazon GameLift access to that Amazon S3 bucket. Then call <code>CreateBuild</code>\n                    and specify a build name, operating system, and the Amazon S3 storage location of your\n                    game build.</p>\n            </li>\n            <li>\n                <p>To upload build files directly to Amazon GameLift's Amazon S3 account. To use this option,\n                    first call <code>CreateBuild</code> and specify a build name and operating system.\n                    This action creates a new build record and returns an Amazon S3 storage location\n                    (bucket and key only) and temporary access credentials. Use the credentials to\n                    manually upload your build file to the provided storage location (see the Amazon S3 topic\n                        <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html\">Uploading Objects</a>). You can upload build files to the GameLift Amazon S3 location only once.\n                </p>\n            </li>\n         </ul>\n        <p>If successful, this operation creates a new build record with a unique build ID and\n            places it in <code>INITIALIZED</code> status. You can use <a>DescribeBuild</a> to check the status of your build. A build must be in <code>READY</code> status\n            before it can be used to create fleets.</p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Uploading Your\n                Game</a>\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html</a>\n        </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-cli-uploading.html#gamelift-build-cli-uploading-create-build\"> Create a Build with Files in Amazon S3</a>\n         </p>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListBuilds</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateBuild</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteBuild</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateBuildInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a build. Build names do not need to be unique. You can use <a>UpdateBuild</a> to change this value later.\n        </p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system that the game server binaries are built to run on. This value\n            determines the type of fleet resources that you can use for this build. If your game\n            build contains multiple executables, they all must run on the same operating system. If\n            an operating system is not specified when creating a build, Amazon GameLift uses the\n            default value (WINDOWS_2012). This value cannot be changed later.</p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.gamelift#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Information indicating where your game build files are stored. Use this parameter only\n            when creating a build with files stored in an Amazon S3 bucket that you own. The storage\n            location must specify an Amazon S3 bucket name and key. The location must also specify a role\n            ARN that you set up to allow Amazon GameLift to access your Amazon S3 bucket. The S3 bucket and your\n            new build must be in the same Region.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new build resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n            <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>Version information that is associated with a build or script. Version strings do not need to be unique. You can use <a>UpdateBuild</a> to change this value later.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateBuildOutput": {
      "type": "structure",
      "members": {
        "Build": {
          "target": "com.amazonaws.gamelift#Build",
          "traits": {
            "smithy.api#documentation": "<p>The newly created build record, including a unique build IDs and status. </p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.gamelift#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 location for your game build file, including bucket name and\n            key.</p>"
          }
        },
        "UploadCredentials": {
          "target": "com.amazonaws.gamelift#AwsCredentials",
          "traits": {
            "smithy.api#documentation": "<p>This element is returned only when the operation is called without a storage\n            location. It contains credentials to use when you are uploading a build file to an Amazon S3\n            bucket that is owned by Amazon GameLift. Credentials have a limited life span. To refresh these\n            credentials, call <a>RequestUploadCredentials</a>. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateFleetInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateFleetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new fleet to run your game servers. whether they are custom game builds or\n            Realtime Servers with game-specific script. A fleet is a set of Amazon Elastic Compute Cloud\n            (Amazon EC2) instances, each of which can host multiple game sessions. When creating a\n            fleet, you choose the hardware specifications, set some configuration options, and\n            specify the game server to deploy on the new fleet. </p>\n        <p>To create a new fleet, you must provide the following: (1) a fleet name, (2) an EC2\n            instance type and fleet type (spot or on-demand), (3) the build ID for your game build\n            or script ID if using Realtime Servers, and (4) a runtime configuration, which determines how game\n            servers will run on each instance in the fleet. </p>\n        \n        <p>If the <code>CreateFleet</code> call is successful, Amazon GameLift performs the following\n            tasks. You can track the process of a fleet by checking the fleet status or by\n            monitoring fleet creation events:</p>\n        <ul>\n            <li>\n                <p>Creates a fleet record. Status: <code>NEW</code>.</p>\n            </li>\n            <li>\n                <p>Begins writing events to the fleet event log, which can be accessed in the\n                    Amazon GameLift console.</p>\n            </li>\n            <li>\n                 <p>Sets the fleet's target capacity to 1 (desired instances), which triggers\n                    Amazon GameLift to start one new EC2 instance.</p>\n            </li>\n            <li>\n                <p>Downloads the game build or Realtime script to the new instance and installs it.\n                    Statuses: <code>DOWNLOADING</code>, <code>VALIDATING</code>,\n                        <code>BUILDING</code>. </p>\n            </li>\n            <li>\n                <p>Starts launching server processes on the instance. If the fleet is configured\n                    to run multiple server processes per instance, Amazon GameLift staggers each process\n                    launch by a few seconds. Status: <code>ACTIVATING</code>.</p>\n            </li>\n            <li>\n                <p>Sets the fleet's status to <code>ACTIVE</code> as soon as one server\n                    process is ready to host a game session.</p>\n            </li>\n         </ul>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-intro.html\">\n                Setting Up Fleets</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-creating-debug.html#fleets-creating-debug-creation\"> Debug Fleet\n                Creation Issues</a>\n         </p>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateFleet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListFleets</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteFleet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeFleetAttributes</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateFleetAttributes</a>\n               </p>\n            </li>\n            <li>\n               <p>Manage fleet actions:</p>\n                        <ul>\n                  <li>\n                     <p>\n                        <a>StartFleetActions</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>StopFleetActions</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateFleetInput": {
      "type": "structure",
      "members": {
        "BuildId": {
          "target": "com.amazonaws.gamelift#BuildId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a build to be deployed on the new fleet. You can use either the build ID or ARN value.\n            The custom game server build must have been successfully uploaded to Amazon GameLift and be in a\n                <code>READY</code> status. This fleet setting cannot be changed once the fleet is\n            created. </p>"
          }
        },
        "CertificateConfiguration": {
          "target": "com.amazonaws.gamelift#CertificateConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to generate a TLS/SSL certificate for the new fleet. TLS\n            certificates are used for encrypting traffic between game clients and game servers\n            running on GameLift. If this parameter is not specified, the default value, DISABLED, is\n            used. This fleet setting cannot be changed once the fleet is created. Learn more at\n                <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-howitworks.html#gamelift-howitworks-security\">Securing Client/Server Communication</a>. </p>\n        <p>Note: This feature requires the AWS Certificate Manager (ACM) service, which is\n            available in the AWS global partition but not in all other partitions. When working in a\n            partition that does not support this feature, a request for a new fleet with certificate\n            generation results fails with a 4xx unsupported Region error.</p>\n        <p>Valid values include: </p>\n        <ul>\n            <li>\n                <p>\n                  <b>GENERATED</b> - Generate a TLS/SSL certificate\n                    for this fleet.</p>\n            </li>\n            <li>\n                <p>\n                  <b>DISABLED</b> - (default) Do not generate a\n                    TLS/SSL certificate for this fleet.</p>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of a fleet.</p>"
          }
        },
        "EC2InboundPermissions": {
          "target": "com.amazonaws.gamelift#IpPermissionsList",
          "traits": {
            "smithy.api#documentation": "<p>Range of IP addresses and port settings that permit inbound traffic to access game\n            sessions that are running on the fleet. For fleets using a custom game build, this\n            parameter is required before game sessions running on the fleet can accept connections.\n            For Realtime Servers fleets, Amazon GameLift automatically sets TCP and UDP ranges for use by the Realtime\n            servers. You can specify multiple permission settings or add more by updating the\n            fleet.</p>"
          }
        },
        "EC2InstanceType": {
          "target": "com.amazonaws.gamelift#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The name of an EC2 instance type that is supported in Amazon GameLift. A fleet instance type\n            determines the computing resources of each instance in the fleet, including CPU, memory,\n            storage, and networking capacity. Amazon GameLift supports the following EC2 instance types.\n            See <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon EC2 Instance Types</a>\n            for detailed descriptions.</p>",
            "smithy.api#required": {}
          }
        },
        "FleetType": {
          "target": "com.amazonaws.gamelift#FleetType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to use On-Demand instances or Spot instances for this fleet. If\n            empty, the default is <code>ON_DEMAND</code>. Both categories of instances use identical\n            hardware and configurations based on the instance type selected for this fleet. Learn\n            more about <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-ec2-instances.html#gamelift-ec2-instances-spot\"> On-Demand versus Spot Instances</a>. </p>"
          }
        },
        "InstanceRoleArn": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for an AWS IAM role that manages access to your AWS services. \n        With an instance role ARN set, any application that runs on an instance in this fleet can assume the role, \n        including install scripts, server processes, and daemons (background processes). Create a role or look up a role's \n        ARN from the <a href=\"https://console.aws.amazon.com/iam/\">IAM dashboard</a> in the AWS Management Console.\n        Learn more about using on-box credentials for your game servers at \n        <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-resources.html\">\n        Access external resources from a game server</a>.</p>"
          }
        },
        "LogPaths": {
          "target": "com.amazonaws.gamelift#StringList",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is no longer used. Instead, to specify where Amazon GameLift should store log\n            files once a server process shuts down, use the Amazon GameLift server API\n                <code>ProcessReady()</code> and specify one or more directory paths in\n                <code>logParameters</code>. See more information in the <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api-ref.html#gamelift-sdk-server-api-ref-dataypes-process\">Server API Reference</a>. </p>"
          }
        },
        "MetricGroups": {
          "target": "com.amazonaws.gamelift#MetricGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon CloudWatch metric group to add this fleet to. A metric group\n            aggregates the metrics for all fleets in the group. Specify an existing metric group\n            name, or provide a new name to create a new metric group. A fleet can only be included\n            in one metric group at a time. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a fleet. Fleet names do not need to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "NewGameSessionProtectionPolicy": {
          "target": "com.amazonaws.gamelift#ProtectionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A game session protection policy to apply to all instances in this fleet. If this\n            parameter is not set, instances in this fleet default to no protection. You can change a\n            fleet's protection policy using <a>UpdateFleetAttributes</a>, but this change\n            will only affect sessions created after the policy change. You can also set protection\n            for individual instances using <a>UpdateGameSession</a>.</p>\n        <ul>\n            <li>\n                <p>\n                    <b>NoProtection</b> - The game session can be\n                    terminated during a scale-down event.</p>\n            </li>\n            <li>\n                <p>\n                    <b>FullProtection</b> - If the game session is in an\n                        <code>ACTIVE</code> status, it cannot be terminated during a scale-down\n                    event.</p>\n            </li>\n         </ul>"
          }
        },
        "PeerVpcAwsAccountId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AWS account with the VPC that you want to peer your Amazon GameLift\n            fleet with. You can find your account ID in the AWS Management Console under account settings. </p>"
          }
        },
        "PeerVpcId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a VPC with resources to be accessed by your Amazon GameLift fleet. The\n            VPC must be in the same Region as your fleet. To look up a VPC ID, use the \n            <a href=\"https://console.aws.amazon.com/vpc/\">VPC Dashboard</a> in the AWS Management Console. \n            Learn more about VPC peering in <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/vpc-peering.html\">VPC Peering with Amazon GameLift Fleets</a>. </p>"
          }
        },
        "ResourceCreationLimitPolicy": {
          "target": "com.amazonaws.gamelift#ResourceCreationLimitPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that limits the number of game sessions an individual player can create over\n            a span of time for this fleet.</p>"
          }
        },
        "RuntimeConfiguration": {
          "target": "com.amazonaws.gamelift#RuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Instructions for launching server processes on each instance in the fleet. Server\n            processes run either a custom game build executable or a Realtime script. The runtime\n            configuration defines the server executables or launch script file, launch parameters,\n            and the number of processes to run concurrently on each instance. When creating a fleet,\n            the runtime configuration must have at least one server process configuration; otherwise\n            the request fails with an invalid request exception.  (This parameter replaces the\n            parameters <code>ServerLaunchPath</code> and <code>ServerLaunchParameters</code>,\n            although requests that contain values for these parameters instead of a runtime\n            configuration will continue to work.) This parameter is required unless the parameters \n            <code>ServerLaunchPath</code> and <code>ServerLaunchParameters</code> are defined. Runtime  \n            configuration replaced these parameters, but fleets that use them will continue to work. </p>"
          }
        },
        "ScriptId": {
          "target": "com.amazonaws.gamelift#ScriptId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a Realtime script to be deployed on the new fleet. You can use either the script ID or ARN value.\n            The Realtime script must have been successfully uploaded to Amazon GameLift. This fleet setting\n            cannot be changed once the fleet is created.</p>"
          }
        },
        "ServerLaunchParameters": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is no longer used. Instead, specify server launch parameters in the\n                <code>RuntimeConfiguration</code> parameter. (Requests that specify a server launch\n            path and launch parameters instead of a runtime configuration will continue to\n            work.)</p>"
          }
        },
        "ServerLaunchPath": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>This parameter is no longer used. Instead, specify a server launch path using the\n                <code>RuntimeConfiguration</code> parameter. Requests that specify a server launch\n            path and launch parameters instead of a runtime configuration will continue to\n            work.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new fleet resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n            <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateFleetOutput": {
      "type": "structure",
      "members": {
        "FleetAttributes": {
          "target": "com.amazonaws.gamelift#FleetAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Properties for the newly created fleet.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateGameSessionInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateGameSessionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#FleetCapacityExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidFleetStatusException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TerminalRoutingStrategyException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a multiplayer game session for players. This action creates a game session\n            record and assigns an available server process in the specified fleet to host the game\n            session. A fleet must have an <code>ACTIVE</code> status before a game session can be\n            created in it.</p>\n        <p>To create a game session, specify either fleet ID or alias ID and indicate a\n            maximum number of players to allow in the game session. You can also provide a name and\n            game-specific properties for this game session. If successful, a <a>GameSession</a> object is returned containing the game session properties\n            and other settings you specified.</p>\n        <p>\n            <b>Idempotency tokens.</b> You can add a token that\n            uniquely identifies game session requests. This is useful for ensuring that game session\n            requests are idempotent. Multiple requests with the same idempotency token are processed\n            only once; subsequent requests return the original result. All response values are the\n            same with the exception of game session status, which may change.</p>\n        <p>\n            <b>Resource creation limits.</b> If you are creating a\n            game session on a fleet with a resource creation limit policy in force, then you must\n            specify a creator ID. Without this ID, Amazon GameLift has no way to evaluate the policy for this\n            new game session request.</p>\n        <p>\n            <b>Player acceptance policy.</b> By default, newly created\n            game sessions are open to new players. You can restrict new player access by using <a>UpdateGameSession</a> to change the game session's player session creation\n            policy.</p>\n        <p>\n            <b>Game session logs.</b> Logs are retained for all\n            active game sessions for 14 days. To access the logs, call <a>GetGameSessionLogUrl</a> to download the log files.</p>\n        <p>\n            <i>Available in Amazon GameLift Local.</i>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateGameSession</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeGameSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeGameSessionDetails</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>SearchGameSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateGameSession</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GetGameSessionLogUrl</a>\n               </p>\n            </li>\n            <li>\n               <p>Game session placements</p>\n                        <ul>\n                  <li>\n                     <p>\n                        <a>StartGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>DescribeGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>StopGameSessionPlacement</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionInput": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.gamelift#AliasId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for an alias associated with the fleet to create a game session in. You can use either the\n            alias ID or ARN value. Each request must reference either a fleet ID or alias ID, but\n            not both.</p>"
          }
        },
        "CreatorId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a player or entity creating the game session. This ID is used to enforce a\n            resource protection policy (if one exists) that limits the number of concurrent active\n            game sessions one player can have.</p>"
          }
        },
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a fleet to create a game session in. You can use either the fleet ID or ARN value. Each\n            request must reference either a fleet ID or alias ID, but not both.</p>"
          }
        },
        "GameProperties": {
          "target": "com.amazonaws.gamelift#GamePropertyList",
          "traits": {
            "smithy.api#documentation": "<p>Set of custom properties for a game session, formatted as key:value pairs. These properties are passed to a game server process in the \n    <a>GameSession</a> object with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>).</p>"
          }
        },
        "GameSessionData": {
          "target": "com.amazonaws.gamelift#GameSessionData",
          "traits": {
            "smithy.api#documentation": "<p>Set of custom game session properties, formatted as a single string value. This data is passed to a game server process in the \n    <a>GameSession</a> object with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>).</p>"
          }
        },
        "GameSessionId": {
          "target": "com.amazonaws.gamelift#IdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>This parameter is no longer preferred. Please use\n                    <code>IdempotencyToken</code> instead.</i> Custom string that uniquely\n            identifies a request for a new game session. Maximum token length is 48 characters. If\n            provided, this string is included in the new game session's ID. (A game session ARN has the following format: \n    <code>arn:aws:gamelift:<region>::gamesession/<fleet ID>/<custom ID string or idempotency token></code>.) </p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.gamelift#IdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>Custom string that uniquely identifies a request for a new game session. Maximum\n            token length is 48 characters. If provided, this string is included in the new game\n            session's ID. (A game session ARN has the following format: \n    <code>arn:aws:gamelift:<region>::gamesession/<fleet ID>/<custom ID string or idempotency token></code>.) Idempotency tokens remain in use for 30 days after a game\n            session has ended; game session objects are retained for this time period and then\n            deleted.</p>"
          }
        },
        "MaximumPlayerSessionCount": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of players that can be connected simultaneously to the game session.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a game session. Session names do not need to be unique.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionOutput": {
      "type": "structure",
      "members": {
        "GameSession": {
          "target": "com.amazonaws.gamelift#GameSession",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly created game session record.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateGameSessionQueueInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateGameSessionQueueOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Establishes a new queue for processing requests to place new game sessions. A queue\n            identifies where new game sessions can be hosted -- by specifying a list of destinations\n            (fleets or aliases) -- and how long requests can wait in the queue before timing out.\n            You can set up a queue to try to place game sessions on fleets in multiple Regions. To\n            add placement requests to a queue, call <a>StartGameSessionPlacement</a> and\n            reference the queue name.</p>\n        <p>\n            <b>Destination order.</b> When processing a request for a\n            game session, Amazon GameLift tries each destination in order until it finds one with available\n            resources to host the new game session. A queue's default order is determined by how\n            destinations are listed. The default order is overridden when a game session placement\n            request provides player latency information. Player latency information enables Amazon GameLift\n            to prioritize destinations where players report the lowest average latency, as a result\n            placing the new game session where the majority of players will have the best possible\n            gameplay experience.</p>\n        <p>\n            <b>Player latency policies.</b> For placement requests\n            containing player latency information, use player latency policies to protect individual\n            players from very high latencies. With a latency cap, even when a destination can\n            deliver a low latency for most players, the game is not placed where any individual\n            player is reporting latency higher than a policy's maximum. A queue can have multiple\n            latency policies, which are enforced consecutively starting with the policy with the\n            lowest latency cap. Use multiple policies to gradually relax latency controls; for\n            example, you might set a policy with a low latency cap for the first 60 seconds, a\n            second policy with a higher cap for the next 60 seconds, etc. </p>\n        <p>To create a new queue, provide a name, timeout value, a list of destinations and,\n            if desired, a set of latency policies. If successful, a new queue object is\n            returned.</p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateGameSessionQueue</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeGameSessionQueues</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateGameSessionQueue</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteGameSessionQueue</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionQueueInput": {
      "type": "structure",
      "members": {
        "Destinations": {
          "target": "com.amazonaws.gamelift#GameSessionQueueDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of fleets that can be used to fulfill game session placement requests in the queue. \n    Fleets are identified by either a fleet ARN or a fleet alias ARN. Destinations are listed in default preference order.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#GameSessionQueueName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with game session queue. Queue names must be unique within each Region.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerLatencyPolicies": {
          "target": "com.amazonaws.gamelift#PlayerLatencyPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of latency policies to apply when processing game sessions placement requests with \n            player latency information. Multiple policies are evaluated in order of the maximum latency value, \n            starting with the lowest latency values. With just one policy, the policy is enforced at the start of the game session \n            placement for the duration period. With multiple policies, each policy is enforced consecutively for its duration period. \n            For example, a queue might enforce a 60-second policy followed by a 120-second policy, and then no policy for the \n            remainder of the placement. A player latency policy must set a value for\n                <code>MaximumIndividualPlayerLatencyMilliseconds</code>. If none is set, this API\n            request fails.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new game session queue resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n            <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        },
        "TimeoutInSeconds": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time, in seconds, that a new game session placement request remains in the queue. When a request exceeds this time, the game session placement changes to a <code>TIMED_OUT</code> status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionQueueOutput": {
      "type": "structure",
      "members": {
        "GameSessionQueue": {
          "target": "com.amazonaws.gamelift#GameSessionQueue",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the newly created game session queue.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateMatchmakingConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateMatchmakingConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines a new matchmaking configuration for use with FlexMatch. A matchmaking\n            configuration sets out guidelines for matching players and getting the matches into\n            games. You can set up multiple matchmaking configurations to handle the scenarios needed\n            for your game. Each matchmaking ticket (<a>StartMatchmaking</a> or <a>StartMatchBackfill</a>) specifies a configuration for the match and provides\n            player attributes to support the configuration being used. </p>\n        <p>To create a matchmaking configuration, at a minimum you must specify the following:\n            configuration name; a rule set that governs how to evaluate players and find acceptable\n            matches; a game session queue to use when placing a new game session for the match; and\n            the maximum time allowed for a matchmaking attempt.</p>\n        <p>There are two ways to track the progress of matchmaking tickets: (1) polling ticket\n            status with <a>DescribeMatchmaking</a>; or (2) receiving notifications with\n            Amazon Simple Notification Service (SNS). To use notifications, you first need to set up an SNS topic to receive the\n            notifications, and provide the topic ARN in the matchmaking configuration. Since\n            notifications promise only \"best effort\" delivery, we recommend calling\n                <code>DescribeMatchmaking</code> if no notifications are received within 30\n            seconds.</p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-configuration.html\">\n                Design a FlexMatch Matchmaker</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-notification.html\"> Setting up\n                Notifications for Matchmaking</a>\n         </p>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeMatchmakingConfigurations</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateMatchmakingRuleSet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeMatchmakingRuleSets</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ValidateMatchmakingRuleSet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteMatchmakingRuleSet</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingConfigurationInput": {
      "type": "structure",
      "members": {
        "AcceptanceRequired": {
          "target": "com.amazonaws.gamelift#BooleanModel",
          "traits": {
            "smithy.api#documentation": "<p>A flag that determines whether a match that was created with this configuration must\n            be accepted by the matched players. To require acceptance, set to\n            <code>TRUE</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptanceTimeoutSeconds": {
          "target": "com.amazonaws.gamelift#MatchmakingAcceptanceTimeoutInteger",
          "traits": {
            "smithy.api#documentation": "<p>The length of time (in seconds) to wait for players to accept a proposed match. If any\n            player rejects the match or fails to accept before the timeout, the ticket continues to\n            look for an acceptable match.</p>"
          }
        },
        "AdditionalPlayerCount": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The number of player slots in a match to keep open for future players. For example, \n            assume that the configuration's rule set specifies a match for a single 12-person team. If\n            the additional player count is set to 2, only 10 players are initially selected for the match.</p>"
          }
        },
        "BackfillMode": {
          "target": "com.amazonaws.gamelift#BackfillMode",
          "traits": {
            "smithy.api#documentation": "<p>The method used to backfill game sessions that are created with this matchmaking\n            configuration. Specify <code>MANUAL</code> when your game manages backfill requests\n            manually or does not use the match backfill feature. Specify <code>AUTOMATIC</code> to\n            have GameLift create a <a>StartMatchBackfill</a> request whenever a game\n            session has one or more open slots. Learn more about manual and automatic backfill in\n                <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-backfill.html\"> Backfill Existing Games with FlexMatch</a>. </p>"
          }
        },
        "CustomEventData": {
          "target": "com.amazonaws.gamelift#CustomEventData",
          "traits": {
            "smithy.api#documentation": "<p>Information to be added to all events related to this matchmaking configuration.\n        </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the matchmaking configuration. </p>"
          }
        },
        "GameProperties": {
          "target": "com.amazonaws.gamelift#GamePropertyList",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom properties for a game session, formatted as key-value pairs. These properties are passed to a game server process in the \n    <a>GameSession</a> object with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>). This information is added to the new <a>GameSession</a> object that is created for a successful match. </p>"
          }
        },
        "GameSessionData": {
          "target": "com.amazonaws.gamelift#GameSessionData",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom game session properties, formatted as a single string value. This data is passed to a game server process in the \n    <a>GameSession</a> object with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>). This information is added to the new <a>GameSession</a>\n            object that is created for a successful match.</p>"
          }
        },
        "GameSessionQueueArns": {
          "target": "com.amazonaws.gamelift#QueueArnsList",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a>) that is assigned to a GameLift game session queue resource and uniquely identifies it. ARNs are unique across all Regions. These queues are used when placing game sessions for matches that are created\n            with this matchmaking configuration. Queues can be located in any Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#MatchmakingIdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking configuration. This name is used to identify the configuration associated with a\n            matchmaking request or ticket.</p>",
            "smithy.api#required": {}
          }
        },
        "NotificationTarget": {
          "target": "com.amazonaws.gamelift#SnsArnStringModel",
          "traits": {
            "smithy.api#documentation": "<p>An SNS topic ARN that is set up to receive matchmaking notifications.</p>"
          }
        },
        "RequestTimeoutSeconds": {
          "target": "com.amazonaws.gamelift#MatchmakingRequestTimeoutInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration, in seconds, that a matchmaking ticket can remain in process\n            before timing out. Requests that fail due to timing out can be resubmitted as\n            needed.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleSetName": {
          "target": "com.amazonaws.gamelift#MatchmakingRuleSetName",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking rule set to use with this configuration. You can use either the rule set name or ARN\n            value. A matchmaking configuration can only use rule sets that are defined in the same\n            Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new matchmaking configuration resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n            <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingConfigurationOutput": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.gamelift#MatchmakingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly created matchmaking configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingRuleSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateMatchmakingRuleSetInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateMatchmakingRuleSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new rule set for FlexMatch matchmaking. A rule set describes the type of match\n            to create, such as the number and size of teams. It also sets the parameters for\n            acceptable player matches, such as minimum skill level or character type. A rule set is\n            used by a <a>MatchmakingConfiguration</a>. </p>\n        <p>To create a matchmaking rule set, provide unique rule set name and the rule set body\n            in JSON format. Rule sets must be defined in the same Region as the matchmaking\n            configuration they are used with.</p>\n        <p>Since matchmaking rule sets cannot be edited, it is a good idea to check the rule\n            set syntax using <a>ValidateMatchmakingRuleSet</a> before creating a new rule\n            set.</p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-rulesets.html\">Build a Rule\n                        Set</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-configuration.html\">Design a\n                        Matchmaker</a>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/match-intro.html\">Matchmaking with\n                        FlexMatch</a>\n               </p>\n            </li>\n         </ul>\n        <p>\n            <b>Related operations</b>\n         </p>\n        <ul>\n            <li>\n               <p>\n                  <a>CreateMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeMatchmakingConfigurations</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteMatchmakingConfiguration</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreateMatchmakingRuleSet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeMatchmakingRuleSets</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ValidateMatchmakingRuleSet</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteMatchmakingRuleSet</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingRuleSetInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#MatchmakingIdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking rule set. A matchmaking configuration identifies the rule set it uses by this name\n            value. Note that the rule set name is different from the optional <code>name</code>\n            field in the rule set body.</p>",
            "smithy.api#required": {}
          }
        },
        "RuleSetBody": {
          "target": "com.amazonaws.gamelift#RuleSetBody",
          "traits": {
            "smithy.api#documentation": "<p>A collection of matchmaking rules, formatted as a JSON string. Comments are not\n            allowed in JSON, but most elements support a description field.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new matchmaking rule set resource. Tags are developer-defined \n            key-value pairs. Tagging\n            AWS resources are useful for resource management, access management and cost allocation.\n            For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging AWS Resources</a> in the\n            <i>AWS General Reference</i>. Once the resource is created, you can\n            use <a>TagResource</a>, <a>UntagResource</a>, and \n            <a>ListTagsForResource</a> to add, remove, and view tags. The\n            maximum tag limit may be lower than stated. See the AWS General Reference for actual \n            tagging limits.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateMatchmakingRuleSetOutput": {
      "type": "structure",
      "members": {
        "RuleSet": {
          "target": "com.amazonaws.gamelift#MatchmakingRuleSet",
          "traits": {
            "smithy.api#documentation": "<p>The newly created matchmaking rule set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreatePlayerSessionInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreatePlayerSessionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#GameSessionFullException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidGameSessionStatusException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TerminalRoutingStrategyException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Reserves an open player slot in an active game session. Before a\n        player can be added, a game session must have an <code>ACTIVE</code> status, have a\n        creation policy of <code>ALLOW_ALL</code>, and have an open player slot. To add a group\n        of players to a game session, use <a>CreatePlayerSessions</a>. When the player\n        connects to the game server and references a player session ID, the game server contacts the \n        Amazon GameLift service to validate the player reservation and accept the player.</p>\n         <p>To create a player session, specify a game session ID, player ID, and optionally a\n        string of player data. If successful, a slot is reserved in the game session for the player \n        and a new <a>PlayerSession</a> object is returned. Player sessions cannot be\n        updated. </p>\n         <p>\n            <i>Available in Amazon GameLift Local.</i>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreatePlayerSession</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreatePlayerSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribePlayerSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>Game session placements</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a>StartGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>DescribeGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>StopGameSessionPlacement</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSessionInput": {
      "type": "structure",
      "members": {
        "GameSessionId": {
          "target": "com.amazonaws.gamelift#ArnStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the game session to add a player to.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerData": {
          "target": "com.amazonaws.gamelift#PlayerData",
          "traits": {
            "smithy.api#documentation": "<p>Developer-defined information related to a player. Amazon GameLift does not use this data, so it can be formatted as needed for use in the game.</p>"
          }
        },
        "PlayerId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a player. Player IDs are developer-defined.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSessionOutput": {
      "type": "structure",
      "members": {
        "PlayerSession": {
          "target": "com.amazonaws.gamelift#PlayerSession",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly created player session record.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSessions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreatePlayerSessionsInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreatePlayerSessionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#GameSessionFullException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidGameSessionStatusException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TerminalRoutingStrategyException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Reserves open slots in a game session for a group of players. \n        Before players can be added, a game session must have an\n        <code>ACTIVE</code> status, have a creation policy of <code>ALLOW_ALL</code>, and\n        have an open player slot. To add a single player to a game session, use <a>CreatePlayerSession</a>. When a player connects to the game server and \n        references a player session ID, the game server contacts the \n        Amazon GameLift service to validate the player reservation and accept the player.</p>\n         <p>To create player sessions, specify a game session ID, a list of player IDs, and\n        optionally a set of player data strings. If successful, a slot is reserved in the game \n        session for each player  and a set of new <a>PlayerSession</a> objects is returned.\n        Player sessions cannot be updated.</p>\n         <p>\n            <i>Available in Amazon GameLift Local.</i>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreatePlayerSession</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>CreatePlayerSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribePlayerSessions</a>\n               </p>\n            </li>\n            <li>\n               <p>Game session placements</p>\n               <ul>\n                  <li>\n                     <p>\n                        <a>StartGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>DescribeGameSessionPlacement</a>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <a>StopGameSessionPlacement</a>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSessionsInput": {
      "type": "structure",
      "members": {
        "GameSessionId": {
          "target": "com.amazonaws.gamelift#ArnStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the game session to add players to.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerDataMap": {
          "target": "com.amazonaws.gamelift#PlayerDataMap",
          "traits": {
            "smithy.api#documentation": "<p>Map of string pairs, each specifying a player ID and a set of developer-defined\n        information related to the player. Amazon GameLift does not use this data, so it can be formatted\n        as needed for use in the game. Player data strings for player IDs not included in the\n        <code>PlayerIds</code> parameter are ignored. </p>"
          }
        },
        "PlayerIds": {
          "target": "com.amazonaws.gamelift#PlayerIdList",
          "traits": {
            "smithy.api#documentation": "<p>List of unique identifiers for the players to be added.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreatePlayerSessionsOutput": {
      "type": "structure",
      "members": {
        "PlayerSessions": {
          "target": "com.amazonaws.gamelift#PlayerSessionList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of player session objects created for the added players.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the returned data in response to a request action.</p>"
      }
    },
    "com.amazonaws.gamelift#CreateScript": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateScriptInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateScriptOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
[...]
