{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.gamelift#AcceptMatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#AcceptMatchInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#AcceptMatchOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers a player's acceptance or rejection of a proposed FlexMatch match. A\n            matchmaking configuration may require player acceptance; if so, then matches built with\n            that configuration cannot be completed unless all players accept the proposed match\n            within a specified time limit. </p>\n         <p>When FlexMatch builds a match, all the matchmaking tickets involved in the proposed\n            match are placed into status <code>REQUIRES_ACCEPTANCE</code>. This is a trigger for\n            your game to get acceptance from all players in each ticket. Calls to this action are only valid\n            for tickets that are in this status; calls for tickets not in this status result in an\n            error.</p>\n         <p>To register acceptance, specify the ticket ID, one or more players, and an acceptance response.\n            When all players have accepted, Amazon GameLift Servers advances the matchmaking tickets to status\n                <code>PLACING</code>, and attempts to create a new game session for the match. </p>\n         <p>If any player rejects the match, or if acceptances are not received before a specified\n            timeout, the proposed match is dropped. Each matchmaking ticket in the failed match is handled as follows: </p>\n         <ul>\n            <li>\n               <p>If the ticket has one or more players who rejected the match or failed to\n                respond, the ticket status is set <code>CANCELLED</code> and processing is\n                terminated.</p>\n            </li>\n            <li>\n               <p>If all players in the ticket accepted the match, the ticket\n                status is returned to <code>SEARCHING</code> to find a new match. </p>\n            </li>\n         </ul>\n         <p>\n            <b>Learn more</b>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/flexmatchguide/match-client.html\">\n                Add FlexMatch to a game client</a>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/flexmatchguide/match-events.html\">\n                FlexMatch events</a> (reference)</p>"
      }
    },
    "com.amazonaws.gamelift#AcceptMatchInput": {
      "type": "structure",
      "members": {
        "TicketId": {
          "target": "com.amazonaws.gamelift#MatchmakingIdStringModel",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking ticket. The ticket must be in status <code>REQUIRES_ACCEPTANCE</code>; otherwise this\n            request will fail.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerIds": {
          "target": "com.amazonaws.gamelift#PlayerIdsForAcceptMatch",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A unique identifier for a player delivering the response. This parameter can include one or multiple player\n            IDs.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptanceType": {
          "target": "com.amazonaws.gamelift#AcceptanceType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Player response to the proposed match.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.gamelift#AcceptMatchOutput": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.gamelift#AcceptanceType": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPT"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECT"
          }
        }
      }
    },
    "com.amazonaws.gamelift#Alias": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.gamelift#AliasId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the alias. Alias IDs are unique within a Region.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>"
          }
        },
        "AliasArn": {
          "target": "com.amazonaws.gamelift#AliasArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to a Amazon GameLift Servers alias resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::alias/alias-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. In a GameLift alias ARN, the resource ID matches the alias ID value.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of an alias.</p>"
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias.\n        </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this data object was last modified. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties that describe an alias resource.</p>\n         <p>\n            <b>Related actions</b>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#AliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:.*:alias\\/alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasIdOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^alias-\\S+|^arn:.*:alias\\/alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Alias"
      }
    },
    "com.amazonaws.gamelift#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.gamelift#AnywhereConfiguration": {
      "type": "structure",
      "members": {
        "Cost": {
          "target": "com.amazonaws.gamelift#NonNegativeLimitedLengthDouble",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The cost to run your fleet per hour. Amazon GameLift Servers uses the provided cost of your fleet to\n            balance usage in queues. For more information about queues, see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/queues-intro.html\">Setting\n                up queues</a> in the <i>Amazon GameLift Servers Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon GameLift Servers configuration options for your Anywhere fleets.</p>"
      }
    },
    "com.amazonaws.gamelift#ArnStringModel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:/-]+$"
      }
    },
    "com.amazonaws.gamelift#AttributeValue": {
      "type": "structure",
      "members": {
        "S": {
          "target": "com.amazonaws.gamelift#PlayerAttributeString",
          "traits": {
            "smithy.api#documentation": "<p>For single string values. Maximum string length is 100 characters.</p>"
          }
        },
        "N": {
          "target": "com.amazonaws.gamelift#DoubleObject",
          "traits": {
            "smithy.api#documentation": "<p>For number values, expressed as double.</p>"
          }
        },
        "SL": {
          "target": "com.amazonaws.gamelift#PlayerAttributeStringList",
          "traits": {
            "smithy.api#documentation": "<p>For a list of up to 100 strings. Maximum length for each string is 100 characters.\n            Duplicate values are not recognized; all occurrences of the repeated value after the\n            first of a repeated value are ignored.</p>"
          }
        },
        "SDM": {
          "target": "com.amazonaws.gamelift#PlayerAttributeStringDoubleMap",
          "traits": {
            "smithy.api#documentation": "<p>For a map of up to 10 data type:value pairs. Maximum length for each string value is\n            100 characters. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Values for use in player attribute key-value pairs. This object lets\n            you specify an attribute value using any of the valid data types: string, number, string\n            array, or data map. Each <code>AttributeValue</code> object can use only one of the\n            available properties.</p>"
      }
    },
    "com.amazonaws.gamelift#AutoScalingGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*$"
      }
    },
    "com.amazonaws.gamelift#AwsCredentials": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The access key ID that identifies the temporary security credentials. </p>"
          }
        },
        "SecretAccessKey": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The secret access key that can be used to sign requests.</p>"
          }
        },
        "SessionToken": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The token that users must pass to the service API to use the temporary credentials. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Web Services account security credentials that allow interactions with Amazon GameLift Servers resources. The\n            credentials are temporary and valid for a limited time span. You can request fresh\n            credentials at any time. </p>\n         <p> Amazon Web Services security credentials consist of three parts: an access key ID, a secret access\n            key, and a session token. You must use all three parts together to authenticate your\n            access requests.</p>\n         <p>You need Amazon Web Services credentials for the following tasks: </p>\n         <ul>\n            <li>\n               <p>To upload a game server build directly to Amazon GameLift Servers S3 storage using <code>CreateBuild</code>. To get access for this\n            task, call <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_RequestUploadCredentials.html\">https://docs.aws.amazon.com/gamelift/latest/apireference/API_RequestUploadCredentials.html</a>.</p>\n            </li>\n            <li>\n               <p>To remotely connect to an active Amazon GameLift Servers fleet instances. \n                To get remote access, call <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GetComputeAccess.html\">https://docs.aws.amazon.com/gamelift/latest/apireference/API_GetComputeAccess.html</a>.</p>\n            </li>\n         </ul>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.gamelift#BackfillMode": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.amazonaws.gamelift#BalancingStrategy": {
      "type": "enum",
      "members": {
        "SPOT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_ONLY"
          }
        },
        "SPOT_PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_PREFERRED"
          }
        },
        "ON_DEMAND_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND_ONLY"
          }
        }
      }
    },
    "com.amazonaws.gamelift#BooleanModel": {
      "type": "boolean"
    },
    "com.amazonaws.gamelift#Build": {
      "type": "structure",
      "members": {
        "BuildId": {
          "target": "com.amazonaws.gamelift#BuildId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the build.</p>"
          }
        },
        "BuildArn": {
          "target": "com.amazonaws.gamelift#BuildArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to a Amazon GameLift Servers build resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::build/build-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. In a GameLift build ARN, the resource ID matches the\n                <i>BuildId</i> value.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a build. Build names do not need to be unique. It can be set using <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_CreateBuild.html\">CreateBuild</a> or\n                <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/UpdateBuild\">UpdateBuild</a>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>Version information that is associated with a build or script. Version strings do not need to be unique.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#BuildStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the build.</p>\n         <p>Possible build statuses include the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>INITIALIZED</b> -- A new build has been defined,\n                    but no files have been uploaded. You cannot create fleets for builds that are in\n                    this status. When a build is successfully created, the build status is set to\n                    this value. </p>\n            </li>\n            <li>\n               <p>\n                  <b>READY</b> -- The game build has been successfully\n                    uploaded. You can now create new fleets for this build.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED</b> -- The game build upload failed. You\n                    cannot create new fleets for this build. </p>\n            </li>\n         </ul>"
          }
        },
        "SizeOnDisk": {
          "target": "com.amazonaws.gamelift#PositiveLong",
          "traits": {
            "smithy.api#documentation": "<p>File size of the uploaded game build, expressed in bytes. When the build status is\n                <code>INITIALIZED</code> or when using a custom Amazon S3 storage location, this value is\n            0.</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>Operating system that the game server binaries are built to run on. This value\n            determines the type of fleet resources that you can use for this build.</p>\n         <note>\n            <p>Amazon Linux 2 (AL2) will reach end of support on 6/30/2025. See more details in \n            the <a href=\"http://aws.amazon.com/amazon-linux-2/faqs/\">Amazon Linux 2 FAQs</a>. \n            For game servers\n            that are hosted on AL2 and use server SDK version 4.x for Amazon GameLift Servers, first update the\n            game server build to server SDK 5.x, and then deploy to AL2023 instances. See\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk5-migration.html\">\n                Migrate to server SDK version 5.</a>\n            </p>\n         </note>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "ServerSdkVersion": {
          "target": "com.amazonaws.gamelift#ServerSdkVersion",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon GameLift Servers Server SDK version used to develop your game server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties describing a custom game build.</p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#BuildArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:.*:build\\/build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildIdOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^build-\\S+|^arn:.*:build\\/build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Build"
      }
    },
    "com.amazonaws.gamelift#BuildStatus": {
      "type": "enum",
      "members": {
        "INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CertificateConfiguration": {
      "type": "structure",
      "members": {
        "CertificateType": {
          "target": "com.amazonaws.gamelift#CertificateType",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Indicates whether a TLS/SSL certificate is generated for a fleet. </p>\n         <p>Valid values include: </p>\n         <ul>\n            <li>\n               <p>\n                  <b>GENERATED</b> - Generate a TLS/SSL certificate\n                    for this fleet.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DISABLED</b> - (default) Do not generate a\n                    TLS/SSL certificate for this fleet. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determines whether a TLS/SSL certificate is generated for a fleet. This feature must\n            be enabled when creating the fleet. All instances in a fleet share the same certificate.\n            The certificate can be retrieved by calling the <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk.html\">Amazon GameLift Servers Server\n                SDK</a> operation <code>GetInstanceCertificate</code>. </p>"
      }
    },
    "com.amazonaws.gamelift#CertificateType": {
      "type": "enum",
      "members": {
        "Disabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "Generated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ClaimFilterOption": {
      "type": "structure",
      "members": {
        "InstanceStatuses": {
          "target": "com.amazonaws.gamelift#FilterInstanceStatuses",
          "traits": {
            "smithy.api#documentation": "<p>List of instance statuses that game servers may be claimed on. If provided, the list must contain the\n            <code>ACTIVE</code> status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>This data type is used with the Amazon GameLift Servers FleetIQ and game server groups.</b>\n         </p>\n         <p>\n        Filters which game servers may be claimed when calling <code>ClaimGameServer</code>.\n    </p>"
      }
    },
    "com.amazonaws.gamelift#ClaimGameServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#ClaimGameServerInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#ClaimGameServerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#OutOfCapacityException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>This operation is used with the Amazon GameLift Servers FleetIQ solution and game server groups.</b>\n         </p>\n         <p>Locates an available game server and\n            temporarily reserves it to host gameplay and players. This operation is called from a\n            game client or client service (such as a matchmaker) to request hosting resources for a\n            new game session. In response, Amazon GameLift Servers FleetIQ locates an available game server, places it in\n                <code>CLAIMED</code> status for 60 seconds, and returns connection information that\n            players can use to connect to the game server. </p>\n         <p>To claim a game server, identify a game server group. You can also specify a game\n            server ID, although this approach bypasses Amazon GameLift Servers FleetIQ placement optimization. Optionally,\n            include game data to pass to the game server at the start of a game session, such as a\n            game map or player information. Add filter options to further restrict how a\n            game server is chosen, such as only allowing game servers on <code>ACTIVE</code> instances\n                to be claimed.</p>\n         <p>When a game server is successfully claimed, connection information is returned. A\n            claimed game server's utilization status remains <code>AVAILABLE</code> while the claim\n            status is set to <code>CLAIMED</code> for up to 60 seconds. This time period gives the\n            game server time to update its status to <code>UTILIZED</code> after players join. If\n            the game server's status is not updated within 60 seconds, the game server reverts to\n            unclaimed status and is available to be claimed by another request. The claim time\n            period is a fixed value and is not configurable.</p>\n         <p>If you try to claim a specific game server, this request will fail in the following\n            cases:</p>\n         <ul>\n            <li>\n               <p>If the game server utilization status is <code>UTILIZED</code>.</p>\n            </li>\n            <li>\n               <p>If the game server claim status is <code>CLAIMED</code>.</p>\n            </li>\n            <li>\n               <p>If the game server is running on an instance in <code>DRAINING</code> status and\n                the provided filter option does not allow placing on <code>DRAINING</code> instances.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Learn more</b>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/fleetiqguide/gsg-intro.html\">Amazon GameLift Servers FleetIQ\n                Guide</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ClaimGameServerInput": {
      "type": "structure",
      "members": {
        "GameServerGroupName": {
          "target": "com.amazonaws.gamelift#GameServerGroupNameOrArn",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A unique identifier for the game server group where the game server is running. If you are not specifying a game server to claim, this value identifies\n            where you want Amazon GameLift Servers FleetIQ to look for an available game server to claim. </p>",
            "smithy.api#required": {}
          }
        },
        "GameServerId": {
          "target": "com.amazonaws.gamelift#GameServerId",
          "traits": {
            "smithy.api#documentation": "<p>A custom string that uniquely identifies the game server to claim. If this parameter is left empty, Amazon GameLift Servers FleetIQ searches for an available\n            game server in the specified game server group.</p>"
          }
        },
        "GameServerData": {
          "target": "com.amazonaws.gamelift#GameServerData",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom game server properties, formatted as a single string value. This data \n            is passed to a game client or service when it requests information on game servers. </p>"
          }
        },
        "FilterOption": {
          "target": "com.amazonaws.gamelift#ClaimFilterOption",
          "traits": {
            "smithy.api#documentation": "<p>Object that restricts how a claimed game server is chosen.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.gamelift#ClaimGameServerOutput": {
      "type": "structure",
      "members": {
        "GameServer": {
          "target": "com.amazonaws.gamelift#GameServer",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly claimed game server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.gamelift#ComparisonOperatorType": {
      "type": "enum",
      "members": {
        "GreaterThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqualToThreshold"
          }
        },
        "GreaterThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanThreshold"
          }
        },
        "LessThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanThreshold"
          }
        },
        "LessThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqualToThreshold"
          }
        }
      }
    },
    "com.amazonaws.gamelift#Compute": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the fleet that the compute belongs to.</p>"
          }
        },
        "FleetArn": {
          "target": "com.amazonaws.gamelift#FleetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet that the compute belongs to.</p>"
          }
        },
        "ComputeName": {
          "target": "com.amazonaws.gamelift#ComputeName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label for the compute resource. For instances in a managed EC2 fleet, the compute name is the same value as the <code>InstanceId</code>\n            ID.</p>"
          }
        },
        "ComputeArn": {
          "target": "com.amazonaws.gamelift#ComputeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that is assigned to a compute resource and uniquely identifies it. ARNs are\n            unique across locations. Instances in managed EC2 fleets are not assigned a Compute\n            ARN.</p>"
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.gamelift#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of a compute resource. Amazon GameLift Servers requires a DNS name or IP address for a\n            compute.</p>"
          }
        },
        "DnsName": {
          "target": "com.amazonaws.gamelift#DnsName",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of a compute resource. Amazon GameLift Servers requires a DNS name or IP address for a\n            compute.</p>"
          }
        },
        "ComputeStatus": {
          "target": "com.amazonaws.gamelift#ComputeStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the compute. A compute must have an <code>ACTIVE</code> status to\n            host game sessions.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.gamelift#LocationStringModel",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom location you added to the fleet that this compute resource\n            resides in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The type of operating system on the compute resource.</p>\n         <note>\n            <p>Amazon Linux 2 (AL2) will reach end of support on 6/30/2025. See more details in \n            the <a href=\"http://aws.amazon.com/aws.amazon.com/amazon-linux-2/faqs/\">Amazon Linux 2 FAQs</a>. \n            For game servers\n            that are hosted on AL2 and use server SDK version 4.x for Amazon GameLift Servers, first update the\n            game server build to server SDK 5.x, and then deploy to AL2023 instances. See\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk5-migration.html\">\n                Migrate to server SDK version 5.</a>\n            </p>\n         </note>"
          }
        },
        "Type": {
          "target": "com.amazonaws.gamelift#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance type that the fleet uses. For registered computes in an Amazon GameLift Servers Anywhere fleet, this property is empty. </p>"
          }
        },
        "GameLiftServiceSdkEndpoint": {
          "target": "com.amazonaws.gamelift#GameLiftServiceSdkEndpointOutput",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon GameLift Servers SDK endpoint connection for a registered compute resource in an Anywhere\n            fleet. The game servers on the compute use this endpoint to connect to the Amazon GameLift Servers\n            service.</p>"
          }
        },
        "GameLiftAgentEndpoint": {
          "target": "com.amazonaws.gamelift#GameLiftAgentEndpointOutput",
          "traits": {
            "smithy.api#documentation": "<p> The endpoint of the Amazon GameLift Servers Agent. </p>"
          }
        },
        "InstanceId": {
          "target": "com.amazonaws.gamelift#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>\n        The <code>InstanceID</code> of the EC2 instance that is hosting the compute.\n      </p>"
          }
        },
        "ContainerAttributes": {
          "target": "com.amazonaws.gamelift#ContainerAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A set of attributes for each container in the compute. </p>"
          }
        },
        "GameServerContainerGroupDefinitionArn": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The game server container group definition for the compute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon GameLift Servers compute resource for hosting your game servers. Computes in an Amazon GameLift Servers\n            fleet differs depending on the fleet's compute type property as follows: </p>\n         <ul>\n            <li>\n               <p>For managed EC2 fleets, a compute is an EC2 instance.</p>\n            </li>\n            <li>\n               <p>For Anywhere fleets, a compute is a computing resource that you provide and is\n                    registered to the fleet.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.gamelift#ComputeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:.*:compute\\/[a-zA-Z0-9\\-]+(\\/[a-zA-Z0-9\\-]+)?$"
      }
    },
    "com.amazonaws.gamelift#ComputeAuthToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ComputeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Compute"
      }
    },
    "com.amazonaws.gamelift#ComputeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+(\\/[a-zA-Z0-9\\-]+)?$"
      }
    },
    "com.amazonaws.gamelift#ComputeNameOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+(\\/[a-zA-Z0-9\\-]+)?$|^arn:.*:compute\\/[a-zA-Z0-9\\-]+(\\/[a-zA-Z0-9\\-]+)?$"
      }
    },
    "com.amazonaws.gamelift#ComputeStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        },
        "IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPAIRED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ComputeType": {
      "type": "enum",
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "ANYWHERE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANYWHERE"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamelift#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service\n            resource associated with the request. Resolve the conflict before retrying this\n            request.</p>\n         <p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gamelift#ConnectionPortRange": {
      "type": "structure",
      "members": {
        "FromPort": {
          "target": "com.amazonaws.gamelift#PortNumber",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Starting value for the port range.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPort": {
          "target": "com.amazonaws.gamelift#PortNumber",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Ending value for the port. Port numbers are end-inclusive. This value must be equal to\n            or greater than <code>FromPort</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The set of port numbers to open on each instance in a container fleet. Connection\n            ports are used by inbound traffic to connect with processes that are running in\n            containers on the fleet.</p>"
      }
    },
    "com.amazonaws.gamelift#ContainerAttribute": {
      "type": "structure",
      "members": {
        "ContainerName": {
          "target": "com.amazonaws.gamelift#NonZeroAnd128MaxAsciiString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a container that's running in a compute. </p>"
          }
        },
        "ContainerRuntimeId": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The runtime ID for the container that's running in a compute. This value is unique within\n      the compute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A unique identifier for a container in a container fleet compute. </p>\n         <p>\n            <b>Returned by:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DescribeCompute.html\">DescribeCompute</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerCommandStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#NonZeroAnd255MaxString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.gamelift#ContainerDependency": {
      "type": "structure",
      "members": {
        "ContainerName": {
          "target": "com.amazonaws.gamelift#NonZeroAnd128MaxAsciiString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A descriptive label for the container definition that this container depends on.</p>",
            "smithy.api#required": {}
          }
        },
        "Condition": {
          "target": "com.amazonaws.gamelift#ContainerDependencyCondition",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The condition that the dependency container must reach before the dependent container can\n      start. Valid conditions include: </p>\n         <ul>\n            <li>\n               <p>START - The dependency container must have started. </p>\n            </li>\n            <li>\n               <p>COMPLETE - The dependency container has run to completion (exits). Use this condition with\n          nonessential containers, such as those that run a script and then exit. The dependency\n          container can't be an essential container. </p>\n            </li>\n            <li>\n               <p>SUCCESS - The dependency container has run to completion and exited with a zero status. The\n          dependency container can't be an essential container. </p>\n            </li>\n            <li>\n               <p>HEALTHY - The dependency container has passed its Docker health check. Use this condition with\n          dependency containers that have health checks configured. This condition is confirmed at\n          container group startup only.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container's dependency on another container in the same container group. The dependency\n      impacts how the dependent container is able to start or shut down based the status of the\n      other container.</p>\n         <p>For example, <i>ContainerA</i> is configured with the following dependency: a\n        <code>START</code> dependency on <i>ContainerB</i>. This means that\n        <i>ContainerA</i> can't start until <i>ContainerB</i> has\n      started. It also means that <i>ContainerA</i> must shut down before\n        <i>ContainerB</i>.</p>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinition.html\">GameServerContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinitionInput.html\">GameServerContainerDefinitionInput</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinition.html\">SupportContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html\">SupportContainerDefinitionInput</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerDependencyCondition": {
      "type": "enum",
      "members": {
        "START": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START"
          }
        },
        "COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE"
          }
        },
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerDependencyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerDependency"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerEnvironment": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAnd255MaxString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The environment variable name.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.gamelift#NonZeroAnd255MaxString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The environment variable value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An environment variable to set inside a container, in the form of a key-value pair.\n    </p>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinition.html\">GameServerContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinitionInput.html\">GameServerContainerDefinitionInput</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinition.html\">SupportContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html\">SupportContainerDefinitionInput</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerEnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerEnvironment"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleet": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the container fleet to retrieve. </p>"
          }
        },
        "FleetArn": {
          "target": "com.amazonaws.gamelift#FleetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to a Amazon GameLift Servers fleet resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::fleet/fleet-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. In a GameLift fleet ARN, the resource ID matches the <code>FleetId</code>\n            value.</p>"
          }
        },
        "FleetRoleArn": {
          "target": "com.amazonaws.gamelift#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for an Identity and Access Management (IAM) role with permissions to run your\n            containers on resources that are managed by Amazon GameLift Servers. See <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/setting-up-role.html\">Set up an IAM service\n                role</a>. This fleet property can't be changed.</p>"
          }
        },
        "GameServerContainerGroupDefinitionName": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet's game server container group definition, which describes how to\n            deploy containers with your game server build and support software onto each fleet\n            instance. </p>"
          }
        },
        "GameServerContainerGroupDefinitionArn": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to the fleet's game server container group. The ARN value\n            also identifies the specific container group definition version in use.</p>"
          }
        },
        "PerInstanceContainerGroupDefinitionName": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the fleet's per-instance container group definition. </p>"
          }
        },
        "PerInstanceContainerGroupDefinitionArn": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to the fleet's per-instance container group. The ARN value\n            also identifies the specific container group definition version in use.</p>"
          }
        },
        "InstanceConnectionPortRange": {
          "target": "com.amazonaws.gamelift#ConnectionPortRange"
        },
        "InstanceInboundPermissions": {
          "target": "com.amazonaws.gamelift#IpPermissionsList",
          "traits": {
            "smithy.api#documentation": "<p>The IP address ranges and port settings that allow inbound traffic to access game\n            server processes and other processes on this fleet. </p>"
          }
        },
        "GameServerContainerGroupsPerInstance": {
          "target": "com.amazonaws.gamelift#GameServerContainerGroupsPerInstance",
          "traits": {
            "smithy.api#documentation": "<p>The number of times to replicate the game server container group on each fleet\n            instance. </p>"
          }
        },
        "MaximumGameServerContainerGroupsPerInstance": {
          "target": "com.amazonaws.gamelift#MaximumGameServerContainerGroupsPerInstance",
          "traits": {
            "smithy.api#documentation": "<p>The calculated maximum number of game server container group that can be deployed on\n            each fleet instance. The calculation depends on the resource needs of the container\n            group and the CPU and memory resources of the fleet's instance type.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance type to use for all instances in the fleet. Instance type\n            determines the computing resources and processing power that's available to host your\n            game servers. This includes including CPU, memory, storage, and networking capacity. You\n            can't update this fleet property.</p>"
          }
        },
        "BillingType": {
          "target": "com.amazonaws.gamelift#ContainerFleetBillingType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the fleet uses On-Demand or Spot instances for this fleet. Learn\n            more about when to use <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-ec2-instances.html#gamelift-ec2-instances-spot\"> On-Demand versus Spot Instances</a>. You can't update this fleet\n            property.</p>\n         <p>By default, this property is set to <code>ON_DEMAND</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A meaningful description of the container fleet.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "MetricGroups": {
          "target": "com.amazonaws.gamelift#MetricGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon Web Services CloudWatch metric group to add this fleet to. Metric groups\n            aggregate metrics for multiple fleets. </p>"
          }
        },
        "NewGameSessionProtectionPolicy": {
          "target": "com.amazonaws.gamelift#ProtectionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether Amazon GameLift Servers can shut down game sessions on the fleet that are actively\n            running and hosting players. Amazon GameLift Servers might prompt an instance shutdown when scaling down\n            fleet capacity or when retiring unhealthy instances. You can also set game session\n            protection for individual game sessions using <a href=\"gamelift/latest/apireference/API_UpdateGameSession.html\">UpdateGameSession</a>.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>NoProtection</b> -- Game sessions can be shut down\n                    during active gameplay. </p>\n            </li>\n            <li>\n               <p>\n                  <b>FullProtection</b> -- Game sessions in\n                    <code>ACTIVE</code> status can't be shut down.</p>\n            </li>\n         </ul>"
          }
        },
        "GameSessionCreationLimitPolicy": {
          "target": "com.amazonaws.gamelift#GameSessionCreationLimitPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that limits the number of game sessions that each individual player can create\n            on instances in this fleet. The limit applies for a specified span of time.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#ContainerFleetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the container fleet.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> -- A new container fleet has been requested.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> -- A new container fleet resource is being created. </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATED</code> -- A new container fleet resource has been created. No fleet instances\n                    have been deployed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVATING</code> -- New container fleet instances are being deployed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> -- The container fleet has been deployed and is ready to host game\n                    sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATING</code> -- Updates to the container fleet is being updated. A deployment is in\n                    progress.</p>\n            </li>\n         </ul>"
          }
        },
        "DeploymentDetails": {
          "target": "com.amazonaws.gamelift#DeploymentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the most recent deployment for the container fleet.</p>"
          }
        },
        "LogConfiguration": {
          "target": "com.amazonaws.gamelift#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The method that is used to collect container logs for the fleet. Amazon GameLift Servers saves all\n            standard output for each container in logs, including game session logs. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CLOUDWATCH</code> -- Send logs to an Amazon CloudWatch log group that you define. Each container\n                emits a log stream, which is organized in the log group. </p>\n            </li>\n            <li>\n               <p>\n                  <code>S3</code> -- Store logs in an Amazon S3 bucket that you define.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NONE</code> -- Don't collect container logs.</p>\n            </li>\n         </ul>"
          }
        },
        "LocationAttributes": {
          "target": "com.amazonaws.gamelift#ContainerFleetLocationAttributesList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the container fleet's remote locations where fleet instances are\n            deployed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon GameLift Servers managed container fleet. </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerFleetBillingType": {
      "type": "enum",
      "members": {
        "ON_DEMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND"
          }
        },
        "SPOT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerFleet"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleetLocationAttributes": {
      "type": "structure",
      "members": {
        "Location": {
          "target": "com.amazonaws.gamelift#LocationStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A location identifier.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#ContainerFleetLocationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of fleet activity in the location. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> -- A new container fleet has been requested.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATING</code> -- A new container fleet resource is being created.\n                </p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATED</code> -- A new container fleet resource has been created. No\n                    fleet instances have been deployed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVATING</code> -- New container fleet instances are being\n                    deployed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTIVE</code> -- The container fleet has been deployed and is ready to\n                    host game sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UPDATING</code> -- Updates to the container fleet is being updated. A\n                    deployment is in progress.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a location in a multi-location container fleet. </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerFleetLocationAttributesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerFleetLocationAttributes"
      }
    },
    "com.amazonaws.gamelift#ContainerFleetLocationStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "ACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleetRemoveAttribute": {
      "type": "enum",
      "members": {
        "PER_INSTANCE_CONTAINER_GROUP_DEFINITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_INSTANCE_CONTAINER_GROUP_DEFINITION"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleetRemoveAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerFleetRemoveAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.gamelift#ContainerFleetStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "ACTIVATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinition": {
      "type": "structure",
      "members": {
        "ContainerGroupDefinitionArn": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to an Amazon GameLift Servers <code>ContainerGroupDefinition</code> resource. It uniquely identifies \nthe resource across all Amazon Web Services Regions. Format is \n<code>arn:aws:gamelift:[region]::containergroupdefinition/[container group definition name]:[version]</code>.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#ContainerOperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The platform that all containers in the container group definition run on.</p>\n         <note>\n            <p>Amazon Linux 2 (AL2) will reach end of support on 6/30/2025. See more details in the <a href=\"http://aws.amazon.com/amazon-linux-2/faqs/\">Amazon Linux 2 FAQs</a>. For game\n      servers that are hosted on AL2 and use server SDK version 4.x for Amazon GameLift Servers, first update the game\n        server build to server SDK 5.x, and then deploy to AL2023 instances. See <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk5-migration.html\"> Migrate to\n          server SDK version 5.</a>\n            </p>\n         </note>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A descriptive identifier for the container group definition. The name value is unique in an Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "ContainerGroupType": {
          "target": "com.amazonaws.gamelift#ContainerGroupType",
          "traits": {
            "smithy.api#documentation": "<p>The type of container group. Container group type determines how Amazon GameLift Servers deploys the\n      container group on each fleet instance.</p>"
          }
        },
        "TotalMemoryLimitMebibytes": {
          "target": "com.amazonaws.gamelift#ContainerTotalMemoryLimit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of memory (in MiB) on a fleet instance to allocate for the container group. All\n      containers in the group share these resources. </p>\n         <p>You can set a limit for each container definition in the group. If individual containers\n      have limits, this total value must be greater than any individual container's memory\n      limit.</p>"
          }
        },
        "TotalVcpuLimit": {
          "target": "com.amazonaws.gamelift#ContainerTotalVcpuLimit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of vCPU units on a fleet instance to allocate for the container group (1 vCPU\n      is equal to 1024 CPU units). All containers in the group share these resources. You can set a\n      limit for each container definition in the group. If individual containers have limits, this\n      total value must be equal to or greater than the sum of the limits for each container in the\n      group.</p>"
          }
        },
        "GameServerContainerDefinition": {
          "target": "com.amazonaws.gamelift#GameServerContainerDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The definition for the game server container in this group. This property is used only\n      when the container group type is <code>GAME_SERVER</code>. This container definition specifies\n      a container image with the game server build. </p>"
          }
        },
        "SupportContainerDefinitions": {
          "target": "com.amazonaws.gamelift#SupportContainerDefinitionList",
          "traits": {
            "smithy.api#documentation": "<p>The set of definitions for support containers in this group. A container group definition\n      might have zero support container definitions. Support container can be used in any type of\n      container group.</p>"
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.gamelift#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the version of a particular container group definition. This number is\n      incremented automatically when you update a container group definition. You can view, update,\n      or delete individual versions or the entire container group definition.</p>"
          }
        },
        "VersionDescription": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description that was provided for a container group definition update. Each\n      version can have a unique description.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#ContainerGroupDefinitionStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the container group definition resource. Values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>COPYING</code> -- Amazon GameLift Servers is in the process of making copies of all container\n          images that are defined in the group. While in this state, the resource can't be used to\n          create a container fleet.</p>\n            </li>\n            <li>\n               <p>\n                  <code>READY</code> -- Amazon GameLift Servers has copied the registry images for all containers that\n          are defined in the group. You can use a container group definition in this status to\n          create a container fleet. </p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> -- Amazon GameLift Servers failed to create a valid container group definition\n          resource. For more details on the cause of the failure, see <code>StatusReason</code>. A\n          container group definition resource in failed status will be deleted within a few\n          minutes.</p>\n            </li>\n         </ul>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>Additional information about a container group definition that's in <code>FAILED</code>\n      status. Possible reasons include:</p>\n         <ul>\n            <li>\n               <p>An internal issue prevented Amazon GameLift Servers from creating\n        the container group definition resource. Delete the failed resource and call \n        <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_CreateContainerGroupDefinition.html\">CreateContainerGroupDefinition</a>again. </p>\n            </li>\n            <li>\n               <p>An access-denied message means that you don't have permissions to access the container image on ECR. See \n        <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-iam-policy-examples.html.html\">\n          IAM permission examples</a>\n        for help setting up required IAM permissions for Amazon GameLift Servers.</p>\n            </li>\n            <li>\n               <p>The <code>ImageUri</code> value for at least one\n      of the containers in the container group definition was invalid or not found in the current\n      Amazon Web Services account.</p>\n            </li>\n            <li>\n               <p>At least one\n        of the container images referenced in the container group definition exceeds the \n        allowed size. For size limits, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/gamelift.html\">\n          Amazon GameLift Servers endpoints and quotas</a>.</p>\n            </li>\n            <li>\n               <p>At least one of the container images referenced in the \n        container group definition uses a different operating system than the one defined for the container group.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties that describe a container group resource. You can update all properties of\n      a container group definition properties. Updates to a container group definition are saved as\n      new versions. </p>\n         <p>\n            <b>Used with:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_CreateContainerGroupDefinition.html\">CreateContainerGroupDefinition</a>\n         </p>\n         <p>\n            <b>Returned by:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DescribeContainerGroupDefinition.html\">DescribeContainerGroupDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_ListContainerGroupDefinitions.html\">ListContainerGroupDefinitions</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_UpdateContainerGroupDefinition.html\">UpdateContainerGroupDefinition</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinitionArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^arn:.*:containergroupdefinition\\/[a-zA-Z0-9\\-]+(:[0-9]+)?$"
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerGroupDefinition"
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinitionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinitionNameOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$|^arn:.*:containergroupdefinition\\/[a-zA-Z0-9\\-]+(:[0-9]+)?$"
      }
    },
    "com.amazonaws.gamelift#ContainerGroupDefinitionStatus": {
      "type": "enum",
      "members": {
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "COPYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COPYING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerGroupType": {
      "type": "enum",
      "members": {
        "GAME_SERVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GAME_SERVER"
          }
        },
        "PER_INSTANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_INSTANCE"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerHealthCheck": {
      "type": "structure",
      "members": {
        "Command": {
          "target": "com.amazonaws.gamelift#ContainerCommandStringList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A string array that specifies the command that the container runs to determine if it's\n      healthy.</p>",
            "smithy.api#required": {}
          }
        },
        "Interval": {
          "target": "com.amazonaws.gamelift#ContainerHealthCheckInterval",
          "traits": {
            "smithy.api#documentation": "<p>The time period (in seconds) between each health check.</p>"
          }
        },
        "Retries": {
          "target": "com.amazonaws.gamelift#ContainerHealthCheckRetries",
          "traits": {
            "smithy.api#documentation": "<p>The number of times to retry a failed health check before flagging the container\n      unhealthy. The first run of the command does not count as a retry.</p>"
          }
        },
        "StartPeriod": {
          "target": "com.amazonaws.gamelift#ContainerHealthCheckStartPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The optional grace period (in seconds) to give a container time to bootstrap before the\n      first failed health check counts toward the number of retries.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.gamelift#ContainerHealthCheckTimeout",
          "traits": {
            "smithy.api#documentation": "<p>The time period (in seconds) to wait for a health check to succeed before counting a\n      failed health check. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Instructions on when and how to check the health of a support container in a container\n      fleet. These properties override any Docker health checks that are set in the container image.\n      For more information on container health checks, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_HealthCheck.html#ECS-Type-HealthCheck-command\">HealthCheck command</a> in the <i>Amazon Elastic Container Service API</i>. Game server\n      containers don't have a health check parameter; Amazon GameLift Servers automatically handles health checks\n      for these containers.</p>\n         <p>The following example instructs the container to initiate a health check command every 60\n      seconds and wait 10 seconds for it to succeed. If it fails, retry the command 3 times before\n      flagging the container as unhealthy. It also tells the container to wait 100 seconds after\n      launch before counting failed health checks.</p>\n         <p>\n            <code>{\"Command\": [ \"CMD-SHELL\", \"ps cax | grep \"processmanager\" || exit 1\" ], \"Interval\":\n        60, \"Timeout\": 10, \"Retries\": 3, \"StartPeriod\": 100 }</code>\n         </p>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinition.html\">SupportContainerDefinition</a>, <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html\">SupportContainerDefinitionInput</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerHealthCheckInterval": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 300
        }
      }
    },
    "com.amazonaws.gamelift#ContainerHealthCheckRetries": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 5,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerHealthCheckStartPeriod": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 300
        }
      }
    },
    "com.amazonaws.gamelift#ContainerHealthCheckTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 30,
          "max": 60
        }
      }
    },
    "com.amazonaws.gamelift#ContainerIdentifier": {
      "type": "structure",
      "members": {
        "ContainerName": {
          "target": "com.amazonaws.gamelift#NonZeroAnd128MaxAsciiString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a container that's running in a compute. </p>"
          }
        },
        "ContainerRuntimeId": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The runtime ID for the container that's running in a compute. This value is unique within\n      the compute. It is returned as a <code>ContainerAttribute</code> value in a\n        <code>Compute</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A unique identifier for a container in a compute on a managed container fleet instance.\n      This information makes it possible to remotely connect to a specific container on a fleet\n      instance.</p>\n         <p>\n            <b>Related to:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_ContainerAttribute.html\">ContainerAttribute</a>\n         </p>\n         <p>\n            <b>Use with: </b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GetComputeAccess.html\">GetComputeAccess</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerMemoryLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 4,
          "max": 1024000
        }
      }
    },
    "com.amazonaws.gamelift#ContainerMountPoint": {
      "type": "structure",
      "members": {
        "InstancePath": {
          "target": "com.amazonaws.gamelift#InstancePathString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The path to the source file or directory. </p>",
            "smithy.api#required": {}
          }
        },
        "ContainerPath": {
          "target": "com.amazonaws.gamelift#ContainerPathString",
          "traits": {
            "smithy.api#documentation": "<p>The mount path on the container. If this property isn't set, the instance path is\n      used.</p>"
          }
        },
        "AccessLevel": {
          "target": "com.amazonaws.gamelift#ContainerMountPointAccessLevel",
          "traits": {
            "smithy.api#documentation": "<p>The type of access for the container.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A mount point that binds a container to a file or directory on the host system. </p>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinition.html\">GameServerContainerDefinition</a>, <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinitionInput.html\">https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinitionInput.html</a>, <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinition.html\">SupportContainerDefinition</a>, <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html\">https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerMountPointAccessLevel": {
      "type": "enum",
      "members": {
        "READ_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_ONLY"
          }
        },
        "READ_AND_WRITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READ_AND_WRITE"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerMountPointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerMountPoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerOperatingSystem": {
      "type": "enum",
      "members": {
        "AMAZON_LINUX_2023": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_LINUX_2023"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ContainerPathString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(\\/+[^\\/]+\\/*)+$"
      }
    },
    "com.amazonaws.gamelift#ContainerPortConfiguration": {
      "type": "structure",
      "members": {
        "ContainerPortRanges": {
          "target": "com.amazonaws.gamelift#ContainerPortRangeList",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A set of one or more container port number ranges. The ranges can't overlap if the ranges'\n      network protocols are the same. Overlapping ranges with different protocols is allowed but not\n      recommended. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of port ranges that can be opened on the container. A process that's running in the\n      container can bind to a port number, making it accessible to inbound traffic when it's mapped\n      to a container fleet's connection port.</p>\n         <p>Each container port range specifies a network protocol. When the configuration supports\n      more than one protocol, we recommend that you use a different range for each protocol. If your\n      ranges have overlapping port numbers, Amazon GameLift Servers maps a duplicated container port number to\n      different connection ports. For example, if you include 1935 in port ranges for both TCP and\n      UDP, it might result in the following mappings: </p>\n         <ul>\n            <li>\n               <p>container port 1935 (tcp) => connection port 2001</p>\n            </li>\n            <li>\n               <p>container port 1935 (udp) => connection port 2002</p>\n            </li>\n         </ul>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinition.html\">GameServerContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GameServerContainerDefinitionInput.html\">GameServerContainerDefinitionInput</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinition.html\">SupportContainerDefinition</a>, \n      <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_SupportContainerDefinitionInput.html\">SupportContainerDefinitionInput</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerPortRange": {
      "type": "structure",
      "members": {
        "FromPort": {
          "target": "com.amazonaws.gamelift#PortNumber",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A starting value for the range of allowed port numbers.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPort": {
          "target": "com.amazonaws.gamelift#PortNumber",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>An ending value for the range of allowed port numbers.\n    Port numbers are end-inclusive.\n    This value must be equal to or greater than <code>FromPort</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.gamelift#IpProtocol",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The network protocol that these ports support. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of one or more port numbers that can be opened on the container, and the supported\n      network protocol. </p>\n         <p>\n            <b>Part of:</b>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_ContainerPortConfiguration.html\">ContainerPortConfiguration</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#ContainerPortRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#ContainerPortRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.gamelift#ContainerTotalMemoryLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 4,
          "max": 1024000
        }
      }
    },
    "com.amazonaws.gamelift#ContainerTotalVcpuLimit": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0.125,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#ContainerVcpu": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0.125,
          "max": 10
        }
      }
    },
    "com.amazonaws.gamelift#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateAliasInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for a fleet. In most situations, you can use an alias ID in place of\n            a fleet ID. An alias provides a level of abstraction for a fleet that is useful when\n            redirecting player traffic from one fleet to another, such as when updating your game\n            build. </p>\n         <p>Amazon GameLift Servers supports two types of routing strategies for aliases: simple and terminal. A\n            simple alias points to an active fleet. A terminal alias is used to display messaging or\n            link to a URL instead of routing players to an active fleet. For example, you might use\n            a terminal alias when a game version is no longer supported and you want to direct\n            players to an upgrade site. </p>\n         <p>To create a fleet alias, specify an alias name, routing strategy, and optional\n            description. Each simple alias can point to only one fleet, but a fleet can have\n            multiple aliases. If successful, a new alias record is returned, including an alias ID\n            and an ARN. You can reassign an alias to another fleet by calling\n                <code>UpdateAlias</code>.</p>\n         <p>\n            <b>Related actions</b>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateAliasInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the alias.</p>"
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new alias resource. Tags are developer-defined\n            key-value pairs. Tagging Amazon Web Services resources are useful for resource management, access\n            management and cost allocation. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the\n                <i>Amazon Web Services General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.gamelift#CreateAliasOutput": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.gamelift#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The newly created alias resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.gamelift#CreateBuild": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateBuildInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateBuildOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon GameLift Servers build resource for your game server binary files. Combine game\n            server binaries into a zip file for use with Amazon GameLift Servers. </p>\n         <important>\n            <p>When setting up a new game build for Amazon GameLift Servers, we recommend using the CLI command <b>\n                  <a href=\"https://docs.aws.amazon.com/cli/latest/reference/gamelift/upload-build.html\">upload-build</a>\n               </b>. This helper command combines two tasks: (1) it\n                uploads your build files from a file directory to an Amazon GameLift Servers Amazon S3 location, and (2)\n                it creates a new build resource.</p>\n         </important>\n         <p>You can use the <code>CreateBuild</code> operation in the following scenarios:</p>\n         <ul>\n            <li>\n               <p>Create a new game build with build files that are in an Amazon S3 location under an\n                    Amazon Web Services account that you control. To use this option, you give Amazon GameLift Servers access to\n                    the Amazon S3 bucket. With permissions in place, specify a build name, operating\n                    system, and the Amazon S3 storage location of your game build.</p>\n            </li>\n            <li>\n               <p>Upload your build files to a Amazon GameLift Servers Amazon S3 location. To use this option,\n                    specify a build name and operating system. This operation creates a new build\n                    resource and also returns an Amazon S3 location with temporary access credentials.\n                    Use the credentials to manually upload your build files to the specified Amazon S3\n                    location. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html\">Uploading Objects</a> in\n                    the <i>Amazon S3 Developer Guide</i>. After you upload build files to\n                    the Amazon GameLift Servers Amazon S3 location, you can't update them. </p>\n            </li>\n         </ul>\n         <p>If successful, this operation creates a new build resource with a unique build ID and\n            places it in <code>INITIALIZED</code> status. A build must be in <code>READY</code>\n            status before you can create fleets with it.</p>\n         <p>\n            <b>Learn more</b>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Uploading Your\n                Game</a>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-cli-uploading.html#gamelift-build-cli-uploading-create-build\"> Create a Build with Files in Amazon S3</a>\n         </p>\n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateBuildInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a build. Build names do not need to be unique. You can change this value later. </p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>Version information that is associated with a build or script. Version strings do not need to be unique. You can change this value later. </p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.gamelift#S3Location",
          "traits": {
[...]
