{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.gamelift#AcceptMatch": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#AcceptMatchInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#AcceptMatchOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Registers a player's acceptance or rejection of a proposed FlexMatch match. A\n            matchmaking configuration may require player acceptance; if so, then matches built with\n            that configuration cannot be completed unless all players accept the proposed match\n            within a specified time limit. </p>\n        <p>When FlexMatch builds a match, all the matchmaking tickets involved in the proposed\n            match are placed into status <code>REQUIRES_ACCEPTANCE</code>. This is a trigger for\n            your game to get acceptance from all players in the ticket. Acceptances are only valid\n            for tickets when they are in this status; all other acceptances result in an\n            error.</p>\n        <p>To register acceptance, specify the ticket ID, a response, and one or more players.\n            Once all players have registered acceptance, the matchmaking tickets advance to status\n                <code>PLACING</code>, where a new game session is created for the match. </p>\n        <p>If any player rejects the match, or if acceptances are not received before a specified\n            timeout, the proposed match is dropped. The matchmaking tickets are then handled in one\n            of two ways: For tickets where one or more players rejected the match or failed to\n            respond, the ticket status is set to <code>CANCELLED</code>, and processing is\n            terminated. For tickets where players have accepted or not yet responded, the ticket\n            status is returned to <code>SEARCHING</code> to find a new match. A new matchmaking\n            request for these players can be submitted as needed. </p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/flexmatchguide/match-client.html\">\n                Add FlexMatch to a game client</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/flexmatchguide/match-events.html\">\n                FlexMatch events</a> (reference)</p>"
      }
    },
    "com.amazonaws.gamelift#AcceptMatchInput": {
      "type": "structure",
      "members": {
        "TicketId": {
          "target": "com.amazonaws.gamelift#MatchmakingIdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a matchmaking ticket. The ticket must be in status <code>REQUIRES_ACCEPTANCE</code>; otherwise this\n            request will fail.</p>",
            "smithy.api#required": {}
          }
        },
        "PlayerIds": {
          "target": "com.amazonaws.gamelift#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a player delivering the response. This parameter can include one or multiple player\n            IDs.</p>",
            "smithy.api#required": {}
          }
        },
        "AcceptanceType": {
          "target": "com.amazonaws.gamelift#AcceptanceType",
          "traits": {
            "smithy.api#documentation": "<p>Player response to the proposed match.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamelift#AcceptMatchOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.gamelift#AcceptanceType": {
      "type": "enum",
      "members": {
        "ACCEPT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCEPT"
          }
        },
        "REJECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECT"
          }
        }
      }
    },
    "com.amazonaws.gamelift#Alias": {
      "type": "structure",
      "members": {
        "AliasId": {
          "target": "com.amazonaws.gamelift#AliasId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the alias. Alias IDs are unique within a Region.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>"
          }
        },
        "AliasArn": {
          "target": "com.amazonaws.gamelift#AliasArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to a GameLift alias resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::alias/alias-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. In a GameLift alias ARN, the resource ID matches the alias ID value.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of an alias.</p>"
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias.\n        </p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that this data object was last modified. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties that describe an alias resource.</p> \n         <p>\n            <b>Related actions</b>\n         </p>\n                    <p> \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#AliasArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:.*:alias\\/alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasIdOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^alias-\\S+|^arn:.*:alias\\/alias-\\S+$"
      }
    },
    "com.amazonaws.gamelift#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Alias"
      }
    },
    "com.amazonaws.gamelift#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.gamelift#AnywhereConfiguration": {
      "type": "structure",
      "members": {
        "Cost": {
          "target": "com.amazonaws.gamelift#NonNegativeLimitedLengthDouble",
          "traits": {
            "smithy.api#documentation": "<p>The cost to run your fleet per hour. GameLift uses the provided cost of your fleet to balance\n            usage in queues. For more information about queues, see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/queues-intro.html\">Setting up\n            queues</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>GameLift Anywhere configuration options for your Anywhere fleets.</p>"
      }
    },
    "com.amazonaws.gamelift#ArnStringModel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:/-]+$"
      }
    },
    "com.amazonaws.gamelift#AttributeValue": {
      "type": "structure",
      "members": {
        "S": {
          "target": "com.amazonaws.gamelift#PlayerAttributeString",
          "traits": {
            "smithy.api#documentation": "<p>For single string values. Maximum string length is 100 characters.</p>"
          }
        },
        "N": {
          "target": "com.amazonaws.gamelift#DoubleObject",
          "traits": {
            "smithy.api#documentation": "<p>For number values, expressed as double.</p>"
          }
        },
        "SL": {
          "target": "com.amazonaws.gamelift#PlayerAttributeStringList",
          "traits": {
            "smithy.api#documentation": "<p>For a list of up to 100 strings. Maximum length for each string is 100 characters.\n            Duplicate values are not recognized; all occurrences of the repeated value after the\n            first of a repeated value are ignored.</p>"
          }
        },
        "SDM": {
          "target": "com.amazonaws.gamelift#PlayerAttributeStringDoubleMap",
          "traits": {
            "smithy.api#documentation": "<p>For a map of up to 10 data type:value pairs. Maximum length for each string value is\n            100 characters. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Values for use in player attribute key-value pairs. This object lets\n            you specify an attribute value using any of the valid data types: string, number, string\n            array, or data map. Each <code>AttributeValue</code> object can use only one of the\n            available properties.</p>"
      }
    },
    "com.amazonaws.gamelift#AutoScalingGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*$"
      }
    },
    "com.amazonaws.gamelift#AwsCredentials": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Temporary key allowing access to the Amazon GameLift S3 account.</p>"
          }
        },
        "SecretAccessKey": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Temporary secret key allowing access to the Amazon GameLift S3 account.</p>"
          }
        },
        "SessionToken": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Token used to associate a specific build ID with the files uploaded using these\n            credentials.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Temporary access credentials used for uploading game build files to Amazon GameLift. They are\n            valid for a limited time. If they expire before you upload your game build, get a new\n            set by calling <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_RequestUploadCredentials.html\">RequestUploadCredentials</a>.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.gamelift#BackfillMode": {
      "type": "enum",
      "members": {
        "AUTOMATIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTOMATIC"
          }
        },
        "MANUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANUAL"
          }
        }
      }
    },
    "com.amazonaws.gamelift#BalancingStrategy": {
      "type": "enum",
      "members": {
        "SPOT_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_ONLY"
          }
        },
        "SPOT_PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPOT_PREFERRED"
          }
        },
        "ON_DEMAND_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ON_DEMAND_ONLY"
          }
        }
      }
    },
    "com.amazonaws.gamelift#BooleanModel": {
      "type": "boolean"
    },
    "com.amazonaws.gamelift#Build": {
      "type": "structure",
      "members": {
        "BuildId": {
          "target": "com.amazonaws.gamelift#BuildId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the build.</p>"
          }
        },
        "BuildArn": {
          "target": "com.amazonaws.gamelift#BuildArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) assigned to a GameLift build resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::build/build-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. In a GameLift build ARN, the resource ID matches the\n                <i>BuildId</i> value.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label associated with a build. Build names do not need to be unique. It can be set using <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_CreateBuild.html\">CreateBuild</a> or\n                <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/UpdateBuild\">UpdateBuild</a>.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#FreeText",
          "traits": {
            "smithy.api#documentation": "<p>Version information associated with a build or script. Version strings do not need to be unique.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamelift#BuildStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the build.</p>\n        <p>Possible build statuses include the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <b>INITIALIZED</b> -- A new build has been defined,\n                    but no files have been uploaded. You cannot create fleets for builds that are in\n                    this status. When a build is successfully created, the build status is set to\n                    this value. </p>\n            </li>\n            <li>\n                <p>\n                    <b>READY</b> -- The game build has been successfully\n                    uploaded. You can now create new fleets for this build.</p>\n            </li>\n            <li>\n                <p>\n                    <b>FAILED</b> -- The game build upload failed. You\n                    cannot create new fleets for this build. </p>\n            </li>\n         </ul>"
          }
        },
        "SizeOnDisk": {
          "target": "com.amazonaws.gamelift#PositiveLong",
          "traits": {
            "smithy.api#documentation": "<p>File size of the uploaded game build, expressed in bytes. When the build status is\n                <code>INITIALIZED</code> or when using a custom Amazon S3 storage location, this value is\n            0.</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>Operating system that the game server binaries are built to run on. This value\n            determines the type of fleet resources that you can use for this build.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "ServerSdkVersion": {
          "target": "com.amazonaws.gamelift#ServerSdkVersion",
          "traits": {
            "smithy.api#documentation": "<p>The GameLift Server SDK version used to develop your game server.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties describing a custom game build.</p> \n         <p> \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#BuildArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:.*:build\\/build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildIdOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^build-\\S+|^arn:.*:build\\/build-\\S+$"
      }
    },
    "com.amazonaws.gamelift#BuildList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Build"
      }
    },
    "com.amazonaws.gamelift#BuildStatus": {
      "type": "enum",
      "members": {
        "INITIALIZED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZED"
          }
        },
        "READY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "READY"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CertificateConfiguration": {
      "type": "structure",
      "members": {
        "CertificateType": {
          "target": "com.amazonaws.gamelift#CertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a TLS/SSL certificate is generated for a fleet. </p>\n        <p>Valid values include: </p>\n        <ul>\n            <li>\n                <p>\n                  <b>GENERATED</b> - Generate a TLS/SSL certificate\n                    for this fleet.</p>\n            </li>\n            <li>\n                <p>\n                  <b>DISABLED</b> - (default) Do not generate a\n                    TLS/SSL certificate for this fleet. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Determines whether a TLS/SSL certificate is generated for a fleet. This feature must\n            be enabled when creating the fleet. All instances in a fleet share the same certificate.\n            The certificate can be retrieved by calling the <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-serversdk.html\">GameLift Server\n                SDK</a> operation <code>GetInstanceCertificate</code>. </p>"
      }
    },
    "com.amazonaws.gamelift#CertificateType": {
      "type": "enum",
      "members": {
        "Disabled": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "Generated": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GENERATED"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ClaimGameServer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#ClaimGameServerInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#ClaimGameServerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#OutOfCapacityException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>This operation is used with the GameLift FleetIQ solution and game server groups.</b>\n         </p> \n         <p>Locates an available game server and\n            temporarily reserves it to host gameplay and players. This operation is called from a\n            game client or client service (such as a matchmaker) to request hosting resources for a\n            new game session. In response, GameLift FleetIQ locates an available game server, places it in\n                <code>CLAIMED</code> status for 60 seconds, and returns connection information that\n            players can use to connect to the game server. </p>\n        <p>To claim a game server, identify a game server group. You can also specify a game\n            server ID, although this approach bypasses GameLift FleetIQ placement optimization. Optionally,\n            include game data to pass to the game server at the start of a game session, such as a\n            game map or player information. </p>\n        <p>When a game server is successfully claimed, connection information is returned. A\n            claimed game server's utilization status remains <code>AVAILABLE</code> while the claim\n            status is set to <code>CLAIMED</code> for up to 60 seconds. This time period gives the\n            game server time to update its status to <code>UTILIZED</code> after players join. If\n            the game server's status is not updated within 60 seconds, the game server reverts to\n            unclaimed status and is available to be claimed by another request. The claim time\n            period is a fixed value and is not configurable.</p>\n        <p>If you try to claim a specific game server, this request will fail in the following\n            cases:</p>\n        <ul>\n            <li>\n                <p>If the game server utilization status is <code>UTILIZED</code>.</p>\n            </li>\n            <li>\n                <p>If the game server claim status is <code>CLAIMED</code>.</p>\n            </li>\n         </ul>\n        <note>\n            <p>When claiming a specific game server, this request will succeed even if the game\n                server is running on an instance in <code>DRAINING</code> status. To avoid this,\n                first check the instance status by calling <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DescribeGameServerInstances.html\">DescribeGameServerInstances</a> .</p>\n        </note>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/fleetiqguide/gsg-intro.html\">GameLift FleetIQ\n                Guide</a>\n        </p>"
      }
    },
    "com.amazonaws.gamelift#ClaimGameServerInput": {
      "type": "structure",
      "members": {
        "GameServerGroupName": {
          "target": "com.amazonaws.gamelift#GameServerGroupNameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the game server group where the game server is running. If you are not specifying a game server to claim, this value identifies\n            where you want GameLift FleetIQ to look for an available game server to claim. </p>",
            "smithy.api#required": {}
          }
        },
        "GameServerId": {
          "target": "com.amazonaws.gamelift#GameServerId",
          "traits": {
            "smithy.api#documentation": "<p>A custom string that uniquely identifies the game server to claim. If this parameter is left empty, GameLift FleetIQ searches for an available\n            game server in the specified game server group.</p>"
          }
        },
        "GameServerData": {
          "target": "com.amazonaws.gamelift#GameServerData",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom game server properties, formatted as a single string value. This data \n            is passed to a game client or service when it requests information on game servers. </p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ClaimGameServerOutput": {
      "type": "structure",
      "members": {
        "GameServer": {
          "target": "com.amazonaws.gamelift#GameServer",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly claimed game server.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ComparisonOperatorType": {
      "type": "enum",
      "members": {
        "GreaterThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEqualToThreshold"
          }
        },
        "GreaterThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanThreshold"
          }
        },
        "LessThanThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanThreshold"
          }
        },
        "LessThanOrEqualToThreshold": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEqualToThreshold"
          }
        }
      }
    },
    "com.amazonaws.gamelift#Compute": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the fleet that the compute is registered to.</p>"
          }
        },
        "FleetArn": {
          "target": "com.amazonaws.gamelift#FleetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet that the compute is registered to.</p>"
          }
        },
        "ComputeName": {
          "target": "com.amazonaws.gamelift#ComputeName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with the compute resource registered to your fleet.</p>"
          }
        },
        "ComputeArn": {
          "target": "com.amazonaws.gamelift#ComputeArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that is assigned to the compute resource and uniquely identifies it. ARNs are\n            unique across locations.</p>"
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.gamelift#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the compute resource. GameLift requires the DNS name or IP address to\n            manage your compute resource.</p>"
          }
        },
        "DnsName": {
          "target": "com.amazonaws.gamelift#DnsName",
          "traits": {
            "smithy.api#documentation": "<p>The DNS name of the compute resource. GameLift requires the DNS name or IP address to\n            manage your compute resource.</p>"
          }
        },
        "ComputeStatus": {
          "target": "com.amazonaws.gamelift#ComputeStatus",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the compute. A compute must have an <code>ACTIVE</code> status to host game sessions.</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.gamelift#LocationStringModel",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom location you added to the fleet that this compute resource\n            resides in.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.gamelift#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A time stamp indicating when this data object was created. Format is a number expressed in Unix time as milliseconds (for example <code>\"1469498468.057\"</code>).</p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The type of operating system on your compute resource.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.gamelift#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>Which compute type that the fleet uses. A fleet can use Anywhere compute resources\n            owned by you or managed Amazon EC2 instances.</p>"
          }
        },
        "GameLiftServiceSdkEndpoint": {
          "target": "com.amazonaws.gamelift#GameLiftServiceSdkEndpointOutput",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint connection details of the GameLift SDK endpoint that your game server\n            connects to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Resources used to host your game servers. A compute resource can be managed GameLift\n            Amazon EC2 instances or your own resources.</p>"
      }
    },
    "com.amazonaws.gamelift#ComputeArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:.*:compute\\/[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ComputeAuthToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ComputeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamelift#Compute"
      }
    },
    "com.amazonaws.gamelift#ComputeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ComputeNameOrArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-]+|^arn:.*:compute\\/[a-zA-Z0-9\\-]+$"
      }
    },
    "com.amazonaws.gamelift#ComputeStatus": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "TERMINATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TERMINATING"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ComputeType": {
      "type": "enum",
      "members": {
        "EC2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2"
          }
        },
        "ANYWHERE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ANYWHERE"
          }
        }
      }
    },
    "com.amazonaws.gamelift#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamelift#NonEmptyString"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would cause a conflict with the current state of a service\n            resource associated with the request. Resolve the conflict before retrying this\n            request.</p>\n        <p></p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.gamelift#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateAliasInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateAliasOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for a fleet. In most situations, you can use an alias ID in place of\n            a fleet ID. An alias provides a level of abstraction for a fleet that is useful when\n            redirecting player traffic from one fleet to another, such as when updating your game\n            build. </p>\n        <p>Amazon GameLift supports two types of routing strategies for aliases: simple and terminal. A\n            simple alias points to an active fleet. A terminal alias is used to display messaging or\n            link to a URL instead of routing players to an active fleet. For example, you might use\n            a terminal alias when a game version is no longer supported and you want to direct\n            players to an upgrade site. </p>\n        <p>To create a fleet alias, specify an alias name, routing strategy, and optional\n            description. Each simple alias can point to only one fleet, but a fleet can have\n            multiple aliases. If successful, a new alias record is returned, including an alias ID\n            and an ARN. You can reassign an alias to another fleet by calling\n                <code>UpdateAlias</code>.</p> \n         <p>\n            <b>Related actions</b>\n         </p>\n                    <p> \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateAliasInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonBlankAndLengthConstraintString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with an alias. Alias names do not need to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable description of the alias.</p>"
          }
        },
        "RoutingStrategy": {
          "target": "com.amazonaws.gamelift#RoutingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The routing configuration, including routing type and fleet target, for the alias.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new alias resource. Tags are developer-defined\n            key-value pairs. Tagging Amazon Web Services resources are useful for resource management, access\n            management and cost allocation. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the\n                <i>Amazon Web Services General Reference</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateAliasOutput": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.gamelift#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The newly created alias resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateBuild": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateBuildInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateBuildOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon GameLift build resource for your game server binary files. Combine game\n            server binaries into a zip file for use with Amazon GameLift. </p>\n        <important>\n            <p>When setting up a new game build for GameLift, we recommend using the CLI command <b>\n                  <a href=\"https://docs.aws.amazon.com/cli/latest/reference/gamelift/upload-build.html\">upload-build</a>\n               </b>. This helper command combines two tasks: (1) it\n                uploads your build files from a file directory to a GameLift Amazon S3 location, and (2)\n                it creates a new build resource.</p>\n        </important>\n        <p>You can use the operation in the following scenarios:</p>\n        <ul>\n            <li>\n                <p>To create a new game build with build files that are in an Amazon S3 location under\n                    an Amazon Web Services account that you control. To use this option, you give Amazon GameLift access to\n                    the Amazon S3 bucket. With permissions in place, specify a build name, operating\n                    system, and the Amazon S3 storage location of your game build.</p>\n            </li>\n            <li>\n                <p>To directly upload your build files to a GameLift Amazon S3 location. To use this\n                    option,  specify a build name and operating system. This operation creates a new\n                    build resource and also returns an Amazon S3 location with temporary access\n                    credentials. Use the credentials to manually upload your build files to the\n                    specified Amazon S3 location. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UploadingObjects.html\">Uploading Objects</a> in\n                    the <i>Amazon S3 Developer Guide</i>. After you upload build files to\n                    the GameLift Amazon S3 location, you can't update them. </p>\n            </li>\n         </ul>\n        <p>If successful, this operation creates a new build resource with a unique build ID and\n            places it in <code>INITIALIZED</code> status. A build must be in <code>READY</code>\n            status before you can create fleets with it.</p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-intro.html\">Uploading Your\n                Game</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-build-cli-uploading.html#gamelift-build-cli-uploading-create-build\"> Create a Build with Files in Amazon S3</a>\n         </p> \n         <p> \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateBuildInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label associated with a build. Build names do not need to be unique. You can change this value later. </p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>Version information associated with a build or script. Version strings do not need to be unique. You can change this value later. </p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.gamelift#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Information indicating where your game build files are stored. Use this parameter only\n            when creating a build with files stored in an Amazon S3 bucket that you own. The storage\n            location must specify an Amazon S3 bucket name and key. The location must also specify a role\n            ARN that you set up to allow Amazon GameLift to access your Amazon S3 bucket. The S3 bucket and your\n            new build must be in the same Region.</p>\n        <p>If a <code>StorageLocation</code> is specified, the size of your file can be found in\n            your Amazon S3 bucket. Amazon GameLift will report a <code>SizeOnDisk</code> of 0. </p>"
          }
        },
        "OperatingSystem": {
          "target": "com.amazonaws.gamelift#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system that you built the game server binaries to run on. This value\n            determines the type of fleet resources that you can use for this build. If your game\n            build contains multiple executables, they all must run on the same operating system. If\n            an operating system is not specified when creating a build, GameLift uses the\n            default value (WINDOWS_2012). This value cannot be changed later.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new build resource. Tags are developer defined\n            key-value pairs. Tagging Amazon Web Services resources are useful for resource management, access\n            management and cost allocation. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the\n                <i>Amazon Web Services General Reference</i>. Once the resource is created, you can\n            use <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_TagResource.html\">TagResource</a>, <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_UntagResource.html\">UntagResource</a>, and\n                <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_ListTagsForResource.html\">ListTagsForResource</a> to add, remove, and view tags. The maximum tag limit\n            may be lower than stated. See the Amazon Web Services General Reference for actual tagging\n            limits.</p>"
          }
        },
        "ServerSdkVersion": {
          "target": "com.amazonaws.gamelift#ServerSdkVersion",
          "traits": {
            "smithy.api#documentation": "<p>A server SDK version you used when integrating your game server build with GameLift. For more information see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/integration-custom-intro.html\">Integrate games\n                with custom game servers</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateBuildOutput": {
      "type": "structure",
      "members": {
        "Build": {
          "target": "com.amazonaws.gamelift#Build",
          "traits": {
            "smithy.api#documentation": "<p>The newly created build resource, including a unique build IDs and status. </p>"
          }
        },
        "UploadCredentials": {
          "target": "com.amazonaws.gamelift#AwsCredentials",
          "traits": {
            "smithy.api#documentation": "<p>This element is returned only when the operation is called without a storage location.\n            It contains credentials to use when you are uploading a build file to an Amazon S3 bucket\n            that is owned by Amazon GameLift. Credentials have a limited life span. To refresh these\n            credentials, call <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_RequestUploadCredentials.html\">RequestUploadCredentials</a>. </p>"
          }
        },
        "StorageLocation": {
          "target": "com.amazonaws.gamelift#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>Amazon S3 location for your game build file, including bucket name and key.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateFleetInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateFleetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a fleet of Amazon Elastic Compute Cloud (Amazon Elastic Compute Cloud) instances to host your\n            custom game server or Realtime Servers. Use this operation to configure the computing resources for\n            your fleet and provide instructions for running game servers on each instance.</p>\n        <p>Most GameLift fleets can deploy instances to multiple locations, including the home\n            Region (where the fleet is created) and an optional set of remote locations. Fleets that\n            are created in the following Amazon Web Services Regions support multiple locations: us-east-1 (N.\n            Virginia), us-west-2 (Oregon), eu-central-1 (Frankfurt), eu-west-1 (Ireland),\n            ap-southeast-2 (Sydney), ap-northeast-1 (Tokyo), and ap-northeast-2 (Seoul). Fleets that\n            are created in other GameLift Regions can deploy instances in the fleet's home Region\n            only. All fleet instances use the same configuration regardless of location; however,\n            you can adjust capacity settings and turn auto-scaling on/off for each location.</p>\n        <p>To create a fleet, choose the hardware for your instances, specify a game server build\n            or Realtime script to deploy, and provide a runtime configuration to direct GameLift how\n            to start and run game servers on each instance in the fleet. Set permissions for inbound\n            traffic to your game servers, and enable optional features as needed. When creating a\n            multi-location fleet, provide a list of additional remote locations.</p>\n        <p>If you need to debug your fleet, fetch logs, view performance metrics or other actions\n            on the fleet, create the development fleet with port 22/3389 open. As a best practice,\n            we recommend opening ports for remote access only when you need them and closing them\n            when you're finished. </p>\n        <p>If successful, this operation creates a new Fleet resource and places it in\n                <code>NEW</code> status, which prompts GameLift to initiate the <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-creation-workflow.html\">fleet creation\n                workflow</a>.</p> \n         <p>\n            <b>Learn more</b>\n         </p> \n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-intro.html\">Setting up\n            fleets</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-creating-debug.html#fleets-creating-debug-creation\">Debug fleet creation issues</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-intro.html\">Multi-location fleets</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateFleetInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a fleet. Fleet names do not need to be unique.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A description for the fleet.</p>"
          }
        },
        "BuildId": {
          "target": "com.amazonaws.gamelift#BuildIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a custom game server build to be deployed on fleet\n            instances. You can use either the build ID or ARN. The build must be uploaded to GameLift\n            and in <code>READY</code> status. This fleet property cannot be changed later.</p>"
          }
        },
        "ScriptId": {
          "target": "com.amazonaws.gamelift#ScriptIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a Realtime configuration script to be deployed on fleet\n            instances. You can use either the script ID or ARN. Scripts must be uploaded to GameLift\n            prior to creating the fleet. This fleet property cannot be changed later.</p>"
          }
        },
        "ServerLaunchPath": {
          "target": "com.amazonaws.gamelift#LaunchPathStringModel",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>This parameter is no longer used.</b> Specify a server\n            launch path using the <code>RuntimeConfiguration</code> parameter. Requests that use\n            this parameter instead continue to be valid.</p>"
          }
        },
        "ServerLaunchParameters": {
          "target": "com.amazonaws.gamelift#LaunchParametersStringModel",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>This parameter is no longer used.</b> Specify server\n            launch parameters using the <code>RuntimeConfiguration</code> parameter. Requests that\n            use this parameter instead continue to be valid.</p>"
          }
        },
        "LogPaths": {
          "target": "com.amazonaws.gamelift#StringList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <b>This parameter is no longer used.</b> To specify where\n            GameLift should store log files once a server process shuts down, use the GameLift server\n            API <code>ProcessReady()</code> and specify one or more directory paths in\n                <code>logParameters</code>. For more information, see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-initialize\">Initialize the server process</a> in the <i>GameLift Developer\n                Guide</i>. </p>"
          }
        },
        "EC2InstanceType": {
          "target": "com.amazonaws.gamelift#EC2InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>The GameLift-supported Amazon EC2 instance type to use for all fleet instances. Instance\n            type determines the computing resources that will be used to host your game servers,\n            including CPU, memory, storage, and networking capacity. See <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon Elastic Compute Cloud Instance Types</a> for detailed descriptions\n            of Amazon EC2 instance types.</p>"
          }
        },
        "EC2InboundPermissions": {
          "target": "com.amazonaws.gamelift#IpPermissionsList",
          "traits": {
            "smithy.api#documentation": "<p>The allowed IP address ranges and port settings that allow inbound traffic to access\n            game sessions on this fleet. If the fleet is hosting a custom game build, this property\n            must be set before players can connect to game sessions. For Realtime Servers fleets, GameLift\n            automatically sets TCP and UDP ranges. </p>"
          }
        },
        "NewGameSessionProtectionPolicy": {
          "target": "com.amazonaws.gamelift#ProtectionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The status of termination protection for active game sessions on the fleet. By\n            default, this property is set to <code>NoProtection</code>. You can also set game\n            session protection for an individual game session by calling <a href=\"gamelift/latest/apireference/API_UpdateGameSession.html\">UpdateGameSession</a>.</p>\n        <ul>\n            <li>\n                <p>\n                    <b>NoProtection</b> - Game sessions can be terminated\n                    during active gameplay as a result of a scale-down event. </p>\n            </li>\n            <li>\n                <p>\n                    <b>FullProtection</b> - Game sessions in\n                        <code>ACTIVE</code> status cannot be terminated during a scale-down\n                    event.</p>\n            </li>\n         </ul>"
          }
        },
        "RuntimeConfiguration": {
          "target": "com.amazonaws.gamelift#RuntimeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Instructions for how to launch and maintain server processes on instances in the\n            fleet. The runtime configuration defines one or more server process configurations, each\n            identifying a build executable or Realtime script file and the number of processes of\n            that type to run concurrently. </p>\n        <note>\n            <p>The <code>RuntimeConfiguration</code> parameter is required unless the fleet is\n                being configured using the older parameters <code>ServerLaunchPath</code> and\n                    <code>ServerLaunchParameters</code>, which are still supported for backward\n                compatibility.</p>\n        </note>"
          }
        },
        "ResourceCreationLimitPolicy": {
          "target": "com.amazonaws.gamelift#ResourceCreationLimitPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A policy that limits the number of game sessions that an individual player can create\n            on instances in this fleet within a specified span of time.</p>"
          }
        },
        "MetricGroups": {
          "target": "com.amazonaws.gamelift#MetricGroupList",
          "traits": {
            "smithy.api#documentation": "<p>The name of an Amazon Web Services CloudWatch metric group to add this fleet to. A metric group is\n            used to aggregate the metrics for multiple fleets. You can specify an existing metric\n            group name or set a new name to create a new metric group. A fleet can be included in\n            only one metric group at a time. </p>"
          }
        },
        "PeerVpcAwsAccountId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>Used when peering your GameLift fleet with a VPC, the unique identifier for the Amazon Web Services\n            account that owns the VPC. You can find your account ID in the Amazon Web Services Management Console under account\n            settings. </p>"
          }
        },
        "PeerVpcId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a VPC with resources to be accessed by your GameLift fleet. The\n            VPC must be in the same Region as your fleet. To look up a VPC ID, use the \n            <a href=\"https://console.aws.amazon.com/vpc/\">VPC Dashboard</a> in the Amazon Web Services Management Console. \n            Learn more about VPC peering in <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/vpc-peering.html\">VPC Peering with GameLift Fleets</a>.</p>"
          }
        },
        "FleetType": {
          "target": "com.amazonaws.gamelift#FleetType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether to use On-Demand or Spot instances for this fleet. By default, this\n            property is set to <code>ON_DEMAND</code>. Learn more about when to use <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-ec2-instances.html#gamelift-ec2-instances-spot\"> On-Demand versus Spot Instances</a>. This property cannot be changed after the\n            fleet is created.</p>"
          }
        },
        "InstanceRoleArn": {
          "target": "com.amazonaws.gamelift#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for an IAM role that manages access to your Amazon Web Services services. \n        With an instance role ARN set, any application that runs on an instance in this fleet can assume the role, \n        including install scripts, server processes, and daemons (background processes). Create a role or look up a role's \n        ARN by using the <a href=\"https://console.aws.amazon.com/iam/\">IAM dashboard</a> in the Amazon Web Services Management Console.\n        Learn more about using on-box credentials for your game servers at \n        <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-resources.html\">\n        Access external resources from a game server</a>. This property cannot be changed after the fleet is created.</p>"
          }
        },
        "CertificateConfiguration": {
          "target": "com.amazonaws.gamelift#CertificateConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Prompts GameLift to generate a TLS/SSL certificate for the fleet. GameLift uses the\n            certificates to encrypt traffic between game clients and the game servers running on\n            GameLift. By default, the <code>CertificateConfiguration</code> is <code>DISABLED</code>.\n            You can't change this property after you create the fleet. </p>\n        <p>Certificate Manager (ACM) certificates expire after 13 months.\n            Certificate expiration can cause fleets to fail, preventing players from connecting to\n            instances in the fleet. We recommend you replace fleets before 13 months, consider using\n            fleet aliases for a smooth transition.</p>\n        <note>\n            <p>ACM isn't available in all Amazon Web Services regions. A fleet creation request\n                with certificate generation enabled in an unsupported Region, fails with a 4xx\n                error. For more information about the supported Regions, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-regions.html\">Supported\n                    Regions</a> in the <i>Certificate Manager User\n                Guide</i>.</p>\n        </note>"
          }
        },
        "Locations": {
          "target": "com.amazonaws.gamelift#LocationConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A set of remote locations to deploy additional instances to and manage as part of the\n            fleet. This parameter can only be used when creating fleets in Amazon Web Services Regions that\n            support multiple locations. You can add any GameLift-supported Amazon Web Services Region as a remote\n            location, in the form of an Amazon Web Services Region code such as <code>us-west-2</code>. To create\n            a fleet with instances in the home Region only, omit this parameter. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new fleet resource. Tags are developer-defined\n            key-value pairs. Tagging Amazon Web Services resources are useful for resource management, access\n            management and cost allocation. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services Resources</a> in the\n                <i>Amazon Web Services General Reference</i>.</p>"
          }
        },
        "ComputeType": {
          "target": "com.amazonaws.gamelift#ComputeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of compute resource used to host your game servers. You can use your own\n            compute resources with GameLift Anywhere or use Amazon EC2 instances with managed\n            GameLift.</p>"
          }
        },
        "AnywhereConfiguration": {
          "target": "com.amazonaws.gamelift#AnywhereConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>GameLift Anywhere configuration options.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateFleetLocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateFleetLocationsInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateFleetLocationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidFleetStatusException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds remote locations to a fleet and begins populating the new locations with EC2\n            instances. The new instances conform to the fleet's instance type, auto-scaling, and\n            other configuration settings. </p>\n        <note>\n            <p>This operation cannot be used with fleets that don't support remote locations.\n                Fleets can have multiple locations only if they reside in Amazon Web Services Regions that support\n                this feature and were created after the feature was released in March 2021.</p>\n        </note>\n        <p>To add fleet locations, specify the fleet to be updated and provide a list of one or\n            more locations. </p>\n        <p>If successful, this operation returns the list of added locations with their status\n            set to <code>NEW</code>. GameLift initiates the process of starting an instance in each\n            added location. You can track the status of each new location by monitoring location\n            creation events using <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DescribeFleetEvents.html\">DescribeFleetEvents</a>.</p> \n         <p>\n            <b>Learn more</b>\n         </p> \n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-intro.html\">Setting up\n            fleets</a>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/fleets-intro.html\">Multi-location fleets</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateFleetLocationsInput": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the fleet to add locations to. You can use either the fleet ID or ARN value.</p>",
            "smithy.api#required": {}
          }
        },
        "Locations": {
          "target": "com.amazonaws.gamelift#LocationConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of locations to deploy additional instances to and manage as part of the fleet.\n            You can add any GameLift-supported Amazon Web Services Region as a remote location, in the form of an\n            Amazon Web Services Region code such as <code>us-west-2</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateFleetLocationsOutput": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the fleet that was updated with new locations.</p>"
          }
        },
        "FleetArn": {
          "target": "com.amazonaws.gamelift#FleetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) that is assigned to a GameLift fleet resource and uniquely identifies it. ARNs are unique across all Regions. Format is <code>arn:aws:gamelift:<region>::fleet/fleet-a1234567-b8c9-0d1e-2fa3-b45c6d7e8912</code>. </p>"
          }
        },
        "LocationStates": {
          "target": "com.amazonaws.gamelift#LocationStateList",
          "traits": {
            "smithy.api#documentation": "<p>The remote locations that are being added to the fleet, and the life-cycle status of\n            each location. For new locations, the status is set to <code>NEW</code>. During location\n            creation, GameLift updates each location's status as instances are deployed there and\n            prepared for game hosting. This list does not include the fleet home Region or any\n            remote locations that were already added to the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateFleetOutput": {
      "type": "structure",
      "members": {
        "FleetAttributes": {
          "target": "com.amazonaws.gamelift#FleetAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The properties for the new fleet, including the current status. All fleets are placed\n            in <code>NEW</code> status on creation. </p>"
          }
        },
        "LocationStates": {
          "target": "com.amazonaws.gamelift#LocationStateList",
          "traits": {
            "smithy.api#documentation": "<p>The fleet's locations and life-cycle status of each location. For new fleets, the\n            status of all locations is set to <code>NEW</code>. During fleet creation, GameLift\n            updates each location status as instances are deployed there and prepared for game\n            hosting. This list includes an entry for the fleet's home Region. For fleets with no\n            remote locations, only one entry, representing the home Region, is returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateGameServerGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateGameServerGroupInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateGameServerGroupOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>This operation is used with the GameLift FleetIQ solution and game server groups.</b>\n         </p> \n         <p>Creates a GameLift FleetIQ game server\n            group for managing game hosting on a collection of Amazon Elastic Compute Cloud instances for game hosting.\n            This operation creates the game server group, creates an Auto Scaling group in your\n            Amazon Web Services account, and establishes a link between the two groups. You can view the status of\n            your game server groups in the GameLift console. Game server group metrics and events are\n            emitted to Amazon CloudWatch.</p>\n        <p>Before creating a new game server group, you must have the following: </p>\n        <ul>\n            <li>\n                <p>An Amazon Elastic Compute Cloud launch template that specifies how to launch Amazon Elastic Compute Cloud instances\n                    with your game server build. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\"> Launching an Instance from a Launch Template</a> in the\n                        <i>Amazon Elastic Compute Cloud User Guide</i>. </p>\n            </li>\n            <li>\n                <p>An IAM role that extends limited access to your Amazon Web Services account to allow GameLift FleetIQ\n                    to create and interact with the Auto Scaling group. For more information, see\n                        <a href=\"https://docs.aws.amazon.com/gamelift/latest/fleetiqguide/gsg-iam-permissions-roles.html\">Create IAM\n                        roles for cross-service interaction</a> in the <i>GameLift FleetIQ Developer\n                        Guide</i>.</p>\n            </li>\n         </ul>\n        <p>To create a new game server group, specify a unique group name, IAM role and Amazon Elastic Compute Cloud\n            launch template, and provide a list of instance types that can be used in the group. You\n            must also set initial maximum and minimum limits on the group's instance count. You can\n            optionally set an Auto Scaling policy with target tracking based on a GameLift FleetIQ\n            metric.</p>\n        <p>Once the game server group and corresponding Auto Scaling group are created, you have\n            full access to change the Auto Scaling group's configuration as needed. Several\n            properties that are set when creating a game server group, including maximum/minimum\n            size and auto-scaling policy settings, must be updated directly in the Auto Scaling\n            group. Keep in mind that some Auto Scaling group properties are periodically updated by\n            GameLift FleetIQ as part of its balancing activities to optimize for availability and cost.</p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/fleetiqguide/gsg-intro.html\">GameLift FleetIQ\n                Guide</a>\n        </p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameServerGroupInput": {
      "type": "structure",
      "members": {
        "GameServerGroupName": {
          "target": "com.amazonaws.gamelift#GameServerGroupName",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the new game server group. This value is used to generate unique ARN\n            identifiers for the Amazon EC2 Auto Scaling group and the GameLift FleetIQ game server group. The name\n            must be unique per Region per Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.gamelift#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-arn-format.html\">ARN</a>) for an IAM role that\n            allows Amazon GameLift to access your Amazon EC2 Auto Scaling groups.</p>",
            "smithy.api#required": {}
          }
        },
        "MinSize": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of instances allowed in the Amazon EC2 Auto Scaling group. During\n            automatic scaling events, GameLift FleetIQ and Amazon EC2 do not scale down the group below this\n            minimum. In production, this value should be set to at least 1. After the Auto Scaling\n            group is created, update this value directly in the Auto Scaling group using the Amazon Web Services\n            console or APIs.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxSize": {
          "target": "com.amazonaws.gamelift#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of instances allowed in the Amazon EC2 Auto Scaling group. During\n            automatic scaling events, GameLift FleetIQ and EC2 do not scale up the group above this maximum.\n            After the Auto Scaling group is created, update this value directly in the Auto Scaling\n            group using the Amazon Web Services console or APIs.</p>",
            "smithy.api#required": {}
          }
        },
        "LaunchTemplate": {
          "target": "com.amazonaws.gamelift#LaunchTemplateSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 launch template that contains configuration settings and game server code to\n            be deployed to all instances in the game server group. You can specify the template\n            using either the template name or ID. For help with creating a launch template, see\n                <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-launch-template.html\">Creating a Launch\n                Template for an Auto Scaling Group</a> in the <i>Amazon Elastic Compute Cloud Auto Scaling\n                User Guide</i>. After the Auto Scaling group is created, update this value\n            directly in the Auto Scaling group using the Amazon Web Services console or APIs.</p>\n        <note>\n            <p>If you specify network interfaces in your launch template, you must explicitly set\n                the property <code>AssociatePublicIpAddress</code> to \"true\". If no network\n                interface is specified in the launch template, GameLift FleetIQ uses your account's default\n                VPC.</p>\n        </note>",
            "smithy.api#required": {}
          }
        },
        "InstanceDefinitions": {
          "target": "com.amazonaws.gamelift#InstanceDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance types and sizes to use in the Auto Scaling group. The instance\n            definitions must specify at least two different instance types that are supported by\n            GameLift FleetIQ. For more information on instance types, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">EC2 Instance Types</a> in the\n                <i>Amazon Elastic Compute Cloud User Guide</i>. You can optionally specify capacity\n            weighting for each instance type. If no weight value is specified for an instance type,\n            it is set to the default value \"1\". For more information about capacity weighting, see\n                <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-weighting.html\"> Instance Weighting for\n                Amazon EC2 Auto Scaling</a> in the Amazon EC2 Auto Scaling User Guide.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoScalingPolicy": {
          "target": "com.amazonaws.gamelift#GameServerGroupAutoScalingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings to define a scaling policy for the Auto Scaling group that is\n            optimized for game hosting. The scaling policy uses the metric\n                <code>\"PercentUtilizedGameServers\"</code> to maintain a buffer of idle game servers\n            that can immediately accommodate new games and players. After the Auto Scaling group is\n            created, update this value directly in the Auto Scaling group using the Amazon Web Services console or\n            APIs.</p>"
          }
        },
        "BalancingStrategy": {
          "target": "com.amazonaws.gamelift#BalancingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how GameLift FleetIQ balances the use of Spot Instances and On-Demand Instances in the\n            game server group. Method options include the following:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>SPOT_ONLY</code> - Only Spot Instances are used in the game server group. If Spot\n                    Instances are unavailable or not viable for game hosting, the game server group\n                    provides no hosting capacity until Spot Instances can again be used. Until then,\n                    no new instances are started, and the existing nonviable Spot Instances are\n                    terminated (after current gameplay ends) and are not replaced.</p>\n            </li>\n            <li>\n                <p>\n                  <code>SPOT_PREFERRED</code> - (default value) Spot Instances are used whenever available in\n                    the game server group. If Spot Instances are unavailable, the game server group\n                    continues to provide hosting capacity by falling back to On-Demand Instances.\n                    Existing nonviable Spot Instances are terminated (after current gameplay ends)\n                    and are replaced with new On-Demand Instances.</p>\n            </li>\n            <li>\n                <p>\n                  <code>ON_DEMAND_ONLY</code> - Only On-Demand Instances are used in the game\n                    server group. No Spot Instances are used, even when available, while this\n                    balancing strategy is in force.</p>\n            </li>\n         </ul>"
          }
        },
        "GameServerProtectionPolicy": {
          "target": "com.amazonaws.gamelift#GameServerProtectionPolicy",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether instances in the game server group are protected \n            from early termination. Unprotected instances that have active game servers running might \n            be terminated during a scale-down event, causing players to be dropped from the game. \n            Protected instances cannot be terminated while there are active game servers running except \n            in the event of a forced game server group deletion (see ). An exception to this is with Spot \n            Instances, which can be terminated by Amazon Web Services regardless of protection status. This property is set to <code>NO_PROTECTION</code> by default.</p>"
          }
        },
        "VpcSubnets": {
          "target": "com.amazonaws.gamelift#VpcSubnets",
          "traits": {
            "smithy.api#documentation": "<p>A list of virtual private cloud (VPC) subnets to use with instances in the game server\n            group. By default, all GameLift FleetIQ-supported Availability Zones are used. You can use this\n            parameter to specify VPCs that you've set up. This property cannot be updated after the\n            game server group is created, and the corresponding Auto Scaling group will always use\n            the property value that is set with this request, even if the Auto Scaling group is\n            updated directly.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamelift#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of labels to assign to the new game server group resource. Tags are\n            developer-defined key-value pairs. Tagging Amazon Web Services resources is useful for resource\n            management, access management, and cost allocation. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\"> Tagging Amazon Web Services\n                Resources</a> in the <i>Amazon Web Services General Reference</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateGameServerGroupOutput": {
      "type": "structure",
      "members": {
        "GameServerGroup": {
          "target": "com.amazonaws.gamelift#GameServerGroup",
          "traits": {
            "smithy.api#documentation": "<p>The newly created game server group object, including the new ARN value for the GameLift FleetIQ\n            game server group and the object's status. The Amazon EC2 Auto Scaling group ARN is initially\n            null, since the group has not yet been created. This value is added once the game server\n            group status reaches <code>ACTIVE</code>. </p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateGameSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateGameSessionInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateGameSessionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#ConflictException"
        },
        {
          "target": "com.amazonaws.gamelift#FleetCapacityExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidFleetStatusException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TerminalRoutingStrategyException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnsupportedRegionException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a multiplayer game session for players in a specific fleet location. This\n            operation prompts an available server process to start a game session and retrieves\n            connection information for the new game session. As an alternative, consider using the\n            GameLift game session placement feature with <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_StartGameSessionPlacement.html\">StartGameSessionPlacement</a> , which uses FleetIQ algorithms and queues to\n            optimize the placement process.</p>\n        <p>When creating a game session, you specify exactly where you want to place it and\n            provide a set of game session configuration settings. The fleet must be in\n                <code>ACTIVE</code> status before a game session can be created in it. </p>\n        <p>This operation can be used in the following ways: </p>\n        <ul>\n            <li>\n                <p>To create a game session on an instance in a fleet's home Region, provide a\n                    fleet or alias ID along with your game session configuration. </p>\n            </li>\n            <li>\n                <p>To create a game session on an instance in a fleet's remote location, provide\n                    a fleet or alias ID and a location name, along with your game session\n                    configuration. </p>\n            </li>\n         </ul>\n        <p>If successful, a workflow is initiated to start a new game session. A\n                <code>GameSession</code> object is returned containing the game session\n            configuration and status. When the status is <code>ACTIVE</code>, game session\n            connection information is provided and player sessions can be created for the game\n            session. By default, newly created game sessions are open to new players. You can\n            restrict new player access by using <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_UpdateGameSession.html\">UpdateGameSession</a> to change the game session's player session creation\n            policy.</p>\n        <p>Game session logs are retained for all active game sessions for 14 days. To access the\n            logs, call <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_GetGameSessionLogUrl.html\">GetGameSessionLogUrl</a> to download the log files.</p>\n        <p>\n            <i>Available in Amazon GameLift Local.</i>\n         </p> \n         <p>\n            <b>Learn more</b>\n         </p> \n         <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a game session</a>\n         </p> \n         <p>\n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionInput": {
      "type": "structure",
      "members": {
        "FleetId": {
          "target": "com.amazonaws.gamelift#FleetIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the fleet to create a game session in. You can use either the fleet ID or ARN value. Each\n            request must reference either a fleet ID or alias ID, but not both.</p>"
          }
        },
        "AliasId": {
          "target": "com.amazonaws.gamelift#AliasIdOrArn",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the alias associated with the fleet to create a game session in. You can use either the\n            alias ID or ARN value. Each request must reference either a fleet ID or alias ID, but\n            not both.</p>"
          }
        },
        "MaximumPlayerSessionCount": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of players that can be connected simultaneously to the game session.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with a game session. Session names do not need to be unique.</p>"
          }
        },
        "GameProperties": {
          "target": "com.amazonaws.gamelift#GamePropertyList",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom properties for a game session, formatted as key:value pairs. These properties are passed to a game server process with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>).</p>"
          }
        },
        "CreatorId": {
          "target": "com.amazonaws.gamelift#NonZeroAndMaxString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a player or entity creating the game session. This parameter is required when\n            requesting a new game session on a fleet with a resource creation limit policy. This\n            type of policy limits the number of concurrent active game sessions that one player can\n            create within a certain time span. GameLift uses the CreatorId to evaluate the new\n            request against the policy.</p>"
          }
        },
        "GameSessionId": {
          "target": "com.amazonaws.gamelift#IdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>\n            <i>This parameter is deprecated. Use <code>IdempotencyToken</code>\n                instead.</i>\n         </p>\n        <p>Custom string that uniquely identifies a request for a new game session. Maximum token\n            length is 48 characters. If provided, this string is included in the new game session's\n            ID.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.gamelift#IdStringModel",
          "traits": {
            "smithy.api#documentation": "<p>Custom string that uniquely identifies the new game session request. This is useful\n            for ensuring that game session requests with the same idempotency token are processed\n            only once. Subsequent requests with the same string return the original\n                <code>GameSession</code> object, with an updated status. Maximum token length is 48\n            characters. If provided, this string is included in the new game session's ID.\n            A game session ARN has the following format: \n    <code>arn:aws:gamelift:<region>::gamesession/<fleet ID>/<custom ID string or idempotency token></code>. Idempotency tokens remain in use for 30 days after a game session has ended;\n            game session objects are retained for this time period and then deleted.</p>"
          }
        },
        "GameSessionData": {
          "target": "com.amazonaws.gamelift#LargeGameSessionData",
          "traits": {
            "smithy.api#documentation": "<p>A set of custom game session properties, formatted as a single string value. This data is passed to a game server process with a request to start a new game session (see <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/gamelift-sdk-server-api.html#gamelift-sdk-server-startsession\">Start a Game Session</a>).</p>"
          }
        },
        "Location": {
          "target": "com.amazonaws.gamelift#LocationStringModel",
          "traits": {
            "smithy.api#documentation": "<p>A fleet's remote location to place the new game session in. If this parameter is not\n            set, the new game session is placed in the fleet's home Region. Specify a remote\n            location with an Amazon Web Services Region code such as <code>us-west-2</code>. </p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionOutput": {
      "type": "structure",
      "members": {
        "GameSession": {
          "target": "com.amazonaws.gamelift#GameSession",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes the newly created game session record.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionQueue": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamelift#CreateGameSessionQueueInput"
      },
      "output": {
        "target": "com.amazonaws.gamelift#CreateGameSessionQueueOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamelift#InternalServiceException"
        },
        {
          "target": "com.amazonaws.gamelift#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.gamelift#LimitExceededException"
        },
        {
          "target": "com.amazonaws.gamelift#NotFoundException"
        },
        {
          "target": "com.amazonaws.gamelift#TaggingFailedException"
        },
        {
          "target": "com.amazonaws.gamelift#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a placement queue that processes requests for new game sessions. A queue uses\n            FleetIQ algorithms to determine the best placement locations and find an available game\n            server there, then prompts the game server process to start a new game session. </p>\n        <p>A game session queue is configured with a set of destinations (GameLift fleets or\n            aliases), which determine the locations where the queue can place new game sessions.\n            These destinations can span multiple fleet types (Spot and On-Demand), instance types,\n            and Amazon Web Services Regions. If the queue includes multi-location fleets, the queue is able to\n            place game sessions in all of a fleet's remote locations. You can opt to filter out\n            individual locations if needed.</p>\n        <p>The queue configuration also determines how FleetIQ selects the best available placement\n            for a new game session. Before searching for an available game server, FleetIQ first\n            prioritizes the queue's destinations and locations, with the best placement locations on\n            top. You can set up the queue to use the FleetIQ default prioritization or provide an\n            alternate set of priorities.</p>\n        <p>To create a new queue, provide a name, timeout value, and a list of destinations.\n            Optionally, specify a sort configuration and/or a filter, and define a set of latency\n            cap policies. You can also include the ARN for an Amazon Simple Notification Service\n            (SNS) topic to receive notifications of game session placement activity. Notifications\n            using SNS or CloudWatch events is the preferred way to track placement activity.</p>\n        <p>If successful, a new <code>GameSessionQueue</code> object is returned with an assigned\n            queue ARN. New game session requests, which are submitted to queue with <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_StartGameSessionPlacement.html\">StartGameSessionPlacement</a> or <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_StartMatchmaking.html\">StartMatchmaking</a>, reference a queue's name or ARN. </p>\n        <p>\n            <b>Learn more</b>\n         </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/queues-design.html\">\n                Design a game session queue</a>\n        </p>\n        <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/queues-creating.html\">\n                Create a game session queue</a>\n        </p> \n         <p>\n            <b>Related actions</b>\n         </p>\n                    <p>\n            <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_CreateGameSessionQueue.html\">CreateGameSessionQueue</a> \n                    |\n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DescribeGameSessionQueues.html\">DescribeGameSessionQueues</a>\n                    | \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_UpdateGameSessionQueue.html\">UpdateGameSessionQueue</a>\n                    | \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/apireference/API_DeleteGameSessionQueue.html\">DeleteGameSessionQueue</a>\n                    | \n                    <a href=\"https://docs.aws.amazon.com/gamelift/latest/developerguide/reference-awssdk.html#reference-awssdk-resources-fleets\">All APIs by task</a>\n         </p>"
      }
    },
    "com.amazonaws.gamelift#CreateGameSessionQueueInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamelift#GameSessionQueueName",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive label that is associated with game session queue. Queue names must be unique within each Region.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeoutInSeconds": {
          "target": "com.amazonaws.gamelift#WholeNumber",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time, in seconds, that a new game session placement request remains in the queue. When a request exceeds this time, the game session placement changes to a <code>TIMED_OUT</code> status.</p>"
          }
        },
        "PlayerLatencyPolicies": {
          "target": "com.amazonaws.gamelift#PlayerLatencyPolicyList",
          "traits": {
            "smithy.api#documentation": "<p>A set of policies that act as a sliding cap on player latency. FleetIQ works to\n            deliver low latency for most players in a game session. These policies ensure that no\n            individual player can be placed into a game with unreasonably high latency. Use multiple\n            policies to gradually relax latency requirements a step at a time. Multiple policies are applied based on their\n            maximum allowed latency, starting with the lowest value.</p>"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.gamelift#GameSessionQueueDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of fleets and/or fleet aliases that can be used to fulfill game session placement requests in the queue. \n    Destinations are identified by either a fleet ARN or a fleet alias ARN, and are listed in order of placement preference.</p>"
          }
        },
        "FilterConfiguration": {
[...]
