{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.gamesparks#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9:_/-]+$"
      }
    },
    "com.amazonaws.gamesparks#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamesparks#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.gamesparks#ByteSize": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.gamesparks#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 33,
          "max": 126
        }
      }
    },
    "com.amazonaws.gamesparks#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamesparks#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The resource already exists, or another operation is in progress.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.gamesparks#Connection": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.gamesparks#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier used to indicate a specific WebSocket connection.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the connection was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a WebSocket connection.</p>"
      }
    },
    "com.amazonaws.gamesparks#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.gamesparks#ConnectionIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#ConnectionId"
      }
    },
    "com.amazonaws.gamesparks#ConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#Connection"
      }
    },
    "com.amazonaws.gamesparks#CreateGame": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#CreateGameRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#CreateGameResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#ConflictException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Creates a new game with an empty configuration.\n      After creating your game, you can update the configuration using <code>UpdateGameConfiguration</code> or <code>ImportGameConfiguration</code>.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/game",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#CreateGameRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#GameDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the game.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.gamesparks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      A client-defined token.\n      With an active client token in the request, this action is idempotent.\n      </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamesparks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags to apply to the game.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#CreateGameResult": {
      "type": "structure",
      "members": {
        "Game": {
          "target": "com.amazonaws.gamesparks#GameDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the game that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#CreateSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#CreateSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#CreateSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#ConflictException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of the game configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/game/{GameName}/snapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.gamesparks#CreateSnapshotRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#SnapshotDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#CreateSnapshotResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.gamesparks#SnapshotDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties that provide details of the created snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#CreateStage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#CreateStageRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#CreateStageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#ConflictException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new stage for stage-by-stage game development and deployment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/game/{GameName}/stage",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#CreateStageRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#required": {}
          }
        },
        "Role": {
          "target": "com.amazonaws.gamesparks#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>\n      The Amazon Resource Name (ARN) of the role to run the game with.\n      This role can be a game-defined role or the default role that GameSparks created.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#StageDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the stage.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.gamesparks#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>\n      A client-defined token.\n      With an active client token in the request, this action is idempotent.\n      </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamesparks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags to apply to the stage.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#CreateStageResult": {
      "type": "structure",
      "members": {
        "Stage": {
          "target": "com.amazonaws.gamesparks#StageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties that describe the stage.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#DateTime": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    },
    "com.amazonaws.gamesparks#DeleteGame": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#DeleteGameRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#DeleteGameResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#ConflictException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a game.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/game/{GameName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#DeleteGameRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#DeleteGameResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.gamesparks#DeleteStage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#DeleteStageRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#DeleteStageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#ConflictException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a stage from a game, along with the associated game runtime.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/game/{GameName}/stage/{StageName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#DeleteStageRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#DeleteStageResult": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.gamesparks#DeploymentAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPLOY",
            "name": "DEPLOY"
          },
          {
            "value": "UNDEPLOY",
            "name": "UNDEPLOY"
          }
        ]
      }
    },
    "com.amazonaws.gamesparks#DeploymentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$"
      }
    },
    "com.amazonaws.gamesparks#DeploymentResult": {
      "type": "structure",
      "members": {
        "ResultCode": {
          "target": "com.amazonaws.gamesparks#ResultCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of deployment result.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.gamesparks#Message",
          "traits": {
            "smithy.api#documentation": "<p>Details about the deployment result.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The result of the deployment.</p>"
      }
    },
    "com.amazonaws.gamesparks#DeploymentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.gamesparks#DisconnectPlayer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#DisconnectPlayerRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#DisconnectPlayerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnects a player from the game runtime.</p>\n         <p>\n      If a player has multiple connections, this operation attempts to close all of them.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/disconnect",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#DisconnectPlayerRequest": {
      "type": "structure",
      "members": {
        "PlayerId": {
          "target": "com.amazonaws.gamesparks#PlayerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier representing a player.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#DisconnectPlayerResult": {
      "type": "structure",
      "members": {
        "DisconnectSuccesses": {
          "target": "com.amazonaws.gamesparks#ConnectionIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of the connection ids that were disconnected.</p>"
          }
        },
        "DisconnectFailures": {
          "target": "com.amazonaws.gamesparks#ConnectionIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of the connection ids that could not be disconnected.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#Document": {
      "type": "document",
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.gamesparks#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.gamesparks#ExportSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ExportSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ExportSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Exports a game configuration snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/snapshot/{SnapshotId}/export",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ExportSnapshotRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.gamesparks#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot to export.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ExportSnapshotResult": {
      "type": "structure",
      "members": {
        "S3Url": {
          "target": "com.amazonaws.gamesparks#S3PresignedUrl",
          "traits": {
            "smithy.api#documentation": "<p>The presigned URL for the snapshot data.</p>\n         <p>\n      This URL will be available for 10 minutes, and can be used to download the snapshot content.\n      If the URL expires, a new one can be requested using the same operation.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ExtensionDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 250
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$|^$"
      }
    },
    "com.amazonaws.gamesparks#ExtensionDetails": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.gamesparks#ExtensionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace (qualifier) of the extension.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamesparks#ExtensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#ExtensionDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the extension.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the extension.</p>"
      }
    },
    "com.amazonaws.gamesparks#ExtensionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#ExtensionDetails"
      }
    },
    "com.amazonaws.gamesparks#ExtensionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.gamesparks#ExtensionNamespace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.gamesparks#ExtensionVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.gamesparks#ExtensionVersionDetails": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.gamesparks#ExtensionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace (qualifier) of the extension.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.gamesparks#ExtensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.gamesparks#ExtensionVersionSchema",
          "traits": {
            "smithy.api#documentation": "<p>The model that defines the interface for this extension version.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.gamesparks#ExtensionVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the extension.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the extension version.</p>"
      }
    },
    "com.amazonaws.gamesparks#ExtensionVersionDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#ExtensionVersionDetails"
      }
    },
    "com.amazonaws.gamesparks#ExtensionVersionSchema": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.gamesparks#GameConfigurationDetails": {
      "type": "structure",
      "members": {
        "Sections": {
          "target": "com.amazonaws.gamesparks#Sections",
          "traits": {
            "smithy.api#documentation": "<p>Configuration data, organized by section name.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the game was created.</p>"
          }
        },
        "LastUpdated": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the game was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the game configuration.</p>\n         <p>\n      The game configuration is organized into named sections, where the schema of each section\n      is defined by an extension. The schema for these sections can be retrieved using\n      the <code>GetExtensionVersion</code> operation.\n      </p>"
      }
    },
    "com.amazonaws.gamesparks#GameDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 250
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$|^$"
      }
    },
    "com.amazonaws.gamesparks#GameDetails": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.gamesparks#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of this game.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#GameDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the game.</p>"
          }
        },
        "Created": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the game was created.</p>"
          }
        },
        "LastUpdated": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when the game was last modified.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.gamesparks#GameState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the game.</p>"
          }
        },
        "EnableTerminationProtection": {
          "target": "com.amazonaws.gamesparks#GameTerminationProtection",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Determines if the game can be deleted.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamesparks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the game.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a game.</p>"
      }
    },
    "com.amazonaws.gamesparks#GameKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 44
        }
      }
    },
    "com.amazonaws.gamesparks#GameName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.gamesparks#GameSdkVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 10
        },
        "smithy.api#pattern": "^((\\d|[1-9]\\d*)\\.(\\d|[0-9]\\d*)\\.(\\d|[0-9]\\d*)|LATEST)$"
      }
    },
    "com.amazonaws.gamesparks#GameSparks": {
      "type": "service",
      "version": "2021-08-17",
      "operations": [
        {
          "target": "com.amazonaws.gamesparks#CreateGame"
        },
        {
          "target": "com.amazonaws.gamesparks#CreateSnapshot"
        },
        {
          "target": "com.amazonaws.gamesparks#CreateStage"
        },
        {
          "target": "com.amazonaws.gamesparks#DeleteGame"
        },
        {
          "target": "com.amazonaws.gamesparks#DeleteStage"
        },
        {
          "target": "com.amazonaws.gamesparks#DisconnectPlayer"
        },
        {
          "target": "com.amazonaws.gamesparks#ExportSnapshot"
        },
        {
          "target": "com.amazonaws.gamesparks#GetExtension"
        },
        {
          "target": "com.amazonaws.gamesparks#GetExtensionVersion"
        },
        {
          "target": "com.amazonaws.gamesparks#GetGame"
        },
        {
          "target": "com.amazonaws.gamesparks#GetGameConfiguration"
        },
        {
          "target": "com.amazonaws.gamesparks#GetGeneratedCodeJob"
        },
        {
          "target": "com.amazonaws.gamesparks#GetPlayerConnectionStatus"
        },
        {
          "target": "com.amazonaws.gamesparks#GetSnapshot"
        },
        {
          "target": "com.amazonaws.gamesparks#GetStage"
        },
        {
          "target": "com.amazonaws.gamesparks#GetStageDeployment"
        },
        {
          "target": "com.amazonaws.gamesparks#ImportGameConfiguration"
        },
        {
          "target": "com.amazonaws.gamesparks#ListExtensions"
        },
        {
          "target": "com.amazonaws.gamesparks#ListExtensionVersions"
        },
        {
          "target": "com.amazonaws.gamesparks#ListGames"
        },
        {
          "target": "com.amazonaws.gamesparks#ListGeneratedCodeJobs"
        },
        {
          "target": "com.amazonaws.gamesparks#ListSnapshots"
        },
        {
          "target": "com.amazonaws.gamesparks#ListStageDeployments"
        },
        {
          "target": "com.amazonaws.gamesparks#ListStages"
        },
        {
          "target": "com.amazonaws.gamesparks#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.gamesparks#StartGeneratedCodeJob"
        },
        {
          "target": "com.amazonaws.gamesparks#StartStageDeployment"
        },
        {
          "target": "com.amazonaws.gamesparks#TagResource"
        },
        {
          "target": "com.amazonaws.gamesparks#UntagResource"
        },
        {
          "target": "com.amazonaws.gamesparks#UpdateGame"
        },
        {
          "target": "com.amazonaws.gamesparks#UpdateGameConfiguration"
        },
        {
          "target": "com.amazonaws.gamesparks#UpdateSnapshot"
        },
        {
          "target": "com.amazonaws.gamesparks#UpdateStage"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "GameSparks"
        },
        "aws.auth#sigv4": {
          "name": "gamesparks"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p/>",
        "smithy.api#title": "GameSparks",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://gamesparks-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://gamesparks-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://gamesparks.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://gamesparks.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://gamesparks.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.gamesparks#GameState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.gamesparks#GameSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#GameDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the game.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.gamesparks#GameState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the game.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.gamesparks#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the game.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The summary of the properties of a game.</p>"
      }
    },
    "com.amazonaws.gamesparks#GameSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#GameSummary"
      }
    },
    "com.amazonaws.gamesparks#GameTerminationProtection": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.gamesparks#GeneratedCodeJobDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 250
        },
        "smithy.api#pattern": "^\\S(.*\\S)?$|^$"
      }
    },
    "com.amazonaws.gamesparks#GeneratedCodeJobDetails": {
      "type": "structure",
      "members": {
        "S3Url": {
          "target": "com.amazonaws.gamesparks#S3PresignedUrl",
          "traits": {
            "smithy.api#documentation": "<p>A presigned URL that can be used to download the generated code.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobState",
          "traits": {
            "smithy.api#documentation": "<p>The status of the generated code job</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the generated code job.</p>"
          }
        },
        "ExpirationTime": {
          "target": "com.amazonaws.gamesparks#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The expiration date and time for the download URL.</p>\n         <p>\n      The download URL us guaranteed to be available until at least this time.\n      </p>"
          }
        },
        "GeneratedCodeJobId": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the generated code job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a generated code job.</p>"
      }
    },
    "com.amazonaws.gamesparks#GeneratedCodeJobDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.gamesparks#GeneratedCodeJobDetails"
      }
    },
    "com.amazonaws.gamesparks#GeneratedCodeJobId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.gamesparks#GeneratedCodeJobState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "PENDING",
            "name": "PENDING"
          }
        ]
      }
    },
    "com.amazonaws.gamesparks#Generator": {
      "type": "structure",
      "members": {
        "TargetPlatform": {
          "target": "com.amazonaws.gamesparks#TargetPlatform",
          "traits": {
            "smithy.api#documentation": "<p>The platform that will be used to run the generated code.</p>"
          }
        },
        "Language": {
          "target": "com.amazonaws.gamesparks#Language",
          "traits": {
            "smithy.api#documentation": "<p>The programming language for the generated code.</p>\n         <p>\n      Not all languages are supported for each platform. For cases where multiple languages are supported,\n      this parameter specifies the language to be used. If this value is omitted, the default language\n      for the target platform will be used.\n      </p>"
          }
        },
        "GameSdkVersion": {
          "target": "com.amazonaws.gamesparks#GameSdkVersion",
          "traits": {
            "smithy.api#documentation": "<p>The target version of the GameSparks Game SDK.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties that specify the code generator for a generated code job.</p>"
      }
    },
    "com.amazonaws.gamesparks#GetExtension": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetExtensionRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetExtensionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a specified extension.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/extension/{Namespace}/{Name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetExtensionRequest": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.gamesparks#ExtensionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace (qualifier) of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamesparks#ExtensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetExtensionResult": {
      "type": "structure",
      "members": {
        "Extension": {
          "target": "com.amazonaws.gamesparks#ExtensionDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the extension.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetExtensionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetExtensionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetExtensionVersionResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a specified extension version.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/extension/{Namespace}/{Name}/version/{ExtensionVersion}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetExtensionVersionRequest": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.gamesparks#ExtensionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace (qualifier) of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamesparks#ExtensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ExtensionVersion": {
          "target": "com.amazonaws.gamesparks#ExtensionVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetExtensionVersionResult": {
      "type": "structure",
      "members": {
        "ExtensionVersion": {
          "target": "com.amazonaws.gamesparks#ExtensionVersionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The version of the extension.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGame": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetGameRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetGameResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a game.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetGameConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetGameConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetGameConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the configuration of the game.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/configuration",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetGameConfigurationRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Sections": {
          "target": "com.amazonaws.gamesparks#SectionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of sections to return.</p>",
            "smithy.api#httpQuery": "Sections"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGameConfigurationResult": {
      "type": "structure",
      "members": {
        "GameConfiguration": {
          "target": "com.amazonaws.gamesparks#GameConfigurationDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the game configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGameRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGameResult": {
      "type": "structure",
      "members": {
        "Game": {
          "target": "com.amazonaws.gamesparks#GameDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the game.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGeneratedCodeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetGeneratedCodeJobRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetGeneratedCodeJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets details about a job that is generating code for a snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-job/{JobId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetGeneratedCodeJobRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.gamesparks#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot for the code generation job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the code generation job.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetGeneratedCodeJobResult": {
      "type": "structure",
      "members": {
        "GeneratedCodeJob": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the generated code job.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetPlayerConnectionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetPlayerConnectionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetPlayerConnectionStatusResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status of a player's connection to the game runtime.</p>\n         <p>\n      It's possible for a single player to have multiple connections to the game runtime.\n      If a player is not connected, this operation returns an empty list.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/runtime/game/{GameName}/stage/{StageName}/player/{PlayerId}/connection",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetPlayerConnectionStatusRequest": {
      "type": "structure",
      "members": {
        "PlayerId": {
          "target": "com.amazonaws.gamesparks#PlayerId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier representing a player.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetPlayerConnectionStatusResult": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.gamesparks#ConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of connection ids, one for each connection in use by the player.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a copy of the game configuration in a snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/snapshot/{SnapshotId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetSnapshotRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.gamesparks#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Sections": {
          "target": "com.amazonaws.gamesparks#SectionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of game configuration sections to be described.</p>",
            "smithy.api#httpQuery": "Sections"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetSnapshotResult": {
      "type": "structure",
      "members": {
        "Snapshot": {
          "target": "com.amazonaws.gamesparks#SnapshotDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties that provide details of the snapshot.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetStage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetStageRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetStageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a stage.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/stage/{StageName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetStageDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#GetStageDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#GetStageDeploymentResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a stage deployment.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/stage/{StageName}/deployment",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#GetStageDeploymentRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.gamesparks#DeploymentId",
          "traits": {
            "smithy.api#documentation": "<p>\n      The identifier of the stage deployment.\n      <code>StartStageDeployment</code> returns the identifier that you use here.\n      </p>",
            "smithy.api#httpQuery": "DeploymentId"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetStageDeploymentResult": {
      "type": "structure",
      "members": {
        "StageDeployment": {
          "target": "com.amazonaws.gamesparks#StageDeploymentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties that provide details of the stage deployment.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetStageRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#GetStageResult": {
      "type": "structure",
      "members": {
        "Stage": {
          "target": "com.amazonaws.gamesparks#StageDetails",
          "traits": {
            "smithy.api#documentation": "<p>Properties that provide details of the stage.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ImportGameConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ImportGameConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ImportGameConfigurationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports a game configuration.</p>\n         <p>\n      This operation replaces the current configuration of the game with the provided input.\n      This is not a reversible operation. If you want to preserve the previous configuration,\n      use <code>CreateSnapshot</code> to make a new snapshot before importing.\n      </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/game/{GameName}/configuration",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.gamesparks#ImportGameConfigurationRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ImportSource": {
          "target": "com.amazonaws.gamesparks#ImportGameConfigurationSource",
          "traits": {
            "smithy.api#documentation": "<p>The source used to import configuration sections.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ImportGameConfigurationResult": {
      "type": "structure",
      "members": {
        "GameConfiguration": {
          "target": "com.amazonaws.gamesparks#GameConfigurationDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about the game configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ImportGameConfigurationSource": {
      "type": "structure",
      "members": {
        "File": {
          "target": "com.amazonaws.gamesparks#RawGameConfigurationData",
          "traits": {
            "smithy.api#documentation": "<p>The JSON string containing the configuration sections.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source used to import configuration sections.</p>"
      }
    },
    "com.amazonaws.gamesparks#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.gamesparks#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service encountered an internal error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.gamesparks#Language": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        },
        "smithy.api#pattern": "^[a-zA-Z_]+$"
      }
    },
    "com.amazonaws.gamesparks#ListExtensionVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListExtensionVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListExtensionVersionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of available versions for the extension.</p>\n         <p>\n      Each time an API change is made to an extension, the version is incremented.\n      The list retrieved by this operation shows the versions that are currently available.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/extension/{Namespace}/{Name}/version",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ExtensionVersions",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListExtensionVersionsRequest": {
      "type": "structure",
      "members": {
        "Namespace": {
          "target": "com.amazonaws.gamesparks#ExtensionNamespace",
          "traits": {
            "smithy.api#documentation": "<p>The namespace (qualifier) of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.gamesparks#ExtensionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the extension.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListExtensionVersionsResult": {
      "type": "structure",
      "members": {
        "ExtensionVersions": {
          "target": "com.amazonaws.gamesparks#ExtensionVersionDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of extension versions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListExtensions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListExtensionsRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListExtensionsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of available extensions.</p>\n         <p>\n      Extensions provide features that games can use from scripts.\n      </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/extension",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Extensions",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListExtensionsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListExtensionsResult": {
      "type": "structure",
      "members": {
        "Extensions": {
          "target": "com.amazonaws.gamesparks#ExtensionDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of extensions.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListGames": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListGamesRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListGamesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of games.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Games",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListGamesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListGamesResult": {
      "type": "structure",
      "members": {
        "Games": {
          "target": "com.amazonaws.gamesparks#GameSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of games.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListGeneratedCodeJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListGeneratedCodeJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListGeneratedCodeJobsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of code generation jobs for a snapshot.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/snapshot/{SnapshotId}/generated-sdk-code-jobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "GeneratedCodeJobs",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListGeneratedCodeJobsRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SnapshotId": {
          "target": "com.amazonaws.gamesparks#SnapshotId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the snapshot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListGeneratedCodeJobsResult": {
      "type": "structure",
      "members": {
        "GeneratedCodeJobs": {
          "target": "com.amazonaws.gamesparks#GeneratedCodeJobDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of generated code jobs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListSnapshots": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListSnapshotsRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListSnapshotsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of snapshot summaries from the game.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/snapshot",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Snapshots",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListSnapshotsRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListSnapshotsResult": {
      "type": "structure",
      "members": {
        "Snapshots": {
          "target": "com.amazonaws.gamesparks#SnapshotSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of snapshot summaries.\n      You can use the returned snapshot IDs in the <code>UpdateSnapshot</code> and <code>GetSnapshot</code> operations.\n      </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListStageDeployments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListStageDeploymentsRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListStageDeploymentsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of stage deployment summaries from the game.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/stage/{StageName}/deployments",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "StageDeployments",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListStageDeploymentsRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StageName": {
          "target": "com.amazonaws.gamesparks#StageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stage.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListStageDeploymentsResult": {
      "type": "structure",
      "members": {
        "StageDeployments": {
          "target": "com.amazonaws.gamesparks#StageDeploymentList",
          "traits": {
            "smithy.api#documentation": "<p>\n      A list of stage deployment summaries.\n      You can use the deployment IDs in the <code>UpdateStageDeployment</code> and <code>GetStageDeployment</code> actions.\n      </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use this value when making the next call to this operation to continue where the last one finished.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListStages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.gamesparks#ListStagesRequest"
      },
      "output": {
        "target": "com.amazonaws.gamesparks#ListStagesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.gamesparks#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.gamesparks#InternalServerException"
        },
        {
          "target": "com.amazonaws.gamesparks#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.gamesparks#ThrottlingException"
        },
        {
          "target": "com.amazonaws.gamesparks#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a paginated list of stage summaries from the game.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/game/{GameName}/stage",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Stages",
          "pageSize": "MaxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.gamesparks#ListStagesRequest": {
      "type": "structure",
      "members": {
        "GameName": {
          "target": "com.amazonaws.gamesparks#GameName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the game.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.gamesparks#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>\n         <p>\n      Use this parameter with NextToken to get results as a set of sequential pages.\n      </p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.gamesparks#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that indicates the start of the next sequential page of results.</p>\n         <p>\n      Use the token that is returned with a previous call to this operation.\n      To start at the beginning of the result set, do not specify a value.\n      </p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.gamesparks#ListStagesResult": {
      "type": "structure",
      "members": {
        "Stages": {
          "target": "com.amazonaws.gamesparks#StageSummaryList",
          "traits": {
[...]
