{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.georoutes#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.georoutes#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#externalDocumentation": {
          "Implementation Guide": "https://github.com/paseto-standard/paseto-spec/blob/master/docs/02-Implementation-Guide/03-Algorithm-Lucidity.md"
        },
        "smithy.api#length": {
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#BeforeWaypointsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#WaypointIndex"
      }
    },
    "com.amazonaws.georoutes#BoundingBox": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-5"
        },
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CalculateIsolines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateIsolinesRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateIsolinesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Calculates areas that can be reached within specified time or distance thresholds from a given point. For example, you can use this operation to determine the area within a 30-minute drive of a store location, find neighborhoods within walking distance of a school, or identify delivery zones based on drive time.</p> <p>Isolines (also known as isochrones for time-based calculations) are useful for various applications including:</p> <ul> <li> <p>Service area visualization - Show customers the area you can serve within promised delivery times</p> </li> <li> <p>Site selection - Analyze potential business locations based on population within travel distance</p> </li> <li> <p>Site selection - Determine areas that can be reached within specified response times</p> </li> </ul> <note> <p>Route preferences such as avoiding toll roads or ferries are treated as preferences rather than absolute restrictions. If a viable route cannot be calculated while honoring all preferences, some may be ignored.</p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-isolines.html\">Calculate isolines</a> in the <i>Amazon Location Service Developer Guide</i>.</p>",
        "smithy.api#http": {
          "uri": "/v2/isolines",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateIsolinesSuccess",
            "params": {
              "Thresholds": {
                "Time": [60]
              },
              "Origin": [-123.116796, 49.281476]
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateIsolinesRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#IsolineAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p>Enables special road types or features that should be considered for routing even if they might be restricted by default for the selected travel mode. These include high-occupancy vehicle and toll lanes.</p>"
          }
        },
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Determine areas from which <code>Destination</code> can be reached by this time, taking into account predicted traffic conditions and working backward to account for congestion patterns. This attribute cannot be used together with <code>DepartureTime</code> or <code>DepartNow</code>. Specified as an ISO-8601 timestamp with timezone offset.</p> <p>Time format: <code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies road types, features, or areas to avoid (if possible) when calculating reachable areas. These are treated as preferences rather than strict constraints—if a route cannot be calculated without using an avoided feature, that avoidance preference may be ignored.</p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, uses the current time as the departure time and takes current traffic conditions into account. This attribute cannot be used together with <code>DepartureTime</code> or <code>ArrivalTime</code>.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Determine areas that can be reached when departing at this time, taking into account predicted traffic conditions. This attribute cannot be used together with <code>ArrivalTime</code> or <code>DepartNow</code>. Specified as an ISO-8601 timestamp with timezone offset.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>An optional destination point, specified as <code>[longitude, latitude]</code> coordinates. When provided, the service calculates areas from which this destination can be reached within the specified thresholds. This reverses the usual isoline calculation to show areas that could reach your location, rather than areas you could reach from your location. Either <code>Origin</code> or <code>Destination</code> must be provided.</p>"
          }
        },
        "DestinationOptions": {
          "target": "com.amazonaws.georoutes#IsolineDestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options that control how the destination point is matched to the road network and how routes can approach it. These options help improve travel time accuracy by accounting for real-world access to the destination.</p>"
          }
        },
        "IsolineGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the returned IsolineGeometry. </p> <p>Default value:<code>FlexiblePolyline</code> </p>"
          }
        },
        "IsolineGranularity": {
          "target": "com.amazonaws.georoutes#IsolineGranularityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Controls the detail level of the generated isolines. Higher granularity produces smoother shapes but requires more processing time and results in larger responses.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Location Service API Key with access to this action. If omitted, the request must be signed using Signature Version 4.</p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "OptimizeIsolineFor": {
          "target": "com.amazonaws.georoutes#IsolineOptimizationObjective",
          "traits": {
            "smithy.api#documentation": "<p>Controls the trade-off between calculation speed and isoline precision. Choose <code> FastCalculation</code> for quicker results with less detail, <code>AccurateCalculation</code> for more precise results, or <code>BalancedCalculation</code> for a middle ground.</p> <p>Default value: <code>BalancedCalculation</code> </p>"
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether routes prioritize shortest travel time (<code>FastestRoute</code>) or shortest physical distance (<code>ShortestRoute</code>) when calculating reachable areas.</p> <p>Default value: <code>FastestRoute</code> </p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The starting point for isoline calculations, specified as <code>[longitude, latitude]</code> coordinates. For example, this could be a store location, service center, or any point from which you want to calculate reachable areas. Either <code>Origin</code> or <code>Destination</code> must be provided.</p>"
          }
        },
        "OriginOptions": {
          "target": "com.amazonaws.georoutes#IsolineOriginOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options that control how the origin point is matched to the road network and how routes can depart from it. These options help improve travel time accuracy by accounting for real-world access from the origin.</p>"
          }
        },
        "Thresholds": {
          "target": "com.amazonaws.georoutes#IsolineThresholds",
          "traits": {
            "smithy.api#documentation": "<p>The distance or time thresholds used to determine reachable areas. You can specify up to five thresholds (which all must be the same type) to calculate multiple isolines in a single request. For example, to determine the areas that are reachable within 10 and 20 minutes of the origin, specify time thresholds of 600 and 1200 seconds.</p> <p>You incur a calculation charge for each threshold. Using a large number of thresholds in a request can lead to unexpected charges. For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html\">Routes pricing</a> in the <i>Amazon Location Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#IsolineTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p>Configures how real-time and historical traffic data affects isoline calculations. Traffic patterns can significantly impact reachable areas, especially during peak hours.</p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#IsolineTravelMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of transportation to use for calculations. This affects which road types or features can be used, estimated speed, and the traffic levels that are applied.</p> <ul> <li> <p> <code>Car</code>—Standard passenger vehicle routing using roads accessible to cars</p> </li> <li> <p> <code>Pedestrian</code>—Walking routes using pedestrian paths, sidewalks, and crossings</p> </li> <li> <p> <code>Scooter</code>—Light two-wheeled vehicle routing using roads and paths accessible to scooters</p> </li> <li> <p> <code>Truck</code>—Commercial truck routing considering vehicle dimensions, weight restrictions, and hazardous material regulations</p> </li> </ul> <note> <p>The mode <code>Scooter</code> also applies to motorcycles; set this to <code>Scooter</code> when calculating isolines for motorcycles.</p> </note> <p>Default value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#IsolineTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Additional attributes that refine how reachable areas are calculated based on specific vehicle characteristics. These options help produce more accurate results by accounting for real-world constraints and capabilities.</p> <p>For example:</p> <ul> <li> <p>For trucks (<code>Truck</code>), specify dimensions, weight limits, and hazardous cargo restrictions to ensure isolines only include roads that can physically and legally accommodate the vehicle</p> </li> <li> <p>For cars (<code>Car</code>), set maximum speed capabilities or indicate high-occupancy vehicle eligibility to better estimate reachable areas</p> </li> <li> <p>For scooters (<code>Scooter</code>), specify engine type and speed limitations to more accurately model their travel capabilities</p> </li> </ul> <p>Without these options, calculations use default assumptions that may not match your specific use case.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateIsolinesResponse": {
      "type": "structure",
      "members": {
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of arrival at the destination, used for traffic calculations. This attribute is returned only if the <code>Destination</code> and <code>ArrivalTime</code> attributes were provided in the request.</p> <p>Time format: <code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from the origin, used for traffic calculations. This attribute is returned when <code>Origin</code> was provided in the request and either a specific departure time was requested (<code>DepartureTime</code>) or <code>DepartNow</code> was set to true.</p> <p>Time format: <code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "IsolineGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the returned geometries, matching the format specified in the request. Either <code> FlexiblePolyline</code> for compact encoding or <code>Simple</code> for GeoJSON-compatible coordinates.</p> <p>Default value:<code>FlexiblePolyline</code> </p>",
            "smithy.api#required": {}
          }
        },
        "Isolines": {
          "target": "com.amazonaws.georoutes#IsolineList",
          "traits": {
            "smithy.api#documentation": "<p>Reachable areas, or isolines, for each threshold specified in the request.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket applied to this calculation. Different buckets apply based on the travel mode and thresholds used.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "SnappedDestination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The actual point on the road network used for calculations, which may differ from the requested destination if <code>Destination</code> was not directly on a road.</p>"
          }
        },
        "SnappedOrigin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The actual point on the road network used for calculations, which may differ from the requested origin if <code>Origin</code> was not directly on a road.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrix": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateRouteMatrixRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateRouteMatrixResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p> Use <code>CalculateRouteMatrix</code> to compute results for all pairs of Origins to Destinations. Each row corresponds to one entry in Origins. Each entry in the row corresponds to the route from that entry in Origins to an entry in Destinations positions.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route-matrix.html\">Calculate route matrix</a> in the <i>Amazon Location Service Developer Guide</i>.</p>",
        "smithy.api#http": {
          "uri": "/v2/route-matrix",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateRouteMatrixSuccess",
            "params": {
              "Origins": [
                {
                  "Position": [-123.11679, 49.28147]
                }
              ],
              "Destinations": [
                {
                  "Position": [-123.11231, 49.28897192166]
                }
              ],
              "RoutingBoundary": {
                "Unbounded": true
              }
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrixRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#RouteMatrixAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are allowed while calculating a route.</p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#RouteMatrixAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p> Features that are avoided while calculating a route. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>TollRoads</code>, <code>Ferries</code>, and <code>ControlledAccessHighways</code>. </p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Uses the current time as the time of departure.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from the origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.georoutes#RouteMatrixDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>List of destinations for the route in World Geodetic System (WGS 84) format: [longitude, latitude].</p> <note> <p>Route calculations are billed for each origin and destination pair. If you use a large matrix of origins and destinations, your costs will increase accordingly. For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html\">Routes pricing</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>The maximum number of destinations depends on the routing boundary configuration:</p> <ul> <li> <p>With <code>RoutingBoundary.Geometry</code> set: maximum 500 destinations</p> </li> <li> <p>With <code>RoutingBoundary.Unbounded</code> set to <code>true</code>: maximum 100 destinations</p> </li> <li> <p>For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers in <code>ap-southeast-1</code> and <code>ap-southeast-5</code>: maximum 350 destinations</p> </li> </ul> <p>The total matrix size (origins × destinations) must not exceed:</p> <ul> <li> <p>With <code>RoutingBoundary.Geometry</code>: 160,000</p> </li> <li> <p>With <code>RoutingBoundary.Unbounded</code>: 100</p> </li> <li> <p>For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers in <code>ap-southeast-1</code> and <code>ap-southeast-5</code>: 122,500</p> </li> </ul>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "Exclude": {
          "target": "com.amazonaws.georoutes#RouteMatrixExclusionOptions",
          "traits": {
            "smithy.api#documentation": "<p> Features to be strictly excluded while calculating the route. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Controls the trade-off between finding the shortest travel time (<code>FastestRoute</code>) and the shortest distance (<code>ShortestRoute</code>) when calculating reachable areas.</p> <p>Default value: <code>FastestRoute</code> </p>"
          }
        },
        "Origins": {
          "target": "com.amazonaws.georoutes#RouteMatrixOriginList",
          "traits": {
            "smithy.api#documentation": "<p>List of origins for the route in World Geodetic System (WGS 84) format: [longitude, latitude].</p> <note> <p>Route calculations are billed for each origin and destination pair. Using a large amount of Origins in a request can lead you to incur unexpected charges. For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html\">Routes pricing</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>The maximum number of origins depends on the routing boundary configuration:</p> <ul> <li> <p>With <code>RoutingBoundary.Geometry</code> set: maximum 500 origins</p> </li> <li> <p>With <code>RoutingBoundary.Unbounded</code> set to <code>true</code>: maximum 15 origins</p> </li> <li> <p>For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers in <code>ap-southeast-1</code> and <code>ap-southeast-5</code>: maximum 350 origins</p> </li> </ul> <p>The total matrix size (origins × destinations) must not exceed:</p> <ul> <li> <p>With <code>RoutingBoundary.Geometry</code>: 160,000</p> </li> <li> <p>With <code>RoutingBoundary.Unbounded</code>: 100</p> </li> <li> <p>For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers in <code>ap-southeast-1</code> and <code>ap-southeast-5</code>: 122,500</p> </li> </ul>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "RoutingBoundary": {
          "target": "com.amazonaws.georoutes#RouteMatrixBoundary",
          "traits": {
            "smithy.api#documentation": "<p> Boundary within which the matrix is to be calculated. All data, origins and destinations outside the boundary are considered invalid. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>Unbounded</code> set to <code>true</code>. </p> <p>Default value: <code>Unbounded set to true</code> </p> <note> <p>When <code>AutoCircle</code> is set in the request, the response routing boundary will return <code>Circle</code> derived from the <code>AutoCircle</code> settings.</p> </note>"
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#RouteMatrixTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p> Traffic related options. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#RouteMatrixTravelMode",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>Car</code>, <code>Pedestrian</code>, and <code>Scooter</code>. </p> <p>Default value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#RouteMatrixTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p> Travel mode related options for the provided travel mode. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrixResponse": {
      "type": "structure",
      "members": {
        "ErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The count of error results in the route matrix. If this number is 0, all routes were calculated successfully.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "RouteMatrix": {
          "target": "com.amazonaws.georoutes#RouteMatrix",
          "traits": {
            "smithy.api#documentation": "<p>The calculated route matrix containing the results for all pairs of Origins to Destination positions. Each row corresponds to one entry in Origins. Each entry in the row corresponds to the route from that entry in Origins to an entry in Destination positions.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingBoundary": {
          "target": "com.amazonaws.georoutes#RouteMatrixBoundary",
          "traits": {
            "smithy.api#documentation": "<p>Boundary within which the matrix is to be calculated. All data, origins and destinations outside the boundary are considered invalid.</p> <note> <p>When <code>AutoCircle</code> is set in the request, the response routing boundary will return <code>Circle</code> derived from the <code>AutoCircle</code> settings.</p> </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRoutes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateRoutesRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateRoutesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p> <code>CalculateRoutes</code> computes routes given the following required parameters: <code>Origin</code> and <code>Destination</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-routes.html\">Calculate routes</a> in the <i>Amazon Location Service Developer Guide</i>.</p>",
        "smithy.api#http": {
          "uri": "/v2/routes",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateRoutesSuccess",
            "params": {
              "Origin": [-123.253374, 49.351673],
              "Destination": [-123.930756, 49.1314]
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateRoutesRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#RouteAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p> Features that are allowed while calculating a route. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p> Time of arrival at the destination. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#RouteAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p> Features that are avoided while calculating a route. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>ControlledAccessHighways</code>, <code>Ferries</code>, and <code>TollRoads</code> </p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Uses the current time as the time of departure.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from the origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The final position for the route. In the World Geodetic System (WGS 84) format: <code>[longitude, latitude]</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationOptions": {
          "target": "com.amazonaws.georoutes#RouteDestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p> Destination related options. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "Driver": {
          "target": "com.amazonaws.georoutes#RouteDriverOptions",
          "traits": {
            "smithy.api#documentation": "<p> Driver related options. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.georoutes#RouteExclusionOptions",
          "traits": {
            "smithy.api#documentation": "<p> Features to be strictly excluded while calculating the route. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "InstructionsMeasurementSystem": {
          "target": "com.amazonaws.georoutes#MeasurementSystem",
          "traits": {
            "smithy.api#documentation": "<p>Measurement system to be used for instructions within steps in the response.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "Languages": {
          "target": "com.amazonaws.georoutes#LanguageTagList",
          "traits": {
            "smithy.api#documentation": "<p> List of languages for instructions within steps in the response. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p> <note> <p>Instructions in the requested language are returned only if they are available.</p> </note>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "LegAdditionalFeatures": {
          "target": "com.amazonaws.georoutes#RouteLegAdditionalFeatureList",
          "traits": {
            "smithy.api#documentation": "<p> A list of optional additional parameters such as timezone that can be requested for each result. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>PassThroughWaypoints</code>, <code>Summary</code>, and <code>TravelStepInstructions</code> </p> <ul> <li> <p> <code>Elevation</code>: Retrieves the elevation information for each location.</p> </li> <li> <p> <code>Incidents</code>: Provides information on traffic incidents along the route.</p> </li> <li> <p> <code>PassThroughWaypoints</code>: Indicates waypoints that are passed through without stopping.</p> </li> <li> <p> <code>Summary</code>: Returns a summary of the route, including distance and duration.</p> </li> <li> <p> <code>Tolls</code>: Supplies toll cost information along the route.</p> </li> <li> <p> <code>TravelStepInstructions</code>: Provides step-by-step instructions for travel along the route.</p> </li> <li> <p> <code>TruckRoadTypes</code>: Returns information about road types suitable for trucks.</p> </li> <li> <p> <code>TypicalDuration</code>: Gives typical travel duration based on historical data.</p> </li> <li> <p> <code>Zones</code>: Specifies the time zone information for each waypoint.</p> </li> </ul>"
          }
        },
        "LegGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the geometry returned for each leg of the route. You can choose between two different geometry encoding formats.</p> <p> <code>FlexiblePolyline</code>: A compact and precise encoding format for the leg geometry. For more information on the format, see the GitHub repository for <a href=\"https://github.com/aws-geospatial/polyline\">https://github.com/aws-geospatial/polyline</a>.</p> <p> <code>Simple</code>: A less compact encoding, which is easier to decode but may be less precise and result in larger payloads.</p>"
          }
        },
        "MaxAlternatives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of alternative routes to be provided in the response, if available. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only up to 3 alternative routes. </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5
            }
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Controls the trade-off between achieving the shortest travel time (<code>FastestRoute</code>) and achieving the shortest physical distance ((<code>ShortestRoute</code>) when calculating each route in the matrix.</p> <p>Default value: <code>FastestRoute</code> </p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route in World Geodetic System (WGS 84) format: [longitude, latitude].</p>",
            "smithy.api#required": {}
          }
        },
        "OriginOptions": {
          "target": "com.amazonaws.georoutes#RouteOriginOptions",
          "traits": {
            "smithy.api#documentation": "<p> Specifies how the origin point should be matched to the road network and any routing constraints that apply when the traveler is departing the origin. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "SpanAdditionalFeatures": {
          "target": "com.amazonaws.georoutes#RouteSpanAdditionalFeatureList",
          "traits": {
            "smithy.api#documentation": "<p> A list of optional features such as <code>SpeedLimit</code> that can be requested for a Span. A span is a section of a Leg for which the requested features have the same values. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "Tolls": {
          "target": "com.amazonaws.georoutes#RouteTollOptions",
          "traits": {
            "smithy.api#documentation": "<p> Toll related options. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#RouteTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p> Traffic related options. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#RouteTravelMode",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>Car</code>, <code>Pedestrian</code>, and <code>Scooter</code> values. </p> <p>Default value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#RouteTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p> Travel mode related options for the provided travel mode. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions support only <code>Car</code> and <code>Pedestrian</code> travel mode options. </p>"
          }
        },
        "TravelStepType": {
          "target": "com.amazonaws.georoutes#RouteTravelStepType",
          "traits": {
            "smithy.api#documentation": "<p>Type of step returned by the response. <code>Default</code> provides basic steps intended for web based applications. <code>TurnByTurn</code> provides detailed instructions with more granularity intended for a turn based navigation system. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions <code>Default</code> does not return any steps. </p>"
          }
        },
        "Waypoints": {
          "target": "com.amazonaws.georoutes#RouteWaypointList",
          "traits": {
            "smithy.api#documentation": "<p> List of waypoints between the Origin and Destination. For <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers, <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions max length is <code>100</code>. </p> <p>Max length: <code>23</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRoutesResponse": {
      "type": "structure",
      "members": {
        "LegGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the geometry returned for each leg of the route.</p>",
            "smithy.api#required": {}
          }
        },
        "Notices": {
          "target": "com.amazonaws.georoutes#RouteResponseNoticeList",
          "traits": {
            "smithy.api#documentation": "<p> Notices are additional information returned that indicate issues that occurred during route calculation. Not supported in <code>ap-southeast-1</code> and <code>ap-southeast-5</code> regions for <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/GrabMaps.html\">GrabMaps</a> customers. </p>",
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "Routes": {
          "target": "com.amazonaws.georoutes#RouteList",
          "traits": {
            "smithy.api#documentation": "<p>The path from the origin to the destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#Circle": {
      "type": "structure",
      "members": {
        "Center": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Center of the Circle in World Geodetic System (WGS 84) format: [longitude, latitude].</p> <p>Example: <code>[-123.1174, 49.2847]</code> represents the position with longitude <code>-123.1174</code> and latitude <code>49.2847</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "com.amazonaws.georoutes#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>Radius of the Circle.</p> <p> <b>Unit</b>: <code>meters</code> </p> <p>Valid Range: Minimum value of 0. Maximum value of 200000.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry defined as a circle. The circle defines the routing boundary area. Any waypoints outside the circle will result in a route matrix entry error.</p> <p>You can specify a <code>Circle</code> directly in the request, or it will be auto-derived when <code>AutoCircle</code> is used. When <code>AutoCircle</code> is set in the request, the response routing boundary will return <code>Circle</code> derived from the <code>AutoCircle</code> settings.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#ClusterIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.georoutes#Corridor": {
      "type": "structure",
      "members": {
        "LineString": {
          "target": "com.amazonaws.georoutes#LineString",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Radius that defines the width of the corridor.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry defined as a corridor - a LineString with a radius that defines the width of the corridor.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 3
        },
        "smithy.api#pattern": "^([A-Z]{2}|[A-Z]{3})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCode3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#CountryCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$"
      }
    },
    "com.amazonaws.georoutes#DayOfWeek": {
      "type": "enum",
      "members": {
        "MONDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "TUESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        },
        "WEDNESDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wednesday"
          }
        },
        "THURSDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thursday"
          }
        },
        "FRIDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friday"
          }
        },
        "SATURDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Saturday"
          }
        },
        "SUNDAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sunday"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DimensionCentimeters": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DistanceMeters": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DistanceThresholdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#DistanceMeters",
        "traits": {
          "smithy.api#range": {
            "min": 0,
            "max": 300000
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.georoutes#DurationSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#EnergyKilowattHours": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0.0
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#GeometryFormat": {
      "type": "enum",
      "members": {
        "FLEXIBLE_POLYLINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FlexiblePolyline"
          }
        },
        "SIMPLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Simple"
          }
        }
      }
    },
    "com.amazonaws.georoutes#Heading": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0.0,
          "max": 360.0
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#HexColor": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "#[0-9A-Fa-f]{6}",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.amazonaws.georoutes#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.georoutes#Isoline": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.georoutes#IsolineConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>Lines connecting separate parts of the reachable area that can be reached within the same threshold. These occur when areas are reachable but not contiguous, such as when separated by water or unroutable areas. When present, these lines represent actual transportation network segments (such as ferry routes or bridges) that connect the separated areas.</p>",
            "smithy.api#required": {}
          }
        },
        "DistanceThreshold": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The travel distance in meters used to calculate this isoline, if distance-based thresholds were specified in the request.</p>"
          }
        },
        "Geometries": {
          "target": "com.amazonaws.georoutes#IsolineShapeGeometryList",
          "traits": {
            "smithy.api#documentation": "<p>The shapes that define the reachable area, provided in the requested geometry format.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeThreshold": {
          "target": "com.amazonaws.georoutes#DurationSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The travel time in seconds used to calculate this isoline, if time-based thresholds were specified in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a single reachable area calculated for a specific threshold.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAllowOptions": {
      "type": "structure",
      "members": {
        "Hot": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, allows the use of HOT (high-occupancy toll) lanes, which may affect travel times and reachable areas.</p> <p>Default value: <code>false</code> </p>"
          }
        },
        "Hov": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>When true, allows the use of HOV (high-occupancy vehicle) lanes, which may affect travel times and reachable areas.</p> <p>Default value: <code>false</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Special road types or features that should be considered available for routing. For example, this attribute can be used to allow the use of HOV (high-occupancy vehicle) or HOT (high-occupancy toll) lanes, even if they would otherwise not be.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceArea": {
      "type": "structure",
      "members": {
        "Except": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometryList",
          "traits": {
            "smithy.api#documentation": "<p>Areas within the primary avoidance geometry where travel is allowed. For example, you might want to avoid a neighborhood but allow travel on a major road that passes through it.</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry",
          "traits": {
            "smithy.api#documentation": "<p>The primary area to avoid, specified using a bounding box, corridor, polygon, or polyline corridor.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an area to avoid when calculating routes. Consists of a primary geometry to avoid, with the ability to specify exception areas within that geometry where travel is permitted.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.georoutes#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>A rectangular area defined by its southwest and northeast corners: <code>[min longitude, min latitude, max longitude, max latitude]</code>.</p>"
          }
        },
        "Corridor": {
          "target": "com.amazonaws.georoutes#Corridor",
          "traits": {
            "smithy.api#documentation": "<p>A buffer zone around a line, defined by a series of coordinates and a radius in meters.</p>"
          }
        },
        "Polygon": {
          "target": "com.amazonaws.georoutes#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p>A polygon defined by a list of coordinate rings. The first ring defines the outer boundary; subsequent rings will be ignored.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            }
          }
        },
        "PolylineCorridor": {
          "target": "com.amazonaws.georoutes#PolylineCorridor",
          "traits": {
            "smithy.api#documentation": "<p>A buffer zone around a compressed polyline, defined by an encoded polyline string and a radius in meters. For more information on polyline encoding, see <a href=\"https://github.com/aws-geospatial/polyline\">https://github.com/aws-geospatial/polyline</a>.</p>"
          }
        },
        "PolylinePolygon": {
          "target": "com.amazonaws.georoutes#PolylineRingList",
          "traits": {
            "smithy.api#documentation": "<p>A polygon defined by encoded polyline strings. The first string defines the outer boundary; subsequent strings will be ignored. For more information on polyline encoding, see <a href=\"https://github.com/aws-geospatial/polyline\">https://github.com/aws-geospatial/polyline</a>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an area to avoid during calculations using one of several supported geometry types. The service will prefer routes that avoid these areas when possible.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceArea"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceOptions": {
      "type": "structure",
      "members": {
        "Areas": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies geographic areas to avoid where possible. Routes may still pass through these areas if no reasonable alternative exists.</p>"
          }
        },
        "CarShuttleTrains": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid car shuttle trains (auto trains) where possible. These may still be included if no reasonable alternative route exists.</p>"
          }
        },
        "ControlledAccessHighways": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid controlled-access highways (such as interstate highways or motorways) where possible. If a viable route cannot be calculated using only local roads, controlled-access highways may still be included.</p>"
          }
        },
        "DirtRoads": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid unpaved or dirt roads where possible. Routes may still include dirt roads if no reasonable paved alternative exists.</p>"
          }
        },
        "Ferries": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid ferries where possible. If a viable route cannot be calculated without using ferries, they may still be included.</p>"
          }
        },
        "SeasonalClosure": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid roads that may be subject to seasonal closures where possible. These roads may still be included if no reasonable year-round alternative exists.</p>"
          }
        },
        "TollRoads": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid toll roads where possible. If a viable route cannot be calculated without using toll roads, they may still be included.</p>"
          }
        },
        "TollTransponders": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid roads that require electronic toll collection transponders where possible. These roads may still be included if no viable alternative route exists.</p>"
          }
        },
        "TruckRoadTypes": {
          "target": "com.amazonaws.georoutes#TruckRoadTypeList",
          "traits": {
            "smithy.api#documentation": "<p>For truck travel modes, indicates specific road classification types in Sweden (<code> BK1</code> through <code>BK4</code>) and Mexico (<code>A2, A4, B2, B4, C, D, ET2, ET4</code>) to avoid where possible. These road types may still be used if no reasonable alternative exists.</p> <note> <p>There are currently no other supported values as of 26th April 2024.</p> </note>"
          }
        },
        "Tunnels": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid tunnels where possible. If a viable route cannot be calculated without using tunnels, they may still be included.</p>"
          }
        },
        "UTurns": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates a preference to avoid U-turns where possible. U-turns may still be included if necessary to reach certain areas or when no reasonable alternative exists.</p>"
          }
        },
        "ZoneCategories": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceZoneCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>Indicates types of regulated zones (such as congestion pricing or environmental zones) to avoid where possible. Routes may still pass through these zones if no reasonable alternative exists.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies features of the road network to avoid when calculating reachable areas. These preferences guide route calculations but may be overridden when no reasonable alternative exists. For example, if avoiding toll roads would make an area unreachable, toll roads may still be used.</p> <p>Avoidance options include physical features (like ferries and tunnels), road characteristics (like dirt roads and highways), and regulated areas (like congestion zones). They can be combined to match specific routing needs, such as avoiding both toll roads and ferries.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceZoneCategory": {
      "type": "structure",
      "members": {
        "Category": {
          "target": "com.amazonaws.georoutes#IsolineZoneCategory",
          "traits": {
            "smithy.api#documentation": "<p>The type of regulated zone: <code>CongestionPricing</code> for toll zones based on traffic levels, <code>Environmental</code> for low-emission zones, or <code>Vignette</code> for areas requiring special permits or stickers.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Types of regulated zones that may affect routing.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceZoneCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceZoneCategory"
      },
      "traits": {
        "smithy.api#length": {
          "max": 3
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#IsolineCarOptions": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of engine powering the vehicle, which may affect route calculation due to road restrictions or vehicle characteristics.</p> <ul> <li> <p> <code>INTERNAL_COMBUSTION</code>—Standard gasoline or diesel engine.</p> </li> <li> <p> <code>ELECTRIC</code>—Battery electric vehicle.</p> </li> <li> <p> <code>PLUGIN_HYBRID</code>—Combination of electric and internal combustion engines with plug-in charging capability.</p> </li> </ul>"
          }
        },
        "LicensePlate": {
          "target": "com.amazonaws.georoutes#IsolineVehicleLicensePlate",
          "traits": {
            "smithy.api#documentation": "<p>License plate information used in regions where road access or routing restrictions are based on license plate numbers.</p>"
          }
        },
        "MaxSpeed": {
          "target": "com.amazonaws.georoutes#SpeedKilometersPerHour",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum speed of the vehicle in kilometers per hour. When specified, routes will not include roads with higher speed limits. Valid values range from 3.6 km/h (1 m/s) to 252 km/h (70 m/s).</p> <p> <b>Unit</b>: <code>kilometers per hour</code> </p>",
            "smithy.api#range": {
              "min": 3.6,
              "max": 252.0
            }
          }
        },
        "Occupancy": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of occupants in the vehicle. This can affect route calculations by enabling the use of high-occupancy vehicle (HOV) lanes where minimum occupancy requirements are met.</p> <p>Default value: <code>1</code> </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Vehicle characteristics and preferences that affect routing for passenger cars. This includes vehicle type, occupancy, and speed restrictions that may influence which roads can be used and expected travel times.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnection": {
      "type": "structure",
      "members": {
        "FromPolygonIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The index of the starting polygon in the isoline's <code>Geometries</code> list.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "Geometry": {
          "target": "com.amazonaws.georoutes#IsolineConnectionGeometry",
          "traits": {
            "smithy.api#documentation": "<p>The shape of the connection, representing the actual path through the transportation network that links the polygons.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPolygonIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The index of the ending polygon in the isoline's <code>Geometries</code> list.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a segment of the transportation network that connects separate parts of a reachable area. These connections show how discontinuous areas are linked, such as by ferry routes or bridges crossing unroutable terrain.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnectionGeometry": {
      "type": "structure",
      "members": {
        "LineString": {
          "target": "com.amazonaws.georoutes#LineString",
          "traits": {
            "smithy.api#documentation": "<p>A series of <code>[longitude, latitude]</code> coordinate pairs defining the connection path when <code>Simple</code> geometry format is requested. These coordinates can be directly used as the coordinates array in a GeoJSON LineString without transformation.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        },
        "Polyline": {
          "target": "com.amazonaws.georoutes#Polyline",
          "traits": {
            "smithy.api#documentation": "<p>An encoded representation of the connection path when <code>FlexiblePolyline</code> geometry format is requested. This provides a more compact representation suitable for transmission and storage. To convert to GeoJSON, first decode to obtain coordinate pairs, then use those coordinates as the coordinates array in a GeoJSON LineString.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the geometry of connections between non-contiguous parts of an isoline. These connections can be provided in either coordinate pairs (LineString) or encoded (Polyline) format, matching the format specified in the request.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineConnection"
      }
    },
    "com.amazonaws.georoutes#IsolineDestinationOptions": {
      "type": "structure",
      "members": {
        "AvoidActionsForDistance": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The distance in meters from the destination point within which certain routing actions (such as U-turns or left turns across traffic) are restricted. This helps generate more practical routes by avoiding potentially dangerous maneuvers near the endpoint.</p>"
          }
        },
        "Heading": {
          "target": "com.amazonaws.georoutes#Heading",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The initial direction of travel in degrees (0-360, where 0 is north). This can affect which road segments are considered accessible from the starting point.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.georoutes#IsolineMatchingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Controls how the destination point is matched to the road network, including search radius and name-based matching preferences.</p>"
          }
        },
        "SideOfStreet": {
          "target": "com.amazonaws.georoutes#IsolineSideOfStreetOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which side of the street should be considered accessible, which is important when building entrances or parking access points are only reachable from one side of the road.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options that control how the destination point is interpreted and matched to the road network when calculating reachable areas. This affects which roads are considered accessible near the destination and how the final approach is calculated.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineEngineType": {
      "type": "enum",
      "members": {
        "ELECTRIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Electric"
          }
        },
        "INTERNAL_COMBUSTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InternalCombustion"
          }
        },
        "PLUGIN_HYBRID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PluginHybrid"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IsolineGranularityOptions": {
      "type": "structure",
      "members": {
        "MaxPoints": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of points used to define each isoline. Higher values create smoother, more detailed shapes.</p>",
            "smithy.api#range": {
              "min": 31
            }
          }
        },
        "MaxResolution": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum distance in meters between points along the isoline. Smaller values create more detailed shapes.</p> <p> <b>Unit</b>: <code>meters</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls the detail level and smoothness of generated isolines. More detailed isolines provide better visual representation of reachable areas but require more processing time and result in larger responses.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineHazardousCargoType": {
      "type": "enum",
      "members": {
        "COMBUSTIBLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Combustible"
          }
        },
        "CORROSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Corrosive"
          }
        },
        "EXPLOSIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Explosive"
          }
        },
        "FLAMMABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Flammable"
          }
        },
        "GAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Gas"
          }
        },
        "HARMFUL_TO_WATER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HarmfulToWater"
          }
        },
        "ORGANIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Organic"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Other"
          }
        },
        "POISON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Poison"
          }
        },
        "POISONOUS_INHALATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PoisonousInhalation"
          }
        },
        "RADIOACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Radioactive"
          }
        }
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IsolineHazardousCargoTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineHazardousCargoType"
      },
      "traits": {
        "smithy.api#length": {
          "max": 11
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#IsolineList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#Isoline"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.georoutes#IsolineMatchingOptions": {
      "type": "structure",
      "members": {
        "NameHint": {
          "target": "com.amazonaws.georoutes#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The expected street name near the point. Helps disambiguate matching when multiple roads are within range.</p>"
          }
        },
        "OnRoadThreshold": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum distance in meters that a point can be from a road while still being considered \"on\" that road. Points further than this distance require explicit matching.</p> <p> <b>Unit</b>: <code>meters</code> </p>"
          }
        },
        "Radius": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum distance in meters to search for roads to match to. Points with no roads within this radius will fail to match. The roads that are considered within this radius are determined by the specified <code>Strategy</code> </p> <p> <b>Unit</b>: <code>meters</code> </p>"
          }
        },
        "Strategy": {
          "target": "com.amazonaws.georoutes#MatchingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Determines how points are matched to the road network. <code>MatchAny</code> finds the nearest viable road segment, while <code>MatchMostSignificantRoad</code> prioritizes major roads.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how origin and destination points are matched to the road network when they don't fall exactly on a road. Matching options help ensure realistic routing by connecting points to appropriate roads.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineOptimizationObjective": {
      "type": "enum",
      "members": {
        "ACCURATE_CALCULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AccurateCalculation"
          }
        },
        "BALANCED_CALCULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BalancedCalculation"
          }
        },
        "FAST_CALCULATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FastCalculation"
          }
        }
      }
    },
    "com.amazonaws.georoutes#IsolineOriginOptions": {
      "type": "structure",
      "members": {
        "AvoidActionsForDistance": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The distance in meters from the origin point within which certain routing actions (such as U-turns or left turns across traffic) are restricted. This helps generate more practical routes by avoiding potentially dangerous maneuvers near the starting point.</p>"
          }
        },
        "Heading": {
          "target": "com.amazonaws.georoutes#Heading",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Initial direction of travel in degrees (0-360, where 0 is north). This affects which road segments are considered accessible from the starting point and is particularly useful when the origin is on a divided road or at a complex intersection.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.georoutes#IsolineMatchingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Controls how the origin point is matched to the road network, including search radius and matching strategy.</p>"
          }
        },
        "SideOfStreet": {
          "target": "com.amazonaws.georoutes#IsolineSideOfStreetOptions",
          "traits": {
            "smithy.api#documentation": "<p>Controls which side of the street is considered accessible from the origin point, particularly important for divided roads where building entrances or parking access may only be available from one direction.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options that control how the origin point is interpreted when calculating reachable areas. These options affect which roads are considered accessible from the starting point and how initial routing decisions are made.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineScooterOptions": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of engine powering the vehicle, which may affect route calculation due to road restrictions or vehicle characteristics.</p> <ul> <li> <p> <code>INTERNAL_COMBUSTION</code>—Standard gasoline or diesel engine.</p> </li> <li> <p> <code>ELECTRIC</code>—Battery electric vehicle.</p> </li> <li> <p> <code>PLUGIN_HYBRID</code>—Combination of electric and internal combustion engines with plug-in charging capability.</p> </li> </ul>"
          }
        },
        "LicensePlate": {
          "target": "com.amazonaws.georoutes#IsolineVehicleLicensePlate",
          "traits": {
            "smithy.api#documentation": "<p>License plate information used in regions where road access or routing restrictions are based on license plate numbers.</p>"
          }
        },
        "MaxSpeed": {
          "target": "com.amazonaws.georoutes#SpeedKilometersPerHour",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum speed of the vehicle in kilometers per hour. When specified, routes will not include roads with higher speed limits. Valid values range from 3.6 km/h (1 m/s) to 252 km/h (70 m/s).</p> <p> <b>Unit</b>: <code>kilometers per hour</code> </p>",
            "smithy.api#range": {
              "min": 3.6,
              "max": 252.0
            }
          }
        },
        "Occupancy": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of occupants in the vehicle. This can affect route calculations by enabling the use of high-occupancy vehicle (HOV) lanes where minimum occupancy requirements are met.</p> <p>Default value: <code>1</code> </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Vehicle characteristics that affect which roads and paths can be used when calculating reachable areas for scooters. This includes areas such as bike lanes, shared paths, and roads where scooters are permitted.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineShapeGeometry": {
      "type": "structure",
      "members": {
        "Polygon": {
          "target": "com.amazonaws.georoutes#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p>A series of coordinate rings defining the reachable area when Simple geometry format is requested. Each ring is a list of <code>[longitude, latitude]</code> coordinate pairs. The first ring defines the outer boundary; subsequent rings define holes representing unreachable areas.</p> <note> <p>Polygon and PolylinePolygon are mutually exclusive properties.</p> </note>"
          }
        },
        "PolylinePolygon": {
          "target": "com.amazonaws.georoutes#PolylineRingList",
          "traits": {
            "smithy.api#documentation": "<p>An encoded representation of the reachable area when FlexiblePolyline geometry format is requested. Provides a compact representation suitable for transmission and storage. The first string defines the outer boundary; subsequent strings define holes representing unreachable areas. For more information on polyline encoding, see <a href=\"https://github.com/aws-geospatial/polyline\">https://github.com/aws-geospatial/polyline</a>.</p> <note> <p>Polygon and PolylinePolygon are mutually exclusive properties.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the shape of a reachable area. The geometry can be provided either as coordinate pairs (<code>Polygon</code>) or in encoded format (<code>PolylinePolygon</code>), matching the format specified in the request.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineShapeGeometryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineShapeGeometry"
      }
    },
    "com.amazonaws.georoutes#IsolineSideOfStreetOptions": {
      "type": "structure",
      "members": {
        "Position": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The <code>[longitude, latitude]</code> coordinates of the point that should be matched to a specific side of the street.</p>",
            "smithy.api#required": {}
          }
        },
        "UseWith": {
          "target": "com.amazonaws.georoutes#SideOfStreetMatchingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Controls whether side-of-street matching is applied to any street (<code>AnyStreet</code>) or only to divided roads (<code>DividedStreetOnly</code>). This is important when the exact side of the street matters - for example, if a building entrance is only accessible from one side of a divided highway, or if a parking lot can only be entered from northbound lanes. Without correct side-of-street matching, travel time estimates may be inaccurate because they don't account for necessary U-turns or detours to reach the correct side.</p> <p>Default value: <code>DividedStreetOnly</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how points are matched to specific sides of streets. This is important when the side of the street matters for accessibility - for example, when building entrances or parking lot access points can only be reached from one side of a divided road.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineThresholds": {
      "type": "structure",
      "members": {
        "Distance": {
          "target": "com.amazonaws.georoutes#DistanceThresholdList",
          "traits": {
            "smithy.api#documentation": "<p>List of travel distances in meters. For example, [1000, 2000, 5000] would calculate areas reachable within 1, 2, and 5 kilometers.</p>"
          }
        },
        "Time": {
          "target": "com.amazonaws.georoutes#TimeThresholdList",
          "traits": {
            "smithy.api#documentation": "<p>List of travel times in seconds. For example, [300, 600, 900] would calculate areas reachable within 5, 10, and 15 minutes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the time or distance limits used to calculate reachable areas. You can provide up to five thresholds for a single type to generate multiple isolines in a single request. For example, you might request areas reachable within 5, 10, and 15 minutes, or within 1, 2, and 5 kilometers.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTrafficOptions": {
      "type": "structure",
      "members": {
        "FlowEventThresholdOverride": {
          "target": "com.amazonaws.georoutes#DurationSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The duration in seconds that real-time congestion data is considered valid before reverting to historical traffic patterns. This helps balance between using current conditions and more predictable historical data when calculating travel times.</p> <p> <b>Unit</b>: <code>seconds</code> </p>"
          }
        },
        "Usage": {
          "target": "com.amazonaws.georoutes#TrafficUsage",
          "traits": {
            "smithy.api#documentation": "<p>Controls whether traffic data is used in calculations. <code>UseTrafficData</code> considers both real-time congestion and historical patterns, while <code>IgnoreTrafficData</code> calculates routes based solely on road types and speed limits. Using traffic data provides more accurate real-world estimates but may produce different results at different times of day.</p> <p>Default value: <code>UseTrafficData</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Controls how real-time and historical traffic data is used when calculating reachable areas. This affects both the size and shape of isolines by accounting for expected travel speeds based on congestion patterns.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTrailerOptions": {
      "type": "structure",
      "members": {
        "AxleCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The total number of axles across all trailers. Used for weight distribution calculations and road restrictions.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "TrailerCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The number of trailers being pulled. Affects which roads can be used based on local regulations.</p> <p>Default value: <code>0</code> </p>",
            "smithy.api#range": {
              "min": 1,
              "max": 255
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional specifications when the vehicle includes one or more trailers.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTravelMode": {
      "type": "enum",
      "members": {
        "CAR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Car"
          }
        },
        "PEDESTRIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Pedestrian"
          }
        },
        "SCOOTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Scooter"
          }
        },
        "TRUCK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Truck"
          }
        }
      }
    },
    "com.amazonaws.georoutes#IsolineTravelModeOptions": {
      "type": "structure",
      "members": {
        "Car": {
          "target": "com.amazonaws.georoutes#IsolineCarOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options specific to passenger vehicle routing (<code>Car</code>, such as vehicle characteristics and license plate restrictions.</p>"
          }
        },
        "Scooter": {
          "target": "com.amazonaws.georoutes#IsolineScooterOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options specific to scooter routing (<code>Scooter</code>, such as vehicle characteristics and license plate restrictions.</p> <note> <p>When using the <code>Scooter</code> travel mode, controlled-access highways are automatically avoided unless explicitly allowed.</p> </note>"
          }
        },
        "Truck": {
          "target": "com.amazonaws.georoutes#IsolineTruckOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options specific to commercial truck routing (<code>Truck</code>, including vehicle dimensions, weight limits, and hazardous cargo specifications.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Mode-specific routing options that further refine how reachable areas are calculated. Options are only considered when they match the selected travel mode.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTruckOptions": {
      "type": "structure",
      "members": {
        "AxleCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The total number of axles on the vehicle. Required for certain road restrictions and weight limit calculations.</p>",
            "smithy.api#range": {
              "min": 2,
              "max": 255
            }
          }
        },
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of engine powering the vehicle, which may affect route calculation due to road restrictions or vehicle characteristics.</p> <ul> <li> <p> <code>INTERNAL_COMBUSTION</code>—Standard gasoline or diesel engine.</p> </li> <li> <p> <code>ELECTRIC</code>—Battery electric vehicle.</p> </li> <li> <p> <code>PLUGIN_HYBRID</code>—Combination of electric and internal combustion engines with plug-in charging capability.</p> </li> </ul>"
          }
        },
        "GrossWeight": {
          "target": "com.amazonaws.georoutes#WeightKilograms",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The gross vehicle weight (the maximum weight a vehicle can safely operate at, as specified by the manufacturer) in kilograms. Used to avoid roads with weight restrictions and ensure compliance with maximum allowed vehicle weight regulations.</p> <p> <b>Unit</b>: <code>kilograms</code> </p>"
          }
        },
        "HazardousCargos": {
          "target": "com.amazonaws.georoutes#IsolineHazardousCargoTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Types of hazardous materials being transported. This affects which roads and tunnels can be used based on local regulations.</p> <ul> <li> <p> <code>Combustible</code>—Materials that can burn readily</p> </li> <li> <p> <code>Corrosive</code>—Materials that can destroy or irreversibly damage other substances</p> </li> <li> <p> <code>Explosive</code>—Materials that can produce an explosion by chemical reaction</p> </li> <li> <p> <code>Flammable</code>—Materials that can easily ignite</p> </li> <li> <p> <code>Gas</code>—Hazardous materials in gaseous form</p> </li> <li> <p> <code>HarmfulToWater</code>—Materials that pose a risk to water sources if released</p> </li> <li> <p> <code>Organic</code>—Hazardous organic compounds</p> </li> <li> <p> <code>Other</code>—Hazardous materials not covered by other categories</p> </li> <li> <p> <code>Poison</code>—Toxic materials</p> </li> <li> <p> <code>PoisonousInhalation</code>—Materials that are toxic when inhaled</p> </li> <li> <p> <code>Radioactive</code>—Materials that emit ionizing radiation</p> </li> </ul>"
          }
        },
        "Height": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The vehicle height in centimeters. Used to avoid routes with low bridges or other height restrictions.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5000
            }
          }
        },
        "HeightAboveFirstAxle": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The height in centimeters measured from the ground to the highest point above the first axle. Used for specific bridge and tunnel clearance restrictions.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5000
            }
          }
        },
        "KpraLength": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The kingpin to rear axle (KPRA) length in centimeters. Used to determine if the vehicle can safely navigate turns and intersections.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>"
          }
        },
        "Length": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The total vehicle length in centimeters. Used to avoid roads with length restrictions and determine if the vehicle can safely navigate turns.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 30000
            }
          }
        },
        "LicensePlate": {
[...]
