{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.georoutes#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.georoutes#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#externalDocumentation": {
          "Implementation Guide": "https://github.com/paseto-standard/paseto-spec/blob/master/docs/02-Implementation-Guide/03-Algorithm-Lucidity.md"
        },
        "smithy.api#length": {
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#BeforeWaypointsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#WaypointIndex"
      }
    },
    "com.amazonaws.georoutes#BoundingBox": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-5"
        },
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CalculateIsolines": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateIsolinesRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateIsolinesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Use the <code>CalculateIsolines</code> action to find service areas that can be reached in a given threshold of time, distance.</p>",
        "smithy.api#http": {
          "uri": "/isolines",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateIsolinesSuccess",
            "params": {
              "Thresholds": {
                "Time": [60]
              },
              "Origin": [-123.116796, 49.281476]
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateIsolinesRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#IsolineAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are allowed while calculating an isoline.</p>"
          }
        },
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of arrival at the destination.</p> <p>Time format: <code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are avoided while calculating a route. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation.</p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Uses the current time as the time of departure.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from thr origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The final position for the route. In the World Geodetic System (WGS 84) format: <code>[longitude, latitude]</code>.</p>"
          }
        },
        "DestinationOptions": {
          "target": "com.amazonaws.georoutes#IsolineDestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Destination related options.</p>"
          }
        },
        "IsolineGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the returned IsolineGeometry. </p> <p>Default Value:<code>FlexiblePolyline</code> </p>"
          }
        },
        "IsolineGranularity": {
          "target": "com.amazonaws.georoutes#IsolineGranularityOptions",
          "traits": {
            "smithy.api#documentation": "<p>Defines the granularity of the returned Isoline.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "OptimizeIsolineFor": {
          "target": "com.amazonaws.georoutes#IsolineOptimizationObjective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the optimization criteria for when calculating an isoline. AccurateCalculation generates an isoline of higher granularity that is more precise. FastCalculation generates an isoline faster by reducing the granularity, and in turn the quality of the isoline. BalancedCalculation generates an isoline by balancing between quality and performance. </p> <p>Default Value: <code>BalancedCalculation</code> </p>"
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the optimization criteria for calculating a route.</p> <p>Default Value: <code>FastestRoute</code> </p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route.</p>"
          }
        },
        "OriginOptions": {
          "target": "com.amazonaws.georoutes#IsolineOriginOptions",
          "traits": {
            "smithy.api#documentation": "<p>Origin related options.</p>"
          }
        },
        "Thresholds": {
          "target": "com.amazonaws.georoutes#IsolineThresholds",
          "traits": {
            "smithy.api#documentation": "<p>Threshold to be used for the isoline calculation. Up to 3 thresholds per provided type can be requested.</p> <p> You incur a calculation charge for each threshold. Using a large amount of thresholds in a request can lead you to incur unexpected charges. See <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html`\"> Amazon Location's pricing page</a> for more information.</p>",
            "smithy.api#required": {}
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#IsolineTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p>Traffic related options.</p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#IsolineTravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <note> <p> The mode <code>Scooter</code> also applies to motorcycles, set to <code>Scooter</code> when wanted to calculate options for motorcycles.</p> </note> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#IsolineTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode related options for the provided travel mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateIsolinesResponse": {
      "type": "structure",
      "members": {
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of arrival at the destination. This parameter is returned only if the Destination parameters was provided in the request. </p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from thr origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "IsolineGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the returned IsolineGeometry. </p> <p>Default Value:<code>FlexiblePolyline</code> </p>",
            "smithy.api#required": {}
          }
        },
        "Isolines": {
          "target": "com.amazonaws.georoutes#IsolineList",
          "traits": {
            "smithy.api#documentation": "<p>Calculated isolines and associated properties.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "SnappedDestination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Snapped destination that was used for the Isoline calculation.</p>"
          }
        },
        "SnappedOrigin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Snapped origin that was used for the Isoline calculation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrix": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateRouteMatrixRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateRouteMatrixResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p> Use <code>CalculateRouteMatrix</code> to compute results for all pairs of Origins to Destinations. Each row corresponds to one entry in Origins. Each entry in the row corresponds to the route from that entry in Origins to an entry in Destinations positions.</p>",
        "smithy.api#http": {
          "uri": "/route-matrix",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateRouteMatrixSuccess",
            "params": {
              "Origins": [
                {
                  "Position": [-123.11679, 49.28147]
                }
              ],
              "Destinations": [
                {
                  "Position": [-123.11231, 49.28897192166]
                }
              ],
              "RoutingBoundary": {
                "Unbounded": true
              }
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrixRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#RouteMatrixAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are allowed while calculating a route.</p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#RouteMatrixAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are avoided while calculating a route. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation.</p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Uses the current time as the time of departure.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from thr origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destinations": {
          "target": "com.amazonaws.georoutes#RouteMatrixDestinationList",
          "traits": {
            "smithy.api#documentation": "<p>List of destinations for the route.</p> <note> <p>Route calculations are billed for each origin and destination pair. If you use a large matrix of origins and destinations, your costs will increase accordingly. See <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html`\"> Amazon Location's pricing page</a> for more information.</p> </note>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "Exclude": {
          "target": "com.amazonaws.georoutes#RouteMatrixExclusionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features to be strictly excluded while calculating the route.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the optimization criteria for calculating a route.</p> <p>Default Value: <code>FastestRoute</code> </p>"
          }
        },
        "Origins": {
          "target": "com.amazonaws.georoutes#RouteMatrixOriginList",
          "traits": {
            "smithy.api#documentation": "<p>The position in longitude and latitude for the origin.</p> <note> <p>Route calculations are billed for each origin and destination pair. Using a large amount of Origins in a request can lead you to incur unexpected charges. See <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/routes-pricing.html`\"> Amazon Location's pricing page</a> for more information.</p> </note>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "RoutingBoundary": {
          "target": "com.amazonaws.georoutes#RouteMatrixBoundary",
          "traits": {
            "smithy.api#documentation": "<p>Boundary within which the matrix is to be calculated. All data, origins and destinations outside the boundary are considered invalid.</p> <note> <p>When request routing boundary was set as AutoCircle, the response routing boundary will return Circle derived from the AutoCircle settings.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#RouteMatrixTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p>Traffic related options.</p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#RouteMatrixTravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#RouteMatrixTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode related options for the provided travel mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRouteMatrixResponse": {
      "type": "structure",
      "members": {
        "ErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The count of error results in the route matrix. If this number is 0, all routes were calculated successfully.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "RouteMatrix": {
          "target": "com.amazonaws.georoutes#RouteMatrix",
          "traits": {
            "smithy.api#documentation": "<p>The calculated route matrix containing the results for all pairs of Origins to Destination positions. Each row corresponds to one entry in Origins. Each entry in the row corresponds to the route from that entry in Origins to an entry in Destination positions.</p>",
            "smithy.api#required": {}
          }
        },
        "RoutingBoundary": {
          "target": "com.amazonaws.georoutes#RouteMatrixBoundary",
          "traits": {
            "smithy.api#documentation": "<p>Boundary within which the matrix is to be calculated. All data, origins and destinations outside the boundary are considered invalid.</p> <note> <p>When request routing boundary was set as AutoCircle, the response routing boundary will return Circle derived from the AutoCircle settings.</p> </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRoutes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#CalculateRoutesRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#CalculateRoutesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p> <code>CalculateRoutes</code> computes routes given the following required parameters: <code>Origin</code> and <code>Destination</code>.</p>",
        "smithy.api#http": {
          "uri": "/routes",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "CalculateRoutesSuccess",
            "params": {
              "Origin": [-123.253374, 49.351673],
              "Destination": [-123.930756, 49.1314]
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#CalculateRoutesRequest": {
      "type": "structure",
      "members": {
        "Allow": {
          "target": "com.amazonaws.georoutes#RouteAllowOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are allowed while calculating a route.</p>"
          }
        },
        "ArrivalTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of arrival at the destination.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Avoid": {
          "target": "com.amazonaws.georoutes#RouteAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are avoided while calculating a route. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation.</p>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Uses the current time as the time of departure.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Time of departure from thr origin.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The final position for the route. In the World Geodetic System (WGS 84) format: <code>[longitude, latitude]</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationOptions": {
          "target": "com.amazonaws.georoutes#RouteDestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Destination related options.</p>"
          }
        },
        "Driver": {
          "target": "com.amazonaws.georoutes#RouteDriverOptions",
          "traits": {
            "smithy.api#documentation": "<p>Driver related options.</p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.georoutes#RouteExclusionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features to be strictly excluded while calculating the route.</p>"
          }
        },
        "InstructionsMeasurementSystem": {
          "target": "com.amazonaws.georoutes#MeasurementSystem",
          "traits": {
            "smithy.api#documentation": "<p>Measurement system to be used for instructions within steps in the response.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "Languages": {
          "target": "com.amazonaws.georoutes#LanguageTagList",
          "traits": {
            "smithy.api#documentation": "<p>List of languages for instructions within steps in the response.</p> <note> <p>Instructions in the requested language are returned only if they are available.</p> </note>",
            "smithy.api#length": {
              "max": 10
            }
          }
        },
        "LegAdditionalFeatures": {
          "target": "com.amazonaws.georoutes#RouteLegAdditionalFeatureList",
          "traits": {
            "smithy.api#documentation": "<p>A list of optional additional parameters such as timezone that can be requested for each result.</p> <ul> <li> <p> <code>Elevation</code>: Retrieves the elevation information for each location.</p> </li> <li> <p> <code>Incidents</code>: Provides information on traffic incidents along the route.</p> </li> <li> <p> <code>PassThroughWaypoints</code>: Indicates waypoints that are passed through without stopping.</p> </li> <li> <p> <code>Summary</code>: Returns a summary of the route, including distance and duration.</p> </li> <li> <p> <code>Tolls</code>: Supplies toll cost information along the route.</p> </li> <li> <p> <code>TravelStepInstructions</code>: Provides step-by-step instructions for travel along the route.</p> </li> <li> <p> <code>TruckRoadTypes</code>: Returns information about road types suitable for trucks.</p> </li> <li> <p> <code>TypicalDuration</code>: Gives typical travel duration based on historical data.</p> </li> <li> <p> <code>Zones</code>: Specifies the time zone information for each waypoint.</p> </li> </ul>"
          }
        },
        "LegGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the geometry returned for each leg of the route. You can choose between two different geometry encoding formats.</p> <p> <code>FlexiblePolyline</code>: A compact and precise encoding format for the leg geometry. For more information on the format, see the GitHub repository for <a href=\"https://github.com/heremaps/flexible-polyline\"> <code>FlexiblePolyline</code> </a>.</p> <p> <code>Simple</code>: A less compact encoding, which is easier to decode but may be less precise and result in larger payloads.</p>"
          }
        },
        "MaxAlternatives": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of alternative routes to be provided in the response, if available.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5
            }
          }
        },
        "OptimizeRoutingFor": {
          "target": "com.amazonaws.georoutes#RoutingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the optimization criteria for calculating a route.</p> <p>Default Value: <code>FastestRoute</code> </p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginOptions": {
          "target": "com.amazonaws.georoutes#RouteOriginOptions",
          "traits": {
            "smithy.api#documentation": "<p>Origin related options.</p>"
          }
        },
        "SpanAdditionalFeatures": {
          "target": "com.amazonaws.georoutes#RouteSpanAdditionalFeatureList",
          "traits": {
            "smithy.api#documentation": "<p>A list of optional features such as SpeedLimit that can be requested for a Span. A span is a section of a Leg for which the requested features have the same values.</p>"
          }
        },
        "Tolls": {
          "target": "com.amazonaws.georoutes#RouteTollOptions",
          "traits": {
            "smithy.api#documentation": "<p>Toll related options.</p>"
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#RouteTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p>Traffic related options.</p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#RouteTravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#RouteTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode related options for the provided travel mode.</p>"
          }
        },
        "TravelStepType": {
          "target": "com.amazonaws.georoutes#RouteTravelStepType",
          "traits": {
            "smithy.api#documentation": "<p>Type of step returned by the response. Default provides basic steps intended for web based applications. TurnByTurn provides detailed instructions with more granularity intended for a turn based navigation system.</p>"
          }
        },
        "Waypoints": {
          "target": "com.amazonaws.georoutes#RouteWaypointList",
          "traits": {
            "smithy.api#documentation": "<p>List of waypoints between the Origin and Destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#CalculateRoutesResponse": {
      "type": "structure",
      "members": {
        "LegGeometryFormat": {
          "target": "com.amazonaws.georoutes#GeometryFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the geometry returned for each leg of the route.</p>",
            "smithy.api#required": {}
          }
        },
        "Notices": {
          "target": "com.amazonaws.georoutes#RouteResponseNoticeList",
          "traits": {
            "smithy.api#documentation": "<p>Notices are additional information returned that indicate issues that occurred during route calculation.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "Routes": {
          "target": "com.amazonaws.georoutes#RouteList",
          "traits": {
            "smithy.api#documentation": "<p>The path from the origin to the destination.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#Circle": {
      "type": "structure",
      "members": {
        "Center": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Center of the Circle defined in longitude and latitude coordinates.</p> <p>Example: <code>[-123.1174, 49.2847]</code> represents the position with longitude <code>-123.1174</code> and latitude <code>49.2847</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "com.amazonaws.georoutes#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>Radius of the Circle.</p> <p> <b>Unit</b>: <code>meters</code> </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry defined as a circle. When request routing boundary was set as <code>AutoCircle</code>, the response routing boundary will return <code>Circle</code> derived from the <code>AutoCircle</code> settings.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#ClusterIndex": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.georoutes#Corridor": {
      "type": "structure",
      "members": {
        "LineString": {
          "target": "com.amazonaws.georoutes#LineString",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Radius that defines the width of the corridor.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry defined as a corridor - a LineString with a radius that defines the width of the corridor.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 3
        },
        "smithy.api#pattern": "^([A-Z]{2}|[A-Z]{3})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCode3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#CountryCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$"
      }
    },
    "com.amazonaws.georoutes#DayOfWeek": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "MONDAY",
            "value": "Monday"
          },
          {
            "name": "TUESDAY",
            "value": "Tuesday"
          },
          {
            "name": "WEDNESDAY",
            "value": "Wednesday"
          },
          {
            "name": "THURSDAY",
            "value": "Thursday"
          },
          {
            "name": "FRIDAY",
            "value": "Friday"
          },
          {
            "name": "SATURDAY",
            "value": "Saturday"
          },
          {
            "name": "SUNDAY",
            "value": "Sunday"
          }
        ],
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DimensionCentimeters": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DistanceMeters": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#DistanceThresholdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#DistanceMeters",
        "traits": {
          "smithy.api#range": {
            "min": 0,
            "max": 300000
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.georoutes#DurationSeconds": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0,
          "max": 4294967295
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#GeometryFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "FLEXIBLE_POLYLINE",
            "value": "FlexiblePolyline"
          },
          {
            "name": "SIMPLE",
            "value": "Simple"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#Heading": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 0.0,
          "max": 360.0
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IndexList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      }
    },
    "com.amazonaws.georoutes#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.georoutes#Isoline": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.georoutes#IsolineConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>Isolines may contain multiple components, if these components are connected by ferry links. These components are returned as separate polygons while the ferry links are returned as connections.</p>",
            "smithy.api#required": {}
          }
        },
        "DistanceThreshold": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Distance threshold corresponding to the calculated Isoline.</p>"
          }
        },
        "Geometries": {
          "target": "com.amazonaws.georoutes#IsolineShapeGeometryList",
          "traits": {
            "smithy.api#documentation": "<p>Geometries for the Calculated isolines.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeThreshold": {
          "target": "com.amazonaws.georoutes#DurationSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Time threshold corresponding to the calculated isoline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Calculated isolines and associated properties.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAllowOptions": {
      "type": "structure",
      "members": {
        "Hot": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Allow Hot (High Occupancy Toll) lanes while calculating an isoline.</p> <p>Default value: <code>false</code> </p>"
          }
        },
        "Hov": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Allow Hov (High Occupancy vehicle) lanes while calculating an isoline.</p> <p>Default value: <code>false</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Features that are allowed while calculating an isoline.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceArea": {
      "type": "structure",
      "members": {
        "Except": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometryList",
          "traits": {
            "smithy.api#documentation": "<p>Exceptions to the provided avoidance geometry, to be included while calculating an isoline.</p>"
          }
        },
        "Geometry": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry",
          "traits": {
            "smithy.api#documentation": "<p>Geometry of the area to be avoided.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The area to be avoided.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry": {
      "type": "structure",
      "members": {
        "BoundingBox": {
          "target": "com.amazonaws.georoutes#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Geometry defined as a bounding box. The first pair represents the X and Y coordinates (longitude and latitude,) of the southwest corner of the bounding box; the second pair represents the X and Y coordinates (longitude and latitude) of the northeast corner.</p>"
          }
        },
        "Corridor": {
          "target": "com.amazonaws.georoutes#Corridor",
          "traits": {
            "smithy.api#documentation": "<p>Geometry defined as a corridor - a LineString with a radius that defines the width of the corridor.</p>"
          }
        },
        "Polygon": {
          "target": "com.amazonaws.georoutes#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p>A list of Polygon will be excluded for calculating isolines, the list can only contain 1 polygon.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            }
          }
        },
        "PolylineCorridor": {
          "target": "com.amazonaws.georoutes#PolylineCorridor",
          "traits": {
            "smithy.api#documentation": "<p>Geometry defined as an encoded corridor – a polyline with a radius that defines the width of the corridor. For more information on polyline encoding, see <a href=\"https://github.com/heremaps/flexiblepolyline/blob/master/README.md\">https://github.com/heremaps/flexiblepolyline/blob/master/README.md</a>.</p>"
          }
        },
        "PolylinePolygon": {
          "target": "com.amazonaws.georoutes#PolylineRingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of PolylinePolygon's that are excluded for calculating isolines, the list can only contain 1 polygon. For more information on polyline encoding, see <a href=\"https://github.com/heremaps/flexiblepolyline/blob/master/README.md\">https://github.com/heremaps/flexiblepolyline/blob/master/README.md</a>. </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The avoidance geometry, to be included while calculating an isoline.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaGeometry"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceAreaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceArea"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceOptions": {
      "type": "structure",
      "members": {
        "Areas": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceAreaList",
          "traits": {
            "smithy.api#documentation": "<p>Areas to be avoided.</p>"
          }
        },
        "CarShuttleTrains": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid car-shuttle-trains while calculating an isoline.</p>"
          }
        },
        "ControlledAccessHighways": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid controlled access highways while calculating an isoline.</p>"
          }
        },
        "DirtRoads": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid dirt roads while calculating an isoline.</p>"
          }
        },
        "Ferries": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid ferries while calculating an isoline.</p>"
          }
        },
        "SeasonalClosure": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid roads that have seasonal closure while calculating an isoline.</p>"
          }
        },
        "TollRoads": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids roads where the specified toll transponders are the only mode of payment.</p>"
          }
        },
        "TollTransponders": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids roads where the specified toll transponders are the only mode of payment.</p>"
          }
        },
        "TruckRoadTypes": {
          "target": "com.amazonaws.georoutes#TruckRoadTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Truck road type identifiers. <code>BK1</code> through <code>BK4</code> apply only to Sweden. <code>A2,A4,B2,B4,C,D,ET2,ET4</code> apply only to Mexico.</p> <note> <p>There are currently no other supported values as of 26th April 2024.</p> </note>"
          }
        },
        "Tunnels": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid tunnels while calculating an isoline.</p>"
          }
        },
        "UTurns": {
          "target": "com.amazonaws.georoutes#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoid U-turns for calculation on highways and motorways.</p>"
          }
        },
        "ZoneCategories": {
          "target": "com.amazonaws.georoutes#IsolineAvoidanceZoneCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>Zone categories to be avoided.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Features that are avoided while calculating isolines. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, it violates the avoidance and the returned response produces a notice for the violation.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceZoneCategory": {
      "type": "structure",
      "members": {
        "Category": {
          "target": "com.amazonaws.georoutes#IsolineZoneCategory",
          "traits": {
            "smithy.api#documentation": "<p>Zone category to be avoided.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Zone category to be avoided.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineAvoidanceZoneCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineAvoidanceZoneCategory"
      },
      "traits": {
        "smithy.api#length": {
          "max": 3
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#IsolineCarOptions": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>Engine type of the vehicle.</p>"
          }
        },
        "LicensePlate": {
          "target": "com.amazonaws.georoutes#IsolineVehicleLicensePlate",
          "traits": {
            "smithy.api#documentation": "<p>The vehicle License Plate.</p>"
          }
        },
        "MaxSpeed": {
          "target": "com.amazonaws.georoutes#SpeedKilometersPerHour",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Maximum speed.</p> <p> <b>Unit</b>: <code>KilometersPerHour</code> </p>",
            "smithy.api#range": {
              "min": 3.6,
              "max": 252.0
            }
          }
        },
        "Occupancy": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of occupants in the vehicle.</p> <p>Default Value: <code>1</code> </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is <code>Car</code>.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnection": {
      "type": "structure",
      "members": {
        "FromPolygonIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Index of the polygon corresponding to the \"from\" component of the connection. The polygon is available from <code>Isoline[].Geometries</code>.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "Geometry": {
          "target": "com.amazonaws.georoutes#IsolineConnectionGeometry",
          "traits": {
            "smithy.api#documentation": "<p>The isoline geometry.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPolygonIndex": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Index of the polygon corresponding to the \"to\" component of the connection. The polygon is available from <code>Isoline[].Geometries</code>.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Isolines may contain multiple components, if these components are connected by ferry links. These components are returned as separate polygons while the ferry links are returned as connections.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnectionGeometry": {
      "type": "structure",
      "members": {
        "LineString": {
          "target": "com.amazonaws.georoutes#LineString",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        },
        "Polyline": {
          "target": "com.amazonaws.georoutes#Polyline",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map in a lossy compression format.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry of the connection between different isoline components.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineConnectionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineConnection"
      }
    },
    "com.amazonaws.georoutes#IsolineDestinationOptions": {
      "type": "structure",
      "members": {
        "AvoidActionsForDistance": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Avoids actions for the provided distance. This is typically to consider for users in moving vehicles who may not have sufficient time to make an action at an origin or a destination.</p>"
          }
        },
        "Heading": {
          "target": "com.amazonaws.georoutes#Heading",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>GPS Heading at the position.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.georoutes#IsolineMatchingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to configure matching the provided position to the road network.</p>"
          }
        },
        "SideOfStreet": {
          "target": "com.amazonaws.georoutes#IsolineSideOfStreetOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to configure matching the provided position to a side of the street.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Destination related options.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineEngineType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ELECTRIC",
            "value": "Electric"
          },
          {
            "name": "INTERNAL_COMBUSTION",
            "value": "InternalCombustion"
          },
          {
            "name": "PLUGIN_HYBRID",
            "value": "PluginHybrid"
          }
        ],
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IsolineGranularityOptions": {
      "type": "structure",
      "members": {
        "MaxPoints": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Maximum number of points of returned Isoline.</p>",
            "smithy.api#range": {
              "min": 31
            }
          }
        },
        "MaxResolution": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum resolution of the returned isoline.</p> <p> <b>Unit</b>: <code>meters</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Isoline granularity related options.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineHazardousCargoType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "COMBUSTIBLE",
            "value": "Combustible"
          },
          {
            "name": "CORROSIVE",
            "value": "Corrosive"
          },
          {
            "name": "EXPLOSIVE",
            "value": "Explosive"
          },
          {
            "name": "FLAMMABLE",
            "value": "Flammable"
          },
          {
            "name": "GAS",
            "value": "Gas"
          },
          {
            "name": "HARMFUL_TO_WATER",
            "value": "HarmfulToWater"
          },
          {
            "name": "ORGANIC",
            "value": "Organic"
          },
          {
            "name": "OTHER",
            "value": "Other"
          },
          {
            "name": "POISON",
            "value": "Poison"
          },
          {
            "name": "POISONOUS_INHALATION",
            "value": "PoisonousInhalation"
          },
          {
            "name": "RADIOACTIVE",
            "value": "Radioactive"
          }
        ],
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IsolineHazardousCargoTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineHazardousCargoType"
      },
      "traits": {
        "smithy.api#length": {
          "max": 11
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#IsolineList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#Isoline"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.georoutes#IsolineMatchingOptions": {
      "type": "structure",
      "members": {
        "NameHint": {
          "target": "com.amazonaws.georoutes#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>Attempts to match the provided position to a road similar to the provided name.</p>"
          }
        },
        "OnRoadThreshold": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If the distance to a highway/bridge/tunnel/sliproad is within threshold, the waypoint will be snapped to the highway/bridge/tunnel/sliproad.</p> <p> <b>Unit</b>: <code>meters</code> </p>"
          }
        },
        "Radius": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Considers all roads within the provided radius to match the provided destination to. The roads that are considered are determined by the provided Strategy.</p> <p> <b>Unit</b>: <code>Meters</code> </p>"
          }
        },
        "Strategy": {
          "target": "com.amazonaws.georoutes#MatchingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Strategy that defines matching of the position onto the road network. MatchAny considers all roads possible, whereas MatchMostSignificantRoad matches to the most significant road.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Isoline matching related options.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineOptimizationObjective": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ACCURATE_CALCULATION",
            "value": "AccurateCalculation"
          },
          {
            "name": "BALANCED_CALCULATION",
            "value": "BalancedCalculation"
          },
          {
            "name": "FAST_CALCULATION",
            "value": "FastCalculation"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#IsolineOriginOptions": {
      "type": "structure",
      "members": {
        "AvoidActionsForDistance": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Avoids actions for the provided distance. This is typically to consider for users in moving vehicles who may not have sufficient time to make an action at an origin or a destination.</p>"
          }
        },
        "Heading": {
          "target": "com.amazonaws.georoutes#Heading",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>GPS Heading at the position.</p>"
          }
        },
        "Matching": {
          "target": "com.amazonaws.georoutes#IsolineMatchingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to configure matching the provided position to the road network.</p>"
          }
        },
        "SideOfStreet": {
          "target": "com.amazonaws.georoutes#IsolineSideOfStreetOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options to configure matching the provided position to a side of the street.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Origin related options.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineScooterOptions": {
      "type": "structure",
      "members": {
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>Engine type of the vehicle.</p>"
          }
        },
        "LicensePlate": {
          "target": "com.amazonaws.georoutes#IsolineVehicleLicensePlate",
          "traits": {
            "smithy.api#documentation": "<p>The vehicle License Plate.</p>"
          }
        },
        "MaxSpeed": {
          "target": "com.amazonaws.georoutes#SpeedKilometersPerHour",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Maximum speed specified.</p> <p> <b>Unit</b>: <code>KilometersPerHour</code> </p>",
            "smithy.api#range": {
              "min": 3.6,
              "max": 252.0
            }
          }
        },
        "Occupancy": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of occupants in the vehicle.</p> <p>Default Value: <code>1</code> </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is <code>Scooter</code> </p>"
      }
    },
    "com.amazonaws.georoutes#IsolineShapeGeometry": {
      "type": "structure",
      "members": {
        "Polygon": {
          "target": "com.amazonaws.georoutes#LinearRings",
          "traits": {
            "smithy.api#documentation": "<p>A list of Isoline Polygons, for each isoline polygon, it contains polygons of the first linear ring (the outer ring) and from 2nd item to the last item (the inner rings).</p>"
          }
        },
        "PolylinePolygon": {
          "target": "com.amazonaws.georoutes#PolylineRingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of Isoline PolylinePolygon, for each isoline PolylinePolygon, it contains PolylinePolygon of the first linear ring (the outer ring) and from 2nd item to the last item (the inner rings). For more information on polyline encoding, see <a href=\"https://github.com/heremaps/flexiblepolyline/blob/master/README.md\">https://github.com/heremaps/flexiblepolyline/blob/master/README.md</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry of the connection between different Isoline components.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineShapeGeometryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#IsolineShapeGeometry"
      }
    },
    "com.amazonaws.georoutes#IsolineSideOfStreetOptions": {
      "type": "structure",
      "members": {
        "Position": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Position defined as <code>[longitude, latitude]</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "UseWith": {
          "target": "com.amazonaws.georoutes#SideOfStreetMatchingStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Strategy that defines when the side of street position should be used. AnyStreet will always use the provided position.</p> <p>Default Value: <code>DividedStreetOnly</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options to configure matching the provided position to a side of the street.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineThresholds": {
      "type": "structure",
      "members": {
        "Distance": {
          "target": "com.amazonaws.georoutes#DistanceThresholdList",
          "traits": {
            "smithy.api#documentation": "<p>Distance to be used for the isoline calculation.</p>"
          }
        },
        "Time": {
          "target": "com.amazonaws.georoutes#TimeThresholdList",
          "traits": {
            "smithy.api#documentation": "<p>Time to be used for the isoline calculation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Threshold to be used for the isoline calculation. Up to 5 thresholds per provided type can be requested.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTrafficOptions": {
      "type": "structure",
      "members": {
        "FlowEventThresholdOverride": {
          "target": "com.amazonaws.georoutes#DurationSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Duration for which flow traffic is considered valid. For this period, the flow traffic is used over historical traffic data. Flow traffic refers to congestion, which changes very quickly. Duration in seconds for which flow traffic event would be considered valid. While flow traffic event is valid it will be used over the historical traffic data. </p> <p> <b>Unit</b>: <code>seconds</code> </p>"
          }
        },
        "Usage": {
          "target": "com.amazonaws.georoutes#TrafficUsage",
          "traits": {
            "smithy.api#documentation": "<p>Determines if traffic should be used or ignored while calculating the route.</p> <p>Default Value: <code>UseTrafficData</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options related to traffic.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTrailerOptions": {
      "type": "structure",
      "members": {
        "AxleCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Total number of axles of the vehicle.</p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "TrailerCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Number of trailers attached to the vehicle.</p> <p>Default Value: <code>0</code> </p>",
            "smithy.api#range": {
              "min": 1,
              "max": 255
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Trailer options corresponding to the vehicle.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTravelMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CAR",
            "value": "Car"
          },
          {
            "name": "PEDESTRIAN",
            "value": "Pedestrian"
          },
          {
            "name": "SCOOTER",
            "value": "Scooter"
          },
          {
            "name": "TRUCK",
            "value": "Truck"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#IsolineTravelModeOptions": {
      "type": "structure",
      "members": {
        "Car": {
          "target": "com.amazonaws.georoutes#IsolineCarOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is \"Car\"</p>"
          }
        },
        "Scooter": {
          "target": "com.amazonaws.georoutes#IsolineScooterOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is <code>Scooter</code> </p> <note> <p>When travel mode is set to <code>Scooter</code>, then the avoidance option <code>ControlledAccessHighways</code> defaults to <code>true</code>.</p> </note>"
          }
        },
        "Truck": {
          "target": "com.amazonaws.georoutes#IsolineTruckOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is \"Truck\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Travel mode related options for the provided travel mode.</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTruckOptions": {
      "type": "structure",
      "members": {
        "AxleCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Total number of axles of the vehicle.</p>",
            "smithy.api#range": {
              "min": 2,
              "max": 255
            }
          }
        },
        "EngineType": {
          "target": "com.amazonaws.georoutes#IsolineEngineType",
          "traits": {
            "smithy.api#documentation": "<p>Engine type of the vehicle.</p>"
          }
        },
        "GrossWeight": {
          "target": "com.amazonaws.georoutes#WeightKilograms",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Gross weight of the vehicle including trailers, and goods at capacity.</p> <p> <b>Unit</b>: <code>Kilograms</code> </p>"
          }
        },
        "HazardousCargos": {
          "target": "com.amazonaws.georoutes#IsolineHazardousCargoTypeList",
          "traits": {
            "smithy.api#documentation": "<p>List of Hazardous cargo contained in the vehicle.</p>"
          }
        },
        "Height": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Height of the vehicle.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5000
            }
          }
        },
        "HeightAboveFirstAxle": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Height of the vehicle above its first axle.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5000
            }
          }
        },
        "KpraLength": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Kingpin to rear axle length of the vehicle.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>"
          }
        },
        "Length": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Length of the vehicle.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 30000
            }
          }
        },
        "LicensePlate": {
          "target": "com.amazonaws.georoutes#IsolineVehicleLicensePlate",
          "traits": {
            "smithy.api#documentation": "<p>The vehicle License Plate.</p>"
          }
        },
        "MaxSpeed": {
          "target": "com.amazonaws.georoutes#SpeedKilometersPerHour",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Maximum speed specified.</p> <p> <b>Unit</b>: <code>KilometersPerHour</code> </p>",
            "smithy.api#range": {
              "min": 3.6,
              "max": 252.0
            }
          }
        },
        "Occupancy": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of occupants in the vehicle.</p> <p>Default Value: <code>1</code> </p>",
            "smithy.api#range": {
              "min": 1
            }
          }
        },
        "PayloadCapacity": {
          "target": "com.amazonaws.georoutes#WeightKilograms",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Payload capacity of the vehicle and trailers attached.</p> <p> <b>Unit</b>: <code>kilograms</code> </p>"
          }
        },
        "TireCount": {
          "target": "com.amazonaws.georoutes#SensitiveInteger",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Number of tires on the vehicle.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 255
            }
          }
        },
        "Trailer": {
          "target": "com.amazonaws.georoutes#IsolineTrailerOptions",
          "traits": {
            "smithy.api#documentation": "<p>Trailer options corresponding to the vehicle.</p>"
          }
        },
        "TruckType": {
          "target": "com.amazonaws.georoutes#IsolineTruckType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the truck.</p>"
          }
        },
        "TunnelRestrictionCode": {
          "target": "com.amazonaws.georoutes#TunnelRestrictionCode",
          "traits": {
            "smithy.api#documentation": "<p>The tunnel restriction code.</p> <p>Tunnel categories in this list indicate the restrictions which apply to certain tunnels in Great Britain. They relate to the types of dangerous goods that can be transported through them.</p> <ul> <li> <p> <i>Tunnel Category B</i> </p> <ul> <li> <p> <i>Risk Level</i>: Limited risk</p> </li> <li> <p> <i>Restrictions</i>: Few restrictions</p> </li> </ul> </li> <li> <p> <i>Tunnel Category C</i> </p> <ul> <li> <p> <i>Risk Level</i>: Medium risk</p> </li> <li> <p> <i>Restrictions</i>: Some restrictions</p> </li> </ul> </li> <li> <p> <i>Tunnel Category D</i> </p> <ul> <li> <p> <i>Risk Level</i>: High risk</p> </li> <li> <p> <i>Restrictions</i>: Many restrictions occur</p> </li> </ul> </li> <li> <p> <i>Tunnel Category E</i> </p> <ul> <li> <p> <i>Risk Level</i>: Very high risk</p> </li> <li> <p> <i>Restrictions</i>: Restricted tunnel</p> </li> </ul> </li> </ul>"
          }
        },
        "WeightPerAxle": {
          "target": "com.amazonaws.georoutes#WeightKilograms",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Heaviest weight per axle irrespective of the axle type or the axle group. Meant for usage in countries where the differences in axle types or axle groups are not distinguished.</p> <p> <b>Unit</b>: <code>Kilograms</code> </p>"
          }
        },
        "WeightPerAxleGroup": {
          "target": "com.amazonaws.georoutes#WeightPerAxleGroup",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the total weight for the specified axle group. Meant for usage in countries that have different regulations based on the axle group type.</p> <p> <b>Unit</b>: <code>Kilograms</code> </p>"
          }
        },
        "Width": {
          "target": "com.amazonaws.georoutes#DimensionCentimeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Width of the vehicle.</p> <p> <b>Unit</b>: <code>centimeters</code> </p>",
            "smithy.api#range": {
              "min": 0,
              "max": 5000
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Travel mode options when the provided travel mode is \"Truck\"</p>"
      }
    },
    "com.amazonaws.georoutes#IsolineTruckType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "LIGHT_TRUCK",
            "value": "LightTruck"
          },
          {
            "name": "STRAIGHT_TRUCK",
            "value": "StraightTruck"
          },
          {
            "name": "TRACTOR",
            "value": "Tractor"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#IsolineVehicleLicensePlate": {
      "type": "structure",
      "members": {
        "LastCharacter": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The last character of the License Plate.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 1
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The vehicle license plate.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#IsolineZoneCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CONGESTION_PRICING",
            "value": "CongestionPricing"
          },
          {
            "name": "ENVIRONMENTAL",
            "value": "Environmental"
          },
          {
            "name": "VIGNETTE",
            "value": "Vignette"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#LanguageTag": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 35
        }
      }
    },
    "com.amazonaws.georoutes#LanguageTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#LanguageTag"
      }
    },
    "com.amazonaws.georoutes#LineString": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#Position"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.4"
        },
        "smithy.api#length": {
          "min": 2
        }
      }
    },
    "com.amazonaws.georoutes#LinearRing": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#Position"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
        },
        "smithy.api#length": {
          "min": 4
        }
      }
    },
    "com.amazonaws.georoutes#LinearRings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#LinearRing"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.georoutes#LocalizedString": {
      "type": "structure",
      "members": {
        "Language": {
          "target": "com.amazonaws.georoutes#LanguageTag",
          "traits": {
            "smithy.api#documentation": "<p>A list of BCP 47 compliant language codes for the results to be rendered in. The request uses the regional default as the fallback if the requested language can't be provided.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.georoutes#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The value of the localized string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The localized string.</p>"
      }
    },
    "com.amazonaws.georoutes#LocalizedStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#LocalizedString"
      }
    },
    "com.amazonaws.georoutes#MatchingStrategy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "MATCH_ANY",
            "value": "MatchAny"
          },
          {
            "name": "MATCH_MOST_SIGNIFICANT_ROAD",
            "value": "MatchMostSignificantRoad"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#MeasurementSystem": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "METRIC",
            "value": "Metric"
          },
          {
            "name": "IMPERIAL",
            "value": "Imperial"
          }
        ]
      }
    },
    "com.amazonaws.georoutes#OptimizeWaypoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.georoutes#OptimizeWaypointsRequest"
      },
      "output": {
        "target": "com.amazonaws.georoutes#OptimizeWaypointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.georoutes#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.georoutes#InternalServerException"
        },
        {
          "target": "com.amazonaws.georoutes#ThrottlingException"
        },
        {
          "target": "com.amazonaws.georoutes#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p> <code>OptimizeWaypoints</code> calculates the optimal order to travel between a set of waypoints to minimize either the travel time or the distance travelled during the journey, based on road network restrictions and the traffic pattern data.</p>",
        "smithy.api#http": {
          "uri": "/optimize-waypoints",
          "method": "POST"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "OptimizeWaypointsSuccess",
            "params": {
              "Origin": [-123.253374, 49.351673],
              "Destination": [-123.930756, 49.1314]
            },
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-west-2"
            }
          }
        ]
      }
    },
    "com.amazonaws.georoutes#OptimizeWaypointsRequest": {
      "type": "structure",
      "members": {
        "Avoid": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationAvoidanceOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features that are avoided. Avoidance is on a best-case basis. If an avoidance can't be satisfied for a particular case, this setting is ignored.</p>"
          }
        },
        "Clustering": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationClusteringOptions",
          "traits": {
            "smithy.api#documentation": "<p>Clustering allows you to specify how nearby waypoints can be clustered to improve the optimized sequence.</p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.georoutes#TimestampWithTimezoneOffset",
          "traits": {
            "smithy.api#documentation": "<p>Departure time from the waypoint.</p> <p>Time format:<code>YYYY-MM-DDThh:mm:ss.sssZ | YYYY-MM-DDThh:mm:ss.sss+hh:mm</code> </p> <p>Examples:</p> <p> <code>2020-04-22T17:57:24Z</code> </p> <p> <code>2020-04-22T17:57:24+02:00</code> </p>"
          }
        },
        "Destination": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The final position for the route in the World Geodetic System (WGS 84) format: <code>[longitude, latitude]</code>.</p>"
          }
        },
        "DestinationOptions": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationDestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Destination related options.</p>"
          }
        },
        "Driver": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationDriverOptions",
          "traits": {
            "smithy.api#documentation": "<p>Driver related options.</p>"
          }
        },
        "Exclude": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationExclusionOptions",
          "traits": {
            "smithy.api#documentation": "<p>Features to be strictly excluded while calculating the route.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.georoutes#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The API key to be used for authorization. Either an API key or valid SigV4 signature must be provided when making a request. </p>",
            "smithy.api#httpQuery": "key"
          }
        },
        "OptimizeSequencingFor": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationSequencingObjective",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the optimization criteria for the calculated sequence.</p> <p>Default Value: <code>FastestRoute</code>.</p>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginOptions": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationOriginOptions",
          "traits": {
            "smithy.api#documentation": "<p>Origin related options.</p>"
          }
        },
        "Traffic": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationTrafficOptions",
          "traits": {
            "smithy.api#documentation": "<p>Traffic-related options.</p>"
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationTravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "TravelModeOptions": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationTravelModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Travel mode related options for the provided travel mode.</p>"
          }
        },
        "Waypoints": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationWaypointList",
          "traits": {
            "smithy.api#documentation": "<p>List of waypoints between the <code>Origin</code> and <code>Destination</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.georoutes#OptimizeWaypointsResponse": {
      "type": "structure",
      "members": {
        "Connections": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationConnectionList",
          "traits": {
            "smithy.api#documentation": "<p>Details about the connection from one waypoint to the next, within the optimized sequence.</p>",
            "smithy.api#required": {}
          }
        },
        "Distance": {
          "target": "com.amazonaws.georoutes#DistanceMeters",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Overall distance to travel the whole sequence.</p>",
            "smithy.api#required": {}
          }
        },
        "Duration": {
          "target": "com.amazonaws.georoutes#DurationSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Overall duration to travel the whole sequence.</p> <p> <b>Unit</b>: <code>seconds</code> </p>",
            "smithy.api#required": {}
          }
        },
        "ImpedingWaypoints": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationImpedingWaypointList",
          "traits": {
            "smithy.api#documentation": "<p>Returns waypoints that caused the optimization problem to fail, and the constraints that were unsatisfied leading to the failure.</p>",
            "smithy.api#required": {}
          }
        },
        "OptimizedWaypoints": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationOptimizedWaypointList",
          "traits": {
            "smithy.api#documentation": "<p>Waypoints in the order of the optimized sequence.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingBucket": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The pricing bucket for which the query is charged at.</p>",
            "smithy.api#httpHeader": "x-amz-geo-pricing-bucket",
            "smithy.api#required": {}
          }
        },
        "TimeBreakdown": {
          "target": "com.amazonaws.georoutes#WaypointOptimizationTimeBreakdown",
          "traits": {
            "smithy.api#documentation": "<p>Time breakdown for the sequence.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.georoutes#Polyline": {
      "type": "string",
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://developers.google.com/maps/documentation/utilities/polylinealgorithm"
        },
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#PolylineCorridor": {
      "type": "structure",
      "members": {
        "Polyline": {
          "target": "com.amazonaws.georoutes#Polyline",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map in a lossy compression format.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Considers all roads within the provided radius to match the provided destination to. The roads that are considered are determined by the provided Strategy.</p> <p> <b>Unit</b>: <code>Meters</code> </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Geometry defined as an encoded corridor - an encoded polyline with a radius that defines the width of the corridor.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#PolylineRing": {
      "type": "string",
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.6"
        },
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#PolylineRingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#PolylineRing"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.georoutes#Position": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
        },
        "smithy.api#length": {
          "min": 2,
          "max": 2
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#Position23": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-3.1.1"
        },
        "smithy.api#length": {
          "min": 2,
          "max": 3
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#ProviderResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.georoutes#CalculateIsolines"
        },
        {
          "target": "com.amazonaws.georoutes#CalculateRouteMatrix"
        },
        {
          "target": "com.amazonaws.georoutes#CalculateRoutes"
        },
        {
          "target": "com.amazonaws.georoutes#OptimizeWaypoints"
        },
        {
          "target": "com.amazonaws.georoutes#SnapToRoads"
        }
      ]
    },
    "com.amazonaws.georoutes#RoadSnapHazardousCargoType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "COMBUSTIBLE",
            "value": "Combustible"
          },
          {
            "name": "CORROSIVE",
            "value": "Corrosive"
          },
          {
            "name": "EXPLOSIVE",
            "value": "Explosive"
          },
          {
            "name": "FLAMMABLE",
            "value": "Flammable"
          },
          {
            "name": "GAS",
            "value": "Gas"
          },
          {
            "name": "HARMFUL_TO_WATER",
            "value": "HarmfulToWater"
          },
          {
            "name": "ORGANIC",
            "value": "Organic"
          },
          {
            "name": "OTHER",
            "value": "Other"
          },
          {
            "name": "POISON",
            "value": "Poison"
          },
          {
            "name": "POISONOUS_INHALATION",
            "value": "PoisonousInhalation"
          },
          {
            "name": "RADIOACTIVE",
            "value": "Radioactive"
          }
        ],
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#RoadSnapHazardousCargoTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#RoadSnapHazardousCargoType"
      },
      "traits": {
        "smithy.api#length": {
          "max": 11
        },
        "smithy.api#uniqueItems": {}
      }
    },
    "com.amazonaws.georoutes#RoadSnapNotice": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.georoutes#RoadSnapNoticeCode",
          "traits": {
            "smithy.api#documentation": "<p>Code corresponding to the issue.</p>",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.georoutes#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The notice title.</p>",
            "smithy.api#required": {}
          }
        },
        "TracePointIndexes": {
          "target": "com.amazonaws.georoutes#RoadSnapTracePointIndexList",
          "traits": {
            "smithy.api#documentation": "<p>TracePoint indices for which the provided notice code corresponds to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Notices provide information around factors that may have influenced snapping in a manner atypical to the standard use cases.</p>"
      }
    },
    "com.amazonaws.georoutes#RoadSnapNoticeCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "TRACE_POINTS_HEADING_IGNORED",
            "value": "TracePointsHeadingIgnored"
          },
          {
            "name": "TRACE_POINTS_IGNORED",
            "value": "TracePointsIgnored"
          },
          {
            "name": "TRACE_POINTS_MOVED_BY_LARGE_DISTANCE",
            "value": "TracePointsMovedByLargeDistance"
          },
          {
            "name": "TRACE_POINTS_NOT_MATCHED",
            "value": "TracePointsNotMatched"
          },
          {
            "name": "TRACE_POINTS_OUT_OF_SEQUENCE",
            "value": "TracePointsOutOfSequence"
          },
          {
            "name": "TRACE_POINTS_SPEED_ESTIMATED",
            "value": "TracePointsSpeedEstimated"
          },
          {
            "name": "TRACE_POINTS_SPEED_IGNORED",
            "value": "TracePointsSpeedIgnored"
          }
        ],
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.georoutes#RoadSnapNoticeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#RoadSnapNotice"
      }
    },
    "com.amazonaws.georoutes#RoadSnapSnappedGeometry": {
      "type": "structure",
      "members": {
        "LineString": {
          "target": "com.amazonaws.georoutes#LineString",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        },
        "Polyline": {
          "target": "com.amazonaws.georoutes#Polyline",
          "traits": {
            "smithy.api#documentation": "<p>An ordered list of positions used to plot a route on a map in a lossy compression format.</p> <note> <p>LineString and Polyline are mutually exclusive properties.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Interpolated geometry for the snapped route that is overlay-able onto a map.</p>"
      }
    },
    "com.amazonaws.georoutes#RoadSnapSnappedTracePoint": {
      "type": "structure",
      "members": {
        "Confidence": {
          "target": "com.amazonaws.georoutes#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>Confidence value for the correctness of this point match.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 1
            },
            "smithy.api#required": {}
          }
        },
        "OriginalPosition": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Position of the TracePoint provided within the request, at the same index.</p>",
            "smithy.api#required": {}
          }
        },
        "SnappedPosition": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Snapped position of the TracePoint provided within the request, at the same index. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>TracePoints snapped onto the road network.</p>"
      }
    },
    "com.amazonaws.georoutes#RoadSnapSnappedTracePointList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.georoutes#RoadSnapSnappedTracePoint"
      }
    },
    "com.amazonaws.georoutes#RoadSnapTracePoint": {
      "type": "structure",
      "members": {
        "Heading": {
          "target": "com.amazonaws.georoutes#Heading",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>GPS Heading at the position.</p>"
          }
        },
        "Position": {
          "target": "com.amazonaws.georoutes#Position",
          "traits": {
            "smithy.api#documentation": "<p>Position defined as <code>[longitude, latitude]</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Speed": {
[...]
