{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.glacier#AbortMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#AbortMultipartUploadInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation aborts a multipart upload identified by the upload ID.</p>\n\n\n         <p>After the Abort Multipart Upload request succeeds, you cannot upload any more parts\n         to the multipart upload or complete the multipart upload. Aborting a completed upload\n         fails. However, aborting an already-aborted upload will succeed, for a short time. For more\n         information about uploading a part and completing a multipart upload, see <a>UploadMultipartPart</a> and <a>CompleteMultipartUpload</a>.</p>\n\n         <p>This operation is idempotent.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in\n            Amazon S3 Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart\n            Upload</a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#AbortMultipartUploadInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uploadId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID of the multipart upload to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options to abort a multipart upload identified by the upload ID.</p>\n\n         <p>For information about the underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart\n            Upload</a>. For conceptual information, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in\n            Amazon S3 Glacier</a>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#AbortVaultLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#AbortVaultLockInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation aborts the vault locking process if the vault lock is not in the\n            <code>Locked</code> state. If the vault lock is in the <code>Locked</code> state when\n         this operation is requested, the operation returns an <code>AccessDeniedException</code>\n         error. Aborting the vault locking process removes the vault lock policy from the specified\n         vault. </p>\n         <p>A vault lock is put into the <code>InProgress</code> state by calling <a>InitiateVaultLock</a>. A vault lock is put into the <code>Locked</code> state by\n         calling <a>CompleteVaultLock</a>. You can get the state of a vault lock by\n         calling <a>GetVaultLock</a>. For more information about the vault locking\n         process, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock.html\">Amazon Glacier Vault Lock</a>. For more information about vault lock policies, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock-policy.html\">Amazon\n            Glacier Access Control with Vault Lock Policies</a>. </p>\n         <p>This operation is idempotent. You can successfully invoke this operation multiple\n         times, if the vault lock is in the <code>InProgress</code> state or if there is no policy\n         associated with the vault.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}/lock-policy",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#AbortVaultLockInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID. This value must match the AWS\n         account ID associated with the credentials used to sign the request. You can either specify\n         an AWS account ID or optionally a single '<code>-</code>' (hyphen), in which case Amazon\n         Glacier uses the AWS account ID associated with the credentials used to sign the request.\n         If you specify your account ID, do not include any hyphens ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input values for <code>AbortVaultLock</code>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#AccessControlPolicyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glacier#Grant"
      }
    },
    "com.amazonaws.glacier#ActionCode": {
      "type": "enum",
      "members": {
        "ArchiveRetrieval": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ArchiveRetrieval"
          }
        },
        "InventoryRetrieval": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InventoryRetrieval"
          }
        },
        "Select": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Select"
          }
        }
      }
    },
    "com.amazonaws.glacier#AddTagsToVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#AddTagsToVaultInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#LimitExceededException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation adds the specified tags to a vault. Each tag is composed of a key and\n         a value. Each vault can have up to 10 tags. If your request would cause the tag limit for\n         the vault to be exceeded, the operation throws the <code>LimitExceededException</code>\n         error. If a tag already exists on the vault under a specified key, the existing key value\n         will be overwritten. For more information about tags, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/tagging.html\">Tagging Amazon S3 Glacier Resources</a>.\n      </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accountId}/vaults/{vaultName}/tags?operation=add",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#AddTagsToVaultInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.glacier#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to add to the vault. Each tag is composed of a key and a value. The value\n         can be an empty string.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input values for <code>AddTagsToVault</code>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#ArchiveCreationOutput": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The relative URI path of the newly added archive resource.</p>",
            "smithy.api#httpHeader": "Location"
          }
        },
        "checksum": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The checksum of the archive computed by Amazon S3 Glacier.</p>",
            "smithy.api#httpHeader": "x-amz-sha256-tree-hash"
          }
        },
        "archiveId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the archive. This value is also included as part of the location.</p>",
            "smithy.api#httpHeader": "x-amz-archive-id"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>\n         <p>For information about the underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a>. For\n         conceptual information, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in\n            Amazon S3 Glacier</a>.</p>"
      }
    },
    "com.amazonaws.glacier#CSVInput": {
      "type": "structure",
      "members": {
        "FileHeaderInfo": {
          "target": "com.amazonaws.glacier#FileHeaderInfo",
          "traits": {
            "smithy.api#documentation": "<p>Describes the first line of input. Valid values are <code>None</code>,\n                <code>Ignore</code>, and <code>Use</code>.</p>"
          }
        },
        "Comments": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A single character used to indicate that a row should be ignored when the character is\n            present at the start of that row.</p>"
          }
        },
        "QuoteEscapeCharacter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A single character used for escaping the quotation-mark character inside an already\n            escaped value.</p>"
          }
        },
        "RecordDelimiter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used to separate individual records from each other.</p>"
          }
        },
        "FieldDelimiter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used to separate individual fields from each other within a record.</p>"
          }
        },
        "QuoteCharacter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used as an escape character where the field delimiter is part of the\n            value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the comma-separated value (CSV) file to select from.</p>"
      }
    },
    "com.amazonaws.glacier#CSVOutput": {
      "type": "structure",
      "members": {
        "QuoteFields": {
          "target": "com.amazonaws.glacier#QuoteFields",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether all output fields should be contained within quotation\n            marks.</p>"
          }
        },
        "QuoteEscapeCharacter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A single character used for escaping the quotation-mark character inside an already\n            escaped value.</p>"
          }
        },
        "RecordDelimiter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used to separate individual records from each other.</p>"
          }
        },
        "FieldDelimiter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used to separate individual fields from each other within a record.</p>"
          }
        },
        "QuoteCharacter": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>A value used as an escape character where the field delimiter is part of the\n            value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the comma-separated value (CSV) file that the job results\n            are stored in.</p>"
      }
    },
    "com.amazonaws.glacier#CannedACL": {
      "type": "enum",
      "members": {
        "Private": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "private"
          }
        },
        "PublicRead": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read"
          }
        },
        "PublicReadWrite": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "public-read-write"
          }
        },
        "AwsExecRead": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws-exec-read"
          }
        },
        "AuthenticatedRead": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "authenticated-read"
          }
        },
        "BucketOwnerRead": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-read"
          }
        },
        "BucketOwnerFullControl": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "bucket-owner-full-control"
          }
        }
      }
    },
    "com.amazonaws.glacier#CompleteMultipartUpload": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#CompleteMultipartUploadInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#ArchiveCreationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You call this operation to inform Amazon S3 Glacier (Glacier) that all the archive parts have been\n         uploaded and that Glacier can now assemble the archive from the uploaded parts.\n         After assembling and saving the archive to the vault, Glacier returns the URI path\n         of the newly created archive resource. Using the URI path, you can then access the archive.\n         After you upload an archive, you should save the archive ID returned to retrieve the\n         archive at a later point. You can also get the vault inventory to obtain a list of archive\n         IDs in a vault. For more information, see <a>InitiateJob</a>.</p>\n\n         <p>In the request, you must include the computed SHA256 tree hash of the entire archive\n         you have uploaded. For information about computing a SHA256 tree hash, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing\n            Checksums</a>. On the server side, Glacier also constructs the SHA256 tree\n         hash of the assembled archive. If the values match, Glacier saves the archive to the\n         vault; otherwise, it returns an error, and the operation fails. The <a>ListParts</a> operation returns a list of parts uploaded for a specific\n         multipart upload. It includes checksum information for each uploaded part that can be used\n         to debug a bad checksum issue.</p>\n\n         <p>Additionally, Glacier also checks for any missing content ranges when\n         assembling the archive, if missing content ranges are found, Glacier returns an\n         error and the operation fails.</p>\n\n         <p>Complete Multipart Upload is an idempotent operation. After your first successful\n         complete multipart upload, if you call the operation again within a short period, the\n         operation will succeed and return the same archive ID. This is useful in the event you\n         experience a network issue that causes an aborted connection or receive a 500 server error,\n         in which case you can repeat your Complete Multipart Upload request and get the same\n         archive ID without creating duplicate archives. Note, however, that after the multipart\n         upload completes, you cannot call the List Parts operation and the multipart upload will\n         not appear in List Multipart Uploads response, even if idempotent complete is\n         possible.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-archive-mpu.html\">Uploading Large Archives in\n            Parts (Multipart Upload)</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-complete-upload.html\">Complete Multipart\n            Upload</a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
          "code": 201
        }
      }
    },
    "com.amazonaws.glacier#CompleteMultipartUploadInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "uploadId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The upload ID of the multipart upload.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "archiveSize": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The total size, in bytes, of the entire archive. This value should be the sum of all\n         the sizes of the individual parts that you uploaded.</p>",
            "smithy.api#httpHeader": "x-amz-archive-size"
          }
        },
        "checksum": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 tree hash of the entire archive. It is the tree hash of SHA256 tree hash\n         of the individual parts. If the value you specify in the request does not match the SHA256\n         tree hash of the final assembled archive as computed by Amazon S3 Glacier (Glacier), \n         Glacier returns an error and the request fails.</p>",
            "smithy.api#httpHeader": "x-amz-sha256-tree-hash"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options to complete a multipart upload operation. This informs Amazon\n         Glacier that all the archive parts have been uploaded and Amazon S3 Glacier (Glacier) can now assemble\n         the archive from the uploaded parts. After assembling and saving the archive to the vault,\n         Glacier returns the URI path of the newly created archive resource.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#CompleteVaultLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#CompleteVaultLockInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation completes the vault locking process by transitioning the vault lock\n         from the <code>InProgress</code> state to the <code>Locked</code> state, which causes the\n         vault lock policy to become unchangeable. A vault lock is put into the\n            <code>InProgress</code> state by calling <a>InitiateVaultLock</a>. You can\n         obtain the state of the vault lock by calling <a>GetVaultLock</a>. For more\n         information about the vault locking process, <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock.html\">Amazon Glacier Vault Lock</a>. </p>\n         <p>This operation is idempotent. This request is always successful if the vault lock is\n         in the <code>Locked</code> state and the provided lock ID matches the lock ID originally\n         used to lock the vault.</p>\n         <p>If an invalid lock ID is passed in the request when the vault lock is in the\n            <code>Locked</code> state, the operation returns an <code>AccessDeniedException</code>\n         error. If an invalid lock ID is passed in the request when the vault lock is in the\n            <code>InProgress</code> state, the operation throws an <code>InvalidParameter</code>\n         error.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/{accountId}/vaults/{vaultName}/lock-policy/{lockId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#CompleteVaultLockInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID. This value must match the AWS\n         account ID associated with the credentials used to sign the request. You can either specify\n         an AWS account ID or optionally a single '<code>-</code>' (hyphen), in which case Amazon\n         Glacier uses the AWS account ID associated with the credentials used to sign the request.\n         If you specify your account ID, do not include any hyphens ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "lockId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>lockId</code> value is the lock ID obtained from a <a>InitiateVaultLock</a> request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input values for <code>CompleteVaultLock</code>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#CreateVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#CreateVaultInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#CreateVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#LimitExceededException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation creates a new vault with the specified name. The name of the vault\n         must be unique within a region for an AWS account. You can create up to 1,000 vaults per\n         account. If you need to create more vaults, contact Amazon S3 Glacier.</p>\n         <p>You must use the following guidelines when naming a vault.</p>\n         <ul>\n            <li>\n               <p>Names can be between 1 and 255 characters long.</p>\n            </li>\n            <li>\n               <p>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), and '.'\n               (period).</p>\n            </li>\n         </ul>\n\n         <p>This operation is idempotent.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/creating-vaults.html\">Creating a Vault in Amazon\n            Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-put.html\">Create Vault </a> in the\n            <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/{accountId}/vaults/{vaultName}",
          "code": 201
        }
      }
    },
    "com.amazonaws.glacier#CreateVaultInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID. This value must match the AWS\n         account ID associated with the credentials used to sign the request. You can either specify\n         an AWS account ID or optionally a single '<code>-</code>' (hyphen), in which case Amazon S3\n         Glacier uses the AWS account ID associated with the credentials used to sign the request.\n         If you specify your account ID, do not include any hyphens ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options to create a vault.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#CreateVaultOutput": {
      "type": "structure",
      "members": {
        "location": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the vault that was created.</p>",
            "smithy.api#httpHeader": "Location"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#DataRetrievalPolicy": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.glacier#DataRetrievalRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The policy rule. Although this is a list type, currently there must be only one rule,\n         which contains a Strategy field and optionally a BytesPerHour field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data retrieval policy.</p>"
      }
    },
    "com.amazonaws.glacier#DataRetrievalRule": {
      "type": "structure",
      "members": {
        "Strategy": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The type of data retrieval policy to set.</p>\n         <p>Valid values: BytesPerHour|FreeTier|None</p>"
          }
        },
        "BytesPerHour": {
          "target": "com.amazonaws.glacier#NullableLong",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of bytes that can be retrieved in an hour.</p>\n         <p>This field is required only if the value of the Strategy field is\n            <code>BytesPerHour</code>. Your PUT operation will be rejected if the Strategy field is\n         not set to <code>BytesPerHour</code> and you set this field.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data retrieval policy rule.</p>"
      }
    },
    "com.amazonaws.glacier#DataRetrievalRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glacier#DataRetrievalRule"
      }
    },
    "com.amazonaws.glacier#DateTime": {
      "type": "string"
    },
    "com.amazonaws.glacier#DeleteArchive": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DeleteArchiveInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes an archive from a vault. Subsequent requests to initiate a\n         retrieval of this archive will fail. Archive retrievals that are in progress for this\n         archive ID may or may not succeed according to the following scenarios:</p>\n         <ul>\n            <li>\n               <p>If the archive retrieval job is actively preparing the data for download when\n               Amazon S3 Glacier receives the delete archive request, the archival retrieval operation\n               might fail.</p>\n            </li>\n            <li>\n               <p>If the archive retrieval job has successfully prepared the archive for download\n               when Amazon S3 Glacier receives the delete archive request, you will be able to download\n               the output.</p>\n            </li>\n         </ul>\n\n         <p>This operation is idempotent. Attempting to delete an already-deleted archive does\n         not result in an error.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/deleting-an-archive.html\">Deleting an Archive in Amazon\n            Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-delete.html\">Delete Archive</a> in the\n            <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}/archives/{archiveId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#DeleteArchiveInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "archiveId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the archive to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for deleting an archive from an Amazon S3 Glacier vault.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DeleteVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DeleteVaultInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes a vault. Amazon S3 Glacier will delete a vault only if there are\n         no archives in the vault as of the last inventory and there have been no writes to the\n         vault since the last inventory. If either of these conditions is not satisfied, the vault\n         deletion fails (that is, the vault is not removed) and Amazon S3 Glacier returns an error. You\n         can use <a>DescribeVault</a> to return the number of archives in a vault, and\n         you can use <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-initiate-job-post.html\">Initiate a Job (POST\n            jobs)</a> to initiate a new inventory retrieval for a vault. The inventory contains\n         the archive IDs you use to delete archives using <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-delete.html\">Delete Archive (DELETE\n            archive)</a>.</p>\n\n         <p>This operation is idempotent.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/deleting-vaults.html\">Deleting a Vault in Amazon\n            Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-delete.html\">Delete Vault </a> in the\n            <i>Amazon S3 Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#DeleteVaultAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DeleteVaultAccessPolicyInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the access policy associated with the specified vault. The\n         operation is eventually consistent; that is, it might take some time for Amazon S3 Glacier to\n         completely remove the access policy, and you might still see the effect of the policy for a\n         short time after you send the delete request.</p>\n         <p>This operation is idempotent. You can invoke delete multiple times, even if there is\n         no policy associated with the vault. For more information about vault access policies, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-access-policy.html\">Amazon Glacier Access Control with Vault Access Policies</a>. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}/access-policy",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#DeleteVaultAccessPolicyInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>DeleteVaultAccessPolicy input.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DeleteVaultInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for deleting a vault from Amazon S3 Glacier.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DeleteVaultNotifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DeleteVaultNotificationsInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation deletes the notification configuration set for a vault. The operation\n         is eventually consistent; that is, it might take some time for Amazon S3 Glacier to completely\n         disable the notifications and you might still receive some notifications for a short time\n         after you send the delete request.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n         <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access\n            Control Using AWS Identity and Access Management (IAM)</a>.</p>\n         <p> For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault\n            Notifications in Amazon S3 Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-delete.html\">Delete Vault\n            Notification Configuration </a> in the Amazon S3 Glacier Developer Guide. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/{accountId}/vaults/{vaultName}/notification-configuration",
          "code": 204
        }
      }
    },
    "com.amazonaws.glacier#DeleteVaultNotificationsInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for deleting a vault notification configuration from an Amazon\n         Glacier vault.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DescribeJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DescribeJobInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GlacierJobDescription"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about a job you previously initiated, including\n         the job initiation date, the user who initiated the job, the job status code/message and\n         the Amazon SNS topic to notify after Amazon S3 Glacier (Glacier) completes the job. For more information\n         about initiating a job, see <a>InitiateJob</a>. </p>\n\n         <note>\n            <p>This operation enables you to check the status of your job. However, it is\n            strongly recommended that you set up an Amazon SNS topic and specify it in your initiate\n            job request so that Glacier can notify the topic after it completes the\n            job.</p>\n         </note>\n\n         <p>A job ID will not expire for at least 24 hours after Glacier completes the\n         job.</p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n\n         <p> For more information about using this operation, \n         see the documentation for the underlying REST API <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-describe-job-get.html\">Describe Job</a> \n         in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#DescribeJobInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for retrieving a job description.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DescribeVault": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#DescribeVaultInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#DescribeVaultOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns information about a vault, including the vault's Amazon\n         Resource Name (ARN), the date the vault was created, the number of archives it contains,\n         and the total size of all the archives in the vault. The number of archives and their total\n         size are as of the last inventory generation. This means that if you add or remove an\n         archive from a vault, and then immediately use Describe Vault, the change in contents will\n         not be immediately reflected. If you want to retrieve the latest inventory of the vault,\n         use <a>InitiateJob</a>. Amazon S3 Glacier generates vault inventories approximately\n         daily. For more information, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory in\n            Amazon S3 Glacier</a>. </p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p>For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/retrieving-vault-info.html\">Retrieving Vault Metadata in\n            Amazon S3 Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-get.html\">Describe Vault </a> in the\n            <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "VaultExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "success": true
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 3
          },
          "VaultNotExists": {
            "acceptors": [
              {
                "state": "retry",
                "matcher": {
                  "success": true
                }
              },
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 3
          }
        }
      }
    },
    "com.amazonaws.glacier#DescribeVaultInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for retrieving metadata for a specific vault in Amazon\n         Glacier.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#DescribeVaultOutput": {
      "type": "structure",
      "members": {
        "VaultARN": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the vault.</p>"
          }
        },
        "VaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The Universal Coordinated Time (UTC) date when the vault was created. This value\n         should be a string in the ISO 8601 date format, for example\n            <code>2012-03-20T17:03:43.221Z</code>.</p>"
          }
        },
        "LastInventoryDate": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The Universal Coordinated Time (UTC) date when Amazon S3 Glacier completed the last\n         vault inventory.  This value should be a string in the ISO 8601 date format, for example\n            <code>2012-03-20T17:03:43.221Z</code>.</p>"
          }
        },
        "NumberOfArchives": {
          "target": "com.amazonaws.glacier#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of archives in the vault as of the last inventory date. This field will\n         return <code>null</code> if an inventory has not yet run on the vault, for example if you\n         just created the vault.</p>"
          }
        },
        "SizeInBytes": {
          "target": "com.amazonaws.glacier#long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Total size, in bytes, of the archives in the vault as of the last inventory date.\n         This field will return null if an inventory has not yet run on the vault, for example if\n         you just created the vault.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>"
      }
    },
    "com.amazonaws.glacier#Encryption": {
      "type": "structure",
      "members": {
        "EncryptionType": {
          "target": "com.amazonaws.glacier#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The server-side encryption algorithm used when storing job results in Amazon S3, for\n            example <code>AES256</code> or <code>aws:kms</code>.</p>"
          }
        },
        "KMSKeyId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The AWS KMS key ID to use for object encryption. All GET and PUT requests for an\n            object protected by AWS KMS fail if not made by using Secure Sockets Layer (SSL) or\n            Signature Version 4. </p>"
          }
        },
        "KMSContext": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>Optional. If the encryption type is <code>aws:kms</code>, you can use this value to\n            specify the encryption context for the job results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the encryption used to store the job results in Amazon S3. </p>"
      }
    },
    "com.amazonaws.glacier#EncryptionType": {
      "type": "enum",
      "members": {
        "KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aws:kms"
          }
        },
        "S3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES256"
          }
        }
      }
    },
    "com.amazonaws.glacier#ExpressionType": {
      "type": "enum",
      "members": {
        "SQL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SQL"
          }
        }
      }
    },
    "com.amazonaws.glacier#FileHeaderInfo": {
      "type": "enum",
      "members": {
        "Use": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE"
          }
        },
        "Ignore": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IGNORE"
          }
        },
        "None": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.glacier#GetDataRetrievalPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#GetDataRetrievalPolicyInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GetDataRetrievalPolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation returns the current data retrieval policy for the account and region\n         specified in the GET request. For more information about data retrieval policies, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/data-retrieval-policy.html\">Amazon Glacier Data Retrieval Policies</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/policies/data-retrieval",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#GetDataRetrievalPolicyInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID. This value must match the AWS\n         account ID associated with the credentials used to sign the request. You can either specify\n         an AWS account ID or optionally a single '<code>-</code>' (hyphen), in which case Amazon\n         Glacier uses the AWS account ID associated with the credentials used to sign the request.\n         If you specify your account ID, do not include any hyphens ('-') in the ID. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for GetDataRetrievalPolicy.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#GetDataRetrievalPolicyOutput": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.glacier#DataRetrievalPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Contains the returned data retrieval policy in JSON format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to the <code>GetDataRetrievalPolicy</code>\n         request.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#GetJobOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#GetJobOutputInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GetJobOutputOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation downloads the output of the job you initiated using <a>InitiateJob</a>. Depending on the job type you specified when you initiated the\n         job, the output will be either the content of an archive or a vault inventory.</p>\n\n         <p>You can download all the job output or download a portion of the output by specifying\n         a byte range. In the case of an archive retrieval job, depending on the byte range you\n         specify, Amazon S3 Glacier (Glacier) returns the checksum for the portion of the data. You can compute the\n         checksum on the client and verify that the values match to ensure the portion you downloaded\n         is the correct data.</p>\n         <p>A job ID will not expire for at least 24 hours after Glacier completes the job. That\n         a byte range. For both archive and inventory retrieval jobs, you should verify the downloaded \n         size against the size returned in the headers from the \n         <b>Get Job Output</b> response.</p>\n         <p>For archive retrieval jobs, you should also verify that the size is what you expected. If\n         you download a portion of the output, the expected size is based on the range of bytes\n         you specified. For example, if you specify a range of <code>bytes=0-1048575</code>, you should\n         verify your download size is 1,048,576 bytes. If you download an entire archive, the\n         expected size is the size of the archive when you uploaded it to Amazon S3 Glacier\n         The expected size is also returned in the headers from the \n         <b>Get Job Output</b> response.</p>\n         <p>In the case of an archive retrieval job, depending on the byte range you\n         specify, Glacier returns the checksum for the portion of the data. To ensure the portion you downloaded \n         is the correct data, compute the checksum on the client, verify that the values match, \n         and verify that the size is what you expected.</p>\n      \n         <p>A job ID does not expire for at least 24 hours after Glacier completes the\n         job. That is, you can download the job output within the 24 hours period after Amazon\n         Glacier completes the job.</p>    \n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p>For conceptual information and the underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a\n            Vault Inventory</a>, <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/downloading-an-archive.html\">Downloading an\n            Archive</a>, and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-job-output-get.html\">Get Job Output </a>\n         </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}/jobs/{jobId}/output",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#GetJobOutputInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The job ID whose data is downloaded.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "range": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The range of bytes to retrieve from the output. For example, if you want to download\n         the first 1,048,576 bytes, specify the range as <code>bytes=0-1048575</code>. By default, this operation\n         downloads the entire output.</p>\n      \n         <p>If the job output is large, then you can use a range to\n         retrieve a portion of the output. This allows you to download the entire output in smaller\n         chunks of bytes. For example, suppose you have 1 GB of job output you want to download and\n         you decide to download 128 MB chunks of data at a time, which is a total of eight Get Job\n         Output requests. You use the following process to download the job output:</p>\n     \n         <ol>\n            <li>\n               <p>Download a 128 MB chunk of output by specifying the appropriate byte range.\n                  Verify that all 128 MB of data was received.</p>\n            </li>\n            <li>\n               <p>Along with the data, the response includes a SHA256 tree hash of the payload.\n                  You compute the checksum of the payload on the client and compare it with the\n                  checksum you received in the response to ensure you received all the expected\n                  data.</p>\n            </li>\n            <li>\n               <p>Repeat steps 1 and 2 for all the eight 128 MB chunks of output data, each time\n                  specifying the appropriate byte range.</p>\n            </li>\n            <li>\n               <p>After downloading all the parts of the job output, you have a list of eight\n                  checksum values. Compute the tree hash of these values to find the checksum of the\n                  entire output. Using the <a>DescribeJob</a> API, obtain job information of\n                  the job that provided you the output. The response includes the checksum of the\n                  entire archive stored in Amazon S3 Glacier. You compare this value with the checksum you\n                  computed to ensure you have downloaded the entire archive content with no\n                  errors.</p>\n               <p></p>\n            </li>\n         </ol>",
            "smithy.api#httpHeader": "Range"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for downloading output of an Amazon S3 Glacier job.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#GetJobOutputOutput": {
      "type": "structure",
      "members": {
        "body": {
          "target": "com.amazonaws.glacier#Stream",
          "traits": {
            "smithy.api#default": "",
            "smithy.api#documentation": "<p>The job data, either archive data or inventory data.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "checksum": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The checksum of the data in the response. This header is returned only when\n         retrieving the output for an archive retrieval job. Furthermore, this header appears only\n         under the following conditions:</p>\n         <ul>\n            <li>\n                <p>You get the entire range of the archive.</p>\n            </li>\n            <li>\n               <p>You request a range to return of the archive that starts and ends on a multiple\n               of 1 MB. For example, if you have an 3.1 MB archive and you specify a range to return\n               that starts at 1 MB and ends at 2 MB, then the x-amz-sha256-tree-hash is returned as\n               a response header.</p>\n            </li>\n            <li>\n               <p>You request a range of the archive to return that starts on a multiple of 1 MB\n               and goes to the end of the archive. For example, if you have a 3.1 MB archive and you\n               specify a range that starts at 2 MB and ends at 3.1 MB (the end of the archive), then\n               the x-amz-sha256-tree-hash is returned as a response header.</p>\n            </li>\n         </ul>",
            "smithy.api#httpHeader": "x-amz-sha256-tree-hash"
          }
        },
        "status": {
          "target": "com.amazonaws.glacier#httpstatus",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The HTTP response code for a job output request. The value depends on whether a range\n         was specified in the request.</p>",
            "smithy.api#httpResponseCode": {}
          }
        },
        "contentRange": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The range of bytes returned by Amazon S3 Glacier. If only partial output is downloaded,\n         the response provides the range of bytes Amazon S3 Glacier returned. For example, bytes\n         0-1048575/8388608 returns the first 1 MB from 8 MB.</p>",
            "smithy.api#httpHeader": "Content-Range"
          }
        },
        "acceptRanges": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the range units accepted. For more information, see <a href=\"http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html\">RFC2616</a>. </p>",
            "smithy.api#httpHeader": "Accept-Ranges"
          }
        },
        "contentType": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The Content-Type depends on whether the job output is an archive or a vault\n         inventory. For archive data, the Content-Type is application/octet-stream. For vault\n         inventory, if you requested CSV format when you initiated the job, the Content-Type is\n         text/csv. Otherwise, by default, vault inventory is returned as JSON, and the Content-Type\n         is application/json.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "archiveDescription": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The description of an archive.</p>",
            "smithy.api#httpHeader": "x-amz-archive-description"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#GetVaultAccessPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#GetVaultAccessPolicyInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GetVaultAccessPolicyOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation retrieves the <code>access-policy</code> subresource set on the vault;\n         for more information on setting this subresource, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-SetVaultAccessPolicy.html\">Set Vault Access Policy\n            (PUT access-policy)</a>. If there is no access policy set on the vault, the\n         operation returns a <code>404 Not found</code> error. For more information about vault\n         access policies, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-access-policy.html\">Amazon Glacier Access Control\n            with Vault Access Policies</a>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}/access-policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#GetVaultAccessPolicyInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Input for GetVaultAccessPolicy.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#GetVaultAccessPolicyOutput": {
      "type": "structure",
      "members": {
        "policy": {
          "target": "com.amazonaws.glacier#VaultAccessPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Contains the returned vault access policy as a JSON string.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output for GetVaultAccessPolicy.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#GetVaultLock": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#GetVaultLockInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GetVaultLockOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation retrieves the following attributes from the <code>lock-policy</code>\n         subresource set on the specified vault: </p>\n         <ul>\n            <li>\n               <p>The vault lock policy set on the vault.</p>\n            </li>\n            <li>\n               <p>The state of the vault lock, which is either <code>InProgess</code> or\n                  <code>Locked</code>.</p>\n            </li>\n            <li>\n               <p>When the lock ID expires. The lock ID is used to complete the vault locking\n               process.</p>\n            </li>\n            <li>\n               <p>When the vault lock was initiated and put into the <code>InProgress</code>\n               state.</p>\n            </li>\n         </ul>\n\n         <p>A vault lock is put into the <code>InProgress</code> state by calling <a>InitiateVaultLock</a>. A vault lock is put into the <code>Locked</code> state by\n         calling <a>CompleteVaultLock</a>. You can abort the vault locking process by\n         calling <a>AbortVaultLock</a>. For more information about the vault locking\n         process, <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock.html\">Amazon\n            Glacier Vault Lock</a>. </p>\n         <p>If there is no vault lock policy set on the vault, the operation returns a <code>404\n            Not found</code> error. For more information about vault lock policies, <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/vault-lock-policy.html\">Amazon\n            Glacier Access Control with Vault Lock Policies</a>. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}/lock-policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#GetVaultLockInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input values for <code>GetVaultLock</code>.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#GetVaultLockOutput": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The vault lock policy as a JSON string, which uses \"\\\" as an escape\n         character.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The state of the vault lock. <code>InProgress</code> or\n         <code>Locked</code>.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The UTC date and time at which the lock ID expires. This value can be\n            <code>null</code> if the vault lock is in a <code>Locked</code> state.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The UTC date and time at which the vault lock was put into the\n            <code>InProgress</code> state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#GetVaultNotifications": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glacier#GetVaultNotificationsInput"
      },
      "output": {
        "target": "com.amazonaws.glacier#GetVaultNotificationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.glacier#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#MissingParameterValueException"
        },
        {
          "target": "com.amazonaws.glacier#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.glacier#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This operation retrieves the <code>notification-configuration</code> subresource of\n         the specified vault.</p>\n\n         <p>For information about setting a notification configuration on a vault, see <a>SetVaultNotifications</a>. If a notification configuration for a vault is not\n         set, the operation returns a <code>404 Not Found</code> error. For more information about\n         vault notifications, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault\n            Notifications in Amazon S3 Glacier</a>. </p>\n\n         <p>An AWS account has full permission to perform all operations (actions). However, AWS\n         Identity and Access Management (IAM) users don't have any permissions by default. You must\n         grant them explicit permission to perform specific actions. For more information, see\n            <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using\n            AWS Identity and Access Management (IAM)</a>.</p>\n         <p>For conceptual information and underlying REST API, see <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault\n            Notifications in Amazon S3 Glacier</a> and <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-get.html\">Get Vault Notification\n            Configuration </a> in the <i>Amazon Glacier Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/{accountId}/vaults/{vaultName}/notification-configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.glacier#GetVaultNotificationsInput": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The <code>AccountId</code> value is the AWS account ID of the account that owns the\n         vault. You can either specify an AWS account ID or optionally a single '<code>-</code>'\n         (hyphen), in which case Amazon S3 Glacier uses the AWS account ID associated with the\n         credentials used to sign the request. If you use an account ID, do not include any hyphens\n         ('-') in the ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "vaultName": {
          "target": "com.amazonaws.glacier#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the vault.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides options for retrieving the notification configuration set on an Amazon\n         Glacier vault.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glacier#GetVaultNotificationsOutput": {
      "type": "structure",
      "members": {
        "vaultNotificationConfig": {
          "target": "com.amazonaws.glacier#VaultNotificationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Returns the notification configuration set on the vault.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the Amazon S3 Glacier response to your request.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.glacier#Glacier": {
      "type": "service",
      "version": "2012-06-01",
      "operations": [
        {
          "target": "com.amazonaws.glacier#AbortMultipartUpload"
        },
        {
          "target": "com.amazonaws.glacier#AbortVaultLock"
        },
        {
          "target": "com.amazonaws.glacier#AddTagsToVault"
        },
        {
          "target": "com.amazonaws.glacier#CompleteMultipartUpload"
        },
        {
          "target": "com.amazonaws.glacier#CompleteVaultLock"
        },
        {
          "target": "com.amazonaws.glacier#CreateVault"
        },
        {
          "target": "com.amazonaws.glacier#DeleteArchive"
        },
        {
          "target": "com.amazonaws.glacier#DeleteVault"
        },
        {
          "target": "com.amazonaws.glacier#DeleteVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.glacier#DeleteVaultNotifications"
        },
        {
          "target": "com.amazonaws.glacier#DescribeJob"
        },
        {
          "target": "com.amazonaws.glacier#DescribeVault"
        },
        {
          "target": "com.amazonaws.glacier#GetDataRetrievalPolicy"
        },
        {
          "target": "com.amazonaws.glacier#GetJobOutput"
        },
        {
          "target": "com.amazonaws.glacier#GetVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.glacier#GetVaultLock"
        },
        {
          "target": "com.amazonaws.glacier#GetVaultNotifications"
        },
        {
          "target": "com.amazonaws.glacier#InitiateJob"
        },
        {
          "target": "com.amazonaws.glacier#InitiateMultipartUpload"
        },
        {
          "target": "com.amazonaws.glacier#InitiateVaultLock"
        },
        {
          "target": "com.amazonaws.glacier#ListJobs"
        },
        {
          "target": "com.amazonaws.glacier#ListMultipartUploads"
        },
        {
          "target": "com.amazonaws.glacier#ListParts"
        },
        {
          "target": "com.amazonaws.glacier#ListProvisionedCapacity"
        },
        {
          "target": "com.amazonaws.glacier#ListTagsForVault"
        },
        {
          "target": "com.amazonaws.glacier#ListVaults"
        },
        {
          "target": "com.amazonaws.glacier#PurchaseProvisionedCapacity"
        },
        {
          "target": "com.amazonaws.glacier#RemoveTagsFromVault"
        },
        {
          "target": "com.amazonaws.glacier#SetDataRetrievalPolicy"
        },
        {
          "target": "com.amazonaws.glacier#SetVaultAccessPolicy"
        },
        {
          "target": "com.amazonaws.glacier#SetVaultNotifications"
        },
        {
          "target": "com.amazonaws.glacier#UploadArchive"
        },
        {
          "target": "com.amazonaws.glacier#UploadMultipartPart"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Glacier",
          "arnNamespace": "glacier",
          "cloudFormationName": "Glacier",
          "cloudTrailEventSource": "glacier.amazonaws.com",
          "endpointPrefix": "glacier"
        },
        "aws.auth#sigv4": {
          "name": "glacier"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p> Amazon S3 Glacier (Glacier) is a storage solution for \"cold data.\"</p>\n\n         <p>Glacier is an extremely low-cost storage service that provides secure,\n         durable, and easy-to-use storage for data backup and archival. With Glacier,\n         customers can store their data cost effectively for months, years, or decades. \n         Glacier also enables customers to offload the administrative burdens of operating and\n         scaling storage to AWS, so they don't have to worry about capacity planning, hardware\n         provisioning, data replication, hardware failure and recovery, or time-consuming hardware\n         migrations.</p>\n\n         <p>Glacier is a great storage choice when low storage cost is paramount and your\n         data is rarely retrieved. If your\n         application requires fast or frequent access to your data, consider using Amazon S3. For\n         more information, see <a href=\"http://aws.amazon.com/s3/\">Amazon Simple Storage Service\n            (Amazon S3)</a>.</p>\n\n         <p>You can store any kind of data in any format. There is no maximum limit on the total\n         amount of data you can store in Glacier.</p>\n\n         <p>If you are a first-time user of Glacier, we recommend that you begin by\n         reading the following sections in the <i>Amazon S3 Glacier Developer\n         Guide</i>:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/introduction.html\">What is\n                  Amazon S3 Glacier</a> - This section of the Developer Guide describes the\n               underlying data model, the operations it supports, and the AWS SDKs that you can use\n               to interact with the service.</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/amazonglacier/latest/dev/amazon-glacier-getting-started.html\">Getting Started\n                  with Amazon S3 Glacier</a> - The Getting Started section walks you through the\n               process of creating a vault, uploading archives, creating jobs to download archives,\n               retrieving the job output, and deleting archives.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Glacier",
        "smithy.api#xmlNamespace": {
          "uri": "http://glacier.amazonaws.com/doc/2012-06-01/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
[...]
