{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.globalaccelerator#Accelerator": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accelerator.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the accelerator. The name must contain only alphanumeric characters or\n\t\t\thyphens (-), and must not begin or end with a hyphen.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.globalaccelerator#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The value for the address type must be IPv4.\n\t\t\t</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p>\n\t\t       <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>"
          }
        },
        "IpSets": {
          "target": "com.amazonaws.globalaccelerator#IpSets",
          "traits": {
            "smithy.api#documentation": "<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>"
          }
        },
        "DnsName": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Domain Name System (DNS) name that Global Accelerator creates that points to your accelerator's static IP addresses. </p>\n\t\t       <p>The naming convention for the DNS name is the following: A lowercase letter a,\n\t\t\tfollowed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example:\n\t\t\ta1234567890abcdef.awsglobalaccelerator.com.</p>\n\t\t       <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing\">\n\t\t\tSupport for DNS Addressing in Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.globalaccelerator#AcceleratorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes the deployment status of the accelerator.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.globalaccelerator#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the accelerator was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.globalaccelerator#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the accelerator was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An accelerator is a complex type that includes one or more listeners that process inbound connections and then direct\n\t\t\ttraffic to one or more endpoint groups, each of which includes endpoints, such as load balancers.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#AcceleratorAttributes": {
      "type": "structure",
      "members": {
        "FlowLogsEnabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether flow logs are enabled. The default value is false. If the value is true,\n\t\t\t\t<code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow Logs</a> in\n\t\t\tthe <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        },
        "FlowLogsS3Bucket": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is\n\t\t\t\t<code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the\n\t\t\tbucket.</p>"
          }
        },
        "FlowLogsS3Prefix": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if\n\t\t\t\t<code>FlowLogsEnabled</code> is <code>true</code>.</p>\n\t\t       <p>If you don’t specify a prefix, the flow logs are stored in the\n\t\t\troot of the bucket. If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p>\n\t\t       <p>s3-bucket_name//AWSLogs/aws_account_id</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of an accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#AcceleratorNotDisabledException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The accelerator that you specified could not be disabled.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.globalaccelerator#AcceleratorNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The accelerator that you specified doesn't exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.globalaccelerator#AcceleratorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPLOYED"
          },
          {
            "value": "IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#Accelerators": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#Accelerator"
      }
    },
    "com.amazonaws.globalaccelerator#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have access permission.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.globalaccelerator#AddCustomRoutingEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#AddCustomRoutingEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#AddCustomRoutingEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ConflictException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#EndpointAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a virtual private cloud (VPC) subnet endpoint with your custom routing accelerator.</p>\n\t        <p>The listener port range must be large enough to support the number of IP addresses that can be \n\t\tspecified in your subnet. The number of ports required is: subnet size times the number\n\t\tof ports per destination EC2 instances. For example, a subnet defined as /24 requires a listener \n\t\tport range of at least 255 ports. </p>\n\t        <p>Note: You must have enough remaining listener ports available to \n\t\tmap to the subnet ports, or the call will fail with a LimitExceededException.</p>\n\t        <p>By default, all destinations in a subnet in a custom routing accelerator cannot receive traffic. To enable all\n\t\t\tdestinations to receive traffic, or to specify individual port mappings that can receive\n\t\t\ttraffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\">\n\t\t\t\tAllowCustomRoutingTraffic</a> operation.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#AddCustomRoutingEndpointsRequest": {
      "type": "structure",
      "members": {
        "EndpointConfigurations": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The list of endpoint objects to add to a custom routing accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#AddCustomRoutingEndpointsResponse": {
      "type": "structure",
      "members": {
        "EndpointDescriptions": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint objects added to the custom routing accelerator.</p>"
          }
        },
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group for the custom routing endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#AdvertiseByoipCidr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#AdvertiseByoipCidrRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#AdvertiseByoipCidrResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ByoipCidrNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#IncorrectCidrStateException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Advertises an IPv4 address range that is provisioned for use with your AWS resources \n\t\t\tthrough bring your own IP addresses (BYOIP). It can take a few minutes before traffic to \n\t\t\tthe specified addresses starts routing to AWS because of propagation delays. </p>\n\t\t       <p>To stop advertising the BYOIP address range, use <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\">\n\t\t\tWithdrawByoipCidr</a>.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own \n\t\t\tIP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#AdvertiseByoipCidrRequest": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The address range, in CIDR notation. This must be the exact range that you provisioned. \n\t\t\tYou can't advertise only a portion of the provisioned range.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#AdvertiseByoipCidrResponse": {
      "type": "structure",
      "members": {
        "ByoipCidr": {
          "target": "com.amazonaws.globalaccelerator#ByoipCidr",
          "traits": {
            "smithy.api#documentation": "<p>Information about the address range.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#AllowCustomRoutingTraffic": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#AllowCustomRoutingTrafficRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that can receive traffic \n\t\t\tfor a custom routing accelerator. You can allow traffic to all destinations in the subnet endpoint, or allow traffic to a\n\t\t\tspecified list of destination IP addresses and ports in the subnet. Note that you cannot specify IP addresses or ports \n\t\t\toutside of the range that you configured for the endpoint group.</p>\n\t\t       <p>After you make changes, you can verify that the updates are complete by checking the status of your\n\t\t\taccelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#AllowCustomRoutingTrafficRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationAddresses": {
          "target": "com.amazonaws.globalaccelerator#DestinationAddresses",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific Amazon EC2 instance IP addresses (destination addresses) in a subnet that you want to allow to receive \n\t\t\ttraffic. The IP addresses must be a subset of the IP addresses that you specified for the endpoint group.</p>\n\t\t       <p>\n            <code>DestinationAddresses</code> is required if <code>AllowAllTrafficToEndpoint</code> is <code>FALSE</code> or is\n\t\tnot specified.</p>"
          }
        },
        "DestinationPorts": {
          "target": "com.amazonaws.globalaccelerator#DestinationPorts",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific Amazon EC2 instance ports (destination ports) that you want to allow to receive traffic.</p>"
          }
        },
        "AllowAllTrafficToEndpoint": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether all destination IP addresses and ports for a specified VPC subnet endpoint can receive traffic \n\t\t\tfrom a custom routing accelerator. The value is TRUE or FALSE. </p>\n\t\t       <p>When set to TRUE, <i>all</i> destinations in the custom routing VPC subnet can receive traffic. Note \n\t\t\tthat you cannot specify destination IP addresses and ports when the value is set to TRUE.</p>\n\t\t       <p>When set to FALSE (or not specified), you <i>must</i> specify a list of destination IP addresses that are allowed\n\t\t\tto receive traffic. A list of ports is optional. If you don't specify a list of ports, the ports that can accept traffic is\n\t\t\tthe same as the ports configured for the endpoint group.</p>\n\t\t       <p>The default value is FALSE.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#AssociatedEndpointGroupFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The listener that you specified has an endpoint group associated with it. You must remove all dependent resources\n\t\t\tfrom a listener before you can delete it.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.globalaccelerator#AssociatedListenerFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The accelerator that you specified has a listener associated with it. You must remove all dependent resources from an\n\t\t\taccelerator before you can delete it.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidr": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The address range, in CIDR notation.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.globalaccelerator#ByoipCidrState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the address pool.</p>"
          }
        },
        "Events": {
          "target": "com.amazonaws.globalaccelerator#ByoipCidrEvents",
          "traits": {
            "smithy.api#documentation": "<p>A history of status changes for an IP address range that you bring to AWS Global Accelerator\n\t\t\tthrough bring your own IP address (BYOIP).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an IP address range that is provisioned for use with your AWS resources through \n\t\t\tbring your own IP address (BYOIP).</p>\n\t\t       <p>The following describes each BYOIP <code>State</code> that your IP address range can be in.</p>\n\t\t       <ul>\n            <li>\n               <p>\n                  <b>PENDING_PROVISIONING</b> — \n\t\t\t\tYou’ve submitted a request to provision an IP address range but it is not yet provisioned with \n\t\t\t\tAWS Global Accelerator.</p>\n            </li>\n            <li>\n               <p>\n                  <b>READY</b> — The address range is provisioned \n\t\t\t\twith AWS Global Accelerator and can be advertised.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING_ADVERTISING</b> — You’ve submitted a \n\t\t\t\trequest for AWS Global Accelerator to advertise an address range but it is not yet being advertised.</p>\n            </li>\n            <li>\n               <p>\n                  <b>ADVERTISING</b> — The address range is \n\t\t\t\tbeing advertised by AWS Global Accelerator.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING_WITHDRAWING</b> — You’ve submitted \n\t\t\t\ta request to withdraw an address range from being advertised but it is still being advertised \n\t\t\t\tby AWS Global Accelerator.</p>\n            </li>\n            <li>\n               <p>\n                  <b>PENDING_DEPROVISIONING</b> — You’ve submitted a \n\t\t\t\trequest to deprovision an address range from AWS Global Accelerator but it is still provisioned.</p>\n            </li>\n            <li>\n               <p>\n                  <b>DEPROVISIONED</b> — The address range is deprovisioned \n\t\t\t\tfrom AWS Global Accelerator.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED_PROVISION </b> — The request to \n\t\t\t\tprovision the address range from AWS Global Accelerator was not successful. Please make sure that\n\t\t\t\tyou provide all of the correct information, and try again. If the request fails\n\t\t\t\ta second time, contact AWS support.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED_ADVERTISING</b> — The request for AWS Global Accelerator\n\t\t\t\tto advertise the address range was not successful. Please make sure that\n\t\t\t\tyou provide all of the correct information, and try again. If the request fails\n\t\t\t\ta second time, contact AWS support.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED_WITHDRAW</b> — The request to withdraw \n\t\t\t\tthe address range from advertising by AWS Global Accelerator was not successful. Please make sure that\n\t\t\t\tyou provide all of the correct information, and try again. If the request fails\n\t\t\t\ta second time, contact AWS support.</p>\n            </li>\n            <li>\n               <p>\n                  <b>FAILED_DEPROVISION </b> — The request to \n\t\t\t\tdeprovision the address range from AWS Global Accelerator was not successful. Please make sure that\n\t\t\t\tyou provide all of the correct information, and try again. If the request fails\n\t\t\t\ta second time, contact AWS support.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidrEvent": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>A string that contains an <code>Event</code> message describing changes that you make in the status \n\t\t\tof an IP address range that you bring to AWS Global Accelerator through bring your own IP address (BYOIP).</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.globalaccelerator#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp when you make a status change for an IP address range that you bring to AWS Global Accelerator through \n\t\t\tbring your own IP address (BYOIP).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that contains a <code>Message</code> and a <code>Timestamp</code> value for changes \n\t\t\tthat you make in the status an IP address range that you bring to AWS Global Accelerator through bring your own IP \n\t\t\taddress (BYOIP).</p>"
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidrEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#ByoipCidrEvent"
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidrNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CIDR that you specified was not found or is incorrect.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidrState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING_PROVISIONING",
            "name": "PENDING_PROVISIONING"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "PENDING_ADVERTISING",
            "name": "PENDING_ADVERTISING"
          },
          {
            "value": "ADVERTISING",
            "name": "ADVERTISING"
          },
          {
            "value": "PENDING_WITHDRAWING",
            "name": "PENDING_WITHDRAWING"
          },
          {
            "value": "PENDING_DEPROVISIONING",
            "name": "PENDING_DEPROVISIONING"
          },
          {
            "value": "DEPROVISIONED",
            "name": "DEPROVISIONED"
          },
          {
            "value": "FAILED_PROVISION",
            "name": "FAILED_PROVISION"
          },
          {
            "value": "FAILED_ADVERTISING",
            "name": "FAILED_ADVERTISING"
          },
          {
            "value": "FAILED_WITHDRAW",
            "name": "FAILED_WITHDRAW"
          },
          {
            "value": "FAILED_DEPROVISION",
            "name": "FAILED_DEPROVISION"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#ByoipCidrs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#ByoipCidr"
      }
    },
    "com.amazonaws.globalaccelerator#CidrAuthorizationContext": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The plain-text authorization message for the prefix and account.</p>",
            "smithy.api#required": {}
          }
        },
        "Signature": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The signed authorization message for the prefix and account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides authorization for Amazon to bring a specific IP address range to a specific AWS \n\t\t\taccount using bring your own IP addresses (BYOIP). </p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own \n\t\t\tIP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#ClientAffinity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE"
          },
          {
            "value": "SOURCE_IP"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.globalaccelerator#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You can't use both of those options.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.globalaccelerator#CreateAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateAcceleratorRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateAcceleratorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic\n\t\t\tto one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. </p>\t\n\t\t       <important>\n\t\t\t         <p>Global Accelerator is a global service that supports endpoints in multiple AWS Regions but you must specify the \n\t\t\t\tUS West (Oregon) Region to create or update accelerators.</p>\n\t\t       </important>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateAcceleratorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of an accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or\n\t\t\thyphens (-), and must not begin or end with a hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.globalaccelerator#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The value for the address type must be IPv4.</p>"
          }
        },
        "IpAddresses": {
          "target": "com.amazonaws.globalaccelerator#IpAddresses",
          "traits": {
            "smithy.api#documentation": "<p>Optionally, if you've added your own IP address pool to Global Accelerator (BYOIP), you can choose IP addresses \n\t\t\tfrom your own pool to use for the accelerator's static IP addresses when you create an accelerator. You can \n\t\t\tspecify one or two addresses, separated by a comma. Do not include the /32 suffix.</p>\n\t\t       <p>Only one IP address from each of your IP address ranges can be used for each accelerator. If you specify only \n\t\t\tone IP address from your IP address range, Global Accelerator assigns a second static IP address for the \n\t\t\taccelerator from the AWS IP address pool.</p>\n\t\t       <p> Note that you can't update IP addresses for an existing accelerator. To change them, you must create a new \n\t\t\taccelerator with the new addresses.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own \n\t\t\tIP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p>\n\t\t       <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the\n\t\t\tuniqueness—of an accelerator.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.globalaccelerator#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Create tags for an accelerator.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging\n\t\t\tin AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateAcceleratorResponse": {
      "type": "structure",
      "members": {
        "Accelerator": {
          "target": "com.amazonaws.globalaccelerator#Accelerator",
          "traits": {
            "smithy.api#documentation": "<p>The accelerator that is created by specifying a listener and the supported IP address types.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingAcceleratorRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingAcceleratorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a custom routing accelerator. A custom routing accelerator directs traffic to one of possibly thousands\n\t\tof Amazon EC2 instance destinations running in a single or multiple virtual private clouds (VPC) subnet endpoints.</p>\n\t        <p>Be aware that, by default, all destination EC2 instances in a VPC subnet endpoint cannot receive\n\t\t\ttraffic. To enable all destinations to receive traffic, or to specify individual port\n\t\t\tmappings that can receive traffic, see the <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/API_AllowCustomRoutingTraffic.html\">\n\t\t\t\tAllowCustomRoutingTraffic</a> operation.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingAcceleratorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a custom routing accelerator. The name can have a maximum of 64 characters, must contain \n\t\tonly alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.globalaccelerator#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The value for the address type must be IPv4.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p>\n\t        <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that\n\t\t\tis, the uniqueness—of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.globalaccelerator#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Create tags for an accelerator.</p>\n\t        <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/tagging-in-global-accelerator.html\">Tagging\n\t\tin AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingAcceleratorResponse": {
      "type": "structure",
      "members": {
        "Accelerator": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingAccelerator",
          "traits": {
            "smithy.api#documentation": "<p>The accelerator that is created.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingEndpointGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidPortRangeException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an endpoint group for the specified listener for a custom routing accelerator. \n\t\tAn endpoint group is a collection of endpoints in one AWS\n\t\tRegion. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener for a custom routing endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointGroupRegion": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where the endpoint group is located. A listener can have only one endpoint group in a\n\t\tspecific Region.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationConfigurations": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingDestinationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Sets the port range and protocol for all endpoints (virtual private cloud subnets) in a custom routing endpoint group to accept \n\t\tclient traffic on.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the\n\t\tuniqueness—of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingEndpointGroupResponse": {
      "type": "structure",
      "members": {
        "EndpointGroup": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointGroup",
          "traits": {
            "smithy.api#documentation": "<p>The information about the endpoint group created for a custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateCustomRoutingListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidPortRangeException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a listener to process inbound connections from clients to a custom routing accelerator.\n\t\t\tConnections arrive to assigned static IP addresses on the port range that you specify. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingListenerRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accelerator for a custom routing listener.</p>",
            "smithy.api#required": {}
          }
        },
        "PortRanges": {
          "target": "com.amazonaws.globalaccelerator#PortRanges",
          "traits": {
            "smithy.api#documentation": "<p>The port range to support for connections from clients to your accelerator.</p>\n\t        <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About \n\t\tendpoints for custom routing accelerators</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the\n\t\tuniqueness—of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateCustomRoutingListenerResponse": {
      "type": "structure",
      "members": {
        "Listener": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingListener",
          "traits": {
            "smithy.api#documentation": "<p>The listener that you've created for a custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateEndpointGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one AWS\n\t\t\tRegion. A resource must be valid and active when you add it as an endpoint.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointGroupRegion": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where the endpoint group is located. A listener can have only one endpoint group in a\n\t\t\tspecific Region.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointConfigurations": {
          "target": "com.amazonaws.globalaccelerator#EndpointConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The list of endpoint objects.</p>"
          }
        },
        "TrafficDialPercentage": {
          "target": "com.amazonaws.globalaccelerator#TrafficDialPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for\n\t\t\tthis listener. </p>\n\t\t       <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is\n\t\t\tapplied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p>\n\t\t       <p>The default value is 100.</p>"
          }
        },
        "HealthCheckPort": {
          "target": "com.amazonaws.globalaccelerator#HealthCheckPort",
          "traits": {
            "smithy.api#documentation": "<p>The port that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port\n\t\t\tis the listener port that this endpoint group is associated with. If listener port is a list of ports, Global Accelerator uses the\n\t\t\tfirst port in the list.</p>"
          }
        },
        "HealthCheckProtocol": {
          "target": "com.amazonaws.globalaccelerator#HealthCheckProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default\n\t\t\tvalue is TCP.</p>"
          }
        },
        "HealthCheckPath": {
          "target": "com.amazonaws.globalaccelerator#HealthCheckPath",
          "traits": {
            "smithy.api#documentation": "<p>If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The\n\t\t\tdefault value is slash (/).</p>"
          }
        },
        "HealthCheckIntervalSeconds": {
          "target": "com.amazonaws.globalaccelerator#HealthCheckIntervalSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The time—10 seconds or 30 seconds—between each health check for an endpoint. The default value is 30.</p>"
          }
        },
        "ThresholdCount": {
          "target": "com.amazonaws.globalaccelerator#ThresholdCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an\n\t\t\tunhealthy endpoint to healthy. The default value is 3.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the\n\t\t\tuniqueness—of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "PortOverrides": {
          "target": "com.amazonaws.globalaccelerator#PortOverrides",
          "traits": {
            "smithy.api#documentation": "<p>Override specific listener ports used to route traffic to endpoints that are part of this endpoint group.\n\t\t\tFor example, you can create a port override in which the listener \n\t\t\treceives user traffic on ports 80 and 443, but your accelerator routes that traffic to ports 1080 \n\t\t\tand 1443, respectively, on the endpoints.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoint-groups-port-override.html\">\n\t\t\tPort overrides</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateEndpointGroupResponse": {
      "type": "structure",
      "members": {
        "EndpointGroup": {
          "target": "com.amazonaws.globalaccelerator#EndpointGroup",
          "traits": {
            "smithy.api#documentation": "<p>The information about the endpoint group that was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#CreateListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#CreateListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidPortRangeException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static\n\t\t\tIP addresses on a port, port range, or list of port ranges that you specify. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#CreateListenerRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of your accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "PortRanges": {
          "target": "com.amazonaws.globalaccelerator#PortRanges",
          "traits": {
            "smithy.api#documentation": "<p>The list of port ranges to support for connections from clients to your accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.globalaccelerator#Protocol",
          "traits": {
            "smithy.api#documentation": "<p>The protocol for connections from clients to your accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientAffinity": {
          "target": "com.amazonaws.globalaccelerator#ClientAffinity",
          "traits": {
            "smithy.api#documentation": "<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications,\n\t\t\tregardless of the port and protocol of the client request. Client affinity gives you control over whether to always\n\t\t\troute each client to the same specific endpoint.</p>\n\t\t       <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client\n\t\t\taffinity is <code>NONE</code>, Global Accelerator uses the \"five-tuple\" (5-tuple) properties—source IP address, source port,\n\t\t\tdestination IP address, destination port, and protocol—to select the hash value, and then chooses the best\n\t\t\tendpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not\n\t\t\tbe always routed to the same endpoint because the hash value changes. </p>\n\t\t       <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code>\n\t\t\tinstead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the \"two-tuple\" (2-tuple) properties—\n\t\t\tsource (client) IP address and destination IP address—to select the hash value.</p>\n\t\t       <p>The default value is <code>NONE</code>.</p>"
          }
        },
        "IdempotencyToken": {
          "target": "com.amazonaws.globalaccelerator#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the\n\t\t\tuniqueness—of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CreateListenerResponse": {
      "type": "structure",
      "members": {
        "Listener": {
          "target": "com.amazonaws.globalaccelerator#Listener",
          "traits": {
            "smithy.api#documentation": "<p>The listener that you've created.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingAccelerator": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the accelerator. The name must contain only alphanumeric characters or\n\t\t\thyphens (-), and must not begin or end with a hyphen.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.globalaccelerator#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The value for the address type must be IPv4.</p>"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p>\n\t\t       <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>"
          }
        },
        "IpSets": {
          "target": "com.amazonaws.globalaccelerator#IpSets",
          "traits": {
            "smithy.api#documentation": "<p>The static IP addresses that Global Accelerator associates with the accelerator.</p>"
          }
        },
        "DnsName": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Domain Name System (DNS) name that Global Accelerator creates that points to your accelerator's static IP addresses. </p>\n\t\t       <p>The naming convention for the DNS name is the following: A lowercase letter a,\n\t\t\tfollowed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example:\n\t\t\ta1234567890abcdef.awsglobalaccelerator.com.</p>\n\t\t       <p>For more information about the default DNS name, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing\">\n\t\t\tSupport for DNS Addressing in Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingAcceleratorStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes the deployment status of the accelerator.</p>"
          }
        },
        "CreatedTime": {
          "target": "com.amazonaws.globalaccelerator#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the accelerator was created.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.globalaccelerator#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the accelerator was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingAcceleratorAttributes": {
      "type": "structure",
      "members": {
        "FlowLogsEnabled": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether flow logs are enabled. The default value is false. If the value is true,\n\t\t\t<code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html\">Flow Logs</a> in\n\t\t\tthe <i>AWS Global Accelerator Developer Guide</i>.</p>"
          }
        },
        "FlowLogsS3Bucket": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is\n\t\t\t<code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the\n\t\t\tbucket.</p>"
          }
        },
        "FlowLogsS3Prefix": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if\n\t\t\t<code>FlowLogsEnabled</code> is <code>true</code>.</p>\n\t\t       <p>If you don’t specify a prefix, the flow logs are stored in the\n\t\t\troot of the bucket. If you specify slash (/) for the S3 bucket prefix, the log file bucket folder structure will include a double slash (//), like the following:</p>\n\t\t       <p>DOC-EXAMPLE-BUCKET//AWSLogs/aws_account_id</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingAcceleratorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEPLOYED"
          },
          {
            "value": "IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingAccelerators": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingAccelerator"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingDestinationConfiguration": {
      "type": "structure",
      "members": {
        "FromPort": {
          "target": "com.amazonaws.globalaccelerator#PortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "ToPort": {
          "target": "com.amazonaws.globalaccelerator#PortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocols": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingProtocols",
          "traits": {
            "smithy.api#documentation": "<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For a custom routing accelerator, sets the port range and protocol for all endpoints (virtual\n\t\t\tprivate cloud subnets) in an endpoint group to accept client traffic on.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingDestinationConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingDestinationConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingDestinationDescription": {
      "type": "structure",
      "members": {
        "FromPort": {
          "target": "com.amazonaws.globalaccelerator#PortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The first port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
          }
        },
        "ToPort": {
          "target": "com.amazonaws.globalaccelerator#PortNumber",
          "traits": {
            "smithy.api#documentation": "<p>The last port, inclusive, in the range of ports for the endpoint group that is associated with a custom routing accelerator.</p>"
          }
        },
        "Protocols": {
          "target": "com.amazonaws.globalaccelerator#Protocols",
          "traits": {
            "smithy.api#documentation": "<p>The protocol for the endpoint group that is associated with a custom routing accelerator. The protocol can be either TCP or UDP.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For a custom routing accelerator, describes the port range and protocol for all endpoints\n\t\t\t(virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingDestinationDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingDestinationDescription"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingDestinationTrafficState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "DENY",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointConfiguration": {
      "type": "structure",
      "members": {
        "EndpointId": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC)\n\t\t\tsubnet ID. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The list of endpoint objects. For custom routing, this is a list of virtual private cloud (VPC) subnet IDs.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointDescription": {
      "type": "structure",
      "members": {
        "EndpointId": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC)\n\t\t\tsubnet ID. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type for an endpoint for a custom routing accelerator. Each endpoint group can include one or more endpoints, \n\t\t\twhich are virtual private cloud (VPC) subnets.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointDescription"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointGroup": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
          }
        },
        "EndpointGroupRegion": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where the endpoint group is located.</p>"
          }
        },
        "DestinationDescriptions": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingDestinationDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>For a custom routing accelerator, describes the port range and protocol for all endpoints\n\t\t\t(virtual private cloud subnets) in an endpoint group to accept client traffic on.</p>"
          }
        },
        "EndpointDescriptions": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>For a custom routing accelerator, describes the endpoints (virtual private cloud subnets) in an\n\t\t\tendpoint group to accept client traffic on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type for the endpoint group for a custom routing accelerator. An AWS Region can have only one endpoint group for a specific listener.\n\t\t</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingEndpointGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointGroup"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingListener": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>"
          }
        },
        "PortRanges": {
          "target": "com.amazonaws.globalaccelerator#PortRanges",
          "traits": {
            "smithy.api#documentation": "<p>The port range to support for connections from clients to your accelerator.</p>\n\t\t       <p>Separately, you set port ranges for endpoints. For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/about-custom-routing-endpoints.html\">About \n\t\t\t\tendpoints for custom routing accelerators</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type for a listener for a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingListeners": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingListener"
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingProtocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TCP",
            "name": "TCP"
          },
          {
            "value": "UDP",
            "name": "UDP"
          }
        ]
      }
    },
    "com.amazonaws.globalaccelerator#CustomRoutingProtocols": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#CustomRoutingProtocol"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteAcceleratorRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotDisabledException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AssociatedListenerFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources\n\t\t\t(listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p>\n\t\t       <important>\n            <p>When you create an accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. \n\t\t\tAlternatively, you can bring your own IP address ranges to Global Accelerator and assign IP addresses from those ranges. \n\t\t</p>\n\t\t          <p>The IP addresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and\n\t\t\tit no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the \n\t\t\tstatic IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them.\n\t\t\tAs a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You \n\t\t\tcan use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Authentication and Access Control</a> in\n\t\t\tthe <i>AWS Global Accelerator Developer Guide</i>.</p>\n         </important>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteAcceleratorRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an accelerator.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteCustomRoutingAcceleratorRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotDisabledException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#AssociatedListenerFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a custom routing accelerator. Before you can delete an accelerator, you must disable it and remove all dependent resources\n\t\t(listeners and endpoint groups). To disable the accelerator, update the accelerator to set <code>Enabled</code> to false.</p>\n\t        <important>\n            <p>When you create a custom routing accelerator, by default, Global Accelerator provides you with a set of two static IP addresses. \n\t</p>\n\t\t          <p>The IP \n\t\t\taddresses are assigned to your accelerator for as long as it exists, even if you disable the accelerator and\n\t\t\tit no longer accepts or routes traffic. However, when you <i>delete</i> an accelerator, you lose the \n\t\t\tstatic IP addresses that are assigned to the accelerator, so you can no longer route traffic by using them.\n\t\t\tAs a best practice, ensure that you have permissions in place to avoid inadvertently deleting accelerators. You \n\t\t\tcan use IAM policies with Global Accelerator to limit the users who have permissions to delete an accelerator. For more information, \n\t\t\tsee <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/auth-and-access-control.html\">Authentication and Access Control</a> in\n\t\t\tthe <i>AWS Global Accelerator Developer Guide</i>.</p>\n         </important>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingAcceleratorRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteCustomRoutingEndpointGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an endpoint group from a listener for a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteCustomRoutingListenerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AssociatedEndpointGroupFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a listener for a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteCustomRoutingListenerRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteEndpointGroupRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an endpoint group from a listener.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeleteListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeleteListenerRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AssociatedEndpointGroupFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a listener from an accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DeleteListenerRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DenyCustomRoutingTraffic": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DenyCustomRoutingTrafficRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Specify the Amazon EC2 instance (destination) IP addresses and ports for a VPC subnet endpoint that cannot receive traffic \n\t\t\tfor a custom routing accelerator. You can deny traffic to all destinations in the VPC endpoint, or deny traffic to a\n\t\t\tspecified list of destination IP addresses and ports. Note that you cannot specify IP addresses \n\t\t\tor ports outside of the range that you configured for the endpoint group.</p>\n\t\t       <p>After you make changes, you can verify that the updates are complete by checking the status of your\n\t\t\taccelerator: the status changes from IN_PROGRESS to DEPLOYED.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DenyCustomRoutingTrafficRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>An ID for the endpoint. For custom routing accelerators, this is the virtual private cloud (VPC) subnet ID.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationAddresses": {
          "target": "com.amazonaws.globalaccelerator#DestinationAddresses",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific Amazon EC2 instance IP addresses (destination addresses) in a subnet that you want to prevent from receiving \n\t\t\ttraffic. The IP addresses must be a subset of the IP addresses allowed for the VPC subnet associated with the \n\t\t\tendpoint group.</p>"
          }
        },
        "DestinationPorts": {
          "target": "com.amazonaws.globalaccelerator#DestinationPorts",
          "traits": {
            "smithy.api#documentation": "<p>A list of specific Amazon EC2 instance ports (destination ports) in a subnet endpoint that you want to prevent from \n\t\t\treceiving traffic.</p>"
          }
        },
        "DenyAllTrafficToEndpoint": {
          "target": "com.amazonaws.globalaccelerator#GenericBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether all destination IP addresses and ports for a specified VPC subnet endpoint <i>cannot</i> \n\t\t\treceive traffic from a custom routing accelerator. The value is TRUE or FALSE. </p>\n\t\t       <p>When set to TRUE, <i>no</i> destinations in the custom routing VPC subnet can receive traffic. Note \n\t\t\tthat you cannot specify destination IP addresses and ports when the value is set to TRUE.</p>\n\t\t       <p>When set to FALSE (or not specified), you <i>must</i> specify a list of destination IP addresses that cannot receive\n\t\t\ttraffic. A list of ports is optional. If you don't specify a list of ports, the ports that can accept traffic is\n\t\t\tthe same as the ports configured for the endpoint group.</p>\n\t\t       <p>The default value is FALSE.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeprovisionByoipCidr": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DeprovisionByoipCidrRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DeprovisionByoipCidrResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ByoipCidrNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#IncorrectCidrStateException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Releases the specified address range that you provisioned to use with your AWS resources \n\t\t\tthrough bring your own IP addresses (BYOIP) and deletes the corresponding address pool. </p>\n\t\t       <p>Before you can release an address range, you must stop advertising it by using <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/api/WithdrawByoipCidr.html\">WithdrawByoipCidr</a> and you must not have \n\t\t\tany accelerators that are using static IP addresses allocated from its address range.\n\t\t</p>\n\t\t       <p>For more information, see <a href=\"https://docs.aws.amazon.com/global-accelerator/latest/dg/using-byoip.html\">Bring Your Own \n\t\t\tIP Addresses (BYOIP)</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DeprovisionByoipCidrRequest": {
      "type": "structure",
      "members": {
        "Cidr": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The address range, in CIDR notation. The prefix must be the same prefix that you specified \n\t\t\twhen you provisioned the address range.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DeprovisionByoipCidrResponse": {
      "type": "structure",
      "members": {
        "ByoipCidr": {
          "target": "com.amazonaws.globalaccelerator#ByoipCidr",
          "traits": {
            "smithy.api#documentation": "<p>Information about the address range.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeAcceleratorRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeAcceleratorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe an accelerator. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAcceleratorAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeAcceleratorAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeAcceleratorAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe the attributes of an accelerator. \n\t\t</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAcceleratorAttributesRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accelerator with the attributes that you want to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAcceleratorAttributesResponse": {
      "type": "structure",
      "members": {
        "AcceleratorAttributes": {
          "target": "com.amazonaws.globalaccelerator#AcceleratorAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of the accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAcceleratorRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accelerator to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeAcceleratorResponse": {
      "type": "structure",
      "members": {
        "Accelerator": {
          "target": "com.amazonaws.globalaccelerator#Accelerator",
          "traits": {
            "smithy.api#documentation": "<p>The description of the accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAccelerator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe a custom routing accelerator. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorAttributes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorAttributesRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorAttributesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#AcceleratorNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe the attributes of a custom routing accelerator. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorAttributesRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator to describe the attributes for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorAttributesResponse": {
      "type": "structure",
      "members": {
        "AcceleratorAttributes": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingAcceleratorAttributes",
          "traits": {
            "smithy.api#documentation": "<p>The attributes of the custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorRequest": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the accelerator to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingAcceleratorResponse": {
      "type": "structure",
      "members": {
        "Accelerator": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingAccelerator",
          "traits": {
            "smithy.api#documentation": "<p>The description of the custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingEndpointGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe an endpoint group for a custom routing accelerator. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingEndpointGroupResponse": {
      "type": "structure",
      "members": {
        "EndpointGroup": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingEndpointGroup",
          "traits": {
            "smithy.api#documentation": "<p>The description of an endpoint group for a custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeCustomRoutingListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The description of a listener for a custom routing accelerator.</p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingListenerRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeCustomRoutingListenerResponse": {
      "type": "structure",
      "members": {
        "Listener": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingListener",
          "traits": {
            "smithy.api#documentation": "<p>The description of a listener for a custom routing accelerator.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeEndpointGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#EndpointGroupNotFoundException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe an endpoint group. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeEndpointGroupResponse": {
      "type": "structure",
      "members": {
        "EndpointGroup": {
          "target": "com.amazonaws.globalaccelerator#EndpointGroup",
          "traits": {
            "smithy.api#documentation": "<p>The description of an endpoint group.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeListener": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.globalaccelerator#DescribeListenerRequest"
      },
      "output": {
        "target": "com.amazonaws.globalaccelerator#DescribeListenerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.globalaccelerator#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.globalaccelerator#ListenerNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe a listener. </p>"
      }
    },
    "com.amazonaws.globalaccelerator#DescribeListenerRequest": {
      "type": "structure",
      "members": {
        "ListenerArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the listener to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DescribeListenerResponse": {
      "type": "structure",
      "members": {
        "Listener": {
          "target": "com.amazonaws.globalaccelerator#Listener",
          "traits": {
            "smithy.api#documentation": "<p>The description of a listener.</p>"
          }
        }
      }
    },
    "com.amazonaws.globalaccelerator#DestinationAddresses": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.globalaccelerator#IpAddress"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.globalaccelerator#DestinationPortMapping": {
      "type": "structure",
      "members": {
        "AcceleratorArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom routing accelerator \n\t\t\tthat you have port mappings for.</p>"
          }
        },
        "AcceleratorSocketAddresses": {
          "target": "com.amazonaws.globalaccelerator#SocketAddresses",
          "traits": {
            "smithy.api#documentation": "<p>The IP address/port combinations (sockets) that map to a given destination socket\n\t\t\taddress.</p>"
          }
        },
        "EndpointGroupArn": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the endpoint group.</p>"
          }
        },
        "EndpointId": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the virtual private cloud (VPC) subnet.</p>"
          }
        },
        "EndpointGroupRegion": {
          "target": "com.amazonaws.globalaccelerator#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region for the endpoint group.</p>"
          }
        },
        "DestinationSocketAddress": {
          "target": "com.amazonaws.globalaccelerator#SocketAddress",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint IP address/port combination for traffic received on the accelerator socket address.</p>"
          }
        },
        "IpAddressType": {
          "target": "com.amazonaws.globalaccelerator#IpAddressType",
          "traits": {
            "smithy.api#documentation": "<p>The IP address type, which must be IPv4.</p>"
          }
        },
        "DestinationTrafficState": {
          "target": "com.amazonaws.globalaccelerator#CustomRoutingDestinationTrafficState",
          "traits": {
[...]
