{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.glue#AWSGlue": {
      "type": "service",
      "version": "2017-03-31",
      "operations": [
        {
          "target": "com.amazonaws.glue#BatchCreatePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#BatchDeletePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTable"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#BatchGetBlueprints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetCustomEntityTypes"
        },
        {
          "target": "com.amazonaws.glue#BatchGetDataQualityResult"
        },
        {
          "target": "com.amazonaws.glue#BatchGetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetJobs"
        },
        {
          "target": "com.amazonaws.glue#BatchGetPartition"
        },
        {
          "target": "com.amazonaws.glue#BatchGetTriggers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetWorkflows"
        },
        {
          "target": "com.amazonaws.glue#BatchStopJobRun"
        },
        {
          "target": "com.amazonaws.glue#BatchUpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#CancelDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#CancelDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#CancelMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#CancelStatement"
        },
        {
          "target": "com.amazonaws.glue#CheckSchemaVersionValidity"
        },
        {
          "target": "com.amazonaws.glue#CreateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#CreateClassifier"
        },
        {
          "target": "com.amazonaws.glue#CreateConnection"
        },
        {
          "target": "com.amazonaws.glue#CreateCrawler"
        },
        {
          "target": "com.amazonaws.glue#CreateCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#CreateDatabase"
        },
        {
          "target": "com.amazonaws.glue#CreateDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#CreateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#CreateJob"
        },
        {
          "target": "com.amazonaws.glue#CreateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#CreatePartition"
        },
        {
          "target": "com.amazonaws.glue#CreatePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#CreateRegistry"
        },
        {
          "target": "com.amazonaws.glue#CreateSchema"
        },
        {
          "target": "com.amazonaws.glue#CreateScript"
        },
        {
          "target": "com.amazonaws.glue#CreateSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#CreateSession"
        },
        {
          "target": "com.amazonaws.glue#CreateTable"
        },
        {
          "target": "com.amazonaws.glue#CreateTrigger"
        },
        {
          "target": "com.amazonaws.glue#CreateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#CreateWorkflow"
        },
        {
          "target": "com.amazonaws.glue#DeleteBlueprint"
        },
        {
          "target": "com.amazonaws.glue#DeleteClassifier"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#DeleteCrawler"
        },
        {
          "target": "com.amazonaws.glue#DeleteCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#DeleteDatabase"
        },
        {
          "target": "com.amazonaws.glue#DeleteDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#DeleteDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#DeleteJob"
        },
        {
          "target": "com.amazonaws.glue#DeleteMLTransform"
        },
        {
          "target": "com.amazonaws.glue#DeletePartition"
        },
        {
          "target": "com.amazonaws.glue#DeletePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#DeleteRegistry"
        },
        {
          "target": "com.amazonaws.glue#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchema"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#DeleteSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#DeleteSession"
        },
        {
          "target": "com.amazonaws.glue#DeleteTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#DeleteTrigger"
        },
        {
          "target": "com.amazonaws.glue#DeleteUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#DeleteWorkflow"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprint"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRuns"
        },
        {
          "target": "com.amazonaws.glue#GetCatalogImportStatus"
        },
        {
          "target": "com.amazonaws.glue#GetClassifier"
        },
        {
          "target": "com.amazonaws.glue#GetClassifiers"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#GetConnection"
        },
        {
          "target": "com.amazonaws.glue#GetConnections"
        },
        {
          "target": "com.amazonaws.glue#GetCrawler"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlerMetrics"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#GetCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#GetDatabase"
        },
        {
          "target": "com.amazonaws.glue#GetDatabases"
        },
        {
          "target": "com.amazonaws.glue#GetDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#GetDataflowGraph"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityResult"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#GetJob"
        },
        {
          "target": "com.amazonaws.glue#GetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#GetJobRun"
        },
        {
          "target": "com.amazonaws.glue#GetJobRuns"
        },
        {
          "target": "com.amazonaws.glue#GetJobs"
        },
        {
          "target": "com.amazonaws.glue#GetMapping"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRuns"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransform"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#GetPartition"
        },
        {
          "target": "com.amazonaws.glue#GetPartitionIndexes"
        },
        {
          "target": "com.amazonaws.glue#GetPartitions"
        },
        {
          "target": "com.amazonaws.glue#GetPlan"
        },
        {
          "target": "com.amazonaws.glue#GetRegistry"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#GetSchema"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaByDefinition"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersionsDiff"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfigurations"
        },
        {
          "target": "com.amazonaws.glue#GetSession"
        },
        {
          "target": "com.amazonaws.glue#GetStatement"
        },
        {
          "target": "com.amazonaws.glue#GetTable"
        },
        {
          "target": "com.amazonaws.glue#GetTables"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersion"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersions"
        },
        {
          "target": "com.amazonaws.glue#GetTags"
        },
        {
          "target": "com.amazonaws.glue#GetTrigger"
        },
        {
          "target": "com.amazonaws.glue#GetTriggers"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredPartitionMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredPartitionsMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredTableMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunctions"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflow"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRuns"
        },
        {
          "target": "com.amazonaws.glue#ImportCatalogToGlue"
        },
        {
          "target": "com.amazonaws.glue#ListBlueprints"
        },
        {
          "target": "com.amazonaws.glue#ListCrawlers"
        },
        {
          "target": "com.amazonaws.glue#ListCrawls"
        },
        {
          "target": "com.amazonaws.glue#ListCustomEntityTypes"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityResults"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRuleRecommendationRuns"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRulesetEvaluationRuns"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRulesets"
        },
        {
          "target": "com.amazonaws.glue#ListDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#ListJobs"
        },
        {
          "target": "com.amazonaws.glue#ListMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#ListRegistries"
        },
        {
          "target": "com.amazonaws.glue#ListSchemas"
        },
        {
          "target": "com.amazonaws.glue#ListSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#ListSessions"
        },
        {
          "target": "com.amazonaws.glue#ListStatements"
        },
        {
          "target": "com.amazonaws.glue#ListTriggers"
        },
        {
          "target": "com.amazonaws.glue#ListWorkflows"
        },
        {
          "target": "com.amazonaws.glue#PutDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#PutSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#PutWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#QuerySchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#RegisterSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#RemoveSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#ResetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#ResumeWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#RunStatement"
        },
        {
          "target": "com.amazonaws.glue#SearchTables"
        },
        {
          "target": "com.amazonaws.glue#StartBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#StartCrawler"
        },
        {
          "target": "com.amazonaws.glue#StartCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StartDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#StartDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#StartExportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartImportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartJobRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLEvaluationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLLabelingSetGenerationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartTrigger"
        },
        {
          "target": "com.amazonaws.glue#StartWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#StopCrawler"
        },
        {
          "target": "com.amazonaws.glue#StopCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StopSession"
        },
        {
          "target": "com.amazonaws.glue#StopTrigger"
        },
        {
          "target": "com.amazonaws.glue#StopWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#TagResource"
        },
        {
          "target": "com.amazonaws.glue#UntagResource"
        },
        {
          "target": "com.amazonaws.glue#UpdateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#UpdateClassifier"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateConnection"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawler"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#UpdateDatabase"
        },
        {
          "target": "com.amazonaws.glue#UpdateDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#UpdateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#UpdateJob"
        },
        {
          "target": "com.amazonaws.glue#UpdateJobFromSourceControl"
        },
        {
          "target": "com.amazonaws.glue#UpdateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#UpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateRegistry"
        },
        {
          "target": "com.amazonaws.glue#UpdateSchema"
        },
        {
          "target": "com.amazonaws.glue#UpdateSourceControlFromJob"
        },
        {
          "target": "com.amazonaws.glue#UpdateTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateTrigger"
        },
        {
          "target": "com.amazonaws.glue#UpdateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#UpdateWorkflow"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Glue",
          "arnNamespace": "glue",
          "cloudFormationName": "Glue",
          "cloudTrailEventSource": "glue.amazonaws.com",
          "endpointPrefix": "glue"
        },
        "aws.auth#sigv4": {
          "name": "glue"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Glue</fullname>\n         <p>Defines the public endpoint for the Glue service.</p>",
        "smithy.api#title": "AWS Glue",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://glue-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://glue-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://glue.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://glue.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-1"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-south-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-south-2"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.af-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "af-south-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-north-1"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-3"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-3"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "me-south-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "sa-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-east-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-iso-east-1"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-3"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "cn-northwest-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-isob-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.glue#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to a resource was denied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        }
      }
    },
    "com.amazonaws.glue#Action": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a job to be run.</p>"
          }
        },
        "Arguments": {
          "target": "com.amazonaws.glue#GenericMap",
          "traits": {
            "smithy.api#documentation": "<p>The job arguments used when this trigger fires. For this job run, they replace the default arguments set in the job definition itself.</p>\n         <p>You can specify arguments here that your own job-execution script\n      consumes, as well as arguments that Glue itself consumes.</p>\n         <p>For information about how to specify and consume your own Job arguments, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling Glue APIs in Python</a> topic in the developer guide.</p>\n         <p>For information about the key-value pairs that Glue consumes to set up your job, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special Parameters Used by Glue</a> topic in the developer guide.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.glue#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRun</code> timeout in minutes. This is the maximum time that a job run can\n      consume resources before it is terminated and enters <code>TIMEOUT</code> status. The default\n      is 2,880 minutes (48 hours). This overrides the timeout value set in the parent job.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>SecurityConfiguration</code> structure to be used with this\n      action.</p>"
          }
        },
        "NotificationProperty": {
          "target": "com.amazonaws.glue#NotificationProperty",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration properties of a job run notification.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to be used with this action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an action to be initiated by a trigger.</p>"
      }
    },
    "com.amazonaws.glue#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Action"
      }
    },
    "com.amazonaws.glue#AdditionalOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#EnclosedInStringProperty"
      },
      "value": {
        "target": "com.amazonaws.glue#EnclosedInStringProperty"
      }
    },
    "com.amazonaws.glue#AdditionalPlanOptionsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#GenericString"
      },
      "value": {
        "target": "com.amazonaws.glue#GenericString"
      }
    },
    "com.amazonaws.glue#AggFunction": {
      "type": "enum",
      "members": {
        "avg": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "countDistinct": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "countDistinct"
          }
        },
        "count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "first": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first"
          }
        },
        "last": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last"
          }
        },
        "kurtosis": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kurtosis"
          }
        },
        "max": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "min": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "skewness": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skewness"
          }
        },
        "stddev_samp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stddev_samp"
          }
        },
        "stddev_pop": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stddev_pop"
          }
        },
        "sum": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "sumDistinct": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sumDistinct"
          }
        },
        "var_samp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "var_samp"
          }
        },
        "var_pop": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "var_pop"
          }
        }
      }
    },
    "com.amazonaws.glue#Aggregate": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transform node.</p>",
            "smithy.api#required": {}
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the fields and rows to use as inputs for the aggregate transform.</p>",
            "smithy.api#required": {}
          }
        },
        "Groups": {
          "target": "com.amazonaws.glue#GlueStudioPathList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the fields to group by.</p>",
            "smithy.api#required": {}
          }
        },
        "Aggs": {
          "target": "com.amazonaws.glue#AggregateOperations",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the aggregate functions to be performed on specified fields. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a transform that groups rows by chosen fields and computes the aggregated value by specified function.</p>"
      }
    },
    "com.amazonaws.glue#AggregateOperation": {
      "type": "structure",
      "members": {
        "Column": {
          "target": "com.amazonaws.glue#EnclosedInStringProperties",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the column on the data set on which the aggregation function will be applied.</p>",
            "smithy.api#required": {}
          }
        },
        "AggFunc": {
          "target": "com.amazonaws.glue#AggFunction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the aggregation function to apply.</p>\n         <p>Possible aggregation functions include: avg countDistinct, count, first, last, kurtosis, max, min, skewness, \n      stddev_samp, stddev_pop, sum, sumDistinct, var_samp, var_pop</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the set of parameters needed to perform aggregation in the aggregate transform.</p>"
      }
    },
    "com.amazonaws.glue#AggregateOperations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AggregateOperation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.glue#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource to be created or added already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#ApplyMapping": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transform node.</p>",
            "smithy.api#required": {}
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>The data inputs identified by their node names.</p>",
            "smithy.api#required": {}
          }
        },
        "Mapping": {
          "target": "com.amazonaws.glue#Mappings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mapping of data property keys in the data source to data property keys in the data target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a transform that maps data property keys in the data source to data property keys in the data target. You can rename keys, modify the data types for keys, and choose which keys to drop from the dataset.</p>"
      }
    },
    "com.amazonaws.glue#AthenaConnectorSource": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection that is associated with the connector.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectorName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of a connector that assists with accessing the data store in Glue Studio.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection, such as marketplace.athena or custom.athena, designating a connection to an Amazon Athena data store.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTable": {
          "target": "com.amazonaws.glue#EnclosedInStringPropertyWithQuote",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table in the data source.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Cloudwatch log group to read from. For example, <code>/aws-glue/jobs/output</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputSchemas": {
          "target": "com.amazonaws.glue#GlueSchemas",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data schema for the custom Athena source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a connector to an Amazon Athena data source.</p>"
      }
    },
    "com.amazonaws.glue#AttemptCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.glue#AuditColumnNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnNameString"
      }
    },
    "com.amazonaws.glue#AuditContext": {
      "type": "structure",
      "members": {
        "AdditionalAuditContext": {
          "target": "com.amazonaws.glue#AuditContextString",
          "traits": {
            "smithy.api#documentation": "<p>The context for the audit..</p>"
          }
        },
        "RequestedColumns": {
          "target": "com.amazonaws.glue#AuditColumnNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The requested columns for audit.</p>"
          }
        },
        "AllColumnsRequested": {
          "target": "com.amazonaws.glue#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>All columns request for audit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information for audit.</p>"
      }
    },
    "com.amazonaws.glue#AuditContextString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.glue#AuthTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#BackfillError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.glue#BackfillErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for an error that occurred when registering partition indexes for an existing table.</p>"
          }
        },
        "Partitions": {
          "target": "com.amazonaws.glue#BackfillErroredPartitionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of a limited number of partitions in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of errors that can occur when registering partition indexes for an existing table.</p>\n         <p>These errors give the details about why an index registration failed and provide a limited number of partitions in the response, so that you can fix the partitions at fault and try registering the index again. The most common set of errors that can occur are categorized as follows:</p>\n         <ul>\n            <li>\n               <p>EncryptedPartitionError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>InvalidPartitionTypeDataError: The partition value doesn't match the data type for that partition column.</p>\n            </li>\n            <li>\n               <p>MissingPartitionValueError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>UnsupportedPartitionCharacterError: Characters inside the partition value are not supported. For example: U+0000 , U+0001, U+0002.</p>\n            </li>\n            <li>\n               <p>InternalError: Any error which does not belong to other error codes.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.glue#BackfillErrorCode": {
      "type": "enum",
      "members": {
        "ENCRYPTED_PARTITION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED_PARTITION_ERROR"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "INVALID_PARTITION_TYPE_DATA_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PARTITION_TYPE_DATA_ERROR"
          }
        },
        "MISSING_PARTITION_VALUE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_PARTITION_VALUE_ERROR"
          }
        },
        "UNSUPPORTED_PARTITION_CHARACTER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_PARTITION_CHARACTER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.glue#BackfillErroredPartitionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#PartitionValueList"
      }
    },
    "com.amazonaws.glue#BackfillErrors": {
      "type": "list",
      "member": {
[...]
