{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.glue#AWSGlue": {
      "type": "service",
      "version": "2017-03-31",
      "operations": [
        {
          "target": "com.amazonaws.glue#BatchCreatePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#BatchDeletePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTable"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#BatchGetBlueprints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetCustomEntityTypes"
        },
        {
          "target": "com.amazonaws.glue#BatchGetDataQualityResult"
        },
        {
          "target": "com.amazonaws.glue#BatchGetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetJobs"
        },
        {
          "target": "com.amazonaws.glue#BatchGetPartition"
        },
        {
          "target": "com.amazonaws.glue#BatchGetTableOptimizer"
        },
        {
          "target": "com.amazonaws.glue#BatchGetTriggers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetWorkflows"
        },
        {
          "target": "com.amazonaws.glue#BatchPutDataQualityStatisticAnnotation"
        },
        {
          "target": "com.amazonaws.glue#BatchStopJobRun"
        },
        {
          "target": "com.amazonaws.glue#BatchUpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#CancelDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#CancelDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#CancelMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#CancelStatement"
        },
        {
          "target": "com.amazonaws.glue#CheckSchemaVersionValidity"
        },
        {
          "target": "com.amazonaws.glue#CreateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#CreateCatalog"
        },
        {
          "target": "com.amazonaws.glue#CreateClassifier"
        },
        {
          "target": "com.amazonaws.glue#CreateColumnStatisticsTaskSettings"
        },
        {
          "target": "com.amazonaws.glue#CreateConnection"
        },
        {
          "target": "com.amazonaws.glue#CreateCrawler"
        },
        {
          "target": "com.amazonaws.glue#CreateCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#CreateDatabase"
        },
        {
          "target": "com.amazonaws.glue#CreateDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#CreateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#CreateGlueIdentityCenterConfiguration"
        },
        {
          "target": "com.amazonaws.glue#CreateIntegration"
        },
        {
          "target": "com.amazonaws.glue#CreateIntegrationResourceProperty"
        },
        {
          "target": "com.amazonaws.glue#CreateIntegrationTableProperties"
        },
        {
          "target": "com.amazonaws.glue#CreateJob"
        },
        {
          "target": "com.amazonaws.glue#CreateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#CreatePartition"
        },
        {
          "target": "com.amazonaws.glue#CreatePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#CreateRegistry"
        },
        {
          "target": "com.amazonaws.glue#CreateSchema"
        },
        {
          "target": "com.amazonaws.glue#CreateScript"
        },
        {
          "target": "com.amazonaws.glue#CreateSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#CreateSession"
        },
        {
          "target": "com.amazonaws.glue#CreateTable"
        },
        {
          "target": "com.amazonaws.glue#CreateTableOptimizer"
        },
        {
          "target": "com.amazonaws.glue#CreateTrigger"
        },
        {
          "target": "com.amazonaws.glue#CreateUsageProfile"
        },
        {
          "target": "com.amazonaws.glue#CreateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#CreateWorkflow"
        },
        {
          "target": "com.amazonaws.glue#DeleteBlueprint"
        },
        {
          "target": "com.amazonaws.glue#DeleteCatalog"
        },
        {
          "target": "com.amazonaws.glue#DeleteClassifier"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsTaskSettings"
        },
        {
          "target": "com.amazonaws.glue#DeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#DeleteCrawler"
        },
        {
          "target": "com.amazonaws.glue#DeleteCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#DeleteDatabase"
        },
        {
          "target": "com.amazonaws.glue#DeleteDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#DeleteDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#DeleteGlueIdentityCenterConfiguration"
        },
        {
          "target": "com.amazonaws.glue#DeleteIntegration"
        },
        {
          "target": "com.amazonaws.glue#DeleteIntegrationTableProperties"
        },
        {
          "target": "com.amazonaws.glue#DeleteJob"
        },
        {
          "target": "com.amazonaws.glue#DeleteMLTransform"
        },
        {
          "target": "com.amazonaws.glue#DeletePartition"
        },
        {
          "target": "com.amazonaws.glue#DeletePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#DeleteRegistry"
        },
        {
          "target": "com.amazonaws.glue#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchema"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#DeleteSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#DeleteSession"
        },
        {
          "target": "com.amazonaws.glue#DeleteTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteTableOptimizer"
        },
        {
          "target": "com.amazonaws.glue#DeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#DeleteTrigger"
        },
        {
          "target": "com.amazonaws.glue#DeleteUsageProfile"
        },
        {
          "target": "com.amazonaws.glue#DeleteUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#DeleteWorkflow"
        },
        {
          "target": "com.amazonaws.glue#DescribeConnectionType"
        },
        {
          "target": "com.amazonaws.glue#DescribeEntity"
        },
        {
          "target": "com.amazonaws.glue#DescribeInboundIntegrations"
        },
        {
          "target": "com.amazonaws.glue#DescribeIntegrations"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprint"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRuns"
        },
        {
          "target": "com.amazonaws.glue#GetCatalog"
        },
        {
          "target": "com.amazonaws.glue#GetCatalogImportStatus"
        },
        {
          "target": "com.amazonaws.glue#GetCatalogs"
        },
        {
          "target": "com.amazonaws.glue#GetClassifier"
        },
        {
          "target": "com.amazonaws.glue#GetClassifiers"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsTaskRuns"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsTaskSettings"
        },
        {
          "target": "com.amazonaws.glue#GetConnection"
        },
        {
          "target": "com.amazonaws.glue#GetConnections"
        },
        {
          "target": "com.amazonaws.glue#GetCrawler"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlerMetrics"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#GetCustomEntityType"
        },
        {
          "target": "com.amazonaws.glue#GetDatabase"
        },
        {
          "target": "com.amazonaws.glue#GetDatabases"
        },
        {
          "target": "com.amazonaws.glue#GetDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#GetDataflowGraph"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityModel"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityModelResult"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityResult"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#GetDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#GetEntityRecords"
        },
        {
          "target": "com.amazonaws.glue#GetGlueIdentityCenterConfiguration"
        },
        {
          "target": "com.amazonaws.glue#GetIntegrationResourceProperty"
        },
        {
          "target": "com.amazonaws.glue#GetIntegrationTableProperties"
        },
        {
          "target": "com.amazonaws.glue#GetJob"
        },
        {
          "target": "com.amazonaws.glue#GetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#GetJobRun"
        },
        {
          "target": "com.amazonaws.glue#GetJobRuns"
        },
        {
          "target": "com.amazonaws.glue#GetJobs"
        },
        {
          "target": "com.amazonaws.glue#GetMapping"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRuns"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransform"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#GetPartition"
        },
        {
          "target": "com.amazonaws.glue#GetPartitionIndexes"
        },
        {
          "target": "com.amazonaws.glue#GetPartitions"
        },
        {
          "target": "com.amazonaws.glue#GetPlan"
        },
        {
          "target": "com.amazonaws.glue#GetRegistry"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#GetSchema"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaByDefinition"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersionsDiff"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfigurations"
        },
        {
          "target": "com.amazonaws.glue#GetSession"
        },
        {
          "target": "com.amazonaws.glue#GetStatement"
        },
        {
          "target": "com.amazonaws.glue#GetTable"
        },
        {
          "target": "com.amazonaws.glue#GetTableOptimizer"
        },
        {
          "target": "com.amazonaws.glue#GetTables"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersion"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersions"
        },
        {
          "target": "com.amazonaws.glue#GetTags"
        },
        {
          "target": "com.amazonaws.glue#GetTrigger"
        },
        {
          "target": "com.amazonaws.glue#GetTriggers"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredPartitionMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredPartitionsMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUnfilteredTableMetadata"
        },
        {
          "target": "com.amazonaws.glue#GetUsageProfile"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunctions"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflow"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRuns"
        },
        {
          "target": "com.amazonaws.glue#ImportCatalogToGlue"
        },
        {
          "target": "com.amazonaws.glue#ListBlueprints"
        },
        {
          "target": "com.amazonaws.glue#ListColumnStatisticsTaskRuns"
        },
        {
          "target": "com.amazonaws.glue#ListConnectionTypes"
        },
        {
          "target": "com.amazonaws.glue#ListCrawlers"
        },
        {
          "target": "com.amazonaws.glue#ListCrawls"
        },
        {
          "target": "com.amazonaws.glue#ListCustomEntityTypes"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityResults"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRuleRecommendationRuns"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRulesetEvaluationRuns"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityRulesets"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityStatisticAnnotations"
        },
        {
          "target": "com.amazonaws.glue#ListDataQualityStatistics"
        },
        {
          "target": "com.amazonaws.glue#ListDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#ListEntities"
        },
        {
          "target": "com.amazonaws.glue#ListJobs"
        },
        {
          "target": "com.amazonaws.glue#ListMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#ListRegistries"
        },
        {
          "target": "com.amazonaws.glue#ListSchemas"
        },
        {
          "target": "com.amazonaws.glue#ListSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#ListSessions"
        },
        {
          "target": "com.amazonaws.glue#ListStatements"
        },
        {
          "target": "com.amazonaws.glue#ListTableOptimizerRuns"
        },
        {
          "target": "com.amazonaws.glue#ListTriggers"
        },
        {
          "target": "com.amazonaws.glue#ListUsageProfiles"
        },
        {
          "target": "com.amazonaws.glue#ListWorkflows"
        },
        {
          "target": "com.amazonaws.glue#ModifyIntegration"
        },
        {
          "target": "com.amazonaws.glue#PutDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#PutDataQualityProfileAnnotation"
        },
        {
          "target": "com.amazonaws.glue#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#PutSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#PutWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#QuerySchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#RegisterSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#RemoveSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#ResetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#ResumeWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#RunStatement"
        },
        {
          "target": "com.amazonaws.glue#SearchTables"
        },
        {
          "target": "com.amazonaws.glue#StartBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#StartColumnStatisticsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartColumnStatisticsTaskRunSchedule"
        },
        {
          "target": "com.amazonaws.glue#StartCrawler"
        },
        {
          "target": "com.amazonaws.glue#StartCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StartDataQualityRuleRecommendationRun"
        },
        {
          "target": "com.amazonaws.glue#StartDataQualityRulesetEvaluationRun"
        },
        {
          "target": "com.amazonaws.glue#StartExportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartImportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartJobRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLEvaluationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLLabelingSetGenerationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartTrigger"
        },
        {
          "target": "com.amazonaws.glue#StartWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#StopColumnStatisticsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StopColumnStatisticsTaskRunSchedule"
        },
        {
          "target": "com.amazonaws.glue#StopCrawler"
        },
        {
          "target": "com.amazonaws.glue#StopCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StopSession"
        },
        {
          "target": "com.amazonaws.glue#StopTrigger"
        },
        {
          "target": "com.amazonaws.glue#StopWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#TagResource"
        },
        {
          "target": "com.amazonaws.glue#TestConnection"
        },
        {
          "target": "com.amazonaws.glue#UntagResource"
        },
        {
          "target": "com.amazonaws.glue#UpdateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#UpdateCatalog"
        },
        {
          "target": "com.amazonaws.glue#UpdateClassifier"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsTaskSettings"
        },
        {
          "target": "com.amazonaws.glue#UpdateConnection"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawler"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#UpdateDatabase"
        },
        {
          "target": "com.amazonaws.glue#UpdateDataQualityRuleset"
        },
        {
          "target": "com.amazonaws.glue#UpdateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#UpdateGlueIdentityCenterConfiguration"
        },
        {
          "target": "com.amazonaws.glue#UpdateIntegrationResourceProperty"
        },
        {
          "target": "com.amazonaws.glue#UpdateIntegrationTableProperties"
        },
        {
          "target": "com.amazonaws.glue#UpdateJob"
        },
        {
          "target": "com.amazonaws.glue#UpdateJobFromSourceControl"
        },
        {
          "target": "com.amazonaws.glue#UpdateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#UpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateRegistry"
        },
        {
          "target": "com.amazonaws.glue#UpdateSchema"
        },
        {
          "target": "com.amazonaws.glue#UpdateSourceControlFromJob"
        },
        {
          "target": "com.amazonaws.glue#UpdateTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateTableOptimizer"
        },
        {
          "target": "com.amazonaws.glue#UpdateTrigger"
        },
        {
          "target": "com.amazonaws.glue#UpdateUsageProfile"
        },
        {
          "target": "com.amazonaws.glue#UpdateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#UpdateWorkflow"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Glue",
          "arnNamespace": "glue",
          "cloudFormationName": "Glue",
          "cloudTrailEventSource": "glue.amazonaws.com",
          "endpointPrefix": "glue"
        },
        "aws.auth#sigv4": {
          "name": "glue"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Glue</fullname>\n         <p>Defines the public endpoint for the Glue service.</p>",
        "smithy.api#title": "AWS Glue",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://glue-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://glue-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://glue.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://glue.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://glue.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.glue#AWSManagedClientApplicationReference": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.glue#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to a resource was denied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#AccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        },
        "smithy.api#pattern": "^[\\x20-\\x7E]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.glue#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        }
      }
    },
    "com.amazonaws.glue#Action": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a job to be run.</p>"
          }
        },
        "Arguments": {
          "target": "com.amazonaws.glue#GenericMap",
          "traits": {
            "smithy.api#documentation": "<p>The job arguments used when this trigger fires. For this job run, they replace the default arguments set in the job definition itself.</p>\n         <p>You can specify arguments here that your own job-execution script\n      consumes, as well as arguments that Glue itself consumes.</p>\n         <p>For information about how to specify and consume your own Job arguments, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling Glue APIs in Python</a> topic in the developer guide.</p>\n         <p>For information about the key-value pairs that Glue consumes to set up your job, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special Parameters Used by Glue</a> topic in the developer guide.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.glue#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRun</code> timeout in minutes. This is the maximum time that a job run can\n      consume resources before it is terminated and enters <code>TIMEOUT</code> status. This overrides the timeout value set in the parent job.</p>\n         <p>Jobs must have timeout values less than 7 days or 10080 minutes. Otherwise, the jobs will throw an exception.</p>\n         <p>When the value is left blank, the timeout is defaulted to 2880 minutes.</p>\n         <p>Any existing Glue jobs that had a timeout value greater than 7 days will be defaulted to 7 days. For instance if you have specified a timeout of 20 days for a batch job, it will be stopped on the 7th day.</p>\n         <p>For streaming jobs, if you have set up a maintenance window, it will be restarted during the maintenance window after 7 days.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>SecurityConfiguration</code> structure to be used with this\n      action.</p>"
          }
        },
        "NotificationProperty": {
          "target": "com.amazonaws.glue#NotificationProperty",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration properties of a job run notification.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to be used with this action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an action to be initiated by a trigger.</p>"
      }
    },
    "com.amazonaws.glue#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Action"
      }
    },
    "com.amazonaws.glue#AdditionalContextMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#ContextKey"
      },
      "value": {
        "target": "com.amazonaws.glue#ContextValue"
      }
    },
    "com.amazonaws.glue#AdditionalOptionKeys": {
      "type": "enum",
      "members": {
        "CacheOption": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "performanceTuning.caching"
          }
        },
        "ObservationsOption": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "observations.scope"
          }
        },
        "CompositeOption": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "compositeRuleEvaluation.method"
          }
        }
      }
    },
    "com.amazonaws.glue#AdditionalOptions": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#EnclosedInStringProperty"
      },
      "value": {
        "target": "com.amazonaws.glue#EnclosedInStringProperty"
      }
    },
    "com.amazonaws.glue#AdditionalPlanOptionsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#GenericString"
      },
      "value": {
        "target": "com.amazonaws.glue#GenericString"
      }
    },
    "com.amazonaws.glue#AggFunction": {
      "type": "enum",
      "members": {
        "avg": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "avg"
          }
        },
        "countDistinct": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "countDistinct"
          }
        },
        "count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "count"
          }
        },
        "first": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "first"
          }
        },
        "last": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "last"
          }
        },
        "kurtosis": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kurtosis"
          }
        },
        "max": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "max"
          }
        },
        "min": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "min"
          }
        },
        "skewness": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "skewness"
          }
        },
        "stddev_samp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stddev_samp"
          }
        },
        "stddev_pop": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "stddev_pop"
          }
        },
        "sum": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sum"
          }
        },
        "sumDistinct": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "sumDistinct"
          }
        },
        "var_samp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "var_samp"
          }
        },
        "var_pop": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "var_pop"
          }
        }
      }
    },
    "com.amazonaws.glue#Aggregate": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transform node.</p>",
            "smithy.api#required": {}
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the fields and rows to use as inputs for the aggregate transform.</p>",
            "smithy.api#required": {}
          }
        },
        "Groups": {
          "target": "com.amazonaws.glue#GlueStudioPathList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the fields to group by.</p>",
            "smithy.api#required": {}
          }
        },
        "Aggs": {
          "target": "com.amazonaws.glue#AggregateOperations",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the aggregate functions to be performed on specified fields. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a transform that groups rows by chosen fields and computes the aggregated value by specified function.</p>"
      }
    },
    "com.amazonaws.glue#AggregateOperation": {
      "type": "structure",
      "members": {
        "Column": {
          "target": "com.amazonaws.glue#EnclosedInStringProperties",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the column on the data set on which the aggregation function will be applied.</p>",
            "smithy.api#required": {}
          }
        },
        "AggFunc": {
          "target": "com.amazonaws.glue#AggFunction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the aggregation function to apply.</p>\n         <p>Possible aggregation functions include: avg countDistinct, count, first, last, kurtosis, max, min, skewness, \n      stddev_samp, stddev_pop, sum, sumDistinct, var_samp, var_pop</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the set of parameters needed to perform aggregation in the aggregate transform.</p>"
      }
    },
    "com.amazonaws.glue#AggregateOperations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AggregateOperation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.glue#AllowFullTableExternalDataAccessEnum": {
      "type": "enum",
      "members": {
        "True": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "True"
          }
        },
        "False": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "False"
          }
        }
      }
    },
    "com.amazonaws.glue#AllowedValue": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.glue#AllowedValueDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description of the allowed value.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.glue#AllowedValueValueString",
          "traits": {
            "smithy.api#documentation": "<p>The value allowed for the property.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a value allowed for a property.</p>"
      }
    },
    "com.amazonaws.glue#AllowedValueDescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.glue#AllowedValueValueString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.glue#AllowedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AllowedValue"
      }
    },
    "com.amazonaws.glue#AllowedValuesStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ConfigValueString"
      }
    },
    "com.amazonaws.glue#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource to be created or added already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#AmazonRedshiftAdvancedOption": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The key for the additional connection option.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The value for the additional connection option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an optional value when connecting to the Redshift cluster.</p>"
      }
    },
    "com.amazonaws.glue#AmazonRedshiftAdvancedOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AmazonRedshiftAdvancedOption"
      }
    },
    "com.amazonaws.glue#AmazonRedshiftNodeData": {
      "type": "structure",
      "members": {
        "AccessType": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The access type for the Redshift connection. Can be a direct connection or catalog connections.</p>"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The source type to specify whether a specific table is the source or a custom query.</p>"
          }
        },
        "Connection": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>The Glue connection to the Redshift cluster.</p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>The Redshift schema name when working with a direct connection.</p>"
          }
        },
        "Table": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>The Redshift table name when working with a direct connection.</p>"
          }
        },
        "CatalogDatabase": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Glue Data Catalog database when working with a data catalog.</p>"
          }
        },
        "CatalogTable": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>The Glue Data Catalog table name when working with a data catalog.</p>"
          }
        },
        "CatalogRedshiftSchema": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The Redshift schema name when working with a data catalog.</p>"
          }
        },
        "CatalogRedshiftTable": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The database table to read from.</p>"
          }
        },
        "TempDir": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 path where temporary data can be staged when copying out of the database.</p>"
          }
        },
        "IamRole": {
          "target": "com.amazonaws.glue#Option",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The role name use when connection to S3. The IAM role ill default to the role on the job when left blank.</p>"
          }
        },
        "AdvancedOptions": {
          "target": "com.amazonaws.glue#AmazonRedshiftAdvancedOptions",
          "traits": {
            "smithy.api#documentation": "<p>Optional values when connecting to the Redshift cluster.</p>"
          }
        },
        "SampleQuery": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL used to fetch the data from a Redshift sources when the SourceType is 'query'.</p>"
          }
        },
        "PreAction": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL used before a MERGE or APPEND with upsert is run.</p>"
          }
        },
        "PostAction": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL used before a MERGE or APPEND with upsert is run.</p>"
          }
        },
        "Action": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how writing to a Redshift cluser will occur.</p>"
          }
        },
        "TablePrefix": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the prefix to a table.</p>"
          }
        },
        "Upsert": {
          "target": "com.amazonaws.glue#BooleanValue",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The action used on Redshift sinks when doing an APPEND.</p>"
          }
        },
        "MergeAction": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The action used when to detemine how a MERGE in a Redshift sink will be handled.</p>"
          }
        },
        "MergeWhenMatched": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The action used when to detemine how a MERGE in a Redshift sink will be handled when an existing record matches a new record.</p>"
          }
        },
        "MergeWhenNotMatched": {
          "target": "com.amazonaws.glue#GenericLimitedString",
          "traits": {
            "smithy.api#documentation": "<p>The action used when to detemine how a MERGE in a Redshift sink will be handled when an existing record doesn't match a new record.</p>"
          }
        },
        "MergeClause": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The SQL used in a custom merge to deal with matching records.</p>"
          }
        },
        "CrawlerConnection": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the connection that is associated with the catalog table used.</p>"
          }
        },
        "TableSchema": {
          "target": "com.amazonaws.glue#OptionList",
          "traits": {
            "smithy.api#documentation": "<p>The array of schema output for a given node.</p>"
          }
        },
        "StagingTable": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the temporary staging table that is used when doing a MERGE or APPEND with upsert.</p>"
          }
        },
        "SelectedColumns": {
          "target": "com.amazonaws.glue#OptionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of column names used to determine a matching record when doing a MERGE or APPEND with upsert.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an Amazon Redshift node.</p>"
      }
    },
    "com.amazonaws.glue#AmazonRedshiftSource": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Redshift source.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.glue#AmazonRedshiftNodeData",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data of the Amazon Reshift source node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an Amazon Redshift source.</p>"
      }
    },
    "com.amazonaws.glue#AmazonRedshiftTarget": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Redshift target.</p>"
          }
        },
        "Data": {
          "target": "com.amazonaws.glue#AmazonRedshiftNodeData",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data of the Amazon Redshift target node.</p>"
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>The nodes that are inputs to the data target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an Amazon Redshift target.</p>"
      }
    },
    "com.amazonaws.glue#AnnotationError": {
      "type": "structure",
      "members": {
        "ProfileId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The Profile ID for the failed annotation.</p>"
          }
        },
        "StatisticId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The Statistic ID for the failed annotation.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.glue#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The reason why the annotation failed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A failed annotation.</p>"
      }
    },
    "com.amazonaws.glue#AnnotationErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AnnotationError"
      }
    },
    "com.amazonaws.glue#AnnotationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#StatisticAnnotation"
      }
    },
    "com.amazonaws.glue#ApiVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9.-]*$"
      }
    },
    "com.amazonaws.glue#ApplicationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 1224
        }
      }
    },
    "com.amazonaws.glue#ApplyMapping": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the transform node.</p>",
            "smithy.api#required": {}
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>The data inputs identified by their node names.</p>",
            "smithy.api#required": {}
          }
        },
        "Mapping": {
          "target": "com.amazonaws.glue#Mappings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mapping of data property keys in the data source to data property keys in the data target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a transform that maps data property keys in the data source to data property keys in the data target. You can rename keys, modify the data types for keys, and choose which keys to drop from the dataset.</p>"
      }
    },
    "com.amazonaws.glue#ArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.glue#AthenaConnectorSource": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of the connection that is associated with the connector.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectorName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of a connector that assists with accessing the data store in Glue Studio.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionType": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The type of connection, such as marketplace.athena or custom.athena, designating a connection to an Amazon Athena data store.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTable": {
          "target": "com.amazonaws.glue#EnclosedInStringPropertyWithQuote",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table in the data source.</p>"
          }
        },
        "SchemaName": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Cloudwatch log group to read from. For example, <code>/aws-glue/jobs/output</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputSchemas": {
          "target": "com.amazonaws.glue#GlueSchemas",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data schema for the custom Athena source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a connector to an Amazon Athena data source.</p>"
      }
    },
    "com.amazonaws.glue#AttemptCount": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.glue#AuditColumnNamesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnNameString"
      }
    },
    "com.amazonaws.glue#AuditContext": {
      "type": "structure",
      "members": {
        "AdditionalAuditContext": {
          "target": "com.amazonaws.glue#AuditContextString",
          "traits": {
            "smithy.api#documentation": "<p>A string containing the additional audit context information.</p>"
          }
        },
        "RequestedColumns": {
          "target": "com.amazonaws.glue#AuditColumnNamesList",
          "traits": {
            "smithy.api#documentation": "<p>The requested columns for audit.</p>"
          }
        },
        "AllColumnsRequested": {
          "target": "com.amazonaws.glue#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>All columns request for audit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the Lake Formation audit context.</p>"
      }
    },
    "com.amazonaws.glue#AuditContextString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.glue#AuthConfiguration": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.glue#Property",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication for a connection.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.glue#Property",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the Secrets Manager.</p>"
          }
        },
        "OAuth2Properties": {
          "target": "com.amazonaws.glue#PropertiesMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs for the OAuth2 properties. Each value is a a <code>Property</code> object.</p>"
          }
        },
        "BasicAuthenticationProperties": {
          "target": "com.amazonaws.glue#PropertiesMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs for the OAuth2 properties. Each value is a a <code>Property</code> object.</p>"
          }
        },
        "CustomAuthenticationProperties": {
          "target": "com.amazonaws.glue#PropertiesMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs for the custom authentication properties. Each value is a a <code>Property</code> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration for a connection returned by the <code>DescribeConnectionType</code> API.</p>"
      }
    },
    "com.amazonaws.glue#AuthTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.glue#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the authentication configuration.</p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.glue#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The secret manager ARN to store credentials.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.glue#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key used to encrypt sensitive authentication information. This key is used to protect credentials \n      and other sensitive data stored within the authentication configuration.</p>"
          }
        },
        "OAuth2Properties": {
          "target": "com.amazonaws.glue#OAuth2Properties",
          "traits": {
            "smithy.api#documentation": "<p>The properties for OAuth2 authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the authentication configuration.</p>"
      }
    },
    "com.amazonaws.glue#AuthenticationConfigurationInput": {
      "type": "structure",
      "members": {
        "AuthenticationType": {
          "target": "com.amazonaws.glue#AuthenticationType",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the authentication configuration in the CreateConnection request.</p>"
          }
        },
        "OAuth2Properties": {
          "target": "com.amazonaws.glue#OAuth2PropertiesInput",
          "traits": {
            "smithy.api#documentation": "<p>The properties for OAuth2 authentication in the CreateConnection request.</p>"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.glue#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The secret manager ARN to store credentials in the CreateConnection request.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.glue#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key used to encrypt the connection. Only taken an as input in the request and stored in the Secret Manager.</p>"
          }
        },
        "BasicAuthenticationCredentials": {
          "target": "com.amazonaws.glue#BasicAuthenticationCredentials",
          "traits": {
            "smithy.api#documentation": "<p>The credentials used when the authentication type is basic authentication.</p>"
          }
        },
        "CustomAuthenticationCredentials": {
          "target": "com.amazonaws.glue#CredentialMap",
          "traits": {
            "smithy.api#documentation": "<p>The credentials used when the authentication type is custom authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the authentication configuration in the CreateConnection request.</p>"
      }
    },
    "com.amazonaws.glue#AuthenticationType": {
      "type": "enum",
      "members": {
        "BASIC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BASIC"
          }
        },
        "OAUTH2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH2"
          }
        },
        "CUSTOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM"
          }
        },
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM"
          }
        }
      }
    },
    "com.amazonaws.glue#AuthenticationTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#AuthenticationType"
      }
    },
    "com.amazonaws.glue#AuthorizationCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.glue#AuthorizationCodeProperties": {
      "type": "structure",
      "members": {
        "AuthorizationCode": {
          "target": "com.amazonaws.glue#AuthorizationCode",
          "traits": {
            "smithy.api#documentation": "<p>An authorization code to be used in the third leg of the <code>AUTHORIZATION_CODE</code> grant workflow. This is a single-use code which becomes invalid once exchanged for an access token, thus it is acceptable to have this value as a request parameter.</p>"
          }
        },
        "RedirectUri": {
          "target": "com.amazonaws.glue#RedirectUri",
          "traits": {
            "smithy.api#documentation": "<p>The redirect URI where the user gets redirected to by authorization server when issuing an authorization code. The URI is subsequently used when the authorization code is exchanged for an access token.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The set of properties required for the the OAuth2 <code>AUTHORIZATION_CODE</code> grant type workflow.</p>"
      }
    },
    "com.amazonaws.glue#AutoDataQuality": {
      "type": "structure",
      "members": {
        "IsEnabled": {
          "target": "com.amazonaws.glue#BooleanValue",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether automatic data quality evaluation is enabled. When set to <code>true</code>, data quality checks are performed automatically.</p>"
          }
        },
        "EvaluationContext": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The evaluation context for the automatic data quality checks. This defines the scope and parameters for the data quality evaluation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies configuration options for automatic data quality evaluation in Glue jobs. This structure enables automated data quality \n      checks and monitoring during ETL operations, helping to ensure data integrity and reliability without manual intervention.</p>"
      }
    },
    "com.amazonaws.glue#BackfillError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.glue#BackfillErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for an error that occurred when registering partition indexes for an existing table.</p>"
          }
        },
        "Partitions": {
          "target": "com.amazonaws.glue#BackfillErroredPartitionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of a limited number of partitions in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of errors that can occur when registering partition indexes for an existing table.</p>\n         <p>These errors give the details about why an index registration failed and provide a limited number of partitions in the response, so that you can fix the partitions at fault and try registering the index again. The most common set of errors that can occur are categorized as follows:</p>\n         <ul>\n            <li>\n               <p>EncryptedPartitionError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>InvalidPartitionTypeDataError: The partition value doesn't match the data type for that partition column.</p>\n            </li>\n            <li>\n               <p>MissingPartitionValueError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>UnsupportedPartitionCharacterError: Characters inside the partition value are not supported. For example: U+0000 , U+0001, U+0002.</p>\n            </li>\n            <li>\n               <p>InternalError: Any error which does not belong to other error codes.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.glue#BackfillErrorCode": {
      "type": "enum",
      "members": {
        "ENCRYPTED_PARTITION_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENCRYPTED_PARTITION_ERROR"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "INVALID_PARTITION_TYPE_DATA_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_PARTITION_TYPE_DATA_ERROR"
          }
        },
        "MISSING_PARTITION_VALUE_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISSING_PARTITION_VALUE_ERROR"
          }
        },
        "UNSUPPORTED_PARTITION_CHARACTER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_PARTITION_CHARACTER_ERROR"
          }
        }
      }
    },
    "com.amazonaws.glue#BackfillErroredPartitionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#PartitionValueList"
      }
    },
    "com.amazonaws.glue#BackfillErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BackfillError"
      }
    },
    "com.amazonaws.glue#BasicAuthenticationCredentials": {
      "type": "structure",
      "members": {
        "Username": {
          "target": "com.amazonaws.glue#Username",
          "traits": {
            "smithy.api#documentation": "<p>The username to connect to the data source.</p>"
          }
        },
        "Password": {
          "target": "com.amazonaws.glue#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password to connect to the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For supplying basic auth credentials when not providing a <code>SecretArn</code> value.</p>"
      }
    },
    "com.amazonaws.glue#BasicCatalogTarget": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NodeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your data target.</p>",
            "smithy.api#required": {}
          }
        },
        "Inputs": {
          "target": "com.amazonaws.glue#OneInput",
          "traits": {
            "smithy.api#documentation": "<p>The nodes that are inputs to the data target.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionKeys": {
          "target": "com.amazonaws.glue#GlueStudioPathList",
          "traits": {
            "smithy.api#documentation": "<p>The partition keys used to distribute data across multiple partitions or shards based on a specific key or set of key.</p>"
          }
        },
        "Database": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The database that contains the table you want to use as the target. This database must already exist in the Data Catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "Table": {
          "target": "com.amazonaws.glue#EnclosedInStringProperty",
          "traits": {
            "smithy.api#documentation": "<p>The table that defines the schema of your output data. This table must already exist in the Data Catalog.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a target that uses a Glue Data Catalog table.</p>"
      }
    },
    "com.amazonaws.glue#BatchCreatePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchCreatePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchCreatePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        },
        {
          "target": "com.amazonaws.glue#ResourceNumberLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue#BatchCreatePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog in which the partition is to be created. Currently, this should be\n      the Amazon Web Services account ID.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata database in which the partition is\n      to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata table in which the partition is to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionInputList": {
          "target": "com.amazonaws.glue#PartitionInputList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PartitionInput</code> structures that define\n      the partitions to be created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.glue#BatchCreatePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#PartitionErrors",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to create the requested partitions.</p>"
          }
        }
      },
[...]
