{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.glue#AWSGlue": {
      "type": "service",
      "version": "2017-03-31",
      "operations": [
        {
          "target": "com.amazonaws.glue#BatchCreatePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#BatchDeletePartition"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTable"
        },
        {
          "target": "com.amazonaws.glue#BatchDeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#BatchGetBlueprints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#BatchGetJobs"
        },
        {
          "target": "com.amazonaws.glue#BatchGetPartition"
        },
        {
          "target": "com.amazonaws.glue#BatchGetTriggers"
        },
        {
          "target": "com.amazonaws.glue#BatchGetWorkflows"
        },
        {
          "target": "com.amazonaws.glue#BatchStopJobRun"
        },
        {
          "target": "com.amazonaws.glue#BatchUpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#CancelMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#CheckSchemaVersionValidity"
        },
        {
          "target": "com.amazonaws.glue#CreateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#CreateClassifier"
        },
        {
          "target": "com.amazonaws.glue#CreateConnection"
        },
        {
          "target": "com.amazonaws.glue#CreateCrawler"
        },
        {
          "target": "com.amazonaws.glue#CreateDatabase"
        },
        {
          "target": "com.amazonaws.glue#CreateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#CreateJob"
        },
        {
          "target": "com.amazonaws.glue#CreateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#CreatePartition"
        },
        {
          "target": "com.amazonaws.glue#CreatePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#CreateRegistry"
        },
        {
          "target": "com.amazonaws.glue#CreateSchema"
        },
        {
          "target": "com.amazonaws.glue#CreateScript"
        },
        {
          "target": "com.amazonaws.glue#CreateSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#CreateTable"
        },
        {
          "target": "com.amazonaws.glue#CreateTrigger"
        },
        {
          "target": "com.amazonaws.glue#CreateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#CreateWorkflow"
        },
        {
          "target": "com.amazonaws.glue#DeleteBlueprint"
        },
        {
          "target": "com.amazonaws.glue#DeleteClassifier"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#DeleteColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteConnection"
        },
        {
          "target": "com.amazonaws.glue#DeleteCrawler"
        },
        {
          "target": "com.amazonaws.glue#DeleteDatabase"
        },
        {
          "target": "com.amazonaws.glue#DeleteDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#DeleteJob"
        },
        {
          "target": "com.amazonaws.glue#DeleteMLTransform"
        },
        {
          "target": "com.amazonaws.glue#DeletePartition"
        },
        {
          "target": "com.amazonaws.glue#DeletePartitionIndex"
        },
        {
          "target": "com.amazonaws.glue#DeleteRegistry"
        },
        {
          "target": "com.amazonaws.glue#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchema"
        },
        {
          "target": "com.amazonaws.glue#DeleteSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#DeleteSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#DeleteTable"
        },
        {
          "target": "com.amazonaws.glue#DeleteTableVersion"
        },
        {
          "target": "com.amazonaws.glue#DeleteTrigger"
        },
        {
          "target": "com.amazonaws.glue#DeleteUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#DeleteWorkflow"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprint"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#GetBlueprintRuns"
        },
        {
          "target": "com.amazonaws.glue#GetCatalogImportStatus"
        },
        {
          "target": "com.amazonaws.glue#GetClassifier"
        },
        {
          "target": "com.amazonaws.glue#GetClassifiers"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#GetColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#GetConnection"
        },
        {
          "target": "com.amazonaws.glue#GetConnections"
        },
        {
          "target": "com.amazonaws.glue#GetCrawler"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlerMetrics"
        },
        {
          "target": "com.amazonaws.glue#GetCrawlers"
        },
        {
          "target": "com.amazonaws.glue#GetDatabase"
        },
        {
          "target": "com.amazonaws.glue#GetDatabases"
        },
        {
          "target": "com.amazonaws.glue#GetDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#GetDataflowGraph"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#GetDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#GetJob"
        },
        {
          "target": "com.amazonaws.glue#GetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#GetJobRun"
        },
        {
          "target": "com.amazonaws.glue#GetJobRuns"
        },
        {
          "target": "com.amazonaws.glue#GetJobs"
        },
        {
          "target": "com.amazonaws.glue#GetMapping"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRun"
        },
        {
          "target": "com.amazonaws.glue#GetMLTaskRuns"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransform"
        },
        {
          "target": "com.amazonaws.glue#GetMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#GetPartition"
        },
        {
          "target": "com.amazonaws.glue#GetPartitionIndexes"
        },
        {
          "target": "com.amazonaws.glue#GetPartitions"
        },
        {
          "target": "com.amazonaws.glue#GetPlan"
        },
        {
          "target": "com.amazonaws.glue#GetRegistry"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicies"
        },
        {
          "target": "com.amazonaws.glue#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#GetSchema"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaByDefinition"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#GetSchemaVersionsDiff"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfiguration"
        },
        {
          "target": "com.amazonaws.glue#GetSecurityConfigurations"
        },
        {
          "target": "com.amazonaws.glue#GetTable"
        },
        {
          "target": "com.amazonaws.glue#GetTables"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersion"
        },
        {
          "target": "com.amazonaws.glue#GetTableVersions"
        },
        {
          "target": "com.amazonaws.glue#GetTags"
        },
        {
          "target": "com.amazonaws.glue#GetTrigger"
        },
        {
          "target": "com.amazonaws.glue#GetTriggers"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#GetUserDefinedFunctions"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflow"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#GetWorkflowRuns"
        },
        {
          "target": "com.amazonaws.glue#ImportCatalogToGlue"
        },
        {
          "target": "com.amazonaws.glue#ListBlueprints"
        },
        {
          "target": "com.amazonaws.glue#ListCrawlers"
        },
        {
          "target": "com.amazonaws.glue#ListDevEndpoints"
        },
        {
          "target": "com.amazonaws.glue#ListJobs"
        },
        {
          "target": "com.amazonaws.glue#ListMLTransforms"
        },
        {
          "target": "com.amazonaws.glue#ListRegistries"
        },
        {
          "target": "com.amazonaws.glue#ListSchemas"
        },
        {
          "target": "com.amazonaws.glue#ListSchemaVersions"
        },
        {
          "target": "com.amazonaws.glue#ListTriggers"
        },
        {
          "target": "com.amazonaws.glue#ListWorkflows"
        },
        {
          "target": "com.amazonaws.glue#PutDataCatalogEncryptionSettings"
        },
        {
          "target": "com.amazonaws.glue#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.glue#PutSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#PutWorkflowRunProperties"
        },
        {
          "target": "com.amazonaws.glue#QuerySchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#RegisterSchemaVersion"
        },
        {
          "target": "com.amazonaws.glue#RemoveSchemaVersionMetadata"
        },
        {
          "target": "com.amazonaws.glue#ResetJobBookmark"
        },
        {
          "target": "com.amazonaws.glue#ResumeWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#SearchTables"
        },
        {
          "target": "com.amazonaws.glue#StartBlueprintRun"
        },
        {
          "target": "com.amazonaws.glue#StartCrawler"
        },
        {
          "target": "com.amazonaws.glue#StartCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StartExportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartImportLabelsTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartJobRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLEvaluationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartMLLabelingSetGenerationTaskRun"
        },
        {
          "target": "com.amazonaws.glue#StartTrigger"
        },
        {
          "target": "com.amazonaws.glue#StartWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#StopCrawler"
        },
        {
          "target": "com.amazonaws.glue#StopCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#StopTrigger"
        },
        {
          "target": "com.amazonaws.glue#StopWorkflowRun"
        },
        {
          "target": "com.amazonaws.glue#TagResource"
        },
        {
          "target": "com.amazonaws.glue#UntagResource"
        },
        {
          "target": "com.amazonaws.glue#UpdateBlueprint"
        },
        {
          "target": "com.amazonaws.glue#UpdateClassifier"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForPartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateColumnStatisticsForTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateConnection"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawler"
        },
        {
          "target": "com.amazonaws.glue#UpdateCrawlerSchedule"
        },
        {
          "target": "com.amazonaws.glue#UpdateDatabase"
        },
        {
          "target": "com.amazonaws.glue#UpdateDevEndpoint"
        },
        {
          "target": "com.amazonaws.glue#UpdateJob"
        },
        {
          "target": "com.amazonaws.glue#UpdateMLTransform"
        },
        {
          "target": "com.amazonaws.glue#UpdatePartition"
        },
        {
          "target": "com.amazonaws.glue#UpdateRegistry"
        },
        {
          "target": "com.amazonaws.glue#UpdateSchema"
        },
        {
          "target": "com.amazonaws.glue#UpdateTable"
        },
        {
          "target": "com.amazonaws.glue#UpdateTrigger"
        },
        {
          "target": "com.amazonaws.glue#UpdateUserDefinedFunction"
        },
        {
          "target": "com.amazonaws.glue#UpdateWorkflow"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Glue",
          "arnNamespace": "glue",
          "cloudFormationName": "Glue",
          "cloudTrailEventSource": "glue.amazonaws.com",
          "endpointPrefix": "glue"
        },
        "aws.auth#sigv4": {
          "name": "glue"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Glue</fullname>\n         <p>Defines the public endpoint for the Glue service.</p>",
        "smithy.api#title": "AWS Glue"
      }
    },
    "com.amazonaws.glue#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access to a resource was denied.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#Action": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a job to be run.</p>"
          }
        },
        "Arguments": {
          "target": "com.amazonaws.glue#GenericMap",
          "traits": {
            "smithy.api#documentation": "<p>The job arguments used when this trigger fires. For this job run, they replace the default arguments set in the job definition itself.</p>\n         <p>You can specify arguments here that your own job-execution script\n      consumes, as well as arguments that Glue itself consumes.</p>\n         <p>For information about how to specify and consume your own Job arguments, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-python-calling.html\">Calling Glue APIs in Python</a> topic in the developer guide.</p>\n         <p>For information about the key-value pairs that Glue consumes to set up your job, see the <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-programming-etl-glue-arguments.html\">Special Parameters Used by Glue</a> topic in the developer guide.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.glue#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRun</code> timeout in minutes. This is the maximum time that a job run can\n      consume resources before it is terminated and enters <code>TIMEOUT</code> status. The default\n      is 2,880 minutes (48 hours). This overrides the timeout value set in the parent job.</p>"
          }
        },
        "SecurityConfiguration": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>SecurityConfiguration</code> structure to be used with this\n      action.</p>"
          }
        },
        "NotificationProperty": {
          "target": "com.amazonaws.glue#NotificationProperty",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration properties of a job run notification.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to be used with this action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines an action to be initiated by a trigger.</p>"
      }
    },
    "com.amazonaws.glue#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Action"
      }
    },
    "com.amazonaws.glue#AdditionalPlanOptionsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.glue#GenericString"
      },
      "value": {
        "target": "com.amazonaws.glue#GenericString"
      }
    },
    "com.amazonaws.glue#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource to be created or added already exists.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#AttemptCount": {
      "type": "integer"
    },
    "com.amazonaws.glue#BackfillError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.glue#BackfillErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for an error that occurred when registering partition indexes for an existing table.</p>"
          }
        },
        "Partitions": {
          "target": "com.amazonaws.glue#BackfillErroredPartitionsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of a limited number of partitions in the response.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A list of errors that can occur when registering partition indexes for an existing table.</p>\n\t\n\t        <p>These errors give the details about why an index registration failed and provide a limited number of partitions in the response, so that you can fix the partitions at fault and try registering the index again. The most common set of errors that can occur are categorized as follows:</p>\n\t \n\t        <ul>\n            <li>\n               <p>EncryptedPartitionError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>InvalidPartitionTypeDataError: The partition value doesn't match the data type for that partition column.</p>\n            </li>\n            <li>\n               <p>MissingPartitionValueError: The partitions are encrypted.</p>\n            </li>\n            <li>\n               <p>UnsupportedPartitionCharacterError: Characters inside the partition value are not supported. For example: U+0000 , U+0001, U+0002.</p>\n            </li>\n            <li>\n               <p>InternalError: Any error which does not belong to other error codes.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.glue#BackfillErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENCRYPTED_PARTITION_ERROR",
            "name": "ENCRYPTED_PARTITION_ERROR"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "INVALID_PARTITION_TYPE_DATA_ERROR",
            "name": "INVALID_PARTITION_TYPE_DATA_ERROR"
          },
          {
            "value": "MISSING_PARTITION_VALUE_ERROR",
            "name": "MISSING_PARTITION_VALUE_ERROR"
          },
          {
            "value": "UNSUPPORTED_PARTITION_CHARACTER_ERROR",
            "name": "UNSUPPORTED_PARTITION_CHARACTER_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.glue#BackfillErroredPartitionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#PartitionValueList"
      }
    },
    "com.amazonaws.glue#BackfillErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BackfillError"
      }
    },
    "com.amazonaws.glue#BatchCreatePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchCreatePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchCreatePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        },
        {
          "target": "com.amazonaws.glue#ResourceNumberLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue#BatchCreatePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog in which the partition is to be created. Currently, this should be\n      the Amazon Web Services account ID.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata database in which the partition is\n      to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata table in which the partition is to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionInputList": {
          "target": "com.amazonaws.glue#PartitionInputList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PartitionInput</code> structures that define\n      the partitions to be created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchCreatePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#PartitionErrors",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to create the requested partitions.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchDeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchDeleteConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a list of connection definitions from the Data Catalog.</p>"
      }
    },
    "com.amazonaws.glue#BatchDeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog in which the connections reside. If none is provided, the Amazon Web Services\n      account ID is used by default.</p>"
          }
        },
        "ConnectionNameList": {
          "target": "com.amazonaws.glue#DeleteConnectionNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of the connections to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteConnectionResponse": {
      "type": "structure",
      "members": {
        "Succeeded": {
          "target": "com.amazonaws.glue#NameStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of the connection definitions that were\n       successfully deleted.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.glue#ErrorByName",
          "traits": {
            "smithy.api#documentation": "<p>A map of the names of connections that were not successfully\n       deleted to error details.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeletePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchDeletePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchDeletePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue#BatchDeletePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the partition to be deleted resides. If none is provided,\n      the Amazon Web Services account ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database in which the table in question\n      resides.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the partitions to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionsToDelete": {
          "target": "com.amazonaws.glue#BatchDeletePartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PartitionInput</code> structures that define\n      the partitions to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeletePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#PartitionErrors",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to delete the requested partitions.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeletePartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#PartitionValueList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 25
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchDeleteTableRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchDeleteTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes multiple tables at once.</p>\n         <note>\n            <p>After completing this operation, you no longer have access to the table versions and\n        partitions that belong to the deleted table. Glue deletes these \"orphaned\" resources\n        asynchronously in a timely manner, at the discretion of the service.</p>\n            <p>To ensure the immediate deletion of all related resources, before calling\n          <code>BatchDeleteTable</code>, use <code>DeleteTableVersion</code> or\n          <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or\n          <code>BatchDeletePartition</code>, to delete any resources that belong to the\n        table.</p>\n         </note>"
      }
    },
    "com.amazonaws.glue#BatchDeleteTableNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#NameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTableRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the table resides. If none is provided, the Amazon Web Services account\n      ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database in which the tables to delete reside. For Hive\n      compatibility, this name is entirely lowercase.</p>",
            "smithy.api#required": {}
          }
        },
        "TablesToDelete": {
          "target": "com.amazonaws.glue#BatchDeleteTableNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the table to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTableResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#TableErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of errors encountered in attempting to delete the specified tables.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTableVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchDeleteTableVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchDeleteTableVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified batch of versions of a table.</p>"
      }
    },
    "com.amazonaws.glue#BatchDeleteTableVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#VersionString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTableVersionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the tables reside. If none is provided, the Amazon Web Services account\n      ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The database in the catalog in which the table resides. For Hive\n      compatibility, this name is entirely lowercase.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table. For Hive compatibility, \n      this name is entirely lowercase.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionIds": {
          "target": "com.amazonaws.glue#BatchDeleteTableVersionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the IDs of versions to be deleted. A <code>VersionId</code> is a string representation of an integer. Each version is incremented by 1.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchDeleteTableVersionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#TableVersionErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of errors encountered while trying to delete\n      the specified table versions.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetBlueprintNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#OrchestrationNameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.glue#BatchGetBlueprints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetBlueprintsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetBlueprintsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a list of blueprints.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetBlueprintsRequest": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.glue#BatchGetBlueprintNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of blueprint names.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludeBlueprint": {
          "target": "com.amazonaws.glue#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not to include the blueprint in the response.</p>"
          }
        },
        "IncludeParameterSpec": {
          "target": "com.amazonaws.glue#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether or not to include the parameters, as a JSON string, for the blueprint in the response.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetBlueprintsResponse": {
      "type": "structure",
      "members": {
        "Blueprints": {
          "target": "com.amazonaws.glue#Blueprints",
          "traits": {
            "smithy.api#documentation": "<p>Returns a list of blueprint as a <code>Blueprints</code> object.</p>"
          }
        },
        "MissingBlueprints": {
          "target": "com.amazonaws.glue#BlueprintNames",
          "traits": {
            "smithy.api#documentation": "<p>Returns a list of <code>BlueprintNames</code> that were not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetCrawlers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetCrawlersRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetCrawlersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of crawler names. After calling the <code>ListCrawlers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetCrawlersRequest": {
      "type": "structure",
      "members": {
        "CrawlerNames": {
          "target": "com.amazonaws.glue#CrawlerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of crawler names, which might be the names returned from the\n        <code>ListCrawlers</code> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetCrawlersResponse": {
      "type": "structure",
      "members": {
        "Crawlers": {
          "target": "com.amazonaws.glue#CrawlerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of crawler definitions.</p>"
          }
        },
        "CrawlersNotFound": {
          "target": "com.amazonaws.glue#CrawlerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of crawlers that were not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetDevEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetDevEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetDevEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of development endpoint names. After\n      calling the <code>ListDevEndpoints</code> operation, you can call this operation to access the\n      data to which you have been granted permissions. This operation supports all IAM permissions,\n      including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetDevEndpointsRequest": {
      "type": "structure",
      "members": {
        "DevEndpointNames": {
          "target": "com.amazonaws.glue#DevEndpointNames",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>DevEndpoint</code> names, which might be the names returned from the\n        <code>ListDevEndpoint</code> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetDevEndpointsResponse": {
      "type": "structure",
      "members": {
        "DevEndpoints": {
          "target": "com.amazonaws.glue#DevEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DevEndpoint</code> definitions.</p>"
          }
        },
        "DevEndpointsNotFound": {
          "target": "com.amazonaws.glue#DevEndpointNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DevEndpoints</code> not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of job names. After calling the <code>ListJobs</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags. \n</p>"
      }
    },
    "com.amazonaws.glue#BatchGetJobsRequest": {
      "type": "structure",
      "members": {
        "JobNames": {
          "target": "com.amazonaws.glue#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job names, which might be the names returned from the <code>ListJobs</code>\n      operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetJobsResponse": {
      "type": "structure",
      "members": {
        "Jobs": {
          "target": "com.amazonaws.glue#JobList",
          "traits": {
            "smithy.api#documentation": "<p>A list of job definitions.</p>"
          }
        },
        "JobsNotFound": {
          "target": "com.amazonaws.glue#JobNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of jobs not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetPartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetPartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetPartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves partitions in a batch request.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetPartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Data Catalog where the partitions in question reside.\n      If none is supplied, the Amazon Web Services account ID is used by default.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog database where the partitions reside.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the partitions' table.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionsToGet": {
          "target": "com.amazonaws.glue#BatchGetPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of partition values identifying the partitions to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetPartitionResponse": {
      "type": "structure",
      "members": {
        "Partitions": {
          "target": "com.amazonaws.glue#PartitionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the requested partitions.</p>"
          }
        },
        "UnprocessedKeys": {
          "target": "com.amazonaws.glue#BatchGetPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the partition values in the request for which partitions were not\n      returned.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetPartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#PartitionValueList"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.glue#BatchGetTriggers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetTriggersRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetTriggersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of trigger names. After calling the <code>ListTriggers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetTriggersRequest": {
      "type": "structure",
      "members": {
        "TriggerNames": {
          "target": "com.amazonaws.glue#TriggerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of trigger names, which may be the names returned from the <code>ListTriggers</code> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetTriggersResponse": {
      "type": "structure",
      "members": {
        "Triggers": {
          "target": "com.amazonaws.glue#TriggerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of trigger definitions.</p>"
          }
        },
        "TriggersNotFound": {
          "target": "com.amazonaws.glue#TriggerNameList",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of triggers not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetWorkflows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchGetWorkflowsRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchGetWorkflowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of resource metadata for a given list of workflow names. After calling the <code>ListWorkflows</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>"
      }
    },
    "com.amazonaws.glue#BatchGetWorkflowsRequest": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.glue#WorkflowNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of workflow names, which may be the names returned from the <code>ListWorkflows</code> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludeGraph": {
          "target": "com.amazonaws.glue#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to include a graph when returning the workflow resource metadata.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchGetWorkflowsResponse": {
      "type": "structure",
      "members": {
        "Workflows": {
          "target": "com.amazonaws.glue#Workflows",
          "traits": {
            "smithy.api#documentation": "<p>A list of workflow resource metadata.</p>"
          }
        },
        "MissingWorkflows": {
          "target": "com.amazonaws.glue#WorkflowNames",
          "traits": {
            "smithy.api#documentation": "<p>A list of names of workflows not found.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#BatchStopJobRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchStopJobRunRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchStopJobRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Stops one or more job runs for a specified job definition.</p>"
      }
    },
    "com.amazonaws.glue#BatchStopJobRunError": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition that is used in the job run in question.</p>"
          }
        },
        "JobRunId": {
          "target": "com.amazonaws.glue#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRunId</code> of the job run in question.</p>"
          }
        },
        "ErrorDetail": {
          "target": "com.amazonaws.glue#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "<p>Specifies details about the error that was encountered.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Records an error that occurred when attempting to stop a\n      specified job run.</p>"
      }
    },
    "com.amazonaws.glue#BatchStopJobRunErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BatchStopJobRunError"
      }
    },
    "com.amazonaws.glue#BatchStopJobRunJobRunIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#IdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        }
      }
    },
    "com.amazonaws.glue#BatchStopJobRunRequest": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition for which to stop job runs.</p>",
            "smithy.api#required": {}
          }
        },
        "JobRunIds": {
          "target": "com.amazonaws.glue#BatchStopJobRunJobRunIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the <code>JobRunIds</code> that should be stopped for that job\n      definition.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchStopJobRunResponse": {
      "type": "structure",
      "members": {
        "SuccessfulSubmissions": {
          "target": "com.amazonaws.glue#BatchStopJobRunSuccessfulSubmissionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the JobRuns that were successfully submitted for stopping.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.glue#BatchStopJobRunErrorList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the errors that were encountered in trying to stop <code>JobRuns</code>,\n      including the <code>JobRunId</code> for which each error was encountered and details about the\n      error.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchStopJobRunSuccessfulSubmission": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job definition used in the job run that was stopped.</p>"
          }
        },
        "JobRunId": {
          "target": "com.amazonaws.glue#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The <code>JobRunId</code> of the job run that was stopped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Records a successful request to stop a specified <code>JobRun</code>.</p>"
      }
    },
    "com.amazonaws.glue#BatchStopJobRunSuccessfulSubmissionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BatchStopJobRunSuccessfulSubmission"
      }
    },
    "com.amazonaws.glue#BatchUpdatePartition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#BatchUpdatePartitionRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#BatchUpdatePartitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#GlueEncryptionException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates one or more partitions in a batch operation.</p>"
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionFailureEntry": {
      "type": "structure",
      "members": {
        "PartitionValueList": {
          "target": "com.amazonaws.glue#BoundedPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of values defining the partitions.</p>"
          }
        },
        "ErrorDetail": {
          "target": "com.amazonaws.glue#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "<p>The details about the batch update partition error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a batch update partition error.</p>"
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionFailureList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BatchUpdatePartitionFailureEntry"
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionRequest": {
      "type": "structure",
      "members": {
        "CatalogId": {
          "target": "com.amazonaws.glue#CatalogIdString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the catalog in which the partition is to be updated. Currently, this should be\n      the Amazon Web Services account ID.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata database in which the partition is\n      to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the metadata table in which the partition is to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "Entries": {
          "target": "com.amazonaws.glue#BatchUpdatePartitionRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of up to 100 <code>BatchUpdatePartitionRequestEntry</code> objects to update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionRequestEntry": {
      "type": "structure",
      "members": {
        "PartitionValueList": {
          "target": "com.amazonaws.glue#BoundedPartitionValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of values defining the partitions.</p>",
            "smithy.api#required": {}
          }
        },
        "PartitionInput": {
          "target": "com.amazonaws.glue#PartitionInput",
          "traits": {
            "smithy.api#documentation": "<p>The structure used to update a partition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains the values and structure used to update a partition.</p>"
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BatchUpdatePartitionRequestEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#BatchUpdatePartitionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.glue#BatchUpdatePartitionFailureList",
          "traits": {
            "smithy.api#documentation": "<p>The errors encountered when trying to update the requested partitions. A list of <code>BatchUpdatePartitionFailureEntry</code> objects.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#BatchWindow": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 900
        }
      }
    },
    "com.amazonaws.glue#BinaryColumnStatisticsData": {
      "type": "structure",
      "members": {
        "MaximumLength": {
          "target": "com.amazonaws.glue#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The size of the longest bit sequence in the column.</p>",
            "smithy.api#required": {}
          }
        },
        "AverageLength": {
          "target": "com.amazonaws.glue#NonNegativeDouble",
          "traits": {
            "smithy.api#documentation": "<p>The average bit sequence length in the column.</p>",
            "smithy.api#required": {}
          }
        },
        "NumberOfNulls": {
          "target": "com.amazonaws.glue#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of null values in the column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines column statistics supported for bit sequence data values.</p>"
      }
    },
    "com.amazonaws.glue#Blob": {
      "type": "blob"
    },
    "com.amazonaws.glue#Blueprint": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#OrchestrationNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the blueprint.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.glue#Generic512CharString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the blueprint.</p>"
          }
        },
        "CreatedOn": {
          "target": "com.amazonaws.glue#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the blueprint was registered.</p>"
          }
        },
        "LastModifiedOn": {
          "target": "com.amazonaws.glue#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the blueprint was last modified.</p>"
          }
        },
        "ParameterSpec": {
          "target": "com.amazonaws.glue#BlueprintParameterSpec",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string that indicates the list of parameter specifications for the blueprint.</p>"
          }
        },
        "BlueprintLocation": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the path in Amazon S3 where the blueprint is published.</p>"
          }
        },
        "BlueprintServiceLocation": {
          "target": "com.amazonaws.glue#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a path in Amazon S3 where the blueprint is copied when you call <code>CreateBlueprint/UpdateBlueprint</code> to register the blueprint in Glue.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.glue#BlueprintStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the blueprint registration.</p>\n\t\n\t        <ul>\n            <li>\n               <p>Creating — The blueprint registration is in progress.</p>\n            </li>\n            <li>\n               <p>Active — The blueprint has been successfully registered.</p>\n            </li>\n            <li>\n               <p>Updating — An update to the blueprint registration is in progress.</p>\n            </li>\n            <li>\n               <p>Failed — The blueprint registration failed.</p>\n            </li>\n         </ul>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.glue#ErrorString",
          "traits": {
            "smithy.api#documentation": "<p>An error message.</p>"
          }
        },
        "LastActiveDefinition": {
          "target": "com.amazonaws.glue#LastActiveDefinition",
          "traits": {
            "smithy.api#documentation": "<p>When there are multiple versions of a blueprint and the latest version has some errors, this attribute indicates the last successful blueprint definition that is available with the service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a blueprint.</p>"
      }
    },
    "com.amazonaws.glue#BlueprintDetails": {
      "type": "structure",
      "members": {
        "BlueprintName": {
          "target": "com.amazonaws.glue#OrchestrationNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the blueprint.</p>"
          }
        },
        "RunId": {
          "target": "com.amazonaws.glue#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The run ID for this blueprint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a blueprint.</p>"
      }
    },
    "com.amazonaws.glue#BlueprintNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#OrchestrationNameString"
      }
    },
    "com.amazonaws.glue#BlueprintParameterSpec": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        }
      }
    },
    "com.amazonaws.glue#BlueprintParameters": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        }
      }
    },
    "com.amazonaws.glue#BlueprintRun": {
      "type": "structure",
      "members": {
        "BlueprintName": {
          "target": "com.amazonaws.glue#OrchestrationNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the blueprint.</p>"
          }
        },
        "RunId": {
          "target": "com.amazonaws.glue#IdString",
          "traits": {
            "smithy.api#documentation": "<p>The run ID for this blueprint run.</p>"
          }
        },
        "WorkflowName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a workflow that is created as a result of a successful blueprint run. If a blueprint run has an error, there will not be a workflow created.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.glue#BlueprintRunState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the blueprint run. Possible values are:</p>\n\t\n\t        <ul>\n            <li>\n               <p>Running — The blueprint run is in progress.</p>\n            </li>\n            <li>\n               <p>Succeeded — The blueprint run completed successfully.</p>\n            </li>\n            <li>\n               <p>Failed — The blueprint run failed and rollback is complete.</p>\n            </li>\n            <li>\n               <p>Rolling Back — The blueprint run failed and rollback is in progress.</p>\n            </li>\n         </ul>"
          }
        },
        "StartedOn": {
          "target": "com.amazonaws.glue#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the blueprint run started.</p>"
          }
        },
        "CompletedOn": {
          "target": "com.amazonaws.glue#TimestampValue",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the blueprint run completed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>Indicates any errors that are seen while running the blueprint.</p>"
          }
        },
        "RollbackErrorMessage": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>If there are any errors while creating the entities of a workflow, we try to roll back the created entities until that point and delete them. This attribute indicates the errors seen while trying to delete the entities that are created.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.glue#BlueprintParameters",
          "traits": {
            "smithy.api#documentation": "<p>The blueprint parameters as a string. You will have to provide a value for each key that is required from the parameter spec that is defined in the <code>Blueprint$ParameterSpec</code>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.glue#OrchestrationIAMRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The role ARN. This role will be assumed by the Glue service and will be used to create the workflow and other entities of a workflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of a blueprint run.</p>"
      }
    },
    "com.amazonaws.glue#BlueprintRunState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "ROLLING_BACK",
            "name": "ROLLING_BACK"
          }
        ]
      }
    },
    "com.amazonaws.glue#BlueprintRuns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#BlueprintRun"
      }
    },
    "com.amazonaws.glue#BlueprintStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.glue#Blueprints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Blueprint"
      }
    },
    "com.amazonaws.glue#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.glue#BooleanColumnStatisticsData": {
      "type": "structure",
      "members": {
        "NumberOfTrues": {
          "target": "com.amazonaws.glue#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of true values in the column.</p>",
            "smithy.api#required": {}
          }
        },
        "NumberOfFalses": {
          "target": "com.amazonaws.glue#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of false values in the column.</p>",
            "smithy.api#required": {}
          }
        },
        "NumberOfNulls": {
          "target": "com.amazonaws.glue#NonNegativeLong",
          "traits": {
            "smithy.api#documentation": "<p>The number of null values in the column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines column statistics supported for Boolean data columns.</p>"
      }
    },
    "com.amazonaws.glue#BooleanNullable": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.glue#BooleanValue": {
      "type": "boolean"
    },
    "com.amazonaws.glue#BoundedPartitionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ValueString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#CancelMLTaskRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#CancelMLTaskRunRequest"
      },
      "output": {
        "target": "com.amazonaws.glue#CancelMLTaskRunResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        },
        {
          "target": "com.amazonaws.glue#OperationTimeoutException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels (stops) a task run. Machine learning task runs are asynchronous tasks that Glue runs on your behalf as part of various machine learning workflows. You can cancel a\n      machine learning task run at any time by calling <code>CancelMLTaskRun</code> with a task\n      run's parent transform's <code>TransformID</code> and the task run's <code>TaskRunId</code>. </p>"
      }
    },
    "com.amazonaws.glue#CancelMLTaskRunRequest": {
      "type": "structure",
      "members": {
        "TransformId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the machine learning transform.</p>",
            "smithy.api#required": {}
          }
        },
        "TaskRunId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the task run.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#CancelMLTaskRunResponse": {
      "type": "structure",
      "members": {
        "TransformId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the machine learning transform.</p>"
          }
        },
        "TaskRunId": {
          "target": "com.amazonaws.glue#HashString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the task run.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.glue#TaskStatusType",
          "traits": {
            "smithy.api#documentation": "<p>The status for this run.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#CatalogEncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "SSE-KMS",
            "name": "SSEKMS"
          }
        ]
      }
    },
    "com.amazonaws.glue#CatalogEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#CatalogEntry"
      }
    },
    "com.amazonaws.glue#CatalogEntry": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The database in which the table metadata resides.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table in question.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a table definition in the Glue Data Catalog.</p>"
      }
    },
    "com.amazonaws.glue#CatalogGetterPageSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#CatalogIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#CatalogImportStatus": {
      "type": "structure",
      "members": {
        "ImportCompleted": {
          "target": "com.amazonaws.glue#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>True</code> if the migration has completed, or <code>False</code> otherwise.</p>"
          }
        },
        "ImportTime": {
          "target": "com.amazonaws.glue#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the migration was started.</p>"
          }
        },
        "ImportedBy": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the person who initiated the migration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing migration status information.</p>"
      }
    },
    "com.amazonaws.glue#CatalogTablesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#NameString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.glue#CatalogTarget": {
      "type": "structure",
      "members": {
        "DatabaseName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database to be synchronized.</p>",
            "smithy.api#required": {}
          }
        },
        "Tables": {
          "target": "com.amazonaws.glue#CatalogTablesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the tables to be synchronized.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an Glue Data Catalog target.</p>"
      }
    },
    "com.amazonaws.glue#CatalogTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#CatalogTarget"
      }
    },
    "com.amazonaws.glue#CheckSchemaVersionValidity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.glue#CheckSchemaVersionValidityInput"
      },
      "output": {
        "target": "com.amazonaws.glue#CheckSchemaVersionValidityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.glue#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.glue#InternalServiceException"
        },
        {
          "target": "com.amazonaws.glue#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Validates the supplied schema. This call has no side effects, it simply validates using the supplied schema using <code>DataFormat</code> as the format. Since it does not take a schema set name, no compatibility checks are performed.</p>"
      }
    },
    "com.amazonaws.glue#CheckSchemaVersionValidityInput": {
      "type": "structure",
      "members": {
        "DataFormat": {
          "target": "com.amazonaws.glue#DataFormat",
          "traits": {
            "smithy.api#documentation": "<p>The data format of the schema definition. Currently <code>AVRO</code> and <code>JSON</code> are supported.</p>",
            "smithy.api#required": {}
          }
        },
        "SchemaDefinition": {
          "target": "com.amazonaws.glue#SchemaDefinitionString",
          "traits": {
            "smithy.api#documentation": "<p>The definition of the schema that has to be validated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.glue#CheckSchemaVersionValidityResponse": {
      "type": "structure",
      "members": {
        "Valid": {
          "target": "com.amazonaws.glue#IsVersionValid",
          "traits": {
            "smithy.api#documentation": "<p>Return true, if the schema is valid and false otherwise.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.glue#SchemaValidationError",
          "traits": {
            "smithy.api#documentation": "<p>A validation failure error message.</p>"
          }
        }
      }
    },
    "com.amazonaws.glue#Classification": {
      "type": "string"
    },
    "com.amazonaws.glue#Classifier": {
      "type": "structure",
      "members": {
        "GrokClassifier": {
          "target": "com.amazonaws.glue#GrokClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier that uses <code>grok</code>.</p>"
          }
        },
        "XMLClassifier": {
          "target": "com.amazonaws.glue#XMLClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for XML content.</p>"
          }
        },
        "JsonClassifier": {
          "target": "com.amazonaws.glue#JsonClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for JSON content.</p>"
          }
        },
        "CsvClassifier": {
          "target": "com.amazonaws.glue#CsvClassifier",
          "traits": {
            "smithy.api#documentation": "<p>A classifier for comma-separated values (CSV).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Classifiers are triggered during a crawl task. A classifier checks whether a given file is\n      in a format it can handle. If it is, the classifier creates a schema in the form of a\n        <code>StructType</code> object that matches that data format.</p>\n         <p>You can use the standard classifiers that Glue provides, or you can write your own\n      classifiers to best categorize your data sources and specify the appropriate schemas to use\n      for them. A classifier can be a <code>grok</code> classifier, an <code>XML</code> classifier,\n      a <code>JSON</code> classifier, or a custom <code>CSV</code> classifier, as specified in one\n      of the fields in the <code>Classifier</code> object.</p>"
      }
    },
    "com.amazonaws.glue#ClassifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Classifier"
      }
    },
    "com.amazonaws.glue#ClassifierNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#NameString"
      }
    },
    "com.amazonaws.glue#CloudWatchEncryption": {
      "type": "structure",
      "members": {
        "CloudWatchEncryptionMode": {
          "target": "com.amazonaws.glue#CloudWatchEncryptionMode",
          "traits": {
            "smithy.api#documentation": "<p>The encryption mode to use for CloudWatch data.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.glue#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS key to be used to encrypt the data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies how Amazon CloudWatch data should be encrypted.</p>"
      }
    },
    "com.amazonaws.glue#CloudWatchEncryptionMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "SSE-KMS",
            "name": "SSEKMS"
          }
        ]
      }
    },
    "com.amazonaws.glue#CodeGenArgName": {
      "type": "string"
    },
    "com.amazonaws.glue#CodeGenArgValue": {
      "type": "string"
    },
    "com.amazonaws.glue#CodeGenEdge": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.glue#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the node at which the edge starts.</p>",
            "smithy.api#required": {}
          }
        },
        "Target": {
          "target": "com.amazonaws.glue#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the node at which the edge ends.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetParameter": {
          "target": "com.amazonaws.glue#CodeGenArgName",
          "traits": {
            "smithy.api#documentation": "<p>The target of the edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a directional edge in a directed acyclic graph (DAG).</p>"
      }
    },
    "com.amazonaws.glue#CodeGenIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z_][A-Za-z0-9_]*$"
      }
    },
    "com.amazonaws.glue#CodeGenNode": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.glue#CodeGenIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>A node identifier that is unique within the node's graph.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeType": {
          "target": "com.amazonaws.glue#CodeGenNodeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of node that this is.</p>",
            "smithy.api#required": {}
          }
        },
        "Args": {
          "target": "com.amazonaws.glue#CodeGenNodeArgs",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the node, in the form of name-value pairs.</p>",
            "smithy.api#required": {}
          }
        },
        "LineNumber": {
          "target": "com.amazonaws.glue#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The line number of the node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a node in a directed acyclic graph (DAG)</p>"
      }
    },
    "com.amazonaws.glue#CodeGenNodeArg": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#CodeGenArgName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the argument or property.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.glue#CodeGenArgValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the argument or property.</p>",
            "smithy.api#required": {}
          }
        },
        "Param": {
          "target": "com.amazonaws.glue#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>True if the value is used as a parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An argument or property of a node.</p>"
      }
    },
    "com.amazonaws.glue#CodeGenNodeArgs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#CodeGenNodeArg"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.glue#CodeGenNodeType": {
      "type": "string"
    },
    "com.amazonaws.glue#Column": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the <code>Column</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.glue#ColumnTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Column</code>.</p>"
          }
        },
        "Comment": {
          "target": "com.amazonaws.glue#CommentString",
          "traits": {
            "smithy.api#documentation": "<p>A free-form text comment.</p>"
          }
        },
        "Parameters": {
          "target": "com.amazonaws.glue#ParametersMap",
          "traits": {
            "smithy.api#documentation": "<p>These key-value pairs define properties associated with the column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A column in a <code>Table</code>.</p>"
      }
    },
    "com.amazonaws.glue#ColumnError": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column that failed.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.glue#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "<p>An error message with the reason for the failure of an operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encapsulates a column name that failed and the reason for failure.</p>"
      }
    },
    "com.amazonaws.glue#ColumnErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnError"
      }
    },
    "com.amazonaws.glue#ColumnImportance": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of a column.</p>"
          }
        },
        "Importance": {
          "target": "com.amazonaws.glue#GenericBoundedDouble",
          "traits": {
            "smithy.api#documentation": "<p>The column importance score for the column, as a decimal.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the column name and column importance score for a column. </p>\n\t\n\t        <p>Column importance helps you understand how columns contribute to your model, by identifying which columns in your records are more important than others.</p>"
      }
    },
    "com.amazonaws.glue#ColumnImportanceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnImportance"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.glue#ColumnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#Column"
      }
    },
    "com.amazonaws.glue#ColumnNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#ColumnStatistics": {
      "type": "structure",
      "members": {
        "ColumnName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>Name of column which statistics belong to.</p>",
            "smithy.api#required": {}
          }
        },
        "ColumnType": {
          "target": "com.amazonaws.glue#TypeString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "AnalyzedTime": {
          "target": "com.amazonaws.glue#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when column statistics were generated.</p>",
            "smithy.api#required": {}
          }
        },
        "StatisticsData": {
          "target": "com.amazonaws.glue#ColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>A <code>ColumnStatisticData</code> object that contains the statistics data values.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the generated column-level statistics for a table or partition.</p>"
      }
    },
    "com.amazonaws.glue#ColumnStatisticsData": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.glue#ColumnStatisticsType",
          "traits": {
            "smithy.api#documentation": "<p>The type of column statistics data.</p>",
            "smithy.api#required": {}
          }
        },
        "BooleanColumnStatisticsData": {
          "target": "com.amazonaws.glue#BooleanColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Boolean column statistics data.</p>"
          }
        },
        "DateColumnStatisticsData": {
          "target": "com.amazonaws.glue#DateColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Date column statistics data.</p>"
          }
        },
        "DecimalColumnStatisticsData": {
          "target": "com.amazonaws.glue#DecimalColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Decimal column statistics data.</p>"
          }
        },
        "DoubleColumnStatisticsData": {
          "target": "com.amazonaws.glue#DoubleColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Double column statistics data.</p>"
          }
        },
        "LongColumnStatisticsData": {
          "target": "com.amazonaws.glue#LongColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Long column statistics data.</p>"
          }
        },
        "StringColumnStatisticsData": {
          "target": "com.amazonaws.glue#StringColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>String column statistics data.</p>"
          }
        },
        "BinaryColumnStatisticsData": {
          "target": "com.amazonaws.glue#BinaryColumnStatisticsData",
          "traits": {
            "smithy.api#documentation": "<p>Binary column statistics data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the individual types of column statistics data. Only one data object should be set and indicated by the <code>Type</code> attribute.</p>"
      }
    },
    "com.amazonaws.glue#ColumnStatisticsError": {
      "type": "structure",
      "members": {
        "ColumnStatistics": {
          "target": "com.amazonaws.glue#ColumnStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ColumnStatistics</code> of the column.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.glue#ErrorDetail",
          "traits": {
            "smithy.api#documentation": "<p>An error message with the reason for the failure of an operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Encapsulates a <code>ColumnStatistics</code> object that failed and the reason for failure.</p>"
      }
    },
    "com.amazonaws.glue#ColumnStatisticsErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnStatisticsError"
      }
    },
    "com.amazonaws.glue#ColumnStatisticsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnStatistics"
      }
    },
    "com.amazonaws.glue#ColumnStatisticsType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BOOLEAN",
            "name": "BOOLEAN"
          },
          {
            "value": "DATE",
            "name": "DATE"
          },
          {
            "value": "DECIMAL",
            "name": "DECIMAL"
          },
          {
            "value": "DOUBLE",
            "name": "DOUBLE"
          },
          {
            "value": "LONG",
            "name": "LONG"
          },
          {
            "value": "STRING",
            "name": "STRING"
          },
          {
            "value": "BINARY",
            "name": "BINARY"
          }
        ]
      }
    },
    "com.amazonaws.glue#ColumnTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 131072
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#ColumnValueStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.glue#ColumnValuesString"
      }
    },
    "com.amazonaws.glue#ColumnValuesString": {
      "type": "string"
    },
    "com.amazonaws.glue#CommentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.glue#Comparator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          },
          {
            "value": "GREATER_THAN",
            "name": "GREATER_THAN"
          },
          {
            "value": "LESS_THAN",
            "name": "LESS_THAN"
          },
          {
            "value": "GREATER_THAN_EQUALS",
            "name": "GREATER_THAN_EQUALS"
          },
          {
            "value": "LESS_THAN_EQUALS",
            "name": "LESS_THAN_EQUALS"
          }
        ]
      }
    },
    "com.amazonaws.glue#Compatibility": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "BACKWARD",
            "name": "BACKWARD"
          },
          {
            "value": "BACKWARD_ALL",
            "name": "BACKWARD_ALL"
          },
          {
            "value": "FORWARD",
            "name": "FORWARD"
          },
          {
            "value": "FORWARD_ALL",
            "name": "FORWARD_ALL"
          },
          {
            "value": "FULL",
            "name": "FULL"
          },
          {
            "value": "FULL_ALL",
            "name": "FULL_ALL"
          }
        ]
      }
    },
    "com.amazonaws.glue#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Two processes are trying to modify a resource simultaneously.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#ConcurrentRunsExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.glue#MessageString",
          "traits": {
            "smithy.api#documentation": "<p>A message describing the problem.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Too many jobs are being run concurrently.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.glue#Condition": {
      "type": "structure",
      "members": {
        "LogicalOperator": {
          "target": "com.amazonaws.glue#LogicalOperator",
          "traits": {
            "smithy.api#documentation": "<p>A logical operator.</p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the job whose <code>JobRuns</code> this condition applies to, and on which\n      this trigger waits.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.glue#JobRunState",
          "traits": {
            "smithy.api#documentation": "<p>The condition state. Currently, the only job states that a trigger can listen for are <code>SUCCEEDED</code>, <code>STOPPED</code>, <code>FAILED</code>, and <code>TIMEOUT</code>. The only crawler states that a trigger can listen for are <code>SUCCEEDED</code>, <code>FAILED</code>, and <code>CANCELLED</code>.</p>"
          }
        },
        "CrawlerName": {
          "target": "com.amazonaws.glue#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the crawler to which this condition applies.</p>"
          }
        },
        "CrawlState": {
          "target": "com.amazonaws.glue#CrawlState",
          "traits": {
[...]
