{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.grafana#AWSGrafanaControlPlane": {
      "type": "service",
      "version": "2020-08-18",
      "operations": [
        {
          "target": "com.amazonaws.grafana#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.grafana#TagResource"
        },
        {
          "target": "com.amazonaws.grafana#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.grafana#ApiKey"
        },
        {
          "target": "com.amazonaws.grafana#Authentication"
        },
        {
          "target": "com.amazonaws.grafana#Configuration"
        },
        {
          "target": "com.amazonaws.grafana#License"
        },
        {
          "target": "com.amazonaws.grafana#Permission"
        },
        {
          "target": "com.amazonaws.grafana#Workspace"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "aws.api#service": {
          "sdkId": "grafana",
          "arnNamespace": "grafana",
          "cloudFormationName": "Grafana",
          "cloudTrailEventSource": "EVENT_SOURCE_VALUE"
        },
        "aws.auth#sigv4": {
          "name": "grafana"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "*",
            "content-type",
            "x-amz-content-sha256",
            "x-amz-user-agent",
            "x-amzn-platform-id",
            "x-amzn-trace-id"
          ],
          "additionalExposedHeaders": [
            "cache-control",
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-errormessage",
            "x-amzn-trace-id",
            "x-amzn-requestid",
            "x-amz-apigw-id,date"
          ]
        },
        "smithy.api#documentation": "<p>Amazon Managed Grafana is a fully managed and secure data visualization service that you can use to \n       instantly query, correlate, and visualize operational metrics, logs, and traces from multiple sources. \n       Amazon Managed Grafana makes it easy to deploy, operate, and scale Grafana, a widely deployed data visualization tool \n       that is popular for its extensible data support.</p>\n         <p>With Amazon Managed Grafana, you create logically isolated Grafana servers called <i>workspaces</i>. In\n        a workspace,  you can create  Grafana dashboards and visualizations to analyze your metrics, logs, and traces without having to\n       build, package, or deploy any hardware to run Grafana servers.  </p>",
        "smithy.api#title": "Amazon Managed Grafana",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://grafana-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://grafana-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://grafana.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://grafana.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://grafana.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.grafana#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.grafana#AccountAccessType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CURRENT_ACCOUNT",
            "value": "CURRENT_ACCOUNT",
            "documentation": "Indicates that the customer is using Grafana to monitor resources in their current account."
          },
          {
            "name": "ORGANIZATION",
            "value": "ORGANIZATION",
            "documentation": "Indicates that the customer is using Grafana to monitor resources in organizational units."
          }
        ]
      }
    },
    "com.amazonaws.grafana#AllowedOrganization": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.grafana#AllowedOrganizations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#AllowedOrganization"
      }
    },
    "com.amazonaws.grafana#ApiKey": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId"
        }
      },
      "operations": [
        {
          "target": "com.amazonaws.grafana#CreateWorkspaceApiKey"
        },
        {
          "target": "com.amazonaws.grafana#DeleteWorkspaceApiKey"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "workspaces/{workspaceId}/apikeys"
        }
      }
    },
    "com.amazonaws.grafana#ApiKeyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.grafana#ApiKeyToken": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.grafana#AssertionAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.grafana#AssertionAttributes": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for SAML users.</p>"
          }
        },
        "login": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the login names for SAML users.</p>"
          }
        },
        "email": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the email names for SAML users.</p>"
          }
        },
        "groups": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for user groups.</p>"
          }
        },
        "role": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the user roles.</p>"
          }
        },
        "org": {
          "target": "com.amazonaws.grafana#AssertionAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The name of the attribute within the SAML assertion to use as the user full \"friendly\" names for the users' organizations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that defines which attributes in the IdP assertion are to be used to define\n         information about the users authenticated by the IdP to use the workspace.</p>"
      }
    },
    "com.amazonaws.grafana#AssociateLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#AssociateLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#AssociateLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns a Grafana Enterprise license to a workspace. Upgrading to Grafana Enterprise\n            incurs additional fees. For more information, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/upgrade-to-Grafana-Enterprise.html\">Upgrade a workspace to\n                Grafana Enterprise</a>.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/licenses/{licenseType}"
        }
      }
    },
    "com.amazonaws.grafana#AssociateLicenseRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to associate the license with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "licenseType": {
          "target": "com.amazonaws.grafana#LicenseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of license to associate with the workspace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#AssociateLicenseResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.grafana#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing data about the workspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#Authentication": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId"
        }
      },
      "read": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceAuthentication"
      },
      "update": {
        "target": "com.amazonaws.grafana#UpdateWorkspaceAuthentication"
      },
      "traits": {
        "aws.api#arn": {
          "template": "workspaces/{workspaceId}/authentication"
        },
        "aws.cloudformation#cfnResource": {}
      }
    },
    "com.amazonaws.grafana#AuthenticationDescription": {
      "type": "structure",
      "members": {
        "providers": {
          "target": "com.amazonaws.grafana#AuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this workspace uses IAM Identity Center, SAML, or both methods \n            to authenticate users to use the Grafana console in the Amazon Managed Grafana \n            workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "saml": {
          "target": "com.amazonaws.grafana#SamlAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about how this workspace works with \n            SAML, including what attributes within the assertion are to be mapped to \n            user information in the workspace. </p>"
          }
        },
        "awsSso": {
          "target": "com.amazonaws.grafana#AwsSsoAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about how this workspace works with \n            IAM Identity Center. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information about the user authentication methods used by \n            the workspace.</p>"
      }
    },
    "com.amazonaws.grafana#AuthenticationProviderTypes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "AWS_SSO",
            "value": "AWS_SSO",
            "documentation": "Indicates that AMG workspace has AWS SSO enabled as its authentication provider."
          },
          {
            "name": "SAML",
            "value": "SAML",
            "documentation": "Indicates that the AMG workspace has SAML enabled as its authentication provider."
          }
        ]
      }
    },
    "com.amazonaws.grafana#AuthenticationProviders": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#AuthenticationProviderTypes"
      }
    },
    "com.amazonaws.grafana#AuthenticationSummary": {
      "type": "structure",
      "members": {
        "providers": {
          "target": "com.amazonaws.grafana#AuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the workspace uses SAML, IAM Identity Center, or both methods for user\n            authentication.</p>",
            "smithy.api#required": {}
          }
        },
        "samlConfigurationStatus": {
          "target": "com.amazonaws.grafana#SamlConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the workplace's user authentication method is fully configured.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that describes whether the workspace uses SAML, IAM Identity Center, or \n            both methods for user authentication, and whether that authentication is fully \n            configured.</p>"
      }
    },
    "com.amazonaws.grafana#AwsSsoAuthentication": {
      "type": "structure",
      "members": {
        "ssoClientId": {
          "target": "com.amazonaws.grafana#SSOClientId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IAM Identity Center-managed application that is created by Amazon Managed Grafana.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information about how this workspace works with \n            IAM Identity Center. </p>"
      }
    },
    "com.amazonaws.grafana#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[!-~]{1,64}$"
      }
    },
    "com.amazonaws.grafana#Configuration": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId"
        }
      },
      "operations": [
        {
          "target": "com.amazonaws.grafana#DescribeWorkspaceConfiguration"
        },
        {
          "target": "com.amazonaws.grafana#UpdateWorkspaceConfiguration"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "workspaces/{workspaceId}/configuration"
        }
      }
    },
    "com.amazonaws.grafana#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A resource was in an inconsistent state during an update or a deletion.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.grafana#CreateWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#CreateWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#CreateWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#ConflictException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <i>workspace</i>. In a workspace, you can create Grafana\n            dashboards and visualizations to analyze your metrics, logs, and traces. You don't have to\n            build, package, or deploy any hardware to run the Grafana server.</p>\n        <p>Don't use <code>CreateWorkspace</code> to modify an existing workspace. Instead, \n            use <a href=\"https://docs.aws.amazon.com/grafana/latest/APIReference/API_UpdateWorkspace.html\">UpdateWorkspace</a>.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "POST",
          "uri": "/workspaces"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.grafana#CreateWorkspaceApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#CreateWorkspaceApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#CreateWorkspaceApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#ConflictException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Grafana API key for the workspace.  This key can be used to \n            authenticate requests sent to the workspace's HTTP API.\n            See <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/Using-Grafana-APIs.html\">https://docs.aws.amazon.com/grafana/latest/userguide/Using-Grafana-APIs.html</a>\n            for available APIs and example requests.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/apikeys"
        }
      }
    },
    "com.amazonaws.grafana#CreateWorkspaceApiKeyRequest": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "com.amazonaws.grafana#ApiKeyName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the key. Keynames must be unique to the workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "keyRole": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the permission level of the key.</p>\n        <p> Valid values: <code>VIEWER</code>|<code>EDITOR</code>|<code>ADMIN</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "secondsToLive": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time in seconds until the key expires. Keys can be valid for up to 30 days.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 2592000
            },
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to create an API key.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#CreateWorkspaceApiKeyResponse": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "com.amazonaws.grafana#ApiKeyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key that was created.</p>",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.amazonaws.grafana#ApiKeyToken",
          "traits": {
            "smithy.api#documentation": "<p>The key token. Use this value as a bearer token to \n            authenticate HTTP requests to the workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that the key is valid for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#CreateWorkspaceRequest": {
      "type": "structure",
      "members": {
        "accountAccessType": {
          "target": "com.amazonaws.grafana#AccountAccessType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the workspace can access Amazon Web Services resources in this Amazon Web Services account only, or whether it can also access Amazon Web Services resources in\n            other accounts in the same organization. If you specify <code>ORGANIZATION</code>, you must\n            specify which organizational units the workspace can access in the\n            <code>workspaceOrganizationalUnits</code> parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.grafana#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive, user-provided identifier to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "organizationRoleName": {
          "target": "com.amazonaws.grafana#OrganizationRoleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an IAM role that already exists to use with Organizations to access Amazon Web Services\n            data sources and notification channels in other accounts in an organization.</p>"
          }
        },
        "permissionType": {
          "target": "com.amazonaws.grafana#PermissionType",
          "traits": {
            "smithy.api#documentation": "<p>If you specify <code>SERVICE_MANAGED</code> on AWS Grafana console, Amazon Managed Grafana automatically creates\n            the IAM roles and provisions the permissions that the workspace needs to use\n            Amazon Web Services data sources and notification channels. In the CLI mode, the permissionType <code>SERVICE_MANAGED</code> will not create the IAM role \n            for you. The ability for the Amazon Managed Grafana to create the IAM role on behalf of the user is supported only in the \n            Amazon Managed Grafana AWS console. Use only the <code>CUSTOMER_MANAGED</code> permission type when creating a workspace in the CLI. </p> \n        <p>If you specify <code>CUSTOMER_MANAGED</code>, you will manage those roles and\n            permissions yourself. If you are creating this workspace in a member account of an\n            organization that is not a delegated administrator account, and you want the workspace to access data sources in other Amazon Web Services\n            accounts in the organization, you must choose <code>CUSTOMER_MANAGED</code>.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/AMG-manage-permissions.html\">Amazon Managed Grafana permissions and policies for\n            Amazon Web Services data sources and notification channels</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "stackSetName": {
          "target": "com.amazonaws.grafana#StackSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudFormation stack set to use to generate IAM roles\n            to be used for this workspace.</p>"
          }
        },
        "workspaceDataSources": {
          "target": "com.amazonaws.grafana#DataSourceTypesList",
          "traits": {
            "smithy.api#documentation": "<p>Specify the Amazon Web Services data sources that you want to be queried in this\n            workspace. Specifying these data sources here enables Amazon Managed Grafana to create IAM roles and permissions that allow Amazon Managed Grafana to read data from these\n            sources. You must still add them as data sources in the Grafana console in the\n            workspace.</p>\n        <p>If you don't specify a data source here, you can still add it as a data source in the\n            workspace console later. However, you will then have to manually configure permissions for\n            it.</p>"
          }
        },
        "workspaceDescription": {
          "target": "com.amazonaws.grafana#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the workspace. This is used only to help you identify this workspace.</p>\n        <p>Pattern: <code>^[\\\\p{L}\\\\p{Z}\\\\p{N}\\\\p{P}]{0,2048}$</code>\n         </p>"
          }
        },
        "workspaceName": {
          "target": "com.amazonaws.grafana#WorkspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the workspace. It does not have to be unique.</p>"
          }
        },
        "workspaceNotificationDestinations": {
          "target": "com.amazonaws.grafana#NotificationDestinationsList",
          "traits": {
            "smithy.api#documentation": "<p>Specify the Amazon Web Services notification channels that you plan to use in this workspace. Specifying these \n            data sources here enables Amazon Managed Grafana to create IAM roles and permissions that allow \n            Amazon Managed Grafana to use these channels.</p>"
          }
        },
        "workspaceOrganizationalUnits": {
          "target": "com.amazonaws.grafana#OrganizationalUnitList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the organizational units that this workspace is allowed to use data sources\n            from, if this workspace is in an account that is part of an organization.</p>"
          }
        },
        "workspaceRoleArn": {
          "target": "com.amazonaws.grafana#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The workspace needs an IAM role that grants permissions to the Amazon Web Services resources that the \n            workspace will view data from. If you already have a role that you want to use, specify it here.  The permission type should be set to  <code>CUSTOMER_MANAGED</code>.</p>"
          }
        },
        "authenticationProviders": {
          "target": "com.amazonaws.grafana#AuthenticationProviders",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether this workspace uses SAML 2.0, IAM Identity Center (successor to Single Sign-On), or both to authenticate \n            users for using the Grafana console within a workspace. For more information, \n            see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/authentication-in-AMG.html\">User authentication in \n                Amazon Managed Grafana</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.grafana#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags associated with the workspace.</p>"
          }
        },
        "vpcConfiguration": {
          "target": "com.amazonaws.grafana#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration settings for an Amazon VPC that contains data sources\n            for your Grafana workspace to connect to.</p>"
          }
        },
        "configuration": {
          "target": "com.amazonaws.grafana#OverridableConfigurationJson",
          "traits": {
            "smithy.api#documentation": "<p>The configuration string for the workspace that you create. For more information \n            about the format and configuration options available, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/AMG-configure-workspace.html\">Working in your Grafana workspace</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.grafana#CreateWorkspaceResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.grafana#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing data about the workspace that was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "AMAZON_OPENSEARCH_SERVICE",
            "value": "AMAZON_OPENSEARCH_SERVICE",
            "documentation": "Amazon OpenSearch Service"
          },
          {
            "name": "CLOUDWATCH",
            "value": "CLOUDWATCH",
            "documentation": "CloudWatch Logs"
          },
          {
            "name": "PROMETHEUS",
            "value": "PROMETHEUS",
            "documentation": "Managed Prometheus"
          },
          {
            "name": "XRAY",
            "value": "XRAY",
            "documentation": "X-Ray"
          },
          {
            "name": "TIMESTREAM",
            "value": "TIMESTREAM",
            "documentation": "Timestream"
          },
          {
            "name": "SITEWISE",
            "value": "SITEWISE",
            "documentation": "IoT SiteWise"
          },
          {
            "name": "ATHENA",
            "value": "ATHENA",
            "documentation": "Amazon Athena"
          },
          {
            "name": "REDSHIFT",
            "value": "REDSHIFT",
            "documentation": "Redshift"
          },
          {
            "name": "TWINMAKER",
            "value": "TWINMAKER",
            "documentation": "IoT TwinMaker"
          }
        ]
      }
    },
    "com.amazonaws.grafana#DataSourceTypesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#DataSourceType"
      }
    },
    "com.amazonaws.grafana#DeleteWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DeleteWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DeleteWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#ConflictException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Managed Grafana workspace.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.grafana#DeleteWorkspaceApiKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DeleteWorkspaceApiKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DeleteWorkspaceApiKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#ConflictException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Grafana API key for the workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/apikeys/{keyName}"
        }
      }
    },
    "com.amazonaws.grafana#DeleteWorkspaceApiKeyRequest": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "com.amazonaws.grafana#ApiKeyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API key to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DeleteWorkspaceApiKeyResponse": {
      "type": "structure",
      "members": {
        "keyName": {
          "target": "com.amazonaws.grafana#ApiKeyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key that was deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace where the key was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DeleteWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DeleteWorkspaceResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.grafana#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about the workspace that was deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays information about one Amazon Managed Grafana workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceAuthentication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceAuthenticationRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceAuthenticationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays information about the authentication methods used in one Amazon Managed Grafana workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/authentication"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceAuthenticationRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to return authentication information about.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceAuthenticationResponse": {
      "type": "structure",
      "members": {
        "authentication": {
          "target": "com.amazonaws.grafana#AuthenticationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about the authentication methods used in \n            the workspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DescribeWorkspaceConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the current configuration string for the given workspace.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/configuration"
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceConfigurationRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to get configuration information for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceConfigurationResponse": {
      "type": "structure",
      "members": {
        "configuration": {
          "target": "com.amazonaws.grafana#OverridableConfigurationJson",
          "traits": {
            "smithy.api#documentation": "<p>The configuration string for the workspace that you requested. For more information \n            about the format and configuration options available, see <a href=\"https://docs.aws.amazon.com/grafana/latest/userguide/AMG-configure-workspace.html\">Working in your Grafana workspace</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to display information about.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DescribeWorkspaceResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.grafana#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about the workspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.grafana#DisassociateLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#DisassociateLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#DisassociateLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the Grafana Enterprise license from a workspace.</p>",
        "smithy.api#http": {
          "code": 202,
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/licenses/{licenseType}"
        }
      }
    },
    "com.amazonaws.grafana#DisassociateLicenseRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to remove the Grafana Enterprise license from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "licenseType": {
          "target": "com.amazonaws.grafana#LicenseType",
          "traits": {
            "smithy.api#documentation": "<p>The type of license to remove from the workspace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#DisassociateLicenseResponse": {
      "type": "structure",
      "members": {
        "workspace": {
          "target": "com.amazonaws.grafana#WorkspaceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing information about the workspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#Endpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.grafana#GrafanaVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.grafana#IamRoleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::IAM::Role"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.grafana#IdpMetadata": {
      "type": "union",
      "members": {
        "url": {
          "target": "com.amazonaws.grafana#IdpMetadataUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the location containing the IdP metadata.</p>"
          }
        },
        "xml": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The full IdP metadata, in XML format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the identity provider (IdP) metadata used to integrate the\n            identity provider with this workspace. You can specify the metadata either by providing a\n            URL to its location in the <code>url</code> parameter, or by specifying the full metadata\n            in XML format in the <code>xml</code> parameter. Specifying both will cause an error.</p>"
      }
    },
    "com.amazonaws.grafana#IdpMetadataUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.grafana#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>How long to wait before you retry this operation.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unexpected error while processing the request. Retry the request.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.grafana#License": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId"
        },
        "licenseType": {
          "target": "com.amazonaws.grafana#LicenseType"
        }
      },
      "operations": [
        {
          "target": "com.amazonaws.grafana#AssociateLicense"
        },
        {
          "target": "com.amazonaws.grafana#DisassociateLicense"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "workspaces/{workspaceId}/licenses/{licenseType}"
        }
      }
    },
    "com.amazonaws.grafana#LicenseType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ENTERPRISE",
            "value": "ENTERPRISE",
            "documentation": "Grafana Enterprise License."
          },
          {
            "name": "ENTERPRISE_FREE_TRIAL",
            "value": "ENTERPRISE_FREE_TRIAL",
            "documentation": "Grafana Enterprise Free Trial License."
          }
        ]
      }
    },
    "com.amazonaws.grafana#ListPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#ListPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#ListPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the users and groups who have the Grafana <code>Admin</code> and \n            <code>Editor</code> roles in this workspace. If you use this \n            operation without specifying <code>userId</code> or <code>groupId</code>, the operation returns\n            the roles of all users\n            and groups. If you specify a <code>userId</code> or a <code>groupId</code>, only the roles\n            for that user or group are returned. If you do this, you can specify only one <code>userId</code> or \n            one <code>groupId</code>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/permissions"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "permissions"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.grafana#ListPermissionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to include in the response.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.grafana#PaginationToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The token to use when requesting the next set of results. You received this token from a previous \n            <code>ListPermissions</code> operation.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "userType": {
          "target": "com.amazonaws.grafana#UserType",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) If you specify <code>SSO_USER</code>, then only the permissions of IAM Identity Center users\n            are returned. If you specify <code>SSO_GROUP</code>, only the permissions of IAM Identity Center groups\n            are returned.</p>",
            "smithy.api#httpQuery": "userType"
          }
        },
        "userId": {
          "target": "com.amazonaws.grafana#SsoId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Limits the results to only the user that matches this ID.</p>",
            "smithy.api#httpQuery": "userId"
          }
        },
        "groupId": {
          "target": "com.amazonaws.grafana#SsoId",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Limits the results to only the group that matches this ID.</p>",
            "smithy.api#httpQuery": "groupId"
          }
        },
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to list permissions for. This parameter is required.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#ListPermissionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.grafana#PaginationToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The token to use in a subsequent <code>ListPermissions</code> operation to return\n            the next set of results.</p>"
          }
        },
        "permissions": {
          "target": "com.amazonaws.grafana#PermissionEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The permissions returned by the operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        },
        {
          "target": "com.amazonaws.grafana#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>ListTagsForResource</code> operation returns the tags that \n            are associated with the Amazon Managed Service for Grafana resource specified by the <code>resourceArn</code>. \n            Currently, the only resource that can be tagged is a workspace. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.grafana#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource the list of tags are associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.grafana#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.grafana#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The list of tags that are associated with the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.grafana#ListWorkspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.grafana#ListWorkspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.grafana#ListWorkspacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.grafana#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.grafana#InternalServerException"
        },
        {
          "target": "com.amazonaws.grafana#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of Amazon Managed Grafana workspaces in the account, with some information\n            about each workspace. For more complete information about one workspace, use <a href=\"https://docs.aws.amazon.com/AAMG/latest/APIReference/API_DescribeWorkspace.html\">DescribeWorkspace</a>.</p>",
        "smithy.api#http": {
          "code": 200,
          "method": "GET",
          "uri": "/workspaces"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "workspaces"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.grafana#ListWorkspacesRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of workspaces to include in the results.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 100
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.grafana#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token for the next set of workspaces to return. (You receive this token from a\n            previous <code>ListWorkspaces</code> operation.)</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.grafana#ListWorkspacesResponse": {
      "type": "structure",
      "members": {
        "workspaces": {
          "target": "com.amazonaws.grafana#WorkspaceList",
          "traits": {
            "smithy.api#documentation": "<p>An array of structures that contain some information about the workspaces in the account.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.grafana#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use when requesting the next set of workspaces.</p>"
          }
        }
      }
    },
    "com.amazonaws.grafana#LoginValidityDuration": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.grafana#NotificationDestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "SNS",
            "value": "SNS",
            "documentation": "AWS Simple Notification Service"
          }
        ]
      }
    },
    "com.amazonaws.grafana#NotificationDestinationsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#NotificationDestinationType"
      }
    },
    "com.amazonaws.grafana#OrganizationRoleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.grafana#OrganizationalUnit": {
      "type": "string"
    },
    "com.amazonaws.grafana#OrganizationalUnitList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#OrganizationalUnit"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.grafana#OverridableConfigurationJson": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 65536
        },
        "smithy.api#mediaType": "application/json"
      }
    },
    "com.amazonaws.grafana#PaginationToken": {
      "type": "string"
    },
    "com.amazonaws.grafana#Permission": {
      "type": "resource",
      "identifiers": {
        "workspaceId": {
          "target": "com.amazonaws.grafana#WorkspaceId"
        }
      },
      "read": {
        "target": "com.amazonaws.grafana#ListPermissions"
      },
      "update": {
        "target": "com.amazonaws.grafana#UpdatePermissions"
      },
      "traits": {
        "aws.api#arn": {
          "template": "workspaces/{workspaceId}/permissions"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Permission",
          "additionalSchemas": ["com.amazonaws.grafana#UpdatePermissionsResponse"]
        }
      }
    },
    "com.amazonaws.grafana#PermissionEntry": {
      "type": "structure",
      "members": {
        "user": {
          "target": "com.amazonaws.grafana#User",
          "traits": {
            "smithy.api#documentation": "<p>A structure with the ID of the user or group with this role.</p>",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.amazonaws.grafana#Role",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the user or group has the <code>Admin</code>,\n           <code>Editor</code>, or <code>Viewer</code> role.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the identity of one user or group and the <code>Admin</code>,\n           <code>Editor</code>, or <code>Viewer</code> role that they have.</p>"
      }
    },
    "com.amazonaws.grafana#PermissionEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#PermissionEntry"
      }
    },
    "com.amazonaws.grafana#PermissionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CUSTOMER_MANAGED",
            "value": "CUSTOMER_MANAGED",
            "documentation": "Customer Managed"
          },
          {
            "name": "SERVICE_MANAGED",
            "value": "SERVICE_MANAGED",
            "documentation": "Service Managed"
          }
        ]
      }
    },
    "com.amazonaws.grafana#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of a parameter in the request caused an error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request references a resource that does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.grafana#Role": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "ADMIN",
            "value": "ADMIN",
            "documentation": "Role Admin."
          },
          {
            "name": "EDITOR",
            "value": "EDITOR",
            "documentation": "Role Editor."
          },
          {
            "name": "VIEWER",
            "value": "VIEWER",
            "documentation": "Role Viewer."
          }
        ]
      }
    },
    "com.amazonaws.grafana#RoleValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.grafana#RoleValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#RoleValue"
      }
    },
    "com.amazonaws.grafana#RoleValues": {
      "type": "structure",
      "members": {
        "editor": {
          "target": "com.amazonaws.grafana#RoleValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups from the SAML assertion attribute to grant the Grafana\n            <code>Editor</code> role to.</p>"
          }
        },
        "admin": {
          "target": "com.amazonaws.grafana#RoleValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups from the SAML assertion attribute to grant the Grafana\n            <code>Admin</code> role to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This structure defines which groups defined in the SAML assertion attribute are to \n           be mapped to the Grafana <code>Admin</code> and <code>Editor</code> roles in the \n           workspace. SAML authenticated users not part of <code>Admin</code> or \n           <code>Editor</code> role groups have <code>Viewer</code> permission over the\n           workspace.</p>"
      }
    },
    "com.amazonaws.grafana#SSOClientId": {
      "type": "string"
    },
    "com.amazonaws.grafana#SamlAuthentication": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.grafana#SamlConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the workspace's SAML configuration is complete.</p>",
            "smithy.api#required": {}
          }
        },
        "configuration": {
          "target": "com.amazonaws.grafana#SamlConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing details about how this workspace works with \n         SAML. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information about how this workspace works with \n         SAML. </p>"
      }
    },
    "com.amazonaws.grafana#SamlConfiguration": {
      "type": "structure",
      "members": {
        "idpMetadata": {
          "target": "com.amazonaws.grafana#IdpMetadata",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the identity provider (IdP) metadata used to integrate the\n            identity provider with this workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "assertionAttributes": {
          "target": "com.amazonaws.grafana#AssertionAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A structure that defines which attributes in the SAML assertion are to be used to define information about\n            the users authenticated by that IdP to use the workspace.</p>"
          }
        },
        "roleValues": {
          "target": "com.amazonaws.grafana#RoleValues",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing arrays that map group names in the SAML assertion to the \n            Grafana <code>Admin</code> and <code>Editor</code> roles in the workspace.</p>"
          }
        },
        "allowedOrganizations": {
          "target": "com.amazonaws.grafana#AllowedOrganizations",
          "traits": {
            "smithy.api#documentation": "<p>Lists which organizations defined in the SAML assertion are allowed to use the Amazon Managed Grafana workspace.\n            If this is empty, all organizations in the assertion attribute have access.</p>"
          }
        },
        "loginValidityDuration": {
          "target": "com.amazonaws.grafana#LoginValidityDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>How long a sign-on session by a SAML user is valid, before the user has to sign on\n            again.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing information about how this workspace works with \n            SAML. </p>"
      }
    },
    "com.amazonaws.grafana#SamlConfigurationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CONFIGURED",
            "value": "CONFIGURED",
            "documentation": "Indicates that SAML on an AMG workspace is enabled and has been configured."
          },
          {
            "name": "NOT_CONFIGURED",
            "value": "NOT_CONFIGURED",
            "documentation": "Indicates that SAML on an AMG workspace is enabled but has not been configured."
          }
        ]
      }
    },
    "com.amazonaws.grafana#SecurityGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.grafana#SecurityGroupIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#SecurityGroupId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.grafana#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that is associated with the error.</p>",
            "smithy.api#required": {}
          }
        },
        "serviceCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The value of a parameter in the request caused an error.</p>",
            "smithy.api#required": {}
          }
        },
        "quotaCode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service quota that was exceeded.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request would cause a service quota to be exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.grafana#SsoId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 47
        }
      }
    },
    "com.amazonaws.grafana#StackSetName": {
      "type": "string"
    },
    "com.amazonaws.grafana#SubnetId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        }
      }
    },
    "com.amazonaws.grafana#SubnetIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.grafana#SubnetId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.grafana#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
[...]
