{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.greengrass#AssociateRoleToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#AssociateRoleToGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#AssociateRoleToGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        },
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/greengrass/groups/{GroupId}/role",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#AssociateRoleToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the role you wish to associate with this group. The existence of the role is not validated.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#AssociateRoleToGroupResponse": {
      "type": "structure",
      "members": {
        "AssociatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the role ARN was associated with the group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#AssociateServiceRoleToAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#AssociateServiceRoleToAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#AssociateServiceRoleToAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        },
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates a role with your account. AWS IoT Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/greengrass/servicerole",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#AssociateServiceRoleToAccountRequest": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the service role you wish to associate with your account.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#AssociateServiceRoleToAccountResponse": {
      "type": "structure",
      "members": {
        "AssociatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time when the service role was associated with the account."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#BadRequestException": {
      "type": "structure",
      "members": {
        "ErrorDetails": {
          "target": "com.amazonaws.greengrass#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "Details about the error."
          }
        },
        "Message": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A message containing information about the error."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "General error information.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.greengrass#BulkDeployment": {
      "type": "structure",
      "members": {
        "BulkDeploymentArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the bulk deployment."
          }
        },
        "BulkDeploymentId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the bulk deployment."
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in ISO format, when the deployment was created."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a bulk deployment. You cannot start a new bulk deployment while another one is still running or in a non-terminal state."
      }
    },
    "com.amazonaws.greengrass#BulkDeploymentMetrics": {
      "type": "structure",
      "members": {
        "InvalidInputRecords": {
          "target": "com.amazonaws.greengrass#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The total number of records that returned a non-retryable error. For example, this can occur if a group record from the input file uses an invalid format or specifies a nonexistent group version, or if the execution role doesn't grant permission to deploy a group or group version."
          }
        },
        "RecordsProcessed": {
          "target": "com.amazonaws.greengrass#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The total number of group records from the input file that have been processed so far, or attempted."
          }
        },
        "RetryAttempts": {
          "target": "com.amazonaws.greengrass#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The total number of deployment attempts that returned a retryable error. For example, a retry is triggered if the attempt to deploy a group returns a throttling error. ''StartBulkDeployment'' retries a group deployment up to five times."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Relevant metrics on input records processed during bulk deployment."
      }
    },
    "com.amazonaws.greengrass#BulkDeploymentResult": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in ISO format, when the deployment was created."
          }
        },
        "DeploymentArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the group deployment."
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the group deployment."
          }
        },
        "DeploymentStatus": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The current status of the group deployment: ''InProgress'', ''Building'', ''Success'', or ''Failure''."
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.greengrass#DeploymentType",
          "traits": {
            "smithy.api#documentation": "The type of the deployment."
          }
        },
        "ErrorDetails": {
          "target": "com.amazonaws.greengrass#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "Details about the error."
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The error message for a failed deployment"
          }
        },
        "GroupArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the Greengrass group."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about an individual group deployment in a bulk deployment operation."
      }
    },
    "com.amazonaws.greengrass#BulkDeploymentResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrass#BulkDeploymentResult"
      }
    },
    "com.amazonaws.greengrass#BulkDeploymentStatus": {
      "type": "enum",
      "members": {
        "Initializing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Initializing"
          }
        },
        "Running": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Running"
          }
        },
        "Completed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Completed"
          }
        },
        "Stopping": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "Stopped": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The current status of the bulk deployment."
      }
    },
    "com.amazonaws.greengrass#BulkDeployments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrass#BulkDeployment"
      }
    },
    "com.amazonaws.greengrass#ConfigurationSyncStatus": {
      "type": "enum",
      "members": {
        "InSync": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "InSync"
          }
        },
        "OutOfSync": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OutOfSync"
          }
        }
      }
    },
    "com.amazonaws.greengrass#ConnectivityInfo": {
      "type": "structure",
      "members": {
        "HostAddress": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The endpoint for the Greengrass core. Can be an IP address or DNS."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the connectivity information."
          }
        },
        "Metadata": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "Metadata for this endpoint."
          }
        },
        "PortNumber": {
          "target": "com.amazonaws.greengrass#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port of the Greengrass core. Usually 8883."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a Greengrass core's connectivity."
      }
    },
    "com.amazonaws.greengrass#Connector": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the connector.",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+.",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.greengrass#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "The parameters or configuration that the connector uses."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services."
      }
    },
    "com.amazonaws.greengrass#ConnectorDefinitionVersion": {
      "type": "structure",
      "members": {
        "Connectors": {
          "target": "com.amazonaws.greengrass#__listOfConnector",
          "traits": {
            "smithy.api#documentation": "A list of references to connectors in this version, with their corresponding configuration settings."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the connector definition version, which is a container for connectors."
      }
    },
    "com.amazonaws.greengrass#Core": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the certificate associated with the core.",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A descriptive or arbitrary ID for the core. This value must be unique within the core definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''.",
            "smithy.api#required": {}
          }
        },
        "SyncShadow": {
          "target": "com.amazonaws.greengrass#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "If true, the core's local shadow is automatically synced with the cloud."
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the thing which is the core.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a core."
      }
    },
    "com.amazonaws.greengrass#CoreDefinitionVersion": {
      "type": "structure",
      "members": {
        "Cores": {
          "target": "com.amazonaws.greengrass#__listOfCore",
          "traits": {
            "smithy.api#documentation": "A list of cores in the core definition version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a core definition version."
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateConnectorDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateConnectorDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/connectors",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#ConnectorDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the connector definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the connector definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateConnectorDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateConnectorDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a connector definition which has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "ConnectorDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the connector definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Connectors": {
          "target": "com.amazonaws.greengrass#__listOfConnector",
          "traits": {
            "smithy.api#documentation": "A list of references to connectors in this version, with their corresponding configuration settings."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateConnectorDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateCoreDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateCoreDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/cores",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#CoreDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the core definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the core definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information needed to create a core definition.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateCoreDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateCoreDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "CoreDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the core definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Cores": {
          "target": "com.amazonaws.greengrass#__listOfCore",
          "traits": {
            "smithy.api#documentation": "A list of cores in the core definition version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateCoreDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/groups/{GroupId}/deployments",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the deployment if you wish to redeploy a previous deployment."
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.greengrass#DeploymentType",
          "traits": {
            "smithy.api#documentation": "The type of deployment. When used for ''CreateDeployment'', only ''NewDeployment'' and ''Redeployment'' are valid.",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GroupVersionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the group version to be deployed."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeploymentResponse": {
      "type": "structure",
      "members": {
        "DeploymentArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the deployment."
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the deployment."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateDeviceDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateDeviceDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#DeviceDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the device definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the device definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateDeviceDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateDeviceDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a device definition that has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "DeviceDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the device definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Devices": {
          "target": "com.amazonaws.greengrass#__listOfDevice",
          "traits": {
            "smithy.api#documentation": "A list of devices in the definition version."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateDeviceDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateFunctionDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateFunctionDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''CreateFunctionDefinitionVersion'' later.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/functions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#FunctionDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the function definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the function definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateFunctionDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateFunctionDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a Lambda function definition that has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "DefaultConfig": {
          "target": "com.amazonaws.greengrass#FunctionDefaultConfig",
          "traits": {
            "smithy.api#documentation": "The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings."
          }
        },
        "FunctionDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Lambda function definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Functions": {
          "target": "com.amazonaws.greengrass#__listOfFunction",
          "traits": {
            "smithy.api#documentation": "A list of Lambda functions in this function definition version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information needed to create a function definition version.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateFunctionDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a group. You may provide the initial version of the group or use ''CreateGroupVersion'' at a later time. Tip: You can use the ''gg_group_setup'' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateGroupCertificateAuthority": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateGroupCertificateAuthorityRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateGroupCertificateAuthorityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        },
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a CA for the group. If a CA already exists, it will rotate the existing CA.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/groups/{GroupId}/certificateauthorities",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateGroupCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroupCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "GroupCertificateAuthorityArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the group certificate authority."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#GroupVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the group."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the group.",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroupVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateGroupVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateGroupVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a group which has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/groups/{GroupId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateGroupVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "ConnectorDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the connector definition version for this group."
          }
        },
        "CoreDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the core definition version for this group."
          }
        },
        "DeviceDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the device definition version for this group."
          }
        },
        "FunctionDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the function definition version for this group."
          }
        },
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "LoggerDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the logger definition version for this group."
          }
        },
        "ResourceDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the resource definition version for this group."
          }
        },
        "SubscriptionDefinitionVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the subscription definition version for this group."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateGroupVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateLoggerDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateLoggerDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/loggers",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#LoggerDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the logger definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the logger definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateLoggerDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateLoggerDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a logger definition that has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "LoggerDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the logger definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Loggers": {
          "target": "com.amazonaws.greengrass#__listOfLogger",
          "traits": {
            "smithy.api#documentation": "A list of loggers."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateLoggerDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateResourceDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateResourceDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''CreateResourceDefinitionVersion'' later.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/resources",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#ResourceDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the resource definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the resource definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateResourceDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateResourceDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a resource definition that has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "ResourceDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the resource definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Resources": {
          "target": "com.amazonaws.greengrass#__listOfResource",
          "traits": {
            "smithy.api#documentation": "A list of resources."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateResourceDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateSoftwareUpdateJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateSoftwareUpdateJobRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateSoftwareUpdateJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        },
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/updates",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateSoftwareUpdateJobRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "S3UrlSignerRole": {
          "target": "com.amazonaws.greengrass#S3UrlSignerRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "SoftwareToUpdate": {
          "target": "com.amazonaws.greengrass#SoftwareToUpdate",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "UpdateAgentLogLevel": {
          "target": "com.amazonaws.greengrass#UpdateAgentLogLevel"
        },
        "UpdateTargets": {
          "target": "com.amazonaws.greengrass#UpdateTargets",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "UpdateTargetsArchitecture": {
          "target": "com.amazonaws.greengrass#UpdateTargetsArchitecture",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "UpdateTargetsOperatingSystem": {
          "target": "com.amazonaws.greengrass#UpdateTargetsOperatingSystem",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateSoftwareUpdateJobResponse": {
      "type": "structure",
      "members": {
        "IotJobArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The IoT Job ARN corresponding to this update."
          }
        },
        "IotJobId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The IoT Job Id corresponding to this update."
          }
        },
        "PlatformSoftwareVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The software version installed on the device or devices after the update."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateSubscriptionDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateSubscriptionDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/subscriptions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "InitialVersion": {
          "target": "com.amazonaws.greengrass#SubscriptionDefinitionVersion",
          "traits": {
            "smithy.api#documentation": "Information about the initial version of the subscription definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the subscription definition."
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) to add to the new resource."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinitionVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#CreateSubscriptionDefinitionVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#CreateSubscriptionDefinitionVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a version of a subscription definition which has already been defined.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A client token used to correlate requests and responses.",
            "smithy.api#httpHeader": "X-Amzn-Client-Token"
          }
        },
        "SubscriptionDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the subscription definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Subscriptions": {
          "target": "com.amazonaws.greengrass#__listOfSubscription",
          "traits": {
            "smithy.api#documentation": "A list of subscriptions."
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#CreateSubscriptionDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the version."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the version was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the parent definition that the version is associated with."
          }
        },
        "Version": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the version."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DefinitionInformation": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the definition."
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was created."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the definition."
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
          }
        },
        "LatestVersion": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the latest version associated with the definition."
          }
        },
        "LatestVersionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the latest version associated with the definition."
          }
        },
        "Name": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The name of the definition."
          }
        },
        "Tags": {
          "target": "com.amazonaws.greengrass#Tags",
          "traits": {
            "smithy.api#documentation": "Tag(s) attached to the resource arn.",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a definition."
      }
    },
    "com.amazonaws.greengrass#DeleteConnectorDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteConnectorDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteConnectorDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a connector definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteConnectorDefinitionRequest": {
      "type": "structure",
      "members": {
        "ConnectorDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the connector definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteConnectorDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteCoreDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteCoreDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteCoreDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a core definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/cores/{CoreDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteCoreDefinitionRequest": {
      "type": "structure",
      "members": {
        "CoreDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the core definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteCoreDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteDeviceDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteDeviceDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteDeviceDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a device definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/devices/{DeviceDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteDeviceDefinitionRequest": {
      "type": "structure",
      "members": {
        "DeviceDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the device definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteDeviceDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteFunctionDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteFunctionDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteFunctionDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a Lambda function definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/functions/{FunctionDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteFunctionDefinitionRequest": {
      "type": "structure",
      "members": {
        "FunctionDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Lambda function definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteFunctionDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a group.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/groups/{GroupId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteLoggerDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteLoggerDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteLoggerDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a logger definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteLoggerDefinitionRequest": {
      "type": "structure",
      "members": {
        "LoggerDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the logger definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteLoggerDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteResourceDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteResourceDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteResourceDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a resource definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/resources/{ResourceDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteResourceDefinitionRequest": {
      "type": "structure",
      "members": {
        "ResourceDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the resource definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteResourceDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DeleteSubscriptionDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DeleteSubscriptionDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DeleteSubscriptionDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a subscription definition.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DeleteSubscriptionDefinitionRequest": {
      "type": "structure",
      "members": {
        "SubscriptionDefinitionId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the subscription definition.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DeleteSubscriptionDefinitionResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#Deployment": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the deployment was created."
          }
        },
        "DeploymentArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the deployment."
          }
        },
        "DeploymentId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the deployment."
          }
        },
        "DeploymentType": {
          "target": "com.amazonaws.greengrass#DeploymentType",
          "traits": {
            "smithy.api#documentation": "The type of the deployment."
          }
        },
        "GroupArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the group for this deployment."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a deployment."
      }
    },
    "com.amazonaws.greengrass#DeploymentType": {
      "type": "enum",
      "members": {
        "NewDeployment": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NewDeployment"
          }
        },
        "Redeployment": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Redeployment"
          }
        },
        "ResetDeployment": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ResetDeployment"
          }
        },
        "ForceResetDeployment": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ForceResetDeployment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The type of deployment. When used for ''CreateDeployment'', only ''NewDeployment'' and ''Redeployment'' are valid."
      }
    },
    "com.amazonaws.greengrass#Deployments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrass#Deployment"
      }
    },
    "com.amazonaws.greengrass#Device": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the certificate associated with the device.",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A descriptive or arbitrary ID for the device. This value must be unique within the device definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''.",
            "smithy.api#required": {}
          }
        },
        "SyncShadow": {
          "target": "com.amazonaws.greengrass#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "If true, the device's local shadow will be automatically synced with the cloud."
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The thing ARN of the device.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a device."
      }
    },
    "com.amazonaws.greengrass#DeviceDefinitionVersion": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.greengrass#__listOfDevice",
          "traits": {
            "smithy.api#documentation": "A list of devices in the definition version."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about a device definition version."
      }
    },
    "com.amazonaws.greengrass#DisassociateRoleFromGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DisassociateRoleFromGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DisassociateRoleFromGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#BadRequestException"
        },
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Disassociates the role from a group.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/groups/{GroupId}/role",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DisassociateRoleFromGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Greengrass group.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DisassociateRoleFromGroupResponse": {
      "type": "structure",
      "members": {
        "DisassociatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time, in milliseconds since the epoch, when the role was disassociated from the group."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#DisassociateServiceRoleFromAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrass#DisassociateServiceRoleFromAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrass#DisassociateServiceRoleFromAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrass#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Disassociates the service role from your account. Without a service role, deployments will not work.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/servicerole",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrass#DisassociateServiceRoleFromAccountRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.greengrass#DisassociateServiceRoleFromAccountResponse": {
      "type": "structure",
      "members": {
        "DisassociatedAt": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The time when the service role was disassociated from the account."
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.greengrass#EncodingType": {
      "type": "enum",
      "members": {
        "binary": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "binary"
          }
        },
        "json": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "json"
          }
        }
      }
    },
    "com.amazonaws.greengrass#ErrorDetail": {
      "type": "structure",
      "members": {
        "DetailedErrorCode": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A detailed error code."
          }
        },
        "DetailedErrorMessage": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A detailed error message."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details about the error."
      }
    },
    "com.amazonaws.greengrass#ErrorDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrass#ErrorDetail"
      },
      "traits": {
        "smithy.api#documentation": "A list of error details."
      }
    },
    "com.amazonaws.greengrass#Function": {
      "type": "structure",
      "members": {
        "FunctionArn": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the Lambda function."
          }
        },
        "FunctionConfiguration": {
          "target": "com.amazonaws.greengrass#FunctionConfiguration",
          "traits": {
            "smithy.api#documentation": "The configuration of the Lambda function."
          }
        },
        "Id": {
          "target": "com.amazonaws.greengrass#__string",
          "traits": {
            "smithy.api#documentation": "A descriptive or arbitrary ID for the function. This value must be unique within the function definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''.",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
[...]
