{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.greengrassv2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.greengrassv2#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permission to perform the action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceEntry": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing that represents the client device to associate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a request to associate a client device with a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation consumes a list of these\n      requests.</p>"
      }
    },
    "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceErrorEntry": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing whose associate request failed.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error code for the request.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides additional information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an error that occurs from a request to associate a client device with a core\n      device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchAssociateClientDeviceWithCoreDevice.html\">BatchAssociateClientDeviceWithCoreDevice</a> operation returns a list of these\n      errors.</p>"
      }
    },
    "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceErrorEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#AssociatedClientDevice": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing that represents the associated client device.</p>"
          }
        },
        "associationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the client device was associated, expressed in ISO 8601 format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a client device that is associated to a core device for cloud\n      discovery.</p>"
      }
    },
    "com.amazonaws.greengrassv2#AssociatedClientDeviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#AssociatedClientDevice"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a list of client devices with a core device. Use this API operation to specify\n      which client devices can discover a core device through cloud discovery. With cloud discovery,\n      client devices connect to IoT Greengrass to retrieve associated core devices' connectivity information\n      and certificates. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-cloud-discovery.html\">Configure cloud\n        discovery</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>\n    \n         <note>\n            <p>Client devices are local IoT devices that connect to and communicate with an IoT Greengrass core\n        device over MQTT. You can connect client devices to a core device to sync MQTT messages and\n        data to Amazon Web Services IoT Core and interact with client devices in Greengrass components. For more information,\n        see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interact-with-local-iot-devices.html\">Interact with\n          local IoT devices</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/associateClientDevices",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDeviceRequest": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of client devices to associate.</p>"
          }
        },
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDeviceResponse": {
      "type": "structure",
      "members": {
        "errorEntries": {
          "target": "com.amazonaws.greengrassv2#AssociateClientDeviceWithCoreDeviceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of any errors for the entries in the request. Each error entry contains the name\n      of the IoT thing that failed to associate.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociate a list of client devices from a core device. After you disassociate a client\n      device from a core device, the client device won't be able to use cloud discovery to retrieve\n      the core device's connectivity information and certificates.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/v2/coreDevices/{coreDeviceThingName}/disassociateClientDevices",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDeviceRequest": {
      "type": "structure",
      "members": {
        "entries": {
          "target": "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of client devices to disassociate.</p>"
          }
        },
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDeviceResponse": {
      "type": "structure",
      "members": {
        "errorEntries": {
          "target": "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of errors (if any) for the entries in the request. Each error entry contains the\n      name of the IoT thing that failed to disassociate.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#CPU": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.greengrassv2#CancelDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#CancelDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#CancelDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ConflictException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a deployment. This operation cancels the deployment for devices that haven't yet\n      received it. If a device already received the deployment, this operation doesn't change\n      anything for that device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/v2/deployments/{deploymentId}/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#CancelDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#CancelDeploymentResponse": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message that communicates if the cancel was successful.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#ClientTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.greengrassv2#CloudComponentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "REQUESTED",
            "name": "REQUESTED"
          },
          {
            "value": "INITIATED",
            "name": "INITIATED"
          },
          {
            "value": "DEPLOYABLE",
            "name": "DEPLOYABLE"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DEPRECATED",
            "name": "DEPRECATED"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#CloudComponentStatus": {
      "type": "structure",
      "members": {
        "componentState": {
          "target": "com.amazonaws.greengrassv2#CloudComponentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the component.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message that communicates details, such as errors, about the status of the component.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.greengrassv2#StringMap",
          "traits": {
            "smithy.api#documentation": "<p>A dictionary of errors that communicate why the component is in an error state. For\n      example, if IoT Greengrass can't access an artifact for the component, then <code>errors</code> contains\n      the artifact's URI as a key, and the error message as the value for that key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the status of a component in the IoT Greengrass service.</p>"
      }
    },
    "com.amazonaws.greengrassv2#Component": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>"
          }
        },
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "latestVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentLatestVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest version of the component and its details.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:greengrass:[^:]+:(aws|[0-9]+):components:[^:]+$"
      }
    },
    "com.amazonaws.greengrassv2#ComponentCandidate": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "versionRequirements": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionRequirementMap",
          "traits": {
            "smithy.api#documentation": "<p>The version requirements for the component's dependencies. Greengrass core devices get the\n      version requirements from component recipes.</p>\n         <p>IoT Greengrass V2 uses semantic version constraints. For more information, see <a href=\"https://semver.org/\">Semantic Versioning</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component that is a candidate to deploy to a Greengrass core\n      device.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentCandidateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#ComponentCandidate"
      }
    },
    "com.amazonaws.greengrassv2#ComponentConfigurationPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.greengrassv2#ComponentConfigurationPathList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#ComponentConfigurationPath"
      }
    },
    "com.amazonaws.greengrassv2#ComponentConfigurationString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65536
        }
      }
    },
    "com.amazonaws.greengrassv2#ComponentConfigurationUpdate": {
      "type": "structure",
      "members": {
        "merge": {
          "target": "com.amazonaws.greengrassv2#ComponentConfigurationString",
          "traits": {
            "smithy.api#documentation": "<p>A serialized JSON string that contains the configuration object to merge to target\n      devices. The core device merges this configuration with the component's existing\n      configuration. If this is the first time a component deploys on a device, the core device\n      merges this configuration with the component's default configuration. This means that the core\n      device keeps it's existing configuration for keys and values that you don't specify in this\n      object. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html#merge-configuration-update\">Merge configuration updates</a> in the <i>IoT Greengrass V2 Developer\n          Guide</i>.</p>"
          }
        },
        "reset": {
          "target": "com.amazonaws.greengrassv2#ComponentConfigurationPathList",
          "traits": {
            "smithy.api#documentation": "<p>The list of configuration nodes to reset to default values on target devices. Use JSON\n      pointers to specify each node to reset. JSON pointers start with a forward slash\n      (<code>/</code>) and use forward slashes to separate the key for each level in the object.\n      For more information, see the <a href=\"https://tools.ietf.org/html/rfc6901\">JSON pointer\n        specification</a> and <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html#reset-configuration-update\">Reset configuration updates</a> in the <i>IoT Greengrass V2 Developer\n            Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a deployment's update to a component's configuration on\n      Greengrass core devices. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html\">Update component\n        configurations</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentDependencyMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.greengrassv2#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.greengrassv2#ComponentDependencyRequirement"
      }
    },
    "com.amazonaws.greengrassv2#ComponentDependencyRequirement": {
      "type": "structure",
      "members": {
        "versionRequirement": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The component version requirement for the component dependency.</p>\n         <p>IoT Greengrass V2 uses semantic version constraints. For more information, see <a href=\"https://semver.org/\">Semantic Versioning</a>.</p>"
          }
        },
        "dependencyType": {
          "target": "com.amazonaws.greengrassv2#ComponentDependencyType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this dependency. Choose from the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SOFT</code> – The component doesn't restart if the dependency changes\n          state.</p>\n            </li>\n            <li>\n               <p>\n                  <code>HARD</code> – The component restarts if the dependency changes\n          state.</p>\n            </li>\n         </ul>\n         <p>Default: <code>HARD</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component dependency for a Lambda function component.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentDependencyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HARD",
            "name": "HARD"
          },
          {
            "value": "SOFT",
            "name": "SOFT"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#ComponentDeploymentSpecification": {
      "type": "structure",
      "members": {
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "configurationUpdate": {
          "target": "com.amazonaws.greengrassv2#ComponentConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The configuration updates to deploy for the component. You can define\n      <i>reset</i> updates and <i>merge</i> updates. A reset updates\n      the keys that you specify to the default configuration for the component. A merge updates the\n      core device's component configuration with the keys and values that you specify. The IoT Greengrass Core\n      software applies reset updates before it applies merge updates. For more information, see\n      <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/update-component-configurations.html\">Update component\n        configurations</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        },
        "runWith": {
          "target": "com.amazonaws.greengrassv2#ComponentRunWith",
          "traits": {
            "smithy.api#documentation": "<p>The system user and group that the IoT Greengrass Core software uses to run component processes on the\n      core device. If you omit this parameter, the IoT Greengrass Core software uses the system user and group\n      that you configure for the core device. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a> in the <i>IoT Greengrass V2 Developer\n        Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component to deploy.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentDeploymentSpecifications": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.greengrassv2#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.greengrassv2#ComponentDeploymentSpecification"
      }
    },
    "com.amazonaws.greengrassv2#ComponentLatestVersion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>"
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component version.</p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the component version.</p>"
          }
        },
        "platforms": {
          "target": "com.amazonaws.greengrassv2#ComponentPlatformList",
          "traits": {
            "smithy.api#documentation": "<p>The platforms that the component version supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the latest version of a component.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#Component"
      }
    },
    "com.amazonaws.greengrassv2#ComponentNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_.]+$"
      }
    },
    "com.amazonaws.greengrassv2#ComponentPlatform": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the platform. This name helps you identify the platform.</p>\n         <p>If you omit this parameter, IoT Greengrass creates a friendly name from the <code>os</code> and\n        <code>architecture</code> of the platform.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.greengrassv2#PlatformAttributesMap",
          "traits": {
            "smithy.api#documentation": "<p>A dictionary of attributes for the platform. The IoT Greengrass Core software defines the\n        <code>os</code> and <code>platform</code> by default. You can specify additional platform\n      attributes for a core device when you deploy the Greengrass nucleus component. For more information,\n      see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html\">Greengrass nucleus\n        component</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a platform that a component supports.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentPlatformList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#ComponentPlatform"
      }
    },
    "com.amazonaws.greengrassv2#ComponentRunWith": {
      "type": "structure",
      "members": {
        "posixUser": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The POSIX system user and (optional) group to use to run this component. Specify the user\n      and group separated by a colon (<code>:</code>) in the following format:\n        <code>user:group</code>. The group is optional. If you don't specify a group, the IoT Greengrass Core\n      software uses the primary user for the group.</p>\n         <p>If you omit this parameter, the IoT Greengrass Core software uses the default system user and group that\n      you configure on the Greengrass nucleus component. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a>.</p>"
          }
        },
        "systemResourceLimits": {
          "target": "com.amazonaws.greengrassv2#SystemResourceLimits",
          "traits": {
            "smithy.api#documentation": "<p>The system resource limits to apply to this component's process on the core device.</p>\n         <p>If you omit this parameter, the IoT Greengrass Core software uses the default system resource limits\n      that you configure on the Greengrass nucleus component. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-system-resource-limits\">Configure system resource limits for components</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information system user and group that the IoT Greengrass Core software uses to run component\n      processes on the core device. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/configure-greengrass-core-v2.html#configure-component-user\">Configure the user and group that run components</a> in the <i>IoT Greengrass V2 Developer\n        Guide</i>.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVersionARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:greengrass:[^:]+:(aws|[0-9]+):components:[^:]+:versions:[^:]+$"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#ComponentVersionListItem"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVersionListItem": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component version in a list.</p>"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVersionRequirementMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.greengrassv2#NonEmptyString"
      },
      "value": {
        "target": "com.amazonaws.greengrassv2#NonEmptyString"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVersionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z-.+]+$"
      }
    },
    "com.amazonaws.greengrassv2#ComponentVisibilityScope": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRIVATE",
            "name": "PRIVATE"
          },
          {
            "value": "PUBLIC",
            "name": "PUBLIC"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.greengrassv2#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.greengrassv2#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource that conflicts with the request.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.greengrassv2#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that conflicts with the request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your request has conflicting operations. This can occur if you're trying to perform more\n      than one operation on the same resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.greengrassv2#CoreDevice": {
      "type": "structure",
      "members": {
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the core device. Core devices can have the following statuses:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HEALTHY</code> – The IoT Greengrass Core software and all components run on the core device without issue.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UNHEALTHY</code> – The IoT Greengrass Core software or a component is in a failed state\n          on the core device.</p>\n            </li>\n         </ul>"
          }
        },
        "lastStatusUpdateTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the core device's status last updated, expressed in ISO 8601\n      format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a Greengrass core device, which is an IoT thing that runs the IoT Greengrass\n      Core software.</p>"
      }
    },
    "com.amazonaws.greengrassv2#CoreDeviceArchitectureString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.greengrassv2#CoreDevicePlatformString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.greengrassv2#CoreDeviceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          },
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#CoreDeviceThingName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.greengrassv2#CoreDevicesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#CoreDevice"
      }
    },
    "com.amazonaws.greengrassv2#CreateComponentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#CreateComponentVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#CreateComponentVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ConflictException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#RequestAlreadyInProgressException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a component. Components are software that run on Greengrass core devices. After you\n      develop and test a component on your core device, you can use this operation to upload your\n      component to IoT Greengrass. Then, you can deploy the component to other core devices.</p>\n         <p>You can use this operation to do the following:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Create components from recipes</b>\n               </p>\n               <p>Create a component from a recipe, which is a file that defines the component's\n          metadata, parameters, dependencies, lifecycle, artifacts, and platform capability. For\n          more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/component-recipe-reference.html\">IoT Greengrass component recipe\n            reference</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>\n               <p>To create a component from a recipe, specify <code>inlineRecipe</code> when you call\n          this operation.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Create components from Lambda functions</b>\n               </p>\n               <p>Create a component from an Lambda function that runs on IoT Greengrass. This creates a recipe\n          and artifacts from the Lambda function's deployment package. You can use this operation to\n          migrate Lambda functions from IoT Greengrass V1 to IoT Greengrass V2.</p>\n               <p>This function only accepts Lambda functions that use the following runtimes:</p>\n               <ul>\n                  <li>\n                     <p>Python 2.7 – <code>python2.7</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Python 3.7 – <code>python3.7</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Python 3.8 – <code>python3.8</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Java 8 – <code>java8</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Node.js 10 – <code>nodejs10.x</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>Node.js 12 – <code>nodejs12.x</code>\n                     </p>\n                  </li>\n               </ul>\n               <p>To create a component from a Lambda function, specify <code>lambdaFunction</code>\n          when you call this operation.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/v2/createComponentVersion",
          "code": 201
        }
      }
    },
    "com.amazonaws.greengrassv2#CreateComponentVersionRequest": {
      "type": "structure",
      "members": {
        "inlineRecipe": {
          "target": "com.amazonaws.greengrassv2#RecipeBlob",
          "traits": {
            "smithy.api#documentation": "<p>The recipe to use to create the component. The recipe defines the component's metadata,\n      parameters, dependencies, lifecycle, artifacts, and platform compatibility.</p>\n         <p>You must specify either <code>inlineRecipe</code> or <code>lambdaFunction</code>.</p>"
          }
        },
        "lambdaFunction": {
          "target": "com.amazonaws.greengrassv2#LambdaFunctionRecipeSource",
          "traits": {
            "smithy.api#documentation": "<p>The parameters to create a component from a Lambda function.</p>\n         <p>You must specify either <code>inlineRecipe</code> or <code>lambdaFunction</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.greengrassv2#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you can provide to ensure that the request is idempotent. \n    Idempotency means that the request is successfully processed only once, even if you send the request multiple times. \n    When a request succeeds, and you specify the same client token for subsequent successful requests, the IoT Greengrass V2 service \n    returns the successful response that it caches from the previous request. IoT Greengrass V2 caches successful responses for \n    idempotent requests for up to 8 hours.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#CreateComponentVersionResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>"
          }
        },
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.greengrassv2#CloudComponentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the component version in IoT Greengrass V2. This status\n      is different from the status of the component on a core device.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#CreateDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#CreateDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#CreateDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#RequestAlreadyInProgressException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a continuous deployment for a target, which is a Greengrass core device or group of core\n      devices. When you add a new core device to a group of core devices that has a deployment, IoT Greengrass\n      deploys that group's deployment to the new device.</p>\n         <p>You can define one deployment for each target. When you create a new deployment for a\n      target that has an existing deployment, you replace the previous deployment. IoT Greengrass applies the\n      new deployment to the target devices.</p>\n         <p>Every deployment has a revision number that indicates how many deployment revisions you\n      define for a target. Use this operation to create a new revision of an existing deployment.\n      This operation returns the revision number of the new deployment when you create it.</p>\n         <p>For more information, see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the\n        <i>IoT Greengrass V2 Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/greengrass/v2/deployments",
          "code": 201
        }
      }
    },
    "com.amazonaws.greengrassv2#CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "targetArn": {
          "target": "com.amazonaws.greengrassv2#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentName": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment.</p>"
          }
        },
        "components": {
          "target": "com.amazonaws.greengrassv2#ComponentDeploymentSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>The components to deploy. This is a dictionary, where each key is the name of a component,\n        and each key's value is the version and configuration to deploy for that component.</p>"
          }
        },
        "iotJobConfiguration": {
          "target": "com.amazonaws.greengrassv2#DeploymentIoTJobConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The job configuration for the deployment configuration. The job configuration specifies\n      the rollout, timeout, and stop configurations for the deployment configuration.</p>"
          }
        },
        "deploymentPolicies": {
          "target": "com.amazonaws.greengrassv2#DeploymentPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The deployment policies for the deployment. These policies define how the deployment\n      updates components and handles failure.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.greengrassv2#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you can provide to ensure that the request is idempotent. \n    Idempotency means that the request is successfully processed only once, even if you send the request multiple times. \n    When a request succeeds, and you specify the same client token for subsequent successful requests, the IoT Greengrass V2 service \n    returns the successful response that it caches from the previous request. IoT Greengrass V2 caches successful responses for \n    idempotent requests for up to 8 hours.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#CreateDeploymentResponse": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>"
          }
        },
        "iotJobId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>"
          }
        },
        "iotJobArn": {
          "target": "com.amazonaws.greengrassv2#IoTJobARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#DefaultMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#DeleteComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#DeleteComponentRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ConflictException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a version of a component from IoT Greengrass.</p>\n         <note>\n            <p>This operation deletes the component's recipe and artifacts. As a result, deployments\n        that refer to this component version will fail. If you have deployments that use this\n        component version, you can remove the component from the deployment or update the deployment\n        to use a valid version.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/v2/components/{arn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.greengrassv2#DeleteComponentRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#DeleteCoreDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#DeleteCoreDeviceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ConflictException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Greengrass core device, which is an IoT thing. This operation removes the core\n      device from the list of core devices. This operation doesn't delete the IoT thing. For more\n      information about how to delete the IoT thing, see <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_DeleteThing.html\">DeleteThing</a> in the\n        <i>IoT API Reference</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.greengrassv2#DeleteCoreDeviceRequest": {
      "type": "structure",
      "members": {
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#Deployment": {
      "type": "structure",
      "members": {
        "targetArn": {
          "target": "com.amazonaws.greengrassv2#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the deployment.</p>"
          }
        },
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>"
          }
        },
        "deploymentName": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment.</p>"
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>"
          }
        },
        "deploymentStatus": {
          "target": "com.amazonaws.greengrassv2#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment.</p>"
          }
        },
        "isLatestForTarget": {
          "target": "com.amazonaws.greengrassv2#IsLatestForTarget",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the deployment is the latest revision for its target.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a deployment.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentComponentUpdatePolicy": {
      "type": "structure",
      "members": {
        "timeoutInSeconds": {
          "target": "com.amazonaws.greengrassv2#OptionalInteger",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The amount of time in seconds that each component on a device has to report that it's safe\n      to update. If the component waits for longer than this timeout, then the deployment proceeds\n      on the device.</p>\n         <p>Default: <code>60</code>\n         </p>"
          }
        },
        "action": {
          "target": "com.amazonaws.greengrassv2#DeploymentComponentUpdatePolicyAction",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not to notify components and wait for components to become safe to update.\n      Choose from the following options:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>NOTIFY_COMPONENTS</code> – The deployment notifies each component before\n          it stops and updates that component. Components can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-subscribetocomponentupdates\">SubscribeToComponentUpdates</a> IPC operation to receive these notifications. Then,\n          components can respond with the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-defercomponentupdate\">DeferComponentUpdate</a> IPC operation. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SKIP_NOTIFY_COMPONENTS</code> – The deployment doesn't notify components\n          or wait for them to be safe to update.</p>\n            </li>\n         </ul>\n         <p>Default: <code>NOTIFY_COMPONENTS</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a deployment's policy that defines when components are safe to\n      update.</p>\n         <p>Each component on a device can report whether or not it's ready to update. After a\n      component and its dependencies are ready, they can apply the update in the deployment. You can\n      configure whether or not the deployment notifies components of an update and waits for a\n      response. You specify the amount of time each component has to respond to the update\n      notification.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentComponentUpdatePolicyAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOTIFY_COMPONENTS",
            "name": "NOTIFY_COMPONENTS"
          },
          {
            "value": "SKIP_NOTIFY_COMPONENTS",
            "name": "SKIP_NOTIFY_COMPONENTS"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#DeploymentConfigurationValidationPolicy": {
      "type": "structure",
      "members": {
        "timeoutInSeconds": {
          "target": "com.amazonaws.greengrassv2#OptionalInteger",
          "traits": {
            "smithy.api#box": {},
            "smithy.api#documentation": "<p>The amount of time in seconds that a component can validate its configuration updates. If\n      the validation time exceeds this timeout, then the deployment proceeds for the device.</p>\n         <p>Default: <code>30</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about how long a component on a core device can validate its\n      configuration updates before it times out. Components can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-subscribetovalidateconfigurationupdates\">SubscribeToValidateConfigurationUpdates</a> IPC operation to receive notifications when\n      a deployment specifies a configuration update. Then, components can respond with the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/interprocess-communication.html#ipc-operation-sendconfigurationvalidityreport\">SendConfigurationValidityReport</a> IPC operation. For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/create-deployments.html\">Create deployments</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentFailureHandlingPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROLLBACK",
            "name": "ROLLBACK"
          },
          {
            "value": "DO_NOTHING",
            "name": "DO_NOTHING"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#DeploymentHistoryFilter": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALL",
            "name": "ALL"
          },
          {
            "value": "LATEST_ONLY",
            "name": "LATEST_ONLY"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#DeploymentID": {
      "type": "string"
    },
    "com.amazonaws.greengrassv2#DeploymentIoTJobConfiguration": {
      "type": "structure",
      "members": {
        "jobExecutionsRolloutConfig": {
          "target": "com.amazonaws.greengrassv2#IoTJobExecutionsRolloutConfig",
          "traits": {
            "smithy.api#documentation": "<p>The rollout configuration for the job. This configuration defines the rate at which the\n      job rolls out to the fleet of target devices.</p>"
          }
        },
        "abortConfig": {
          "target": "com.amazonaws.greengrassv2#IoTJobAbortConfig",
          "traits": {
            "smithy.api#documentation": "<p>The stop configuration for the job. This configuration defines when and how to stop a job\n      rollout.</p>"
          }
        },
        "timeoutConfig": {
          "target": "com.amazonaws.greengrassv2#IoTJobTimeoutConfig",
          "traits": {
            "smithy.api#documentation": "<p>The timeout configuration for the job. This configuration defines the amount of time each\n      device has to complete the job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an IoT job configuration.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#Deployment"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentName": {
      "type": "string"
    },
    "com.amazonaws.greengrassv2#DeploymentPolicies": {
      "type": "structure",
      "members": {
        "failureHandlingPolicy": {
          "target": "com.amazonaws.greengrassv2#DeploymentFailureHandlingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The failure handling policy for the configuration deployment. This policy defines what to\n      do if the deployment fails.</p>\n         <p>Default: <code>ROLLBACK</code>\n         </p>"
          }
        },
        "componentUpdatePolicy": {
          "target": "com.amazonaws.greengrassv2#DeploymentComponentUpdatePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The component update policy for the configuration deployment. This policy defines when\n      it's safe to deploy the configuration to devices.</p>"
          }
        },
        "configurationValidationPolicy": {
          "target": "com.amazonaws.greengrassv2#DeploymentConfigurationValidationPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The configuration validation policy for the configuration deployment. This policy defines\n      how long each component has to validate its configure updates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about policies that define how a deployment updates components and\n      handles failure.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DeploymentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#DescribeComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#DescribeComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#DescribeComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata for a version of a component.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/greengrass/v2/components/{arn}/metadata",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#DescribeComponentRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#DescribeComponentResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>"
          }
        },
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the component was created, expressed in ISO 8601 format.</p>"
          }
        },
        "publisher": {
          "target": "com.amazonaws.greengrassv2#PublisherString",
          "traits": {
            "smithy.api#documentation": "<p>The publisher of the component version.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.greengrassv2#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component version.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.greengrassv2#CloudComponentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the component version in IoT Greengrass V2. This status\n      is different from the status of the component on a core device.</p>"
          }
        },
        "platforms": {
          "target": "com.amazonaws.greengrassv2#ComponentPlatformList",
          "traits": {
            "smithy.api#documentation": "<p>The platforms that the component version supports.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.greengrassv2#DescriptionString": {
      "type": "string"
    },
    "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceEntry": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing that represents the client device to disassociate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a request to disassociate a client device from a core device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchDisassociateClientDeviceWithCoreDevice.html\">BatchDisassociateClientDeviceWithCoreDevice</a> operation consumes a list of these\n      requests.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceErrorEntry": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.greengrassv2#IoTThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing whose disassociate request failed.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error code for the request.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides additional information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an error that occurs from a request to disassociate a client device from a core\n      device. The <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_BatchDisassociateClientDeviceWithCoreDevice.html\">BatchDisassociateClientDeviceWithCoreDevice</a> operation returns a list of these\n      errors.</p>"
      }
    },
    "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#DisassociateClientDeviceFromCoreDeviceErrorEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.greengrassv2#EffectiveDeployment": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#DeploymentID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>",
            "smithy.api#required": {}
          }
        },
        "deploymentName": {
          "target": "com.amazonaws.greengrassv2#DeploymentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment.</p>",
            "smithy.api#required": {}
          }
        },
        "iotJobId": {
          "target": "com.amazonaws.greengrassv2#IoTJobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>"
          }
        },
        "iotJobArn": {
          "target": "com.amazonaws.greengrassv2#IoTJobARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.greengrassv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the deployment job.</p>"
          }
        },
        "targetArn": {
          "target": "com.amazonaws.greengrassv2#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>",
            "smithy.api#required": {}
          }
        },
        "coreDeviceExecutionStatus": {
          "target": "com.amazonaws.greengrassv2#EffectiveDeploymentExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment job on the Greengrass core device.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.greengrassv2#Reason",
          "traits": {
            "smithy.api#documentation": "<p>The reason code for the update, if the job was updated.</p>"
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>",
            "smithy.api#required": {}
          }
        },
        "modifiedTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the deployment job was last modified, expressed in ISO 8601\n      format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a deployment job that IoT Greengrass sends to a Greengrass core device.</p>"
      }
    },
    "com.amazonaws.greengrassv2#EffectiveDeploymentExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "QUEUED",
            "name": "QUEUED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "TIMED_OUT",
            "name": "TIMED_OUT"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          },
          {
            "value": "REJECTED",
            "name": "REJECTED"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#EffectiveDeploymentsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#EffectiveDeployment"
      }
    },
    "com.amazonaws.greengrassv2#FileSystemPath": {
      "type": "string"
    },
    "com.amazonaws.greengrassv2#GGCVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.greengrassv2#GenericV2ARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:greengrass:[^:]+:(aws|[0-9]+):(components|deployments|coreDevices):.+$"
      }
    },
    "com.amazonaws.greengrassv2#GetComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#GetComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#GetComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the recipe for a version of a component. Core devices can call this operation to\n      identify the artifacts and requirements to install a component.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/greengrass/v2/components/{arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#GetComponentRequest": {
      "type": "structure",
      "members": {
        "recipeOutputFormat": {
          "target": "com.amazonaws.greengrassv2#RecipeOutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the recipe.</p>",
            "smithy.api#httpQuery": "recipeOutputFormat"
          }
        },
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetComponentResponse": {
      "type": "structure",
      "members": {
        "recipeOutputFormat": {
          "target": "com.amazonaws.greengrassv2#RecipeOutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "recipe": {
          "target": "com.amazonaws.greengrassv2#RecipeBlob",
          "traits": {
            "smithy.api#documentation": "<p>The recipe of the component version.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetComponentVersionArtifact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#GetComponentVersionArtifactRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#GetComponentVersionArtifactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the pre-signed URL to download a public component artifact. Core devices call this\n      operation to identify the URL that they can use to download an artifact to install.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/greengrass/v2/components/{arn}/artifacts/{artifactName+}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#GetComponentVersionArtifactRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the component version. Specify the ARN of a public component version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "artifactName": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the artifact.</p>\n         <p>You can use the <a href=\"https://docs.aws.amazon.com/greengrass/v2/APIReference/API_GetComponent.html\">GetComponent</a> operation to\n      download the component recipe, which includes the URI of the artifact. The artifact name is\n      the section of the URI after the scheme. For example, in the artifact URI\n        <code>greengrass:SomeArtifact.zip</code>, the artifact name is\n      <code>SomeArtifact.zip</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetComponentVersionArtifactResponse": {
      "type": "structure",
      "members": {
        "preSignedUrl": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the artifact.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetCoreDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#GetCoreDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#GetCoreDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves metadata for a Greengrass core device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/greengrass/v2/coreDevices/{coreDeviceThingName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#GetCoreDeviceRequest": {
      "type": "structure",
      "members": {
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetCoreDeviceResponse": {
      "type": "structure",
      "members": {
        "coreDeviceThingName": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the core device. This is also the name of the IoT thing.</p>"
          }
        },
        "coreVersion": {
          "target": "com.amazonaws.greengrassv2#GGCVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the IoT Greengrass Core software that the core device runs. This version is equivalent to\n      the version of the Greengrass nucleus component that runs on the core device. For more information,\n      see the <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/greengrass-nucleus-component.html\">Greengrass nucleus\n        component</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.greengrassv2#CoreDevicePlatformString",
          "traits": {
            "smithy.api#documentation": "<p>The operating system platform that the core device runs.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceArchitectureString",
          "traits": {
            "smithy.api#documentation": "<p>The computer architecture of the core device.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.greengrassv2#CoreDeviceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the core device. The core device status can be:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HEALTHY</code> – The IoT Greengrass Core software and all components run on the core device without issue.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UNHEALTHY</code> – The IoT Greengrass Core software or a component is in a failed state\n          on the core device.</p>\n            </li>\n         </ul>"
          }
        },
        "lastStatusUpdateTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the core device's status last updated, expressed in ISO 8601\n      format.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetDeployment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.greengrassv2#GetDeploymentRequest"
      },
      "output": {
        "target": "com.amazonaws.greengrassv2#GetDeploymentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.greengrassv2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.greengrassv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.greengrassv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a deployment. Deployments define the components that run on Greengrass core devices.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/greengrass/v2/deployments/{deploymentId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.greengrassv2#GetDeploymentRequest": {
      "type": "structure",
      "members": {
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GetDeploymentResponse": {
      "type": "structure",
      "members": {
        "targetArn": {
          "target": "com.amazonaws.greengrassv2#TargetARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the target IoT thing or thing group.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the deployment.</p>"
          }
        },
        "deploymentId": {
          "target": "com.amazonaws.greengrassv2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deployment.</p>"
          }
        },
        "deploymentName": {
          "target": "com.amazonaws.greengrassv2#NullableString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deployment.</p>"
          }
        },
        "deploymentStatus": {
          "target": "com.amazonaws.greengrassv2#DeploymentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deployment.</p>"
          }
        },
        "iotJobId": {
          "target": "com.amazonaws.greengrassv2#NullableString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IoT job that applies the deployment to target devices.</p>"
          }
        },
        "iotJobArn": {
          "target": "com.amazonaws.greengrassv2#IoTJobARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IoT job that applies the deployment to target devices.</p>"
          }
        },
        "components": {
          "target": "com.amazonaws.greengrassv2#ComponentDeploymentSpecifications",
          "traits": {
            "smithy.api#documentation": "<p>The components to deploy. This is a dictionary, where each key is the name of a component,\n        and each key's value is the version and configuration to deploy for that component.</p>"
          }
        },
        "deploymentPolicies": {
          "target": "com.amazonaws.greengrassv2#DeploymentPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The deployment policies for the deployment. These policies define how the deployment\n      updates components and handles failure.</p>"
          }
        },
        "iotJobConfiguration": {
          "target": "com.amazonaws.greengrassv2#DeploymentIoTJobConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The job configuration for the deployment configuration. The job configuration specifies\n      the rollout, timeout, and stop configurations for the deployment configuration.</p>"
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.greengrassv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the deployment was created, expressed in ISO 8601 format.</p>"
          }
        },
        "isLatestForTarget": {
          "target": "com.amazonaws.greengrassv2#IsLatestForTarget",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the deployment is the latest revision for its target.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.greengrassv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that contain metadata for the resource. For more\n      information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/tag-resources.html\">Tag your\n        resources</a> in the <i>IoT Greengrass V2 Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.greengrassv2#GreengrassV2": {
      "type": "service",
      "version": "2020-11-30",
      "operations": [
        {
          "target": "com.amazonaws.greengrassv2#BatchAssociateClientDeviceWithCoreDevice"
        },
        {
          "target": "com.amazonaws.greengrassv2#BatchDisassociateClientDeviceFromCoreDevice"
        },
        {
          "target": "com.amazonaws.greengrassv2#CancelDeployment"
        },
        {
          "target": "com.amazonaws.greengrassv2#CreateComponentVersion"
        },
        {
          "target": "com.amazonaws.greengrassv2#CreateDeployment"
        },
        {
          "target": "com.amazonaws.greengrassv2#DeleteComponent"
        },
        {
          "target": "com.amazonaws.greengrassv2#DeleteCoreDevice"
        },
        {
          "target": "com.amazonaws.greengrassv2#DescribeComponent"
        },
        {
          "target": "com.amazonaws.greengrassv2#GetComponent"
        },
        {
          "target": "com.amazonaws.greengrassv2#GetComponentVersionArtifact"
        },
        {
          "target": "com.amazonaws.greengrassv2#GetCoreDevice"
        },
        {
          "target": "com.amazonaws.greengrassv2#GetDeployment"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListClientDevicesAssociatedWithCoreDevice"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListComponents"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListComponentVersions"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListCoreDevices"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListDeployments"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListEffectiveDeployments"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListInstalledComponents"
        },
        {
          "target": "com.amazonaws.greengrassv2#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.greengrassv2#ResolveComponentCandidates"
        },
        {
          "target": "com.amazonaws.greengrassv2#TagResource"
        },
        {
          "target": "com.amazonaws.greengrassv2#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "GreengrassV2",
          "arnNamespace": "greengrass",
          "cloudFormationName": "GreengrassV2",
          "cloudTrailEventSource": "greengrassv2.amazonaws.com",
          "endpointPrefix": "greengrass"
        },
        "aws.auth#sigv4": {
          "name": "greengrass"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>IoT Greengrass brings local compute, messaging, data management, sync, and ML inference capabilities\n      to edge devices. This enables devices to collect and analyze data closer to the source of\n      information, react autonomously to local events, and communicate securely with each other on\n      local networks. Local devices can also communicate securely with Amazon Web Services IoT Core and export IoT data\n      to the Amazon Web Services Cloud. IoT Greengrass developers can use Lambda functions and components to create and\n      deploy applications to fleets of edge devices for local operation.</p>\n         <p>IoT Greengrass Version 2 provides a new major version of the IoT Greengrass Core software, new APIs, and a new console.\n      Use this API reference to learn how to use the IoT Greengrass V2 API operations to manage components,\n      manage deployments, and core devices.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/greengrass/v2/developerguide/what-is-iot-greengrass.html\">What is IoT Greengrass?</a> in\n      the <i>IoT Greengrass V2 Developer Guide</i>.</p>",
        "smithy.api#title": "AWS IoT Greengrass V2"
      }
    },
    "com.amazonaws.greengrassv2#InstalledComponent": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.greengrassv2#ComponentNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "componentVersion": {
          "target": "com.amazonaws.greengrassv2#ComponentVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "lifecycleState": {
          "target": "com.amazonaws.greengrassv2#InstalledComponentLifecycleState",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle state of the component.</p>"
          }
        },
        "lifecycleStateDetails": {
          "target": "com.amazonaws.greengrassv2#LifecycleStateDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details about the lifecycle state of the component.</p>"
          }
        },
        "isRoot": {
          "target": "com.amazonaws.greengrassv2#IsRoot",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the component is a root component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a component on a Greengrass core device.</p>"
      }
    },
    "com.amazonaws.greengrassv2#InstalledComponentLifecycleState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NEW",
            "name": "NEW"
          },
          {
            "value": "INSTALLED",
            "name": "INSTALLED"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "ERRORED",
            "name": "ERRORED"
          },
          {
            "value": "BROKEN",
            "name": "BROKEN"
          },
          {
            "value": "FINISHED",
            "name": "FINISHED"
          }
        ]
      }
    },
    "com.amazonaws.greengrassv2#InstalledComponentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.greengrassv2#InstalledComponent"
      }
    },
    "com.amazonaws.greengrassv2#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.greengrassv2#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "com.amazonaws.greengrassv2#RetryAfterSeconds",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time to wait before you retry the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>IoT Greengrass can't process your request right now. Try again later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.greengrassv2#IoTJobARN": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:iot:[^:]+:[0-9]+:job/.+$"
      }
    },
[...]
