{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.groundstation#AWSRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w-]+$"
      }
    },
    "com.amazonaws.groundstation#Agent": {
      "type": "resource",
      "identifiers": {
        "agentId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#RegisterAgent"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetAgentConfiguration"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateAgentStatus"
      },
      "traits": {
        "aws.api#arn": {
          "template": "agent/{agentId}"
        }
      }
    },
    "com.amazonaws.groundstation#AgentCpuCoresList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.groundstation#AgentDetails": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "com.amazonaws.groundstation#VersionString",
          "traits": {
            "smithy.api#documentation": "<p>Current agent version.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "com.amazonaws.groundstation#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of EC2 instance agent is running on.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceType": {
          "target": "com.amazonaws.groundstation#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of EC2 instance agent is running on.</p>",
            "smithy.api#required": {}
          }
        },
        "reservedCpuCores": {
          "target": "com.amazonaws.groundstation#AgentCpuCoresList",
          "traits": {
            "smithy.api#documentation": "<note> <p>This field should not be used. Use agentCpuCores instead.</p> </note> <p>List of CPU cores reserved for processes other than the agent running on the EC2 instance.</p>"
          }
        },
        "agentCpuCores": {
          "target": "com.amazonaws.groundstation#AgentCpuCoresList",
          "traits": {
            "smithy.api#documentation": "<p>List of CPU cores reserved for the agent.</p>"
          }
        },
        "componentVersions": {
          "target": "com.amazonaws.groundstation#ComponentVersionList",
          "traits": {
            "smithy.api#documentation": "<p>List of versions being used by agent components.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the agent.</p>"
      }
    },
    "com.amazonaws.groundstation#AgentStatus": {
      "type": "enum",
      "members": {
        "SUCCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESS"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "INACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.groundstation#AggregateStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Aggregate status.</p>",
            "smithy.api#required": {}
          }
        },
        "signatureMap": {
          "target": "com.amazonaws.groundstation#SignatureMap",
          "traits": {
            "smithy.api#documentation": "<p>Sparse map of failure signatures.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Aggregate status of Agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#AngleUnits": {
      "type": "enum",
      "members": {
        "DEGREE_ANGLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEGREE_ANGLE"
          }
        },
        "RADIAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RADIAN"
          }
        }
      }
    },
    "com.amazonaws.groundstation#AntennaDemodDecodeDetails": {
      "type": "structure",
      "members": {
        "outputNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of an antenna demod decode output node used in a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an antenna demod decode <code>Config</code> used in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaDownlinkConfig": {
      "type": "structure",
      "members": {
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#SpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes a spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about how AWS Ground Station should configure an antenna for downlink during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaDownlinkDemodDecodeConfig": {
      "type": "structure",
      "members": {
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#SpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "demodulationConfig": {
          "target": "com.amazonaws.groundstation#DemodulationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the demodulation <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "decodeConfig": {
          "target": "com.amazonaws.groundstation#DecodeConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the decode <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for downlink demod decode during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaUplinkConfig": {
      "type": "structure",
      "members": {
        "transmitDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not uplink transmit is disabled.</p>"
          }
        },
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#UplinkSpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the uplink spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "targetEirp": {
          "target": "com.amazonaws.groundstation#Eirp",
          "traits": {
            "smithy.api#documentation": "<p>EIRP of the target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the uplink <code>Config</code> of an antenna.</p>"
      }
    },
    "com.amazonaws.groundstation#AnyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1024
        },
        "smithy.api#pattern": "^(arn:aws:)[\\s\\S]{0,1024}$"
      }
    },
    "com.amazonaws.groundstation#AuditResults": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        }
      }
    },
    "com.amazonaws.groundstation#AwsGroundStationAgentEndpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name string associated with AgentEndpoint. Used as a human-readable identifier for AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "egressAddress": {
          "target": "com.amazonaws.groundstation#ConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The egress address of AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ingressAddress": {
          "target": "com.amazonaws.groundstation#RangedConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The ingress address of AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of AgentEndpoint.</p>"
          }
        },
        "auditResults": {
          "target": "com.amazonaws.groundstation#AuditResults",
          "traits": {
            "smithy.api#documentation": "<p>The results of the audit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about AwsGroundStationAgentEndpoint.</p>"
      }
    },
    "com.amazonaws.groundstation#AzElEphemeris": {
      "type": "structure",
      "members": {
        "groundStation": {
          "target": "com.amazonaws.groundstation#GroundStationName",
          "traits": {
            "smithy.api#documentation": "<p>The ground station name for which you're providing azimuth elevation data.</p> <p>This ephemeris is specific to this ground station and can't be used at other locations.</p>",
            "smithy.api#required": {}
          }
        },
        "data": {
          "target": "com.amazonaws.groundstation#AzElSegmentsData",
          "traits": {
            "smithy.api#documentation": "<p>Azimuth elevation segment data.</p> <p>You can provide data inline in the request or through an Amazon S3 object reference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Azimuth elevation ephemeris data.</p> <p> Use this ephemeris type to provide pointing angles directly, rather than satellite orbital elements. Use this when you need precise antenna pointing but have imprecise or unknown satellite trajectory information. </p> <p> The azimuth elevation data specifies the antenna pointing direction at specific times relative to a ground station location. AWS Ground Station uses 4th order Lagrange interpolation to compute pointing angles between the provided data points. </p> <p> AWS Ground Station automatically filters interpolated pointing angles, including only those that are above the site mask elevation of the specified ground station. </p> <p> For more detail about providing azimuth elevation ephemerides to AWS Ground Station, see the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/providing-azimuth-elevation-ephemeris-data.html\">azimuth elevation ephemeris section</a> of the AWS Ground Station User Guide. </p>"
      }
    },
    "com.amazonaws.groundstation#AzElEphemerisFilter": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier of the azimuth elevation ephemeris.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter for selecting contacts that use a specific <a>AzElEphemeris</a>.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Ephemeris",
            "ids": {
              "ephemerisId": "id"
            }
          }
        ]
      }
    },
    "com.amazonaws.groundstation#AzElProgramTrackSettings": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier of the azimuth elevation ephemeris.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Program track settings for <a>AzElEphemeris</a>.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Ephemeris"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#AzElSegment": {
      "type": "structure",
      "members": {
        "referenceEpoch": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The reference time for this segment in ISO 8601 format in Coordinated Universal Time (UTC).</p> <p>All time values within the segment's <a>AzElSegment$azElList</a> are specified as offsets in atomic seconds from this reference epoch.</p> <p>Example: <code>2024-01-15T12:00:00.000Z</code> </p>",
            "smithy.api#required": {},
            "smithy.api#timestampFormat": "date-time"
          }
        },
        "validTimeRange": {
          "target": "com.amazonaws.groundstation#ISO8601TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>The valid time range for this segment.</p> <p> Specifies the start and end timestamps in ISO 8601 format in Coordinated Universal Time (UTC). The segment's pointing data must cover this entire time range. </p>",
            "smithy.api#required": {}
          }
        },
        "azElList": {
          "target": "com.amazonaws.groundstation#TimeAzElList",
          "traits": {
            "smithy.api#documentation": "<p>List of time-tagged azimuth elevation data points.</p> <p> Must contain at least five points to support 4th order Lagrange interpolation. Points must be in chronological order with no duplicates. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A time segment containing azimuth elevation pointing data.</p> <p> Each segment defines a continuous time period with pointing angle data points. AWS Ground Station uses 4th order Lagrange interpolation between the provided points, so each segment must contain at least five data points. </p>"
      }
    },
    "com.amazonaws.groundstation#AzElSegmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#AzElSegment"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.groundstation#AzElSegments": {
      "type": "structure",
      "members": {
        "angleUnit": {
          "target": "com.amazonaws.groundstation#AngleUnits",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measure for azimuth and elevation angles. All angles in all segments must use the same unit.</p>",
            "smithy.api#required": {}
          }
        },
        "azElSegmentList": {
          "target": "com.amazonaws.groundstation#AzElSegmentList",
          "traits": {
            "smithy.api#documentation": "<p>List of azimuth elevation segments.</p> <p>Must contain between 1 and 100 segments. Segments must be in chronological order with no overlaps.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Azimuth elevation segment collection.</p> <p>Contains five or more time-ordered segments that define antenna pointing angles over the ephemeris validity period.</p>"
      }
    },
    "com.amazonaws.groundstation#AzElSegmentsData": {
      "type": "union",
      "members": {
        "s3Object": {
          "target": "com.amazonaws.groundstation#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 object containing azimuth elevation segment data.</p> <p>The Amazon S3 object must contain JSON-formatted azimuth elevation data matching the <a>AzElSegments</a> structure.</p>"
          }
        },
        "azElData": {
          "target": "com.amazonaws.groundstation#AzElSegments",
          "traits": {
            "smithy.api#documentation": "<p>Azimuth elevation segment data provided directly in the request.</p> <p>Use this option for smaller datasets or when Amazon S3 access is not available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container for azimuth elevation segment data.</p> <p>Specify either <a>AzElSegmentsData$s3Object</a> to reference data in Amazon S3, or <a>AzElSegmentsData$azElData</a> to provide data inline.</p>"
      }
    },
    "com.amazonaws.groundstation#BandwidthUnits": {
      "type": "enum",
      "members": {
        "GHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GHz"
          }
        },
        "MHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MHz"
          }
        },
        "KHZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "kHz"
          }
        }
      }
    },
    "com.amazonaws.groundstation#BucketArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::S3::Bucket"
        }
      }
    },
    "com.amazonaws.groundstation#CancelContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CancelContactRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ContactIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a contact with a specified contact ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/contact/{contactId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#CancelContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#CapabilityArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStationProvider::Capability",
          "service": "com.amazon.awsgsaascontrolplanelambda.provider.r20190311#GroundStationProvider",
          "resource": "com.amazon.awsgsaascontrolplanelambda.provider.r20190311#Capability"
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#CapabilityArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityHealth": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityHealthReason": {
      "type": "enum",
      "members": {
        "NO_REGISTERED_AGENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NO_REGISTERED_AGENT"
          }
        },
        "INVALID_IP_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_IP_OWNERSHIP"
          }
        },
        "NOT_AUTHORIZED_TO_CREATE_SLR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_AUTHORIZED_TO_CREATE_SLR"
          }
        },
        "UNVERIFIED_IP_OWNERSHIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNVERIFIED_IP_OWNERSHIP"
          }
        },
        "INITIALIZING_DATAPLANE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZING_DATAPLANE"
          }
        },
        "DATAPLANE_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATAPLANE_FAILURE"
          }
        },
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityHealthReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#CapabilityHealthReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#ComponentStatusData": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "com.amazonaws.groundstation#ComponentTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The Component type.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArn": {
          "target": "com.amazonaws.groundstation#CapabilityArn",
          "traits": {
            "smithy.api#documentation": "<p>Capability ARN of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Component status.</p>",
            "smithy.api#required": {}
          }
        },
        "bytesSent": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>Bytes sent by the component.</p>"
          }
        },
        "bytesReceived": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>Bytes received by the component.</p>"
          }
        },
        "packetsDropped": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>Packets dropped by component.</p>"
          }
        },
        "dataflowId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>Dataflow UUID associated with the component.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data on the status of agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#ComponentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ComponentStatusData"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#ComponentTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_]{1,64}$"
      }
    },
    "com.amazonaws.groundstation#ComponentVersion": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "com.amazonaws.groundstation#ComponentTypeString",
          "traits": {
            "smithy.api#documentation": "<p>Component type.</p>",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.amazonaws.groundstation#VersionStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of versions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Version information for agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#ComponentVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ComponentVersion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#Config": {
      "type": "resource",
      "identifiers": {
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid"
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateConfig"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetConfig"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateConfig"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteConfig"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListConfigs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "config/{configType}/{configId}"
        }
      }
    },
    "com.amazonaws.groundstation#ConfigArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStation::Config",
          "service": "GroundStation",
          "resource": "Config"
        },
        "smithy.api#length": {
          "min": 82,
          "max": 424
        },
        "smithy.api#pattern": "^arn:aws:groundstation:[-a-z0-9]{1,50}:[0-9]{12}:config/[a-z0-9]+(-[a-z0-9]+){0,4}/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(/.{1,256})?$"
      }
    },
    "com.amazonaws.groundstation#ConfigCapabilityType": {
      "type": "enum",
      "members": {
        "ANTENNA_DOWNLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "antenna-downlink"
          }
        },
        "ANTENNA_DOWNLINK_DEMOD_DECODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "antenna-downlink-demod-decode"
          }
        },
        "TRACKING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "tracking"
          }
        },
        "DATAFLOW_ENDPOINT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dataflow-endpoint"
          }
        },
        "ANTENNA_UPLINK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "antenna-uplink"
          }
        },
        "UPLINK_ECHO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "uplink-echo"
          }
        },
        "S3_RECORDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "s3-recording"
          }
        }
      }
    },
    "com.amazonaws.groundstation#ConfigDetails": {
      "type": "union",
      "members": {
        "endpointDetails": {
          "target": "com.amazonaws.groundstation#EndpointDetails"
        },
        "antennaDemodDecodeDetails": {
          "target": "com.amazonaws.groundstation#AntennaDemodDecodeDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for antenna demod decode <code>Config</code> in a contact.</p>"
          }
        },
        "s3RecordingDetails": {
          "target": "com.amazonaws.groundstation#S3RecordingDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for an S3 recording <code>Config</code> in a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for certain <code>Config</code> object types in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#ConfigIdResponse": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#ConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ConfigListItem"
      }
    },
    "com.amazonaws.groundstation#ConfigListItem": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a <code>Config</code>.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An item in a list of <code>Config</code> objects.</p>"
      }
    },
    "com.amazonaws.groundstation#ConfigTypeData": {
      "type": "union",
      "members": {
        "antennaDownlinkConfig": {
          "target": "com.amazonaws.groundstation#AntennaDownlinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should configure an antenna for downlink during a contact.</p>"
          }
        },
        "trackingConfig": {
          "target": "com.amazonaws.groundstation#TrackingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Object that determines whether tracking should be used during a contact executed with this <code>Config</code> in the mission profile. </p>"
          }
        },
        "dataflowEndpointConfig": {
          "target": "com.amazonaws.groundstation#DataflowEndpointConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the dataflow endpoint <code>Config</code>.</p>"
          }
        },
        "antennaDownlinkDemodDecodeConfig": {
          "target": "com.amazonaws.groundstation#AntennaDownlinkDemodDecodeConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for downlink demod decode during a contact.</p>"
          }
        },
        "antennaUplinkConfig": {
          "target": "com.amazonaws.groundstation#AntennaUplinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for uplink during a contact.</p>"
          }
        },
        "uplinkEchoConfig": {
          "target": "com.amazonaws.groundstation#UplinkEchoConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about an uplink echo <code>Config</code>.</p> <p>Parameters from the <code>AntennaUplinkConfig</code>, corresponding to the specified <code>AntennaUplinkConfigArn</code>, are used when this <code>UplinkEchoConfig</code> is used in a contact.</p>"
          }
        },
        "s3RecordingConfig": {
          "target": "com.amazonaws.groundstation#S3RecordingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about an S3 recording <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing the parameters of a <code>Config</code>.</p> <p>See the subtype definitions for what each type of <code>Config</code> contains.</p>"
      }
    },
    "com.amazonaws.groundstation#ConnectionDetails": {
      "type": "structure",
      "members": {
        "socketAddress": {
          "target": "com.amazonaws.groundstation#SocketAddress",
          "traits": {
            "smithy.api#documentation": "<p>A socket address.</p>",
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum transmission unit (MTU) size in bytes of a dataflow endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Egress address of AgentEndpoint with an optional mtu.</p>"
      }
    },
    "com.amazonaws.groundstation#Contact": {
      "type": "resource",
      "identifiers": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#ReserveContact"
      },
      "read": {
        "target": "com.amazonaws.groundstation#DescribeContact"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#CancelContact"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListContacts"
      },
      "traits": {
        "aws.api#arn": {
          "template": "contact/{contactId}"
        }
      }
    },
    "com.amazonaws.groundstation#ContactData": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        },
        "missionProfileArn": {
          "target": "com.amazonaws.groundstation#MissionProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a mission profile.</p>"
          }
        },
        "satelliteArn": {
          "target": "com.amazonaws.groundstation#satelliteArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a satellite.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Start time of a contact in UTC.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>End time of a contact in UTC.</p>"
          }
        },
        "prePassStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "postPassEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "groundStation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a ground station.</p>"
          }
        },
        "contactStatus": {
          "target": "com.amazonaws.groundstation#ContactStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a contact.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message of a contact.</p>"
          }
        },
        "maximumElevation": {
          "target": "com.amazonaws.groundstation#Elevation",
          "traits": {
            "smithy.api#documentation": "<p>Maximum elevation angle of a contact.</p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a contact.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a contact.</p>"
          }
        },
        "visibilityStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Projected time in UTC your satellite will rise above the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/site-masks.html\">receive mask</a>. This time is based on the satellite's current active ephemeris for future contacts and the ephemeris that was active during contact execution for completed contacts. <i>This field is not present for contacts with a <code>SCHEDULING</code> or <code>SCHEDULED</code> status.</i> </p>"
          }
        },
        "visibilityEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Projected time in UTC your satellite will set below the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/site-masks.html\">receive mask</a>. This time is based on the satellite's current active ephemeris for future contacts and the ephemeris that was active during contact execution for completed contacts. <i>This field is not present for contacts with a <code>SCHEDULING</code> or <code>SCHEDULED</code> status.</i> </p>"
          }
        },
        "ephemeris": {
          "target": "com.amazonaws.groundstation#EphemerisResponseData",
          "traits": {
            "smithy.api#documentation": "<p>The ephemeris that determines antenna pointing for the contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data describing a contact.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Contact"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#ContactIdResponse": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#ContactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ContactData"
      }
    },
    "com.amazonaws.groundstation#ContactStatus": {
      "type": "enum",
      "members": {
        "SCHEDULING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULING"
          }
        },
        "FAILED_TO_SCHEDULE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_SCHEDULE"
          }
        },
        "SCHEDULED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCHEDULED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "AWS_CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_CANCELLED"
          }
        },
        "PREPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPASS"
          }
        },
        "PASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASS"
          }
        },
        "POSTPASS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "POSTPASS"
          }
        },
        "COMPLETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVAILABLE"
          }
        },
        "CANCELLING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLING"
          }
        },
        "AWS_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_FAILED"
          }
        }
      }
    },
    "com.amazonaws.groundstation#CreateConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ConfigIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Config</code> with the specified <code>configData</code> parameters.</p> <p>Only one type of <code>configData</code> can be specified.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/config"
        }
      }
    },
    "com.amazonaws.groundstation#CreateConfigRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "configData": {
          "target": "com.amazonaws.groundstation#ConfigTypeData",
          "traits": {
            "smithy.api#documentation": "<p>Parameters of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#CreateDataflowEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateDataflowEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataflowEndpoint</code> group containing the specified list of <code>DataflowEndpoint</code> objects.</p> <p>The <code>name</code> field in each endpoint is used in your mission profile <code>DataflowEndpointConfig</code> to specify which endpoints to use during a contact.</p> <p>When a contact uses multiple <code>DataflowEndpointConfig</code> objects, each <code>Config</code> must match a <code>DataflowEndpoint</code> in the same group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dataflowEndpointGroup"
        }
      }
    },
    "com.amazonaws.groundstation#CreateDataflowEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "endpointDetails": {
          "target": "com.amazonaws.groundstation#EndpointDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint details of each endpoint in the dataflow endpoint group. All dataflow endpoints within a single dataflow endpoint group must be of the same type. You cannot mix <a href=\"https://docs.aws.amazon.com/ground-station/latest/APIReference/API_AwsGroundStationAgentEndpoint.html\"> AWS Ground Station Agent endpoints</a> with <a href=\"https://docs.aws.amazon.com/ground-station/latest/APIReference/API_DataflowEndpoint.html\">Dataflow endpoints</a> in the same group. If your use case requires both types of endpoints, you must create separate dataflow endpoint groups for each type. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags of a dataflow endpoint group.</p>"
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, before a contact starts that the Ground Station Dataflow Endpoint Group will be in a <code>PREPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>PREPASS</code> state.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, after a contact ends that the Ground Station Dataflow Endpoint Group will be in a <code>POSTPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>POSTPASS</code> state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#CreateEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#EphemerisIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an ephemeris with your specified <a>EphemerisData</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ephemeris"
        }
      }
    },
    "com.amazonaws.groundstation#CreateEphemerisRequest": {
      "type": "structure",
      "members": {
        "satelliteId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The satellite ID that associates this ephemeris with a satellite in AWS Ground Station.</p>"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to <code>true</code> to enable the ephemeris after validation. Set to <code>false</code> to keep it disabled.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.groundstation#CustomerEphemerisPriority",
          "traits": {
            "smithy.api#documentation": "<p>A priority score that determines which ephemeris to use when multiple ephemerides overlap.</p> <p>Higher numbers take precedence. The default is 1. Must be 1 or greater.</p>"
          }
        },
        "expirationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>An overall expiration time for the ephemeris in UTC, after which it will become <code>EXPIRED</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name that you can use to identify the ephemeris.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.groundstation#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key to use for encrypting the ephemeris.</p>"
          }
        },
        "ephemeris": {
          "target": "com.amazonaws.groundstation#EphemerisData",
          "traits": {
            "smithy.api#documentation": "<p>Ephemeris data.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to an ephemeris.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#CreateMissionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateMissionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#MissionProfileIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mission profile.</p> <p> <code>dataflowEdges</code> is a list of lists of strings. Each lower level list of strings has two elements: a <i>from</i> ARN and a <i>to</i> ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/missionprofile"
        }
      }
    },
    "com.amazonaws.groundstation#CreateMissionProfileRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a mission profile.</p>",
            "smithy.api#required": {}
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a Ground Station Contact State Change event indicating an upcoming pass.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a Ground Station Contact State Change event indicating the pass has finished.</p>"
          }
        },
        "minimumViableContactDurationSeconds": {
          "target": "com.amazonaws.groundstation#PositiveDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Smallest amount of time in seconds that you’d like to see for an available contact. AWS Ground Station will not present you with contacts shorter than this duration.</p>",
            "smithy.api#required": {}
          }
        },
        "dataflowEdges": {
          "target": "com.amazonaws.groundstation#DataflowEdgeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of lists of ARNs. Each list of ARNs is an edge, with a <i>from</i> <code>Config</code> and a <i>to</i> <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "trackingConfigArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a tracking <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a mission profile.</p>"
          }
        },
        "streamsKmsKey": {
          "target": "com.amazonaws.groundstation#KmsKey",
          "traits": {
            "smithy.api#documentation": "<p>KMS key to use for encrypting streams.</p>"
          }
        },
        "streamsKmsRole": {
          "target": "com.amazonaws.groundstation#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Role to use for encrypting streams with KMS key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#Criticality": {
      "type": "enum",
      "members": {
        "REQUIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REQUIRED"
          }
        },
        "PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED"
          }
        },
        "REMOVED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMOVED"
          }
        }
      }
    },
    "com.amazonaws.groundstation#CustomerEphemerisPriority": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 99999
        }
      }
    },
    "com.amazonaws.groundstation#DataflowDetail": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.groundstation#Source"
        },
        "destination": {
          "target": "com.amazonaws.groundstation#Destination"
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message for a dataflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a dataflow edge used in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEdge": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ConfigArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowEdge"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a dataflow endpoint.</p>"
          }
        },
        "address": {
          "target": "com.amazonaws.groundstation#SocketAddress",
          "traits": {
            "smithy.api#documentation": "<p>Socket address of a dataflow endpoint.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#EndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a dataflow endpoint.</p>"
          }
        },
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum transmission unit (MTU) size in bytes of a dataflow endpoint.</p>",
            "smithy.api#range": {
              "min": 1400,
              "max": 1500
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a dataflow endpoint.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointConfig": {
      "type": "structure",
      "members": {
        "dataflowEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a dataflow endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "dataflowEndpointRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a dataflow endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the dataflow endpoint <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroup": {
      "type": "resource",
      "identifiers": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateDataflowEndpointGroup"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetDataflowEndpointGroup"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteDataflowEndpointGroup"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListDataflowEndpointGroups"
      },
      "traits": {
        "aws.api#arn": {
          "template": "dataflow-endpoint-group/{dataflowEndpointGroupId}"
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStation::DataflowEndpointGroup",
          "service": "GroundStation",
          "resource": "DataflowEndpointGroup"
        },
        "smithy.api#length": {
          "min": 97,
          "max": 146
        },
        "smithy.api#pattern": "^arn:aws:groundstation:[-a-z0-9]{1,50}:[0-9]{12}:dataflow-endpoint-group/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 120,
          "max": 480
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowEndpointListItem"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointListItem": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>"
          }
        },
        "dataflowEndpointGroupArn": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a dataflow endpoint group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Item in a list of <code>DataflowEndpoint</code> groups.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowDetail"
      }
    },
    "com.amazonaws.groundstation#DecodeConfig": {
      "type": "structure",
      "members": {
        "unvalidatedJSON": {
          "target": "com.amazonaws.groundstation#JsonString",
          "traits": {
            "smithy.api#documentation": "<p>Unvalidated JSON of a decode <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the decode <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DeleteConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ConfigIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Config</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/config/{configType}/{configId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteConfigRequest": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DeleteDataflowEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteDataflowEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataflow endpoint group.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteDataflowEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DeleteEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#EphemerisIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an ephemeris.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ephemeris/{ephemerisId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteEphemerisRequest": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DeleteMissionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteMissionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#MissionProfileIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a mission profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/missionprofile/{missionProfileId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteMissionProfileRequest": {
      "type": "structure",
      "members": {
        "missionProfileId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a mission profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DemodulationConfig": {
      "type": "structure",
      "members": {
        "unvalidatedJSON": {
          "target": "com.amazonaws.groundstation#JsonString",
          "traits": {
            "smithy.api#documentation": "<p>Unvalidated JSON of a demodulation <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the demodulation <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dependency encountered an error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 531
      }
    },
    "com.amazonaws.groundstation#DescribeContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DescribeContactRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DescribeContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an existing contact.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact/{contactId}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ContactScheduled": {
            "documentation": "Waits until a contact has been scheduled",
            "minDelay": 5,
            "maxDelay": 900,
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "contactStatus",
                    "comparator": "stringEquals",
                    "expected": "FAILED_TO_SCHEDULE"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "contactStatus",
                    "comparator": "stringEquals",
                    "expected": "SCHEDULED"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.groundstation#DescribeContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DescribeContactResponse": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        },
        "missionProfileArn": {
          "target": "com.amazonaws.groundstation#MissionProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a mission profile.</p>"
          }
        },
        "satelliteArn": {
          "target": "com.amazonaws.groundstation#satelliteArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a satellite.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Start time of a contact in UTC.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>End time of a contact in UTC.</p>"
          }
        },
        "prePassStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "postPassEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "groundStation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Ground station for a contact.</p>"
          }
        },
        "contactStatus": {
          "target": "com.amazonaws.groundstation#ContactStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a contact.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message for a contact.</p>"
          }
        },
        "maximumElevation": {
          "target": "com.amazonaws.groundstation#Elevation",
          "traits": {
            "smithy.api#documentation": "<p>Maximum elevation angle of a contact.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a contact.</p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a contact.</p>"
          }
        },
        "dataflowList": {
          "target": "com.amazonaws.groundstation#DataflowList",
          "traits": {
            "smithy.api#documentation": "<p>List describing source and destination details for each dataflow edge.</p>"
          }
        },
        "visibilityStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Projected time in UTC your satellite will rise above the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/site-masks.html\">receive mask</a>. This time is based on the satellite's current active ephemeris for future contacts and the ephemeris that was active during contact execution for completed contacts. </p>"
          }
        },
        "visibilityEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Projected time in UTC your satellite will set below the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/site-masks.html\">receive mask</a>. This time is based on the satellite's current active ephemeris for future contacts and the ephemeris that was active during contact execution for completed contacts. </p>"
          }
        },
        "trackingOverrides": {
          "target": "com.amazonaws.groundstation#TrackingOverrides",
          "traits": {
            "smithy.api#documentation": "<p>Tracking configuration overrides specified when the contact was reserved.</p>"
          }
        },
        "ephemeris": {
          "target": "com.amazonaws.groundstation#EphemerisResponseData",
          "traits": {
            "smithy.api#documentation": "<p>The ephemeris that determines antenna pointing directions for the contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Contact"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#DescribeEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DescribeEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DescribeEphemerisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieve information about an existing ephemeris.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ephemeris/{ephemerisId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#DescribeEphemerisRequest": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.groundstation#DescribeEphemerisResponse": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>"
          }
        },
        "satelliteId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station satellite ID associated with ephemeris.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#EphemerisStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ephemeris.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.groundstation#EphemerisPriority",
          "traits": {
            "smithy.api#documentation": "<p>A priority score that determines which ephemeris to use when multiple ephemerides overlap.</p> <p>Higher numbers take precedence. The default is 1. Must be 1 or greater.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the ephemeris was uploaded in UTC.</p>"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the ephemeris is enabled.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name that you can use to identify the ephemeris.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to an ephemeris.</p>"
          }
        },
        "suppliedData": {
          "target": "com.amazonaws.groundstation#EphemerisTypeDescription",
          "traits": {
            "smithy.api#documentation": "<p>Supplied ephemeris data.</p>"
          }
        },
        "invalidReason": {
          "target": "com.amazonaws.groundstation#EphemerisInvalidReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason that an ephemeris failed validation. Appears only when the status is <code>INVALID</code>.</p>"
          }
        },
        "errorReasons": {
          "target": "com.amazonaws.groundstation#EphemerisErrorReasonList",
          "traits": {
            "smithy.api#documentation": "<p>Detailed error information for ephemerides with <code>INVALID</code> status.</p> <p>Provides specific error codes and messages to help diagnose validation failures.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Ephemeris"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#Destination": {
      "type": "structure",
      "members": {
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configDetails": {
          "target": "com.amazonaws.groundstation#ConfigDetails",
          "traits": {
            "smithy.api#documentation": "<p>Additional details for a <code>Config</code>, if type is dataflow endpoint or antenna demod decode.</p>"
          }
        },
        "dataflowDestinationRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a dataflow destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataflow details for the destination side.</p>"
      }
    },
    "com.amazonaws.groundstation#DiscoveryData": {
      "type": "structure",
      "members": {
        "publicIpAddresses": {
          "target": "com.amazonaws.groundstation#IpAddressList",
          "traits": {
            "smithy.api#documentation": "<p>List of public IP addresses to associate with agent.</p>",
            "smithy.api#required": {}
          }
        },
        "privateIpAddresses": {
          "target": "com.amazonaws.groundstation#IpAddressList",
          "traits": {
            "smithy.api#documentation": "<p>List of private IP addresses to associate with agent.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArns": {
          "target": "com.amazonaws.groundstation#CapabilityArnList",
          "traits": {
            "smithy.api#documentation": "<p>List of capabilities to associate with agent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data for agent discovery.</p>"
      }
    },
    "com.amazonaws.groundstation#DurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 21600
        }
      }
    },
    "com.amazonaws.groundstation#Eirp": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Value of an EIRP. Valid values are between 20.0 to 50.0 dBW.</p>",
            "smithy.api#required": {}
          }
        },
        "units": {
          "target": "com.amazonaws.groundstation#EirpUnits",
          "traits": {
            "smithy.api#documentation": "<p>Units of an EIRP.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that represents EIRP.</p>"
      }
    },
    "com.amazonaws.groundstation#EirpUnits": {
      "type": "enum",
      "members": {
        "DBW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "dBW"
          }
        }
      }
    },
    "com.amazonaws.groundstation#Elevation": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Elevation angle value.</p>",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.amazonaws.groundstation#AngleUnits",
          "traits": {
            "smithy.api#documentation": "<p>Elevation angle units.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Elevation angle of the satellite in the sky during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#EndpointDetails": {
      "type": "structure",
      "members": {
        "securityDetails": {
          "target": "com.amazonaws.groundstation#SecurityDetails",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint security details including a list of subnets, a list of security groups and a role to connect streams to instances.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.groundstation#DataflowEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>A dataflow endpoint.</p>"
          }
        },
        "awsGroundStationAgentEndpoint": {
          "target": "com.amazonaws.groundstation#AwsGroundStationAgentEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>An agent endpoint.</p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.groundstation#CapabilityHealth",
          "traits": {
            "smithy.api#documentation": "<p>A dataflow endpoint health status. This field is ignored when calling <code>CreateDataflowEndpointGroup</code>.</p>"
          }
        },
        "healthReasons": {
          "target": "com.amazonaws.groundstation#CapabilityHealthReasonList",
          "traits": {
            "smithy.api#documentation": "<p>Health reasons for a dataflow endpoint. This field is ignored when calling <code>CreateDataflowEndpointGroup</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the endpoint details.</p>"
      }
    },
    "com.amazonaws.groundstation#EndpointDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EndpointDetails"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#EndpointStatus": {
      "type": "enum",
      "members": {
        "created": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "created"
          }
        },
        "creating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "creating"
          }
        },
        "deleted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        }
      }
    },
    "com.amazonaws.groundstation#EphemeridesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EphemerisItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#Ephemeris": {
      "type": "resource",
      "identifiers": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateEphemeris"
      },
      "read": {
        "target": "com.amazonaws.groundstation#DescribeEphemeris"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateEphemeris"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteEphemeris"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListEphemerides"
      },
      "traits": {
        "aws.api#arn": {
          "template": "ephemeris/{ephemerisId}"
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisData": {
      "type": "union",
      "members": {
        "tle": {
          "target": "com.amazonaws.groundstation#TLEEphemeris"
        },
        "oem": {
          "target": "com.amazonaws.groundstation#OEMEphemeris"
        },
        "azEl": {
          "target": "com.amazonaws.groundstation#AzElEphemeris"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ephemeris data.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisDescription": {
      "type": "structure",
      "members": {
        "sourceS3Object": {
          "target": "com.amazonaws.groundstation#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>Source Amazon S3 object used for the ephemeris.</p>"
          }
        },
        "ephemerisData": {
          "target": "com.amazonaws.groundstation#UnboundedString",
          "traits": {
            "smithy.api#documentation": "<p>Supplied ephemeris data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Description of ephemeris.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisErrorCode": {
      "type": "enum",
      "members": {
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "MISMATCHED_SATCAT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MISMATCHED_SATCAT_ID"
          }
        },
        "OEM_VERSION_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OEM_VERSION_UNSUPPORTED"
          }
        },
        "ORIGINATOR_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ORIGINATOR_MISSING"
          }
        },
        "CREATION_DATE_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATION_DATE_MISSING"
          }
        },
        "OBJECT_NAME_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_NAME_MISSING"
          }
        },
        "OBJECT_ID_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OBJECT_ID_MISSING"
          }
        },
        "REF_FRAME_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_FRAME_UNSUPPORTED"
          }
        },
        "REF_FRAME_EPOCH_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REF_FRAME_EPOCH_UNSUPPORTED"
          }
        },
        "TIME_SYSTEM_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_SYSTEM_UNSUPPORTED"
          }
        },
        "CENTER_BODY_UNSUPPORTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTER_BODY_UNSUPPORTED"
          }
        },
        "INTERPOLATION_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATION_MISSING"
          }
        },
        "INTERPOLATION_DEGREE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATION_DEGREE_INVALID"
          }
        },
        "AZ_EL_SEGMENT_LIST_MISSING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_LIST_MISSING"
          }
        },
        "INSUFFICIENT_TIME_AZ_EL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_TIME_AZ_EL"
          }
        },
        "START_TIME_IN_FUTURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_TIME_IN_FUTURE"
          }
        },
        "END_TIME_IN_PAST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_TIME_IN_PAST"
          }
        },
        "EXPIRATION_TIME_TOO_EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EXPIRATION_TIME_TOO_EARLY"
          }
        },
        "START_TIME_METADATA_TOO_EARLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "START_TIME_METADATA_TOO_EARLY"
          }
        },
        "STOP_TIME_METADATA_TOO_LATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STOP_TIME_METADATA_TOO_LATE"
          }
        },
        "AZ_EL_SEGMENT_END_TIME_BEFORE_START_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_END_TIME_BEFORE_START_TIME"
          }
        },
        "AZ_EL_SEGMENT_TIMES_OVERLAP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_TIMES_OVERLAP"
          }
        },
        "AZ_EL_SEGMENTS_OUT_OF_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENTS_OUT_OF_ORDER"
          }
        },
        "TIME_AZ_EL_ITEMS_OUT_OF_ORDER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_ITEMS_OUT_OF_ORDER"
          }
        },
        "MEAN_MOTION_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEAN_MOTION_INVALID"
          }
        },
        "TIME_AZ_EL_AZ_RADIAN_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_AZ_RADIAN_RANGE_INVALID"
          }
        },
        "TIME_AZ_EL_EL_RADIAN_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_EL_RADIAN_RANGE_INVALID"
          }
        },
        "TIME_AZ_EL_AZ_DEGREE_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_AZ_DEGREE_RANGE_INVALID"
          }
        },
        "TIME_AZ_EL_EL_DEGREE_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_EL_DEGREE_RANGE_INVALID"
          }
        },
        "TIME_AZ_EL_ANGLE_UNITS_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIME_AZ_EL_ANGLE_UNITS_INVALID"
          }
        },
        "INSUFFICIENT_KMS_PERMISSIONS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_KMS_PERMISSIONS"
          }
        },
        "FILE_FORMAT_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILE_FORMAT_INVALID"
          }
        },
        "AZ_EL_SEGMENT_REFERENCE_EPOCH_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_REFERENCE_EPOCH_INVALID"
          }
        },
        "AZ_EL_SEGMENT_START_TIME_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_START_TIME_INVALID"
          }
        },
        "AZ_EL_SEGMENT_END_TIME_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_END_TIME_INVALID"
          }
        },
        "AZ_EL_SEGMENT_VALID_TIME_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_VALID_TIME_RANGE_INVALID"
          }
        },
        "AZ_EL_SEGMENT_END_TIME_TOO_LATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_SEGMENT_END_TIME_TOO_LATE"
          }
        },
        "AZ_EL_TOTAL_DURATION_EXCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AZ_EL_TOTAL_DURATION_EXCEEDED"
          }
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisErrorReason": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.groundstation#EphemerisErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code identifying the type of validation failure.</p> <p>See the <a href=\"https://docs.aws.amazon.com/ground-station/latest/ug/troubleshooting-invalid-ephemerides.html\">Troubleshooting Invalid Ephemerides guide</a> for error code details.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.groundstation#ErrorString",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable message describing the validation failure.</p> <p>Provides specific details about what failed and may include suggestions for remediation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed error information for ephemeris validation failures.</p> <p>Provides an error code and descriptive message to help diagnose and resolve validation issues.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisErrorReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EphemerisErrorReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisFilter": {
      "type": "union",
      "members": {
        "azEl": {
          "target": "com.amazonaws.groundstation#AzElEphemerisFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filter for <a>AzElEphemeris</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filter for selecting contacts that use a specific ephemeris\".</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisIdResponse": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisInvalidReason": {
      "type": "enum",
      "members": {
        "METADATA_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Provided spacecraft identifiers such as spacecraft NORAD Id are invalid",
            "smithy.api#enumValue": "METADATA_INVALID"
          }
        },
        "TIME_RANGE_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Start, end, or expiration time(s) are invalid for the provided ephemeris",
            "smithy.api#enumValue": "TIME_RANGE_INVALID"
          }
        },
        "TRAJECTORY_INVALID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "Provided ephemeris defines invalid spacecraft trajectory",
            "smithy.api#enumValue": "TRAJECTORY_INVALID"
          }
        },
[...]
