{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.groundstation#AWSRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\w-]+$"
      }
    },
    "com.amazonaws.groundstation#Agent": {
      "type": "resource",
      "identifiers": {
        "agentId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#RegisterAgent"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetAgentConfiguration"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateAgentStatus"
      },
      "traits": {
        "aws.api#arn": {
          "template": "agent/{agentId}"
        }
      }
    },
    "com.amazonaws.groundstation#AgentCpuCoresList": {
      "type": "list",
      "member": {
        "target": "smithy.api#Integer"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.groundstation#AgentDetails": {
      "type": "structure",
      "members": {
        "agentVersion": {
          "target": "com.amazonaws.groundstation#VersionString",
          "traits": {
            "smithy.api#documentation": "<p>Current agent version.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceId": {
          "target": "com.amazonaws.groundstation#InstanceId",
          "traits": {
            "smithy.api#documentation": "<p>ID of EC2 instance agent is running on.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceType": {
          "target": "com.amazonaws.groundstation#InstanceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of EC2 instance agent is running on.</p>",
            "smithy.api#required": {}
          }
        },
        "reservedCpuCores": {
          "target": "com.amazonaws.groundstation#AgentCpuCoresList",
          "traits": {
            "smithy.api#documentation": "<note>\n            <p>This field should not be used. Use agentCpuCores instead.</p>\n         </note>\n         <p>List of CPU cores reserved for processes other than the agent running on the EC2 instance.</p>"
          }
        },
        "agentCpuCores": {
          "target": "com.amazonaws.groundstation#AgentCpuCoresList",
          "traits": {
            "smithy.api#documentation": "<p>List of CPU cores reserved for the agent.</p>"
          }
        },
        "componentVersions": {
          "target": "com.amazonaws.groundstation#ComponentVersionList",
          "traits": {
            "smithy.api#documentation": "<p>List of versions being used by agent components.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about the agent.</p>"
      }
    },
    "com.amazonaws.groundstation#AgentStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#AggregateStatus": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Aggregate status.</p>",
            "smithy.api#required": {}
          }
        },
        "signatureMap": {
          "target": "com.amazonaws.groundstation#SignatureMap",
          "traits": {
            "smithy.api#documentation": "<p>Sparse map of failure signatures.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Aggregate status of Agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#AngleUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEGREE_ANGLE",
            "name": "DEGREE_ANGLE"
          },
          {
            "value": "RADIAN",
            "name": "RADIAN"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#AntennaDemodDecodeDetails": {
      "type": "structure",
      "members": {
        "outputNode": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of an antenna demod decode output node used in a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an antenna demod decode <code>Config</code> used in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaDownlinkConfig": {
      "type": "structure",
      "members": {
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#SpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Object that describes a spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about how AWS Ground Station should configure an\n         antenna for downlink during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaDownlinkDemodDecodeConfig": {
      "type": "structure",
      "members": {
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#SpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "demodulationConfig": {
          "target": "com.amazonaws.groundstation#DemodulationConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the demodulation <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "decodeConfig": {
          "target": "com.amazonaws.groundstation#DecodeConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the decode <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for downlink demod decode during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#AntennaUplinkConfig": {
      "type": "structure",
      "members": {
        "transmitDisabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not uplink transmit is disabled.</p>"
          }
        },
        "spectrumConfig": {
          "target": "com.amazonaws.groundstation#UplinkSpectrumConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the uplink spectral <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "targetEirp": {
          "target": "com.amazonaws.groundstation#Eirp",
          "traits": {
            "smithy.api#documentation": "<p>EIRP of the target.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the uplink <code>Config</code> of an antenna.</p>"
      }
    },
    "com.amazonaws.groundstation#AnyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 1024
        },
        "smithy.api#pattern": "^(arn:aws:)[\\s\\S]{0,1024}$"
      }
    },
    "com.amazonaws.groundstation#AuditResults": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          },
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#AwsGroundStationAgentEndpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name string associated with AgentEndpoint. Used as a human-readable identifier for AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "egressAddress": {
          "target": "com.amazonaws.groundstation#ConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The egress address of AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ingressAddress": {
          "target": "com.amazonaws.groundstation#RangedConnectionDetails",
          "traits": {
            "smithy.api#documentation": "<p>The ingress address of AgentEndpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "agentStatus": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of AgentEndpoint.</p>"
          }
        },
        "auditResults": {
          "target": "com.amazonaws.groundstation#AuditResults",
          "traits": {
            "smithy.api#documentation": "<p>The results of the audit.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about AwsGroundStationAgentEndpoint.</p>"
      }
    },
    "com.amazonaws.groundstation#BandwidthUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GHz",
            "name": "GHZ"
          },
          {
            "value": "MHz",
            "name": "MHZ"
          },
          {
            "value": "kHz",
            "name": "KHZ"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#BucketArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::S3::Bucket"
        }
      }
    },
    "com.amazonaws.groundstation#CancelContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CancelContactRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ContactIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a contact with a specified contact ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/contact/{contactId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#CancelContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#CapabilityArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStationProvider::Capability",
          "service": "com.amazon.awsgsaascontrolplanelambda.provider.r20190311#GroundStationProvider",
          "resource": "com.amazon.awsgsaascontrolplanelambda.provider.r20190311#Capability"
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#CapabilityArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#CapabilityHealth": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          },
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#CapabilityHealthReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NO_REGISTERED_AGENT",
            "name": "NO_REGISTERED_AGENT"
          },
          {
            "value": "INVALID_IP_OWNERSHIP",
            "name": "INVALID_IP_OWNERSHIP"
          },
          {
            "value": "NOT_AUTHORIZED_TO_CREATE_SLR",
            "name": "NOT_AUTHORIZED_TO_CREATE_SLR"
          },
          {
            "value": "UNVERIFIED_IP_OWNERSHIP",
            "name": "UNVERIFIED_IP_OWNERSHIP"
          },
          {
            "value": "INITIALIZING_DATAPLANE",
            "name": "INITIALIZING_DATAPLANE"
          },
          {
            "value": "DATAPLANE_FAILURE",
            "name": "DATAPLANE_FAILURE"
          },
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#CapabilityHealthReasonList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#CapabilityHealthReason"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#ComponentStatusData": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "com.amazonaws.groundstation#ComponentTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The Component type.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArn": {
          "target": "com.amazonaws.groundstation#CapabilityArn",
          "traits": {
            "smithy.api#documentation": "<p>Capability ARN of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#AgentStatus",
          "traits": {
            "smithy.api#documentation": "<p>Component status.</p>",
            "smithy.api#required": {}
          }
        },
        "bytesSent": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Bytes sent by the component.</p>"
          }
        },
        "bytesReceived": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Bytes received by the component.</p>"
          }
        },
        "packetsDropped": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Packets dropped by component.</p>"
          }
        },
        "dataflowId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>Dataflow UUID associated with the component.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data on the status of agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#ComponentStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ComponentStatusData"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#ComponentTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_]{1,64}$"
      }
    },
    "com.amazonaws.groundstation#ComponentVersion": {
      "type": "structure",
      "members": {
        "componentType": {
          "target": "com.amazonaws.groundstation#ComponentTypeString",
          "traits": {
            "smithy.api#documentation": "<p>Component type.</p>",
            "smithy.api#required": {}
          }
        },
        "versions": {
          "target": "com.amazonaws.groundstation#VersionStringList",
          "traits": {
            "smithy.api#documentation": "<p>List of versions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Version information for agent components.</p>"
      }
    },
    "com.amazonaws.groundstation#ComponentVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ComponentVersion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.groundstation#Config": {
      "type": "resource",
      "identifiers": {
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid"
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateConfig"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetConfig"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateConfig"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteConfig"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListConfigs"
      },
      "traits": {
        "aws.api#arn": {
          "template": "config/{configType}/{configId}"
        }
      }
    },
    "com.amazonaws.groundstation#ConfigArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStation::Config",
          "service": "GroundStation",
          "resource": "Config"
        }
      }
    },
    "com.amazonaws.groundstation#ConfigCapabilityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "antenna-downlink",
            "name": "ANTENNA_DOWNLINK"
          },
          {
            "value": "antenna-downlink-demod-decode",
            "name": "ANTENNA_DOWNLINK_DEMOD_DECODE"
          },
          {
            "value": "antenna-uplink",
            "name": "ANTENNA_UPLINK"
          },
          {
            "value": "dataflow-endpoint",
            "name": "DATAFLOW_ENDPOINT"
          },
          {
            "value": "tracking",
            "name": "TRACKING"
          },
          {
            "value": "uplink-echo",
            "name": "UPLINK_ECHO"
          },
          {
            "value": "s3-recording",
            "name": "S3_RECORDING"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#ConfigDetails": {
      "type": "union",
      "members": {
        "endpointDetails": {
          "target": "com.amazonaws.groundstation#EndpointDetails"
        },
        "antennaDemodDecodeDetails": {
          "target": "com.amazonaws.groundstation#AntennaDemodDecodeDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for antenna demod decode <code>Config</code> in a contact.</p>"
          }
        },
        "s3RecordingDetails": {
          "target": "com.amazonaws.groundstation#S3RecordingDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details for an S3 recording <code>Config</code> in a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for certain <code>Config</code> object types in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#ConfigIdResponse": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#ConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ConfigListItem"
      }
    },
    "com.amazonaws.groundstation#ConfigListItem": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a <code>Config</code>.</p>"
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An item in a list of <code>Config</code> objects.</p>"
      }
    },
    "com.amazonaws.groundstation#ConfigTypeData": {
      "type": "union",
      "members": {
        "antennaDownlinkConfig": {
          "target": "com.amazonaws.groundstation#AntennaDownlinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should configure an antenna for downlink during a contact.</p>"
          }
        },
        "trackingConfig": {
          "target": "com.amazonaws.groundstation#TrackingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Object that determines whether tracking should be used during a contact executed with this <code>Config</code> in the mission profile. </p>"
          }
        },
        "dataflowEndpointConfig": {
          "target": "com.amazonaws.groundstation#DataflowEndpointConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about the dataflow endpoint <code>Config</code>.</p>"
          }
        },
        "antennaDownlinkDemodDecodeConfig": {
          "target": "com.amazonaws.groundstation#AntennaDownlinkDemodDecodeConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for downlink demod decode during a contact.</p>"
          }
        },
        "antennaUplinkConfig": {
          "target": "com.amazonaws.groundstation#AntennaUplinkConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about how AWS Ground Station should conﬁgure an antenna for uplink during a contact.</p>"
          }
        },
        "uplinkEchoConfig": {
          "target": "com.amazonaws.groundstation#UplinkEchoConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about an uplink echo <code>Config</code>.</p>\n         <p>Parameters from the <code>AntennaUplinkConfig</code>, corresponding to the specified <code>AntennaUplinkConfigArn</code>, are used when this <code>UplinkEchoConfig</code> is used in a contact.</p>"
          }
        },
        "s3RecordingConfig": {
          "target": "com.amazonaws.groundstation#S3RecordingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Information about an S3 recording <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing the parameters of a <code>Config</code>.</p>\n         <p>See the subtype definitions for what each type of <code>Config</code> contains.</p>"
      }
    },
    "com.amazonaws.groundstation#ConnectionDetails": {
      "type": "structure",
      "members": {
        "socketAddress": {
          "target": "com.amazonaws.groundstation#SocketAddress",
          "traits": {
            "smithy.api#documentation": "<p>A socket address.</p>",
            "smithy.api#required": {}
          }
        },
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum transmission unit (MTU) size in bytes of a dataflow endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Egress address of AgentEndpoint with an optional mtu.</p>"
      }
    },
    "com.amazonaws.groundstation#Contact": {
      "type": "resource",
      "identifiers": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#ReserveContact"
      },
      "read": {
        "target": "com.amazonaws.groundstation#DescribeContact"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#CancelContact"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListContacts"
      },
      "traits": {
        "aws.api#arn": {
          "template": "contact/{contactId}"
        }
      }
    },
    "com.amazonaws.groundstation#ContactData": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        },
        "missionProfileArn": {
          "target": "com.amazonaws.groundstation#MissionProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a mission profile.</p>"
          }
        },
        "satelliteArn": {
          "target": "com.amazonaws.groundstation#satelliteArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a satellite.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Start time of a contact in UTC.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>End time of a contact in UTC.</p>"
          }
        },
        "prePassStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "postPassEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "groundStation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a ground station.</p>"
          }
        },
        "contactStatus": {
          "target": "com.amazonaws.groundstation#ContactStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a contact.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message of a contact.</p>"
          }
        },
        "maximumElevation": {
          "target": "com.amazonaws.groundstation#Elevation",
          "traits": {
            "smithy.api#documentation": "<p>Maximum elevation angle of a contact.</p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a contact.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data describing a contact.</p>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Contact"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#ContactIdResponse": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#ContactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ContactData"
      }
    },
    "com.amazonaws.groundstation#ContactStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "AWS_CANCELLED",
            "name": "AWS_CANCELLED"
          },
          {
            "value": "AWS_FAILED",
            "name": "AWS_FAILED"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "CANCELLING",
            "name": "CANCELLING"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "FAILED_TO_SCHEDULE",
            "name": "FAILED_TO_SCHEDULE"
          },
          {
            "value": "PASS",
            "name": "PASS"
          },
          {
            "value": "POSTPASS",
            "name": "POSTPASS"
          },
          {
            "value": "PREPASS",
            "name": "PREPASS"
          },
          {
            "value": "SCHEDULED",
            "name": "SCHEDULED"
          },
          {
            "value": "SCHEDULING",
            "name": "SCHEDULING"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#CreateConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ConfigIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>Config</code> with the specified <code>configData</code> parameters.</p>\n         <p>Only one type of <code>configData</code> can be specified.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/config"
        }
      }
    },
    "com.amazonaws.groundstation#CreateConfigRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "configData": {
          "target": "com.amazonaws.groundstation#ConfigTypeData",
          "traits": {
            "smithy.api#documentation": "<p>Parameters of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#CreateDataflowEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateDataflowEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataflowEndpoint</code> group containing the specified list of <code>DataflowEndpoint</code> objects.</p>\n         <p>The <code>name</code> field in each endpoint is used in your mission profile <code>DataflowEndpointConfig</code> \n         to specify which endpoints to use during a contact.</p>\n         <p>When a contact uses multiple <code>DataflowEndpointConfig</code> objects, each <code>Config</code> \n         must match a <code>DataflowEndpoint</code> in the same group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/dataflowEndpointGroup"
        }
      }
    },
    "com.amazonaws.groundstation#CreateDataflowEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "endpointDetails": {
          "target": "com.amazonaws.groundstation#EndpointDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint details of each endpoint in the dataflow endpoint group.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags of a dataflow endpoint group.</p>"
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, before a contact starts that the Ground Station Dataflow Endpoint Group will be in a <code>PREPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>PREPASS</code> state.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, after a contact ends that the Ground Station Dataflow Endpoint Group will be in a <code>POSTPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>POSTPASS</code> state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#CreateEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#EphemerisIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Ephemeris with the specified <code>EphemerisData</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ephemeris"
        }
      }
    },
    "com.amazonaws.groundstation#CreateEphemerisRequest": {
      "type": "structure",
      "members": {
        "satelliteId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>AWS Ground Station satellite ID for this ephemeris.</p>",
            "smithy.api#required": {}
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether to set the ephemeris status to <code>ENABLED</code> after validation.</p>\n         <p>Setting this to false will set the ephemeris status to <code>DISABLED</code> after validation.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.groundstation#CustomerEphemerisPriority",
          "traits": {
            "smithy.api#documentation": "<p>Customer-provided priority score to establish the order in which overlapping ephemerides should be used.</p>\n         <p>The default for customer-provided ephemeris priority is 1, and higher numbers take precedence.</p>\n         <p>Priority must be 1 or greater</p>"
          }
        },
        "expirationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>An overall expiration time for the ephemeris in UTC, after which it will become <code>EXPIRED</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name string associated with the ephemeris. Used as a human-readable identifier for the ephemeris.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
          "target": "com.amazonaws.groundstation#KeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a KMS key used to encrypt the ephemeris in Ground Station.</p>"
          }
        },
        "ephemeris": {
          "target": "com.amazonaws.groundstation#EphemerisData",
          "traits": {
            "smithy.api#documentation": "<p>Ephemeris data.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to an ephemeris.</p>"
          }
        }
      }
    },
    "com.amazonaws.groundstation#CreateMissionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#CreateMissionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#MissionProfileIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mission profile.</p>\n         <p>\n            <code>dataflowEdges</code> is a list of lists of strings. Each lower level list of strings\n         has two elements: a <i>from</i> ARN and a <i>to</i> ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/missionprofile"
        }
      }
    },
    "com.amazonaws.groundstation#CreateMissionProfileRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a mission profile.</p>",
            "smithy.api#required": {}
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "minimumViableContactDurationSeconds": {
          "target": "com.amazonaws.groundstation#PositiveDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Smallest amount of time in seconds that you’d like to see for an available contact. AWS Ground Station will not present you with contacts shorter than this duration.</p>",
            "smithy.api#required": {}
          }
        },
        "dataflowEdges": {
          "target": "com.amazonaws.groundstation#DataflowEdgeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of lists of ARNs. Each list of ARNs is an edge, with a <i>from</i>\n            <code>Config</code> and a <i>to</i>\n            <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "trackingConfigArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a tracking <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a mission profile.</p>"
          }
        },
        "streamsKmsKey": {
          "target": "com.amazonaws.groundstation#KmsKey",
          "traits": {
            "smithy.api#documentation": "<p>KMS key to use for encrypting streams.</p>"
          }
        },
        "streamsKmsRole": {
          "target": "com.amazonaws.groundstation#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>Role to use for encrypting streams with KMS key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#Criticality": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PREFERRED",
            "name": "PREFERRED"
          },
          {
            "value": "REMOVED",
            "name": "REMOVED"
          },
          {
            "value": "REQUIRED",
            "name": "REQUIRED"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#CustomerEphemerisPriority": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 99999
        }
      }
    },
    "com.amazonaws.groundstation#DataflowDetail": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.groundstation#Source"
        },
        "destination": {
          "target": "com.amazonaws.groundstation#Destination"
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message for a dataflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a dataflow edge used in a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEdge": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#ConfigArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEdgeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowEdge"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpoint": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a dataflow endpoint.</p>"
          }
        },
        "address": {
          "target": "com.amazonaws.groundstation#SocketAddress",
          "traits": {
            "smithy.api#documentation": "<p>Socket address of a dataflow endpoint.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#EndpointStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a dataflow endpoint.</p>"
          }
        },
        "mtu": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Maximum transmission unit (MTU) size in bytes of a dataflow endpoint.</p>",
            "smithy.api#range": {
              "min": 1400,
              "max": 1500
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a dataflow endpoint.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointConfig": {
      "type": "structure",
      "members": {
        "dataflowEndpointName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a dataflow endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "dataflowEndpointRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a dataflow endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the dataflow endpoint <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroup": {
      "type": "resource",
      "identifiers": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateDataflowEndpointGroup"
      },
      "read": {
        "target": "com.amazonaws.groundstation#GetDataflowEndpointGroup"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteDataflowEndpointGroup"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListDataflowEndpointGroups"
      },
      "traits": {
        "aws.api#arn": {
          "template": "dataflow-endpoint-group/{dataflowEndpointGroupId}"
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::GroundStation::DataflowEndpointGroup",
          "service": "GroundStation",
          "resource": "DataflowEndpointGroup"
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 120,
          "max": 480
        }
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowEndpointListItem"
      }
    },
    "com.amazonaws.groundstation#DataflowEndpointListItem": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>"
          }
        },
        "dataflowEndpointGroupArn": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a dataflow endpoint group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Item in a list of <code>DataflowEndpoint</code> groups.</p>"
      }
    },
    "com.amazonaws.groundstation#DataflowList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#DataflowDetail"
      }
    },
    "com.amazonaws.groundstation#DecodeConfig": {
      "type": "structure",
      "members": {
        "unvalidatedJSON": {
          "target": "com.amazonaws.groundstation#JsonString",
          "traits": {
            "smithy.api#documentation": "<p>Unvalidated JSON of a decode <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the decode <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DeleteConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#ConfigIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <code>Config</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/config/{configType}/{configId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteConfigRequest": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DeleteDataflowEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteDataflowEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DataflowEndpointGroupIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a dataflow endpoint group.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteDataflowEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DeleteEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#EphemerisIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an ephemeris</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ephemeris/{ephemerisId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteEphemerisRequest": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.groundstation#DeleteMissionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DeleteMissionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#MissionProfileIdResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a mission profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/missionprofile/{missionProfileId}"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.groundstation#DeleteMissionProfileRequest": {
      "type": "structure",
      "members": {
        "missionProfileId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a mission profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DemodulationConfig": {
      "type": "structure",
      "members": {
        "unvalidatedJSON": {
          "target": "com.amazonaws.groundstation#JsonString",
          "traits": {
            "smithy.api#documentation": "<p>Unvalidated JSON of a demodulation <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the demodulation <code>Config</code>.</p>"
      }
    },
    "com.amazonaws.groundstation#DependencyException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "parameterName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dependency encountered an error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 531
      }
    },
    "com.amazonaws.groundstation#DescribeContact": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DescribeContactRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DescribeContactResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an existing contact.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/contact/{contactId}"
        },
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ContactScheduled": {
            "documentation": "Waits until a contact has been scheduled",
            "minDelay": 5,
            "maxDelay": 900,
            "acceptors": [
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "contactStatus",
                    "comparator": "stringEquals",
                    "expected": "FAILED_TO_SCHEDULE"
                  }
                }
              },
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "contactStatus",
                    "comparator": "stringEquals",
                    "expected": "SCHEDULED"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.groundstation#DescribeContactRequest": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#DescribeContactResponse": {
      "type": "structure",
      "members": {
        "contactId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a contact.</p>"
          }
        },
        "missionProfileArn": {
          "target": "com.amazonaws.groundstation#MissionProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a mission profile.</p>"
          }
        },
        "satelliteArn": {
          "target": "com.amazonaws.groundstation#satelliteArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a satellite.</p>"
          }
        },
        "startTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Start time of a contact in UTC.</p>"
          }
        },
        "endTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>End time of a contact in UTC.</p>"
          }
        },
        "prePassStartTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "postPassEndTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "groundStation": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Ground station for a contact.</p>"
          }
        },
        "contactStatus": {
          "target": "com.amazonaws.groundstation#ContactStatus",
          "traits": {
            "smithy.api#documentation": "<p>Status of a contact.</p>"
          }
        },
        "errorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Error message for a contact.</p>"
          }
        },
        "maximumElevation": {
          "target": "com.amazonaws.groundstation#Elevation",
          "traits": {
            "smithy.api#documentation": "<p>Maximum elevation angle of a contact.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a contact.</p>"
          }
        },
        "region": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a contact.</p>"
          }
        },
        "dataflowList": {
          "target": "com.amazonaws.groundstation#DataflowList",
          "traits": {
            "smithy.api#documentation": "<p>List describing source and destination details for each dataflow edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Contact"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#DescribeEphemeris": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#DescribeEphemerisRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#DescribeEphemerisResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an existing ephemeris.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/ephemeris/{ephemerisId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#DescribeEphemerisRequest": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.groundstation#DescribeEphemerisResponse": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>"
          }
        },
        "satelliteId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station satellite ID associated with ephemeris.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#EphemerisStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ephemeris.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.groundstation#EphemerisPriority",
          "traits": {
            "smithy.api#documentation": "<p>Customer-provided priority score to establish the order in which overlapping ephemerides should be used.</p>\n         <p>The default for customer-provided ephemeris priority is 1, and higher numbers take precedence.</p>\n         <p>Priority must be 1 or greater</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the ephemeris was uploaded in UTC.</p>"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether or not the ephemeris is enabled.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name string associated with the ephemeris. Used as a human-readable identifier for the ephemeris.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to an ephemeris.</p>"
          }
        },
        "suppliedData": {
          "target": "com.amazonaws.groundstation#EphemerisTypeDescription",
          "traits": {
            "smithy.api#documentation": "<p>Supplied ephemeris data.</p>"
          }
        },
        "invalidReason": {
          "target": "com.amazonaws.groundstation#EphemerisInvalidReason",
          "traits": {
            "smithy.api#documentation": "<p>Reason that an ephemeris failed validation. Only provided for ephemerides with <code>INVALID</code> status.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.groundstation#Ephemeris"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#Destination": {
      "type": "structure",
      "members": {
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>"
          }
        },
        "configDetails": {
          "target": "com.amazonaws.groundstation#ConfigDetails",
          "traits": {
            "smithy.api#documentation": "<p>Additional details for a <code>Config</code>, if type is dataflow endpoint or antenna demod decode.</p>"
          }
        },
        "dataflowDestinationRegion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Region of a dataflow destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dataflow details for the destination side.</p>"
      }
    },
    "com.amazonaws.groundstation#DiscoveryData": {
      "type": "structure",
      "members": {
        "publicIpAddresses": {
          "target": "com.amazonaws.groundstation#IpAddressList",
          "traits": {
            "smithy.api#documentation": "<p>List of public IP addresses to associate with agent.</p>",
            "smithy.api#required": {}
          }
        },
        "privateIpAddresses": {
          "target": "com.amazonaws.groundstation#IpAddressList",
          "traits": {
            "smithy.api#documentation": "<p>List of private IP addresses to associate with agent.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilityArns": {
          "target": "com.amazonaws.groundstation#CapabilityArnList",
          "traits": {
            "smithy.api#documentation": "<p>List of capabilities to associate with agent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Data for agent discovery.</p>"
      }
    },
    "com.amazonaws.groundstation#DurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 21600
        }
      }
    },
    "com.amazonaws.groundstation#Eirp": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Value of an EIRP. Valid values are between 20.0 to 50.0 dBW.</p>",
            "smithy.api#required": {}
          }
        },
        "units": {
          "target": "com.amazonaws.groundstation#EirpUnits",
          "traits": {
            "smithy.api#documentation": "<p>Units of an EIRP.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that represents EIRP.</p>"
      }
    },
    "com.amazonaws.groundstation#EirpUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "dBW",
            "name": "DBW"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#Elevation": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Elevation angle value.</p>",
            "smithy.api#required": {}
          }
        },
        "unit": {
          "target": "com.amazonaws.groundstation#AngleUnits",
          "traits": {
            "smithy.api#documentation": "<p>Elevation angle units.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Elevation angle of the satellite in the sky during a contact.</p>"
      }
    },
    "com.amazonaws.groundstation#EndpointDetails": {
      "type": "structure",
      "members": {
        "securityDetails": {
          "target": "com.amazonaws.groundstation#SecurityDetails",
          "traits": {
            "smithy.api#documentation": "<p>Endpoint security details including a list of subnets, a list of security groups and a role to connect streams to instances.</p>"
          }
        },
        "endpoint": {
          "target": "com.amazonaws.groundstation#DataflowEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>A dataflow endpoint.</p>"
          }
        },
        "awsGroundStationAgentEndpoint": {
          "target": "com.amazonaws.groundstation#AwsGroundStationAgentEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>An agent endpoint.</p>"
          }
        },
        "healthStatus": {
          "target": "com.amazonaws.groundstation#CapabilityHealth",
          "traits": {
            "smithy.api#documentation": "<p>A dataflow endpoint health status. This field is ignored when calling <code>CreateDataflowEndpointGroup</code>.</p>"
          }
        },
        "healthReasons": {
          "target": "com.amazonaws.groundstation#CapabilityHealthReasonList",
          "traits": {
            "smithy.api#documentation": "<p>Health reasons for a dataflow endpoint. This field is ignored when calling <code>CreateDataflowEndpointGroup</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the endpoint details.</p>"
      }
    },
    "com.amazonaws.groundstation#EndpointDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EndpointDetails"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#EndpointStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "created",
            "name": "created"
          },
          {
            "value": "creating",
            "name": "creating"
          },
          {
            "value": "deleted",
            "name": "deleted"
          },
          {
            "value": "deleting",
            "name": "deleting"
          },
          {
            "value": "failed",
            "name": "failed"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#EphemeridesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EphemerisItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#Ephemeris": {
      "type": "resource",
      "identifiers": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid"
        }
      },
      "create": {
        "target": "com.amazonaws.groundstation#CreateEphemeris"
      },
      "read": {
        "target": "com.amazonaws.groundstation#DescribeEphemeris"
      },
      "update": {
        "target": "com.amazonaws.groundstation#UpdateEphemeris"
      },
      "delete": {
        "target": "com.amazonaws.groundstation#DeleteEphemeris"
      },
      "list": {
        "target": "com.amazonaws.groundstation#ListEphemerides"
      },
      "traits": {
        "aws.api#arn": {
          "template": "ephemeris/{ephemerisId}"
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisData": {
      "type": "union",
      "members": {
        "tle": {
          "target": "com.amazonaws.groundstation#TLEEphemeris"
        },
        "oem": {
          "target": "com.amazonaws.groundstation#OEMEphemeris"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ephemeris data.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisDescription": {
      "type": "structure",
      "members": {
        "sourceS3Object": {
          "target": "com.amazonaws.groundstation#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>Source S3 object used for the ephemeris.</p>"
          }
        },
        "ephemerisData": {
          "target": "com.amazonaws.groundstation#UnboundedString",
          "traits": {
            "smithy.api#documentation": "<p>Supplied ephemeris data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Description of ephemeris.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisIdResponse": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisInvalidReason": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "METADATA_INVALID",
            "name": "METADATA_INVALID",
            "documentation": "Provided spacecraft identifiers such as spacecraft NORAD Id are invalid"
          },
          {
            "value": "TIME_RANGE_INVALID",
            "name": "TIME_RANGE_INVALID",
            "documentation": "Start, end, or expiration time(s) are invalid for the provided ephemeris"
          },
          {
            "value": "TRAJECTORY_INVALID",
            "name": "TRAJECTORY_INVALID",
            "documentation": "Provided ephemeris defines invalid spacecraft trajectory"
          },
          {
            "value": "KMS_KEY_INVALID",
            "name": "KMS_KEY_INVALID",
            "documentation": "Provided KMS key is invalid"
          },
          {
            "value": "VALIDATION_ERROR",
            "name": "VALIDATION_ERROR",
            "documentation": "Internal Service Error occurred while processing ephemeris"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#EphemerisItem": {
      "type": "structure",
      "members": {
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Ground Station ephemeris ID.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.groundstation#EphemerisStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the ephemeris.</p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.groundstation#EphemerisPriority",
          "traits": {
            "smithy.api#documentation": "<p>Customer-provided priority score to establish the order in which overlapping ephemerides should be used.</p>\n         <p>The default for customer-provided ephemeris priority is 1, and higher numbers take precedence.</p>\n         <p>Priority must be 1 or greater</p>"
          }
        },
        "enabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether or not the ephemeris is enabled.</p>"
          }
        },
        "creationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the ephemeris was uploaded in UTC.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name string associated with the ephemeris. Used as a human-readable identifier for the ephemeris.</p>"
          }
        },
        "sourceS3Object": {
          "target": "com.amazonaws.groundstation#S3Object",
          "traits": {
            "smithy.api#documentation": "<p>Source S3 object used for the ephemeris.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ephemeris item.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisMetaData": {
      "type": "structure",
      "members": {
        "source": {
          "target": "com.amazonaws.groundstation#EphemerisSource",
          "traits": {
            "smithy.api#documentation": "<p>The <code>EphemerisSource</code> that generated a given ephemeris.</p>",
            "smithy.api#required": {}
          }
        },
        "ephemerisId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a customer-provided ephemeris.</p>\n         <p>This field is not populated for default ephemerides from Space Track.</p>"
          }
        },
        "epoch": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The epoch of a default, ephemeris from Space Track in UTC.</p>\n         <p>This field is not populated for customer-provided ephemerides.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>A name string associated with the ephemeris. Used as a human-readable identifier for the ephemeris.</p>\n         <p>A name is only returned for customer-provider ephemerides that have a name associated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata describing a particular ephemeris.</p>"
      }
    },
    "com.amazonaws.groundstation#EphemerisPriority": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 99999
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisSource": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CUSTOMER_PROVIDED",
            "name": "CUSTOMER_PROVIDED"
          },
          {
            "value": "SPACE_TRACK",
            "name": "SPACE_TRACK"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#EphemerisStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "VALIDATING",
            "name": "VALIDATING"
          },
          {
            "value": "INVALID",
            "name": "INVALID"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#EphemerisStatusList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.groundstation#EphemerisStatus"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.groundstation#EphemerisTypeDescription": {
      "type": "union",
      "members": {
        "tle": {
          "target": "com.amazonaws.groundstation#EphemerisDescription"
        },
        "oem": {
          "target": "com.amazonaws.groundstation#EphemerisDescription"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#Frequency": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Frequency value. Valid values are between 2200 to 2300 MHz and 7750 to 8400 MHz for downlink and 2025 to 2120 MHz for uplink.</p>",
            "smithy.api#required": {}
          }
        },
        "units": {
          "target": "com.amazonaws.groundstation#FrequencyUnits",
          "traits": {
            "smithy.api#documentation": "<p>Frequency units.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that describes the frequency.</p>"
      }
    },
    "com.amazonaws.groundstation#FrequencyBandwidth": {
      "type": "structure",
      "members": {
        "value": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>Frequency bandwidth value. AWS Ground Station currently has the following bandwidth limitations:</p>\n         <ul>\n            <li>\n               <p>For <code>AntennaDownlinkDemodDecodeconfig</code>, valid values are between 125 kHz to 650 MHz.</p>\n            </li>\n            <li>\n               <p>For <code>AntennaDownlinkconfig</code>, valid values are between 10 kHz to 54 MHz.</p>\n            </li>\n            <li>\n               <p>For <code>AntennaUplinkConfig</code>, valid values are between 10 kHz to 54 MHz.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "units": {
          "target": "com.amazonaws.groundstation#BandwidthUnits",
          "traits": {
            "smithy.api#documentation": "<p>Frequency bandwidth units.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that describes the frequency bandwidth. </p>"
      }
    },
    "com.amazonaws.groundstation#FrequencyUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GHz",
            "name": "GHZ"
          },
          {
            "value": "MHz",
            "name": "MHZ"
          },
          {
            "value": "kHz",
            "name": "KHZ"
          }
        ]
      }
    },
    "com.amazonaws.groundstation#GetAgentConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#GetAgentConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#GetAgentConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<note>\n            <p> For use by AWS Ground Station Agent and shouldn't be called directly.</p>\n         </note>\n         <p>Gets the latest configuration information for a registered agent.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/agent/{agentId}/configuration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#GetAgentConfigurationRequest": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of agent to get configuration information for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.groundstation#GetAgentConfigurationResponse": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of agent.</p>"
          }
        },
        "taskingDocument": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Tasking document for agent.</p>"
          }
        }
      }
    },
    "com.amazonaws.groundstation#GetConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#GetConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#GetConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns <code>Config</code> information.</p>\n         <p>Only one <code>Config</code> response can be returned.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/config/{configType}/{configId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#GetConfigRequest": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetConfigResponse": {
      "type": "structure",
      "members": {
        "configId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "configArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a <code>Config</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "configType": {
          "target": "com.amazonaws.groundstation#ConfigCapabilityType",
          "traits": {
            "smithy.api#documentation": "<p>Type of a <code>Config</code>.</p>"
          }
        },
        "configData": {
          "target": "com.amazonaws.groundstation#ConfigTypeData",
          "traits": {
            "smithy.api#documentation": "<p>Data elements in a <code>Config</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a <code>Config</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetDataflowEndpointGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#GetDataflowEndpointGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#GetDataflowEndpointGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the dataflow endpoint group.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/dataflowEndpointGroup/{dataflowEndpointGroupId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#GetDataflowEndpointGroupRequest": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetDataflowEndpointGroupResponse": {
      "type": "structure",
      "members": {
        "dataflowEndpointGroupId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a dataflow endpoint group.</p>"
          }
        },
        "dataflowEndpointGroupArn": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a dataflow endpoint group.</p>"
          }
        },
        "endpointsDetails": {
          "target": "com.amazonaws.groundstation#EndpointDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>Details of a dataflow endpoint.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to a dataflow endpoint group.</p>"
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, before a contact starts that the Ground Station Dataflow Endpoint Group will be in a <code>PREPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>PREPASS</code> state.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DataflowEndpointGroupDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time, in seconds, after a contact ends that the Ground Station Dataflow Endpoint Group will be in a <code>POSTPASS</code> state. A Ground Station Dataflow Endpoint Group State Change event will be emitted when the Dataflow Endpoint Group enters and exits the <code>POSTPASS</code> state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetMinuteUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#GetMinuteUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#GetMinuteUsageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of reserved minutes used by account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/minute-usage"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#GetMinuteUsageRequest": {
      "type": "structure",
      "members": {
        "month": {
          "target": "com.amazonaws.groundstation#Month",
          "traits": {
            "smithy.api#documentation": "<p>The month being requested, with a value of 1-12.</p>",
            "smithy.api#required": {}
          }
        },
        "year": {
          "target": "com.amazonaws.groundstation#Year",
          "traits": {
            "smithy.api#documentation": "<p>The year being requested, in the format of YYYY.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetMinuteUsageResponse": {
      "type": "structure",
      "members": {
        "isReservedMinutesCustomer": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Returns whether or not an account has signed up for the reserved minutes pricing plan, specific to the month being requested.</p>"
          }
        },
        "totalReservedMinuteAllocation": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Total number of reserved minutes allocated, specific to the month being requested.</p>"
          }
        },
        "upcomingMinutesScheduled": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Upcoming minutes scheduled for an account, specific to the month being requested.</p>"
          }
        },
        "totalScheduledMinutes": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Total scheduled minutes for an account, specific to the month being requested.</p>"
          }
        },
        "estimatedMinutesRemaining": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Estimated number of minutes remaining for an account, specific to the month being requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetMissionProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.groundstation#GetMissionProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.groundstation#GetMissionProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.groundstation#DependencyException"
        },
        {
          "target": "com.amazonaws.groundstation#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.groundstation#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a mission profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/missionprofile/{missionProfileId}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.groundstation#GetMissionProfileRequest": {
      "type": "structure",
      "members": {
        "missionProfileId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a mission profile.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.groundstation#GetMissionProfileResponse": {
      "type": "structure",
      "members": {
        "missionProfileId": {
          "target": "com.amazonaws.groundstation#Uuid",
          "traits": {
            "smithy.api#documentation": "<p>UUID of a mission profile.</p>"
          }
        },
        "missionProfileArn": {
          "target": "com.amazonaws.groundstation#MissionProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a mission profile.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.groundstation#SafeName",
          "traits": {
            "smithy.api#documentation": "<p>Name of a mission profile.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.groundstation#AWSRegion",
          "traits": {
            "smithy.api#documentation": "<p>Region of a mission profile.</p>"
          }
        },
        "contactPrePassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time prior to contact start you’d like to receive a CloudWatch event indicating an upcoming pass.</p>"
          }
        },
        "contactPostPassDurationSeconds": {
          "target": "com.amazonaws.groundstation#DurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time after a contact ends that you’d like to receive a CloudWatch event indicating the pass has finished.</p>"
          }
        },
        "minimumViableContactDurationSeconds": {
          "target": "com.amazonaws.groundstation#PositiveDurationInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Smallest amount of time in seconds that you’d like to see for an available contact. AWS Ground Station will not present you with contacts shorter than this duration.</p>"
          }
        },
        "dataflowEdges": {
          "target": "com.amazonaws.groundstation#DataflowEdgeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of lists of ARNs. Each list of ARNs is an edge, with a <i>from</i>\n            <code>Config</code> and a <i>to</i>\n            <code>Config</code>.</p>"
          }
        },
        "trackingConfigArn": {
          "target": "com.amazonaws.groundstation#ConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of a tracking <code>Config</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.groundstation#TagsMap",
          "traits": {
[...]
