{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.guardduty#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be monitored by a master GuardDuty account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>This value is used to validate the master account to the member account.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        },
        "MasterId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the master GuardDuty account whose invitation you're accepting.</p>",
            "smithy.api#jsonName": "masterId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#AccessKeyDetails": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Access key ID of the user.</p>",
            "smithy.api#jsonName": "accessKeyId"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID of the user.</p>",
            "smithy.api#jsonName": "principalId"
          }
        },
        "UserName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user.</p>",
            "smithy.api#jsonName": "userName"
          }
        },
        "UserType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the user.</p>",
            "smithy.api#jsonName": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the access keys.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetail": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>Member account ID.</p>",
            "smithy.api#jsonName": "accountId",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.guardduty#Email",
          "traits": {
            "smithy.api#documentation": "<p>Member account's email address.</p>",
            "smithy.api#jsonName": "email",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        }
      }
    },
    "com.amazonaws.guardduty#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#Action": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>GuardDuty Finding activity type.</p>",
            "smithy.api#jsonName": "actionType"
          }
        },
        "AwsApiCallAction": {
          "target": "com.amazonaws.guardduty#AwsApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the AWS_API_CALL action described in this finding.</p>",
            "smithy.api#jsonName": "awsApiCallAction"
          }
        },
        "DnsRequestAction": {
          "target": "com.amazonaws.guardduty#DnsRequestAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the DNS_REQUEST action described in this finding.</p>",
            "smithy.api#jsonName": "dnsRequestAction"
          }
        },
        "NetworkConnectionAction": {
          "target": "com.amazonaws.guardduty#NetworkConnectionAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the NETWORK_CONNECTION action described in this finding.</p>",
            "smithy.api#jsonName": "networkConnectionAction"
          }
        },
        "PortProbeAction": {
          "target": "com.amazonaws.guardduty#PortProbeAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the PORT_PROBE action described in this finding.</p>",
            "smithy.api#jsonName": "portProbeAction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about action.</p>"
      }
    },
    "com.amazonaws.guardduty#ArchiveFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Archives GuardDuty findings specified by the list of finding IDs.</p>\n         <note>\n            <p>Only the master account can archive findings. Member accounts do not have permission to\n        archive findings from their accounts.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/archive",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings you want to\n      archive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingIds": {
          "target": "com.amazonaws.guardduty#FindingIds",
          "traits": {
            "smithy.api#documentation": "<p>IDs of the findings that you want to archive.</p>",
            "smithy.api#jsonName": "findingIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#AwsApiCallAction": {
      "type": "structure",
      "members": {
        "Api": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>AWS API name.</p>",
            "smithy.api#jsonName": "api"
          }
        },
        "CallerType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>AWS API caller type.</p>",
            "smithy.api#jsonName": "callerType"
          }
        },
        "DomainDetails": {
          "target": "com.amazonaws.guardduty#DomainDetails",
          "traits": {
            "smithy.api#documentation": "<p>Domain information for the AWS API call.</p>",
            "smithy.api#jsonName": "domainDetails"
          }
        },
        "RemoteIpDetails": {
          "target": "com.amazonaws.guardduty#RemoteIpDetails",
          "traits": {
            "smithy.api#documentation": "<p>Remote IP information of the connection.</p>",
            "smithy.api#jsonName": "remoteIpDetails"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>AWS service name whose API was invoked.</p>",
            "smithy.api#jsonName": "serviceName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the API operation.</p>"
      }
    },
    "com.amazonaws.guardduty#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#jsonName": "message"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error type.</p>",
            "smithy.api#jsonName": "__type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Bad request exception object.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.guardduty#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.guardduty#City": {
      "type": "structure",
      "members": {
        "CityName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>City name of the remote IP address.</p>",
            "smithy.api#jsonName": "cityName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the city associated with the IP address.</p>"
      }
    },
    "com.amazonaws.guardduty#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.guardduty#Condition": {
      "type": "structure",
      "members": {
        "Eq": {
          "target": "com.amazonaws.guardduty#Eq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the equal condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "eq"
          }
        },
        "Equals": {
          "target": "com.amazonaws.guardduty#Equals",
          "traits": {
            "smithy.api#documentation": "<p>Represents an <b>equal</b> condition to be applied to a single\n      field when querying for findings.</p>",
            "smithy.api#jsonName": "equals"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a greater than condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "greaterThan"
          }
        },
        "GreaterThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a greater than equal condition to be applied to a single field when querying\n      for findings.</p>",
            "smithy.api#jsonName": "greaterThanOrEqual"
          }
        },
        "Gt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a greater than condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "gt"
          }
        },
        "Gte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a greater than equal condition to be applied to a single field when querying\n      for findings.</p>",
            "smithy.api#jsonName": "gte"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a less than condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "lessThan"
          }
        },
        "LessThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a less than equal condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "lessThanOrEqual"
          }
        },
        "Lt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a less than condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "lt"
          }
        },
        "Lte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a less than equal condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "lte"
          }
        },
        "Neq": {
          "target": "com.amazonaws.guardduty#Neq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the not equal condition to be applied to a single field when querying for\n      findings.</p>",
            "smithy.api#jsonName": "neq"
          }
        },
        "NotEquals": {
          "target": "com.amazonaws.guardduty#NotEquals",
          "traits": {
            "smithy.api#documentation": "<p>Represents an <b>not equal</b> condition to be applied to a\n      single field when querying for findings.</p>",
            "smithy.api#jsonName": "notEquals"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the condition.</p>"
      }
    },
    "com.amazonaws.guardduty#CountBySeverity": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Integer"
      }
    },
    "com.amazonaws.guardduty#Country": {
      "type": "structure",
      "members": {
        "CountryCode": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Country code of the remote IP address.</p>",
            "smithy.api#jsonName": "countryCode"
          }
        },
        "CountryName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Country name of the remote IP address.</p>",
            "smithy.api#jsonName": "countryName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the country in which the remote IP address is located.</p>"
      }
    },
    "com.amazonaws.guardduty#CreateDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a single Amazon GuardDuty detector. A detector is a resource that represents the\n      GuardDuty service. To start using GuardDuty, you must create a detector in each region that\n      you enable the service. You can have only one detector per account per region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetectorRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "Enable": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that specifies whether the detector is to be enabled.</p>",
            "smithy.api#jsonName": "enable",
            "smithy.api#required": {}
          }
        },
        "FindingPublishingFrequency": {
          "target": "com.amazonaws.guardduty#FindingPublishingFrequency",
          "traits": {
            "smithy.api#documentation": "<p>A enum value that specifies how frequently customer got Finding updates published.</p>",
            "smithy.api#jsonName": "findingPublishingFrequency"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new detector resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetectorResponse": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the created detector.</p>",
            "smithy.api#jsonName": "detectorId"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a filter using the specified finding criteria.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/filter",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilterRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.guardduty#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#jsonName": "action"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "Description": {
          "target": "com.amazonaws.guardduty#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the filter.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account for which you want to create a\n      filter.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingCriteria": {
          "target": "com.amazonaws.guardduty#FindingCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria to be used in the filter for querying findings.</p>",
            "smithy.api#jsonName": "findingCriteria",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Rank": {
          "target": "com.amazonaws.guardduty#FilterRank",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the position of the filter in the list of current filters. Also specifies the\n      order in which this filter is applied to the findings.</p>",
            "smithy.api#jsonName": "rank"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new filter resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilterResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the successfully created filter.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new IPSet, called Trusted IP list in the consoler user interface. An IPSet is a\n      list IP addresses trusted for secure communication with AWS infrastructure and applications.\n      GuardDuty does not generate findings for IP addresses included in IPSets. Only users from the\n      master account can use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/ipset",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "Activate": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that indicates whether GuardDuty is to start using the uploaded\n      IPSet.</p>",
            "smithy.api#jsonName": "activate",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account for which you want to create an\n      IPSet.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.guardduty#IpSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the file that contains the IPSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the IPSet. For example\n      (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key)</p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>The user friendly name to identify the IPSet. This name is displayed in all findings that\n      are triggered by activity that involves IP addresses included in this IPSet.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new IP set resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "IpSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IPSet resource.</p>",
            "smithy.api#jsonName": "ipSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates member accounts of the current AWS account by specifying a list of AWS account\n      IDs. The current AWS account can then invite these members to manage GuardDuty in their\n      accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "AccountDetails": {
          "target": "com.amazonaws.guardduty#AccountDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the accounts that you want to associate\n      with the master GuardDuty account.</p>",
            "smithy.api#jsonName": "accountDetails",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account with which you want to associate\n      member accounts.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the unprocessed account and a result string explaining why it\n      was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreatePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreatePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a publishing destination to send findings to. The resource to send findings to must exist before you use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/publishingDestination",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "DestinationProperties": {
          "target": "com.amazonaws.guardduty#DestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the publishing destination, including the ARNs for the destination and the\n      KMS key used for encryption.</p>",
            "smithy.api#jsonName": "destinationProperties",
            "smithy.api#required": {}
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.guardduty#DestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource for the publishing destination. Currently only S3 is\n      supported.</p>",
            "smithy.api#jsonName": "destinationType",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the GuardDuty detector associated with the publishing destination.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestinationResponse": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination created.</p>",
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateSampleFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateSampleFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates example findings of types specified by the list of finding types. If 'NULL' is\n      specified for <code>findingTypes</code>, the API generates example findings of all supported\n      finding types.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/create",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector to create sample findings for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingTypes": {
          "target": "com.amazonaws.guardduty#FindingTypes",
          "traits": {
            "smithy.api#documentation": "<p>Types of sample findings to generate.</p>",
            "smithy.api#jsonName": "findingTypes"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#CreateThreatIntelSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateThreatIntelSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateThreatIntelSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a new ThreatIntelSet. ThreatIntelSets consist of known malicious IP addresses.\n      GuardDuty generates findings based on ThreatIntelSets. Only users of the master account can\n      use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/threatintelset",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateThreatIntelSetRequest": {
      "type": "structure",
      "members": {
        "Activate": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A boolean value that indicates whether GuardDuty is to start using the uploaded\n      ThreatIntelSet.</p>",
            "smithy.api#jsonName": "activate",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account for which you want to create a\n      threatIntelSet.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.guardduty#ThreatIntelSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the file that contains the ThreatIntelSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the ThreatIntelSet. For example\n      (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key).</p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly ThreatIntelSet name that is displayed in all finding generated by activity\n      that involves IP addresses included in this ThreatIntelSet.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new Threat List resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateThreatIntelSetResponse": {
      "type": "structure",
      "members": {
        "ThreatIntelSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ThreatIntelSet resource.</p>",
            "smithy.api#jsonName": "threatIntelSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#Criterion": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Condition"
      }
    },
    "com.amazonaws.guardduty#DeclineInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeclineInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeclineInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Declines invitations sent to the current member account by AWS account specified by their\n      account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/decline",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeclineInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the AWS accounts that sent invitations to the current member\n      account that you want to decline invitations from.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeclineInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the unprocessed account and a result string explaining why it\n      was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Amazon GuardDuty detector specified by the detector ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteDetectorRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the filter specified by the filter name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/filter/{FilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteFilterRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector the filter is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FilterName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "filterName",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteFilterResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the IPSet specified by the <code>ipSetId</code>. IPSets are called Trusted IP lists in the console user interface.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/ipset/{IpSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteIPSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the IPSet.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "IpSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the IPSet to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "ipSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteIPSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes invitations sent to the current member account by AWS accounts specified by their\n      account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the AWS accounts that sent invitations to the current member\n      account that you want to delete invitations from.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the unprocessed account and a result string explaining why it\n      was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes GuardDuty member accounts (to the current GuardDuty master account) specified by\n      the account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the GuardDuty member accounts that you want to delete.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account whose members you want to\n      delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>The accounts that could not be processed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeletePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeletePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the publishing definition with the specified <code>destinationId</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/publishingDestination/{DestinationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the publishing destination to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestinationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteThreatIntelSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteThreatIntelSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes ThreatIntelSet specified by the ThreatIntelSet ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/threatintelset/{ThreatIntelSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector the threatIntelSet is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "ThreatIntelSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the threatIntelSet you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "threatIntelSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DescribePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DescribePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DescribePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the publishing destination specified by the provided\n      <code>destinationId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/publishingDestination/{DestinationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DescribePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the publishing destination to\n      retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribePublishingDestinationResponse": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination.</p>",
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        },
        "DestinationProperties": {
          "target": "com.amazonaws.guardduty#DestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>A <code>DestinationProperties</code> object that includes the <code>DestinationArn</code>\n      and <code>KmsKeyArn</code> of the publishing destination.</p>",
            "smithy.api#jsonName": "destinationProperties",
            "smithy.api#required": {}
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.guardduty#DestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the publishing destination. Currently, only S3 is supported.</p>",
            "smithy.api#jsonName": "destinationType",
            "smithy.api#required": {}
          }
        },
        "PublishingFailureStartTimestamp": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>The time, in epoch millisecond format, at which GuardDuty was first unable to publish\n      findings to the destination.</p>",
            "smithy.api#jsonName": "publishingFailureStartTimestamp",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#PublishingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the publishing destination.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#Destination": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the publishing destination.</p>",
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.guardduty#DestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource used for the publishing destination. Currently, only S3 is supported.</p>",
            "smithy.api#jsonName": "destinationType",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#PublishingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the publishing destination.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a publishing destination, including the ID, type, and\n      status.</p>"
      }
    },
    "com.amazonaws.guardduty#DestinationProperties": {
      "type": "structure",
      "members": {
        "DestinationArn": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to publish to.</p>",
            "smithy.api#jsonName": "destinationArn"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key to use for encryption.</p>",
            "smithy.api#jsonName": "kmsKeyArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the ARN of the resource to publish to, such as an S3 bucket, and the ARN of the KMS key to \n      use to encrypt published findings.</p>"
      }
    },
    "com.amazonaws.guardduty#DestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          }
        ],
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#Destinations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#Destination"
      }
    },
    "com.amazonaws.guardduty#DetectorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#DetectorIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#DetectorId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#DetectorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ],
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#DisassociateFromMasterAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DisassociateFromMasterAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DisassociateFromMasterAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates the current GuardDuty member account from its master account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/master/disassociate",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DisassociateFromMasterAccountRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DisassociateFromMasterAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DisassociateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DisassociateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DisassociateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates GuardDuty member accounts (to the current GuardDuty master account)\n      specified by the account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member/disassociate",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DisassociateMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the GuardDuty member accounts that you want to disassociate from\n      master.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account whose members you want to\n      disassociate from master.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DisassociateMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the unprocessed account and a result string explaining why it\n      was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DnsRequestAction": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Domain information for the API request.</p>",
            "smithy.api#jsonName": "domain"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the DNS_REQUEST action described in this finding.</p>"
      }
    },
    "com.amazonaws.guardduty#DomainDetails": {
      "type": "structure",
      "members": {
        "Domain": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Domain information for the AWS API call.</p>",
            "smithy.api#jsonName": "domain"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the domain.</p>"
      }
    },
    "com.amazonaws.guardduty#Double": {
      "type": "double"
    },
    "com.amazonaws.guardduty#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.guardduty#Eq": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#String"
      }
    },
    "com.amazonaws.guardduty#Equals": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#String"
      }
    },
    "com.amazonaws.guardduty#Evidence": {
      "type": "structure",
      "members": {
        "ThreatIntelligenceDetails": {
          "target": "com.amazonaws.guardduty#ThreatIntelligenceDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of threat intelligence details related to the evidence.</p>",
            "smithy.api#jsonName": "threatIntelligenceDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the reason that the finding was generated.</p>"
      }
    },
    "com.amazonaws.guardduty#Feedback": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USEFUL",
            "name": "USEFUL"
          },
          {
            "value": "NOT_USEFUL",
            "name": "NOT_USEFUL"
          }
        ]
      }
    },
    "com.amazonaws.guardduty#FilterAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NOOP",
            "name": "NOOP"
          },
          {
            "value": "ARCHIVE",
            "name": "ARCHIVE"
          }
        ],
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#FilterDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 512
        }
      }
    },
    "com.amazonaws.guardduty#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 64
        }
      }
    },
    "com.amazonaws.guardduty#FilterNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#FilterName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#FilterRank": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.guardduty#Finding": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account in which the finding was generated.</p>",
            "smithy.api#jsonName": "accountId",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the finding.</p>",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        },
        "Confidence": {
          "target": "com.amazonaws.guardduty#Double",
          "traits": {
            "smithy.api#documentation": "<p>The confidence score for the finding.</p>",
            "smithy.api#jsonName": "confidence"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The time and date at which the finding was created.</p>",
            "smithy.api#jsonName": "createdAt",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the finding.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Id": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding.</p>",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "Partition": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The partition associated with the finding.</p>",
            "smithy.api#jsonName": "partition"
          }
        },
        "Region": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Region in which the finding was generated.</p>",
            "smithy.api#jsonName": "region",
            "smithy.api#required": {}
          }
        },
        "Resource": {
          "target": "com.amazonaws.guardduty#Resource",
          "traits": {
            "smithy.api#jsonName": "resource",
            "smithy.api#required": {}
          }
        },
        "SchemaVersion": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the schema used for the finding.</p>",
            "smithy.api#jsonName": "schemaVersion",
            "smithy.api#required": {}
          }
        },
        "Service": {
          "target": "com.amazonaws.guardduty#Service",
          "traits": {
            "smithy.api#jsonName": "service"
          }
        },
        "Severity": {
          "target": "com.amazonaws.guardduty#Double",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the finding.</p>",
            "smithy.api#jsonName": "severity",
            "smithy.api#required": {}
          }
        },
        "Title": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The title for the finding.</p>",
            "smithy.api#jsonName": "title"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#FindingType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the finding.</p>",
            "smithy.api#jsonName": "type",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The time and date at which the finding was laste updated.</p>",
            "smithy.api#jsonName": "updatedAt",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the finding, which is generated when abnormal or suspicious\n      activity is detected.</p>"
      }
    },
    "com.amazonaws.guardduty#FindingCriteria": {
      "type": "structure",
      "members": {
        "Criterion": {
          "target": "com.amazonaws.guardduty#Criterion",
          "traits": {
            "smithy.api#documentation": "<p>Represents a map of finding properties that match specified conditions and values when\n      querying findings.</p>",
            "smithy.api#jsonName": "criterion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the criteria used for querying findings.</p>"
      }
    },
    "com.amazonaws.guardduty#FindingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#FindingIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#FindingId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#FindingPublishingFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FIFTEEN_MINUTES",
            "name": "FIFTEEN_MINUTES"
          },
          {
            "value": "ONE_HOUR",
            "name": "ONE_HOUR"
          },
          {
            "value": "SIX_HOURS",
            "name": "SIX_HOURS"
          }
        ]
      }
    },
    "com.amazonaws.guardduty#FindingStatisticType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COUNT_BY_SEVERITY",
            "name": "COUNT_BY_SEVERITY"
          }
        ]
      }
    },
    "com.amazonaws.guardduty#FindingStatisticTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#FindingStatisticType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.guardduty#FindingStatistics": {
      "type": "structure",
      "members": {
        "CountBySeverity": {
          "target": "com.amazonaws.guardduty#CountBySeverity",
          "traits": {
            "smithy.api#documentation": "<p>Represents a map of severity to count statistic for a set of findings</p>",
            "smithy.api#jsonName": "countBySeverity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about finding statistics.</p>"
      }
    },
    "com.amazonaws.guardduty#FindingType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#FindingTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#FindingType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#Findings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#Finding"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#GeoLocation": {
      "type": "structure",
      "members": {
        "Lat": {
          "target": "com.amazonaws.guardduty#Double",
          "traits": {
            "smithy.api#documentation": "<p>Latitude information of remote IP address.</p>",
            "smithy.api#jsonName": "lat"
          }
        },
        "Lon": {
          "target": "com.amazonaws.guardduty#Double",
          "traits": {
            "smithy.api#documentation": "<p>Longitude information of remote IP address.</p>",
            "smithy.api#jsonName": "lon"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the location of the remote IP address.</p>"
      }
    },
    "com.amazonaws.guardduty#GetDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an Amazon GuardDuty detector specified by the detectorId.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetDetectorRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetDetectorResponse": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Detector creation timestamp.</p>",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "FindingPublishingFrequency": {
          "target": "com.amazonaws.guardduty#FindingPublishingFrequency",
          "traits": {
            "smithy.api#documentation": "<p>Finding publishing frequency.</p>",
            "smithy.api#jsonName": "findingPublishingFrequency"
          }
        },
        "ServiceRole": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The GuardDuty service role.</p>",
            "smithy.api#jsonName": "serviceRole",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#DetectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The detector status.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the detector resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Detector last update timestamp.</p>",
            "smithy.api#jsonName": "updatedAt"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the details of the filter specified by the filter name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/filter/{FilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetFilterRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector the filter is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FilterName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "filterName",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFilterResponse": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.guardduty#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#jsonName": "action",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.guardduty#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the filter.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "FindingCriteria": {
          "target": "com.amazonaws.guardduty#FindingCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria to be used in the filter for querying findings.</p>",
            "smithy.api#jsonName": "findingCriteria",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Rank": {
          "target": "com.amazonaws.guardduty#FilterRank",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the position of the filter in the list of current filters. Also specifies the\n      order in which this filter is applied to the findings.</p>",
            "smithy.api#jsonName": "rank"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the filter resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes Amazon GuardDuty findings specified by finding IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings you want to\n      retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingIds": {
          "target": "com.amazonaws.guardduty#FindingIds",
          "traits": {
            "smithy.api#documentation": "<p>IDs of the findings that you want to retrieve.</p>",
            "smithy.api#jsonName": "findingIds",
            "smithy.api#required": {}
          }
        },
        "SortCriteria": {
          "target": "com.amazonaws.guardduty#SortCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria used for sorting findings.</p>",
            "smithy.api#jsonName": "sortCriteria"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFindingsResponse": {
      "type": "structure",
      "members": {
        "Findings": {
          "target": "com.amazonaws.guardduty#Findings",
          "traits": {
            "smithy.api#documentation": "<p>A list of findings.</p>",
            "smithy.api#jsonName": "findings",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFindingsStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetFindingsStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetFindingsStatisticsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists Amazon GuardDuty findings' statistics for the specified detector ID.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/statistics",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetFindingsStatisticsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings' statistics you\n      want to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingCriteria": {
          "target": "com.amazonaws.guardduty#FindingCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria used for querying findings.</p>",
            "smithy.api#jsonName": "findingCriteria"
          }
        },
        "FindingStatisticTypes": {
          "target": "com.amazonaws.guardduty#FindingStatisticTypes",
          "traits": {
            "smithy.api#documentation": "<p>Types of finding statistics to retrieve.</p>",
            "smithy.api#jsonName": "findingStatisticTypes",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetFindingsStatisticsResponse": {
      "type": "structure",
      "members": {
        "FindingStatistics": {
          "target": "com.amazonaws.guardduty#FindingStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Finding statistics object.</p>",
            "smithy.api#jsonName": "findingStatistics",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the IPSet specified by the <code>ipSetId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/ipset/{IpSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetIPSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector the ipSet is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "IpSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the IPSet to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "ipSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetIPSetResponse": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.guardduty#IpSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the file that contains the IPSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the IPSet. For example\n      (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key)</p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>The user friendly name for the IPSet.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#IpSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of ipSet file uploaded.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the IP set resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetInvitationsCount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetInvitationsCountRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetInvitationsCountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the count of all GuardDuty membership invitations that were sent to the current\n      member account except the currently accepted invitation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/invitation/count",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetInvitationsCountRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#GetInvitationsCountResponse": {
      "type": "structure",
      "members": {
        "InvitationsCount": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of received invitations.</p>",
            "smithy.api#jsonName": "invitationsCount"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetMasterAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetMasterAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetMasterAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides the details for the GuardDuty master account associated with the current\n      GuardDuty member account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetMasterAccountRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetMasterAccountResponse": {
      "type": "structure",
      "members": {
        "Master": {
          "target": "com.amazonaws.guardduty#Master",
          "traits": {
            "smithy.api#documentation": "<p>Master account details.</p>",
            "smithy.api#jsonName": "master",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves GuardDuty member accounts (to the current GuardDuty master account) specified by\n      the account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetMembersRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the GuardDuty member accounts that you want to describe.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account whose members you want to\n      retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetMembersResponse": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.guardduty#Members",
          "traits": {
            "smithy.api#documentation": "<p>A list of members.</p>",
            "smithy.api#jsonName": "members",
            "smithy.api#required": {}
          }
        },
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the unprocessed account and a result string explaining why it\n      was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetThreatIntelSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#GetThreatIntelSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#GetThreatIntelSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the ThreatIntelSet that is specified by the ThreatIntelSet ID.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/threatintelset/{ThreatIntelSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#GetThreatIntelSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector the threatIntelSet is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "ThreatIntelSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the threatIntelSet you want to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "threatIntelSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#GetThreatIntelSetResponse": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.guardduty#ThreatIntelSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the threatIntelSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the ThreatIntelSet. For example\n      (https://s3.us-west-2.amazonaws.com/my-bucket/my-object-key).</p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly ThreatIntelSet name that is displayed in all finding generated by activity\n      that involves IP addresses included in this ThreatIntelSet.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#ThreatIntelSetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of threatIntelSet file uploaded.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the Threat List resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#GuardDutyAPIService": {
      "type": "service",
      "version": "2017-11-28",
      "operations": [
        {
          "target": "com.amazonaws.guardduty#AcceptInvitation"
        },
        {
          "target": "com.amazonaws.guardduty#ArchiveFindings"
        },
        {
          "target": "com.amazonaws.guardduty#CreateDetector"
        },
        {
          "target": "com.amazonaws.guardduty#CreateFilter"
        },
        {
          "target": "com.amazonaws.guardduty#CreateIPSet"
        },
        {
          "target": "com.amazonaws.guardduty#CreateMembers"
        },
        {
          "target": "com.amazonaws.guardduty#CreatePublishingDestination"
        },
        {
          "target": "com.amazonaws.guardduty#CreateSampleFindings"
        },
        {
          "target": "com.amazonaws.guardduty#CreateThreatIntelSet"
        },
        {
          "target": "com.amazonaws.guardduty#DeclineInvitations"
[...]
