{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.guardduty#AcceptAdministratorInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#AcceptAdministratorInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#AcceptAdministratorInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and get monitored by a GuardDuty\n      administrator account that sent the invitation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/administrator",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#AcceptAdministratorInvitationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "AdministratorId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're\n      accepting.</p>",
            "smithy.api#jsonName": "administratorId",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member\n      account.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.guardduty#AcceptAdministratorInvitationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.guardduty#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This operation is deprecated, use AcceptAdministratorInvitation instead"
        },
        "smithy.api#documentation": "<p>Accepts the invitation to be monitored by a GuardDuty administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>\n         <p>To find the <code>detectorId</code> in the current Region, see the\nSettings page in the GuardDuty console, or run the <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_ListDetectors.html\">ListDetectors</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "MasterId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're\n      accepting.</p>",
            "smithy.api#jsonName": "masterId",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member\n      account.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#deprecated": {
          "message": "This input is deprecated, use AcceptAdministratorInvitationRequest instead"
        },
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#deprecated": {
          "message": "This output is deprecated, use AcceptAdministratorInvitationResponse instead"
        },
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.guardduty#AccessControlList": {
      "type": "structure",
      "members": {
        "AllowsPublicReadAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether public read access for the bucket is enabled through an\n      Access Control List (ACL).</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "AllowsPublicWriteAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether public write access for the bucket is enabled through an\n      Access Control List (ACL).</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the current access control policies for the bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#jsonName": "message"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error type.</p>",
            "smithy.api#jsonName": "__type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An access denied exception object.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.guardduty#AccessKey": {
      "type": "structure",
      "members": {
        "PrincipalId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Principal ID of the user.</p>",
            "smithy.api#jsonName": "principalId"
          }
        },
        "UserName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the user.</p>",
            "smithy.api#jsonName": "userName"
          }
        },
        "UserType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Type of the user.</p>",
            "smithy.api#jsonName": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the access keys.</p>"
      }
    },
    "com.amazonaws.guardduty#AccessKeyDetails": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The access key ID of the user.</p>",
            "smithy.api#jsonName": "accessKeyId"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID of the user.</p>",
            "smithy.api#jsonName": "principalId"
          }
        },
        "UserName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user.</p>",
            "smithy.api#jsonName": "userName"
          }
        },
        "UserType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the user.</p>",
            "smithy.api#jsonName": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the access keys.</p>"
      }
    },
    "com.amazonaws.guardduty#Account": {
      "type": "structure",
      "members": {
        "Uid": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>ID of the member's Amazon Web Services account</p>",
            "smithy.api#jsonName": "uid",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the member's Amazon Web Services account.</p>",
            "smithy.api#jsonName": "account"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetail": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The member account ID.</p>",
            "smithy.api#jsonName": "accountId",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.guardduty#Email",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The email address of the member account. The following list includes the\n      rules for a valid email address:</p>\n         <ul>\n            <li>\n               <p>The email address must be a minimum of 6 and a maximum of 64 characters long.</p>\n            </li>\n            <li>\n               <p>All characters must be 7-bit ASCII characters.</p>\n            </li>\n            <li>\n               <p>There must be one and only one @ symbol, which separates the local name from the domain name.</p>\n            </li>\n            <li>\n               <p>The local name can't contain any of the following characters:</p>\n               <p>whitespace, \" ' ( ) < > [ ] : ' , \\ | % &</p>\n            </li>\n            <li>\n               <p>The local name can't begin with a dot (.).</p>\n            </li>\n            <li>\n               <p>The domain name can consist of only the characters [a-z], [A-Z], [0-9], hyphen (-), or dot (.).</p>\n            </li>\n            <li>\n               <p>The domain name can't begin or end with a dot (.) or hyphen (-).</p>\n            </li>\n            <li>\n               <p>The domain name must contain at least one dot. </p>\n            </li>\n         </ul>",
            "smithy.api#jsonName": "email",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#AccountFreeTrialInfo": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the GuardDuty member account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.guardduty#DataSourcesFreeTrial",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This parameter is deprecated, use Features instead"
            },
            "smithy.api#documentation": "<p>Describes the data source enabled for the GuardDuty member account.</p>",
            "smithy.api#jsonName": "dataSources"
          }
        },
        "Features": {
          "target": "com.amazonaws.guardduty#FreeTrialFeatureConfigurationsResults",
          "traits": {
            "smithy.api#documentation": "<p>A list of features enabled for the GuardDuty account.</p>",
            "smithy.api#jsonName": "features"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details of the GuardDuty member account that uses a free trial service.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountFreeTrialInfos": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountFreeTrialInfo"
      }
    },
    "com.amazonaws.guardduty#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        }
      }
    },
    "com.amazonaws.guardduty#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#AccountLevelPermissions": {
      "type": "structure",
      "members": {
        "BlockPublicAccess": {
          "target": "com.amazonaws.guardduty#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Describes the S3 Block Public Access settings of the bucket's parent account.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account level permissions on the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountStatistics": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "LastGeneratedAt": {
          "target": "com.amazonaws.guardduty#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the finding for this account was last generated.</p>",
            "smithy.api#jsonName": "lastGeneratedAt"
          }
        },
        "TotalFindings": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of findings associated with an account.</p>",
            "smithy.api#jsonName": "totalFindings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a list of map of accounts with the number of findings associated with each account.</p>"
      }
    },
    "com.amazonaws.guardduty#Action": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The GuardDuty finding activity type.</p>",
            "smithy.api#jsonName": "actionType"
          }
        },
        "AwsApiCallAction": {
          "target": "com.amazonaws.guardduty#AwsApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the AWS_API_CALL action described in this finding.</p>",
            "smithy.api#jsonName": "awsApiCallAction"
          }
        },
        "DnsRequestAction": {
          "target": "com.amazonaws.guardduty#DnsRequestAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the DNS_REQUEST action described in this finding.</p>",
            "smithy.api#jsonName": "dnsRequestAction"
          }
        },
        "NetworkConnectionAction": {
          "target": "com.amazonaws.guardduty#NetworkConnectionAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the NETWORK_CONNECTION action described in this finding.</p>",
            "smithy.api#jsonName": "networkConnectionAction"
          }
        },
        "PortProbeAction": {
          "target": "com.amazonaws.guardduty#PortProbeAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the PORT_PROBE action described in this finding.</p>",
            "smithy.api#jsonName": "portProbeAction"
          }
        },
        "KubernetesApiCallAction": {
          "target": "com.amazonaws.guardduty#KubernetesApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Kubernetes API call action described in this finding.</p>",
            "smithy.api#jsonName": "kubernetesApiCallAction"
          }
        },
        "RdsLoginAttemptAction": {
          "target": "com.amazonaws.guardduty#RdsLoginAttemptAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about <code>RDS_LOGIN_ATTEMPT</code> action described in this finding.</p>",
            "smithy.api#jsonName": "rdsLoginAttemptAction"
          }
        },
        "KubernetesPermissionCheckedDetails": {
          "target": "com.amazonaws.guardduty#KubernetesPermissionCheckedDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information whether the user has the permission to use a specific Kubernetes API.</p>",
            "smithy.api#jsonName": "kubernetesPermissionCheckedDetails"
          }
        },
        "KubernetesRoleBindingDetails": {
          "target": "com.amazonaws.guardduty#KubernetesRoleBindingDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the role binding that grants the permission defined in a Kubernetes role.</p>",
            "smithy.api#jsonName": "kubernetesRoleBindingDetails"
          }
        },
        "KubernetesRoleDetails": {
          "target": "com.amazonaws.guardduty#KubernetesRoleDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Kubernetes role name and role type.</p>",
            "smithy.api#jsonName": "kubernetesRoleDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about actions.</p>"
      }
    },
    "com.amazonaws.guardduty#Actor": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>ID of the threat actor.</p>",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "User": {
          "target": "com.amazonaws.guardduty#User",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the user credentials used by the threat actor.</p>",
            "smithy.api#jsonName": "user"
          }
        },
        "Session": {
          "target": "com.amazonaws.guardduty#Session",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the user session where the activity initiated.</p>",
            "smithy.api#jsonName": "session"
          }
        },
        "Process": {
          "target": "com.amazonaws.guardduty#ActorProcess",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the process associated with the threat actor.\n      This includes details such as process name, path, execution time, and\n      unique identifiers that help track the actor's activities within the system.</p>",
            "smithy.api#jsonName": "process"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the actors involved in an attack sequence.</p>"
      }
    },
    "com.amazonaws.guardduty#ActorIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 400
        }
      }
    },
    "com.amazonaws.guardduty#ActorProcess": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.guardduty#ProcessName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the process as it appears in the system.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Path": {
          "target": "com.amazonaws.guardduty#ProcessPath",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The full file path to the process executable on the system.</p>",
            "smithy.api#jsonName": "path",
            "smithy.api#required": {}
          }
        },
        "Sha256": {
          "target": "com.amazonaws.guardduty#ProcessSha256",
          "traits": {
            "smithy.api#documentation": "<p>The SHA256 hash of the process executable file, which can be used for identification\n      and verification purposes.</p>",
            "smithy.api#jsonName": "sha256"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a process involved in a GuardDuty finding, including process identification,\n      execution details, and file information.</p>"
      }
    },
    "com.amazonaws.guardduty#Actors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#Actor"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 400
        }
      }
    },
    "com.amazonaws.guardduty#AdditionalInfo": {
      "type": "structure",
      "members": {
        "VersionId": {
          "target": "com.amazonaws.guardduty#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the S3 object, if applicable.</p>",
            "smithy.api#jsonName": "versionId"
          }
        },
        "DeviceName": {
          "target": "com.amazonaws.guardduty#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The device name of the EBS volume, if applicable.</p>",
            "smithy.api#jsonName": "deviceName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains additional information about the detected threat.</p>"
      }
    },
    "com.amazonaws.guardduty#AdditionalSequenceTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#FindingType"
      }
    },
    "com.amazonaws.guardduty#AddonDetails": {
      "type": "structure",
      "members": {
        "AddonVersion": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Version of the installed EKS add-on.</p>",
            "smithy.api#jsonName": "addonVersion"
          }
        },
        "AddonStatus": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Status of the installed EKS add-on.</p>",
            "smithy.api#jsonName": "addonStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the installed EKS add-on (GuardDuty security agent).</p>"
      }
    },
    "com.amazonaws.guardduty#AdminAccount": {
      "type": "structure",
      "members": {
        "AdminAccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
            "smithy.api#jsonName": "adminAccountId"
          }
        },
        "AdminStatus": {
          "target": "com.amazonaws.guardduty#AdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the account is enabled as the delegated administrator.</p>",
            "smithy.api#jsonName": "adminStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The account within the organization specified as the GuardDuty delegated\n      administrator.</p>"
      }
    },
    "com.amazonaws.guardduty#AdminAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AdminAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.guardduty#AdminStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_IN_PROGRESS"
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#Administrator": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account used as the administrator account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member\n      account.</p>",
            "smithy.api#jsonName": "invitationId"
          }
        },
        "RelationshipStatus": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the relationship between the administrator and member accounts.</p>",
            "smithy.api#jsonName": "relationshipStatus"
          }
        },
        "InvitedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the invitation was sent.</p>",
            "smithy.api#jsonName": "invitedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the administrator account and invitation.</p>"
      }
    },
    "com.amazonaws.guardduty#AffectedResources": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#String"
      }
    },
    "com.amazonaws.guardduty#AgentDetails": {
      "type": "structure",
      "members": {
        "Version": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Version of the installed GuardDuty security agent.</p>",
            "smithy.api#jsonName": "version"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the installed GuardDuty security agent.</p>"
      }
    },
    "com.amazonaws.guardduty#Anomaly": {
      "type": "structure",
      "members": {
        "Profiles": {
          "target": "com.amazonaws.guardduty#AnomalyProfiles",
          "traits": {
            "smithy.api#documentation": "<p>Information about the types of profiles.</p>",
            "smithy.api#jsonName": "profiles"
          }
        },
        "Unusual": {
          "target": "com.amazonaws.guardduty#AnomalyUnusual",
          "traits": {
            "smithy.api#documentation": "<p>Information about the behavior of the anomalies.</p>",
            "smithy.api#jsonName": "unusual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the anomalies.</p>"
      }
    },
    "com.amazonaws.guardduty#AnomalyObject": {
      "type": "structure",
      "members": {
        "ProfileType": {
          "target": "com.amazonaws.guardduty#ProfileType",
          "traits": {
            "smithy.api#documentation": "<p>The type of behavior of the profile.</p>",
            "smithy.api#jsonName": "profileType"
          }
        },
        "ProfileSubtype": {
          "target": "com.amazonaws.guardduty#ProfileSubtype",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of the anomaly.</p>",
            "smithy.api#jsonName": "profileSubtype"
          }
        },
        "Observations": {
          "target": "com.amazonaws.guardduty#Observations",
          "traits": {
            "smithy.api#documentation": "<p>The recorded value.</p>",
            "smithy.api#jsonName": "observations"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the unusual anomalies.</p>"
      }
    },
    "com.amazonaws.guardduty#AnomalyProfileFeatureObjects": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AnomalyObject"
      }
    },
    "com.amazonaws.guardduty#AnomalyProfileFeatures": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#AnomalyProfileFeatureObjects"
      }
    },
    "com.amazonaws.guardduty#AnomalyProfiles": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#AnomalyProfileFeatures"
      }
    },
    "com.amazonaws.guardduty#AnomalyUnusual": {
      "type": "structure",
      "members": {
        "Behavior": {
          "target": "com.amazonaws.guardduty#Behavior",
          "traits": {
            "smithy.api#documentation": "<p>The behavior of the anomalous activity that caused GuardDuty to \n      generate the finding.</p>",
            "smithy.api#jsonName": "behavior"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the behavior of the anomaly that is new to GuardDuty.</p>"
      }
    },
    "com.amazonaws.guardduty#AnomalyUnusualBehaviorFeature": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#AnomalyObject"
      }
    },
    "com.amazonaws.guardduty#ArchiveFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Archives GuardDuty findings that are specified by the list of finding IDs.</p>\n         <note>\n            <p>Only the administrator account can archive findings. Member accounts don't have\n        permission to archive findings from their accounts.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/archive",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings you want to\n      archive.</p>\n         <p>To find the <code>detectorId</code> in the current Region, see the\nSettings page in the GuardDuty console, or run the <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_ListDetectors.html\">ListDetectors</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingIds": {
          "target": "com.amazonaws.guardduty#FindingIds",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The IDs of the findings that you want to archive.</p>",
            "smithy.api#jsonName": "findingIds",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.guardduty#AutoEnableMembers": {
      "type": "enum",
      "members": {
        "NEW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NEW"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.guardduty#AutonomousSystem": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Name associated with the Autonomous System (AS).</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Number": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The unique number that identifies the Autonomous System (AS).</p>",
            "smithy.api#jsonName": "number",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the Autonomous System (AS) associated with the network \n       endpoints involved in an attack sequence.</p>"
      }
    },
    "com.amazonaws.guardduty#AutoscalingAutoScalingGroup": {
      "type": "structure",
      "members": {
        "Ec2InstanceUids": {
          "target": "com.amazonaws.guardduty#Ec2InstanceUids",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique identifiers for the compromised Amazon EC2 instances that are part of the\n          same Auto Scaling Group.</p>",
            "smithy.api#jsonName": "ec2InstanceUids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the Auto Scaling Group involved in a GuardDuty finding,\n          including unique identifiers of the Amazon EC2 instances.</p>"
      }
    },
    "com.amazonaws.guardduty#AwsApiCallAction": {
      "type": "structure",
      "members": {
        "Api": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services API name.</p>",
            "smithy.api#jsonName": "api"
          }
        },
        "CallerType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services API caller type.</p>",
            "smithy.api#jsonName": "callerType"
          }
        },
        "DomainDetails": {
          "target": "com.amazonaws.guardduty#DomainDetails",
          "traits": {
            "smithy.api#documentation": "<p>The domain information for the Amazon Web Services API call.</p>",
            "smithy.api#jsonName": "domainDetails"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the failed Amazon Web Services API action.</p>",
            "smithy.api#jsonName": "errorCode"
          }
        },
        "UserAgent": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The agent through which the API request was made.</p>",
            "smithy.api#jsonName": "userAgent"
          }
        },
        "RemoteIpDetails": {
          "target": "com.amazonaws.guardduty#RemoteIpDetails",
          "traits": {
            "smithy.api#documentation": "<p>The remote IP information of the connection that initiated the Amazon Web Services API call.</p>",
            "smithy.api#jsonName": "remoteIpDetails"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service name whose API was invoked.</p>",
            "smithy.api#jsonName": "serviceName"
          }
        },
        "RemoteAccountDetails": {
          "target": "com.amazonaws.guardduty#RemoteAccountDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the Amazon Web Services account that made the API call. This field appears if the call\n      was made from outside your account.</p>",
            "smithy.api#jsonName": "remoteAccountDetails"
          }
        },
        "AffectedResources": {
          "target": "com.amazonaws.guardduty#AffectedResources",
          "traits": {
            "smithy.api#documentation": "<p>The details of the Amazon Web Services account that made the API call. This field identifies the\n      resources that were affected by this API call.</p>",
            "smithy.api#jsonName": "affectedResources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the API action.</p>"
      }
    },
    "com.amazonaws.guardduty#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#jsonName": "message"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error type.</p>",
            "smithy.api#jsonName": "__type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bad request exception object.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.guardduty#Behavior": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#AnomalyUnusualBehaviorFeature"
      }
    },
    "com.amazonaws.guardduty#BlockPublicAccess": {
      "type": "structure",
      "members": {
        "IgnorePublicAcls": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>IgnorePublicAcls</code>.</p>",
            "smithy.api#jsonName": "ignorePublicAcls"
          }
        },
        "RestrictPublicBuckets": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>RestrictPublicBuckets</code>.</p>",
            "smithy.api#jsonName": "restrictPublicBuckets"
          }
        },
        "BlockPublicAcls": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicAcls</code>.</p>",
            "smithy.api#jsonName": "blockPublicAcls"
          }
        },
        "BlockPublicPolicy": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicPolicy</code>.</p>",
            "smithy.api#jsonName": "blockPublicPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on how the bucker owner's S3 Block Public Access settings are being\n      applied to the S3 bucket. See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">S3 Block Public\n        Access</a> for more information. </p>"
      }
    },
    "com.amazonaws.guardduty#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.guardduty#BucketLevelPermissions": {
      "type": "structure",
      "members": {
        "AccessControlList": {
          "target": "com.amazonaws.guardduty#AccessControlList",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on how Access Control Policies are applied to the bucket.</p>",
            "smithy.api#jsonName": "accessControlList"
          }
        },
        "BucketPolicy": {
          "target": "com.amazonaws.guardduty#BucketPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on the bucket policies for the S3 bucket.</p>",
            "smithy.api#jsonName": "bucketPolicy"
          }
        },
        "BlockPublicAccess": {
          "target": "com.amazonaws.guardduty#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on which account level S3 Block Public Access settings are applied to\n      the S3 bucket.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the bucket level permissions for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#BucketPolicy": {
      "type": "structure",
      "members": {
        "AllowsPublicReadAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether public read access for the bucket is enabled through a\n      bucket policy.</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "AllowsPublicWriteAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A value that indicates whether public write access for the bucket is enabled through a\n      bucket policy.</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the current bucket policies for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#City": {
      "type": "structure",
      "members": {
        "CityName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The city name of the remote IP address.</p>",
            "smithy.api#jsonName": "cityName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the city associated with the IP address.</p>"
      }
    },
    "com.amazonaws.guardduty#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.guardduty#CloudTrailConfigurationResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.guardduty#DataSourceStatus",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Describes whether CloudTrail is enabled as a data source for the detector.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the status of CloudTrail as a data source for the detector.</p>"
      }
    },
    "com.amazonaws.guardduty#CloudformationStack": {
      "type": "structure",
      "members": {
        "Ec2InstanceUids": {
          "target": "com.amazonaws.guardduty#Ec2InstanceUids",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique identifiers for the compromised Amazon EC2 instances that were created as part of the\n          same CloudFormation stack.</p>",
            "smithy.api#jsonName": "ec2InstanceUids"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the CloudFormation stack involved in a GuardDuty finding,\n          including unique identifiers of the Amazon EC2 instances.</p>"
      }
    },
    "com.amazonaws.guardduty#ClusterStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        }
      }
    },
    "com.amazonaws.guardduty#Condition": {
      "type": "structure",
      "members": {
        "Eq": {
          "target": "com.amazonaws.guardduty#Eq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the <i>equal</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "eq"
          }
        },
        "Neq": {
          "target": "com.amazonaws.guardduty#Neq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the <i>not equal</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "neq"
          }
        },
        "Gt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "gt"
          }
        },
        "Gte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a\n      single field when querying for findings.</p>",
            "smithy.api#jsonName": "gte"
          }
        },
        "Lt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "lt"
          }
        },
        "Lte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single\n      field when querying for findings.</p>",
            "smithy.api#jsonName": "lte"
          }
        },
        "Equals": {
          "target": "com.amazonaws.guardduty#Equals",
          "traits": {
            "smithy.api#documentation": "<p>Represents an <i>equal</i>\n            <b></b> condition to be applied to\n      a single field when querying for findings.</p>",
            "smithy.api#jsonName": "equals"
          }
        },
        "NotEquals": {
          "target": "com.amazonaws.guardduty#NotEquals",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>not equal</i>\n            <b></b> condition to be applied\n      to a single field when querying for findings.</p>",
            "smithy.api#jsonName": "notEquals"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "greaterThan"
          }
        },
        "GreaterThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a\n      single field when querying for findings.</p>",
            "smithy.api#jsonName": "greaterThanOrEqual"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "lessThan"
          }
        },
        "LessThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single\n      field when querying for findings.</p>",
            "smithy.api#jsonName": "lessThanOrEqual"
          }
        },
        "Matches": {
          "target": "com.amazonaws.guardduty#Matches",
          "traits": {
            "smithy.api#documentation": "<p>Represents the <i>match</i> condition to be applied to a single field when querying for findings.\n    </p>\n         <note>\n            <p>\n          The <i>matches</i> condition is available only for create-filter and update-filter APIs.\n        </p>\n         </note>",
            "smithy.api#jsonName": "matches"
          }
        },
        "NotMatches": {
          "target": "com.amazonaws.guardduty#NotMatches",
          "traits": {
            "smithy.api#documentation": "<p>Represents the <i>not match</i> condition to be applied to a single field when querying for findings.\n    </p>\n         <note>\n            <p>\n        The <i>not-matches</i> condition is available only for create-filter and update-filter APIs.\n      </p>\n         </note>",
            "smithy.api#jsonName": "notMatches"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the condition.</p>"
      }
    },
    "com.amazonaws.guardduty#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#jsonName": "message"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error type.</p>",
            "smithy.api#jsonName": "__type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A request conflict exception object.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.guardduty#Container": {
      "type": "structure",
      "members": {
        "ContainerRuntime": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The container runtime (such as, Docker or containerd) used to run the container.</p>",
            "smithy.api#jsonName": "containerRuntime"
          }
        },
        "Id": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container ID.</p>",
            "smithy.api#jsonName": "id"
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container name.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "Image": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container image.</p>",
            "smithy.api#jsonName": "image"
          }
        },
        "ImagePrefix": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Part of the image name before the last slash. For example, imagePrefix for\n      public.ecr.aws/amazonlinux/amazonlinux:latest would be public.ecr.aws/amazonlinux. If the\n      image name is relative and does not have a slash, this field is empty.</p>",
            "smithy.api#jsonName": "imagePrefix"
          }
        },
        "VolumeMounts": {
          "target": "com.amazonaws.guardduty#VolumeMounts",
          "traits": {
            "smithy.api#documentation": "<p>Container volume mounts.</p>",
            "smithy.api#jsonName": "volumeMounts"
          }
        },
        "SecurityContext": {
          "target": "com.amazonaws.guardduty#SecurityContext",
          "traits": {
            "smithy.api#documentation": "<p>Container security context.</p>",
            "smithy.api#jsonName": "securityContext"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of a container.</p>"
      }
    },
    "com.amazonaws.guardduty#ContainerFindingResource": {
      "type": "structure",
      "members": {
        "Image": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The container image information, including the image name and tag used to run the container\n      that was involved in the finding.</p>",
            "smithy.api#jsonName": "image",
            "smithy.api#required": {}
          }
        },
        "ImageUid": {
          "target": "com.amazonaws.guardduty#ContainerImageUid",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID associated with the container image.</p>",
            "smithy.api#jsonName": "imageUid"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about container resources involved in a GuardDuty finding.\n      This structure provides details about containers that were identified as part of\n      suspicious or malicious activity.</p>"
      }
    },
    "com.amazonaws.guardduty#ContainerImageUid": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.guardduty#ContainerInstanceDetails": {
      "type": "structure",
      "members": {
        "CoveredContainerInstances": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents the nodes in the Amazon ECS cluster that has a <code>HEALTHY</code>\n      coverage status.</p>",
            "smithy.api#jsonName": "coveredContainerInstances"
          }
        },
        "CompatibleContainerInstances": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents total number of nodes in the Amazon ECS cluster.</p>",
            "smithy.api#jsonName": "compatibleContainerInstances"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the Amazon EC2 instance that is running \n    the Amazon ECS container.</p>"
      }
    },
    "com.amazonaws.guardduty#ContainerUid": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.guardduty#ContainerUids": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#ContainerUid"
      }
    },
    "com.amazonaws.guardduty#Containers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#Container"
      }
    },
    "com.amazonaws.guardduty#CountByCoverageStatus": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#CoverageStatus"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Long"
      }
    },
    "com.amazonaws.guardduty#CountByResourceType": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#ResourceType"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Long"
      }
    },
    "com.amazonaws.guardduty#CountBySeverity": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Integer"
      }
    },
    "com.amazonaws.guardduty#Country": {
      "type": "structure",
      "members": {
        "CountryCode": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The country code of the remote IP address.</p>",
            "smithy.api#jsonName": "countryCode"
          }
        },
        "CountryName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The country name of the remote IP address.</p>",
            "smithy.api#jsonName": "countryName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the country where the remote IP address is located.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageEc2InstanceDetails": {
      "type": "structure",
      "members": {
        "InstanceId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance ID.</p>",
            "smithy.api#jsonName": "instanceId"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the Amazon EC2 instance.</p>",
            "smithy.api#jsonName": "instanceType"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The cluster ARN of the Amazon ECS cluster running on \n    the Amazon EC2 instance.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "AgentDetails": {
          "target": "com.amazonaws.guardduty#AgentDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the installed security agent.</p>",
            "smithy.api#jsonName": "agentDetails"
          }
        },
        "ManagementType": {
          "target": "com.amazonaws.guardduty#ManagementType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how the GuardDuty security agent is managed for this resource.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AUTO_MANAGED</code> indicates that GuardDuty deploys and manages updates for this resource.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MANUAL</code> indicates that you are responsible to deploy, update, and manage the GuardDuty \n          security agent updates for this resource.</p>\n            </li>\n         </ul>\n         <note>\n            <p>The <code>DISABLED</code> status doesn't apply to Amazon \n    EC2 instances and Amazon EKS clusters.</p>\n         </note>",
            "smithy.api#jsonName": "managementType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the Amazon EC2 instance runtime \n    coverage details.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageEcsClusterDetails": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon ECS cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "FargateDetails": {
          "target": "com.amazonaws.guardduty#FargateDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Fargate details associated with the Amazon \n      ECS cluster.</p>",
            "smithy.api#jsonName": "fargateDetails"
          }
        },
        "ContainerInstanceDetails": {
          "target": "com.amazonaws.guardduty#ContainerInstanceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon ECS container running on Amazon EC2 \n      instance.</p>",
            "smithy.api#jsonName": "containerInstanceDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about Amazon ECS cluster runtime coverage details.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageEksClusterDetails": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Name of the EKS cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CoveredNodes": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents the nodes within the EKS cluster that have a <code>HEALTHY</code> coverage\n      status.</p>",
            "smithy.api#jsonName": "coveredNodes"
          }
        },
        "CompatibleNodes": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#documentation": "<p>Represents all the nodes within the EKS cluster in your account.</p>",
            "smithy.api#jsonName": "compatibleNodes"
          }
        },
        "AddonDetails": {
          "target": "com.amazonaws.guardduty#AddonDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the installed EKS add-on.</p>",
            "smithy.api#jsonName": "addonDetails"
          }
        },
        "ManagementType": {
          "target": "com.amazonaws.guardduty#ManagementType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how the Amazon EKS add-on GuardDuty agent is managed for this EKS cluster.</p>\n         <p>\n            <code>AUTO_MANAGED</code> indicates GuardDuty deploys and manages updates for this resource.</p>\n         <p>\n            <code>MANUAL</code> indicates that you are responsible to deploy, update, and manage \n      the Amazon EKS add-on GuardDuty agent for this resource.</p>",
            "smithy.api#jsonName": "managementType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the EKS cluster that has a coverage status.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageFilterCondition": {
      "type": "structure",
      "members": {
        "Equals": {
          "target": "com.amazonaws.guardduty#Equals",
          "traits": {
            "smithy.api#documentation": "<p>Represents an equal condition that is applied to a single field while retrieving the\n      coverage details.</p>",
            "smithy.api#jsonName": "equals"
          }
        },
        "NotEquals": {
          "target": "com.amazonaws.guardduty#NotEquals",
          "traits": {
            "smithy.api#documentation": "<p>Represents a not equal condition that is applied to a single field while retrieving the\n      coverage details.</p>",
            "smithy.api#jsonName": "notEquals"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a condition that when matched will be added to the response of the\n      operation.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageFilterCriteria": {
      "type": "structure",
      "members": {
        "FilterCriterion": {
          "target": "com.amazonaws.guardduty#CoverageFilterCriterionList",
          "traits": {
            "smithy.api#documentation": "<p>Represents a condition that when matched will be added to the response of the\n      operation.</p>",
            "smithy.api#jsonName": "filterCriterion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the criteria used in the filter.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageFilterCriterion": {
      "type": "structure",
      "members": {
        "CriterionKey": {
          "target": "com.amazonaws.guardduty#CoverageFilterCriterionKey",
          "traits": {
            "smithy.api#documentation": "<p>An enum value representing possible filter fields.</p>\n         <note>\n            <p>Replace the enum value <code>CLUSTER_NAME</code> with <code>EKS_CLUSTER_NAME</code>.\n      <code>CLUSTER_NAME</code> has been deprecated.</p>\n         </note>",
            "smithy.api#jsonName": "criterionKey"
          }
        },
        "FilterCondition": {
          "target": "com.amazonaws.guardduty#CoverageFilterCondition",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the condition.</p>",
            "smithy.api#jsonName": "filterCondition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a condition that when matched will be added to the response of the\n      operation.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageFilterCriterionKey": {
      "type": "enum",
      "members": {
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_NAME"
          }
        },
        "RESOURCE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_TYPE"
          }
        },
        "COVERAGE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COVERAGE_STATUS"
          }
        },
        "ADDON_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDON_VERSION"
          }
        },
        "MANAGEMENT_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGEMENT_TYPE"
          }
        },
        "EKS_CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS_CLUSTER_NAME"
          }
        },
        "ECS_CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECS_CLUSTER_NAME"
          }
        },
        "AGENT_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AGENT_VERSION"
          }
        },
        "INSTANCE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_ID"
          }
        },
        "CLUSTER_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_ARN"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CoverageFilterCriterionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#CoverageFilterCriterion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#CoverageResource": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the resource.</p>",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the GuardDuty detector associated with the resource.</p>",
            "smithy.api#jsonName": "detectorId"
          }
        },
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the Amazon Web Services account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "ResourceDetails": {
          "target": "com.amazonaws.guardduty#CoverageResourceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the resource for which the coverage statistics are retrieved.</p>",
            "smithy.api#jsonName": "resourceDetails"
          }
        },
        "CoverageStatus": {
          "target": "com.amazonaws.guardduty#CoverageStatus",
          "traits": {
            "smithy.api#documentation": "<p>Represents the status of the EKS cluster coverage.</p>",
            "smithy.api#jsonName": "coverageStatus"
          }
        },
        "Issue": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Represents the reason why a coverage status was <code>UNHEALTHY</code> for the EKS\n      cluster.</p>",
            "smithy.api#jsonName": "issue"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.guardduty#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the coverage details for the resource were last updated. This is in\n      UTC format.</p>",
            "smithy.api#jsonName": "updatedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the resource of the GuardDuty account.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageResourceDetails": {
      "type": "structure",
      "members": {
        "EksClusterDetails": {
          "target": "com.amazonaws.guardduty#CoverageEksClusterDetails",
          "traits": {
            "smithy.api#documentation": "<p>EKS cluster details involved in the coverage statistics.</p>",
            "smithy.api#jsonName": "eksClusterDetails"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.guardduty#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon Web Services resource.</p>",
            "smithy.api#jsonName": "resourceType"
          }
        },
        "EcsClusterDetails": {
          "target": "com.amazonaws.guardduty#CoverageEcsClusterDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon ECS cluster that is assessed for \n    runtime coverage.</p>",
            "smithy.api#jsonName": "ecsClusterDetails"
          }
        },
        "Ec2InstanceDetails": {
          "target": "com.amazonaws.guardduty#CoverageEc2InstanceDetails",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon EC2 instance assessed \n      for runtime coverage.</p>",
            "smithy.api#jsonName": "ec2InstanceDetails"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the resource for each individual EKS cluster.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#CoverageResource"
      }
    },
    "com.amazonaws.guardduty#CoverageSortCriteria": {
      "type": "structure",
      "members": {
        "AttributeName": {
          "target": "com.amazonaws.guardduty#CoverageSortKey",
          "traits": {
            "smithy.api#documentation": "<p>Represents the field name used to sort the coverage details.</p>\n         <note>\n            <p>Replace the enum value <code>CLUSTER_NAME</code> with <code>EKS_CLUSTER_NAME</code>.\n      <code>CLUSTER_NAME</code> has been deprecated.</p>\n         </note>",
            "smithy.api#jsonName": "attributeName"
          }
        },
        "OrderBy": {
          "target": "com.amazonaws.guardduty#OrderBy",
          "traits": {
            "smithy.api#documentation": "<p>The order in which the sorted findings are to be displayed.</p>",
            "smithy.api#jsonName": "orderBy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the sorting criteria used in the coverage statistics.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageSortKey": {
      "type": "enum",
      "members": {
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_NAME"
          }
        },
        "COVERAGE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COVERAGE_STATUS"
          }
        },
        "ISSUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISSUE"
          }
        },
        "ADDON_VERSION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ADDON_VERSION"
          }
        },
        "UPDATED_AT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATED_AT"
          }
        },
        "EKS_CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS_CLUSTER_NAME"
          }
        },
        "ECS_CLUSTER_NAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ECS_CLUSTER_NAME"
          }
        },
        "INSTANCE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSTANCE_ID"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CoverageStatistics": {
      "type": "structure",
      "members": {
        "CountByResourceType": {
          "target": "com.amazonaws.guardduty#CountByResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Represents coverage statistics for EKS clusters aggregated by resource type.</p>",
            "smithy.api#jsonName": "countByResourceType"
          }
        },
        "CountByCoverageStatus": {
          "target": "com.amazonaws.guardduty#CountByCoverageStatus",
          "traits": {
            "smithy.api#documentation": "<p>Represents coverage statistics for EKS clusters aggregated by coverage status.</p>",
            "smithy.api#jsonName": "countByCoverageStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the coverage statistics for a resource.</p>"
      }
    },
    "com.amazonaws.guardduty#CoverageStatisticsType": {
      "type": "enum",
      "members": {
        "COUNT_BY_RESOURCE_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT_BY_RESOURCE_TYPE"
          }
        },
        "COUNT_BY_COVERAGE_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT_BY_COVERAGE_STATUS"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CoverageStatisticsTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#CoverageStatisticsType"
      }
    },
    "com.amazonaws.guardduty#CoverageStatus": {
      "type": "enum",
      "members": {
        "HEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALTHY"
          }
        },
        "UNHEALTHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNHEALTHY"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a single GuardDuty detector. A detector is a resource that represents the\n      GuardDuty service. To start using GuardDuty, you must create a detector in each Region where\n      you enable the service. You can have only one detector per account per Region. All data\n      sources are enabled in a new detector by default.</p>\n         <ul>\n            <li>\n               <p>When you don't specify any <code>features</code>, with an \n          exception to <code>RUNTIME_MONITORING</code>, all the optional features are \n          enabled by default.</p>\n            </li>\n            <li>\n               <p>When you specify some of the <code>features</code>, any feature that is not specified in the \n          API call gets enabled by default, with an exception to <code>RUNTIME_MONITORING</code>. </p>\n            </li>\n         </ul>\n         <p>Specifying both EKS Runtime Monitoring (<code>EKS_RUNTIME_MONITORING</code>)\n      and Runtime Monitoring (<code>RUNTIME_MONITORING</code>) will cause an error. \n      You can add only one of these two features because Runtime Monitoring already includes the \n      threat detection for Amazon EKS resources. For more information, see\n      <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/runtime-monitoring.html\">Runtime Monitoring</a>.</p>\n         <p>There might be regional differences because some data sources might not be \n      available in all the Amazon Web Services Regions where GuardDuty is presently supported. For more \n      information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_regions.html\">Regions and endpoints</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetectorRequest": {
      "type": "structure",
      "members": {
        "Enable": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the detector is to be enabled.</p>",
            "smithy.api#jsonName": "enable",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "FindingPublishingFrequency": {
          "target": "com.amazonaws.guardduty#FindingPublishingFrequency",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies how frequently updated findings are exported.</p>",
            "smithy.api#jsonName": "findingPublishingFrequency"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.guardduty#DataSourceConfigurations",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This parameter is deprecated, use Features instead"
            },
            "smithy.api#documentation": "<p>Describes which data sources will be enabled for the detector.</p>\n         <p>There might be regional differences because some data sources might not be \n      available in all the Amazon Web Services Regions where GuardDuty is presently supported. For more \n      information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_regions.html\">Regions and endpoints</a>.</p>",
            "smithy.api#jsonName": "dataSources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new detector resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Features": {
          "target": "com.amazonaws.guardduty#DetectorFeatureConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>A list of features that will be configured for the detector.</p>",
            "smithy.api#jsonName": "features"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.guardduty#CreateDetectorResponse": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the created detector.</p>",
            "smithy.api#jsonName": "detectorId"
          }
        },
        "UnprocessedDataSources": {
          "target": "com.amazonaws.guardduty#UnprocessedDataSourcesResult",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data sources that couldn't be enabled when GuardDuty was enabled for the\n      first time.</p>",
            "smithy.api#jsonName": "unprocessedDataSources"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.guardduty#CreateFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a filter using the specified finding criteria. The maximum number of saved filters\n      per Amazon Web Services account per Region is 100. For more information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_limits.html\">Quotas for GuardDuty</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/filter",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilterRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The detector ID associated with the GuardDuty account for which you want to create a filter.</p>\n         <p>To find the <code>detectorId</code> in the current Region, see the\nSettings page in the GuardDuty console, or run the <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_ListDetectors.html\">ListDetectors</a> API.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>The name of the filter. Valid characters include period (.), underscore (_), dash (-), and\n      alphanumeric characters. A whitespace is considered to be an invalid character.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.guardduty#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the filter. Valid characters include alphanumeric characters, and\n      special characters such as hyphen, period, colon, underscore, parentheses (<code>{ }</code>,\n        <code>[ ]</code>, and <code>( )</code>), forward slash, horizontal tab, vertical tab,\n      newline, form feed, return, and whitespace.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Action": {
          "target": "com.amazonaws.guardduty#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#jsonName": "action"
          }
        },
        "Rank": {
          "target": "com.amazonaws.guardduty#FilterRank",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the position of the filter in the list of current filters. Also specifies the\n      order in which this filter is applied to the findings.</p>",
            "smithy.api#jsonName": "rank"
          }
        },
        "FindingCriteria": {
          "target": "com.amazonaws.guardduty#FindingCriteria",
          "traits": {
            "smithy.api#clientOptional": {},
            "smithy.api#documentation": "<p>Represents the criteria to be used in the filter for querying findings.</p>\n         <p>You can only use the following attributes to query findings:</p>\n         <ul>\n            <li>\n               <p>accountId</p>\n            </li>\n            <li>\n               <p>id</p>\n            </li>\n            <li>\n               <p>region</p>\n            </li>\n            <li>\n               <p>severity</p>\n               <p>To filter on the basis of severity, the API and CLI use the following input list for\n          the <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_FindingCriteria.html\">FindingCriteria</a>\n          condition:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <b>Low</b>: <code>[\"1\", \"2\", \"3\"]</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Medium</b>: <code>[\"4\", \"5\", \"6\"]</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>High</b>: <code>[\"7\", \"8\"]</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <b>Critical</b>: <code>[\"9\", \"10\"]</code>\n                     </p>\n                  </li>\n               </ul>\n               <p>For more information, see <a href=\"https://docs.aws.amazon.com/guardduty/latest/ug/guardduty_findings-severity.html\">Findings severity levels</a>\n          in the <i>Amazon GuardDuty User Guide</i>.</p>\n            </li>\n            <li>\n               <p>type</p>\n            </li>\n            <li>\n               <p>updatedAt</p>\n               <p>Type: ISO 8601 string format: YYYY-MM-DDTHH:MM:SS.SSSZ or YYYY-MM-DDTHH:MM:SSZ\n          depending on whether the value contains milliseconds.</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.accessKeyId</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.principalId</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.userName</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.userType</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.iamInstanceProfile.id</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.imageId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.instanceId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.tags.key</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.tags.value</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.ipv6Addresses</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.privateIpAddresses.privateIpAddress</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.publicDnsName</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.publicIp</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.securityGroups.groupId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.securityGroups.groupName</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.subnetId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.vpcId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.outpostArn</p>\n            </li>\n            <li>\n               <p>resource.resourceType</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.publicAccess.effectivePermissions</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.name</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.tags.key</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.tags.value</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.type</p>\n            </li>\n            <li>\n               <p>service.action.actionType</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.api</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.callerType</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.errorCode</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.city.cityName</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.country.countryName</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.ipAddressV6</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.organization.asn</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.organization.asnOrg</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.serviceName</p>\n            </li>\n            <li>\n               <p>service.action.dnsRequestAction.domain</p>\n            </li>\n            <li>\n               <p>service.action.dnsRequestAction.domainWithSuffix</p>\n            </li>\n            <li>\n               <p>service.action.dnsRequestAction.vpcOwnerAccountId</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.blocked</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.connectionDirection</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.localPortDetails.port</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.protocol</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.city.cityName</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.country.countryName</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.ipAddressV6</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.organization.asn</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.organization.asnOrg</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remotePortDetails.port</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteAccountDetails.affiliated</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.remoteIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.remoteIpDetails.ipAddressV6</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.namespace</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.remoteIpDetails.organization.asn</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.requestUri</p>\n            </li>\n            <li>\n               <p>service.action.kubernetesApiCallAction.statusCode</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.localIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.localIpDetails.ipAddressV6</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.protocol</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.serviceName</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteAccountDetails.accountId</p>\n            </li>\n            <li>\n               <p>service.additionalInfo.threatListName</p>\n            </li>\n            <li>\n               <p>service.resourceRole</p>\n            </li>\n            <li>\n               <p>resource.eksClusterDetails.name</p>\n            </li>\n            <li>\n               <p>resource.kubernetesDetails.kubernetesWorkloadDetails.name</p>\n            </li>\n            <li>\n               <p>resource.kubernetesDetails.kubernetesWorkloadDetails.namespace</p>\n            </li>\n            <li>\n               <p>resource.kubernetesDetails.kubernetesUserDetails.username</p>\n            </li>\n            <li>\n               <p>resource.kubernetesDetails.kubernetesWorkloadDetails.containers.image</p>\n            </li>\n            <li>\n               <p>resource.kubernetesDetails.kubernetesWorkloadDetails.containers.imagePrefix</p>\n            </li>\n            <li>\n               <p>service.ebsVolumeScanDetails.scanId</p>\n            </li>\n            <li>\n               <p>service.ebsVolumeScanDetails.scanDetections.threatDetectedByName.threatNames.name</p>\n            </li>\n            <li>\n               <p>service.ebsVolumeScanDetails.scanDetections.threatDetectedByName.threatNames.severity</p>\n            </li>\n            <li>\n               <p>service.ebsVolumeScanDetails.scanDetections.threatDetectedByName.threatNames.filePaths.hash</p>\n            </li>\n            <li>\n               <p>resource.ecsClusterDetails.name</p>\n            </li>\n            <li>\n               <p>resource.ecsClusterDetails.taskDetails.containers.image</p>\n            </li>\n            <li>\n               <p>resource.ecsClusterDetails.taskDetails.definitionArn</p>\n            </li>\n            <li>\n               <p>resource.containerDetails.image</p>\n            </li>\n            <li>\n               <p>resource.rdsDbInstanceDetails.dbInstanceIdentifier</p>\n            </li>\n            <li>\n               <p>resource.rdsDbInstanceDetails.dbClusterIdentifier</p>\n            </li>\n            <li>\n               <p>resource.rdsDbInstanceDetails.engine</p>\n            </li>\n            <li>\n               <p>resource.rdsDbUserDetails.user</p>\n            </li>\n            <li>\n               <p>resource.rdsDbInstanceDetails.tags.key</p>\n            </li>\n            <li>\n               <p>resource.rdsDbInstanceDetails.tags.value</p>\n            </li>\n            <li>\n               <p>service.runti
[...]
