{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.guardduty#AcceptAdministratorInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#AcceptAdministratorInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#AcceptAdministratorInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the invitation to be a member account and get monitored by a GuardDuty administrator account that sent the invitation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/administrator",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#AcceptAdministratorInvitationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "AdministratorId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're accepting.</p>",
            "smithy.api#jsonName": "administratorId",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#AcceptAdministratorInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": {
          "message": "This operation is deprecated, use AcceptAdministratorInvitation instead"
        },
        "smithy.api#documentation": "<p>Accepts the invitation to be monitored by a GuardDuty administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/master",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty member account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "MasterId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the GuardDuty administrator account whose invitation you're accepting.</p>",
            "smithy.api#jsonName": "masterId",
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#deprecated": {
          "message": "This input is deprecated, use AcceptAdministratorInvitationRequest instead"
        }
      }
    },
    "com.amazonaws.guardduty#AcceptInvitationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#deprecated": {
          "message": "This output is deprecated, use AcceptAdministratorInvitationResponse instead"
        }
      }
    },
    "com.amazonaws.guardduty#AccessControlList": {
      "type": "structure",
      "members": {
        "AllowsPublicReadAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether public read access for the bucket is enabled through an\n      Access Control List (ACL).</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "AllowsPublicWriteAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether public write access for the bucket is enabled through an\n      Access Control List (ACL).</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the current access control policies for the bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#AccessKeyDetails": {
      "type": "structure",
      "members": {
        "AccessKeyId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The access key ID of the user.</p>",
            "smithy.api#jsonName": "accessKeyId"
          }
        },
        "PrincipalId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The principal ID of the user.</p>",
            "smithy.api#jsonName": "principalId"
          }
        },
        "UserName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user.</p>",
            "smithy.api#jsonName": "userName"
          }
        },
        "UserType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the user.</p>",
            "smithy.api#jsonName": "userType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the access keys.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetail": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The member account ID.</p>",
            "smithy.api#jsonName": "accountId",
            "smithy.api#required": {}
          }
        },
        "Email": {
          "target": "com.amazonaws.guardduty#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the member account.</p>",
            "smithy.api#jsonName": "email",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountDetail"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#AccountFreeTrialInfo": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The account identifier of the GuardDuty member account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.guardduty#DataSourcesFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes the data source enabled for the GuardDuty member account.</p>",
            "smithy.api#jsonName": "dataSources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details of the GuardDuty member account that uses a free trial service.</p>"
      }
    },
    "com.amazonaws.guardduty#AccountFreeTrialInfos": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountFreeTrialInfo"
      }
    },
    "com.amazonaws.guardduty#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        }
      }
    },
    "com.amazonaws.guardduty#AccountIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.guardduty#AccountLevelPermissions": {
      "type": "structure",
      "members": {
        "BlockPublicAccess": {
          "target": "com.amazonaws.guardduty#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Describes the S3 Block Public Access settings of the bucket's parent account.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the account level permissions on the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#Action": {
      "type": "structure",
      "members": {
        "ActionType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The GuardDuty finding activity type.</p>",
            "smithy.api#jsonName": "actionType"
          }
        },
        "AwsApiCallAction": {
          "target": "com.amazonaws.guardduty#AwsApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the AWS_API_CALL action described in this finding.</p>",
            "smithy.api#jsonName": "awsApiCallAction"
          }
        },
        "DnsRequestAction": {
          "target": "com.amazonaws.guardduty#DnsRequestAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the DNS_REQUEST action described in this finding.</p>",
            "smithy.api#jsonName": "dnsRequestAction"
          }
        },
        "NetworkConnectionAction": {
          "target": "com.amazonaws.guardduty#NetworkConnectionAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the NETWORK_CONNECTION action described in this finding.</p>",
            "smithy.api#jsonName": "networkConnectionAction"
          }
        },
        "PortProbeAction": {
          "target": "com.amazonaws.guardduty#PortProbeAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the PORT_PROBE action described in this finding.</p>",
            "smithy.api#jsonName": "portProbeAction"
          }
        },
        "KubernetesApiCallAction": {
          "target": "com.amazonaws.guardduty#KubernetesApiCallAction",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Kubernetes API call action described in this finding.</p>",
            "smithy.api#jsonName": "kubernetesApiCallAction"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about actions.</p>"
      }
    },
    "com.amazonaws.guardduty#AdminAccount": {
      "type": "structure",
      "members": {
        "AdminAccountId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
            "smithy.api#jsonName": "adminAccountId"
          }
        },
        "AdminStatus": {
          "target": "com.amazonaws.guardduty#AdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the account is enabled as the delegated administrator.</p>",
            "smithy.api#jsonName": "adminStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The account within the organization specified as the GuardDuty delegated\n      administrator.</p>"
      }
    },
    "com.amazonaws.guardduty#AdminAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#AdminAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.guardduty#AdminStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLE_IN_PROGRESS"
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#Administrator": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.guardduty#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the account used as the administrator account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The value that is used to validate the administrator account to the member account.</p>",
            "smithy.api#jsonName": "invitationId"
          }
        },
        "RelationshipStatus": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The status of the relationship between the administrator and member accounts.</p>",
            "smithy.api#jsonName": "relationshipStatus"
          }
        },
        "InvitedAt": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the invitation was sent.</p>",
            "smithy.api#jsonName": "invitedAt"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the administrator account and invitation.</p>"
      }
    },
    "com.amazonaws.guardduty#AffectedResources": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#String"
      }
    },
    "com.amazonaws.guardduty#ArchiveFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#ArchiveFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Archives GuardDuty findings that are specified by the list of finding IDs.</p>\n         <note>\n            <p>Only the administrator account can archive findings. Member accounts don't have permission to\n        archive findings from their accounts.</p>\n         </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/archive",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector that specifies the GuardDuty service whose findings you want to\n      archive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingIds": {
          "target": "com.amazonaws.guardduty#FindingIds",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of the findings that you want to archive.</p>",
            "smithy.api#jsonName": "findingIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#ArchiveFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#AwsApiCallAction": {
      "type": "structure",
      "members": {
        "Api": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services API name.</p>",
            "smithy.api#jsonName": "api"
          }
        },
        "CallerType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services API caller type.</p>",
            "smithy.api#jsonName": "callerType"
          }
        },
        "DomainDetails": {
          "target": "com.amazonaws.guardduty#DomainDetails",
          "traits": {
            "smithy.api#documentation": "<p>The domain information for the Amazon Web Services API call.</p>",
            "smithy.api#jsonName": "domainDetails"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code of the failed Amazon Web Services API action.</p>",
            "smithy.api#jsonName": "errorCode"
          }
        },
        "UserAgent": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The agent through which the API request was made.</p>",
            "smithy.api#jsonName": "userAgent"
          }
        },
        "RemoteIpDetails": {
          "target": "com.amazonaws.guardduty#RemoteIpDetails",
          "traits": {
            "smithy.api#documentation": "<p>The remote IP information of the connection that initiated the Amazon Web Services API call.</p>",
            "smithy.api#jsonName": "remoteIpDetails"
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service name whose API was invoked.</p>",
            "smithy.api#jsonName": "serviceName"
          }
        },
        "RemoteAccountDetails": {
          "target": "com.amazonaws.guardduty#RemoteAccountDetails",
          "traits": {
            "smithy.api#documentation": "<p>The details of the Amazon Web Services account that made the API call. This field appears if the call was made from outside your account.</p>",
            "smithy.api#jsonName": "remoteAccountDetails"
          }
        },
        "AffectedResources": {
          "target": "com.amazonaws.guardduty#AffectedResources",
          "traits": {
            "smithy.api#documentation": "<p>The details of the Amazon Web Services account that made the API call. This field identifies the resources that were affected by this API call.</p>",
            "smithy.api#jsonName": "affectedResources"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the API action.</p>"
      }
    },
    "com.amazonaws.guardduty#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#jsonName": "message"
          }
        },
        "Type": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The error type.</p>",
            "smithy.api#jsonName": "__type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A bad request exception object.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.guardduty#BlockPublicAccess": {
      "type": "structure",
      "members": {
        "IgnorePublicAcls": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>IgnorePublicAcls</code>.</p>",
            "smithy.api#jsonName": "ignorePublicAcls"
          }
        },
        "RestrictPublicBuckets": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>RestrictPublicBuckets</code>.</p>",
            "smithy.api#jsonName": "restrictPublicBuckets"
          }
        },
        "BlockPublicAcls": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicAcls</code>.</p>",
            "smithy.api#jsonName": "blockPublicAcls"
          }
        },
        "BlockPublicPolicy": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates if S3 Block Public Access is set to <code>BlockPublicPolicy</code>.</p>",
            "smithy.api#jsonName": "blockPublicPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on how the bucker owner's S3 Block Public Access settings are being\n      applied to the S3 bucket. See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">S3 Block Public\n        Access</a> for more information. </p>"
      }
    },
    "com.amazonaws.guardduty#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.guardduty#BucketLevelPermissions": {
      "type": "structure",
      "members": {
        "AccessControlList": {
          "target": "com.amazonaws.guardduty#AccessControlList",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on how Access Control Policies are applied to the bucket.</p>",
            "smithy.api#jsonName": "accessControlList"
          }
        },
        "BucketPolicy": {
          "target": "com.amazonaws.guardduty#BucketPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on the bucket policies for the S3 bucket.</p>",
            "smithy.api#jsonName": "bucketPolicy"
          }
        },
        "BlockPublicAccess": {
          "target": "com.amazonaws.guardduty#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Contains information on which account level S3 Block Public Access settings are applied to\n      the S3 bucket.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the bucket level permissions for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#BucketPolicy": {
      "type": "structure",
      "members": {
        "AllowsPublicReadAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether public read access for the bucket is enabled through a\n      bucket policy.</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "AllowsPublicWriteAccess": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A value that indicates whether public write access for the bucket is enabled through a\n      bucket policy.</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the current bucket policies for the S3 bucket.</p>"
      }
    },
    "com.amazonaws.guardduty#City": {
      "type": "structure",
      "members": {
        "CityName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The city name of the remote IP address.</p>",
            "smithy.api#jsonName": "cityName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the city associated with the IP address.</p>"
      }
    },
    "com.amazonaws.guardduty#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 64
        }
      }
    },
    "com.amazonaws.guardduty#CloudTrailConfigurationResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.guardduty#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether CloudTrail is enabled as a data source for the detector.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the status of CloudTrail as a data source for the detector.</p>"
      }
    },
    "com.amazonaws.guardduty#Condition": {
      "type": "structure",
      "members": {
        "Eq": {
          "target": "com.amazonaws.guardduty#Eq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the <i>equal</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "eq"
          }
        },
        "Neq": {
          "target": "com.amazonaws.guardduty#Neq",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents the <i>not equal</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "neq"
          }
        },
        "Gt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "gt"
          }
        },
        "Gte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a\n      single field when querying for findings.</p>",
            "smithy.api#jsonName": "gte"
          }
        },
        "Lt": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "lt"
          }
        },
        "Lte": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single\n      field when querying for findings.</p>",
            "smithy.api#jsonName": "lte"
          }
        },
        "Equals": {
          "target": "com.amazonaws.guardduty#Equals",
          "traits": {
            "smithy.api#documentation": "<p>Represents an <i>equal</i>\n            <b></b> condition to be applied to\n      a single field when querying for findings.</p>",
            "smithy.api#jsonName": "equals"
          }
        },
        "NotEquals": {
          "target": "com.amazonaws.guardduty#NotEquals",
          "traits": {
            "smithy.api#documentation": "<p>Represents a <i>not equal</i>\n            <b></b> condition to be applied\n      to a single field when querying for findings.</p>",
            "smithy.api#jsonName": "notEquals"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Represents a <i>greater than</i> condition to be applied to a single field\n      when querying for findings.</p>",
            "smithy.api#jsonName": "greaterThan"
          }
        },
        "GreaterThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Represents a <i>greater than or equal</i> condition to be applied to a\n      single field when querying for findings.</p>",
            "smithy.api#jsonName": "greaterThanOrEqual"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Represents a <i>less than</i> condition to be applied to a single field when\n      querying for findings.</p>",
            "smithy.api#jsonName": "lessThan"
          }
        },
        "LessThanOrEqual": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Represents a <i>less than or equal</i> condition to be applied to a single\n      field when querying for findings.</p>",
            "smithy.api#jsonName": "lessThanOrEqual"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the condition.</p>"
      }
    },
    "com.amazonaws.guardduty#Container": {
      "type": "structure",
      "members": {
        "ContainerRuntime": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The container runtime (such as, Docker or containerd) used to run the container.</p>",
            "smithy.api#jsonName": "containerRuntime"
          }
        },
        "Id": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container ID.</p>",
            "smithy.api#jsonName": "id"
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container name.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "Image": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Container image.</p>",
            "smithy.api#jsonName": "image"
          }
        },
        "ImagePrefix": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>Part of the image name before the last slash. For example, imagePrefix for public.ecr.aws/amazonlinux/amazonlinux:latest would be public.ecr.aws/amazonlinux. If the image name is relative and does not have a slash, this field is empty.</p>",
            "smithy.api#jsonName": "imagePrefix"
          }
        },
        "VolumeMounts": {
          "target": "com.amazonaws.guardduty#VolumeMounts",
          "traits": {
            "smithy.api#documentation": "<p>Container volume mounts.</p>",
            "smithy.api#jsonName": "volumeMounts"
          }
        },
        "SecurityContext": {
          "target": "com.amazonaws.guardduty#SecurityContext",
          "traits": {
            "smithy.api#documentation": "<p>Container security context.</p>",
            "smithy.api#jsonName": "securityContext"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of a container.</p>"
      }
    },
    "com.amazonaws.guardduty#Containers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#Container"
      }
    },
    "com.amazonaws.guardduty#CountBySeverity": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Integer"
      }
    },
    "com.amazonaws.guardduty#Country": {
      "type": "structure",
      "members": {
        "CountryCode": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The country code of the remote IP address.</p>",
            "smithy.api#jsonName": "countryCode"
          }
        },
        "CountryName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The country name of the remote IP address.</p>",
            "smithy.api#jsonName": "countryName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the country where the remote IP address is located.</p>"
      }
    },
    "com.amazonaws.guardduty#CreateDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a single Amazon GuardDuty detector. A detector is a resource that represents the\n      GuardDuty service. To start using GuardDuty, you must create a detector in each Region where\n      you enable the service. You can have only one detector per account per Region. All data\n      sources are enabled in a new detector by default.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetectorRequest": {
      "type": "structure",
      "members": {
        "Enable": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the detector is to be enabled.</p>",
            "smithy.api#jsonName": "enable",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "FindingPublishingFrequency": {
          "target": "com.amazonaws.guardduty#FindingPublishingFrequency",
          "traits": {
            "smithy.api#documentation": "<p>A value that specifies how frequently updated findings are exported.</p>",
            "smithy.api#jsonName": "findingPublishingFrequency"
          }
        },
        "DataSources": {
          "target": "com.amazonaws.guardduty#DataSourceConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Describes which data sources will be enabled for the detector.</p>",
            "smithy.api#jsonName": "dataSources"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new detector resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateDetectorResponse": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the created detector.</p>",
            "smithy.api#jsonName": "detectorId"
          }
        },
        "UnprocessedDataSources": {
          "target": "com.amazonaws.guardduty#UnprocessedDataSourcesResult",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data sources that couldn't be enabled when GuardDuty was enabled for the \n    first time.</p>",
            "smithy.api#jsonName": "unprocessedDataSources"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a filter using the specified finding criteria.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/filter",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilterRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector belonging to the GuardDuty account that you want to create a filter\n      for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter. Valid characters include period (.), underscore (_), \n      dash (-), and alphanumeric characters. A whitespace is considered to be an invalid character.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.guardduty#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the filter. Valid special characters include period (.), underscore (_), dash (-), \n      and whitespace. The new line character is considered to be an invalid input for description.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Action": {
          "target": "com.amazonaws.guardduty#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#jsonName": "action"
          }
        },
        "Rank": {
          "target": "com.amazonaws.guardduty#FilterRank",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Specifies the position of the filter in the list of current filters. Also specifies the\n      order in which this filter is applied to the findings.</p>",
            "smithy.api#jsonName": "rank"
          }
        },
        "FindingCriteria": {
          "target": "com.amazonaws.guardduty#FindingCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria to be used in the filter for querying findings.</p>\n         <p>You can only use the following attributes to query findings:</p>\n         <ul>\n            <li>\n               <p>accountId</p>\n            </li>\n            <li>\n               <p>region</p>\n            </li>\n            <li>\n               <p>confidence</p>\n            </li>\n            <li>\n               <p>id</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.accessKeyId</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.principalId</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.userName</p>\n            </li>\n            <li>\n               <p>resource.accessKeyDetails.userType</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.iamInstanceProfile.id</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.imageId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.instanceId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.outpostArn</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.ipv6Addresses</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.privateIpAddresses.privateIpAddress</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.publicDnsName</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.publicIp</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.securityGroups.groupId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.securityGroups.groupName</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.subnetId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.networkInterfaces.vpcId</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.tags.key</p>\n            </li>\n            <li>\n               <p>resource.instanceDetails.tags.value</p>\n            </li>\n            <li>\n               <p>resource.resourceType</p>\n            </li>\n            <li>\n               <p>service.action.actionType</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.api</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.callerType</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.errorCode</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.userAgent</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.city.cityName</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.country.countryName</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.organization.asn</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.remoteIpDetails.organization.asnOrg</p>\n            </li>\n            <li>\n               <p>service.action.awsApiCallAction.serviceName</p>\n            </li>\n            <li>\n               <p>service.action.dnsRequestAction.domain</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.blocked</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.connectionDirection</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.localPortDetails.port</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.protocol</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.localIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.city.cityName</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.country.countryName</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.ipAddressV4</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.organization.asn</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remoteIpDetails.organization.asnOrg</p>\n            </li>\n            <li>\n               <p>service.action.networkConnectionAction.remotePortDetails.port</p>\n            </li>\n            <li>\n               <p>service.additionalInfo.threatListName</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.publicAccess.effectivePermissions</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.name</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.tags.key</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.tags.value</p>\n            </li>\n            <li>\n               <p>resource.s3BucketDetails.type</p>\n            </li>\n            <li>\n               <p>service.archived</p>\n               <p>When this attribute is set to TRUE, only archived findings are listed. When it's set\n          to FALSE, only unarchived findings are listed. When this attribute is not set, all\n          existing findings are listed.</p>\n            </li>\n            <li>\n               <p>service.resourceRole</p>\n            </li>\n            <li>\n               <p>severity</p>\n            </li>\n            <li>\n               <p>type</p>\n            </li>\n            <li>\n               <p>updatedAt</p>\n               <p>Type: ISO 8601 string format: YYYY-MM-DDTHH:MM:SS.SSSZ or YYYY-MM-DDTHH:MM:SSZ\n          depending on whether the value contains milliseconds.</p>\n            </li>\n         </ul>",
            "smithy.api#jsonName": "findingCriteria",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new filter resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateFilterResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.guardduty#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the successfully created filter.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new IPSet, which is called a trusted IP list in the console user interface. An\n      IPSet is a list of IP addresses that are trusted for secure communication with Amazon Web Services\n      infrastructure and applications. GuardDuty doesn't generate findings for IP addresses that are\n      included in IPSets. Only users from the administrator account can use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/ipset",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to create an IPSet\n      for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>The user-friendly name to identify the IPSet.</p>\n         <p> Allowed characters are alphanumerics, spaces, hyphens (-), and underscores (_).</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.guardduty#IpSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the file that contains the IPSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the IPSet. </p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Activate": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that indicates whether GuardDuty is to start using the uploaded\n      IPSet.</p>",
            "smithy.api#jsonName": "activate",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new IP set resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateIPSetResponse": {
      "type": "structure",
      "members": {
        "IpSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the IPSet resource.</p>",
            "smithy.api#jsonName": "ipSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates member accounts of the current Amazon Web Services account by specifying a list of Amazon Web Services account\n      IDs. This step is a prerequisite for managing the associated member accounts either by\n      invitation or through an organization.</p>\n         <p>When using <code>Create Members</code> as an organizations delegated administrator this\n      action will enable GuardDuty in the added member accounts, with the exception of the\n      organization delegated administrator account, which must enable GuardDuty prior to being added as a\n      member.</p>\n         <p>If you are adding accounts by invitation use this action after GuardDuty has been enabled\n      in potential member accounts and before using <a href=\"https://docs.aws.amazon.com/guardduty/latest/APIReference/API_InviteMembers.html\">\n               <code>Invite\n        Members</code>\n            </a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembersRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to associate member\n      accounts with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "AccountDetails": {
          "target": "com.amazonaws.guardduty#AccountDetails",
          "traits": {
            "smithy.api#documentation": "<p>A list of account ID and email address pairs of the accounts that you want to associate\n      with the GuardDuty administrator account.</p>",
            "smithy.api#jsonName": "accountDetails",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects that include the <code>accountIds</code> of the unprocessed accounts and\n      a result string that explains why each was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreatePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreatePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a publishing destination to export findings to. The resource to export findings to\n      must exist before you use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/publishingDestination",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the GuardDuty detector associated with the publishing destination.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.guardduty#DestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource for the publishing destination. Currently only Amazon S3 buckets are\n      supported.</p>",
            "smithy.api#jsonName": "destinationType",
            "smithy.api#required": {}
          }
        },
        "DestinationProperties": {
          "target": "com.amazonaws.guardduty#DestinationProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the publishing destination, including the ARNs for the destination and\n      the KMS key used for encryption.</p>",
            "smithy.api#jsonName": "destinationProperties",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreatePublishingDestinationResponse": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination that is created.</p>",
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateSampleFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateSampleFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates example findings of types specified by the list of finding types. If 'NULL' is\n      specified for <code>findingTypes</code>, the API generates example findings of all supported\n      finding types.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/findings/create",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindingsRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector to create sample findings for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FindingTypes": {
          "target": "com.amazonaws.guardduty#FindingTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of sample findings to generate.</p>",
            "smithy.api#jsonName": "findingTypes"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateSampleFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#CreateThreatIntelSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#CreateThreatIntelSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#CreateThreatIntelSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new ThreatIntelSet. ThreatIntelSets consist of known malicious IP addresses.\n      GuardDuty generates findings based on ThreatIntelSets. Only users of the administrator account can\n      use this operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/threatintelset",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#CreateThreatIntelSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account that you want to create a\n      threatIntelSet for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.guardduty#Name",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly ThreatIntelSet name displayed in all findings that are generated by\n      activity that involves IP addresses included in this ThreatIntelSet.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.guardduty#ThreatIntelSetFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the file that contains the ThreatIntelSet.</p>",
            "smithy.api#jsonName": "format",
            "smithy.api#required": {}
          }
        },
        "Location": {
          "target": "com.amazonaws.guardduty#Location",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the file that contains the ThreatIntelSet. </p>",
            "smithy.api#jsonName": "location",
            "smithy.api#required": {}
          }
        },
        "Activate": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A Boolean value that indicates whether GuardDuty is to start using the uploaded\n      ThreatIntelSet.</p>",
            "smithy.api#jsonName": "activate",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.guardduty#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the create request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "Tags": {
          "target": "com.amazonaws.guardduty#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to be added to a new threat list resource.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.guardduty#CreateThreatIntelSetResponse": {
      "type": "structure",
      "members": {
        "ThreatIntelSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ThreatIntelSet resource.</p>",
            "smithy.api#jsonName": "threatIntelSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#Criterion": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.guardduty#String"
      },
      "value": {
        "target": "com.amazonaws.guardduty#Condition"
      }
    },
    "com.amazonaws.guardduty#CriterionKey": {
      "type": "enum",
      "members": {
        "EC2_INSTANCE_ARN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2_INSTANCE_ARN"
          }
        },
        "SCAN_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_ID"
          }
        },
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "GUARDDUTY_FINDING_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GUARDDUTY_FINDING_ID"
          }
        },
        "SCAN_START_TIME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_START_TIME"
          }
        },
        "SCAN_STATUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCAN_STATUS"
          }
        }
      }
    },
    "com.amazonaws.guardduty#DNSLogsConfigurationResult": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.guardduty#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Denotes whether DNS logs is enabled as a data source.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the status of DNS logs as a data source.</p>"
      }
    },
    "com.amazonaws.guardduty#DataSource": {
      "type": "enum",
      "members": {
        "FLOW_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FLOW_LOGS"
          }
        },
        "CLOUD_TRAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD_TRAIL"
          }
        },
        "DNS_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DNS_LOGS"
          }
        },
        "S3_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "S3_LOGS"
          }
        },
        "KUBERNETES_AUDIT_LOGS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KUBERNETES_AUDIT_LOGS"
          }
        },
        "EC2_MALWARE_SCAN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2_MALWARE_SCAN"
          }
        }
      }
    },
    "com.amazonaws.guardduty#DataSourceConfigurations": {
      "type": "structure",
      "members": {
        "S3Logs": {
          "target": "com.amazonaws.guardduty#S3LogsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether S3 data event logs are enabled as a data source.</p>",
            "smithy.api#jsonName": "s3Logs"
          }
        },
        "Kubernetes": {
          "target": "com.amazonaws.guardduty#KubernetesConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any Kubernetes logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "kubernetes"
          }
        },
        "MalwareProtection": {
          "target": "com.amazonaws.guardduty#MalwareProtectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether Malware Protection is enabled as a data source.</p>",
            "smithy.api#jsonName": "malwareProtection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about which data sources are enabled.</p>"
      }
    },
    "com.amazonaws.guardduty#DataSourceConfigurationsResult": {
      "type": "structure",
      "members": {
        "CloudTrail": {
          "target": "com.amazonaws.guardduty#CloudTrailConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information on the status of CloudTrail as a data source.</p>",
            "smithy.api#jsonName": "cloudTrail",
            "smithy.api#required": {}
          }
        },
        "DNSLogs": {
          "target": "com.amazonaws.guardduty#DNSLogsConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information on the status of DNS logs as a data source.</p>",
            "smithy.api#jsonName": "dnsLogs",
            "smithy.api#required": {}
          }
        },
        "FlowLogs": {
          "target": "com.amazonaws.guardduty#FlowLogsConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information on the status of VPC flow logs as a data\n      source.</p>",
            "smithy.api#jsonName": "flowLogs",
            "smithy.api#required": {}
          }
        },
        "S3Logs": {
          "target": "com.amazonaws.guardduty#S3LogsConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information on the status of S3 Data event logs as a data\n      source.</p>",
            "smithy.api#jsonName": "s3Logs",
            "smithy.api#required": {}
          }
        },
        "Kubernetes": {
          "target": "com.amazonaws.guardduty#KubernetesConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information on the status of all Kubernetes data sources.</p>",
            "smithy.api#jsonName": "kubernetes"
          }
        },
        "MalwareProtection": {
          "target": "com.amazonaws.guardduty#MalwareProtectionConfigurationResult",
          "traits": {
            "smithy.api#documentation": "<p>Describes the configuration of Malware Protection data sources.</p>",
            "smithy.api#jsonName": "malwareProtection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the status of data sources for the detector.</p>"
      }
    },
    "com.amazonaws.guardduty#DataSourceFreeTrial": {
      "type": "structure",
      "members": {
        "FreeTrialDaysRemaining": {
          "target": "com.amazonaws.guardduty#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A value that specifies the number of days left to use each enabled data source.</p>",
            "smithy.api#jsonName": "freeTrialDaysRemaining"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about which data sources are enabled for the GuardDuty member account.</p>"
      }
    },
    "com.amazonaws.guardduty#DataSourceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.guardduty#DataSource"
      }
    },
    "com.amazonaws.guardduty#DataSourceStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.guardduty#DataSourcesFreeTrial": {
      "type": "structure",
      "members": {
        "CloudTrail": {
          "target": "com.amazonaws.guardduty#DataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any Amazon Web Services CloudTrail management event logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "cloudTrail"
          }
        },
        "DnsLogs": {
          "target": "com.amazonaws.guardduty#DataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any DNS logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "dnsLogs"
          }
        },
        "FlowLogs": {
          "target": "com.amazonaws.guardduty#DataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any VPC Flow logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "flowLogs"
          }
        },
        "S3Logs": {
          "target": "com.amazonaws.guardduty#DataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any S3 data event logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "s3Logs"
          }
        },
        "Kubernetes": {
          "target": "com.amazonaws.guardduty#KubernetesDataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether any Kubernetes logs are enabled as data sources.</p>",
            "smithy.api#jsonName": "kubernetes"
          }
        },
        "MalwareProtection": {
          "target": "com.amazonaws.guardduty#MalwareProtectionDataSourceFreeTrial",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether Malware Protection is enabled as a data source.</p>",
            "smithy.api#jsonName": "malwareProtection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about which data sources are enabled for the GuardDuty member account.</p>"
      }
    },
    "com.amazonaws.guardduty#DeclineInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeclineInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeclineInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Declines invitations sent to the current member account by Amazon Web Services accounts specified by their\n      account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/decline",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeclineInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the Amazon Web Services accounts that sent invitations to the current member\n      account that you want to decline invitations from.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeclineInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects that contain the unprocessed account and a result string that explains\n      why it was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DefaultServerSideEncryption": {
      "type": "structure",
      "members": {
        "EncryptionType": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption used for objects within the S3 bucket.</p>",
            "smithy.api#jsonName": "encryptionType"
          }
        },
        "KmsMasterKeyArn": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the KMS encryption key. Only available if the bucket\n        <code>EncryptionType</code> is <code>aws:kms</code>.</p>",
            "smithy.api#jsonName": "kmsMasterKeyArn"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information on the server side encryption method used in the S3 bucket. See\n      <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/serv-side-encryption.html\">S3\n        Server-Side Encryption</a> for more information.</p>"
      }
    },
    "com.amazonaws.guardduty#DeleteDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon GuardDuty detector that is specified by the detector ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteDetectorRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the filter specified by the filter name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/filter/{FilterName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteFilterRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that the filter is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "FilterName": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "filterName",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteFilterResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteIPSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteIPSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteIPSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the IPSet specified by the <code>ipSetId</code>. IPSets are called trusted IP\n      lists in the console user interface.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/ipset/{IpSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteIPSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the IPSet.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "IpSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the IPSet to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "ipSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteIPSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes invitations sent to the current member account by Amazon Web Services accounts specified by their\n      account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitation/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteInvitationsRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the Amazon Web Services accounts that sent invitations to the current member\n      account that you want to delete invitations from.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteInvitationsResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects that contain the unprocessed account and a result string that explains\n      why it was unprocessed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes GuardDuty member accounts (to the current GuardDuty administrator account) specified by\n      the account IDs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/member/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembersRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector of the GuardDuty account whose members you want to\n      delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "AccountIds": {
          "target": "com.amazonaws.guardduty#AccountIds",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs of the GuardDuty member accounts that you want to delete.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteMembersResponse": {
      "type": "structure",
      "members": {
        "UnprocessedAccounts": {
          "target": "com.amazonaws.guardduty#UnprocessedAccounts",
          "traits": {
            "smithy.api#documentation": "<p>The accounts that could not be processed.</p>",
            "smithy.api#jsonName": "unprocessedAccounts",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeletePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeletePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the publishing definition with the specified <code>destinationId</code>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/publishingDestination/{DestinationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the publishing destination to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeletePublishingDestinationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DeleteThreatIntelSetRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DeleteThreatIntelSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the ThreatIntelSet specified by the ThreatIntelSet ID.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/detector/{DetectorId}/threatintelset/{ThreatIntelSetId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSetRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that the threatIntelSet is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "ThreatIntelSetId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the threatIntelSet that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "threatIntelSetId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DeleteThreatIntelSetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.guardduty#DescribeMalwareScans": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DescribeMalwareScansRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DescribeMalwareScansResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of malware scans. Each member account can view the malware scans for their \n      own accounts. An administrator can view the malware scans for all the member accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/detector/{DetectorId}/malware-scans",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Scans",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.guardduty#DescribeMalwareScansRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector that the request is associated with.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to\n      null on your first call to the list action. For subsequent calls to the action, fill nextToken\n      in the request with the value of NextToken from the previous response to continue listing\n      data.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.guardduty#IntegerValueWithMax",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>You can use this parameter to indicate the maximum number of items that you want in the\n      response. The default value is 50. The maximum value is 50.</p>",
            "smithy.api#jsonName": "maxResults"
          }
        },
        "FilterCriteria": {
          "target": "com.amazonaws.guardduty#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria to be used in the filter for describing scan entries.</p>",
            "smithy.api#jsonName": "filterCriteria"
          }
        },
        "SortCriteria": {
          "target": "com.amazonaws.guardduty#SortCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Represents the criteria used for sorting scan entries.</p>",
            "smithy.api#jsonName": "sortCriteria"
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribeMalwareScansResponse": {
      "type": "structure",
      "members": {
        "Scans": {
          "target": "com.amazonaws.guardduty#Scans",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about malware scans.</p>",
            "smithy.api#jsonName": "scans",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination parameter to be used on the next list operation to retrieve more items.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribeOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DescribeOrganizationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the account selected as the delegated administrator for\n      GuardDuty.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/admin",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DescribeOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the detector to retrieve information about the delegated administrator\n      from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribeOrganizationConfigurationResponse": {
      "type": "structure",
      "members": {
        "AutoEnable": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether GuardDuty is automatically enabled for accounts added to the\n      organization.</p>",
            "smithy.api#jsonName": "autoEnable",
            "smithy.api#required": {}
          }
        },
        "MemberAccountLimitReached": {
          "target": "com.amazonaws.guardduty#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the maximum number of allowed member accounts are already associated\n      with the delegated administrator account for your organization.</p>",
            "smithy.api#jsonName": "memberAccountLimitReached",
            "smithy.api#required": {}
          }
        },
        "DataSources": {
          "target": "com.amazonaws.guardduty#OrganizationDataSourceConfigurationsResult",
          "traits": {
            "smithy.api#documentation": "<p>Describes which data sources are enabled automatically for member\n      accounts.</p>",
            "smithy.api#jsonName": "dataSources"
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribePublishingDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.guardduty#DescribePublishingDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.guardduty#DescribePublishingDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.guardduty#BadRequestException"
        },
        {
          "target": "com.amazonaws.guardduty#InternalServerErrorException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the publishing destination specified by the provided\n        <code>destinationId</code>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/detector/{DetectorId}/publishingDestination/{DestinationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.guardduty#DescribePublishingDestinationRequest": {
      "type": "structure",
      "members": {
        "DetectorId": {
          "target": "com.amazonaws.guardduty#DetectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the detector associated with the publishing destination to\n      retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "detectorId",
            "smithy.api#required": {}
          }
        },
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.guardduty#DescribePublishingDestinationResponse": {
      "type": "structure",
      "members": {
        "DestinationId": {
          "target": "com.amazonaws.guardduty#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the publishing destination.</p>",
            "smithy.api#jsonName": "destinationId",
            "smithy.api#required": {}
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.guardduty#DestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The type of publishing destination. Currently, only Amazon S3 buckets are\n      supported.</p>",
            "smithy.api#jsonName": "destinationType",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.guardduty#PublishingStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the publishing destination.</p>",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "PublishingFailureStartTimestamp": {
          "target": "com.amazonaws.guardduty#Long",
          "traits": {
[...]
