{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.health#AWSHealth_20160804": {
      "type": "service",
      "version": "2016-08-04",
      "operations": [
        {
          "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeAffectedEntities"
        },
        {
          "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEntityAggregates"
        },
        {
          "target": "com.amazonaws.health#DescribeEventAggregates"
        },
        {
          "target": "com.amazonaws.health#DescribeEventDetails"
        },
        {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEvents"
        },
        {
          "target": "com.amazonaws.health#DescribeEventsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEventTypes"
        },
        {
          "target": "com.amazonaws.health#DescribeHealthServiceStatusForOrganization"
        },
        {
          "target": "com.amazonaws.health#DisableHealthServiceAccessForOrganization"
        },
        {
          "target": "com.amazonaws.health#EnableHealthServiceAccessForOrganization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Health",
          "arnNamespace": "health",
          "cloudFormationName": "Health",
          "cloudTrailEventSource": "health.amazonaws.com",
          "endpointPrefix": "health"
        },
        "aws.auth#sigv4": {
          "name": "health"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Health</fullname>\n      \n         <p>The Health API provides programmatic access to the Health information that\n         appears in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">Personal Health Dashboard</a>. You\n         can use the API operations to get information about events that might affect your Amazon Web Services services and resources.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health\n                  API. If you call the Health API from an Amazon Web Services account that\n                  doesn't have a Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a\n                     <code>SubscriptionRequiredException</code> error.</p>\n               </li>\n               <li>\n                  <p>You can use the Health endpoint health.us-east-1.amazonaws.com (HTTPS) to\n                  call the Health API operations. Health supports a multi-Region\n                  application architecture and has two regional endpoints in an active-passive\n                  configuration. You can use the high availability endpoint example to determine\n                  which Amazon Web Services Region is active, so that you can get the latest information from the\n                  API. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/health-api.html\">Accessing the Health API</a> in the\n                     <i>Health User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>For authentication of requests, Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing\n            Process</a>.</p>\n         <p>If your Amazon Web Services account is part of Organizations, you can use the Health organizational\n         view feature. This feature provides a centralized view of Health events across all\n         accounts in your organization. You can aggregate Health events in real time to\n         identify accounts in your organization that are affected by an operational event or get\n         notified of security vulnerabilities. Use the organizational view API operations to enable\n         this feature and return event information. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating\n            Health events</a> in the <i>Health User Guide</i>.</p>\n         <note>\n            <p>When you use the Health API operations to return Health events, see the\n            following recommendations:</p>\n            <ul>\n               <li>\n                  <p>Use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html#AWSHealth-Type-Event-eventScopeCode\">eventScopeCode</a> parameter to specify whether to return Health\n                  events that are public or account-specific.</p>\n               </li>\n               <li>\n                  <p>Use pagination to view all events from the response. For example, if you call\n                  the <code>DescribeEventsForOrganization</code> operation to get all events in your\n                  organization, you might receive several page results. Specify the\n                     <code>nextToken</code> in the next request to return more results.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#title": "AWS Health APIs and Notifications",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health-fips.{Region}.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "us-east-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://global.health.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "health",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingName": "health",
                                      "signingRegion": "cn-northwest-1"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://global.health.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "health",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://health-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://health-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://health.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://global.health.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "health",
                              "signingRegion": "us-east-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://global.health.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingName": "health",
                              "signingRegion": "cn-northwest-1"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://health.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingName": "health",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://global.health.amazonaws.com"
                }
              },
              "params": {
                "Region": "aws-global",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://health-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://health-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://health.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://health.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.health#AffectedEntity": {
      "type": "structure",
      "members": {
        "entityArn": {
          "target": "com.amazonaws.health#entityArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>\n            </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code>\n         </p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. The event ARN has the\n<code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>\nformat.</p>\n         <p>For example, an event ARN might look like the following:</p>\n         <p>\n            <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        },
        "entityValue": {
          "target": "com.amazonaws.health#entityValue",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the affected entity.</p>"
          }
        },
        "entityUrl": {
          "target": "com.amazonaws.health#entityUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the affected entity.</p>"
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account number that contains the affected entity.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time that the entity was updated.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.health#entityStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The most recent status of the entity affected by the event. The possible values are\n            <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.health#tagSet",
          "traits": {
            "smithy.api#documentation": "<p>A map of entity tags attached to the affected entity.</p>\n         <note>\n            <p>Currently, the <code>tags</code> property isn't supported.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an entity that is affected by a Health event.</p>"
      }
    },
    "com.amazonaws.health#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.health#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> is already in progress. Wait for the\n         action to complete before trying again. To get the current status, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeHealthServiceStatusForOrganization.html\">DescribeHealthServiceStatusForOrganization</a> operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.health#DateTimeRange": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date and time of a time range.</p>"
          }
        },
        "to": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending date and time of a time range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A range of dates and times that is used by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventFilter.html\">EventFilter</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EntityFilter.html\">EntityFilter</a> objects. If <code>from</code> is set and <code>to</code> is set:\n         match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or\n            <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code>\n         inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where\n         the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set\n         and <code>to</code> is set: match items where the timestamp value is equal to or before\n            <code>to</code>.</p>"
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of accounts in the organization from Organizations that are affected by the\n         provided event. For more information about the different types of Health events, see\n            <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>. </p>\n         <p>Before you can call this operation, you must first enable Health to work with\n         Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         management account.</p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "affectedAccounts",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. The event ARN has the\n<code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>\nformat.</p>\n         <p>For example, an event ARN might look like the following:</p>\n         <p>\n            <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "affectedAccounts": {
          "target": "com.amazonaws.health#affectedAccountsList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements of the affected accounts.</p>"
          }
        },
        "eventScopeCode": {
          "target": "com.amazonaws.health#eventScopeCode",
          "traits": {
            "smithy.api#documentation": "<p>This parameter specifies if the Health event is a public Amazon Web Services service event or an account-specific event.</p>\n         <ul>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>PUBLIC</code>, then the\n                  <code>affectedAccounts</code> value is always empty.</p>\n            </li>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>ACCOUNT_SPECIFIC</code>, then\n               the <code>affectedAccounts</code> value lists the affected Amazon Web Services accounts in your\n               organization. For example, if an event affects a service such as Amazon Elastic Compute Cloud and you\n               have Amazon Web Services accounts that use that service, those account IDs appear in the\n               response.</p>\n            </li>\n            <li>\n               <p>If the <code>eventScopeCode</code> value is <code>NONE</code>, then the\n                  <code>eventArn</code> that you specified in the request is invalid or doesn't\n               exist.</p>\n            </li>\n         </ul>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of entities that have been affected by the specified events, based on the\n         specified filter criteria. Entities can refer to individual customer resources, groups of\n         customer resources, or any other construct, depending on the Amazon Web Services service. Events that\n         have impact beyond that of the affected entities, or where the extent of impact is unknown,\n         include at least one entity indicating this.</p>\n         <p>At least one event ARN is required.</p>\n\n         <note>\n            <ul>\n               <li>\n                  <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n               </li>\n               <li>\n                  <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "entities",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of entities that have been affected by one or more events for one or more\n         accounts in your organization in Organizations, based on the filter criteria. Entities can refer\n         to individual customer resources, groups of customer resources, or any other construct,\n         depending on the Amazon Web Services service.</p>\n         <p>At least one event Amazon Resource Name (ARN) and account ID are required.</p>\n         <p>Before you can call this operation, you must first enable Health to work with\n         Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         management account.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n               </li>\n               <li>\n                  <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n               </li>\n            </ul>\n\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "entities",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationAffectedEntitiesErrorItem"
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationEntityFilters": {
          "target": "com.amazonaws.health#OrganizationEntityFiltersList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and the\n            <code>eventArn</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResultsLowerRange",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.amazonaws.health#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and its\n            <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>,\n            <code>lastUpdatedTime</code>, and <code>statusCode</code>.</p>"
          }
        },
        "failedSet": {
          "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements of the failed response, including the <code>awsAccountId</code>,\n            <code>errorMessage</code>, <code>errorName</code>, and <code>eventArn</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EntityFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned. At least one event ARN is required.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesResponse": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.amazonaws.health#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>The entities that match the filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEntityAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEntityAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEntityAggregatesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of entities that are affected by each of the specified events.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEntityAggregatesRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.health#EventArnsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEntityAggregatesResponse": {
      "type": "structure",
      "members": {
        "entityAggregates": {
          "target": "com.amazonaws.health#EntityAggregateList",
          "traits": {
            "smithy.api#documentation": "<p>The number of entities that are affected by each of the specified events.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventAggregatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of events of each event type (issue, scheduled change, and account\n         notification). If no filter is specified, the counts of all events in each category are\n         returned.</p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "eventAggregates",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeEventAggregatesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "aggregateField": {
          "target": "com.amazonaws.health#eventAggregateField",
          "traits": {
            "smithy.api#documentation": "<p>The only currently supported value is <code>eventTypeCategory</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventAggregatesResponse": {
      "type": "structure",
      "members": {
        "eventAggregates": {
          "target": "com.amazonaws.health#EventAggregateList",
          "traits": {
            "smithy.api#documentation": "<p>The number of events in each category that meet the optional filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about one or more specified events. Information includes\n         standard event data (Amazon Web Services Region, service, and so on, as returned by <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a>), a detailed event description, and possible additional metadata\n         that depends upon the nature of the event. Affected entities are not included. To retrieve\n         the entities, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operation.</p>\n         <p>If a specified event can't be retrieved, an error message is returned for that\n         event.</p>\n         <note>\n            <p>This operation supports resource-level permissions. You can use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventDetailsFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventDetailsErrorItem"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about one or more specified events for one or more\n         Amazon Web Services accounts in your organization. This information includes standard event data (such as\n         the Amazon Web Services Region and service), an event description, and (depending on the event) possible\n         metadata. This operation doesn't return affected entities, such as the resources related to\n         the event. To return affected entities, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a> operation.</p>\n         <note>\n            <p>Before you can call this operation, you must first enable Health to work with\n            Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n            management account.</p>\n         </note>\n         <p>When you call the <code>DescribeEventDetailsForOrganization</code> operation, specify\n         the <code>organizationEventDetailFilters</code> object in the request. Depending on the\n         Health event type, note the following differences:</p>\n         <ul>\n            <li>\n               <p>To return event details for a public event, you must specify a null value for the\n                  <code>awsAccountId</code> parameter. If you specify an account ID for a public\n               event, Health returns an error message because public events aren't specific to\n               an account.</p>\n            </li>\n            <li>\n               <p>To return event details for an event that is specific to an account in your\n               organization, you must specify the <code>awsAccountId</code> parameter in the\n               request. If you don't specify an account ID, Health returns an error message\n               because the event is specific to an account in your organization. </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p>\n\n         <note>\n            <p>This operation doesn't support resource-level permissions. You can't use this operation to allow or deny access to specific Health events. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html#resource-action-based-conditions\">Resource- and action-based conditions</a> in the <i>Health User Guide</i>.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationEventDetailsErrorItem"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "organizationEventDetailFilters": {
          "target": "com.amazonaws.health#OrganizationEventDetailFiltersList",
          "traits": {
            "smithy.api#documentation": "<p>A set of JSON elements that includes the <code>awsAccountId</code> and the\n            <code>eventArn</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "successfulSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationSuccessfulSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the events that could be retrieved.</p>"
          }
        },
        "failedSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for any events that could not be retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationSuccessfulSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationEventDetails"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.health#eventArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsResponse": {
      "type": "structure",
      "members": {
        "successfulSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsSuccessfulSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the events that could be retrieved.</p>"
          }
        },
        "failedSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for any events that could not be retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsSuccessfulSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventDetails"
      }
    },
    "com.amazonaws.health#DescribeEventTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the event types that meet the specified filter criteria. You can use this API\n         operation to find information about the Health event, such as the category, Amazon Web Services\n         service, and event code. The metadata for each event appears in the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EventType.html\">EventType</a> object. </p>\n         <p>If you don't specify a filter criteria, the API operation returns all event types, in no\n         particular order. </p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "eventTypes",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeEventTypesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EventTypeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventTypesResponse": {
      "type": "structure",
      "members": {
        "eventTypes": {
          "target": "com.amazonaws.health#EventTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event types that match the filter criteria. Event types have a category\n            (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>),\n         a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>,\n            <code>BILLING</code>), and a code (in the format\n               <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for\n         example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns information about events that meet the specified filter criteria. Events are\n         returned in a summary form and do not include the detailed description, any additional\n         metadata that depends on the event type, or any affected resources. To retrieve that\n         information, use the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetails.html\">DescribeEventDetails</a> and <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operations.</p>\n         <p>If no filter criteria are specified, all events are returned. Results are sorted by\n            <code>lastModifiedTime</code>, starting with the most recent event.</p>\n         <note>\n            <ul>\n               <li>\n                  <p>When you call the <code>DescribeEvents</code> operation and specify an entity\n                  for the <code>entityValues</code> parameter, Health might return public\n                  events that aren't specific to that resource. For example, if you call\n                     <code>DescribeEvents</code> and specify an ID for an Amazon Elastic Compute Cloud (Amazon EC2)\n                  instance, Health might return events that aren't specific to that resource or\n                  service. To get events that are specific to a service, use the\n                     <code>services</code> parameter in the <code>filter</code> object. For more\n                  information, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p>\n               </li>\n               <li>\n                  <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n               </li>\n            </ul>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "events",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about events across your organization in Organizations. You can use\n            the<code>filters</code> parameter to specify the events that you want to return. Events\n         are returned in a summary form and don't include the affected accounts, detailed\n         description, any additional metadata that depends on the event type, or any affected\n         resources. To retrieve that information, use the following operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedAccountsForOrganization.html\">DescribeAffectedAccountsForOrganization</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEventDetailsForOrganization.html\">DescribeEventDetailsForOrganization</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntitiesForOrganization.html\">DescribeAffectedEntitiesForOrganization</a>\n               </p>\n            </li>\n         </ul>\n         <p>If you don't specify a <code>filter</code>, the\n            <code>DescribeEventsForOrganizations</code> returns all events across your organization.\n         Results are sorted by <code>lastModifiedTime</code>, starting with the most recent event. </p>\n         <p>For more information about the different types of Health events, see <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_Event.html\">Event</a>.</p>\n         <p>Before you can call this operation, you must first enable Health to work with\n         Organizations. To do this, call the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_EnableHealthServiceAccessForOrganization.html\">EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         management account.</p>\n         <note>\n            <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the next request to return more results.</p>\n         </note>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "events",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#OrganizationEventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResultsLowerRange",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.health#OrganizationEventList",
          "traits": {
            "smithy.api#documentation": "<p>The events that match the specified filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.health#EventList",
          "traits": {
            "smithy.api#documentation": "<p>The events that match the specified filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeHealthServiceStatusForOrganization": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeHealthServiceStatusForOrganizationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation provides status information on enabling or disabling Health to work\n         with your organization. To call this operation, you must sign in as an IAM user, assume\n         an IAM role, or sign in as the root user (not recommended) in the organization's\n         management account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeHealthServiceStatusForOrganizationResponse": {
      "type": "structure",
      "members": {
        "healthServiceAccessStatusForOrganization": {
          "target": "com.amazonaws.health#healthServiceAccessStatusForOrganization",
          "traits": {
            "smithy.api#documentation": "<p>Information about the status of enabling or disabling the Health organizational\n         view feature in your organization.</p>\n         <p>Valid values are <code>ENABLED | DISABLED | PENDING</code>. </p>"
          }
        }
      }
    },
    "com.amazonaws.health#DisableHealthServiceAccessForOrganization": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables Health from working with Organizations. To call this operation, you must sign\n         in as an Identity and Access Management (IAM) user, assume an IAM role, or sign in as the root user (not\n         recommended) in the organization's management account. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating\n            Health events</a> in the <i>Health User Guide</i>.</p>\n         <p>This operation doesn't remove the service-linked role from the management account in your\n         organization. You must use the IAM console, API, or Command Line Interface (CLI) to remove the\n         service-linked role. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html#delete-service-linked-role\">Deleting a Service-Linked Role</a> in the\n         <i>IAM User Guide</i>.</p>\n         <note>\n            <p>You can also disable the organizational feature by using the Organizations <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_DisableAWSServiceAccess.html\">DisableAWSServiceAccess</a> API operation. After you call this operation,\n            Health stops aggregating events for all other Amazon Web Services accounts in your organization.\n            If you call the Health API operations for organizational view, Health returns\n            an error. Health continues to aggregate health events for your\n            Amazon Web Services account.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#EnableHealthServiceAccessForOrganization": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables Health to work with Organizations. You can use the organizational view feature\n         to aggregate events from all Amazon Web Services accounts in your organization in a centralized location. </p>\n         <p>This operation also creates a service-linked role for the management account in the\n         organization. </p>\n         <note>\n            <p>To call this operation, you must meet the following requirements:</p>\n            <ul>\n               <li>\n                  <p>You must have a Business, Enterprise On-Ramp, or Enterprise Support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">Amazon Web Services Support</a> to use the Health\n                  API. If you call the Health API from an Amazon Web Services account that doesn't have a\n                  Business, Enterprise On-Ramp, or Enterprise Support plan, you receive a\n                     <code>SubscriptionRequiredException</code> error.</p>\n               </li>\n               <li>\n                  <p>You must have permission to call this operation from the organization's\n                  management account. For example IAM policies, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/security_iam_id-based-policy-examples.html\">Health\n                     identity-based policy examples</a>.</p>\n               </li>\n            </ul>\n         </note>\n         <p>If you don't have the required support plan, you can instead use the Health console\n         to enable the organizational view feature. For more information, see <a href=\"https://docs.aws.amazon.com/health/latest/ug/aggregate-events.html\">Aggregating\n            Health events</a> in the <i>Health User Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#EntityAggregate": {
      "type": "structure",
      "members": {
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. The event ARN has the\n<code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>\nformat.</p>\n         <p>For example, an event ARN might look like the following:</p>\n         <p>\n            <code>arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        },
        "count": {
          "target": "com.amazonaws.health#count",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of entities that match the criteria for the specified events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of entities that are affected by one or more events. Returned by the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeEntityAggregates.html\">DescribeEntityAggregates</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EntityAggregateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EntityAggregate"
      }
    },
    "com.amazonaws.health#EntityFilter": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.health#eventArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "entityArns": {
          "target": "com.amazonaws.health#entityArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity ARNs (unique identifiers).</p>"
          }
        },
        "entityValues": {
          "target": "com.amazonaws.health#entityValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for affected entities.</p>"
          }
        },
        "lastUpdatedTimes": {
          "target": "com.amazonaws.health#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the most recent dates and times that the entity was updated.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.health#tagFilter",
          "traits": {
            "smithy.api#documentation": "<p>A map of entity tags attached to the affected entity.</p>\n         <note>\n            <p>Currently, the <code>tags</code> property isn't supported.</p>\n         </note>"
          }
        },
        "statusCodes": {
          "target": "com.amazonaws.health#entityStatusCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or\n            <code>UNKNOWN</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values to use to filter results from the <a href=\"https://docs.aws.amazon.com/health/latest/APIReference/API_DescribeAffectedEntities.html\">DescribeAffectedEntities</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#AffectedEntity"
      }
    },
    "com.amazonaws.health#Event": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
[...]
