{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.health#AWSHealth_20160804": {
      "type": "service",
      "version": "2016-08-04",
      "operations": [
        {
          "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeAffectedEntities"
        },
        {
          "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEntityAggregates"
        },
        {
          "target": "com.amazonaws.health#DescribeEventAggregates"
        },
        {
          "target": "com.amazonaws.health#DescribeEventDetails"
        },
        {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEvents"
        },
        {
          "target": "com.amazonaws.health#DescribeEventsForOrganization"
        },
        {
          "target": "com.amazonaws.health#DescribeEventTypes"
        },
        {
          "target": "com.amazonaws.health#DescribeHealthServiceStatusForOrganization"
        },
        {
          "target": "com.amazonaws.health#DisableHealthServiceAccessForOrganization"
        },
        {
          "target": "com.amazonaws.health#EnableHealthServiceAccessForOrganization"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Health",
          "arnNamespace": "health",
          "cloudFormationName": "Health",
          "cloudTrailEventSource": "v20160804.silvermineunifiedapi.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "health"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Health</fullname>\n      \n         <p>The AWS Health API provides programmatic access to the AWS Health information\n         that is presented in the <a href=\"https://phd.aws.amazon.com/phd/home#/\">AWS Personal Health Dashboard</a>. You can get information about events that affect your AWS\n         resources:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeEvents</a>: Summary information about events.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventDetails</a>: Detailed information about one or more\n               events.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAffectedEntities</a>: Information about AWS resources\n               that are affected by one or more events.</p>\n            </li>\n         </ul>\n         <p>In addition, these operations provide information about event types and summary\n         counts of events or affected entities:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeEventTypes</a>: Information about the kinds of events\n               that AWS Health tracks.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventAggregates</a>: A count of the number of events that\n               meet specified criteria.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEntityAggregates</a>: A count of the number of affected\n               entities that meet specified criteria.</p>\n            </li>\n         </ul>\n\n      \n         <p>AWS Health integrates with AWS Organizations to provide a centralized view of AWS Health\n         events across all accounts in your organization.</p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeEventsForOrganization</a>: Summary information about\n               events across the organization.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAffectedAccountsForOrganization</a>: List of accounts in\n               your organization impacted by an event.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeEventDetailsForOrganization</a>: Detailed information\n               about events in your organization.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeAffectedEntitiesForOrganization</a>: Information about\n               AWS resources in your organization that are affected by events.</p>\n            </li>\n         </ul>\n         <p>You can use the following operations to enable or disable AWS Health from working\n         with AWS Organizations.</p>\n         <ul>\n            <li>\n               <p>\n                  <a>EnableHealthServiceAccessForOrganization</a>: Enables AWS Health\n               to work with AWS Organizations.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DisableHealthServiceAccessForOrganization</a>: Disables\n               AWS Health from working with AWS Organizations.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeHealthServiceStatusForOrganization</a>: Status\n               information about enabling or disabling AWS Health from working with\n               AWS Organizations.</p>\n            </li>\n         </ul>\n      \n\n         <p>The Health API requires a Business or Enterprise support plan from <a href=\"http://aws.amazon.com/premiumsupport/\">AWS Support</a>. Calling the Health API\n         from an account that does not have a Business or Enterprise support plan causes a\n            <code>SubscriptionRequiredException</code>.</p>\n         <p>For authentication of requests, AWS Health uses the <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing\n            Process</a>.</p>\n         <p>See the <a href=\"https://docs.aws.amazon.com/health/latest/ug/what-is-aws-health.html\">AWS Health User Guide</a> for information about how to use the API.</p>\n         <p>\n            <b>Service Endpoint</b>\n         </p>\n         <p>The HTTP endpoint for the AWS Health API is:</p>\n         <ul>\n            <li>\n               <p>https://health.us-east-1.amazonaws.com </p>\n            </li>\n         </ul>",
        "smithy.api#title": "AWS Health APIs and Notifications"
      }
    },
    "com.amazonaws.health#AffectedEntity": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit AWS account number that contains the affected entity.</p>"
          }
        },
        "entityArn": {
          "target": "com.amazonaws.health#entityArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the entity. Format: <code>arn:aws:health:<i>entity-region</i>:<i>aws-account</i>:entity/<i>entity-id</i>\n            </code>. Example: <code>arn:aws:health:us-east-1:111222333444:entity/AVh5GGT7ul1arKr1sE1K</code>\n         </p>"
          }
        },
        "entityUrl": {
          "target": "com.amazonaws.health#entityUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the affected entity.</p>"
          }
        },
        "entityValue": {
          "target": "com.amazonaws.health#entityValue",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the affected entity.</p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent time that the entity was updated.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.health#entityStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The most recent status of the entity affected by the event. The possible values are\n            <code>IMPAIRED</code>, <code>UNIMPAIRED</code>, and <code>UNKNOWN</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.health#tagSet",
          "traits": {
            "smithy.api#documentation": "<p>A map of entity tags attached to the affected entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an entity that is affected by a Health event.</p>"
      }
    },
    "com.amazonaws.health#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.health#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <a>EnableHealthServiceAccessForOrganization</a> is already in progress. Wait\n         for the action to complete before trying again. To get the current status, use the <a>DescribeHealthServiceStatusForOrganization</a> operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.health#DateTimeRange": {
      "type": "structure",
      "members": {
        "from": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting date and time of a time range.</p>"
          }
        },
        "to": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending date and time of a time range.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A range of dates and times that is used by the <a>EventFilter</a> and\n            <a>EntityFilter</a> objects. If <code>from</code> is set and <code>to</code>\n         is set: match items where the timestamp (<code>startTime</code>, <code>endTime</code>, or\n            <code>lastUpdatedTime</code>) is between <code>from</code> and <code>to</code>\n         inclusive. If <code>from</code> is set and <code>to</code> is not set: match items where\n         the timestamp value is equal to or after <code>from</code>. If <code>from</code> is not set\n         and <code>to</code> is set: match items where the timestamp value is equal to or before\n            <code>to</code>.</p>"
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of accounts in the organization from AWS Organizations that are affected by the\n         provided event.</p>\n         <p>Before you can call this operation, you must first enable AWS Health to work with\n         AWS Organizations. To do this, call the <a>EnableHealthServiceAccessForOrganization</a>\n         operation from your organization's master account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedAccountsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "affectedAccounts": {
          "target": "com.amazonaws.health#affectedAccountsList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements of the affected accounts.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of entities that have been affected by the specified events, based on\n         the specified filter criteria. Entities can refer to individual customer resources, groups\n         of customer resources, or any other construct, depending on the AWS service. Events that\n         have impact beyond that of the affected entities, or where the extent of impact is unknown,\n         include at least one entity indicating this.</p>\n         <p>At least one event ARN is required. Results are sorted by the\n            <code>lastUpdatedTime</code> of the entity, starting with the most recent.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of entities that have been affected by one or more events for one or more\n         accounts in your organization in AWS Organizations, based on the filter criteria. Entities can refer\n         to individual customer resources, groups of customer resources, or any other construct,\n         depending on the AWS service.</p>\n         <p>At least one event ARN and account ID are required. Results are sorted by the\n            <code>lastUpdatedTime</code> of the entity, starting with the most recent.</p>\n         <p>Before you can call this operation, you must first enable AWS Health to work with\n         AWS Organizations. To do this, call the <a>EnableHealthServiceAccessForOrganization</a>\n         operation from your organization's master account. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationAffectedEntitiesErrorItem"
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationRequest": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        },
        "organizationEntityFilters": {
          "target": "com.amazonaws.health#OrganizationEntityFiltersList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and the\n            <code>eventArn</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationResponse": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.amazonaws.health#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements including the <code>awsAccountId</code> and its\n            <code>entityArn</code>, <code>entityValue</code> and its <code>entityArn</code>,\n            <code>lastUpdatedTime</code>, <code>statusCode</code>, and <code>tags</code>.</p>"
          }
        },
        "failedSet": {
          "target": "com.amazonaws.health#DescribeAffectedEntitiesForOrganizationFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>A JSON set of elements of the failed response, including the <code>awsAccountId</code>,\n            <code>errorMessage</code>, <code>errorName</code>, and <code>eventArn</code>.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EntityFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned. At least one event ARN is required.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeAffectedEntitiesResponse": {
      "type": "structure",
      "members": {
        "entities": {
          "target": "com.amazonaws.health#EntityList",
          "traits": {
            "smithy.api#documentation": "<p>The entities that match the filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEntityAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEntityAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEntityAggregatesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of entities that are affected by each of the specified events. If\n         no events are specified, the counts of all affected entities are returned.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEntityAggregatesRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.health#EventArnsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEntityAggregatesResponse": {
      "type": "structure",
      "members": {
        "entityAggregates": {
          "target": "com.amazonaws.health#EntityAggregateList",
          "traits": {
            "smithy.api#documentation": "<p>The number of entities that are affected by each of the specified events.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventAggregates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventAggregatesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventAggregatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the number of events of each event type (issue, scheduled change, and account\n         notification). If no filter is specified, the counts of all events in each category are\n         returned.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventAggregatesRequest": {
      "type": "structure",
      "members": {
        "aggregateField": {
          "target": "com.amazonaws.health#eventAggregateField",
          "traits": {
            "smithy.api#documentation": "<p>The only currently supported value is <code>eventTypeCategory</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "filter": {
          "target": "com.amazonaws.health#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventAggregatesResponse": {
      "type": "structure",
      "members": {
        "eventAggregates": {
          "target": "com.amazonaws.health#EventAggregateList",
          "traits": {
            "smithy.api#documentation": "<p>The number of events in each category that meet the optional filter\n         criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about one or more specified events. Information includes\n         standard event data (region, service, and so on, as returned by <a>DescribeEvents</a>), a detailed event description, and possible additional\n         metadata that depends upon the nature of the event. Affected entities are not included; to\n         retrieve those, use the <a>DescribeAffectedEntities</a> operation.</p>\n         <p>If a specified event cannot be retrieved, an error message is returned for that\n         event.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventDetailsFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventDetailsErrorItem"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about one or more specified events for one or more accounts\n         in your organization. Information includes standard event data (Region, service, and so on,\n         as returned by <a>DescribeEventsForOrganization</a>, a detailed event\n         description, and possible additional metadata that depends upon the nature of the event.\n         Affected entities are not included; to retrieve those, use the <a>DescribeAffectedEntitiesForOrganization</a> operation.</p>\n         <p>Before you can call this operation, you must first enable AWS Health to work with\n         AWS Organizations. To do this, call the <a>EnableHealthServiceAccessForOrganization</a>\n         operation from your organization's master account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationFailedSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationEventDetailsErrorItem"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "organizationEventDetailFilters": {
          "target": "com.amazonaws.health#OrganizationEventDetailFiltersList",
          "traits": {
            "smithy.api#documentation": "<p>A set of JSON elements that includes the <code>awsAccountId</code> and the\n            <code>eventArn</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "failedSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for any events that could not be retrieved.</p>"
          }
        },
        "successfulSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsForOrganizationSuccessfulSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the events that could be retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsForOrganizationSuccessfulSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationEventDetails"
      }
    },
    "com.amazonaws.health#DescribeEventDetailsRequest": {
      "type": "structure",
      "members": {
        "eventArns": {
          "target": "com.amazonaws.health#eventArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsResponse": {
      "type": "structure",
      "members": {
        "failedSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsFailedSet",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for any events that could not be retrieved.</p>"
          }
        },
        "successfulSet": {
          "target": "com.amazonaws.health#DescribeEventDetailsSuccessfulSet",
          "traits": {
            "smithy.api#documentation": "<p>Information about the events that could be retrieved.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventDetailsSuccessfulSet": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventDetails"
      }
    },
    "com.amazonaws.health#DescribeEventTypes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventTypesRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventTypesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the event types that meet the specified filter criteria. If no filter\n         criteria are specified, all event types are returned, in no particular order.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventTypesRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EventTypeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventTypesResponse": {
      "type": "structure",
      "members": {
        "eventTypes": {
          "target": "com.amazonaws.health#EventTypeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event types that match the filter criteria. Event types have a category\n            (<code>issue</code>, <code>accountNotification</code>, or <code>scheduledChange</code>),\n         a service (for example, <code>EC2</code>, <code>RDS</code>, <code>DATAPIPELINE</code>,\n            <code>BILLING</code>), and a code (in the format\n               <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for\n         example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about events that meet the specified filter criteria. Events are\n         returned in a summary form and do not include the detailed description, any additional\n         metadata that depends on the event type, or any affected resources. To retrieve that\n         information, use the <a>DescribeEventDetails</a> and <a>DescribeAffectedEntities</a> operations.</p>\n         <p>If no filter criteria are specified, all events are returned. Results are sorted by\n            <code>lastModifiedTime</code>, starting with the most recent.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.health#DescribeEventsForOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.health#DescribeEventsForOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.health#InvalidPaginationToken"
        },
        {
          "target": "com.amazonaws.health#UnsupportedLocale"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about events across your organization in AWS Organizations, meeting the\n         specified filter criteria. Events are returned in a summary form and do not include the\n         accounts impacted, detailed description, any additional metadata that depends on the event\n         type, or any affected resources. To retrieve that information, use the <a>DescribeAffectedAccountsForOrganization</a>, <a>DescribeEventDetailsForOrganization</a>, and <a>DescribeAffectedEntitiesForOrganization</a> operations.</p>\n         <p>If no filter criteria are specified, all events across your organization are returned.\n         Results are sorted by <code>lastModifiedTime</code>, starting with the most recent.</p>\n         <p>Before you can call this operation, you must first enable Health to work with AWS\n         Organizations. To do this, call the <a>EnableHealthServiceAccessForOrganization</a> operation from your organization's\n         master account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganizationRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#OrganizationEventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsForOrganizationResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.health#OrganizationEventList",
          "traits": {
            "smithy.api#documentation": "<p>The events that match the specified filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsRequest": {
      "type": "structure",
      "members": {
        "filter": {
          "target": "com.amazonaws.health#EventFilter",
          "traits": {
            "smithy.api#documentation": "<p>Values to narrow the results returned.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.health#locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale (language) to return information in. English (en) is the default and the only supported value at this time.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.health#maxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to return in one batch, between 10 and 100, inclusive.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeEventsResponse": {
      "type": "structure",
      "members": {
        "events": {
          "target": "com.amazonaws.health#EventList",
          "traits": {
            "smithy.api#documentation": "<p>The events that match the specified filter criteria.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.health#nextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the results of a search are large, only a portion of the\nresults are returned, and a <code>nextToken</code> pagination token is returned in the response. To\nretrieve the next batch of results, reissue the search request and include the returned token.\nWhen all results have been returned, the response does not contain a pagination token value.</p>"
          }
        }
      }
    },
    "com.amazonaws.health#DescribeHealthServiceStatusForOrganization": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.health#DescribeHealthServiceStatusForOrganizationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>This operation provides status information on enabling or disabling AWS Health to work\n         with your organization. To call this operation, you must sign in as an IAM user, assume\n         an IAM role, or sign in as the root user (not recommended) in the organization's master\n         account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#DescribeHealthServiceStatusForOrganizationResponse": {
      "type": "structure",
      "members": {
        "healthServiceAccessStatusForOrganization": {
          "target": "com.amazonaws.health#healthServiceAccessStatusForOrganization",
          "traits": {
            "smithy.api#documentation": "<p>Information about the status of enabling or disabling AWS Health Organizational View in\n         your organization.</p>\n         <p>Valid values are <code>ENABLED | DISABLED | PENDING</code>. </p>"
          }
        }
      }
    },
    "com.amazonaws.health#DisableHealthServiceAccessForOrganization": {
      "type": "operation",
      "errors": [
        {
          "target": "com.amazonaws.health#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Calling this operation disables Health from working with AWS Organizations. This does not remove\n         the Service Linked Role (SLR) from the the master account in your organization. Use the\n         IAM console, API, or AWS CLI to remove the SLR if desired. To call this operation, you\n         must sign in as an IAM user, assume an IAM role, or sign in as the root user (not\n         recommended) in the organization's master account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#EnableHealthServiceAccessForOrganization": {
      "type": "operation",
      "errors": [
        {
          "target": "com.amazonaws.health#ConcurrentModificationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Calling this operation enables AWS Health to work with AWS Organizations. This applies a Service\n         Linked Role (SLR) to the master account in the organization. To learn more about the steps\n         in this process, visit enabling service access for AWS Health in AWS Organizations. To call this\n         operation, you must sign in as an IAM user, assume an IAM role, or sign in as the root\n         user (not recommended) in the organization's master account.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.health#EntityAggregate": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.amazonaws.health#count",
          "traits": {
            "smithy.api#documentation": "<p>The number entities that match the criteria for the specified events.</p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of entities that are affected by one or more events. Returned by the <a>DescribeEntityAggregates</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EntityAggregateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EntityAggregate"
      }
    },
    "com.amazonaws.health#EntityFilter": {
      "type": "structure",
      "members": {
        "entityArns": {
          "target": "com.amazonaws.health#entityArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity ARNs (unique identifiers).</p>"
          }
        },
        "entityValues": {
          "target": "com.amazonaws.health#entityValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of IDs for affected entities.</p>"
          }
        },
        "eventArns": {
          "target": "com.amazonaws.health#eventArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdatedTimes": {
          "target": "com.amazonaws.health#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the most recent dates and times that the entity was updated.</p>"
          }
        },
        "statusCodes": {
          "target": "com.amazonaws.health#entityStatusCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity status codes (<code>IMPAIRED</code>, <code>UNIMPAIRED</code>, or\n            <code>UNKNOWN</code>).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.health#tagFilter",
          "traits": {
            "smithy.api#documentation": "<p>A map of entity tags attached to the affected entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values to use to filter results from the <a>DescribeAffectedEntities</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#AffectedEntity"
      }
    },
    "com.amazonaws.health#Event": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.health#availabilityZone",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Availability Zone of the event. For example, us-east-1a.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event ended.</p>"
          }
        },
        "eventTypeCategory": {
          "target": "com.amazonaws.health#eventTypeStringCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the event. Possible values are <code>issue</code>,\n            <code>scheduledChange</code>, and <code>accountNotification</code>.</p>"
          }
        },
        "eventTypeCode": {
          "target": "com.amazonaws.health#eventTypeStringCode",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent date and time that the event was updated.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.health#region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS region name of the event.</p>"
          }
        },
        "service": {
          "target": "com.amazonaws.health#service",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event began.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.health#eventStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The most recent status of the event. Possible values are <code>open</code>,\n            <code>closed</code>, and <code>upcoming</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an AWS Health event.</p>"
      }
    },
    "com.amazonaws.health#EventAccountFilter": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit AWS account numbers that contains the affected entities.</p>",
            "smithy.api#required": {}
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values used to filter results from the <a>DescribeEventDetailsForOrganization</a> and <a>DescribeAffectedEntitiesForOrganization</a> operations.</p>"
      }
    },
    "com.amazonaws.health#EventAggregate": {
      "type": "structure",
      "members": {
        "aggregateValue": {
          "target": "com.amazonaws.health#aggregateValue",
          "traits": {
            "smithy.api#documentation": "<p>The issue type for the associated count.</p>"
          }
        },
        "count": {
          "target": "com.amazonaws.health#count",
          "traits": {
            "smithy.api#documentation": "<p>The number of events of the associated issue type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of events of each issue type. Returned by the <a>DescribeEventAggregates</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EventAggregateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventAggregate"
      }
    },
    "com.amazonaws.health#EventArnsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.health#EventDescription": {
      "type": "structure",
      "members": {
        "latestDescription": {
          "target": "com.amazonaws.health#eventDescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The most recent description of the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The detailed description of the event. Included in the information returned by the\n            <a>DescribeEventDetails</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EventDetails": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.health#Event",
          "traits": {
            "smithy.api#documentation": "<p>Summary information about the event.</p>"
          }
        },
        "eventDescription": {
          "target": "com.amazonaws.health#EventDescription",
          "traits": {
            "smithy.api#documentation": "<p>The most recent description of the event.</p>"
          }
        },
        "eventMetadata": {
          "target": "com.amazonaws.health#eventMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Additional metadata about the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about an event. A combination of an <a>Event</a>\n         object, an <a>EventDescription</a> object, and additional metadata about the\n         event. Returned by the <a>DescribeEventDetails</a> operation.</p>"
      }
    },
    "com.amazonaws.health#EventDetailsErrorItem": {
      "type": "structure",
      "members": {
        "errorMessage": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>A message that describes the error.</p>"
          }
        },
        "errorName": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the error.</p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information returned when a <a>DescribeEventDetails</a> operation\n         cannot find a specified event.</p>"
      }
    },
    "com.amazonaws.health#EventFilter": {
      "type": "structure",
      "members": {
        "availabilityZones": {
          "target": "com.amazonaws.health#availabilityZones",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS availability zones.</p>"
          }
        },
        "endTimes": {
          "target": "com.amazonaws.health#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dates and times that the event ended.</p>"
          }
        },
        "entityArns": {
          "target": "com.amazonaws.health#entityArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity ARNs (unique identifiers).</p>"
          }
        },
        "entityValues": {
          "target": "com.amazonaws.health#entityValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity identifiers, such as EC2 instance IDs (<code>i-34ab692e</code>) or\n         EBS volumes (<code>vol-426ab23e</code>).</p>"
          }
        },
        "eventArns": {
          "target": "com.amazonaws.health#eventArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event ARNs (unique identifiers). For example: <code>\"arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-CDE456\", \"arn:aws:health:us-west-1::event/EBS/AWS_EBS_LOST_VOLUME/AWS_EBS_LOST_VOLUME_CHI789_JKL101\"</code>\n         </p>"
          }
        },
        "eventStatusCodes": {
          "target": "com.amazonaws.health#eventStatusCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event status codes.</p>"
          }
        },
        "eventTypeCategories": {
          "target": "com.amazonaws.health#eventTypeStringCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event type category codes (<code>issue</code>,\n         <code>scheduledChange</code>, or <code>accountNotification</code>).</p>"
          }
        },
        "eventTypeCodes": {
          "target": "com.amazonaws.health#eventTypeStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code>\n         </p>"
          }
        },
        "lastUpdatedTimes": {
          "target": "com.amazonaws.health#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dates and times that the event was last updated.</p>"
          }
        },
        "regions": {
          "target": "com.amazonaws.health#regionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS regions.</p>"
          }
        },
        "services": {
          "target": "com.amazonaws.health#serviceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>"
          }
        },
        "startTimes": {
          "target": "com.amazonaws.health#dateTimeRangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dates and times that the event began.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.health#tagFilter",
          "traits": {
            "smithy.api#documentation": "<p>A map of entity tags attached to the affected entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values to use to filter results from the <a>DescribeEvents</a> and\n            <a>DescribeEventAggregates</a> operations.</p>"
      }
    },
    "com.amazonaws.health#EventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#Event"
      }
    },
    "com.amazonaws.health#EventType": {
      "type": "structure",
      "members": {
        "category": {
          "target": "com.amazonaws.health#eventTypeStringCategory",
          "traits": {
            "smithy.api#documentation": "<p>A list of event type category codes (<code>issue</code>,\n         <code>scheduledChange</code>, or <code>accountNotification</code>).</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.health#eventTypeStringCode",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event type. The format is <code>AWS_<i>SERVICE</i>_<i>DESCRIPTION</i>\n            </code>; for example, <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>"
          }
        },
        "service": {
          "target": "com.amazonaws.health#service",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service that is affected by the event. For example, <code>EC2</code>, <code>RDS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata about a type of event that is reported by AWS Health. Data consists of\n         the category (for example, <code>issue</code>), the service (for example,\n         <code>EC2</code>), and the event type code (for example,\n            <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>).</p>"
      }
    },
    "com.amazonaws.health#EventTypeCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventTypeStringCategory"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#EventTypeCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventTypeStringCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#EventTypeFilter": {
      "type": "structure",
      "members": {
        "eventTypeCategories": {
          "target": "com.amazonaws.health#EventTypeCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event type category codes (<code>issue</code>,\n         <code>scheduledChange</code>, or <code>accountNotification</code>).</p>"
          }
        },
        "eventTypeCodes": {
          "target": "com.amazonaws.health#EventTypeCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event type codes.</p>"
          }
        },
        "services": {
          "target": "com.amazonaws.health#serviceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values to use to filter results from the <a>DescribeEventTypes</a>\n         operation.</p>"
      }
    },
    "com.amazonaws.health#EventTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventType"
      }
    },
    "com.amazonaws.health#InvalidPaginationToken": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.health#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified pagination token (<code>nextToken</code>) is not valid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.health#OrganizationAffectedEntitiesErrorItem": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit AWS account numbers that contains the affected entities.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event type. The format is\n            <code>AWS_SERVICE_DESCRIPTION</code>. For example,\n            <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>"
          }
        },
        "errorName": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the error.</p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information returned when a <a>DescribeAffectedEntitiesForOrganization</a> operation cannot find or process a\n         specific entity.</p>"
      }
    },
    "com.amazonaws.health#OrganizationEntityFiltersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventAccountFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#OrganizationEvent": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event ended.</p>"
          }
        },
        "eventTypeCategory": {
          "target": "com.amazonaws.health#eventTypeStringCategory",
          "traits": {
            "smithy.api#documentation": "<p>The category of the event type.</p>"
          }
        },
        "eventTypeCode": {
          "target": "com.amazonaws.health#eventTypeStringCode",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event type. The format is\n            <code>AWS_SERVICE_DESCRIPTION</code>. For example,\n            <code>AWS_EC2_SYSTEM_MAINTENANCE_EVENT</code>.</p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The most recent date and time that the event was updated.</p>"
          }
        },
        "region": {
          "target": "com.amazonaws.health#region",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region name of the event.</p>"
          }
        },
        "service": {
          "target": "com.amazonaws.health#service",
          "traits": {
            "smithy.api#documentation": "<p>The AWS service that is affected by the event. For example, EC2, RDS.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.health#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event began.</p>"
          }
        },
        "statusCode": {
          "target": "com.amazonaws.health#eventStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The most recent status of the event. Possible values are <code>open</code>,\n            <code>closed</code>, and <code>upcoming</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about an event, returned by the <a>DescribeEventsForOrganization</a> operation.</p>"
      }
    },
    "com.amazonaws.health#OrganizationEventDetailFiltersList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#EventAccountFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#OrganizationEventDetails": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit AWS account numbers that contains the affected entities.</p>"
          }
        },
        "event": {
          "target": "com.amazonaws.health#Event"
        },
        "eventDescription": {
          "target": "com.amazonaws.health#EventDescription"
        },
        "eventMetadata": {
          "target": "com.amazonaws.health#eventMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Additional metadata about the event.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Detailed information about an event. A combination of an <a>Event</a> object,\n         an <a>EventDescription</a> object, and additional metadata about the event.\n         Returned by the <a>DescribeEventDetailsForOrganization</a> operation.</p>"
      }
    },
    "com.amazonaws.health#OrganizationEventDetailsErrorItem": {
      "type": "structure",
      "members": {
        "awsAccountId": {
          "target": "com.amazonaws.health#accountId",
          "traits": {
            "smithy.api#documentation": "<p>Error information returned when a <a>DescribeEventDetailsForOrganization</a>\n         operation cannot find a specified event.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>A message that describes the error.</p>"
          }
        },
        "errorName": {
          "target": "com.amazonaws.health#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the error.</p>"
          }
        },
        "eventArn": {
          "target": "com.amazonaws.health#eventArn",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the event. Format: <code>arn:aws:health:<i>event-region</i>::event/<i>SERVICE</i>/<i>EVENT_TYPE_CODE</i>/<i>EVENT_TYPE_PLUS_ID</i>\n            </code>. Example: <code>Example: arn:aws:health:us-east-1::event/EC2/EC2_INSTANCE_RETIREMENT_SCHEDULED/EC2_INSTANCE_RETIREMENT_SCHEDULED_ABC123-DEF456</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error information returned when a <a>DescribeEventDetailsForOrganization</a>\n         operation cannot find a specified event.</p>"
      }
    },
    "com.amazonaws.health#OrganizationEventFilter": {
      "type": "structure",
      "members": {
        "awsAccountIds": {
          "target": "com.amazonaws.health#awsAccountIdsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of 12-digit AWS account numbers that contains the affected entities.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.health#DateTimeRange"
        },
        "entityArns": {
          "target": "com.amazonaws.health#entityArnList",
          "traits": {
            "smithy.api#documentation": "<p>REPLACEME</p>"
          }
        },
        "entityValues": {
          "target": "com.amazonaws.health#entityValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of entity identifiers, such as EC2 instance IDs (i-34ab692e) or EBS volumes (vol-426ab23e).</p>"
          }
        },
        "eventStatusCodes": {
          "target": "com.amazonaws.health#eventStatusCodeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of event status codes.</p>"
          }
        },
        "eventTypeCategories": {
          "target": "com.amazonaws.health#eventTypeStringCategoryList",
          "traits": {
            "smithy.api#documentation": "<p>REPLACEME</p>"
          }
        },
        "eventTypeCodes": {
          "target": "com.amazonaws.health#eventTypeStringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of unique identifiers for event types. For example, <code>\"AWS_EC2_SYSTEM_MAINTENANCE_EVENT\",\"AWS_RDS_MAINTENANCE_SCHEDULED\".</code>\n         </p>"
          }
        },
        "lastUpdatedTime": {
          "target": "com.amazonaws.health#DateTimeRange"
        },
        "regions": {
          "target": "com.amazonaws.health#regionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of AWS Regions.</p>"
          }
        },
        "services": {
          "target": "com.amazonaws.health#serviceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services associated with the event. For example, <code>EC2</code>, <code>RDS</code>.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.health#DateTimeRange"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The values to filter results from the <a>DescribeEventsForOrganization</a>\n         operation.</p>"
      }
    },
    "com.amazonaws.health#OrganizationEventList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#OrganizationEvent"
      }
    },
    "com.amazonaws.health#UnsupportedLocale": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.health#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified locale is not supported.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.health#accountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 12
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.health#affectedAccountsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#accountId"
      }
    },
    "com.amazonaws.health#aggregateValue": {
      "type": "string"
    },
    "com.amazonaws.health#availabilityZone": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 6,
          "max": 18
        },
        "smithy.api#pattern": "[a-z]{2}\\-[0-9a-z\\-]{4,16}"
      }
    },
    "com.amazonaws.health#availabilityZones": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#availabilityZone"
      }
    },
    "com.amazonaws.health#awsAccountIdsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#accountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.health#count": {
      "type": "integer"
    },
    "com.amazonaws.health#dateTimeRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#DateTimeRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#entityArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": ".{0,1600}"
      }
    },
    "com.amazonaws.health#entityArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#entityArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.health#entityStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IMPAIRED",
            "name": "IMPAIRED"
          },
          {
            "value": "UNIMPAIRED",
            "name": "UNIMPAIRED"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.health#entityStatusCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#entityStatusCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.health#entityUrl": {
      "type": "string"
    },
    "com.amazonaws.health#entityValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": ".{0,256}"
      }
    },
    "com.amazonaws.health#entityValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#entityValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.health#eventAggregateField": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "eventTypeCategory",
            "name": "EventTypeCategory"
          }
        ]
      }
    },
    "com.amazonaws.health#eventArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1600
        },
        "smithy.api#pattern": "arn:aws(-[a-z]+(-[a-z]+)?)?:health:[^:]*:[^:]*:event(?:/[\\w-]+){3}"
      }
    },
    "com.amazonaws.health#eventArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#eventDescriptionString": {
      "type": "string"
    },
    "com.amazonaws.health#eventMetadata": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.health#metadataKey"
      },
      "value": {
        "target": "com.amazonaws.health#metadataValue"
      }
    },
    "com.amazonaws.health#eventStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "open",
            "name": "OPEN"
          },
          {
            "value": "closed",
            "name": "CLOSED"
          },
          {
            "value": "upcoming",
            "name": "UPCOMING"
          }
        ]
      }
    },
    "com.amazonaws.health#eventStatusCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventStatusCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        }
      }
    },
    "com.amazonaws.health#eventTypeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 100
        },
        "smithy.api#pattern": "[^:/]{3,100}"
      }
    },
    "com.amazonaws.health#eventTypeStringCategory": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "issue",
            "name": "ISSUE"
          },
          {
            "value": "accountNotification",
            "name": "ACCOUNT_NOTIFICATION"
          },
          {
            "value": "scheduledChange",
            "name": "SCHEDULED_CHANGE"
          },
          {
            "value": "investigation",
            "name": "INVESTIGATION"
          }
        ],
        "smithy.api#length": {
          "min": 3,
          "max": 255
        }
      }
    },
    "com.amazonaws.health#eventTypeStringCategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventTypeStringCategory"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#eventTypeStringCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\_\\-]{3,100}"
      }
    },
    "com.amazonaws.health#eventTypeStringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#eventTypeString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#healthServiceAccessStatusForOrganization": {
      "type": "string"
    },
    "com.amazonaws.health#locale": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 256
        },
        "smithy.api#pattern": ".{2,256}"
      }
    },
    "com.amazonaws.health#maxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 10,
          "max": 100
        }
      }
    },
    "com.amazonaws.health#metadataKey": {
      "type": "string"
    },
    "com.amazonaws.health#metadataValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10240
        }
      }
    },
    "com.amazonaws.health#nextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 10000
        },
        "smithy.api#pattern": "[a-zA-Z0-9=/+_.-]{4,10000}"
      }
    },
    "com.amazonaws.health#region": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 25
        },
        "smithy.api#pattern": "[^:/]{2,25}"
      }
    },
    "com.amazonaws.health#regionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#region"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#service": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 30
        },
        "smithy.api#pattern": "[^:/]{2,30}"
      }
    },
    "com.amazonaws.health#serviceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#service"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.health#string": {
      "type": "string"
    },
    "com.amazonaws.health#tagFilter": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.health#tagSet"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.health#tagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 127
        },
        "smithy.api#pattern": ".{0,127}"
      }
    },
    "com.amazonaws.health#tagSet": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.health#tagKey"
      },
      "value": {
        "target": "com.amazonaws.health#tagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.health#tagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": ".{0,255}"
      }
    },
    "com.amazonaws.health#timestamp": {
      "type": "timestamp"
    }
  }
}
