{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.healthlake#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied. Your account is not authorized to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.healthlake#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-z0-9-]+:\\d{12}:datastore\\/fhir\\/.{32}$"
      }
    },
    "com.amazonaws.healthlake#BoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5000
        },
        "smithy.api#pattern": "^[\\P{M}\\p{M}]{1,5000}$"
      }
    },
    "com.amazonaws.healthlake#ClientTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.healthlake#CmkType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CUSTOMER_MANAGED_KMS_KEY",
            "name": "CM_CMK"
          },
          {
            "value": "AWS_OWNED_KMS_KEY",
            "name": "AO_CMK"
          }
        ]
      }
    },
    "com.amazonaws.healthlake#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Data Store is in a transition state and the user requested action can not be performed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.healthlake#CreateFHIRDatastore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#CreateFHIRDatastoreRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#CreateFHIRDatastoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Data Store that can ingest and export FHIR formatted data.</p>"
      }
    },
    "com.amazonaws.healthlake#CreateFHIRDatastoreRequest": {
      "type": "structure",
      "members": {
        "DatastoreName": {
          "target": "com.amazonaws.healthlake#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>The user generated name for the Data Store.</p>"
          }
        },
        "DatastoreTypeVersion": {
          "target": "com.amazonaws.healthlake#FHIRVersion",
          "traits": {
            "smithy.api#documentation": "<p>The FHIR version of the Data Store. The only supported version is R4.</p>",
            "smithy.api#required": {}
          }
        },
        "SseConfiguration": {
          "target": "com.amazonaws.healthlake#SseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The server-side encryption key configuration for a customer provided encryption key specified for creating a Data Store. \n         </p>"
          }
        },
        "PreloadDataConfig": {
          "target": "com.amazonaws.healthlake#PreloadDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>Optional parameter to preload data upon creation of the Data Store. Currently, the only\n         supported preloaded data is synthetic data generated from Synthea.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.healthlake#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>Optional user provided token used for ensuring idempotency.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.healthlake#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Resource tags that are applied to a Data Store when it is created. \n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#CreateFHIRDatastoreResponse": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated Data Store id. This id is in the output from the initial Data Store\n         creation call.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreArn": {
          "target": "com.amazonaws.healthlake#DatastoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The datastore ARN is generated during the creation of the Data Store and can be found in\n         the output from the initial Data Store creation call.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreStatus": {
          "target": "com.amazonaws.healthlake#DatastoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the FHIR Data Store. Possible statuses are ‘CREATING’, ‘ACTIVE’, ‘DELETING’,\n         ‘DELETED’.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreEndpoint": {
          "target": "com.amazonaws.healthlake#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS endpoint for the created Data Store. For preview, only US-east-1 endpoints are\n         supported.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DatastoreArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:healthlake:[a-zA-Z0-9-]+:[0-9]{12}:datastore/.+?$"
      }
    },
    "com.amazonaws.healthlake#DatastoreFilter": {
      "type": "structure",
      "members": {
        "DatastoreName": {
          "target": "com.amazonaws.healthlake#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>Allows the user to filter Data Store results by name.</p>"
          }
        },
        "DatastoreStatus": {
          "target": "com.amazonaws.healthlake#DatastoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>Allows the user to filter Data Store results by status.</p>"
          }
        },
        "CreatedBefore": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A filter that allows the user to set cutoff dates for records. All Data Stores created\n         before the specified date will be included in the results. </p>"
          }
        },
        "CreatedAfter": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A filter that allows the user to set cutoff dates for records. All Data Stores created\n         after the specified date will be included in the results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The filters applied to Data Store query.</p>"
      }
    },
    "com.amazonaws.healthlake#DatastoreId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.healthlake#DatastoreName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.healthlake#DatastoreProperties": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated ID number for the Data Store.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreArn": {
          "target": "com.amazonaws.healthlake#DatastoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name used in the creation of the Data Store.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreName": {
          "target": "com.amazonaws.healthlake#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>The user-generated name for the Data Store.</p>"
          }
        },
        "DatastoreStatus": {
          "target": "com.amazonaws.healthlake#DatastoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Data Store. Possible statuses are 'CREATING', 'ACTIVE', 'DELETING', or 'DELETED'.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that a Data Store was created. </p>"
          }
        },
        "DatastoreTypeVersion": {
          "target": "com.amazonaws.healthlake#FHIRVersion",
          "traits": {
            "smithy.api#documentation": "<p>The FHIR version. Only R4 version data is supported.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreEndpoint": {
          "target": "com.amazonaws.healthlake#String",
          "traits": {
            "smithy.api#documentation": "<p>The AWS endpoint for the Data Store. Each Data Store will have it's own endpoint with Data Store ID in the endpoint URL.</p>",
            "smithy.api#required": {}
          }
        },
        "SseConfiguration": {
          "target": "com.amazonaws.healthlake#SseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The server-side encryption key configuration for a customer provided encryption key (CMK).\n         </p>"
          }
        },
        "PreloadDataConfig": {
          "target": "com.amazonaws.healthlake#PreloadDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The preloaded data configuration for the Data Store. Only data preloaded from Synthea is supported.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Displays the properties of the Data Store, including the ID, Arn, name, and the status of the Data Store.</p>"
      }
    },
    "com.amazonaws.healthlake#DatastorePropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.healthlake#DatastoreProperties"
      }
    },
    "com.amazonaws.healthlake#DatastoreStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.healthlake#DeleteFHIRDatastore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#DeleteFHIRDatastoreRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#DeleteFHIRDatastoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#ConflictException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Data Store. </p>"
      }
    },
    "com.amazonaws.healthlake#DeleteFHIRDatastoreRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p> The AWS-generated ID for the Data Store to be deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#DeleteFHIRDatastoreResponse": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated ID for the Data Store to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreArn": {
          "target": "com.amazonaws.healthlake#DatastoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that gives Amazon HealthLake access permission.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreStatus": {
          "target": "com.amazonaws.healthlake#DatastoreStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Data Store that the user has requested to be deleted. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreEndpoint": {
          "target": "com.amazonaws.healthlake#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS endpoint for the Data Store the user has requested to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRDatastore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#DescribeFHIRDatastoreRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#DescribeFHIRDatastoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the properties associated with the FHIR Data Store, including the Data Store ID,\n         Data Store ARN, Data Store name, Data Store status, created at, Data Store type version, and\n         Data Store endpoint.</p>"
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRDatastoreRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated Data Store id. This is part of the ‘CreateFHIRDatastore’ output.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRDatastoreResponse": {
      "type": "structure",
      "members": {
        "DatastoreProperties": {
          "target": "com.amazonaws.healthlake#DatastoreProperties",
          "traits": {
            "smithy.api#documentation": "<p>All properties associated with a Data Store, including the Data Store ID, Data Store ARN,\n         Data Store name, Data Store status, created at, Data Store type version, and Data Store\n         endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#DescribeFHIRExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#DescribeFHIRExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the properties of a FHIR export job, including the ID, ARN, name, and the status of the job.</p>"
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRExportJobRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for the Data Store from which files are being exported from for an export job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for an export job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRExportJobResponse": {
      "type": "structure",
      "members": {
        "ExportJobProperties": {
          "target": "com.amazonaws.healthlake#ExportJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>Displays the properties of the export job, including the ID, Arn, Name, and the status of the job. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#DescribeFHIRImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#DescribeFHIRImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Displays the properties of a FHIR import job, including the ID, ARN, name, and the status of the job. </p>"
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRImportJobRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated ID of the Data Store.</p>",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated job ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#DescribeFHIRImportJobResponse": {
      "type": "structure",
      "members": {
        "ImportJobProperties": {
          "target": "com.amazonaws.healthlake#ImportJobProperties",
          "traits": {
            "smithy.api#documentation": "<p>The properties of the Import job request, including the ID, ARN, name, and the status of the job.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#EncryptionKeyID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 400
        },
        "smithy.api#pattern": "^(arn:aws((-us-gov)|(-iso)|(-iso-b)|(-cn))?:kms:)?([a-z]{2}-[a-z]+(-[a-z]+)?-\\d:)?(\\d{12}:)?(((key/)?[a-zA-Z0-9-_]+)|(alias/[a-zA-Z0-9:/_-]+))$"
      }
    },
    "com.amazonaws.healthlake#ExportJobProperties": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for an export job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The user generated name for an export job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a FHIR export job. Possible statuses are SUBMITTED, IN_PROGRESS, COMPLETED, or FAILED.</p>",
            "smithy.api#required": {}
          }
        },
        "SubmitTime": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time an export job was initiated.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time an export job completed.</p>"
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for the Data Store from which files are being exported for an export job.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.healthlake#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output data configuration that was supplied when the export job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.healthlake#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name used during the initiation of the job.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.healthlake#Message",
          "traits": {
            "smithy.api#documentation": "<p>An explanation of any errors that may have occurred during the export job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a FHIR export job, including the ID, ARN, name, and the status of the job.</p>"
      }
    },
    "com.amazonaws.healthlake#ExportJobPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.healthlake#ExportJobProperties"
      }
    },
    "com.amazonaws.healthlake#FHIRVersion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "R4",
            "name": "R4"
          }
        ]
      }
    },
    "com.amazonaws.healthlake#HealthLake": {
      "type": "service",
      "version": "2017-07-01",
      "operations": [
        {
          "target": "com.amazonaws.healthlake#CreateFHIRDatastore"
        },
        {
          "target": "com.amazonaws.healthlake#DeleteFHIRDatastore"
        },
        {
          "target": "com.amazonaws.healthlake#DescribeFHIRDatastore"
        },
        {
          "target": "com.amazonaws.healthlake#DescribeFHIRExportJob"
        },
        {
          "target": "com.amazonaws.healthlake#DescribeFHIRImportJob"
        },
        {
          "target": "com.amazonaws.healthlake#ListFHIRDatastores"
        },
        {
          "target": "com.amazonaws.healthlake#ListFHIRExportJobs"
        },
        {
          "target": "com.amazonaws.healthlake#ListFHIRImportJobs"
        },
        {
          "target": "com.amazonaws.healthlake#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.healthlake#StartFHIRExportJob"
        },
        {
          "target": "com.amazonaws.healthlake#StartFHIRImportJob"
        },
        {
          "target": "com.amazonaws.healthlake#TagResource"
        },
        {
          "target": "com.amazonaws.healthlake#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "HealthLake",
          "arnNamespace": "healthlake",
          "cloudFormationName": "HealthLake",
          "cloudTrailEventSource": "healthlake.amazonaws.com",
          "endpointPrefix": "healthlake"
        },
        "aws.auth#sigv4": {
          "name": "healthlake"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Amazon HealthLake is a HIPAA eligibile service that allows customers to store,\n         transform, query, and analyze their FHIR-formatted data in a consistent fashion in the cloud.</p>",
        "smithy.api#title": "Amazon HealthLake",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://healthlake-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://healthlake-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://healthlake.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://healthlake.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://healthlake.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.healthlake#IamRoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+$"
      }
    },
    "com.amazonaws.healthlake#ImportJobProperties": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated id number for the Import job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The user-generated name for an Import job.</p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The job status for an Import job. Possible statuses are SUBMITTED, IN_PROGRESS, COMPLETED, FAILED.</p>",
            "smithy.api#required": {}
          }
        },
        "SubmitTime": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Import job was submitted for processing.</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time that the Import job was completed.</p>"
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The datastore id used when the Import job was created. </p>",
            "smithy.api#required": {}
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.healthlake#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input data configuration that was supplied when the Import job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "JobOutputDataConfig": {
          "target": "com.amazonaws.healthlake#OutputDataConfig"
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.healthlake#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that gives Amazon HealthLake access to your input data.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.healthlake#Message",
          "traits": {
            "smithy.api#documentation": "<p>An explanation of any errors that may have occurred during the FHIR import job. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Displays the properties of the import job, including the ID, Arn, Name, and the status of the Data Store.</p>"
      }
    },
    "com.amazonaws.healthlake#ImportJobPropertiesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.healthlake#ImportJobProperties"
      }
    },
    "com.amazonaws.healthlake#InputDataConfig": {
      "type": "union",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.healthlake#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>The S3Uri is the user specified S3 location of the FHIR data to be imported into Amazon HealthLake. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The input properties for an import job.</p>"
      }
    },
    "com.amazonaws.healthlake#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unknown error occurs in the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.healthlake#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.healthlake#JobName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.healthlake#JobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUBMITTED",
            "name": "SUBMITTED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED_WITH_ERRORS",
            "name": "COMPLETED_WITH_ERRORS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.healthlake#KmsEncryptionConfig": {
      "type": "structure",
      "members": {
        "CmkType": {
          "target": "com.amazonaws.healthlake#CmkType",
          "traits": {
            "smithy.api#documentation": "<p>\n            The type of customer-managed-key(CMK) used for encyrption. The two types of supported CMKs are customer owned CMKs and AWS owned CMKs.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.healthlake#EncryptionKeyID",
          "traits": {
            "smithy.api#documentation": "<p>\n            The KMS encryption key id/alias used to encrypt the Data Store contents at rest.\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The customer-managed-key(CMK) used when creating a Data Store. If a customer owned key is not specified, an AWS owned key will be used for encryption. \n         </p>"
      }
    },
    "com.amazonaws.healthlake#ListFHIRDatastores": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#ListFHIRDatastoresRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#ListFHIRDatastoresResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all FHIR Data Stores that are in the user’s account, regardless of Data Store\n         status.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRDatastoresRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.healthlake#DatastoreFilter",
          "traits": {
            "smithy.api#documentation": "<p>Lists all filters associated with a FHIR Data Store request.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Fetches the next page of Data Stores when results are paginated.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.healthlake#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of Data Stores returned in a single page of a\n         ListFHIRDatastoresRequest call.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRDatastoresResponse": {
      "type": "structure",
      "members": {
        "DatastorePropertiesList": {
          "target": "com.amazonaws.healthlake#DatastorePropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>All properties associated with the listed Data Stores.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token that can be used to retrieve the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRExportJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#ListFHIRExportJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#ListFHIRExportJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Lists all FHIR export jobs associated with an account and their statuses.\n         </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRExportJobsRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the export job with the specified Data Store ID. \n         </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A pagination token used to identify the next page of results to return for a ListFHIRExportJobs query. \n         </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.healthlake#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the number of results returned for a ListFHIRExportJobs to a maximum quantity specified by the user. \n         </p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the export job with the specified job name.\n         </p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the export jobs with the specified job status. \n         </p>"
          }
        },
        "SubmittedBefore": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to FHIR export jobs submitted before a user specified date. \n         </p>"
          }
        },
        "SubmittedAfter": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to FHIR export jobs submitted after a user specified date. \n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRExportJobsResponse": {
      "type": "structure",
      "members": {
        "ExportJobPropertiesList": {
          "target": "com.amazonaws.healthlake#ExportJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The properties of listed FHIR export jobs, including the ID, ARN, name, and the status of the job.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A pagination token used to identify the next page of results to return for a ListFHIRExportJobs query.\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRImportJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#ListFHIRImportJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#ListFHIRImportJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Lists all FHIR import jobs associated with an account and their statuses.\n         </p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRImportJobsRequest": {
      "type": "structure",
      "members": {
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the import job with the specified Data Store ID.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A pagination token used to identify the next page of results to return for a ListFHIRImportJobs query.\n         </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.healthlake#MaxResultsInteger",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the number of results returned for a ListFHIRImportJobs to a maximum quantity specified by the user.\n         </p>"
          }
        },
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the import job with the specified job name.\n         </p>"
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to the import job with the specified job status.\n         </p>"
          }
        },
        "SubmittedBefore": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to FHIR import jobs submitted before a user specified date.\n         </p>"
          }
        },
        "SubmittedAfter": {
          "target": "com.amazonaws.healthlake#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter limits the response to FHIR import jobs submitted after a user specified date.\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListFHIRImportJobsResponse": {
      "type": "structure",
      "members": {
        "ImportJobPropertiesList": {
          "target": "com.amazonaws.healthlake#ImportJobPropertiesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The properties of a listed FHIR import jobs, including the ID, ARN, name, and the status of the job.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.healthlake#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            A pagination token used to identify the next page of results to return for a ListFHIRImportJobs query.\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Returns a list of all existing tags associated with a Data Store. \n         </p>"
      }
    },
    "com.amazonaws.healthlake#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.healthlake#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Amazon Resource Name(ARN) of the Data Store for which tags are being added.\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.healthlake#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            Returns a list of tags associated with a Data Store.\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#MaxResultsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.healthlake#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$"
      }
    },
    "com.amazonaws.healthlake#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^\\p{ASCII}{0,8192}$"
      }
    },
    "com.amazonaws.healthlake#OutputDataConfig": {
      "type": "union",
      "members": {
        "S3Configuration": {
          "target": "com.amazonaws.healthlake#S3Configuration",
          "traits": {
            "smithy.api#documentation": "<p>\n            The output data configuration that was supplied when the export job was created.\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output data configuration that was supplied when the export job was created.</p>"
      }
    },
    "com.amazonaws.healthlake#PreloadDataConfig": {
      "type": "structure",
      "members": {
        "PreloadDataType": {
          "target": "com.amazonaws.healthlake#PreloadDataType",
          "traits": {
            "smithy.api#documentation": "<p>The type of preloaded data. Only Synthea preloaded data is supported.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The input properties for the preloaded Data Store. Only data preloaded from Synthea is supported.</p>"
      }
    },
    "com.amazonaws.healthlake#PreloadDataType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SYNTHEA",
            "name": "SYNTHEA"
          }
        ]
      }
    },
    "com.amazonaws.healthlake#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The requested Data Store was not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.healthlake#S3Configuration": {
      "type": "structure",
      "members": {
        "S3Uri": {
          "target": "com.amazonaws.healthlake#S3Uri",
          "traits": {
            "smithy.api#documentation": "<p>\n            The S3Uri is the user specified S3 location of the FHIR data to be imported into Amazon HealthLake.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.healthlake#EncryptionKeyID",
          "traits": {
            "smithy.api#documentation": "<p>\n            The KMS key ID used to access the S3 bucket.\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The configuration of the S3 bucket for either an import or export job. This includes assigning permissions for access.\n         </p>"
      }
    },
    "com.amazonaws.healthlake#S3Uri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?$"
      }
    },
    "com.amazonaws.healthlake#SseConfiguration": {
      "type": "structure",
      "members": {
        "KmsEncryptionConfig": {
          "target": "com.amazonaws.healthlake#KmsEncryptionConfig",
          "traits": {
            "smithy.api#documentation": "<p>\n            The KMS encryption configuration used to provide details for data encryption.\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The server-side encryption key configuration for a customer provided encryption key.\n         </p>"
      }
    },
    "com.amazonaws.healthlake#StartFHIRExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#StartFHIRExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#StartFHIRExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Begins a FHIR export job.</p>"
      }
    },
    "com.amazonaws.healthlake#StartFHIRExportJobRequest": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The user generated name for an export job.</p>"
          }
        },
        "OutputDataConfig": {
          "target": "com.amazonaws.healthlake#OutputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The output data configuration that was supplied when the export job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for the Data Store from which files are being exported for an export job.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.healthlake#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name used during the initiation of the job.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.healthlake#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>An optional user provided token used for ensuring idempotency.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#StartFHIRExportJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for an export job.</p>",
            "smithy.api#required": {}
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a FHIR export job. Possible statuses are SUBMITTED, IN_PROGRESS, COMPLETED, or FAILED.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS generated ID for the Data Store from which files are being exported for an export job.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#StartFHIRImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#StartFHIRImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#StartFHIRImportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.healthlake#InternalServerException"
        },
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ThrottlingException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Begins a FHIR Import job.</p>"
      }
    },
    "com.amazonaws.healthlake#StartFHIRImportJobRequest": {
      "type": "structure",
      "members": {
        "JobName": {
          "target": "com.amazonaws.healthlake#JobName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the FHIR Import job in the StartFHIRImport job request.</p>"
          }
        },
        "InputDataConfig": {
          "target": "com.amazonaws.healthlake#InputDataConfig",
          "traits": {
            "smithy.api#documentation": "<p>The input properties of the FHIR Import job in the StartFHIRImport job request.</p>",
            "smithy.api#required": {}
          }
        },
        "JobOutputDataConfig": {
          "target": "com.amazonaws.healthlake#OutputDataConfig",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated Data Store ID.</p>",
            "smithy.api#required": {}
          }
        },
        "DataAccessRoleArn": {
          "target": "com.amazonaws.healthlake#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that gives Amazon HealthLake access permission.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.healthlake#ClientTokenString",
          "traits": {
            "smithy.api#documentation": "<p>Optional user provided token used for ensuring idempotency.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#StartFHIRImportJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.healthlake#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated job ID.</p>",
            "smithy.api#required": {}
          }
        },
        "JobStatus": {
          "target": "com.amazonaws.healthlake#JobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of an import job.</p>",
            "smithy.api#required": {}
          }
        },
        "DatastoreId": {
          "target": "com.amazonaws.healthlake#DatastoreId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS-generated Data Store ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.healthlake#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        },
        "smithy.api#pattern": "^[\\P{M}\\p{M}]{0,10000}$"
      }
    },
    "com.amazonaws.healthlake#Tag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.healthlake#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>\n            The key portion of a tag. Tag keys are case sensitive.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.healthlake#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>\n            The value portion of tag. Tag values are case sensitive.\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            A tag is a label consisting of a user-defined key and value. The form for tags is {\"Key\", \"Value\"}\n         </p>"
      }
    },
    "com.amazonaws.healthlake#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.healthlake#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.healthlake#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.healthlake#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.healthlake#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.healthlake#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Adds a user specifed key and value tag to a Data Store. \n         </p>"
      }
    },
    "com.amazonaws.healthlake#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.healthlake#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>\n            The Amazon Resource Name(ARN)that gives Amazon HealthLake access to the Data Store which tags are being added to.\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.healthlake#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The user specified key and value pair tags being added to a Data Store.\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.healthlake#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.healthlake#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user has exceeded their maximum number of allowed calls to the given API. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.healthlake#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.healthlake#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.healthlake#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.healthlake#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.healthlake#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.healthlake#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            Removes tags from a Data Store.\n         </p>"
      }
    },
    "com.amazonaws.healthlake#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceARN": {
          "target": "com.amazonaws.healthlake#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>\n            \"The Amazon Resource Name(ARN) of the Data Store for which tags are being removed\n         </p>",
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.healthlake#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The keys for the tags to be removed from the Healthlake Data Store.\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.healthlake#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.healthlake#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.healthlake#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user input parameter was invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}