{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.honeycode#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            You do not have sufficient access to perform this action. Check that the workbook is owned by you and your\n            IAM policy allows access to the resource in the request.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.honeycode#AutomationExecutionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The automation execution did not end successfully.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.honeycode#AutomationExecutionTimeoutException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The automation execution timed out.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 504
      }
    },
    "com.amazonaws.honeycode#AwsUserArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.honeycode#BatchCreateTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#BatchCreateTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#BatchCreateTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The BatchCreateTableRows API allows you to create one or more rows at the end of a table in a workbook.\n            The API allows you to specify the values to set in some or all of the columns in the new rows.\n        </p>\n        <p>\n            If a column is not explicitly set in a specific row, then the column level formula specified in the table\n            will be applied to the new row. If there is no column level formula but the last row of the table has a\n            formula, then that formula will be copied down to the new row. If there is no column level formula and\n            no formula in the last row of the table, then that column will be left blank for the new rows.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchcreate",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#BatchCreateTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook where the new rows are being added.</p>\n        <p>\n            If a workbook with the specified ID could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table where the new rows are being added.</p>\n        <p>\n            If a table with the specified ID could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rowsToCreate": {
          "target": "com.amazonaws.honeycode#CreateRowDataList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of rows to create at the end of the table. Each item in this list needs to have a batch item id\n            to uniquely identify the element in the request and the cells to create for that row.\n            You need to specify at least one item in this list.\n        </p>\n        <p>\n            Note that if one of the column ids in any of the rows in the request does not exist in the table, then the\n            request fails and no updates are made to the table.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.honeycode#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            The request token for performing the batch create operation.\n            Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error\n            like a failed network connection, you can retry the call with the same request token. The service ensures\n            that if the first call using that request token is successfully performed, the second call will not perform\n            the operation again.\n        </p>\n        <p>\n            Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests\n            spanning hours or days.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchCreateTableRowsResult": {
      "type": "structure",
      "members": {
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The updated workbook cursor after adding the new rows at the end of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "createdRows": {
          "target": "com.amazonaws.honeycode#CreatedRowsMap",
          "traits": {
            "smithy.api#documentation": "<p>The map of batch item id to the row id that was created for that item.</p>",
            "smithy.api#required": {}
          }
        },
        "failedBatchItems": {
          "target": "com.amazonaws.honeycode#FailedBatchItems",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of batch items in the request that could not be added to the table. Each element in this list\n            contains one item from the request that could not be added to the table along with the reason why\n            that item could not be added.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchDeleteTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#BatchDeleteTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#BatchDeleteTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The BatchDeleteTableRows API allows you to delete one or more rows from a table in a workbook.\n            You need to specify the ids of the rows that you want to delete from the table.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchdelete",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#BatchDeleteTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook where the rows are being deleted.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table where the rows are being deleted.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rowIds": {
          "target": "com.amazonaws.honeycode#RowIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of row ids to delete from the table. You need to specify at least one row id in this list.\n        </p>\n        <p>\n            Note that if one of the row ids provided in the request does not exist in the table, then the request fails\n            and no rows are deleted from the table.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.honeycode#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            The request token for performing the delete action.\n            Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error\n            like a failed network connection, you can retry the call with the same request token. The service ensures\n            that if the first call using that request token is successfully performed, the second call will not perform\n            the action again.\n        </p>\n        <p>\n            Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests\n            spanning hours or days.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchDeleteTableRowsResult": {
      "type": "structure",
      "members": {
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The updated workbook cursor after deleting the rows from the table.</p>",
            "smithy.api#required": {}
          }
        },
        "failedBatchItems": {
          "target": "com.amazonaws.honeycode#FailedBatchItems",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of row ids in the request that could not be deleted from the table. Each element in this list\n            contains one row id from the request that could not be deleted along with the reason why that item could not\n            be deleted.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.honeycode#BatchItemId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.honeycode#BatchUpdateTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#BatchUpdateTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#BatchUpdateTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The BatchUpdateTableRows API allows you to update one or more rows in a table in a workbook.\n        </p>\n        <p>\n            You can specify the values to set in some or all of the columns in the table for the specified\n            rows.\n            If a column is not explicitly specified in a particular row, then that column will not be updated\n            for that row. To clear out the data in a specific cell, you need to set the value as an empty string\n            (\"\").\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupdate",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#BatchUpdateTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook where the rows are being updated.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table where the rows are being updated.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rowsToUpdate": {
          "target": "com.amazonaws.honeycode#UpdateRowDataList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of rows to update in the table. Each item in this list needs to contain the row id to update\n            along with the map of column id to cell values for each column in that row that needs to be updated.\n            You need to specify at least one row in this list, and for each row, you need to specify at least one\n            column to update.\n        </p>\n        <p>\n            Note that if one of the row or column ids in the request does not exist in the table, then the request fails\n            and no updates are made to the table.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.honeycode#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            The request token for performing the update action.\n            Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error\n            like a failed network connection, you can retry the call with the same request token. The service ensures\n            that if the first call using that request token is successfully performed, the second call will not perform\n            the action again.\n        </p>\n        <p>\n            Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests\n            spanning hours or days.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchUpdateTableRowsResult": {
      "type": "structure",
      "members": {
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The updated workbook cursor after adding the new rows at the end of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "failedBatchItems": {
          "target": "com.amazonaws.honeycode#FailedBatchItems",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of batch items in the request that could not be updated in the table. Each element in this list\n            contains one item from the request that could not be updated in the table along with the reason why\n            that item could not be updated.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchUpsertTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#BatchUpsertTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#BatchUpsertTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The BatchUpsertTableRows API allows you to upsert one or more rows in a table. The upsert\n            operation takes a filter expression as input and evaluates it to find matching rows on the destination\n            table. If matching rows are found, it will update the cells in the matching rows to new values specified\n            in the request. If no matching rows are found, a new row is added at the end of the table and the cells in\n            that row are set to the new values specified in the request.\n        </p>\n        <p>\n            You can specify the values to set in some or all of the columns in the table for the\n            matching or newly appended rows. If a column is not explicitly specified for a particular row, then that\n            column will not be updated for that row. To clear out the data in a specific cell, you need to set the value\n            as an empty string (\"\").\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/batchupsert",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#BatchUpsertTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook where the rows are being upserted.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table where the rows are being upserted.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rowsToUpsert": {
          "target": "com.amazonaws.honeycode#UpsertRowDataList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of rows to upsert in the table. Each item in this list needs to have a batch item id to uniquely\n            identify the element in the request, a filter expression to find the rows to update for that element\n            and the cell values to set for each column in the upserted rows. You need to specify\n            at least one item in this list.\n        </p>\n        <p>\n            Note that if one of the filter formulas in the request fails to evaluate because of an error or one of the\n            column ids in any of the rows does not exist in the table, then the request fails\n            and no updates are made to the table.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.honeycode#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            The request token for performing the update action.\n            Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error\n            like a failed network connection, you can retry the call with the same request token. The service ensures\n            that if the first call using that request token is successfully performed, the second call will not perform\n            the action again.\n        </p>\n        <p>\n            Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests\n            spanning hours or days.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#BatchUpsertTableRowsResult": {
      "type": "structure",
      "members": {
        "rows": {
          "target": "com.amazonaws.honeycode#UpsertRowsResultMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            A map with the batch item id as the key and the result of the upsert operation as the value. The\n            result of the upsert operation specifies whether existing rows were updated or a new row was appended, along\n            with the list of row ids that were affected.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The updated workbook cursor after updating or appending rows in the table.</p>",
            "smithy.api#required": {}
          }
        },
        "failedBatchItems": {
          "target": "com.amazonaws.honeycode#FailedBatchItems",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of batch items in the request that could not be updated or appended in the table. Each element in\n            this list contains one item from the request that could not be updated in the table along with the reason\n            why that item could not be updated or appended.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#Cell": {
      "type": "structure",
      "members": {
        "formula": {
          "target": "com.amazonaws.honeycode#Formula",
          "traits": {
            "smithy.api#documentation": "<p>\n            The formula contained in the cell. This field is empty if a cell does not have a formula.\n        </p>"
          }
        },
        "format": {
          "target": "com.amazonaws.honeycode#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format of the cell. If this field is empty, then the format is either not specified in the\n        workbook or the format is set to AUTO.</p>"
          }
        },
        "rawValue": {
          "target": "com.amazonaws.honeycode#RawValue",
          "traits": {
            "smithy.api#documentation": "<p>\n            The raw value of the data contained in the cell. The raw value depends on the format of the data in the\n            cell. However the attribute in the API return value is always a string containing the raw value.\n        </p>\n        <p>\n            Cells with format DATE, DATE_TIME or TIME have the raw value as a floating point\n            number where the whole number represents the number of days since 1/1/1900 and the fractional part\n            represents the fraction of the day since midnight. For example, a cell with date 11/3/2020 has the raw value\n            \"44138\". A cell with the time 9:00 AM has the raw value \"0.375\" and a cell with date/time value of\n            11/3/2020 9:00 AM has the raw value \"44138.375\". Notice that even though the raw value is a number in all\n            three cases, it is still represented as a string.\n        </p>\n        <p>\n            Cells with format NUMBER, CURRENCY, PERCENTAGE and ACCOUNTING have the raw value of the data as the number\n            representing the data being displayed. For example, the number 1.325 with two decimal places in the format\n            will have it's raw value as \"1.325\" and formatted value as \"1.33\". A currency value for\n            $10 will have the raw value as \"10\" and formatted value as \"$10.00\". A value representing 20% with two\n            decimal places in the format will have its raw value as \"0.2\" and the formatted value as \"20.00%\". An\n            accounting value of -$25 will have \"-25\" as the raw value and \"$  (25.00)\" as the formatted value.\n        </p>\n        <p>\n            Cells with format TEXT will have the raw text as the raw value. For example, a cell with text \"John Smith\"\n            will have \"John Smith\" as both the raw value and the formatted value.\n        </p>\n        <p>\n            Cells with format CONTACT will have the name of the contact as a formatted value and the email address of\n            the contact as the raw value. For example, a contact for John Smith will have \"John Smith\" as the\n            formatted value and \"john.smith@example.com\" as the raw value.\n        </p>\n        <p>\n            Cells with format ROWLINK (aka picklist) will have the first column of the linked row as the formatted value\n            and the row id of the linked row as the raw value. For example, a cell containing a picklist to a table\n            that displays task status might have \"Completed\" as the formatted value and\n            \"row:dfcefaee-5b37-4355-8f28-40c3e4ff5dd4/ca432b2f-b8eb-431d-9fb5-cbe0342f9f03\" as the raw value.\n        </p>\n        <p>\n            Cells with format ROWSET (aka multi-select or multi-record picklist) will by default have the first column\n            of each of the linked rows as the formatted value in the list, and the rowset id of the linked rows as the\n            raw value. For example, a cell containing a multi-select picklist to a table that contains items might have\n            \"Item A\", \"Item B\" in the formatted value list and \"rows:b742c1f4-6cb0-4650-a845-35eb86fcc2bb/\n            [fdea123b-8f68-474a-aa8a-5ff87aa333af,6daf41f0-a138-4eee-89da-123086d36ecf]\" as the raw value.\n        </p>\n        <p>\n            Cells with format ATTACHMENT will have the name of the attachment as the formatted value and the attachment\n            id as the raw value. For example, a cell containing an attachment named \"image.jpeg\" will have\n            \"image.jpeg\" as the formatted value and \"attachment:ca432b2f-b8eb-431d-9fb5-cbe0342f9f03\" as the raw value.\n        </p>\n        <p>\n            Cells with format AUTO or cells without any format that are auto-detected as one of the formats above will\n            contain the raw and formatted values as mentioned above, based on the auto-detected formats. If there is no\n            auto-detected format, the raw and formatted values will be the same as the data in the cell.\n        </p>"
          }
        },
        "formattedValue": {
          "target": "com.amazonaws.honeycode#FormattedValue",
          "traits": {
            "smithy.api#documentation": "<p>\n            The formatted value of the cell. This is the value that you see displayed in the cell in the UI.\n        </p>\n        <p>\n            Note that the formatted value of a cell is always represented as a string irrespective of the data that is\n            stored in the cell. For example, if a cell contains a date, the formatted value of the cell is the string\n            representation of the formatted date being shown in the cell in the UI. See details in the rawValue field\n            below for how cells of different formats will have different raw and formatted values.\n        </p>"
          }
        },
        "formattedValues": {
          "target": "com.amazonaws.honeycode#FormattedValuesList",
          "traits": {
            "smithy.api#documentation": "<p>\n            A list of formatted values of the cell. This field is only returned when the cell is ROWSET format\n            (aka multi-select or multi-record picklist). Values in the list are always represented as strings.\n            The formattedValue field will be empty if this field is returned.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents a single cell in a table.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#CellInput": {
      "type": "structure",
      "members": {
        "fact": {
          "target": "com.amazonaws.honeycode#Fact",
          "traits": {
            "smithy.api#documentation": "<p>\n            Fact represents the data that is entered into a cell. This data can be free text or a formula. Formulas need\n            to start with the equals (=) sign.\n        </p>"
          }
        },
        "facts": {
          "target": "com.amazonaws.honeycode#FactList",
          "traits": {
            "smithy.api#documentation": "<p>\n            A list representing the values that are entered into a ROWSET cell. Facts list can have either only values\n            or rowIDs, and rowIDs should from the same table.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            CellInput object contains the data needed to create or update cells in a table.\n        </p>\n        <note>\n            <p>\n                CellInput object has only a facts field or a fact field, but not both. A 400 bad request will be\n                thrown if both fact and facts field are present.\n            </p>\n        </note>"
      }
    },
    "com.amazonaws.honeycode#Cells": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#Cell"
      }
    },
    "com.amazonaws.honeycode#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 32,
          "max": 64
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.honeycode#ColumnMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.honeycode#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "format": {
          "target": "com.amazonaws.honeycode#Format",
          "traits": {
            "smithy.api#documentation": "<p>The format of the column.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Metadata for column in the table.</p>"
      }
    },
    "com.amazonaws.honeycode#CreateRowData": {
      "type": "structure",
      "members": {
        "batchItemId": {
          "target": "com.amazonaws.honeycode#BatchItemId",
          "traits": {
            "smithy.api#documentation": "<p>\n            An external identifier that represents the single row that is being created as part of the\n            BatchCreateTableRows request. This can be any string that you can use to identify the row in the request.\n            The BatchCreateTableRows API puts the batch item id in the results to allow you to link data in the\n            request to data in the results.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "cellsToCreate": {
          "target": "com.amazonaws.honeycode#RowDataInput",
          "traits": {
            "smithy.api#documentation": "<p>\n            A map representing the cells to create in the new row. The key is the column id of the\n            cell and the value is the CellInput object that represents the data to set in that cell.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            Data needed to create a single row in a table as part of the BatchCreateTableRows request.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#CreateRowDataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#CreateRowData"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#CreatedRowsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.honeycode#BatchItemId"
      },
      "value": {
        "target": "com.amazonaws.honeycode#RowId"
      }
    },
    "com.amazonaws.honeycode#DataItem": {
      "type": "structure",
      "members": {
        "overrideFormat": {
          "target": "com.amazonaws.honeycode#Format",
          "traits": {
            "smithy.api#documentation": "<p>\n            The overrideFormat is optional and is specified only if a particular row of data has a different format for\n            the data than the default format defined on the screen or the table.\n        </p>"
          }
        },
        "rawValue": {
          "target": "com.amazonaws.honeycode#RawValue",
          "traits": {
            "smithy.api#documentation": "<p>The raw value of the data. e.g. jsmith@example.com</p>"
          }
        },
        "formattedValue": {
          "target": "com.amazonaws.honeycode#FormattedValue",
          "traits": {
            "smithy.api#documentation": "<p>The formatted value of the data. e.g. John Smith.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data in a particular data cell defined on the screen.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#DataItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#DataItem"
      }
    },
    "com.amazonaws.honeycode#DelimitedTextDelimiter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        },
        "smithy.api#pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]?$"
      }
    },
    "com.amazonaws.honeycode#DelimitedTextImportOptions": {
      "type": "structure",
      "members": {
        "delimiter": {
          "target": "com.amazonaws.honeycode#DelimitedTextDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The delimiter to use for separating columns in a single row of the input.</p>",
            "smithy.api#required": {}
          }
        },
        "hasHeaderRow": {
          "target": "com.amazonaws.honeycode#HasHeaderRow",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether the input file has a header row at the top containing the column names.</p>"
          }
        },
        "ignoreEmptyRows": {
          "target": "com.amazonaws.honeycode#IgnoreEmptyRows",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A parameter to indicate whether empty rows should be ignored or be included in the import.</p>"
          }
        },
        "dataCharacterEncoding": {
          "target": "com.amazonaws.honeycode#ImportDataCharacterEncoding",
          "traits": {
            "smithy.api#documentation": "<p>The encoding of the data in the input file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            An object that contains the options relating to parsing delimited text as part of an import request.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#DescribeTableDataImportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#DescribeTableDataImportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#DescribeTableDataImportJobResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The DescribeTableDataImportJob API allows you to retrieve the status and details of a table data import job.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/import/{jobId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#DescribeTableDataImportJobRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook into which data was imported.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table into which data was imported.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "jobId": {
          "target": "com.amazonaws.honeycode#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the job that was returned by the StartTableDataImportJob request.</p>\n        <p>\n            If a job with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.honeycode#DescribeTableDataImportJobResult": {
      "type": "structure",
      "members": {
        "jobStatus": {
          "target": "com.amazonaws.honeycode#TableDataImportJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n            The current status of the import job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.honeycode#TableDataImportJobMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n            A message providing more details about the current status of the import job.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "jobMetadata": {
          "target": "com.amazonaws.honeycode#TableDataImportJobMetadata",
          "traits": {
            "smithy.api#documentation": "<p>\n            The metadata about the job that was submitted for import.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "com.amazonaws.honeycode#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>\n            If job status is failed, error code to understand reason for the failure.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#DestinationOptions": {
      "type": "structure",
      "members": {
        "columnMap": {
          "target": "com.amazonaws.honeycode#ImportColumnMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of the column id to the import properties for each column.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the options relating to the destination of the import request.</p>"
      }
    },
    "com.amazonaws.honeycode#Email": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 254
        },
        "smithy.api#pattern": "^([a-zA-Z0-9_\\-\\.]+)@([a-zA-Z0-9_\\-\\.]+)\\.([a-zA-Z]{2,5})$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED",
            "name": "AccessDenied"
          },
          {
            "value": "INVALID_URL_ERROR",
            "name": "InvalidUrlError"
          },
          {
            "value": "INVALID_IMPORT_OPTIONS_ERROR",
            "name": "InvalidImportOptionsError"
          },
          {
            "value": "INVALID_TABLE_ID_ERROR",
            "name": "InvalidTableIdError"
          },
          {
            "value": "INVALID_TABLE_COLUMN_ID_ERROR",
            "name": "InvalidTableColumnIdError"
          },
          {
            "value": "TABLE_NOT_FOUND_ERROR",
            "name": "TableNotFoundError"
          },
          {
            "value": "FILE_EMPTY_ERROR",
            "name": "FileEmptyError"
          },
          {
            "value": "INVALID_FILE_TYPE_ERROR",
            "name": "InvalidFileTypeError"
          },
          {
            "value": "FILE_PARSING_ERROR",
            "name": "FileParsingError"
          },
          {
            "value": "FILE_SIZE_LIMIT_ERROR",
            "name": "FileSizeLimitError"
          },
          {
            "value": "FILE_NOT_FOUND_ERROR",
            "name": "FileNotFoundError"
          },
          {
            "value": "UNKNOWN_ERROR",
            "name": "UnknownError"
          },
          {
            "value": "RESOURCE_NOT_FOUND_ERROR",
            "name": "ResourceNotFoundError"
          },
          {
            "value": "SYSTEM_LIMIT_ERROR",
            "name": "SystemLimitError"
          }
        ]
      }
    },
    "com.amazonaws.honeycode#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.honeycode#Fact": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^[\\s\\S]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#FactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#Fact"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 220
        }
      }
    },
    "com.amazonaws.honeycode#FailedBatchItem": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.honeycode#BatchItemId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The id of the batch item that failed. This is the batch item id for the BatchCreateTableRows and\n            BatchUpsertTableRows operations and the row id for the BatchUpdateTableRows and BatchDeleteTableRows\n            operations.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.honeycode#BatchErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>\n            The error message that indicates why the batch item failed.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            A single item in a batch that failed to perform the intended action because of an error preventing it from\n            succeeding.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#FailedBatchItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#FailedBatchItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#Filter": {
      "type": "structure",
      "members": {
        "formula": {
          "target": "com.amazonaws.honeycode#Formula",
          "traits": {
            "smithy.api#documentation": "<p>\n            A formula representing a filter function that returns zero or more matching rows from a table. Valid\n            formulas in this field return a list of rows from a table. The most common ways of writing a formula to\n            return a list of rows are to use the FindRow() or Filter() functions. Any other formula that returns zero or\n            more rows is also acceptable. For example, you can use a formula that points to a cell that contains a\n            filter function.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "contextRowId": {
          "target": "com.amazonaws.honeycode#RowId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The optional contextRowId attribute can be used to specify the row id of the context row if the filter\n            formula contains unqualified references to table columns and needs a context row to evaluate them\n            successfully.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            An object that represents a filter formula along with the id of the context row under which the filter\n            function needs to evaluate.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#Format": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTO",
            "name": "Auto"
          },
          {
            "value": "NUMBER",
            "name": "Number"
          },
          {
            "value": "CURRENCY",
            "name": "Currency"
          },
          {
            "value": "DATE",
            "name": "Date"
          },
          {
            "value": "TIME",
            "name": "Time"
          },
          {
            "value": "DATE_TIME",
            "name": "DateTime"
          },
          {
            "value": "PERCENTAGE",
            "name": "Percentage"
          },
          {
            "value": "TEXT",
            "name": "Text"
          },
          {
            "value": "ACCOUNTING",
            "name": "Accounting"
          },
          {
            "value": "CONTACT",
            "name": "Contact"
          },
          {
            "value": "ROWLINK",
            "name": "Rowlink"
          },
          {
            "value": "ROWSET",
            "name": "Rowset"
          }
        ]
      }
    },
    "com.amazonaws.honeycode#FormattedValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.honeycode#FormattedValuesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#FormattedValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 220
        }
      }
    },
    "com.amazonaws.honeycode#Formula": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 8192
        },
        "smithy.api#pattern": "^=",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#GetScreenData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#GetScreenDataRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#GetScreenDataResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The GetScreenData API allows retrieval of data from a screen in a Honeycode app.\n            The API allows setting local variables in the screen to filter, sort or otherwise affect what will be\n            displayed on the screen.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/screendata",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#GetScreenDataRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook that contains the screen.</p>",
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the app that contains the screen.</p>",
            "smithy.api#required": {}
          }
        },
        "screenId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the screen.</p>",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.amazonaws.honeycode#VariableValueMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Variables are optional and are needed only if the screen requires them to render correctly. Variables are\n            specified as a map where the key is the name of the variable as defined on the screen. The value is an\n            object which currently has only one property, rawValue, which holds the value of the variable to be passed\n            to the screen.\n        </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.honeycode#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n            The number of results to be returned on a single page.\n            Specify a number between 1 and 100. The maximum value is 100.\n        </p>\n        <p>\n            This parameter is optional. If you don't specify this parameter, the default page size is 100.\n        </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If a nextToken is not specified, the API returns the first page of data.\n        </p>\n        <p>\n            Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API\n            will throw ValidationException.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#GetScreenDataResult": {
      "type": "structure",
      "members": {
        "results": {
          "target": "com.amazonaws.honeycode#ResultSetMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of all the rows on the screen keyed by block name.</p>",
            "smithy.api#required": {}
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Indicates the cursor of the workbook at which the data returned by this workbook is read. Workbook cursor\n            keeps increasing with every update and the increments are not sequential.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the pagination token to load the next page if there are more results matching the request. If a\n            pagination token is not present in the response, it means that all data matching the query has been loaded.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#HasHeaderRow": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.honeycode#IgnoreEmptyRows": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.honeycode#ImportColumnMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.honeycode#ResourceId"
      },
      "value": {
        "target": "com.amazonaws.honeycode#SourceDataColumnProperties"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#ImportDataCharacterEncoding": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "UTF-8",
            "name": "UTF_8"
          },
          {
            "value": "US-ASCII",
            "name": "US_ASCII"
          },
          {
            "value": "ISO-8859-1",
            "name": "ISO_8859_1"
          },
          {
            "value": "UTF-16BE",
            "name": "UTF_16BE"
          },
          {
            "value": "UTF-16LE",
            "name": "UTF_16LE"
          },
          {
            "value": "UTF-16",
            "name": "UTF_16"
          }
        ]
      }
    },
    "com.amazonaws.honeycode#ImportDataSource": {
      "type": "structure",
      "members": {
        "dataSourceConfig": {
          "target": "com.amazonaws.honeycode#ImportDataSourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration parameters for the data source of the import</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that has details about the source of the data that was submitted for import.</p>"
      }
    },
    "com.amazonaws.honeycode#ImportDataSourceConfig": {
      "type": "structure",
      "members": {
        "dataSourceUrl": {
          "target": "com.amazonaws.honeycode#SecureURL",
          "traits": {
            "smithy.api#documentation": "<p>\n            The URL from which source data will be downloaded for the import request.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            An object that contains the configuration parameters for the data source of an import request.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#ImportJobSubmitter": {
      "type": "structure",
      "members": {
        "email": {
          "target": "com.amazonaws.honeycode#Email",
          "traits": {
            "smithy.api#documentation": "<p>The email id of the submitter of the import job, if available.</p>"
          }
        },
        "userArn": {
          "target": "com.amazonaws.honeycode#AwsUserArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS user ARN of the submitter of the import job, if available.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the attributes of the submitter of the import job.</p>"
      }
    },
    "com.amazonaws.honeycode#ImportOptions": {
      "type": "structure",
      "members": {
        "destinationOptions": {
          "target": "com.amazonaws.honeycode#DestinationOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options relating to the destination of the import request.</p>"
          }
        },
        "delimitedTextOptions": {
          "target": "com.amazonaws.honeycode#DelimitedTextImportOptions",
          "traits": {
            "smithy.api#documentation": "<p>Options relating to parsing delimited text. Required if dataFormat is DELIMITED_TEXT.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the options specified by the sumitter of the import request.</p>"
      }
    },
    "com.amazonaws.honeycode#ImportSourceDataFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DELIMITED_TEXT",
            "name": "DelimitedText"
          }
        ]
      }
    },
    "com.amazonaws.honeycode#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There were unexpected errors from the server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.honeycode#InvokeScreenAutomation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#InvokeScreenAutomationRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#InvokeScreenAutomationResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#AutomationExecutionException"
        },
        {
          "target": "com.amazonaws.honeycode#AutomationExecutionTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The InvokeScreenAutomation API allows invoking an action defined in a screen in a Honeycode app.\n            The API allows setting local variables, which can then be used in the automation being invoked.\n            This allows automating the Honeycode app interactions to write, update or delete data in the workbook.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/apps/{appId}/screens/{screenId}/automations/{screenAutomationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#InvokeScreenAutomationRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook that contains the screen automation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "appId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the app that contains the screen automation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "screenId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the screen that contains the screen automation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "screenAutomationId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the automation action to be performed.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.amazonaws.honeycode#VariableValueMap",
          "traits": {
            "smithy.api#documentation": "<p>\n            Variables are specified as a map where the key is the name of the variable as defined on the screen. The value is an\n            object which currently has only one property, rawValue, which holds the value of the variable to be passed\n            to the screen. Any variables defined in a screen are required to be passed in the call.\n        </p>"
          }
        },
        "rowId": {
          "target": "com.amazonaws.honeycode#RowId",
          "traits": {
            "smithy.api#documentation": "<p>\n            The row ID for the automation if the automation is defined inside a block with source or list.\n        </p>"
          }
        },
        "clientRequestToken": {
          "target": "com.amazonaws.honeycode#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            The request token for performing the automation action.\n            Request tokens help to identify duplicate requests. If a call times out or fails due to a transient error\n            like a failed network connection, you can retry the call with the same request token. The service ensures\n            that if the first call using that request token is successfully performed, the second call will return the\n            response of the previous call rather than performing the action again.\n        </p>\n        <p>\n            Note that request tokens are valid only for a few minutes. You cannot use request tokens to dedupe requests\n            spanning hours or days.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#InvokeScreenAutomationResult": {
      "type": "structure",
      "members": {
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The updated workbook cursor after performing the automation action.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.honeycode#JobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$"
      }
    },
    "com.amazonaws.honeycode#ListTableColumns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#ListTableColumnsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#ListTableColumnsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The ListTableColumns API allows you to retrieve a list of all the columns in a table in a workbook.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/columns",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken"
        }
      }
    },
    "com.amazonaws.honeycode#ListTableColumnsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook that contains the table whose columns are being retrieved.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table whose columns are being retrieved.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If a nextToken is not specified, the API returns the first page of data.\n        </p>\n        <p>\n            Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API\n            will throw ValidationException.\n        </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTableColumnsResult": {
      "type": "structure",
      "members": {
        "tableColumns": {
          "target": "com.amazonaws.honeycode#TableColumns",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of columns in the table.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the pagination token to load the next page if there are more results matching the request. If a\n            pagination token is not present in the response, it means that all data matching the request has been\n            loaded.\n        </p>"
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor\n            keeps increasing with every update and the increments are not sequential.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#ListTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#ListTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The ListTableRows API allows you to retrieve a list of all the rows in a table in a workbook.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/list",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.honeycode#ListTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook that contains the table whose rows are being retrieved.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table whose rows are being retrieved.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "rowIds": {
          "target": "com.amazonaws.honeycode#RowIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If one or more row ids are specified in this list, then only the specified\n            row ids are returned in the result. If no row ids are specified here, then all the rows in the table are\n            returned.\n        </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.honeycode#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of rows to return in each page of the results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If a nextToken is not specified, the API returns the first page of data.\n        </p>\n        <p>\n            Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API\n            will throw ValidationException.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTableRowsResult": {
      "type": "structure",
      "members": {
        "columnIds": {
          "target": "com.amazonaws.honeycode#ResourceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of columns in the table whose row data is returned in the result.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "com.amazonaws.honeycode#TableRows",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of rows in the table. Note that this result is paginated, so this list contains a maximum of 100\n            rows.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "rowIdsNotFound": {
          "target": "com.amazonaws.honeycode#RowIdList",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of row ids included in the request that were not found in the table.\n        </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the pagination token to load the next page if there are more results matching the request. If a\n            pagination token is not present in the response, it means that all data matching the request has been\n            loaded.\n        </p>"
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor\n            keeps increasing with every update and the increments are not sequential.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#ListTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#ListTablesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The ListTables API allows you to retrieve a list of all the tables in a workbook.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workbooks/{workbookId}/tables",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.honeycode#ListTablesRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook whose tables are being retrieved.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.honeycode#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of tables to return in each page of the results.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If a nextToken is not specified, the API returns the first page of data.\n        </p>\n        <p>\n            Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API\n            will throw ValidationException.\n        </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTablesResult": {
      "type": "structure",
      "members": {
        "tables": {
          "target": "com.amazonaws.honeycode#Tables",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of tables in the workbook.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the pagination token to load the next page if there are more results matching the request. If a\n            pagination token is not present in the response, it means that all data matching the request has been\n            loaded.\n        </p>"
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor\n            keeps increasing with every update and the increments are not sequential.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#ListTagsForResourceResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The ListTagsForResource API allows you to return a resource's tags.\n        </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.honeycode#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.honeycode#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The resource's Amazon Resource Name (ARN).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.honeycode#ListTagsForResourceResult": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.honeycode#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>The resource's tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#Name": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^(?!\\s*$).+$"
      }
    },
    "com.amazonaws.honeycode#QueryTableRows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.honeycode#QueryTableRowsRequest"
      },
      "output": {
        "target": "com.amazonaws.honeycode#QueryTableRowsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.honeycode#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.honeycode#InternalServerException"
        },
        {
          "target": "com.amazonaws.honeycode#RequestTimeoutException"
        },
        {
          "target": "com.amazonaws.honeycode#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.honeycode#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.honeycode#ThrottlingException"
        },
        {
          "target": "com.amazonaws.honeycode#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            The QueryTableRows API allows you to use a filter formula to query for specific rows in a table.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workbooks/{workbookId}/tables/{tableId}/rows/query",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.honeycode#QueryTableRowsRequest": {
      "type": "structure",
      "members": {
        "workbookId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workbook whose table rows are being queried.</p>\n        <p>\n            If a workbook with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tableId": {
          "target": "com.amazonaws.honeycode#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the table whose rows are being queried.</p>\n        <p>\n            If a table with the specified id could not be found, this API throws ResourceNotFoundException.\n        </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "filterFormula": {
          "target": "com.amazonaws.honeycode#Filter",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents a filter formula along with the id of the context row under which the filter\n            function needs to evaluate.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.honeycode#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of rows to return in each page of the results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            This parameter is optional. If a nextToken is not specified, the API returns the first page of data.\n        </p>\n        <p>\n            Pagination tokens expire after 1 hour. If you use a token that was returned more than an hour back, the API\n            will throw ValidationException.\n        </p>"
          }
        }
      }
    },
    "com.amazonaws.honeycode#QueryTableRowsResult": {
      "type": "structure",
      "members": {
        "columnIds": {
          "target": "com.amazonaws.honeycode#ResourceIds",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of columns in the table whose row data is returned in the result.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "com.amazonaws.honeycode#TableRows",
          "traits": {
            "smithy.api#documentation": "<p>\n            The list of rows in the table that match the query filter.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.honeycode#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n            Provides the pagination token to load the next page if there are more results matching the request. If a\n            pagination token is not present in the response, it means that all data matching the request has been\n            loaded.\n        </p>"
          }
        },
        "workbookCursor": {
          "target": "com.amazonaws.honeycode#WorkbookCursor",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n            Indicates the cursor of the workbook at which the data returned by this request is read. Workbook cursor\n            keeps increasing with every update and the increments are not sequential.\n        </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.honeycode#RawValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 32767
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.honeycode#RequestTimeoutException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request timed out.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 504
      }
    },
    "com.amazonaws.honeycode#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws:honeycode:.+:[0-9]{12}:.+:.+$"
      }
    },
    "com.amazonaws.honeycode#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.honeycode#ResourceIds": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#ResourceId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Workbook, Table, App, Screen or Screen Automation was not found with the given ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.honeycode#ResultHeader": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#ColumnMetadata"
      }
    },
    "com.amazonaws.honeycode#ResultRow": {
      "type": "structure",
      "members": {
        "rowId": {
          "target": "com.amazonaws.honeycode#RowId",
          "traits": {
            "smithy.api#documentation": "<p>The ID for a particular row.</p>"
          }
        },
        "dataItems": {
          "target": "com.amazonaws.honeycode#DataItems",
          "traits": {
            "smithy.api#documentation": "<p>List of all the data cells in a row.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single row in the ResultSet.</p>"
      }
    },
    "com.amazonaws.honeycode#ResultRows": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#ResultRow"
      }
    },
    "com.amazonaws.honeycode#ResultSet": {
      "type": "structure",
      "members": {
        "headers": {
          "target": "com.amazonaws.honeycode#ResultHeader",
          "traits": {
            "smithy.api#documentation": "<p>\n            List of headers for all the data cells in the block. The header identifies the name and default format of\n            the data cell. Data cells appear in the same order in all rows as defined in the header. The names and\n            formats are not repeated in the rows. If a particular row does not have a value for a data cell, a blank\n            value is used.\n        </p>\n        <p>\n            For example, a task list that displays the task name, due date and assigned person might have headers\n            [ { \"name\": \"Task Name\"}, {\"name\": \"Due Date\", \"format\": \"DATE\"}, {\"name\": \"Assigned\", \"format\": \"CONTACT\"} ].\n            Every row in the result will have the task name as the first item, due date as the second item and assigned\n            person as the third item. If a particular task does not have a due date, that row will still have a blank\n            value in the second element and the assigned person will still be in the third element.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "rows": {
          "target": "com.amazonaws.honeycode#ResultRows",
          "traits": {
            "smithy.api#documentation": "<p>\n            List of rows returned by the request. Each row has a row Id and a list of data cells in that row. The data\n            cells will be present in the same order as they are defined in the header.\n        </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            ResultSet contains the results of the request for a single block or list defined on the screen.\n        </p>"
      }
    },
    "com.amazonaws.honeycode#ResultSetMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.honeycode#Name"
      },
      "value": {
        "target": "com.amazonaws.honeycode#ResultSet"
      }
    },
    "com.amazonaws.honeycode#RowDataInput": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.honeycode#ResourceId"
      },
      "value": {
        "target": "com.amazonaws.honeycode#CellInput"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#RowId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 77,
          "max": 77
        },
        "smithy.api#pattern": "^row:[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\\/[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.honeycode#RowIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.honeycode#RowId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.honeycode#SecureURL": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8000
        },
        "smithy.api#pattern": "^https:\\/\\/[^\\n\\r\\x00\\x08\\x0B\\x0C\\x0E\\x1F]*$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.honeycode#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            The request caused service quota to be breached.\n        </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.honeycode#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.honeycode#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Remote service is unreachable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.honeycode#SheetsPublicApiService": {
      "type": "service",
      "version": "2020-03-01",
      "operations": [
        {
          "target": "com.amazonaws.honeycode#BatchCreateTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#BatchDeleteTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#BatchUpdateTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#BatchUpsertTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#DescribeTableDataImportJob"
        },
        {
          "target": "com.amazonaws.honeycode#GetScreenData"
        },
        {
          "target": "com.amazonaws.honeycode#InvokeScreenAutomation"
        },
        {
          "target": "com.amazonaws.honeycode#ListTableColumns"
        },
        {
          "target": "com.amazonaws.honeycode#ListTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#ListTables"
        },
        {
          "target": "com.amazonaws.honeycode#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.honeycode#QueryTableRows"
        },
        {
          "target": "com.amazonaws.honeycode#StartTableDataImportJob"
        },
        {
          "target": "com.amazonaws.honeycode#TagResource"
        },
        {
          "target": "com.amazonaws.honeycode#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Honeycode",
          "arnNamespace": "honeycode",
          "cloudFormationName": "Honeycode",
          "cloudTrailEventSource": "honeycode.amazonaws.com",
          "endpointPrefix": "honeycode"
        },
        "aws.auth#sigv4": {
          "name": "honeycode"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>\n      Amazon Honeycode is a fully managed service that allows you to quickly build mobile and web apps for teams—without\n      programming. Build Honeycode apps for managing almost anything, like projects, customers, operations, approvals,\n      resources, and even your team.\n    </p>",
        "smithy.api#title": "Amazon Honeycode",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
[...]
