{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iam#AWSIdentityManagementV20100508": {
      "type": "service",
      "version": "2010-05-08",
      "operations": [
        {
          "target": "com.amazonaws.iam#AddClientIDToOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#AddRoleToInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#AddUserToGroup"
        },
        {
          "target": "com.amazonaws.iam#AttachGroupPolicy"
        },
        {
          "target": "com.amazonaws.iam#AttachRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#AttachUserPolicy"
        },
        {
          "target": "com.amazonaws.iam#ChangePassword"
        },
        {
          "target": "com.amazonaws.iam#CreateAccessKey"
        },
        {
          "target": "com.amazonaws.iam#CreateAccountAlias"
        },
        {
          "target": "com.amazonaws.iam#CreateGroup"
        },
        {
          "target": "com.amazonaws.iam#CreateInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#CreateLoginProfile"
        },
        {
          "target": "com.amazonaws.iam#CreateOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#CreatePolicy"
        },
        {
          "target": "com.amazonaws.iam#CreatePolicyVersion"
        },
        {
          "target": "com.amazonaws.iam#CreateRole"
        },
        {
          "target": "com.amazonaws.iam#CreateSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#CreateServiceLinkedRole"
        },
        {
          "target": "com.amazonaws.iam#CreateServiceSpecificCredential"
        },
        {
          "target": "com.amazonaws.iam#CreateUser"
        },
        {
          "target": "com.amazonaws.iam#CreateVirtualMFADevice"
        },
        {
          "target": "com.amazonaws.iam#DeactivateMFADevice"
        },
        {
          "target": "com.amazonaws.iam#DeleteAccessKey"
        },
        {
          "target": "com.amazonaws.iam#DeleteAccountAlias"
        },
        {
          "target": "com.amazonaws.iam#DeleteAccountPasswordPolicy"
        },
        {
          "target": "com.amazonaws.iam#DeleteGroup"
        },
        {
          "target": "com.amazonaws.iam#DeleteGroupPolicy"
        },
        {
          "target": "com.amazonaws.iam#DeleteInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#DeleteLoginProfile"
        },
        {
          "target": "com.amazonaws.iam#DeleteOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#DeletePolicy"
        },
        {
          "target": "com.amazonaws.iam#DeletePolicyVersion"
        },
        {
          "target": "com.amazonaws.iam#DeleteRole"
        },
        {
          "target": "com.amazonaws.iam#DeleteRolePermissionsBoundary"
        },
        {
          "target": "com.amazonaws.iam#DeleteRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#DeleteSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#DeleteServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#DeleteServiceLinkedRole"
        },
        {
          "target": "com.amazonaws.iam#DeleteServiceSpecificCredential"
        },
        {
          "target": "com.amazonaws.iam#DeleteSigningCertificate"
        },
        {
          "target": "com.amazonaws.iam#DeleteSSHPublicKey"
        },
        {
          "target": "com.amazonaws.iam#DeleteUser"
        },
        {
          "target": "com.amazonaws.iam#DeleteUserPermissionsBoundary"
        },
        {
          "target": "com.amazonaws.iam#DeleteUserPolicy"
        },
        {
          "target": "com.amazonaws.iam#DeleteVirtualMFADevice"
        },
        {
          "target": "com.amazonaws.iam#DetachGroupPolicy"
        },
        {
          "target": "com.amazonaws.iam#DetachRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#DetachUserPolicy"
        },
        {
          "target": "com.amazonaws.iam#EnableMFADevice"
        },
        {
          "target": "com.amazonaws.iam#GenerateCredentialReport"
        },
        {
          "target": "com.amazonaws.iam#GenerateOrganizationsAccessReport"
        },
        {
          "target": "com.amazonaws.iam#GenerateServiceLastAccessedDetails"
        },
        {
          "target": "com.amazonaws.iam#GetAccessKeyLastUsed"
        },
        {
          "target": "com.amazonaws.iam#GetAccountAuthorizationDetails"
        },
        {
          "target": "com.amazonaws.iam#GetAccountPasswordPolicy"
        },
        {
          "target": "com.amazonaws.iam#GetAccountSummary"
        },
        {
          "target": "com.amazonaws.iam#GetContextKeysForCustomPolicy"
        },
        {
          "target": "com.amazonaws.iam#GetContextKeysForPrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iam#GetCredentialReport"
        },
        {
          "target": "com.amazonaws.iam#GetGroup"
        },
        {
          "target": "com.amazonaws.iam#GetGroupPolicy"
        },
        {
          "target": "com.amazonaws.iam#GetInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#GetLoginProfile"
        },
        {
          "target": "com.amazonaws.iam#GetOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#GetOrganizationsAccessReport"
        },
        {
          "target": "com.amazonaws.iam#GetPolicy"
        },
        {
          "target": "com.amazonaws.iam#GetPolicyVersion"
        },
        {
          "target": "com.amazonaws.iam#GetRole"
        },
        {
          "target": "com.amazonaws.iam#GetRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#GetSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#GetServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#GetServiceLastAccessedDetails"
        },
        {
          "target": "com.amazonaws.iam#GetServiceLastAccessedDetailsWithEntities"
        },
        {
          "target": "com.amazonaws.iam#GetServiceLinkedRoleDeletionStatus"
        },
        {
          "target": "com.amazonaws.iam#GetSSHPublicKey"
        },
        {
          "target": "com.amazonaws.iam#GetUser"
        },
        {
          "target": "com.amazonaws.iam#GetUserPolicy"
        },
        {
          "target": "com.amazonaws.iam#ListAccessKeys"
        },
        {
          "target": "com.amazonaws.iam#ListAccountAliases"
        },
        {
          "target": "com.amazonaws.iam#ListAttachedGroupPolicies"
        },
        {
          "target": "com.amazonaws.iam#ListAttachedRolePolicies"
        },
        {
          "target": "com.amazonaws.iam#ListAttachedUserPolicies"
        },
        {
          "target": "com.amazonaws.iam#ListEntitiesForPolicy"
        },
        {
          "target": "com.amazonaws.iam#ListGroupPolicies"
        },
        {
          "target": "com.amazonaws.iam#ListGroups"
        },
        {
          "target": "com.amazonaws.iam#ListGroupsForUser"
        },
        {
          "target": "com.amazonaws.iam#ListInstanceProfiles"
        },
        {
          "target": "com.amazonaws.iam#ListInstanceProfilesForRole"
        },
        {
          "target": "com.amazonaws.iam#ListInstanceProfileTags"
        },
        {
          "target": "com.amazonaws.iam#ListMFADevices"
        },
        {
          "target": "com.amazonaws.iam#ListMFADeviceTags"
        },
        {
          "target": "com.amazonaws.iam#ListOpenIDConnectProviders"
        },
        {
          "target": "com.amazonaws.iam#ListOpenIDConnectProviderTags"
        },
        {
          "target": "com.amazonaws.iam#ListPolicies"
        },
        {
          "target": "com.amazonaws.iam#ListPoliciesGrantingServiceAccess"
        },
        {
          "target": "com.amazonaws.iam#ListPolicyTags"
        },
        {
          "target": "com.amazonaws.iam#ListPolicyVersions"
        },
        {
          "target": "com.amazonaws.iam#ListRolePolicies"
        },
        {
          "target": "com.amazonaws.iam#ListRoles"
        },
        {
          "target": "com.amazonaws.iam#ListRoleTags"
        },
        {
          "target": "com.amazonaws.iam#ListSAMLProviders"
        },
        {
          "target": "com.amazonaws.iam#ListSAMLProviderTags"
        },
        {
          "target": "com.amazonaws.iam#ListServerCertificates"
        },
        {
          "target": "com.amazonaws.iam#ListServerCertificateTags"
        },
        {
          "target": "com.amazonaws.iam#ListServiceSpecificCredentials"
        },
        {
          "target": "com.amazonaws.iam#ListSigningCertificates"
        },
        {
          "target": "com.amazonaws.iam#ListSSHPublicKeys"
        },
        {
          "target": "com.amazonaws.iam#ListUserPolicies"
        },
        {
          "target": "com.amazonaws.iam#ListUsers"
        },
        {
          "target": "com.amazonaws.iam#ListUserTags"
        },
        {
          "target": "com.amazonaws.iam#ListVirtualMFADevices"
        },
        {
          "target": "com.amazonaws.iam#PutGroupPolicy"
        },
        {
          "target": "com.amazonaws.iam#PutRolePermissionsBoundary"
        },
        {
          "target": "com.amazonaws.iam#PutRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#PutUserPermissionsBoundary"
        },
        {
          "target": "com.amazonaws.iam#PutUserPolicy"
        },
        {
          "target": "com.amazonaws.iam#RemoveClientIDFromOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#RemoveRoleFromInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#RemoveUserFromGroup"
        },
        {
          "target": "com.amazonaws.iam#ResetServiceSpecificCredential"
        },
        {
          "target": "com.amazonaws.iam#ResyncMFADevice"
        },
        {
          "target": "com.amazonaws.iam#SetDefaultPolicyVersion"
        },
        {
          "target": "com.amazonaws.iam#SetSecurityTokenServicePreferences"
        },
        {
          "target": "com.amazonaws.iam#SimulateCustomPolicy"
        },
        {
          "target": "com.amazonaws.iam#SimulatePrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iam#TagInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#TagMFADevice"
        },
        {
          "target": "com.amazonaws.iam#TagOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#TagPolicy"
        },
        {
          "target": "com.amazonaws.iam#TagRole"
        },
        {
          "target": "com.amazonaws.iam#TagSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#TagServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#TagUser"
        },
        {
          "target": "com.amazonaws.iam#UntagInstanceProfile"
        },
        {
          "target": "com.amazonaws.iam#UntagMFADevice"
        },
        {
          "target": "com.amazonaws.iam#UntagOpenIDConnectProvider"
        },
        {
          "target": "com.amazonaws.iam#UntagPolicy"
        },
        {
          "target": "com.amazonaws.iam#UntagRole"
        },
        {
          "target": "com.amazonaws.iam#UntagSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#UntagServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#UntagUser"
        },
        {
          "target": "com.amazonaws.iam#UpdateAccessKey"
        },
        {
          "target": "com.amazonaws.iam#UpdateAccountPasswordPolicy"
        },
        {
          "target": "com.amazonaws.iam#UpdateAssumeRolePolicy"
        },
        {
          "target": "com.amazonaws.iam#UpdateGroup"
        },
        {
          "target": "com.amazonaws.iam#UpdateLoginProfile"
        },
        {
          "target": "com.amazonaws.iam#UpdateOpenIDConnectProviderThumbprint"
        },
        {
          "target": "com.amazonaws.iam#UpdateRole"
        },
        {
          "target": "com.amazonaws.iam#UpdateRoleDescription"
        },
        {
          "target": "com.amazonaws.iam#UpdateSAMLProvider"
        },
        {
          "target": "com.amazonaws.iam#UpdateServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#UpdateServiceSpecificCredential"
        },
        {
          "target": "com.amazonaws.iam#UpdateSigningCertificate"
        },
        {
          "target": "com.amazonaws.iam#UpdateSSHPublicKey"
        },
        {
          "target": "com.amazonaws.iam#UpdateUser"
        },
        {
          "target": "com.amazonaws.iam#UploadServerCertificate"
        },
        {
          "target": "com.amazonaws.iam#UploadSigningCertificate"
        },
        {
          "target": "com.amazonaws.iam#UploadSSHPublicKey"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IAM",
          "arnNamespace": "iam",
          "cloudFormationName": "IAM",
          "cloudTrailEventSource": "iam.amazonaws.com",
          "endpointPrefix": "iam"
        },
        "aws.auth#sigv4": {
          "name": "iam"
        },
        "aws.protocols#awsQuery": {},
        "smithy.api#documentation": "<fullname>Identity and Access Management</fullname>\n         <p>Identity and Access Management (IAM) is a web service for securely controlling \n      access to Amazon Web Services services. With IAM, you can centrally manage users, security credentials\n      such as access keys, and permissions that control which Amazon Web Services resources users and \n      applications can access. For more information about IAM, see <a href=\"http://aws.amazon.com/iam/\">Identity and Access Management (IAM)</a> and the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/\">Identity and Access Management User Guide</a>.</p>",
        "smithy.api#title": "AWS Identity and Access Management",
        "smithy.api#xmlNamespace": {
          "uri": "https://iam.amazonaws.com/doc/2010-05-08/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-cn"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-north-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.amazonaws.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-north-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam.{Region}.api.amazonwebservices.com.cn",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "cn-north-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.cn-north-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-north-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-us-gov"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam.us-gov.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam.{Region}.api.aws",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.us-gov.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-gov-west-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-iso"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.c2s.ic.gov",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-iso-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.us-iso-east-1.c2s.ic.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-iso-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "stringEquals",
                      "argv": [
                        {
                          "fn": "getAttr",
                          "argv": [
                            {
                              "ref": "PartitionResult"
                            },
                            "name"
                          ]
                        },
                        "aws-iso-b"
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.sc2s.sgov.gov",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-isob-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.us-isob-east-1.sc2s.sgov.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-isob-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iam-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "iam"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://iam-fips.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "aws-global"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://iam-fips.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-east-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "iam-govcloud"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://iam.us-gov.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "ref": "Region"
                                    },
                                    "aws-us-gov-global"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://iam.us-gov.amazonaws.com",
                                "properties": {
                                  "authSchemes": [
                                    {
                                      "name": "sigv4",
                                      "signingRegion": "us-gov-west-1",
                                      "signingName": "iam"
                                    }
                                  ]
                                },
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iam-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iam.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://iam.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-cn-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://iam.cn-north-1.amazonaws.com.cn",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "cn-north-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-us-gov-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://iam.us-gov.amazonaws.com",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-gov-west-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-iso-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://iam.us-iso-east-1.c2s.ic.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-iso-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "ref": "Region"
                            },
                            "aws-iso-b-global"
                          ]
                        }
                      ],
                      "endpoint": {
                        "url": "https://iam.us-isob-east-1.sc2s.sgov.gov",
                        "properties": {
                          "authSchemes": [
                            {
                              "name": "sigv4",
                              "signingRegion": "us-isob-east-1",
                              "signingName": "iam"
                            }
                          ]
                        },
                        "headers": {}
                      },
                      "type": "endpoint"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iam.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region aws-cn-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "cn-north-1",
                        "signingName": "iam",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://iam.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-cn-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-east-1",
                        "signingName": "iam",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://iam.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-iso-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-iso-east-1",
                        "signingName": "iam",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://iam.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-iso-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-iso-b-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-isob-east-1",
                        "signingName": "iam",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://iam.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-iso-b-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region aws-us-gov-global with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "signingRegion": "us-gov-west-1",
                        "signingName": "iam",
                        "name": "sigv4"
                      }
                    ]
                  },
                  "url": "https://iam.us-gov.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "aws-us-gov-global",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iam#AccessAdvisorUsageGranularityType": {
      "type": "enum",
      "members": {
        "SERVICE_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVICE_LEVEL"
          }
        },
        "ACTION_LEVEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTION_LEVEL"
          }
        }
      }
    },
    "com.amazonaws.iam#AccessDetail": {
      "type": "structure",
      "members": {
        "ServiceName": {
          "target": "com.amazonaws.iam#serviceNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the service in which access was attempted.</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceNamespace": {
          "target": "com.amazonaws.iam#serviceNamespaceType",
          "traits": {
            "smithy.api#documentation": "<p>The namespace of the service in which access was attempted.</p>\n         <p>To learn the service namespace of a service, see <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/reference_policies_actions-resources-contextkeys.html\">Actions, resources, and condition keys for Amazon Web Services services</a> in the\n            <i>Service Authorization Reference</i>. Choose the name of the service to\n         view details for that service. In the first paragraph, find the service prefix. For\n         example, <code>(service prefix: a4b)</code>. For more information about service namespaces,\n         see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">Amazon Web Services\n            service namespaces</a> in the <i>Amazon Web Services General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Region": {
          "target": "com.amazonaws.iam#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The Region where the last service access attempt occurred.</p>\n         <p>This field is null if no principals in the reported Organizations entity attempted to access the\n         service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">tracking period</a>.</p>"
          }
        },
        "EntityPath": {
          "target": "com.amazonaws.iam#organizationsEntityPathType",
          "traits": {
            "smithy.api#documentation": "<p>The path of the Organizations entity (root, organizational unit, or account) from which an\n         authenticated principal last attempted to access the service. Amazon Web Services does not report\n         unauthenticated requests.</p>\n         <p>This field is null if no principals (IAM users, IAM roles, or root users) in the\n         reported Organizations entity attempted to access the service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">tracking period</a>.</p>"
          }
        },
        "LastAuthenticatedTime": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time\n            format</a>, when an authenticated principal most recently attempted to access the\n         service. Amazon Web Services does not report unauthenticated requests.</p>\n         <p>This field is null if no principals in the reported Organizations entity attempted to access the\n         service within the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#service-last-accessed-reporting-period\">tracking period</a>.</p>"
          }
        },
        "TotalAuthenticatedEntities": {
          "target": "com.amazonaws.iam#integerType",
          "traits": {
            "smithy.api#documentation": "<p>The number of accounts with authenticated principals (root users, IAM users, and IAM\n         roles) that attempted to access the service in the tracking period.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains details about when a principal in the reported Organizations entity\n         last attempted to access an Amazon Web Services service. A principal can be an IAM user, an IAM role,\n         or the Amazon Web Services account root user within the reported Organizations entity.</p>\n         <p>This data type is a response element in the <a>GetOrganizationsAccessReport</a> operation.</p>"
      }
    },
    "com.amazonaws.iam#AccessDetails": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iam#AccessDetail"
      }
    },
    "com.amazonaws.iam#AccessKey": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.iam#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user that the access key is associated with.</p>",
            "smithy.api#required": {}
          }
        },
        "AccessKeyId": {
          "target": "com.amazonaws.iam#accessKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID for this access key.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.iam#statusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access key. <code>Active</code> means that the key is valid for API\n         calls, while <code>Inactive</code> means it is not. </p>",
            "smithy.api#required": {}
          }
        },
        "SecretAccessKey": {
          "target": "com.amazonaws.iam#accessKeySecretType",
          "traits": {
            "smithy.api#documentation": "<p>The secret key used to sign requests.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date when the access key was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Web Services access key.</p>\n         <p> This data type is used as a response element in the <a>CreateAccessKey</a>\n         and <a>ListAccessKeys</a> operations. </p>\n         <note>\n            <p>The <code>SecretAccessKey</code> value is returned only in response to <a>CreateAccessKey</a>. You can get a secret access key only when you first\n            create an access key; you cannot recover the secret access key later. If you lose a\n            secret access key, you must create a new access key.</p>\n         </note>"
      }
    },
    "com.amazonaws.iam#AccessKeyLastUsed": {
      "type": "structure",
      "members": {
        "LastUsedDate": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in <a href=\"http://www.iso.org/iso/iso8601\">ISO 8601 date-time\n            format</a>, when the access key was most recently used. This field is null in the\n         following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM began tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ServiceName": {
          "target": "com.amazonaws.iam#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Services service with which this access key was most recently used. The\n         value of this field is \"N/A\" in the following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM started tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Region": {
          "target": "com.amazonaws.iam#stringType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region where this access key was most recently used. The value for this field\n         is \"N/A\" in the following situations:</p>\n         <ul>\n            <li>\n               <p>The user does not have an access key.</p>\n            </li>\n            <li>\n               <p>An access key exists but has not been used since IAM began tracking this\n               information.</p>\n            </li>\n            <li>\n               <p>There is no sign-in data associated with the user.</p>\n            </li>\n         </ul>\n         <p>For more information about Amazon Web Services Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and endpoints</a> in the Amazon Web Services\n         General Reference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the last time an Amazon Web Services access key was used since IAM began\n         tracking this information on April 22, 2015.</p>\n         <p>This data type is used as a response element in the <a>GetAccessKeyLastUsed</a> operation.</p>"
      }
    },
    "com.amazonaws.iam#AccessKeyMetadata": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.iam#userNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IAM user that the key is associated with.</p>"
          }
        },
        "AccessKeyId": {
          "target": "com.amazonaws.iam#accessKeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ID for this access key.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.iam#statusType",
          "traits": {
            "smithy.api#documentation": "<p>The status of the access key. <code>Active</code> means that the key is valid for API\n         calls; <code>Inactive</code> means it is not.</p>"
          }
        },
        "CreateDate": {
          "target": "com.amazonaws.iam#dateType",
          "traits": {
            "smithy.api#documentation": "<p>The date when the access key was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Web Services access key, without its secret key.</p>\n         <p>This data type is used as a response element in the <a>ListAccessKeys</a>\n         operation.</p>"
      }
    },
    "com.amazonaws.iam#ActionNameListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iam#ActionNameType"
      }
    },
    "com.amazonaws.iam#ActionNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 128
        }
      }
    },
    "com.amazonaws.iam#AddClientIDToOpenIDConnectProvider": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iam#AddClientIDToOpenIDConnectProviderRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iam#InvalidInputException"
        },
        {
          "target": "com.amazonaws.iam#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new client ID (also known as audience) to the list of client IDs already\n            registered for the specified IAM OpenID Connect (OIDC) provider resource.</p>\n        <p>This operation is idempotent; it does not fail or return an error if you add an\n            existing client ID to the provider.</p>"
      }
    },
    "com.amazonaws.iam#AddClientIDToOpenIDConnectProviderRequest": {
      "type": "structure",
      "members": {
        "OpenIDConnectProviderArn": {
          "target": "com.amazonaws.iam#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM OpenID Connect (OIDC) provider resource to\n            add the client ID to. You can get a list of OIDC provider ARNs by using the <a>ListOpenIDConnectProviders</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientID": {
          "target": "com.amazonaws.iam#clientIDType",
          "traits": {
            "smithy.api#documentation": "<p>The client ID (also known as audience) to add to the IAM OpenID Connect provider\n            resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iam#AddRoleToInstanceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iam#AddRoleToInstanceProfileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iam#EntityAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iam#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.iam#UnmodifiableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified IAM role to the specified instance profile. An instance profile\n            can contain only one role, and this quota cannot be increased. You can remove the\n            existing role and then add a different role to an instance profile. You must then wait\n            for the change to appear across all of Amazon Web Services because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\">eventual\n                consistency</a>. To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\">disassociate the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\">associate the\n                instance profile</a>, or you can stop your instance and then restart it.</p>\n        <note>\n            <p>The caller of this operation must be granted the <code>PassRole</code> permission\n                on the IAM role by a permissions policy.</p>\n        </note>\n        <p>For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with roles</a>. For more\n            information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About instance\n            profiles</a>.</p>"
      }
    },
    "com.amazonaws.iam#AddRoleToInstanceProfileRequest": {
      "type": "structure",
      "members": {
        "InstanceProfileName": {
          "target": "com.amazonaws.iam#instanceProfileNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the instance profile to update.</p>\n        <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": {}
          }
        },
        "RoleName": {
          "target": "com.amazonaws.iam#roleNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the role to add.</p>\n        <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iam#AddUserToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iam#AddUserToGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iam#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds the specified user to the specified group.</p>"
      }
    },
    "com.amazonaws.iam#AddUserToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.iam#groupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to update.</p>\n        <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": {}
          }
        },
        "UserName": {
          "target": "com.amazonaws.iam#existingUserNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user to add.</p>\n        <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iam#ArnListType": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iam#arnType"
      }
    },
    "com.amazonaws.iam#AttachGroupPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iam#AttachGroupPolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iam#InvalidInputException"
        },
        {
          "target": "com.amazonaws.iam#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#PolicyNotAttachableException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified managed policy to the specified IAM group.</p>\n        <p>You use this operation to attach a managed policy to a group. To embed an inline\n            policy in a group, use <a>PutGroupPolicy</a>.</p>\n        <p>As a best practice, you can validate your IAM policies. \n     To learn more, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_policy-validator.html\">Validating IAM policies</a> \n            in the <i>IAM User Guide</i>.</p>\n        <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed policies and inline\n                policies</a> in the <i>IAM User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iam#AttachGroupPolicyRequest": {
      "type": "structure",
      "members": {
        "GroupName": {
          "target": "com.amazonaws.iam#groupNameType",
          "traits": {
            "smithy.api#documentation": "<p>The name (friendly name, not ARN) of the group to attach the policy to.</p>\n        <p>This parameter allows (through its <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a>) a string of characters consisting of upper and lowercase alphanumeric \n    characters with no spaces. You can also include any of the following characters: _+=,.@-</p>",
            "smithy.api#required": {}
          }
        },
        "PolicyArn": {
          "target": "com.amazonaws.iam#arnType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM policy you want to attach.</p>\n        <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iam#AttachRolePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iam#AttachRolePolicyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iam#InvalidInputException"
        },
        {
          "target": "com.amazonaws.iam#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iam#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.iam#PolicyNotAttachableException"
        },
        {
          "target": "com.amazonaws.iam#ServiceFailureException"
        },
        {
          "target": "com.amazonaws.iam#UnmodifiableEntityException"
        }
      ],
      "traits": {
[...]
