{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.identitystore#AWSIdentityStore": {
      "type": "service",
      "version": "2020-06-15",
      "operations": [
        {
          "target": "com.amazonaws.identitystore#DescribeGroup"
        },
        {
          "target": "com.amazonaws.identitystore#DescribeUser"
        },
        {
          "target": "com.amazonaws.identitystore#ListGroups"
        },
        {
          "target": "com.amazonaws.identitystore#ListUsers"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "identitystore",
          "arnNamespace": "identitystore",
          "cloudFormationName": "Identitystore",
          "cloudTrailEventSource": "identitystore.amazonaws.com",
          "endpointPrefix": "identitystore"
        },
        "aws.auth#sigv4": {
          "name": "identitystore"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#title": "AWS SSO Identity Store"
      }
    },
    "com.amazonaws.identitystore#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.identitystore#Message"
        },
        "RequestId": {
          "target": "com.amazonaws.identitystore#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the Identity Store service for each sent request, and is then returned inside the exception if the request fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.identitystore#AttributePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}  ]+"
      }
    },
    "com.amazonaws.identitystore#DescribeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.identitystore#DescribeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.identitystore#DescribeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.identitystore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.identitystore#InternalServerException"
        },
        {
          "target": "com.amazonaws.identitystore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.identitystore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.identitystore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the group metadata and attributes from <code>GroupId</code> in an identity store.</p>"
      }
    },
    "com.amazonaws.identitystore#DescribeGroupRequest": {
      "type": "structure",
      "members": {
        "IdentityStoreId": {
          "target": "com.amazonaws.identitystore#IdentityStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the identity store, such as d-1234567890. In this example, d- is a fixed prefix, and 1234567890 is a randomly generated string which contains number and lower case letters. This value is generated at the time that a new identity store is created.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a group in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.identitystore#DescribeGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a group in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.identitystore#GroupDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>Contains the group’s display name value. The length limit is 1024 characters. This value can consist of letters, accented characters, symbols, numbers, punctuation, tab, new line, carriage return, space and non breaking space in this attribute. The characters “<>;:%” are excluded. This value is specified at the time the group is created and stored as an attribute of the group object in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.identitystore#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.identitystore#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.identitystore#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.identitystore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.identitystore#InternalServerException"
        },
        {
          "target": "com.amazonaws.identitystore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.identitystore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.identitystore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the user metadata and attributes from <code>UserId</code> in an identity store.</p>"
      }
    },
    "com.amazonaws.identitystore#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "IdentityStoreId": {
          "target": "com.amazonaws.identitystore#IdentityStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the identity store, such as d-1234567890. In this example, d- is a fixed prefix, and 1234567890 is a randomly generated string which contains number and lower case letters. This value is generated at the time that a new identity store is created.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a user in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.identitystore#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.identitystore#UserName",
          "traits": {
            "smithy.api#documentation": "<p>Contains the user’s username value. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers and punctuation. The characters “<>;:%” are excluded. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a user in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.identitystore#Filter": {
      "type": "structure",
      "members": {
        "AttributePath": {
          "target": "com.amazonaws.identitystore#AttributePath",
          "traits": {
            "smithy.api#documentation": "<p>The attribute path used to specify which attribute name to search. Length limit is 255 characters.  For example, <code>UserName</code> is a valid attribute path for the <code>ListUsers</code> API, and <code>DisplayName</code> is a valid attribute path for the <code>ListGroups</code> API.</p>",
            "smithy.api#required": {}
          }
        },
        "AttributeValue": {
          "target": "com.amazonaws.identitystore#SensitiveStringType",
          "traits": {
            "smithy.api#documentation": "<p>Represents the data for an attribute. Each attribute value is described as a name-value pair. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A query filter used by <code>ListUsers</code> and <code>ListGroup</code>. This filter object provides the attribute name and attribute value to search users or groups.</p>"
      }
    },
    "com.amazonaws.identitystore#Filters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.identitystore#Filter"
      }
    },
    "com.amazonaws.identitystore#Group": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a group in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.identitystore#GroupDisplayName",
          "traits": {
            "smithy.api#documentation": "<p>Contains the group’s display name value. The length limit is 1024 characters. This value can consist of letters, accented characters, symbols, numbers, punctuation, tab, new line, carriage return, space and non breaking space in this attribute. The characters “<>;:%” are excluded. This value is specified at the time the group is created and stored as an attribute of the group object in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A group object, which contains a specified group’s metadata and attributes.</p>"
      }
    },
    "com.amazonaws.identitystore#GroupDisplayName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  ]+"
      }
    },
    "com.amazonaws.identitystore#Groups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.identitystore#Group"
      }
    },
    "com.amazonaws.identitystore#IdentityStoreId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.identitystore#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.identitystore#Message"
        },
        "RequestId": {
          "target": "com.amazonaws.identitystore#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the Identity Store service for each sent request, and is then returned inside the exception if the request fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure with an internal server.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.identitystore#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.identitystore#ListGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.identitystore#ListGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.identitystore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.identitystore#InternalServerException"
        },
        {
          "target": "com.amazonaws.identitystore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.identitystore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.identitystore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the attribute name and value of the group that you specified in the search. We only support <code>DisplayName</code> as a valid filter attribute path currently, and filter is required. This API returns minimum attributes, including <code>GroupId</code> and group <code>DisplayName</code> in the response.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.identitystore#ListGroupsRequest": {
      "type": "structure",
      "members": {
        "IdentityStoreId": {
          "target": "com.amazonaws.identitystore#IdentityStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the identity store, such as d-1234567890. In this example, d- is a fixed prefix, and 1234567890 is a randomly generated string which contains number and lower case letters. This value is generated at the time that a new identity store is created.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.identitystore#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned per request, which is used in the <code>ListUsers</code> and <code>ListGroups</code> request to specify how many results to return in one page. The length limit is 50 characters.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.identitystore#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> APIs. This value is generated by the identity store service and is returned in the API response if the total results are more than the size of one page, and when this token is used in the API request to search for the next page.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.identitystore#Filters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Filter</code> objects, which is used in the <code>ListUsers</code> and <code>ListGroups</code> request. </p>"
          }
        }
      }
    },
    "com.amazonaws.identitystore#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.identitystore#Groups",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Group</code> objects in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.identitystore#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> APIs. This value is generated by the identity store service and is returned in the API response if the total results are more than the size of one page, and when this token is used in the API request to search for the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.identitystore#ListUsers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.identitystore#ListUsersRequest"
      },
      "output": {
        "target": "com.amazonaws.identitystore#ListUsersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.identitystore#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.identitystore#InternalServerException"
        },
        {
          "target": "com.amazonaws.identitystore#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.identitystore#ThrottlingException"
        },
        {
          "target": "com.amazonaws.identitystore#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the attribute name and value of the user that you specified in the search. We only support <code>UserName</code> as a valid filter attribute path currently, and filter is required. This API returns minimum attributes, including <code>UserId</code> and <code>UserName</code> in the response.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.identitystore#ListUsersRequest": {
      "type": "structure",
      "members": {
        "IdentityStoreId": {
          "target": "com.amazonaws.identitystore#IdentityStoreId",
          "traits": {
            "smithy.api#documentation": "<p>The globally unique identifier for the identity store, such as d-1234567890. In this example, d- is a fixed prefix, and 1234567890 is a randomly generated string which contains number and lower case letters. This value is generated at the time that a new identity store is created.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.identitystore#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to be returned per request, which is used in the <code>ListUsers</code> and <code>ListGroups</code> request to specify how many results to return in one page. The length limit is 50 characters.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.identitystore#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> APIs. This value is generated by the identity store service and is returned in the API response if the total results are more than the size of one page, and when this token is used in the API request to search for the next page.</p>"
          }
        },
        "Filters": {
          "target": "com.amazonaws.identitystore#Filters",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>Filter</code> objects, which is used in the <code>ListUsers</code> and <code>ListGroups</code> request. </p>"
          }
        }
      }
    },
    "com.amazonaws.identitystore#ListUsersResponse": {
      "type": "structure",
      "members": {
        "Users": {
          "target": "com.amazonaws.identitystore#Users",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>User</code> objects in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.identitystore#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token used for the <code>ListUsers</code> and <code>ListGroups</code> APIs. This value is generated by the identity store service and is returned in the API response if the total results are more than the size of one page, and when this token is used in the API request to search for the next page.</p>"
          }
        }
      }
    },
    "com.amazonaws.identitystore#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.identitystore#Message": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.identitystore#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9+=/:]*"
      }
    },
    "com.amazonaws.identitystore#RequestId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}"
      }
    },
    "com.amazonaws.identitystore#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 47
        },
        "smithy.api#pattern": "^([0-9a-f]{10}-|)[A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12}$"
      }
    },
    "com.amazonaws.identitystore#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.identitystore#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource in the Identity Store service, which is an enum object. Valid values include USER, GROUP, and IDENTITY_STORE.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a resource in the identity store, which can be used as <code>UserId</code> or <code>GroupId</code>. The format for <code>ResourceId</code> is either <code>UUID</code> or <code>1234567890-UUID</code>, where <code>UUID</code> is a randomly generated value for each resource when it is created and <code>1234567890</code> represents the <code>IdentityStoreId</code> string value. In the case that the identity store is migrated from a legacy SSO identity store, the <code>ResourceId</code> for that identity store will be in the format of <code>UUID</code>. Otherwise, it will be in the <code>1234567890-UUID</code> format.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.identitystore#Message"
        },
        "RequestId": {
          "target": "com.amazonaws.identitystore#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the Identity Store service for each sent request, and is then returned inside the exception if the request fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that a requested resource is not found.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.identitystore#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "GROUP",
            "name": "GROUP"
          },
          {
            "value": "USER",
            "name": "USER"
          },
          {
            "value": "IDENTITY_STORE",
            "name": "IDENTITY_STORE"
          }
        ]
      }
    },
    "com.amazonaws.identitystore#SensitiveStringType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}\\t\\n\\r  ]+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.identitystore#ThrottlingException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.identitystore#Message"
        },
        "RequestId": {
          "target": "com.amazonaws.identitystore#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the Identity Store service for each sent request, and is then returned inside the exception if the request fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates that the principal has crossed the throttling limits of the API operations.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.identitystore#User": {
      "type": "structure",
      "members": {
        "UserName": {
          "target": "com.amazonaws.identitystore#UserName",
          "traits": {
            "smithy.api#documentation": "<p>Contains the user’s username value. The length limit is 128 characters. This value can consist of letters, accented characters, symbols, numbers and punctuation. The characters “<>;:%” are excluded. This value is specified at the time the user is created and stored as an attribute of the user object in the identity store.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.identitystore#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for a user in the identity store.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A user object, which contains a specified user’s metadata and attributes.</p>"
      }
    },
    "com.amazonaws.identitystore#UserName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\p{L}\\p{M}\\p{S}\\p{N}\\p{P}]+",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.identitystore#Users": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.identitystore#User"
      }
    },
    "com.amazonaws.identitystore#ValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.identitystore#Message"
        },
        "RequestId": {
          "target": "com.amazonaws.identitystore#RequestId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for each request. This value is a globally unique ID that is generated by the Identity Store service for each sent request, and is then returned inside the exception if the request fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request failed because it contains a syntax error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
