{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.imagebuilder#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.imagebuilder#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1536
        }
      }
    },
    "com.amazonaws.imagebuilder#Ami": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the EC2 AMI. </p>"
          }
        },
        "image": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AMI ID of the EC2 AMI. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the EC2 AMI. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the EC2 AMI. Minimum and maximum length are in characters.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.imagebuilder#ImageState"
        },
        "accountId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The account ID of the owner of the AMI. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Details of an EC2 AMI. </p>"
      }
    },
    "com.amazonaws.imagebuilder#AmiDistributionConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#AmiNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the distribution configuration. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the distribution configuration. Minimum and maximum length are in characters.</p>"
          }
        },
        "targetAccountIds": {
          "target": "com.amazonaws.imagebuilder#AccountList",
          "traits": {
            "smithy.api#documentation": "<p> The ID of an account to which you want to distribute an image. </p>"
          }
        },
        "amiTags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to AMIs distributed to this Region. </p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The KMS key identifier used to encrypt the distributed image. </p>"
          }
        },
        "launchPermission": {
          "target": "com.amazonaws.imagebuilder#LaunchPermissionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Launch permissions can be used to configure which AWS accounts can use the AMI to launch instances. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Define and configure the output AMIs of the pipeline. </p>"
      }
    },
    "com.amazonaws.imagebuilder#AmiList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#Ami"
      }
    },
    "com.amazonaws.imagebuilder#AmiNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
      }
    },
    "com.amazonaws.imagebuilder#Arn": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#CallRateLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CancelImageCreationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CancelImageCreationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CancelImageCreation",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreationRequest": {
      "type": "structure",
      "members": {
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation you want to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation has been cancelled.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.imagebuilder#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.imagebuilder#Component": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the parent image OS version during image recipe creation. </p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "data": {
          "target": "com.amazonaws.imagebuilder#ComponentData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the component.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the component.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The encryption status of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A detailed view of a component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentBuildVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentConfiguration": {
      "type": "structure",
      "members": {
        "componentArn": {
          "target": "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Configuration details of the component. </p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.imagebuilder#ComponentData": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#ComponentFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SHELL",
            "name": "SHELL"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#ComponentSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the parent image OS version during image recipe creation. </p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A high-level summary of a component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentSummary"
      }
    },
    "com.amazonaws.imagebuilder#ComponentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BUILD",
            "name": "BUILD"
          },
          {
            "value": "TEST",
            "name": "TEST"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p> The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the parent image OS version during image recipe creation. </p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A high-level overview of a component semantic version.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/(?:(?:(\\d+|x)\\.(\\d+|x)\\.(\\d+|x))|(?:\\d+\\.\\d+\\.\\d+/\\d+))$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentVersion"
      }
    },
    "com.amazonaws.imagebuilder#CreateComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your image.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateComponent",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateComponentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "semanticVersion": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the component. This version follows the semantic version syntax. For example, major.minor.patch. This could be versioned like software (2.0.1) or like a date (2019.12.01).</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component. Describes the contents of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of this component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p> The operating system (OS) version supported by the component. If the OS information is available, a prefix match is performed against the parent image OS version during image recipe creation. </p>"
          }
        },
        "data": {
          "target": "com.amazonaws.imagebuilder#InlineComponentData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the component. Used to specify the data inline. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.</p>"
          }
        },
        "uri": {
          "target": "com.amazonaws.imagebuilder#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The uri of the component. Must be an S3 URL and the requester must have permission to access the S3 bucket. If you use S3, you can specify component content up to your service quota. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key that should be used to encrypt this component.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the component.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token of the component.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateComponentResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component that was created by this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateDistributionConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the distribution configuration. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the distribution configuration. </p>"
          }
        },
        "distributions": {
          "target": "com.amazonaws.imagebuilder#DistributionList",
          "traits": {
            "smithy.api#documentation": "<p> The distributions of the distribution configuration. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the distribution configuration. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token of the distribution configuration. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent. </p>"
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that was created by this request. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImageRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImage",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImagePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImagePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImagePipeline",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipelineRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the image pipeline. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the image pipeline. </p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that will be used to configure images created by this image pipeline. </p>",
            "smithy.api#required": {}
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to build images created by this image pipeline. </p>",
            "smithy.api#required": {}
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that will be used to configure and distribute images created by this image pipeline. </p>"
          }
        },
        "imageTestsConfiguration": {
          "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> The image test configuration of the image pipeline. </p>"
          }
        },
        "enhancedImageMetadataEnabled": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default. </p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.imagebuilder#Schedule",
          "traits": {
            "smithy.api#documentation": "<p> The schedule of the image pipeline. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.imagebuilder#PipelineStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the image pipeline. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image pipeline. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipelineResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent. </p>"
          }
        },
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that was created by this request. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImageRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImageRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image recipe. Image recipes define how images are configured, tested, and assessed. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImageRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the image recipe. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the image recipe. </p>"
          }
        },
        "semanticVersion": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the image recipe. </p>",
            "smithy.api#required": {}
          }
        },
        "components": {
          "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The components of the image recipe. </p>",
            "smithy.api#required": {}
          }
        },
        "parentImage": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The parent image of the image recipe. The value of the string can be the ARN of the parent image or an AMI ID. The format for the ARN follows this example: <code>arn:aws:imagebuilder:us-west-2:aws:image/windows-server-2016-english-full-base-x86/xxxx.x.x</code>. You can provide the specific version that you want to use, or you can use a wildcard in all of the fields. If you enter an AMI ID for the string value, you must have access to the AMI, and the AMI must be in the same Region in which you are using Image Builder. </p>",
            "smithy.api#required": {}
          }
        },
        "blockDeviceMappings": {
          "target": "com.amazonaws.imagebuilder#InstanceBlockDeviceMappings",
          "traits": {
            "smithy.api#documentation": "<p>The block device mappings of the image recipe. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image recipe. </p>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The working directory to be used during build and test workflows.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent. </p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was created by this request. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that defines how images are configured, tested, and assessed. </p>",
            "smithy.api#required": {}
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that defines and configures the outputs of your pipeline. </p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that defines the environment in which your image will be built and tested. </p>",
            "smithy.api#required": {}
          }
        },
        "imageTestsConfiguration": {
          "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> The image tests configuration of the image. </p>"
          }
        },
        "enhancedImageMetadataEnabled": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent. </p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image that was created by this request. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateInfrastructureConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the infrastructure configuration. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the infrastructure configuration. </p>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.imagebuilder#InstanceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The instance types of the infrastructure configuration. You can specify one or more instance types to use for this build. The service will pick one of these instance types based on availability. </p>"
          }
        },
        "instanceProfileName": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The instance profile to associate with the instance used to customize your EC2 AMI. </p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.imagebuilder#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The security group IDs to associate with the instance used to customize your EC2 AMI. </p>"
          }
        },
        "subnetId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subnet ID in which to place the instance used to customize your EC2 AMI. </p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.imagebuilder#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration of the infrastructure configuration. </p>"
          }
        },
        "keyPair": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The key pair of the infrastructure configuration. This can be used to log on to and debug the instance used to create your image. </p>"
          }
        },
        "terminateInstanceOnFailure": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The terminate instance on failure setting of the infrastructure configuration. Set to false if you want Image Builder to retain the instance used to configure your AMI if the build or test phase of your workflow fails. </p>"
          }
        },
        "snsTopicArn": {
          "target": "com.amazonaws.imagebuilder#SnsTopicArn",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic on which to send image build events. </p>"
          }
        },
        "resourceTags": {
          "target": "com.amazonaws.imagebuilder#ResourceTagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the resource created by Image Builder.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the infrastructure configuration. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent. </p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that was created by this request. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DateTime": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#DeleteComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a component build version. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteComponent",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteComponentRequest": {
      "type": "structure",
      "members": {
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component build version to delete. </p>",
            "smithy.api#httpQuery": "componentBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteComponentResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component build version that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteDistributionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteDistributionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a distribution configuration. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteDistributionConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfigurationRequest": {
      "type": "structure",
      "members": {
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration to delete. </p>",
            "smithy.api#httpQuery": "distributionConfigurationArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImage",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImagePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImagePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image pipeline. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImagePipeline",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipelineRequest": {
      "type": "structure",
      "members": {
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline to delete. </p>",
            "smithy.api#httpQuery": "imagePipelineArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipelineResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image recipe. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImageRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipeRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe to delete. </p>",
            "smithy.api#httpQuery": "imageRecipeArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRequest": {
      "type": "structure",
      "members": {
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image to delete. </p>",
            "smithy.api#httpQuery": "imageBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an infrastructure configuration. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteInfrastructureConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationRequest": {
      "type": "structure",
      "members": {
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration to delete. </p>",
            "smithy.api#httpQuery": "infrastructureConfigurationArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that was deleted. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#Distribution": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The target Region. </p>",
            "smithy.api#required": {}
          }
        },
        "amiDistributionConfiguration": {
          "target": "com.amazonaws.imagebuilder#AmiDistributionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The specific AMI settings (for example, launch permissions, AMI tags). </p>"
          }
        },
        "licenseConfigurationArns": {
          "target": "com.amazonaws.imagebuilder#LicenseConfigurationArnList",
          "traits": {
            "smithy.api#documentation": "<p>The License Manager Configuration to associate with the AMI in the specified Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Defines the settings for a specific Region. </p>"
      }
    },
    "com.amazonaws.imagebuilder#DistributionConfiguration": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the distribution configuration.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the distribution configuration.</p>"
          }
        },
        "distributions": {
          "target": "com.amazonaws.imagebuilder#DistributionList",
          "traits": {
            "smithy.api#documentation": "<p>The distributions of the distribution configuration.</p>"
          }
        },
        "timeoutMinutes": {
          "target": "com.amazonaws.imagebuilder#DistributionTimeoutMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration in minutes for this distribution configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which this distribution configuration was created.</p>"
          }
        },
        "dateUpdated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which this distribution configuration was last updated.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the distribution configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A distribution configuration.</p>"
      }
    },
    "com.amazonaws.imagebuilder#DistributionConfigurationArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$"
      }
    },
    "com.amazonaws.imagebuilder#DistributionConfigurationSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the distribution configuration.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the distribution configuration.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the distribution configuration was created.</p>"
          }
        },
        "dateUpdated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date on which the distribution configuration was updated.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the distribution configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A high-level overview of a distribution configuration.</p>"
      }
    },
    "com.amazonaws.imagebuilder#DistributionConfigurationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#DistributionConfigurationSummary"
      }
    },
    "com.amazonaws.imagebuilder#DistributionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#Distribution"
      }
    },
    "com.amazonaws.imagebuilder#DistributionTimeoutMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 30,
          "max": 720
        }
      }
    },
    "com.amazonaws.imagebuilder#EbsInstanceBlockDeviceSpecification": {
      "type": "structure",
      "members": {
        "encrypted": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Use to configure device encryption.</p>"
          }
        },
        "deleteOnTermination": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Use to configure delete on termination of the associated device.</p>"
          }
        },
        "iops": {
          "target": "com.amazonaws.imagebuilder#EbsIopsInteger",
          "traits": {
            "smithy.api#documentation": "<p>Use to configure device IOPS.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Use to configure the KMS key to use when encrypting the device.</p>"
          }
        },
        "snapshotId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot that defines the device contents.</p>"
          }
        },
        "volumeSize": {
          "target": "com.amazonaws.imagebuilder#EbsVolumeSizeInteger",
          "traits": {
            "smithy.api#documentation": "<p>Use to override the device's volume size.</p>"
          }
        },
        "volumeType": {
          "target": "com.amazonaws.imagebuilder#EbsVolumeType",
          "traits": {
            "smithy.api#documentation": "<p>Use to override the device's volume type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon EBS-specific block device mapping specifications.</p>"
      }
    },
    "com.amazonaws.imagebuilder#EbsIopsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 100,
          "max": 10000
        }
      }
    },
    "com.amazonaws.imagebuilder#EbsVolumeSizeInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 16000
        }
      }
    },
    "com.amazonaws.imagebuilder#EbsVolumeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "standard",
            "name": "standard"
          },
          {
            "value": "io1",
            "name": "io1"
          },
          {
            "value": "io2",
            "name": "io2"
          },
          {
            "value": "gp2",
            "name": "gp2"
          },
          {
            "value": "sc1",
            "name": "sc1"
          },
          {
            "value": "st1",
            "name": "st1"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#EmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 0
        }
      }
    },
    "com.amazonaws.imagebuilder#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#Filter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter. Filter names are case-sensitive. </p>"
          }
        },
        "values": {
          "target": "com.amazonaws.imagebuilder#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The filter values. Filter values are case-sensitive. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter name and value pair that is used to return a more specific list of results from a list operation. Filters can be used to match a set of resources by specific criteria, such as tags, attributes, or IDs. </p>"
      }
    },
    "com.amazonaws.imagebuilder#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.imagebuilder#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z]{1,1024}$"
      }
    },
    "com.amazonaws.imagebuilder#FilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z./_ :-]{1,1024}$"
      }
    },
    "com.amazonaws.imagebuilder#FilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#FilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.imagebuilder#ForbiddenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform the requested operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.imagebuilder#GetComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets a component object. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetComponent",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetComponentPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetComponentPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetComponentPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets a component policy. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetComponentPolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetComponentPolicyRequest": {
      "type": "structure",
      "members": {
        "componentArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component whose policy you want to retrieve. </p>",
            "smithy.api#httpQuery": "componentArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetComponentPolicyResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.imagebuilder#ResourcePolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The component policy. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetComponentRequest": {
      "type": "structure",
      "members": {
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component that you want to retrieve. Regex requires \"/\\d+$\" suffix.</p>",
            "smithy.api#httpQuery": "componentBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetComponentResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "component": {
          "target": "com.amazonaws.imagebuilder#Component",
          "traits": {
            "smithy.api#documentation": "<p>The component object associated with the specified ARN. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetDistributionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetDistributionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetDistributionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets a distribution configuration. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetDistributionConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetDistributionConfigurationRequest": {
      "type": "structure",
      "members": {
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that you want to retrieve. </p>",
            "smithy.api#httpQuery": "distributionConfigurationArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetDistributionConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "distributionConfiguration": {
          "target": "com.amazonaws.imagebuilder#DistributionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The distribution configuration object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetImageRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an image. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetImage",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetImagePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetImagePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an image pipeline. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetImagePipeline",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePipelineRequest": {
      "type": "structure",
      "members": {
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline that you want to retrieve. </p>",
            "smithy.api#httpQuery": "imagePipelineArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePipelineResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "imagePipeline": {
          "target": "com.amazonaws.imagebuilder#ImagePipeline",
          "traits": {
            "smithy.api#documentation": "<p>The image pipeline object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetImagePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetImagePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an image policy. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetImagePolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePolicyRequest": {
      "type": "structure",
      "members": {
        "imageArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose policy you want to retrieve. </p>",
            "smithy.api#httpQuery": "imageArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImagePolicyResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.imagebuilder#ResourcePolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The image policy object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetImageRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetImageRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an image recipe. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetImageRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetImageRecipePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetImageRecipePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an image recipe policy. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetImageRecipePolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipePolicyRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe whose policy you want to retrieve. </p>",
            "smithy.api#httpQuery": "imageRecipeArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipePolicyResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "policy": {
          "target": "com.amazonaws.imagebuilder#ResourcePolicyDocument",
          "traits": {
            "smithy.api#documentation": "<p>The image recipe policy object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipeRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that you want to retrieve. </p>",
            "smithy.api#httpQuery": "imageRecipeArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "imageRecipe": {
          "target": "com.amazonaws.imagebuilder#ImageRecipe",
          "traits": {
            "smithy.api#documentation": "<p>The image recipe object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageRequest": {
      "type": "structure",
      "members": {
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageVersionArnOrBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image that you want to retrieve. </p>",
            "smithy.api#httpQuery": "imageBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetImageResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "image": {
          "target": "com.amazonaws.imagebuilder#Image",
          "traits": {
            "smithy.api#documentation": "<p>The image object. </p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#GetInfrastructureConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#GetInfrastructureConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#GetInfrastructureConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Gets an infrastructure configuration. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/GetInfrastructureConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#GetInfrastructureConfigurationRequest": {
      "type": "structure",
      "members": {
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that you want to retrieve. </p>",
            "smithy.api#httpQuery": "infrastructureConfigurationArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> GetInfrastructureConfiguration request object. </p>"
      }
    },
    "com.amazonaws.imagebuilder#GetInfrastructureConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request. </p>"
          }
        },
        "infrastructureConfiguration": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The infrastructure configuration object. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>GetInfrastructureConfiguration response object. </p>"
      }
    },
    "com.amazonaws.imagebuilder#IdempotentParameterMismatchException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.imagebuilder#Image": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the image.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the image.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the image.</p>"
          }
        },
        "enhancedImageMetadataEnabled": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Collects additional information about the image being created, including the operating system (OS) version and package list. This information is used to enhance the overall experience of using EC2 Image Builder. Enabled by default. </p>"
          }
        },
        "osVersion": {
          "target": "com.amazonaws.imagebuilder#OsVersion",
          "traits": {
[...]
