{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.imagebuilder#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.imagebuilder#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1536
        }
      }
    },
    "com.amazonaws.imagebuilder#AdditionalInstanceConfiguration": {
      "type": "structure",
      "members": {
        "systemsManagerAgent": {
          "target": "com.amazonaws.imagebuilder#SystemsManagerAgent",
          "traits": {
            "smithy.api#documentation": "<p>Contains settings for the SSM agent on your build instance.</p>"
          }
        },
        "userDataOverride": {
          "target": "com.amazonaws.imagebuilder#UserDataOverride",
          "traits": {
            "smithy.api#documentation": "<p>Use this property to provide commands or a command script to run when you launch \n\t\t\tyour build instance.</p>\n\t\t       <note>\n\t\t\t         <p>The userDataOverride property replaces any commands that Image Builder might have added to ensure\n\t\t\t\tthat SSM is installed on your Linux build instance. If you override the user data,\n\t\t\t\tmake sure that you add commands to install SSM, if it is not pre-installed on your\n\t\t\t\tsource image.</p>\n\t\t       </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>In addition to your infrastruction configuration, these settings provide an extra layer of\n\t\t\tcontrol over your build instances. For instances where Image Builder installs the SSM agent,\n\t\t\tyou can choose whether to keep it for the AMI that you create. You can also specify commands \n\t\t\tto run on launch for all of your build instances.</p>"
      }
    },
    "com.amazonaws.imagebuilder#Ami": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region of the Amazon EC2 AMI.</p>"
          }
        },
        "image": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The AMI ID of the Amazon EC2 AMI.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon EC2 AMI.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the Amazon EC2 AMI. Minimum and maximum length are in characters.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.imagebuilder#ImageState"
        },
        "accountId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The account ID of the owner of the AMI.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Details of an Amazon EC2 AMI.</p>"
      }
    },
    "com.amazonaws.imagebuilder#AmiDistributionConfiguration": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#AmiNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the distribution configuration.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the distribution configuration. Minimum and maximum length are in characters.</p>"
          }
        },
        "targetAccountIds": {
          "target": "com.amazonaws.imagebuilder#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an account to which you want to distribute an image.</p>"
          }
        },
        "amiTags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to AMIs distributed to this Region.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the distributed image.</p>"
          }
        },
        "launchPermission": {
          "target": "com.amazonaws.imagebuilder#LaunchPermissionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Launch permissions can be used to configure which Amazon Web Services accounts can use the AMI to launch\n\t\t\tinstances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Define and configure the output AMIs of the pipeline.</p>"
      }
    },
    "com.amazonaws.imagebuilder#AmiList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#Ami"
      }
    },
    "com.amazonaws.imagebuilder#AmiNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 127
        },
        "smithy.api#pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}\\.]+[-_A-Za-z0-9}]$"
      }
    },
    "com.amazonaws.imagebuilder#Arn": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.imagebuilder#CallRateLimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded the permitted request rate for the specific operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CancelImageCreationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CancelImageCreationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on\n\t\t\timages in a non-terminal state.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CancelImageCreation",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreationRequest": {
      "type": "structure",
      "members": {
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation you want to cancel.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CancelImageCreationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation has been cancelled.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#ClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.imagebuilder#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on\n\t\t\tbehalf of a user that doesn't have permissions to use the action or resource, or specifying an\n\t\t\tinvalid resource identifier.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.imagebuilder#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.imagebuilder#Component": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only\n\t\t\tto test it.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the parent image OS version during image recipe\n\t\t\tcreation.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterDetailList",
          "traits": {
            "smithy.api#documentation": "<p>Contains parameter details for each of the parameters that are defined for the component.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "data": {
          "target": "com.amazonaws.imagebuilder#ComponentData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the component.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The KMS key identifier used to encrypt the component.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The encryption status of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A detailed view of a component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentBuildVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentConfiguration": {
      "type": "structure",
      "members": {
        "componentArn": {
          "target": "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "parameters": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterList",
          "traits": {
            "smithy.api#documentation": "<p>A group of parameter settings that are used to configure the component for a specific recipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Configuration details of the component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.imagebuilder#ComponentData": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#ComponentFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SHELL",
            "name": "SHELL"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component parameter to set.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>Sets the value for the named component parameter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a key/value pair that sets the named component parameter.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[^\\x00]+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterDetail": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of this input parameter.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of input this parameter provides. The currently supported value is \"string\".</p>",
            "smithy.api#required": {}
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterValueList",
          "traits": {
            "smithy.api#documentation": "<p>The default value of this parameter if no input is provided.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#ComponentParameterDescription",
          "traits": {
            "smithy.api#documentation": "<p>Describes this parameter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a parameter that is used to provide configuration details for the component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentParameterDetail"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentParameter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[^\\x00]+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        },
        "smithy.api#pattern": "^String|Integer|Boolean|StringList$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^[^\\x00]+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentParameterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentParameterValue"
      }
    },
    "com.amazonaws.imagebuilder#ComponentSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version of the component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the parent image OS version during image recipe\n\t\t\tcreation.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only\n\t\t\tto test it.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A high-level summary of a component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentSummary"
      }
    },
    "com.amazonaws.imagebuilder#ComponentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BUILD",
            "name": "BUILD"
          },
          {
            "value": "TEST",
            "name": "TEST"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>\n\t\t       <note>\n\t\t\t         <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p> \n\t           <ol>\n               <li>\n\t\t\t               <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n\t\t             </li>\n               <li>\n\t\t\t               <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n\t\t             </li>\n               <li>\n\t\t\t               <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n\t\t             </li>\n            </ol>\n\t\t       </note>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the component.</p>\n\t\t       <note>\n\t\t\t         <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n\t\t\t         <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number, and that is not open for updates.</p>\n\t\t\t         <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n\t\t\t         <p>\n               <b>Filtering:</b> When you retrieve or reference a resource with a semantic version, you can use \n\twildcards (x) to filter your results. When you use a wildcard in any node, all nodes to the right of the \n\tfirst wildcard must also be wildcards. For example, specifying \"1.2.x\", or \"1.x.x\" works to filter list \n\tresults, but neither \"1.x.2\", nor \"x.2.x\" will work. You do not have to specify the build - Image Builder \n\tautomatically uses a wildcard for that, if applicable.</p>\n\t\t       </note>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>"
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p>he operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the parent image OS version during image recipe\n\t\t\tcreation.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.imagebuilder#ComponentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the component denotes whether the component is used to build the image or only\n\t\t\tto test it.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the component.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date that the component was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The defining characteristics of a specific version of an Amazon Web Services TOE component.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionArnOrBuildVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):component/[a-z0-9-_]+/(?:(?:([0-9]+|x)\\.([0-9]+|x)\\.([0-9]+|x))|(?:[0-9]+\\.[0-9]+\\.[0-9]+/[0-9]+))$"
      }
    },
    "com.amazonaws.imagebuilder#ComponentVersionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ComponentVersion"
      }
    },
    "com.amazonaws.imagebuilder#Container": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Containers and container images are Region-specific. This is the Region context for the container.</p>"
          }
        },
        "imageUris": {
          "target": "com.amazonaws.imagebuilder#StringList",
          "traits": {
            "smithy.api#documentation": "<p>A list of URIs for containers created in the context Region.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container encapsulates the runtime environment for an application.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ContainerDistributionConfiguration": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the container distribution configuration.</p>"
          }
        },
        "containerTags": {
          "target": "com.amazonaws.imagebuilder#StringList",
          "traits": {
            "smithy.api#documentation": "<p>Tags that are attached to the container distribution configuration.</p>"
          }
        },
        "targetRepository": {
          "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
          "traits": {
            "smithy.api#documentation": "<p>The destination repository for the container distribution configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Container distribution settings for encryption, licensing, and sharing in a specific Region.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ContainerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#Container"
      }
    },
    "com.amazonaws.imagebuilder#ContainerRecipe": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>\n\t\t       <note>\n\t\t\t         <p>Semantic versioning is included in each object's Amazon Resource Name (ARN), \n\tat the level that applies to that object as follows:</p> \n\t           <ol>\n               <li>\n\t\t\t               <p>Versionless ARNs and Name ARNs do not include specific values in any of the nodes. The nodes are \n\t\t\t\teither left off entirely, or they are specified as wildcards, for example: x.x.x.</p>\n\t\t             </li>\n               <li>\n\t\t\t               <p>Version ARNs have only the first three nodes: <major>.<minor>.<patch></p>\n\t\t             </li>\n               <li>\n\t\t\t               <p>Build version ARNs have all four nodes, and point to a specific build for a specific version of an object.</p>\n\t\t             </li>\n            </ol>\n\t\t       </note>"
          }
        },
        "containerType": {
          "target": "com.amazonaws.imagebuilder#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of container, such as Docker.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container recipe.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the container recipe.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The system platform for the container, such as Windows or Linux.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the container recipe.</p>\n\t\t       <note>\n\t\t\t         <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n\t\t\t         <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number, and that is not open for updates.</p>\n\t\t\t         <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n\t\t\t         <p>\n               <b>Filtering:</b> When you retrieve or reference a resource with a semantic version, you can use \n\twildcards (x) to filter your results. When you use a wildcard in any node, all nodes to the right of the \n\tfirst wildcard must also be wildcards. For example, specifying \"1.2.x\", or \"1.x.x\" works to filter list \n\tresults, but neither \"1.x.2\", nor \"x.2.x\" will work. You do not have to specify the build - Image Builder \n\tautomatically uses a wildcard for that, if applicable.</p>\n\t\t       </note>"
          }
        },
        "components": {
          "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Components for build and test that are included in the container recipe.</p>"
          }
        },
        "instanceConfiguration": {
          "target": "com.amazonaws.imagebuilder#InstanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A group of options that can be used to configure an instance for building and testing container images.</p>"
          }
        },
        "dockerfileTemplateData": {
          "target": "com.amazonaws.imagebuilder#DockerFileTemplate",
          "traits": {
            "smithy.api#documentation": "<p>Dockerfiles are text documents that are used to build Docker containers, and ensure that they contain all of the elements required by the application running inside. The template data consists of contextual variables where Image Builder places build information or scripts, based on your container image recipe.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which KMS key is used to encrypt the container image for distribution to the target Region.</p>"
          }
        },
        "encrypted": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates if the target container is encrypted.</p>"
          }
        },
        "parentImage": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source image for the container recipe.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The working directory for use during build and test workflows.</p>"
          }
        },
        "targetRepository": {
          "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
          "traits": {
            "smithy.api#documentation": "<p>The destination repository for the container image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A container recipe.</p>"
      }
    },
    "com.amazonaws.imagebuilder#ContainerRecipeArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:[0-9]{12}|aws):container-recipe/[a-z0-9-_]+/[0-9]+\\.[0-9]+\\.[0-9]+$"
      }
    },
    "com.amazonaws.imagebuilder#ContainerRecipeSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.imagebuilder#ImageBuilderArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe.</p>"
          }
        },
        "containerType": {
          "target": "com.amazonaws.imagebuilder#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of container, such as \"Docker\".</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container recipe.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The system platform for the container, such as Windows or Linux.</p>"
          }
        },
        "owner": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The owner of the container recipe.</p>"
          }
        },
        "parentImage": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source image for the container recipe.</p>"
          }
        },
        "dateCreated": {
          "target": "com.amazonaws.imagebuilder#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The date when this container recipe was created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a container recipe</p>"
      }
    },
    "com.amazonaws.imagebuilder#ContainerRecipeSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.imagebuilder#ContainerRecipeSummary"
      }
    },
    "com.amazonaws.imagebuilder#ContainerRepositoryService": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ECR",
            "name": "ECR"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#ContainerType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DOCKER",
            "name": "DOCKER"
          }
        ]
      }
    },
    "com.amazonaws.imagebuilder#CreateComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your\n\t\t\timage.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateComponent",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateComponentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "semanticVersion": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the component. This version follows the semantic version syntax.</p>\n\t\t       <note>\n\t\t\t         <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n\t\t\t         <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number, and that is not open for updates.</p>\n\t\t\t         <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component. Describes the contents of the component.</p>"
          }
        },
        "changeDescription": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The change description of the component. Describes what change has been made in this\n\t\t\tversion, or what makes this version different from other versions of this component.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the component.</p>",
            "smithy.api#required": {}
          }
        },
        "supportedOsVersions": {
          "target": "com.amazonaws.imagebuilder#OsVersionList",
          "traits": {
            "smithy.api#documentation": "<p> The operating system (OS) version supported by the component. If the OS information is\n\t\t\tavailable, a prefix match is performed against the parent image OS version during image recipe\n\t\t\tcreation.</p>"
          }
        },
        "data": {
          "target": "com.amazonaws.imagebuilder#InlineComponentData",
          "traits": {
            "smithy.api#documentation": "<p>The data of the component. Used to specify the data inline. Either <code>data</code> or\n\t\t\t<code>uri</code> can be used to specify the data within the component.</p>"
          }
        },
        "uri": {
          "target": "com.amazonaws.imagebuilder#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The uri of the component. Must be an Amazon S3 URL and the requester must have permission to\n\t\t\taccess the Amazon S3 bucket. If you use Amazon S3, you can specify component content up to your service\n\t\t\tquota. Either <code>data</code> or <code>uri</code> can be used to specify the data within the\n\t\t\tcomponent.</p>"
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the KMS key that should be used to encrypt this component.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the component.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token of the component.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateComponentResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component that was created by this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateContainerRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateContainerRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateContainerRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new container recipe. Container recipes define how images are configured, tested, and assessed.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateContainerRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateContainerRecipeRequest": {
      "type": "structure",
      "members": {
        "containerType": {
          "target": "com.amazonaws.imagebuilder#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of container to create.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the container recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the container recipe.</p>"
          }
        },
        "semanticVersion": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the container recipe. This version follows the semantic version syntax.</p>\n\t\t       <note>\n\t\t\t         <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n\t\t\t         <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number, and that is not open for updates.</p>\n\t\t\t         <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        },
        "components": {
          "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Components for build and test that are included in the container recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceConfiguration": {
          "target": "com.amazonaws.imagebuilder#InstanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A group of options that can be used to configure an instance for building and testing container images.</p>"
          }
        },
        "dockerfileTemplateData": {
          "target": "com.amazonaws.imagebuilder#InlineDockerFileTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The Dockerfile template used to build your image as an inline data blob.</p>"
          }
        },
        "dockerfileTemplateUri": {
          "target": "com.amazonaws.imagebuilder#Uri",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 URI for the Dockerfile that will be used to build your container image.</p>"
          }
        },
        "platformOverride": {
          "target": "com.amazonaws.imagebuilder#Platform",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the operating system platform when you use a custom source image.</p>"
          }
        },
        "imageOsVersionOverride": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the operating system version for the source image.</p>"
          }
        },
        "parentImage": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source image for the container recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags that are attached to the container recipe.</p>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The working directory for use during build and test workflows.</p>"
          }
        },
        "targetRepository": {
          "target": "com.amazonaws.imagebuilder#TargetContainerRepository",
          "traits": {
            "smithy.api#documentation": "<p>The destination repository for the container image.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>Identifies which KMS key is used to encrypt the container image.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateContainerRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The client token used to make this request idempotent.</p>"
          }
        },
        "containerRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>Returns the Amazon Resource Name (ARN) of the container recipe that the request created.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidParameterCombinationException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new distribution configuration. Distribution configurations define and configure\n\t\t\tthe outputs of your pipeline.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateDistributionConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the distribution configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the distribution configuration.</p>"
          }
        },
        "distributions": {
          "target": "com.amazonaws.imagebuilder#DistributionList",
          "traits": {
            "smithy.api#documentation": "<p> The distributions of the distribution configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the distribution configuration.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token of the distribution configuration.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateDistributionConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent.</p>"
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that was created by this\n\t\t\trequest.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImageRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image. This request will create a new image along with all of the \n\t\t\tconfigured output resources defined in the distribution configuration. You must specify \n\t\t\texactly one recipe for your image, using either a ContainerRecipeArn or an ImageRecipeArn.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImage",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImagePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImagePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image pipeline. Image pipelines enable you to automate the creation and\n\t\t\tdistribution of images.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImagePipeline",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipelineRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the image pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the image pipeline.</p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that will be used to configure images\n\t\t\tcreated by this image pipeline.</p>"
          }
        },
        "containerRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that is used to configure images created by this container pipeline.</p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to\n\t\t\tbuild images created by this image pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that will be used to\n\t\t\tconfigure and distribute images created by this image pipeline.</p>"
          }
        },
        "imageTestsConfiguration": {
          "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> The image test configuration of the image pipeline.</p>"
          }
        },
        "enhancedImageMetadataEnabled": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Collects additional information about the image being created, including the operating\n\t\t\tsystem (OS) version and package list. This information is used to enhance the overall\n\t\t\texperience of using EC2 Image Builder. Enabled by default.</p>"
          }
        },
        "schedule": {
          "target": "com.amazonaws.imagebuilder#Schedule",
          "traits": {
            "smithy.api#documentation": "<p> The schedule of the image pipeline.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.imagebuilder#PipelineStatus",
          "traits": {
            "smithy.api#documentation": "<p> The status of the image pipeline.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image pipeline.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImagePipelineResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent.</p>"
          }
        },
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that was created by this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateImageRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateImageRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidVersionNumberException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new image recipe. Image recipes define how images are configured, tested, and\n\t\t\tassessed.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateImageRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the image recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The description of the image recipe.</p>"
          }
        },
        "semanticVersion": {
          "target": "com.amazonaws.imagebuilder#VersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The semantic version of the image recipe. This version follows the semantic version syntax.</p>\n\t\t       <note>\n\t\t\t         <p>The semantic version has four nodes: <major>.<minor>.<patch>/<build>. \n\tYou can assign values for the first three, and can filter on all of them.</p>\n\t\t\t         <p>\n               <b>Assignment:</b> For the first three nodes you can assign any positive integer value, including \n\tzero, with an upper limit of 2^30-1, or 1073741823 for each node. Image Builder automatically assigns the \n\tbuild number, and that is not open for updates.</p>\n\t\t\t         <p>\n               <b>Patterns:</b> You can use any numeric pattern that adheres to the assignment requirements for \n\tthe nodes that you can assign. For example, you might choose a software version pattern, such as 1.0.0, or \n\ta date, such as 2021.01.01.</p>\n\t\t       </note>",
            "smithy.api#required": {}
          }
        },
        "components": {
          "target": "com.amazonaws.imagebuilder#ComponentConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The components of the image recipe.</p>",
            "smithy.api#required": {}
          }
        },
        "parentImage": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The parent image of the image recipe. The value of the string can be the ARN of the parent \n\t\t\timage or an AMI ID. The format for the ARN follows this example: \n\t\t\t<code>arn:aws:imagebuilder:us-west-2:aws:image/windows-server-2016-english-full-base-x86/x.x.x</code>. \n\t\t\tYou can provide the specific version that you want to use, or you can use a wildcard in \n\t\t\tall of the fields. If you enter an AMI ID for the string value, you must have access to the AMI, \n\t\t\tand the AMI must be in the same Region in which you are using Image Builder.</p>",
            "smithy.api#required": {}
          }
        },
        "blockDeviceMappings": {
          "target": "com.amazonaws.imagebuilder#InstanceBlockDeviceMappings",
          "traits": {
            "smithy.api#documentation": "<p>The block device mappings of the image recipe.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image recipe.</p>"
          }
        },
        "workingDirectory": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The working directory used during build and test workflows.</p>"
          }
        },
        "additionalInstanceConfiguration": {
          "target": "com.amazonaws.imagebuilder#AdditionalInstanceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specify additional settings and launch scripts for your build instances.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was created by this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that defines how images are\n\t\t\tconfigured, tested, and assessed.</p>"
          }
        },
        "containerRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that defines how images are configured and tested.</p>"
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that defines and\n\t\t\tconfigures the outputs of your pipeline.</p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that defines the\n\t\t\tenvironment in which your image will be built and tested.</p>",
            "smithy.api#required": {}
          }
        },
        "imageTestsConfiguration": {
          "target": "com.amazonaws.imagebuilder#ImageTestsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> The image tests configuration of the image.</p>"
          }
        },
        "enhancedImageMetadataEnabled": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p> Collects additional information about the image being created, including the operating\n\t\t\tsystem (OS) version and package list. This information is used to enhance the overall\n\t\t\texperience of using EC2 Image Builder. Enabled by default.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p> The tags of the image.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateImageResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p> The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p> The idempotency token used to make this request idempotent.</p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the image that was created by this request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a new infrastructure configuration. An infrastructure configuration defines the\n\t\t\tenvironment in which your image will be built and tested.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/CreateInfrastructureConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.imagebuilder#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the infrastructure configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the infrastructure configuration.</p>"
          }
        },
        "instanceTypes": {
          "target": "com.amazonaws.imagebuilder#InstanceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The instance types of the infrastructure configuration. You can specify one or more\n\t\t\tinstance types to use for this build. The service will pick one of these instance types based\n\t\t\ton availability.</p>"
          }
        },
        "instanceProfileName": {
          "target": "com.amazonaws.imagebuilder#InstanceProfileNameType",
          "traits": {
            "smithy.api#documentation": "<p>The instance profile to associate with the instance used to customize your Amazon EC2 AMI.</p>",
            "smithy.api#required": {}
          }
        },
        "securityGroupIds": {
          "target": "com.amazonaws.imagebuilder#SecurityGroupIds",
          "traits": {
            "smithy.api#documentation": "<p>The security group IDs to associate with the instance used to customize your Amazon EC2 AMI.</p>"
          }
        },
        "subnetId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subnet ID in which to place the instance used to customize your Amazon EC2 AMI.</p>"
          }
        },
        "logging": {
          "target": "com.amazonaws.imagebuilder#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration of the infrastructure configuration.</p>"
          }
        },
        "keyPair": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The key pair of the infrastructure configuration. This can be used to log on to and debug\n\t\t\tthe instance used to create your image.</p>"
          }
        },
        "terminateInstanceOnFailure": {
          "target": "com.amazonaws.imagebuilder#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>The terminate instance on failure setting of the infrastructure configuration. Set to\n\t\t\tfalse if you want Image Builder to retain the instance used to configure your AMI if the build\n\t\t\tor test phase of your workflow fails.</p>"
          }
        },
        "snsTopicArn": {
          "target": "com.amazonaws.imagebuilder#SnsTopicArn",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic on which to send image build events.</p>"
          }
        },
        "resourceTags": {
          "target": "com.amazonaws.imagebuilder#ResourceTagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the resource created by Image Builder.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.imagebuilder#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags of the infrastructure configuration.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#CreateInfrastructureConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "clientToken": {
          "target": "com.amazonaws.imagebuilder#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token used to make this request idempotent.</p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that was created by\n\t\t\tthis request.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DateTime": {
      "type": "string"
    },
    "com.amazonaws.imagebuilder#DeleteComponent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteComponentRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteComponentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a component build version.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteComponent",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteComponentRequest": {
      "type": "structure",
      "members": {
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component build version to delete.</p>",
            "smithy.api#httpQuery": "componentBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteComponentResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "componentBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ComponentBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the component build version that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteContainerRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteContainerRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteContainerRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a container recipe.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteContainerRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteContainerRecipeRequest": {
      "type": "structure",
      "members": {
        "containerRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe to delete.</p>",
            "smithy.api#httpQuery": "containerRecipeArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteContainerRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "containerRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ContainerRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the container recipe that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteDistributionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteDistributionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a distribution configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteDistributionConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfigurationRequest": {
      "type": "structure",
      "members": {
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration to delete.</p>",
            "smithy.api#httpQuery": "distributionConfigurationArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteDistributionConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "distributionConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#DistributionConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImage",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImagePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImagePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image pipeline.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImagePipeline",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipelineRequest": {
      "type": "structure",
      "members": {
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline to delete.</p>",
            "smithy.api#httpQuery": "imagePipelineArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImagePipelineResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "imagePipelineArn": {
          "target": "com.amazonaws.imagebuilder#ImagePipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipe": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRecipeRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteImageRecipeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an image recipe.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteImageRecipe",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipeRequest": {
      "type": "structure",
      "members": {
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe to delete.</p>",
            "smithy.api#httpQuery": "imageRecipeArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRecipeResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "imageRecipeArn": {
          "target": "com.amazonaws.imagebuilder#ImageRecipeArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image recipe that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageRequest": {
      "type": "structure",
      "members": {
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image to delete.</p>",
            "smithy.api#httpQuery": "imageBuildVersionArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteImageResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "imageBuildVersionArn": {
          "target": "com.amazonaws.imagebuilder#ImageBuildVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the image that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.imagebuilder#CallRateLimitExceededException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ClientException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ForbiddenException"
        },
        {
          "target": "com.amazonaws.imagebuilder#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ResourceDependencyException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceException"
        },
        {
          "target": "com.amazonaws.imagebuilder#ServiceUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes an infrastructure configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteInfrastructureConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationRequest": {
      "type": "structure",
      "members": {
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration to delete.</p>",
            "smithy.api#httpQuery": "infrastructureConfigurationArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#DeleteInfrastructureConfigurationResponse": {
      "type": "structure",
      "members": {
        "requestId": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The request ID that uniquely identifies this request.</p>"
          }
        },
        "infrastructureConfigurationArn": {
          "target": "com.amazonaws.imagebuilder#InfrastructureConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.imagebuilder#Distribution": {
      "type": "structure",
      "members": {
        "region": {
          "target": "com.amazonaws.imagebuilder#NonEmptyString",
[...]
