{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.inspector2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.inspector2#Account": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.inspector2#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of Amazon Inspector for the account.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceStatus": {
          "target": "com.amazonaws.inspector2#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>Details of the status of Amazon Inspector scans by resource type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Services account within your environment that Amazon Inspector has been enabled for.</p>"
      }
    },
    "com.amazonaws.inspector2#AccountAggregation": {
      "type": "structure",
      "members": {
        "findingType": {
          "target": "com.amazonaws.inspector2#AggregationFindingType",
          "traits": {
            "smithy.api#documentation": "<p>The type of finding.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.inspector2#AggregationResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.inspector2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.inspector2#AccountSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The value to sort by.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on\n         Amazon Web Services accounts.</p>"
      }
    },
    "com.amazonaws.inspector2#AccountAggregationResponse": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>"
          }
        },
        "severityCounts": {
          "target": "com.amazonaws.inspector2#SeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>The number of findings by severity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation of findings by Amazon Web Services account ID.</p>"
      }
    },
    "com.amazonaws.inspector2#AccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.inspector2#AccountIdSet": {
      "type": "set",
      "member": {
        "target": "com.amazonaws.inspector2#AccountId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector2#AccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#Account"
      }
    },
    "com.amazonaws.inspector2#AccountSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "CRITICAL"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#AccountState": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.inspector2#State",
          "traits": {
            "smithy.api#documentation": "<p>An object detailing the status of Amazon Inspector for the account.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceState": {
          "target": "com.amazonaws.inspector2#ResourceState",
          "traits": {
            "smithy.api#documentation": "<p>An object detailing which resources Amazon Inspector is enabled to scan for the account.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object with details the status of an Amazon Web Services account within your Amazon Inspector environment</p>"
      }
    },
    "com.amazonaws.inspector2#AccountStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#AccountState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector2#AggCounts": {
      "type": "long"
    },
    "com.amazonaws.inspector2#AggregationFindingType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NETWORK_REACHABILITY",
            "name": "NETWORK_REACHABILITY"
          },
          {
            "value": "PACKAGE_VULNERABILITY",
            "name": "PACKAGE_VULNERABILITY"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#AggregationRequest": {
      "type": "union",
      "members": {
        "accountAggregation": {
          "target": "com.amazonaws.inspector2#AccountAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon Web Services account\n         IDs.</p>"
          }
        },
        "amiAggregation": {
          "target": "com.amazonaws.inspector2#AmiAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon Machine\n         Images (AMIs).</p>"
          }
        },
        "awsEcrContainerAggregation": {
          "target": "com.amazonaws.inspector2#AwsEcrContainerAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon ECR container\n         images.</p>"
          }
        },
        "ec2InstanceAggregation": {
          "target": "com.amazonaws.inspector2#Ec2InstanceAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon EC2\n         instances.</p>"
          }
        },
        "findingTypeAggregation": {
          "target": "com.amazonaws.inspector2#FindingTypeAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on finding types.</p>"
          }
        },
        "imageLayerAggregation": {
          "target": "com.amazonaws.inspector2#ImageLayerAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on container image\n         layers.</p>"
          }
        },
        "packageAggregation": {
          "target": "com.amazonaws.inspector2#PackageAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on operating system\n         package type.</p>"
          }
        },
        "repositoryAggregation": {
          "target": "com.amazonaws.inspector2#RepositoryAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on Amazon ECR repositories.</p>"
          }
        },
        "titleAggregation": {
          "target": "com.amazonaws.inspector2#TitleAggregation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation request based on finding title.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about an aggregation request.</p>"
      }
    },
    "com.amazonaws.inspector2#AggregationResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_EC2_INSTANCE",
            "name": "AWS_EC2_INSTANCE"
          },
          {
            "value": "AWS_ECR_CONTAINER_IMAGE",
            "name": "AWS_ECR_CONTAINER_IMAGE"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#AggregationResponse": {
      "type": "union",
      "members": {
        "accountAggregation": {
          "target": "com.amazonaws.inspector2#AccountAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon Web Services account\n         IDs.</p>"
          }
        },
        "amiAggregation": {
          "target": "com.amazonaws.inspector2#AmiAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon Machine\n         Images (AMIs).</p>"
          }
        },
        "awsEcrContainerAggregation": {
          "target": "com.amazonaws.inspector2#AwsEcrContainerAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon ECR container\n         images.</p>"
          }
        },
        "ec2InstanceAggregation": {
          "target": "com.amazonaws.inspector2#Ec2InstanceAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon EC2\n         instances.</p>"
          }
        },
        "findingTypeAggregation": {
          "target": "com.amazonaws.inspector2#FindingTypeAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on finding types.</p>"
          }
        },
        "imageLayerAggregation": {
          "target": "com.amazonaws.inspector2#ImageLayerAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on container image\n         layers.</p>"
          }
        },
        "packageAggregation": {
          "target": "com.amazonaws.inspector2#PackageAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on operating system\n         package type.</p>"
          }
        },
        "repositoryAggregation": {
          "target": "com.amazonaws.inspector2#RepositoryAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on Amazon ECR\n         repositories.</p>"
          }
        },
        "titleAggregation": {
          "target": "com.amazonaws.inspector2#TitleAggregationResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about an aggregation response based on finding title.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that contains details about the results of an aggregation type.</p>"
      }
    },
    "com.amazonaws.inspector2#AggregationResponseList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#AggregationResponse"
      }
    },
    "com.amazonaws.inspector2#AggregationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FINDING_TYPE",
            "name": "FINDING_TYPE"
          },
          {
            "value": "PACKAGE",
            "name": "PACKAGE"
          },
          {
            "value": "TITLE",
            "name": "TITLE"
          },
          {
            "value": "REPOSITORY",
            "name": "REPOSITORY"
          },
          {
            "value": "AMI",
            "name": "AMI"
          },
          {
            "value": "AWS_EC2_INSTANCE",
            "name": "AWS_EC2_INSTANCE"
          },
          {
            "value": "AWS_ECR_CONTAINER",
            "name": "AWS_ECR_CONTAINER"
          },
          {
            "value": "IMAGE_LAYER",
            "name": "IMAGE_LAYER"
          },
          {
            "value": "ACCOUNT",
            "name": "ACCOUNT"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#AmiAggregation": {
      "type": "structure",
      "members": {
        "amis": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of AMIs to aggregate findings for.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.inspector2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort results by.</p>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.inspector2#AmiSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The value to sort results by.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details that define an aggregation based on Amazon machine images (AMIs).</p>"
      }
    },
    "com.amazonaws.inspector2#AmiAggregationResponse": {
      "type": "structure",
      "members": {
        "ami": {
          "target": "com.amazonaws.inspector2#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the AMI that findings were aggregated for.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID that the AMI belongs.</p>"
          }
        },
        "severityCounts": {
          "target": "com.amazonaws.inspector2#SeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the count of matched findings per severity.</p>"
          }
        },
        "affectedInstances": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The IDs of Amazon EC2 instances using this AMI.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A response that contains the results of a finding aggregation by AMI.</p>"
      }
    },
    "com.amazonaws.inspector2#AmiId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^ami-([a-z0-9]{8}|[a-z0-9]{17}|\\*)$"
      }
    },
    "com.amazonaws.inspector2#AmiSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "CRITICAL"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "ALL",
            "name": "ALL"
          },
          {
            "value": "AFFECTED_INSTANCES",
            "name": "AFFECTED_INSTANCES"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.inspector2#AssociateMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#AssociateMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#AssociateMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an Amazon Web Services account with an Amazon Inspector delegated administrator.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/members/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#AssociateMemberRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the member account to be associated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#AssociateMemberResponse": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the successfully associated member account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#AutoEnable": {
      "type": "structure",
      "members": {
        "ec2": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Represents whether Amazon EC2 scans are automatically enabled for new members of your Amazon Inspector\n         organization.</p>",
            "smithy.api#required": {}
          }
        },
        "ecr": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Represents whether Amazon ECR scans are automatically enabled for new members of your Amazon Inspector\n         organization.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents which scan types are automatically enabled for new members of your Amazon Inspector organization.</p>"
      }
    },
    "com.amazonaws.inspector2#AwsEc2InstanceDetails": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The type of the Amazon EC2 instance.</p>"
          }
        },
        "imageId": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The image ID of the Amazon EC2 instance.</p>"
          }
        },
        "ipV4Addresses": {
          "target": "com.amazonaws.inspector2#IpV4AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 addresses of the Amazon EC2 instance.</p>"
          }
        },
        "ipV6Addresses": {
          "target": "com.amazonaws.inspector2#IpV6AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The IPv6 addresses of the Amazon EC2 instance.</p>"
          }
        },
        "keyName": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the key pair used to launch the Amazon EC2 instance.</p>"
          }
        },
        "iamInstanceProfileArn": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The IAM instance profile ARN of the Amazon EC2 instance.</p>"
          }
        },
        "vpcId": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the Amazon EC2 instance.</p>"
          }
        },
        "subnetId": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The subnet ID of the Amazon EC2 instance.</p>"
          }
        },
        "launchedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Amazon EC2 instance was launched at.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.inspector2#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the Amazon EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the Amazon EC2 instance involved in a finding.</p>"
      }
    },
    "com.amazonaws.inspector2#AwsEcrContainerAggregation": {
      "type": "structure",
      "members": {
        "resourceIds": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The container resource IDs.</p>"
          }
        },
        "imageShas": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The image SHA values.</p>"
          }
        },
        "repositories": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The container repositories.</p>"
          }
        },
        "architectures": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The architecture of the containers.</p>"
          }
        },
        "imageTags": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The image tags.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.inspector2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sort order (ascending or descending).</p>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.inspector2#AwsEcrContainerSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The value to sort by.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation of information about Amazon ECR containers.</p>"
      }
    },
    "com.amazonaws.inspector2#AwsEcrContainerAggregationResponse": {
      "type": "structure",
      "members": {
        "resourceId": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The resource ID of the container.</p>",
            "smithy.api#required": {}
          }
        },
        "imageSha": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The SHA value of the container image.</p>"
          }
        },
        "repository": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The container repository.</p>"
          }
        },
        "architecture": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The architecture of the container.</p>"
          }
        },
        "imageTags": {
          "target": "com.amazonaws.inspector2#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The container image stags.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the account that owns the container.</p>"
          }
        },
        "severityCounts": {
          "target": "com.amazonaws.inspector2#SeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>The number of finding by severity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An aggregation of information about Amazon ECR containers.</p>"
      }
    },
    "com.amazonaws.inspector2#AwsEcrContainerImageDetails": {
      "type": "structure",
      "members": {
        "repositoryName": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the repository the Amazon ECR container image resides in.</p>",
            "smithy.api#required": {}
          }
        },
        "imageTags": {
          "target": "com.amazonaws.inspector2#ImageTagList",
          "traits": {
            "smithy.api#documentation": "<p>The image tags attached to the Amazon ECR container image.</p>"
          }
        },
        "pushedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the Amazon ECR container image was pushed.</p>"
          }
        },
        "author": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The image author of the Amazon ECR container image.</p>"
          }
        },
        "architecture": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The architecture of the Amazon ECR container image.</p>"
          }
        },
        "imageHash": {
          "target": "com.amazonaws.inspector2#ImageHash",
          "traits": {
            "smithy.api#documentation": "<p>The image hash of the Amazon ECR container image.</p>",
            "smithy.api#required": {}
          }
        },
        "registry": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The registry the Amazon ECR container image belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "platform": {
          "target": "com.amazonaws.inspector2#Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the Amazon ECR container image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The image details of the Amazon ECR container image.</p>"
      }
    },
    "com.amazonaws.inspector2#AwsEcrContainerSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CRITICAL",
            "name": "CRITICAL"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more tags submitted as part of the request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.inspector2#BatchGetAccountStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#BatchGetAccountStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#BatchGetAccountStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the Amazon Inspector status of multiple Amazon Web Services accounts within your environment.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/status/batch/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#BatchGetAccountStatusRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.inspector2#AccountIdSet",
          "traits": {
            "smithy.api#documentation": "<p>The 12-digit Amazon Web Services account IDs of the accounts to retrieve Amazon Inspector status for.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#BatchGetAccountStatusResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.amazonaws.inspector2#AccountStateList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that provide details on the status of Amazon Inspector for each of the requested accounts.</p>",
            "smithy.api#required": {}
          }
        },
        "failedAccounts": {
          "target": "com.amazonaws.inspector2#FailedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects detailing any accounts that failed to enable Amazon Inspector and why.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#BatchGetFreeTrialInfo": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#BatchGetFreeTrialInfoRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#BatchGetFreeTrialInfoResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets free trial status for multiple Amazon Web Services accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/freetrialinfo/batchget",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#BatchGetFreeTrialInfoRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.inspector2#MeteringAccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The account IDs to get free trial status for.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#BatchGetFreeTrialInfoResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.amazonaws.inspector2#FreeTrialAccountInfoList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that provide Amazon Inspector free trial details for each of the requested accounts.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "failedAccounts": {
          "target": "com.amazonaws.inspector2#FreeTrialInfoErrorList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects detailing any accounts that free trial data could not be returned for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#CancelFindingsReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#CancelFindingsReportRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#CancelFindingsReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the given findings report.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/reporting/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#CancelFindingsReportRequest": {
      "type": "structure",
      "members": {
        "reportId": {
          "target": "com.amazonaws.inspector2#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the report to be canceled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#CancelFindingsReportResponse": {
      "type": "structure",
      "members": {
        "reportId": {
          "target": "com.amazonaws.inspector2#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the canceled report.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.inspector2#Component": {
      "type": "string"
    },
    "com.amazonaws.inspector2#ComponentType": {
      "type": "string"
    },
    "com.amazonaws.inspector2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the conflicting resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the conflicting resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflict occurred.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.inspector2#Counts": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.amazonaws.inspector2#AggCounts",
          "traits": {
            "smithy.api#documentation": "<p>The number of resources.</p>"
          }
        },
        "groupKey": {
          "target": "com.amazonaws.inspector2#GroupKey",
          "traits": {
            "smithy.api#documentation": "<p>The key associated with this group</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>a structure that contains information on the count of resources within a group.</p>"
      }
    },
    "com.amazonaws.inspector2#CountsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#Counts"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.inspector2#CoverageFilterCriteria": {
      "type": "structure",
      "members": {
        "scanStatusCode": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The scan status code to filter on.</p>"
          }
        },
        "scanStatusReason": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The scan status reason to filter on.</p>"
          }
        },
        "accountId": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Web Services account IDs to return coverage statistics for.</p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Web Services resource IDs to return coverage statistics for.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Web Services resource types to return coverage statistics for.</p>"
          }
        },
        "scanType": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>An array of Amazon Inspector scan types to return coverage statistics for.</p>"
          }
        },
        "ecrRepositoryName": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECR repository name to filter on.</p>"
          }
        },
        "ecrImageTags": {
          "target": "com.amazonaws.inspector2#CoverageStringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon ECR image tags to filter on.</p>"
          }
        },
        "ec2InstanceTags": {
          "target": "com.amazonaws.inspector2#CoverageMapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance tags to filter on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that identifies filter criteria for <code>GetCoverageStatistics</code>.</p>"
      }
    },
    "com.amazonaws.inspector2#CoverageMapComparison": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#CoverageMapFilter": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.amazonaws.inspector2#CoverageMapComparison",
          "traits": {
            "smithy.api#documentation": "<p>The operator to compare coverage on.</p>",
            "smithy.api#required": {}
          }
        },
        "key": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tag key associated with the coverage map filter.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The tag value associated with the coverage map filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of a coverage map filter.</p>"
      }
    },
    "com.amazonaws.inspector2#CoverageMapFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#CoverageMapFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector2#CoverageResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AWS_EC2_INSTANCE",
            "name": "AWS_EC2_INSTANCE"
          },
          {
            "value": "AWS_ECR_CONTAINER_IMAGE",
            "name": "AWS_ECR_CONTAINER_IMAGE"
          },
          {
            "value": "AWS_ECR_REPOSITORY",
            "name": "AWS_ECR_REPOSITORY"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#CoverageStringComparison": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          },
          {
            "value": "NOT_EQUALS",
            "name": "NOT_EQUALS"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#CoverageStringFilter": {
      "type": "structure",
      "members": {
        "comparison": {
          "target": "com.amazonaws.inspector2#CoverageStringComparison",
          "traits": {
            "smithy.api#documentation": "<p>The operator to compare strings on.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.inspector2#CoverageStringInput",
          "traits": {
            "smithy.api#documentation": "<p>The value to compare strings on.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of a coverage string filter.</p>"
      }
    },
    "com.amazonaws.inspector2#CoverageStringFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#CoverageStringFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector2#CoverageStringInput": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.inspector2#CoveredResource": {
      "type": "structure",
      "members": {
        "resourceType": {
          "target": "com.amazonaws.inspector2#CoverageResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the covered resource.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.inspector2#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the covered resource.</p>",
            "smithy.api#required": {}
          }
        },
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the covered resource.</p>",
            "smithy.api#required": {}
          }
        },
        "scanType": {
          "target": "com.amazonaws.inspector2#ScanType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Inspector scan type covering the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "scanStatus": {
          "target": "com.amazonaws.inspector2#ScanStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the scan covering the resource.</p>"
          }
        },
        "resourceMetadata": {
          "target": "com.amazonaws.inspector2#ResourceScanMetadata",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about the metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains details about a resource covered by Amazon Inspector.</p>"
      }
    },
    "com.amazonaws.inspector2#CoveredResources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#CoveredResource"
      }
    },
    "com.amazonaws.inspector2#CreateFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#CreateFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#CreateFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#BadRequestException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a filter resource using specified filter criteria.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filters/create",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#CreateFilterRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.inspector2#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>Defines the action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.inspector2#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the filter.</p>"
          }
        },
        "filterCriteria": {
          "target": "com.amazonaws.inspector2#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Defines the criteria to be used in the filter for querying findings.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.inspector2#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter. Minimum length of 3. Maximum length of 64. Valid characters\n         include alphanumeric characters, dot (.), underscore (_), and dash (-). Spaces are not\n         allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.inspector2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags for the filter.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#CreateFilterResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector2#FilterArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the successfully created filter.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#CreateFindingsReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#CreateFindingsReportRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#CreateFindingsReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a finding report.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/reporting/create",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#CreateFindingsReportRequest": {
      "type": "structure",
      "members": {
        "filterCriteria": {
          "target": "com.amazonaws.inspector2#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The filter criteria to apply to the results of the finding report.</p>"
          }
        },
        "reportFormat": {
          "target": "com.amazonaws.inspector2#ReportFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format to generate the report in.</p>",
            "smithy.api#required": {}
          }
        },
        "s3Destination": {
          "target": "com.amazonaws.inspector2#Destination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 export destination for the report.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#CreateFindingsReportResponse": {
      "type": "structure",
      "members": {
        "reportId": {
          "target": "com.amazonaws.inspector2#ReportId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the report.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#Currency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "USD",
            "name": "USD"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#CvssScore": {
      "type": "structure",
      "members": {
        "baseScore": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The base CVSS score used for the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "scoringVector": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The vector string of the CVSS score.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The version of CVSS used for the score.</p>",
            "smithy.api#required": {}
          }
        },
        "source": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the CVSS score.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The CVSS score for a finding.</p>"
      }
    },
    "com.amazonaws.inspector2#CvssScoreAdjustment": {
      "type": "structure",
      "members": {
        "metric": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The metric used to adjust the CVSS score.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The reason the CVSS score has been adjustment.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on adjustments Amazon Inspector made to the CVSS score for a finding.</p>"
      }
    },
    "com.amazonaws.inspector2#CvssScoreAdjustmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#CvssScoreAdjustment"
      }
    },
    "com.amazonaws.inspector2#CvssScoreDetails": {
      "type": "structure",
      "members": {
        "scoreSource": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source for the CVSS score.</p>",
            "smithy.api#required": {}
          }
        },
        "cvssSource": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The source of the CVSS data.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The CVSS version used in scoring.</p>",
            "smithy.api#required": {}
          }
        },
        "score": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The CVSS score.</p>",
            "smithy.api#required": {}
          }
        },
        "scoringVector": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The vector for the CVSS score.</p>",
            "smithy.api#required": {}
          }
        },
        "adjustments": {
          "target": "com.amazonaws.inspector2#CvssScoreAdjustmentList",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains details about adjustment Amazon Inspector made to the CVSS score.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the CVSS score.</p>"
      }
    },
    "com.amazonaws.inspector2#CvssScoreList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#CvssScore"
      }
    },
    "com.amazonaws.inspector2#DateFilter": {
      "type": "structure",
      "members": {
        "startInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp representing the start of the time period filtered on.</p>"
          }
        },
        "endInclusive": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp representing the end of the time period filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details on the time range used to filter findings.</p>"
      }
    },
    "com.amazonaws.inspector2#DateFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#DateFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector2#DateTimeTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.inspector2#DelegatedAdmin": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator for your organization.</p>"
          }
        },
        "relationshipStatus": {
          "target": "com.amazonaws.inspector2#RelationshipStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Amazon Inspector delegated administrator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the Amazon Inspector delegated administrator for your organization.</p>"
      }
    },
    "com.amazonaws.inspector2#DelegatedAdminAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator for your organization.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.inspector2#DelegatedAdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the Amazon Inspector delegated administrator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of the Amazon Inspector delegated administrator for your organization.</p>"
      }
    },
    "com.amazonaws.inspector2#DelegatedAdminAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#DelegatedAdminAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.inspector2#DelegatedAdminStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLE_IN_PROGRESS",
            "name": "DISABLE_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#DeleteFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#DeleteFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#DeleteFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a filter resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/filters/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#DeleteFilterRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector2#FilterArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the filter to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#DeleteFilterResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector2#FilterArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the filter that has been deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#DescribeOrganizationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#DescribeOrganizationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe Amazon Inspector configuration settings for an Amazon Web Services organization</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/organizationconfiguration/describe",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#DescribeOrganizationConfigurationRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.inspector2#DescribeOrganizationConfigurationResponse": {
      "type": "structure",
      "members": {
        "autoEnable": {
          "target": "com.amazonaws.inspector2#AutoEnable",
          "traits": {
            "smithy.api#documentation": "<p>The scan types are automatically enabled for new members of your organization.</p>"
          }
        },
        "maxAccountLimitReached": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Represents whether your organization has reached the maximum Amazon Web Services account limit for Amazon Inspector.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#Destination": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket to export findings to.</p>",
            "smithy.api#required": {}
          }
        },
        "keyPrefix": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the KMS key used to export findings.</p>"
          }
        },
        "kmsKeyArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key used to encrypt data when exporting findings.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details of the Amazon S3 bucket and KMS key used to export findings.</p>"
      }
    },
    "com.amazonaws.inspector2#Disable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#DisableRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#DisableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables Amazon Inspector scans for one or more Amazon Web Services accounts. Disabling all scan types in an account\n         disables the Amazon Inspector service.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/disable",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#DisableDelegatedAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#DisableDelegatedAdminAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#DisableDelegatedAdminAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#ConflictException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables the Amazon Inspector delegated administrator for your organization.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delegatedadminaccounts/disable",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#DisableDelegatedAdminAccountRequest": {
      "type": "structure",
      "members": {
        "delegatedAdminAccountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the current Amazon Inspector delegated administrator.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#DisableDelegatedAdminAccountResponse": {
      "type": "structure",
      "members": {
        "delegatedAdminAccountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the successfully disabled delegated administrator.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#DisableRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.inspector2#AccountIdSet",
          "traits": {
            "smithy.api#documentation": "<p>An array of account IDs you want to disable Amazon Inspector scans for.</p>"
          }
        },
        "resourceTypes": {
          "target": "com.amazonaws.inspector2#DisableResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The resource scan types you want to disable.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#DisableResourceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#ResourceScanType"
      },
      "traits": {
        "smithy.api#length": {
          "max": 2
        }
      }
    },
    "com.amazonaws.inspector2#DisableResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.amazonaws.inspector2#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>Information on the accounts that have had Amazon Inspector scans successfully disabled. Details are\n         provided for each account.</p>",
            "smithy.api#required": {}
          }
        },
        "failedAccounts": {
          "target": "com.amazonaws.inspector2#FailedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Information on any accounts for which Amazon Inspector scans could not be disabled. Details are\n         provided for each account.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#DisassociateMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#DisassociateMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#DisassociateMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a member account from an Amazon Inspector delegated administrator.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/members/disassociate",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#DisassociateMemberRequest": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the member account to disassociate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#DisassociateMemberResponse": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the successfully disassociated member.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#Ec2InstanceAggregation": {
      "type": "structure",
      "members": {
        "amis": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The AMI IDs associated with the Amazon EC2 instances to aggregate findings for.</p>"
          }
        },
        "operatingSystems": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system types to aggregate findings for. Valid values must be uppercase and\n         underscore separated, examples are <code>ORACLE_LINUX_7</code> and\n         <code>ALPINE_LINUX_3_8</code>.</p>"
          }
        },
        "instanceIds": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance IDs to aggregate findings for.</p>"
          }
        },
        "instanceTags": {
          "target": "com.amazonaws.inspector2#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance tags to aggregate findings for.</p>"
          }
        },
        "sortOrder": {
          "target": "com.amazonaws.inspector2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort results by.</p>"
          }
        },
        "sortBy": {
          "target": "com.amazonaws.inspector2#Ec2InstanceSortBy",
          "traits": {
            "smithy.api#documentation": "<p>The value to sort results by.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details that define an aggregation based on Amazon EC2 instances.</p>"
      }
    },
    "com.amazonaws.inspector2#Ec2InstanceAggregationResponse": {
      "type": "structure",
      "members": {
        "instanceId": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ami": {
          "target": "com.amazonaws.inspector2#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Machine Image (AMI) of the Amazon EC2 instance.</p>"
          }
        },
        "operatingSystem": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The operating system of the Amazon EC2 instance.</p>"
          }
        },
        "instanceTags": {
          "target": "com.amazonaws.inspector2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the instance.</p>"
          }
        },
        "accountId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account the Amazon EC2 instance belongs to.</p>"
          }
        },
        "severityCounts": {
          "target": "com.amazonaws.inspector2#SeverityCounts",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the count of matched findings per severity.</p>"
          }
        },
        "networkFindings": {
          "target": "smithy.api#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of network findings for the Amazon EC2 instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A response that contains the results of a finding aggregation by Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.inspector2#Ec2InstanceSortBy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NETWORK_FINDINGS",
            "name": "NETWORK_FINDINGS"
          },
          {
            "value": "CRITICAL",
            "name": "CRITICAL"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#Ec2Metadata": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.inspector2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the instance.</p>"
          }
        },
        "amiId": {
          "target": "com.amazonaws.inspector2#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) used to launch the instance.</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.inspector2#Ec2Platform",
          "traits": {
            "smithy.api#documentation": "<p>The platform of the instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Meta data details of an Amazon EC2 instance.</p>"
      }
    },
    "com.amazonaws.inspector2#Ec2Platform": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "WINDOWS",
            "name": "WINDOWS"
          },
          {
            "value": "LINUX",
            "name": "LINUX"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#EcrContainerImageMetadata": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.inspector2#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Tags associated with the Amazon ECR image metadata.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on the Amazon ECR image metadata associated with a finding.</p>"
      }
    },
    "com.amazonaws.inspector2#EcrRepositoryMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon ECR repository.</p>"
          }
        },
        "scanFrequency": {
          "target": "com.amazonaws.inspector2#EcrScanFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency of scans.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information on the Amazon ECR repository metadata associated with a finding.</p>"
      }
    },
    "com.amazonaws.inspector2#EcrScanFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MANUAL",
            "name": "MANUAL"
          },
          {
            "value": "SCAN_ON_PUSH",
            "name": "SCAN_ON_PUSH"
          },
          {
            "value": "CONTINUOUS_SCAN",
            "name": "CONTINUOUS_SCAN"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#Enable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#EnableRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#EnableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables Amazon Inspector scans for one or more Amazon Web Services accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/enable",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#EnableDelegatedAdminAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector2#EnableDelegatedAdminAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector2#EnableDelegatedAdminAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector2#ConflictException"
        },
        {
          "target": "com.amazonaws.inspector2#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspector2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.inspector2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspector2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables the Amazon Inspector delegated administrator for your Organizations organization.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/delegatedadminaccounts/enable",
          "code": 200
        }
      }
    },
    "com.amazonaws.inspector2#EnableDelegatedAdminAccountRequest": {
      "type": "structure",
      "members": {
        "delegatedAdminAccountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the Amazon Inspector delegated administrator.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.inspector2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#EnableDelegatedAdminAccountResponse": {
      "type": "structure",
      "members": {
        "delegatedAdminAccountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the successfully Amazon Inspector delegated administrator.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#EnableRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.inspector2#AccountIdSet",
          "traits": {
            "smithy.api#documentation": "<p>A list of account IDs you want to enable Amazon Inspector scans for.</p>"
          }
        },
        "resourceTypes": {
          "target": "com.amazonaws.inspector2#EnableResourceTypeList",
          "traits": {
            "smithy.api#documentation": "<p>The resource scan types you want to enable.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.inspector2#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.inspector2#EnableResourceTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#ResourceScanType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.inspector2#EnableResponse": {
      "type": "structure",
      "members": {
        "accounts": {
          "target": "com.amazonaws.inspector2#AccountList",
          "traits": {
            "smithy.api#documentation": "<p>Information on the accounts that have had Amazon Inspector scans successfully enabled. Details are\n         provided for each account.</p>",
            "smithy.api#required": {}
          }
        },
        "failedAccounts": {
          "target": "com.amazonaws.inspector2#FailedAccountList",
          "traits": {
            "smithy.api#documentation": "<p>Information on any accounts for which Amazon Inspector scans could not be enabled. Details are\n         provided for each account.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector2#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALREADY_ENABLED",
            "name": "ALREADY_ENABLED"
          },
          {
            "value": "ENABLE_IN_PROGRESS",
            "name": "ENABLE_IN_PROGRESS"
          },
          {
            "value": "DISABLE_IN_PROGRESS",
            "name": "DISABLE_IN_PROGRESS"
          },
          {
            "value": "SUSPEND_IN_PROGRESS",
            "name": "SUSPEND_IN_PROGRESS"
          },
          {
            "value": "RESOURCE_NOT_FOUND",
            "name": "RESOURCE_NOT_FOUND"
          },
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "SSM_UNAVAILABLE",
            "name": "SSM_UNAVAILABLE"
          },
          {
            "value": "SSM_THROTTLED",
            "name": "SSM_THROTTLED"
          },
          {
            "value": "EVENTBRIDGE_UNAVAILABLE",
            "name": "EVENTBRIDGE_UNAVAILABLE"
          },
          {
            "value": "EVENTBRIDGE_THROTTLED",
            "name": "EVENTBRIDGE_THROTTLED"
          },
          {
            "value": "RESOURCE_SCAN_NOT_DISABLED",
            "name": "RESOURCE_SCAN_NOT_DISABLED"
          },
          {
            "value": "DISASSOCIATE_ALL_MEMBERS",
            "name": "DISASSOCIATE_ALL_MEMBERS"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.inspector2#ExternalReportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "CANCELLED",
            "name": "CANCELLED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#FailedAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.inspector2#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of Amazon Inspector for the account.</p>"
          }
        },
        "resourceStatus": {
          "target": "com.amazonaws.inspector2#ResourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>An object detailing which resources Amazon Inspector is enabled to scan for the account.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.inspector2#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code explaining why the account failed to enable Amazon Inspector.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.inspector2#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The error message received when the account failed to enable Amazon Inspector.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object with details on why an account failed to enable Amazon Inspector.</p>"
      }
    },
    "com.amazonaws.inspector2#FailedAccountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#FailedAccount"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector2#FilePath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.inspector2#Filter": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector2#FilterArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) associated with this filter.</p>",
            "smithy.api#required": {}
          }
        },
        "ownerId": {
          "target": "com.amazonaws.inspector2#OwnerId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID of the account that created the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.inspector2#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "criteria": {
          "target": "com.amazonaws.inspector2#FilterCriteria",
          "traits": {
            "smithy.api#documentation": "<p>Details on the filter criteria associated with this filter.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.inspector2#FilterAction",
          "traits": {
            "smithy.api#documentation": "<p>The action that is to be applied to the findings that match the filter.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time this filter was created at.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the filter was last updated at.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.inspector2#FilterDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the filter.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.inspector2#FilterReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the filter.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.inspector2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a filter.</p>"
      }
    },
    "com.amazonaws.inspector2#FilterAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "SUPPRESS",
            "name": "SUPPRESS"
          }
        ]
      }
    },
    "com.amazonaws.inspector2#FilterArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector2#FilterArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#FilterArn"
      }
    },
    "com.amazonaws.inspector2#FilterCriteria": {
      "type": "structure",
      "members": {
        "findingArn": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the finding ARNs used to filter findings.</p>"
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon Web Services account IDs used to filter findings.</p>"
          }
        },
        "findingType": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the finding types used to filter findings.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the severity used to filter findings.</p>"
          }
        },
        "firstObservedAt": {
          "target": "com.amazonaws.inspector2#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the date and time a finding was first seen used to filter findings.</p>"
          }
        },
        "lastObservedAt": {
          "target": "com.amazonaws.inspector2#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the date and time a finding was last seen used to filter findings.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector2#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the date and time a finding was last updated at used to filter findings.</p>"
          }
        },
        "findingStatus": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the finding status types used to filter findings.</p>"
          }
        },
        "title": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the finding title used to filter findings.</p>"
          }
        },
        "inspectorScore": {
          "target": "com.amazonaws.inspector2#NumberFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Inspector score to filter on.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the resource types used to filter findings.</p>"
          }
        },
        "resourceId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the resource IDs used to filter findings.</p>"
          }
        },
        "resourceTags": {
          "target": "com.amazonaws.inspector2#MapFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the resource tags used to filter findings.</p>"
          }
        },
        "ec2InstanceImageId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon EC2 instance image IDs used to filter findings.</p>"
          }
        },
        "ec2InstanceVpcId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon EC2 instance VPC IDs used to filter findings.</p>"
          }
        },
        "ec2InstanceSubnetId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon EC2 instance subnet IDs used to filter findings.</p>"
          }
        },
        "ecrImagePushedAt": {
          "target": "com.amazonaws.inspector2#DateFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the Amazon ECR image push date and time used to filter findings.</p>"
          }
        },
        "ecrImageArchitecture": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon ECR image architecture types used to filter findings.</p>"
          }
        },
        "ecrImageRegistry": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the Amazon ECR registry used to filter findings.</p>"
          }
        },
        "ecrImageRepositoryName": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the name of the Amazon ECR repository used to filter findings.</p>"
          }
        },
        "ecrImageTags": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The tags attached to the Amazon ECR container image.</p>"
          }
        },
        "ecrImageHash": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the Amazon ECR image hashes used to filter findings.</p>"
          }
        },
        "portRange": {
          "target": "com.amazonaws.inspector2#PortRangeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the port ranges used to filter findings.</p>"
          }
        },
        "networkProtocol": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the ingress source addresses used to filter findings.</p>"
          }
        },
        "componentId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the component IDs used to filter findings.</p>"
          }
        },
        "componentType": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details of the component types used to filter findings.</p>"
          }
        },
        "vulnerabilityId": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the vulnerability ID used to filter findings.</p>"
          }
        },
        "vulnerabilitySource": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the vulnerability type used to filter findings.</p>"
          }
        },
        "vendorSeverity": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the vendor severity used to filter findings.</p>"
          }
        },
        "vulnerablePackages": {
          "target": "com.amazonaws.inspector2#PackageFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the vulnerable packages used to filter findings.</p>"
          }
        },
        "relatedVulnerabilities": {
          "target": "com.amazonaws.inspector2#StringFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Details on the related vulnerabilities used to filter findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details on the criteria used to define the filter.</p>"
      }
    },
    "com.amazonaws.inspector2#FilterDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.inspector2#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector2#Filter"
      }
    },
    "com.amazonaws.inspector2#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector2#FilterReason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        }
      }
    },
    "com.amazonaws.inspector2#Finding": {
      "type": "structure",
      "members": {
        "findingArn": {
          "target": "com.amazonaws.inspector2#FindingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Number (ARN) of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "awsAccountId": {
          "target": "com.amazonaws.inspector2#AccountId",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID associated with the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.inspector2#FindingType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.inspector2#FindingDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.inspector2#FindingTitle",
          "traits": {
            "smithy.api#documentation": "<p>The title of the finding.</p>"
          }
        },
        "remediation": {
          "target": "com.amazonaws.inspector2#Remediation",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the details about how to remediate a finding.</p>",
            "smithy.api#required": {}
          }
        },
        "severity": {
          "target": "com.amazonaws.inspector2#Severity",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "firstObservedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the finding was first observed.</p>",
            "smithy.api#required": {}
          }
        },
        "lastObservedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the finding was last observed.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector2#DateTimeTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the finding was last updated at.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.inspector2#FindingStatus",
          "traits": {
[...]
