{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.inspector#AccessDeniedErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACCESS_DENIED_TO_ASSESSMENT_TARGET",
            "name": "ACCESS_DENIED_TO_ASSESSMENT_TARGET"
          },
          {
            "value": "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE",
            "name": "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE"
          },
          {
            "value": "ACCESS_DENIED_TO_ASSESSMENT_RUN",
            "name": "ACCESS_DENIED_TO_ASSESSMENT_RUN"
          },
          {
            "value": "ACCESS_DENIED_TO_FINDING",
            "name": "ACCESS_DENIED_TO_FINDING"
          },
          {
            "value": "ACCESS_DENIED_TO_RESOURCE_GROUP",
            "name": "ACCESS_DENIED_TO_RESOURCE_GROUP"
          },
          {
            "value": "ACCESS_DENIED_TO_RULES_PACKAGE",
            "name": "ACCESS_DENIED_TO_RULES_PACKAGE"
          },
          {
            "value": "ACCESS_DENIED_TO_SNS_TOPIC",
            "name": "ACCESS_DENIED_TO_SNS_TOPIC"
          },
          {
            "value": "ACCESS_DENIED_TO_IAM_ROLE",
            "name": "ACCESS_DENIED_TO_IAM_ROLE"
          }
        ]
      }
    },
    "com.amazonaws.inspector#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.inspector#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": {}
          }
        },
        "errorCode": {
          "target": "com.amazonaws.inspector#AccessDeniedErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Code that indicates the type of error that is generated.</p>",
            "smithy.api#required": {}
          }
        },
        "canRetry": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have required permissions to access the requested resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.inspector#AddAttributesToFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#AddAttributesToFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#AddAttributesToFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns attributes (key and value pairs) to the findings that are specified by the\n         ARNs of the findings.</p>"
      }
    },
    "com.amazonaws.inspector#AddAttributesToFindingsRequest": {
      "type": "structure",
      "members": {
        "findingArns": {
          "target": "com.amazonaws.inspector#AddRemoveAttributesFindingArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specify the findings that you want to assign attributes to.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The array of attributes that you want to assign to specified findings.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#AddAttributesToFindingsResponse": {
      "type": "structure",
      "members": {
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Attribute details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#AddRemoveAttributesFindingArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AgentAlreadyRunningAssessment": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.inspector#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the agent that is running on an EC2 instance that is already participating in\n         another started assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run that has already been started.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used in the exception error that is thrown if you start an assessment run for an\n         assessment target that includes an EC2 instance that is already participating in another\n         started assessment run.</p>"
      }
    },
    "com.amazonaws.inspector#AgentAlreadyRunningAssessmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AgentAlreadyRunningAssessment"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AgentFilter": {
      "type": "structure",
      "members": {
        "agentHealths": {
          "target": "com.amazonaws.inspector#AgentHealthList",
          "traits": {
            "smithy.api#documentation": "<p>The current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.</p>",
            "smithy.api#required": {}
          }
        },
        "agentHealthCodes": {
          "target": "com.amazonaws.inspector#AgentHealthCodeList",
          "traits": {
            "smithy.api#documentation": "<p>The detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>, <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a\n         request parameter in the <a>ListAssessmentRunAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector#AgentHealth": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HEALTHY",
            "name": "HEALTHY"
          },
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.inspector#AgentHealthCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IDLE",
            "name": "IDLE"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SHUTDOWN",
            "name": "SHUTDOWN"
          },
          {
            "value": "UNHEALTHY",
            "name": "UNHEALTHY"
          },
          {
            "value": "THROTTLED",
            "name": "THROTTLED"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.inspector#AgentHealthCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AgentHealthCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AgentHealthList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AgentHealth"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AgentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector#AgentIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AgentId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 99
        }
      }
    },
    "com.amazonaws.inspector#AgentPreview": {
      "type": "structure",
      "members": {
        "hostname": {
          "target": "com.amazonaws.inspector#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the EC2 instance on which the Amazon Inspector Agent is\n         installed.</p>"
          }
        },
        "agentId": {
          "target": "com.amazonaws.inspector#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EC2 instance where the agent is installed.</p>",
            "smithy.api#required": {}
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group for the EC2 instance where the agent is installed.</p>"
          }
        },
        "agentHealth": {
          "target": "com.amazonaws.inspector#AgentHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the Amazon Inspector Agent.</p>"
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.inspector#AgentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Inspector Agent.</p>"
          }
        },
        "operatingSystem": {
          "target": "com.amazonaws.inspector#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system running on the EC2 instance on which the Amazon Inspector Agent\n         is installed.</p>"
          }
        },
        "kernelVersion": {
          "target": "com.amazonaws.inspector#KernelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The kernel version of the operating system running on the EC2 instance on which the\n         Amazon Inspector Agent is installed.</p>"
          }
        },
        "ipv4Address": {
          "target": "com.amazonaws.inspector#Ipv4Address",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the EC2 instance on which the Amazon Inspector Agent is\n         installed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as a response element in the <a>PreviewAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector#AgentPreviewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AgentPreview"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector#AgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector#AgentsAlreadyRunningAssessmentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.inspector#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": {}
          }
        },
        "agents": {
          "target": "com.amazonaws.inspector#AgentAlreadyRunningAssessmentList",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "agentsTruncated": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "canRetry": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You started an assessment run, but one of the instances is already participating in\n         another assessment run.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.inspector#AmiId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.inspector#ArnCount": {
      "type": "integer"
    },
    "com.amazonaws.inspector#AssessmentRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRun": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.inspector#AssessmentRunName",
          "traits": {
            "smithy.api#documentation": "<p>The auto-generated name for the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment template that is associated with the assessment\n         run.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.inspector#AssessmentRunState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector#AssessmentRunDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The duration of the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#AssessmentRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The rules packages selected for the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every generated finding.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>",
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>"
          }
        },
        "completedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The assessment run completion time that corresponds to the rules packages evaluation\n         completion time or failure.</p>"
          }
        },
        "stateChangedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time when the assessment run's state changed.</p>",
            "smithy.api#required": {}
          }
        },
        "dataCollected": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value (true or false) that specifies whether the process of collecting data\n         from the agents is completed.</p>",
            "smithy.api#required": {}
          }
        },
        "stateChanges": {
          "target": "com.amazonaws.inspector#AssessmentRunStateChangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the assessment run state changes.</p>",
            "smithy.api#required": {}
          }
        },
        "notifications": {
          "target": "com.amazonaws.inspector#AssessmentRunNotificationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of notifications for the event subscriptions. A notification about a\n         particular generated finding is added to this list only once.</p>",
            "smithy.api#required": {}
          }
        },
        "findingCounts": {
          "target": "com.amazonaws.inspector#AssessmentRunFindingCounts",
          "traits": {
            "smithy.api#documentation": "<p>Provides a total count of generated findings per severity.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A snapshot of an Amazon Inspector assessment run that contains the findings of the\n         assessment run .</p>\n         <p>Used as the response element in the <a>DescribeAssessmentRuns</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentRunAgent": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.inspector#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account of the EC2 instance where the agent is installed.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run that is associated with the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentHealth": {
          "target": "com.amazonaws.inspector#AgentHealth",
          "traits": {
            "smithy.api#documentation": "<p>The current health state of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentHealthCode": {
          "target": "com.amazonaws.inspector#AgentHealthCode",
          "traits": {
            "smithy.api#documentation": "<p>The detailed health state of the agent.</p>",
            "smithy.api#required": {}
          }
        },
        "agentHealthDetails": {
          "target": "com.amazonaws.inspector#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description for the agent health code.</p>"
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group of the EC2 instance that is specified by the agent\n         ID.</p>"
          }
        },
        "telemetryMetadata": {
          "target": "com.amazonaws.inspector#TelemetryMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Inspector application data metrics that are collected by the\n         agent.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a\n         response element in the <a>ListAssessmentRunAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentRunAgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentRunAgent"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunDuration": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 180,
          "max": 86400
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunFilter": {
      "type": "structure",
      "members": {
        "namePattern": {
          "target": "com.amazonaws.inspector#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard\n         that is specified for this data type property must match the value of the <b>assessmentRunName</b> property of the <a>AssessmentRun</a>\n         data type.</p>"
          }
        },
        "states": {
          "target": "com.amazonaws.inspector#AssessmentRunStateList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values specified for this data type\n         property must be the exact match of the value of the <b>assessmentRunState</b> property of the <a>AssessmentRun</a> data\n         type.</p>"
          }
        },
        "durationRange": {
          "target": "com.amazonaws.inspector#DurationRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must be contained in the list of values of the <b>rulesPackages</b> property of the <a>AssessmentRun</a> data\n         type.</p>"
          }
        },
        "startTimeRange": {
          "target": "com.amazonaws.inspector#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "completionTimeRange": {
          "target": "com.amazonaws.inspector#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "stateChangeTimeRange": {
          "target": "com.amazonaws.inspector#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must match the <b>stateChangedAt</b> property of the\n            <a>AssessmentRun</a> data type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentRuns</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentRunFindingCounts": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector#Severity"
      },
      "value": {
        "target": "com.amazonaws.inspector#FindingCount"
      }
    },
    "com.amazonaws.inspector#AssessmentRunInProgressArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunInProgressException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.inspector#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentRunArns": {
          "target": "com.amazonaws.inspector#AssessmentRunInProgressArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the assessment runs that are currently in progress.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentRunArnsTruncated": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Boolean value that indicates whether the ARN list of the assessment runs is\n         truncated.</p>",
            "smithy.api#required": {}
          }
        },
        "canRetry": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot perform a specified action if an assessment run is currently in\n         progress.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.inspector#AssessmentRunList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentRun"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunNotification": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date of the notification.</p>",
            "smithy.api#required": {}
          }
        },
        "event": {
          "target": "com.amazonaws.inspector#InspectorEvent",
          "traits": {
            "smithy.api#documentation": "<p>The event for which a notification is sent.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.inspector#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message included in the notification.</p>"
          }
        },
        "error": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>The Boolean value that specifies whether the notification represents an\n         error.</p>",
            "smithy.api#required": {}
          }
        },
        "snsTopicArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic to which the SNS notification is sent.</p>"
          }
        },
        "snsPublishStatusCode": {
          "target": "com.amazonaws.inspector#AssessmentRunNotificationSnsStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of the SNS notification.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentRunNotificationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentRunNotification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunNotificationSnsStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUCCESS",
            "name": "SUCCESS"
          },
          {
            "value": "TOPIC_DOES_NOT_EXIST",
            "name": "TOPIC_DOES_NOT_EXIST"
          },
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.inspector#AssessmentRunState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "START_DATA_COLLECTION_PENDING",
            "name": "START_DATA_COLLECTION_PENDING"
          },
          {
            "value": "START_DATA_COLLECTION_IN_PROGRESS",
            "name": "START_DATA_COLLECTION_IN_PROGRESS"
          },
          {
            "value": "COLLECTING_DATA",
            "name": "COLLECTING_DATA"
          },
          {
            "value": "STOP_DATA_COLLECTION_PENDING",
            "name": "STOP_DATA_COLLECTION_PENDING"
          },
          {
            "value": "DATA_COLLECTED",
            "name": "DATA_COLLECTED"
          },
          {
            "value": "START_EVALUATING_RULES_PENDING",
            "name": "START_EVALUATING_RULES_PENDING"
          },
          {
            "value": "EVALUATING_RULES",
            "name": "EVALUATING_RULES"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "COMPLETED_WITH_ERRORS",
            "name": "COMPLETED_WITH_ERRORS"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          }
        ]
      }
    },
    "com.amazonaws.inspector#AssessmentRunStateChange": {
      "type": "structure",
      "members": {
        "stateChangedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the assessment run state changed.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.inspector#AssessmentRunState",
          "traits": {
            "smithy.api#documentation": "<p>The assessment run state.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentRunStateChangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentRunStateChange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AssessmentRunStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentRunState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AssessmentTarget": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the Amazon Inspector assessment target.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.inspector#AssessmentTargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Inspector assessment target.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is associated with the assessment\n         target.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the assessment target is created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which <a>UpdateAssessmentTarget</a> is called.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector application. This data type is used as\n         the response element in the <a>DescribeAssessmentTargets</a> action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentTargetFilter": {
      "type": "structure",
      "members": {
        "assessmentTargetNamePattern": {
          "target": "com.amazonaws.inspector#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string that contains a\n         wildcard that is specified for this data type property must match the value of the\n            <b>assessmentTargetName</b> property of the <a>AssessmentTarget</a> data type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentTargets</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentTarget"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AssessmentTargetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector#AssessmentTemplate": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment template.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.inspector#AssessmentTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assessment template.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment target that corresponds to this assessment\n         template.</p>",
            "smithy.api#required": {}
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector#AssessmentRunDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The duration in seconds specified for this assessment template. The default value is\n         3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
            "smithy.api#required": {}
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#AssessmentTemplateRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The rules packages that are specified for this assessment template.</p>",
            "smithy.api#required": {}
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every generated finding from the\n         assessment run that uses this assessment template.</p>",
            "smithy.api#required": {}
          }
        },
        "lastAssessmentRunArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the most recent assessment run associated with this\n         assessment template. This value exists only when the value of assessmentRunCount is\n         greaterpa than zero.</p>"
          }
        },
        "assessmentRunCount": {
          "target": "com.amazonaws.inspector#ArnCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of existing assessment runs associated with this assessment template. This\n         value can be zero or a positive integer.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the assessment template is created.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector assessment template. This data type is\n         used as the response element in the <a>DescribeAssessmentTemplates</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentTemplateFilter": {
      "type": "structure",
      "members": {
        "namePattern": {
          "target": "com.amazonaws.inspector#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string that contains a\n         wildcard that is specified for this data type property must match the value of the\n            <b>assessmentTemplateName</b> property of the <a>AssessmentTemplate</a> data type.</p>"
          }
        },
        "durationRange": {
          "target": "com.amazonaws.inspector#DurationRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value specified for this data type property must\n         inclusively match any value between the specified minimum and maximum values of the\n            <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the values that are specified for this data type\n         property must be contained in the list of values of the <b>rulesPackageArns</b> property of the <a>AssessmentTemplate</a> data\n         type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentTemplates</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#AssessmentTemplateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AssessmentTemplate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#AssessmentTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector#AssessmentTemplateRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AssetAttributes": {
      "type": "structure",
      "members": {
        "schemaVersion": {
          "target": "com.amazonaws.inspector#NumericVersion",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The schema version of this data type.</p>",
            "smithy.api#required": {}
          }
        },
        "agentId": {
          "target": "com.amazonaws.inspector#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the agent that is installed on the EC2 instance where the finding is\n         generated.</p>"
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group of the EC2 instance where the finding is generated.</p>"
          }
        },
        "amiId": {
          "target": "com.amazonaws.inspector#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where\n         the finding is generated.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.inspector#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the EC2 instance where the finding is generated.</p>"
          }
        },
        "ipv4Addresses": {
          "target": "com.amazonaws.inspector#Ipv4AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IP v4 addresses of the EC2 instance where the finding is\n         generated.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.inspector#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags related to the EC2 instance where the finding is generated.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.inspector#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>An array of the network interfaces interacting with the EC2 instance where the\n         finding is generated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>"
      }
    },
    "com.amazonaws.inspector#AssetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ec2-instance",
            "name": "EC2_INSTANCE"
          }
        ]
      }
    },
    "com.amazonaws.inspector#Attribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.inspector#AttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The attribute key.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.inspector#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to the attribute key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a>\n         actions.</p>"
      }
    },
    "com.amazonaws.inspector#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Attribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector#AutoScalingGroup": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#AutoScalingGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.inspector#BatchDescribeArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector#BatchDescribeExclusionsArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector#Bool": {
      "type": "boolean"
    },
    "com.amazonaws.inspector#CreateAssessmentTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#CreateAssessmentTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#CreateAssessmentTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidCrossAccountRoleException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new assessment target using the ARN of the resource group that is generated\n         by <a>CreateResourceGroup</a>. If resourceGroupArn is not specified, all EC2\n         instances in the current AWS account and region are included in the assessment target. If\n         the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and\n         registers a service-linked role to grant Amazon Inspector access to AWS Services needed to\n         perform security assessments. You can create up to 50 assessment targets per AWS account.\n         You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\">\n            Amazon Inspector Assessment Targets</a>.</p>"
      }
    },
    "com.amazonaws.inspector#CreateAssessmentTargetRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetName": {
          "target": "com.amazonaws.inspector#AssessmentTargetName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name that identifies the assessment target that you want to create.\n         The name must be unique within the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is used to create the assessment\n         target. If resourceGroupArn is not specified, all EC2 instances in the current AWS account\n         and region are included in the assessment target.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateAssessmentTargetResponse": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateAssessmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#CreateAssessmentTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#CreateAssessmentTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an assessment template for the assessment target that is specified by the ARN\n         of the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and\n         registers a service-linked role to grant Amazon Inspector access to AWS Services needed to\n         perform security assessments.</p>"
      }
    },
    "com.amazonaws.inspector#CreateAssessmentTemplateRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target for which you want to create the\n         assessment template.</p>",
            "smithy.api#required": {}
          }
        },
        "assessmentTemplateName": {
          "target": "com.amazonaws.inspector#AssessmentTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name that identifies the assessment template that you want to\n         create. You can create several assessment templates for an assessment target. The names of\n         the assessment templates that correspond to a particular assessment target must be\n         unique.</p>",
            "smithy.api#required": {}
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector#AssessmentRunDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The duration of the assessment run in seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#AssessmentTemplateRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specify the rules packages that you want to attach to the assessment\n         template.</p>",
            "smithy.api#required": {}
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every finding that is generated by\n         the assessment run that uses this assessment template. An attribute is a key and value pair\n         (an <a>Attribute</a> object). Within an assessment template, each key must be\n         unique.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateAssessmentTemplateResponse": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateExclusionsPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#CreateExclusionsPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#CreateExclusionsPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#PreviewGenerationInProgressException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts the generation of an exclusions preview for the specified assessment template.\n         The exclusions preview lists the potential exclusions (ExclusionPreview) that Inspector can\n         detect before it runs the assessment. </p>"
      }
    },
    "com.amazonaws.inspector#CreateExclusionsPreviewRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template for which you want to create an\n         exclusions preview.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateExclusionsPreviewResponse": {
      "type": "structure",
      "members": {
        "previewToken": {
          "target": "com.amazonaws.inspector#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique identifier of the requested exclusions preview. You can use the\n         unique identifier to retrieve the exclusions preview when running the GetExclusionsPreview\n         API.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#CreateResourceGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#CreateResourceGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource group using the specified set of tags (key and value pairs) that\n         are used to select the EC2 instances to be included in an Amazon Inspector assessment\n         target. The created resource group is then used to create an Amazon Inspector assessment\n         target. For more information, see <a>CreateAssessmentTarget</a>.</p>"
      }
    },
    "com.amazonaws.inspector#CreateResourceGroupRequest": {
      "type": "structure",
      "members": {
        "resourceGroupTags": {
          "target": "com.amazonaws.inspector#ResourceGroupTags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of keys and an array of possible values,\n         '[{\"key\":\"key1\",\"values\":[\"Value1\",\"Value2\"]},{\"key\":\"Key2\",\"values\":[\"Value3\"]}]'.</p>\n         <p>For example,'[{\"key\":\"Name\",\"values\":[\"TestEC2Instance\"]}]'.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#CreateResourceGroupResponse": {
      "type": "structure",
      "members": {
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DeleteAssessmentRunRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment run that is specified by the ARN of the assessment\n         run.</p>"
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentRunRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DeleteAssessmentTargetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment target that is specified by the ARN of the assessment\n         target.</p>"
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentTargetRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DeleteAssessmentTemplateRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment template that is specified by the ARN of the assessment\n         template.</p>"
      }
    },
    "com.amazonaws.inspector#DeleteAssessmentTemplateRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template that you want to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentRuns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeAssessmentRunsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeAssessmentRunsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment runs that are specified by the ARNs of the assessment\n         runs.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentRunsRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run that you want to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentRunsResponse": {
      "type": "structure",
      "members": {
        "assessmentRuns": {
          "target": "com.amazonaws.inspector#AssessmentRunList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment run.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment run details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeAssessmentTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeAssessmentTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment targets that are specified by the ARNs of the assessment\n         targets.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTargetsRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specifies the assessment targets that you want to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTargetsResponse": {
      "type": "structure",
      "members": {
        "assessmentTargets": {
          "target": "com.amazonaws.inspector#AssessmentTargetList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment targets.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment target details that cannot be described. An error code is provided for\n         each failed item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeAssessmentTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeAssessmentTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment templates that are specified by the ARNs of the assessment\n         templates.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTemplatesRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeAssessmentTemplatesResponse": {
      "type": "structure",
      "members": {
        "assessmentTemplates": {
          "target": "com.amazonaws.inspector#AssessmentTemplateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment templates.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment template details that cannot be described. An error code is provided for\n         each failed item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeCrossAccountAccessRole": {
      "type": "operation",
      "input": {
        "target": "smithy.api#Unit"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeCrossAccountAccessRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the IAM role that enables Amazon Inspector to access your AWS\n         account.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeCrossAccountAccessRoleResponse": {
      "type": "structure",
      "members": {
        "roleArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the IAM role that Amazon Inspector uses to access your AWS\n         account.</p>",
            "smithy.api#required": {}
          }
        },
        "valid": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the IAM role has the necessary policies\n         attached to enable Amazon Inspector to access your AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "registeredAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the cross-account access role was registered.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeExclusions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeExclusionsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeExclusionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the exclusions that are specified by the exclusions' ARNs.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeExclusionsRequest": {
      "type": "structure",
      "members": {
        "exclusionArns": {
          "target": "com.amazonaws.inspector#BatchDescribeExclusionsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ARNs that specify the exclusions that you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale into which you want to translate the exclusion's title, description, and\n         recommendation.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeExclusionsResponse": {
      "type": "structure",
      "members": {
        "exclusions": {
          "target": "com.amazonaws.inspector#ExclusionMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the exclusions.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Exclusion details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the findings that are specified by the ARNs of the findings.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeFindingsRequest": {
      "type": "structure",
      "members": {
        "findingArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the finding that you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale into which you want to translate a finding description, recommendation,\n         and the short description that identifies the finding.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeFindingsResponse": {
      "type": "structure",
      "members": {
        "findings": {
          "target": "com.amazonaws.inspector#FindingList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Finding details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeResourceGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeResourceGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeResourceGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the resource groups that are specified by the ARNs of the resource\n         groups.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeResourceGroupsRequest": {
      "type": "structure",
      "members": {
        "resourceGroupArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that you want to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeResourceGroupsResponse": {
      "type": "structure",
      "members": {
        "resourceGroups": {
          "target": "com.amazonaws.inspector#ResourceGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Information about a resource group.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Resource group details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeRulesPackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#DescribeRulesPackagesRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#DescribeRulesPackagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the rules packages that are specified by the ARNs of the rules\n         packages.</p>"
      }
    },
    "com.amazonaws.inspector#DescribeRulesPackagesRequest": {
      "type": "structure",
      "members": {
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the rules package that you want to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale that you want to translate a rules package description into.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#DescribeRulesPackagesResponse": {
      "type": "structure",
      "members": {
        "rulesPackages": {
          "target": "com.amazonaws.inspector#RulesPackageList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rules package.</p>",
            "smithy.api#required": {}
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Rules package details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#DurationRange": {
      "type": "structure",
      "members": {
        "minSeconds": {
          "target": "com.amazonaws.inspector#AssessmentRunDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum value of the duration range. Must be greater than zero.</p>"
          }
        },
        "maxSeconds": {
          "target": "com.amazonaws.inspector#AssessmentRunDuration",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum value of the duration range. Must be less than or equal to 604800 seconds\n         (1 week).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used in the <a>AssessmentTemplateFilter</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.inspector#EventSubscription": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.inspector#InspectorEvent",
          "traits": {
            "smithy.api#documentation": "<p>The event for which Amazon Simple Notification Service (SNS) notifications are\n         sent.</p>",
            "smithy.api#required": {}
          }
        },
        "subscribedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which <a>SubscribeToEvent</a> is called.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used in the <a>Subscription</a> data type.</p>"
      }
    },
    "com.amazonaws.inspector#EventSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#EventSubscription"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#Exclusion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the exclusion.</p>",
            "smithy.api#required": {}
          }
        },
        "title": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exclusion.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the exclusion.</p>",
            "smithy.api#required": {}
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the exclusion.</p>",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.amazonaws.inspector#ScopeList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources for which the exclusion pertains.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the exclusion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about what was excluded from an assessment run.</p>"
      }
    },
    "com.amazonaws.inspector#ExclusionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "value": {
        "target": "com.amazonaws.inspector#Exclusion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector#ExclusionPreview": {
      "type": "structure",
      "members": {
        "title": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exclusion preview.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the exclusion preview.</p>",
            "smithy.api#required": {}
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the exclusion preview.</p>",
            "smithy.api#required": {}
          }
        },
        "scopes": {
          "target": "com.amazonaws.inspector#ScopeList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources for which the exclusion preview pertains.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the exclusion preview.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about what is excluded from an assessment run given the current\n         state of the assessment template.</p>"
      }
    },
    "com.amazonaws.inspector#ExclusionPreviewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#ExclusionPreview"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector#FailedItemDetails": {
      "type": "structure",
      "members": {
        "failureCode": {
          "target": "com.amazonaws.inspector#FailedItemErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of a failed item.</p>",
            "smithy.api#required": {}
          }
        },
        "retryable": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you can immediately retry a request for this item for a specified\n         resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes details about the failed items.</p>"
      }
    },
    "com.amazonaws.inspector#FailedItemErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_ARN",
            "name": "INVALID_ARN"
          },
          {
            "value": "DUPLICATE_ARN",
            "name": "DUPLICATE_ARN"
          },
          {
            "value": "ITEM_DOES_NOT_EXIST",
            "name": "ITEM_DOES_NOT_EXIST"
          },
          {
            "value": "ACCESS_DENIED",
            "name": "ACCESS_DENIED"
          },
          {
            "value": "LIMIT_EXCEEDED",
            "name": "LIMIT_EXCEEDED"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.inspector#FailedItems": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "value": {
        "target": "com.amazonaws.inspector#FailedItemDetails"
      }
    },
    "com.amazonaws.inspector#FilterRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector#Finding": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "schemaVersion": {
          "target": "com.amazonaws.inspector#NumericVersion",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The schema version of this data type.</p>"
          }
        },
        "service": {
          "target": "com.amazonaws.inspector#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The data element is set to \"Inspector\".</p>"
          }
        },
        "serviceAttributes": {
          "target": "com.amazonaws.inspector#InspectorServiceAttributes",
          "traits": {
            "smithy.api#documentation": "<p>This data type is used in the <a>Finding</a> data type.</p>"
          }
        },
        "assetType": {
          "target": "com.amazonaws.inspector#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the host from which the finding is generated.</p>"
          }
        },
        "assetAttributes": {
          "target": "com.amazonaws.inspector#AssetAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.inspector#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding.</p>"
          }
        },
        "title": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the finding.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the finding.</p>"
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the finding.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.inspector#Severity",
          "traits": {
            "smithy.api#documentation": "<p>The finding severity. Values can be set to High, Medium, Low, and\n         Informational.</p>"
          }
        },
        "numericSeverity": {
          "target": "com.amazonaws.inspector#NumericSeverity",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The numeric value of the finding severity.</p>"
          }
        },
        "confidence": {
          "target": "com.amazonaws.inspector#IocConfidence",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>This data element is currently not used.</p>"
          }
        },
        "indicatorOfCompromise": {
          "target": "com.amazonaws.inspector#Bool",
          "traits": {
            "smithy.api#documentation": "<p>This data element is currently not used.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "userAttributes": {
          "target": "com.amazonaws.inspector#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to the finding.</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the finding was generated.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>AddAttributesToFindings</a> is called.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector finding. This data type is used as the\n         response element in the <a>DescribeFindings</a> action.</p>"
      }
    },
    "com.amazonaws.inspector#FindingCount": {
      "type": "integer"
    },
    "com.amazonaws.inspector#FindingFilter": {
      "type": "structure",
      "members": {
        "agentIds": {
          "target": "com.amazonaws.inspector#AgentIdList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>agentId</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "autoScalingGroups": {
          "target": "com.amazonaws.inspector#AutoScalingGroupList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>autoScalingGroup</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        },
        "ruleNames": {
          "target": "com.amazonaws.inspector#RuleNameList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>ruleName</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "severities": {
          "target": "com.amazonaws.inspector#SeverityList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>severity</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>rulesPackageArn</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the list of values that are specified for this data\n         type property must be contained in the list of values of the <b>attributes</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "userAttributes": {
          "target": "com.amazonaws.inspector#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must be contained in the list of values of the <b>userAttributes</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        },
        "creationTimeRange": {
          "target": "com.amazonaws.inspector#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>The time range during which the finding is generated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used as a request parameter in the <a>ListFindings</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector#FindingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector#FindingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector#Finding"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector#GetAssessmentReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#GetAssessmentReportRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#GetAssessmentReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector#ServiceTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.inspector#UnsupportedFeatureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Produces an assessment report that includes detailed and comprehensive results of a\n         specified assessment run. </p>"
      }
    },
    "com.amazonaws.inspector#GetAssessmentReportRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run for which you want to generate a\n         report.</p>",
            "smithy.api#required": {}
          }
        },
        "reportFileFormat": {
          "target": "com.amazonaws.inspector#ReportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file format (html or pdf) of the assessment report that you want to\n         generate.</p>",
            "smithy.api#required": {}
          }
        },
        "reportType": {
          "target": "com.amazonaws.inspector#ReportType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the assessment report that you want to generate. There are two\n         types of assessment reports: a finding report and a full report. For more information, see\n            <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_reports.html\">Assessment Reports</a>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.inspector#GetAssessmentReportResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.inspector#ReportStatus",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the status of the request to generate an assessment report. </p>",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "com.amazonaws.inspector#Url",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the URL where you can find the generated assessment report. This parameter\n         is only returned if the report is successfully generated.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector#GetExclusionsPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector#GetExclusionsPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector#GetExclusionsPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector#InternalException"
        },
        {
          "target": "com.amazonaws.inspector#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector#NoSuchEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the exclusions preview (a list of ExclusionPreview objects) specified by\n         the preview token. You can obtain the preview token by running the CreateExclusionsPreview\n         API.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.inspector#GetExclusionsPreviewRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template for which the exclusions preview was\n         requested.</p>",
            "smithy.api#required": {}
          }
        },
        "previewToken": {
          "target": "com.amazonaws.inspector#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier associated of the exclusions preview.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.inspector#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter\n         to null on your first call to the GetExclusionsPreviewRequest action. Subsequent calls to\n         the action fill nextToken in the request with the value of nextToken from the previous\n         response to continue listing data.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.inspector#ListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the\n         response. The default value is 100. The maximum value is 500.</p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector#Locale",
          "traits": {
[...]
