{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.inspector.v20160216#AccessDeniedErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACCESS_DENIED_TO_ASSESSMENT_TARGET": {
            "name": "ACCESS_DENIED_TO_ASSESSMENT_TARGET"
          },
          "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE": {
            "name": "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE"
          },
          "ACCESS_DENIED_TO_ASSESSMENT_RUN": {
            "name": "ACCESS_DENIED_TO_ASSESSMENT_RUN"
          },
          "ACCESS_DENIED_TO_FINDING": {
            "name": "ACCESS_DENIED_TO_FINDING"
          },
          "ACCESS_DENIED_TO_RESOURCE_GROUP": {
            "name": "ACCESS_DENIED_TO_RESOURCE_GROUP"
          },
          "ACCESS_DENIED_TO_RULES_PACKAGE": {
            "name": "ACCESS_DENIED_TO_RULES_PACKAGE"
          },
          "ACCESS_DENIED_TO_SNS_TOPIC": {
            "name": "ACCESS_DENIED_TO_SNS_TOPIC"
          },
          "ACCESS_DENIED_TO_IAM_ROLE": {
            "name": "ACCESS_DENIED_TO_IAM_ROLE"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AccessDeniedException": {
      "type": "structure",
      "members": {
        "canRetry": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": true
          }
        },
        "errorCode": {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Code that indicates the type of error that is generated.</p>",
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.inspector.v20160216#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have required permissions to access the requested resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.inspector.v20160216#AddAttributesToFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#AddAttributesToFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#AddAttributesToFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns attributes (key and value pairs) to the findings that are specified by the\n         ARNs of the findings.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AddAttributesToFindingsRequest": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.inspector.v20160216#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The array of attributes that you want to assign to specified findings.</p>",
            "smithy.api#required": true
          }
        },
        "findingArns": {
          "target": "com.amazonaws.inspector.v20160216#AddRemoveAttributesFindingArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specify the findings that you want to assign attributes to.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AddAttributesToFindingsResponse": {
      "type": "structure",
      "members": {
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Attribute details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AddRemoveAttributesFindingArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentAlreadyRunningAssessment": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.inspector.v20160216#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>ID of the agent that is running on an EC2 instance that is already participating in\n         another started assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run that has already been started.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used in the exception error that is thrown if you start an assessment run for an\n         assessment target that includes an EC2 instance that is already participating in another\n         started assessment run.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AgentAlreadyRunningAssessmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AgentAlreadyRunningAssessment"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentFilter": {
      "type": "structure",
      "members": {
        "agentHealthCodes": {
          "target": "com.amazonaws.inspector.v20160216#AgentHealthCodeList",
          "traits": {
            "smithy.api#documentation": "<p>The detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>, <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. </p>",
            "smithy.api#required": true
          }
        },
        "agentHealths": {
          "target": "com.amazonaws.inspector.v20160216#AgentHealthList",
          "traits": {
            "smithy.api#documentation": "<p>The current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a\n         request parameter in the <a>ListAssessmentRunAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AgentHealth": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HEALTHY": {
            "name": "HEALTHY"
          },
          "UNHEALTHY": {
            "name": "UNHEALTHY"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentHealthCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IDLE": {
            "name": "IDLE"
          },
          "RUNNING": {
            "name": "RUNNING"
          },
          "SHUTDOWN": {
            "name": "SHUTDOWN"
          },
          "UNHEALTHY": {
            "name": "UNHEALTHY"
          },
          "THROTTLED": {
            "name": "THROTTLED"
          },
          "UNKNOWN": {
            "name": "UNKNOWN"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentHealthCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AgentHealthCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentHealthList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AgentHealth"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AgentId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 99
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentPreview": {
      "type": "structure",
      "members": {
        "agentHealth": {
          "target": "com.amazonaws.inspector.v20160216#AgentHealth",
          "traits": {
            "smithy.api#documentation": "<p>The health status of the Amazon Inspector Agent.</p>"
          }
        },
        "agentId": {
          "target": "com.amazonaws.inspector.v20160216#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the EC2 instance where the agent is installed.</p>",
            "smithy.api#required": true
          }
        },
        "agentVersion": {
          "target": "com.amazonaws.inspector.v20160216#AgentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Inspector Agent.</p>"
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector.v20160216#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group for the EC2 instance where the agent is installed.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.inspector.v20160216#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the EC2 instance on which the Amazon Inspector Agent is\n         installed.</p>"
          }
        },
        "ipv4Address": {
          "target": "com.amazonaws.inspector.v20160216#Ipv4Address",
          "traits": {
            "smithy.api#documentation": "<p>The IP address of the EC2 instance on which the Amazon Inspector Agent is\n         installed.</p>"
          }
        },
        "kernelVersion": {
          "target": "com.amazonaws.inspector.v20160216#KernelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The kernel version of the operating system running on the EC2 instance on which the\n         Amazon Inspector Agent is installed.</p>"
          }
        },
        "operatingSystem": {
          "target": "com.amazonaws.inspector.v20160216#OperatingSystem",
          "traits": {
            "smithy.api#documentation": "<p>The operating system running on the EC2 instance on which the Amazon Inspector Agent\n         is installed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as a response element in the <a>PreviewAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AgentPreviewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AgentPreview"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AgentsAlreadyRunningAssessmentException": {
      "type": "structure",
      "members": {
        "agents": {
          "target": "com.amazonaws.inspector.v20160216#AgentAlreadyRunningAssessmentList",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": true
          }
        },
        "agentsTruncated": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": true
          }
        },
        "canRetry": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.inspector.v20160216#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You started an assessment run, but one of the instances is already participating in\n         another assessment run.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.inspector.v20160216#AmiId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector.v20160216#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        }
      }
    },
    "com.amazonaws.inspector.v20160216#ArnCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRun": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment template that is associated with the assessment\n         run.</p>",
            "smithy.api#required": true
          }
        },
        "completedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The assessment run completion time that corresponds to the rules packages evaluation\n         completion time or failure.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>",
            "smithy.api#required": true
          }
        },
        "dataCollected": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value (true or false) that specifies whether the process of collecting data\n         from the agents is completed.</p>",
            "smithy.api#required": true
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunDuration",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "findingCounts": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunFindingCounts",
          "traits": {
            "smithy.api#documentation": "<p>Provides a total count of generated findings per severity.</p>",
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunName",
          "traits": {
            "smithy.api#documentation": "<p>The auto-generated name for the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "notifications": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunNotificationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of notifications for the event subscriptions. A notification about a\n         particular generated finding is added to this list only once.</p>",
            "smithy.api#required": true
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The rules packages selected for the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "startedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "stateChangedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time when the assessment run's state changed.</p>",
            "smithy.api#required": true
          }
        },
        "stateChanges": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunStateChangeList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the assessment run state changes.</p>",
            "smithy.api#required": true
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector.v20160216#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every generated finding.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A snapshot of an Amazon Inspector assessment run that contains the findings of the\n         assessment run .</p>\n         <p>Used as the response element in the <a>DescribeAssessmentRuns</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunAgent": {
      "type": "structure",
      "members": {
        "agentHealth": {
          "target": "com.amazonaws.inspector.v20160216#AgentHealth",
          "traits": {
            "smithy.api#documentation": "<p>The current health state of the agent.</p>",
            "smithy.api#required": true
          }
        },
        "agentHealthCode": {
          "target": "com.amazonaws.inspector.v20160216#AgentHealthCode",
          "traits": {
            "smithy.api#documentation": "<p>The detailed health state of the agent.</p>",
            "smithy.api#required": true
          }
        },
        "agentHealthDetails": {
          "target": "com.amazonaws.inspector.v20160216#Message",
          "traits": {
            "smithy.api#documentation": "<p>The description for the agent health code.</p>"
          }
        },
        "agentId": {
          "target": "com.amazonaws.inspector.v20160216#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account of the EC2 instance where the agent is installed.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment run that is associated with the agent.</p>",
            "smithy.api#required": true
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector.v20160216#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group of the EC2 instance that is specified by the agent\n         ID.</p>"
          }
        },
        "telemetryMetadata": {
          "target": "com.amazonaws.inspector.v20160216#TelemetryMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Inspector application data metrics that are collected by the\n         agent.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a\n         response element in the <a>ListAssessmentRunAgents</a> action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunAgentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentRunAgent"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunDuration": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 180,
          "max": 86400
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunFilter": {
      "type": "structure",
      "members": {
        "completionTimeRange": {
          "target": "com.amazonaws.inspector.v20160216#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "durationRange": {
          "target": "com.amazonaws.inspector.v20160216#DurationRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "namePattern": {
          "target": "com.amazonaws.inspector.v20160216#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard\n         that is specified for this data type property must match the value of the <b>assessmentRunName</b> property of the <a>AssessmentRun</a>\n         data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must be contained in the list of values of the <b>rulesPackages</b> property of the <a>AssessmentRun</a> data\n         type.</p>"
          }
        },
        "startTimeRange": {
          "target": "com.amazonaws.inspector.v20160216#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must inclusively match any value between the specified minimum and maximum values\n         of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.</p>"
          }
        },
        "stateChangeTimeRange": {
          "target": "com.amazonaws.inspector.v20160216#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must match the <b>stateChangedAt</b> property of the\n            <a>AssessmentRun</a> data type.</p>"
          }
        },
        "states": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunStateList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values specified for this data type\n         property must be the exact match of the value of the <b>assessmentRunState</b> property of the <a>AssessmentRun</a> data\n         type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentRuns</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunFindingCounts": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector.v20160216#Severity"
      },
      "value": {
        "target": "com.amazonaws.inspector.v20160216#FindingCount"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunInProgressArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunInProgressException": {
      "type": "structure",
      "members": {
        "assessmentRunArns": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunInProgressArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs of the assessment runs that are currently in progress.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentRunArnsTruncated": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Boolean value that indicates whether the ARN list of the assessment runs is\n         truncated.</p>",
            "smithy.api#required": true
          }
        },
        "canRetry": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>You can immediately retry your request.</p>",
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.inspector.v20160216#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Details of the exception error.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You cannot perform a specified action if an assessment run is currently in\n         progress.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentRun"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunNotification": {
      "type": "structure",
      "members": {
        "date": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date of the notification.</p>",
            "smithy.api#required": true
          }
        },
        "error": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>The Boolean value that specifies whether the notification represents an\n         error.</p>",
            "smithy.api#required": true
          }
        },
        "event": {
          "target": "com.amazonaws.inspector.v20160216#InspectorEvent",
          "traits": {
            "smithy.api#documentation": "<p>The event for which a notification is sent.</p>",
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.inspector.v20160216#Message",
          "traits": {
            "smithy.api#documentation": "<p>The message included in the notification.</p>"
          }
        },
        "snsPublishStatusCode": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunNotificationSnsStatusCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of the SNS notification.</p>"
          }
        },
        "snsTopicArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The SNS topic to which the SNS notification is sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunNotificationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentRunNotification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunNotificationSnsStatusCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SUCCESS": {
            "name": "SUCCESS"
          },
          "TOPIC_DOES_NOT_EXIST": {
            "name": "TOPIC_DOES_NOT_EXIST"
          },
          "ACCESS_DENIED": {
            "name": "ACCESS_DENIED"
          },
          "INTERNAL_ERROR": {
            "name": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATED": {
            "name": "CREATED"
          },
          "START_DATA_COLLECTION_PENDING": {
            "name": "START_DATA_COLLECTION_PENDING"
          },
          "START_DATA_COLLECTION_IN_PROGRESS": {
            "name": "START_DATA_COLLECTION_IN_PROGRESS"
          },
          "COLLECTING_DATA": {
            "name": "COLLECTING_DATA"
          },
          "STOP_DATA_COLLECTION_PENDING": {
            "name": "STOP_DATA_COLLECTION_PENDING"
          },
          "DATA_COLLECTED": {
            "name": "DATA_COLLECTED"
          },
          "START_EVALUATING_RULES_PENDING": {
            "name": "START_EVALUATING_RULES_PENDING"
          },
          "EVALUATING_RULES": {
            "name": "EVALUATING_RULES"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "ERROR": {
            "name": "ERROR"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          },
          "COMPLETED_WITH_ERRORS": {
            "name": "COMPLETED_WITH_ERRORS"
          },
          "CANCELED": {
            "name": "CANCELED"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunStateChange": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunState",
          "traits": {
            "smithy.api#documentation": "<p>The assessment run state.</p>",
            "smithy.api#required": true
          }
        },
        "stateChangedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the assessment run state changed.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunStateChangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentRunStateChange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentRunStateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentRunState"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTarget": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the Amazon Inspector assessment target.</p>",
            "smithy.api#required": true
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the assessment target is created.</p>",
            "smithy.api#required": true
          }
        },
        "name": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTargetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Inspector assessment target.</p>",
            "smithy.api#required": true
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is associated with the assessment\n         target.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which <a>UpdateAssessmentTarget</a> is called.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector application. This data type is used as\n         the response element in the <a>DescribeAssessmentTargets</a> action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTargetFilter": {
      "type": "structure",
      "members": {
        "assessmentTargetNamePattern": {
          "target": "com.amazonaws.inspector.v20160216#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string that contains a\n         wildcard that is specified for this data type property must match the value of the\n            <b>assessmentTargetName</b> property of the <a>AssessmentTarget</a> data type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentTargets</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTargetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentTarget"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTargetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTemplate": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment template.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentRunCount": {
          "target": "com.amazonaws.inspector.v20160216#ArnCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of existing assessment runs associated with this assessment template. This\n         value can be zero or a positive integer.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the assessment target that corresponds to this assessment\n         template.</p>",
            "smithy.api#required": true
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the assessment template is created.</p>",
            "smithy.api#required": true
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunDuration",
          "traits": {
            "smithy.api#documentation": "<p>The duration in seconds specified for this assessment template. The default value is\n         3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
            "smithy.api#required": true
          }
        },
        "lastAssessmentRunArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the most recent assessment run associated with this\n         assessment template. This value exists only when the value of assessmentRunCount is\n         greaterpa than zero.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the assessment template.</p>",
            "smithy.api#required": true
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTemplateRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The rules packages that are specified for this assessment template.</p>",
            "smithy.api#required": true
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector.v20160216#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every generated finding from the\n         assessment run that uses this assessment template.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector assessment template. This data type is\n         used as the response element in the <a>DescribeAssessmentTemplates</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTemplateFilter": {
      "type": "structure",
      "members": {
        "durationRange": {
          "target": "com.amazonaws.inspector.v20160216#DurationRange",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value specified for this data type property must\n         inclusively match any value between the specified minimum and maximum values of the\n            <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.</p>"
          }
        },
        "namePattern": {
          "target": "com.amazonaws.inspector.v20160216#NamePattern",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, an explicit value or a string that contains a\n         wildcard that is specified for this data type property must match the value of the\n            <b>assessmentTemplateName</b> property of the <a>AssessmentTemplate</a> data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the values that are specified for this data type\n         property must be contained in the list of values of the <b>rulesPackageArns</b> property of the <a>AssessmentTemplate</a> data\n         type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used as the request parameter in the <a>ListAssessmentTemplates</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTemplateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AssessmentTemplate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 140
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssessmentTemplateRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AssetAttributes": {
      "type": "structure",
      "members": {
        "agentId": {
          "target": "com.amazonaws.inspector.v20160216#AgentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the agent that is installed on the EC2 instance where the finding is\n         generated.</p>"
          }
        },
        "amiId": {
          "target": "com.amazonaws.inspector.v20160216#AmiId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where\n         the finding is generated.</p>"
          }
        },
        "autoScalingGroup": {
          "target": "com.amazonaws.inspector.v20160216#AutoScalingGroup",
          "traits": {
            "smithy.api#documentation": "<p>The Auto Scaling group of the EC2 instance where the finding is generated.</p>"
          }
        },
        "hostname": {
          "target": "com.amazonaws.inspector.v20160216#Hostname",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the EC2 instance where the finding is generated.</p>"
          }
        },
        "ipv4Addresses": {
          "target": "com.amazonaws.inspector.v20160216#Ipv4AddressList",
          "traits": {
            "smithy.api#documentation": "<p>The list of IP v4 addresses of the EC2 instance where the finding is\n         generated.</p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.inspector.v20160216#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>An array of the network interfaces interacting with the EC2 instance where the\n         finding is generated.</p>"
          }
        },
        "schemaVersion": {
          "target": "com.amazonaws.inspector.v20160216#NumericVersion",
          "traits": {
            "smithy.api#documentation": "<p>The schema version of this data type.</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.inspector.v20160216#Tags",
          "traits": {
            "smithy.api#documentation": "<p>The tags related to the EC2 instance where the finding is generated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AssetType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ec2-instance": {
            "name": "EC2_INSTANCE"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#Attribute": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.inspector.v20160216#AttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The attribute key.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazonaws.inspector.v20160216#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value assigned to the attribute key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a>\n         actions.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#AttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Attribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AutoScalingGroup": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.inspector.v20160216#AutoScalingGroupList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#AutoScalingGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.inspector.v20160216#BatchDescribeArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.inspector.v20160216#BatchDescribeExclusionsArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector.v20160216#Bool": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#CreateAssessmentTargetRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#CreateAssessmentTargetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidCrossAccountRoleException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new assessment target using the ARN of the resource group that is generated\n         by <a>CreateResourceGroup</a>. If resourceGroupArn is not specified, all EC2\n         instances in the current AWS account and region are included in the assessment target. If\n         the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and\n         registers a service-linked role to grant Amazon Inspector access to AWS Services needed to\n         perform security assessments. You can create up to 50 assessment targets per AWS account.\n         You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\">\n            Amazon Inspector Assessment Targets</a>.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTargetRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetName": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTargetName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name that identifies the assessment target that you want to create.\n         The name must be unique within the AWS account.</p>",
            "smithy.api#required": true
          }
        },
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is used to create the assessment\n         target. If resourceGroupArn is not specified, all EC2 instances in the current AWS account\n         and region are included in the assessment target.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTargetResponse": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target that is created.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#CreateAssessmentTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#CreateAssessmentTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an assessment template for the assessment target that is specified by the ARN\n         of the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn’t already registered, this action also creates and\n         registers a service-linked role to grant Amazon Inspector access to AWS Services needed to\n         perform security assessments.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTemplateRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target for which you want to create the\n         assessment template.</p>",
            "smithy.api#required": true
          }
        },
        "assessmentTemplateName": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined name that identifies the assessment template that you want to\n         create. You can create several assessment templates for an assessment target. The names of\n         the assessment templates that correspond to a particular assessment target must be\n         unique.</p>",
            "smithy.api#required": true
          }
        },
        "durationInSeconds": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunDuration",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the assessment run in seconds.</p>",
            "smithy.api#required": true
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTemplateRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specify the rules packages that you want to attach to the assessment\n         template.</p>",
            "smithy.api#required": true
          }
        },
        "userAttributesForFindings": {
          "target": "com.amazonaws.inspector.v20160216#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to every finding that is generated by\n         the assessment run that uses this assessment template. An attribute is a key and value pair\n         (an <a>Attribute</a> object). Within an assessment template, each key must be\n         unique.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateAssessmentTemplateResponse": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template that is created.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateExclusionsPreview": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#CreateExclusionsPreviewRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#CreateExclusionsPreviewResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#PreviewGenerationInProgressException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Starts the generation of an exclusions preview for the specified assessment template.\n         The exclusions preview lists the potential exclusions (ExclusionPreview) that Inspector can\n         detect before it runs the assessment. </p>"
      }
    },
    "com.amazonaws.inspector.v20160216#CreateExclusionsPreviewRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template for which you want to create an\n         exclusions preview.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateExclusionsPreviewResponse": {
      "type": "structure",
      "members": {
        "previewToken": {
          "target": "com.amazonaws.inspector.v20160216#UUID",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the unique identifier of the requested exclusions preview. You can use the\n         unique identifier to retrieve the exclusions preview when running the GetExclusionsPreview\n         API.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateResourceGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#CreateResourceGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#CreateResourceGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#LimitExceededException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a resource group using the specified set of tags (key and value pairs) that\n         are used to select the EC2 instances to be included in an Amazon Inspector assessment\n         target. The created resource group is then used to create an Amazon Inspector assessment\n         target. For more information, see <a>CreateAssessmentTarget</a>.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#CreateResourceGroupRequest": {
      "type": "structure",
      "members": {
        "resourceGroupTags": {
          "target": "com.amazonaws.inspector.v20160216#ResourceGroupTags",
          "traits": {
            "smithy.api#documentation": "<p>A collection of keys and an array of possible values,\n         '[{\"key\":\"key1\",\"values\":[\"Value1\",\"Value2\"]},{\"key\":\"Key2\",\"values\":[\"Value3\"]}]'.</p>\n         <p>For example,'[{\"key\":\"Name\",\"values\":[\"TestEC2Instance\"]}]'.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#CreateResourceGroupResponse": {
      "type": "structure",
      "members": {
        "resourceGroupArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that is created.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentRun": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DeleteAssessmentRunRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment run that is specified by the ARN of the assessment\n         run.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentRunRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentTarget": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DeleteAssessmentTargetRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment target that is specified by the ARN of the assessment\n         target.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentTargetRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment target that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DeleteAssessmentTemplateRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the assessment template that is specified by the ARN of the assessment\n         template.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DeleteAssessmentTemplateRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment template that you want to delete.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentRuns": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentRunsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentRunsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment runs that are specified by the ARNs of the assessment\n         runs.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentRunsRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run that you want to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentRunsResponse": {
      "type": "structure",
      "members": {
        "assessmentRuns": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment run.</p>",
            "smithy.api#required": true
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment run details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTargets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentTargetsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentTargetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment targets that are specified by the ARNs of the assessment\n         targets.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTargetsRequest": {
      "type": "structure",
      "members": {
        "assessmentTargetArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARNs that specifies the assessment targets that you want to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTargetsResponse": {
      "type": "structure",
      "members": {
        "assessmentTargets": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTargetList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment targets.</p>",
            "smithy.api#required": true
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment target details that cannot be described. An error code is provided for\n         each failed item.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeAssessmentTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the assessment templates that are specified by the ARNs of the assessment\n         templates.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTemplatesRequest": {
      "type": "structure",
      "members": {
        "assessmentTemplateArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeAssessmentTemplatesResponse": {
      "type": "structure",
      "members": {
        "assessmentTemplates": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentTemplateList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the assessment templates.</p>",
            "smithy.api#required": true
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Assessment template details that cannot be described. An error code is provided for\n         each failed item.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeCrossAccountAccessRole": {
      "type": "operation",
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeCrossAccountAccessRoleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the IAM role that enables Amazon Inspector to access your AWS\n         account.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeCrossAccountAccessRoleResponse": {
      "type": "structure",
      "members": {
        "registeredAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the cross-account access role was registered.</p>",
            "smithy.api#required": true
          }
        },
        "roleArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the IAM role that Amazon Inspector uses to access your AWS\n         account.</p>",
            "smithy.api#required": true
          }
        },
        "valid": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the IAM role has the necessary policies\n         attached to enable Amazon Inspector to access your AWS account.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeExclusions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeExclusionsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeExclusionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the exclusions that are specified by the exclusions' ARNs.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeExclusionsRequest": {
      "type": "structure",
      "members": {
        "exclusionArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeExclusionsArnList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ARNs that specify the exclusions that you want to describe.</p>",
            "smithy.api#required": true
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector.v20160216#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale into which you want to translate the exclusion's title, description, and\n         recommendation.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeExclusionsResponse": {
      "type": "structure",
      "members": {
        "exclusions": {
          "target": "com.amazonaws.inspector.v20160216#ExclusionMap",
          "traits": {
            "smithy.api#documentation": "<p>Information about the exclusions.</p>",
            "smithy.api#required": true
          }
        },
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Exclusion details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the findings that are specified by the ARNs of the findings.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeFindingsRequest": {
      "type": "structure",
      "members": {
        "findingArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the finding that you want to describe.</p>",
            "smithy.api#required": true
          }
        },
        "locale": {
          "target": "com.amazonaws.inspector.v20160216#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale into which you want to translate a finding description, recommendation,\n         and the short description that identifies the finding.</p>"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeFindingsResponse": {
      "type": "structure",
      "members": {
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Finding details that cannot be described. An error code is provided for each failed\n         item.</p>",
            "smithy.api#required": true
          }
        },
        "findings": {
          "target": "com.amazonaws.inspector.v20160216#FindingList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the finding.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeResourceGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeResourceGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeResourceGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the resource groups that are specified by the ARNs of the resource\n         groups.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeResourceGroupsRequest": {
      "type": "structure",
      "members": {
        "resourceGroupArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the resource group that you want to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeResourceGroupsResponse": {
      "type": "structure",
      "members": {
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Resource group details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": true
          }
        },
        "resourceGroups": {
          "target": "com.amazonaws.inspector.v20160216#ResourceGroupList",
          "traits": {
            "smithy.api#documentation": "<p>Information about a resource group.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeRulesPackages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#DescribeRulesPackagesRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#DescribeRulesPackagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the rules packages that are specified by the ARNs of the rules\n         packages.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeRulesPackagesRequest": {
      "type": "structure",
      "members": {
        "locale": {
          "target": "com.amazonaws.inspector.v20160216#Locale",
          "traits": {
            "smithy.api#documentation": "<p>The locale that you want to translate a rules package description into.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#BatchDescribeArnList",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the rules package that you want to describe.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DescribeRulesPackagesResponse": {
      "type": "structure",
      "members": {
        "failedItems": {
          "target": "com.amazonaws.inspector.v20160216#FailedItems",
          "traits": {
            "smithy.api#documentation": "<p>Rules package details that cannot be described. An error code is provided for each\n         failed item.</p>",
            "smithy.api#required": true
          }
        },
        "rulesPackages": {
          "target": "com.amazonaws.inspector.v20160216#RulesPackageList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the rules package.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#DurationRange": {
      "type": "structure",
      "members": {
        "maxSeconds": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunDuration",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the duration range. Must be less than or equal to 604800 seconds\n         (1 week).</p>"
          }
        },
        "minSeconds": {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunDuration",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value of the duration range. Must be greater than zero.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used in the <a>AssessmentTemplateFilter</a> data\n         type.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.inspector.v20160216#EventSubscription": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.inspector.v20160216#InspectorEvent",
          "traits": {
            "smithy.api#documentation": "<p>The event for which Amazon Simple Notification Service (SNS) notifications are\n         sent.</p>",
            "smithy.api#required": true
          }
        },
        "subscribedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which <a>SubscribeToEvent</a> is called.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used in the <a>Subscription</a> data type.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#EventSubscriptionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#EventSubscription"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#Exclusion": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the exclusion.</p>",
            "smithy.api#required": true
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector.v20160216#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the exclusion.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the exclusion.</p>",
            "smithy.api#required": true
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the exclusion.</p>",
            "smithy.api#required": true
          }
        },
        "scopes": {
          "target": "com.amazonaws.inspector.v20160216#ScopeList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources for which the exclusion pertains.</p>",
            "smithy.api#required": true
          }
        },
        "title": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exclusion.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about what was excluded from an assessment run.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#ExclusionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "value": {
        "target": "com.amazonaws.inspector.v20160216#Exclusion"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector.v20160216#ExclusionPreview": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.inspector.v20160216#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the exclusion preview.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the exclusion preview.</p>",
            "smithy.api#required": true
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the exclusion preview.</p>",
            "smithy.api#required": true
          }
        },
        "scopes": {
          "target": "com.amazonaws.inspector.v20160216#ScopeList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS resources for which the exclusion preview pertains.</p>",
            "smithy.api#required": true
          }
        },
        "title": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the exclusion preview.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about what is excluded from an assessment run given the current\n         state of the assessment template.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#ExclusionPreviewList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#ExclusionPreview"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector.v20160216#FailedItemDetails": {
      "type": "structure",
      "members": {
        "failureCode": {
          "target": "com.amazonaws.inspector.v20160216#FailedItemErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The status code of a failed item.</p>",
            "smithy.api#required": true
          }
        },
        "retryable": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether you can immediately retry a request for this item for a specified\n         resource.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes details about the failed items.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#FailedItemErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "INVALID_ARN": {
            "name": "INVALID_ARN"
          },
          "DUPLICATE_ARN": {
            "name": "DUPLICATE_ARN"
          },
          "ITEM_DOES_NOT_EXIST": {
            "name": "ITEM_DOES_NOT_EXIST"
          },
          "ACCESS_DENIED": {
            "name": "ACCESS_DENIED"
          },
          "LIMIT_EXCEEDED": {
            "name": "LIMIT_EXCEEDED"
          },
          "INTERNAL_ERROR": {
            "name": "INTERNAL_ERROR"
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#FailedItems": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "value": {
        "target": "com.amazonaws.inspector.v20160216#FailedItemDetails"
      }
    },
    "com.amazonaws.inspector.v20160216#FilterRulesPackageArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Arn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.inspector.v20160216#Finding": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the finding.</p>",
            "smithy.api#required": true
          }
        },
        "assetAttributes": {
          "target": "com.amazonaws.inspector.v20160216#AssetAttributes",
          "traits": {
            "smithy.api#documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>"
          }
        },
        "assetType": {
          "target": "com.amazonaws.inspector.v20160216#AssetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the host from which the finding is generated.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector.v20160216#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The system-defined attributes for the finding.</p>",
            "smithy.api#required": true
          }
        },
        "confidence": {
          "target": "com.amazonaws.inspector.v20160216#IocConfidence",
          "traits": {
            "smithy.api#documentation": "<p>This data element is currently not used.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when the finding was generated.</p>",
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The description of the finding.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.inspector.v20160216#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the finding.</p>"
          }
        },
        "indicatorOfCompromise": {
          "target": "com.amazonaws.inspector.v20160216#Bool",
          "traits": {
            "smithy.api#documentation": "<p>This data element is currently not used.</p>"
          }
        },
        "numericSeverity": {
          "target": "com.amazonaws.inspector.v20160216#NumericSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The numeric value of the finding severity.</p>"
          }
        },
        "recommendation": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The recommendation for the finding.</p>"
          }
        },
        "schemaVersion": {
          "target": "com.amazonaws.inspector.v20160216#NumericVersion",
          "traits": {
            "smithy.api#documentation": "<p>The schema version of this data type.</p>"
          }
        },
        "service": {
          "target": "com.amazonaws.inspector.v20160216#ServiceName",
          "traits": {
            "smithy.api#documentation": "<p>The data element is set to \"Inspector\".</p>"
          }
        },
        "serviceAttributes": {
          "target": "com.amazonaws.inspector.v20160216#InspectorServiceAttributes",
          "traits": {
            "smithy.api#documentation": "<p>This data type is used in the <a>Finding</a> data type.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.inspector.v20160216#Severity",
          "traits": {
            "smithy.api#documentation": "<p>The finding severity. Values can be set to High, Medium, Low, and\n         Informational.</p>"
          }
        },
        "title": {
          "target": "com.amazonaws.inspector.v20160216#Text",
          "traits": {
            "smithy.api#documentation": "<p>The name of the finding.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.inspector.v20160216#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time when <a>AddAttributesToFindings</a> is called.</p>",
            "smithy.api#required": true
          }
        },
        "userAttributes": {
          "target": "com.amazonaws.inspector.v20160216#UserAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes that are assigned to the finding.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an Amazon Inspector finding. This data type is used as the\n         response element in the <a>DescribeFindings</a> action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#FindingCount": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.inspector.v20160216#FindingFilter": {
      "type": "structure",
      "members": {
        "agentIds": {
          "target": "com.amazonaws.inspector.v20160216#AgentIdList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>agentId</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.inspector.v20160216#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the list of values that are specified for this data\n         type property must be contained in the list of values of the <b>attributes</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "autoScalingGroups": {
          "target": "com.amazonaws.inspector.v20160216#AutoScalingGroupList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>autoScalingGroup</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        },
        "creationTimeRange": {
          "target": "com.amazonaws.inspector.v20160216#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>The time range during which the finding is generated.</p>"
          }
        },
        "ruleNames": {
          "target": "com.amazonaws.inspector.v20160216#RuleNameList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>ruleName</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "rulesPackageArns": {
          "target": "com.amazonaws.inspector.v20160216#FilterRulesPackageArnList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>rulesPackageArn</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        },
        "severities": {
          "target": "com.amazonaws.inspector.v20160216#SeverityList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, one of the values that is specified for this data\n         type property must be the exact match of the value of the <b>severity</b> property of the <a>Finding</a> data type.</p>"
          }
        },
        "userAttributes": {
          "target": "com.amazonaws.inspector.v20160216#AttributeList",
          "traits": {
            "smithy.api#documentation": "<p>For a record to match a filter, the value that is specified for this data type\n         property must be contained in the list of values of the <b>userAttributes</b> property of the <a>Finding</a> data\n         type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This data type is used as a request parameter in the <a>ListFindings</a>\n         action.</p>"
      }
    },
    "com.amazonaws.inspector.v20160216#FindingId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.inspector.v20160216#FindingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspector.v20160216#Finding"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.inspector.v20160216#GetAssessmentReport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspector.v20160216#GetAssessmentReportRequest"
      },
      "output": {
        "target": "com.amazonaws.inspector.v20160216#GetAssessmentReportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspector.v20160216#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#AssessmentRunInProgressException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InternalException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#InvalidInputException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#NoSuchEntityException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#ServiceTemporarilyUnavailableException"
        },
        {
          "target": "com.amazonaws.inspector.v20160216#UnsupportedFeatureException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Produces an assessment report that includes detailed and comprehensive results of a\n         specified assessment run. </p>"
      }
    },
    "com.amazonaws.inspector.v20160216#GetAssessmentReportRequest": {
      "type": "structure",
      "members": {
        "assessmentRunArn": {
          "target": "com.amazonaws.inspector.v20160216#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that specifies the assessment run for which you want to generate a\n         report.</p>",
            "smithy.api#required": true
          }
        },
        "reportFileFormat": {
          "target": "com.amazonaws.inspector.v20160216#ReportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the file format (html or pdf) of the assessment report that you want to\n         generate.</p>",
            "smithy.api#required": true
          }
        },
        "reportType": {
          "target": "com.amazonaws.inspector.v20160216#ReportType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of the assessment report that you want to generate. There are two\n         types of assessment reports: a finding report and a full report. For more information, see\n            <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_reports.html\">Assessment Reports</a>. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.inspector.v20160216#GetAssessmentReportResponse": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.inspector.v20160216#ReportStatus",
          "traits": {
[...]
