{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.inspectorscan#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.inspectorscan#InspectorScan": {
      "type": "service",
      "version": "2023-08-08",
      "operations": [
        {
          "target": "com.amazonaws.inspectorscan#ScanSbom"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Inspector Scan",
          "arnNamespace": "inspector-scan",
          "cloudTrailEventSource": "inspector-scan.amazonaws.com",
          "cloudFormationName": "InspectorScan"
        },
        "aws.auth#sigv4": {
          "name": "inspector-scan"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Amazon Inspector Scan is a vulnerability discovery service that scans a provided Software Bill of Materials (SBOM) for security vulnerabilities.</p>",
        "smithy.api#title": "Inspector Scan",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://inspector-scan-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://inspector-scan-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://inspector-scan.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://inspector-scan.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://inspector-scan.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.inspectorscan#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.inspectorscan#InternalServerExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the validation failure.</p>",
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.inspectorscan#InternalServerExceptionReason": {
      "type": "enum",
      "members": {
        "FAILED_TO_GENERATE_SBOM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED_TO_GENERATE_SBOM"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    },
    "com.amazonaws.inspectorscan#OutputFormat": {
      "type": "enum",
      "members": {
        "CYCLONE_DX_1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CYCLONE_DX_1_5"
          }
        },
        "INSPECTOR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSPECTOR"
          }
        },
        "INSPECTOR_ALT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSPECTOR_ALT"
          }
        }
      }
    },
    "com.amazonaws.inspectorscan#Sbom": {
      "type": "document"
    },
    "com.amazonaws.inspectorscan#ScanSbom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.inspectorscan#ScanSbomRequest"
      },
      "output": {
        "target": "com.amazonaws.inspectorscan#ScanSbomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.inspectorscan#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.inspectorscan#InternalServerException"
        },
        {
          "target": "com.amazonaws.inspectorscan#ThrottlingException"
        },
        {
          "target": "com.amazonaws.inspectorscan#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Scans a provided CycloneDX 1.5 SBOM and reports on any vulnerabilities discovered in that SBOM. You can generate compatible SBOMs for your resources using the <a href=\"https://docs.aws.amazon.com/inspector/latest/user/sbom-generator.html\">Amazon Inspector SBOM generator</a>.</p> <note> <p> The output of this action reports NVD and CVSS scores when NVD and CVSS scores are available. Because the output reports both scores, you might notice a discrepency between them. However, you can triage the severity of either score depending on the vendor of your choosing. </p> </note>",
        "smithy.api#examples": [
          {
            "title": "Sample ScanSbom Call",
            "input": {
              "outputFormat": "CYCLONE_DX_1_5",
              "sbom": {
                "bomFormat": "CycloneDX",
                "specVersion": "1.5",
                "components": [
                  {
                    "type": "library",
                    "name": "log4j-core",
                    "purl": "pkg:maven/org.apache.logging.log4j/log4j-core@2.17.0"
                  }
                ]
              }
            },
            "output": {
              "sbom": {
                "specVersion": "1.5",
                "metadata": {
                  "tools": [
                    {
                      "vendor": "Amazon Inspector",
                      "name": "CycloneDX SBOM API",
                      "version": "9f8c30ff+20b2305b"
                    }
                  ],
                  "properties": [
                    {
                      "name": "amazon:inspector:sbom_scanner:critical_vulnerabilities",
                      "value": "0"
                    },
                    {
                      "name": "amazon:inspector:sbom_scanner:high_vulnerabilities",
                      "value": "0"
                    },
                    {
                      "name": "amazon:inspector:sbom_scanner:medium_vulnerabilities",
                      "value": "1"
                    },
                    {
                      "name": "amazon:inspector:sbom_scanner:low_vulnerabilities",
                      "value": "0"
                    }
                  ],
                  "timestamp": "2023-11-16T02:55:34.355Z"
                },
                "components": [
                  {
                    "bom-ref": "comp-1",
                    "name": "log4j-core",
                    "purl": "pkg:maven/org.apache.logging.log4j/log4j-core@2.17.0",
                    "type": "library"
                  }
                ],
                "serialNumber": "urn:uuid:26de5e0a-deb4-4b38-a208-7d19c1832e8c",
                "bomFormat": "CycloneDX",
                "vulnerabilities": [
                  {
                    "advisories": [
                      {
                        "url": "https://www.oracle.com/security-alerts/cpujan2022.html"
                      },
                      {
                        "url": "https://lists.debian.org/debian-lts-announce/2021/12/msg00036.html"
                      },
                      {
                        "url": "https://cert-portal.siemens.com/productcert/pdf/ssa-784507.pdf"
                      },
                      {
                        "url": "https://lists.apache.org/thread/s1o5vlo78ypqxnzn6p8zf6t9shtq5143"
                      },
                      {
                        "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/EVV25FXL4FU5X6X5BSL7RLQ7T6F65MRA/"
                      },
                      {
                        "url": "https://www.oracle.com/security-alerts/cpuapr2022.html"
                      },
                      {
                        "url": "https://www.oracle.com/security-alerts/cpujul2022.html"
                      },
                      {
                        "url": "https://tools.cisco.com/security/center/content/CiscoSecurityAdvisory/cisco-sa-apache-log4j-qRuKNEbd"
                      },
                      {
                        "url": "https://lists.fedoraproject.org/archives/list/package-announce@lists.fedoraproject.org/message/T57MPJUW3MA6QGWZRTMCHHMMPQNVKGFC/"
                      },
                      {
                        "url": "https://issues.apache.org/jira/browse/LOG4J2-3293"
                      }
                    ],
                    "bom-ref": "vuln-1",
                    "references": [
                      {
                        "id": "GHSA-8489-44mv-ggj8",
                        "source": {
                          "name": "GITHUB_SEC",
                          "url": "https://github.com/advisories"
                        }
                      },
                      {
                        "id": "SNYK-JAVA-ORGAPACHELOGGINGLOG4J-2327339",
                        "source": {
                          "name": "SNYK",
                          "url": "https://security.snyk.io/vuln"
                        }
                      }
                    ],
                    "ratings": [
                      {
                        "severity": "medium",
                        "score": 6.5,
                        "method": "CVSSv31",
                        "vector": "CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:U/C:H/I:H/A:H",
                        "source": {
                          "name": "NVD",
                          "url": "https://nvd.nist.gov/vuln/detail/CVE-2021-44832"
                        }
                      },
                      {
                        "severity": "none",
                        "score": 0.02686,
                        "method": "other",
                        "vector": "model:v2023.03.01,date:2023-11-15T00:00:00+0000",
                        "source": {
                          "name": "EPSS",
                          "url": "https://www.first.org/epss/"
                        }
                      }
                    ],
                    "created": "2021-12-28T20:15:08Z",
                    "description": "Apache Log4j2 versions 2.0-beta7 through 2.17.0 (excluding security fix releases 2.3.2 and 2.12.4) are vulnerable to a remote code execution (RCE) attack when a configuration uses a JDBC Appender with a JNDI LDAP data source URI when an attacker has control of the target LDAP server. This issue is fixed by limiting JNDI data source names to the java protocol in Log4j2 versions 2.17.1, 2.12.4, and 2.3.2.",
                    "affects": [
                      {
                        "ref": "comp-1"
                      }
                    ],
                    "id": "CVE-2021-44832",
                    "source": {
                      "name": "NVD",
                      "url": "https://nvd.nist.gov/vuln/detail/CVE-2021-44832"
                    },
                    "cwes": [20, 74],
                    "updated": "2023-11-07T03:39:43Z",
                    "properties": [
                      {
                        "name": "amazon:inspector:sbom_scanner:exploit_available",
                        "value": "true"
                      },
                      {
                        "name": "amazon:inspector:sbom_scanner:exploit_last_seen_in_public",
                        "value": "2023-01-02T00:00:00Z"
                      },
                      {
                        "name": "amazon:inspector:sbom_scanner:fixed_version:comp-1",
                        "value": "2.17.1"
                      }
                    ]
                  }
                ]
              }
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/scan/sbom"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.inspectorscan#ScanSbomRequest": {
      "type": "structure",
      "members": {
        "sbom": {
          "target": "com.amazonaws.inspectorscan#Sbom",
          "traits": {
            "smithy.api#documentation": "<p>The JSON file for the SBOM you want to scan. The SBOM must be in CycloneDX 1.5 format. This format limits you to passing 2000 components before throwing a <code>ValidException</code> error.</p>",
            "smithy.api#required": {}
          }
        },
        "outputFormat": {
          "target": "com.amazonaws.inspectorscan#OutputFormat",
          "traits": {
            "smithy.api#documentation": "<p>The output format for the vulnerability report.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.inspectorscan#ScanSbomResponse": {
      "type": "structure",
      "members": {
        "sbom": {
          "target": "com.amazonaws.inspectorscan#Sbom",
          "traits": {
            "smithy.api#documentation": "<p>The vulnerability report for the scanned SBOM.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.inspectorscan#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429,
        "smithy.api#retryable": {
          "throttling": true
        }
      }
    },
    "com.amazonaws.inspectorscan#ValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.inspectorscan#ValidationExceptionReason",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the validation failure.</p>",
            "smithy.api#required": {}
          }
        },
        "fields": {
          "target": "com.amazonaws.inspectorscan#ValidationExceptionFields",
          "traits": {
            "smithy.api#documentation": "<p>The fields that failed validation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has failed validation due to missing required fields or having invalid inputs.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.inspectorscan#ValidationExceptionField": {
      "type": "structure",
      "members": {
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the validation exception. </p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The validation exception message. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has failed validation due to missing required fields or having invalid inputs. </p>"
      }
    },
    "com.amazonaws.inspectorscan#ValidationExceptionFields": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.inspectorscan#ValidationExceptionField"
      }
    },
    "com.amazonaws.inspectorscan#ValidationExceptionReason": {
      "type": "enum",
      "members": {
        "UNKNOWN_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN_OPERATION"
          }
        },
        "CANNOT_PARSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANNOT_PARSE"
          }
        },
        "FIELD_VALIDATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIELD_VALIDATION_FAILED"
          }
        },
        "UNSUPPORTED_SBOM_TYPE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNSUPPORTED_SBOM_TYPE"
          }
        },
        "OTHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OTHER"
          }
        }
      }
    }
  }
}
