{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.interconnect#AcceptConnectionProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#AcceptConnectionProposalRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#AcceptConnectionProposalResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "createsResources": ["connection"],
          "documentation": "Grants permission to accept a connection proposal generated elsewhere"
        },
        "smithy.api#documentation": "<p>Accepts a connection proposal which was generated at a supported partner's portal.</p> <p>The proposal contains the Environment and bandwidth that were chosen on the partner's portal and cannot be modified.</p> <p>Upon accepting the proposal a connection will be made between the AWS network as accessed via the selected Attach Point and the network previously selected network on the partner's portal.</p>",
        "smithy.api#examples": [
          {
            "title": "Accept Connection Proposal",
            "input": {
              "activationKey": "<Activation Key Data>",
              "attachPoint": {
                "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
              }
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "My MultiCloud Connection",
                "bandwidth": "1Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "pending",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.interconnect#AcceptConnectionProposalRequest": {
      "type": "structure",
      "members": {
        "attachPoint": {
          "target": "com.amazonaws.interconnect#AttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>The Attach Point to which the connection should be associated.</p>",
            "smithy.api#required": {}
          }
        },
        "activationKey": {
          "target": "com.amazonaws.interconnect#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>An Activation Key that was generated on a supported partner's portal. This key captures the desired parameters from the initial creation request.</p> <p>The details of this request can be described using with <a>DescribeConnectionProposal</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.interconnect#ConnectionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description to distinguish this <a>Connection</a>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.interconnect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags to associate with the resulting <a>Connection</a>.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token used for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#AcceptConnectionProposalResponse": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.amazonaws.interconnect#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The created <a>Connection</a> object.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The calling principal is not allowed to access the specified resource, or the resource does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.interconnect#ActivationKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.interconnect#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 59,
          "max": 150
        },
        "smithy.api#pattern": "^arn:aws[a-z-]*:interconnect:[^:]+:[0-9]{12}:connection/(mcc|lmcc)-[a-z0-9]{8}$"
      }
    },
    "com.amazonaws.interconnect#AttachPoint": {
      "type": "union",
      "members": {
        "directConnectGateway": {
          "target": "com.amazonaws.interconnect#DirectConnectGatewayAttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>Identifies an DirectConnect Gateway attach point by DirectConnectGatewayID.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>Identifies an attach point by full ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Identifies an attach point to use with a Connection.</p>"
      }
    },
    "com.amazonaws.interconnect#AttachPointDescriptor": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.interconnect#AttachPointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this AttachPoint, which will dictate the syntax of the identifier.</p> <p>Current types include:</p> <ul> <li> <p>ARN</p> </li> <li> <p>DirectConnect Gateway</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "identifier": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the specific type of the AttachPoint.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The descriptive name of the identifier attach point.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a possible Attach Point for a Connection.</p>"
      }
    },
    "com.amazonaws.interconnect#AttachPointDescriptorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.interconnect#AttachPointDescriptor"
      }
    },
    "com.amazonaws.interconnect#AttachPointType": {
      "type": "enum",
      "members": {
        "DirectConnectGateway": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DirectConnectGateway"
          }
        }
      }
    },
    "com.amazonaws.interconnect#BandwidthList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.interconnect#ConnectionBandwidth"
      }
    },
    "com.amazonaws.interconnect#Bandwidths": {
      "type": "structure",
      "members": {
        "available": {
          "target": "com.amazonaws.interconnect#BandwidthList",
          "traits": {
            "smithy.api#documentation": "<p>The list of currently available bandwidths.</p>"
          }
        },
        "supported": {
          "target": "com.amazonaws.interconnect#BandwidthList",
          "traits": {
            "smithy.api#documentation": "<p>The list of all bandwidths that this environment plans to support</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the details about the available and supported bandwidths.</p>"
      }
    },
    "com.amazonaws.interconnect#BillingTier": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 8
        }
      }
    },
    "com.amazonaws.interconnect#CloudServiceProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 32
        }
      }
    },
    "com.amazonaws.interconnect#Connection": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.interconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The short identifier of the connection object.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>An ARN of a <a>Connection</a> object.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.interconnect#ConnectionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name for the connection.</p>",
            "smithy.api#required": {}
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.interconnect#ConnectionBandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The specific selected bandwidth of this connection.</p>",
            "smithy.api#required": {}
          }
        },
        "attachPoint": {
          "target": "com.amazonaws.interconnect#AttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>The Attach Point to which the connection should be associated.\"</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The specific <a>Environment</a> this connection is placed upon.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>The provider on the remote side of this <a>Connection</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.interconnect#Location",
          "traits": {
            "smithy.api#documentation": "<p>The provider specific location on the remote side of this <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.interconnect#ProductType",
          "traits": {
            "smithy.api#documentation": "<p>The specific product type of this <a>Connection</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.interconnect#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<ul> <li> <p> <code>requested</code>: The initial state of a connection. The state will remain here until the Connection is accepted on the Partner portal.</p> </li> <li> <p> <code>pending</code>: The connection has been accepted and is being provisioned between AWS and the Partner.</p> </li> <li> <p> <code>available</code>: The connection has been fully provisioned between AWS and the Partner.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>failed</code>: The connection has failed to be created.</p> </li> <li> <p> <code>updating</code>: The connection is being updated.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "sharedId": {
          "target": "com.amazonaws.interconnect#ConnectionSharedId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier used by both AWS and the remote partner to identify the specific connection.</p>",
            "smithy.api#required": {}
          }
        },
        "billingTier": {
          "target": "com.amazonaws.interconnect#BillingTier",
          "traits": {
            "smithy.api#documentation": "<p>The billing tier this connection is currently assigned.</p>"
          }
        },
        "ownerAccount": {
          "target": "com.amazonaws.interconnect#OwnerAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The account that owns this <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "activationKey": {
          "target": "com.amazonaws.interconnect#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>The Activation Key associated to this connection.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.interconnect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags on the <a>Connection</a> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object describing the provided connectivity from the AWS region to the partner location.</p>"
      }
    },
    "com.amazonaws.interconnect#ConnectionBandwidth": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        },
        "smithy.api#pattern": "^\\d+[MG]bps$"
      }
    },
    "com.amazonaws.interconnect#ConnectionDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9_ ]+$"
      }
    },
    "com.amazonaws.interconnect#ConnectionId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "^(mcc|lmcc)-[a-z0-9]{8}$"
      }
    },
    "com.amazonaws.interconnect#ConnectionResource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.interconnect#ConnectionId"
        }
      },
      "create": {
        "target": "com.amazonaws.interconnect#CreateConnection"
      },
      "read": {
        "target": "com.amazonaws.interconnect#GetConnection"
      },
      "update": {
        "target": "com.amazonaws.interconnect#UpdateConnection"
      },
      "delete": {
        "target": "com.amazonaws.interconnect#DeleteConnection"
      },
      "list": {
        "target": "com.amazonaws.interconnect#ListConnections"
      },
      "traits": {
        "aws.api#arn": {
          "template": "connection/{id}"
        },
        "aws.api#taggable": {},
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "connection",
          "relativeDocumentation": "Connection.html"
        }
      }
    },
    "com.amazonaws.interconnect#ConnectionSharedId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.interconnect#ConnectionState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "REQUESTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "requested"
          }
        },
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pending"
          }
        },
        "DOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "down"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleting"
          }
        },
        "DELETED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "deleted"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "failed"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "updating"
          }
        }
      }
    },
    "com.amazonaws.interconnect#ConnectionSummariesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.interconnect#ConnectionSummary"
      }
    },
    "com.amazonaws.interconnect#ConnectionSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.interconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the requested <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.interconnect#ConnectionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A descriptive name of the <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.interconnect#ConnectionBandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "attachPoint": {
          "target": "com.amazonaws.interconnect#AttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>The Attach Point to which the connection should be associated.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Environment</a> that this <a>Connection</a> is created on.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>The provider on the remote end of this <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.interconnect#Location",
          "traits": {
            "smithy.api#documentation": "<p>The provider specific location at the remote end of this <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.interconnect#ProductType",
          "traits": {
            "smithy.api#documentation": "<p>The product variant supplied by this resource.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.interconnect#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<ul> <li> <p> <code>requested</code>: The initial state of a connection. The state will remain here until the Connection is accepted on the Partner portal.</p> </li> <li> <p> <code>pending</code>: The connection has been accepted and is being provisioned between AWS and the Partner.</p> </li> <li> <p> <code>available</code>: The connection has been fully provisioned between AWS and the Partner.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>failed</code>: The connection has failed to be created.</p> </li> <li> <p> <code>updating</code>: The connection is being updated.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "sharedId": {
          "target": "com.amazonaws.interconnect#ConnectionSharedId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier used by both AWS and the remote partner to identify the specific connection.</p>",
            "smithy.api#required": {}
          }
        },
        "billingTier": {
          "target": "com.amazonaws.interconnect#BillingTier",
          "traits": {
            "smithy.api#documentation": "<p>The billing tier this connection is currently assigned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summarized view of a Connection object.</p>"
      }
    },
    "com.amazonaws.interconnect#CreateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#CreateConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#CreateConnectionResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:RequestTag/${TagKey}", "aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to create a connection"
        },
        "smithy.api#documentation": "<p>Initiates the process to create a Connection across the specified Environment. </p> <p>The Environment dictates the specified partner and location to which the other end of the connection should attach. You can see a list of the available Environments by calling <a>ListEnvironments</a> </p> <p>The Attach Point specifies where within the AWS Network your connection will logically connect.</p> <p>After a successful call to this method, the resulting <a>Connection</a> will return an Activation Key which will need to be brought to the specific partner's portal to confirm the <a>Connection</a> on both sides. (See <a>Environment$activationPageUrl</a> for a direct link to the partner portal). </p>",
        "smithy.api#examples": [
          {
            "title": "Create Connection on specific environment",
            "input": {
              "bandwidth": "1Gbps",
              "environmentId": "mce-aws-acme-1",
              "remoteAccount": {
                "identifier": "PartnerAccountDetails"
              },
              "attachPoint": {
                "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
              }
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "My MultiCloud Connection",
                "bandwidth": "1Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "requested",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.interconnect#CreateConnectionRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.interconnect#ConnectionDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description to distinguish this <a>Connection</a>.</p>"
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.interconnect#ConnectionBandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The desired bandwidth of the requested <a>Connection</a> </p>",
            "smithy.api#required": {}
          }
        },
        "attachPoint": {
          "target": "com.amazonaws.interconnect#AttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>The Attach Point to which the connection should be associated.\"</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>Environment</a> across which this <a>Connection</a> should be created.</p> <p>The available <a>Environment</a> objects can be determined using <a>ListEnvironments</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "remoteAccount": {
          "target": "com.amazonaws.interconnect#RemoteAccountIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Account and/or principal identifying information that can be verified by the partner of this specific Environment.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.interconnect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tag to associate with the resulting <a>Connection</a>.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token used for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#CreateConnectionResponse": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.amazonaws.interconnect#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The resulting <a>Connection</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#DeleteConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#DeleteConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#DeleteConnectionResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "resources": {
            "required": {
              "connection": {}
            }
          },
          "documentation": "Grants permission to delete an existing connection"
        },
        "smithy.api#documentation": "<p>Deletes an existing Connection with the supplied identifier.</p> <p>This operation will also inform the remote partner of your intention to delete your connection. Note, the partner may still require you to delete to fully clean up resources, but the network connectivity provided by the <a>Connection</a> will cease to exist.</p>",
        "smithy.api#examples": [
          {
            "title": "Delete Connection",
            "input": {
              "identifier": "mcc-abc12345"
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "changed Description",
                "bandwidth": "2Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "deleting",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.interconnect#DeleteConnectionRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.interconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>Connection</a> to be deleted. </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "id"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token used for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#DeleteConnectionResponse": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.amazonaws.interconnect#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Connection</a> object that has been marked for deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#DescribeConnectionProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#DescribeConnectionProposalRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#DescribeConnectionProposalResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to describe a connection proposal"
        },
        "smithy.api#documentation": "<p>Describes the details of a connection proposal generated at a partner's portal.</p>",
        "smithy.api#examples": [
          {
            "title": "Describe Connection Proposal",
            "input": {
              "activationKey": "<Activation Key Data>"
            },
            "output": {
              "bandwidth": "1Gbps",
              "environmentId": "mce-aws-acme-1",
              "provider": {
                "cloudServiceProvider": "acme"
              },
              "location": "acme-east"
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.interconnect#DescribeConnectionProposalRequest": {
      "type": "structure",
      "members": {
        "activationKey": {
          "target": "com.amazonaws.interconnect#ActivationKey",
          "traits": {
            "smithy.api#documentation": "<p>An Activation Key that was generated on a supported partner's portal. This key captures the desired parameters from the initial creation request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#DescribeConnectionProposalResponse": {
      "type": "structure",
      "members": {
        "bandwidth": {
          "target": "com.amazonaws.interconnect#ConnectionBandwidth",
          "traits": {
            "smithy.api#documentation": "<p>The bandwidth of the proposed <a>Connection</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>Environment</a> upon which the <a>Connection</a> would be placed if this proposal were accepted.</p>",
            "smithy.api#required": {}
          }
        },
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>The partner provider of the specific <a>Environment</a> of the proposal.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.interconnect#Location",
          "traits": {
            "smithy.api#documentation": "<p>The partner specific location distinguisher of the specific <a>Environment</a> of the proposal.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#DirectConnectGatewayAttachPoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
      }
    },
    "com.amazonaws.interconnect#Environment": {
      "type": "structure",
      "members": {
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>The provider on the remote side of this <a>Connection</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "location": {
          "target": "com.amazonaws.interconnect#Location",
          "traits": {
            "smithy.api#documentation": "<p>The provider specific location on the remote side of this <a>Connection</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of this <a>Environment</a> </p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.interconnect#EnvironmentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the <a>Environment</a>. Possible values:</p> <ul> <li> <p> <code>available</code>: The environment is available and new <a>Connection</a> objects can be requested.</p> </li> <li> <p> <code>limited</code>: The environment is available, but overall capacity is limited. The set of available bandwidths </p> </li> <li> <p> <code>unavailable</code>: The environment is currently unavailable.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "bandwidths": {
          "target": "com.amazonaws.interconnect#Bandwidths",
          "traits": {
            "smithy.api#documentation": "<p>The sets of bandwidths that are available and supported on this environment.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.interconnect#ProductType",
          "traits": {
            "smithy.api#documentation": "<p>The specific product type of <a>Connection</a> objects provided by this <a>Environment</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "activationPageUrl": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An HTTPS URL on the remote partner portal where the Activation Key should be brought to complete the creation process.</p>"
          }
        },
        "remoteIdentifierType": {
          "target": "com.amazonaws.interconnect#RemoteAccountIdentifierType",
          "traits": {
            "smithy.api#documentation": "<p>The type of identifying information that should be supplied to the <code>remoteAccount</code> parameter of a <a>CreateConnection</a> call for this specific Environment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the logical topology that an AWS Interconnect Connection is created upon.</p> <p>Specifically, an Environment defines the partner The remote Cloud Service Provider of this resource. or The remote Last Mile Provider of this resource. and the region or location specification to which an AWS Interconnect Connection can be made.</p>"
      }
    },
    "com.amazonaws.interconnect#EnvironmentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.interconnect#EnvironmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.interconnect#Environment"
      }
    },
    "com.amazonaws.interconnect#EnvironmentResource": {
      "type": "resource",
      "identifiers": {
        "id": {
          "target": "com.amazonaws.interconnect#EnvironmentId"
        }
      },
      "read": {
        "target": "com.amazonaws.interconnect#GetEnvironment"
      },
      "list": {
        "target": "com.amazonaws.interconnect#ListEnvironments"
      },
      "traits": {
        "aws.api#arn": {
          "template": "environment/{id}"
        },
        "aws.iam#disableConditionKeyInference": {},
        "aws.iam#iamResource": {
          "name": "environment",
          "relativeDocumentation": "Environment.html"
        }
      }
    },
    "com.amazonaws.interconnect#EnvironmentState": {
      "type": "enum",
      "members": {
        "AVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "available"
          }
        },
        "LIMITED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "limited"
          }
        },
        "UNAVAILABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "unavailable"
          }
        }
      }
    },
    "com.amazonaws.interconnect#GetConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#GetConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#GetConnectionResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "resources": {
            "required": {
              "connection": {}
            }
          },
          "documentation": "Grants permission to describe a connection"
        },
        "smithy.api#documentation": "<p>Describes the current state of a Connection resource as specified by the identifier. </p>",
        "smithy.api#examples": [
          {
            "title": "Get connection",
            "input": {
              "identifier": "mcc-abc12345"
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "My MultiCloud Connection",
                "bandwidth": "1Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "available",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          }
        ],
        "smithy.api#readonly": {},
        "smithy.waiters#waitable": {
          "ConnectionAvailable": {
            "minDelay": 30,
            "maxDelay": 120,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "connection.state",
                    "expected": "available",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "connection.state",
                    "expected": "deleted",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "connection.state",
                    "expected": "down",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          },
          "ConnectionDeleted": {
            "minDelay": 30,
            "maxDelay": 120,
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "connection.state",
                    "expected": "deleted",
                    "comparator": "stringEquals"
                  }
                }
              }
            ]
          }
        }
      }
    },
    "com.amazonaws.interconnect#GetConnectionRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.interconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the requested <a>Connection</a> </p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "id"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#GetConnectionResponse": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.amazonaws.interconnect#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The existing <a>Connection</a> resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#GetEnvironment": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#GetEnvironmentRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#GetEnvironmentResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to describe an environment"
        },
        "smithy.api#documentation": "<p>Describes a specific <a>Environment</a> </p>",
        "smithy.api#examples": [
          {
            "title": "Get a specific environment",
            "input": {
              "id": "mce-aws-acme-1"
            },
            "output": {
              "environment": {
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "state": "available",
                "type": "Multicloud",
                "bandwidths": {
                  "available": ["1Gbps"],
                  "supported": ["1Gbps", "2Gbps"]
                }
              }
            }
          }
        ],
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetEnvironmentFailure",
            "params": {
              "id": "mce-nonexistent"
            },
            "expect": {
              "failure": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "useDualstack": true
            }
          }
        ]
      }
    },
    "com.amazonaws.interconnect#GetEnvironmentRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the specific <a>Environment</a> to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#GetEnvironmentResponse": {
      "type": "structure",
      "members": {
        "environment": {
          "target": "com.amazonaws.interconnect#Environment",
          "traits": {
            "smithy.api#documentation": "<p>The requested <a>Environment</a> structure.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#Interconnect": {
      "type": "service",
      "version": "2022-07-26",
      "operations": [
        {
          "target": "com.amazonaws.interconnect#AcceptConnectionProposal"
        },
        {
          "target": "com.amazonaws.interconnect#DescribeConnectionProposal"
        },
        {
          "target": "com.amazonaws.interconnect#ListAttachPoints"
        },
        {
          "target": "com.amazonaws.interconnect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.interconnect#TagResource"
        },
        {
          "target": "com.amazonaws.interconnect#UntagResource"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.interconnect#ConnectionResource"
        },
        {
          "target": "com.amazonaws.interconnect#EnvironmentResource"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.interconnect#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.interconnect#InterconnectClientException"
        },
        {
          "target": "com.amazonaws.interconnect#InterconnectServerException"
        },
        {
          "target": "com.amazonaws.interconnect#InterconnectValidationException"
        },
        {
          "target": "com.amazonaws.interconnect#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.interconnect#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.interconnect#ThrottlingException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Interconnect",
          "arnNamespace": "interconnect"
        },
        "aws.api#tagEnabled": {},
        "aws.auth#sigv4": {
          "name": "interconnect"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.iam#defineConditionKeys": {
          "aws:ResourceTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair of a resource",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-resourcetag"
          },
          "aws:RequestTag/${TagKey}": {
            "type": "String",
            "documentation": "Filters access by a tag key and value pair that is allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-requesttag"
          },
          "aws:TagKeys": {
            "type": "ArrayOfString",
            "documentation": "Filters access by a list of tag keys that are allowed in the request",
            "externalDocumentation": "${DocHomeURL}IAM/latest/UserGuide/reference_policies_condition-keys.html#condition-keys-tagkeys"
          }
        },
        "aws.iam#supportedPrincipalTypes": ["Root", "IAMUser", "IAMRole", "FederatedUser"],
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Provides managed connections between your AWS network resources and select partner network resources.</p>",
        "smithy.api#title": "Interconnect",
        "smithy.protocols#rpcv2Cbor": {},
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://interconnect-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://interconnect.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://interconnect.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.interconnect#InterconnectClientException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to incorrect client supplied parameters.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.interconnect#InterconnectServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request resulted in an exception internal to the service.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.interconnect#InterconnectValidationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input fails to satisfy the constraints specified.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.interconnect#LastMileProvider": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 32
        }
      }
    },
    "com.amazonaws.interconnect#ListAttachPoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#ListAttachPointsRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#ListAttachPointsResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list available attach points"
        },
        "smithy.api#documentation": "<p>Lists all Attach Points the caller has access to that are valid for the specified <a>Environment</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "List Attach Points",
            "input": {
              "environmentId": "mce-aws-acme-1"
            },
            "output": {
              "attachPoints": [
                {
                  "type": "DirectConnectGateway",
                  "identifier": "90392BE3-219C-47FD-BBA5-03DF76D2542A",
                  "name": "My DirectConnectGateway"
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "attachPoints"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.interconnect#ListAttachPointsRequest": {
      "type": "structure",
      "members": {
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>Environment</a> for which to list valid Attach Points.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.interconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The max number of list results in a single paginated response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.interconnect#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token from a previous paginated response indicating you wish to get the next page.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#ListAttachPointsResponse": {
      "type": "structure",
      "members": {
        "attachPoints": {
          "target": "com.amazonaws.interconnect#AttachPointDescriptorList",
          "traits": {
            "smithy.api#documentation": "<p>The valid <a>AttachPoint</a> </p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.interconnect#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token indicating that there are more results that can be fetched.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#ListConnections": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#ListConnectionsRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#ListConnectionsResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list connections"
        },
        "smithy.api#documentation": "<p>Lists all connection objects to which the caller has access.</p> <p>Allows for optional filtering by the following properties:</p> <ul> <li> <p> <code>state</code> </p> </li> <li> <p> <code>environmentId</code> </p> </li> <li> <p> <code>provider</code> </p> </li> <li> <p> <code>attach point</code> </p> </li> </ul> <p>Only <a>Connection</a> objects matching all filters will be returned.</p>",
        "smithy.api#examples": [
          {
            "title": "List All Connections",
            "input": {},
            "output": {
              "connections": [
                {
                  "id": "mcc-abc12345",
                  "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                  "description": "My MultiCloud Connection",
                  "bandwidth": "1Gbps",
                  "attachPoint": {
                    "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                  },
                  "environmentId": "mce-aws-acme-1",
                  "provider": {
                    "cloudServiceProvider": "acme"
                  },
                  "location": "acme-east",
                  "type": "Multicloud",
                  "state": "available",
                  "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91"
                },
                {
                  "id": "lmcc-xyz98765",
                  "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/lmcc-xyz98765",
                  "description": "My LastMile  Connection",
                  "bandwidth": "1Gbps",
                  "attachPoint": {
                    "directConnectGateway": "244FB7E5-3C56-4F7D-AAB9-E35F70764154"
                  },
                  "environmentId": "mce-aws-lastmile-1",
                  "provider": {
                    "lastMileProvider": "lastmile"
                  },
                  "location": "lastmile-east",
                  "type": "LastMile",
                  "state": "pending",
                  "sharedId": "27C2CDD8-8FDF-402D-9DFF-92F66ED7C7FC"
                }
              ]
            }
          },
          {
            "title": "List Connections in available state",
            "input": {
              "state": "available"
            },
            "output": {
              "connections": [
                {
                  "id": "mcc-abc12345",
                  "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                  "description": "My MultiCloud Connection",
                  "bandwidth": "1Gbps",
                  "attachPoint": {
                    "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                  },
                  "environmentId": "mce-aws-acme-1",
                  "provider": {
                    "cloudServiceProvider": "acme"
                  },
                  "location": "acme-east",
                  "type": "Multicloud",
                  "state": "available",
                  "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91"
                }
              ]
            }
          },
          {
            "title": "List Connections on specific Environment",
            "input": {
              "environmentId": "mce-aws-acme-1"
            },
            "output": {
              "connections": [
                {
                  "id": "lmcc-xyz98765",
                  "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/lmcc-xyz98765",
                  "description": "My LastMile  Connection",
                  "bandwidth": "1Gbps",
                  "attachPoint": {
                    "directConnectGateway": "244FB7E5-3C56-4F7D-AAB9-E35F70764154"
                  },
                  "environmentId": "mce-aws-lastmile-1",
                  "provider": {
                    "lastMileProvider": "lastmile"
                  },
                  "location": "lastmile-east",
                  "type": "LastMile",
                  "state": "pending",
                  "sharedId": "27C2CDD8-8FDF-402D-9DFF-92F66ED7C7FC"
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "connections"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.interconnect#ListConnectionsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.interconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The max number of list results in a single paginated response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.interconnect#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token from a previous paginated response indicating you wish to get the next page of results.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.interconnect#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>Filter the results to only include <a>Connection</a> objects in the given <a>Connection$state</a>.</p>"
          }
        },
        "environmentId": {
          "target": "com.amazonaws.interconnect#EnvironmentId",
          "traits": {
            "smithy.api#documentation": "<p>Filter the results to only include <a>Connection</a> objects on the given <a>Environment</a>.</p>"
          }
        },
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>Filter the results to only include <a>Connection</a> objects to the given <a>Provider</a>.</p>"
          }
        },
        "attachPoint": {
          "target": "com.amazonaws.interconnect#AttachPoint",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include <a>Connection</a> objects attached to the given <a>AttachPoint</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#ListConnectionsResponse": {
      "type": "structure",
      "members": {
        "connections": {
          "target": "com.amazonaws.interconnect#ConnectionSummariesList",
          "traits": {
            "smithy.api#documentation": "<p>The resulting list of <a>Connection</a> objects.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.interconnect#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token for use in subsequent calls to fetch the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#ListEnvironments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#ListEnvironmentsRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#ListEnvironmentsResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list available environments"
        },
        "smithy.api#documentation": "<p>Lists all of the environments that can produce connections that will land in the called AWS region.</p>",
        "smithy.api#examples": [
          {
            "title": "List All Environments",
            "input": {},
            "output": {
              "environments": [
                {
                  "environmentId": "mce-aws-acme-1",
                  "provider": {
                    "cloudServiceProvider": "acme"
                  },
                  "location": "acme-east",
                  "state": "available",
                  "type": "Multicloud",
                  "bandwidths": {
                    "available": ["1Gbps"],
                    "supported": ["1Gbps", "2Gbps"]
                  }
                },
                {
                  "environmentId": "mce-aws-lastmile-1",
                  "provider": {
                    "cloudServiceProvider": "acme"
                  },
                  "location": "lastmile-east",
                  "state": "available",
                  "type": "LastMile",
                  "bandwidths": {
                    "available": ["1Gbps"],
                    "supported": ["1Gbps", "2Gbps"]
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "environments"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListEnvironmentSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "useDualstack": true
            }
          }
        ]
      }
    },
    "com.amazonaws.interconnect#ListEnvironmentsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.interconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The max number of list results in a single paginated response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.interconnect#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token from a previous paginated response indicating you wish to get the next page of results.</p>"
          }
        },
        "provider": {
          "target": "com.amazonaws.interconnect#Provider",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include <a>Environment</a> objects that connect to the <a>Provider</a>.</p>"
          }
        },
        "location": {
          "target": "com.amazonaws.interconnect#Location",
          "traits": {
            "smithy.api#documentation": "<p>Filter results to only include <a>Environment</a> objects that connect to a given location distiguisher.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#ListEnvironmentsResponse": {
      "type": "structure",
      "members": {
        "environments": {
          "target": "com.amazonaws.interconnect#EnvironmentList",
          "traits": {
            "smithy.api#documentation": "<p>The list of matching <a>Environment</a> objects.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token for use in subsequent calls to fetch the next page of results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#ListTagsForResourceResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "documentation": "Grants permission to list tags on a resource"
        },
        "smithy.api#documentation": "<p>List all current tags on the specified resource. Currently this supports <a>Connection</a> resources. </p>",
        "smithy.api#examples": [
          {
            "title": "List Tags",
            "input": {
              "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345"
            },
            "output": {
              "tags": {
                "TagKey1": "TagValue1",
                "TagKey2": "TagValue2"
              }
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.interconnect#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN for which to list tags. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.interconnect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags on the specified ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#Location": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 255
        }
      }
    },
    "com.amazonaws.interconnect#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.interconnect#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.interconnect#OwnerAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.interconnect#ProductType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 32
        }
      }
    },
    "com.amazonaws.interconnect#Provider": {
      "type": "union",
      "members": {
        "cloudServiceProvider": {
          "target": "com.amazonaws.interconnect#CloudServiceProvider",
          "traits": {
            "smithy.api#documentation": "<p>The provider's name. Specifically, connections to/from this Cloud Service Provider will be considered Multicloud connections.</p>"
          }
        },
        "lastMileProvider": {
          "target": "com.amazonaws.interconnect#LastMileProvider",
          "traits": {
            "smithy.api#documentation": "<p>The provider's name. Specifically, connections to/from this Last Mile Provider will be considered LastMile connections.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the respective AWS Interconnect Partner organization.</p>"
      }
    },
    "com.amazonaws.interconnect#RemoteAccountIdentifier": {
      "type": "union",
      "members": {
        "identifier": {
          "target": "com.amazonaws.interconnect#RemoteOwnerAccount",
          "traits": {
            "smithy.api#documentation": "<p>A generic bit of identifying information. Can be used in place of any of the more specific types.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The types of identifiers that may be needed for remote account specification.</p>"
      }
    },
    "com.amazonaws.interconnect#RemoteAccountIdentifierType": {
      "type": "enum",
      "members": {
        "ACCOUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "account"
          }
        },
        "EMAIL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "email"
          }
        }
      }
    },
    "com.amazonaws.interconnect#RemoteOwnerAccount": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9_@\\.]+$"
      }
    },
    "com.amazonaws.interconnect#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request specifies a resource that does not exist on the server.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.interconnect#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested operation would result in the calling principal exceeding their allotted quota.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.interconnect#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.interconnect#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.interconnect#TagKey"
      }
    },
    "com.amazonaws.interconnect#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.interconnect#TagKey"
      },
      "value": {
        "target": "com.amazonaws.interconnect#TagValue"
      }
    },
    "com.amazonaws.interconnect#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#TagResourceResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to apply tags to a resource"
        },
        "smithy.api#documentation": "<p>Add new tags to the specified resource.</p>",
        "smithy.api#examples": [
          {
            "title": "Apply Tags",
            "input": {
              "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
              "tags": {
                "TagKey1": "TagValue1",
                "TagKey2": "TagValue2"
              }
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.interconnect#TagResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource that should receive the new tags.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.interconnect#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags to apply to the specified resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.interconnect#ConnectionResource",
            "ids": {
              "id": "arn"
            }
          }
        ]
      }
    },
    "com.amazonaws.interconnect#TagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.interconnect#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.interconnect#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#UntagResourceResponse"
      },
      "traits": {
        "aws.iam#conditionKeys": ["aws:TagKeys"],
        "aws.iam#iamAction": {
          "documentation": "Grants permission to remove tags from a resource"
        },
        "smithy.api#documentation": "<p>Removes tags from the specified resource.</p>",
        "smithy.api#examples": [
          {
            "title": "Remove Tags",
            "input": {
              "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
              "tagKeys": ["TagKey1", "TagKey2"]
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.interconnect#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.interconnect#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource from which the specified tags should be removed.</p>",
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.interconnect#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The list of tag keys that should be removed from the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {},
        "smithy.api#references": [
          {
            "resource": "com.amazonaws.interconnect#ConnectionResource",
            "ids": {
              "id": "arn"
            }
          }
        ]
      }
    },
    "com.amazonaws.interconnect#UntagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.interconnect#UpdateConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.interconnect#UpdateConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.interconnect#UpdateConnectionResponse"
      },
      "traits": {
        "aws.iam#iamAction": {
          "resources": {
            "required": {
              "connection": {}
            }
          },
          "documentation": "Grants permission to update an existing connection"
        },
        "smithy.api#documentation": "<p>Modifies an existing connection. Currently we support modifications to the connection's description and/or bandwidth.</p>",
        "smithy.api#examples": [
          {
            "title": "Update Connection Description",
            "input": {
              "identifier": "mcc-abc12345",
              "description": "Changed Description"
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "changed Description",
                "bandwidth": "1Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "available",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          },
          {
            "title": "Update Connection Bandwidth",
            "input": {
              "identifier": "mcc-abc12345",
              "bandwidth": "2Gbps"
            },
            "output": {
              "connection": {
                "id": "mcc-abc12345",
                "arn": "arn:aws:interconnect:us-east-1:000000000000:connection/mcc-abc12345",
                "description": "changed Description",
                "bandwidth": "2Gbps",
                "attachPoint": {
                  "directConnectGateway": "90392BE3-219C-47FD-BBA5-03DF76D2542A"
                },
                "environmentId": "mce-aws-acme-1",
                "provider": {
                  "cloudServiceProvider": "acme"
                },
                "location": "acme-east",
                "type": "Multicloud",
                "state": "updating",
                "sharedId": "B0615F4D-E588-47AD-9D04-1449EAA61C91",
                "ownerAccount": "000000000000",
                "activationKey": "<Activation Key Data>"
              }
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.interconnect#UpdateConnectionRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.interconnect#ConnectionId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the <a>Connection</a> that should be updated.</p>",
            "smithy.api#required": {},
            "smithy.api#resourceIdentifier": "id"
          }
        },
        "description": {
          "target": "com.amazonaws.interconnect#ConnectionDescription",
          "traits": {
            "smithy.api#documentation": "<p>An updated description to apply to the <a>Connection</a> </p>"
          }
        },
        "bandwidth": {
          "target": "com.amazonaws.interconnect#ConnectionBandwidth",
          "traits": {
            "smithy.api#documentation": "<p>Request a new bandwidth size on the given <a>Connection</a>.</p> <p>Note that changes to the size may be subject to additional policy, and does require the remote partner provider to acknowledge and permit this new bandwidth size.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Idempotency token used for the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.interconnect#UpdateConnectionResponse": {
      "type": "structure",
      "members": {
        "connection": {
          "target": "com.amazonaws.interconnect#Connection",
          "traits": {
            "smithy.api#documentation": "<p>The resulting updated <a>Connection</a> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    }
  }
}
