{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.invoicing#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        },
        "resourceName": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>You don't have sufficient access to perform this action. </p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingAccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.invoicing#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#AccountIdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.invoicing#AccountIdString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.invoicing#AmountBreakdown": {
      "type": "structure",
      "members": {
        "SubTotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The total of a set of the breakdown. </p>"
          }
        },
        "Discounts": {
          "target": "com.amazonaws.invoicing#DiscountsBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The discounted amount. </p>"
          }
        },
        "Taxes": {
          "target": "com.amazonaws.invoicing#TaxesBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The tax amount. </p>"
          }
        },
        "Fees": {
          "target": "com.amazonaws.invoicing#FeesBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The fee amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about how the total amount was calculated and categorized. </p>"
      }
    },
    "com.amazonaws.invoicing#AsOfTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.invoicing#BasicString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.invoicing#BasicStringWithoutSpace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#BatchGetInvoiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#BatchGetInvoiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This gets the invoice profile associated with a set of accounts. The accounts must be linked accounts under the requester management account organization.</p>",
        "smithy.api#examples": [
          {
            "title": "BatchGetInvoiceProfile",
            "input": {
              "AccountIds": ["111111111111"]
            },
            "output": {
              "Profiles": [
                {
                  "AccountId": "111111111111",
                  "Issuer": "Test",
                  "ReceiverAddress": {
                    "AddressLine1": "Test",
                    "City": "Test",
                    "CountryCode": "LU",
                    "PostalCode": "Test",
                    "StateOrRegion": "Test"
                  },
                  "ReceiverEmail": "test@amazon.com",
                  "ReceiverName": "TestAccount"
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfileRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the corresponding invoice profile data for these account IDs. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfileResponse": {
      "type": "structure",
      "members": {
        "Profiles": {
          "target": "com.amazonaws.invoicing#ProfileList",
          "traits": {
            "smithy.api#documentation": "<p> A list of invoice profiles corresponding to the requested accounts. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#BillingPeriod": {
      "type": "structure",
      "members": {
        "Month": {
          "target": "com.amazonaws.invoicing#Month",
          "traits": {
            "smithy.api#documentation": "<p> The billing period month. </p>",
            "smithy.api#required": {}
          }
        },
        "Year": {
          "target": "com.amazonaws.invoicing#Year",
          "traits": {
            "smithy.api#documentation": "<p> The billing period year. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The billing period for which you want to retrieve invoice-related documents. </p>"
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#CreateInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#CreateInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This creates a new invoice unit with the provided definition.</p>",
        "smithy.api#examples": [
          {
            "title": "CreateInvoiceUnit",
            "input": {
              "Name": "Example Invoice Unit",
              "InvoiceReceiver": "111111111111",
              "Description": "Example Invoice Unit Description",
              "TaxInheritanceDisabled": false,
              "Rule": {
                "LinkedAccounts": ["222222222222"]
              },
              "ResourceTags": [
                {
                  "Key": "TagKey",
                  "Value": "TagValue"
                }
              ]
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the invoice unit that is shown on the generated invoice. This can't be changed once it is set. To change this name, you must delete the invoice unit recreate. </p>",
            "smithy.api#required": {}
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID chosen to be the receiver of an invoice unit. All invoices generated for that invoice unit will be sent to this account ID. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice unit's description. This can be changed at a later time. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule",
          "traits": {
            "smithy.api#documentation": "<p>The <code>InvoiceUnitRule</code> object used to create invoice units. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.invoicing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> The tag structure that contains a tag key and value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        }
      }
    },
    "com.amazonaws.invoicing#CurrencyExchangeDetails": {
      "type": "structure",
      "members": {
        "SourceCurrencyCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The exchange source currency. </p>"
          }
        },
        "TargetCurrencyCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The exchange target currency. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The currency exchange rate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of currency exchange. </p>"
      }
    },
    "com.amazonaws.invoicing#DateInterval": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The beginning of the time period that you want invoice-related documents for. The start date is inclusive. For example, if <code>start</code> is <code>2019-01-01</code>, AWS retrieves invoices starting at <code>2019-01-01</code> up to the end date. </p>",
            "smithy.api#required": {}
          }
        },
        "EndDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The end of the time period that you want invoice-related documents for. The end date is exclusive. For example, if <code>end</code> is <code>2019-01-10</code>, Amazon Web Services retrieves invoice-related documents from the start date up to, but not including, <code>2018-01-10</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The time period that you want invoice-related documents for. </p>"
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#DeleteInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#DeleteInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This deletes an invoice unit with the provided invoice unit ARN. </p>",
        "smithy.api#examples": [
          {
            "title": "DeleteInvoiceUnit",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdown": {
      "type": "structure",
      "members": {
        "Breakdown": {
          "target": "com.amazonaws.invoicing#DiscountsBreakdownAmountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of discounts information. </p>"
          }
        },
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The discount's total amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The discounts details. </p>"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdownAmount": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The list of discounts information. </p>"
          }
        },
        "Amount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The discounted amount. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The details for the discount rate.. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The discounted amount. </p>"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdownAmountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#DiscountsBreakdownAmount"
      }
    },
    "com.amazonaws.invoicing#Entity": {
      "type": "structure",
      "members": {
        "InvoicingEntity": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that issues the Amazon Web Services invoice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The organization name providing Amazon Web Services services.</p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdown": {
      "type": "structure",
      "members": {
        "Breakdown": {
          "target": "com.amazonaws.invoicing#FeesBreakdownAmountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of fees information. </p>"
          }
        },
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The total amount of fees. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The details of fees. </p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdownAmount": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The list of fees information. </p>"
          }
        },
        "Amount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The fee amount. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> Details about the rate amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The fee amount. </p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdownAmountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#FeesBreakdownAmount"
      }
    },
    "com.amazonaws.invoicing#Filters": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.invoicing#InvoiceUnitNames",
          "traits": {
            "smithy.api#documentation": "<p> An optional input to the list API. You can specify a list of invoice unit names inside filters to return invoice units that match only the specified invoice unit names. If multiple names are provided, the result is an <code>OR</code> condition (match any) of the specified invoice unit names. </p>"
          }
        },
        "InvoiceReceivers": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> You can specify a list of Amazon Web Services account IDs inside filters to return invoice units that match only the specified accounts. If multiple accounts are provided, the result is an <code>OR</code> condition (match any) of the specified accounts. This filter only matches the specified accounts on the invoice receivers of the invoice units. </p>"
          }
        },
        "Accounts": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> You can specify a list of Amazon Web Services account IDs inside filters to return invoice units that match only the specified accounts. If multiple accounts are provided, the result is an <code>OR</code> condition (match any) of the specified accounts. The specified account IDs are matched with either the receiver or the linked accounts in the rules. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional input to the list API. If multiple filters are specified, the returned list will be a configuration that match all of the provided filters. Supported filter types are <code>InvoiceReceivers</code>, <code>Names</code>, and <code>Accounts</code>. </p>"
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#GetInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#GetInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This retrieves the invoice unit definition.</p>",
        "smithy.api#examples": [
          {
            "title": "GetInvoiceUnit as of current time",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            },
            "output": {
              "InvoiceReceiver": "111111111111",
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "LastModified": 1733788800,
              "Name": "Example Invoice Unit A",
              "Description": "Description changed on 1733788800",
              "Rule": {
                "LinkedAccounts": ["222222222222"]
              },
              "TaxInheritanceDisabled": false
            }
          },
          {
            "title": "GetInvoiceUnit as of specified time",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
              "AsOf": 1733097600
            },
            "output": {
              "InvoiceReceiver": "333333333333",
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
              "LastModified": 1733011200,
              "Name": "Example Invoice Unit B",
              "Description": "Description changed on 1733011200",
              "Rule": {
                "LinkedAccounts": ["333333333333"]
              },
              "TaxInheritanceDisabled": false
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>",
            "smithy.api#required": {}
          }
        },
        "AsOf": {
          "target": "com.amazonaws.invoicing#AsOfTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The state of an invoice unit at a specified time. You can see legacy invoice units that are currently deleted if the <code>AsOf</code> time is set to before it was deleted. If an <code>AsOf</code> is not provided, the default value is the current time. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID chosen to be the receiver of an invoice unit. All invoices generated for that invoice unit will be sent to this account ID. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the invoice unit that is shown on the generated invoice. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p> The assigned description for an invoice unit. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p> Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule"
        },
        "LastModified": {
          "target": "com.amazonaws.invoicing#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The most recent date the invoice unit response was updated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#InternalServerException": {
      "type": "structure",
      "members": {
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The processing request failed because of an unknown error, exception, or failure.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingInternalServer",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>The processing request failed because of an unknown error, exception, or failure. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.invoicing#InvoiceCurrencyAmount": {
      "type": "structure",
      "members": {
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice currency amount. </p>"
          }
        },
        "TotalAmountBeforeTax": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> Details about the invoice total amount before tax. </p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.invoicing#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The currency dominion of the invoice document.</p>"
          }
        },
        "AmountBreakdown": {
          "target": "com.amazonaws.invoicing#AmountBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> Details about the invoice currency amount. </p>"
          }
        },
        "CurrencyExchangeDetails": {
          "target": "com.amazonaws.invoicing#CurrencyExchangeDetails",
          "traits": {
            "smithy.api#documentation": "<p> The details of currency exchange. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The amount charged after taxes, in the preferred currency. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceProfile": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The account ID the invoice profile is generated for. </p>"
          }
        },
        "ReceiverName": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> The name of the person receiving the invoice profile. </p>"
          }
        },
        "ReceiverAddress": {
          "target": "com.amazonaws.invoicing#ReceiverAddress",
          "traits": {
            "smithy.api#documentation": "<p>The address of the receiver that will be printed on the invoice. </p>"
          }
        },
        "ReceiverEmail": {
          "target": "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the invoice profile receiver. </p>"
          }
        },
        "Issuer": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> This specifies the issuing entity of the invoice. </p>"
          }
        },
        "TaxRegistrationNumber": {
          "target": "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> Your Tax Registration Number (TRN) information. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains high-level information about the invoice receiver. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceSummary"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesFilter": {
      "type": "structure",
      "members": {
        "TimeInterval": {
          "target": "com.amazonaws.invoicing#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The date range for invoice summary retrieval. </p>"
          }
        },
        "BillingPeriod": {
          "target": "com.amazonaws.invoicing#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The billing period associated with the invoice documents. </p>"
          }
        },
        "InvoicingEntity": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that issues the Amazon Web Services invoice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Filters for your invoice summaries. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesSelector": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.invoicing#ListInvoiceSummariesResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The query identifier type (<code>INVOICE_ID</code> or <code>ACCOUNT_ID</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.invoicing#StringWithoutNewLine",
          "traits": {
            "smithy.api#documentation": "<p>The value of the query identifier.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the invoice summary.</p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummary": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID. </p>"
          }
        },
        "InvoiceId": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice ID. </p>"
          }
        },
        "IssuedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The issued date of the invoice. </p>"
          }
        },
        "DueDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The invoice due date. </p>"
          }
        },
        "Entity": {
          "target": "com.amazonaws.invoicing#Entity",
          "traits": {
            "smithy.api#documentation": "<p>The organization name providing Amazon Web Services services.</p>"
          }
        },
        "BillingPeriod": {
          "target": "com.amazonaws.invoicing#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p> The billing period of the invoice-related document. </p>"
          }
        },
        "InvoiceType": {
          "target": "com.amazonaws.invoicing#InvoiceType",
          "traits": {
            "smithy.api#documentation": "<p> The type of invoice. </p>"
          }
        },
        "OriginalInvoiceId": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The initial or original invoice ID. </p>"
          }
        },
        "PurchaseOrderNumber": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The purchase order number associated to the invoice.</p>"
          }
        },
        "BaseCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the product and service currency. </p>"
          }
        },
        "TaxCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the tax currency. </p>"
          }
        },
        "PaymentCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the customer configured currency. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The invoice that the API retrieved. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceType": {
      "type": "enum",
      "members": {
        "INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOICE"
          }
        },
        "CREDIT_MEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_MEMO"
          }
        }
      }
    },
    "com.amazonaws.invoicing#InvoiceUnit": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p>The account that receives invoices related to the invoice unit. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> A unique name that is distinctive within your Amazon Web Services. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The assigned description for an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule",
          "traits": {
            "smithy.api#documentation": "<p> An <code>InvoiceUnitRule</code> object used the categorize invoice units. </p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.invoicing#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The last time the invoice unit was updated. This is important to determine the version of invoice unit configuration used to create the invoices. Any invoice created after this modified time will use this invoice unit configuration. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invoice unit is a set of mutually exclusive accounts that correspond to your business entity. Invoice units allow you separate Amazon Web Services account costs and configures your invoice for each business entity going forward. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+$"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceUnitName"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitRule": {
      "type": "structure",
      "members": {
        "LinkedAccounts": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>LINKED_ACCOUNT</code> IDs where charges are included within the invoice unit. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> This is used to categorize the invoice unit. Values are Amazon Web Services account IDs. Currently, the only supported rule is <code>LINKED_ACCOUNT</code>. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnits": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceUnit"
      }
    },
    "com.amazonaws.invoicing#Invoicing": {
      "type": "service",
      "version": "2024-12-01",
      "operations": [
        {
          "target": "com.amazonaws.invoicing#BatchGetInvoiceProfile"
        },
        {
          "target": "com.amazonaws.invoicing#CreateInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#DeleteInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#GetInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#ListInvoiceSummaries"
        },
        {
          "target": "com.amazonaws.invoicing#ListInvoiceUnits"
        },
        {
          "target": "com.amazonaws.invoicing#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.invoicing#TagResource"
        },
        {
          "target": "com.amazonaws.invoicing#UntagResource"
        },
        {
          "target": "com.amazonaws.invoicing#UpdateInvoiceUnit"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Invoicing",
          "arnNamespace": "invoicing",
          "endpointPrefix": "invoicing",
          "docId": "invoicing-2024-12-01",
          "cloudTrailEventSource": "invoicing.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "invoicing"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p> <b>Amazon Web Services Invoice Configuration</b> </p> <p>You can use Amazon Web Services Invoice Configuration APIs to programmatically create, update, delete, get, and list invoice units. You can also programmatically fetch the information of the invoice receiver. For example, business legal name, address, and invoicing contacts. </p> <p>You can use Amazon Web Services Invoice Configuration to receive separate Amazon Web Services invoices based your organizational needs. By using Amazon Web Services Invoice Configuration, you can configure invoice units that are groups of Amazon Web Services accounts that represent your business entities, and receive separate invoices for each business entity. You can also assign a unique member or payer account as the invoice receiver for each invoice unit. As you create new accounts within your Organizations using Amazon Web Services Invoice Configuration APIs, you can automate the creation of new invoice units and subsequently automate the addition of new accounts to your invoice units.</p> <p>Service endpoint</p> <p>You can use the following endpoints for Amazon Web Services Invoice Configuration:</p> <ul> <li> <p> <code>https://invoicing.us-east-1.api.aws</code> </p> </li> </ul>",
        "smithy.api#title": "AWS Invoicing",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://invoicing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://invoicing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.invoicing#LastModifiedTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.invoicing#ListInvoiceSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#ListInvoiceSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#ListInvoiceSummariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves your invoice details programmatically, without line item details.</p>",
        "smithy.api#examples": [
          {
            "title": "ListInvoiceSummaries with InvoiceId as selector",
            "input": {
              "Selector": {
                "ResourceType": "INVOICE_ID",
                "Value": "1111111111"
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and billing period",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "BillingPeriod": {
                  "Month": 1,
                  "Year": 2025
                }
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and time interval",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "TimeInterval": {
                  "StartDate": 1590997407,
                  "EndDate": 1592639007
                }
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and a billing period and max results",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "BillingPeriod": {
                  "Month": 1,
                  "Year": 2025
                }
              },
              "MaxResults": 1
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ],
              "NextToken": "abcde12345"
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and a billing period and next token",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "BillingPeriod": {
                  "Month": 1,
                  "Year": 2025
                }
              },
              "NextToken": "abcde12345"
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "InvoiceSummaries"
        }
      }
    },
    "com.amazonaws.invoicing#ListInvoiceSummariesRequest": {
      "type": "structure",
      "members": {
        "Selector": {
          "target": "com.amazonaws.invoicing#InvoiceSummariesSelector",
          "traits": {
            "smithy.api#documentation": "<p>The option to retrieve details for a specific invoice by providing its unique ID. Alternatively, access information for all invoices linked to the account by providing an account ID.</p>",
            "smithy.api#required": {}
          }
        },
        "Filter": {
          "target": "com.amazonaws.invoicing#InvoiceSummariesFilter",
          "traits": {
            "smithy.api#documentation": "<p>Filters you can use to customize your invoice summary.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.invoicing#NextTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.invoicing#InvoiceSummariesMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of invoice summaries a paginated response can contain.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#ListInvoiceSummariesResourceType": {
      "type": "enum",
      "members": {
        "ACCOUNT_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCOUNT_ID"
          }
        },
        "INVOICE_ID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOICE_ID"
          }
        }
      }
    },
    "com.amazonaws.invoicing#ListInvoiceSummariesResponse": {
      "type": "structure",
      "members": {
        "InvoiceSummaries": {
          "target": "com.amazonaws.invoicing#InvoiceSummaries",
          "traits": {
            "smithy.api#documentation": "<p>List of key (summary level) invoice details without line item details.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.invoicing#NextTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#ListInvoiceUnits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#ListInvoiceUnitsRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#ListInvoiceUnitsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This fetches a list of all invoice unit definitions for a given account, as of the provided <code>AsOf</code> date.</p>",
        "smithy.api#examples": [
          {
            "title": "ListInvoiceUnits without filters as of current time",
            "input": {},
            "output": {
              "InvoiceUnits": [
                {
                  "InvoiceReceiver": "111111111111",
                  "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
                  "LastModified": 1733788800,
                  "Name": "Example Invoice Unit A",
                  "Description": "Description changed on 1733788800",
                  "Rule": {
                    "LinkedAccounts": ["222222222222"]
                  },
                  "TaxInheritanceDisabled": false
                },
                {
                  "InvoiceReceiver": "333333333333",
                  "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
                  "LastModified": 1733788800,
                  "Name": "Example Invoice Unit B",
                  "Description": "Description changed on 1733788800",
                  "Rule": {
                    "LinkedAccounts": ["333333333333"]
                  },
                  "TaxInheritanceDisabled": true
                }
              ]
            }
          },
          {
            "title": "ListInvoiceUnits with filters as of specified time",
            "input": {
              "AsOf": 1733097600,
              "Filters": {
                "InvoiceReceivers": ["333333333333"]
              }
            },
            "output": {
              "InvoiceUnits": [
                {
                  "InvoiceReceiver": "333333333333",
                  "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
                  "LastModified": 1733011200,
                  "Name": "Example Invoice Unit B",
                  "Description": "Description changed on 1733011200",
                  "Rule": {
                    "LinkedAccounts": ["333333333333"]
                  },
                  "TaxInheritanceDisabled": false
                }
              ]
            }
          },
          {
            "title": "ListInvoiceUnits with pagination - first page",
            "input": {
              "MaxResults": 1
            },
            "output": {
              "InvoiceUnits": [
                {
                  "InvoiceReceiver": "111111111111",
                  "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
                  "LastModified": 1733788800,
                  "Name": "Example Invoice Unit A",
                  "Description": "Description changed on 1733788800",
                  "Rule": {
                    "LinkedAccounts": ["222222222222"]
                  },
                  "TaxInheritanceDisabled": false
                }
              ],
              "NextToken": "nextTokenExample"
            }
          },
          {
            "title": "ListInvoiceUnits with pagination - second page",
            "input": {
              "MaxResults": 1,
              "NextToken": "nextTokenExample"
            },
            "output": {
              "InvoiceUnits": [
                {
                  "InvoiceReceiver": "333333333333",
                  "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
                  "LastModified": 1733788800,
                  "Name": "Example Invoice Unit B",
                  "Description": "Description changed on 1733788800",
                  "Rule": {
                    "LinkedAccounts": ["333333333333"]
                  },
                  "TaxInheritanceDisabled": true
                }
              ]
            }
          }
        ],
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults",
          "items": "InvoiceUnits"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "ListInvoiceUnitsSuccess",
            "params": {},
            "expect": {
              "success": {}
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#ListInvoiceUnitsRequest": {
      "type": "structure",
      "members": {
        "Filters": {
          "target": "com.amazonaws.invoicing#Filters",
          "traits": {
            "smithy.api#documentation": "<p> An optional input to the list API. If multiple filters are specified, the returned list will be a configuration that match all of the provided filters. Supported filter types are <code>InvoiceReceivers</code>, <code>Names</code>, and <code>Accounts</code>. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.invoicing#NextTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The next token used to indicate where the returned list should start from. </p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.invoicing#MaxResultsInteger",
          "traits": {
            "smithy.api#default": 500,
            "smithy.api#documentation": "<p>The maximum number of invoice units that can be returned. </p>"
          }
        },
        "AsOf": {
          "target": "com.amazonaws.invoicing#AsOfTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The state of an invoice unit at a specified time. You can see legacy invoice units that are currently deleted if the <code>AsOf</code> time is set to before it was deleted. If an <code>AsOf</code> is not provided, the default value is the current time. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#ListInvoiceUnitsResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnits": {
          "target": "com.amazonaws.invoicing#InvoiceUnits",
          "traits": {
            "smithy.api#documentation": "<p> An invoice unit is a set of mutually exclusive accounts that correspond to your business entity. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.invoicing#NextTokenString",
          "traits": {
            "smithy.api#documentation": "<p>The next token used to indicate where the returned list should start from. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for a resource. </p>",
        "smithy.api#examples": [
          {
            "title": "ListTagsForResource",
            "input": {
              "ResourceArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            },
            "output": {
              "ResourceTags": [
                {
                  "Key": "TagKey",
                  "Value": "TagValue"
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.invoicing#TagrisArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of tags to list. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceTags": {
          "target": "com.amazonaws.invoicing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> Adds a tag to a resource. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#MaxResultsInteger": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 500,
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.invoicing#Month": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 12
        }
      }
    },
    "com.amazonaws.invoicing#NextTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.invoicing#ProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceProfile"
      }
    },
    "com.amazonaws.invoicing#ReceiverAddress": {
      "type": "structure",
      "members": {
        "AddressLine1": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The first line of the address. </p>"
          }
        },
        "AddressLine2": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The second line of the address, if applicable. </p>"
          }
        },
        "AddressLine3": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The third line of the address, if applicable. </p>"
          }
        },
        "DistrictOrCounty": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The district or country the address is located in. </p>"
          }
        },
        "City": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The city that the address is in. </p>"
          }
        },
        "StateOrRegion": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The state, region, or province the address is located. </p>"
          }
        },
        "CountryCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The country code for the country the address is in. </p>"
          }
        },
        "CompanyName": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> A unique company name. </p>"
          }
        },
        "PostalCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The postal code associated with the address. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The details of the address associated with the receiver. </p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.invoicing#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        },
        "resourceName": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>The resource could not be found.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingResourceNotFound",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>The resource could not be found. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.invoicing#ResourceTag": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.invoicing#ResourceTagKey",
          "traits": {
            "smithy.api#documentation": "<p>The object key of your of your resource tag. </p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.invoicing#ResourceTagValue",
          "traits": {
            "smithy.api#documentation": "<p> The specific value of the resource tag. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The tag structure that contains a tag key and value. </p>"
      }
    },
    "com.amazonaws.invoicing#ResourceTagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.invoicing#ResourceTagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#ResourceTagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.invoicing#ResourceTagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#ResourceTag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.invoicing#ResourceTagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\S+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.invoicing#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingServiceQuotaExceeded",
          "httpResponseCode": 402
        },
        "smithy.api#documentation": "<p>The request was rejected because it attempted to create resources beyond the current Amazon Web Services account limits. The error message describes the limit exceeded. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.invoicing#StringWithoutNewLine": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.invoicing#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a tag to a resource. </p>",
        "smithy.api#examples": [
          {
            "title": "TagResource",
            "input": {
              "ResourceArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "ResourceTags": [
                {
                  "Key": "TagKey",
                  "Value": "TagValue"
                }
              ]
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.invoicing#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.invoicing#TagrisArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the tags. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.invoicing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> Adds a tag to a resource. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#TagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#TagrisArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:(invoicing)::[0-9]{12}:[-a-zA-Z0-9/:_]+$"
      }
    },
    "com.amazonaws.invoicing#TaxInheritanceDisabledFlag": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.invoicing#TaxesBreakdown": {
      "type": "structure",
      "members": {
        "Breakdown": {
          "target": "com.amazonaws.invoicing#TaxesBreakdownAmountList",
          "traits": {
            "smithy.api#documentation": "<p> A list of tax information. </p>"
          }
        },
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The total amount for your taxes. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The details of the taxes. </p>"
      }
    },
    "com.amazonaws.invoicing#TaxesBreakdownAmount": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The details of the taxes. </p>"
          }
        },
        "Amount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The tax amount. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The details of the tax rate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The tax amount. </p>"
      }
    },
    "com.amazonaws.invoicing#TaxesBreakdownAmountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#TaxesBreakdownAmount"
      }
    },
    "com.amazonaws.invoicing#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingThrottling",
          "httpResponseCode": 429
        },
        "smithy.api#documentation": "<p>The request was denied due to request throttling.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.invoicing#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Removes a tag from a resource. </p>",
        "smithy.api#examples": [
          {
            "title": "UntagResource",
            "input": {
              "ResourceArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "ResourceTagKeys": ["TagKey"]
            },
            "output": {}
          }
        ]
      }
    },
    "com.amazonaws.invoicing#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.invoicing#TagrisArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) to untag. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTagKeys": {
          "target": "com.amazonaws.invoicing#ResourceTagKeyList",
          "traits": {
            "smithy.api#documentation": "<p> Keys for the tags to be removed. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#UntagResourceResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#UpdateInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#UpdateInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#UpdateInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>You can update the invoice unit configuration at any time, and Amazon Web Services will use the latest configuration at the end of the month.</p>",
        "smithy.api#examples": [
          {
            "title": "UpdateInvoiceUnit with all updatable fields",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "Description": "Updated IU description",
              "TaxInheritanceDisabled": false,
              "Rule": {
                "LinkedAccounts": ["111111111111", "222222222222"]
              }
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          },
          {
            "title": "UpdateInvoiceUnit with specific fields",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "Description": "Updated IU description. All other fields remain unchanged"
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#UpdateInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN to identify an invoice unit. This information can't be modified or deleted. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The assigned description for an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "TaxInheritanceDisabled": {
[...]
