{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.invoicing#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        },
        "resourceName": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>You don't have sufficient access to perform this action. </p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingAccessDenied",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.invoicing#AccountIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#AccountIdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.invoicing#AccountIdString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^\\d{12}$"
      }
    },
    "com.amazonaws.invoicing#AmountBreakdown": {
      "type": "structure",
      "members": {
        "SubTotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The total of a set of the breakdown. </p>"
          }
        },
        "Discounts": {
          "target": "com.amazonaws.invoicing#DiscountsBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The discounted amount. </p>"
          }
        },
        "Taxes": {
          "target": "com.amazonaws.invoicing#TaxesBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The tax amount. </p>"
          }
        },
        "Fees": {
          "target": "com.amazonaws.invoicing#FeesBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> The fee amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about how the total amount was calculated and categorized. </p>"
      }
    },
    "com.amazonaws.invoicing#AsOfTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.invoicing#BasicString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.invoicing#BasicStringWithoutSpace": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#BatchGetInvoiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#BatchGetInvoiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This gets the invoice profile associated with a set of accounts. The accounts must be linked accounts under the requester management account organization.</p>",
        "smithy.api#examples": [
          {
            "title": "BatchGetInvoiceProfile",
            "input": {
              "AccountIds": ["111111111111"]
            },
            "output": {
              "Profiles": [
                {
                  "AccountId": "111111111111",
                  "Issuer": "Test",
                  "ReceiverAddress": {
                    "AddressLine1": "Test",
                    "City": "Test",
                    "CountryCode": "LU",
                    "PostalCode": "Test",
                    "StateOrRegion": "Test"
                  },
                  "ReceiverEmail": "test@amazon.com",
                  "ReceiverName": "TestAccount"
                }
              ]
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfileRequest": {
      "type": "structure",
      "members": {
        "AccountIds": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>Retrieves the corresponding invoice profile data for these account IDs. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#BatchGetInvoiceProfileResponse": {
      "type": "structure",
      "members": {
        "Profiles": {
          "target": "com.amazonaws.invoicing#ProfileList",
          "traits": {
            "smithy.api#documentation": "<p> A list of invoice profiles corresponding to the requested accounts. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#BillingPeriod": {
      "type": "structure",
      "members": {
        "Month": {
          "target": "com.amazonaws.invoicing#Month",
          "traits": {
            "smithy.api#documentation": "<p> The billing period month. </p>",
            "smithy.api#required": {}
          }
        },
        "Year": {
          "target": "com.amazonaws.invoicing#Year",
          "traits": {
            "smithy.api#documentation": "<p> The billing period year. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The billing period for which you want to retrieve invoice-related documents. </p>"
      }
    },
    "com.amazonaws.invoicing#BuyerDomain": {
      "type": "enum",
      "members": {
        "NetworkID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NetworkID"
          }
        }
      }
    },
    "com.amazonaws.invoicing#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        },
        "resourceId": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that caused the conflict.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource that caused the conflict.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingConflict",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource. This exception occurs when a concurrent modification is detected during an update operation, or when attempting to create a resource that already exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.invoicing#ConnectionTestingMethod": {
      "type": "enum",
      "members": {
        "PROD_ENV_DOLLAR_TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROD_ENV_DOLLAR_TEST"
          }
        },
        "TEST_ENV_REPLAY_TEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEST_ENV_REPLAY_TEST"
          }
        }
      }
    },
    "com.amazonaws.invoicing#Contact": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the contact person or role.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.invoicing#EmailString",
          "traits": {
            "smithy.api#documentation": "<p>The email address of the contact person or role.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents contact information for a person or role associated with the procurement portal preference.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.invoicing#Contacts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#Contact"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#CreateInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#CreateInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This creates a new invoice unit with the provided definition.</p>",
        "smithy.api#examples": [
          {
            "title": "CreateInvoiceUnit",
            "input": {
              "Name": "Example Invoice Unit",
              "InvoiceReceiver": "111111111111",
              "Description": "Example Invoice Unit Description",
              "TaxInheritanceDisabled": false,
              "Rule": {
                "LinkedAccounts": ["222222222222"]
              },
              "ResourceTags": [
                {
                  "Key": "TagKey",
                  "Value": "TagValue"
                }
              ]
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the invoice unit that is shown on the generated invoice. This can't be changed once it is set. To change this name, you must delete the invoice unit recreate. </p>",
            "smithy.api#required": {}
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID chosen to be the receiver of an invoice unit. All invoices generated for that invoice unit will be sent to this account ID. </p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice unit's description. This can be changed at a later time. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule",
          "traits": {
            "smithy.api#documentation": "<p>The <code>InvoiceUnitRule</code> object used to create invoice units. </p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.invoicing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p> The tag structure that contains a tag key and value. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#CreateInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#CreateProcurementPortalPreference": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#CreateProcurementPortalPreferenceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#CreateProcurementPortalPreferenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#ConflictException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a procurement portal preference configuration for e-invoice delivery and purchase order retrieval. This preference defines how invoices are delivered to a procurement portal and how purchase orders are retrieved.</p>",
        "smithy.api#examples": [
          {
            "title": "CreateProcurementPortalPreference for Coupa",
            "input": {
              "ProcurementPortalName": "COUPA",
              "BuyerDomain": "NetworkID",
              "BuyerIdentifier": "BuyerId_1",
              "SupplierDomain": "NetworkID",
              "SupplierIdentifier": "SupplierId_1",
              "Selector": {
                "InvoiceUnitArns": [
                  "arn:aws:invoicing::111111111111:invoice-unit/12345678",
                  "arn:aws:invoicing::111111111111:invoice-unit/12345679"
                ],
                "SellerOfRecords": ["AWS_INC", "AWS_EUROPE"]
              },
              "ProcurementPortalSharedSecret": "Coupa_Secret",
              "ProcurementPortalInstanceEndpoint": "https://www.placeholder-domain.test",
              "TestEnvPreference": {
                "BuyerDomain": "NetworkID",
                "BuyerIdentifier": "BuyerId_1_Test",
                "SupplierDomain": "NetworkID",
                "SupplierIdentifier": "SupplierId_1_Test",
                "ProcurementPortalSharedSecret": "Coupa_Secret_test",
                "ProcurementPortalInstanceEndpoint": "https://www.placeholder-domain.test"
              },
              "EinvoiceDeliveryEnabled": true,
              "EinvoiceDeliveryPreference": {
                "EinvoiceDeliveryDocumentTypes": ["AWS_CLOUD_INVOICE"],
                "EinvoiceDeliveryAttachmentTypes": ["INVOICE_PDF"],
                "Protocol": "CXML",
                "PurchaseOrderDataSources": [
                  {
                    "EinvoiceDeliveryDocumentType": "AWS_CLOUD_INVOICE",
                    "PurchaseOrderDataSourceType": "ASSOCIATED_PURCHASE_ORDER_REQUIRED"
                  }
                ],
                "ConnectionTestingMethod": "PROD_ENV_DOLLAR_TEST",
                "EinvoiceDeliveryActivationDate": 1.750279280091e9
              },
              "PurchaseOrderRetrievalEnabled": true,
              "Contacts": [
                {
                  "Name": "John Doe",
                  "Email": "example-placeholder@amazon.com"
                }
              ],
              "ResourceTags": [
                {
                  "Key": "testKey",
                  "Value": "testValue"
                }
              ],
              "ClientToken": "e362c68e-4e74-48d7-9228-0bc5aa447b42"
            },
            "output": {
              "ProcurementPortalPreferenceArn": "arn:aws:invoicing::111111111111:procurement-portal-preference/a34fd666-7810-4414-9360-aaa4bcab0abd"
            }
          }
        ],
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.invoicing#CreateProcurementPortalPreferenceRequest": {
      "type": "structure",
      "members": {
        "ProcurementPortalName": {
          "target": "com.amazonaws.invoicing#ProcurementPortalName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the procurement portal.</p>",
            "smithy.api#required": {}
          }
        },
        "BuyerDomain": {
          "target": "com.amazonaws.invoicing#BuyerDomain",
          "traits": {
            "smithy.api#documentation": "<p>The domain identifier for the buyer in the procurement portal.</p>",
            "smithy.api#required": {}
          }
        },
        "BuyerIdentifier": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the buyer in the procurement portal. </p>",
            "smithy.api#required": {}
          }
        },
        "SupplierDomain": {
          "target": "com.amazonaws.invoicing#SupplierDomain",
          "traits": {
            "smithy.api#documentation": "<p>The domain identifier for the supplier in the procurement portal.</p>",
            "smithy.api#required": {}
          }
        },
        "SupplierIdentifier": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the supplier in the procurement portal.</p>",
            "smithy.api#required": {}
          }
        },
        "Selector": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreferenceSelector"
        },
        "ProcurementPortalSharedSecret": {
          "target": "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The shared secret or authentication credential used to establish secure communication with the procurement portal. This value must be encrypted at rest.</p>"
          }
        },
        "ProcurementPortalInstanceEndpoint": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint URL where e-invoices will be delivered to the procurement portal. Must be a valid HTTPS URL.</p>"
          }
        },
        "TestEnvPreference": {
          "target": "com.amazonaws.invoicing#TestEnvPreferenceInput",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for the test environment of the procurement portal. Includes test credentials and endpoints that are used for validation before production deployment.</p>"
          }
        },
        "EinvoiceDeliveryEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether e-invoice delivery is enabled for this procurement portal preference. Set to true to enable e-invoice delivery, false to disable.</p>",
            "smithy.api#required": {}
          }
        },
        "EinvoiceDeliveryPreference": {
          "target": "com.amazonaws.invoicing#EinvoiceDeliveryPreference",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the e-invoice delivery configuration including document types, attachment types, and customization settings for the portal.</p>"
          }
        },
        "PurchaseOrderRetrievalEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether purchase order retrieval is enabled for this procurement portal preference. Set to true to enable PO retrieval, false to disable.</p>",
            "smithy.api#required": {}
          }
        },
        "Contacts": {
          "target": "com.amazonaws.invoicing#Contacts",
          "traits": {
            "smithy.api#documentation": "<p>List of contact information for portal administrators and technical contacts responsible for the e-invoice integration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceTags": {
          "target": "com.amazonaws.invoicing#ResourceTagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to apply to this procurement portal preference resource. Each tag consists of a key and an optional value.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#CreateProcurementPortalPreferenceResponse": {
      "type": "structure",
      "members": {
        "ProcurementPortalPreferenceArn": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreferenceArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created procurement portal preference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        }
      }
    },
    "com.amazonaws.invoicing#CurrencyExchangeDetails": {
      "type": "structure",
      "members": {
        "SourceCurrencyCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The exchange source currency. </p>"
          }
        },
        "TargetCurrencyCode": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The exchange target currency. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The currency exchange rate. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The details of currency exchange. </p>"
      }
    },
    "com.amazonaws.invoicing#DateInterval": {
      "type": "structure",
      "members": {
        "StartDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The beginning of the time period that you want invoice-related documents for. The start date is inclusive. For example, if <code>start</code> is <code>2019-01-01</code>, AWS retrieves invoices starting at <code>2019-01-01</code> up to the end date. </p>",
            "smithy.api#required": {}
          }
        },
        "EndDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The end of the time period that you want invoice-related documents for. The end date is exclusive. For example, if <code>end</code> is <code>2019-01-10</code>, Amazon Web Services retrieves invoice-related documents from the start date up to, but not including, <code>2018-01-10</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The time period that you want invoice-related documents for. </p>"
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#DeleteInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#DeleteInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This deletes an invoice unit with the provided invoice unit ARN. </p>",
        "smithy.api#examples": [
          {
            "title": "DeleteInvoiceUnit",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            },
            "output": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#DeleteInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#DeleteProcurementPortalPreference": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#DeleteProcurementPortalPreferenceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#DeleteProcurementPortalPreferenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing procurement portal preference. This action cannot be undone. Active e-invoice delivery and PO retrieval configurations will be terminated.</p>",
        "smithy.api#examples": [
          {
            "title": "DeleteProcurementPortalPreference call",
            "input": {
              "ProcurementPortalPreferenceArn": "arn:aws:invoicing::111111111111:procurement-portal-preference/f71dd02e-f855-4b13-b793-0fd25c0b3ecd"
            },
            "output": {
              "ProcurementPortalPreferenceArn": "arn:aws:invoicing::111111111111:procurement-portal-preference/f71dd02e-f855-4b13-b793-0fd25c0b3ecd"
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#DeleteProcurementPortalPreferenceRequest": {
      "type": "structure",
      "members": {
        "ProcurementPortalPreferenceArn": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreferenceArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the procurement portal preference to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#DeleteProcurementPortalPreferenceResponse": {
      "type": "structure",
      "members": {
        "ProcurementPortalPreferenceArn": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreferenceArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted procurement portal preference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdown": {
      "type": "structure",
      "members": {
        "Breakdown": {
          "target": "com.amazonaws.invoicing#DiscountsBreakdownAmountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of discounts information. </p>"
          }
        },
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The discount's total amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The discounts details. </p>"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdownAmount": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The list of discounts information. </p>"
          }
        },
        "Amount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The discounted amount. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The details for the discount rate.. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The discounted amount. </p>"
      }
    },
    "com.amazonaws.invoicing#DiscountsBreakdownAmountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#DiscountsBreakdownAmount"
      }
    },
    "com.amazonaws.invoicing#EinvoiceDeliveryAttachmentType": {
      "type": "enum",
      "members": {
        "INVOICE_PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOICE_PDF"
          }
        },
        "RFP_PDF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RFP_PDF"
          }
        }
      }
    },
    "com.amazonaws.invoicing#EinvoiceDeliveryAttachmentTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#EinvoiceDeliveryAttachmentType"
      }
    },
    "com.amazonaws.invoicing#EinvoiceDeliveryDocumentType": {
      "type": "enum",
      "members": {
        "AWS_CLOUD_INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_CLOUD_INVOICE"
          }
        },
        "AWS_CLOUD_CREDIT_MEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_CLOUD_CREDIT_MEMO"
          }
        },
        "AWS_MARKETPLACE_INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_MARKETPLACE_INVOICE"
          }
        },
        "AWS_MARKETPLACE_CREDIT_MEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_MARKETPLACE_CREDIT_MEMO"
          }
        },
        "AWS_REQUEST_FOR_PAYMENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AWS_REQUEST_FOR_PAYMENT"
          }
        }
      }
    },
    "com.amazonaws.invoicing#EinvoiceDeliveryDocumentTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#EinvoiceDeliveryDocumentType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.invoicing#EinvoiceDeliveryPreference": {
      "type": "structure",
      "members": {
        "EinvoiceDeliveryDocumentTypes": {
          "target": "com.amazonaws.invoicing#EinvoiceDeliveryDocumentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of e-invoice documents to be delivered.</p>",
            "smithy.api#required": {}
          }
        },
        "EinvoiceDeliveryAttachmentTypes": {
          "target": "com.amazonaws.invoicing#EinvoiceDeliveryAttachmentTypes",
          "traits": {
            "smithy.api#documentation": "<p>The types of attachments to include with the e-invoice delivery.</p>"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.invoicing#Protocol",
          "traits": {
            "smithy.api#documentation": "<p>The communication protocol to use for e-invoice delivery.</p>",
            "smithy.api#required": {}
          }
        },
        "PurchaseOrderDataSources": {
          "target": "com.amazonaws.invoicing#PurchaseOrderDataSources",
          "traits": {
            "smithy.api#documentation": "<p>The sources of purchase order data to use for e-invoice generation and delivery.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionTestingMethod": {
          "target": "com.amazonaws.invoicing#ConnectionTestingMethod",
          "traits": {
            "smithy.api#documentation": "<p>The method to use for testing the connection to the procurement portal.</p>",
            "smithy.api#required": {}
          }
        },
        "EinvoiceDeliveryActivationDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when e-invoice delivery should be activated for this preference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the preferences for e-invoice delivery, including document types, attachment types, and customization settings.</p>"
      }
    },
    "com.amazonaws.invoicing#EmailString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
      }
    },
    "com.amazonaws.invoicing#Entity": {
      "type": "structure",
      "members": {
        "InvoicingEntity": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that issues the Amazon Web Services invoice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The organization name providing Amazon Web Services services.</p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdown": {
      "type": "structure",
      "members": {
        "Breakdown": {
          "target": "com.amazonaws.invoicing#FeesBreakdownAmountList",
          "traits": {
            "smithy.api#documentation": "<p>The list of fees information. </p>"
          }
        },
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The total amount of fees. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The details of fees. </p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdownAmount": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The list of fees information. </p>"
          }
        },
        "Amount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The fee amount. </p>"
          }
        },
        "Rate": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> Details about the rate amount. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The fee amount. </p>"
      }
    },
    "com.amazonaws.invoicing#FeesBreakdownAmountList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#FeesBreakdownAmount"
      }
    },
    "com.amazonaws.invoicing#Filters": {
      "type": "structure",
      "members": {
        "Names": {
          "target": "com.amazonaws.invoicing#InvoiceUnitNames",
          "traits": {
            "smithy.api#documentation": "<p> An optional input to the list API. You can specify a list of invoice unit names inside filters to return invoice units that match only the specified invoice unit names. If multiple names are provided, the result is an <code>OR</code> condition (match any) of the specified invoice unit names. </p>"
          }
        },
        "InvoiceReceivers": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> You can specify a list of Amazon Web Services account IDs inside filters to return invoice units that match only the specified accounts. If multiple accounts are provided, the result is an <code>OR</code> condition (match any) of the specified accounts. This filter only matches the specified accounts on the invoice receivers of the invoice units. </p>"
          }
        },
        "Accounts": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> You can specify a list of Amazon Web Services account IDs inside filters to return invoice units that match only the specified accounts. If multiple accounts are provided, the result is an <code>OR</code> condition (match any) of the specified accounts. The specified account IDs are matched with either the receiver or the linked accounts in the rules. </p>"
          }
        },
        "BillSourceAccounts": {
          "target": "com.amazonaws.invoicing#AccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> A list of Amazon Web Services account account IDs used to filter invoice units. These are payer accounts from other Organizations that have delegated their billing responsibility to the receiver account through the billing transfer feature. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional input to the list API. If multiple filters are specified, the returned list will be a configuration that match all of the provided filters. Supported filter types are <code>InvoiceReceivers</code>, <code>Names</code>, and <code>Accounts</code>. </p>"
      }
    },
    "com.amazonaws.invoicing#GetInvoicePDF": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#GetInvoicePDFRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#GetInvoicePDFResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a URL to download the invoice document and supplemental documents associated with an invoice. The URLs are pre-signed and have expiration time. For special cases like Brazil, where Amazon Web Services generated invoice identifiers and government provided identifiers do not match, use the Amazon Web Services generated invoice identifier when making API requests. To grant IAM permission to use this operation, the caller needs the <code>invoicing:GetInvoicePDF</code> policy action.</p>",
        "smithy.api#examples": [
          {
            "title": "GetInvoicePDF without supplemental documents",
            "input": {
              "InvoiceId": "abc123"
            },
            "output": {
              "InvoicePDF": {
                "InvoiceId": "abc123",
                "DocumentUrl": "https://abcd123.com?securityTokenForDoc",
                "DocumentUrlExpirationDate": "2025-04-01T01:00:00.000Z",
                "SupplementalDocuments": []
              }
            }
          },
          {
            "title": "GetInvoicePDF with supplemental documents",
            "input": {
              "InvoiceId": "abc123"
            },
            "output": {
              "InvoicePDF": {
                "InvoiceId": "abc123",
                "DocumentUrl": "https://abcd123.com?securityTokenForDoc",
                "DocumentUrlExpirationDate": "2025-04-01T01:00:00.000Z",
                "SupplementalDocuments": [
                  {
                    "DocumentUrl": "https://abcd123.com?securityTokenForSupplementalDoc",
                    "DocumentUrlExpirationDate": "2025-04-01T01:00:00.000Z"
                  }
                ]
              }
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoicePDFRequest": {
      "type": "structure",
      "members": {
        "InvoiceId": {
          "target": "com.amazonaws.invoicing#StringWithoutNewLine",
          "traits": {
            "smithy.api#documentation": "<p> Your unique invoice ID. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoicePDFResponse": {
      "type": "structure",
      "members": {
        "InvoicePDF": {
          "target": "com.amazonaws.invoicing#InvoicePDF",
          "traits": {
            "smithy.api#documentation": "<p> The invoice document and supplemental documents associated with the invoice. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnit": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#GetInvoiceUnitRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#GetInvoiceUnitResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This retrieves the invoice unit definition.</p>",
        "smithy.api#examples": [
          {
            "title": "GetInvoiceUnit as of current time",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678"
            },
            "output": {
              "InvoiceReceiver": "111111111111",
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/12345678",
              "LastModified": 1733788800,
              "Name": "Example Invoice Unit A",
              "Description": "Description changed on 1733788800",
              "Rule": {
                "LinkedAccounts": ["222222222222"]
              },
              "TaxInheritanceDisabled": false
            }
          },
          {
            "title": "GetInvoiceUnit as of specified time",
            "input": {
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
              "AsOf": 1733097600
            },
            "output": {
              "InvoiceReceiver": "333333333333",
              "InvoiceUnitArn": "arn:aws:invoicing::000000000000:invoice-unit/87654321",
              "LastModified": 1733011200,
              "Name": "Example Invoice Unit B",
              "Description": "Description changed on 1733011200",
              "Rule": {
                "LinkedAccounts": ["333333333333"]
              },
              "TaxInheritanceDisabled": false
            }
          }
        ],
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnitRequest": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>",
            "smithy.api#required": {}
          }
        },
        "AsOf": {
          "target": "com.amazonaws.invoicing#AsOfTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The state of an invoice unit at a specified time. You can see legacy invoice units that are currently deleted if the <code>AsOf</code> time is set to before it was deleted. If an <code>AsOf</code> is not provided, the default value is the current time. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#GetInvoiceUnitResponse": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p> The ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID chosen to be the receiver of an invoice unit. All invoices generated for that invoice unit will be sent to this account ID. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the invoice unit that is shown on the generated invoice. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p> The assigned description for an invoice unit. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p> Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule"
        },
        "LastModified": {
          "target": "com.amazonaws.invoicing#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The most recent date the invoice unit response was updated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#GetProcurementPortalPreference": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#GetProcurementPortalPreferenceRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#GetProcurementPortalPreferenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#ConflictException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific procurement portal preference configuration.</p>",
        "smithy.api#examples": [
          {
            "title": "GetProcurementPortalPreference for Coupa pref",
            "input": {
              "ProcurementPortalPreferenceArn": "arn:aws:invoicing::111111111111:procurement-portal-preference/a34fd666-7810-4414-9360-aaa4bcab0abd"
            },
            "output": {
              "ProcurementPortalPreference": {
                "AwsAccountId": "111111111111",
                "BuyerDomain": "NetworkID",
                "BuyerIdentifier": "BuyerId_1",
                "Selector": {
                  "InvoiceUnitArns": [
                    "arn:aws:invoicing::111111111111:invoice-unit/12345678",
                    "arn:aws:invoicing::111111111111:invoice-unit/12345679"
                  ],
                  "SellerOfRecords": ["AWS_INC", "AWS_EUROPE"]
                },
                "Contacts": [
                  {
                    "Email": "example-placeholder@amazon.com",
                    "Name": "John Doe"
                  }
                ],
                "CreateDate": 1.750375489242e9,
                "EinvoiceDeliveryEnabled": true,
                "EinvoiceDeliveryPreference": {
                  "ConnectionTestingMethod": "PROD_ENV_DOLLAR_TEST",
                  "EinvoiceDeliveryActivationDate": 1.750279280091e9,
                  "EinvoiceDeliveryAttachmentTypes": ["INVOICE_PDF"],
                  "EinvoiceDeliveryDocumentTypes": ["AWS_CLOUD_INVOICE"],
                  "Protocol": "CXML",
                  "PurchaseOrderDataSources": [
                    {
                      "EinvoiceDeliveryDocumentType": "AWS_CLOUD_INVOICE",
                      "PurchaseOrderDataSourceType": "ASSOCIATED_PURCHASE_ORDER_REQUIRED"
                    }
                  ]
                },
                "EinvoiceDeliveryPreferenceStatus": "PENDING_VERIFICATION",
                "LastUpdateDate": 1.750375489242e9,
                "ProcurementPortalInstanceEndpoint": "https://www.placeholder-domain.test",
                "ProcurementPortalName": "COUPA",
                "ProcurementPortalPreferenceArn": "arn:aws:invoicing::111111111111:procurement-portal-preference/a34fd666-7810-4414-9360-aaa4bcab0abd",
                "ProcurementPortalSharedSecret": "Coupa_Secret",
                "PurchaseOrderRetrievalEnabled": true,
                "PurchaseOrderRetrievalEndpoint": "https://www.placeholder-domain.test",
                "PurchaseOrderRetrievalPreferenceStatus": "PENDING_VERIFICATION",
                "SupplierDomain": "NetworkID",
                "SupplierIdentifier": "SupplierId_1",
                "TestEnvPreference": {
                  "BuyerDomain": "NetworkID",
                  "BuyerIdentifier": "BuyerId_1_Test",
                  "ProcurementPortalInstanceEndpoint": "https://www.placeholder-domain.test",
                  "ProcurementPortalSharedSecret": "Coupa_Secret_test",
                  "PurchaseOrderRetrievalEndpoint": "https://www.placeholder-domain.test",
                  "SupplierDomain": "NetworkID",
                  "SupplierIdentifier": "SupplierId_1_Test"
                },
                "Version": 1
              }
            }
          }
        ]
      }
    },
    "com.amazonaws.invoicing#GetProcurementPortalPreferenceRequest": {
      "type": "structure",
      "members": {
        "ProcurementPortalPreferenceArn": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreferenceArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the procurement portal preference to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.invoicing#GetProcurementPortalPreferenceResponse": {
      "type": "structure",
      "members": {
        "ProcurementPortalPreference": {
          "target": "com.amazonaws.invoicing#ProcurementPortalPreference",
          "traits": {
            "smithy.api#documentation": "<p>The detailed configuration of the requested procurement portal preference.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.invoicing#InternalServerException": {
      "type": "structure",
      "members": {
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The processing request failed because of an unknown error, exception, or failure.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        },
        "message": {
          "target": "com.amazonaws.invoicing#BasicString"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InvoicingInternalServer",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>The processing request failed because of an unknown error, exception, or failure. </p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.invoicing#InvoiceCurrencyAmount": {
      "type": "structure",
      "members": {
        "TotalAmount": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice currency amount. </p>"
          }
        },
        "TotalAmountBeforeTax": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> Details about the invoice total amount before tax. </p>"
          }
        },
        "CurrencyCode": {
          "target": "com.amazonaws.invoicing#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>The currency dominion of the invoice document.</p>"
          }
        },
        "AmountBreakdown": {
          "target": "com.amazonaws.invoicing#AmountBreakdown",
          "traits": {
            "smithy.api#documentation": "<p> Details about the invoice currency amount. </p>"
          }
        },
        "CurrencyExchangeDetails": {
          "target": "com.amazonaws.invoicing#CurrencyExchangeDetails",
          "traits": {
            "smithy.api#documentation": "<p> The details of currency exchange. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The amount charged after taxes, in the preferred currency. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoicePDF": {
      "type": "structure",
      "members": {
        "InvoiceId": {
          "target": "com.amazonaws.invoicing#StringWithoutNewLine",
          "traits": {
            "smithy.api#documentation": "<p> Your unique invoice ID. </p>"
          }
        },
        "DocumentUrl": {
          "target": "com.amazonaws.invoicing#StringWithoutNewLine",
          "traits": {
            "smithy.api#documentation": "<p>The pre-signed URL to download the invoice document. </p>"
          }
        },
        "DocumentUrlExpirationDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The pre-signed URL expiration date of the invoice document.</p>"
          }
        },
        "SupplementalDocuments": {
          "target": "com.amazonaws.invoicing#SupplementalDocuments",
          "traits": {
            "smithy.api#documentation": "<p>List of supplemental documents associated with the invoice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Invoice document data. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceProfile": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The account ID the invoice profile is generated for. </p>"
          }
        },
        "ReceiverName": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> The name of the person receiving the invoice profile. </p>"
          }
        },
        "ReceiverAddress": {
          "target": "com.amazonaws.invoicing#ReceiverAddress",
          "traits": {
            "smithy.api#documentation": "<p>The address of the receiver that will be printed on the invoice. </p>"
          }
        },
        "ReceiverEmail": {
          "target": "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the invoice profile receiver. </p>"
          }
        },
        "Issuer": {
          "target": "com.amazonaws.invoicing#BasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> This specifies the issuing entity of the invoice. </p>"
          }
        },
        "TaxRegistrationNumber": {
          "target": "com.amazonaws.invoicing#SensitiveBasicStringWithoutSpace",
          "traits": {
            "smithy.api#documentation": "<p> Your Tax Registration Number (TRN) information. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Contains high-level information about the invoice receiver. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceSummary"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesFilter": {
      "type": "structure",
      "members": {
        "TimeInterval": {
          "target": "com.amazonaws.invoicing#DateInterval",
          "traits": {
            "smithy.api#documentation": "<p>The date range for invoice summary retrieval. </p>"
          }
        },
        "BillingPeriod": {
          "target": "com.amazonaws.invoicing#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The billing period associated with the invoice documents. </p>"
          }
        },
        "InvoicingEntity": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity that issues the Amazon Web Services invoice.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Filters for your invoice summaries. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.invoicing#InvoiceSummariesSelector": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.invoicing#ListInvoiceSummariesResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The query identifier type (<code>INVOICE_ID</code> or <code>ACCOUNT_ID</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.invoicing#StringWithoutNewLine",
          "traits": {
            "smithy.api#documentation": "<p>The value of the query identifier.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the invoice summary.</p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceSummary": {
      "type": "structure",
      "members": {
        "AccountId": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Web Services account ID. </p>"
          }
        },
        "InvoiceId": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The invoice ID. </p>"
          }
        },
        "IssuedDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The issued date of the invoice. </p>"
          }
        },
        "DueDate": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The invoice due date. </p>"
          }
        },
        "Entity": {
          "target": "com.amazonaws.invoicing#Entity",
          "traits": {
            "smithy.api#documentation": "<p>The organization name providing Amazon Web Services services.</p>"
          }
        },
        "BillingPeriod": {
          "target": "com.amazonaws.invoicing#BillingPeriod",
          "traits": {
            "smithy.api#documentation": "<p> The billing period of the invoice-related document. </p>"
          }
        },
        "InvoiceType": {
          "target": "com.amazonaws.invoicing#InvoiceType",
          "traits": {
            "smithy.api#documentation": "<p> The type of invoice. </p>"
          }
        },
        "OriginalInvoiceId": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p>The initial or original invoice ID. </p>"
          }
        },
        "PurchaseOrderNumber": {
          "target": "com.amazonaws.invoicing#BasicString",
          "traits": {
            "smithy.api#documentation": "<p> The purchase order number associated to the invoice.</p>"
          }
        },
        "BaseCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the product and service currency. </p>"
          }
        },
        "TaxCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the tax currency. </p>"
          }
        },
        "PaymentCurrencyAmount": {
          "target": "com.amazonaws.invoicing#InvoiceCurrencyAmount",
          "traits": {
            "smithy.api#documentation": "<p> The summary with the customer configured currency. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The invoice that the API retrieved. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceType": {
      "type": "enum",
      "members": {
        "INVOICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVOICE"
          }
        },
        "CREDIT_MEMO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREDIT_MEMO"
          }
        }
      }
    },
    "com.amazonaws.invoicing#InvoiceUnit": {
      "type": "structure",
      "members": {
        "InvoiceUnitArn": {
          "target": "com.amazonaws.invoicing#InvoiceUnitArnString",
          "traits": {
            "smithy.api#documentation": "<p>ARN to identify an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "InvoiceReceiver": {
          "target": "com.amazonaws.invoicing#AccountIdString",
          "traits": {
            "smithy.api#documentation": "<p>The account that receives invoices related to the invoice unit. </p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.invoicing#InvoiceUnitName",
          "traits": {
            "smithy.api#documentation": "<p> A unique name that is distinctive within your Amazon Web Services. </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.invoicing#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The assigned description for an invoice unit. This information can't be modified or deleted. </p>"
          }
        },
        "TaxInheritanceDisabled": {
          "target": "com.amazonaws.invoicing#TaxInheritanceDisabledFlag",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>Whether the invoice unit based tax inheritance is/ should be enabled or disabled. </p>"
          }
        },
        "Rule": {
          "target": "com.amazonaws.invoicing#InvoiceUnitRule",
          "traits": {
            "smithy.api#documentation": "<p> An <code>InvoiceUnitRule</code> object used the categorize invoice units. </p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.invoicing#LastModifiedTimestamp",
          "traits": {
            "smithy.api#documentation": "<p> The last time the invoice unit was updated. This is important to determine the version of invoice unit configuration used to create the invoices. Any invoice created after this modified time will use this invoice unit configuration. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invoice unit is a set of mutually exclusive accounts that correspond to your business entity. Invoice units allow you separate Amazon Web Services account costs and configures your invoice for each business entity going forward. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+$"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceUnitArnString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceUnitName"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnitRule": {
      "type": "structure",
      "members": {
        "LinkedAccounts": {
          "target": "com.amazonaws.invoicing#RuleAccountIdList",
          "traits": {
            "smithy.api#documentation": "<p>The list of <code>LINKED_ACCOUNT</code> IDs where charges are included within the invoice unit. </p>"
          }
        },
        "BillSourceAccounts": {
          "target": "com.amazonaws.invoicing#RuleAccountIdList",
          "traits": {
            "smithy.api#documentation": "<p> A list of Amazon Web Services account account IDs that have delegated their billing responsibility to the receiver account through transfer billing. Unlike linked accounts, these bill source accounts can be payer accounts from other organizations that have authorized billing transfer to this account. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> This is used to categorize the invoice unit. Values are Amazon Web Services account IDs. Currently, the only supported rule is <code>LINKED_ACCOUNT</code>. </p>"
      }
    },
    "com.amazonaws.invoicing#InvoiceUnits": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.invoicing#InvoiceUnit"
      }
    },
    "com.amazonaws.invoicing#Invoicing": {
      "type": "service",
      "version": "2024-12-01",
      "operations": [
        {
          "target": "com.amazonaws.invoicing#BatchGetInvoiceProfile"
        },
        {
          "target": "com.amazonaws.invoicing#CreateInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#CreateProcurementPortalPreference"
        },
        {
          "target": "com.amazonaws.invoicing#DeleteInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#DeleteProcurementPortalPreference"
        },
        {
          "target": "com.amazonaws.invoicing#GetInvoicePDF"
        },
        {
          "target": "com.amazonaws.invoicing#GetInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#GetProcurementPortalPreference"
        },
        {
          "target": "com.amazonaws.invoicing#ListInvoiceSummaries"
        },
        {
          "target": "com.amazonaws.invoicing#ListInvoiceUnits"
        },
        {
          "target": "com.amazonaws.invoicing#ListProcurementPortalPreferences"
        },
        {
          "target": "com.amazonaws.invoicing#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.invoicing#PutProcurementPortalPreference"
        },
        {
          "target": "com.amazonaws.invoicing#TagResource"
        },
        {
          "target": "com.amazonaws.invoicing#UntagResource"
        },
        {
          "target": "com.amazonaws.invoicing#UpdateInvoiceUnit"
        },
        {
          "target": "com.amazonaws.invoicing#UpdateProcurementPortalPreferenceStatus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Invoicing",
          "arnNamespace": "invoicing",
          "endpointPrefix": "invoicing",
          "docId": "invoicing-2024-12-01",
          "cloudTrailEventSource": "invoicing.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "invoicing"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardPartitionalEndpoints": {
          "endpointPatternType": "service_region_dnsSuffix"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p> <b>Amazon Web Services Invoice Configuration</b> </p> <p>You can use Amazon Web Services Invoice Configuration APIs to programmatically create, update, delete, get, and list invoice units. You can also programmatically fetch the information of the invoice receiver. For example, business legal name, address, and invoicing contacts. </p> <p>You can use Amazon Web Services Invoice Configuration to receive separate Amazon Web Services invoices based your organizational needs. By using Amazon Web Services Invoice Configuration, you can configure invoice units that are groups of Amazon Web Services accounts that represent your business entities, and receive separate invoices for each business entity. You can also assign a unique member or payer account as the invoice receiver for each invoice unit. As you create new accounts within your Organizations using Amazon Web Services Invoice Configuration APIs, you can automate the creation of new invoice units and subsequently automate the addition of new accounts to your invoice units.</p> <p> <b>Amazon Web Services Procurement Portal Preferences</b> </p> <p>You can use Amazon Web Services Procurement Portal Preferences APIs to programmatically create, update, delete, get, and list procurement portal connections and e-invoice delivery settings. You can also programmatically fetch and modify the status of procurement portal configurations. For example, SAP Business Network or Coupa connections, configure e-invoice delivery and purchase order retrieval features.</p> <p>You can use Amazon Web Services Procurement Portal Preferences to connect e-invoice delivery to your procurement portals based on your organizational needs. By using Amazon Web Services Procurement Portal Preferences, you can configure connections to SAP Business Network and Coupa procurement portals that retrieve purchase orders and deliver Amazon Web Services invoices on the same day they are generated. You can also set up testing environments to validate invoice delivery without affecting live transactions, and manage contact information for portal setup and support. </p> <p>Administrative users should understand that billing read-only policies will show all procurement portal connection details. Review your IAM policies to ensure appropriate access controls are in place for procurement portal preferences.</p> <p> <b>Amazon Web Services Invoice Management</b> </p> <p>You can use Amazon Web Services Invoice Management APIs to programmatically list invoice summaries and get invoice documents. You can also programmatically fetch invoice documents with S3 pre-signed URLs.</p> <p>You can use Amazon Web Services Invoice Management to access invoice information based on your organizational needs. By using Amazon Web Services Invoice Management, you can retrieve paginated lists of invoice summaries that include invoice metadata such as invoice IDs, amounts, and currencies without downloading documents. You can also download invoice documents in PDF format using S3 pre-signed URLs with built-in expiration. As you manage invoices across your organization using Amazon Web Services Invoice Management APIs, you can create invoice retrieval processes and integrate invoice data into your financial systems.</p> <p>Service endpoint</p> <p>You can use the following endpoints for Amazon Web Services Invoice Configuration, Amazon Web Services Procurement Portal Preferences, and Amazon Web Services Invoice Management:</p> <ul> <li> <p> <code>https://invoicing.us-east-1.api.aws</code> </p> </li> </ul>",
        "smithy.api#title": "AWS Invoicing",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://invoicing-fips.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://invoicing.{PartitionResult#implicitGlobalRegion}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {
                              "authSchemes": [
                                {
                                  "name": "sigv4",
                                  "signingRegion": "{PartitionResult#implicitGlobalRegion}"
                                }
                              ]
                            },
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-east-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "cn-northwest-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://invoicing-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "properties": {
                    "authSchemes": [
                      {
                        "name": "sigv4",
                        "signingRegion": "us-gov-west-1"
                      }
                    ]
                  },
                  "url": "https://invoicing.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.invoicing#LastModifiedTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.invoicing#ListInvoiceSummaries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.invoicing#ListInvoiceSummariesRequest"
      },
      "output": {
        "target": "com.amazonaws.invoicing#ListInvoiceSummariesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.invoicing#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.invoicing#InternalServerException"
        },
        {
          "target": "com.amazonaws.invoicing#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.invoicing#ThrottlingException"
        },
        {
          "target": "com.amazonaws.invoicing#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves your invoice details programmatically, without line item details.</p>",
        "smithy.api#examples": [
          {
            "title": "ListInvoiceSummaries with InvoiceId as selector",
            "input": {
              "Selector": {
                "ResourceType": "INVOICE_ID",
                "Value": "1111111111"
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and billing period",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "BillingPeriod": {
                  "Month": 1,
                  "Year": 2025
                }
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and time interval",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "TimeInterval": {
                  "StartDate": 1590997407,
                  "EndDate": 1592639007
                }
              }
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "ListInvoiceSummaries with AccountId as selector and a billing period and max results",
            "input": {
              "Selector": {
                "ResourceType": "ACCOUNT_ID",
                "Value": "111111111111"
              },
              "Filter": {
                "BillingPeriod": {
                  "Month": 1,
                  "Year": 2025
                }
              },
              "MaxResults": 1
            },
            "output": {
              "InvoiceSummaries": [
                {
                  "AccountId": "111111111111",
                  "InvoiceId": "1111111111",
                  "InvoiceType": "INVOICE",
                  "IssuedDate": "2025-04-01T01:00:00.000Z",
                  "DueDate": "2025-04-01T01:00:00.000Z",
                  "BillingPeriod": {
                    "Month": 1,
                    "Year": 2025
                  },
                  "Entity": {
                    "InvoicingEntity": "Amazon Web Services, Inc."
                  },
                  "BaseCurrencyAmount": {
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00"
                      }
                    },
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD"
                  },
                  "PaymentCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
                    "AmountBreakdown": {
                      "Discounts": {
                        "TotalAmount": "1.00"
                      },
                      "SubTotalAmount": "1.00",
                      "Taxes": {
                        "TotalAmount": "1.00",
                        "Breakdown": [
                          {
                            "Amount": "1",
                            "Description": "VAT",
                            "Rate": "1.0"
                          }
                        ]
                      }
                    },
                    "CurrencyExchangeDetails": {
                      "SourceCurrencyCode": "USD",
                      "TargetCurrencyCode": "USD",
                      "Rate": "1.0"
                    }
                  },
                  "TaxCurrencyAmount": {
                    "TotalAmount": "1.00",
                    "TotalAmountBeforeTax": "1.00",
                    "CurrencyCode": "USD",
[...]
