{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.iotmanagedintegrations#AbortConfigCriteria": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.iotmanagedintegrations#AbortCriteriaAction",
          "traits": {
            "smithy.api#documentation": "<p>The action taken by the abort configuration.</p>"
          }
        },
        "FailureType": {
          "target": "com.amazonaws.iotmanagedintegrations#AbortCriteriaFailureType",
          "traits": {
            "smithy.api#documentation": "<p>Over-the-air (OTA) task abort criteria failure type.</p>"
          }
        },
        "MinNumberOfExecutedThings": {
          "target": "com.amazonaws.iotmanagedintegrations#MinNumberOfExecutedThings",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of things that must receive task execution notifications before the\n         task can be aborted.</p>"
          }
        },
        "ThresholdPercentage": {
          "target": "com.amazonaws.iotmanagedintegrations#ThresholdPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The minimum percentage of over-the-air (OTA) task execution failures that must occur to\n         initiate the last abort.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure representing one abort config criteria.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortConfigCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#AbortConfigCriteria"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortCriteriaAction": {
      "type": "enum",
      "members": {
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortCriteriaFailureType": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotmanagedintegrations#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User is not authorized.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[/a-zA-Z0-9\\._ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionReference": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z.]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionTraceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 20
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+=(?:_[0-9]+)?$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AdvertisedProductId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^([A-Za-z0-9!#$%&()*\\+\\-;<=>?@^_`{|}~])+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]+"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 800
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]*"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthMaterialString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[0-9A-Za-z!#$%&()*\\+\\-;<=>?@^_`{|}~\\/: ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthMaterialType": {
      "type": "enum",
      "members": {
        "WIFI_SETUP_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_SETUP_QR_BAR_CODE"
          }
        },
        "ZWAVE_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZWAVE_QR_BAR_CODE"
          }
        },
        "ZIGBEE_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIGBEE_QR_BAR_CODE"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#BaseRatePerMinute": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#Brand": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CaCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^-----BEGIN CERTIFICATE-----.*(.|\\n)*-----END CERTIFICATE-----\\n?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#Capabilities": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\s'\\x{0022},.:\\\\\\/{$}\\[\\]=_\\-\\+]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityAction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityActionName",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with a name.</p>",
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "com.amazonaws.iotmanagedintegrations#ActionReference",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with an reference.</p>"
          }
        },
        "actionTraceId": {
          "target": "com.amazonaws.iotmanagedintegrations#ActionTraceId",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with an <code>actionTraceId</code> for a response\n         command.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with a capability property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Action for an Amazon Web Services capability, containing the action parameters for control.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityActionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[/a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9./]+(@\\d+\\.\\d+)?$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[/a-zA-Z0-9\\._ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityProperties": {
      "type": "document",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReport": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeId": {
          "target": "com.amazonaws.iotmanagedintegrations#NodeId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier of the node.</p>"
          }
        },
        "endpoints": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoints",
          "traits": {
            "smithy.api#documentation": "<p>The endpoints used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Report of all capabilities supported by the device.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#ActionName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportCapability": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionedId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the schema version.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportProperties",
          "traits": {
            "smithy.api#documentation": "<p>The capability properties used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportActions",
          "traits": {
            "smithy.api#documentation": "<p>The capability actions used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEvents",
          "traits": {
            "smithy.api#documentation": "<p>The capability events used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capability used in capability report.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the endpoint used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "deviceTypes": {
          "target": "com.amazonaws.iotmanagedintegrations#DeviceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of device.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The endpoint used in the capability report.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#EventName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#PropertyName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^1\\.0\\.0$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(0|[1-9][0-9]*)$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClaimCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClaimCertificatePrivateKey": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#Classification": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9=_-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CommandCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandCapability": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionedId",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with an id.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with an name.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with a version.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityActions",
          "traits": {
            "smithy.api#documentation": "<p>Describe the command capability with the actions it supports.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The command capabilities added for the managed thing</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandEndpoint": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the endpoint for a managed thing.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#CommandCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Describe the endpoint with an id, a name, and the relevant capabilities for sending\n         commands.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The endpoint for a managed thing when sending a command.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandEndpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CommandEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code returned when the default encryption configuration update fails.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message returned when the default encryption configuration update\n         fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the default encryption configuration error update details.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-._,]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "UPDATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationStatus": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationError",
          "traits": {
            "smithy.api#documentation": "<p>The error details describing a failed default encryption configuration update.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The status state describing the default encryption configuration update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the status of the default encryption configuration for an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotmanagedintegrations#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a conflict with the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectivityStatus": {
      "type": "boolean"
    },
    "com.amazonaws.iotmanagedintegrations#ConnectivityTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorAssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.,@-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorPolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLocker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a product credential locker. This operation will trigger the creation of all the\n         manufacturing resources including the Wi-Fi setup key pair and device certificate.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/credential-lockers",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the credential locker.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the credential locker.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the credential locker creation request.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp value of when the credential locker request occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Create a destination. IoT managed integrations uses the destination to determine where to deliver\n         notifications for a device. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/destinations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestinationRequest": {
      "type": "structure",
      "members": {
        "DeliveryDestinationArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryDestinationType": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The destination type for the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the delivery destination role.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the customer-managed destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestinationResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer-managed destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Set the event log configuration for the account, resource type, or specific\n         resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/event-log-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationRequest": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource for the event log configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource for the event log configuration.</p>"
          }
        },
        "EventLogLevel": {
          "target": "com.amazonaws.iotmanagedintegrations#LogLevel",
          "traits": {
            "smithy.api#documentation": "<p>The logging level for the event log configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#LogConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event log configuration request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateManagedThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateManagedThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a managed thing. A managed thing contains the device identifier, protocol\n         supported, and capabilities of the device in a protocol-specific format.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/managed-things",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThingRequest": {
      "type": "structure",
      "members": {
        "Role": {
          "target": "com.amazonaws.iotmanagedintegrations#Role",
          "traits": {
            "smithy.api#documentation": "<p>The type of device used. This will be the hub controller, cloud device, or AWS IoT\n         device.</p>",
            "smithy.api#required": {}
          }
        },
        "Owner": {
          "target": "com.amazonaws.iotmanagedintegrations#Owner",
          "traits": {
            "smithy.api#documentation": "<p>Owner of the device, usually an indication of whom the device belongs to. This value\n         should not contain personal identifiable information.</p>"
          }
        },
        "CredentialLockerId": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the credential for the managed thing.</p>"
          }
        },
        "AuthenticationMaterial": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthMaterialString",
          "traits": {
            "smithy.api#documentation": "<p>The authentication material defining the device connectivity setup requests. The\n         authentication materials used are the device bar code.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationMaterialType": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthMaterialType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication material used for device connectivity setup requests.</p>",
            "smithy.api#required": {}
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.iotmanagedintegrations#SerialNumber",
          "traits": {
            "smithy.api#documentation": "<p>The serial number of the device.</p>"
          }
        },
        "Brand": {
          "target": "com.amazonaws.iotmanagedintegrations#Brand",
          "traits": {
            "smithy.api#documentation": "<p>The brand of the device.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.iotmanagedintegrations#Model",
          "traits": {
            "smithy.api#documentation": "<p>The model of the device.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the managed thing representing the physical device.</p>"
          }
        },
        "CapabilityReport": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReport",
          "traits": {
            "smithy.api#documentation": "<p>A report of the capabilities for the managed thing.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#Capabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities of the device such as light bulb.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Classification": {
          "target": "com.amazonaws.iotmanagedintegrations#Classification",
          "traits": {
            "smithy.api#documentation": "<p>The classification of the managed thing such as light bulb or thermostat.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the managed thing.</p>"
          }
        },
        "MetaData": {
          "target": "com.amazonaws.iotmanagedintegrations#MetaData",
          "traits": {
            "smithy.api#documentation": "<p>The metadata for the managed thing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThingResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ManagedThingId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the managed thing.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#ManagedThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the managed thing.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp value of when the device creation request occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a notification configuration. A configuration is a connection between an event\n         type and a destination that you have already created. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/notification-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.iotmanagedintegrations#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event triggering a device notification to the customer-managed\n         destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination for the notification configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the notification configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.iotmanagedintegrations#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event triggering a device notification to the customer-managed\n         destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an over-the-air (OTA) task to update a device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ota-tasks",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a configuraiton for the over-the-air (OTA) task.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ota-task-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the over-the-air (OTA) task configuration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the over-the-air (OTA) task.</p>"
          }
        },
        "PushConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#PushConfig",
          "traits": {
            "smithy.api#documentation": "<p>Describes the type of configuration used for the over-the-air (OTA) task.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationResponse": {
      "type": "structure",
      "members": {
        "TaskConfigurationId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the over-the-air (OTA) task.</p>"
          }
        },
        "S3Url": {
          "target": "com.amazonaws.iotmanagedintegrations#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the Amazon S3 bucket where the over-the-air (OTA) task is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The connection protocol the over-the-air (OTA) task uses to update the device.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.iotmanagedintegrations#Target",
          "traits": {
            "smithy.api#documentation": "<p>The device targeted for the over-the-air (OTA) task.</p>"
          }
        },
        "TaskConfigurationId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the over-the-air (OTA) task configuration.</p>"
          }
        },
        "OtaMechanism": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaMechanism",
          "traits": {
            "smithy.api#documentation": "<p>The deployment mechanism for the over-the-air (OTA) task.</p>"
          }
        },
        "OtaType": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaType",
          "traits": {
            "smithy.api#documentation": "<p>The frequency type for the over-the-air (OTA) task.</p>",
            "smithy.api#required": {}
          }
        },
        "OtaTargetQueryString": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTargetQueryString",
          "traits": {
            "smithy.api#documentation": "<p>The query string to add things to the thing group.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OtaSchedulingConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskSchedulingConfig"
        },
        "OtaTaskExecutionRetryConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskExecutionRetryConfig"
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the over-the-air (OTA) task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskResponse": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task.</p>"
          }
        },
        "TaskArn": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the over-the-air (OTA) task.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the over-the-air (OTA) task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a provisioning profile for a device to execute the provisioning flows using a\n         provisioning template. The provisioning template is a document that defines the set of\n         resources and policies applied to a device during the provisioning process.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/provisioning-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileRequest": {
      "type": "structure",
      "members": {
        "ProvisioningType": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningType",
          "traits": {
            "smithy.api#documentation": "<p>The type of provisioning workflow the device uses for onboarding to IoT managed integrations.</p>",
            "smithy.api#required": {}
          }
        },
        "CaCertificate": {
          "target": "com.amazonaws.iotmanagedintegrations#CaCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The id of the certificate authority (CA) certificate.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioning template.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using\n         the same client token and parameters, then the retry attempt will succeed without\n         performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the provisioning profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the provisioning template used in the provisioning\n         profile.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioning template.</p>"
          }
        },
        "ProvisioningType": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningType",
          "traits": {
            "smithy.api#documentation": "<p>The type of provisioning workflow the device uses for onboarding to IoT managed integrations.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the provisioning profile.</p>"
          }
        },
        "ClaimCertificate": {
          "target": "com.amazonaws.iotmanagedintegrations#ClaimCertificate",
          "traits": {
            "smithy.api#documentation": "<p>The id of the claim certificate.</p>"
          }
        },
        "ClaimCertificatePrivateKey": {
          "target": "com.amazonaws.iotmanagedintegrations#ClaimCertificatePrivateKey",
          "traits": {
            "smithy.api#documentation": "<p>The private key of the claim certificate. This is stored securely on the device for\n         validating the connection endpoint with IoT managed integrations using the public key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:iotmanagedintegrations:[0-9a-zA-Z-]+:[0-9]+:credential-locker/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerSummary"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerResource": {
      "type": "resource",
      "identifiers": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLocker"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCredentialLocker"
      },
      "delete": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteCredentialLocker"
      },
      "list": {
        "target": "com.amazonaws.iotmanagedintegrations#ListCredentialLockers"
      },
      "traits": {
        "aws.api#arn": {
          "template": "credential-locker/{Identifier}"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the credential locker.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the credential locker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestampe value of when the credential locker was created at.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure describing one Credential Locker.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteCredentialLocker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteCredentialLockerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a credential locker. </p>\n         <note>\n            <p>This operation can't be undone and any existing device won't be able to use\n            IoT managed integrations.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/credential-lockers/{Identifier}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteCredentialLockerRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the credential locker.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteDestinationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a customer-managed destination specified by id. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/destinations/{Name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The id of the customer-managed destination.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteEventLogConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteEventLogConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete an event log configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/event-log-configurations/{Id}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteEventLogConfigurationRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#LogConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event log configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteLocalStoreAfterUpload": {
      "type": "boolean"
    },
    "com.amazonaws.iotmanagedintegrations#DeleteManagedThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteManagedThingRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a managed thing. If a controller is deleted, all of the devices connected to it\n         will have their status changed to <code>PENDING</code>. It is not possible to remove a\n         cloud device.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/managed-things/{Identifier}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteManagedThingRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#ManagedThingId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the managed thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Force": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When set to <code>TRUE</code>, a forceful deteletion of the managed thing will occur.\n         When set to <code>FALSE</code>, a non-forceful deletion of the managed thing will\n         occur.</p>",
            "smithy.api#httpQuery": "Force"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteNotificationConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a notification configuration. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/notification-configurations/{EventType}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.iotmanagedintegrations#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event triggering a device notification to the customer-managed\n         destination.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteOtaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteOtaTaskRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the over-the-air (OTA) task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ota-tasks/{Identifier}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteOtaTaskConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteOtaTaskConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the over-the-air (OTA) task configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/ota-task-configurations/{Identifier}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteOtaTaskConfigurationRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteOtaTaskRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteProvisioningProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteProvisioningProfileRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete a provisioning profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/provisioning-profiles/{Identifier}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeleteProvisioningProfileRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the provisioning template.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeliveryDestinationArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws:[0-9a-zA-Z]+:[0-9a-zA-Z-]+:[0-9]+:[0-9a-zA-Z]+/[0-9a-zA-Z._-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeliveryDestinationRoleArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "type": "AWS::IAM::Role"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeliveryDestinationType": {
      "type": "enum",
      "members": {
        "KINESIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KINESIS"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationCreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#DestinationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[0-9A-Za-z_\\- ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#DestinationSummary"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N} ._-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#CreateDestination"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#DeleteDestination"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#GetDestination"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ListDestinations"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UpdateDestination"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "destinations"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationSummary": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the customer-managed destination.</p>"
          }
        },
        "DeliveryDestinationArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer-managed destination.</p>"
          }
        },
        "DeliveryDestinationType": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The destination type for the customer-managed destination.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer-managed destination.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the delivery destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure describing a destination for IoT managed integrations to deliver notifications for a\n         device.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DestinationUpdatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#DeviceDiscoveryArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#pattern": "^arn:aws:iotmanagedintegrations:[0-9a-zA-Z-]+:[0-9]+:device-discovery/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceDiscoveryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceDiscoveryResource": {
      "type": "resource",
      "identifiers": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#DeviceDiscoveryId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#StartDeviceDiscovery"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetDeviceDiscovery"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceDiscoveryStatus": {
      "type": "enum",
      "members": {
        "RUNNING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RUNNING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceSpecificKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9=_.,@\\+\\-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9=_. ,@\\+\\-/]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#DeviceTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#DeviceType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DisconnectReasonValue": {
      "type": "enum",
      "members": {
        "AUTH_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTH_ERROR"
          }
        },
        "CLIENT_INITIATED_DISCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_INITIATED_DISCONNECT"
          }
        },
        "CLIENT_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_ERROR"
          }
        },
        "CONNECTION_LOST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTION_LOST"
          }
        },
        "DUPLICATE_CLIENTID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_CLIENTID"
          }
        },
        "FORBIDDEN_ACCESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FORBIDDEN_ACCESS"
          }
        },
        "MQTT_KEEP_ALIVE_TIMEOUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MQTT_KEEP_ALIVE_TIMEOUT"
          }
        },
        "SERVER_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_ERROR"
          }
        },
        "SERVER_INITIATED_DISCONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_INITIATED_DISCONNECT"
          }
        },
        "THROTTLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "THROTTLED"
          }
        },
        "WEBSOCKET_TTL_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBSOCKET_TTL_EXPIRATION"
          }
        },
        "CUSTOMAUTH_TTL_EXPIRATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMAUTH_TTL_EXPIRATION"
          }
        },
        "UNKNOWN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNKNOWN"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DiscoveryAuthMaterialString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9A-Za-z_\\-\\+=\\/:; ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#DiscoveryAuthMaterialType": {
      "type": "enum",
      "members": {
        "ZWAVE_INSTALL_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZWAVE_INSTALL_CODE"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DiscoveryFinishedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#DiscoveryStartedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#DiscoveryType": {
      "type": "enum",
      "members": {
        "ZWAVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZWAVE"
          }
        },
        "ZIGBEE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIGBEE"
          }
        },
        "CLOUD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUD"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#DurationInMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1430
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#EncryptionType": {
      "type": "enum",
      "members": {
        "MANAGED_INTEGRATIONS_DEFAULT_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MANAGED_INTEGRATIONS_DEFAULT_ENCRYPTION"
          }
        },
        "CUSTOMER_KEY_ENCRYPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOMER_KEY_ENCRYPTION"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#EndTime": {
      "type": "string"
    },
    "com.amazonaws.iotmanagedintegrations#EndpointAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[A-Za-z0-9._@-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#EndpointId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.iotmanagedintegrations#EventLogConfigurationListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#EventLogConfigurationSummary"
      }
    },
    "com.amazonaws.iotmanagedintegrations#EventLogConfigurationResource": {
      "type": "resource",
      "operations": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#CreateEventLogConfiguration"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#DeleteEventLogConfiguration"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#GetEventLogConfiguration"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ListEventLogConfigurations"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UpdateEventLogConfiguration"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "event-log-configurations"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#EventLogConfigurationSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#LogConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event log configuration.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource for the event log configuration.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource for the event log configuration.</p>"
          }
        },
        "EventLogLevel": {
          "target": "com.amazonaws.iotmanagedintegrations#LogLevel",
          "traits": {
            "smithy.api#documentation": "<p>The logging level for the event log configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of event log configurations.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#EventName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[/a-zA-Z0-9\\._ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#EventType": {
      "type": "enum",
      "members": {
        "DEVICE_COMMAND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_COMMAND"
          }
        },
        "DEVICE_COMMAND_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_COMMAND_REQUEST"
          }
        },
        "DEVICE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_EVENT"
          }
        },
        "DEVICE_LIFE_CYCLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_LIFE_CYCLE"
          }
        },
        "DEVICE_STATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_STATE"
          }
        },
        "DEVICE_OTA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_OTA"
          }
        },
        "CONNECTOR_ASSOCIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTOR_ASSOCIATION"
          }
        },
        "CONNECTOR_ERROR_REPORT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTOR_ERROR_REPORT"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ExecutionNumber": {
      "type": "long"
    },
    "com.amazonaws.iotmanagedintegrations#ExponentialRolloutRate": {
      "type": "structure",
      "members": {
        "BaseRatePerMinute": {
          "target": "com.amazonaws.iotmanagedintegrations#BaseRatePerMinute",
          "traits": {
            "smithy.api#documentation": "<p>The base rate per minute for the rollout of an over-the-air (OTA) task.</p>"
          }
        },
        "IncrementFactor": {
          "target": "com.amazonaws.iotmanagedintegrations#IncrementFactor",
          "traits": {
            "smithy.api#documentation": "<p>The incremental factor for increasing the rollout rate of an over-the-air (OTA)\n         task.</p>"
          }
        },
        "RateIncreaseCriteria": {
          "target": "com.amazonaws.iotmanagedintegrations#RolloutRateIncreaseCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The criteria for increasing the rollout rate of an over-the-air (OTA) task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure representing exponential rate of rollout for an over-the-air (OTA)\n         task.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCredentialLocker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCredentialLockerRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCredentialLockerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get information on an existing credential locker</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/credential-lockers/{Identifier}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCredentialLockerRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the credential locker.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCredentialLockerResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the credential locker.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the credential locker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp value of when the credential locker requset occurred.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the credential locker.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCustomEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCustomEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCustomEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the IoT managed integrations custom endpoint.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/custom-endpoint",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCustomEndpointRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetCustomEndpointResponse": {
      "type": "structure",
      "members": {
        "EndpointAddress": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IoT managed integrations dedicated, custom endpoint for the device to route traffic through.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetDefaultEncryptionConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#GetDefaultEncryptionConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#GetDefaultEncryptionConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves information about the default encryption configuration for the Amazon Web Services account\n         in the default or specified region. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key\n            management</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/configuration/account/encryption",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetDefaultEncryptionConfigurationRequest": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#GetDefaultEncryptionConfigurationResponse": {
      "type": "structure",
      "members": {
        "configurationStatus": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Provides the status of the default encryption configuration for an Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "encryptionType": {
          "target": "com.amazonaws.iotmanagedintegrations#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of encryption used for the encryption configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyArn": {
[...]
