{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot1click.projects#AWSIoT1ClickProjects": {
      "type": "service",
      "version": "2018-05-14",
      "operations": [
        {
          "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#CreatePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#CreateProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DeletePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DeleteProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DescribePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DescribeProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ListPlacements"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ListProjects"
        },
        {
          "target": "com.amazonaws.iot1click.projects#UpdatePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT 1Click Projects",
          "arnNamespace": "iot1click",
          "cloudFormationName": "IoT1Click",
          "cloudTrailEventSource": "projects.iot1click.amazonaws.com"
        },
        "smithy.api#documentation": "\n         <p>The AWS IoT 1-Click Project API Reference</p>\n      ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT 1-Click Projects Service"
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Associates a physical device with a placement.</p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementRequest": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "com.amazonaws.iot1click.projects#DeviceId",
          "traits": {
            "smithy.api#documentation": "\n         <p>The ID of the physical device to be associated with the given placement in the project.\n         Note that a mandatory 4 character prefix is required for all <code>deviceId</code>\n         values.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "deviceTemplateName": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The device template name to associate with the device ID.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement in which to associate the device.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project containing the placement in which to associate the\n         device.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#AttributeDefaultValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 800
        }
      }
    },
    "com.amazonaws.iot1click.projects#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 800
        }
      }
    },
    "com.amazonaws.iot1click.projects#Code": {
      "type": "string"
    },
    "com.amazonaws.iot1click.projects#CreatePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#CreatePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#CreatePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates an empty placement.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{projectName}/placements",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreatePlacementRequest": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>Optional user-defined key/value pairs providing contextual data (such as location or\n         function) for the placement.</p>\n      "
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement to be created.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project in which to create the placement.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreatePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Creates an empty project with a placement template. A project contains zero or more\n         placements that adhere to the placement template defined in the project.</p>\n      ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>An optional description for the project.</p>\n      "
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "\n         <p>The schema defining the placement to be created. A placement template defines placement\n         default attributes and device templates. You cannot add or remove device templates after\n         the project has been created. However, you can update <code>callbackOverrides</code> for\n         the device templates using the <code>UpdateProject</code> API.</p>\n      "
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project to create.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreateProjectResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DefaultPlacementAttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#AttributeDefaultValue"
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DeletePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DeletePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a placement. To delete a placement, it must not have any devices associated with\n         it.</p>\n         <note>\n            <p>When you delete a placement, all associated data becomes irretrievable.</p>\n         </note>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the empty placement to delete.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The project containing the empty placement to delete.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Deletes a project. To delete a project, it must not have any placements associated with\n         it.</p>\n         <note>\n            <p>When you delete a project, all associated data becomes\n            irretrievable.</p>\n         </note>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the empty project to delete.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeleteProjectResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DescribePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DescribePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DescribePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Describes a placement in a project.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribePlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement within a project.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The project containing the placement to be described.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribePlacementResponse": {
      "type": "structure",
      "members": {
        "placement": {
          "target": "com.amazonaws.iot1click.projects#PlacementDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object describing the placement.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DescribeProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns an object describing a project.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project to be described.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProjectResponse": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.iot1click.projects#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object describing the project.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackOverrideMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceCallbackKey"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceCallbackValue"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplateName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceId"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplate": {
      "type": "structure",
      "members": {
        "callbackOverrides": {
          "target": "com.amazonaws.iot1click.projects#DeviceCallbackOverrideMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>An optional Lambda function to invoke instead of the default Lambda function provided by\n         the placement template.</p>\n      "
          }
        },
        "deviceType": {
          "target": "com.amazonaws.iot1click.projects#DeviceType",
          "traits": {
            "smithy.api#documentation": "\n         <p>The device type, which currently must be <code>\"button\"</code>.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object representing a device for a placement template (see <a>PlacementTemplate</a>).</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplateMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplateName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplate"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Removes a physical device from a placement.</p>\n      ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementRequest": {
      "type": "structure",
      "members": {
        "deviceTemplateName": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The device ID that should be removed from the placement.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement that the device should be removed from.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project that contains the placement.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Returns an object enumerating the devices in a placement.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements/{placementName}/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement to get the devices from.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project containing the placement.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacementResponse": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.amazonaws.iot1click.projects#DeviceMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object containing the devices (zero or more) within the placement.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#InternalFailureException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.iot1click.projects#InvalidRequestException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#ListPlacementsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#ListPlacementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Lists the placement(s) of a project.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacementsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.iot1click.projects#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return per request. If not set, a default value of 100\n         is used.</p>\n      ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to retrieve the next set of results.</p>\n      ",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The project containing the placements to be listed.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacementsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token used to retrieve the next set of results - will be effectively empty if there\n         are no further results.</p>\n      "
          }
        },
        "placements": {
          "target": "com.amazonaws.iot1click.projects#PlacementSummaryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object listing the requested placements.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#ListProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#ListProjectsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Lists the AWS IoT 1-Click project(s) associated with your AWS account and region.</p>\n      ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.iot1click.projects#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n         <p>The maximum number of results to return per request. If not set, a default value of 100\n         is used.</p>\n      ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token to retrieve the next set of results.</p>\n      ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "\n         <p>The token used to retrieve the next set of results - will be effectively empty if there\n         are no further results.</p>\n      "
          }
        },
        "projects": {
          "target": "com.amazonaws.iot1click.projects#ProjectSummaryList",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object containing the list of projects.</p>\n      ",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.iot1click.projects#Message": {
      "type": "string"
    },
    "com.amazonaws.iot1click.projects#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.iot1click.projects#PlacementAttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#AttributeValue"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementDescription": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The user-defined attributes associated with the placement.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the placement was initially created, in UNIX epoch time format.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project containing the placement.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the placement was last updated, in UNIX epoch time format. If the\n         placement was not updated, then <code>createdDate</code> and <code>updatedDate</code> are\n         the same.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object describing a project's placement.</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#PlacementName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementSummary": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the placement was originally created, in UNIX epoch time format.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement being summarized.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project containing the placement.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the placement was last updated, in UNIX epoch time format. If the\n         placement was not updated, then <code>createdDate</code> and <code>updatedDate</code> are\n         the same.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object providing summary information for a particular placement.</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#PlacementSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot1click.projects#PlacementSummary"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementTemplate": {
      "type": "structure",
      "members": {
        "defaultAttributes": {
          "target": "com.amazonaws.iot1click.projects#DefaultPlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The default attributes (key/value pairs) to be applied to all placements using this\n         template.</p>\n      "
          }
        },
        "deviceTemplates": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object specifying the <a>DeviceTemplate</a> for all placements using this\n            (<a>PlacementTemplate</a>) template.</p>\n      "
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object defining the template for a placement.</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#ProjectDescription": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the project was originally created, in UNIX epoch time format.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>The description of the project.</p>\n      "
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object describing the project's placement specifications.</p>\n      "
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project for which to obtain information from.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the project was last updated, in UNIX epoch time format. If the project\n         was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the\n         same.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object providing detailed information for a particular project associated with an\n         AWS account and region.</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#ProjectName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9A-Za-z_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectSummary": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the project was originally created, in UNIX epoch time format.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project being summarized.</p>\n      ",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "\n         <p>The date when the project was last updated, in UNIX epoch time format. If the project\n         was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the\n         same.</p>\n      ",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p>An object providing summary information for a particular project for an associated AWS\n         account and region.</p>\n      "
      }
    },
    "com.amazonaws.iot1click.projects#ProjectSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot1click.projects#ProjectSummary"
      }
    },
    "com.amazonaws.iot1click.projects#ResourceConflictException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iot1click.projects#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iot1click.projects#Time": {
      "type": "timestamp"
    },
    "com.amazonaws.iot1click.projects#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n         <p></p>\n      ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#UpdatePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#UpdatePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Updates a placement with the given attributes. To clear an attribute, pass an empty\n         value (i.e., \"\").</p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacementRequest": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "\n         <p>The user-defined object of attributes used to update the placement. The maximum number\n         of key/value pairs is 50.</p>\n      "
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the placement to update.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project containing the placement to be updated.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#UpdateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#UpdateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#UpdateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n         <p>Updates a project associated with your AWS account and region. With the exception of\n         device template names, you can pass just the values that need to be updated because the\n         update request will change only the values that are provided. To clear a value, pass the\n         empty string (i.e., <code>\"\"</code>).</p>\n      ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdateProjectRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "\n         <p>An optional user-defined description for the project.</p>\n      "
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "\n         <p>An object defining the project update. Once a project has been created, you cannot add\n         device template names to the project. However, for a given <code>placementTemplate</code>,\n         you can update the associated <code>callbackOverrides</code> for the device definition\n         using this API.</p>\n      "
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "\n         <p>The name of the project to be updated.</p>\n      ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdateProjectResponse": {
      "type": "structure",
      "members": { }
    }
  }
}
