{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotdataplane#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified version does not match the version of the document.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotdataplane#DeleteThingShadow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotdataplane#DeleteThingShadowRequest"
      },
      "output": {
        "target": "com.amazonaws.iotdataplane#DeleteThingShadowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotdataplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotdataplane#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotdataplane#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnsupportedDocumentEncodingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the thing shadow for the specified thing.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_DeleteThingShadow.html\">DeleteThingShadow</a> in the\n        <i>AWS IoT Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/things/{thingName}/shadow",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotdataplane#DeleteThingShadowRequest": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.iotdataplane#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the DeleteThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#DeleteThingShadowResponse": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.amazonaws.iotdataplane#JsonDocument",
          "traits": {
            "smithy.api#documentation": "<p>The state information, in JSON format.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output from the DeleteThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#GetThingShadow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotdataplane#GetThingShadowRequest"
      },
      "output": {
        "target": "com.amazonaws.iotdataplane#GetThingShadowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotdataplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotdataplane#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotdataplane#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnsupportedDocumentEncodingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the thing shadow for the specified thing.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_GetThingShadow.html\">GetThingShadow</a> in the\n        <i>AWS IoT Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/things/{thingName}/shadow",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotdataplane#GetThingShadowRequest": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.iotdataplane#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the GetThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#GetThingShadowResponse": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.amazonaws.iotdataplane#JsonDocument",
          "traits": {
            "smithy.api#documentation": "<p>The state information, in JSON format.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output from the GetThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An unexpected error has occurred.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.iotdataplane#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iotdataplane#IotMoonrakerService": {
      "type": "service",
      "version": "2015-05-28",
      "operations": [
        {
          "target": "com.amazonaws.iotdataplane#DeleteThingShadow"
        },
        {
          "target": "com.amazonaws.iotdataplane#GetThingShadow"
        },
        {
          "target": "com.amazonaws.iotdataplane#Publish"
        },
        {
          "target": "com.amazonaws.iotdataplane#UpdateThingShadow"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT Data Plane",
          "arnNamespace": "iotdata",
          "cloudFormationName": "IoTDataPlane",
          "cloudTrailEventSource": "moonraker.iot.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "iotdata"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>AWS IoT</fullname>\n    <p>AWS IoT-Data enables secure, bi-directional communication between Internet-connected things \n      (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. \n      It implements a broker for applications and things to publish messages \n      over HTTP (Publish) and retrieve, update, and delete thing shadows. A thing shadow is a \n      persistent representation of your things and their state in the AWS cloud.</p>",
        "smithy.api#title": "AWS IoT Data Plane"
      }
    },
    "com.amazonaws.iotdataplane#JsonDocument": {
      "type": "blob"
    },
    "com.amazonaws.iotdataplane#MethodNotAllowedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified combination of HTTP verb and URI is not supported.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 405
      }
    },
    "com.amazonaws.iotdataplane#Payload": {
      "type": "blob"
    },
    "com.amazonaws.iotdataplane#Publish": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotdataplane#PublishRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotdataplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotdataplane#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotdataplane#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Publishes state information.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/protocols.html#http\">HTTP Protocol</a> in the\n        <i>AWS IoT Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/topics/{topic}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotdataplane#PublishRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.amazonaws.iotdataplane#Payload",
          "traits": {
            "smithy.api#documentation": "<p>The state information, in JSON format.</p>",
            "smithy.api#httpPayload": {}
          }
        },
        "qos": {
          "target": "com.amazonaws.iotdataplane#Qos",
          "traits": {
            "smithy.api#documentation": "<p>The Quality of Service (QoS) level.</p>",
            "smithy.api#httpQuery": "qos"
          }
        },
        "topic": {
          "target": "com.amazonaws.iotdataplane#Topic",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MQTT topic.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the Publish operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#Qos": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.iotdataplane#RequestEntityTooLargeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The payload exceeds the maximum size allowed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 413
      }
    },
    "com.amazonaws.iotdataplane#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified resource does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iotdataplane#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The service is temporarily unavailable.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.iotdataplane#ThingName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9:_-]+"
      }
    },
    "com.amazonaws.iotdataplane#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The rate exceeds the limit.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.iotdataplane#Topic": {
      "type": "string"
    },
    "com.amazonaws.iotdataplane#UnauthorizedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.iotdataplane#UnsupportedDocumentEncodingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotdataplane#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message for the exception.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The document encoding is not supported.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 415
      }
    },
    "com.amazonaws.iotdataplane#UpdateThingShadow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotdataplane#UpdateThingShadowRequest"
      },
      "output": {
        "target": "com.amazonaws.iotdataplane#UpdateThingShadowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotdataplane#ConflictException"
        },
        {
          "target": "com.amazonaws.iotdataplane#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotdataplane#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotdataplane#MethodNotAllowedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#RequestEntityTooLargeException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotdataplane#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotdataplane#UnsupportedDocumentEncodingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates the thing shadow for the specified thing.</p>\n     <p>For more information, see <a href=\"http://docs.aws.amazon.com/iot/latest/developerguide/API_UpdateThingShadow.html\">UpdateThingShadow</a> in the\n        <i>AWS IoT Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/things/{thingName}/shadow",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotdataplane#UpdateThingShadowRequest": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.amazonaws.iotdataplane#JsonDocument",
          "traits": {
            "smithy.api#documentation": "<p>The state information, in JSON format.</p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "thingName": {
          "target": "com.amazonaws.iotdataplane#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the UpdateThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#UpdateThingShadowResponse": {
      "type": "structure",
      "members": {
        "payload": {
          "target": "com.amazonaws.iotdataplane#JsonDocument",
          "traits": {
            "smithy.api#documentation": "<p>The state information, in JSON format.</p>",
            "smithy.api#httpPayload": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The output from the UpdateThingShadow operation.</p>"
      }
    },
    "com.amazonaws.iotdataplane#errorMessage": {
      "type": "string"
    }
  }
}
