{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot1click.projects#AWSIoT1ClickProjects": {
      "type": "service",
      "version": "2018-05-14",
      "operations": [
        {
          "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#CreatePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#CreateProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DeletePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DeleteProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DescribePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DescribeProject"
        },
        {
          "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ListPlacements"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ListProjects"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TagResource"
        },
        {
          "target": "com.amazonaws.iot1click.projects#UntagResource"
        },
        {
          "target": "com.amazonaws.iot1click.projects#UpdatePlacement"
        },
        {
          "target": "com.amazonaws.iot1click.projects#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT 1Click Projects",
          "arnNamespace": "iot1click",
          "cloudFormationName": "IoT1Click",
          "cloudTrailEventSource": "projects.iot1click.amazonaws.com"
        },
        "smithy.api#documentation": "<p>The AWS IoT 1-Click Projects API Reference</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT 1-Click Projects Service"
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a physical device with a placement.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementRequest": {
      "type": "structure",
      "members": {
        "deviceId": {
          "target": "com.amazonaws.iot1click.projects#DeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the physical device to be associated with the given placement in the project.\n      Note that a mandatory 4 character prefix is required for all <code>deviceId</code>\n      values.</p>",
            "smithy.api#required": true
          }
        },
        "deviceTemplateName": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The device template name to associate with the device ID.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement in which to associate the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project containing the placement in which to associate the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#AssociateDeviceWithPlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#AttributeDefaultValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 800
        }
      }
    },
    "com.amazonaws.iot1click.projects#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 800
        }
      }
    },
    "com.amazonaws.iot1click.projects#Code": {
      "type": "string"
    },
    "com.amazonaws.iot1click.projects#CreatePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#CreatePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#CreatePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty placement.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects/{projectName}/placements",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreatePlacementRequest": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional user-defined key/value pairs providing contextual data (such as location or\n      function) for the placement.</p>"
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement to be created.</p>",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in which to create the placement.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreatePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty project with a placement template. A project contains zero or more\n      placements that adhere to the placement template defined in the project.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the project.</p>"
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "<p>The schema defining the placement to be created. A placement template defines placement\n      default attributes and device templates. You cannot add or remove device templates after the\n      project has been created. However, you can update <code>callbackOverrides</code> for the\n      device templates using the <code>UpdateProject</code> API.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to create.</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.iot1click.projects#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Optional tags (metadata key/value pairs) to be associated with the project. For example,\n        <code>{ {\"key1\": \"value1\", \"key2\": \"value2\"} }</code>. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging\n        Strategies</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#CreateProjectResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DefaultPlacementAttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#AttributeDefaultValue"
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DeletePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DeletePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a placement. To delete a placement, it must not have any devices associated with\n      it.</p>\n         <note>\n            <p>When you delete a placement, all associated data becomes irretrievable.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the empty placement to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The project containing the empty placement to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeletePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a project. To delete a project, it must not have any placements associated with\n      it.</p>\n         <note>\n            <p>When you delete a project, all associated data becomes irretrievable.</p>\n         </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the empty project to delete.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeleteProjectResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#DescribePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DescribePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DescribePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a placement in a project.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribePlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement within a project.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The project containing the placement to be described.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribePlacementResponse": {
      "type": "structure",
      "members": {
        "placement": {
          "target": "com.amazonaws.iot1click.projects#PlacementDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the placement.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DescribeProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an object describing a project.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to be described.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DescribeProjectResponse": {
      "type": "structure",
      "members": {
        "project": {
          "target": "com.amazonaws.iot1click.projects#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the project.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackOverrideMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceCallbackKey"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceCallbackValue"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceCallbackValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.iot1click.projects#DeviceMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplateName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceId"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplate": {
      "type": "structure",
      "members": {
        "callbackOverrides": {
          "target": "com.amazonaws.iot1click.projects#DeviceCallbackOverrideMap",
          "traits": {
            "smithy.api#documentation": "<p>An optional Lambda function to invoke instead of the default Lambda function provided by\n      the placement template.</p>"
          }
        },
        "deviceType": {
          "target": "com.amazonaws.iot1click.projects#DeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The device type, which currently must be <code>\"button\"</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object representing a device for a placement template (see <a>PlacementTemplate</a>).</p>"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplateMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplateName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#DeviceTemplate"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceTemplateName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#DeviceType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a physical device from a placement.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/projects/{projectName}/placements/{placementName}/devices/{deviceTemplateName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementRequest": {
      "type": "structure",
      "members": {
        "deviceTemplateName": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateName",
          "traits": {
            "smithy.api#documentation": "<p>The device ID that should be removed from the placement.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement that the device should be removed from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the placement.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#DisassociateDeviceFromPlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#GetDevicesInPlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an object enumerating the devices in a placement.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements/{placementName}/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacementRequest": {
      "type": "structure",
      "members": {
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement to get the devices from.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project containing the placement.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#GetDevicesInPlacementResponse": {
      "type": "structure",
      "members": {
        "devices": {
          "target": "com.amazonaws.iot1click.projects#DeviceMap",
          "traits": {
            "smithy.api#documentation": "<p>An object containing the devices (zero or more) within the placement.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#InternalFailureException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.iot1click.projects#InvalidRequestException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#ListPlacementsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#ListPlacementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the placement(s) of a project.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects/{projectName}/placements",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "placements",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacementsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.iot1click.projects#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per request. If not set, a default value of 100 is\n      used.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The project containing the placements to be listed.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListPlacementsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next set of results - will be effectively empty if there\n      are no further results.</p>"
          }
        },
        "placements": {
          "target": "com.amazonaws.iot1click.projects#PlacementSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An object listing the requested placements.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#ListProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#ListProjectsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the AWS IoT 1-Click project(s) associated with your AWS account and region.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/projects",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "projects",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.iot1click.projects#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per request. If not set, a default value of 100 is\n      used.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot1click.projects#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token used to retrieve the next set of results - will be effectively empty if there\n      are no further results.</p>"
          }
        },
        "projects": {
          "target": "com.amazonaws.iot1click.projects#ProjectSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An object containing the list of projects.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags (metadata key/value pairs) which you have assigned to the resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iot1click.projects#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose tags you want to list.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.iot1click.projects#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags (metadata key/value pairs) which you have assigned to the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.iot1click.projects#Message": {
      "type": "string"
    },
    "com.amazonaws.iot1click.projects#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.iot1click.projects#PlacementAttributeMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#AttributeValue"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementDescription": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined attributes associated with the placement.</p>",
            "smithy.api#required": true
          }
        },
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the placement was initially created, in UNIX epoch time format.</p>",
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement.</p>",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project containing the placement.</p>",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the placement was last updated, in UNIX epoch time format. If the placement\n      was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the\n      same.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object describing a project's placement.</p>"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementSummary": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the placement was originally created, in UNIX epoch time format.</p>",
            "smithy.api#required": true
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement being summarized.</p>",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project containing the placement.</p>",
            "smithy.api#required": true
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the placement was last updated, in UNIX epoch time format. If the placement\n      was not updated, then <code>createdDate</code> and <code>updatedDate</code> are the\n      same.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object providing summary information for a particular placement.</p>"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot1click.projects#PlacementSummary"
      }
    },
    "com.amazonaws.iot1click.projects#PlacementTemplate": {
      "type": "structure",
      "members": {
        "defaultAttributes": {
          "target": "com.amazonaws.iot1click.projects#DefaultPlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The default attributes (key/value pairs) to be applied to all placements using this\n      template.</p>"
          }
        },
        "deviceTemplates": {
          "target": "com.amazonaws.iot1click.projects#DeviceTemplateMap",
          "traits": {
            "smithy.api#documentation": "<p>An object specifying the <a>DeviceTemplate</a> for all placements using this\n        (<a>PlacementTemplate</a>) template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object defining the template for a placement.</p>"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:aws:iot1click:[A-Za-z0-9_/.-]{0,63}:\\d+:projects/[0-9A-Za-z_-]{1,128}$"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectDescription": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iot1click.projects#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the project was originally created, in UNIX epoch time format.</p>",
            "smithy.api#required": true
          }
        },
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project.</p>"
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the project's placement specifications.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project for which to obtain information from.</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.iot1click.projects#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags (metadata key/value pairs) associated with the project.</p>"
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the project was last updated, in UNIX epoch time format. If the project was\n      not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object providing detailed information for a particular project associated with an AWS\n      account and region.</p>"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9A-Za-z_-]+$"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iot1click.projects#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the project.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the project was originally created, in UNIX epoch time format.</p>",
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project being summarized.</p>",
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.iot1click.projects#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags (metadata key/value pairs) associated with the project.</p>"
          }
        },
        "updatedDate": {
          "target": "com.amazonaws.iot1click.projects#Time",
          "traits": {
            "smithy.api#documentation": "<p>The date when the project was last updated, in UNIX epoch time format. If the project was\n      not updated, then <code>createdDate</code> and <code>updatedDate</code> are the same.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object providing summary information for a particular project for an associated AWS\n      account and region.</p>"
      }
    },
    "com.amazonaws.iot1click.projects#ProjectSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot1click.projects#ProjectSummary"
      }
    },
    "com.amazonaws.iot1click.projects#ResourceConflictException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iot1click.projects#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iot1click.projects#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$"
      }
    },
    "com.amazonaws.iot1click.projects#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot1click.projects#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.iot1click.projects#TagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot1click.projects#TagKey"
      },
      "value": {
        "target": "com.amazonaws.iot1click.projects#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.iot1click.projects#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates or modifies tags for a resource. Tags are key/value pairs (metadata) that can be\n      used to manage a resource. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS Tagging\n        Strategies</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#TagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iot1click.projects#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resouce for which tag(s) should be added or modified.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "tags": {
          "target": "com.amazonaws.iot1click.projects#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The new or modifying tag(s) for the resource. See <a href=\"https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits\">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per\n      resource.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#TagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iot1click.projects#Time": {
      "type": "timestamp"
    },
    "com.amazonaws.iot1click.projects#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iot1click.projects#Code",
          "traits": {
            "smithy.api#required": true
          }
        },
        "message": {
          "target": "com.amazonaws.iot1click.projects#Message",
          "traits": {
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.iot1click.projects#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more tags (metadata key/value pairs) from a resource.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iot1click.projects#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource whose tag you want to remove.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.iot1click.projects#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The keys of those tags which you want to remove.</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#UntagResourceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#UpdatePlacementRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#UpdatePlacementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a placement with the given attributes. To clear an attribute, pass an empty value\n      (i.e., \"\").</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}/placements/{placementName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacementRequest": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot1click.projects#PlacementAttributeMap",
          "traits": {
            "smithy.api#documentation": "<p>The user-defined object of attributes used to update the placement. The maximum number of\n      key/value pairs is 50.</p>"
          }
        },
        "placementName": {
          "target": "com.amazonaws.iot1click.projects#PlacementName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the placement to update.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project containing the placement to be updated.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdatePlacementResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot1click.projects#UpdateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot1click.projects#UpdateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.iot1click.projects#UpdateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot1click.projects#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot1click.projects#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Updates a project associated with your AWS account and region. With the exception of\n      device template names, you can pass just the values that need to be updated because the update\n      request will change only the values that are provided. To clear a value, pass the empty string\n      (i.e., <code>\"\"</code>).</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/projects/{projectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdateProjectRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot1click.projects#Description",
          "traits": {
            "smithy.api#documentation": "<p>An optional user-defined description for the project.</p>"
          }
        },
        "placementTemplate": {
          "target": "com.amazonaws.iot1click.projects#PlacementTemplate",
          "traits": {
            "smithy.api#documentation": "<p>An object defining the project update. Once a project has been created, you cannot add\n      device template names to the project. However, for a given <code>placementTemplate</code>, you\n      can update the associated <code>callbackOverrides</code> for the device definition using this\n      API.</p>"
          }
        },
        "projectName": {
          "target": "com.amazonaws.iot1click.projects#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to be updated.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot1click.projects#UpdateProjectResponse": {
      "type": "structure",
      "members": { }
    }
  }
}
