{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.iotmanagedintegrations#AbortConfigCriteria": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.iotmanagedintegrations#AbortCriteriaAction",
          "traits": {
            "smithy.api#documentation": "<p>The action taken by the abort configuration.</p>"
          }
        },
        "FailureType": {
          "target": "com.amazonaws.iotmanagedintegrations#AbortCriteriaFailureType",
          "traits": {
            "smithy.api#documentation": "<p>Over-the-air (OTA) task abort criteria failure type.</p>"
          }
        },
        "MinNumberOfExecutedThings": {
          "target": "com.amazonaws.iotmanagedintegrations#MinNumberOfExecutedThings",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of things that must receive task execution notifications before the task can be aborted.</p>"
          }
        },
        "ThresholdPercentage": {
          "target": "com.amazonaws.iotmanagedintegrations#ThresholdPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The minimum percentage of over-the-air (OTA) task execution failures that must occur to initiate the last abort.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure representing one abort config criteria.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortConfigCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#AbortConfigCriteria"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortCriteriaAction": {
      "type": "enum",
      "members": {
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AbortCriteriaFailureType": {
      "type": "enum",
      "members": {
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "REJECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REJECTED"
          }
        },
        "TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TIMED_OUT"
          }
        },
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALL"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotmanagedintegrations#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User is not authorized.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#length": {
          "min": 67,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:iotmanagedintegrations:[0-9a-zA-Z-]+:[0-9]+:account-association/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationItem": {
      "type": "structure",
      "members": {
        "AccountAssociationId": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The unique identifier of the account association.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociationState": {
          "target": "com.amazonaws.iotmanagedintegrations#AssociationState",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The current state of the account association, indicating its status in the association lifecycle.</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationErrorMessage",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The error message explaining any issues with the account association, if applicable.</p>"
          }
        },
        "ConnectorDestinationId": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The identifier of the connector destination associated with this account association.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationName",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The name of the account association.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationDescription",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>A description of the account association.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure containing information about an account association, including its identifier, state, and related metadata.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationItem"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AccountAssociationResource": {
      "type": "resource",
      "identifiers": {
        "AccountAssociationId": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateAccountAssociation"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetAccountAssociation"
      },
      "update": {
        "target": "com.amazonaws.iotmanagedintegrations#UpdateAccountAssociation"
      },
      "delete": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteAccountAssociation"
      },
      "list": {
        "target": "com.amazonaws.iotmanagedintegrations#ListAccountAssociations"
      },
      "operations": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#StartAccountAssociationRefresh"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "account-association/{AccountAssociationId}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "AccountAssociation"
        },
        "aws.iam#iamResource": {
          "name": "account-association"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[/a-zA-Z0-9\\._ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionReference": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z.]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ActionTraceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 16,
          "max": 20
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+=(?:_[0-9]+)?$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AdvertisedProductId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 5
        },
        "smithy.api#pattern": "^([A-Za-z0-9!#$%&()*\\+\\-;<=>?@^_`{|}~])+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AssociationState": {
      "type": "enum",
      "members": {
        "ASSOCIATION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATION_IN_PROGRESS"
          }
        },
        "ASSOCIATION_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATION_FAILED"
          }
        },
        "ASSOCIATION_SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATION_SUCCEEDED"
          }
        },
        "ASSOCIATION_DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSOCIATION_DELETING"
          }
        },
        "REFRESH_TOKEN_EXPIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REFRESH_TOKEN_EXPIRED"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]+"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 800
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]*"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthConfig": {
      "type": "structure",
      "members": {
        "oAuth": {
          "target": "com.amazonaws.iotmanagedintegrations#OAuthConfig",
          "traits": {
            "smithy.api#documentation": "<p>The OAuth configuration settings used for authentication with the third-party service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authentication configuration details for a connector destination, including OAuth settings and other authentication parameters.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthConfigUpdate": {
      "type": "structure",
      "members": {
        "oAuthUpdate": {
          "target": "com.amazonaws.iotmanagedintegrations#OAuthUpdate",
          "traits": {
            "smithy.api#documentation": "<p>The updated OAuth configuration settings for the authentication configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The updated authentication configuration details for a connector destination.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthMaterialString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[0-9A-Za-z!#$%&()*\\+\\-;<=>?@^_`{|}~\\/: {},\\\\\"]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthMaterialType": {
      "type": "enum",
      "members": {
        "CUSTOM_PROTOCOL_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CUSTOM_PROTOCOL_QR_BAR_CODE"
          }
        },
        "WIFI_SETUP_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIFI_SETUP_QR_BAR_CODE"
          }
        },
        "ZWAVE_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZWAVE_QR_BAR_CODE"
          }
        },
        "ZIGBEE_QR_BAR_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ZIGBEE_QR_BAR_CODE"
          }
        },
        "DISCOVERED_DEVICE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCOVERED_DEVICE"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthType": {
      "type": "enum",
      "members": {
        "OAUTH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OAUTH"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#AuthUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}([-a-zA-Z0-9()@:%_\\+.~#?&\\/=]*)$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#BaseRatePerMinute": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#Brand": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CaCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^-----BEGIN CERTIFICATE-----.*(.|\\n)*-----END CERTIFICATE-----\\n?$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#Capabilities": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\s'\\x{0022},.:\\\\\\/{$}\\[\\]=_\\-\\+]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityAction": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityActionName",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with a name.</p>",
            "smithy.api#required": {}
          }
        },
        "ref": {
          "target": "com.amazonaws.iotmanagedintegrations#ActionReference",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with an reference.</p>"
          }
        },
        "actionTraceId": {
          "target": "com.amazonaws.iotmanagedintegrations#ActionTraceId",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with an <code>actionTraceId</code> for a response command.</p>"
          }
        },
        "parameters": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describe a capability action with a capability property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Action for an Amazon Web Services capability, containing the action parameters for control.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityActionName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[/a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9./]+(@\\d+\\.\\d+)?$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[/a-zA-Z0-9\\._ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityProperties": {
      "type": "document",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReport": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "nodeId": {
          "target": "com.amazonaws.iotmanagedintegrations#NodeId",
          "traits": {
            "smithy.api#documentation": "<p>The numeric identifier of the node.</p>"
          }
        },
        "endpoints": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoints",
          "traits": {
            "smithy.api#documentation": "<p>The endpoints used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Report of all capabilities supported by the device.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#ActionName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportCapability": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionedId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the schema version.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the capability.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportProperties",
          "traits": {
            "smithy.api#documentation": "<p>The capability properties used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportActions",
          "traits": {
            "smithy.api#documentation": "<p>The capability actions used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "events": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEvents",
          "traits": {
            "smithy.api#documentation": "<p>The capability events used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The capability used in capability report.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoint": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the endpoint used in the capability report.</p>",
            "smithy.api#required": {}
          }
        },
        "deviceTypes": {
          "target": "com.amazonaws.iotmanagedintegrations#DeviceTypes",
          "traits": {
            "smithy.api#documentation": "<p>The type of device.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>The capabilities used in the capability report.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The endpoint used in the capability report.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilityReportEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportEvents": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#EventName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#PropertyName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityReportVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^1\\.0\\.0$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilitySchemaItem": {
      "type": "structure",
      "members": {
        "Format": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the capability schema, which defines how the schema is structured and interpreted.</p>",
            "smithy.api#required": {}
          }
        },
        "CapabilityId": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionedId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the capability defined in the schema.</p>",
            "smithy.api#required": {}
          }
        },
        "ExtrinsicId": {
          "target": "com.amazonaws.iotmanagedintegrations#ExtrinsicSchemaId",
          "traits": {
            "smithy.api#documentation": "<p>The external identifier for the capability, used when referencing the capability outside of the AWS ecosystem.</p>",
            "smithy.api#required": {}
          }
        },
        "ExtrinsicVersion": {
          "target": "com.amazonaws.iotmanagedintegrations#MatterCapabilityReportClusterRevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the external capability definition, used to track compatibility with external systems.</p>",
            "smithy.api#required": {}
          }
        },
        "Schema": {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationSchema",
          "traits": {
            "smithy.api#documentation": "<p>The actual schema definition that describes the capability's properties, actions, and events.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure representing a capability schema item that defines the functionality and features supported by a managed thing.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilitySchemas": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CapabilitySchemaItem"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 40
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CapabilityVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(0|[1-9][0-9]*)$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClaimCertificate": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClaimCertificatePrivateKey": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#Classification": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9=_-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CloudConnectorDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[0-9A-Za-z_\\- ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CloudConnectorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CloudConnectorResource": {
      "type": "resource",
      "identifiers": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCloudConnector"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCloudConnector"
      },
      "update": {
        "target": "com.amazonaws.iotmanagedintegrations#UpdateCloudConnector"
      },
      "delete": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteCloudConnector"
      },
      "list": {
        "target": "com.amazonaws.iotmanagedintegrations#ListCloudConnectors"
      },
      "traits": {
        "aws.api#arn": {
          "template": "cloud-connector/{Identifier}"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CloudConnectorType": {
      "type": "enum",
      "members": {
        "LISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LISTED"
          }
        },
        "UNLISTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNLISTED"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ClusterId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 24
        },
        "smithy.api#pattern": "^0[xX][0-9a-fA-F]+$|^[0-9]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CommandCapability"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandCapability": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotmanagedintegrations#SchemaVersionedId",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with an id.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityName",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with an name.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityVersion",
          "traits": {
            "smithy.api#documentation": "<p>Describe the capability with a version.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityActions",
          "traits": {
            "smithy.api#documentation": "<p>Describe the command capability with the actions it supports.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The command capabilities added for the managed thing</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandEndpoint": {
      "type": "structure",
      "members": {
        "endpointId": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointId",
          "traits": {
            "smithy.api#documentation": "<p>The id of the endpoint for a managed thing.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#CommandCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Describe the endpoint with an id, a name, and the relevant capabilities for sending commands.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The endpoint for a managed thing when sending a command.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CommandEndpoints": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CommandEndpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationError": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code returned when the default encryption configuration update fails.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message returned when the default encryption configuration update fails.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the default encryption configuration error update details.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 65535
        },
        "smithy.api#pattern": "^[a-zA-Z0-9\\-._,]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationState": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "UPDATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
          }
        },
        "UPDATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConfigurationStatus": {
      "type": "structure",
      "members": {
        "error": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationError",
          "traits": {
            "smithy.api#documentation": "<p>The error details describing a failed default encryption configuration update.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.iotmanagedintegrations#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The status state describing the default encryption configuration update.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the status of the default encryption configuration for an Amazon Web Services account.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotmanagedintegrations#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There is a conflict with the request.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectivityStatus": {
      "type": "boolean"
    },
    "com.amazonaws.iotmanagedintegrations#ConnectivityTimestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorAssociationId": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {
          "message": "ConnectorAssociationId is deprecated",
          "since": "2025-06-25"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[0-9A-Za-z_\\- ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationSummary"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationResource": {
      "type": "resource",
      "identifiers": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateConnectorDestination"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetConnectorDestination"
      },
      "update": {
        "target": "com.amazonaws.iotmanagedintegrations#UpdateConnectorDestination"
      },
      "delete": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteConnectorDestination"
      },
      "list": {
        "target": "com.amazonaws.iotmanagedintegrations#ListConnectorDestinations"
      },
      "traits": {
        "aws.api#arn": {
          "template": "connector-destination/{Identifier}"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDestinationSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the connector destination.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the connector destination.</p>"
          }
        },
        "CloudConnectorId": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the cloud connector associated with this connector destination.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the connector destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure containing summary information about a connector destination, which defines how a cloud-to-cloud connector connects to a customer's AWS account.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDeviceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.,@-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorDeviceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\p{L}\\p{N} ._-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorEventMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\sa-zA-Z0-9_.,@-]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorEventOperation": {
      "type": "enum",
      "members": {
        "DEVICE_COMMAND_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_COMMAND_RESPONSE"
          }
        },
        "DEVICE_DISCOVERY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_DISCOVERY"
          }
        },
        "DEVICE_EVENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_EVENT"
          }
        },
        "DEVICE_COMMAND_REQUEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEVICE_COMMAND_REQUEST"
          }
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorEventOperationVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6
        },
        "smithy.api#pattern": "^[0-9.]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorEventStatusCode": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 100,
          "max": 550
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorItem": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the C2C connector.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the cloud connector endpoint, including connection parameters and authentication requirements.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the C2C connector.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint used for the C2C connector.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the C2C connector.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorType",
          "traits": {
            "smithy.api#documentation": "<p>The type of cloud connector created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure describing a connector.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#ConnectorItem"
      }
    },
    "com.amazonaws.iotmanagedintegrations#ConnectorPolicyId": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {
          "message": "ConnectorPolicyId is deprecated",
          "since": "2025-06-25"
        },
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateAccountAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateAccountAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateAccountAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new account association via the destination id.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/account-associations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateAccountAssociationRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "ConnectorDestinationId": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The identifier of the connector destination.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationName",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The name of the destination for the new account association.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationDescription",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A description of the account association request.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the account association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateAccountAssociationResponse": {
      "type": "structure",
      "members": {
        "OAuthAuthorizationUrl": {
          "target": "com.amazonaws.iotmanagedintegrations#OAuthAuthorizationUrl",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>Third-party IoT platform OAuth authorization server URL backed with all the required parameters to perform end-user authentication.</p>",
            "smithy.api#required": {}
          }
        },
        "AccountAssociationId": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The identifier for the account association request.</p>",
            "smithy.api#required": {}
          }
        },
        "AssociationState": {
          "target": "com.amazonaws.iotmanagedintegrations#AssociationState",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The current state of the account association request.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#AccountAssociationArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCloudConnector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCloudConnectorRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCloudConnectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a C2C (cloud-to-cloud) connector.</p>",
        "smithy.api#examples": [
          {
            "title": "CreateCloudConnector happy path for TP Link",
            "input": {
              "Name": "Connector for TP Link Cloud",
              "EndpointType": "LAMBDA",
              "EndpointConfig": {
                "lambda": {
                  "arn": "arn:aws:lambda:us-east-1:111122223333:function:my-function:myVersion"
                }
              },
              "ClientToken": "1234567890"
            },
            "output": {
              "Id": "TPLinkConnector1211"
            }
          },
          {
            "title": "CreateCloudConnector happy path for Ring",
            "input": {
              "Name": "Connector for Ring Cloud",
              "EndpointType": "LAMBDA",
              "EndpointConfig": {
                "lambda": {
                  "arn": "arn:aws:lambda:us-east-1:111122223333:function:my-function:myVersion"
                }
              },
              "ClientToken": "12312321"
            },
            "output": {
              "Id": "RingConnector1212"
            }
          },
          {
            "title": "CreateCloudConnector error path for Ring connector which already exists",
            "input": {
              "Name": "Connector for Ring Cloud",
              "EndpointType": "LAMBDA",
              "EndpointConfig": {
                "lambda": {
                  "arn": "arn:aws:lambda:us-east-1:111122223333:function:my-function:myVersion2"
                }
              },
              "ClientToken": "1213123123"
            },
            "error": {
              "shapeId": "com.amazonaws.iotmanagedintegrations#ConflictException",
              "content": {
                "Message": "Connector Resource already exists"
              }
            },
            "allowConstraintErrors": true
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/cloud-connectors",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCloudConnectorRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DisplayName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the C2C connector.</p>",
            "smithy.api#required": {}
          }
        },
        "EndpointConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointConfig",
          "traits": {
            "smithy.api#documentation": "<p>The configuration details for the cloud connector endpoint, including connection parameters and authentication requirements.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the C2C connector.</p>"
          }
        },
        "EndpointType": {
          "target": "com.amazonaws.iotmanagedintegrations#EndpointType",
          "traits": {
            "smithy.api#documentation": "<p>The type of endpoint used for the cloud connector, which defines how the connector communicates with external services.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCloudConnectorResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the newly created cloud connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateConnectorDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateConnectorDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateConnectorDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a connector destination for connecting a cloud-to-cloud (C2C) connector to the customer's Amazon Web Services account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/connector-destinations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateConnectorDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the connector destination.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the connector destination.</p>"
          }
        },
        "CloudConnectorId": {
          "target": "com.amazonaws.iotmanagedintegrations#CloudConnectorId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the C2C connector.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthType": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthType",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type used for the connector destination, which determines how credentials and access are managed.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthConfig",
          "traits": {
            "smithy.api#documentation": "<p>The authentication configuration details for the connector destination, including OAuth settings and other authentication parameters.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretsManager": {
          "target": "com.amazonaws.iotmanagedintegrations#SecretsManager",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Secrets Manager configuration used to securely store and manage sensitive information for the connector destination.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateConnectorDestinationResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ConnectorDestinationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the C2C connector destination creation request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLocker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a product credential locker. This operation will trigger the creation of all the manufacturing resources including the Wi-Fi setup key pair and device certificate.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/credential-lockers",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerName",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The name of the credential locker.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the credential locker.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateCredentialLockerResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The identifier of the credential locker creation request.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The timestamp value of when the credential locker request occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Create a destination. IoT managed integrations uses the destination to determine where to deliver notifications for a device. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/destinations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestinationRequest": {
      "type": "structure",
      "members": {
        "DeliveryDestinationArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DeliveryDestinationType": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationType",
          "traits": {
            "smithy.api#documentation": "<p>The destination type for the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotmanagedintegrations#DeliveryDestinationRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the delivery destination role.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the customer-managed destination.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Tags have been deprecated from this api",
              "since": "06-25-2025"
            },
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateDestinationResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the customer-managed destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Set the event log configuration for the account, resource type, or specific resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/event-log-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationRequest": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource for the event log configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.iotmanagedintegrations#SmartHomeResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource for the event log configuration.</p>"
          }
        },
        "EventLogLevel": {
          "target": "com.amazonaws.iotmanagedintegrations#LogLevel",
          "traits": {
            "smithy.api#documentation": "<p>The logging level for the event log configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateEventLogConfigurationResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#LogConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event log configuration request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateManagedThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateManagedThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a managed thing. A managed thing contains the device identifier, protocol supported, and capabilities of the device in a protocol-specific format.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/managed-things",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThingRequest": {
      "type": "structure",
      "members": {
        "Role": {
          "target": "com.amazonaws.iotmanagedintegrations#Role",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The type of device used. This will be the hub controller, cloud device, or AWS IoT device.</p>",
            "smithy.api#required": {}
          }
        },
        "Owner": {
          "target": "com.amazonaws.iotmanagedintegrations#Owner",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>Owner of the device, usually an indication of whom the device belongs to. This value should not contain personal identifiable information.</p>"
          }
        },
        "CredentialLockerId": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The identifier of the credential for the managed thing.</p>"
          }
        },
        "AuthenticationMaterial": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthMaterialString",
          "traits": {
            "aws.cloudformation#cfnMutability": "create",
            "smithy.api#documentation": "<p>The authentication material defining the device connectivity setup requests. The authentication materials used are the device bar code.</p>",
            "smithy.api#required": {}
          }
        },
        "AuthenticationMaterialType": {
          "target": "com.amazonaws.iotmanagedintegrations#AuthMaterialType",
          "traits": {
            "aws.cloudformation#cfnMutability": "create",
            "smithy.api#documentation": "<p>The type of authentication material used for device connectivity setup requests.</p>",
            "smithy.api#required": {}
          }
        },
        "SerialNumber": {
          "target": "com.amazonaws.iotmanagedintegrations#SerialNumber",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The serial number of the device.</p>"
          }
        },
        "Brand": {
          "target": "com.amazonaws.iotmanagedintegrations#Brand",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The brand of the device.</p>"
          }
        },
        "Model": {
          "target": "com.amazonaws.iotmanagedintegrations#Model",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The model of the device.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#Name",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The name of the managed thing representing the physical device.</p>"
          }
        },
        "CapabilityReport": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilityReport",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A report of the capabilities for the managed thing.</p>"
          }
        },
        "CapabilitySchemas": {
          "target": "com.amazonaws.iotmanagedintegrations#CapabilitySchemas",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The capability schemas that define the functionality and features supported by the managed thing, including device capabilities and their associated properties.</p>"
          }
        },
        "Capabilities": {
          "target": "com.amazonaws.iotmanagedintegrations#Capabilities",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The capabilities of the device such as light bulb.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Classification": {
          "target": "com.amazonaws.iotmanagedintegrations#Classification",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The classification of the managed thing such as light bulb or thermostat.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the managed thing.</p>"
          }
        },
        "MetaData": {
          "target": "com.amazonaws.iotmanagedintegrations#MetaData",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The metadata for the managed thing.</p> <note> <p>The <code>managedThing</code> <code>metadata</code> parameter is used for associating attributes with a <code>managedThing</code> that can be used for grouping over-the-air (OTA) tasks. Name value pairs in <code>metadata</code> can be used in the <code>OtaTargetQueryString</code> parameter for the <code>CreateOtaTask</code> API operation.</p> </note>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateManagedThingResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ManagedThingId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The id of the managed thing.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#ManagedThingArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the managed thing.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CreatedAt",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The timestamp value of when the device creation request occurred.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a notification configuration. A configuration is a connection between an event type and a destination that you have already created. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/notification-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationRequest": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.iotmanagedintegrations#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event triggering a device notification to the customer-managed destination.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotmanagedintegrations#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination for the notification configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Tags has been deprecated from this api",
              "since": "06-25-2025"
            },
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the notification configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateNotificationConfigurationResponse": {
      "type": "structure",
      "members": {
        "EventType": {
          "target": "com.amazonaws.iotmanagedintegrations#EventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of event triggering a device notification to the customer-managed destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create an over-the-air (OTA) task to update a device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ota-tasks",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a configuraiton for the over-the-air (OTA) task.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ota-task-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the over-the-air (OTA) task configuration.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the over-the-air (OTA) task.</p>"
          }
        },
        "PushConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#PushConfig",
          "traits": {
            "smithy.api#documentation": "<p>Describes the type of configuration used for the over-the-air (OTA) task.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskConfigurationResponse": {
      "type": "structure",
      "members": {
        "TaskConfigurationId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the over-the-air (OTA) task.</p>"
          }
        },
        "S3Url": {
          "target": "com.amazonaws.iotmanagedintegrations#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL to the Amazon S3 bucket where the over-the-air (OTA) task is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "Protocol": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaProtocol",
          "traits": {
            "smithy.api#documentation": "<p>The connection protocol the over-the-air (OTA) task uses to update the device.</p>"
          }
        },
        "Target": {
          "target": "com.amazonaws.iotmanagedintegrations#Target",
          "traits": {
            "smithy.api#documentation": "<p>The device targeted for the over-the-air (OTA) task.</p>"
          }
        },
        "TaskConfigurationId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the over-the-air (OTA) task configuration.</p>"
          }
        },
        "OtaMechanism": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaMechanism",
          "traits": {
            "smithy.api#documentation": "<p>The deployment mechanism for the over-the-air (OTA) task.</p>"
          }
        },
        "OtaType": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaType",
          "traits": {
            "smithy.api#documentation": "<p>The frequency type for the over-the-air (OTA) task.</p>",
            "smithy.api#required": {}
          }
        },
        "OtaTargetQueryString": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTargetQueryString",
          "traits": {
            "smithy.api#documentation": "<p>The query string to add things to the thing group.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OtaSchedulingConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskSchedulingConfig"
        },
        "OtaTaskExecutionRetryConfig": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskExecutionRetryConfig"
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the over-the-air (OTA) task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateOtaTaskResponse": {
      "type": "structure",
      "members": {
        "TaskId": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the over-the-air (OTA) task.</p>"
          }
        },
        "TaskArn": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaTaskArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the over-the-air (OTA) task.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotmanagedintegrations#OtaDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the over-the-air (OTA) task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotmanagedintegrations#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ConflictException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#UnauthorizedException"
        },
        {
          "target": "com.amazonaws.iotmanagedintegrations#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Create a provisioning profile for a device to execute the provisioning flows using a provisioning template. The provisioning template is a document that defines the set of resources and policies applied to a device during the provisioning process.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/provisioning-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileRequest": {
      "type": "structure",
      "members": {
        "ProvisioningType": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningType",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The type of provisioning workflow the device uses for onboarding to IoT managed integrations.</p>",
            "smithy.api#required": {}
          }
        },
        "CaCertificate": {
          "target": "com.amazonaws.iotmanagedintegrations#CaCertificate",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The id of the certificate authority (CA) certificate.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The name of the provisioning template.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.iotmanagedintegrations#ClientToken",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotmanagedintegrations#TagsMap",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>A set of key/value pairs that are used to manage the provisioning profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreateProvisioningProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the provisioning template used in the provisioning profile.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileName",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The name of the provisioning template.</p>"
          }
        },
        "ProvisioningType": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningType",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The type of provisioning workflow the device uses for onboarding to IoT managed integrations.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#ProvisioningProfileId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The identifier of the provisioning profile.</p>"
          }
        },
        "ClaimCertificate": {
          "target": "com.amazonaws.iotmanagedintegrations#ClaimCertificate",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The id of the claim certificate.</p>"
          }
        },
        "ClaimCertificatePrivateKey": {
          "target": "com.amazonaws.iotmanagedintegrations#ClaimCertificatePrivateKey",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The private key of the claim certificate. This is stored securely on the device for validating the connection endpoint with IoT managed integrations using the public key.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerArn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {
          "service": "com.amazon.services.iotsmarthomeservice#IotSmartHomeService",
          "resource": "com.amazonaws.iotmanagedintegrations#CredentialLockerResource"
        },
        "smithy.api#length": {
          "min": 32,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:aws:iotmanagedintegrations:[0-9a-zA-Z-]+:[0-9]+:credential-locker/[0-9a-zA-Z]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt": {
      "type": "timestamp"
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerListDefinition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerSummary"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[A-Za-z0-9-_ ]+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerResource": {
      "type": "resource",
      "identifiers": {
        "Identifier": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId"
        }
      },
      "create": {
        "target": "com.amazonaws.iotmanagedintegrations#CreateCredentialLocker"
      },
      "read": {
        "target": "com.amazonaws.iotmanagedintegrations#GetCredentialLocker"
      },
      "delete": {
        "target": "com.amazonaws.iotmanagedintegrations#DeleteCredentialLocker"
      },
      "list": {
        "target": "com.amazonaws.iotmanagedintegrations#ListCredentialLockers"
      },
      "traits": {
        "aws.api#arn": {
          "template": "credential-locker/{Identifier}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "CredentialLocker"
        },
        "aws.iam#iamResource": {
          "name": "credential-locker"
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CredentialLockerSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerId",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The id of the credential locker.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerArn",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerName",
          "traits": {
            "aws.cloudformation#cfnMutability": "full",
            "smithy.api#documentation": "<p>The name of the credential locker.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.iotmanagedintegrations#CredentialLockerCreatedAt",
          "traits": {
            "aws.cloudformation#cfnMutability": "read",
            "smithy.api#documentation": "<p>The timestampe value of when the credential locker was created at.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Structure describing one Credential Locker.</p>"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CustomProtocolDetail": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iotmanagedintegrations#CustomProtocolDetailKey"
      },
      "value": {
        "target": "com.amazonaws.iotmanagedintegrations#CustomProtocolDetailValue"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50
        }
      }
    },
    "com.amazonaws.iotmanagedintegrations#CustomProtocolDetailKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9 _.-]+$"
      }
    },
    "com.amazonaws.iotmanagedintegrations#CustomProtocolDetailValue": {
[...]
