{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot_1click_devices_service#Attributes": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCodeRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCodeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#ForbiddenException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds device(s) to your account (i.e., claim one or more devices) if and only if you\n received a claim code with the device(s).</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/claims/{ClaimCode}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCodeRequest": {
      "type": "structure",
      "members": {
        "ClaimCode": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The claim code, starting with \"C-\", as provided by the device manufacturer.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCodeResponse": {
      "type": "structure",
      "members": {
        "ClaimCode": {
          "target": "com.amazonaws.iot_1click_devices_service#__stringMin12Max40",
          "traits": {
            "smithy.api#documentation": "<p>The claim code provided by the device manufacturer.</p>",
            "smithy.api#jsonName": "claimCode"
          }
        },
        "Total": {
          "target": "com.amazonaws.iot_1click_devices_service#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of devices associated with the claim code that has been processed in\n the claim request.</p>",
            "smithy.api#jsonName": "total"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DescribeDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#DescribeDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#DescribeDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Given a device ID, returns a DescribeDeviceResponse object describing the\n details of the device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices/{DeviceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DescribeDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DescribeDeviceResponse": {
      "type": "structure",
      "members": {
        "DeviceDescription": {
          "target": "com.amazonaws.iot_1click_devices_service#DeviceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Device details.</p>",
            "smithy.api#jsonName": "deviceDescription"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#Device": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.iot_1click_devices_service#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>The user specified attributes associated with the device for an event.</p>",
            "smithy.api#jsonName": "attributes"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "Type": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The device type, such as \"button\".</p>",
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DeviceAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot_1click_devices_service#__string"
      },
      "value": {
        "target": "com.amazonaws.iot_1click_devices_service#__string"
      },
      "traits": {
        "smithy.api#documentation": "<p>\n DeviceAttributes is a string-to-string map specified by the user.</p>"
      }
    },
    "com.amazonaws.iot_1click_devices_service#DeviceDescription": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the device.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.iot_1click_devices_service#DeviceAttributes",
          "traits": {
            "smithy.api#documentation": "<p>An array of zero or more elements of DeviceAttribute objects providing\n user specified device attributes.</p>",
            "smithy.api#jsonName": "attributes"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.iot_1click_devices_service#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating whether or not the device is enabled.</p>",
            "smithy.api#jsonName": "enabled"
          }
        },
        "RemainingLife": {
          "target": "com.amazonaws.iot_1click_devices_service#__doubleMin0Max100",
          "traits": {
            "smithy.api#documentation": "<p>A value between 0 and 1 inclusive, representing the fraction of life remaining for the\n device.</p>",
            "smithy.api#jsonName": "remainingLife"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iot_1click_devices_service#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags currently associated with the AWS IoT 1-Click device.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Type": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device, such as \"button\".</p>",
            "smithy.api#jsonName": "type"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DeviceEvent": {
      "type": "structure",
      "members": {
        "Device": {
          "target": "com.amazonaws.iot_1click_devices_service#Device",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the device associated with the event.</p>",
            "smithy.api#jsonName": "device"
          }
        },
        "StdEvent": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>A serialized JSON object representing the device-type specific event.</p>",
            "smithy.api#jsonName": "stdEvent"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#DeviceMethod": {
      "type": "structure",
      "members": {
        "DeviceType": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device, such as \"button\".</p>",
            "smithy.api#jsonName": "deviceType"
          }
        },
        "MethodName": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the method applicable to the deviceType.</p>",
            "smithy.api#jsonName": "methodName"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaim": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaimRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaimResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Given a device ID, finalizes the claim request for the associated device.</p><note>\n <p>Claiming a device consists of initiating a claim, then publishing a device event,\n and finalizing the claim. For a device of type button, a device event can\n be published by simply clicking the device.</p>\n </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/devices/{DeviceId}/finalize-claim",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaimRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.iot_1click_devices_service#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key/value pairs defining the resource tags. For example, {\n \"tags\": {\"key1\": \"value1\", \"key2\": \"value2\"} }. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS\n Tagging Strategies</a>.</p><p>\n \n </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaimResponse": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The device's final claim state.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ForbiddenException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>403</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The 403 error message returned by the web server.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iot_1click_devices_service#GetDeviceMethods": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#GetDeviceMethodsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#GetDeviceMethodsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Given a device ID, returns the invokable methods associated with the device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices/{DeviceId}/methods",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#GetDeviceMethodsRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#GetDeviceMethodsResponse": {
      "type": "structure",
      "members": {
        "DeviceMethods": {
          "target": "com.amazonaws.iot_1click_devices_service#__listOfDeviceMethod",
          "traits": {
            "smithy.api#documentation": "<p>List of available device APIs.</p>",
            "smithy.api#jsonName": "deviceMethods"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaim": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaimRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaimResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Given a device ID, initiates a claim request for the associated device.</p><note>\n <p>Claiming a device consists of initiating a claim, then publishing a device event,\n and finalizing the claim. For a device of type button, a device event can\n be published by simply clicking the device.</p>\n </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/devices/{DeviceId}/initiate-claim",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaimRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaimResponse": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The device's final claim state.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InternalFailureException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>500</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The 500 error message returned by the web server.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.iot_1click_devices_service#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>400</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The 400 error message returned by the web server.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethod": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethodRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethodResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#RangeNotSatisfiableException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Given a device ID, issues a request to invoke a named device method (with possible\n parameters). See the \"Example POST\" code snippet below.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/devices/{DeviceId}/methods",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethodRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "DeviceMethod": {
          "target": "com.amazonaws.iot_1click_devices_service#DeviceMethod",
          "traits": {
            "smithy.api#documentation": "<p>The device method to invoke.</p>",
            "smithy.api#jsonName": "deviceMethod"
          }
        },
        "DeviceMethodParameters": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>A JSON encoded string containing the device method request parameters.</p>",
            "smithy.api#jsonName": "deviceMethodParameters"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethodResponse": {
      "type": "structure",
      "members": {
        "DeviceMethodResponse": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>A JSON encoded string containing the device method response.</p>",
            "smithy.api#jsonName": "deviceMethodResponse"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#IoT1ClickDevicesService": {
      "type": "service",
      "version": "2018-05-14",
      "operations": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#ClaimDevicesByClaimCode"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#DescribeDevice"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#FinalizeDeviceClaim"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#GetDeviceMethods"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InitiateDeviceClaim"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvokeDeviceMethod"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ListDeviceEvents"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ListDevices"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#TagResource"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#UnclaimDevice"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#UntagResource"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#UpdateDeviceState"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT 1Click Devices Service",
          "arnNamespace": "iot1click",
          "cloudFormationName": "IoT1ClickDevicesService",
          "cloudTrailEventSource": "iot_1click_devices_service.amazonaws.com"
        },
        "smithy.api#documentation": "<p>Describes all of the AWS IoT 1-Click device-related API operations for the service.\n Also provides sample requests, responses, and errors for the supported web services\n protocols.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT 1-Click Devices Service"
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDeviceEvents": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#ListDeviceEventsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#ListDeviceEventsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#RangeNotSatisfiableException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Using a device ID, returns a DeviceEventsResponse object containing an\n array of events for the device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices/{DeviceId}/events",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDeviceEventsRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "FromTimeStamp": {
          "target": "com.amazonaws.iot_1click_devices_service#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The start date for the device event query, in ISO8061 format. For example,\n 2018-03-28T15:45:12.880Z\n </p>",
            "smithy.api#httpQuery": "fromTimeStamp",
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.iot_1click_devices_service#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per request. If not set, a default value of\n 100 is used.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ToTimeStamp": {
          "target": "com.amazonaws.iot_1click_devices_service#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The end date for the device event query, in ISO8061 format. For example,\n 2018-03-28T15:45:12.880Z\n </p>",
            "smithy.api#httpQuery": "toTimeStamp",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDeviceEventsResponse": {
      "type": "structure",
      "members": {
        "Events": {
          "target": "com.amazonaws.iot_1click_devices_service#__listOfDeviceEvent",
          "traits": {
            "smithy.api#documentation": "<p>An array of zero or more elements describing the event(s) associated with the\n device.</p>",
            "smithy.api#jsonName": "events"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDevices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#ListDevicesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#ListDevicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#RangeNotSatisfiableException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the 1-Click compatible devices associated with your AWS account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/devices",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDevicesRequest": {
      "type": "structure",
      "members": {
        "DeviceType": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of the device, such as \"button\".</p>",
            "smithy.api#httpQuery": "deviceType"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.iot_1click_devices_service#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per request. If not set, a default value of\n 100 is used.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListDevicesResponse": {
      "type": "structure",
      "members": {
        "Devices": {
          "target": "com.amazonaws.iot_1click_devices_service#__listOfDeviceDescription",
          "traits": {
            "smithy.api#documentation": "<p>A list of devices.</p>",
            "smithy.api#jsonName": "devices"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The token to retrieve the next set of results.</p>",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags associated with the specified resource ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.iot_1click_devices_service#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key/value pairs defining the resource tags. For example, {\n \"tags\": {\"key1\": \"value1\", \"key2\": \"value2\"} }. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS\n Tagging Strategies</a>.</p><p>\n \n </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#PreconditionFailedException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>412</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>An error message explaining the error or its remedy.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.iot_1click_devices_service#RangeNotSatisfiableException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>416</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The requested number of results specified by nextToken cannot be\n satisfied.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 416
      }
    },
    "com.amazonaws.iot_1click_devices_service#ResourceConflictException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>409</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>An error message explaining the error or its remedy.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>404</p>",
            "smithy.api#jsonName": "code"
          }
        },
        "Message": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The requested device could not be found.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iot_1click_devices_service#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#TagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or updates the tags associated with the resource ARN. See <a href=\"https://docs.aws.amazon.com/iot-1-click/latest/developerguide/1click-appendix.html#1click-limits\">AWS IoT 1-Click Service Limits</a> for the maximum number of tags allowed per\n resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.iot_1click_devices_service#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A collection of key/value pairs defining the resource tags. For example, {\n \"tags\": {\"key1\": \"value1\", \"key2\": \"value2\"} }. For more information, see <a href=\"https://aws.amazon.com/answers/account-management/aws-tagging-strategies/\">AWS\n Tagging Strategies</a>.</p><p>\n \n </p>",
            "smithy.api#jsonName": "tags",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UnclaimDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#UnclaimDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#UnclaimDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a device from your AWS account using its device ID.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/devices/{DeviceId}/unclaim",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UnclaimDeviceRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UnclaimDeviceResponse": {
      "type": "structure",
      "members": {
        "State": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The device's final claim state.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Using tag keys, deletes the tags (key/value pairs) associated with the specified\n resource ARN.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.iot_1click_devices_service#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A collections of tag keys. For example, {\"key1\",\"key2\"}</p>",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UpdateDeviceState": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot_1click_devices_service#UpdateDeviceStateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot_1click_devices_service#UpdateDeviceStateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot_1click_devices_service#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot_1click_devices_service#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Using a Boolean value (true or false), this operation\n enables or disables the device given a device ID.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/devices/{DeviceId}/state",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UpdateDeviceStateRequest": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.iot_1click_devices_service#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the device.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Enabled": {
          "target": "com.amazonaws.iot_1click_devices_service#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, the device is enabled. If false, the device is\n disabled.</p>",
            "smithy.api#jsonName": "enabled"
          }
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#UpdateDeviceStateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot_1click_devices_service#__boolean": {
      "type": "boolean"
    },
    "com.amazonaws.iot_1click_devices_service#__doubleMin0Max100": {
      "type": "double"
    },
    "com.amazonaws.iot_1click_devices_service#__integer": {
      "type": "integer"
    },
    "com.amazonaws.iot_1click_devices_service#__listOfDeviceDescription": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot_1click_devices_service#DeviceDescription"
      }
    },
    "com.amazonaws.iot_1click_devices_service#__listOfDeviceEvent": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot_1click_devices_service#DeviceEvent"
      }
    },
    "com.amazonaws.iot_1click_devices_service#__listOfDeviceMethod": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot_1click_devices_service#DeviceMethod"
      }
    },
    "com.amazonaws.iot_1click_devices_service#__listOf__string": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot_1click_devices_service#__string"
      }
    },
    "com.amazonaws.iot_1click_devices_service#__mapOf__string": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot_1click_devices_service#__string"
      },
      "value": {
        "target": "com.amazonaws.iot_1click_devices_service#__string"
      }
    },
    "com.amazonaws.iot_1click_devices_service#__string": {
      "type": "string"
    },
    "com.amazonaws.iot_1click_devices_service#__stringMin12Max40": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 40
        }
      }
    },
    "com.amazonaws.iot_1click_devices_service#__timestampIso8601": {
      "type": "timestamp",
      "traits": {
        "smithy.api#timestampFormat": "date-time"
      }
    }
  }
}
