{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotwireless#AbpV1_0_x": {
      "type": "structure",
      "members": {
        "DevAddr": {
          "target": "com.amazonaws.iotwireless#DevAddr",
          "traits": {
            "smithy.api#documentation": "<p>The DevAddr value.</p>"
          }
        },
        "SessionKeys": {
          "target": "com.amazonaws.iotwireless#SessionKeysAbpV1_0_x",
          "traits": {
            "smithy.api#documentation": "<p>Session keys for ABP v1.0.x</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ABP device object for LoRaWAN specification v1.0.x</p>"
      }
    },
    "com.amazonaws.iotwireless#AbpV1_1": {
      "type": "structure",
      "members": {
        "DevAddr": {
          "target": "com.amazonaws.iotwireless#DevAddr",
          "traits": {
            "smithy.api#documentation": "<p>The DevAddr value.</p>"
          }
        },
        "SessionKeys": {
          "target": "com.amazonaws.iotwireless#SessionKeysAbpV1_1",
          "traits": {
            "smithy.api#documentation": "<p>Session keys for ABP v1.1</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ABP device object for LoRaWAN specification v1.1</p>"
      }
    },
    "com.amazonaws.iotwireless#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotwireless#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have permission to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotwireless#AccountLinked": {
      "type": "boolean"
    },
    "com.amazonaws.iotwireless#AddGwMetadata": {
      "type": "boolean"
    },
    "com.amazonaws.iotwireless#AmazonId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotwireless#AppEui": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{16}"
      }
    },
    "com.amazonaws.iotwireless#AppKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{32}"
      }
    },
    "com.amazonaws.iotwireless#AppSKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{32}"
      }
    },
    "com.amazonaws.iotwireless#AppServerPrivateKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "[a-fA-F0-9]{64}",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a partner account with your AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner-accounts",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountRequest": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkAccountInfo",
          "traits": {
            "smithy.api#documentation": "<p>The Sidewalk account credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountResponse": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkAccountInfo",
          "traits": {
            "smithy.api#documentation": "<p>The Sidewalk account credentials.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#PartnerAccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless device with a thing.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-devices/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to associate with the wireless device.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless gateway with a certificate.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-gateways/{Id}/certificate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IotCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate to associate with the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateResponse": {
      "type": "structure",
      "members": {
        "IotCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate associated with the wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless gateway with a thing.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-gateways/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to associate with the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AutoCreateTasks": {
      "type": "boolean"
    },
    "com.amazonaws.iotwireless#BatteryLevel": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Sidewalk device battery level.</p>",
        "smithy.api#enum": [
          {
            "value": "normal",
            "name": "NORMAL"
          },
          {
            "value": "low",
            "name": "LOW"
          },
          {
            "value": "critical",
            "name": "CRITICAL"
          }
        ]
      }
    },
    "com.amazonaws.iotwireless#CertificateList": {
      "type": "structure",
      "members": {
        "SigningAlg": {
          "target": "com.amazonaws.iotwireless#SigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The certificate chain algorithm provided by sidewalk.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.iotwireless#CertificateValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the chosen sidewalk certificate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of sidewalk certificates.</p>"
      }
    },
    "com.amazonaws.iotwireless#CertificatePEM": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "[^-A-Za-z0-9+/=]|=[^=]|={3,}${1,4096}"
      }
    },
    "com.amazonaws.iotwireless#CertificateValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Certificate value.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#ChannelMask": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#ClassBTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.iotwireless#ClassCTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.iotwireless#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.iotwireless#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotwireless#Message"
        },
        "ResourceId": {
          "target": "com.amazonaws.iotwireless#ResourceId"
        },
        "ResourceType": {
          "target": "com.amazonaws.iotwireless#ResourceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotwireless#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Connected",
            "name": "CONNECTED"
          },
          {
            "value": "Disconnected",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.iotwireless#Crc": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 4294967295
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new destination that maps a device message to an AWS IoT rule.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/destinations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpressionType": {
          "target": "com.amazonaws.iotwireless#ExpressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of value in <code>Expression</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.iotwireless#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The rule name or topic rule to send messages to.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotwireless#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new destination. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestinationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateDeviceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateDeviceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new device profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/device-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfileRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DeviceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDeviceProfile",
          "traits": {
            "smithy.api#documentation": "<p>The device profile information to use to create the device profile.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new device profile. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DeviceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new device profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateServiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateServiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new service profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/service-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfileRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#ServiceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANServiceProfile",
          "traits": {
            "smithy.api#documentation": "<p>The service profile information to use to create the service profile.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new service profile. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#ServiceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new service profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a wireless device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-devices",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDeviceRequest": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The wireless device type.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination to assign to the new wireless device.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDevice",
          "traits": {
            "smithy.api#documentation": "<p>The device configuration information to use to create the wireless device.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new wireless device. Tags are metadata that you can use to manage a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDeviceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless device.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateways",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANGateway",
          "traits": {
            "smithy.api#documentation": "<p>The gateway configuration information to use to create the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new wireless gateway. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a task for a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateways/{Id}/tasks",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a gateway task definition.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateway-task-definitions",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionRequest": {
      "type": "structure",
      "members": {
        "AutoCreateTasks": {
          "target": "com.amazonaws.iotwireless#AutoCreateTasks",
          "traits": {
            "smithy.api#documentation": "<p>Whether to automatically create tasks using this task definition for all gateways with the specified current version. If <code>false</code>, the task must me created by calling <code>CreateWirelessGatewayTask</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Update": {
          "target": "com.amazonaws.iotwireless#UpdateWirelessGatewayTaskCreate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the gateways to update.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless gateway task definition.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WirelessGatewayTaskDefinitionId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WirelessGatewayTaskDefinition.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskResponse": {
      "type": "structure",
      "members": {
        "WirelessGatewayTaskDefinitionId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WirelessGatewayTaskDefinition.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a destination.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/destinations/{Name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDestinationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteDeviceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteDeviceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a device profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/device-profiles/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteServiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteServiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteServiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/service-profiles/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteServiceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteServiceProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless device.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-devices/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessDeviceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessDeviceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}/tasks",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway task definition. Deleting this task definition does not affect tasks that are currently in progress.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateway-task-definitions/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#DestinationArn": {
      "type": "string"
    },
    "com.amazonaws.iotwireless#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#Destinations"
      }
    },
    "com.amazonaws.iotwireless#DestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9-_]+"
      }
    },
    "com.amazonaws.iotwireless#Destinations": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ExpressionType": {
          "target": "com.amazonaws.iotwireless#ExpressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of value in <code>Expression</code>.</p>"
          }
        },
        "Expression": {
          "target": "com.amazonaws.iotwireless#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The rule name or topic rule to send messages to.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotwireless#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a destination.</p>"
      }
    },
    "com.amazonaws.iotwireless#DevAddr": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{8}"
      }
    },
    "com.amazonaws.iotwireless#DevEui": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{16}"
      }
    },
    "com.amazonaws.iotwireless#DevStatusReqFreq": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceCertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#CertificateList"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of device certificate chain.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfile": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DeviceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DeviceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a device profile.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileArn": {
      "type": "string"
    },
    "com.amazonaws.iotwireless#DeviceProfileId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#DeviceProfile"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Device state defines the device status of sidewalk device.</p>",
        "smithy.api#enum": [
          {
            "value": "Provisioned",
            "name": "PROVISIONED"
          },
          {
            "value": "RegisteredNotSeen",
            "name": "REGISTEREDNOTSEEN"
          },
          {
            "value": "RegisteredReachable",
            "name": "REGISTEREDREACHABLE"
          },
          {
            "value": "RegisteredUnreachable",
            "name": "REGISTEREDUNREACHABLE"
          }
        ]
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates your AWS account from a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, disassociates your AWS account from all partner accounts.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/partner-accounts/{PartnerAccountId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountRequest": {
      "type": "structure",
      "members": {
        "PartnerAccountId": {
          "target": "com.amazonaws.iotwireless#PartnerAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The partner account ID to disassociate from the AWS account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PartnerType": {
          "target": "com.amazonaws.iotwireless#PartnerType",
          "traits": {
            "smithy.api#documentation": "<p>The partner type.</p>",
            "smithy.api#httpQuery": "partnerType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a wireless device from its currently associated thing.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-devices/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a wireless gateway from its currently associated certificate.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}/certificate",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromCertificateRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a wireless gateway from its currently associated thing.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateWirelessGatewayFromThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DlBucketSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.iotwireless#DlRate": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.iotwireless#DlRatePolicy": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#Double": {
      "type": "double",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.iotwireless#DrMax": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.iotwireless#DrMin": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.iotwireless#EndPoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#Event": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Sidewalk device status notification.</p>",
        "smithy.api#enum": [
          {
            "value": "discovered",
            "name": "DISCOVERED"
          },
          {
            "value": "lost",
            "name": "LOST"
          },
          {
            "value": "ack",
            "name": "ACK"
          },
          {
            "value": "nack",
            "name": "NACK"
          },
          {
            "value": "passthrough",
            "name": "PASSTHROUGH"
          }
        ]
      }
    },
    "com.amazonaws.iotwireless#Expression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#ExpressionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RuleName",
            "name": "RuleName"
          },
          {
            "value": "MqttTopic",
            "name": "MqttTopic"
          }
        ]
      }
    },
    "com.amazonaws.iotwireless#FNwkSIntKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "[a-fA-F0-9]{32}"
      }
    },
    "com.amazonaws.iotwireless#FPort": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 223
        }
      }
    },
    "com.amazonaws.iotwireless#FactoryPresetFreqsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#PresetFreq"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.iotwireless#Fingerprint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 64,
          "max": 64
        },
        "smithy.api#pattern": "[a-fA-F0-9]{64}",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotwireless#GatewayEui": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(([0-9A-Fa-f]{2}-){7}|([0-9A-Fa-f]{2}:){7}|([0-9A-Fa-f]{2}\\s){7}|([0-9A-Fa-f]{2}){7})([0-9A-Fa-f]{2})$"
      }
    },
    "com.amazonaws.iotwireless#GetDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a destination.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/destinations/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetDestinationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Expression": {
          "target": "com.amazonaws.iotwireless#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The rule name or topic rule to send messages to.</p>"
          }
        },
        "ExpressionType": {
          "target": "com.amazonaws.iotwireless#ExpressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of value in <code>Expression</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotwireless#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetDeviceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetDeviceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetDeviceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a device profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/device-profiles/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetDeviceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetDeviceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DeviceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DeviceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device profile.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDeviceProfile",
          "traits": {
            "smithy.api#documentation": "<p>Information about the device profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetPartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetPartnerAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetPartnerAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, returns all partner accounts.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/partner-accounts/{PartnerAccountId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetPartnerAccountRequest": {
      "type": "structure",
      "members": {
        "PartnerAccountId": {
          "target": "com.amazonaws.iotwireless#PartnerAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The partner account ID to disassociate from the AWS account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PartnerType": {
          "target": "com.amazonaws.iotwireless#PartnerType",
          "traits": {
            "smithy.api#documentation": "<p>The partner type.</p>",
            "smithy.api#httpQuery": "partnerType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetPartnerAccountResponse": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkAccountInfoWithFingerprint",
          "traits": {
            "smithy.api#documentation": "<p>The Sidewalk account credentials.</p>"
          }
        },
        "AccountLinked": {
          "target": "com.amazonaws.iotwireless#AccountLinked",
          "traits": {
            "smithy.api#documentation": "<p>Whether the partner account is linked to the AWS account.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetServiceEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetServiceEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the account-specific endpoint for Configuration and Update Server (CUPS) protocol or LoRaWAN Network Server (LNS) connections.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/service-endpoint",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceEndpointRequest": {
      "type": "structure",
      "members": {
        "ServiceType": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The service type for which to get endpoint information about. Can be <code>CUPS</code> for the Configuration and Update Server endpoint, or <code>LNS</code> for the LoRaWAN Network Server endpoint.</p>",
            "smithy.api#httpQuery": "serviceType"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceEndpointResponse": {
      "type": "structure",
      "members": {
        "ServiceType": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayServiceType",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint's service type.</p>"
          }
        },
        "ServiceEndpoint": {
          "target": "com.amazonaws.iotwireless#EndPoint",
          "traits": {
            "smithy.api#documentation": "<p>The service endpoint value.</p>"
          }
        },
        "ServerTrust": {
          "target": "com.amazonaws.iotwireless#CertificatePEM",
          "traits": {
            "smithy.api#documentation": "<p>The Root CA of the server trust certificate.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetServiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetServiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a service profile.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/service-profiles/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetServiceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#ServiceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#ServiceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the service profile.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANGetServiceProfileInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the service profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a wireless device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-devices/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDeviceRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotwireless#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the wireless device to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IdentifierType": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceIdType",
          "traits": {
            "smithy.api#documentation": "<p>The type of identifier used in <code>identifier</code>.</p>",
            "smithy.api#httpQuery": "identifierType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDeviceResponse": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The wireless device type.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource.</p>"
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination to which the device is assigned.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless device.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "ThingName": {
          "target": "com.amazonaws.iotwireless#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing associated with the wireless device. The value is empty if a thing isn't associated with the device.</p>"
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing associated with the wireless device.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDevice",
          "traits": {
            "smithy.api#documentation": "<p>Information about the wireless device.</p>"
          }
        },
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkDevice",
          "traits": {
            "smithy.api#documentation": "<p>Sidewalk device object.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDeviceStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessDeviceStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessDeviceStatisticsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets operating information about a wireless device.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-devices/{WirelessDeviceId}/statistics",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDeviceStatisticsRequest": {
      "type": "structure",
      "members": {
        "WirelessDeviceId": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless device for which to get the data.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessDeviceStatisticsResponse": {
      "type": "structure",
      "members": {
        "WirelessDeviceId": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless device.</p>"
          }
        },
        "LastUplinkReceivedAt": {
          "target": "com.amazonaws.iotwireless#ISODateTimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the most recent uplink was received.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDeviceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about the wireless device's operations.</p>"
          }
        },
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkDeviceMetadata",
          "traits": {
            "smithy.api#documentation": "<p>MetaData for Sidewalk device.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateways/{Identifier}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the ID of the certificate that is currently associated with a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateways/{Id}/certificate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayCertificateRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayCertificateResponse": {
      "type": "structure",
      "members": {
        "IotCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate associated with the wireless gateway.</p>"
          }
        },
        "LoRaWANNetworkServerCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate that is associated with the wireless gateway and used for the LoRaWANNetworkServer endpoint.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayFirmwareInformation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayFirmwareInformationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayFirmwareInformationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the firmware version and other information about a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateways/{Id}/firmware-information",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayFirmwareInformationRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayFirmwareInformationResponse": {
      "type": "structure",
      "members": {
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANGatewayCurrentVersion",
          "traits": {
            "smithy.api#documentation": "<p>Information about the wireless gateway's firmware.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayRequest": {
      "type": "structure",
      "members": {
        "Identifier": {
          "target": "com.amazonaws.iotwireless#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the wireless gateway to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IdentifierType": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayIdType",
          "traits": {
            "smithy.api#documentation": "<p>The type of identifier used in <code>identifier</code>.</p>",
            "smithy.api#httpQuery": "identifierType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayResponse": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless gateway.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANGateway",
          "traits": {
            "smithy.api#documentation": "<p>Information about the wireless gateway.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "ThingName": {
          "target": "com.amazonaws.iotwireless#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing associated with the wireless gateway. The value is empty if a thing isn't associated with the gateway.</p>"
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing associated with the wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayStatistics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayStatisticsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayStatisticsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets operating information about a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateways/{WirelessGatewayId}/statistics",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayStatisticsRequest": {
      "type": "structure",
      "members": {
        "WirelessGatewayId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless gateway for which to get the data.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayStatisticsResponse": {
      "type": "structure",
      "members": {
        "WirelessGatewayId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the wireless gateway.</p>"
          }
        },
        "LastUplinkReceivedAt": {
          "target": "com.amazonaws.iotwireless#ISODateTimeString",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the most recent uplink was received.</p>"
          }
        },
        "ConnectionStatus": {
          "target": "com.amazonaws.iotwireless#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The connection status of the wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a wireless gateway task.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateways/{Id}/tasks",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTaskDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayTaskDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#GetWirelessGatewayTaskDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a wireless gateway task definition.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/wireless-gateway-task-definitions/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTaskDefinitionRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTaskDefinitionResponse": {
      "type": "structure",
      "members": {
        "AutoCreateTasks": {
          "target": "com.amazonaws.iotwireless#AutoCreateTasks",
          "traits": {
            "smithy.api#documentation": "<p>Whether to automatically create tasks using this task definition for all gateways with the specified current version. If <code>false</code>, the task must me created by calling <code>CreateWirelessGatewayTask</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Update": {
          "target": "com.amazonaws.iotwireless#UpdateWirelessGatewayTaskCreate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the gateways to update.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to get.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#GetWirelessGatewayTaskResponse": {
      "type": "structure",
      "members": {
        "WirelessGatewayId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
[...]
