{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotwireless#AbpV1_0_x": {
      "type": "structure",
      "members": {
        "DevAddr": {
          "target": "com.amazonaws.iotwireless#DevAddr",
          "traits": {
            "smithy.api#documentation": "<p>The DevAddr value.</p>"
          }
        },
        "SessionKeys": {
          "target": "com.amazonaws.iotwireless#SessionKeysAbpV1_0_x",
          "traits": {
            "smithy.api#documentation": "<p>Session keys for ABP v1.0.x</p>"
          }
        },
        "FCntStart": {
          "target": "com.amazonaws.iotwireless#FCntStart",
          "traits": {
            "smithy.api#documentation": "<p>The FCnt init value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ABP device object for LoRaWAN specification v1.0.x</p>"
      }
    },
    "com.amazonaws.iotwireless#AbpV1_1": {
      "type": "structure",
      "members": {
        "DevAddr": {
          "target": "com.amazonaws.iotwireless#DevAddr",
          "traits": {
            "smithy.api#documentation": "<p>The DevAddr value.</p>"
          }
        },
        "SessionKeys": {
          "target": "com.amazonaws.iotwireless#SessionKeysAbpV1_1",
          "traits": {
            "smithy.api#documentation": "<p>Session keys for ABP v1.1</p>"
          }
        },
        "FCntStart": {
          "target": "com.amazonaws.iotwireless#FCntStart",
          "traits": {
            "smithy.api#documentation": "<p>The FCnt init value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>ABP device object for LoRaWAN specification v1.1</p>"
      }
    },
    "com.amazonaws.iotwireless#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotwireless#Message"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>User does not have permission to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotwireless#AccountLinked": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.iotwireless#Accuracy": {
      "type": "structure",
      "members": {
        "HorizontalAccuracy": {
          "target": "com.amazonaws.iotwireless#HorizontalAccuracy",
          "traits": {
            "smithy.api#documentation": "<p>The horizontal accuracy of the estimated position, which is the difference between the estimated\n            location and the actual device location.</p>"
          }
        },
        "VerticalAccuracy": {
          "target": "com.amazonaws.iotwireless#VerticalAccuracy",
          "traits": {
            "smithy.api#documentation": "<p>The vertical accuracy of the estimated position, which is the difference between the estimated\n            altitude and actual device latitude in meters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The accuracy of the estimated position in meters. An empty value indicates that no position data is available. \n            A value of ‘0.0’ value indicates that position data is available. This data corresponds to the position information\n            that you specified instead of the position computed by solver.</p>"
      }
    },
    "com.amazonaws.iotwireless#AckModeRetryDurationSecs": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 604800
        }
      }
    },
    "com.amazonaws.iotwireless#AddGwMetadata": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.iotwireless#AmazonId": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The Sidewalk Amazon ID.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotwireless#AppEui": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{16}$"
      }
    },
    "com.amazonaws.iotwireless#AppKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{32}$"
      }
    },
    "com.amazonaws.iotwireless#AppSKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{32}$"
      }
    },
    "com.amazonaws.iotwireless#AppServerPrivateKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[a-fA-F0-9]{64}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotwireless#ApplicationConfig": {
      "type": "structure",
      "members": {
        "FPort": {
          "target": "com.amazonaws.iotwireless#FPort"
        },
        "Type": {
          "target": "com.amazonaws.iotwireless#ApplicationConfigType",
          "traits": {
            "smithy.api#documentation": "<p>Application type, which can be specified to obtain real-time position information of your LoRaWAN device.</p>"
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the position data destination that describes the AWS IoT rule that processes the device's position data\n         for use by AWS IoT Core for LoRaWAN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>LoRaWAN application configuration, which can be used to perform geolocation.</p>"
      }
    },
    "com.amazonaws.iotwireless#ApplicationConfigType": {
      "type": "enum",
      "members": {
        "SemtechGeoLocation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SemtechGeolocation"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#Applications": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#ApplicationConfig"
      }
    },
    "com.amazonaws.iotwireless#AssistPosition": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#Coordinate"
      },
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 2
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a partner account with your AWS account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/partner-accounts",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountRequest": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkAccountInfo",
          "traits": {
            "smithy.api#documentation": "<p>The Sidewalk account credentials.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateAwsAccountWithPartnerAccountResponse": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkAccountInfo",
          "traits": {
            "smithy.api#documentation": "<p>The Sidewalk account credentials.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#PartnerAccountArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateMulticastGroupWithFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateMulticastGroupWithFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateMulticastGroupWithFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a multicast group with a FUOTA task.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/fuota-tasks/{Id}/multicast-group",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateMulticastGroupWithFuotaTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#FuotaTaskId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MulticastGroupId": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateMulticastGroupWithFuotaTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associate a wireless device with a FUOTA task.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/fuota-tasks/{Id}/wireless-device",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithFuotaTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#FuotaTaskId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WirelessDeviceId": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithFuotaTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithMulticastGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithMulticastGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithMulticastGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless device with a multicast group.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/multicast-groups/{Id}/wireless-device",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithMulticastGroupRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WirelessDeviceId": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithMulticastGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless device with a thing.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-devices/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to associate with the wireless device.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessDeviceWithThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless gateway with a certificate.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-gateways/{Id}/certificate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IotCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate to associate with the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithCertificateResponse": {
      "type": "structure",
      "members": {
        "IotCertificateId": {
          "target": "com.amazonaws.iotwireless#IotCertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate associated with the wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a wireless gateway with a thing.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/wireless-gateways/{Id}/thing",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ThingArn": {
          "target": "com.amazonaws.iotwireless#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to associate with the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#AssociateWirelessGatewayWithThingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#AutoCreateTasks": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.iotwireless#BCCH": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1023
        }
      }
    },
    "com.amazonaws.iotwireless#BSIC": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 63
        }
      }
    },
    "com.amazonaws.iotwireless#BaseLat": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": -90,
          "max": 90
        }
      }
    },
    "com.amazonaws.iotwireless#BaseLng": {
      "type": "float",
      "traits": {
        "smithy.api#range": {
          "min": -180,
          "max": 180
        }
      }
    },
    "com.amazonaws.iotwireless#BaseStationId": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 65535
        }
      }
    },
    "com.amazonaws.iotwireless#BatteryLevel": {
      "type": "enum",
      "members": {
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "normal"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "low"
          }
        },
        "CRITICAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "critical"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Sidewalk device battery level.</p>"
      }
    },
    "com.amazonaws.iotwireless#Beaconing": {
      "type": "structure",
      "members": {
        "DataRate": {
          "target": "com.amazonaws.iotwireless#BeaconingDataRate",
          "traits": {
            "smithy.api#documentation": "<p>The data rate for gateways that are sending the beacons.</p>"
          }
        },
        "Frequencies": {
          "target": "com.amazonaws.iotwireless#BeaconingFrequencies",
          "traits": {
            "smithy.api#documentation": "<p>The frequency list for the gateways to send the beacons.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Beaconing parameters for configuring the wireless gateways.</p>"
      }
    },
    "com.amazonaws.iotwireless#BeaconingDataRate": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.iotwireless#BeaconingFrequencies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#BeaconingFrequency"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.iotwireless#BeaconingFrequency": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 100000000,
          "max": 1000000000
        }
      }
    },
    "com.amazonaws.iotwireless#CancelMulticastGroupSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CancelMulticastGroupSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CancelMulticastGroupSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels an existing multicast group session.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/multicast-groups/{Id}/session",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#CancelMulticastGroupSessionRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CancelMulticastGroupSessionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#CaptureTimeAccuracy": {
      "type": "float"
    },
    "com.amazonaws.iotwireless#CdmaChannel": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 4095
        }
      }
    },
    "com.amazonaws.iotwireless#CdmaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#CdmaObj"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 16
        }
      }
    },
    "com.amazonaws.iotwireless#CdmaLocalId": {
      "type": "structure",
      "members": {
        "PnOffset": {
          "target": "com.amazonaws.iotwireless#PnOffset",
          "traits": {
            "smithy.api#documentation": "<p>Pseudo-noise offset, which is a characteristic of the signal from a cell on a radio tower.</p>",
            "smithy.api#required": {}
          }
        },
        "CdmaChannel": {
          "target": "com.amazonaws.iotwireless#CdmaChannel",
          "traits": {
            "smithy.api#documentation": "<p>CDMA channel information.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CDMA local ID information, which corresponds to the local identification parameters of a CDMA cell.</p>"
      }
    },
    "com.amazonaws.iotwireless#CdmaNmrList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#CdmaNmrObj"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        }
      }
    },
    "com.amazonaws.iotwireless#CdmaNmrObj": {
      "type": "structure",
      "members": {
        "PnOffset": {
          "target": "com.amazonaws.iotwireless#PnOffset",
          "traits": {
            "smithy.api#documentation": "<p>Pseudo-noise offset, which is a characteristic of the signal from a cell on a radio tower.</p>",
            "smithy.api#required": {}
          }
        },
        "CdmaChannel": {
          "target": "com.amazonaws.iotwireless#CdmaChannel",
          "traits": {
            "smithy.api#documentation": "<p>CDMA channel information.</p>",
            "smithy.api#required": {}
          }
        },
        "PilotPower": {
          "target": "com.amazonaws.iotwireless#PilotPower",
          "traits": {
            "smithy.api#documentation": "<p>Transmit power level of the pilot signal, measured in dBm (decibel-milliwatts).</p>"
          }
        },
        "BaseStationId": {
          "target": "com.amazonaws.iotwireless#BaseStationId",
          "traits": {
            "smithy.api#documentation": "<p>CDMA base station ID (BSID).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CDMA object for network measurement reports.</p>"
      }
    },
    "com.amazonaws.iotwireless#CdmaObj": {
      "type": "structure",
      "members": {
        "SystemId": {
          "target": "com.amazonaws.iotwireless#SystemId",
          "traits": {
            "smithy.api#documentation": "<p>CDMA system ID (SID).</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.iotwireless#NetworkId",
          "traits": {
            "smithy.api#documentation": "<p>CDMA network ID (NID).</p>",
            "smithy.api#required": {}
          }
        },
        "BaseStationId": {
          "target": "com.amazonaws.iotwireless#BaseStationId",
          "traits": {
            "smithy.api#documentation": "<p>CDMA base station ID (BSID).</p>",
            "smithy.api#required": {}
          }
        },
        "RegistrationZone": {
          "target": "com.amazonaws.iotwireless#RegistrationZone",
          "traits": {
            "smithy.api#documentation": "<p>CDMA registration zone (RZ).</p>"
          }
        },
        "CdmaLocalId": {
          "target": "com.amazonaws.iotwireless#CdmaLocalId",
          "traits": {
            "smithy.api#documentation": "<p>CDMA local identification (local ID) parameters.</p>"
          }
        },
        "PilotPower": {
          "target": "com.amazonaws.iotwireless#PilotPower",
          "traits": {
            "smithy.api#documentation": "<p>Transmit power level of the pilot signal, measured in dBm (decibel-milliwatts).</p>"
          }
        },
        "BaseLat": {
          "target": "com.amazonaws.iotwireless#BaseLat",
          "traits": {
            "smithy.api#documentation": "<p>CDMA base station latitude in degrees.</p>"
          }
        },
        "BaseLng": {
          "target": "com.amazonaws.iotwireless#BaseLng",
          "traits": {
            "smithy.api#documentation": "<p>CDMA base station longtitude in degrees.</p>"
          }
        },
        "CdmaNmr": {
          "target": "com.amazonaws.iotwireless#CdmaNmrList",
          "traits": {
            "smithy.api#documentation": "<p>CDMA network measurement reports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>CDMA (Code-division multiple access) object.</p>"
      }
    },
    "com.amazonaws.iotwireless#CellParams": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 127
        }
      }
    },
    "com.amazonaws.iotwireless#CellTowers": {
      "type": "structure",
      "members": {
        "Gsm": {
          "target": "com.amazonaws.iotwireless#GsmList",
          "traits": {
            "smithy.api#documentation": "<p>GSM object information.</p>"
          }
        },
        "Wcdma": {
          "target": "com.amazonaws.iotwireless#WcdmaList",
          "traits": {
            "smithy.api#documentation": "<p>WCDMA object information.</p>"
          }
        },
        "Tdscdma": {
          "target": "com.amazonaws.iotwireless#TdscdmaList",
          "traits": {
            "smithy.api#documentation": "<p>TD-SCDMA object information.</p>"
          }
        },
        "Lte": {
          "target": "com.amazonaws.iotwireless#LteList",
          "traits": {
            "smithy.api#documentation": "<p>LTE object information.</p>"
          }
        },
        "Cdma": {
          "target": "com.amazonaws.iotwireless#CdmaList",
          "traits": {
            "smithy.api#documentation": "<p>CDMA object information.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cell towers that were used to perform the measurements.</p>"
      }
    },
    "com.amazonaws.iotwireless#CertificateList": {
      "type": "structure",
      "members": {
        "SigningAlg": {
          "target": "com.amazonaws.iotwireless#SigningAlg",
          "traits": {
            "smithy.api#documentation": "<p>The certificate chain algorithm provided by sidewalk.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.iotwireless#CertificateValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the chosen sidewalk certificate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of sidewalk certificates.</p>"
      }
    },
    "com.amazonaws.iotwireless#CertificatePEM": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^[^-A-Za-z0-9+/=]|=[^=]|={3,}${1,4096}$"
      }
    },
    "com.amazonaws.iotwireless#CertificateValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Certificate value.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#ChannelMask": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#ClassBTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.iotwireless#ClassCTimeout": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.iotwireless#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request.</p>",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.iotwireless#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.iotwireless#Message"
        },
        "ResourceId": {
          "target": "com.amazonaws.iotwireless#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Id of the resource in the conflicting operation.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.iotwireless#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the resource in the conflicting operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotwireless#ConnectionStatus": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Connected"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Disconnected"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#ConnectionStatusEventConfiguration": {
      "type": "structure",
      "members": {
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANConnectionStatusEventNotificationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Connection status event configuration object for enabling or disabling LoRaWAN related event topics.</p>"
          }
        },
        "WirelessGatewayIdEventTopic": {
          "target": "com.amazonaws.iotwireless#EventNotificationTopicStatus",
          "traits": {
            "smithy.api#documentation": "<p>Denotes whether the wireless gateway ID connection status event topic is enabled or disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Connection status event configuration object for enabling or disabling topic.</p>"
      }
    },
    "com.amazonaws.iotwireless#ConnectionStatusResourceTypeEventConfiguration": {
      "type": "structure",
      "members": {
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANConnectionStatusResourceTypeEventConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Connection status resource type event configuration object for enabling or disabling LoRaWAN related\n            event topics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Connection status resource type event configuration object for enabling or disabling topic.</p>"
      }
    },
    "com.amazonaws.iotwireless#Coordinate": {
      "type": "float"
    },
    "com.amazonaws.iotwireless#Crc": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 4294967295
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new destination that maps a device message to an AWS IoT rule.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/destinations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ExpressionType": {
          "target": "com.amazonaws.iotwireless#ExpressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of value in <code>Expression</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Expression": {
          "target": "com.amazonaws.iotwireless#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The rule name or topic rule to send messages to.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotwireless#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new destination. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDestinationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateDeviceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateDeviceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new device profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/device-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfileRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DeviceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDeviceProfile",
          "traits": {
            "smithy.api#documentation": "<p>The device profile information to use to create the device profile.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new device profile. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateDeviceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DeviceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new device profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a FUOTA task.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/fuota-tasks",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateFuotaTaskRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#FuotaTaskName"
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description"
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANFuotaTask"
        },
        "FirmwareUpdateImage": {
          "target": "com.amazonaws.iotwireless#FirmwareUpdateImage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "FirmwareUpdateRole": {
          "target": "com.amazonaws.iotwireless#FirmwareUpdateRole",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList"
        }
      }
    },
    "com.amazonaws.iotwireless#CreateFuotaTaskResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#FuotaTaskArn"
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#FuotaTaskId"
        }
      }
    },
    "com.amazonaws.iotwireless#CreateMulticastGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateMulticastGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateMulticastGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a multicast group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/multicast-groups",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateMulticastGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#MulticastGroupName"
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the multicast group.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the\n            same token as a resource that already exists, an exception occurs. If you omit this value,\n            AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANMulticast",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList"
        }
      }
    },
    "com.amazonaws.iotwireless#CreateMulticastGroupResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#MulticastGroupArn"
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId"
        }
      }
    },
    "com.amazonaws.iotwireless#CreateNetworkAnalyzerConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateNetworkAnalyzerConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateNetworkAnalyzerConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new network analyzer configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/network-analyzer-configurations",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateNetworkAnalyzerConfigurationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#NetworkAnalyzerConfigurationName",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "TraceContent": {
          "target": "com.amazonaws.iotwireless#TraceContent"
        },
        "WirelessDevices": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceList",
          "traits": {
            "smithy.api#documentation": "<p>Wireless device resources to add to the network analyzer configuration. Provide the <code>WirelessDeviceId</code> of the resource to add in the input array.</p>"
          }
        },
        "WirelessGateways": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayList",
          "traits": {
            "smithy.api#documentation": "<p>Wireless gateway resources to add to the network analyzer configuration. Provide the <code>WirelessGatewayId</code> of the resource to add in the input array.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description"
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList"
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateNetworkAnalyzerConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#NetworkAnalyzerConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#NetworkAnalyzerConfigurationName"
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateServiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateServiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new service profile.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/service-profiles",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfileRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#ServiceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANServiceProfile",
          "traits": {
            "smithy.api#documentation": "<p>The service profile information to use to create the service profile.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new service profile. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateServiceProfileResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#ServiceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new service profile.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a wireless device.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-devices",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDeviceRequest": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The wireless device type.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "DestinationName": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination to assign to the new wireless device.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANDevice",
          "traits": {
            "smithy.api#documentation": "<p>The device configuration information to use to create the wireless device.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new wireless device. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "Positioning": {
          "target": "com.amazonaws.iotwireless#PositioningConfigStatus",
          "traits": {
            "smithy.api#documentation": "<p>FPort values for the GNSS, stream, and ClockSync functions of the positioning information.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessDeviceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless device.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provisions a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateways",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the new resource.</p>"
          }
        },
        "LoRaWAN": {
          "target": "com.amazonaws.iotwireless#LoRaWANGateway",
          "traits": {
            "smithy.api#documentation": "<p>The gateway configuration information to use to create the wireless gateway.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the new wireless gateway. Tags are metadata that you can use to manage a resource.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the new resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless gateway.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a task for a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateways/{Id}/tasks",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a gateway task definition.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/wireless-gateway-task-definitions",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionRequest": {
      "type": "structure",
      "members": {
        "AutoCreateTasks": {
          "target": "com.amazonaws.iotwireless#AutoCreateTasks",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether to automatically create tasks using this task definition for all gateways with the specified current version. If <code>false</code>, the task must me created by calling <code>CreateWirelessGatewayTask</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>"
          }
        },
        "Update": {
          "target": "com.amazonaws.iotwireless#UpdateWirelessGatewayTaskCreate",
          "traits": {
            "smithy.api#documentation": "<p>Information about the gateways to update.</p>"
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.iotwireless#ClientRequestToken",
          "traits": {
            "smithy.api#documentation": "<p>Each resource must have a unique client request token. If you try to create a new resource with the same token as a resource that already exists, an exception occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. </p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.iotwireless#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskDefinitionResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the new wireless gateway task definition.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "WirelessGatewayTaskDefinitionId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WirelessGatewayTaskDefinition.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreateWirelessGatewayTaskResponse": {
      "type": "structure",
      "members": {
        "WirelessGatewayTaskDefinitionId": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the WirelessGatewayTaskDefinition.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#CreatedAt": {
      "type": "timestamp",
      "traits": {
        "smithy.api#documentation": "<p>Created at timestamp for the resource.</p>"
      }
    },
    "com.amazonaws.iotwireless#CreationDate": {
      "type": "timestamp"
    },
    "com.amazonaws.iotwireless#DeleteDestination": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteDestinationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteDestinationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a destination.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/destinations/{Name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDestinationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDestinationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteDeviceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteDeviceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a device profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/device-profiles/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteDeviceProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a FUOTA task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/fuota-tasks/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteFuotaTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#FuotaTaskId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteFuotaTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteMulticastGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteMulticastGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteMulticastGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a multicast group if it is not in use by a fuota task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/multicast-groups/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteMulticastGroupRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteMulticastGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteNetworkAnalyzerConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteNetworkAnalyzerConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteNetworkAnalyzerConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a network analyzer configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/network-analyzer-configurations/{ConfigurationName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteNetworkAnalyzerConfigurationRequest": {
      "type": "structure",
      "members": {
        "ConfigurationName": {
          "target": "com.amazonaws.iotwireless#NetworkAnalyzerConfigurationName",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteNetworkAnalyzerConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteQueuedMessages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteQueuedMessagesRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteQueuedMessagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Remove queued messages from the downlink queue.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-devices/{Id}/data",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteQueuedMessagesRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a given wireless device for which downlink messages will be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MessageId": {
          "target": "com.amazonaws.iotwireless#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>If message ID is <code>\"*\"</code>, it cleares the entire downlink queue for a given\n            device, specified by the wireless device ID. Otherwise, the downlink message with the\n            specified message ID will be deleted.</p>",
            "smithy.api#httpQuery": "messageId",
            "smithy.api#required": {}
          }
        },
        "WirelessDeviceType": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceType",
          "traits": {
            "smithy.api#documentation": "<p>The wireless device type, which can be either Sidewalk or LoRaWAN.</p>",
            "smithy.api#httpQuery": "WirelessDeviceType"
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteQueuedMessagesResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteServiceProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteServiceProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteServiceProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a service profile.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/service-profiles/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteServiceProfileRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#ServiceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteServiceProfileResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessDevice": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessDeviceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessDeviceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless device.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-devices/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessDeviceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessDeviceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessDeviceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGateway": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateways/{Id}/tasks",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a wireless gateway task definition. Deleting this task definition does not affect tasks that are currently in progress.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/wireless-gateway-task-definitions/{Id}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayTaskDefinitionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskDefinitionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#WirelessGatewayId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DeleteWirelessGatewayTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#Description": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The description of the new resource.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iotwireless#DestinationArn": {
      "type": "string"
    },
    "com.amazonaws.iotwireless#DestinationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#Destinations"
      }
    },
    "com.amazonaws.iotwireless#DestinationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.iotwireless#Destinations": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DestinationArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DestinationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "ExpressionType": {
          "target": "com.amazonaws.iotwireless#ExpressionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of value in <code>Expression</code>.</p>"
          }
        },
        "Expression": {
          "target": "com.amazonaws.iotwireless#Expression",
          "traits": {
            "smithy.api#documentation": "<p>The rule name or topic rule to send messages to.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.iotwireless#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the resource.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.iotwireless#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM Role that authorizes the destination.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a destination.</p>"
      }
    },
    "com.amazonaws.iotwireless#DevAddr": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{8}$"
      }
    },
    "com.amazonaws.iotwireless#DevEui": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-fA-F0-9]{16}$"
      }
    },
    "com.amazonaws.iotwireless#DevStatusReqFreq": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceCertificateList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#CertificateList"
      },
      "traits": {
        "smithy.api#documentation": "<p>List of device certificate chain.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfile": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.iotwireless#DeviceProfileArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.iotwireless#DeviceProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the resource.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.iotwireless#DeviceProfileId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device profile.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a device profile.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileArn": {
      "type": "string"
    },
    "com.amazonaws.iotwireless#DeviceProfileId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotwireless#DeviceProfile"
      }
    },
    "com.amazonaws.iotwireless#DeviceProfileName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotwireless#DeviceRegistrationStateEventConfiguration": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkEventNotificationConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Device registration state event configuration object for enabling or disabling Sidewalk related event\n            topics.</p>"
          }
        },
        "WirelessDeviceIdEventTopic": {
          "target": "com.amazonaws.iotwireless#EventNotificationTopicStatus",
          "traits": {
            "smithy.api#documentation": "<p>Denotes whether the wireless device ID device registration state event topic is enabled or disabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Device registration state event configuration object for enabling and disabling relevant topics.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceRegistrationStateResourceTypeEventConfiguration": {
      "type": "structure",
      "members": {
        "Sidewalk": {
          "target": "com.amazonaws.iotwireless#SidewalkResourceTypeEventConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Device registration resource type state event configuration object for enabling or disabling Sidewalk\n            related event topics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Device registration state resource type event configuration object for enabling or disabling topic.</p>"
      }
    },
    "com.amazonaws.iotwireless#DeviceState": {
      "type": "enum",
      "members": {
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Provisioned"
          }
        },
        "REGISTEREDNOTSEEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegisteredNotSeen"
          }
        },
        "REGISTEREDREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegisteredReachable"
          }
        },
        "REGISTEREDUNREACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RegisteredUnreachable"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Device state defines the device status of sidewalk device.</p>"
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates your AWS account from a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, disassociates your AWS account from all partner accounts.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/partner-accounts/{PartnerAccountId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountRequest": {
      "type": "structure",
      "members": {
        "PartnerAccountId": {
          "target": "com.amazonaws.iotwireless#PartnerAccountId",
          "traits": {
            "smithy.api#documentation": "<p>The partner account ID to disassociate from the AWS account.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "PartnerType": {
          "target": "com.amazonaws.iotwireless#PartnerType",
          "traits": {
            "smithy.api#documentation": "<p>The partner type.</p>",
            "smithy.api#httpQuery": "partnerType",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateAwsAccountFromPartnerAccountResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DisassociateMulticastGroupFromFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateMulticastGroupFromFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateMulticastGroupFromFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotwireless#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates a multicast group from a fuota task.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/fuota-tasks/{Id}/multicast-groups/{MulticastGroupId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateMulticastGroupFromFuotaTaskRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.iotwireless#FuotaTaskId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MulticastGroupId": {
          "target": "com.amazonaws.iotwireless#MulticastGroupId",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotwireless#DisassociateMulticastGroupFromFuotaTaskResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromFuotaTask": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromFuotaTaskRequest"
      },
      "output": {
        "target": "com.amazonaws.iotwireless#DisassociateWirelessDeviceFromFuotaTaskResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotwireless#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotwireless#ConflictException"
        },
        {
          "target": "com.amazonaws.iotwireless#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotwireless#ResourceNotFoundException"
        },
[...]
