{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot#AWSIotService": {
      "type": "service",
      "version": "2015-05-28",
      "operations": [
        {
          "target": "com.amazonaws.iot.goldeneye.beta#ConfirmTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#CreateTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#CreateTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#DeleteTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#DeleteTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#DeleteV2LoggingLevel"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#DisableTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#EnableTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#GetLoggingOptions"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#GetTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#GetTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#GetV2LoggingOptions"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#ListTopicRuleDestinations"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#ListTopicRules"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#ListV2LoggingLevels"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#ReplaceTopicRule"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#SetLoggingOptions"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#SetV2LoggingLevel"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#SetV2LoggingOptions"
        },
        {
          "target": "com.amazonaws.iot.goldeneye.beta#UpdateTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot.identity#AcceptCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot.identity#AttachPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#AttachPrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#CancelCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot.identity#ClearDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateCertificateFromCsr"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateKeysAndCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#CreatePolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#CreatePolicyVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateProvisioningClaim"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#CreateRoleAlias"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteCACertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot.identity#DeletePolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#DeletePolicyVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteRegistrationCode"
        },
        {
          "target": "com.amazonaws.iot.identity#DeleteRoleAlias"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeCACertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#DescribeRoleAlias"
        },
        {
          "target": "com.amazonaws.iot.identity#DetachPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#DetachPrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#GetEffectivePolicies"
        },
        {
          "target": "com.amazonaws.iot.identity#GetPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#GetPolicyVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#GetRegistrationCode"
        },
        {
          "target": "com.amazonaws.iot.identity#ListAttachedPolicies"
        },
        {
          "target": "com.amazonaws.iot.identity#ListAuthorizers"
        },
        {
          "target": "com.amazonaws.iot.identity#ListCACertificates"
        },
        {
          "target": "com.amazonaws.iot.identity#ListCertificates"
        },
        {
          "target": "com.amazonaws.iot.identity#ListCertificatesByCA"
        },
        {
          "target": "com.amazonaws.iot.identity#ListDomainConfigurations"
        },
        {
          "target": "com.amazonaws.iot.identity#ListOutgoingCertificates"
        },
        {
          "target": "com.amazonaws.iot.identity#ListPolicies"
        },
        {
          "target": "com.amazonaws.iot.identity#ListPolicyPrincipals"
        },
        {
          "target": "com.amazonaws.iot.identity#ListPolicyVersions"
        },
        {
          "target": "com.amazonaws.iot.identity#ListPrincipalPolicies"
        },
        {
          "target": "com.amazonaws.iot.identity#ListProvisioningTemplateVersions"
        },
        {
          "target": "com.amazonaws.iot.identity#ListProvisioningTemplates"
        },
        {
          "target": "com.amazonaws.iot.identity#ListRoleAliases"
        },
        {
          "target": "com.amazonaws.iot.identity#ListTargetsForPolicy"
        },
        {
          "target": "com.amazonaws.iot.identity#RegisterCACertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#RegisterCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#RegisterThing"
        },
        {
          "target": "com.amazonaws.iot.identity#RejectCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot.identity#SetDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#SetDefaultPolicyVersion"
        },
        {
          "target": "com.amazonaws.iot.identity#TestAuthorization"
        },
        {
          "target": "com.amazonaws.iot.identity#TestInvokeAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#TransferCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateAuthorizer"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateCACertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateCertificate"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot.identity#UpdateRoleAlias"
        },
        {
          "target": "com.amazonaws.iot.indexing#DescribeIndex"
        },
        {
          "target": "com.amazonaws.iot.indexing#GetCardinality"
        },
        {
          "target": "com.amazonaws.iot.indexing#GetIndexingConfiguration"
        },
        {
          "target": "com.amazonaws.iot.indexing#GetPercentiles"
        },
        {
          "target": "com.amazonaws.iot.indexing#GetStatistics"
        },
        {
          "target": "com.amazonaws.iot.indexing#ListIndices"
        },
        {
          "target": "com.amazonaws.iot.indexing#SearchIndex"
        },
        {
          "target": "com.amazonaws.iot.indexing#UpdateIndexingConfiguration"
        },
        {
          "target": "com.amazonaws.iot.laser#AssociateTargetsWithJob"
        },
        {
          "target": "com.amazonaws.iot.laser#CancelJob"
        },
        {
          "target": "com.amazonaws.iot.laser#CancelJobExecution"
        },
        {
          "target": "com.amazonaws.iot.laser#CreateJob"
        },
        {
          "target": "com.amazonaws.iot.laser#DeleteJob"
        },
        {
          "target": "com.amazonaws.iot.laser#DeleteJobExecution"
        },
        {
          "target": "com.amazonaws.iot.laser#DescribeJob"
        },
        {
          "target": "com.amazonaws.iot.laser#DescribeJobExecution"
        },
        {
          "target": "com.amazonaws.iot.laser#GetJobDocument"
        },
        {
          "target": "com.amazonaws.iot.laser#ListJobExecutionsForJob"
        },
        {
          "target": "com.amazonaws.iot.laser#ListJobExecutionsForThing"
        },
        {
          "target": "com.amazonaws.iot.laser#ListJobs"
        },
        {
          "target": "com.amazonaws.iot.laser#UpdateJob"
        },
        {
          "target": "com.amazonaws.iot.otamanager#CreateOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot.otamanager#DeleteOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot.otamanager#GetOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot.otamanager#ListOTAUpdates"
        },
        {
          "target": "com.amazonaws.iot.registry#AddThingToBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#AddThingToThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#AttachThingPrincipal"
        },
        {
          "target": "com.amazonaws.iot.registry#CreateBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#CreateDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#CreateThing"
        },
        {
          "target": "com.amazonaws.iot.registry#CreateThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#CreateThingType"
        },
        {
          "target": "com.amazonaws.iot.registry#DeleteBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#DeleteDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#DeleteThing"
        },
        {
          "target": "com.amazonaws.iot.registry#DeleteThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#DeleteThingType"
        },
        {
          "target": "com.amazonaws.iot.registry#DeprecateThingType"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeEventConfigurations"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeThing"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot.registry#DescribeThingType"
        },
        {
          "target": "com.amazonaws.iot.registry#DetachThingPrincipal"
        },
        {
          "target": "com.amazonaws.iot.registry#ListBillingGroups"
        },
        {
          "target": "com.amazonaws.iot.registry#ListPrincipalThings"
        },
        {
          "target": "com.amazonaws.iot.registry#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingGroups"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingGroupsForThing"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingPrincipals"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingRegistrationTaskReports"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingRegistrationTasks"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingTypes"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThings"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingsInBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#ListThingsInThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#RemoveThingFromBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#RemoveThingFromThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#StartThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot.registry#StopThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot.registry#TagResource"
        },
        {
          "target": "com.amazonaws.iot.registry#UntagResource"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateBillingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateEventConfigurations"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateThing"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateThingGroup"
        },
        {
          "target": "com.amazonaws.iot.registry#UpdateThingGroupsForThing"
        },
        {
          "target": "com.amazonaws.iot.sepio#AttachSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#CancelAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#CancelAuditTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#CreateMitigationAction"
        },
        {
          "target": "com.amazonaws.iot.sepio#CreateScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot.sepio#CreateSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#DeleteAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot.sepio#DeleteMitigationAction"
        },
        {
          "target": "com.amazonaws.iot.sepio#DeleteScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot.sepio#DeleteSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeAuditFinding"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeAuditTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeMitigationAction"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot.sepio#DescribeSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#DetachSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListActiveViolations"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListAuditFindings"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListAuditMitigationActionsExecutions"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListAuditMitigationActionsTasks"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListAuditTasks"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListMitigationActions"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListScheduledAudits"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListSecurityProfilesForTarget"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListTargetsForSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#ListViolationEvents"
        },
        {
          "target": "com.amazonaws.iot.sepio#StartAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#StartOnDemandAuditTask"
        },
        {
          "target": "com.amazonaws.iot.sepio#UpdateAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot.sepio#UpdateMitigationAction"
        },
        {
          "target": "com.amazonaws.iot.sepio#UpdateScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot.sepio#UpdateSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot.sepio#ValidateSecurityProfileBehaviors"
        },
        {
          "target": "com.amazonaws.iot.streaming#CreateStream"
        },
        {
          "target": "com.amazonaws.iot.streaming#DeleteStream"
        },
        {
          "target": "com.amazonaws.iot.streaming#DescribeStream"
        },
        {
          "target": "com.amazonaws.iot.streaming#ListStreams"
        },
        {
          "target": "com.amazonaws.iot.streaming#UpdateStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT",
          "arnNamespace": "execute-api",
          "cloudFormationName": "IoT",
          "cloudTrailEventSource": "iot.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS IoT</fullname>\n        <p>AWS IoT provides secure, bi-directional communication between Internet-connected\n            devices (such as sensors, actuators, embedded devices, or smart appliances) and the AWS\n            cloud. You can discover your custom IoT-Data endpoint to communicate with, configure\n            rules for data processing and integration with other services, organize resources\n            associated with each device (Registry), configure logging, and create and manage\n            policies and credentials to authenticate devices.</p>\n        <p>For more information about how AWS IoT works, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer\n            Guide</a>.</p>\n        <p>For information about how to use the credentials provider for AWS IoT, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html\">Authorizing Direct Calls to AWS Services</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT"
      }
    },
    "com.amazonaws.iot.laser#AbortAction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CANCEL": {
            "name": "CANCEL"
          }
        }
      }
    },
    "com.amazonaws.iot.laser#AbortConfig": {
      "type": "structure",
      "members": {
        "criteriaList": {
          "target": "com.amazonaws.iot.laser#AbortCriteriaList",
          "traits": {
            "smithy.api#documentation": "<p>The list of abort criteria to define rules to abort the job.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of abort criteria to abort the job.</p>"
      }
    },
    "com.amazonaws.iot.laser#AbortCriteria": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.iot.laser#AbortAction",
          "traits": {
            "smithy.api#documentation": "<p>The type of abort action to initiate a job abort.</p>",
            "smithy.api#required": true
          }
        },
        "failureType": {
          "target": "com.amazonaws.iot.laser#JobExecutionFailureType",
          "traits": {
            "smithy.api#documentation": "<p>The type of job execution failure to define a rule to initiate a job abort.</p>",
            "smithy.api#required": true
          }
        },
        "minNumberOfExecutedThings": {
          "target": "com.amazonaws.iot.laser#MinimumNumberOfExecutedThings",
          "traits": {
            "smithy.api#documentation": "<p>Minimum number of executed things before evaluating an abort rule.</p>",
            "smithy.api#required": true
          }
        },
        "thresholdPercentage": {
          "target": "com.amazonaws.iot.laser#AbortThresholdPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The threshold as a percentage of the total number of executed things that will initiate a job abort.</p>\n        <p>AWS IoT supports up to two digits after the decimal (for example, 10.9 and 10.99, but not 10.999).</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of abort criteria to define rules to abort the job.</p>"
      }
    },
    "com.amazonaws.iot.laser#AbortCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.laser#AbortCriteria"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iot.laser#AbortThresholdPercentage": {
      "type": "double",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "max": 100
        }
      }
    },
    "com.amazonaws.iot.identity#AcceptCertificateTransfer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.identity#AcceptCertificateTransferRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot.common.types#TransferAlreadyCompletedException"
        },
        {
          "target": "com.amazonaws.iot.common.types#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a pending certificate transfer. The default state of the certificate is\n         INACTIVE.</p>\n         <p>To check for pending certificate transfers, call <a>ListCertificates</a>\n         to enumerate your certificates.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accept-certificate-transfer/{certificateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.identity#AcceptCertificateTransferRequest": {
      "type": "structure",
      "members": {
        "certificateId": {
          "target": "com.amazonaws.iot.common.types#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate. (The last part of the certificate ARN contains the\n         certificate ID.)</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "setAsActive": {
          "target": "com.amazonaws.iot.identity#SetAsActive",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the certificate is active.</p>",
            "smithy.api#httpQuery": "setAsActive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the AcceptCertificateTransfer operation.</p>"
      }
    },
    "com.amazonaws.iot.identity#AcmCertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws:acm:[a-z]{2}-(gov-)?[a-z]{4,9}-\\d{1}:\\d{12}:certificate/?[a-zA-Z0-9/-]+"
      }
    },
    "com.amazonaws.iot.goldeneye.beta#Action": {
      "type": "structure",
      "members": {
        "cloudwatchAlarm": {
          "target": "com.amazonaws.iot.goldeneye.beta#CloudwatchAlarmAction",
          "traits": {
            "smithy.api#documentation": "<p>Change the state of a CloudWatch alarm.</p>"
          }
        },
        "cloudwatchMetric": {
          "target": "com.amazonaws.iot.goldeneye.beta#CloudwatchMetricAction",
          "traits": {
            "smithy.api#documentation": "<p>Capture a CloudWatch metric.</p>"
          }
        },
        "dynamoDB": {
          "target": "com.amazonaws.iot.goldeneye.beta#DynamoDBAction",
          "traits": {
            "smithy.api#documentation": "<p>Write to a DynamoDB table.</p>"
          }
        },
        "dynamoDBv2": {
          "target": "com.amazonaws.iot.goldeneye.beta#DynamoDBv2Action",
          "traits": {
            "smithy.api#documentation": "<p>Write to a DynamoDB table. This is a new version of the DynamoDB action. It allows\n         you to write each attribute in an MQTT message payload into a separate DynamoDB\n         column.</p>"
          }
        },
        "elasticsearch": {
          "target": "com.amazonaws.iot.goldeneye.beta#ElasticsearchAction",
          "traits": {
            "smithy.api#documentation": "<p>Write data to an Amazon Elasticsearch Service domain.</p>"
          }
        },
        "firehose": {
          "target": "com.amazonaws.iot.goldeneye.beta#FirehoseAction",
          "traits": {
            "smithy.api#documentation": "<p>Write to an Amazon Kinesis Firehose stream.</p>"
          }
        },
        "http": {
          "target": "com.amazonaws.iot.goldeneye.beta#HttpAction",
          "traits": {
            "smithy.api#documentation": "<p>Send data to an HTTPS endpoint.</p>"
          }
        },
        "iotAnalytics": {
          "target": "com.amazonaws.iot.goldeneye.beta#IotAnalyticsAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends message data to an AWS IoT Analytics channel.</p>"
          }
        },
        "iotEvents": {
          "target": "com.amazonaws.iot.goldeneye.beta#IotEventsAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends an input to an AWS IoT Events detector.</p>"
          }
        },
        "iotSiteWise": {
          "target": "com.amazonaws.iot.goldeneye.beta#IotSiteWiseAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends data from the MQTT message that triggered the rule to AWS IoT SiteWise asset\n      properties.</p>"
          }
        },
        "kinesis": {
          "target": "com.amazonaws.iot.goldeneye.beta#KinesisAction",
          "traits": {
            "smithy.api#documentation": "<p>Write data to an Amazon Kinesis stream.</p>"
          }
        },
        "lambda": {
          "target": "com.amazonaws.iot.goldeneye.beta#LambdaAction",
          "traits": {
            "smithy.api#documentation": "<p>Invoke a Lambda function.</p>"
          }
        },
        "republish": {
          "target": "com.amazonaws.iot.goldeneye.beta#RepublishAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to another MQTT topic.</p>"
          }
        },
        "s3": {
          "target": "com.amazonaws.iot.goldeneye.beta#S3Action",
          "traits": {
            "smithy.api#documentation": "<p>Write to an Amazon S3 bucket.</p>"
          }
        },
        "salesforce": {
          "target": "com.amazonaws.iot.goldeneye.beta#SalesforceAction",
          "traits": {
            "smithy.api#documentation": "<p>Send a message to a Salesforce IoT Cloud Input Stream.</p>"
          }
        },
        "sns": {
          "target": "com.amazonaws.iot.goldeneye.beta#SnsAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to an Amazon SNS topic.</p>"
          }
        },
        "sqs": {
          "target": "com.amazonaws.iot.goldeneye.beta#SqsAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to an Amazon SQS queue.</p>"
          }
        },
        "stepFunctions": {
          "target": "com.amazonaws.iot.goldeneye.beta#StepFunctionsAction",
          "traits": {
            "smithy.api#documentation": "<p>Starts execution of a Step Functions state machine.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the actions associated with a rule.</p>"
      }
    },
    "com.amazonaws.iot.goldeneye.beta#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.goldeneye.beta#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.iot.identity#ActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PUBLISH": {
            "name": "PUBLISH"
          },
          "SUBSCRIBE": {
            "name": "SUBSCRIBE"
          },
          "RECEIVE": {
            "name": "RECEIVE"
          },
          "CONNECT": {
            "name": "CONNECT"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.detection#ActiveViolation": {
      "type": "structure",
      "members": {
        "behavior": {
          "target": "com.amazonaws.iot.sepio.types.detection#Behavior",
          "traits": {
            "smithy.api#documentation": "<p>The behavior which is being violated.</p>"
          }
        },
        "lastViolationTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the most recent violation occurred.</p>"
          }
        },
        "lastViolationValue": {
          "target": "com.amazonaws.iot.sepio.types.detection#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the metric (the measurement) which caused the most recent violation.</p>"
          }
        },
        "securityProfileName": {
          "target": "com.amazonaws.iot.sepio.types.detection#SecurityProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The security profile whose behavior is in violation.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.sepio.types.detection#DeviceDefenderThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing responsible for the active violation.</p>"
          }
        },
        "violationId": {
          "target": "com.amazonaws.iot.sepio.types.detection#ViolationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the active violation.</p>"
          }
        },
        "violationStartTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the violation started.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an active Device Defender security profile behavior violation.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#ActiveViolations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.detection#ActiveViolation"
      }
    },
    "com.amazonaws.iot.registry#AddThingToBillingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.registry#AddThingToBillingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.registry#AddThingToBillingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a thing to a billing group.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/billing-groups/addThingToBillingGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.registry#AddThingToBillingGroupRequest": {
      "type": "structure",
      "members": {
        "billingGroupArn": {
          "target": "com.amazonaws.iot.common.types#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the billing group.</p>"
          }
        },
        "billingGroupName": {
          "target": "com.amazonaws.iot.common.types#BillingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the billing group.</p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iot.common.types#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to be added to the billing group.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.common.types#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to be added to the billing group.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.registry#AddThingToBillingGroupResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.registry#AddThingToThingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.registry#AddThingToThingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.registry#AddThingToThingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a thing to a thing group.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/thing-groups/addThingToThingGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.registry#AddThingToThingGroupRequest": {
      "type": "structure",
      "members": {
        "overrideDynamicGroups": {
          "target": "com.amazonaws.iot.registry.common#OverrideDynamicGroups",
          "traits": {
            "smithy.api#documentation": "<p>Override dynamic thing groups with static thing groups when 10-group limit is\n\t\t\treached. If a thing belongs to 10 thing groups, and one or more of those groups are\n\t\t\tdynamic thing groups, adding a thing to a static group removes the thing from the last\n\t\t\tdynamic group.</p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iot.common.types#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to add to a group.</p>"
          }
        },
        "thingGroupArn": {
          "target": "com.amazonaws.iot.common.types#ThingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group to which you are adding a thing.</p>"
          }
        },
        "thingGroupName": {
          "target": "com.amazonaws.iot.common.types#ThingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to which you are adding a thing.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.common.types#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to add to a group.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.registry#AddThingToThingGroupResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.sepio.types#AddThingsToThingGroupParams": {
      "type": "structure",
      "members": {
        "overrideDynamicGroups": {
          "target": "com.amazonaws.iot.sepio.types#OverrideDynamicGroups",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if this mitigation action can move the things that triggered the mitigation action even if they are part of one or more dynamic things groups.</p>"
          }
        },
        "thingGroupNames": {
          "target": "com.amazonaws.iot.sepio.types#ThingGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The list of groups to which you want to add the things that triggered the mitigation action. You can add a thing to a maximum of 10 groups, but you cannot add a thing to more than one group in the same hierarchy.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Parameters used when defining a mitigation action that move a set of things to a thing group.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#AdditionalMetricsToRetainList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.detection#BehaviorMetric"
      }
    },
    "com.amazonaws.iot.otamanager#AdditionalParameterMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.otamanager#AttributeKey"
      },
      "value": {
        "target": "com.amazonaws.iot.otamanager#Value"
      }
    },
    "com.amazonaws.iot.common.types#AggregationField": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AlarmName": {
      "type": "string"
    },
    "com.amazonaws.iot.sepio.types.detection#AlertTarget": {
      "type": "structure",
      "members": {
        "alertTargetArn": {
          "target": "com.amazonaws.iot.sepio.types.detection#AlertTargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the notification target to which alerts are sent.</p>",
            "smithy.api#required": true
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iot.common.types#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants permission to send alerts to the \n        notification target.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure containing the alert target ARN and the role ARN.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#AlertTargetArn": {
      "type": "string"
    },
    "com.amazonaws.iot.sepio.types.detection#AlertTargetType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of alert target: one of \"SNS\".</p>",
        "smithy.api#enum": {
          "SNS": {
            "name": "SNS"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.detection#AlertTargets": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.detection#AlertTargetType"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.detection#AlertTarget"
      }
    },
    "com.amazonaws.iot.identity#AllowAuthorizerOverride": {
      "type": "boolean"
    },
    "com.amazonaws.iot.identity#AllowAutoRegistration": {
      "type": "boolean"
    },
    "com.amazonaws.iot.identity#Allowed": {
      "type": "structure",
      "members": {
        "policies": {
          "target": "com.amazonaws.iot.identity#Policies",
          "traits": {
            "smithy.api#documentation": "<p>A list of policies that allowed the authentication.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information that allowed the authorization.</p>"
      }
    },
    "com.amazonaws.iot.laser.common#ApproximateSecondsBeforeTimedOut": {
      "type": "long",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.iot.identity#AscendingOrder": {
      "type": "boolean"
    },
    "com.amazonaws.iot.streaming#AscendingOrder": {
      "type": "boolean"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetId": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyBooleanValue": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyDoubleValue": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyEntryId": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyId": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyIntegerValue": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyOffsetInNanos": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyQuality": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyStringValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyTimeInSeconds": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyTimestamp": {
      "type": "structure",
      "members": {
        "offsetInNanos": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyOffsetInNanos",
          "traits": {
            "smithy.api#documentation": "<p>Optional. A string that contains the nanosecond time offset. Accepts substitution\n      templates.</p>"
          }
        },
        "timeInSeconds": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyTimeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>A string that contains the time in seconds since epoch. Accepts substitution\n      templates.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset property timestamp entry containing the following information.</p>"
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyValue": {
      "type": "structure",
      "members": {
        "quality": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyQuality",
          "traits": {
            "smithy.api#documentation": "<p>Optional. A string that describes the quality of the value. Accepts substitution\n      templates. Must be <code>GOOD</code>, <code>BAD</code>, or <code>UNCERTAIN</code>.</p>"
          }
        },
        "timestamp": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>The asset property value timestamp.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyVariant",
          "traits": {
            "smithy.api#documentation": "<p>The value of the asset property.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An asset property value entry containing the following information.</p>"
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AssetPropertyVariant": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyBooleanValue",
          "traits": {
            "smithy.api#documentation": "<p>Optional. A string that contains the boolean value (<code>true</code> or\n        <code>false</code>) of the value entry. Accepts substitution templates.</p>"
          }
        },
        "doubleValue": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>Optional. A string that contains the double value of the value entry. Accepts substitution\n      templates.</p>"
          }
        },
        "integerValue": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyIntegerValue",
          "traits": {
            "smithy.api#documentation": "<p>Optional. A string that contains the integer value of the value entry. Accepts\n      substitution templates.</p>"
          }
        },
        "stringValue": {
          "target": "com.amazonaws.iot.goldeneye.beta#AssetPropertyStringValue",
          "traits": {
            "smithy.api#documentation": "<p>Optional. The string value of the value entry. Accepts substitution templates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset property value (of a single type).</p>"
      }
    },
    "com.amazonaws.iot.laser#AssociateTargetsWithJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.laser#AssociateTargetsWithJobRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.laser#AssociateTargetsWithJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a group with a continuous job. The following criteria must be met: </p>\n        <ul>\n            <li>\n                <p>The job must have been created with the <code>targetSelection</code> field set to\n                    \"CONTINUOUS\".</p>\n            </li>\n            <li>\n                <p>The job status must currently be \"IN_PROGRESS\".</p>\n            </li>\n            <li>\n                <p>The total number of targets associated with a job must not exceed 100.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/jobs/{jobId}/targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.laser#AssociateTargetsWithJobRequest": {
      "type": "structure",
      "members": {
        "comment": {
          "target": "com.amazonaws.iot.laser#Comment",
          "traits": {
            "smithy.api#documentation": "<p>An optional comment string describing why the job was associated with the targets.</p>"
          }
        },
        "jobId": {
          "target": "com.amazonaws.iot.laser.common#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier you assigned to this job when it was created.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "targets": {
          "target": "com.amazonaws.iot.laser#JobTargets",
          "traits": {
            "smithy.api#documentation": "<p>A list of thing group ARNs that define the targets of the job.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.laser#AssociateTargetsWithJobResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot.laser#JobDescription",
          "traits": {
            "smithy.api#documentation": "<p>A short text description of the job.</p>"
          }
        },
        "jobArn": {
          "target": "com.amazonaws.iot.laser.common#JobArn",
          "traits": {
            "smithy.api#documentation": "<p>An ARN identifying the job.</p>"
          }
        },
        "jobId": {
          "target": "com.amazonaws.iot.laser.common#JobId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier you assigned to this job when it was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.identity#AttachPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.identity#AttachPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot.common.types#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a policy to the specified target.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/target-policies/{policyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.identity#AttachPolicyRequest": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "com.amazonaws.iot.common.types#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the policy to attach.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "target": {
          "target": "com.amazonaws.iot.common.types#PolicyTarget",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/iot-security-identity.html\">identity</a> to which the policy is attached.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.identity#AttachPrincipalPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.identity#AttachPrincipalPolicyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot.common.types#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#deprecated": { },
        "smithy.api#documentation": "<p>Attaches the specified policy to the specified principal (certificate or other\n         credential).</p>\n         <p>\n            <b>Note:</b> This API is deprecated. Please use <a>AttachPolicy</a> instead.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/principal-policies/{policyName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.identity#AttachPrincipalPolicyRequest": {
      "type": "structure",
      "members": {
        "policyName": {
          "target": "com.amazonaws.iot.common.types#PolicyName",
          "traits": {
            "smithy.api#documentation": "<p>The policy name.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "principal": {
          "target": "com.amazonaws.iot.common.types#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The principal, which can be a certificate ARN (as returned from the CreateCertificate\n         operation) or an Amazon Cognito ID.</p>",
            "smithy.api#httpHeader": "x-amzn-iot-principal",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the AttachPrincipalPolicy operation.</p>"
      }
    },
    "com.amazonaws.iot.sepio#AttachSecurityProfile": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.sepio#AttachSecurityProfileRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.sepio#AttachSecurityProfileResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot.common.types#VersionConflictException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a Device Defender security profile with a thing group or this account. Each \n        thing group or account can have up to five security profiles associated with it.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/security-profiles/{securityProfileName}/targets",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.sepio#AttachSecurityProfileRequest": {
      "type": "structure",
      "members": {
        "securityProfileName": {
          "target": "com.amazonaws.iot.sepio.types.detection#SecurityProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The security profile that is attached.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "securityProfileTargetArn": {
          "target": "com.amazonaws.iot.sepio.types.detection#SecurityProfileTargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target (thing group) to which the security profile is attached.</p>",
            "smithy.api#httpQuery": "securityProfileTargetArn",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.sepio#AttachSecurityProfileResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.registry#AttachThingPrincipal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.registry#AttachThingPrincipalRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.registry#AttachThingPrincipalResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.common.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.common.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot.common.types#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot.common.types#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches the specified principal to the specified thing. A principal can be X.509\n\t\t\tcertificates, IAM users, groups, and roles, Amazon Cognito identities or federated\n\t\t\tidentities.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/things/{thingName}/principals",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot.registry#AttachThingPrincipalRequest": {
      "type": "structure",
      "members": {
        "principal": {
          "target": "com.amazonaws.iot.common.types#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The principal, which can be a certificate ARN (as returned from the\n\t\t\tCreateCertificate operation) or an Amazon Cognito ID.</p>",
            "smithy.api#httpHeader": "x-amzn-principal",
            "smithy.api#required": true
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.common.types#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the AttachThingPrincipal operation.</p>"
      }
    },
    "com.amazonaws.iot.registry#AttachThingPrincipalResponse": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The output from the AttachThingPrincipal operation.</p>"
      }
    },
    "com.amazonaws.iot.otamanager#AttributeKey": {
      "type": "string"
    },
    "com.amazonaws.iot.registry.common#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]+"
      }
    },
    "com.amazonaws.iot.registry.common#AttributePayload": {
      "type": "structure",
      "members": {
        "attributes": {
          "target": "com.amazonaws.iot.registry.common#Attributes",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string containing up to three key-value pair in JSON format. For example:</p>\n\t\t       <p>\n\t\t\t         <code>{\\\"attributes\\\":{\\\"string1\\\":\\\"string2\\\"}}</code>\n\t\t       </p>"
          }
        },
        "merge": {
          "target": "com.amazonaws.iot.registry.common#Flag",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the list of attributes provided in the <code>AttributePayload</code> is merged with\n\t\t\tthe attributes stored in the registry, instead of overwriting them.</p>\n\t\t       <p>To remove an attribute, call <code>UpdateThing</code> with an empty attribute value.</p>\n\t\t       <note>\n\t\t\t         <p>The <code>merge</code> attribute is only valid when calling <code>UpdateThing</code> or <code>UpdateThingGroup</code>.</p>\n\t\t       </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The attribute payload.</p>"
      }
    },
    "com.amazonaws.iot.registry.common#AttributeValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 800
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.,@/:#-]*"
      }
    },
    "com.amazonaws.iot.registry.common#Attributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.registry.common#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iot.registry.common#AttributeValue"
      }
    },
    "com.amazonaws.iot.otamanager#AttributesMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.otamanager#AttributeKey"
      },
      "value": {
        "target": "com.amazonaws.iot.otamanager#Value"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckConfiguration": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.iot.sepio.types.audit#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>True if this audit check is enabled for this account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Which audit checks are enabled and disabled for this account.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckConfigurations": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckConfiguration"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckDetails": {
      "type": "structure",
      "members": {
        "checkCompliant": {
          "target": "com.amazonaws.iot.sepio.types.audit#CheckCompliant",
          "traits": {
            "smithy.api#documentation": "<p>True if the check is complete and found all resources compliant.</p>"
          }
        },
        "checkRunStatus": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckRunStatus",
          "traits": {
            "smithy.api#documentation": "<p>The completion status of this check. One of \"IN_PROGRESS\", \"WAITING_FOR_DATA_COLLECTION\",\n        \"CANCELED\", \"COMPLETED_COMPLIANT\", \"COMPLETED_NON_COMPLIANT\", or \"FAILED\".</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.iot.sepio.types.audit#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The code of any error encountered when this check is performed during this audit.\n          One of \"INSUFFICIENT_PERMISSIONS\" or \"AUDIT_CHECK_DISABLED\".</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iot.sepio.types#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with any error encountered when this check is performed during this audit.</p>"
          }
        },
        "nonCompliantResourcesCount": {
          "target": "com.amazonaws.iot.sepio.types.audit#NonCompliantResourcesCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of resources that were found noncompliant during the check.</p>"
          }
        },
        "totalResourcesCount": {
          "target": "com.amazonaws.iot.sepio.types.audit#TotalResourcesCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of resources on which the check was performed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the audit check.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An audit check name. Checks must be enabled \n        for your account. (Use <code>DescribeAccountAuditConfiguration</code> to see the list\n        of all checks, including those that are enabled or use <code>UpdateAccountAuditConfiguration</code> \n        to select which checks are enabled.)</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckRunStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "WAITING_FOR_DATA_COLLECTION": {
            "name": "WAITING_FOR_DATA_COLLECTION"
          },
          "CANCELED": {
            "name": "CANCELED"
          },
          "COMPLETED_COMPLIANT": {
            "name": "COMPLETED_COMPLIANT"
          },
          "COMPLETED_NON_COMPLIANT": {
            "name": "COMPLETED_NON_COMPLIANT"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckToActionsMapping": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#MitigationActionNameList"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditCheckToReasonCodeFilter": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#ReasonForNonComplianceCodes"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditDetails": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckDetails"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditFinding": {
      "type": "structure",
      "members": {
        "checkName": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName",
          "traits": {
            "smithy.api#documentation": "<p>The audit check that generated this result.</p>"
          }
        },
        "findingId": {
          "target": "com.amazonaws.iot.sepio.types.audit#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for this set of audit findings. This identifier is used to apply\n      mitigation tasks to one or more sets of findings.</p>"
          }
        },
        "findingTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the result (finding) was discovered.</p>"
          }
        },
        "nonCompliantResource": {
          "target": "com.amazonaws.iot.sepio.types.audit#NonCompliantResource",
          "traits": {
            "smithy.api#documentation": "<p>The resource that was found to be noncompliant with the\n        audit check.</p>"
          }
        },
        "reasonForNonCompliance": {
          "target": "com.amazonaws.iot.sepio.types.audit#ReasonForNonCompliance",
          "traits": {
            "smithy.api#documentation": "<p>The reason the resource was noncompliant.</p>"
          }
        },
        "reasonForNonComplianceCode": {
          "target": "com.amazonaws.iot.sepio.types.audit#ReasonForNonComplianceCode",
          "traits": {
            "smithy.api#documentation": "<p>A code that indicates the reason that the resource was noncompliant.</p>"
          }
        },
        "relatedResources": {
          "target": "com.amazonaws.iot.sepio.types.audit#RelatedResources",
          "traits": {
            "smithy.api#documentation": "<p>The list of related resources.</p>"
          }
        },
        "severity": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditFindingSeverity",
          "traits": {
            "smithy.api#documentation": "<p>The severity of the result (finding).</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the audit that generated this result (finding).</p>"
          }
        },
        "taskStartTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the audit started.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The findings (results) of the audit.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditFindingSeverity": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CRITICAL": {
            "name": "CRITICAL"
          },
          "HIGH": {
            "name": "HIGH"
          },
          "MEDIUM": {
            "name": "MEDIUM"
          },
          "LOW": {
            "name": "LOW"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditFindings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditFinding"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditFrequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DAILY": {
            "name": "DAILY"
          },
          "WEEKLY": {
            "name": "WEEKLY"
          },
          "BIWEEKLY": {
            "name": "BIWEEKLY"
          },
          "MONTHLY": {
            "name": "MONTHLY"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionExecutionMetadata": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "com.amazonaws.iot.sepio.types#MitigationActionId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the mitigation action being applied by the task.</p>"
          }
        },
        "actionName": {
          "target": "com.amazonaws.iot.sepio.types#MitigationActionName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the mitigation action being applied by the task.</p>"
          }
        },
        "endTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the task was completed or canceled. Blank if the task is still running.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.iot.sepio.types.audit#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>If an error occurred, the code that indicates which type of error occurred.</p>"
          }
        },
        "findingId": {
          "target": "com.amazonaws.iot.sepio.types.audit#FindingId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the findings to which the task and associated mitigation action are applied.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iot.sepio.types#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If an error occurred, a message that describes the error.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the task was started.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the task being executed.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the task that applies the mitigation action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returned by ListAuditMitigationActionsTask, this object contains information that describes a mitigation action that has been started.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionExecutionMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionExecutionMetadata"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "CANCELED": {
            "name": "CANCELED"
          },
          "SKIPPED": {
            "name": "SKIPPED"
          },
          "PENDING": {
            "name": "PENDING"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_-]+"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskMetadata": {
      "type": "structure",
      "members": {
        "startTime": {
          "target": "com.amazonaws.iot.sepio.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the audit mitigation actions task was started.</p>"
          }
        },
        "taskId": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the task.</p>"
          }
        },
        "taskStatus": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the audit mitigation actions task.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an audit mitigation actions task that is returned by <code>ListAuditMitigationActionsTasks</code>.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskMetadata"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskStatistics": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckName"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#TaskStatisticsForAuditCheck"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "CANCELED": {
            "name": "CANCELED"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditMitigationActionsTaskTarget": {
      "type": "structure",
      "members": {
        "auditCheckToReasonCodeFilter": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditCheckToReasonCodeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a filter in the form of an audit check and set of reason codes that identify the findings from the audit to which the audit mitigation actions task apply.</p>"
          }
        },
        "auditTaskId": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskId",
          "traits": {
            "smithy.api#documentation": "<p>If the task will apply a mitigation action to findings from a specific audit, this value uniquely identifies the audit.</p>"
          }
        },
        "findingIds": {
          "target": "com.amazonaws.iot.sepio.types.audit#FindingIds",
          "traits": {
            "smithy.api#documentation": "<p>If the task will apply a mitigation action to one or more listed findings, this value uniquely identifies those findings.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used in MitigationActionParams, this information identifies the target findings to which the mitigation actions are applied. Only one entry appears.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditNotificationTarget": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.iot.sepio.types.audit#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>True if notifications to the target are enabled.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iot.common.types#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants permission to send notifications to the target.</p>"
          }
        },
        "targetArn": {
          "target": "com.amazonaws.iot.sepio.types.audit#TargetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the target (SNS topic) to which audit notifications are sent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the targets to which audit notifications are sent.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditNotificationTargetConfigurations": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditNotificationType"
      },
      "value": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditNotificationTarget"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditNotificationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "SNS": {
            "name": "SNS"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditTaskId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 40
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-]+"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditTaskMetadata": {
      "type": "structure",
      "members": {
        "taskId": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of this audit.</p>"
          }
        },
        "taskStatus": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of this audit. One of \"IN_PROGRESS\", \"COMPLETED\",\n        \"FAILED\", or \"CANCELED\".</p>"
          }
        },
        "taskType": {
          "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskType",
          "traits": {
            "smithy.api#documentation": "<p>The type of this audit. One of \"ON_DEMAND_AUDIT_TASK\" or \"SCHEDULED_AUDIT_TASK\".</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The audits that were performed.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditTaskMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.audit#AuditTaskMetadata"
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditTaskStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "COMPLETED": {
            "name": "COMPLETED"
          },
          "FAILED": {
            "name": "FAILED"
          },
          "CANCELED": {
            "name": "CANCELED"
          }
        }
      }
    },
    "com.amazonaws.iot.sepio.types.audit#AuditTaskType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ON_DEMAND_AUDIT_TASK": {
            "name": "ON_DEMAND_AUDIT_TASK"
          },
          "SCHEDULED_AUDIT_TASK": {
            "name": "SCHEDULED_AUDIT_TASK"
          }
        }
      }
    },
    "com.amazonaws.iot.identity#AuthDecision": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ALLOWED": {
            "name": "ALLOWED"
          },
          "EXPLICIT_DENY": {
            "name": "EXPLICIT_DENY"
          },
          "IMPLICIT_DENY": {
            "name": "IMPLICIT_DENY"
          }
        }
      }
    },
    "com.amazonaws.iot.identity#AuthInfo": {
      "type": "structure",
      "members": {
        "actionType": {
          "target": "com.amazonaws.iot.identity#ActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of action for which the principal is being authorized.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.iot.identity#Resources",
          "traits": {
            "smithy.api#documentation": "<p>The resources for which the principal is being authorized to perform the specified\n         action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of authorization information.</p>"
      }
    },
    "com.amazonaws.iot.identity#AuthInfos": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.identity#AuthInfo"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.iot.identity#AuthResult": {
      "type": "structure",
      "members": {
        "allowed": {
          "target": "com.amazonaws.iot.identity#Allowed",
          "traits": {
            "smithy.api#documentation": "<p>The policies and statements that allowed the specified action.</p>"
          }
        },
        "authDecision": {
          "target": "com.amazonaws.iot.identity#AuthDecision",
          "traits": {
            "smithy.api#documentation": "<p>The final authorization decision of this scenario. Multiple statements are taken into\n         account when determining the authorization decision. An explicit deny statement can\n         override multiple allow statements.</p>"
          }
        },
        "authInfo": {
          "target": "com.amazonaws.iot.identity#AuthInfo",
          "traits": {
            "smithy.api#documentation": "<p>Authorization information.</p>"
          }
        },
        "denied": {
          "target": "com.amazonaws.iot.identity#Denied",
          "traits": {
            "smithy.api#documentation": "<p>The policies and statements that denied the specified action.</p>"
          }
        },
        "missingContextValues": {
          "target": "com.amazonaws.iot.identity#MissingContextValues",
          "traits": {
            "smithy.api#documentation": "<p>Contains any missing context values found while evaluating policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorizer result.</p>"
      }
    },
    "com.amazonaws.iot.identity#AuthResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.identity#AuthResult"
      }
    },
    "com.amazonaws.iot.identity#AuthorizerArn": {
      "type": "string"
    },
    "com.amazonaws.iot.identity#AuthorizerConfig": {
      "type": "structure",
      "members": {
        "allowAuthorizerOverride": {
          "target": "com.amazonaws.iot.identity#AllowAuthorizerOverride",
          "traits": {
            "smithy.api#box": true,
            "smithy.api#documentation": "<p>A Boolean that specifies whether the domain configuration's authorization service can be overridden.</p>"
          }
        },
        "defaultAuthorizerName": {
          "target": "com.amazonaws.iot.identity#AuthorizerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the authorization service for a domain configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that specifies the authorization service for a domain.</p>"
      }
    },
    "com.amazonaws.iot.identity#AuthorizerDescription": {
      "type": "structure",
      "members": {
        "authorizerArn": {
          "target": "com.amazonaws.iot.identity#AuthorizerArn",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer ARN.</p>"
          }
        },
        "authorizerFunctionArn": {
          "target": "com.amazonaws.iot.identity#AuthorizerFunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer's Lambda function ARN.</p>"
          }
        },
        "authorizerName": {
          "target": "com.amazonaws.iot.identity#AuthorizerName",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer name.</p>"
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iot.identity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX timestamp of when the authorizer was created.</p>"
          }
        },
        "lastModifiedDate": {
          "target": "com.amazonaws.iot.identity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX timestamp of when the authorizer was last updated.</p>"
          }
        },
        "signingDisabled": {
          "target": "com.amazonaws.iot.identity#BooleanKey",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether AWS IoT validates the token signature in an authorization request.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iot.identity#AuthorizerStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the authorizer.</p>"
          }
        },
        "tokenKeyName": {
          "target": "com.amazonaws.iot.identity#TokenKeyName",
          "traits": {
            "smithy.api#documentation": "<p>The key used to extract the token from the HTTP headers.</p>"
          }
        },
        "tokenSigningPublicKeys": {
          "target": "com.amazonaws.iot.identity#PublicKeyMap",
          "traits": {
            "smithy.api#documentation": "<p>The public keys used to validate the token signature returned by your custom\n         authentication service.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorizer description.</p>"
      }
    },
    "com.amazonaws.iot.identity#AuthorizerFunctionArn": {
      "type": "string"
    },
    "com.amazonaws.iot.identity#AuthorizerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\w=,@-]+"
      }
    },
    "com.amazonaws.iot.identity#AuthorizerStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "INACTIVE": {
            "name": "INACTIVE"
          }
        }
      }
    },
    "com.amazonaws.iot.identity#AuthorizerSummary": {
      "type": "structure",
      "members": {
        "authorizerArn": {
          "target": "com.amazonaws.iot.identity#AuthorizerArn",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer ARN.</p>"
          }
        },
        "authorizerName": {
          "target": "com.amazonaws.iot.identity#AuthorizerName",
          "traits": {
            "smithy.api#documentation": "<p>The authorizer name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The authorizer summary.</p>"
      }
    },
    "com.amazonaws.iot.identity#Authorizers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.identity#AuthorizerSummary"
      }
    },
    "com.amazonaws.iot.identity#AutoRegistrationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "ENABLE": {
            "name": "ENABLE"
          },
          "DISABLE": {
            "name": "DISABLE"
          }
        }
      }
    },
    "com.amazonaws.iot.indexing#Average": {
      "type": "double"
    },
    "com.amazonaws.iot.common.types#AwsAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "[0-9]+"
      }
    },
    "com.amazonaws.iot.goldeneye.beta#AwsArn": {
      "type": "string"
    },
    "com.amazonaws.iot.otamanager#AwsIotJobArn": {
      "type": "string"
    },
    "com.amazonaws.iot.otamanager#AwsIotJobId": {
      "type": "string"
    },
    "com.amazonaws.iot.goldeneye.beta#AwsIotSqlVersion": {
      "type": "string"
    },
    "com.amazonaws.iot.otamanager#AwsJobExecutionsRolloutConfig": {
      "type": "structure",
      "members": {
        "maximumPerMinute": {
          "target": "com.amazonaws.iot.otamanager#MaximumPerMinute",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of OTA update job executions started per minute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for the rollout of OTA updates.</p>"
      }
    },
    "com.amazonaws.iot.otamanager#AwsJobPresignedUrlConfig": {
      "type": "structure",
      "members": {
        "expiresInSec": {
          "target": "com.amazonaws.iot.otamanager#ExpiresInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>How long (in seconds) pre-signed URLs are valid. Valid values are 60 - 3600, the default value is 1800\n            seconds. Pre-signed URLs are generated when a request for the job document is received.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for pre-signed URLs. Valid when <code>protocols</code>\n             contains HTTP.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#Behavior": {
      "type": "structure",
      "members": {
        "criteria": {
          "target": "com.amazonaws.iot.sepio.types.detection#BehaviorCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The criteria that determine if a device is behaving normally in regard to\n          the <code>metric</code>.</p>"
          }
        },
        "metric": {
          "target": "com.amazonaws.iot.sepio.types.detection#BehaviorMetric",
          "traits": {
            "smithy.api#documentation": "<p>What is measured by the behavior.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iot.sepio.types.detection#BehaviorName",
          "traits": {
            "smithy.api#documentation": "<p>The name you have given to the behavior.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A Device Defender security profile behavior.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#BehaviorCriteria": {
      "type": "structure",
      "members": {
        "comparisonOperator": {
          "target": "com.amazonaws.iot.sepio.types.detection#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator that relates the thing measured (<code>metric</code>) to the criteria \n          (containing a <code>value</code> or <code>statisticalThreshold</code>).</p>"
          }
        },
        "consecutiveDatapointsToAlarm": {
          "target": "com.amazonaws.iot.sepio.types.detection#ConsecutiveDatapointsToAlarm",
          "traits": {
            "smithy.api#documentation": "<p>If a device is in violation of the behavior for the specified number of consecutive \n          datapoints, an alarm occurs. If not specified, the default is 1.</p>"
          }
        },
        "consecutiveDatapointsToClear": {
          "target": "com.amazonaws.iot.sepio.types.detection#ConsecutiveDatapointsToClear",
          "traits": {
            "smithy.api#documentation": "<p>If an alarm has occurred and the offending device is no longer in violation of the behavior \n          for the specified number of consecutive datapoints, the alarm is cleared. If not specified,\n          the default is 1.</p>"
          }
        },
        "durationSeconds": {
          "target": "com.amazonaws.iot.sepio.types.detection#DurationSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Use this to specify the time duration over which the behavior is evaluated,\n          for those criteria which have a time dimension (for example, <code>NUM_MESSAGES_SENT</code>).\n          For a <code>statisticalThreshhold</code> metric comparison, measurements from all devices are \n          accumulated over this time duration before being used to calculate percentiles, and later,\n          measurements from an individual device are also accumulated over this time duration before being\n          given a percentile rank.</p>"
          }
        },
        "statisticalThreshold": {
          "target": "com.amazonaws.iot.sepio.types.detection#StatisticalThreshold",
          "traits": {
            "smithy.api#documentation": "<p>A statistical ranking (percentile) which indicates a threshold value by which a behavior \n          is determined to be in compliance or in violation of the behavior.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.iot.sepio.types.detection#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value to be compared with the <code>metric</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The criteria by which the behavior is determined to be normal.</p>"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#BehaviorMetric": {
      "type": "string"
    },
    "com.amazonaws.iot.sepio.types.detection#BehaviorName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9:_-]+"
      }
    },
    "com.amazonaws.iot.sepio.types.detection#Behaviors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.sepio.types.detection#Behavior"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.iot.common.types#BillingGroupArn": {
      "type": "string"
    },
    "com.amazonaws.iot.registry.common#BillingGroupDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2028
        },
        "smithy.api#pattern": "[\\p{Graph}\\x20]*"
      }
    },
    "com.amazonaws.iot.common.types#BillingGroupId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9\\-]+"
      }
    },
    "com.amazonaws.iot.registry.common#BillingGroupMetadata": {
      "type": "structure",
      "members": {
        "creationDate": {
          "target": "com.amazonaws.iot.common.types#CreationDate",
          "traits": {
            "smithy.api#documentation": "<p>The date the billing group was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Additional information about the billing group.</p>"
      }
    },
    "com.amazonaws.iot.common.types#BillingGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9:_-]+"
      }
    },
    "com.amazonaws.iot.registry.common#BillingGroupNameAndArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.registry.common#GroupNameAndArn"
      }
    },
    "com.amazonaws.iot.registry.common#BillingGroupProperties": {
      "type": "structure",
      "members": {
        "billingGroupDescription": {
          "target": "com.amazonaws.iot.registry.common#BillingGroupDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the billing group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The properties of a billing group.</p>"
      }
    },
    "com.amazonaws.iot.indexing#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.iot.registry.common#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.iot.identity#BooleanKey": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.iot.goldeneye.beta#BucketName": {
      "type": "string"
    },
    "com.amazonaws.iot.identity#CACertificate": {
      "type": "structure",
      "members": {
        "certificateArn": {
          "target": "com.amazonaws.iot.common.types#CertificateArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CA certificate.</p>"
          }
        },
        "certificateId": {
          "target": "com.amazonaws.iot.common.types#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the CA certificate.</p>"
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iot.identity#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date the CA certificate was created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iot.identity#CACertificateStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the CA certificate.</p>\n         <p>The status value REGISTER_INACTIVE is deprecated and should not be used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A CA certificate.</p>"
      }
    },
    "com.amazonaws.iot.identity#CACertificateDescription": {
      "type": "structure",
      "members": {
        "autoRegistrationStatus": {
          "target": "com.amazonaws.iot.identity#AutoRegistrationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Whether the CA certificate configured for auto registration of device certificates.\n         Valid values are \"ENABLE\" and \"DISABLE\"</p>"
          }
[...]
