{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot#AWSIotService": {
      "type": "service",
      "version": "2015-05-28",
      "operations": [
        {
          "target": "com.amazonaws.iot#AcceptCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot#AddThingToBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#AddThingToThingGroup"
        },
        {
          "target": "com.amazonaws.iot#AssociateTargetsWithJob"
        },
        {
          "target": "com.amazonaws.iot#AttachPolicy"
        },
        {
          "target": "com.amazonaws.iot#AttachPrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iot#AttachSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#AttachThingPrincipal"
        },
        {
          "target": "com.amazonaws.iot#CancelAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#CancelAuditTask"
        },
        {
          "target": "com.amazonaws.iot#CancelCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot#CancelDetectMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#CancelJob"
        },
        {
          "target": "com.amazonaws.iot#CancelJobExecution"
        },
        {
          "target": "com.amazonaws.iot#ClearDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#ConfirmTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot#CreateAuditSuppression"
        },
        {
          "target": "com.amazonaws.iot#CreateAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#CreateBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#CreateCertificateFromCsr"
        },
        {
          "target": "com.amazonaws.iot#CreateCustomMetric"
        },
        {
          "target": "com.amazonaws.iot#CreateDimension"
        },
        {
          "target": "com.amazonaws.iot#CreateDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot#CreateDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot#CreateFleetMetric"
        },
        {
          "target": "com.amazonaws.iot#CreateJob"
        },
        {
          "target": "com.amazonaws.iot#CreateJobTemplate"
        },
        {
          "target": "com.amazonaws.iot#CreateKeysAndCertificate"
        },
        {
          "target": "com.amazonaws.iot#CreateMitigationAction"
        },
        {
          "target": "com.amazonaws.iot#CreateOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot#CreatePolicy"
        },
        {
          "target": "com.amazonaws.iot#CreatePolicyVersion"
        },
        {
          "target": "com.amazonaws.iot#CreateProvisioningClaim"
        },
        {
          "target": "com.amazonaws.iot#CreateProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot#CreateProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot#CreateRoleAlias"
        },
        {
          "target": "com.amazonaws.iot#CreateScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot#CreateSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#CreateStream"
        },
        {
          "target": "com.amazonaws.iot#CreateThing"
        },
        {
          "target": "com.amazonaws.iot#CreateThingGroup"
        },
        {
          "target": "com.amazonaws.iot#CreateThingType"
        },
        {
          "target": "com.amazonaws.iot#CreateTopicRule"
        },
        {
          "target": "com.amazonaws.iot#CreateTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot#DeleteAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot#DeleteAuditSuppression"
        },
        {
          "target": "com.amazonaws.iot#DeleteAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#DeleteBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#DeleteCACertificate"
        },
        {
          "target": "com.amazonaws.iot#DeleteCertificate"
        },
        {
          "target": "com.amazonaws.iot#DeleteCustomMetric"
        },
        {
          "target": "com.amazonaws.iot#DeleteDimension"
        },
        {
          "target": "com.amazonaws.iot#DeleteDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot#DeleteDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot#DeleteFleetMetric"
        },
        {
          "target": "com.amazonaws.iot#DeleteJob"
        },
        {
          "target": "com.amazonaws.iot#DeleteJobExecution"
        },
        {
          "target": "com.amazonaws.iot#DeleteJobTemplate"
        },
        {
          "target": "com.amazonaws.iot#DeleteMitigationAction"
        },
        {
          "target": "com.amazonaws.iot#DeleteOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot#DeletePolicy"
        },
        {
          "target": "com.amazonaws.iot#DeletePolicyVersion"
        },
        {
          "target": "com.amazonaws.iot#DeleteProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot#DeleteProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot#DeleteRegistrationCode"
        },
        {
          "target": "com.amazonaws.iot#DeleteRoleAlias"
        },
        {
          "target": "com.amazonaws.iot#DeleteScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot#DeleteSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#DeleteStream"
        },
        {
          "target": "com.amazonaws.iot#DeleteThing"
        },
        {
          "target": "com.amazonaws.iot#DeleteThingGroup"
        },
        {
          "target": "com.amazonaws.iot#DeleteThingType"
        },
        {
          "target": "com.amazonaws.iot#DeleteTopicRule"
        },
        {
          "target": "com.amazonaws.iot#DeleteTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot#DeleteV2LoggingLevel"
        },
        {
          "target": "com.amazonaws.iot#DeprecateThingType"
        },
        {
          "target": "com.amazonaws.iot#DescribeAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot#DescribeAuditFinding"
        },
        {
          "target": "com.amazonaws.iot#DescribeAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#DescribeAuditSuppression"
        },
        {
          "target": "com.amazonaws.iot#DescribeAuditTask"
        },
        {
          "target": "com.amazonaws.iot#DescribeAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#DescribeBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#DescribeCACertificate"
        },
        {
          "target": "com.amazonaws.iot#DescribeCertificate"
        },
        {
          "target": "com.amazonaws.iot#DescribeCustomMetric"
        },
        {
          "target": "com.amazonaws.iot#DescribeDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#DescribeDetectMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#DescribeDimension"
        },
        {
          "target": "com.amazonaws.iot#DescribeDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot#DescribeEndpoint"
        },
        {
          "target": "com.amazonaws.iot#DescribeEventConfigurations"
        },
        {
          "target": "com.amazonaws.iot#DescribeFleetMetric"
        },
        {
          "target": "com.amazonaws.iot#DescribeIndex"
        },
        {
          "target": "com.amazonaws.iot#DescribeJob"
        },
        {
          "target": "com.amazonaws.iot#DescribeJobExecution"
        },
        {
          "target": "com.amazonaws.iot#DescribeJobTemplate"
        },
        {
          "target": "com.amazonaws.iot#DescribeManagedJobTemplate"
        },
        {
          "target": "com.amazonaws.iot#DescribeMitigationAction"
        },
        {
          "target": "com.amazonaws.iot#DescribeProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot#DescribeProvisioningTemplateVersion"
        },
        {
          "target": "com.amazonaws.iot#DescribeRoleAlias"
        },
        {
          "target": "com.amazonaws.iot#DescribeScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot#DescribeSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#DescribeStream"
        },
        {
          "target": "com.amazonaws.iot#DescribeThing"
        },
        {
          "target": "com.amazonaws.iot#DescribeThingGroup"
        },
        {
          "target": "com.amazonaws.iot#DescribeThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot#DescribeThingType"
        },
        {
          "target": "com.amazonaws.iot#DetachPolicy"
        },
        {
          "target": "com.amazonaws.iot#DetachPrincipalPolicy"
        },
        {
          "target": "com.amazonaws.iot#DetachSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#DetachThingPrincipal"
        },
        {
          "target": "com.amazonaws.iot#DisableTopicRule"
        },
        {
          "target": "com.amazonaws.iot#EnableTopicRule"
        },
        {
          "target": "com.amazonaws.iot#GetBehaviorModelTrainingSummaries"
        },
        {
          "target": "com.amazonaws.iot#GetBucketsAggregation"
        },
        {
          "target": "com.amazonaws.iot#GetCardinality"
        },
        {
          "target": "com.amazonaws.iot#GetEffectivePolicies"
        },
        {
          "target": "com.amazonaws.iot#GetIndexingConfiguration"
        },
        {
          "target": "com.amazonaws.iot#GetJobDocument"
        },
        {
          "target": "com.amazonaws.iot#GetLoggingOptions"
        },
        {
          "target": "com.amazonaws.iot#GetOTAUpdate"
        },
        {
          "target": "com.amazonaws.iot#GetPercentiles"
        },
        {
          "target": "com.amazonaws.iot#GetPolicy"
        },
        {
          "target": "com.amazonaws.iot#GetPolicyVersion"
        },
        {
          "target": "com.amazonaws.iot#GetRegistrationCode"
        },
        {
          "target": "com.amazonaws.iot#GetStatistics"
        },
        {
          "target": "com.amazonaws.iot#GetTopicRule"
        },
        {
          "target": "com.amazonaws.iot#GetTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot#GetV2LoggingOptions"
        },
        {
          "target": "com.amazonaws.iot#ListActiveViolations"
        },
        {
          "target": "com.amazonaws.iot#ListAttachedPolicies"
        },
        {
          "target": "com.amazonaws.iot#ListAuditFindings"
        },
        {
          "target": "com.amazonaws.iot#ListAuditMitigationActionsExecutions"
        },
        {
          "target": "com.amazonaws.iot#ListAuditMitigationActionsTasks"
        },
        {
          "target": "com.amazonaws.iot#ListAuditSuppressions"
        },
        {
          "target": "com.amazonaws.iot#ListAuditTasks"
        },
        {
          "target": "com.amazonaws.iot#ListAuthorizers"
        },
        {
          "target": "com.amazonaws.iot#ListBillingGroups"
        },
        {
          "target": "com.amazonaws.iot#ListCACertificates"
        },
        {
          "target": "com.amazonaws.iot#ListCertificates"
        },
        {
          "target": "com.amazonaws.iot#ListCertificatesByCA"
        },
        {
          "target": "com.amazonaws.iot#ListCustomMetrics"
        },
        {
          "target": "com.amazonaws.iot#ListDetectMitigationActionsExecutions"
        },
        {
          "target": "com.amazonaws.iot#ListDetectMitigationActionsTasks"
        },
        {
          "target": "com.amazonaws.iot#ListDimensions"
        },
        {
          "target": "com.amazonaws.iot#ListDomainConfigurations"
        },
        {
          "target": "com.amazonaws.iot#ListFleetMetrics"
        },
        {
          "target": "com.amazonaws.iot#ListIndices"
        },
        {
          "target": "com.amazonaws.iot#ListJobExecutionsForJob"
        },
        {
          "target": "com.amazonaws.iot#ListJobExecutionsForThing"
        },
        {
          "target": "com.amazonaws.iot#ListJobs"
        },
        {
          "target": "com.amazonaws.iot#ListJobTemplates"
        },
        {
          "target": "com.amazonaws.iot#ListManagedJobTemplates"
        },
        {
          "target": "com.amazonaws.iot#ListMetricValues"
        },
        {
          "target": "com.amazonaws.iot#ListMitigationActions"
        },
        {
          "target": "com.amazonaws.iot#ListOTAUpdates"
        },
        {
          "target": "com.amazonaws.iot#ListOutgoingCertificates"
        },
        {
          "target": "com.amazonaws.iot#ListPolicies"
        },
        {
          "target": "com.amazonaws.iot#ListPolicyPrincipals"
        },
        {
          "target": "com.amazonaws.iot#ListPolicyVersions"
        },
        {
          "target": "com.amazonaws.iot#ListPrincipalPolicies"
        },
        {
          "target": "com.amazonaws.iot#ListPrincipalThings"
        },
        {
          "target": "com.amazonaws.iot#ListProvisioningTemplates"
        },
        {
          "target": "com.amazonaws.iot#ListProvisioningTemplateVersions"
        },
        {
          "target": "com.amazonaws.iot#ListRelatedResourcesForAuditFinding"
        },
        {
          "target": "com.amazonaws.iot#ListRoleAliases"
        },
        {
          "target": "com.amazonaws.iot#ListScheduledAudits"
        },
        {
          "target": "com.amazonaws.iot#ListSecurityProfiles"
        },
        {
          "target": "com.amazonaws.iot#ListSecurityProfilesForTarget"
        },
        {
          "target": "com.amazonaws.iot#ListStreams"
        },
        {
          "target": "com.amazonaws.iot#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iot#ListTargetsForPolicy"
        },
        {
          "target": "com.amazonaws.iot#ListTargetsForSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#ListThingGroups"
        },
        {
          "target": "com.amazonaws.iot#ListThingGroupsForThing"
        },
        {
          "target": "com.amazonaws.iot#ListThingPrincipals"
        },
        {
          "target": "com.amazonaws.iot#ListThingRegistrationTaskReports"
        },
        {
          "target": "com.amazonaws.iot#ListThingRegistrationTasks"
        },
        {
          "target": "com.amazonaws.iot#ListThings"
        },
        {
          "target": "com.amazonaws.iot#ListThingsInBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#ListThingsInThingGroup"
        },
        {
          "target": "com.amazonaws.iot#ListThingTypes"
        },
        {
          "target": "com.amazonaws.iot#ListTopicRuleDestinations"
        },
        {
          "target": "com.amazonaws.iot#ListTopicRules"
        },
        {
          "target": "com.amazonaws.iot#ListV2LoggingLevels"
        },
        {
          "target": "com.amazonaws.iot#ListViolationEvents"
        },
        {
          "target": "com.amazonaws.iot#PutVerificationStateOnViolation"
        },
        {
          "target": "com.amazonaws.iot#RegisterCACertificate"
        },
        {
          "target": "com.amazonaws.iot#RegisterCertificate"
        },
        {
          "target": "com.amazonaws.iot#RegisterCertificateWithoutCA"
        },
        {
          "target": "com.amazonaws.iot#RegisterThing"
        },
        {
          "target": "com.amazonaws.iot#RejectCertificateTransfer"
        },
        {
          "target": "com.amazonaws.iot#RemoveThingFromBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#RemoveThingFromThingGroup"
        },
        {
          "target": "com.amazonaws.iot#ReplaceTopicRule"
        },
        {
          "target": "com.amazonaws.iot#SearchIndex"
        },
        {
          "target": "com.amazonaws.iot#SetDefaultAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#SetDefaultPolicyVersion"
        },
        {
          "target": "com.amazonaws.iot#SetLoggingOptions"
        },
        {
          "target": "com.amazonaws.iot#SetV2LoggingLevel"
        },
        {
          "target": "com.amazonaws.iot#SetV2LoggingOptions"
        },
        {
          "target": "com.amazonaws.iot#StartAuditMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#StartDetectMitigationActionsTask"
        },
        {
          "target": "com.amazonaws.iot#StartOnDemandAuditTask"
        },
        {
          "target": "com.amazonaws.iot#StartThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot#StopThingRegistrationTask"
        },
        {
          "target": "com.amazonaws.iot#TagResource"
        },
        {
          "target": "com.amazonaws.iot#TestAuthorization"
        },
        {
          "target": "com.amazonaws.iot#TestInvokeAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#TransferCertificate"
        },
        {
          "target": "com.amazonaws.iot#UntagResource"
        },
        {
          "target": "com.amazonaws.iot#UpdateAccountAuditConfiguration"
        },
        {
          "target": "com.amazonaws.iot#UpdateAuditSuppression"
        },
        {
          "target": "com.amazonaws.iot#UpdateAuthorizer"
        },
        {
          "target": "com.amazonaws.iot#UpdateBillingGroup"
        },
        {
          "target": "com.amazonaws.iot#UpdateCACertificate"
        },
        {
          "target": "com.amazonaws.iot#UpdateCertificate"
        },
        {
          "target": "com.amazonaws.iot#UpdateCustomMetric"
        },
        {
          "target": "com.amazonaws.iot#UpdateDimension"
        },
        {
          "target": "com.amazonaws.iot#UpdateDomainConfiguration"
        },
        {
          "target": "com.amazonaws.iot#UpdateDynamicThingGroup"
        },
        {
          "target": "com.amazonaws.iot#UpdateEventConfigurations"
        },
        {
          "target": "com.amazonaws.iot#UpdateFleetMetric"
        },
        {
          "target": "com.amazonaws.iot#UpdateIndexingConfiguration"
        },
        {
          "target": "com.amazonaws.iot#UpdateJob"
        },
        {
          "target": "com.amazonaws.iot#UpdateMitigationAction"
        },
        {
          "target": "com.amazonaws.iot#UpdateProvisioningTemplate"
        },
        {
          "target": "com.amazonaws.iot#UpdateRoleAlias"
        },
        {
          "target": "com.amazonaws.iot#UpdateScheduledAudit"
        },
        {
          "target": "com.amazonaws.iot#UpdateSecurityProfile"
        },
        {
          "target": "com.amazonaws.iot#UpdateStream"
        },
        {
          "target": "com.amazonaws.iot#UpdateThing"
        },
        {
          "target": "com.amazonaws.iot#UpdateThingGroup"
        },
        {
          "target": "com.amazonaws.iot#UpdateThingGroupsForThing"
        },
        {
          "target": "com.amazonaws.iot#UpdateTopicRuleDestination"
        },
        {
          "target": "com.amazonaws.iot#ValidateSecurityProfileBehaviors"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoT",
          "arnNamespace": "iot",
          "cloudFormationName": "IoT",
          "cloudTrailEventSource": "iot.amazonaws.com",
          "endpointPrefix": "iot"
        },
        "aws.auth#sigv4": {
          "name": "execute-api"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>IoT</fullname>\n        <p>IoT provides secure, bi-directional communication between Internet-connected\n            devices (such as sensors, actuators, embedded devices, or smart appliances) and the Amazon Web Services\n            cloud. You can discover your custom IoT-Data endpoint to communicate with, configure\n            rules for data processing and integration with other services, organize resources\n            associated with each device (Registry), configure logging, and create and manage\n            policies and credentials to authenticate devices.</p>\n        <p>The service endpoints that expose this API are listed in\n            <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html\">Amazon Web Services IoT Core Endpoints and Quotas</a>.\n            You must use the endpoint for the region that has the resources you want to access.</p>\n        <p>The service name used by <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Amazon Web Services\n                Signature Version 4</a> to sign the request is:\n            <i>execute-api</i>.</p>\n        <p>For more information about how IoT works, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer\n            Guide</a>.</p>\n        <p>For information about how to use the credentials provider for IoT, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html\">Authorizing Direct Calls to Amazon Web Services Services</a>.</p>",
        "smithy.api#title": "AWS IoT",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iot-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iot-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iot.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://iot.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "me-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "me-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.me-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "me-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "me-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ca-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ca-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ca-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ca-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-central-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-3",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-3",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-3",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-3",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "eu-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-northeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "me-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "me-south-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.me-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "me-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "me-south-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "sa-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "sa-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "sa-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "sa-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-north-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-north-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "ap-southeast-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-iso-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-iso-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-2",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseDualStack": true,
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-isob-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iot.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-isob-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "Region": "us-east-1",
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "Region": "us-east-1",
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iot#AbortAction": {
      "type": "enum",
      "members": {
        "CANCEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCEL"
          }
        }
      }
    },
    "com.amazonaws.iot#AbortConfig": {
      "type": "structure",
      "members": {
        "criteriaList": {
          "target": "com.amazonaws.iot#AbortCriteriaList",
          "traits": {
            "smithy.api#documentation": "<p>The list of criteria that determine when and how to abort the job.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The criteria that determine when and how a job abort takes place.</p>"
      }
    },
    "com.amazonaws.iot#AbortCriteria": {
      "type": "structure",
      "members": {
        "failureType": {
          "target": "com.amazonaws.iot#JobExecutionFailureType",
          "traits": {
            "smithy.api#documentation": "<p>The type of job execution failures that can initiate a job abort.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.iot#AbortAction",
          "traits": {
            "smithy.api#documentation": "<p>The type of job action to take to initiate the job abort.</p>",
            "smithy.api#required": {}
          }
        },
        "thresholdPercentage": {
          "target": "com.amazonaws.iot#AbortThresholdPercentage",
          "traits": {
            "smithy.api#documentation": "<p>The minimum percentage of job execution failures that must occur to initiate the job abort.</p>\n        <p>Amazon Web Services IoT Core supports up to two digits after the decimal (for example, 10.9 and 10.99, but not 10.999).</p>",
            "smithy.api#required": {}
          }
        },
        "minNumberOfExecutedThings": {
          "target": "com.amazonaws.iot#MinimumNumberOfExecutedThings",
          "traits": {
            "smithy.api#documentation": "<p>The minimum number of things which must receive job execution notifications before the job \n            can be aborted.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The criteria that determine when and how a job abort takes place.</p>"
      }
    },
    "com.amazonaws.iot#AbortCriteriaList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot#AbortCriteria"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iot#AbortThresholdPercentage": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "max": 100
        }
      }
    },
    "com.amazonaws.iot#AcceptCertificateTransfer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot#AcceptCertificateTransferRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iot#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iot#TransferAlreadyCompletedException"
        },
        {
          "target": "com.amazonaws.iot#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts a pending certificate transfer. The default state of the certificate is\n         INACTIVE.</p>\n         <p>To check for pending certificate transfers, call <a>ListCertificates</a>\n         to enumerate your certificates.</p>\n         <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">AcceptCertificateTransfer</a> action.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/accept-certificate-transfer/{certificateId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot#AcceptCertificateTransferRequest": {
      "type": "structure",
      "members": {
        "certificateId": {
          "target": "com.amazonaws.iot#CertificateId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the certificate. (The last part of the certificate ARN contains the\n         certificate ID.)</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "setAsActive": {
          "target": "com.amazonaws.iot#SetAsActive",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Specifies whether the certificate is active.</p>",
            "smithy.api#httpQuery": "setAsActive"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The input for the AcceptCertificateTransfer operation.</p>"
      }
    },
    "com.amazonaws.iot#AcmCertificateArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov|-iso-b|-iso)?:acm:[a-z]{2}-(gov-|iso-|isob-)?[a-z]{4,9}-\\d{1}:\\d{12}:certificate/[a-zA-Z0-9/-]+$"
      }
    },
    "com.amazonaws.iot#Action": {
      "type": "structure",
      "members": {
        "dynamoDB": {
          "target": "com.amazonaws.iot#DynamoDBAction",
          "traits": {
            "smithy.api#documentation": "<p>Write to a DynamoDB table.</p>"
          }
        },
        "dynamoDBv2": {
          "target": "com.amazonaws.iot#DynamoDBv2Action",
          "traits": {
            "smithy.api#documentation": "<p>Write to a DynamoDB table. This is a new version of the DynamoDB action. It allows\n         you to write each attribute in an MQTT message payload into a separate DynamoDB\n         column.</p>"
          }
        },
        "lambda": {
          "target": "com.amazonaws.iot#LambdaAction",
          "traits": {
            "smithy.api#documentation": "<p>Invoke a Lambda function.</p>"
          }
        },
        "sns": {
          "target": "com.amazonaws.iot#SnsAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to an Amazon SNS topic.</p>"
          }
        },
        "sqs": {
          "target": "com.amazonaws.iot#SqsAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to an Amazon SQS queue.</p>"
          }
        },
        "kinesis": {
          "target": "com.amazonaws.iot#KinesisAction",
          "traits": {
            "smithy.api#documentation": "<p>Write data to an Amazon Kinesis stream.</p>"
          }
        },
        "republish": {
          "target": "com.amazonaws.iot#RepublishAction",
          "traits": {
            "smithy.api#documentation": "<p>Publish to another MQTT topic.</p>"
          }
        },
        "s3": {
          "target": "com.amazonaws.iot#S3Action",
          "traits": {
            "smithy.api#documentation": "<p>Write to an Amazon S3 bucket.</p>"
          }
        },
        "firehose": {
          "target": "com.amazonaws.iot#FirehoseAction",
          "traits": {
            "smithy.api#documentation": "<p>Write to an Amazon Kinesis Firehose stream.</p>"
          }
        },
        "cloudwatchMetric": {
          "target": "com.amazonaws.iot#CloudwatchMetricAction",
          "traits": {
            "smithy.api#documentation": "<p>Capture a CloudWatch metric.</p>"
          }
        },
        "cloudwatchAlarm": {
          "target": "com.amazonaws.iot#CloudwatchAlarmAction",
          "traits": {
            "smithy.api#documentation": "<p>Change the state of a CloudWatch alarm.</p>"
          }
        },
        "cloudwatchLogs": {
          "target": "com.amazonaws.iot#CloudwatchLogsAction",
          "traits": {
            "smithy.api#documentation": "<p>Send data to CloudWatch Logs.</p>"
          }
        },
        "elasticsearch": {
          "target": "com.amazonaws.iot#ElasticsearchAction",
          "traits": {
            "smithy.api#documentation": "<p>Write data to an Amazon OpenSearch Service domain.</p>   \n         <note>\n            <p>The <code>Elasticsearch</code> action can only be used by existing rule actions. \n            To create a new rule action or to update an existing rule action, use the\n            <code>OpenSearch</code> rule action instead. For more information, see \n            <a href=\"https://docs.aws.amazon.com/iot/latest/apireference/API_OpenSearchAction.html\">OpenSearchAction</a>.</p>\n         </note>"
          }
        },
        "salesforce": {
          "target": "com.amazonaws.iot#SalesforceAction",
          "traits": {
            "smithy.api#documentation": "<p>Send a message to a Salesforce IoT Cloud Input Stream.</p>"
          }
        },
        "iotAnalytics": {
          "target": "com.amazonaws.iot#IotAnalyticsAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends message data to an IoT Analytics channel.</p>"
          }
        },
        "iotEvents": {
          "target": "com.amazonaws.iot#IotEventsAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends an input to an IoT Events detector.</p>"
          }
        },
        "iotSiteWise": {
          "target": "com.amazonaws.iot#IotSiteWiseAction",
          "traits": {
            "smithy.api#documentation": "<p>Sends data from the MQTT message that triggered the rule to IoT SiteWise asset\n      properties.</p>"
          }
        },
        "stepFunctions": {
          "target": "com.amazonaws.iot#StepFunctionsAction",
          "traits": {
            "smithy.api#documentation": "<p>Starts execution of a Step Functions state machine.</p>"
          }
        },
        "timestream": {
          "target": "com.amazonaws.iot#TimestreamAction",
          "traits": {
            "smithy.api#documentation": "<p>The Timestream rule action writes attributes (measures) from an MQTT message\n         into an Amazon Timestream table. For more information, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/timestream-rule-action.html\">Timestream</a>\n            topic rule action documentation.</p>"
          }
        },
        "http": {
          "target": "com.amazonaws.iot#HttpAction",
          "traits": {
            "smithy.api#documentation": "<p>Send data to an HTTPS endpoint.</p>"
          }
        },
        "kafka": {
          "target": "com.amazonaws.iot#KafkaAction",
          "traits": {
            "smithy.api#documentation": "<p>Send messages to an Amazon Managed Streaming for Apache Kafka (Amazon MSK) or self-managed Apache Kafka cluster.</p>"
          }
        },
        "openSearch": {
          "target": "com.amazonaws.iot#OpenSearchAction",
          "traits": {
            "smithy.api#documentation": "<p>Write data to an Amazon OpenSearch Service domain.</p>"
          }
        },
        "location": {
          "target": "com.amazonaws.iot#LocationAction",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Location Service rule action sends device location updates from\n         an MQTT message to an Amazon Location tracker resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the actions associated with a rule.</p>"
      }
    },
    "com.amazonaws.iot#ActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot#Action"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.iot#ActionType": {
      "type": "enum",
      "members": {
        "PUBLISH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUBLISH"
          }
        },
        "SUBSCRIBE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBSCRIBE"
          }
        },
        "RECEIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RECEIVE"
          }
        },
        "CONNECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECT"
          }
        }
      }
    },
    "com.amazonaws.iot#ActiveViolation": {
      "type": "structure",
      "members": {
        "violationId": {
          "target": "com.amazonaws.iot#ViolationId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the active violation.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot#DeviceDefenderThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing responsible for the active violation.</p>"
          }
        },
        "securityProfileName": {
          "target": "com.amazonaws.iot#SecurityProfileName",
          "traits": {
            "smithy.api#documentation": "<p>The security profile with the behavior is in violation.</p>"
          }
        },
        "behavior": {
          "target": "com.amazonaws.iot#Behavior",
          "traits": {
            "smithy.api#documentation": "<p>The behavior that is being violated.</p>"
          }
        },
        "lastViolationValue": {
          "target": "com.amazonaws.iot#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the metric (the measurement) that caused the most recent violation.</p>"
          }
        },
        "violationEventAdditionalInfo": {
          "target": "com.amazonaws.iot#ViolationEventAdditionalInfo",
          "traits": {
            "smithy.api#documentation": "<p>\n            The details of a violation event.\n        </p>"
          }
        },
        "verificationState": {
          "target": "com.amazonaws.iot#VerificationState",
          "traits": {
            "smithy.api#documentation": "<p>The verification state of the violation (detect alarm).</p>"
          }
        },
        "verificationStateDescription": {
          "target": "com.amazonaws.iot#VerificationStateDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the verification state of the violation.</p>"
          }
        },
        "lastViolationTime": {
          "target": "com.amazonaws.iot#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the most recent violation occurred.</p>"
          }
        },
        "violationStartTime": {
          "target": "com.amazonaws.iot#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the violation started.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an active Device Defender security profile behavior violation.</p>"
      }
    },
    "com.amazonaws.iot#ActiveViolations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot#ActiveViolation"
      }
    },
    "com.amazonaws.iot#AddThingToBillingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot#AddThingToBillingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iot#AddThingToBillingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a thing to a billing group.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">AddThingToBillingGroup</a> action.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/billing-groups/addThingToBillingGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot#AddThingToBillingGroupRequest": {
      "type": "structure",
      "members": {
        "billingGroupName": {
          "target": "com.amazonaws.iot#BillingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the billing group.</p>\n\t\t       <note>\n            <p>This call is asynchronous. It might take several seconds for the detachment to propagate.</p>\n         </note>"
          }
        },
        "billingGroupArn": {
          "target": "com.amazonaws.iot#BillingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the billing group.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to be added to the billing group.</p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iot#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to be added to the billing group.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot#AddThingToBillingGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iot#AddThingToThingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot#AddThingToThingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.iot#AddThingToThingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a thing to a thing group.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">AddThingToThingGroup</a> action.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/thing-groups/addThingToThingGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.iot#AddThingToThingGroupRequest": {
      "type": "structure",
      "members": {
        "thingGroupName": {
          "target": "com.amazonaws.iot#ThingGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group to which you are adding a thing.</p>"
          }
        },
        "thingGroupArn": {
          "target": "com.amazonaws.iot#ThingGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the group to which you are adding a thing.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to add to a group.</p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iot#ThingArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the thing to add to a group.</p>"
          }
        },
        "overrideDynamicGroups": {
          "target": "com.amazonaws.iot#OverrideDynamicGroups",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Override dynamic thing groups with static thing groups when 10-group limit is\n\t\t\treached. If a thing belongs to 10 thing groups, and one or more of those groups are\n\t\t\tdynamic thing groups, adding a thing to a static group removes the thing from the last\n\t\t\tdynamic group.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot#AddThingToThingGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iot#AddThingsToThingGroupParams": {
      "type": "structure",
      "members": {
        "thingGroupNames": {
          "target": "com.amazonaws.iot#ThingGroupNames",
          "traits": {
            "smithy.api#documentation": "<p>The list of groups to which you want to add the things that triggered the mitigation action. You can add a thing to a maximum of 10 groups, but you can't add a thing to more than one group in the same hierarchy.</p>",
            "smithy.api#required": {}
          }
        },
        "overrideDynamicGroups": {
          "target": "com.amazonaws.iot#NullableBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if this mitigation action can move the things that triggered the mitigation action even if they are part of one or more dynamic thing groups.</p>"
          }
        }
      },
[...]
