{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotanalytics#AWSIoTAnalytics": {
      "type": "service",
      "version": "2017-11-27",
      "operations": [
        {
          "target": "com.amazonaws.iotanalytics#BatchPutMessage"
        },
        {
          "target": "com.amazonaws.iotanalytics#CancelPipelineReprocessing"
        },
        {
          "target": "com.amazonaws.iotanalytics#CreateChannel"
        },
        {
          "target": "com.amazonaws.iotanalytics#CreateDataset"
        },
        {
          "target": "com.amazonaws.iotanalytics#CreateDatasetContent"
        },
        {
          "target": "com.amazonaws.iotanalytics#CreateDatastore"
        },
        {
          "target": "com.amazonaws.iotanalytics#CreatePipeline"
        },
        {
          "target": "com.amazonaws.iotanalytics#DeleteChannel"
        },
        {
          "target": "com.amazonaws.iotanalytics#DeleteDataset"
        },
        {
          "target": "com.amazonaws.iotanalytics#DeleteDatasetContent"
        },
        {
          "target": "com.amazonaws.iotanalytics#DeleteDatastore"
        },
        {
          "target": "com.amazonaws.iotanalytics#DeletePipeline"
        },
        {
          "target": "com.amazonaws.iotanalytics#DescribeChannel"
        },
        {
          "target": "com.amazonaws.iotanalytics#DescribeDataset"
        },
        {
          "target": "com.amazonaws.iotanalytics#DescribeDatastore"
        },
        {
          "target": "com.amazonaws.iotanalytics#DescribeLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotanalytics#DescribePipeline"
        },
        {
          "target": "com.amazonaws.iotanalytics#GetDatasetContent"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListChannels"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListDatasetContents"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListDatasets"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListDatastores"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListPipelines"
        },
        {
          "target": "com.amazonaws.iotanalytics#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iotanalytics#PutLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotanalytics#RunPipelineActivity"
        },
        {
          "target": "com.amazonaws.iotanalytics#SampleChannelData"
        },
        {
          "target": "com.amazonaws.iotanalytics#StartPipelineReprocessing"
        },
        {
          "target": "com.amazonaws.iotanalytics#TagResource"
        },
        {
          "target": "com.amazonaws.iotanalytics#UntagResource"
        },
        {
          "target": "com.amazonaws.iotanalytics#UpdateChannel"
        },
        {
          "target": "com.amazonaws.iotanalytics#UpdateDataset"
        },
        {
          "target": "com.amazonaws.iotanalytics#UpdateDatastore"
        },
        {
          "target": "com.amazonaws.iotanalytics#UpdatePipeline"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTAnalytics",
          "arnNamespace": "iotanalytics",
          "cloudFormationName": "IoTAnalytics",
          "cloudTrailEventSource": "iotanalytics.amazonaws.com",
          "endpointPrefix": "iotanalytics"
        },
        "aws.auth#sigv4": {
          "name": "iotanalytics"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>IoT Analytics allows you to collect large amounts of device data, process messages, and store them. \n        You can then query the data and run sophisticated analytics on it.  IoT Analytics enables advanced \n    data exploration through integration with Jupyter Notebooks and data visualization through integration \n    with Amazon QuickSight.</p>\n\n         <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data \n    often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result \n    the data from these devices can have significant gaps, corrupted messages, and false readings that must be \n    cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data \n    from external sources. </p>\n\n         <p>IoT Analytics automates the steps required to analyze data from IoT devices. IoT Analytics \n    filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You \n    can set up the service to collect only the data you need from your devices, apply mathematical transforms \n    to process the data, and enrich the data with device-specific metadata such as device type and location \n    before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, \n    or perform more complex analytics and machine learning inference. IoT Analytics includes pre-built models \n    for common IoT use cases so you can answer questions like which devices are about to fail or which customers \n    are at risk of abandoning their wearable devices.</p>",
        "smithy.api#title": "AWS IoT Analytics",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iotanalytics-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iotanalytics-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iotanalytics.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://iotanalytics.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotanalytics.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iotanalytics#ActivityBatchSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.iotanalytics#ActivityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.iotanalytics#AddAttributesActivity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#ActivityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the addAttributes activity.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.iotanalytics#AttributeNameMapping",
          "traits": {
            "smithy.api#documentation": "<p>A list of 1-50 <code>AttributeNameMapping</code> objects that map an existing attribute to\n      a new attribute.</p>\n         <note>\n            <p>The existing attributes remain in the message, so if you want to remove the originals,\n        use <code>RemoveAttributeActivity</code>.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "com.amazonaws.iotanalytics#ActivityName",
          "traits": {
            "smithy.api#documentation": "<p>The next activity in the pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An activity that adds other attributes based on existing attributes in the message.</p>"
      }
    },
    "com.amazonaws.iotanalytics#AttributeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.iotanalytics#AttributeNameMapping": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iotanalytics#AttributeName"
      },
      "value": {
        "target": "com.amazonaws.iotanalytics#AttributeName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.iotanalytics#AttributeNames": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#AttributeName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.iotanalytics#BatchPutMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#BatchPutMessageRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#BatchPutMessageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends messages to a channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/messages/batch",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotanalytics#BatchPutMessageErrorEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#BatchPutMessageErrorEntry"
      }
    },
    "com.amazonaws.iotanalytics#BatchPutMessageErrorEntry": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "com.amazonaws.iotanalytics#MessageId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the message that caused the error. See the value corresponding to the\n            <code>messageId</code> key in the message object.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.iotanalytics#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The code associated with the error.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.iotanalytics#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The message associated with the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains informations about errors.</p>"
      }
    },
    "com.amazonaws.iotanalytics#BatchPutMessageRequest": {
      "type": "structure",
      "members": {
        "channelName": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel where the messages are sent.</p>",
            "smithy.api#required": {}
          }
        },
        "messages": {
          "target": "com.amazonaws.iotanalytics#Messages",
          "traits": {
            "smithy.api#documentation": "<p>The list of messages to be sent. Each message has the format: { \"messageId\": \"string\",\n         \"payload\": \"string\"}.</p>\n         <p>The field names of message payloads (data) that you send to IoT Analytics:</p>\n        <ul>\n            <li>\n               <p>Must contain only alphanumeric characters and undescores (_). No other special characters are\n               allowed.</p>\n            </li>\n            <li>\n               <p>Must begin with an alphabetic character or single underscore (_).</p>\n            </li>\n            <li>\n               <p>Cannot contain hyphens (-).</p>\n            </li>\n            <li>\n               <p>In regular expression terms: \"^[A-Za-z_]([A-Za-z0-9]*|[A-Za-z0-9][A-Za-z0-9_]*)$\".\n            </p>\n            </li>\n            <li>\n               <p>Cannot be more than 255 characters.</p>\n            </li>\n            <li>\n               <p>Are case insensitive. (Fields named foo and FOO in the same payload are considered\n               duplicates.)</p>\n            </li>\n         </ul>\n         <p>For example, {\"temp_01\": 29} or {\"_temp_01\": 29} are valid, but {\"temp-01\": 29},\n {\"01_temp\": 29} or {\"__temp_01\": 29} are invalid in message payloads.  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#BatchPutMessageResponse": {
      "type": "structure",
      "members": {
        "batchPutMessageErrorEntries": {
          "target": "com.amazonaws.iotanalytics#BatchPutMessageErrorEntries",
          "traits": {
            "smithy.api#documentation": "<p>A list of any errors encountered when sending the messages to the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#BucketKeyExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9!_.*'()/{}:-]*$"
      }
    },
    "com.amazonaws.iotanalytics#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9.\\-_]*$"
      }
    },
    "com.amazonaws.iotanalytics#CancelPipelineReprocessing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CancelPipelineReprocessingRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CancelPipelineReprocessingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the reprocessing of data through the pipeline.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/pipelines/{pipelineName}/reprocessing/{reprocessingId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotanalytics#CancelPipelineReprocessingRequest": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "target": "com.amazonaws.iotanalytics#PipelineName",
          "traits": {
            "smithy.api#documentation": "<p>The name of pipeline for which data reprocessing is canceled.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "reprocessingId": {
          "target": "com.amazonaws.iotanalytics#ReprocessingId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the reprocessing task (returned by\n      <code>StartPipelineReprocessing</code>).</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CancelPipelineReprocessingResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotanalytics#Channel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "storage": {
          "target": "com.amazonaws.iotanalytics#ChannelStorage",
          "traits": {
            "smithy.api#documentation": "<p>Where channel data is stored. You can choose one of <code>serviceManagedS3</code> or\n        <code>customerManagedS3</code> storage. If not specified, the default is\n        <code>serviceManagedS3</code>. You can't change this storage option after the channel is\n      created.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotanalytics#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#ChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the channel.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, message data is kept for the channel.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the channel was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the channel was last updated.</p>"
          }
        },
        "lastMessageArrivalTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time when a new message arrived in the channel.</p> \n         <p>IoT Analytics updates this value at most once per minute for one channel. Hence, the <code>lastMessageArrivalTime</code> value is an approximation.</p> \n         <p>This feature only applies to messages that arrived in the data store after October 23, 2020. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of data from an MQTT topic. Channels archive the raw, unprocessed messages\n      before publishing the data to a pipeline.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelActivity": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#ActivityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel activity.</p>",
            "smithy.api#required": {}
          }
        },
        "channelName": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel from which the messages are processed.</p>",
            "smithy.api#required": {}
          }
        },
        "next": {
          "target": "com.amazonaws.iotanalytics#ActivityName",
          "traits": {
            "smithy.api#documentation": "<p>The next activity in the pipeline.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The activity that determines the source of the messages to be processed.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelArn": {
      "type": "string"
    },
    "com.amazonaws.iotanalytics#ChannelMessages": {
      "type": "structure",
      "members": {
        "s3Paths": {
          "target": "com.amazonaws.iotanalytics#S3PathChannelMessages",
          "traits": {
            "smithy.api#documentation": "<p>Specifies one or more keys that identify the Amazon Simple Storage Service (Amazon S3) objects that save your\n      channel messages.</p>\n         <p>You must use the full path for the key.</p>\n         <p>Example path: <code>channel/mychannel/__dt=2020-02-29\n        00:00:00/1582940490000_1582940520000_123456789012_mychannel_0_2118.0.json.gz</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies one or more sets of channel messages.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(^(?!_{2}))(^[a-zA-Z0-9_]+$)$"
      }
    },
    "com.amazonaws.iotanalytics#ChannelStatistics": {
      "type": "structure",
      "members": {
        "size": {
          "target": "com.amazonaws.iotanalytics#EstimatedResourceSize",
          "traits": {
            "smithy.api#documentation": "<p>The estimated size of the channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Statistics information about the channel.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.iotanalytics#ChannelStorage": {
      "type": "structure",
      "members": {
        "serviceManagedS3": {
          "target": "com.amazonaws.iotanalytics#ServiceManagedChannelS3Storage",
          "traits": {
            "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket managed by IoT Analytics. You can't change the choice\n      of S3 storage after the data store is created.</p>"
          }
        },
        "customerManagedS3": {
          "target": "com.amazonaws.iotanalytics#CustomerManagedChannelS3Storage",
          "traits": {
            "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket that you manage. If customer managed storage is\n      selected, the <code>retentionPeriod</code> parameter is ignored. You can't change the choice\n      of S3 storage after the data store is created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Where channel data is stored. You may choose one of <code>serviceManagedS3</code>,\n        <code>customerManagedS3</code> storage. If not specified, the default is\n        <code>serviceManagedS3</code>. This can't be changed after creation of the channel.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelStorageSummary": {
      "type": "structure",
      "members": {
        "serviceManagedS3": {
          "target": "com.amazonaws.iotanalytics#ServiceManagedChannelS3StorageSummary",
          "traits": {
            "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket managed by IoT Analytics.</p>"
          }
        },
        "customerManagedS3": {
          "target": "com.amazonaws.iotanalytics#CustomerManagedChannelS3StorageSummary",
          "traits": {
            "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket that you manage.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Where channel data is stored.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ChannelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#ChannelSummary"
      }
    },
    "com.amazonaws.iotanalytics#ChannelSummary": {
      "type": "structure",
      "members": {
        "channelName": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "channelStorage": {
          "target": "com.amazonaws.iotanalytics#ChannelStorageSummary",
          "traits": {
            "smithy.api#documentation": "<p>Where channel data is stored.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#ChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the channel.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the channel was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the channel was updated.</p>"
          }
        },
        "lastMessageArrivalTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time when a new message arrived in the channel.</p> \n         <p>IoT Analytics updates this value at most once per minute for one channel. Hence, the <code>lastMessageArrivalTime</code> value is an approximation.</p> \n         <p>This feature only applies to messages that arrived in the data store after October 23, 2020. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about a channel.</p>"
      }
    },
    "com.amazonaws.iotanalytics#Column": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.iotanalytics#ColumnDataType",
          "traits": {
            "smithy.api#documentation": "<p>The type of data. For more information about the supported data types, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-common.html\">Common data types</a>\n      in the <i>Glue Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a column that stores your data.</p>"
      }
    },
    "com.amazonaws.iotanalytics#ColumnDataType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 131072
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.iotanalytics#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Za-z_]([A-Za-z0-9]*|[A-Za-z0-9][A-Za-z0-9_]*)$"
      }
    },
    "com.amazonaws.iotanalytics#Columns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#Column"
      }
    },
    "com.amazonaws.iotanalytics#ComputeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACU_1",
            "name": "ACU_1"
          },
          {
            "value": "ACU_2",
            "name": "ACU_2"
          }
        ]
      }
    },
    "com.amazonaws.iotanalytics#ContainerDatasetAction": {
      "type": "structure",
      "members": {
        "image": {
          "target": "com.amazonaws.iotanalytics#Image",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Docker container stored in your account. The Docker container contains an\n      application and required support libraries and is used to generate dataset contents.</p>",
            "smithy.api#required": {}
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.iotanalytics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that gives permission to the system to access required resources to\n      run the <code>containerAction</code>. This includes, at minimum, permission to retrieve the\n      dataset contents that are the input to the containerized application.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceConfiguration": {
          "target": "com.amazonaws.iotanalytics#ResourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration of the resource that executes the <code>containerAction</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "variables": {
          "target": "com.amazonaws.iotanalytics#Variables",
          "traits": {
            "smithy.api#documentation": "<p>The values of variables used in the context of the execution of the containerized\n      application (basically, parameters passed to the application). Each variable must have a name\n      and a value given by one of <code>stringValue</code>, <code>datasetContentVersionValue</code>,\n      or <code>outputFileUriValue</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information required to run the <code>containerAction</code> to produce dataset\n      contents.</p>"
      }
    },
    "com.amazonaws.iotanalytics#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used to create a channel. A channel collects data from an MQTT topic and archives the raw,\n      unprocessed messages before publishing the data to a pipeline.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "channelName": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "channelStorage": {
          "target": "com.amazonaws.iotanalytics#ChannelStorage",
          "traits": {
            "smithy.api#documentation": "<p>Where channel data is stored. You can choose one of <code>serviceManagedS3</code> or\n        <code>customerManagedS3</code> storage. If not specified, the default is\n        <code>serviceManagedS3</code>. You can't change this storage option after the channel is\n      created.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, message data is kept for the channel. When\n        <code>customerManagedS3</code> storage is selected, this parameter is ignored.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotanalytics#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata which can be used to manage the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "channelName": {
          "target": "com.amazonaws.iotanalytics#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "channelArn": {
          "target": "com.amazonaws.iotanalytics#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, message data is kept for the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used to create a dataset. A dataset stores data retrieved from a data store by applying a\n        <code>queryAction</code> (a SQL query) or a <code>containerAction</code> (executing a\n      containerized application). This operation creates the skeleton of a dataset. The dataset can\n      be populated manually by calling <code>CreateDatasetContent</code> or automatically according\n      to a trigger you specify.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasets",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatasetContent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CreateDatasetContentRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CreateDatasetContentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the content of a dataset by applying a <code>queryAction</code> (a SQL query) or a\n        <code>containerAction</code> (executing a containerized application).</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datasets/{datasetName}/content",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatasetContentRequest": {
      "type": "structure",
      "members": {
        "datasetName": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionId": {
          "target": "com.amazonaws.iotanalytics#DatasetContentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the dataset content. To specify <code>versionId</code> for a dataset\n      content, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatasetContentResponse": {
      "type": "structure",
      "members": {
        "versionId": {
          "target": "com.amazonaws.iotanalytics#DatasetContentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the dataset contents that are being created.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "datasetName": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "actions": {
          "target": "com.amazonaws.iotanalytics#DatasetActions",
          "traits": {
            "smithy.api#documentation": "<p>A list of actions that create the dataset contents.</p>",
            "smithy.api#required": {}
          }
        },
        "triggers": {
          "target": "com.amazonaws.iotanalytics#DatasetTriggers",
          "traits": {
            "smithy.api#documentation": "<p>A list of triggers. A trigger causes dataset contents to be populated at a specified time\n      interval or when another dataset's contents are created. The list of triggers can be empty or\n      contain up to five <code>DataSetTrigger</code> objects.</p>"
          }
        },
        "contentDeliveryRules": {
          "target": "com.amazonaws.iotanalytics#DatasetContentDeliveryRules",
          "traits": {
            "smithy.api#documentation": "<p>When dataset contents are created, they are delivered to destinations specified\n      here.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Optional. How long, in days, versions of dataset contents are kept for the dataset. If not\n      specified or set to <code>null</code>, versions of dataset contents are retained for at most\n      90 days. The number of versions of dataset contents retained is determined by the\n        <code>versioningConfiguration</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions\">\n        Keeping Multiple Versions of IoT Analytics datasets</a> in the\n        <i>IoT Analytics User Guide</i>.</p>"
          }
        },
        "versioningConfiguration": {
          "target": "com.amazonaws.iotanalytics#VersioningConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Optional. How many versions of dataset contents are kept. If not specified or set to null,\n      only the latest version plus the latest succeeded version (if they are different) are kept for\n      the time period specified by the <code>retentionPeriod</code> parameter. For more information,\n      see <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions\">Keeping Multiple Versions of IoT Analytics datasets</a> in the\n        <i>IoT Analytics User Guide</i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotanalytics#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata which can be used to manage the dataset.</p>"
          }
        },
        "lateDataRules": {
          "target": "com.amazonaws.iotanalytics#LateDataRules",
          "traits": {
            "smithy.api#documentation": "<p>A list of data rules that send notifications to CloudWatch, when data arrives late. To specify <code>lateDataRules</code>, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "datasetName": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "datasetArn": {
          "target": "com.amazonaws.iotanalytics#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, dataset contents are kept for the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatastore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CreateDatastoreRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CreateDatastoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data store, which is a repository for messages.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/datastores",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatastoreRequest": {
      "type": "structure",
      "members": {
        "datastoreName": {
          "target": "com.amazonaws.iotanalytics#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data store.</p>",
            "smithy.api#required": {}
          }
        },
        "datastoreStorage": {
          "target": "com.amazonaws.iotanalytics#DatastoreStorage",
          "traits": {
            "smithy.api#documentation": "<p>Where data in a data store is stored.. You can choose <code>serviceManagedS3</code> storage, <code>customerManagedS3</code> storage, or <code>iotSiteWiseMultiLayerStorage</code> storage. The default is <code>serviceManagedS3</code>. You can't change the choice of Amazon S3 storage after your data store is created. </p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, message data is kept for the data store. When\n        <code>customerManagedS3</code> storage is selected, this parameter is ignored.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotanalytics#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata which can be used to manage the data store.</p>"
          }
        },
        "fileFormatConfiguration": {
          "target": "com.amazonaws.iotanalytics#FileFormatConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Contains the configuration information of file formats.  IoT Analytics data stores support JSON and <a href=\"https://parquet.apache.org/\">Parquet</a>.</p> \n         <p>The default file format is JSON. You can specify only one format.</p> \n         <p>You can't change the file format after you create the data store.</p>"
          }
        },
        "datastorePartitions": {
          "target": "com.amazonaws.iotanalytics#DatastorePartitions",
          "traits": {
            "smithy.api#documentation": "<p> Contains information about the partition dimensions in a data store. </p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreateDatastoreResponse": {
      "type": "structure",
      "members": {
        "datastoreName": {
          "target": "com.amazonaws.iotanalytics#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data store.</p>"
          }
        },
        "datastoreArn": {
          "target": "com.amazonaws.iotanalytics#DatastoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the data store.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>How long, in days, message data is kept for the data store.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreatePipeline": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotanalytics#CreatePipelineRequest"
      },
      "output": {
        "target": "com.amazonaws.iotanalytics#CreatePipelineResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotanalytics#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotanalytics#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotanalytics#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.iotanalytics#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a pipeline. A pipeline consumes messages from a channel and allows you to process\n      the messages before storing them in a data store. You must specify both a <code>channel</code>\n      and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in\n      the <code>pipelineActivities</code> array.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/pipelines",
          "code": 201
        }
      }
    },
    "com.amazonaws.iotanalytics#CreatePipelineRequest": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "target": "com.amazonaws.iotanalytics#PipelineName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipeline.</p>",
            "smithy.api#required": {}
          }
        },
        "pipelineActivities": {
          "target": "com.amazonaws.iotanalytics#PipelineActivities",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>PipelineActivity</code> objects. Activities perform transformations on\n      your messages, such as removing, renaming or adding message attributes; filtering messages\n      based on attribute values; invoking your Lambda unctions on messages for advanced processing;\n      or performing mathematical transformations to normalize device data.</p>\n         <p>The list can be 2-25 <code>PipelineActivity</code> objects and must contain both a\n        <code>channel</code> and a <code>datastore</code> activity. Each entry in the list must\n      contain only one activity. For example:</p>\n         <p>\n            <code>pipelineActivities = [ { \"channel\": { ... } }, { \"lambda\": { ... } }, ...\n      ]</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotanalytics#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata which can be used to manage the pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CreatePipelineResponse": {
      "type": "structure",
      "members": {
        "pipelineName": {
          "target": "com.amazonaws.iotanalytics#PipelineName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the pipeline.</p>"
          }
        },
        "pipelineArn": {
          "target": "com.amazonaws.iotanalytics#PipelineArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the pipeline.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotanalytics#CustomerManagedChannelS3Storage": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.iotanalytics#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket in which channel data is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "keyPrefix": {
          "target": "com.amazonaws.iotanalytics#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The prefix used to create the keys of the channel data objects. Each object in\n      an S3 bucket has a key that is its unique identifier in the bucket. Each object in a bucket\n      has exactly one key. The prefix must end with a forward slash (/).</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iotanalytics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants IoT Analytics permission to interact with your Amazon S3\n      resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket that you manage. If customer-managed storage is\n      selected, the <code>retentionPeriod</code> parameter is ignored. You can't change the choice\n      of S3 storage after the data store is created.</p>"
      }
    },
    "com.amazonaws.iotanalytics#CustomerManagedChannelS3StorageSummary": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.iotanalytics#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket in which channel data is stored.</p>"
          }
        },
        "keyPrefix": {
          "target": "com.amazonaws.iotanalytics#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The prefix used to create the keys of the channel data objects. Each object in\n      an S3 bucket has a key that is its unique identifier within the bucket (each object in a\n      bucket has exactly one key). The prefix must end with a forward slash (/).</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iotanalytics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants IoT Analytics permission to interact with your Amazon S3\n      resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Used to store channel data in an S3 bucket that you manage.</p>"
      }
    },
    "com.amazonaws.iotanalytics#CustomerManagedDatastoreS3Storage": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.iotanalytics#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket where your data is stored.</p>",
            "smithy.api#required": {}
          }
        },
        "keyPrefix": {
          "target": "com.amazonaws.iotanalytics#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The prefix used to create the keys of the data store data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier in the bucket. Each object in a bucket has exactly one key. The prefix must end with a forward slash (/).</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iotanalytics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants IoT Analytics permission to interact with your Amazon S3 resources.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>S3-customer-managed; When you choose customer-managed storage, the <code>retentionPeriod</code> parameter is ignored. You can't change the choice of Amazon S3 storage after your data store is created.  </p>"
      }
    },
    "com.amazonaws.iotanalytics#CustomerManagedDatastoreS3StorageSummary": {
      "type": "structure",
      "members": {
        "bucket": {
          "target": "com.amazonaws.iotanalytics#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon S3 bucket where your data is stored.</p>"
          }
        },
        "keyPrefix": {
          "target": "com.amazonaws.iotanalytics#S3KeyPrefix",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The prefix used to create the keys of the data store data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier in the bucket. Each object in a bucket has exactly one key. The prefix must end with a forward slash (/).</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.iotanalytics#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that grants IoT Analytics permission to interact with your Amazon S3 resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the data store that you manage.</p>"
      }
    },
    "com.amazonaws.iotanalytics#Dataset": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotanalytics#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        },
        "actions": {
          "target": "com.amazonaws.iotanalytics#DatasetActions",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DatasetAction</code> objects that automatically create the dataset\n      contents.</p>"
          }
        },
        "triggers": {
          "target": "com.amazonaws.iotanalytics#DatasetTriggers",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DatasetTrigger</code> objects that specify when the dataset is automatically\n      updated.</p>"
          }
        },
        "contentDeliveryRules": {
          "target": "com.amazonaws.iotanalytics#DatasetContentDeliveryRules",
          "traits": {
            "smithy.api#documentation": "<p>When dataset contents are created they are delivered to destinations specified\n      here.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>When the dataset was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the dataset was updated.</p>"
          }
        },
        "retentionPeriod": {
          "target": "com.amazonaws.iotanalytics#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>Optional. How long, in days, message data is kept for the dataset.</p>"
          }
        },
        "versioningConfiguration": {
          "target": "com.amazonaws.iotanalytics#VersioningConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Optional. How many versions of dataset contents are kept. If not specified or set to null,\n      only the latest version plus the latest succeeded version (if they are different) are kept for\n      the time period specified by the <code>retentionPeriod</code> parameter. For more information,\n      see <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions\">\n        Keeping Multiple Versions of IoT Analytics datasets</a> in the\n        <i>IoT Analytics User Guide</i>.</p>"
          }
        },
        "lateDataRules": {
          "target": "com.amazonaws.iotanalytics#LateDataRules",
          "traits": {
            "smithy.api#documentation": "<p>A list of data rules that send notifications to CloudWatch, when data arrives late. To specify <code>lateDataRules</code>, the dataset must use a <a href=\"https://docs.aws.amazon.com/iotanalytics/latest/APIReference/API_DeltaTime.html\">DeltaTimer</a> filter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a dataset.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetAction": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "com.amazonaws.iotanalytics#DatasetActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset action by which dataset contents are automatically created.</p>"
          }
        },
        "queryAction": {
          "target": "com.amazonaws.iotanalytics#SqlQueryDatasetAction",
          "traits": {
            "smithy.api#documentation": "<p>An <code>SqlQueryDatasetAction</code> object that uses an SQL query to automatically\n      create dataset contents.</p>"
          }
        },
        "containerAction": {
          "target": "com.amazonaws.iotanalytics#ContainerDatasetAction",
          "traits": {
            "smithy.api#documentation": "<p>Information that allows the system to run a containerized application to create the\n      dataset contents. The application must be in a Docker container along with any required\n      support libraries.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>DatasetAction</code> object that specifies how dataset contents are automatically\n      created.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetActionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_]+$"
      }
    },
    "com.amazonaws.iotanalytics#DatasetActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetActionSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.iotanalytics#DatasetActionSummary": {
      "type": "structure",
      "members": {
        "actionName": {
          "target": "com.amazonaws.iotanalytics#DatasetActionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action that automatically creates the dataset's contents.</p>"
          }
        },
        "actionType": {
          "target": "com.amazonaws.iotanalytics#DatasetActionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of action by which the dataset's contents are automatically created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the action that automatically creates the dataset's contents.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetActionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "QUERY",
            "name": "QUERY"
          },
          {
            "value": "CONTAINER",
            "name": "CONTAINER"
          }
        ]
      }
    },
    "com.amazonaws.iotanalytics#DatasetActions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.iotanalytics#DatasetArn": {
      "type": "string"
    },
    "com.amazonaws.iotanalytics#DatasetContentDeliveryDestination": {
      "type": "structure",
      "members": {
        "iotEventsDestinationConfiguration": {
          "target": "com.amazonaws.iotanalytics#IotEventsDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for delivery of dataset contents to IoT Events.</p>"
          }
        },
        "s3DestinationConfiguration": {
          "target": "com.amazonaws.iotanalytics#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for delivery of dataset contents to Amazon S3.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination to which dataset contents are delivered.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentDeliveryRule": {
      "type": "structure",
      "members": {
        "entryName": {
          "target": "com.amazonaws.iotanalytics#EntryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset content delivery rules entry.</p>"
          }
        },
        "destination": {
          "target": "com.amazonaws.iotanalytics#DatasetContentDeliveryDestination",
          "traits": {
            "smithy.api#documentation": "<p>The destination to which dataset contents are delivered.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>When dataset contents are created, they are delivered to destination specified\n      here.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentDeliveryRules": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetContentDeliveryRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iotanalytics#DatasetContentState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the dataset contents. Can be one of READY, CREATING, SUCCEEDED, or\n      FAILED.</p>"
          }
        },
        "reason": {
          "target": "com.amazonaws.iotanalytics#Reason",
          "traits": {
            "smithy.api#documentation": "<p>The reason the dataset contents are in this state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of the dataset contents and the reason they are in this state.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetContentSummary"
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentSummary": {
      "type": "structure",
      "members": {
        "version": {
          "target": "com.amazonaws.iotanalytics#DatasetContentVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the dataset contents.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#DatasetContentStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset contents.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The actual time the creation of the dataset contents was started.</p>"
          }
        },
        "scheduleTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the creation of the dataset contents was scheduled to start.</p>"
          }
        },
        "completionTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the dataset content status was updated to SUCCEEDED or FAILED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about dataset contents.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 36
        }
      }
    },
    "com.amazonaws.iotanalytics#DatasetContentVersionValue": {
      "type": "structure",
      "members": {
        "datasetName": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset whose latest contents are used as input to the notebook or\n      application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dataset whose latest contents are used as input to the notebook or application.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetEntry"
      }
    },
    "com.amazonaws.iotanalytics#DatasetEntry": {
      "type": "structure",
      "members": {
        "entryName": {
          "target": "com.amazonaws.iotanalytics#EntryName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset item.</p>"
          }
        },
        "dataURI": {
          "target": "com.amazonaws.iotanalytics#PresignedURI",
          "traits": {
            "smithy.api#documentation": "<p>The presigned URI of the dataset item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The reference to a dataset entry.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(^(?!_{2}))(^[a-zA-Z0-9_]+$)$"
      }
    },
    "com.amazonaws.iotanalytics#DatasetStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          }
        ]
      }
    },
    "com.amazonaws.iotanalytics#DatasetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetSummary"
      }
    },
    "com.amazonaws.iotanalytics#DatasetSummary": {
      "type": "structure",
      "members": {
        "datasetName": {
          "target": "com.amazonaws.iotanalytics#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the dataset was created.</p>"
          }
        },
        "lastUpdateTime": {
          "target": "com.amazonaws.iotanalytics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the dataset was updated.</p>"
          }
        },
        "triggers": {
          "target": "com.amazonaws.iotanalytics#DatasetTriggers",
          "traits": {
            "smithy.api#documentation": "<p>A list of triggers. A trigger causes dataset content to be populated at a specified time\n      interval or when another dataset is populated. The list of triggers can be empty or contain up\n      to five <code>DataSetTrigger</code> objects</p>"
          }
        },
        "actions": {
          "target": "com.amazonaws.iotanalytics#DatasetActionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataActionSummary</code> objects.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about a dataset.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetTrigger": {
      "type": "structure",
      "members": {
        "schedule": {
          "target": "com.amazonaws.iotanalytics#Schedule",
          "traits": {
            "smithy.api#documentation": "<p>The Schedule when the trigger is initiated.</p>"
          }
        },
        "dataset": {
          "target": "com.amazonaws.iotanalytics#TriggeringDataset",
          "traits": {
            "smithy.api#documentation": "<p>The dataset whose content creation triggers the creation of this dataset's\n      contents.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <code>DatasetTrigger</code> that specifies when the dataset is automatically\n      updated.</p>"
      }
    },
    "com.amazonaws.iotanalytics#DatasetTriggers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotanalytics#DatasetTrigger"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotanalytics#Datastore": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotanalytics#DatastoreName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data store.</p>"
          }
        },
        "storage": {
          "target": "com.amazonaws.iotanalytics#DatastoreStorage",
          "traits": {
            "smithy.api#documentation": "<p>Where data in a data store is stored.. You can choose <code>serviceManagedS3</code> storage, <code>customerManagedS3</code> storage, or <code>iotSiteWiseMultiLayerStorage</code> storage. The default is <code>serviceManagedS3</code>. You can't change the choice of Amazon S3 storage after your data store is created. </p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotanalytics#DatastoreArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the data store.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotanalytics#DatastoreStatus",
          "traits": {
[...]
