{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.iotfleetwise#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient permission to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotfleetwise#Actuator": {
      "type": "structure",
      "members": {
        "fullyQualifiedName": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the actuator. For example, the fully qualified name of an\n            actuator might be <code>Vehicle.Front.Left.Door.Lock</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotfleetwise#NodeDataType",
          "traits": {
            "smithy.api#documentation": "<p>The specified data type of the actuator. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the actuator.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The scientific unit for the actuator.</p>"
          }
        },
        "allowedValues": {
          "target": "com.amazonaws.iotfleetwise#listOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of possible values an actuator can take.</p>"
          }
        },
        "min": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>The specified possible minimum value of an actuator.</p>"
          }
        },
        "max": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>The specified possible maximum value of an actuator.</p>"
          }
        },
        "assignedValue": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#deprecated": {
              "message": "assignedValue is no longer in use"
            },
            "smithy.api#documentation": "<p>A specified value for the actuator.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A signal that represents a vehicle device such as the engine, heater, and door locks.\n            Data from an actuator reports the state of a certain vehicle device.</p>\n        <note>\n            <p> Updating actuator data can change the state of a device. For example, you can\n                turn on or off the heater by updating its actuator data.</p>\n        </note>"
      }
    },
    "com.amazonaws.iotfleetwise#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotfleetwise#AssociateVehicleFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#AssociateVehicleFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#AssociateVehicleFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Adds, or associates, a vehicle with a fleet. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vehicles/{vehicleName}/associate",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotfleetwise#AssociateVehicleFleetRequest": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of the vehicle to associate with the fleet. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of a fleet. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#AssociateVehicleFleetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotfleetwise#Attribute": {
      "type": "structure",
      "members": {
        "fullyQualifiedName": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the attribute. For example, the fully qualified name of an\n            attribute might be <code>Vehicle.Body.Engine.Type</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotfleetwise#NodeDataType",
          "traits": {
            "smithy.api#documentation": "<p>The specified data type of the attribute. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the attribute.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The scientific unit for the attribute.</p>"
          }
        },
        "allowedValues": {
          "target": "com.amazonaws.iotfleetwise#listOfStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of possible values an attribute can be assigned.</p>"
          }
        },
        "min": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>The specified possible minimum value of the attribute.</p>"
          }
        },
        "max": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>The specified possible maximum value of the attribute.</p>"
          }
        },
        "assignedValue": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#deprecated": {
              "message": "assignedValue is no longer in use"
            },
            "smithy.api#documentation": "<p>A specified value for the attribute.</p>"
          }
        },
        "defaultValue": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A signal that represents static information about the vehicle, such as engine type or\n            manufacturing date.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#BatchCreateVehicle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#BatchCreateVehicleRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#BatchCreateVehicleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a group, or batch, of vehicles. </p>\n        <note>\n            <p> You must specify a decoder manifest and a vehicle model (model manifest) for each\n                vehicle. </p>\n        </note>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/create-vehicles-cli.html\">Create multiple\n                vehicles (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vehicles",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotfleetwise#BatchCreateVehicleRequest": {
      "type": "structure",
      "members": {
        "vehicles": {
          "target": "com.amazonaws.iotfleetwise#createVehicleRequestItems",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about each vehicle to create. For more information, see the\n                 API data type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#BatchCreateVehicleResponse": {
      "type": "structure",
      "members": {
        "vehicles": {
          "target": "com.amazonaws.iotfleetwise#createVehicleResponses",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about a batch of created vehicles. For more information, see\n            the  API data type.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.iotfleetwise#createVehicleErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of information about creation errors, or an empty list if there aren't any\n            errors. </p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#BatchUpdateVehicle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#BatchUpdateVehicleRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#BatchUpdateVehicleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Updates a group, or batch, of vehicles.</p>\n        <note>\n            <p> You must specify a decoder manifest and a vehicle model (model manifest) for each\n                vehicle. </p>\n        </note>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/update-vehicles-cli.html\">Update multiple\n                vehicles (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vehicles",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotfleetwise#BatchUpdateVehicleRequest": {
      "type": "structure",
      "members": {
        "vehicles": {
          "target": "com.amazonaws.iotfleetwise#updateVehicleRequestItems",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about the vehicles to update. For more information, see the\n                 API data type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#BatchUpdateVehicleResponse": {
      "type": "structure",
      "members": {
        "vehicles": {
          "target": "com.amazonaws.iotfleetwise#updateVehicleResponseItems",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about the batch of updated vehicles. </p>\n        <note>\n            <p>This list contains only unique IDs for the vehicles that were updated.</p>\n        </note>"
          }
        },
        "errors": {
          "target": "com.amazonaws.iotfleetwise#updateVehicleErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of information about errors returned while updating a batch of vehicles, or, if\n            there aren't any errors, an empty list.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#Branch": {
      "type": "structure",
      "members": {
        "fullyQualifiedName": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified name of the branch. For example, the fully qualified name of a\n            branch might be <code>Vehicle.Body.Engine</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the branch.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A group of signals that are defined in a hierarchical structure.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CampaignResource": {
      "type": "resource",
      "identifiers": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName"
        }
      },
      "put": {
        "target": "com.amazonaws.iotfleetwise#CreateCampaign"
      },
      "read": {
        "target": "com.amazonaws.iotfleetwise#GetCampaign"
      },
      "update": {
        "target": "com.amazonaws.iotfleetwise#UpdateCampaign"
      },
      "delete": {
        "target": "com.amazonaws.iotfleetwise#DeleteCampaign"
      },
      "list": {
        "target": "com.amazonaws.iotfleetwise#ListCampaigns"
      },
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "Campaign"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.iotfleetwise#CampaignStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "WAITING_FOR_APPROVAL",
            "name": "WAITING_FOR_APPROVAL"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "SUSPENDED",
            "name": "SUSPENDED"
          }
        ]
      }
    },
    "com.amazonaws.iotfleetwise#CampaignSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a campaign.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p>The name of a campaign.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the campaign.</p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signal catalog associated with the campaign.</p>"
          }
        },
        "targetArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a vehicle or fleet to which the campaign is deployed.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotfleetwise#CampaignStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of a campaign. The status can be one of the following:</p>\n        <ul>\n            <li>\n                <p>\n                    <code>CREATING</code> - Amazon Web Services IoT FleetWise is processing your request to create the\n                    campaign.</p>\n            </li>\n            <li>\n                <p>\n                    <code>WAITING_FOR_APPROVAL</code> - After a campaign is created, it enters the\n                        <code>WAITING_FOR_APPROVAL</code> state. To allow Amazon Web Services IoT FleetWise to deploy the\n                    campaign to the target vehicle or fleet, use the  API operation to approve the campaign.\n                </p>\n            </li>\n            <li>\n                <p>\n                    <code>RUNNING</code> - The campaign is active. </p>\n            </li>\n            <li>\n                <p>\n                    <code>SUSPENDED</code> - The campaign is suspended. To resume the campaign, use\n                    the  API operation. </p>\n            </li>\n         </ul>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the campaign was created.</p>",
            "smithy.api#required": {}
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the campaign was modified.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a campaign. </p>\n        <p>You can use the  API operation to return this\n            information about multiple created campaigns.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CanDbcDefinition": {
      "type": "structure",
      "members": {
        "networkInterface": {
          "target": "com.amazonaws.iotfleetwise#InterfaceId",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about a network interface.</p>",
            "smithy.api#required": {}
          }
        },
        "canDbcFiles": {
          "target": "com.amazonaws.iotfleetwise#NetworkFilesList",
          "traits": {
            "smithy.api#documentation": "<p>A list of DBC files. You can upload only one DBC file for each network interface and\n            specify up to five (inclusive) files in the list.</p>",
            "smithy.api#required": {}
          }
        },
        "signalsMap": {
          "target": "com.amazonaws.iotfleetwise#ModelSignalsMap",
          "traits": {
            "smithy.api#documentation": "<p>Pairs every signal specified in your vehicle model with a signal decoder.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configurations used to create a decoder manifest.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CanInterface": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#CanInterfaceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the interface.</p>",
            "smithy.api#required": {}
          }
        },
        "protocolName": {
          "target": "com.amazonaws.iotfleetwise#ProtocolName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the communication protocol for the interface.</p>"
          }
        },
        "protocolVersion": {
          "target": "com.amazonaws.iotfleetwise#ProtocolVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the communication protocol for the interface.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A single controller area network (CAN) device interface.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CanInterfaceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotfleetwise#CanSignal": {
      "type": "structure",
      "members": {
        "messageId": {
          "target": "com.amazonaws.iotfleetwise#nonNegativeInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the message.</p>",
            "smithy.api#required": {}
          }
        },
        "isBigEndian": {
          "target": "com.amazonaws.iotfleetwise#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the byte ordering of a CAN message is big-endian.</p>",
            "smithy.api#required": {}
          }
        },
        "isSigned": {
          "target": "com.amazonaws.iotfleetwise#boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the message data is specified as a signed value.</p>",
            "smithy.api#required": {}
          }
        },
        "startBit": {
          "target": "com.amazonaws.iotfleetwise#nonNegativeInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Indicates the beginning of the CAN message.</p>",
            "smithy.api#required": {}
          }
        },
        "offset": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>Indicates where data appears in the CAN message.</p>",
            "smithy.api#required": {}
          }
        },
        "factor": {
          "target": "com.amazonaws.iotfleetwise#double",
          "traits": {
            "smithy.api#documentation": "<p>A multiplier used to decode the CAN message.</p>",
            "smithy.api#required": {}
          }
        },
        "length": {
          "target": "com.amazonaws.iotfleetwise#nonNegativeInteger",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>How many bytes of data are in the message.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotfleetwise#CanSignalName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the signal.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a single controller area network (CAN) signal and the messages it\n            receives and transmits.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CanSignalName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotfleetwise#CloudWatchLogDeliveryOptions": {
      "type": "structure",
      "members": {
        "logType": {
          "target": "com.amazonaws.iotfleetwise#LogType",
          "traits": {
            "smithy.api#documentation": "<p>The type of log to send data to Amazon CloudWatch Logs.</p>",
            "smithy.api#required": {}
          }
        },
        "logGroupName": {
          "target": "com.amazonaws.iotfleetwise#CloudWatchLogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs group the operation sends data to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The log delivery option to send data to Amazon CloudWatch Logs.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CloudWatchLogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[\\.\\-_\\/#A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.iotfleetwise#CollectionScheme": {
      "type": "union",
      "members": {
        "timeBasedCollectionScheme": {
          "target": "com.amazonaws.iotfleetwise#TimeBasedCollectionScheme",
          "traits": {
            "smithy.api#documentation": "<p>Information about a collection scheme that uses a time period to decide how often to\n            collect data.</p>"
          }
        },
        "conditionBasedCollectionScheme": {
          "target": "com.amazonaws.iotfleetwise#ConditionBasedCollectionScheme",
          "traits": {
            "smithy.api#documentation": "<p>Information about a collection scheme that uses a simple logical expression to\n            recognize what data to collect.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies what data to collect and how often or when to collect it.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#Compression": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "SNAPPY",
            "name": "SNAPPY"
          }
        ]
      }
    },
    "com.amazonaws.iotfleetwise#ConditionBasedCollectionScheme": {
      "type": "structure",
      "members": {
        "expression": {
          "target": "com.amazonaws.iotfleetwise#eventExpression",
          "traits": {
            "smithy.api#documentation": "<p>The logical expression used to recognize what data to collect. For example,\n                <code>$variable.Vehicle.OutsideAirTemperature &gt;= 105.0</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "minimumTriggerIntervalMs": {
          "target": "com.amazonaws.iotfleetwise#uint32",
          "traits": {
            "smithy.api#documentation": "<p>The minimum duration of time between two triggering events to collect data, in\n            milliseconds.</p>\n        <note>\n            <p>If a signal changes often, you might want to collect data at a slower rate.</p>\n        </note>"
          }
        },
        "triggerMode": {
          "target": "com.amazonaws.iotfleetwise#TriggerMode",
          "traits": {
            "smithy.api#documentation": "<p>Whether to collect data for all triggering events (<code>ALWAYS</code>). Specify\n                (<code>RISING_EDGE</code>), or specify only when the condition first evaluates to\n            false. For example, triggering on \"AirbagDeployed\"; Users aren't interested on\n            triggering when the airbag is already exploded; they only care about the change from not\n            deployed =&gt; deployed.</p>"
          }
        },
        "conditionLanguageVersion": {
          "target": "com.amazonaws.iotfleetwise#languageVersion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the conditional expression language.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a collection scheme that uses a simple logical expression to\n            recognize what data to collect.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The resource on which there are conflicting operations.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The type of resource on which there are conflicting operations..</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request has conflicting operations. This can occur if you're trying to perform\n            more than one operation on the same resource at the same time.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iotfleetwise#CreateCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateCampaignRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateCampaignResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an orchestration of data collection rules. The Amazon Web Services IoT FleetWise Edge Agent software\n            running in vehicles uses campaigns to decide how to collect and transfer data to the\n            cloud. You create campaigns in the cloud. After you or your team approve campaigns,\n            Amazon Web Services IoT FleetWise automatically deploys them to vehicles. </p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/campaigns.html\">Collect and transfer data\n                with campaigns</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/campaigns/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateCampaignRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the campaign to create. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the campaign to help identify its purpose.</p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The Amazon Resource Name (ARN) of the signal catalog to associate with the campaign.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "targetArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the vehicle or fleet to deploy a campaign to. </p>",
            "smithy.api#required": {}
          }
        },
        "startTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The time, in milliseconds, to deliver a campaign after it was approved. If\n            it's not specified, <code>0</code> is used.</p>\n        <p>Default: <code>0</code>\n         </p>"
          }
        },
        "expiryTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) The time the campaign expires, in seconds since epoch (January 1, 1970 at\n            midnight UTC time). Vehicle data won't be collected after the campaign expires. </p>\n        <p>Default: 253402214400 (December 31, 9999, 00:00:00 UTC)</p>"
          }
        },
        "postTriggerCollectionDuration": {
          "target": "com.amazonaws.iotfleetwise#uint32",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) How long (in milliseconds) to collect raw data after a triggering event\n            initiates the collection. If it's not specified, <code>0</code> is used.</p>\n        <p>Default: <code>0</code>\n         </p>"
          }
        },
        "diagnosticsMode": {
          "target": "com.amazonaws.iotfleetwise#DiagnosticsMode",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) Option for a vehicle to send diagnostic trouble codes to Amazon Web Services IoT FleetWise. If you\n            want to send diagnostic trouble codes, use <code>SEND_ACTIVE_DTCS</code>. If it's not\n            specified, <code>OFF</code> is used.</p>\n        <p>Default: <code>OFF</code>\n         </p>"
          }
        },
        "spoolingMode": {
          "target": "com.amazonaws.iotfleetwise#SpoolingMode",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Whether to store collected data after a vehicle lost a connection with the\n            cloud. After a connection is re-established, the data is automatically forwarded to\n            Amazon Web Services IoT FleetWise. If you want to store collected data when a vehicle loses connection with the\n            cloud, use <code>TO_DISK</code>. If it's not specified, <code>OFF</code> is used.</p>\n        <p>Default: <code>OFF</code>\n         </p>"
          }
        },
        "compression": {
          "target": "com.amazonaws.iotfleetwise#Compression",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) Whether to compress signals before transmitting data to Amazon Web Services IoT FleetWise. If you\n            don't want to compress the signals, use <code>OFF</code>. If it's not specified,\n                <code>SNAPPY</code> is used. </p>\n        <p>Default: <code>SNAPPY</code>\n         </p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.iotfleetwise#priority",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A number indicating the priority of one campaign over another campaign for\n            a certain vehicle or fleet. A campaign with the lowest value is deployed to vehicles\n            before any other campaigns. If it's not specified, <code>0</code> is used. </p>\n        <p>Default: <code>0</code>\n         </p>"
          }
        },
        "signalsToCollect": {
          "target": "com.amazonaws.iotfleetwise#SignalInformationList",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) A list of information about signals to collect. </p>"
          }
        },
        "collectionScheme": {
          "target": "com.amazonaws.iotfleetwise#CollectionScheme",
          "traits": {
            "smithy.api#documentation": "<p> The data collection scheme associated with the campaign. You can specify a scheme\n            that collects data based on time or an event.</p>",
            "smithy.api#required": {}
          }
        },
        "dataExtraDimensions": {
          "target": "com.amazonaws.iotfleetwise#DataExtraDimensionNodePathList",
          "traits": {
            "smithy.api#documentation": "<p> (Optional) A list of vehicle attributes to associate with a campaign. </p>\n        <p>Enrich the data with specified vehicle attributes. For example, add <code>make</code> and <code>model</code> to the campaign, and Amazon Web Services IoT FleetWise will associate the data with those attributes as dimensions in Amazon Timestream. You can then query the data against <code>make</code> and <code>model</code>.</p>\n        <p>Default: An empty array</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the campaign.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateCampaignResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created campaign.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created campaign. </p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateDecoderManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateDecoderManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateDecoderManifestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#DecoderManifestValidationException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the decoder manifest associated with a model manifest. To create a decoder\n            manifest, the following must be true:</p>\n        <ul>\n            <li>\n                <p>Every signal decoder has a unique name.</p>\n            </li>\n            <li>\n                <p>Each signal decoder is associated with a network interface.</p>\n            </li>\n            <li>\n                <p>Each network interface has a unique ID.</p>\n            </li>\n            <li>\n                <p>The signal decoders are specified in the model manifest.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/decoder-manifests/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateDecoderManifestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The unique name of the decoder manifest to create.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p> A brief description of the decoder manifest. </p>"
          }
        },
        "modelManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the vehicle model (model manifest). </p>",
            "smithy.api#required": {}
          }
        },
        "signalDecoders": {
          "target": "com.amazonaws.iotfleetwise#SignalDecoders",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about signal decoders. </p>"
          }
        },
        "networkInterfaces": {
          "target": "com.amazonaws.iotfleetwise#NetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about available network interfaces. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the decoder manifest.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateDecoderManifestResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the created decoder manifest. </p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created decoder manifest. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a fleet that represents a group of vehicles.\n            </p>\n        <note>\n            <p>You must create both a signal catalog and vehicles before you can create a fleet.\n            </p>\n        </note>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleets.html\">Fleets</a> in the\n                <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/fleets/{fleetId}",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateFleetRequest": {
      "type": "structure",
      "members": {
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of the fleet to create. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p> A brief description of the fleet to create. </p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of a signal catalog. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateFleetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the created fleet. </p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created fleet. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateModelManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateModelManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateModelManifestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InvalidSignalsException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a vehicle model (model manifest) that specifies signals (attributes,\n            branches, sensors, and actuators). </p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/vehicle-models.html\">Vehicle models</a>\n            in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/model-manifests/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateModelManifestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the vehicle model to create.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p> A brief description of the vehicle model. </p>"
          }
        },
        "nodes": {
          "target": "com.amazonaws.iotfleetwise#listOfStrings",
          "traits": {
            "smithy.api#documentation": "<p> A list of nodes, which are a general abstraction of signals. </p>",
            "smithy.api#required": {}
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of a signal catalog. </p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the vehicle model.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateModelManifestResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the created vehicle model.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created vehicle model.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateSignalCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateSignalCatalogRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateSignalCatalogResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InvalidNodeException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InvalidSignalsException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a collection of standardized signals that can be reused to create vehicle\n            models.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/signal-catalogs/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateSignalCatalogRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the signal catalog to create. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the signal catalog.</p>"
          }
        },
        "nodes": {
          "target": "com.amazonaws.iotfleetwise#Nodes",
          "traits": {
            "smithy.api#documentation": "<p> A list of information about nodes, which are a general abstraction of signals. For\n            more information, see the  API data type.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the signal catalog.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateSignalCatalogResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the created signal catalog. </p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created signal catalog. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#CreateVehicleRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#CreateVehicleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a vehicle, which is an instance of a vehicle model (model manifest). Vehicles\n            created from the same vehicle model consist of the same signals inherited from the\n            vehicle model.</p>\n        <note>\n            <p> If you have an existing Amazon Web Services IoT Thing, you can use Amazon Web Services IoT FleetWise to create a\n                vehicle and collect data from your thing. </p>\n        </note>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/create-vehicle-cli.html\">Create a vehicle\n                (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/vehicles/{vehicleName}",
          "code": 201
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicleError": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the vehicle with the error.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>An HTTP error code.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>A description of the HTTP error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An HTTP error resulting from creating a vehicle.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicleRequest": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of the vehicle to create. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "modelManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name ARN of a vehicle model. </p>",
            "smithy.api#required": {}
          }
        },
        "decoderManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of a decoder manifest. </p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.iotfleetwise#attributesMap",
          "traits": {
            "smithy.api#documentation": "<p>Static information about a vehicle in a key-value pair. For example:\n                <code>\"engineType\"</code> : <code>\"1.3 L R2\"</code>\n         </p>"
          }
        },
        "associationBehavior": {
          "target": "com.amazonaws.iotfleetwise#VehicleAssociationBehavior",
          "traits": {
            "smithy.api#documentation": "<p> An option to create a new Amazon Web Services IoT thing when creating a vehicle, or to validate an\n            existing Amazon Web Services IoT thing as a vehicle. </p>\n        <p>Default: <code/>\n         </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that can be used to manage the vehicle.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicleRequestItem": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the vehicle to create.</p>",
            "smithy.api#required": {}
          }
        },
        "modelManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the vehicle model (model manifest) to create the vehicle from.</p>",
            "smithy.api#required": {}
          }
        },
        "decoderManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a decoder manifest associated with the vehicle to create.\n        </p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.iotfleetwise#attributesMap",
          "traits": {
            "smithy.api#documentation": "<p>Static information about a vehicle in a key-value pair. For example: <code>\"engine\n                Type\"</code> : <code>\"v6\"</code>\n         </p>"
          }
        },
        "associationBehavior": {
          "target": "com.amazonaws.iotfleetwise#VehicleAssociationBehavior",
          "traits": {
            "smithy.api#documentation": "<p>An option to create a new Amazon Web Services IoT thing when creating a vehicle, or to validate an\n            existing thing as a vehicle.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotfleetwise#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata which can be used to manage the vehicle.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the vehicle to create.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicleResponse": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the created vehicle.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the created vehicle. </p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of a created or validated Amazon Web Services IoT thing. </p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#CreateVehicleResponseItem": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the vehicle to create.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the created vehicle.</p>"
          }
        },
        "thingArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a created or validated Amazon Web Services IoT thing.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a created vehicle.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#DataExtraDimensionNodePathList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotfleetwise#NodePath"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.iotfleetwise#DecoderManifestResource": {
      "type": "resource",
      "identifiers": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.iotfleetwise#CreateDecoderManifest"
      },
      "read": {
        "target": "com.amazonaws.iotfleetwise#GetDecoderManifest"
      },
      "update": {
        "target": "com.amazonaws.iotfleetwise#UpdateDecoderManifest"
      },
      "delete": {
        "target": "com.amazonaws.iotfleetwise#DeleteDecoderManifest"
      },
      "list": {
        "target": "com.amazonaws.iotfleetwise#ListDecoderManifests"
      },
      "operations": [
        {
          "target": "com.amazonaws.iotfleetwise#ImportDecoderManifest"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ListDecoderManifestNetworkInterfaces"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ListDecoderManifestSignals"
        }
      ],
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "DecoderManifest"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.iotfleetwise#DecoderManifestSummary": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the decoder manifest.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a vehicle model (model manifest) associated with the decoder manifest.\n        </p>"
          }
        },
        "modelManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of a vehicle model (model manifest) associated with the decoder\n            manifest.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the decoder manifest.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotfleetwise#ManifestStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the decoder manifest. If the status is <code>ACTIVE</code>, the decoder\n            manifest can't be edited. If the status is marked <code>DRAFT</code>, you can edit the\n            decoder manifest.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the decoder manifest was created in seconds since epoch (January 1, 1970 at\n            midnight UTC time).</p>",
            "smithy.api#required": {}
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the decoder manifest was last updated in seconds since epoch (January 1,\n            1970 at midnight UTC time).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a created decoder manifest. You can use the  API operation to return this information about\n            multiple decoder manifests.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#DecoderManifestValidationException": {
      "type": "structure",
      "members": {
        "invalidSignals": {
          "target": "com.amazonaws.iotfleetwise#InvalidSignalDecoders",
          "traits": {
            "smithy.api#documentation": "<p>The request couldn't be completed because of invalid signals in the request.</p>"
          }
        },
        "invalidNetworkInterfaces": {
          "target": "com.amazonaws.iotfleetwise#InvalidNetworkInterfaces",
          "traits": {
            "smithy.api#documentation": "<p>The request couldn't be completed because of invalid network interfaces in the request.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iotfleetwise#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request couldn't be completed because it contains signal decoders with one or more validation errors.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iotfleetwise#DeleteCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteCampaignRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteCampaignResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a data collection campaign. Deleting a campaign suspends all data collection\n            and removes it from any vehicles. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/campaigns/{name}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteCampaignRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the campaign to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteCampaignResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted campaign.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the deleted campaign.</p>\n        <note>\n            <p>The ARN isn’t returned if a campaign doesn’t exist.</p>\n        </note>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteDecoderManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteDecoderManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteDecoderManifestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a decoder manifest. You can't delete a decoder manifest if it has vehicles\n            associated with it. </p>\n        <note>\n            <p>If the decoder manifest is successfully deleted, Amazon Web Services IoT FleetWise sends back an HTTP 200\n                response with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/decoder-manifests/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteDecoderManifestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the decoder manifest to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteDecoderManifestResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted decoder manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted decoder manifest.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a fleet. Before you delete a fleet, all vehicles must be\n            dissociated from the fleet. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/delete-fleet-cli.html\">Delete a fleet (AWS\n                CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>\n        <note>\n            <p>If the fleet is successfully deleted, Amazon Web Services IoT FleetWise sends back an HTTP 200 response\n                with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/fleets/{fleetId}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteFleetRequest": {
      "type": "structure",
      "members": {
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the fleet to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteFleetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deleted fleet.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted fleet.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteModelManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteModelManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteModelManifestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a vehicle model (model manifest).</p>\n        <note>\n            <p>If the vehicle model is successfully deleted, Amazon Web Services IoT FleetWise sends back an HTTP 200\n                response with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/model-manifests/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteModelManifestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the model manifest to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteModelManifestResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted model manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted model manifest.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteSignalCatalog": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteSignalCatalogRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteSignalCatalogResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ConflictException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a signal catalog. </p>\n        <note>\n            <p>If the signal catalog is successfully deleted, Amazon Web Services IoT FleetWise sends back an HTTP 200\n                response with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/signal-catalogs/{name}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteSignalCatalogRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the signal catalog to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteSignalCatalogResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the deleted signal catalog.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted signal catalog.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteVehicle": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DeleteVehicleRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DeleteVehicleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a vehicle and removes it from any campaigns.</p>\n        <note>\n            <p>If the vehicle is successfully deleted, Amazon Web Services IoT FleetWise sends back an HTTP 200 response\n                with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/vehicles/{vehicleName}",
          "code": 204
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.iotfleetwise#DeleteVehicleRequest": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the vehicle to delete. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DeleteVehicleResponse": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the deleted vehicle.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the deleted vehicle.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DiagnosticsMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "SEND_ACTIVE_DTCS",
            "name": "SEND_ACTIVE_DTCS"
          }
        ]
      }
    },
    "com.amazonaws.iotfleetwise#DisassociateVehicleFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#DisassociateVehicleFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#DisassociateVehicleFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes, or disassociates, a vehicle from a fleet. Disassociating a vehicle from a\n            fleet doesn't delete the vehicle.</p>\n        <note>\n            <p>If the vehicle is successfully dissociated from a fleet, Amazon Web Services IoT FleetWise sends back an\n                HTTP 200 response with an empty body.</p>\n        </note>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/vehicles/{vehicleName}/disassociate",
          "code": 204
        }
      }
    },
    "com.amazonaws.iotfleetwise#DisassociateVehicleFleetRequest": {
      "type": "structure",
      "members": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of the vehicle to disassociate from the fleet.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The unique ID of a fleet. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#DisassociateVehicleFleetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotfleetwise#FleetAssociationResource": {
      "type": "resource",
      "identifiers": {
        "vehicleName": {
          "target": "com.amazonaws.iotfleetwise#vehicleName"
        },
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId"
        }
      },
      "list": {
        "target": "com.amazonaws.iotfleetwise#ListFleetsForVehicle"
      }
    },
    "com.amazonaws.iotfleetwise#FleetResource": {
      "type": "resource",
      "identifiers": {
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId"
        }
      },
      "put": {
        "target": "com.amazonaws.iotfleetwise#CreateFleet"
      },
      "read": {
        "target": "com.amazonaws.iotfleetwise#GetFleet"
      },
      "update": {
        "target": "com.amazonaws.iotfleetwise#UpdateFleet"
      },
      "delete": {
        "target": "com.amazonaws.iotfleetwise#DeleteFleet"
      },
      "list": {
        "target": "com.amazonaws.iotfleetwise#ListFleets"
      },
      "resources": [
        {
          "target": "com.amazonaws.iotfleetwise#VehicleAssociationResource"
        }
      ],
      "traits": {
        "aws.cloudformation#cfnResource": {
          "name": "Fleet"
        },
        "smithy.api#noReplace": {}
      }
    },
    "com.amazonaws.iotfleetwise#FleetSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique ID of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the fleet.</p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signal catalog associated with the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the fleet was created, in seconds since epoch (January 1, 1970 at midnight\n            UTC time).</p>",
            "smithy.api#required": {}
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time the fleet was last updated in seconds since epoch (January 1, 1970 at\n            midnight UTC time).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about a fleet.</p>\n        <p>You can use the  API operation to return this\n            information about multiple fleets.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#FormattedVss": {
      "type": "union",
      "members": {
        "vssJson": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Provides the VSS in JSON format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Vehicle Signal Specification (VSS) is a precise language used to describe and model\n            signals in vehicle networks. The JSON file collects signal specificiations in a VSS\n            format.</p>"
      }
    },
    "com.amazonaws.iotfleetwise#Fqns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotfleetwise#FullyQualifiedName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.iotfleetwise#FullyQualifiedName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetCampaign": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#GetCampaignRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#GetCampaignResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves information about a campaign. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/campaigns/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotfleetwise#GetCampaignRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the campaign to retrieve information about. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetCampaignResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#campaignName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the campaign.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the campaign. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the campaign.</p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of a signal catalog. </p>"
          }
        },
        "targetArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of the vehicle or the fleet targeted by the campaign. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotfleetwise#CampaignStatus",
          "traits": {
            "smithy.api#documentation": "<p>The state of the campaign. The status can be one of: <code>CREATING</code>,\n                <code>WAITING_FOR_APPROVAL</code>, <code>RUNNING</code>, and <code>SUSPENDED</code>.\n        </p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time, in milliseconds, to deliver a campaign after it was approved.</p>"
          }
        },
        "expiryTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the campaign expires, in seconds since epoch (January 1, 1970 at midnight\n            UTC time). Vehicle data won't be collected after the campaign expires.</p>"
          }
        },
        "postTriggerCollectionDuration": {
          "target": "com.amazonaws.iotfleetwise#uint32",
          "traits": {
            "smithy.api#documentation": "<p> How long (in seconds) to collect raw data after a triggering event initiates the\n            collection. </p>"
          }
        },
        "diagnosticsMode": {
          "target": "com.amazonaws.iotfleetwise#DiagnosticsMode",
          "traits": {
            "smithy.api#documentation": "<p> Option for a vehicle to send diagnostic trouble codes to Amazon Web Services IoT FleetWise. </p>"
          }
        },
        "spoolingMode": {
          "target": "com.amazonaws.iotfleetwise#SpoolingMode",
          "traits": {
            "smithy.api#documentation": "<p> Whether to store collected data after a vehicle lost a connection with the cloud.\n            After a connection is re-established, the data is automatically forwarded to Amazon Web Services IoT FleetWise.\n        </p>"
          }
        },
        "compression": {
          "target": "com.amazonaws.iotfleetwise#Compression",
          "traits": {
            "smithy.api#documentation": "<p> Whether to compress signals before transmitting data to Amazon Web Services IoT FleetWise. If\n                <code>OFF</code> is specified, the signals aren't compressed. If it's not specified,\n                <code>SNAPPY</code> is used. </p>"
          }
        },
        "priority": {
          "target": "com.amazonaws.iotfleetwise#priority",
          "traits": {
            "smithy.api#documentation": "<p> A number indicating the priority of one campaign over another campaign for a certain\n            vehicle or fleet. A campaign with the lowest value is deployed to vehicles before any\n            other campaigns.</p>"
          }
        },
        "signalsToCollect": {
          "target": "com.amazonaws.iotfleetwise#SignalInformationList",
          "traits": {
            "smithy.api#documentation": "<p> Information about a list of signals to collect data on. </p>"
          }
        },
        "collectionScheme": {
          "target": "com.amazonaws.iotfleetwise#CollectionScheme",
          "traits": {
            "smithy.api#documentation": "<p> Information about the data collection scheme associated with the campaign. </p>"
          }
        },
        "dataExtraDimensions": {
          "target": "com.amazonaws.iotfleetwise#DataExtraDimensionNodePathList",
          "traits": {
            "smithy.api#documentation": "<p> A list of vehicle attributes associated with the campaign. </p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the campaign was created in seconds since epoch (January 1, 1970 at midnight\n            UTC time). </p>"
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last time the campaign was modified.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetDecoderManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#GetDecoderManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#GetDecoderManifestResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves information about a created decoder manifest. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/decoder-manifests/{name}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotfleetwise#GetDecoderManifestRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#resourceName",
          "traits": {
            "smithy.api#documentation": "<p> The name of the decoder manifest to retrieve information about. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetDecoderManifestResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotfleetwise#string",
          "traits": {
            "smithy.api#documentation": "<p> The name of the decoder manifest. </p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the decoder manifest. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p> A brief description of the decoder manifest.</p>"
          }
        },
        "modelManifestArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of a vehicle model (model manifest) associated with the decoder\n            manifest.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotfleetwise#ManifestStatus",
          "traits": {
            "smithy.api#documentation": "<p> The state of the decoder manifest. If the status is <code>ACTIVE</code>, the decoder\n            manifest can't be edited. If the status is marked <code>DRAFT</code>, you can edit the\n            decoder manifest.</p>"
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the decoder manifest was created in seconds since epoch (January 1, 1970 at midnight UTC time). </p>",
            "smithy.api#required": {}
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the decoder manifest was last updated in seconds since epoch (January 1, 1970 at midnight UTC time).  </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetFleet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#GetFleetRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#GetFleetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#InternalServerException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Retrieves information about a fleet. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/fleets/{fleetId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotfleetwise#GetFleetRequest": {
      "type": "structure",
      "members": {
        "fleetId": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the fleet to retrieve information about. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetFleetResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotfleetwise#fleetId",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the fleet.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the fleet. </p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotfleetwise#description",
          "traits": {
            "smithy.api#documentation": "<p> A brief description of the fleet. </p>"
          }
        },
        "signalCatalogArn": {
          "target": "com.amazonaws.iotfleetwise#arn",
          "traits": {
            "smithy.api#documentation": "<p> The ARN of a signal catalog associated with the fleet. </p>",
            "smithy.api#required": {}
          }
        },
        "creationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the fleet was created in seconds since epoch (January 1, 1970 at midnight\n            UTC time). </p>",
            "smithy.api#required": {}
          }
        },
        "lastModificationTime": {
          "target": "com.amazonaws.iotfleetwise#timestamp",
          "traits": {
            "smithy.api#documentation": "<p> The time the fleet was last updated, in seconds since epoch (January 1, 1970 at\n            midnight UTC time). </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetLoggingOptions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#GetLoggingOptionsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#GetLoggingOptionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotfleetwise#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iotfleetwise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the logging options.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/loggingOptions",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.iotfleetwise#GetLoggingOptionsRequest": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotfleetwise#GetLoggingOptionsResponse": {
      "type": "structure",
      "members": {
        "cloudWatchLogDelivery": {
          "target": "com.amazonaws.iotfleetwise#CloudWatchLogDeliveryOptions",
          "traits": {
            "smithy.api#documentation": "<p>Returns information about log delivery to Amazon CloudWatch Logs.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotfleetwise#GetModelManifest": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotfleetwise#GetModelManifestRequest"
      },
      "output": {
        "target": "com.amazonaws.iotfleetwise#GetModelManifestResponse"
      },
      "errors": [
        {
[...]
