{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotsecuretunneling#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ClientAccessToken": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.iotsecuretunneling#ClientMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SOURCE",
            "name": "SOURCE"
          },
          {
            "value": "DESTINATION",
            "name": "DESTINATION"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.iotsecuretunneling#CloseTunnel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#CloseTunnelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#CloseTunnelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Closes a tunnel identified by the unique tunnel id. When a <code>CloseTunnel</code>\n\t\t\trequest is received, we close the WebSocket connections between the client and proxy\n\t\t\tserver so no data can be transmitted.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">CloseTunnel</a> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tunnels/{tunnelId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#CloseTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the tunnel to close.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "delete": {
          "target": "com.amazonaws.iotsecuretunneling#DeleteFlag",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>When set to true, IoT Secure Tunneling deletes the tunnel data\n\t\t\timmediately.</p>",
            "smithy.api#httpQuery": "delete"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#CloseTunnelResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotsecuretunneling#ConnectionState": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.iotsecuretunneling#ConnectionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The connection status of the tunnel. Valid values are <code>CONNECTED</code> and\n\t\t\t\t<code>DISCONNECTED</code>.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.iotsecuretunneling#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The last time the connection status was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of a connection.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#ConnectionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONNECTED",
            "name": "CONNECTED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          }
        ]
      }
    },
    "com.amazonaws.iotsecuretunneling#DateType": {
      "type": "timestamp"
    },
    "com.amazonaws.iotsecuretunneling#DeleteFlag": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.iotsecuretunneling#DescribeTunnel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#DescribeTunnelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#DescribeTunnelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a tunnel identified by the unique tunnel id.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">DescribeTunnel</a> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tunnels/{tunnelId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#DescribeTunnelRequest": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>The tunnel to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#DescribeTunnelResponse": {
      "type": "structure",
      "members": {
        "tunnel": {
          "target": "com.amazonaws.iotsecuretunneling#Tunnel",
          "traits": {
            "smithy.api#documentation": "<p>The tunnel being described.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#Description": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[^\\p{C}]{1,2048}$"
      }
    },
    "com.amazonaws.iotsecuretunneling#DestinationConfig": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.iotsecuretunneling#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing to which you want to connect.</p>"
          }
        },
        "services": {
          "target": "com.amazonaws.iotsecuretunneling#ServiceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of service names that identify the target application. The IoT client\n\t\t\trunning on the destination device reads this value and uses it to look up a port or an\n\t\t\tIP address and a port. The IoT client instantiates the local proxy, which uses this\n\t\t\tinformation to connect to the destination application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The destination configuration.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.iotsecuretunneling#IoTSecuredTunneling": {
      "type": "service",
      "version": "2018-10-05",
      "operations": [
        {
          "target": "com.amazonaws.iotsecuretunneling#CloseTunnel"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#DescribeTunnel"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#ListTunnels"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#OpenTunnel"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#RotateTunnelAccessToken"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#TagResource"
        },
        {
          "target": "com.amazonaws.iotsecuretunneling#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTSecureTunneling",
          "arnNamespace": "iotsecuredtunneling",
          "cloudFormationName": "IoTSecureTunneling",
          "cloudTrailEventSource": "iotsecuretunneling.amazonaws.com",
          "endpointPrefix": "api.tunneling.iot"
        },
        "aws.auth#sigv4": {
          "name": "IoTSecuredTunneling"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>IoT Secure Tunneling</fullname>\n\t\t       <p>IoT Secure Tunneling creates remote connections to devices deployed in the\n\t\t\tfield.</p>\n\t\t       <p>For more information about how IoT Secure Tunneling works, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/secure-tunneling.html\">IoT\n\t\t\t\tSecure Tunneling</a>.</p>",
        "smithy.api#title": "AWS IoT Secure Tunneling",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://api.tunneling.iot-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://api.tunneling.iot-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://api.tunneling.iot-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://api.tunneling.iot-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://api.tunneling.iot.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://api.tunneling.iot.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://api.tunneling.iot.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotsecuretunneling#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "LimitExceededException",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>Thrown when a tunnel limit is exceeded.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iotsecuretunneling#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.iotsecuretunneling#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the specified resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTunnels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#ListTunnelsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#ListTunnelsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>List all tunnels for an Amazon Web Services account. Tunnels are listed by creation time in\n\t\t\tdescending order, newer tunnels will be listed before older tunnels.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">ListTunnels</a> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tunnels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTunnelsRequest": {
      "type": "structure",
      "members": {
        "thingName": {
          "target": "com.amazonaws.iotsecuretunneling#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the IoT thing associated with the destination device.</p>",
            "smithy.api#httpQuery": "thingName"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iotsecuretunneling#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return at once.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iotsecuretunneling#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>To retrieve the next set of results, the nextToken value from a previous response;\n\t\t\totherwise null to receive the first set of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ListTunnelsResponse": {
      "type": "structure",
      "members": {
        "tunnelSummaries": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A short description of the tunnels in an Amazon Web Services account.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iotsecuretunneling#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to get the next set of results, or null if there are no additional\n\t\t\tresults.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_=-]{1,4096}$"
      }
    },
    "com.amazonaws.iotsecuretunneling#OpenTunnel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#OpenTunnelRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#OpenTunnelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new tunnel, and returns two client access tokens for clients to use to\n\t\t\tconnect to the IoT Secure Tunneling proxy server.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">OpenTunnel</a> action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tunnels",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#OpenTunnelRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iotsecuretunneling#Description",
          "traits": {
            "smithy.api#documentation": "<p>A short text description of the tunnel. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsecuretunneling#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A collection of tag metadata.</p>"
          }
        },
        "destinationConfig": {
          "target": "com.amazonaws.iotsecuretunneling#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration for the OpenTunnel request.</p>"
          }
        },
        "timeoutConfig": {
          "target": "com.amazonaws.iotsecuretunneling#TimeoutConfig",
          "traits": {
            "smithy.api#documentation": "<p>Timeout configuration for a tunnel.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#OpenTunnelResponse": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>A unique alpha-numeric tunnel ID.</p>"
          }
        },
        "tunnelArn": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name for the tunnel.</p>"
          }
        },
        "sourceAccessToken": {
          "target": "com.amazonaws.iotsecuretunneling#ClientAccessToken",
          "traits": {
            "smithy.api#documentation": "<p>The access token the source local proxy uses to connect to IoT Secure\n\t\t\tTunneling.</p>"
          }
        },
        "destinationAccessToken": {
          "target": "com.amazonaws.iotsecuretunneling#ClientAccessToken",
          "traits": {
            "smithy.api#documentation": "<p>The access token the destination local proxy uses to connect to IoT Secure\n\t\t\tTunneling.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotsecuretunneling#ErrorMessage"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ResourceNotFoundException",
          "httpResponseCode": 404
        },
        "smithy.api#documentation": "<p>Thrown when an operation is attempted on a resource that does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iotsecuretunneling#RotateTunnelAccessToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#RotateTunnelAccessTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#RotateTunnelAccessTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Revokes the current client access token (CAT) and returns new CAT for clients to\n\t\t\tuse when reconnecting to secure tunneling to access the same tunnel.</p>\n\t\t       <p>Requires permission to access the <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsiot.html#awsiot-actions-as-permissions\">RotateTunnelAccessToken</a> action.</p>\n\t\t       <note>\n\t\t\t         <p>Rotating the CAT doesn't extend the tunnel duration. For example, say the tunnel\n\t\t\t\tduration is 12 hours and the tunnel has already been open for 4 hours. When you\n\t\t\t\trotate the access tokens, the new tokens that are generated can only be used for the\n\t\t\t\tremaining 8 hours.</p>\n\t\t       </note>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tunnel/{tunnelId}/rotate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#RotateTunnelAccessTokenRequest": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>The tunnel for which you want to rotate the access tokens.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "clientMode": {
          "target": "com.amazonaws.iotsecuretunneling#ClientMode",
          "traits": {
            "smithy.api#documentation": "<p>The mode of the client that will use the client token, which can be either the source\n\t\t\tor destination, or both source and destination.</p>",
            "smithy.api#required": {}
          }
        },
        "destinationConfig": {
          "target": "com.amazonaws.iotsecuretunneling#DestinationConfig"
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#RotateTunnelAccessTokenResponse": {
      "type": "structure",
      "members": {
        "tunnelArn": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name for the tunnel.</p>"
          }
        },
        "sourceAccessToken": {
          "target": "com.amazonaws.iotsecuretunneling#ClientAccessToken",
          "traits": {
            "smithy.api#documentation": "<p>The client access token that the source local proxy uses to connect to IoT Secure\n\t\t\tTunneling.</p>"
          }
        },
        "destinationAccessToken": {
          "target": "com.amazonaws.iotsecuretunneling#ClientAccessToken",
          "traits": {
            "smithy.api#documentation": "<p>The client access token that the destination local proxy uses to connect to IoT\n\t\t\tSecure Tunneling.</p>"
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#Service": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:_-]+$"
      }
    },
    "com.amazonaws.iotsecuretunneling#ServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsecuretunneling#Service"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#Tag": {
      "type": "structure",
      "members": {
        "key": {
          "target": "com.amazonaws.iotsecuretunneling#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key of the tag.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.iotsecuretunneling#TagValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the tag.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An arbitary key/value pair used to add searchable metadata to secure tunnel\n\t\t\tresources.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.iotsecuretunneling#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsecuretunneling#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#TagList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsecuretunneling#Tag"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A resource tag.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#TagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iotsecuretunneling#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsecuretunneling#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags for the resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#TagResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iotsecuretunneling#TagValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
      }
    },
    "com.amazonaws.iotsecuretunneling#ThingName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:_-]+$"
      }
    },
    "com.amazonaws.iotsecuretunneling#TimeoutConfig": {
      "type": "structure",
      "members": {
        "maxLifetimeTimeoutMinutes": {
          "target": "com.amazonaws.iotsecuretunneling#TimeoutInMin",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum amount of time (in minutes) a tunnel can remain open. If not specified,\n\t\t\tmaxLifetimeTimeoutMinutes defaults to 720 minutes. Valid values are from 1 minute to 12\n\t\t\thours (720 minutes) </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Tunnel timeout configuration.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#TimeoutInMin": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 720
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#Tunnel": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>A unique alpha-numeric ID that identifies a tunnel.</p>"
          }
        },
        "tunnelArn": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a tunnel.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a tunnel. Valid values are: Open and Closed.</p>"
          }
        },
        "sourceConnectionState": {
          "target": "com.amazonaws.iotsecuretunneling#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The connection state of the source application.</p>"
          }
        },
        "destinationConnectionState": {
          "target": "com.amazonaws.iotsecuretunneling#ConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The connection state of the destination application.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotsecuretunneling#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the tunnel.</p>"
          }
        },
        "destinationConfig": {
          "target": "com.amazonaws.iotsecuretunneling#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration that specifies the thing name of the destination\n\t\t\tdevice and a service name that the local proxy uses to connect to the destination\n\t\t\tapplication.</p>"
          }
        },
        "timeoutConfig": {
          "target": "com.amazonaws.iotsecuretunneling#TimeoutConfig",
          "traits": {
            "smithy.api#documentation": "<p>Timeout configuration for the tunnel.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iotsecuretunneling#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tag metadata associated with the secure tunnel.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.iotsecuretunneling#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The time when the tunnel was created.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.iotsecuretunneling#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The last time the tunnel was updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A connection between a source computer and a destination device.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#TunnelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#TunnelId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9_\\-+=:]{1,128}$"
      }
    },
    "com.amazonaws.iotsecuretunneling#TunnelStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OPEN",
            "name": "OPEN"
          },
          {
            "value": "CLOSED",
            "name": "CLOSED"
          }
        ]
      }
    },
    "com.amazonaws.iotsecuretunneling#TunnelSummary": {
      "type": "structure",
      "members": {
        "tunnelId": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelId",
          "traits": {
            "smithy.api#documentation": "<p>The unique alpha-numeric identifier for the tunnel.</p>"
          }
        },
        "tunnelArn": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name of the tunnel. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iotsecuretunneling#TunnelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a tunnel. Valid values are: Open and Closed.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotsecuretunneling#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the tunnel.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.iotsecuretunneling#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The time the tunnel was created.</p>"
          }
        },
        "lastUpdatedAt": {
          "target": "com.amazonaws.iotsecuretunneling#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The time the tunnel was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the tunnel.</p>"
      }
    },
    "com.amazonaws.iotsecuretunneling#TunnelSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsecuretunneling#TunnelSummary"
      }
    },
    "com.amazonaws.iotsecuretunneling#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsecuretunneling#UntagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsecuretunneling#UntagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsecuretunneling#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a tag from a resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/untag",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.iotsecuretunneling#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The resource ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "tagKeys": {
          "target": "com.amazonaws.iotsecuretunneling#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>The keys of the tags to remove.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iotsecuretunneling#UntagResourceResponse": {
      "type": "structure",
      "members": {}
    }
  }
}