{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotsitewise#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": "^arn:aws(-cn|-us-gov)?:[a-zA-Z0-9-:\\/_\\.]+$"
      }
    },
    "com.amazonaws.iotsitewise#AWSIoTSiteWise": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.iotsitewise#AssociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#AssociateTimeSeriesToAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyAggregates"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAssetModelCompositeModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateBulkImportJob"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateComputationModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateDataset"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAssetModelCompositeModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteComputationModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteDataset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeletePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAction"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetCompositeModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetModelCompositeModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeBulkImportJob"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeComputationModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeComputationModelExecutionSummary"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDataset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDefaultEncryptionConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeExecution"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeStorageConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#DisassociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#DisassociateTimeSeriesFromAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#ExecuteAction"
        },
        {
          "target": "com.amazonaws.iotsitewise#ExecuteQuery"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyAggregates"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetInterpolatedAssetPropertyValues"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvokeAssistant"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAccessPolicies"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListActions"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModelCompositeModels"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModelProperties"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModels"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetProperties"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetRelationships"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssociatedAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListBulkImportJobs"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListCompositionRelationships"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListComputationModelDataBindingUsages"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListComputationModelResolveToResources"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListComputationModels"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListDashboards"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListDatasets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListExecutions"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListGateways"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListPortals"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjects"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutDefaultEncryptionConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutStorageConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#TagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UntagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetModelCompositeModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateComputationModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateDataset"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTSiteWise",
          "arnNamespace": "iotsitewise",
          "cloudFormationName": "IoTSiteWise",
          "cloudTrailEventSource": "iotsitewise.amazonaws.com",
          "endpointPrefix": "iotsitewise"
        },
        "aws.auth#sigv4": {
          "name": "iotsitewise"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Welcome to the IoT SiteWise API Reference. IoT SiteWise is an Amazon Web Services service that connects <a href=\"https://en.wikipedia.org/wiki/Internet_of_things#Industrial_applications\">Industrial Internet of Things (IIoT)</a> devices to the power of the Amazon Web Services Cloud. For more information, see the\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/\">IoT SiteWise User Guide</a>. For information about IoT SiteWise quotas, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>IoT SiteWise User Guide</i>.</p>",
        "smithy.api#title": "AWS IoT SiteWise",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iotsitewise-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iotsitewise-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iotsitewise.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://iotsitewise.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iotsitewise#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iotsitewise#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AccessPolicySummary"
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access policy.</p>",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.amazonaws.iotsitewise#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity (an IAM Identity Center user, an IAM Identity Center group, or an IAM user).</p>",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.iotsitewise#Resource",
          "traits": {
            "smithy.api#documentation": "<p>The IoT SiteWise Monitor resource (a portal or project).</p>",
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "com.amazonaws.iotsitewise#Permission",
          "traits": {
            "smithy.api#documentation": "<p>The permissions for the access policy. Note that a project <code>ADMINISTRATOR</code> is\n      also known as a project owner.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was created, in Unix epoch time.</p>"
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was last updated, in Unix epoch time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an access policy that defines an identity's access to an IoT SiteWise Monitor\n      resource.</p>"
      }
    },
    "com.amazonaws.iotsitewise#ActionDefinition": {
      "type": "structure",
      "members": {
        "actionDefinitionId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the action definition.</p>",
            "smithy.api#required": {}
          }
        },
        "actionName": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the action definition.</p>",
            "smithy.api#required": {}
          }
        },
        "actionType": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the action definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a definition for an action.</p>"
      }
    },
    "com.amazonaws.iotsitewise#ActionDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#ActionDefinition"
      }
    },
    "com.amazonaws.iotsitewise#ActionPayload": {
      "type": "structure",
      "members": {
        "stringValue": {
          "target": "com.amazonaws.iotsitewise#ActionPayloadString",
          "traits": {
            "smithy.api#documentation": "<p>The payload of the action in a JSON string.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The JSON payload of the action.</p>"
      }
    },
    "com.amazonaws.iotsitewise#ActionPayloadString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[^\\u0000-\\u001F\\u007F]+$"
      }
    },
    "com.amazonaws.iotsitewise#ActionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#ActionSummary"
      }
    },
    "com.amazonaws.iotsitewise#ActionSummary": {
      "type": "structure",
      "members": {
        "actionId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the action.</p>"
          }
        },
        "actionDefinitionId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the action definition.</p>"
          }
        },
        "targetResource": {
          "target": "com.amazonaws.iotsitewise#TargetResource",
          "traits": {
            "smithy.api#documentation": "<p>The resource the action will be taken on.</p>"
          }
        },
        "resolveTo": {
          "target": "com.amazonaws.iotsitewise#ResolveTo",
          "traits": {
            "smithy.api#documentation": "<p>The detailed resource this action resolves to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the summary of the actions.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AdaptiveIngestion": {
      "type": "boolean"
    },
    "com.amazonaws.iotsitewise#AggregateType": {
      "type": "enum",
      "members": {
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "STANDARD_DEVIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_DEVIATION"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AggregateTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregateType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iotsitewise#AggregatedDoubleValue": {
      "type": "double"
    },
    "com.amazonaws.iotsitewise#AggregatedValue": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the aggregating computations occurred, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.amazonaws.iotsitewise#Quality",
          "traits": {
            "smithy.api#documentation": "<p>The quality of the aggregated data.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.iotsitewise#Aggregates",
          "traits": {
            "smithy.api#documentation": "<p>The value of the aggregates.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains aggregated asset property values (for example, average, minimum, and\n      maximum).</p>"
      }
    },
    "com.amazonaws.iotsitewise#AggregatedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregatedValue"
      }
    },
    "com.amazonaws.iotsitewise#Aggregates": {
      "type": "structure",
      "members": {
        "average": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The average (mean) value of the time series over a time interval window.</p>"
          }
        },
        "count": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The count of data points in the time series over a time interval window.</p>"
          }
        },
        "maximum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the time series over a time interval window.</p>"
          }
        },
        "minimum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value of the time series over a time interval window.</p>"
          }
        },
        "sum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the time series over a time interval window.</p>"
          }
        },
        "standardDeviation": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The standard deviation of the time series over a time interval window.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the (pre-calculated) aggregate values for an asset property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#Alarms": {
      "type": "structure",
      "members": {
        "alarmRoleArn": {
          "target": "com.amazonaws.iotsitewise#IamArn",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IAM role that allows the alarm to perform actions and access Amazon Web Services\n      resources and services, such as IoT Events.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationLambdaArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the Lambda function that manages alarm notifications. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/lambda-support.html\">Managing alarm\n        notifications</a> in the <i>IoT Events Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration information of an alarm created in an IoT SiteWise Monitor portal.\n  You can use the alarm to monitor an asset property and get notified when the asset property value is outside a specified range.\n  For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/monitor-alarms.html\">Monitoring with alarms</a> in the <i>IoT SiteWise Application Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetBindingValueFilter": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset to filter data bindings by. \n      Only data bindings referencing this specific asset are matched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to match data bindings based on a specific asset. \n      This filter identifies all computation models referencing a particular asset in their data bindings.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetProperties",
          "traits": {
            "smithy.api#documentation": "<p>The asset properties that this composite model defines.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the asset composite model. </p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the asset composite model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a composite model in an asset. This object contains the asset's\n      properties that you define in the composite model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModelPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetCompositeModelPathSegment"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModelPathSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the path segment.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the path segment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents one level between a composite model and the root of the asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetCompositeModelSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModelSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the composite model that this summary describes.</p>",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>An external ID to assign to the asset model.</p>\n         <p>If the composite model is a derived composite model, or one nested inside a component\n      model, you can only set the external ID using <code>UpdateAssetModelCompositeModel</code> and\n      specifying the derived ID of the model or property from the created model it's a part\n      of.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model that this summary describes.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset model.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>ASSET_MODEL</b> – (default) An asset model that you can use to create assets.\n   Can't be included as a component in another asset model.</p>\n            </li>\n            <li>\n               <p>\n                  <b>COMPONENT_MODEL</b> – A reusable component that you can include in the composite\n   models of other asset models. You can't create assets directly from this type of asset model. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the composite model that this summary describes.</p>",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.amazonaws.iotsitewise#AssetCompositeModelPath",
          "traits": {
            "smithy.api#documentation": "<p>The path that includes all the components of the asset model for the asset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of the composite model for a specific asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetCompositeModel"
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorCode": {
      "type": "enum",
      "members": {
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorDetails": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset, in UUID format.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.iotsitewise#AssetErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.iotsitewise#AssetErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for the requested associate project asset action.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.iotsitewise#AssetHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetHierarchy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hierarchy. This ID is a <code>hierarchyId</code>.</p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the hierarchy, if it has one. When you update an asset hierarchy, you\n      may assign an external ID if it doesn't already have one. You can't change the external ID of\n      an asset hierarchy that already has one. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The hierarchy name provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>\n      API operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name and ID.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetHierarchyInfo": {
      "type": "structure",
      "members": {
        "parentAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent asset in this asset relationship.</p>"
          }
        },
        "childAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the child asset in this asset relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a parent asset and a child asset that are related through an\n      asset hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#ID"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelBindingValueFilter": {
      "type": "structure",
      "members": {
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model to filter data bindings by. \n      Only data bindings referemncing this specific asset model are matched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to match data bindings based on a specific asset model. \n      This filter identifies all computation models referencing a particular asset model in their data bindings.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetModelProperties",
          "traits": {
            "smithy.api#documentation": "<p>The asset property definitions for this composite model.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#CustomID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the asset model composite model. </p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the asset model composite model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a composite model in an asset model. This object contains the\n      asset property definitions that you define in the composite model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID to assign to the composite model, if desired. IoT SiteWise automatically generates a unique ID for you, so this parameter is never required.\n    However, if you prefer to supply your own ID instead, you can specify it here in UUID format.\n    If you specify your own ID, it must be globally unique.</p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>An external ID to assign to the composite model. The external ID must be unique among\n      composite models within this asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The asset property definitions for this composite model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a composite model definition in an asset model. This composite model definition\n      is applied to all assets created from the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModelPathSegment"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelPathSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the path segment.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the path segment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents one level between a composite model and the root of the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModelSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the composite model that this summary describes..</p>",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of a composite model on this asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model that this summary describes..</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The composite model type. Valid values are <code>AWS/ALARM</code>, <code>CUSTOM</code>, or <code> AWS/L4E_ANOMALY</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model that this summary describes..</p>"
          }
        },
        "path": {
          "target": "com.amazonaws.iotsitewise#AssetModelCompositeModelPath",
          "traits": {
            "smithy.api#documentation": "<p>The path that includes all the pieces that make up the composite model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of the composite model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModel"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#CustomID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model hierarchy. This ID is a <code>hierarchyId</code>.</p>\n         <ul>\n            <li>\n               <p>If you are callling <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> to create a\n            <i>new</i> hierarchy: You can specify its ID here, if desired.\n          IoT SiteWise automatically generates a unique ID for you, so this parameter is never required.\n    However, if you prefer to supply your own ID instead, you can specify it here in UUID format.\n    If you specify your own ID, it must be globally unique.</p>\n            </li>\n            <li>\n               <p>If you are calling UpdateAssetModel to modify an <i>existing</i>\n          hierarchy: This can be either the actual ID in UUID format, or else <code>externalId:</code> followed by the external ID, if it has one.\n    For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-id-references\">Referencing objects with external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>\n            </li>\n         </ul>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (if any) provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>\n      operation. You can assign an external ID by specifying\n      this value as part of a call to <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>. However, you can't change the external ID if one is already assigned. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy that you specify by using the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation.</p>",
            "smithy.api#required": {}
          }
        },
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#CustomID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model, in UUID format. All assets in this hierarchy must be instances of the\n        <code>childAssetModelId</code> asset model. IoT SiteWise will always return the actual\n      asset model ID for this value. However, when you are specifying this value as part of a call to\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>, you may provide either the asset model ID or else <code>externalId:</code>\n      followed by the asset model's external ID. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.\n    </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name, ID, and child asset model\n      ID that specifies the type of asset that can be in this hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID to assign to the asset model hierarchy, if desired. IoT SiteWise automatically generates a unique ID for you, so this parameter is never required.\n    However, if you prefer to supply your own ID instead, you can specify it here in UUID format.\n    If you specify your own ID, it must be globally unique.</p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>An external ID to assign to the asset model hierarchy. The external ID must be unique\n      among asset model hierarchies within this asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy definition (as specified in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation).</p>",
            "smithy.api#required": {}
          }
        },
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#CustomID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an asset model for this hierarchy. This can be either the actual ID in UUID format, or else <code>externalId:</code> followed by the external ID, if it has one.\n    For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-id-references\">Referencing objects with external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model hierarchy used in asset model creation. An asset model hierarchy\n      determines the kind (or type) of asset that can belong to a hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#CustomID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model property.</p>\n         <ul>\n            <li>\n               <p>If you are callling <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> to create a\n            <i>new</i> property: You can specify its ID here, if desired.\n          IoT SiteWise automatically generates a unique ID for you, so this parameter is never required.\n    However, if you prefer to supply your own ID instead, you can specify it here in UUID format.\n    If you specify your own ID, it must be globally unique.</p>\n            </li>\n            <li>\n               <p>If you are calling UpdateAssetModel to modify an <i>existing</i>\n          property: This can be either the actual ID in UUID format, or else <code>externalId:</code> followed by the external ID, if it has one.\n    For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-id-references\">Referencing objects with external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>\n            </li>\n         </ul>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID (if any) provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>\n      operation. You can assign an external ID by specifying\n      this value as part of a call to <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>. However, you can't change the external ID if one is already assigned. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the asset model property.</p>\n         <p>If you specify <code>STRUCT</code>, you must also specify <code>dataTypeSpec</code> to\n      identify the type of the structure for this property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter exists on properties that\n      have the <code>STRUCT</code> data type.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the asset model property, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property type (see <code>PropertyType</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "path": {
          "target": "com.amazonaws.iotsitewise#AssetModelPropertyPath",
          "traits": {
            "smithy.api#documentation": "<p>The structured path to the property from the root of the asset model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an asset model property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyBindingValue": {
      "type": "structure",
      "members": {
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model, in UUID format.</p>",
            "smithy.api#required": {}
          }
        },
        "propertyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model property used in data binding value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an <code>assetModelProperty</code> binding value.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyBindingValueFilter": {
      "type": "structure",
      "members": {
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model containing the filter property. \n      This identifies the specific asset model that contains the property of interest.</p>",
            "smithy.api#required": {}
          }
        },
        "propertyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the property within the asset model to filter by. \n      Only data bindings referencing this specific property of the specified asset model are matched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter used to match data bindings based on a specific asset model property. \n      This filter identifies all computation models that \n      reference a particular property of an asset model in their data bindings.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinition": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID to assign to the asset model property, if desired. IoT SiteWise automatically generates a unique ID for you, so this parameter is never required.\n    However, if you prefer to supply your own ID instead, you can specify it here in UUID format.\n    If you specify your own ID, it must be globally unique.</p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>An external ID to assign to the property definition. The external ID must be unique among\n      property definitions within this asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property definition.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the property definition.</p>\n         <p>If you specify <code>STRUCT</code>, you must also specify <code>dataTypeSpec</code> to\n      identify the type of the structure for this property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter is required on properties\n      that have the <code>STRUCT</code> data type.</p>\n         <p>The options for this parameter depend on the type of the composite model in which you\n      define this property. Use <code>AWS/ALARM_STATE</code> for alarm state in alarm composite\n      models.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the property definition, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property definition type (see <code>PropertyType</code>). You can only specify one\n      type in a property definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model property definition. This property definition is applied to all\n      assets created from the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyPath": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertyPathSegment"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyPathSegment": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the path segment.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the path segment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents one level between a property and the root of the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertySummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertySummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the property.</p>"
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter exists on properties that\n      have the <code>STRUCT</code> data type.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit (such as <code>Newtons</code> or <code>RPM</code>) of the property.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assetModelCompositeModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p> The ID of the composite model that contains the asset model property. </p>"
          }
        },
        "path": {
          "target": "com.amazonaws.iotsitewise#AssetModelPropertyPath",
          "traits": {
            "smithy.api#documentation": "<p>The structured path to the property from the root of the asset model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a property associated with a model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPAGATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetModelStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iotsitewise#AssetModelState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.amazonaws.iotsitewise#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains associated error information, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains current status information for an asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and model\n        states</a> in the <i>IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model (used with IoT SiteWise API operations).</p>",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset model, which has the following format.</p>\n         <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset-model/${AssetModelId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelType": {
          "target": "com.amazonaws.iotsitewise#AssetModelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of asset model.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>ASSET_MODEL</b> – (default) An asset model that you can use to create assets.\n   Can't be included as a component in another asset model.</p>\n            </li>\n            <li>\n               <p>\n                  <b>COMPONENT_MODEL</b> – A reusable component that you can include in the composite\n   models of other asset models. You can't create assets directly from this type of asset model. </p>\n            </li>\n         </ul>"
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The asset model description.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.iotsitewise#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the asset model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelType": {
      "type": "enum",
      "members": {
        "ASSET_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ASSET_MODEL"
          }
        },
        "COMPONENT_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPONENT_MODEL"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetModelVersionFilter": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(LATEST|ACTIVE)$"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelVersionType": {
      "type": "enum",
      "members": {
        "LATEST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATEST"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset property.</p>",
            "smithy.api#required": {}
          }
        },
        "externalId": {
          "target": "com.amazonaws.iotsitewise#ExternalId",
          "traits": {
            "smithy.api#documentation": "<p>The external ID of the asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/object-ids.html#external-ids\">Using external IDs</a> in the <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.amazonaws.iotsitewise#PropertyAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias that identifies the property, such as an OPC-UA server data stream path\n        (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/connect-data-streams.html\">Mapping industrial data streams to asset properties</a> in the\n        <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "notification": {
          "target": "com.amazonaws.iotsitewise#PropertyNotification",
          "traits": {
[...]
