{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iotsitewise#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1600
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.iotsitewise#AWSIoTSiteWise": {
      "type": "service",
      "version": "2019-12-02",
      "operations": [
        {
          "target": "com.amazonaws.iotsitewise#AssociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#AssociateTimeSeriesToAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchDisassociateProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyAggregates"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchGetAssetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iotsitewise#BatchPutAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateBulkImportJob"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#CreateProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeletePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DeleteTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeBulkImportJob"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeDefaultEncryptionConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeProject"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeStorageConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#DescribeTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#DisassociateAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#DisassociateTimeSeriesFromAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyAggregates"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValue"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetAssetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iotsitewise#GetInterpolatedAssetPropertyValues"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAccessPolicies"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModelProperties"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetModels"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetProperties"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssetRelationships"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListAssociatedAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListBulkImportJobs"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListDashboards"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListGateways"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListPortals"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjectAssets"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListProjects"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#ListTimeSeries"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutDefaultEncryptionConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutLoggingOptions"
        },
        {
          "target": "com.amazonaws.iotsitewise#PutStorageConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#TagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UntagResource"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAccessPolicy"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAsset"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetModel"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateAssetProperty"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateDashboard"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGateway"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateGatewayCapabilityConfiguration"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdatePortal"
        },
        {
          "target": "com.amazonaws.iotsitewise#UpdateProject"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTSiteWise",
          "arnNamespace": "iotsitewise",
          "cloudFormationName": "IoTSiteWise",
          "cloudTrailEventSource": "iotsitewise.amazonaws.com",
          "endpointPrefix": "iotsitewise"
        },
        "aws.auth#sigv4": {
          "name": "iotsitewise"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Welcome to the IoT SiteWise API Reference. IoT SiteWise is an Amazon Web Services service that connects <a href=\"https://en.wikipedia.org/wiki/Internet_of_things#Industrial_applications\">Industrial Internet of Things (IIoT)</a> devices to the power of the Amazon Web Services Cloud. For more information, see the\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/\">IoT SiteWise User Guide</a>. For information about IoT SiteWise quotas, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/quotas.html\">Quotas</a> in the <i>IoT SiteWise User Guide</i>.</p>",
        "smithy.api#title": "AWS IoT SiteWise",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iotsitewise-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iotsitewise-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iotsitewise.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://iotsitewise.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-east-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "cn-north-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iotsitewise.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AccessPolicySummary"
      }
    },
    "com.amazonaws.iotsitewise#AccessPolicySummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the access policy.</p>",
            "smithy.api#required": {}
          }
        },
        "identity": {
          "target": "com.amazonaws.iotsitewise#Identity",
          "traits": {
            "smithy.api#documentation": "<p>The identity (an IAM Identity Center user, an IAM Identity Center group, or an IAM user).</p>",
            "smithy.api#required": {}
          }
        },
        "resource": {
          "target": "com.amazonaws.iotsitewise#Resource",
          "traits": {
            "smithy.api#documentation": "<p>The IoT SiteWise Monitor resource (a portal or project).</p>",
            "smithy.api#required": {}
          }
        },
        "permission": {
          "target": "com.amazonaws.iotsitewise#Permission",
          "traits": {
            "smithy.api#documentation": "<p>The permissions for the access policy. Note that a project <code>ADMINISTRATOR</code> is\n      also known as a project owner.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was created, in Unix epoch time.</p>"
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the access policy was last updated, in Unix epoch time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an access policy that defines an identity's access to an IoT SiteWise Monitor\n      resource.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AggregateType": {
      "type": "enum",
      "members": {
        "AVERAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AVERAGE"
          }
        },
        "COUNT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COUNT"
          }
        },
        "MAXIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAXIMUM"
          }
        },
        "MINIMUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MINIMUM"
          }
        },
        "SUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUM"
          }
        },
        "STANDARD_DEVIATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STANDARD_DEVIATION"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AggregateTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregateType"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.iotsitewise#AggregatedDoubleValue": {
      "type": "double"
    },
    "com.amazonaws.iotsitewise#AggregatedValue": {
      "type": "structure",
      "members": {
        "timestamp": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the aggregating computations occurred, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.amazonaws.iotsitewise#Quality",
          "traits": {
            "smithy.api#documentation": "<p>The quality of the aggregated data.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.iotsitewise#Aggregates",
          "traits": {
            "smithy.api#documentation": "<p>The value of the aggregates.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains aggregated asset property values (for example, average, minimum, and\n      maximum).</p>"
      }
    },
    "com.amazonaws.iotsitewise#AggregatedValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AggregatedValue"
      }
    },
    "com.amazonaws.iotsitewise#Aggregates": {
      "type": "structure",
      "members": {
        "average": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The average (mean) value of the time series over a time interval window.</p>"
          }
        },
        "count": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The count of data points in the time series over a time interval window.</p>"
          }
        },
        "maximum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The maximum value of the time series over a time interval window.</p>"
          }
        },
        "minimum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The minimum value of the time series over a time interval window.</p>"
          }
        },
        "sum": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The sum of the time series over a time interval window.</p>"
          }
        },
        "standardDeviation": {
          "target": "com.amazonaws.iotsitewise#AggregatedDoubleValue",
          "traits": {
            "smithy.api#documentation": "<p>The standard deviation of the time series over a time interval window.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the (pre-calculated) aggregate values for an asset property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#Alarms": {
      "type": "structure",
      "members": {
        "alarmRoleArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IAM role that allows the alarm to perform actions and access Amazon Web Services\n      resources and services, such as IoT Events.</p>",
            "smithy.api#required": {}
          }
        },
        "notificationLambdaArn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the Lambda function that manages alarm notifications. For more\n      information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/lambda-support.html\">Managing alarm\n        notifications</a> in the <i>IoT Events Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the configuration information of an alarm created in an IoT SiteWise Monitor portal. \n  You can use the alarm to monitor an asset property and get notified when the asset property value is outside a specified range. \n  For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/monitor-alarms.html\">Monitoring with alarms</a> in the <i>IoT SiteWise Application Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetProperties",
          "traits": {
            "smithy.api#documentation": "<p>The asset properties that this composite model defines.</p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the asset composite model.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a composite model in an asset. This object contains the asset's\n      properties that you define in the composite model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetCompositeModels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetCompositeModel"
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorCode": {
      "type": "enum",
      "members": {
        "INTERNAL_FAILURE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_FAILURE"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorDetails": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "code": {
          "target": "com.amazonaws.iotsitewise#AssetErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "message": {
          "target": "com.amazonaws.iotsitewise#AssetErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for the requested associate project asset action.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.iotsitewise#AssetHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetHierarchy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the hierarchy. This ID is a <code>hierarchyId</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The hierarchy name provided in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a>\n      API operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name and ID.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetHierarchyInfo": {
      "type": "structure",
      "members": {
        "parentAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent asset in this asset relationship.</p>"
          }
        },
        "childAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the child asset in this asset relationship.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a parent asset and a child asset that are related through an\n      asset hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetIDs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#ID"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModel": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetModelProperties",
          "traits": {
            "smithy.api#documentation": "<p>The asset property definitions for this composite model.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the asset model composite model.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a composite model in an asset model. This object contains the\n      asset property definitions that you define in the composite model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the composite model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the composite model.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The type of the composite model. For alarm composite models, this type is\n        <code>AWS/ALARM</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "properties": {
          "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions",
          "traits": {
            "smithy.api#documentation": "<p>The asset property definitions for this composite model.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a composite model definition in an asset model. This composite model definition\n      is applied to all assets created from the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModelDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelCompositeModels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelCompositeModel"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchies": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchy"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchy": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model hierarchy. This ID is a <code>hierarchyId</code>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy that you specify by using the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation.</p>",
            "smithy.api#required": {}
          }
        },
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model. All assets in this hierarchy must be instances of the\n        <code>childAssetModelId</code> asset model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an asset hierarchy that contains a hierarchy's name, ID, and child asset model\n      ID that specifies the type of asset that can be in this hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model hierarchy definition (as specified in the <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_CreateAssetModel.html\">CreateAssetModel</a> or\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetModel.html\">UpdateAssetModel</a> API operation).</p>",
            "smithy.api#required": {}
          }
        },
        "childAssetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of an asset model for this hierarchy.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model hierarchy used in asset model creation. An asset model hierarchy\n      determines the kind (or type) of asset that can belong to a hierarchy.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelHierarchyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelHierarchyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model property.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the asset model property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter exists on properties that\n      have the <code>STRUCT</code> data type.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the asset model property, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property type (see <code>PropertyType</code>).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an asset model property.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property definition.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the property definition.</p>\n         <p>If you specify <code>STRUCT</code>, you must also specify <code>dataTypeSpec</code> to\n      identify the type of the structure for this property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter is required on properties\n      that have the <code>STRUCT</code> data type.</p>\n         <p>The options for this parameter depend on the type of the composite model in which you\n      define this property. Use <code>AWS/ALARM_STATE</code> for alarm state in alarm composite\n      models.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of the property definition, such as <code>Newtons</code> or\n      <code>RPM</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#documentation": "<p>The property definition type (see <code>PropertyType</code>). You can only specify one\n      type in a property definition.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset model property definition. This property definition is applied to all\n      assets created from the asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertyDefinitions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertyDefinition"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelPropertySummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelPropertySummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the property.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter exists on properties that\n      have the <code>STRUCT</code> data type.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit (such as <code>Newtons</code> or <code>RPM</code>) of the property.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iotsitewise#PropertyType",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "assetModelCompositeModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the composite model that contains the asset model property.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a property associated with a model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "PROPAGATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROPAGATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetModelStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iotsitewise#AssetModelState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.amazonaws.iotsitewise#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains associated error information, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains current status information for an asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and model\n        states</a> in the <i>IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetModelSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetModelSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model (used with IoT SiteWise APIs).</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset model, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset-model/${AssetModelId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset model.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>The asset model description.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset model was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset model.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an asset model.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetProperties": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetProperty"
      }
    },
    "com.amazonaws.iotsitewise#AssetProperty": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset property.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        },
        "alias": {
          "target": "com.amazonaws.iotsitewise#PropertyAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias that identifies the property, such as an OPC-UA server data stream path\n        (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/connect-data-streams.html\">Mapping industrial data streams to asset properties</a> in the\n        <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "notification": {
          "target": "com.amazonaws.iotsitewise#PropertyNotification",
          "traits": {
            "smithy.api#documentation": "<p>The asset property's notification topic and state. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p>"
          }
        },
        "dataType": {
          "target": "com.amazonaws.iotsitewise#PropertyDataType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the asset property.</p>",
            "smithy.api#required": {}
          }
        },
        "dataTypeSpec": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the structure for this property. This parameter exists on properties that\n      have the <code>STRUCT</code> data type.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit (such as <code>Newtons</code> or <code>RPM</code>) of the asset property.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains asset property information.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyAlias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[^\\u0000-\\u001F\\u007F]+$"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetPropertySummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertySummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the property.</p>"
          }
        },
        "alias": {
          "target": "com.amazonaws.iotsitewise#PropertyAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias that identifies the property, such as an OPC-UA server data stream path\n        (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/connect-data-streams.html\">Mapping industrial data streams to asset properties</a> in the\n        <i>IoT SiteWise User Guide</i>.</p>"
          }
        },
        "unit": {
          "target": "com.amazonaws.iotsitewise#PropertyUnit",
          "traits": {
            "smithy.api#documentation": "<p>\n      The unit of measure (such as Newtons or RPM) of the asset property.\n    </p>"
          }
        },
        "notification": {
          "target": "com.amazonaws.iotsitewise#PropertyNotification"
        },
        "assetCompositeModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>\n      The ID of the composite model that contains the asset property.\n    </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of a property associated with an asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValue": {
      "type": "structure",
      "members": {
        "value": {
          "target": "com.amazonaws.iotsitewise#Variant",
          "traits": {
            "smithy.api#documentation": "<p>The value of the asset property (see <code>Variant</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "timestamp": {
          "target": "com.amazonaws.iotsitewise#TimeInNanos",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the asset property value.</p>",
            "smithy.api#required": {}
          }
        },
        "quality": {
          "target": "com.amazonaws.iotsitewise#Quality",
          "traits": {
            "smithy.api#documentation": "<p>The quality of the asset property value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains asset property value information.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValueHistory": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetPropertyValue"
      }
    },
    "com.amazonaws.iotsitewise#AssetPropertyValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetPropertyValue"
      }
    },
    "com.amazonaws.iotsitewise#AssetRelationshipSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetRelationshipSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetRelationshipSummary": {
      "type": "structure",
      "members": {
        "hierarchyInfo": {
          "target": "com.amazonaws.iotsitewise#AssetHierarchyInfo",
          "traits": {
            "smithy.api#documentation": "<p>The assets that are related through an asset hierarchy.</p>\n         <p>This object is present if the <code>relationshipType</code> is\n      <code>HIERARCHY</code>.</p>"
          }
        },
        "relationshipType": {
          "target": "com.amazonaws.iotsitewise#AssetRelationshipType",
          "traits": {
            "smithy.api#documentation": "<p>The relationship type of the assets in this relationship. This value is one of the\n      following:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>HIERARCHY</code> – The assets are related through an asset hierarchy. If\n          you specify this relationship type, this asset relationship includes the\n            <code>hierarchyInfo</code> object.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about assets that are related to one another.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetRelationshipType": {
      "type": "enum",
      "members": {
        "HIERARCHY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIERARCHY"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetState": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssetStatus": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iotsitewise#AssetState",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "error": {
          "target": "com.amazonaws.iotsitewise#ErrorDetails",
          "traits": {
            "smithy.api#documentation": "<p>Contains associated error information, if any.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the current status of an asset. For more information, see\n        <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-and-model-states.html\">Asset and model\n        states</a> in the <i>IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssetSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssetSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model used to create this asset.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "hierarchies": {
          "target": "com.amazonaws.iotsitewise#AssetHierarchies",
          "traits": {
            "smithy.api#documentation": "<p>A list of asset hierarchies that each contain a <code>hierarchyId</code>. A hierarchy specifies allowed parent/child asset relationships.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AssociateAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#AssociateAssetsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a child asset with the given parent asset through a hierarchy defined in the\n      parent asset's model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/add-associated-assets.html\">Associating assets</a> in the\n        <i>IoT SiteWise User Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assets/{assetId}/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociateAssetsRequest": {
      "type": "structure",
      "members": {
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent asset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "hierarchyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a hierarchy in the parent asset's model. Hierarchies allow different groupings\n      of assets to be formed that all come from the same asset model. For more information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-hierarchies.html\">Asset hierarchies</a> in the <i>IoT SiteWise User Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "childAssetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the child asset to be associated.</p>",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociateTimeSeriesToAssetProperty": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#AssociateTimeSeriesToAssetPropertyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#ConflictingOperationException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a time series (data stream) with an asset property.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/timeseries/associate",
          "code": 200
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociateTimeSeriesToAssetPropertyRequest": {
      "type": "structure",
      "members": {
        "alias": {
          "target": "com.amazonaws.iotsitewise#PropertyAlias",
          "traits": {
            "smithy.api#documentation": "<p>The alias that identifies the time series.</p>",
            "smithy.api#httpQuery": "alias",
            "smithy.api#required": {}
          }
        },
        "assetId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset in which the asset property was created.</p>",
            "smithy.api#httpQuery": "assetId",
            "smithy.api#required": {}
          }
        },
        "propertyId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset property.</p>",
            "smithy.api#httpQuery": "propertyId",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.iotsitewise#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique case-sensitive identifier that you can provide to ensure the idempotency of the request. Don't reuse this client token if a new idempotent request is required.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#AssociatedAssetsSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iotsitewise#AssociatedAssetsSummary"
      }
    },
    "com.amazonaws.iotsitewise#AssociatedAssetsSummary": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iotsitewise#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the asset, which has the following format.</p>\n        <p>\n            <code>arn:${Partition}:iotsitewise:${Region}:${Account}:asset/${AssetId}</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.iotsitewise#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "assetModelId": {
          "target": "com.amazonaws.iotsitewise#ID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the asset model used to create the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was created, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "lastUpdateDate": {
          "target": "com.amazonaws.iotsitewise#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date the asset was last updated, in Unix epoch time.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.iotsitewise#AssetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the asset.</p>",
            "smithy.api#required": {}
          }
        },
        "hierarchies": {
          "target": "com.amazonaws.iotsitewise#AssetHierarchies",
          "traits": {
            "smithy.api#documentation": "<p>A list of asset hierarchies that each contain a <code>hierarchyId</code>. A hierarchy specifies allowed parent/child asset relationships.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iotsitewise#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of an associated asset.</p>"
      }
    },
    "com.amazonaws.iotsitewise#Attribute": {
      "type": "structure",
      "members": {
        "defaultValue": {
          "target": "com.amazonaws.iotsitewise#DefaultValue",
          "traits": {
            "smithy.api#documentation": "<p>The default value of the asset model property attribute. All assets that you create from\n      the asset model contain this attribute value. You can update an attribute's value after you\n      create an asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-attribute-values.html\">Updating attribute values</a> in the\n        <i>IoT SiteWise User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains an asset attribute property. For more information, see\n      <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/asset-properties.html#attributes\">Attributes</a> in the <i>IoT SiteWise User Guide</i>.</p>"
      }
    },
    "com.amazonaws.iotsitewise#AuthMode": {
      "type": "enum",
      "members": {
        "IAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IAM"
          }
        },
        "SSO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SSO"
          }
        }
      }
    },
    "com.amazonaws.iotsitewise#BatchAssociateProjectAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsRequest"
      },
      "output": {
        "target": "com.amazonaws.iotsitewise#BatchAssociateProjectAssetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iotsitewise#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iotsitewise#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iotsitewise#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iotsitewise#ThrottlingException"
        }
      ],
      "traits": {
[...]
