{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.iot.thingsgraph.types#Arn": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph#AssociateEntityToThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#AssociateEntityToThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#AssociateEntityToThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates a device with a concrete thing that is in the user's registry.</p>\n         <p>A thing can be associated with only one device at a time. If you associate a thing with a new device id, its previous association will be removed.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#AssociateEntityToThingRequest": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device to be associated with the thing.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "namespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>"
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.thingsgraph.types#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to which the entity is to be associated.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#AssociateEntityToThingResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#CreateFlowTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#CreateFlowTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#CreateFlowTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a workflow template. Workflows can be created only in the user's namespace. (The public namespace contains only \n         entities.) The workflow can contain only entities in the specified namespace. The workflow is validated against the entities in the \n      latest version of the user's namespace unless another namespace version is specified in the request.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateFlowTemplateRequest": {
      "type": "structure",
      "members": {
        "compatibleNamespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The namespace version in which the workflow is to be created.</p>\n         <p>If no value is specified, the latest version is used by default.</p>"
          }
        },
        "definition": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionDocument",
          "traits": {
            "smithy.api#documentation": "<p>The workflow <code>DefinitionDocument</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateFlowTemplateResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary object that describes the created workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#CreateSystemInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#CreateSystemInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#LimitExceededException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a system instance. </p>\n         <p>This action validates the system instance, prepares the deployment-related resources. For Greengrass deployments, it updates the Greengrass group that is \n            specified by the <code>greengrassGroupName</code> parameter. It also adds a file to the S3 bucket specified by the <code>s3BucketName</code> parameter. You need to \n            call <code>DeploySystemInstance</code> after running this action.</p>\n         <p>For Greengrass deployments, since this action modifies and adds resources to a Greengrass group and an S3 bucket on the caller's behalf, the calling identity must have write permissions \n         to both the specified Greengrass group and S3 bucket. Otherwise, the call will fail with an authorization error.</p>\n         <p>For cloud deployments, this action requires a <code>flowActionsRoleArn</code> value. This is an IAM role \n      that has permissions to access AWS services, such as AWS Lambda and AWS IoT, that the flow uses when it executes.</p>\n         <p>If the definition document doesn't specify a version of the user's namespace, the latest version will be used by default.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemInstanceRequest": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionDocument",
          "traits": {
            "smithy.api#required": true
          }
        },
        "flowActionsRoleArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role that AWS IoT Things Graph will assume when it executes the flow. This role must have \n      read and write access to AWS Lambda and AWS IoT and any other AWS services that the flow uses when it executes.  This \n      value is required if the value of the <code>target</code> parameter is <code>CLOUD</code>.</p>"
          }
        },
        "greengrassGroupName": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Greengrass group where the system instance will be deployed. This value is required if \n      the value of the <code>target</code> parameter is <code>GREENGRASS</code>.</p>"
          }
        },
        "metricsConfiguration": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#MetricsConfiguration"
        },
        "s3BucketName": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Simple Storage Service bucket that will be used to store and deploy the system instance's resource file. This value is required if \n         the value of the <code>target</code> parameter is <code>GREENGRASS</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iot.thingsgraph.tags#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Metadata, consisting of key-value pairs, that can be used to categorize your system instances.</p>"
          }
        },
        "target": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#DeploymentTarget",
          "traits": {
            "smithy.api#documentation": "<p>The target type of the deployment. Valid values are <code>GREENGRASS</code> and <code>CLOUD</code>.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemInstanceResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemInstanceSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary object that describes the new system instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#CreateSystemTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#CreateSystemTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a system. The system is validated against the entities in the \n         latest version of the user's namespace unless another namespace version is specified in the request.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemTemplateRequest": {
      "type": "structure",
      "members": {
        "compatibleNamespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The namespace version in which the system is to be created.</p>\n         <p>If no value is specified, the latest version is used by default.</p>"
          }
        },
        "definition": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionDocument",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DefinitionDocument</code> used to create the system.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#CreateSystemTemplateResponse": {
      "type": "structure",
      "members": {
        "summary": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemTemplateSummary",
          "traits": {
            "smithy.api#documentation": "<p>The summary object that describes the created system.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#DefinitionDocument": {
      "type": "structure",
      "members": {
        "language": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionLanguage",
          "traits": {
            "smithy.api#documentation": "<p>The language used to define the entity. <code>GRAPHQL</code> is the only valid value.</p>",
            "smithy.api#required": true
          }
        },
        "text": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionText",
          "traits": {
            "smithy.api#documentation": "<p>The GraphQL text that defines the entity.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document that defines an entity. </p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types#DefinitionLanguage": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "GRAPHQL": {
            "name": "GRAPHQL"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#DefinitionText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteFlowTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteFlowTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteFlowTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workflow. Any new system or deployment that contains this workflow will fail to update or deploy. \n         Existing deployments that contain the workflow will continue to run (since they use a snapshot of the workflow taken at the time of deployment).</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteFlowTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow to be deleted.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteFlowTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#DeleteNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified namespace. This action deletes all of the entities in the namespace. Delete the systems and flows that use entities in the namespace before performing this action.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteNamespaceRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#DeleteNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespaceArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the namespace to be deleted.</p>"
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace to be deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteSystemInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteSystemInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a system instance. \n         Only system instances that have never been deployed, or that have been undeployed can be deleted.</p>\n         <p>Users can create a new system instance that has the same ID as a deleted system instance.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemInstanceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system instance to be deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemInstanceResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteSystemTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeleteSystemTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a system. New deployments can't contain the system after its deletion. \n      Existing deployments that contain the system will continue to work because they use a snapshot of the system that is taken when it is deployed.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system to be deleted.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeleteSystemTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#DependencyRevision": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow or system.</p>"
          }
        },
        "revisionNumber": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the workflow or system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the ID and revision number of a workflow or system that is part of a deployment.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#DependencyRevisions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#DependencyRevision"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeploySystemInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeploySystemInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeploySystemInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <b>Greengrass and Cloud Deployments</b>\n         </p>\n         <p>Deploys the system instance to the target specified in <code>CreateSystemInstance</code>. </p>\n         <p>\n            <b>Greengrass Deployments</b>\n         </p>\n         <p>If the system or any workflows and entities have been updated before this action is called, then the deployment will create a new Amazon Simple Storage Service \n         resource file and then deploy it.</p>\n         <p>Since this action creates a Greengrass deployment on the caller's behalf, the calling identity must have write permissions \n         to the specified Greengrass group. Otherwise, the call will fail with an authorization error.</p>\n         <p>For information about the artifacts that get added to your Greengrass core device when you use this API, see <a href=\"https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-greengrass.html\">AWS IoT Things Graph and AWS IoT Greengrass</a>.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeploySystemInstanceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system instance. This value is returned by the <code>CreateSystemInstance</code> action.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:deployment:DEPLOYMENTNAME</code>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeploySystemInstanceResponse": {
      "type": "structure",
      "members": {
        "greengrassDeploymentId": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#GreengrassDeploymentId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Greengrass deployment used to deploy the system instance.</p>"
          }
        },
        "summary": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemInstanceSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about a system instance that was deployed. </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#DeploymentTarget": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "GREENGRASS": {
            "name": "GREENGRASS"
          },
          "CLOUD": {
            "name": "CLOUD"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#DeprecateExistingEntities": {
      "type": "boolean"
    },
    "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deprecates the specified workflow. This action marks the workflow for deletion. Deprecated flows can't be deployed, but existing deployments will continue to run.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow to be deleted.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deprecates the specified system.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system to delete.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplateResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#DescribeNamespace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DescribeNamespaceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DescribeNamespaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the latest version of the user's namespace and the public version that it is tracking.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DescribeNamespaceRequest": {
      "type": "structure",
      "members": {
        "namespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the user's namespace. Set this to <code>aws</code> to get the public namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DescribeNamespaceResponse": {
      "type": "structure",
      "members": {
        "namespaceArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the namespace.</p>"
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace.</p>"
          }
        },
        "namespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace to describe.</p>"
          }
        },
        "trackingNamespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the public namespace that the latest namespace version is tracking.</p>"
          }
        },
        "trackingNamespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the public namespace that the latest version is tracking.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DissociateEntityFromThing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#DissociateEntityFromThingRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#DissociateEntityFromThingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Dissociates a device entity from a concrete thing. The action takes only the type of the entity that you need to dissociate because only \n         one entity of a particular type can be associated with a thing.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#DissociateEntityFromThingRequest": {
      "type": "structure",
      "members": {
        "entityType": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type from which to disassociate the thing.</p>",
            "smithy.api#required": true
          }
        },
        "thingName": {
          "target": "com.amazonaws.iot.thingsgraph.types#ThingName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the thing to disassociate.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#DissociateEntityFromThingResponse": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph.types#Enabled": {
      "type": "boolean"
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityDescription": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The entity ARN.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the entity was created.</p>"
          }
        },
        "definition": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionDocument",
          "traits": {
            "smithy.api#documentation": "<p>The definition document of the entity.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The entity ID.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of an entity.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityDescription"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity search filter field. <code>REFERENCED_ENTITY_ID</code> filters on entities that are used by the entity in the result set. For example, \n         you can filter on the ID of a property that is used in a state.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array of string values for the search filter field. Multiple values function as AND criteria in the search.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that filters an entity search. Multiple filters function as OR criteria in the search. For example a search that includes \n      a <code>NAMESPACE</code> and a <code>REFERENCED_ENTITY_ID</code> filter searches for entities in the specified namespace that use the entity specified by \n      the value of <code>REFERENCED_ENTITY_ID</code>.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "NAME": {
            "name": "NAME"
          },
          "NAMESPACE": {
            "name": "NAMESPACE"
          },
          "SEMANTIC_TYPE_PATH": {
            "name": "SEMANTIC_TYPE_PATH"
          },
          "REFERENCED_ENTITY_ID": {
            "name": "REFERENCED_ENTITY_ID"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterValue": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityFilterValue"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityFilter"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DEVICE": {
            "name": "DEVICE"
          },
          "SERVICE": {
            "name": "SERVICE"
          },
          "DEVICE_MODEL": {
            "name": "DEVICE_MODEL"
          },
          "CAPABILITY": {
            "name": "CAPABILITY"
          },
          "STATE": {
            "name": "STATE"
          },
          "ACTION": {
            "name": "ACTION"
          },
          "EVENT": {
            "name": "EVENT"
          },
          "PROPERTY": {
            "name": "PROPERTY"
          },
          "MAPPING": {
            "name": "MAPPING"
          },
          "ENUM": {
            "name": "ENUM"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#EntityTypes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityType"
      }
    },
    "com.amazonaws.iot.thingsgraph.types#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionEventType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "EXECUTION_STARTED": {
            "name": "EXECUTION_STARTED"
          },
          "EXECUTION_FAILED": {
            "name": "EXECUTION_FAILED"
          },
          "EXECUTION_ABORTED": {
            "name": "EXECUTION_ABORTED"
          },
          "EXECUTION_SUCCEEDED": {
            "name": "EXECUTION_SUCCEEDED"
          },
          "STEP_STARTED": {
            "name": "STEP_STARTED"
          },
          "STEP_FAILED": {
            "name": "STEP_FAILED"
          },
          "STEP_SUCCEEDED": {
            "name": "STEP_SUCCEEDED"
          },
          "ACTIVITY_SCHEDULED": {
            "name": "ACTIVITY_SCHEDULED"
          },
          "ACTIVITY_STARTED": {
            "name": "ACTIVITY_STARTED"
          },
          "ACTIVITY_FAILED": {
            "name": "ACTIVITY_FAILED"
          },
          "ACTIVITY_SUCCEEDED": {
            "name": "ACTIVITY_SUCCEEDED"
          },
          "START_FLOW_EXECUTION_TASK": {
            "name": "START_FLOW_EXECUTION_TASK"
          },
          "SCHEDULE_NEXT_READY_STEPS_TASK": {
            "name": "SCHEDULE_NEXT_READY_STEPS_TASK"
          },
          "THING_ACTION_TASK": {
            "name": "THING_ACTION_TASK"
          },
          "THING_ACTION_TASK_FAILED": {
            "name": "THING_ACTION_TASK_FAILED"
          },
          "THING_ACTION_TASK_SUCCEEDED": {
            "name": "THING_ACTION_TASK_SUCCEEDED"
          },
          "ACKNOWLEDGE_TASK_MESSAGE": {
            "name": "ACKNOWLEDGE_TASK_MESSAGE"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionId": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessage": {
      "type": "structure",
      "members": {
        "eventType": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionEventType",
          "traits": {
            "smithy.api#documentation": "<p>The type of flow event .</p>"
          }
        },
        "messageId": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessageId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the message.</p>"
          }
        },
        "payload": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessagePayload",
          "traits": {
            "smithy.api#documentation": "<p>A string containing information about the flow event.</p>"
          }
        },
        "timestamp": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the message was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about a flow event.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessageId": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessagePayload": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessages": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessage"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "RUNNING": {
            "name": "RUNNING"
          },
          "ABORTED": {
            "name": "ABORTED"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionSummary"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionSummary": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the flow execution summary was created.</p>"
          }
        },
        "flowExecutionId": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the flow execution.</p>"
          }
        },
        "flowTemplateId": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the flow.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the flow execution.</p>"
          }
        },
        "systemInstanceId": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system instance that contains the flow.</p>"
          }
        },
        "updatedAt": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the flow execution summary was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains summary information about a flow execution.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateDescription": {
      "type": "structure",
      "members": {
        "definition": {
          "target": "com.amazonaws.iot.thingsgraph.types#DefinitionDocument",
          "traits": {
            "smithy.api#documentation": "<p>A workflow's definition document.</p>"
          }
        },
        "summary": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about a workflow.</p>"
          }
        },
        "validatedNamespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace against which the workflow was validated. Use this value in your system instance.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains a workflow's definition and summary information.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the search filter field.</p>",
            "smithy.api#required": true
          }
        },
        "value": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array of string values for the search filter field. Multiple values function as AND criteria in the search.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that filters a workflow search.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "DEVICE_MODEL_ID": {
            "name": "DEVICE_MODEL_ID"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterValue": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^urn:tdm:(([a-z]{2}-(gov-)?[a-z]{4,9}-[0-9]{1,3}/[0-9]+/)*[\\p{Alnum}_]+(/[\\p{Alnum}_]+)*):([\\p{Alpha}]*):([\\p{Alnum}_]+(/[\\p{Alnum}_]+)*)$"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilterValue"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilter"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummary"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the workflow.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the workflow was created.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow.</p>"
          }
        },
        "revisionNumber": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The revision number of the workflow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains summary information about a workflow.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets definitions of the specified entities. Uses the latest version of the user's namespace by default. This API returns the \n      following TDM entities.</p>\n         <ul>\n            <li>\n               <p>Properties</p>\n            </li>\n            <li>\n               <p>States</p>\n            </li>\n            <li>\n               <p>Events</p>\n            </li>\n            <li>\n               <p>Actions</p>\n            </li>\n            <li>\n               <p>Capabilities</p>\n            </li>\n            <li>\n               <p>Mappings</p>\n            </li>\n            <li>\n               <p>Devices</p>\n            </li>\n            <li>\n               <p>Device Models</p>\n            </li>\n            <li>\n               <p>Services</p>\n            </li>\n         </ul>\n         <p>This action doesn't return definitions for systems, flows, and deployments.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetEntitiesRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urns",
          "traits": {
            "smithy.api#documentation": "<p>An array of entity IDs.</p>\n         <p>The IDs should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "namespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetEntitiesResponse": {
      "type": "structure",
      "members": {
        "descriptions": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of descriptions for the specified entities.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the latest version of the <code>DefinitionDocument</code> and <code>FlowTemplateSummary</code> for the specified workflow.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "revisionNumber": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The number of the workflow revision to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplateResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateDescription",
          "traits": {
            "smithy.api#documentation": "<p>The object that describes the specified workflow.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisionsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets revisions of the specified workflow. Only the last 100 revisions are stored. If the workflow has been deprecated, \n      this action will return revisions that occurred before the deprecation. This action won't work for workflows that have been deleted.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workflow.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:workflow:WORKFLOWNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results.</p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that provide summary data about each revision.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status of a namespace deletion task.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatusRequest": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatusResponse": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#NamespaceDeletionStatusErrorCodes",
          "traits": {
            "smithy.api#documentation": "<p>An error code returned by the namespace deletion task.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.iot.thingsgraph.types#String",
          "traits": {
            "smithy.api#documentation": "<p>An error code returned by the namespace deletion task.</p>"
          }
        },
        "namespaceArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the namespace that is being deleted.</p>"
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the namespace that is being deleted.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#NamespaceDeletionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the deletion request.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemInstance": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemInstanceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemInstanceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a system instance.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemInstanceRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system deployment instance. This value is returned by <code>CreateSystemInstance</code>.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:deployment:DEPLOYMENTNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemInstanceResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemInstanceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the system instance.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplateRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a system.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplateRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system to get. This ID must be in the user's namespace.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "revisionNumber": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The number that specifies the revision of the system to get.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplateResponse": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemTemplateDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary data about the system.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisionsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets revisions made to the specified system template. Only the previous 100 revisions are stored. If the system has been deprecated, this action will return \n      the revisions that occurred before its deprecation. This action won't work with systems that have been deleted.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisionsRequest": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system template.</p>\n         <p>The ID should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:system:SYSTEMNAME</code>\n         </p>",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results. </p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemTemplateSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain summary data about the system template revisions.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetUploadStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#GetUploadStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#GetUploadStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the status of the specified upload.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph#GetUploadStatusRequest": {
      "type": "structure",
      "members": {
        "uploadId": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the upload. This value is returned by the <code>UploadEntityDefinitions</code> action.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#GetUploadStatusResponse": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date at which the upload was created.</p>",
            "smithy.api#required": true
          }
        },
        "failureReason": {
          "target": "com.amazonaws.iot.thingsgraph.types#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The reason for an upload failure.</p>"
          }
        },
        "namespaceArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the upload.</p>"
          }
        },
        "namespaceName": {
          "target": "com.amazonaws.iot.thingsgraph.types#NamespaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the upload's namespace.</p>"
          }
        },
        "namespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>"
          }
        },
        "uploadId": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#UploadId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the upload.</p>",
            "smithy.api#required": true
          }
        },
        "uploadStatus": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#UploadStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the upload. The initial status is <code>IN_PROGRESS</code>. The response show all validation failures if the upload fails.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#GreengrassDeploymentId": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#GreengrassGroupId": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#GreengrassGroupVersionId": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types.flow#GroupName": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.iot.thingsgraph.types#InvalidRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.iot.thingsgraph#IotThingsGraphFrontEndService": {
      "type": "service",
      "version": "2018-09-06",
      "operations": [
        {
          "target": "com.amazonaws.iot.thingsgraph#AssociateEntityToThing"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#CreateFlowTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#CreateSystemInstance"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#CreateSystemTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeleteFlowTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeleteNamespace"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeleteSystemInstance"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeleteSystemTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeploySystemInstance"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeprecateFlowTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DeprecateSystemTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DescribeNamespace"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#DissociateEntityFromThing"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetEntities"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetFlowTemplateRevisions"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetNamespaceDeletionStatus"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetSystemInstance"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetSystemTemplateRevisions"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#GetUploadStatus"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessages"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchEntities"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchFlowExecutions"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchFlowTemplates"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchSystemInstances"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchSystemTemplates"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#SearchThings"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#TagResource"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#UndeploySystemInstance"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#UntagResource"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#UpdateFlowTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#UpdateSystemTemplate"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph#UploadEntityDefinitions"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTThingsGraph",
          "arnNamespace": "iotthingsgraph",
          "cloudFormationName": "IoTThingsGraph",
          "cloudTrailEventSource": "thingsgraph.iot.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS IoT Things Graph</fullname>\n         <p>AWS IoT Things Graph provides an integrated set of tools that enable developers to connect devices and services that use different standards, \n       such as units of measure and communication protocols. AWS IoT Things Graph makes it possible to build IoT applications with little to no code by connecting devices and services \n       and defining how they interact at an abstract level.</p>\n         <p>For more information about how AWS IoT Things Graph works, see the <a href=\"https://docs.aws.amazon.com/thingsgraph/latest/ug/iot-tg-whatis.html\">User Guide</a>.</p>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS IoT Things Graph"
      }
    },
    "com.amazonaws.iot.thingsgraph.types#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 410
      }
    },
    "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessagesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessagesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of objects that contain information about events in a flow execution.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "messages",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessagesRequest": {
      "type": "structure",
      "members": {
        "flowExecutionId": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the flow execution.</p>",
            "smithy.api#required": true
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#ListFlowExecutionMessagesResponse": {
      "type": "structure",
      "members": {
        "messages": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionMessages",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects that contain information about events in the specified flow execution.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists all tags on an AWS IoT Things Graph resource.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "tags",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of tags to return.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return.</p>"
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource whose tags are to be returned.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that specifies the next page of results to return.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iot.thingsgraph.tags#TagList",
          "traits": {
            "smithy.api#documentation": "<p>List of tags returned by the <code>ListTagsForResource</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#MetricsConfiguration": {
      "type": "structure",
      "members": {
        "cloudMetricEnabled": {
          "target": "com.amazonaws.iot.thingsgraph.types#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean that specifies whether cloud metrics are collected.</p>"
          }
        },
        "metricRuleRoleArn": {
          "target": "com.amazonaws.iot.thingsgraph.types#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that is used to collect cloud metrics.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that specifies whether cloud metrics are collected in a deployment and, if so, what role is used to collect metrics.</p>"
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#NamespaceDeletionStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "SUCCEEDED": {
            "name": "SUCCEEDED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.entities#NamespaceDeletionStatusErrorCodes": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "VALIDATION_FAILED": {
            "name": "VALIDATION_FAILED"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#NamespaceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#NextToken": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph.types#ResourceAlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iot.thingsgraph.types#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types#ResourceInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 412
      }
    },
    "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iot.thingsgraph.types#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.iot.thingsgraph.types#RoleArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iot.thingsgraph.types.flow#S3BucketName": {
      "type": "string"
    },
    "com.amazonaws.iot.thingsgraph#SearchEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for entities of the specified type. You can search for entities in your namespace and the public namespace that you're tracking.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "descriptions",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchEntitiesRequest": {
      "type": "structure",
      "members": {
        "entityTypes": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityTypes",
          "traits": {
            "smithy.api#documentation": "<p>The entity types for which to search.</p>",
            "smithy.api#required": true
          }
        },
        "filters": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityFilters",
          "traits": {
            "smithy.api#documentation": "<p>Optional filter to apply to the search. Valid filters are <code>NAME</code> \n            <code>NAMESPACE</code>, <code>SEMANTIC_TYPE_PATH</code> and <code>REFERENCED_ENTITY_ID</code>. \n         <code>REFERENCED_ENTITY_ID</code> filters on entities that are used by the entity in the result set. For example, \n      you can filter on the ID of a property that is used in a state.</p>\n         <p>Multiple filters function as OR criteria in the query. Multiple values passed inside the filter function as AND criteria.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "namespaceVersion": {
          "target": "com.amazonaws.iot.thingsgraph.types#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the user's namespace. Defaults to the latest version of the user's namespace.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchEntitiesResponse": {
      "type": "structure",
      "members": {
        "descriptions": {
          "target": "com.amazonaws.iot.thingsgraph.types.entities#EntityDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>An array of descriptions for each entity returned in the search result.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchFlowExecutionsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchFlowExecutionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for AWS IoT Things Graph workflow execution instances.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowExecutionsRequest": {
      "type": "structure",
      "members": {
        "endTime": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the latest flow execution to return.</p>"
          }
        },
        "flowExecutionId": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of a flow execution.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        },
        "startTime": {
          "target": "com.amazonaws.iot.thingsgraph.types#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time of the earliest flow execution to return.</p>"
          }
        },
        "systemInstanceId": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the system instance that contains the flow.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowExecutionsResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results.</p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowExecutionSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain summary information about each workflow execution in the result set.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchFlowTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchFlowTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for summary information about workflows.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowTemplatesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that limit the result set. The only valid filter is <code>DEVICE_MODEL_ID</code>.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchFlowTemplatesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results.</p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#FlowTemplateSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain summary information about each workflow in the result set.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchSystemInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchSystemInstancesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for system instances in the user's account.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemInstancesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemInstanceFilters",
          "traits": {
            "smithy.api#documentation": "<p>Optional filter to apply to the search. Valid filters are <code>SYSTEM_TEMPLATE_ID</code>, <code>STATUS</code>, and \n         <code>GREENGRASS_GROUP_NAME</code>.</p>\n         <p>Multiple filters function as OR criteria in the query. Multiple values passed inside the filter function as AND criteria.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemInstancesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results. </p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemInstanceSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain summary data abour the system instances in the result set.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemTemplates": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchSystemTemplatesRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchSystemTemplatesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for summary information about systems in the user's account. You can filter by the ID of a workflow to return only systems that use the specified workflow.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "summaries",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemTemplatesRequest": {
      "type": "structure",
      "members": {
        "filters": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemTemplateFilters",
          "traits": {
            "smithy.api#documentation": "<p>An array of filters that limit the result set. The only valid filter is <code>FLOW_TEMPLATE_ID</code>.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iot.thingsgraph.types#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results. Use this when you're paginating results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchSystemTemplatesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.iot.thingsgraph.types#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string to specify as <code>nextToken</code> when you request the next page of results.</p>"
          }
        },
        "summaries": {
          "target": "com.amazonaws.iot.thingsgraph.types.flow#SystemTemplateSummaries",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that contain summary information about each system deployment in the result set.</p>"
          }
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchThings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iot.thingsgraph#SearchThingsRequest"
      },
      "output": {
        "target": "com.amazonaws.iot.thingsgraph#SearchThingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InternalFailureException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iot.thingsgraph.types#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Searches for things associated with the specified entity. You can search by both device and device model.</p>\n         <p>For example, if two different devices, camera1 and camera2, implement the camera device model, the user can associate thing1 to camera1 and thing2 to camera2.\n         <code>SearchThings(camera2)</code> will return only thing2, but <code>SearchThings(camera)</code> will return both thing1 and thing2.</p>\n         <p>This action searches for exact matches and doesn't perform partial text matching.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "items": "things",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iot.thingsgraph#SearchThingsRequest": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "com.amazonaws.iot.thingsgraph.types#Urn",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity to which the things are associated.</p>\n         <p>The IDs should be in the following format.</p>\n         <p>\n            <code>urn:tdm:REGION/ACCOUNT ID/default:device:DEVICENAME</code>\n         </p>",
[...]
