{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.iottwinmaker#AWSIoTTwinMaker": {
      "type": "service",
      "version": "2021-11-29",
      "operations": [
        {
          "target": "com.amazonaws.iottwinmaker#BatchPutPropertyValues"
        },
        {
          "target": "com.amazonaws.iottwinmaker#CreateComponentType"
        },
        {
          "target": "com.amazonaws.iottwinmaker#CreateEntity"
        },
        {
          "target": "com.amazonaws.iottwinmaker#CreateScene"
        },
        {
          "target": "com.amazonaws.iottwinmaker#CreateSyncJob"
        },
        {
          "target": "com.amazonaws.iottwinmaker#CreateWorkspace"
        },
        {
          "target": "com.amazonaws.iottwinmaker#DeleteComponentType"
        },
        {
          "target": "com.amazonaws.iottwinmaker#DeleteEntity"
        },
        {
          "target": "com.amazonaws.iottwinmaker#DeleteScene"
        },
        {
          "target": "com.amazonaws.iottwinmaker#DeleteSyncJob"
        },
        {
          "target": "com.amazonaws.iottwinmaker#DeleteWorkspace"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ExecuteQuery"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetComponentType"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetEntity"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetPricingPlan"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetPropertyValue"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetPropertyValueHistory"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetScene"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetSyncJob"
        },
        {
          "target": "com.amazonaws.iottwinmaker#GetWorkspace"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListComponentTypes"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListEntities"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListScenes"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListSyncJobs"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListSyncResources"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ListWorkspaces"
        },
        {
          "target": "com.amazonaws.iottwinmaker#TagResource"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UntagResource"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UpdateComponentType"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UpdateEntity"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UpdatePricingPlan"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UpdateScene"
        },
        {
          "target": "com.amazonaws.iottwinmaker#UpdateWorkspace"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "IoTTwinMaker",
          "endpointPrefix": "iottwinmaker"
        },
        "aws.auth#sigv4": {
          "name": "iottwinmaker"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>IoT TwinMaker is a service that enables you to build operational digital twins of\n         physical systems. IoT TwinMaker overlays measurements and analysis from real-world sensors,\n         cameras, and enterprise applications so you can create data visualizations to monitor your\n         physical factory, building, or industrial plant. You can use this real-world data to\n         monitor operations and diagnose and repair errors.</p>",
        "smithy.api#title": "AWS IoT TwinMaker",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iottwinmaker-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://iottwinmaker-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://iottwinmaker.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://iottwinmaker.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://iottwinmaker.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.iottwinmaker#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.iottwinmaker#BatchPutPropertyError": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.iottwinmaker#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>",
            "smithy.api#required": {}
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.iottwinmaker#String",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>",
            "smithy.api#required": {}
          }
        },
        "entry": {
          "target": "com.amazonaws.iottwinmaker#PropertyValueEntry",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error returned by the <code>BatchPutProperty</code> action.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#BatchPutPropertyErrorEntry": {
      "type": "structure",
      "members": {
        "errors": {
          "target": "com.amazonaws.iottwinmaker#Errors",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects that contain information about errors returned by the\n            <code>BatchPutProperty</code> action.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about errors returned by the <code>BatchPutProperty</code> action.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#BatchPutPropertyValues": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#BatchPutPropertyValuesRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#BatchPutPropertyValuesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sets values for multiple time series properties.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "data."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/entity-properties",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#BatchPutPropertyValuesRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the properties to set.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entries": {
          "target": "com.amazonaws.iottwinmaker#Entries",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the property value entries to set. Each string \n       in the mapping must be unique to this object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#BatchPutPropertyValuesResponse": {
      "type": "structure",
      "members": {
        "errorEntries": {
          "target": "com.amazonaws.iottwinmaker#ErrorEntries",
          "traits": {
            "smithy.api#documentation": "<p>Entries that caused errors in the batch put operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.iottwinmaker#BundleInformation": {
      "type": "structure",
      "members": {
        "bundleNames": {
          "target": "com.amazonaws.iottwinmaker#PricingBundles",
          "traits": {
            "smithy.api#documentation": "<p>The bundle names.</p>",
            "smithy.api#required": {}
          }
        },
        "pricingTier": {
          "target": "com.amazonaws.iottwinmaker#PricingTier",
          "traits": {
            "smithy.api#documentation": "<p>The pricing tier.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about pricing bundle.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#BundleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.iottwinmaker#ColumnDescription": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.iottwinmaker#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column description.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.iottwinmaker#ColumnType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the column description.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of the column in the query results.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ColumnDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#ColumnDescription"
      }
    },
    "com.amazonaws.iottwinmaker#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^.*$"
      }
    },
    "com.amazonaws.iottwinmaker#ColumnType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "NODE",
            "value": "NODE"
          },
          {
            "name": "EDGE",
            "value": "EDGE"
          },
          {
            "name": "VALUE",
            "value": "VALUE"
          }
        ]
      }
    },
    "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequest": {
      "type": "structure",
      "members": {
        "groupType": {
          "target": "com.amazonaws.iottwinmaker#GroupType",
          "traits": {
            "smithy.api#documentation": "<p>The group type.</p>"
          }
        },
        "propertyNames": {
          "target": "com.amazonaws.iottwinmaker#PropertyNames",
          "traits": {
            "smithy.api#documentation": "<p>The property names.</p>"
          }
        },
        "updateType": {
          "target": "com.amazonaws.iottwinmaker#PropertyGroupUpdateType",
          "traits": {
            "smithy.api#documentation": "<p>The update type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequest"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponse": {
      "type": "structure",
      "members": {
        "groupType": {
          "target": "com.amazonaws.iottwinmaker#GroupType",
          "traits": {
            "smithy.api#documentation": "<p>The group type.</p>",
            "smithy.api#required": {}
          }
        },
        "propertyNames": {
          "target": "com.amazonaws.iottwinmaker#PropertyNames",
          "traits": {
            "smithy.api#documentation": "<p>The names of properties</p>",
            "smithy.api#required": {}
          }
        },
        "isInherited": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the property group is inherited from a parent entity</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The component property group response.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponses": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponse"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentRequest": {
      "type": "structure",
      "members": {
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component request.</p>"
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>"
          }
        },
        "properties": {
          "target": "com.amazonaws.iottwinmaker#PropertyRequests",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the properties to set in the component type. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "propertyGroups": {
          "target": "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
          "traits": {
            "smithy.api#documentation": "<p>The property groups.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that sets information about a component type create or update request.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentResponse": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.iottwinmaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component type.</p>"
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iottwinmaker#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the component type.</p>"
          }
        },
        "definedIn": {
          "target": "com.amazonaws.iottwinmaker#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property definition set in the request.</p>"
          }
        },
        "properties": {
          "target": "com.amazonaws.iottwinmaker#PropertyResponses",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the properties to set in the component type. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "propertyGroups": {
          "target": "com.amazonaws.iottwinmaker#ComponentPropertyGroupResponses",
          "traits": {
            "smithy.api#documentation": "<p>The property groups.</p>"
          }
        },
        "syncSource": {
          "target": "com.amazonaws.iottwinmaker#SyncSource",
          "traits": {
            "smithy.api#documentation": "<p>The syncSource of the sync job, if this entity was created by a sync job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that returns information about a component type create or update request.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentTypeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z_\\.\\-0-9:]+$"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "[^\\u0000-\\u001F\\u007F]*"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentTypeSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#ComponentTypeSummary"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentTypeSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the component type was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the component type was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component type.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iottwinmaker#Status",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the component type.</p>"
          }
        },
        "componentTypeName": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The component type name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about a component type.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentUpdateRequest": {
      "type": "structure",
      "members": {
        "updateType": {
          "target": "com.amazonaws.iottwinmaker#ComponentUpdateType",
          "traits": {
            "smithy.api#documentation": "<p>The update type of the component update request.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component type.</p>"
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>"
          }
        },
        "propertyUpdates": {
          "target": "com.amazonaws.iottwinmaker#PropertyRequests",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the properties to set in the component type update. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "propertyGroupUpdates": {
          "target": "com.amazonaws.iottwinmaker#ComponentPropertyGroupRequests",
          "traits": {
            "smithy.api#documentation": "<p>The property group updates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The component update request.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentUpdateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "CREATE",
            "value": "CREATE"
          },
          {
            "name": "UPDATE",
            "value": "UPDATE"
          },
          {
            "name": "DELETE",
            "value": "DELETE"
          }
        ]
      }
    },
    "com.amazonaws.iottwinmaker#ComponentUpdatesMapRequest": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#ComponentUpdateRequest"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#ComponentResponse"
      }
    },
    "com.amazonaws.iottwinmaker#ComponentsMapRequest": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#ComponentRequest"
      }
    },
    "com.amazonaws.iottwinmaker#Configuration": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#Value"
      }
    },
    "com.amazonaws.iottwinmaker#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A conflict occurred.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.iottwinmaker#ConnectorFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connector failed.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.iottwinmaker#ConnectorTimeoutException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The connector timed out.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 424
      }
    },
    "com.amazonaws.iottwinmaker#CreateComponentType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#CreateComponentTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#CreateComponentTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ConflictException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a component type.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateComponentTypeRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the component type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isSingleton": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether an entity can have more than one component of\n         this type.</p>"
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component type.</p>"
          }
        },
        "propertyDefinitions": {
          "target": "com.amazonaws.iottwinmaker#PropertyDefinitionsRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the property definitions in the component type. Each string \n      in the mapping must be unique to this object.</p>"
          }
        },
        "extendsFrom": {
          "target": "com.amazonaws.iottwinmaker#ExtendsFrom",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the parent component type to extend.</p>"
          }
        },
        "functions": {
          "target": "com.amazonaws.iottwinmaker#FunctionsRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the functions in the component type. Each string in the\n         mapping must be unique to this object.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iottwinmaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can use to manage the component type.</p>"
          }
        },
        "propertyGroups": {
          "target": "com.amazonaws.iottwinmaker#PropertyGroupsRequest",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "componentTypeName": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeName",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the component type.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateComponentTypeResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the entity was created.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.iottwinmaker#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the component type.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#CreateEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#CreateEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ConflictException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an entity.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/entities",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateEntityRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the entity.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.iottwinmaker#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity.</p>"
          }
        },
        "entityName": {
          "target": "com.amazonaws.iottwinmaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the entity.</p>"
          }
        },
        "components": {
          "target": "com.amazonaws.iottwinmaker#ComponentsMapRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the components in the entity. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "parentEntityId": {
          "target": "com.amazonaws.iottwinmaker#ParentEntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity's parent entity.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iottwinmaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can use to manage the entity.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateEntityResponse": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "com.amazonaws.iottwinmaker#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the entity was created.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.iottwinmaker#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the entity.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateScene": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#CreateSceneRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#CreateSceneResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ConflictException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a scene.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/scenes",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateSceneRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the scene.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sceneId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the scene.</p>",
            "smithy.api#required": {}
          }
        },
        "contentLocation": {
          "target": "com.amazonaws.iottwinmaker#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The relative path that specifies the location of the content definition file.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for this scene.</p>"
          }
        },
        "capabilities": {
          "target": "com.amazonaws.iottwinmaker#SceneCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>A list of capabilities that the scene uses to render itself.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.iottwinmaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can use to manage the scene.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateSceneResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the scene.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the scene was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateSyncJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#CreateSyncJobRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#CreateSyncJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ConflictException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>This action creates a SyncJob.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}/sync-jobs/{syncSource}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateSyncJobRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The workspace Id.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "syncSource": {
          "target": "com.amazonaws.iottwinmaker#SyncSource",
          "traits": {
            "smithy.api#documentation": "<p>The sync source.</p>\n         <note>\n            <p>Currently the only supported syncSoucre is <code>SITEWISE </code>.</p>\n         </note>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "syncRole": {
          "target": "com.amazonaws.iottwinmaker#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The SyncJob IAM role. This IAM role is used by the sync job to read from the syncSource, and create, \n         update or delete the corresponding resources.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iottwinmaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The SyncJob tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateSyncJobResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The SyncJob ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time for the SyncJob creation.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.iottwinmaker#SyncJobState",
          "traits": {
            "smithy.api#documentation": "<p>The SyncJob response state.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#CreateWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#CreateWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ConflictException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a workplace.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/workspaces/{workspaceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the workspace.</p>"
          }
        },
        "s3Location": {
          "target": "com.amazonaws.iottwinmaker#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the S3 bucket where resources associated with the workspace are stored.</p>",
            "smithy.api#required": {}
          }
        },
        "role": {
          "target": "com.amazonaws.iottwinmaker#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the execution role associated with the workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.iottwinmaker#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Metadata that you can use to manage the workspace</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#CreateWorkspaceResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the workspace was created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DataConnector": {
      "type": "structure",
      "members": {
        "lambda": {
          "target": "com.amazonaws.iottwinmaker#LambdaFunction",
          "traits": {
            "smithy.api#documentation": "<p>The Lambda function associated with this data connector.</p>"
          }
        },
        "isNative": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the data connector is native to IoT TwinMaker.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data connector.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#DataType": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.iottwinmaker#Type",
          "traits": {
            "smithy.api#documentation": "<p>The underlying type of the data type.</p>",
            "smithy.api#required": {}
          }
        },
        "nestedType": {
          "target": "com.amazonaws.iottwinmaker#DataType",
          "traits": {
            "smithy.api#documentation": "<p>The nested type in the data type.</p>"
          }
        },
        "allowedValues": {
          "target": "com.amazonaws.iottwinmaker#DataValueList",
          "traits": {
            "smithy.api#documentation": "<p>The allowed values for this data type.</p>"
          }
        },
        "unitOfMeasure": {
          "target": "com.amazonaws.iottwinmaker#String",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measure used in this data type.</p>"
          }
        },
        "relationship": {
          "target": "com.amazonaws.iottwinmaker#Relationship",
          "traits": {
            "smithy.api#documentation": "<p>A relationship that associates a component with another component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that specifies the data type of a property.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#DataValue": {
      "type": "structure",
      "members": {
        "booleanValue": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value.</p>"
          }
        },
        "doubleValue": {
          "target": "com.amazonaws.iottwinmaker#Double",
          "traits": {
            "smithy.api#documentation": "<p>A double value.</p>"
          }
        },
        "integerValue": {
          "target": "com.amazonaws.iottwinmaker#Integer",
          "traits": {
            "smithy.api#documentation": "<p>An integer value.</p>"
          }
        },
        "longValue": {
          "target": "com.amazonaws.iottwinmaker#Long",
          "traits": {
            "smithy.api#documentation": "<p>A long value.</p>"
          }
        },
        "stringValue": {
          "target": "com.amazonaws.iottwinmaker#String",
          "traits": {
            "smithy.api#documentation": "<p>A string value.</p>"
          }
        },
        "listValue": {
          "target": "com.amazonaws.iottwinmaker#DataValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of multiple values.</p>"
          }
        },
        "mapValue": {
          "target": "com.amazonaws.iottwinmaker#DataValueMap",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to multiple <code>DataValue</code> objects.</p>"
          }
        },
        "relationshipValue": {
          "target": "com.amazonaws.iottwinmaker#RelationshipValue",
          "traits": {
            "smithy.api#documentation": "<p>A value that relates a component to another component.</p>"
          }
        },
        "expression": {
          "target": "com.amazonaws.iottwinmaker#Expression",
          "traits": {
            "smithy.api#documentation": "<p>An expression that produces the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that specifies a value for a property.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#DataValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#DataValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.iottwinmaker#DataValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#String"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#DataValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteComponentType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#DeleteComponentTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#DeleteComponentTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a component type.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteComponentTypeRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the component type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteComponentTypeResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iottwinmaker#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the component type to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#DeleteEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#DeleteEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an entity.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/entities/{entityId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteEntityRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the entity to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "entityId": {
          "target": "com.amazonaws.iottwinmaker#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "isRecursive": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the operation deletes child entities.</p>",
            "smithy.api#httpQuery": "isRecursive"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteEntityResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iottwinmaker#State",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the deleted entity.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteScene": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#DeleteSceneRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#DeleteSceneResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a scene.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/scenes/{sceneId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteSceneRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "sceneId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the scene to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteSceneResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iottwinmaker#DeleteSyncJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#DeleteSyncJobRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#DeleteSyncJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Delete the SyncJob.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}/sync-jobs/{syncSource}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteSyncJobRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The workspace Id.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "syncSource": {
          "target": "com.amazonaws.iottwinmaker#SyncSource",
          "traits": {
            "smithy.api#documentation": "<p>The sync source.</p>\n         <note>\n            <p>Currently the only supported syncSoucre is <code>SITEWISE </code>.</p>\n         </note>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteSyncJobResponse": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.iottwinmaker#SyncJobState",
          "traits": {
            "smithy.api#documentation": "<p>The SyncJob response state.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteWorkspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#DeleteWorkspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#DeleteWorkspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a workspace.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/workspaces/{workspaceId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteWorkspaceRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#DeleteWorkspaceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.iottwinmaker#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.iottwinmaker#Double": {
      "type": "double"
    },
    "com.amazonaws.iottwinmaker#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}|^[a-zA-Z0-9][a-zA-Z_\\-0-9.:]*[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.iottwinmaker#EntityName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[^\\u0000-\\u001F\\u007F]+$"
      }
    },
    "com.amazonaws.iottwinmaker#EntityPropertyReference": {
      "type": "structure",
      "members": {
        "componentName": {
          "target": "com.amazonaws.iottwinmaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the component.</p>"
          }
        },
        "externalIdProperty": {
          "target": "com.amazonaws.iottwinmaker#ExternalIdProperty",
          "traits": {
            "smithy.api#documentation": "<p>A mapping of external IDs to property names. External IDs uniquely identify properties from external data stores.</p>"
          }
        },
        "entityId": {
          "target": "com.amazonaws.iottwinmaker#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity.</p>"
          }
        },
        "propertyName": {
          "target": "com.amazonaws.iottwinmaker#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the property.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that uniquely identifies an entity property.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#EntitySummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#EntitySummary"
      }
    },
    "com.amazonaws.iottwinmaker#EntitySummary": {
      "type": "structure",
      "members": {
        "entityId": {
          "target": "com.amazonaws.iottwinmaker#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "entityName": {
          "target": "com.amazonaws.iottwinmaker#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "parentEntityId": {
          "target": "com.amazonaws.iottwinmaker#ParentEntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the parent entity.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iottwinmaker#Status",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the entity.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the entity.</p>"
          }
        },
        "hasChildEntities": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the entity has child entities or not.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the entity was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time when the entity was updated.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains information about an entity.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#Entries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#PropertyValueEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.iottwinmaker#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "name": "VALIDATION_ERROR",
            "value": "VALIDATION_ERROR"
          },
          {
            "name": "INTERNAL_FAILURE",
            "value": "INTERNAL_FAILURE"
          },
          {
            "name": "SYNC_INITIALIZING_ERROR",
            "value": "SYNC_INITIALIZING_ERROR"
          },
          {
            "name": "SYNC_CREATING_ERROR",
            "value": "SYNC_CREATING_ERROR"
          },
          {
            "name": "SYNC_PROCESSING_ERROR",
            "value": "SYNC_PROCESSING_ERROR"
          }
        ]
      }
    },
    "com.amazonaws.iottwinmaker#ErrorDetails": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.iottwinmaker#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.iottwinmaker#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The error details.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#ErrorEntries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#BatchPutPropertyErrorEntry"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.iottwinmaker#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        }
      }
    },
    "com.amazonaws.iottwinmaker#Errors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#BatchPutPropertyError"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.iottwinmaker#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.iottwinmaker#ExecuteQuery": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#ExecuteQueryRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#ExecuteQueryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#QueryTimeoutException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Run queries to access information from your knowledge graph of entities within individual workspaces.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/queries/execution"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.iottwinmaker#ExecuteQueryRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace.</p>",
            "smithy.api#required": {}
          }
        },
        "queryStatement": {
          "target": "com.amazonaws.iottwinmaker#QueryStatement",
          "traits": {
            "smithy.api#documentation": "<p>The query statement.</p>",
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.iottwinmaker#QueryServiceMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return at one time. The default is 25.</p> \n         <p>Valid Range: Minimum value of 1. Maximum value of 250.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iottwinmaker#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#ExecuteQueryResponse": {
      "type": "structure",
      "members": {
        "columnDescriptions": {
          "target": "com.amazonaws.iottwinmaker#ColumnDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>A list of ColumnDescription objects.</p>"
          }
        },
        "rows": {
          "target": "com.amazonaws.iottwinmaker#Rows",
          "traits": {
            "smithy.api#documentation": "<p>Represents a single row in the query results.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.iottwinmaker#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The string that specifies the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#Expression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 316
        },
        "smithy.api#pattern": "^(^\\$\\{Parameters\\.[a-zA-z]+([a-zA-z_0-9]*)}$)$"
      }
    },
    "com.amazonaws.iottwinmaker#ExtendsFrom": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.iottwinmaker#ComponentTypeId"
      }
    },
    "com.amazonaws.iottwinmaker#ExternalIdProperty": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#String"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#String"
      }
    },
    "com.amazonaws.iottwinmaker#FunctionRequest": {
      "type": "structure",
      "members": {
        "requiredProperties": {
          "target": "com.amazonaws.iottwinmaker#RequiredProperties",
          "traits": {
            "smithy.api#documentation": "<p>The required properties of the function.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.iottwinmaker#Scope",
          "traits": {
            "smithy.api#documentation": "<p>The scope of the function.</p>"
          }
        },
        "implementedBy": {
          "target": "com.amazonaws.iottwinmaker#DataConnector",
          "traits": {
            "smithy.api#documentation": "<p>The data connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function request body.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#FunctionResponse": {
      "type": "structure",
      "members": {
        "requiredProperties": {
          "target": "com.amazonaws.iottwinmaker#RequiredProperties",
          "traits": {
            "smithy.api#documentation": "<p>The required properties of the function.</p>"
          }
        },
        "scope": {
          "target": "com.amazonaws.iottwinmaker#Scope",
          "traits": {
            "smithy.api#documentation": "<p>The scope of the function.</p>"
          }
        },
        "implementedBy": {
          "target": "com.amazonaws.iottwinmaker#DataConnector",
          "traits": {
            "smithy.api#documentation": "<p>The data connector.</p>"
          }
        },
        "isInherited": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether this function is inherited.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function response.</p>"
      }
    },
    "com.amazonaws.iottwinmaker#FunctionsRequest": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#FunctionRequest"
      }
    },
    "com.amazonaws.iottwinmaker#FunctionsResponse": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.iottwinmaker#Name"
      },
      "value": {
        "target": "com.amazonaws.iottwinmaker#FunctionResponse"
      }
    },
    "com.amazonaws.iottwinmaker#GetComponentType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.iottwinmaker#GetComponentTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.iottwinmaker#GetComponentTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.iottwinmaker#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#InternalServerException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ThrottlingException"
        },
        {
          "target": "com.amazonaws.iottwinmaker#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a component type.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "api."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/workspaces/{workspaceId}/component-types/{componentTypeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.iottwinmaker#GetComponentTypeRequest": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the component type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.iottwinmaker#GetComponentTypeResponse": {
      "type": "structure",
      "members": {
        "workspaceId": {
          "target": "com.amazonaws.iottwinmaker#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the workspace that contains the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "isSingleton": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether an entity can have more than one component of this\n         type.</p>"
          }
        },
        "componentTypeId": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.iottwinmaker#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the component type.</p>"
          }
        },
        "propertyDefinitions": {
          "target": "com.amazonaws.iottwinmaker#PropertyDefinitionsResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the property definitions in the component type. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "extendsFrom": {
          "target": "com.amazonaws.iottwinmaker#ExtendsFrom",
          "traits": {
            "smithy.api#documentation": "<p>The name of the parent component type that this component type extends.</p>"
          }
        },
        "functions": {
          "target": "com.amazonaws.iottwinmaker#FunctionsResponse",
          "traits": {
            "smithy.api#documentation": "<p>An object that maps strings to the functions in the component type. Each string \n       in the mapping must be unique to this object.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the component type was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updateDateTime": {
          "target": "com.amazonaws.iottwinmaker#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the component was last updated.</p>",
            "smithy.api#required": {}
          }
        },
        "arn": {
          "target": "com.amazonaws.iottwinmaker#TwinMakerArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the component type.</p>",
            "smithy.api#required": {}
          }
        },
        "isAbstract": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the component type is abstract.</p>"
          }
        },
        "isSchemaInitialized": {
          "target": "com.amazonaws.iottwinmaker#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value that specifies whether the component type has a schema initializer and that the \n      schema initializer has run.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.iottwinmaker#Status",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the component type.</p>"
          }
        },
        "propertyGroups": {
          "target": "com.amazonaws.iottwinmaker#PropertyGroupsResponse",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return at one time. The default is 25.</p>\n         <p>Valid Range: Minimum value of 1. Maximum value of 250.</p>"
          }
        },
        "syncSource": {
          "target": "com.amazonaws.iottwinmaker#SyncSource",
          "traits": {
            "smithy.api#documentation": "<p>The syncSource of the sync job, if this entity was created by a sync job.</p>"
          }
        },
        "componentTypeName": {
          "target": "com.amazonaws.iottwinmaker#ComponentTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The component type name.</p>"
          }
        }
      }
    },
[...]
