{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.ivs#AccessDeniedException": {
      "type": "structure",
      "members": {
        "exceptionMessage": {
          "target": "com.amazonaws.ivs#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>User does not have sufficient access to perform this action.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ivs#AmazonInteractiveVideoService": {
      "type": "service",
      "version": "2020-07-14",
      "operations": [
        {
          "target": "com.amazonaws.ivs#BatchGetChannel"
        },
        {
          "target": "com.amazonaws.ivs#BatchGetStreamKey"
        },
        {
          "target": "com.amazonaws.ivs#CreateChannel"
        },
        {
          "target": "com.amazonaws.ivs#CreateRecordingConfiguration"
        },
        {
          "target": "com.amazonaws.ivs#CreateStreamKey"
        },
        {
          "target": "com.amazonaws.ivs#DeleteChannel"
        },
        {
          "target": "com.amazonaws.ivs#DeletePlaybackKeyPair"
        },
        {
          "target": "com.amazonaws.ivs#DeleteRecordingConfiguration"
        },
        {
          "target": "com.amazonaws.ivs#DeleteStreamKey"
        },
        {
          "target": "com.amazonaws.ivs#GetChannel"
        },
        {
          "target": "com.amazonaws.ivs#GetPlaybackKeyPair"
        },
        {
          "target": "com.amazonaws.ivs#GetRecordingConfiguration"
        },
        {
          "target": "com.amazonaws.ivs#GetStream"
        },
        {
          "target": "com.amazonaws.ivs#GetStreamKey"
        },
        {
          "target": "com.amazonaws.ivs#GetStreamSession"
        },
        {
          "target": "com.amazonaws.ivs#ImportPlaybackKeyPair"
        },
        {
          "target": "com.amazonaws.ivs#ListChannels"
        },
        {
          "target": "com.amazonaws.ivs#ListPlaybackKeyPairs"
        },
        {
          "target": "com.amazonaws.ivs#ListRecordingConfigurations"
        },
        {
          "target": "com.amazonaws.ivs#ListStreamKeys"
        },
        {
          "target": "com.amazonaws.ivs#ListStreams"
        },
        {
          "target": "com.amazonaws.ivs#ListStreamSessions"
        },
        {
          "target": "com.amazonaws.ivs#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ivs#PutMetadata"
        },
        {
          "target": "com.amazonaws.ivs#StopStream"
        },
        {
          "target": "com.amazonaws.ivs#TagResource"
        },
        {
          "target": "com.amazonaws.ivs#UntagResource"
        },
        {
          "target": "com.amazonaws.ivs#UpdateChannel"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ivs",
          "arnNamespace": "ivs",
          "cloudFormationName": "IVS",
          "cloudTrailEventSource": "REPLACE_WITH_EVENT_SOURCE"
        },
        "aws.auth#sigv4": {
          "name": "ivs"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "Content-Type",
            "X-Api-Key",
            "X-Amz-Content-Sha256",
            "X-Amz-User-Agent",
            "amz-sdk-invocation-id",
            "amz-sdk-request"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-errormessage",
            "x-amzn-trace-id",
            "x-amzn-requestid",
            "x-amz-apigw-id",
            "date"
          ]
        },
        "smithy.api#documentation": "<p>\n            <b>Introduction</b>\n         </p>\n         <p>The Amazon Interactive Video Service (IVS) API is REST compatible, using a standard HTTP\n      API and an Amazon Web Services EventBridge event stream for responses. JSON is used for both\n      requests and responses, including errors.</p>\n         <p>The API is an Amazon Web Services regional service. For a list of supported regions and\n      Amazon IVS HTTPS service endpoints, see the <a href=\"https://docs.aws.amazon.com/general/latest/gr/ivs.html\">Amazon IVS page</a> in the\n          <i>Amazon Web Services General Reference</i>.</p>\n         <p>\n            <i>\n               <b>All API request parameters and URLs are case sensitive.\n        </b>\n            </i>\n         </p>\n         <p>For a summary of notable documentation changes in each release, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/doc-history.html\"> Document\n      History</a>.</p>\n         <p>\n            <b>Allowed Header Values</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <code>\n                     <b>Accept:</b>\n                  </code> application/json</p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <b>Accept-Encoding:</b>\n                  </code> gzip, deflate</p>\n            </li>\n            <li>\n               <p>\n                  <code>\n                     <b>Content-Type:</b>\n                  </code>application/json</p>\n            </li>\n         </ul>\n         <p>\n            <b>Resources</b>\n         </p>\n         <p>The following resources contain information about your IVS live stream (see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/getting-started.html\"> Getting Started with\n        Amazon IVS</a>):</p>\n         <ul>\n            <li>\n               <p>Channel — Stores configuration data related to your live stream. You first create a\n          channel and then use the channel’s stream key to start your live stream. See the Channel\n          endpoints for more information. </p>\n            </li>\n            <li>\n               <p>Stream key — An identifier assigned by Amazon IVS when you create a channel, which is\n          then used to authorize streaming. See the StreamKey endpoints for more information.\n              <i>\n                     <b>Treat the stream key like a secret, since it allows\n              anyone to stream to the channel.</b>\n                  </i>\n               </p>\n            </li>\n            <li>\n               <p>Playback key pair — Video playback may be restricted using playback-authorization\n          tokens, which use public-key encryption. A playback key pair is the public-private pair of\n          keys used to sign and validate the playback-authorization token. See the PlaybackKeyPair\n          endpoints for more information.</p>\n            </li>\n            <li>\n               <p>Recording configuration — Stores configuration related to recording a live stream and\n          where to store the recorded content. Multiple channels can reference the same recording\n          configuration. See the Recording Configuration endpoints for more information.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Tagging</b>\n         </p>\n         <p>A <i>tag</i> is a metadata label that you assign to an Amazon Web Services\n      resource. A tag comprises a <i>key</i> and a <i>value</i>, both\n      set by you. For example, you might set a tag as <code>topic:nature</code> to label a\n      particular video category. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>\n         <p>Tags can help you identify and organize your Amazon Web Services resources. For example,\n      you can use the same tag for different resources to indicate that they are related. You can\n      also use tags to manage access (see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\"> Access Tags</a>). </p>\n         <p>The Amazon IVS API has these tag-related endpoints: <a>TagResource</a>, <a>UntagResource</a>, and <a>ListTagsForResource</a>. The following\n      resources support tagging: Channels, Stream Keys, Playback Key Pairs, and Recording\n      Configurations.</p>\n         <p>At most 50 tags can be applied to a resource. </p>\n         <p>\n            <b>Authentication versus Authorization</b>\n         </p>\n         <p>Note the differences between these concepts:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>Authentication</i> is about verifying identity. You need to be\n          authenticated to sign Amazon IVS API requests.</p>\n            </li>\n            <li>\n               <p>\n                  <i>Authorization</i> is about granting permissions. Your IAM roles need\n          to have permissions for Amazon IVS API requests. In addition, authorization is needed to\n          view <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Amazon\n            IVS private channels</a>. (Private channels are channels that are enabled for\n          \"playback authorization.\")</p>\n            </li>\n         </ul>\n         <p>\n            <b>Authentication</b>\n         </p>\n         <p>All Amazon IVS API requests must be authenticated with a signature. The Amazon Web Services\n      Command-Line Interface (CLI) and Amazon IVS Player SDKs take care of signing the underlying\n      API calls for you. However, if your application calls the Amazon IVS API directly, it’s your\n      responsibility to sign the requests.</p>\n         <p>You generate a signature using valid Amazon Web Services credentials that have permission\n      to perform the requested action. For example, you must sign PutMetadata requests with a\n      signature generated from an IAM user account that has the <code>ivs:PutMetadata</code>\n      permission.</p>\n         <p>For more information:</p>\n         <ul>\n            <li>\n               <p>Authentication and generating signatures — See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests\n              (Amazon Web Services Signature Version 4)</a> in the <i>Amazon Web Services\n            General Reference</i>.</p>\n            </li>\n            <li>\n               <p>Managing Amazon IVS permissions — See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/security-iam.html\">Identity and Access Management</a> on\n          the Security page of the <i>Amazon IVS User Guide</i>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Amazon Resource Names (ARNs)</b>\n         </p>\n         <p>ARNs uniquely identify AWS resources. An ARN is required when you need to specify a\n      resource unambiguously across all of AWS, such as in IAM policies and API calls. For more\n      information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names</a> in the <i>AWS General\n      Reference</i>.</p>\n         <p>\n            <b>Channel Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateChannel</a> — Creates a new channel and an associated stream\n          key to start streaming.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetChannel</a> — Gets the channel configuration for the specified\n          channel ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>BatchGetChannel</a> — Performs <a>GetChannel</a> on\n          multiple ARNs simultaneously.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListChannels</a> — Gets summary information about all channels in\n          your account, in the Amazon Web Services region where the API request is processed. This\n          list can be filtered to match a specified name or recording-configuration ARN. Filters are\n          mutually exclusive and cannot be used together. If you try to use both filters, you will\n          get an error (409 Conflict Exception).</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateChannel</a> — Updates a channel's configuration. This does\n          not affect an ongoing stream of this channel. You must stop and restart the stream for the\n          changes to take effect.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteChannel</a> — Deletes the specified channel.</p>\n            </li>\n         </ul>\n         <p>\n            <b>StreamKey Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateStreamKey</a> — Creates a stream key, used to initiate a\n          stream, for the specified channel ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetStreamKey</a> — Gets stream key information for the specified\n          ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>BatchGetStreamKey</a> — Performs <a>GetStreamKey</a> on\n          multiple ARNs simultaneously.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStreamKeys</a> — Gets summary information about stream keys\n          for the specified channel.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteStreamKey</a> — Deletes the stream key for the specified\n          ARN, so it can no longer be used to stream.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Stream Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>GetStream</a> — Gets information about the active (live) stream on\n          a specified channel.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetStreamSession</a> — Gets metadata on a specified stream.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStreams</a> — Gets summary information about live streams in\n          your account, in the Amazon Web Services region where the API request is processed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListStreamSessions</a> — Gets a summary of current and previous\n          streams for a specified channel in your account, in the AWS region where the API request\n          is processed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>StopStream</a> — Disconnects the incoming RTMPS stream for the\n          specified channel. Can be used in conjunction with <a>DeleteStreamKey</a> to\n          prevent further streaming to a channel.</p>\n            </li>\n            <li>\n               <p>\n                  <a>PutMetadata</a> — Inserts metadata into the active stream of the\n          specified channel. At most 5 requests per second per channel are allowed, each with a\n          maximum 1 KB payload. (If 5 TPS is not sufficient for your needs, we recommend batching\n          your data into a single PutMetadata call.) At most 155 requests per second per account are\n          allowed.</p>\n            </li>\n         </ul>\n         <p>\n            <b>PlaybackKeyPair Endpoints</b>\n         </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the\n        <i>Amazon IVS User Guide</i>.</p>\n         <ul>\n            <li>\n               <p>\n                  <a>ImportPlaybackKeyPair</a> — Imports the public portion of a new\n          key pair and returns its <code>arn</code> and <code>fingerprint</code>. The\n            <code>privateKey</code> can then be used to generate viewer authorization tokens, to\n          grant viewers access to private channels (channels enabled for playback\n          authorization).</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetPlaybackKeyPair</a> — Gets a specified playback authorization\n          key pair and returns the <code>arn</code> and <code>fingerprint</code>. The\n            <code>privateKey</code> held by the caller can be used to generate viewer authorization\n          tokens, to grant viewers access to private channels.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListPlaybackKeyPairs</a> — Gets summary information about playback\n          key pairs.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeletePlaybackKeyPair</a> — Deletes a specified authorization key\n          pair. This invalidates future viewer tokens generated using the key pair’s\n            <code>privateKey</code>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>RecordingConfiguration Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateRecordingConfiguration</a> — Creates a new recording\n          configuration, used to enable recording to Amazon S3.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetRecordingConfiguration</a> — Gets the recording-configuration\n          metadata for the specified ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListRecordingConfigurations</a> — Gets summary information about\n          all recording configurations in your account, in the Amazon Web Services region where the\n          API request is processed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteRecordingConfiguration</a> — Deletes the recording\n          configuration for the specified ARN.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Amazon Web Services Tags Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>TagResource</a> — Adds or updates tags for the Amazon Web Services\n          resource with the specified ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a> — Removes tags from the resource with the\n          specified ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a> — Gets information about Amazon Web Services tags for the specified ARN.</p>\n            </li>\n         </ul>",
        "smithy.api#title": "Amazon Interactive Video Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivs-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivs-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivs.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ivs.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivs.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ivs#AudioConfiguration": {
      "type": "structure",
      "members": {
        "codec": {
          "target": "com.amazonaws.ivs#String",
          "traits": {
            "smithy.api#documentation": "<p>Codec used for the audio encoding.</p>"
          }
        },
        "targetBitrate": {
          "target": "com.amazonaws.ivs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The expected ingest bitrate (bits per second). This is configured in the encoder.</p>"
          }
        },
        "sampleRate": {
          "target": "com.amazonaws.ivs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Number of audio samples recorded per second.</p>"
          }
        },
        "channels": {
          "target": "com.amazonaws.ivs#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Number of audio channels.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object specifying a stream’s audio configuration, as set up by the broadcaster (usually in\n      an encoder). This is part of the <a>IngestConfiguration</a> object and used for\n      monitoring stream health.</p>"
      }
    },
    "com.amazonaws.ivs#BatchError": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>Channel ARN.</p>"
          }
        },
        "code": {
          "target": "com.amazonaws.ivs#errorCode",
          "traits": {
            "smithy.api#documentation": "<p>Error code.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.ivs#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Error message, determined by the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error related to a specific channel, specified by its ARN.</p>"
      }
    },
    "com.amazonaws.ivs#BatchErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivs#BatchError"
      }
    },
    "com.amazonaws.ivs#BatchGetChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#BatchGetChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#BatchGetChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Performs <a>GetChannel</a> on multiple ARNs simultaneously.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetChannel"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#BatchGetChannelRequest": {
      "type": "structure",
      "members": {
        "arns": {
          "target": "com.amazonaws.ivs#ChannelArnList",
          "traits": {
            "smithy.api#documentation": "<p>Array of ARNs, one per channel.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#BatchGetChannelResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.amazonaws.ivs#Channels",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "errors": {
          "target": "com.amazonaws.ivs#BatchErrors",
          "traits": {
            "smithy.api#documentation": "<p>Each error object is related to a specific ARN in the request.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#BatchGetStreamKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#BatchGetStreamKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#BatchGetStreamKeyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Performs <a>GetStreamKey</a> on multiple ARNs simultaneously.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchGetStreamKey"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#BatchGetStreamKeyRequest": {
      "type": "structure",
      "members": {
        "arns": {
          "target": "com.amazonaws.ivs#StreamKeyArnList",
          "traits": {
            "smithy.api#documentation": "<p>Array of ARNs, one per stream key.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#BatchGetStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKeys": {
          "target": "com.amazonaws.ivs#StreamKeys",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "errors": {
          "target": "com.amazonaws.ivs#BatchErrors",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.ivs#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.ivs#Channel": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>Channel ARN.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivs#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>Channel name.</p>"
          }
        },
        "latencyMode": {
          "target": "com.amazonaws.ivs#ChannelLatencyMode",
          "traits": {
            "smithy.api#documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to\n      Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default:\n        <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code>\n      correspond to Ultra-low and Standard, respectively.)</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ivs#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Channel type, which determines the allowable resolution and bitrate. <i>If you\n        exceed the allowable resolution or bitrate, the stream probably will disconnect\n        immediately.</i> Default: <code>STANDARD</code>. Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STANDARD</code>: Video is transcoded: multiple qualities are generated from the\n          original input, to automatically give viewers the best experience for their devices and\n          network conditions. Transcoding allows higher playback quality across a range of download\n          speeds. Resolution can be up to 1080p and bitrate can be up to 8.5 Mbps. Audio is\n          transcoded only for renditions 360p and below; above that, audio is passed through. This\n          is the default.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BASIC</code>: Video is transmuxed: Amazon IVS delivers the original input to\n          viewers. The viewer’s video-quality choice is limited to the original input. Resolution\n          can be up to 1080p and bitrate can be up to 1.5 Mbps for 480p and up to 3.5 Mbps for\n          resolutions between 480p and 1080p.</p>\n            </li>\n         </ul>"
          }
        },
        "recordingConfigurationArn": {
          "target": "com.amazonaws.ivs#ChannelRecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Recording-configuration ARN. A value other than an empty string indicates that recording\n      is enabled. Default: \"\" (empty string, recording is disabled).</p>"
          }
        },
        "ingestEndpoint": {
          "target": "com.amazonaws.ivs#IngestEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>Channel ingest endpoint, part of the definition of an ingest server, used when you set up\n      streaming software.</p>"
          }
        },
        "playbackUrl": {
          "target": "com.amazonaws.ivs#PlaybackURL",
          "traits": {
            "smithy.api#documentation": "<p>Channel playback URL.</p>"
          }
        },
        "authorized": {
          "target": "com.amazonaws.ivs#IsAuthorized",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the channel is private (enabled for playback authorization). Default:\n        <code>false</code>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of 1-50 maps, each of the form <code>string:string (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object specifying a channel.</p>"
      }
    },
    "com.amazonaws.ivs#ChannelArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:[is]vs:[a-z0-9-]+:[0-9]+:channel/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivs#ChannelArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivs#ChannelArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ivs#ChannelLatencyMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NORMAL",
            "name": "NormalLatency"
          },
          {
            "value": "LOW",
            "name": "LowLatency"
          }
        ]
      }
    },
    "com.amazonaws.ivs#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivs#ChannelSummary"
      }
    },
    "com.amazonaws.ivs#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.ivs#ChannelNotBroadcasting": {
      "type": "structure",
      "members": {
        "exceptionMessage": {
          "target": "com.amazonaws.ivs#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The stream is offline for the given channel ARN.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.ivs#ChannelRecordingConfigurationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        },
        "smithy.api#pattern": "^$|^arn:aws:ivs:[a-z0-9-]+:[0-9]+:recording-configuration/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivs#ChannelSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>Channel ARN.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivs#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>Channel name.</p>"
          }
        },
        "latencyMode": {
          "target": "com.amazonaws.ivs#ChannelLatencyMode",
          "traits": {
            "smithy.api#documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to\n      Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. Default:\n        <code>LOW</code>. (Note: In the Amazon IVS console, <code>LOW</code> and <code>NORMAL</code>\n      correspond to Ultra-low and Standard, respectively.)</p>"
          }
        },
        "authorized": {
          "target": "com.amazonaws.ivs#IsAuthorized",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the channel is private (enabled for playback authorization). Default:\n        <code>false</code>.</p>"
          }
        },
        "recordingConfigurationArn": {
          "target": "com.amazonaws.ivs#ChannelRecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Recording-configuration ARN. A value other than an empty string indicates that recording\n      is enabled. Default: \"\" (empty string, recording is disabled).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of 1-50 maps, each of the form <code>string:string (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a channel.</p>"
      }
    },
    "com.amazonaws.ivs#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BASIC",
            "name": "BasicChannelType"
          },
          {
            "value": "STANDARD",
            "name": "StandardChannelType"
          }
        ]
      }
    },
    "com.amazonaws.ivs#Channels": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivs#Channel"
      }
    },
    "com.amazonaws.ivs#ConflictException": {
      "type": "structure",
      "members": {
        "exceptionMessage": {
          "target": "com.amazonaws.ivs#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Updating or deleting a resource can cause an inconsistent state.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ivs#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new channel and an associated stream key to start streaming.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateChannel"
        }
      }
    },
    "com.amazonaws.ivs#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ivs#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>Channel name.</p>"
          }
        },
        "latencyMode": {
          "target": "com.amazonaws.ivs#ChannelLatencyMode",
          "traits": {
            "smithy.api#documentation": "<p>Channel latency mode. Use <code>NORMAL</code> to broadcast and deliver live video up to\n      Full HD. Use <code>LOW</code> for near-real-time interaction with viewers. (Note: In the\n      Amazon IVS console, <code>LOW</code> and <code>NORMAL</code> correspond to Ultra-low and\n      Standard, respectively.) Default: <code>LOW</code>.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.ivs#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Channel type, which determines the allowable resolution and bitrate. <i>If you\n        exceed the allowable resolution or bitrate, the stream probably will disconnect\n        immediately.</i> Default: <code>STANDARD</code>. Valid values:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>STANDARD</code>: Video is transcoded: multiple qualities are generated from the\n          original input, to automatically give viewers the best experience for their devices and\n          network conditions. Transcoding allows higher playback quality across a range of download\n          speeds. Resolution can be up to 1080p and bitrate can be up to 8.5 Mbps. Audio is\n          transcoded only for renditions 360p and below; above that, audio is passed through. This\n          is the default.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BASIC</code>: Video is transmuxed: Amazon IVS delivers the original input to\n          viewers. The viewer’s video-quality choice is limited to the original input. Resolution\n          can be up to 1080p and bitrate can be up to 1.5 Mbps for 480p and up to 3.5 Mbps for\n          resolutions between 480p and 1080p.</p>\n            </li>\n         </ul>"
          }
        },
        "authorized": {
          "target": "com.amazonaws.ivs#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Whether the channel is private (enabled for playback authorization). Default:\n        <code>false</code>.</p>"
          }
        },
        "recordingConfigurationArn": {
          "target": "com.amazonaws.ivs#ChannelRecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Recording-configuration ARN. Default: \"\" (empty string, recording is disabled).</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.amazonaws.ivs#Channel",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        },
        "streamKey": {
          "target": "com.amazonaws.ivs#StreamKey",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.ivs#CreateRecordingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#CreateRecordingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#CreateRecordingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ConflictException"
        },
        {
          "target": "com.amazonaws.ivs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new recording configuration, used to enable recording to Amazon S3.</p>\n         <p>\n            <b>Known issue:</b> In the us-east-1 region, if you use the\n        Amazon Web Services CLI to create a recording configuration, it returns success even if the\n      S3 bucket is in a different region. In this case, the <code>state</code> of the recording\n      configuration is <code>CREATE_FAILED</code> (instead of <code>ACTIVE</code>). (In other\n      regions, the CLI correctly returns failure if the bucket is in a different region.)</p>\n         <p>\n            <b>Workaround:</b> Ensure that your S3 bucket is in the same\n      region as the recording configuration. If you create a recording configuration in a different\n      region as your S3 bucket, delete that recording configuration and create a new one with an S3\n      bucket from the correct region.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateRecordingConfiguration"
        }
      }
    },
    "com.amazonaws.ivs#CreateRecordingConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ivs#RecordingConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>Recording-configuration name. The value does not need to be unique.</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.ivs#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a destination configuration for where recorded video will be\n      stored.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        },
        "thumbnailConfiguration": {
          "target": "com.amazonaws.ivs#ThumbnailConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that allows you to enable/disable the recording of thumbnails for a live\n      session and modify the interval at which thumbnails are generated for the live session.</p>"
          }
        },
        "recordingReconnectWindowSeconds": {
          "target": "com.amazonaws.ivs#RecordingReconnectWindowSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>If a broadcast disconnects and then reconnects within the specified interval, the multiple\n      streams will be considered a single broadcast and merged together. Default: 0.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#CreateRecordingConfigurationResponse": {
      "type": "structure",
      "members": {
        "recordingConfiguration": {
          "target": "com.amazonaws.ivs#RecordingConfiguration",
          "traits": {
            "smithy.api#documentation": ""
          }
        }
      }
    },
    "com.amazonaws.ivs#CreateStreamKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#CreateStreamKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#CreateStreamKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a stream key, used to initiate a stream, for the specified channel ARN.</p>\n         <p>Note that <a>CreateChannel</a> creates a stream key. If you subsequently use\n      CreateStreamKey on the same channel, it will fail because a stream key already exists and\n      there is a limit of 1 stream key per channel. To reset the stream key on a channel, use <a>DeleteStreamKey</a> and then CreateStreamKey.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateStreamKey"
        }
      }
    },
    "com.amazonaws.ivs#CreateStreamKeyRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the channel for which to create the stream key.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Array of 1-50 maps, each of the form <code>string:string (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#CreateStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "com.amazonaws.ivs#StreamKey",
          "traits": {
            "smithy.api#documentation": "<p>Stream key used to authenticate an RTMPS stream for ingestion.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#DeleteChannelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ConflictException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified channel and its associated stream keys.</p>\n         <p>If you try to delete a live channel, you will get an error (409 ConflictException). To\n      delete a channel that is live, call <a>StopStream</a>, wait for the Amazon\n      EventBridge \"Stream End\" event (to verify that the stream's state was changed from Live to\n      Offline), then call DeleteChannel. (See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/eventbridge.html\"> Using EventBridge with Amazon IVS</a>.)\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteChannel",
          "code": 204
        }
      }
    },
    "com.amazonaws.ivs#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the channel to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#DeletePlaybackKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#DeletePlaybackKeyPairRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#DeletePlaybackKeyPairResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified authorization key pair. This invalidates future viewer tokens\n      generated using the key pair’s <code>privateKey</code>. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private\n        Channels</a> in the <i>Amazon IVS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeletePlaybackKeyPair"
        }
      }
    },
    "com.amazonaws.ivs#DeletePlaybackKeyPairRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#PlaybackKeyPairArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the key pair to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#DeletePlaybackKeyPairResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ivs#DeleteRecordingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#DeleteRecordingConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ConflictException"
        },
        {
          "target": "com.amazonaws.ivs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the recording configuration for the specified ARN.</p>\n         <p>If you try to delete a recording configuration that is associated with a channel, you will\n      get an error (409 ConflictException). To avoid this, for all channels that reference the\n      recording configuration, first use <a>UpdateChannel</a> to set the\n        <code>recordingConfigurationArn</code> field to an empty string, then use\n      DeleteRecordingConfiguration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteRecordingConfiguration"
        }
      }
    },
    "com.amazonaws.ivs#DeleteRecordingConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#RecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the recording configuration to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#DeleteStreamKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#DeleteStreamKeyRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the stream key for the specified ARN, so it can no longer be used to\n      stream.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteStreamKey",
          "code": 204
        }
      }
    },
    "com.amazonaws.ivs#DeleteStreamKeyRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#StreamKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the stream key to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#DestinationConfiguration": {
      "type": "structure",
      "members": {
        "s3": {
          "target": "com.amazonaws.ivs#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An S3 destination configuration where recorded videos will be stored.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes a location where recorded videos will be stored. Each member\n      represents a type of destination configuration. For recording, you define one and only one\n      type of destination configuration.</p>"
      }
    },
    "com.amazonaws.ivs#GetChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the channel configuration for the specified channel ARN. See also <a>BatchGetChannel</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetChannel"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetChannelRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the channel for which the configuration is to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#GetChannelResponse": {
      "type": "structure",
      "members": {
        "channel": {
          "target": "com.amazonaws.ivs#Channel",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.ivs#GetPlaybackKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetPlaybackKeyPairRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetPlaybackKeyPairResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a specified playback authorization key pair and returns the <code>arn</code> and\n        <code>fingerprint</code>. The <code>privateKey</code> held by the caller can be used to\n      generate viewer authorization tokens, to grant viewers access to private channels. For more\n      information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private Channels</a> in the <i>Amazon IVS User\n      Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetPlaybackKeyPair"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetPlaybackKeyPairRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#PlaybackKeyPairArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the key pair to be returned.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#GetPlaybackKeyPairResponse": {
      "type": "structure",
      "members": {
        "keyPair": {
          "target": "com.amazonaws.ivs#PlaybackKeyPair",
          "traits": {
            "smithy.api#documentation": ""
          }
        }
      }
    },
    "com.amazonaws.ivs#GetRecordingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetRecordingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetRecordingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the recording configuration for the specified ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetRecordingConfiguration"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetRecordingConfigurationRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#RecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the recording configuration to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#GetRecordingConfigurationResponse": {
      "type": "structure",
      "members": {
        "recordingConfiguration": {
          "target": "com.amazonaws.ivs#RecordingConfiguration",
          "traits": {
            "smithy.api#documentation": ""
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetStreamRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetStreamResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ChannelNotBroadcasting"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about the active (live) stream on a specified channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetStream"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetStreamKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetStreamKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetStreamKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets stream-key information for a specified ARN.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetStreamKey"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetStreamKeyRequest": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivs#StreamKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN for the stream key to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStreamKeyResponse": {
      "type": "structure",
      "members": {
        "streamKey": {
          "target": "com.amazonaws.ivs#StreamKey",
          "traits": {
            "smithy.api#documentation": ""
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStreamRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>Channel ARN for stream to be accessed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStreamResponse": {
      "type": "structure",
      "members": {
        "stream": {
          "target": "com.amazonaws.ivs#Stream",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStreamSession": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#GetStreamSessionRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#GetStreamSessionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets metadata on a specified stream.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetStreamSession"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#GetStreamSessionRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the channel resource</p>",
            "smithy.api#required": {}
          }
        },
        "streamId": {
          "target": "com.amazonaws.ivs#StreamId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for a live or previously live stream in the specified channel. If no\n        <code>streamId</code> is provided, this returns the most recent stream session for the\n      channel, if it exists.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#GetStreamSessionResponse": {
      "type": "structure",
      "members": {
        "streamSession": {
          "target": "com.amazonaws.ivs#StreamSession",
          "traits": {
            "smithy.api#documentation": "<p>List of stream details.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ImportPlaybackKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ImportPlaybackKeyPairRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ImportPlaybackKeyPairResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ConflictException"
        },
        {
          "target": "com.amazonaws.ivs#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivs#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Imports the public portion of a new key pair and returns its <code>arn</code> and\n        <code>fingerprint</code>. The <code>privateKey</code> can then be used to generate viewer\n      authorization tokens, to grant viewers access to private channels. For more information, see\n        <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up\n        Private Channels</a> in the <i>Amazon IVS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ImportPlaybackKeyPair"
        }
      }
    },
    "com.amazonaws.ivs#ImportPlaybackKeyPairRequest": {
      "type": "structure",
      "members": {
        "publicKeyMaterial": {
          "target": "com.amazonaws.ivs#PlaybackPublicKeyMaterial",
          "traits": {
            "smithy.api#documentation": "<p>The public portion of a customer-generated key pair.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.ivs#PlaybackKeyPairName",
          "traits": {
            "smithy.api#documentation": "<p>Playback-key-pair name. The value does not need to be unique.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivs#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Any tags provided with the request are added to the playback key pair tags. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services Resources</a> for\n      more information, including restrictions that apply to tags and \"Tag naming limits and\n      requirements\"; Amazon IVS has no service-specific constraints beyond what is documented\n      there.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ImportPlaybackKeyPairResponse": {
      "type": "structure",
      "members": {
        "keyPair": {
          "target": "com.amazonaws.ivs#PlaybackKeyPair",
          "traits": {
            "smithy.api#documentation": "<p/>"
          }
        }
      }
    },
    "com.amazonaws.ivs#IngestConfiguration": {
      "type": "structure",
      "members": {
        "video": {
          "target": "com.amazonaws.ivs#VideoConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Encoder settings for video.</p>"
          }
        },
        "audio": {
          "target": "com.amazonaws.ivs#AudioConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Encoder settings for audio.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object specifying the ingest configuration set up by the broadcaster, usually in an\n      encoder.</p>"
      }
    },
    "com.amazonaws.ivs#IngestEndpoint": {
      "type": "string"
    },
    "com.amazonaws.ivs#Integer": {
      "type": "long",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ivs#InternalServerException": {
      "type": "structure",
      "members": {
        "exceptionMessage": {
          "target": "com.amazonaws.ivs#errorMessage",
          "traits": {
            "smithy.api#documentation": "<p>Unexpected error during processing of request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ivs#IsAuthorized": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.ivs#ListChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ListChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ListChannelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ConflictException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all channels in your account, in the Amazon Web Services\n      region where the API request is processed. This list can be filtered to match a specified name\n      or recording-configuration ARN. Filters are mutually exclusive and cannot be used together. If\n      you try to use both filters, you will get an error (409 ConflictException).</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListChannels"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#ListChannelsRequest": {
      "type": "structure",
      "members": {
        "filterByName": {
          "target": "com.amazonaws.ivs#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>Filters the channel list to match the specified name.</p>"
          }
        },
        "filterByRecordingConfigurationArn": {
          "target": "com.amazonaws.ivs#ChannelRecordingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Filters the channel list to match the specified recording-configuration ARN.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first channel to retrieve. This is used for pagination; see the <code>nextToken</code>\n      response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivs#MaxChannelResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of channels to return. Default: 100.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "channels": {
          "target": "com.amazonaws.ivs#ChannelList",
          "traits": {
            "smithy.api#documentation": "<p>List of the matching channels.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more channels than <code>maxResults</code>, use <code>nextToken</code> in the\n      request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListPlaybackKeyPairs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ListPlaybackKeyPairsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ListPlaybackKeyPairsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about playback key pairs. For more information, see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/private-channels.html\">Setting Up Private\n        Channels</a> in the <i>Amazon IVS User Guide</i>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListPlaybackKeyPairs"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#ListPlaybackKeyPairsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first key pair to retrieve. This is used for pagination; see the\n        <code>nextToken</code> response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivs#MaxPlaybackKeyPairResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of key pairs to return. Default: your service quota or 100, whichever is\n      smaller.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListPlaybackKeyPairsResponse": {
      "type": "structure",
      "members": {
        "keyPairs": {
          "target": "com.amazonaws.ivs#PlaybackKeyPairList",
          "traits": {
            "smithy.api#documentation": "<p>List of key pairs.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more key pairs than <code>maxResults</code>, use <code>nextToken</code> in\n      the request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListRecordingConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ListRecordingConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ListRecordingConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#InternalServerException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all recording configurations in your account, in the\n        Amazon Web Services region where the API request is processed.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListRecordingConfigurations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#ListRecordingConfigurationsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first recording configuration to retrieve. This is used for pagination; see the\n        <code>nextToken</code> response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivs#MaxRecordingConfigurationResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of recording configurations to return. Default: your service quota or 100,\n      whichever is smaller. </p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListRecordingConfigurationsResponse": {
      "type": "structure",
      "members": {
        "recordingConfigurations": {
          "target": "com.amazonaws.ivs#RecordingConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>List of the matching recording configurations.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more recording configurations than <code>maxResults</code>, use\n        <code>nextToken</code> in the request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListStreamKeys": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ListStreamKeysRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ListStreamKeysResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about stream keys for the specified channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListStreamKeys"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivs#ListStreamKeysRequest": {
      "type": "structure",
      "members": {
        "channelArn": {
          "target": "com.amazonaws.ivs#ChannelArn",
          "traits": {
            "smithy.api#documentation": "<p>Channel ARN used to filter the list.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first stream key to retrieve. This is used for pagination; see the\n        <code>nextToken</code> response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivs#MaxStreamKeyResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of streamKeys to return. Default: 1.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListStreamKeysResponse": {
      "type": "structure",
      "members": {
        "streamKeys": {
          "target": "com.amazonaws.ivs#StreamKeyList",
          "traits": {
            "smithy.api#documentation": "<p>List of stream keys.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivs#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more stream keys than <code>maxResults</code>, use <code>nextToken</code> in\n      the request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivs#ListStreamSessions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivs#ListStreamSessionsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivs#ListStreamSessionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivs#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivs#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivs#ValidationException"
        }
      ],
      "traits": {
[...]
