{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.ivschat#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ivschat#AmazonInteractiveVideoServiceChat": {
      "type": "service",
      "version": "2020-07-14",
      "operations": [
        {
          "target": "com.amazonaws.ivschat#CreateChatToken"
        },
        {
          "target": "com.amazonaws.ivschat#CreateLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.ivschat#CreateRoom"
        },
        {
          "target": "com.amazonaws.ivschat#DeleteLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.ivschat#DeleteMessage"
        },
        {
          "target": "com.amazonaws.ivschat#DeleteRoom"
        },
        {
          "target": "com.amazonaws.ivschat#DisconnectUser"
        },
        {
          "target": "com.amazonaws.ivschat#GetLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.ivschat#GetRoom"
        },
        {
          "target": "com.amazonaws.ivschat#ListLoggingConfigurations"
        },
        {
          "target": "com.amazonaws.ivschat#ListRooms"
        },
        {
          "target": "com.amazonaws.ivschat#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.ivschat#SendEvent"
        },
        {
          "target": "com.amazonaws.ivschat#TagResource"
        },
        {
          "target": "com.amazonaws.ivschat#UntagResource"
        },
        {
          "target": "com.amazonaws.ivschat#UpdateLoggingConfiguration"
        },
        {
          "target": "com.amazonaws.ivschat#UpdateRoom"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "ivschat",
          "arnNamespace": "ivschat",
          "cloudFormationName": "IVSChat",
          "cloudTrailEventSource": "REPLACE_WITH_EVENT_SOURCE"
        },
        "aws.auth#sigv4": {
          "name": "ivschat"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#cors": {
          "additionalAllowedHeaders": [
            "Content-Type",
            "X-Api-Key",
            "X-Amz-Content-Sha256",
            "X-Amz-User-Agent",
            "amz-sdk-invocation-id",
            "amz-sdk-request"
          ],
          "additionalExposedHeaders": [
            "x-amzn-errortype",
            "x-amzn-requestid",
            "x-amzn-errormessage",
            "x-amzn-trace-id",
            "x-amzn-requestid",
            "x-amz-apigw-id",
            "date"
          ]
        },
        "smithy.api#documentation": "<p>\n            <b>Introduction</b>\n         </p>\n         <p>The Amazon IVS Chat control-plane API enables you to create and manage Amazon IVS Chat\n      resources. You also need to integrate with the <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/chat-messaging-api.html\"> Amazon IVS Chat Messaging\n        API</a>, to enable users to interact with chat rooms in real time.</p>\n         <p>The API is an AWS regional service. For a list of supported regions and Amazon IVS Chat\n      HTTPS service endpoints, see the Amazon IVS Chat information on the <a href=\"https://docs.aws.amazon.com/general/latest/gr/ivs.html\">Amazon IVS page</a> in the\n        <i>AWS General Reference</i>. </p>\n         <p>\n            <b>Notes on terminology:</b>\n         </p>\n         <ul>\n            <li>\n               <p>You create service applications using the Amazon IVS Chat API. We refer to these as\n            <i>applications</i>.</p>\n            </li>\n            <li>\n               <p>You create front-end client applications (browser and Android/iOS apps) using the\n          Amazon IVS Chat Messaging API. We refer to these as <i>clients</i>. </p>\n            </li>\n         </ul>\n         <p>\n            <b>Resources</b>\n         </p>\n         <p>The following resources are part of Amazon IVS Chat:</p>\n         <ul>\n            <li>\n               <p>\n                  <b>LoggingConfiguration</b> — A configuration that allows customers to store and record sent messages in a chat room. See the Logging Configuration endpoints for more information.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Room</b> — The central Amazon IVS Chat resource through\n          which clients connect to and exchange chat messages. See the Room endpoints for more\n          information.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Tagging</b>\n         </p>\n         <p>A <i>tag</i> is a metadata label that you assign to an AWS resource. A tag\n      comprises a <i>key</i> and a <i>value</i>, both set by you. For\n      example, you might set a tag as <code>topic:nature</code> to label a particular video\n      category. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS Resources</a> for more information, including restrictions that apply to\n      tags and \"Tag naming limits and requirements\"; Amazon IVS Chat has no service-specific\n      constraints beyond what is documented there.</p>\n         <p>Tags can help you identify and organize your AWS resources. For example, you can use the\n      same tag for different resources to indicate that they are related. You can also use tags to\n      manage access (see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_tags.html\">Access Tags</a>).</p>\n         <p>The Amazon IVS Chat API has these tag-related endpoints: <a>TagResource</a>, <a>UntagResource</a>, and\n      <a>ListTagsForResource</a>. The following resource supports tagging: Room.</p>\n         <p>At most 50 tags can be applied to a resource.</p>\n         <p>\n            <b>API Access Security</b>\n         </p>\n         <p>Your Amazon IVS Chat applications (service applications and clients) must be authenticated\n      and authorized to access Amazon IVS Chat resources. Note the differences between these\n      concepts:</p>\n         <ul>\n            <li>\n               <p>\n                  <i>Authentication</i> is about verifying identity. Requests to the\n          Amazon IVS Chat API must be signed to verify your identity.</p>\n            </li>\n            <li>\n               <p>\n                  <i>Authorization</i> is about granting permissions. Your IAM roles need\n          to have permissions for Amazon IVS Chat API requests.</p>\n            </li>\n         </ul>\n         <p>Users (viewers) connect to a room using secure access tokens that you create using the\n        <a>CreateChatToken</a> endpoint through the AWS SDK. You call CreateChatToken for\n      every user’s chat session, passing identity and authorization information about the\n      user.</p>\n         <p>\n            <b>Signing API Requests</b>\n         </p>\n         <p>HTTP API requests must be signed with an AWS SigV4 signature using your AWS security\n      credentials. The AWS Command Line Interface (CLI) and the AWS SDKs take care of signing the\n      underlying API calls for you. However, if your application calls the Amazon IVS Chat HTTP API\n      directly, it’s your responsibility to sign the requests.</p>\n         <p>You generate a signature using valid AWS credentials for an IAM role that has permission\n      to perform the requested action. For example, DeleteMessage requests must be made using an IAM\n      role that has the <code>ivschat:DeleteMessage</code> permission.</p>\n         <p>For more information:</p>\n         <ul>\n            <li>\n               <p>Authentication and generating signatures — See <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sig-v4-authenticating-requests.html\">Authenticating Requests\n              (Amazon Web Services Signature Version 4)</a> in the <i>Amazon Web Services\n            General Reference</i>.</p>\n            </li>\n            <li>\n               <p>Managing Amazon IVS permissions — See <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/security-iam.html\">Identity and Access Management</a> on\n          the Security page of the <i>Amazon IVS User Guide</i>.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Amazon Resource Names (ARNs)</b>\n         </p>\n         <p>ARNs uniquely identify AWS resources. An ARN is required when you need to specify a\n      resource unambiguously across all of AWS, such as in IAM policies and API calls. For more\n      information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names</a> in the <i>AWS General\n          Reference</i>.</p>\n         <p>\n            <b>Messaging Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteMessage</a> — Sends an event to a specific room which\n          directs clients to delete a specific message; that is, unrender it from view and delete it\n          from the client’s chat history. This event’s <code>EventName</code> is\n            <code>aws:DELETE_MESSAGE</code>. This replicates the <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/actions-deletemessage-publish.html\">\n            DeleteMessage</a> WebSocket operation in the Amazon IVS Chat Messaging API.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DisconnectUser</a> — Disconnects all connections using a specified\n          user ID from a room. This replicates the <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/actions-disconnectuser-publish.html\">\n            DisconnectUser</a> WebSocket operation in the Amazon IVS Chat Messaging API.</p>\n            </li>\n            <li>\n               <p>\n                  <a>SendEvent</a> — Sends an event to a room. Use this within your\n          application’s business logic to send events to clients of a room; e.g., to notify clients\n          to change the way the chat UI is rendered.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Chat Token Endpoint</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateChatToken</a> — Creates an encrypted token that is used by a chat participant to establish an\n          individual WebSocket chat connection to a room. When the token is used to connect to chat,\n          the connection is valid for the session duration specified in the request. The token\n          becomes invalid at the token-expiration timestamp included in the response.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Room Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateRoom</a> — Creates a room that allows clients to connect and\n          pass messages.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteRoom</a> — Deletes the specified room.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetRoom</a> — Gets the specified room.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListRooms</a> — Gets summary information about all your rooms in\n          the AWS region where the API request is processed. </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateRoom</a> — Updates a room’s configuration.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Logging Configuration Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateLoggingConfiguration</a> — Creates a logging configuration that allows clients to store and record sent messages.</p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteLoggingConfiguration</a> — Deletes the specified logging\n          configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <a>GetLoggingConfiguration</a> — Gets the specified logging\n          configuration.</p>\n            </li>\n            <li>\n               <p>\n                  <a>ListLoggingConfigurations</a> — Gets summary information about all\n          your logging configurations in the AWS region where the API request is processed.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateLoggingConfiguration</a> — Updates a specified logging configuration.</p>\n            </li>\n         </ul>\n         <p>\n            <b>Tags Endpoints</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListTagsForResource</a> — Gets information about AWS tags for the\n          specified ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>TagResource</a> — Adds or updates tags for the AWS resource with\n          the specified ARN.</p>\n            </li>\n            <li>\n               <p>\n                  <a>UntagResource</a> — Removes tags from the resource with the\n          specified ARN.</p>\n            </li>\n         </ul>\n         <p>All the above are HTTP operations. There is a separate <i>messaging</i> API\n      for managing Chat resources; see the <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/chat-messaging-api.html\"> Amazon IVS Chat Messaging API\n        Reference</a>.</p>",
        "smithy.api#title": "Amazon Interactive Video Service Chat",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivschat-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivschat-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://ivschat.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://ivschat.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://ivschat.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.ivschat#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 63
        },
        "smithy.api#pattern": "^[a-z0-9-.]+$"
      }
    },
    "com.amazonaws.ivschat#ChatToken": {
      "type": "string"
    },
    "com.amazonaws.ivschat#ChatTokenAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.ivschat#String"
      },
      "value": {
        "target": "com.amazonaws.ivschat#String"
      }
    },
    "com.amazonaws.ivschat#ChatTokenCapabilities": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivschat#ChatTokenCapability"
      }
    },
    "com.amazonaws.ivschat#ChatTokenCapability": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SEND_MESSAGE",
            "name": "SEND_MESSAGE"
          },
          {
            "value": "DISCONNECT_USER",
            "name": "DISCONNECT_USER"
          },
          {
            "value": "DELETE_MESSAGE",
            "name": "DELETE_MESSAGE"
          }
        ]
      }
    },
    "com.amazonaws.ivschat#CloudWatchLogsDestinationConfiguration": {
      "type": "structure",
      "members": {
        "logGroupName": {
          "target": "com.amazonaws.ivschat#LogGroupName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Amazon Cloudwatch Logs destination where chat activity will be logged.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a CloudWatch Logs location where chat logs will be stored.</p>"
      }
    },
    "com.amazonaws.ivschat#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.ivschat#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ivschat#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.ivschat#CreateChatToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#CreateChatTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#CreateChatTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an encrypted token that is used by a chat participant to establish an individual\n         WebSocket chat connection to a room. When the token is used to connect to chat, the\n         connection is valid for the session duration specified in the request. The token becomes\n         invalid at the token-expiration timestamp included in the response.</p>\n         <p>Use the <code>capabilities</code> field to permit an end user to send messages or\n         moderate a room.</p>\n         <p>The <code>attributes</code> field securely attaches structured data to the chat session; the data is\n         included within each message sent by the end user and received by other participants in the\n         room. Common use cases for attributes include passing end-user profile data like an icon,\n         display name, colors, badges, and other display features.</p>\n         <p>Encryption keys are owned by Amazon IVS Chat and never used directly by your\n         application.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateChatToken"
        }
      }
    },
    "com.amazonaws.ivschat#CreateChatTokenRequest": {
      "type": "structure",
      "members": {
        "roomIdentifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room that the client is trying to access. Currently this must be an\n         ARN. </p>",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.ivschat#UserID",
          "traits": {
            "smithy.api#documentation": "<p>Application-provided ID that uniquely identifies the user associated with this token.\n         This can be any UTF-8 encoded text.</p>",
            "smithy.api#required": {}
          }
        },
        "capabilities": {
          "target": "com.amazonaws.ivschat#ChatTokenCapabilities",
          "traits": {
            "smithy.api#documentation": "<p>Set of capabilities that the user is allowed to perform in the room. Default: None (the\n         capability to view messages is implicitly included in all requests).</p>"
          }
        },
        "sessionDurationInMinutes": {
          "target": "com.amazonaws.ivschat#SessionDurationInMinutes",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Session duration (in minutes), after which the session expires. Default: 60 (1\n         hour).</p>"
          }
        },
        "attributes": {
          "target": "com.amazonaws.ivschat#ChatTokenAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Application-provided attributes to encode into the token and attach to a chat session.\n         Map keys and values can contain UTF-8 encoded text. The maximum length of this field is 1\n         KB total.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#CreateChatTokenResponse": {
      "type": "structure",
      "members": {
        "token": {
          "target": "com.amazonaws.ivschat#ChatToken",
          "traits": {
            "smithy.api#documentation": "<p>The issued client token, encrypted.</p>"
          }
        },
        "tokenExpirationTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time after which the token is no longer valid and cannot be used to connect to a room.\n         This is an ISO 8601 timestamp; <i>note that this is returned as a\n         string</i>.</p>"
          }
        },
        "sessionExpirationTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time after which an end user's session is no longer valid. This is an ISO 8601\n         timestamp; <i>note that this is returned as a string</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#CreateLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#CreateLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#CreateLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ConflictException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a logging configuration that allows clients to store and record sent\n         messages.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateLoggingConfiguration"
        }
      }
    },
    "com.amazonaws.ivschat#CreateLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration name. The value does not need to be unique.</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.ivschat#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a destination configuration for where chat content will be\n         logged. There can be only one type of destination (<code>cloudWatchLogs</code>,\n            <code>firehose</code>, or <code>s3</code>) in a\n         <code>destinationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS\n            Resources</a> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS Chat has no constraints on tags beyond what is\n         documented there.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#CreateLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ARN, assigned by the system.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationID",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ID, generated by the system. This is a relative identifier, the\n         part of the ARN that uniquely identifies the logging configuration.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the logging configuration was created. This is an ISO 8601 timestamp;\n            <i>note that this is returned as a string</i>.</p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the logging configuration’s last update. This is an ISO 8601 timestamp;\n            <i>note that this is returned as a string</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration name, from the request (if specified).</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.ivschat#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a destination configuration for where chat content will be\n         logged, from the request. There is only one type of destination\n            (<code>cloudWatchLogs</code>, <code>firehose</code>, or <code>s3</code>) in a\n            <code>destinationConfiguration</code>.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.ivschat#CreateLoggingConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the logging configuration. When the state is <code>ACTIVE</code>, the\n         configuration is ready to log chat content.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource, from the request (if specified). Array of maps, each of\n         the form <code>string:string (key:value)</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#CreateLoggingConfigurationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.ivschat#CreateRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#CreateRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#CreateRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ConflictException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a room that allows clients to connect and pass messages.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateRoom"
        }
      }
    },
    "com.amazonaws.ivschat#CreateRoomRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ivschat#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>Room name. The value does not need to be unique.</p>"
          }
        },
        "maximumMessageRatePerSecond": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageRatePerSecond",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of messages per second that can be sent to the room (by all clients).\n         Default: 10. </p>"
          }
        },
        "maximumMessageLength": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageLength",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of characters in a single message. Messages are expected to be UTF-8\n         encoded and this limit applies specifically to rune/code-point count, not number of bytes.\n         Default: 500.</p>"
          }
        },
        "messageReviewHandler": {
          "target": "com.amazonaws.ivschat#MessageReviewHandler",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for optional review of messages.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS\n            Resources</a> for details, including restrictions that apply to tags and \"Tag naming\n         limits and requirements\"; Amazon IVS Chat has no constraints beyond what is documented\n         there.</p>"
          }
        },
        "loggingConfigurationIdentifiers": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Array of logging-configuration identifiers attached to the room.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#CreateRoomResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#RoomArn",
          "traits": {
            "smithy.api#documentation": "<p>Room ARN, assigned by the system.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#RoomID",
          "traits": {
            "smithy.api#documentation": "<p>Room ID, generated by the system. This is a relative identifier, the part of the ARN\n         that uniquely identifies the room.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>Room name, from the request (if specified).</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the room was created. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the room’s last update. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
          }
        },
        "maximumMessageRatePerSecond": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageRatePerSecond",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of messages per second that can be sent to the room (by all clients),\n         from the request (if specified).</p>"
          }
        },
        "maximumMessageLength": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageLength",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of characters in a single message, from the request (if\n         specified).</p>"
          }
        },
        "messageReviewHandler": {
          "target": "com.amazonaws.ivschat#MessageReviewHandler",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for optional review of messages.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource, from the request (if specified).</p>"
          }
        },
        "loggingConfigurationIdentifiers": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Array of logging configurations attached to the room, from the request (if\n         specified).</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#DeleteLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#DeleteLoggingConfigurationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ConflictException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified logging configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteLoggingConfiguration",
          "code": 204
        }
      }
    },
    "com.amazonaws.ivschat#DeleteLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the logging configuration to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#DeleteMessage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#DeleteMessageRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#DeleteMessageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends an event to a specific room which directs clients to delete a specific message;\n         that is, unrender it from view and delete it from the client’s chat history. This event’s\n            <code>EventName</code> is <code>aws:DELETE_MESSAGE</code>. This replicates the <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/actions-deletemessage-publish.html\">\n            DeleteMessage</a> WebSocket operation in the Amazon IVS Chat Messaging API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteMessage"
        }
      }
    },
    "com.amazonaws.ivschat#DeleteMessageRequest": {
      "type": "structure",
      "members": {
        "roomIdentifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room where the message should be deleted. Currently this must be an\n         ARN. </p>",
            "smithy.api#required": {}
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#MessageID",
          "traits": {
            "smithy.api#documentation": "<p>ID of the message to be deleted. This is the <code>Id</code> field in the received\n         message (see <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/actions-message-subscribe.html\"> Message\n            (Subscribe)</a> in the Chat Messaging API).</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.ivschat#Reason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for deleting the message.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#DeleteMessageResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.ivschat#ID",
          "traits": {
            "smithy.api#documentation": "<p>Operation identifier, generated by Amazon IVS Chat.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#DeleteRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#DeleteRoomRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified room.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteRoom",
          "code": 204
        }
      }
    },
    "com.amazonaws.ivschat#DeleteRoomRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room to be deleted. Currently this must be an ARN.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#DeliveryStreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.ivschat#DestinationConfiguration": {
      "type": "union",
      "members": {
        "s3": {
          "target": "com.amazonaws.ivschat#S3DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon S3 destination configuration where chat activity will be logged.</p>"
          }
        },
        "cloudWatchLogs": {
          "target": "com.amazonaws.ivschat#CloudWatchLogsDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon CloudWatch Logs destination configuration where chat activity will be\n      logged.</p>"
          }
        },
        "firehose": {
          "target": "com.amazonaws.ivschat#FirehoseDestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Kinesis Data Firehose destination configuration where chat activity will be\n      logged.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A complex type that describes a location where chat logs will be stored. Each member\n      represents the configuration of one log destination. For logging, you define only one type of\n      destination (for CloudWatch Logs, Kinesis Firehose, or S3).</p>"
      }
    },
    "com.amazonaws.ivschat#DisconnectUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#DisconnectUserRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#DisconnectUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disconnects all connections using a specified user ID from a room. This replicates the\n            <a href=\"https://docs.aws.amazon.com/ivs/latest/chatmsgapireference/actions-disconnectuser-publish.html\">\n            DisconnectUser</a> WebSocket operation in the Amazon IVS Chat Messaging API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DisconnectUser"
        }
      }
    },
    "com.amazonaws.ivschat#DisconnectUserRequest": {
      "type": "structure",
      "members": {
        "roomIdentifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room from which the user's clients should be disconnected. Currently\n         this must be an ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.ivschat#UserID",
          "traits": {
            "smithy.api#documentation": "<p>ID of the user (connection) to disconnect from the room.</p>",
            "smithy.api#required": {}
          }
        },
        "reason": {
          "target": "com.amazonaws.ivschat#Reason",
          "traits": {
            "smithy.api#documentation": "<p>Reason for disconnecting the user.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#DisconnectUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.ivschat#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.ivschat#EventAttributes": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.ivschat#String"
      },
      "value": {
        "target": "com.amazonaws.ivschat#String"
      }
    },
    "com.amazonaws.ivschat#EventName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ivschat#FallbackResult": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "DENY",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.ivschat#FieldName": {
      "type": "string"
    },
    "com.amazonaws.ivschat#FirehoseDestinationConfiguration": {
      "type": "structure",
      "members": {
        "deliveryStreamName": {
          "target": "com.amazonaws.ivschat#DeliveryStreamName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Amazon Kinesis Firehose delivery stream where chat activity will be\n      logged.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a Kinesis Firehose location where chat logs will be stored.</p>"
      }
    },
    "com.amazonaws.ivschat#GetLoggingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#GetLoggingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#GetLoggingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified logging configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetLoggingConfiguration"
        }
      }
    },
    "com.amazonaws.ivschat#GetLoggingConfigurationRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the logging configuration to be retrieved.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#GetLoggingConfigurationResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ARN, from the request (if <code>identifier</code> was an\n         ARN).</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationID",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ID, generated by the system. This is a relative identifier, the\n         part of the ARN that uniquely identifies the logging configuration.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the logging configuration was created. This is an ISO 8601 timestamp;\n            <i>note that this is returned as a string</i>.</p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the logging configuration’s last update. This is an ISO 8601 timestamp;\n            <i>note that this is returned as a string</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration name. This value does not need to be unique.</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.ivschat#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a destination configuration for where chat content will be\n         logged. There is only one type of destination (<code>cloudWatchLogs</code>,\n            <code>firehose</code>, or <code>s3</code>) in a\n         <code>destinationConfiguration</code>.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the logging configuration. When the state is <code>ACTIVE</code>, the\n         configuration is ready to log chat content.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#GetRoom": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#GetRoomRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#GetRoomResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the specified room.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetRoom"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivschat#GetRoomRequest": {
      "type": "structure",
      "members": {
        "identifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room for which the configuration is to be retrieved. Currently this\n         must be an ARN.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#GetRoomResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#RoomArn",
          "traits": {
            "smithy.api#documentation": "<p>Room ARN, from the request (if <code>identifier</code> was an ARN).</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#RoomID",
          "traits": {
            "smithy.api#documentation": "<p>Room ID, generated by the system. This is a relative identifier, the part of the ARN\n         that uniquely identifies the room.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>Room name. The value does not need to be unique.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the room was created. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the room’s last update. This is an ISO 8601 timestamp; <i>note that this\n            is returned as a string</i>.</p>"
          }
        },
        "maximumMessageRatePerSecond": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageRatePerSecond",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of messages per second that can be sent to the room (by all clients).\n         Default: 10.</p>"
          }
        },
        "maximumMessageLength": {
          "target": "com.amazonaws.ivschat#RoomMaxMessageLength",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of characters in a single message. Messages are expected to be UTF-8\n         encoded and this limit applies specifically to rune/code-point count, not number of bytes.\n         Default: 500.</p>"
          }
        },
        "messageReviewHandler": {
          "target": "com.amazonaws.ivschat#MessageReviewHandler",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for optional review of messages.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>.</p>"
          }
        },
        "loggingConfigurationIdentifiers": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>Array of logging configurations attached to the room.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.ivschat#LambdaArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 170
        },
        "smithy.api#pattern": "^$|^arn:aws:lambda:[a-z0-9-]+:[0-9]{12}:function:.+"
      }
    },
    "com.amazonaws.ivschat#Limit": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.ivschat#ListLoggingConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#ListLoggingConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#ListLoggingConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all your logging configurations in the AWS region where\n         the API request is processed.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListLoggingConfigurations"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivschat#ListLoggingConfigurationsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.ivschat#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first logging configurations to retrieve. This is used for pagination; see the\n            <code>nextToken</code> response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivschat#MaxLoggingConfigurationResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of logging configurations to return. Default: 50.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ListLoggingConfigurationsResponse": {
      "type": "structure",
      "members": {
        "loggingConfigurations": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>List of the matching logging configurations (summary information only). There is only\n         one type of destination (<code>cloudWatchLogs</code>, <code>firehose</code>, or\n            <code>s3</code>) in a <code>destinationConfiguration</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivschat#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more logging configurations than <code>maxResults</code>, use\n            <code>nextToken</code> in the request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ListRooms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#ListRoomsRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#ListRoomsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets summary information about all your rooms in the AWS region where the API request is\n         processed. Results are sorted in descending order of <code>updateTime</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ListRooms"
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivschat#ListRoomsRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.ivschat#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list to match the specified room name.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivschat#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The first room to retrieve. This is used for pagination; see the <code>nextToken</code>\n         response field.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.ivschat#MaxRoomResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Maximum number of rooms to return. Default: 50.</p>"
          }
        },
        "messageReviewHandlerUri": {
          "target": "com.amazonaws.ivschat#LambdaArn",
          "traits": {
            "smithy.api#documentation": "<p>Filters the list to match the specified message review handler URI.</p>"
          }
        },
        "loggingConfigurationIdentifier": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration identifier.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ListRoomsResponse": {
      "type": "structure",
      "members": {
        "rooms": {
          "target": "com.amazonaws.ivschat#RoomList",
          "traits": {
            "smithy.api#documentation": "<p>List of the matching rooms (summary information only).</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.ivschat#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If there are more rooms than <code>maxResults</code>, use <code>nextToken</code> in the\n         request to get the next set.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#InternalServerException"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about AWS tags for the specified ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{resourceArn}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.ivschat#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.ivschat#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the resource to be retrieved. The ARN must be URL-encoded.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n            (key:value)</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.ivschat#LogGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 512
        },
        "smithy.api#pattern": "^[\\.\\-_/#A-Za-z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:ivschat:[a-z0-9-]+:[0-9]+:logging-configuration/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:ivschat:[a-z0-9-]+:[0-9]+:logging-configuration/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationIdentifierList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        }
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivschat#LoggingConfigurationSummary"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETE_FAILED",
            "name": "DELETE_FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "UPDATE_FAILED",
            "name": "UPDATE_FAILED"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.ivschat#LoggingConfigurationSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationArn",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ARN.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationID",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration ID, generated by the system. This is a relative identifier, the part\n      of the ARN that uniquely identifies the room.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the logging configuration was created. This is an ISO 8601 timestamp;\n        <i>note that this is returned as a string</i>.</p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the logging configuration’s last update. This is an ISO 8601 timestamp;\n        <i>note that this is returned as a string</i>.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>Logging-configuration name. The value does not need to be unique.</p>"
          }
        },
        "destinationConfiguration": {
          "target": "com.amazonaws.ivschat#DestinationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A complex type that contains a destination configuration for where chat content will be\n      logged.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the logging configuration. When this is <code>ACTIVE</code>, the\n      configuration is ready for logging chat content.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags to attach to the resource. Array of maps, each of the form <code>string:string\n        (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS\n        Resources</a> for details, including restrictions that apply to tags and \"Tag naming\n      limits and requirements\"; Amazon IVS Chat has no constraints on tags beyond what is documented\n      there.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a logging configuration.</p>"
      }
    },
    "com.amazonaws.ivschat#MaxLoggingConfigurationResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ivschat#MaxRoomResults": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.ivschat#MessageID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#MessageReviewHandler": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "com.amazonaws.ivschat#LambdaArn",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the message review handler. Currently this must be an ARN of a lambda\n      function.</p>"
          }
        },
        "fallbackResult": {
          "target": "com.amazonaws.ivschat#FallbackResult",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the fallback behavior (whether the message is allowed or denied) if the handler\n      does not return a valid response, encounters an error, or times out. (For the timeout period,\n      see <a href=\"https://docs.aws.amazon.com/ivs/latest/userguide/service-quotas.html\"> Service\n        Quotas</a>.) If allowed, the message is delivered with returned content to all users\n      connected to the room. If denied, the message is not delivered to any user. Default:\n        <code>ALLOW</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for optional message review.</p>"
      }
    },
    "com.amazonaws.ivschat#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.ivschat#PendingVerification": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.ivschat#Reason": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.ivschat#ResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:ivschat:[a-z0-9-]+:[0-9]+:[a-z-]/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivschat#ResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.ivschat#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ivschat#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.ivschat#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ROOM",
            "name": "ROOM"
          }
        ]
      }
    },
    "com.amazonaws.ivschat#RoomArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:ivschat:[a-z0-9-]+:[0-9]+:room/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivschat#RoomID": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]+$"
      }
    },
    "com.amazonaws.ivschat#RoomIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^arn:aws:ivschat:[a-z0-9-]+:[0-9]+:room/[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.ivschat#RoomList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivschat#RoomSummary"
      }
    },
    "com.amazonaws.ivschat#RoomMaxMessageLength": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 500
        }
      }
    },
    "com.amazonaws.ivschat#RoomMaxMessageRatePerSecond": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.ivschat#RoomName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]*$"
      }
    },
    "com.amazonaws.ivschat#RoomSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.ivschat#RoomArn",
          "traits": {
            "smithy.api#documentation": "<p>Room ARN.</p>"
          }
        },
        "id": {
          "target": "com.amazonaws.ivschat#RoomID",
          "traits": {
            "smithy.api#documentation": "<p>Room ID, generated by the system. This is a relative identifier, the part of the ARN that\n      uniquely identifies the room.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.ivschat#RoomName",
          "traits": {
            "smithy.api#documentation": "<p>Room name. The value does not need to be unique.</p>"
          }
        },
        "messageReviewHandler": {
          "target": "com.amazonaws.ivschat#MessageReviewHandler",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for optional review of messages.</p>"
          }
        },
        "createTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time when the room was created. This is an ISO 8601 timestamp; <i>note that this is\n        returned as a string</i>. </p>"
          }
        },
        "updateTime": {
          "target": "com.amazonaws.ivschat#Time",
          "traits": {
            "smithy.api#documentation": "<p>Time of the room’s last update. This is an ISO 8601 timestamp; <i>note that this is\n        returned as a string</i>. </p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.ivschat#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the resource. Array of maps, each of the form <code>string:string\n        (key:value)</code>. See <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging AWS\n        Resources</a> for details, including restrictions that apply to tags and \"Tag naming\n      limits and requirements\"; Amazon IVS Chat has no constraints beyond what is documented\n      there.</p>"
          }
        },
        "loggingConfigurationIdentifiers": {
          "target": "com.amazonaws.ivschat#LoggingConfigurationIdentifierList",
          "traits": {
            "smithy.api#documentation": "<p>List of logging-configuration identifiers attached to the room.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a room.</p>"
      }
    },
    "com.amazonaws.ivschat#S3DestinationConfiguration": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.ivschat#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>Name of the Amazon S3 bucket where chat activity will be logged.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies an S3 location where chat logs will be stored.</p>"
      }
    },
    "com.amazonaws.ivschat#SendEvent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#SendEventRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#SendEventResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.ivschat#PendingVerification"
        },
        {
          "target": "com.amazonaws.ivschat#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.ivschat#ThrottlingException"
        },
        {
          "target": "com.amazonaws.ivschat#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends an event to a room. Use this within your application’s business logic to send\n         events to clients of a room; e.g., to notify clients to change the way the chat UI is\n         rendered.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/SendEvent"
        }
      }
    },
    "com.amazonaws.ivschat#SendEventRequest": {
      "type": "structure",
      "members": {
        "roomIdentifier": {
          "target": "com.amazonaws.ivschat#RoomIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>Identifier of the room to which the event will be sent. Currently this must be an\n         ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "eventName": {
          "target": "com.amazonaws.ivschat#EventName",
          "traits": {
            "smithy.api#documentation": "<p>Application-defined name of the event to send to clients.</p>",
            "smithy.api#required": {}
          }
        },
        "attributes": {
          "target": "com.amazonaws.ivschat#EventAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Application-defined metadata to attach to the event sent to clients. The maximum length\n         of the metadata is 1 KB total.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#SendEventResponse": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.ivschat#ID",
          "traits": {
            "smithy.api#documentation": "<p>An identifier generated by Amazon IVS Chat. This identifier must be used in subsequent\n         operations for this message, such as DeleteMessage.</p>"
          }
        }
      }
    },
    "com.amazonaws.ivschat#ServiceQuotaExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.ivschat#ErrorMessage",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "resourceId": {
          "target": "com.amazonaws.ivschat#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "resourceType": {
          "target": "com.amazonaws.ivschat#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        },
        "limit": {
          "target": "com.amazonaws.ivschat#Limit",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p/>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p/>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 402
      }
    },
    "com.amazonaws.ivschat#SessionDurationInMinutes": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 180
        }
      }
    },
    "com.amazonaws.ivschat#String": {
      "type": "string"
    },
    "com.amazonaws.ivschat#TagKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        }
      }
    },
    "com.amazonaws.ivschat#TagKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.ivschat#TagKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.ivschat#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.ivschat#TagResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.ivschat#TagResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.ivschat#InternalServerException"
        },
        {
[...]
