{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kafka#AmazonMskCluster": {
      "type": "structure",
      "members": {
        "MskClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon MSK cluster.</p>",
            "smithy.api#jsonName": "mskClusterArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details of an Amazon MSK Cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BadRequestException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#BatchAssociateScramSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#BatchAssociateScramSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates one or more Scram Secrets with an Amazon MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/clusters/{ClusterArn}/scram-secrets",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecretRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SecretArnList": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS Secrets Manager secret ARNs.</p>",
            "smithy.api#jsonName": "secretArnList",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates sasl scram secrets to cluster.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecretResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "UnprocessedScramSecrets": {
          "target": "com.amazonaws.kafka#__listOfUnprocessedScramSecret",
          "traits": {
            "smithy.api#documentation": "<p>List of errors when associating secrets to cluster.</p>",
            "smithy.api#jsonName": "unprocessedScramSecrets"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#BatchDisassociateScramSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#BatchDisassociateScramSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates one or more Scram Secrets from an Amazon MSK cluster.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/clusters/{ClusterArn}/scram-secrets",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecretRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SecretArnList": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS Secrets Manager secret ARNs.</p>",
            "smithy.api#jsonName": "secretArnList",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Disassociates sasl scram secrets to cluster.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecretResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "UnprocessedScramSecrets": {
          "target": "com.amazonaws.kafka#__listOfUnprocessedScramSecret",
          "traits": {
            "smithy.api#documentation": "<p>List of errors when disassociating secrets to cluster.</p>",
            "smithy.api#jsonName": "unprocessedScramSecrets"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#BrokerAZDistribution": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerEBSVolumeInfo": {
      "type": "structure",
      "members": {
        "KafkaBrokerNodeId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the broker to update.</p>",
            "smithy.api#jsonName": "kafkaBrokerNodeId",
            "smithy.api#required": {}
          }
        },
        "ProvisionedThroughput": {
          "target": "com.amazonaws.kafka#ProvisionedThroughput",
          "traits": {
            "smithy.api#documentation": "<p>EBS volume provisioned throughput information.</p>",
            "smithy.api#jsonName": "provisionedThroughput"
          }
        },
        "VolumeSizeGB": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#documentation": "<p>Size of the EBS volume to update.</p>",
            "smithy.api#jsonName": "volumeSizeGB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerLogs": {
      "type": "structure",
      "members": {
        "CloudWatchLogs": {
          "target": "com.amazonaws.kafka#CloudWatchLogs",
          "traits": {
            "smithy.api#jsonName": "cloudWatchLogs"
          }
        },
        "Firehose": {
          "target": "com.amazonaws.kafka#Firehose",
          "traits": {
            "smithy.api#jsonName": "firehose"
          }
        },
        "S3": {
          "target": "com.amazonaws.kafka#S3",
          "traits": {
            "smithy.api#jsonName": "s3"
          }
        }
      }
    },
    "com.amazonaws.kafka#BrokerNodeGroupInfo": {
      "type": "structure",
      "members": {
        "BrokerAZDistribution": {
          "target": "com.amazonaws.kafka#BrokerAZDistribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>",
            "smithy.api#jsonName": "brokerAZDistribution"
          }
        },
        "ClientSubnets": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't occupy the Availability Zone with ID use use1-az3.</p>",
            "smithy.api#jsonName": "clientSubnets",
            "smithy.api#required": {}
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.kafka#__stringMin5Max32",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon EC2 instances to use for Apache Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>",
            "smithy.api#jsonName": "instanceType",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "StorageInfo": {
          "target": "com.amazonaws.kafka#StorageInfo",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about storage volumes attached to MSK broker nodes.</p>",
            "smithy.api#jsonName": "storageInfo"
          }
        },
        "ConnectivityInfo": {
          "target": "com.amazonaws.kafka#ConnectivityInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker access configuration.</p>",
            "smithy.api#jsonName": "connectivityInfo"
          }
        },
        "ZoneIds": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of zoneIds for the cluster in the virtual private cloud (VPC).</p>",
            "smithy.api#jsonName": "zoneIds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the setup to be used for Apache Kafka broker nodes in the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerNodeInfo": {
      "type": "structure",
      "members": {
        "AttachedENIId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The attached elastic network interface of the broker.</p>",
            "smithy.api#jsonName": "attachedENIId"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.kafka#__double",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the broker.</p>",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "ClientSubnet": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The client subnet to which this broker node belongs.</p>",
            "smithy.api#jsonName": "clientSubnet"
          }
        },
        "ClientVpcIpAddress": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) of the client.</p>",
            "smithy.api#jsonName": "clientVpcIpAddress"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Endpoints for accessing the broker.</p>",
            "smithy.api#jsonName": "endpoints"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>BrokerNodeInfo</p>"
      }
    },
    "com.amazonaws.kafka#BrokerSoftwareInfo": {
      "type": "structure",
      "members": {
        "ConfigurationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>",
            "smithy.api#jsonName": "configurationArn"
          }
        },
        "ConfigurationRevision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the configuration to use. This field isn't visible in this preview release.</p>",
            "smithy.api#jsonName": "configurationRevision"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version of Apache Kafka.</p>",
            "smithy.api#jsonName": "kafkaVersion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the current software installed on the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClientAuthentication": {
      "type": "structure",
      "members": {
        "Sasl": {
          "target": "com.amazonaws.kafka#Sasl",
          "traits": {
            "smithy.api#documentation": "<p>Details for ClientAuthentication using SASL.</p>",
            "smithy.api#jsonName": "sasl"
          }
        },
        "Tls": {
          "target": "com.amazonaws.kafka#Tls",
          "traits": {
            "smithy.api#documentation": "<p>Details for ClientAuthentication using TLS.</p>",
            "smithy.api#jsonName": "tls"
          }
        },
        "Unauthenticated": {
          "target": "com.amazonaws.kafka#Unauthenticated",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about unauthenticated traffic to the cluster.</p>",
            "smithy.api#jsonName": "unauthenticated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes all client authentication information.</p>"
      }
    },
    "com.amazonaws.kafka#ClientBroker": {
      "type": "enum",
      "members": {
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        },
        "TLS_PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS_PLAINTEXT"
          }
        },
        "PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAINTEXT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Client-broker encryption in transit setting.</p>"
      }
    },
    "com.amazonaws.kafka#ClientVpcConnection": {
      "type": "structure",
      "members": {
        "Authentication": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Information about the auth scheme of Vpc Connection.</p>",
            "smithy.api#jsonName": "authentication"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>Creation time of the Vpc Connection.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#VpcConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>State of the Vpc Connection.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "VpcConnectionArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN that identifies the Vpc Connection.</p>",
            "smithy.api#jsonName": "vpcConnectionArn",
            "smithy.api#required": {}
          }
        },
        "Owner": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Owner of the Vpc Connection.</p>",
            "smithy.api#jsonName": "owner"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client VPC connection object.</p>"
      }
    },
    "com.amazonaws.kafka#CloudWatchLogs": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#jsonName": "enabled",
            "smithy.api#required": {}
          }
        },
        "LogGroup": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#jsonName": "logGroup"
          }
        }
      }
    },
    "com.amazonaws.kafka#Cluster": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies a cluster operation.</p>",
            "smithy.api#jsonName": "activeOperationArn"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>Cluster Type.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the cluster was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#jsonName": "currentVersion"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "StateInfo": {
          "target": "com.amazonaws.kafka#StateInfo",
          "traits": {
            "smithy.api#documentation": "<p>State Info for the Amazon MSK cluster.</p>",
            "smithy.api#jsonName": "stateInfo"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.kafka#Provisioned",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioned cluster.</p>",
            "smithy.api#jsonName": "provisioned"
          }
        },
        "Serverless": {
          "target": "com.amazonaws.kafka#Serverless",
          "traits": {
            "smithy.api#documentation": "<p>Information about the serverless cluster.</p>",
            "smithy.api#jsonName": "serverless"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterInfo": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Arn of active cluster operation.</p>",
            "smithy.api#jsonName": "activeOperationArn"
          }
        },
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker nodes.</p>",
            "smithy.api#jsonName": "brokerNodeGroupInfo"
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>Includes all client authentication information.</p>",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the cluster was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#jsonName": "currentVersion"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Includes all encryption-related information.</p>",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which metrics are gathered for the MSK cluster. This property has the following possible values: DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION. For a list of the metrics associated with each of these levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "OpenMonitoring": {
          "target": "com.amazonaws.kafka#OpenMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Settings for open monitoring using Prometheus.</p>",
            "smithy.api#jsonName": "openMonitoring"
          }
        },
        "LoggingInfo": {
          "target": "com.amazonaws.kafka#LoggingInfo",
          "traits": {
            "smithy.api#jsonName": "loggingInfo"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "numberOfBrokerNodes"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "StateInfo": {
          "target": "com.amazonaws.kafka#StateInfo",
          "traits": {
            "smithy.api#jsonName": "stateInfo"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "ZookeeperConnectString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>",
            "smithy.api#jsonName": "zookeeperConnectString"
          }
        },
        "ZookeeperConnectStringTls": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The connection string to use to connect to zookeeper cluster on Tls port.</p>",
            "smithy.api#jsonName": "zookeeperConnectStringTls"
          }
        },
        "StorageMode": {
          "target": "com.amazonaws.kafka#StorageMode",
          "traits": {
            "smithy.api#documentation": "<p>This controls storage mode for supported storage tiers.</p>",
            "smithy.api#jsonName": "storageMode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationInfo": {
      "type": "structure",
      "members": {
        "ClientRequestId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the API request that triggered this operation.</p>",
            "smithy.api#jsonName": "clientRequestId"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the operation finished.</p>",
            "smithy.api#jsonName": "endTime"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.kafka#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Describes the error if the operation fails.</p>",
            "smithy.api#jsonName": "errorInfo"
          }
        },
        "OperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster operation.</p>",
            "smithy.api#jsonName": "operationArn"
          }
        },
        "OperationState": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>State of the cluster operation.</p>",
            "smithy.api#jsonName": "operationState"
          }
        },
        "OperationSteps": {
          "target": "com.amazonaws.kafka#__listOfClusterOperationStep",
          "traits": {
            "smithy.api#documentation": "<p>Steps completed during the operation.</p>",
            "smithy.api#jsonName": "operationSteps"
          }
        },
        "OperationType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Type of the cluster operation.</p>",
            "smithy.api#jsonName": "operationType"
          }
        },
        "SourceClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes before a cluster is updated.</p>",
            "smithy.api#jsonName": "sourceClusterInfo"
          }
        },
        "TargetClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes after a cluster is updated.</p>",
            "smithy.api#jsonName": "targetClusterInfo"
          }
        },
        "VpcConnectionInfo": {
          "target": "com.amazonaws.kafka#VpcConnectionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Description of the VPC connection for CreateVpcConnection and DeleteVpcConnection operations.</p>",
            "smithy.api#jsonName": "vpcConnectionInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationStep": {
      "type": "structure",
      "members": {
        "StepInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationStepInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the step and its status.</p>",
            "smithy.api#jsonName": "stepInfo"
          }
        },
        "StepName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>",
            "smithy.api#jsonName": "stepName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Step taken during a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationStepInfo": {
      "type": "structure",
      "members": {
        "StepStatus": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The steps current status.</p>",
            "smithy.api#jsonName": "stepStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>State information about the operation step.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationV2": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the backend cluster.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which operation was started.</p>",
            "smithy.api#jsonName": "startTime"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the operation finished.</p>",
            "smithy.api#jsonName": "endTime"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.kafka#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>If cluster operation failed from an error, it describes the error.</p>",
            "smithy.api#jsonName": "errorInfo"
          }
        },
        "OperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster operation.</p>",
            "smithy.api#jsonName": "operationArn"
          }
        },
        "OperationState": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>State of the cluster operation.</p>",
            "smithy.api#jsonName": "operationState"
          }
        },
        "OperationType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Type of the cluster operation.</p>",
            "smithy.api#jsonName": "operationType"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.kafka#ClusterOperationV2Provisioned",
          "traits": {
            "smithy.api#documentation": "<p>Properties of a provisioned cluster.</p>",
            "smithy.api#jsonName": "provisioned"
          }
        },
        "Serverless": {
          "target": "com.amazonaws.kafka#ClusterOperationV2Serverless",
          "traits": {
            "smithy.api#documentation": "<p>Properties of a serverless cluster.</p>",
            "smithy.api#jsonName": "serverless"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationV2Provisioned": {
      "type": "structure",
      "members": {
        "OperationSteps": {
          "target": "com.amazonaws.kafka#__listOfClusterOperationStep",
          "traits": {
            "smithy.api#documentation": "<p>Steps completed during the operation.</p>",
            "smithy.api#jsonName": "operationSteps"
          }
        },
        "SourceClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes before a cluster is updated.</p>",
            "smithy.api#jsonName": "sourceClusterInfo"
          }
        },
        "TargetClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes after a cluster is updated.</p>",
            "smithy.api#jsonName": "targetClusterInfo"
          }
        },
        "VpcConnectionInfo": {
          "target": "com.amazonaws.kafka#VpcConnectionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Description of the VPC connection for CreateVpcConnection and DeleteVpcConnection operations.</p>",
            "smithy.api#jsonName": "vpcConnectionInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a provisioned cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationV2Serverless": {
      "type": "structure",
      "members": {
        "VpcConnectionInfo": {
          "target": "com.amazonaws.kafka#VpcConnectionInfoServerless",
          "traits": {
            "smithy.api#documentation": "<p>Description of the VPC connection for CreateVpcConnection and DeleteVpcConnection operations.</p>",
            "smithy.api#jsonName": "vpcConnectionInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a serverless cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationV2Summary": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>Type of the backend cluster.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which operation was started.</p>",
            "smithy.api#jsonName": "startTime"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the operation finished.</p>",
            "smithy.api#jsonName": "endTime"
          }
        },
        "OperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster operation.</p>",
            "smithy.api#jsonName": "operationArn"
          }
        },
        "OperationState": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>State of the cluster operation.</p>",
            "smithy.api#jsonName": "operationState"
          }
        },
        "OperationType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Type of the cluster operation.</p>",
            "smithy.api#jsonName": "operationType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "HEALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "REBOOTING_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOTING_BROKER"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of the Apache Kafka cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterType": {
      "type": "enum",
      "members": {
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "SERVERLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVERLESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of cluster.</p>"
      }
    },
    "com.amazonaws.kafka#CompatibleKafkaVersion": {
      "type": "structure",
      "members": {
        "SourceVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>An Apache Kafka version.</p>",
            "smithy.api#jsonName": "sourceVersion"
          }
        },
        "TargetVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of Apache Kafka versions.</p>",
            "smithy.api#jsonName": "targetVersions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains source Apache Kafka versions and compatible target Apache Kafka versions.</p>"
      }
    },
    "com.amazonaws.kafka#Configuration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description",
            "smithy.api#required": {}
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>",
            "smithy.api#jsonName": "kafkaVersions",
            "smithy.api#required": {}
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an MSK Configuration.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationInfo": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the configuration to use.</p>",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "<p>The revision of the configuration to use.</p>",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration to use for the brokers.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationRevision": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration revision was created.</p>",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration revision.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "<p>The revision number.</p>",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a configuration revision.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of a configuration.</p>"
      }
    },
    "com.amazonaws.kafka#ConflictException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kafka#ConnectivityInfo": {
      "type": "structure",
      "members": {
        "PublicAccess": {
          "target": "com.amazonaws.kafka#PublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Public access control for brokers.</p>",
            "smithy.api#jsonName": "publicAccess"
          }
        },
        "VpcConnectivity": {
          "target": "com.amazonaws.kafka#VpcConnectivity",
          "traits": {
            "smithy.api#documentation": "<p>VPC connectivity access control for brokers.</p>",
            "smithy.api#jsonName": "vpcConnectivity"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the broker access configuration.</p>"
      }
    },
    "com.amazonaws.kafka#ConsumerGroupReplication": {
      "type": "structure",
      "members": {
        "ConsumerGroupsToExclude": {
          "target": "com.amazonaws.kafka#__listOf__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>List of regular expression patterns indicating the consumer groups that should not be replicated.</p>",
            "smithy.api#jsonName": "consumerGroupsToExclude"
          }
        },
        "ConsumerGroupsToReplicate": {
          "target": "com.amazonaws.kafka#__listOf__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>List of regular expression patterns indicating the consumer groups to copy.</p>",
            "smithy.api#jsonName": "consumerGroupsToReplicate",
            "smithy.api#required": {}
          }
        },
        "DetectAndCopyNewConsumerGroups": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables synchronization of consumer groups to target cluster.</p>",
            "smithy.api#jsonName": "detectAndCopyNewConsumerGroups"
          }
        },
        "SynchroniseConsumerGroupOffsets": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables synchronization of consumer group offsets to target cluster. The translated offsets will be written to topic __consumer_offsets.</p>",
            "smithy.api#jsonName": "synchroniseConsumerGroupOffsets"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about consumer group replication.</p>"
      }
    },
    "com.amazonaws.kafka#ConsumerGroupReplicationUpdate": {
      "type": "structure",
      "members": {
        "ConsumerGroupsToExclude": {
          "target": "com.amazonaws.kafka#__listOf__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>List of regular expression patterns indicating the consumer groups that should not be replicated.</p>",
            "smithy.api#jsonName": "consumerGroupsToExclude",
            "smithy.api#required": {}
          }
        },
        "ConsumerGroupsToReplicate": {
          "target": "com.amazonaws.kafka#__listOf__stringMax256",
          "traits": {
            "smithy.api#documentation": "<p>List of regular expression patterns indicating the consumer groups to copy.</p>",
            "smithy.api#jsonName": "consumerGroupsToReplicate",
            "smithy.api#required": {}
          }
        },
        "DetectAndCopyNewConsumerGroups": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables synchronization of consumer groups to target cluster.</p>",
            "smithy.api#jsonName": "detectAndCopyNewConsumerGroups",
            "smithy.api#required": {}
          }
        },
        "SynchroniseConsumerGroupOffsets": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables synchronization of consumer group offsets to target cluster. The translated offsets will be written to topic __consumer_offsets.</p>",
            "smithy.api#jsonName": "synchroniseConsumerGroupOffsets",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about consumer group replication.</p>"
      }
    },
    "com.amazonaws.kafka#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "brokerNodeGroupInfo",
            "smithy.api#required": {}
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>Includes all client authentication related information.</p>",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__stringMin1Max64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName",
            "smithy.api#required": {}
          }
        },
        "ConfigurationInfo": {
          "target": "com.amazonaws.kafka#ConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "<p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>",
            "smithy.api#jsonName": "configurationInfo"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Includes all encryption-related information.</p>",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION.</p>",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "OpenMonitoring": {
          "target": "com.amazonaws.kafka#OpenMonitoringInfo",
          "traits": {
            "smithy.api#documentation": "<p>The settings for open monitoring.</p>",
            "smithy.api#jsonName": "openMonitoring"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__stringMin1Max128",
          "traits": {
            "smithy.api#documentation": "<p>The version of Apache Kafka.</p>",
            "smithy.api#jsonName": "kafkaVersion",
            "smithy.api#required": {}
          }
        },
        "LoggingInfo": {
          "target": "com.amazonaws.kafka#LoggingInfo",
          "traits": {
            "smithy.api#jsonName": "loggingInfo"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integerMin1Max15",
          "traits": {
            "smithy.api#documentation": "<p>The number of broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "numberOfBrokerNodes",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Create tags when creating the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "StorageMode": {
          "target": "com.amazonaws.kafka#StorageMode",
          "traits": {
            "smithy.api#documentation": "<p>This controls storage mode for supported storage tiers.</p>",
            "smithy.api#jsonName": "storageMode"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MSK cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#CreateClusterV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateClusterV2Request"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateClusterV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterV2Request": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.kafka#__stringMin1Max64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags that you want the cluster to have.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.kafka#ProvisionedRequest",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioned cluster.</p>",
            "smithy.api#jsonName": "provisioned"
          }
        },
        "Serverless": {
          "target": "com.amazonaws.kafka#ServerlessRequest",
          "traits": {
            "smithy.api#documentation": "<p>Information about the serverless cluster.</p>",
            "smithy.api#jsonName": "serverless"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#CreateClusterV2Response": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MSK cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the cluster. The possible states are PROVISIONED or SERVERLESS.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#CreateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The versions of Apache Kafka with which you can use this MSK configuration.</p>",
            "smithy.api#jsonName": "kafkaVersions"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "ServerProperties": {
          "target": "com.amazonaws.kafka#__blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>",
            "smithy.api#jsonName": "serverProperties",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#CreateConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#CreateReplicator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateReplicatorRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateReplicatorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates the replicator.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/replication/v1/replicators",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateReplicatorRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kafka#__stringMax1024",
          "traits": {
            "smithy.api#documentation": "<p>A summary description of the replicator.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaClusters": {
          "target": "com.amazonaws.kafka#__listOfKafkaCluster",
          "traits": {
            "smithy.api#documentation": "<p>Kafka Clusters to use in setting up sources / targets for replication.</p>",
            "smithy.api#jsonName": "kafkaClusters",
            "smithy.api#required": {}
          }
        },
        "ReplicationInfoList": {
          "target": "com.amazonaws.kafka#__listOfReplicationInfo",
          "traits": {
            "smithy.api#documentation": "<p>A list of replication configurations, where each configuration targets a given source cluster to target cluster replication flow.</p>",
            "smithy.api#jsonName": "replicationInfoList",
            "smithy.api#required": {}
          }
        },
        "ReplicatorName": {
          "target": "com.amazonaws.kafka#__stringMin1Max128Pattern09AZaZ09AZaZ0",
          "traits": {
            "smithy.api#documentation": "<p>The name of the replicator. Alpha-numeric characters with '-' are allowed.</p>",
            "smithy.api#jsonName": "replicatorName",
            "smithy.api#required": {}
          }
        },
        "ServiceExecutionRoleArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role used by the replicator to access resources in the customer's account (e.g source and target clusters)</p>",
            "smithy.api#jsonName": "serviceExecutionRoleArn",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>List of tags to attach to created Replicator.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a replicator using the specified configuration.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#CreateReplicatorResponse": {
      "type": "structure",
      "members": {
        "ReplicatorArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replicator.</p>",
            "smithy.api#jsonName": "replicatorArn"
          }
        },
        "ReplicatorName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Name of the replicator provided by the customer.</p>",
            "smithy.api#jsonName": "replicatorName"
          }
        },
        "ReplicatorState": {
          "target": "com.amazonaws.kafka#ReplicatorState",
          "traits": {
            "smithy.api#documentation": "<p>State of the replicator.</p>",
            "smithy.api#jsonName": "replicatorState"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#CreateVpcConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateVpcConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateVpcConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK VPC connection.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/vpc-connection",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateVpcConnectionRequest": {
      "type": "structure",
      "members": {
        "TargetClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The cluster Amazon Resource Name (ARN) for the VPC connection.</p>",
            "smithy.api#jsonName": "targetClusterArn",
            "smithy.api#required": {}
          }
        },
        "Authentication": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of VPC connection.</p>",
            "smithy.api#jsonName": "authentication",
            "smithy.api#required": {}
          }
        },
        "VpcId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of VPC connection.</p>",
            "smithy.api#jsonName": "vpcId",
            "smithy.api#required": {}
          }
        },
        "ClientSubnets": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of client subnets.</p>",
            "smithy.api#jsonName": "clientSubnets",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of security groups.</p>",
            "smithy.api#jsonName": "securityGroups",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags for the VPC connection.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#CreateVpcConnectionResponse": {
      "type": "structure",
      "members": {
        "VpcConnectionArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The VPC connection ARN.</p>",
            "smithy.api#jsonName": "vpcConnectionArn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#VpcConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The State of Vpc Connection.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "Authentication": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The authentication type of VPC connection.</p>",
            "smithy.api#jsonName": "authentication"
          }
        },
        "VpcId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The VPC ID of the VPC connection.</p>",
            "smithy.api#jsonName": "vpcId"
          }
        },
        "ClientSubnets": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of client subnets.</p>",
            "smithy.api#jsonName": "clientSubnets"
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of security groups.</p>",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The creation time of VPC connection.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags for the VPC connection.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteClusterPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteClusterPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the MSK cluster policy specified by the Amazon Resource Name (ARN) in the request.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/clusters/{ClusterArn}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterPolicyRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DeleteClusterPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#httpQuery": "currentVersion"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DeleteConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an MSK Configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/configurations/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteConfigurationRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DeleteConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DeleteReplicator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteReplicatorRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteReplicatorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a replicator.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/replication/v1/replicators/{ReplicatorArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteReplicatorRequest": {
      "type": "structure",
      "members": {
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the replicator.</p>",
            "smithy.api#httpQuery": "currentVersion"
          }
        },
        "ReplicatorArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replicator to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DeleteReplicatorResponse": {
      "type": "structure",
      "members": {
        "ReplicatorArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the replicator.</p>",
            "smithy.api#jsonName": "replicatorArn"
          }
        },
        "ReplicatorState": {
          "target": "com.amazonaws.kafka#ReplicatorState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the replicator.</p>",
            "smithy.api#jsonName": "replicatorState"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DeleteVpcConnection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteVpcConnectionRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteVpcConnectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a MSK VPC connection.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/vpc-connection/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteVpcConnectionRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK VPC connection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DeleteVpcConnectionResponse": {
      "type": "structure",
      "members": {
        "VpcConnectionArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK VPC connection.</p>",
            "smithy.api#jsonName": "vpcConnectionArn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#VpcConnectionState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the VPC connection.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the cluster operation specified by the ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/operations/{ClusterOperationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationRequest": {
      "type": "structure",
      "members": {
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the MSK cluster operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationResponse": {
      "type": "structure",
      "members": {
        "ClusterOperationInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationInfo",
          "traits": {
            "smithy.api#documentation": "<p>Cluster operation information</p>",
            "smithy.api#jsonName": "clusterOperationInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationV2Request"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the cluster operation specified by the ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/operations/{ClusterOperationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationV2Request": {
      "type": "structure",
      "members": {
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the cluster operation to describe.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationV2Response": {
      "type": "structure",
      "members": {
        "ClusterOperationInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationV2",
          "traits": {
            "smithy.api#documentation": "<p>Cluster operation information</p>",
            "smithy.api#jsonName": "clusterOperationInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterInfo": {
          "target": "com.amazonaws.kafka#ClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>The cluster information.</p>",
            "smithy.api#jsonName": "clusterInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterV2Request"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2Request": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2Response": {
      "type": "structure",
      "members": {
        "ClusterInfo": {
          "target": "com.amazonaws.kafka#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster information.</p>",
            "smithy.api#jsonName": "clusterInfo"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.kafka#DescribeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of this MSK configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The versions of Apache Kafka with which you can use this MSK configuration.</p>",
            "smithy.api#jsonName": "kafkaVersions"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
[...]
