{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kafka#BadRequestException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kafka#BrokerAZDistribution": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
        "smithy.api#enum": {
          "DEFAULT": {
            "name": "DEFAULT"
          }
        }
      }
    },
    "com.amazonaws.kafka#BrokerEBSVolumeInfo": {
      "type": "structure",
      "members": {
        "KafkaBrokerNodeId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The ID of the broker to update.</p>\n         ",
            "smithy.api#jsonName": "kafkaBrokerNodeId",
            "smithy.api#required": true
          }
        },
        "VolumeSizeGB": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#documentation": "\n            <p>Size of the EBS volume to update.</p>\n         ",
            "smithy.api#jsonName": "volumeSizeGB",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>\n         "
      }
    },
    "com.amazonaws.kafka#BrokerNodeGroupInfo": {
      "type": "structure",
      "members": {
        "BrokerAZDistribution": {
          "target": "com.amazonaws.kafka#BrokerAZDistribution",
          "traits": {
            "smithy.api#documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
            "smithy.api#jsonName": "brokerAZDistribution"
          }
        },
        "ClientSubnets": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         ",
            "smithy.api#jsonName": "clientSubnets",
            "smithy.api#required": true
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.kafka#__stringMin5Max32",
          "traits": {
            "smithy.api#documentation": "\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         ",
            "smithy.api#jsonName": "instanceType",
            "smithy.api#required": true
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         ",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "StorageInfo": {
          "target": "com.amazonaws.kafka#StorageInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         ",
            "smithy.api#jsonName": "storageInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Describes the setup to be used for Kafka broker nodes in the cluster.</p>\n         "
      }
    },
    "com.amazonaws.kafka#BrokerNodeInfo": {
      "type": "structure",
      "members": {
        "AttachedENIId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The attached elastic network interface of the broker.</p>\n         ",
            "smithy.api#jsonName": "attachedENIId"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.kafka#__double",
          "traits": {
            "smithy.api#documentation": "\n            <p>The ID of the broker.</p>\n         ",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "ClientSubnet": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The client subnet to which this broker node belongs.</p>\n         ",
            "smithy.api#jsonName": "clientSubnet"
          }
        },
        "ClientVpcIpAddress": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The virtual private cloud (VPC) of the client.</p>\n         ",
            "smithy.api#jsonName": "clientVpcIpAddress"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>\n         ",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Endpoints for accessing the broker.</p>\n         ",
            "smithy.api#jsonName": "endpoints"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>BrokerNodeInfo</p>\n         "
      }
    },
    "com.amazonaws.kafka#BrokerSoftwareInfo": {
      "type": "structure",
      "members": {
        "ConfigurationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>\n         ",
            "smithy.api#jsonName": "configurationArn"
          }
        },
        "ConfigurationRevision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "\n            <p>The revision of the configuration to use. This field isn't visible in this preview release.</p>\n         ",
            "smithy.api#jsonName": "configurationRevision"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
            "smithy.api#jsonName": "kafkaVersion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Information about the current software installed on the cluster.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ClientAuthentication": {
      "type": "structure",
      "members": {
        "Tls": {
          "target": "com.amazonaws.kafka#Tls",
          "traits": {
            "smithy.api#documentation": "\n            <p>Details for ClientAuthentication using TLS.</p>\n         ",
            "smithy.api#jsonName": "tls"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Includes all client authentication information.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ClientBroker": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n            <p>Client-broker encryption in transit setting.</p>\n         ",
        "smithy.api#enum": {
          "TLS": {
            "name": "TLS"
          },
          "TLS_PLAINTEXT": {
            "name": "TLS_PLAINTEXT"
          },
          "PLAINTEXT": {
            "name": "PLAINTEXT"
          }
        }
      }
    },
    "com.amazonaws.kafka#ClusterInfo": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Arn of active cluster operation.</p>\n         ",
            "smithy.api#jsonName": "activeOperationArn"
          }
        },
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about the broker nodes.</p>\n         ",
            "smithy.api#jsonName": "brokerNodeGroupInfo"
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "\n            <p>Includes all client authentication information.</p>\n         ",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the cluster was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>\n         ",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
            "smithy.api#jsonName": "currentVersion"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "\n            <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>\n         ",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
            "smithy.api#jsonName": "numberOfBrokerNodes"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
            "smithy.api#jsonName": "state"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Tags attached to the cluster.</p>\n         ",
            "smithy.api#jsonName": "tags"
          }
        },
        "ZookeeperConnectString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>\n         ",
            "smithy.api#jsonName": "zookeeperConnectString"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about a cluster.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ClusterOperationInfo": {
      "type": "structure",
      "members": {
        "ClientRequestId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The ID of the API request that triggered this operation.</p>\n         ",
            "smithy.api#jsonName": "clientRequestId"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>ARN of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time that the operation was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time at which the operation finished.</p>\n         ",
            "smithy.api#jsonName": "endTime"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.kafka#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Describes the error if the operation fails.</p>\n         ",
            "smithy.api#jsonName": "errorInfo"
          }
        },
        "OperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>ARN of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "operationArn"
          }
        },
        "OperationState": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>State of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "operationState"
          }
        },
        "OperationType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Type of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "operationType"
          }
        },
        "SourceClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about cluster attributes before a cluster is updated.</p>\n         ",
            "smithy.api#jsonName": "sourceClusterInfo"
          }
        },
        "TargetClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about cluster attributes after a cluster is updated.</p>\n         ",
            "smithy.api#jsonName": "targetClusterInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about a cluster operation.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ClusterState": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n            <p>The state of a Kafka cluster.</p>\n         ",
        "smithy.api#enum": {
          "ACTIVE": {
            "name": "ACTIVE"
          },
          "CREATING": {
            "name": "CREATING"
          },
          "UPDATING": {
            "name": "UPDATING"
          },
          "DELETING": {
            "name": "DELETING"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.kafka#Configuration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": true
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the configuration.</p>\n         ",
            "smithy.api#jsonName": "description",
            "smithy.api#required": true
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>\n         ",
            "smithy.api#jsonName": "kafkaVersions",
            "smithy.api#required": true
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
            "smithy.api#jsonName": "latestRevision",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the configuration.</p>\n         ",
            "smithy.api#jsonName": "name",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Represents an MSK Configuration.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ConfigurationInfo": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>ARN of the configuration to use.</p>\n         ",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": true
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "\n            <p>The revision of the configuration to use.</p>\n         ",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Specifies the configuration to use for the brokers.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ConfigurationRevision": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the configuration revision was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the configuration revision.</p>\n         ",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "\n            <p>The revision number.</p>\n         ",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Describes a configuration revision.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ConflictException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kafka#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Creates a new MSK cluster.</p>\n         ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about the broker nodes in the cluster.</p>\n         ",
            "smithy.api#jsonName": "brokerNodeGroupInfo",
            "smithy.api#required": true
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "\n            <p>Includes all client authentication related information.</p>\n         ",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__stringMin1Max64",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterName",
            "smithy.api#required": true
          }
        },
        "ConfigurationInfo": {
          "target": "com.amazonaws.kafka#ConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>\n         ",
            "smithy.api#jsonName": "configurationInfo"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "\n            <p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER.</p>\n         ",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__stringMin1Max128",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
            "smithy.api#jsonName": "kafkaVersion",
            "smithy.api#required": true
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integerMin1Max15",
          "traits": {
            "smithy.api#documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
            "smithy.api#jsonName": "numberOfBrokerNodes",
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Create tags when creating the cluster.</p>\n         ",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the MSK cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Creates a new MSK configuration.</p>\n         ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the configuration.</p>\n         ",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>\n         ",
            "smithy.api#jsonName": "kafkaVersions",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the configuration.</p>\n         ",
            "smithy.api#jsonName": "name",
            "smithy.api#required": true
          }
        },
        "ServerProperties": {
          "target": "com.amazonaws.kafka#__blob",
          "traits": {
            "smithy.api#documentation": "\n            <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>\n         ",
            "smithy.api#jsonName": "serverProperties",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the configuration.</p>\n         ",
            "smithy.api#jsonName": "name"
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
            "smithy.api#httpQuery": "currentVersion"
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/operations/{ClusterOperationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationRequest": {
      "type": "structure",
      "members": {
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the MSK cluster operation.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationResponse": {
      "type": "structure",
      "members": {
        "ClusterOperationInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Cluster operation information</p>\n         ",
            "smithy.api#jsonName": "clusterOperationInfo"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterInfo": {
          "target": "com.amazonaws.kafka#ClusterInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>The cluster information.</p>\n         ",
            "smithy.api#jsonName": "clusterInfo"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a description of this MSK configuration.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the configuration.</p>\n         ",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>\n         ",
            "smithy.api#jsonName": "kafkaVersions"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The name of the configuration.</p>\n         ",
            "smithy.api#jsonName": "name"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a description of this revision of the configuration.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}/revisions/{Revision}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevisionRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "\n            <p>A string that uniquely identifies a revision of an MSK configuration.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevisionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the configuration.</p>\n         ",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#documentation": "\n            <p>The revision number.</p>\n         ",
            "smithy.api#jsonName": "revision"
          }
        },
        "ServerProperties": {
          "target": "com.amazonaws.kafka#__blob",
          "traits": {
            "smithy.api#documentation": "\n            <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>\n         ",
            "smithy.api#jsonName": "serverProperties"
          }
        }
      }
    },
    "com.amazonaws.kafka#EBSStorageInfo": {
      "type": "structure",
      "members": {
        "VolumeSize": {
          "target": "com.amazonaws.kafka#__integerMin1Max16384",
          "traits": {
            "smithy.api#documentation": "\n            <p>The size in GiB of the EBS volume for the data drive on each broker node.</p>\n         ",
            "smithy.api#jsonName": "volumeSize"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Contains information about the EBS storage volumes attached to Kafka broker nodes.</p>\n         "
      }
    },
    "com.amazonaws.kafka#EncryptionAtRest": {
      "type": "structure",
      "members": {
        "DataVolumeKMSKeyId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The ARN of the AWS KMS key for encrypting data at rest. If you don't specify a KMS key, MSK creates one for you and uses it.</p>\n         ",
            "smithy.api#jsonName": "dataVolumeKMSKeyId",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>The data-volume encryption details.</p>\n         "
      }
    },
    "com.amazonaws.kafka#EncryptionInTransit": {
      "type": "structure",
      "members": {
        "ClientBroker": {
          "target": "com.amazonaws.kafka#ClientBroker",
          "traits": {
            "smithy.api#documentation": "\n            <p>Indicates the encryption setting for data in transit between clients and brokers. The following are the possible values.</p>\n            <p>\n               TLS means that client-broker communication is enabled with TLS only.</p>\n            <p>\n               TLS_PLAINTEXT means that client-broker communication is enabled for both TLS-encrypted, as well as plaintext data.</p>\n            <p>\n               PLAINTEXT means that client-broker communication is enabled in plaintext only.</p>\n            <p>The default value is TLS_PLAINTEXT.</p>\n         ",
            "smithy.api#jsonName": "clientBroker"
          }
        },
        "InCluster": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#documentation": "\n            <p>When set to true, it indicates that data communication among the broker nodes of the cluster is encrypted. When set to false, the communication happens in plaintext.</p>\n            <p>The default value is true.</p>\n         ",
            "smithy.api#jsonName": "inCluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>The settings for encrypting data in transit.</p>\n         "
      }
    },
    "com.amazonaws.kafka#EncryptionInfo": {
      "type": "structure",
      "members": {
        "EncryptionAtRest": {
          "target": "com.amazonaws.kafka#EncryptionAtRest",
          "traits": {
            "smithy.api#documentation": "\n            <p>The data-volume encryption details.</p>\n         ",
            "smithy.api#jsonName": "encryptionAtRest"
          }
        },
        "EncryptionInTransit": {
          "target": "com.amazonaws.kafka#EncryptionInTransit",
          "traits": {
            "smithy.api#documentation": "\n            <p>The details for encryption in transit.</p>\n         ",
            "smithy.api#jsonName": "encryptionInTransit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Includes encryption-related information, such as the AWS KMS key used for encrypting data at rest and whether you want MSK to encrypt your data in transit.</p>\n         "
      }
    },
    "com.amazonaws.kafka#EnhancedMonitoring": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n            <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>\n         ",
        "smithy.api#enum": {
          "DEFAULT": {
            "name": "DEFAULT"
          },
          "PER_BROKER": {
            "name": "PER_BROKER"
          },
          "PER_TOPIC_PER_BROKER": {
            "name": "PER_TOPIC_PER_BROKER"
          }
        }
      }
    },
    "com.amazonaws.kafka#ErrorInfo": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>A number describing the error programmatically.</p>\n         ",
            "smithy.api#jsonName": "errorCode"
          }
        },
        "ErrorString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>An optional field to provide more details about the error.</p>\n         ",
            "smithy.api#jsonName": "errorString"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error state of the cluster.</p>\n         "
      }
    },
    "com.amazonaws.kafka#ForbiddenException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#GetBootstrapBrokersRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#GetBootstrapBrokersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>A list of brokers that a client application can use to bootstrap.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}/bootstrap-brokers",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokersRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokersResponse": {
      "type": "structure",
      "members": {
        "BootstrapBrokerString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>A string containing one or more hostname:port pairs.</p>\n         ",
            "smithy.api#jsonName": "bootstrapBrokerString"
          }
        },
        "BootstrapBrokerStringTls": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>A string containing one or more DNS names (or IP) and TLS port pairs.</p>\n         ",
            "smithy.api#jsonName": "bootstrapBrokerStringTls"
          }
        }
      }
    },
    "com.amazonaws.kafka#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.kafka#Kafka": {
      "type": "service",
      "version": "2018-11-14",
      "operations": [
        {
          "target": "com.amazonaws.kafka#CreateCluster"
        },
        {
          "target": "com.amazonaws.kafka#CreateConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#DeleteCluster"
        },
        {
          "target": "com.amazonaws.kafka#DescribeCluster"
        },
        {
          "target": "com.amazonaws.kafka#DescribeClusterOperation"
        },
        {
          "target": "com.amazonaws.kafka#DescribeConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#DescribeConfigurationRevision"
        },
        {
          "target": "com.amazonaws.kafka#GetBootstrapBrokers"
        },
        {
          "target": "com.amazonaws.kafka#ListClusterOperations"
        },
        {
          "target": "com.amazonaws.kafka#ListClusters"
        },
        {
          "target": "com.amazonaws.kafka#ListConfigurationRevisions"
        },
        {
          "target": "com.amazonaws.kafka#ListConfigurations"
        },
        {
          "target": "com.amazonaws.kafka#ListNodes"
        },
        {
          "target": "com.amazonaws.kafka#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kafka#TagResource"
        },
        {
          "target": "com.amazonaws.kafka#UntagResource"
        },
        {
          "target": "com.amazonaws.kafka#UpdateBrokerCount"
        },
        {
          "target": "com.amazonaws.kafka#UpdateBrokerStorage"
        },
        {
          "target": "com.amazonaws.kafka#UpdateClusterConfiguration"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kafka",
          "arnNamespace": "kafka",
          "cloudFormationName": "MSK",
          "cloudTrailEventSource": "kafka.amazonaws.com"
        },
        "smithy.api#documentation": "\n               <p>The operations for managing an Amazon MSK cluster.</p>\n            ",
        "smithy.api#protocols": [
          {
            "name": "aws.rest-json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "Managed Streaming for Kafka"
      }
    },
    "com.amazonaws.kafka#ListClusterOperations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListClusterOperationsRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListClusterOperationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}/operations",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListClusterOperationsRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kafka#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListClusterOperationsResponse": {
      "type": "structure",
      "members": {
        "ClusterOperationInfoList": {
          "target": "com.amazonaws.kafka#__listOfClusterOperationInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>An array of cluster operation information objects.</p>\n         ",
            "smithy.api#jsonName": "clusterOperationInfoList"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>If the response of ListClusterOperations is truncated, it returns a NextToken in the response. This Nexttoken should be sent in the subsequent request to ListClusterOperations.</p>\n         ",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListClusters": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListClustersRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListClustersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListClustersRequest": {
      "type": "structure",
      "members": {
        "ClusterNameFilter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Specify a prefix of the name of the clusters that you want to list. The service lists all the clusters whose names start with this prefix.</p>\n         ",
            "smithy.api#httpQuery": "clusterNameFilter"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kafka#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListClustersResponse": {
      "type": "structure",
      "members": {
        "ClusterInfoList": {
          "target": "com.amazonaws.kafka#__listOfClusterInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information on each of the MSK clusters in the response.</p>\n         ",
            "smithy.api#jsonName": "clusterInfoList"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of a ListClusters operation is truncated, the call returns NextToken in the response. \n               To get another batch of clusters, provide this token in your next request.</p>\n         ",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurationRevisions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListConfigurationRevisionsRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListConfigurationRevisionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}/revisions",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurationRevisionsRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kafka#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurationRevisionsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Paginated results marker.</p>\n         ",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Revisions": {
          "target": "com.amazonaws.kafka#__listOfConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "\n            <p>List of ConfigurationRevision objects.</p>\n         ",
            "smithy.api#jsonName": "revisions"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.kafka#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListConfigurationsResponse": {
      "type": "structure",
      "members": {
        "Configurations": {
          "target": "com.amazonaws.kafka#__listOfConfiguration",
          "traits": {
            "smithy.api#documentation": "\n            <p>An array of MSK configurations.</p>\n         ",
            "smithy.api#jsonName": "configurations"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of a ListConfigurations operation is truncated, the call returns NextToken in the response. \n               To get another batch of configurations, provide this token in your next request.</p>\n         ",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListNodes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListNodesRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListNodesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}/nodes",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListNodesRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kafka#MaxResults",
          "traits": {
            "smithy.api#documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListNodesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The paginated results marker. When the result of a ListNodes operation is truncated, the call returns NextToken in the response. \n               To get another batch of nodes, provide this token in your next request.</p>\n         ",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "NodeInfoList": {
          "target": "com.amazonaws.kafka#__listOfNodeInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>List containing a NodeInfo object.</p>\n         ",
            "smithy.api#jsonName": "nodeInfoList"
          }
        }
      }
    },
    "com.amazonaws.kafka#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         ",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The key-value pair for the resource tag.</p>\n         ",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.kafka#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kafka#MutableClusterInfo": {
      "type": "structure",
      "members": {
        "BrokerEBSVolumeInfo": {
          "target": "com.amazonaws.kafka#__listOfBrokerEBSVolumeInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Specifies the size of the EBS volume and the ID of the associated broker.</p>\n         ",
            "smithy.api#jsonName": "brokerEBSVolumeInfo"
          }
        },
        "ConfigurationInfo": {
          "target": "com.amazonaws.kafka#ConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Information about the changes in the configuration of the brokers.</p>\n         ",
            "smithy.api#jsonName": "configurationInfo"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
            "smithy.api#jsonName": "numberOfBrokerNodes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Information about cluster attributes that can be updated via update APIs.</p>\n         "
      }
    },
    "com.amazonaws.kafka#NodeInfo": {
      "type": "structure",
      "members": {
        "AddedToClusterTime": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The start time.</p>\n         ",
            "smithy.api#jsonName": "addedToClusterTime"
          }
        },
        "BrokerNodeInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>The broker node info.</p>\n         ",
            "smithy.api#jsonName": "brokerNodeInfo"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The instance type.</p>\n         ",
            "smithy.api#jsonName": "instanceType"
          }
        },
        "NodeARN": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the node.</p>\n         ",
            "smithy.api#jsonName": "nodeARN"
          }
        },
        "NodeType": {
          "target": "com.amazonaws.kafka#NodeType",
          "traits": {
            "smithy.api#documentation": "\n            <p>The node type.</p>\n         ",
            "smithy.api#jsonName": "nodeType"
          }
        },
        "ZookeeperNodeInfo": {
          "target": "com.amazonaws.kafka#ZookeeperNodeInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>The ZookeeperNodeInfo.</p>\n         ",
            "smithy.api#jsonName": "zookeeperNodeInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>The node information object.</p>\n         "
      }
    },
    "com.amazonaws.kafka#NodeType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "\n            <p>The broker or Zookeeper node.</p>\n         ",
        "smithy.api#enum": {
          "BROKER": {
            "name": "BROKER"
          }
        }
      }
    },
    "com.amazonaws.kafka#NotFoundException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.kafka#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.kafka#StorageInfo": {
      "type": "structure",
      "members": {
        "EbsStorageInfo": {
          "target": "com.amazonaws.kafka#EBSStorageInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>EBS volume information.</p>\n         ",
            "smithy.api#jsonName": "ebsStorageInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         "
      }
    },
    "com.amazonaws.kafka#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#TagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Adds tags to the specified MSK resource.</p>\n         ",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.kafka#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The key-value pair for the resource tag.</p>\n         ",
            "smithy.api#jsonName": "tags",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#Tls": {
      "type": "structure",
      "members": {
        "CertificateAuthorityArnList": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>List of ACM Certificate Authority ARNs.</p>\n         ",
            "smithy.api#jsonName": "certificateAuthorityArnList"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Details for client authentication using TLS.</p>\n         "
      }
    },
    "com.amazonaws.kafka#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.kafka#UnauthorizedException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The description of the error.</p>\n         ",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Returns information about an error.</p>\n         ",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.kafka#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         ",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.kafka#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Tag keys must be unique for a given cluster. In addition, the following restrictions apply:</p>\n            <ul>\n               <li>\n                  <p>Each tag key must be unique. If you add a tag with a key that's already in\n                  use, your new tag overwrites the existing key-value pair. </p>\n               </li>\n               <li>\n                  <p>You can't start a tag key with aws: because this prefix is reserved for use\n                  by  AWS.  AWS creates tags that begin with this prefix on your behalf, but\n                  you can't edit or delete them.</p>\n               </li>\n               <li>\n                  <p>Tag keys must be between 1 and 128 Unicode characters in length.</p>\n               </li>\n               <li>\n                  <p>Tag keys must consist of the following characters: Unicode letters, digits,\n                  white space, and the following special characters: _ . / = + -\n                     @.</p>\n               </li>\n            </ul>\n         ",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerCount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#UpdateBrokerCountRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#UpdateBrokerCountResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Updates the number of broker nodes in the cluster.</p>\n         ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/clusters/{ClusterArn}/nodes/count",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerCountRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of cluster to update from. A successful operation will then generate a new version.</p>\n         ",
            "smithy.api#jsonName": "currentVersion",
            "smithy.api#required": true
          }
        },
        "TargetNumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integerMin1Max15",
          "traits": {
            "smithy.api#documentation": "\n            <p>The number of broker nodes that you want the cluster to have after this operation completes successfully.</p>\n         ",
            "smithy.api#jsonName": "targetNumberOfBrokerNodes",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerCountResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "clusterOperationArn"
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerStorage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#UpdateBrokerStorageRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#UpdateBrokerStorageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/clusters/{ClusterArn}/nodes/storage",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerStorageRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of cluster to update from. A successful operation will then generate a new version.</p>\n         ",
            "smithy.api#jsonName": "currentVersion",
            "smithy.api#required": true
          }
        },
        "TargetBrokerEBSVolumeInfo": {
          "target": "com.amazonaws.kafka#__listOfBrokerEBSVolumeInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Describes the target volume size and the ID of the broker to apply the update to.</p>\n         ",
            "smithy.api#jsonName": "targetBrokerEBSVolumeInfo",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateBrokerStorageResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "clusterOperationArn"
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateClusterConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#UpdateClusterConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#UpdateClusterConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         ",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/clusters/{ClusterArn}/configuration",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#UpdateClusterConfigurationRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "ConfigurationInfo": {
          "target": "com.amazonaws.kafka#ConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "\n            <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>\n         ",
            "smithy.api#jsonName": "configurationInfo",
            "smithy.api#required": true
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of the cluster that needs to be updated.</p>\n         ",
            "smithy.api#jsonName": "currentVersion",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.kafka#UpdateClusterConfigurationResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster operation.</p>\n         ",
            "smithy.api#jsonName": "clusterOperationArn"
          }
        }
      }
    },
    "com.amazonaws.kafka#ZookeeperNodeInfo": {
      "type": "structure",
      "members": {
        "AttachedENIId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The attached elastic network interface of the broker.</p>\n         ",
            "smithy.api#jsonName": "attachedENIId"
          }
        },
        "ClientVpcIpAddress": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The virtual private cloud (VPC) IP address of the client.</p>\n         ",
            "smithy.api#jsonName": "clientVpcIpAddress"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>Endpoints for accessing the ZooKeeper.</p>\n         ",
            "smithy.api#jsonName": "endpoints"
          }
        },
        "ZookeeperId": {
          "target": "com.amazonaws.kafka#__double",
          "traits": {
            "smithy.api#documentation": "\n            <p>The role-specific ID for Zookeeper.</p>\n         ",
            "smithy.api#jsonName": "zookeeperId"
          }
        },
        "ZookeeperVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "\n            <p>The version of Zookeeper.</p>\n         ",
            "smithy.api#jsonName": "zookeeperVersion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "\n            <p>Zookeeper node information.</p>\n         "
      }
    },
    "com.amazonaws.kafka#__blob": {
      "type": "blob"
    },
    "com.amazonaws.kafka#__boolean": {
      "type": "boolean"
    },
    "com.amazonaws.kafka#__double": {
      "type": "double"
    },
    "com.amazonaws.kafka#__integer": {
      "type": "integer"
    },
    "com.amazonaws.kafka#__integerMin1Max15": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 15
        }
      }
    },
    "com.amazonaws.kafka#__integerMin1Max16384": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 16384
        }
      }
    },
    "com.amazonaws.kafka#__listOfBrokerEBSVolumeInfo": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kafka#BrokerEBSVolumeInfo"
      }
    },
    "com.amazonaws.kafka#__listOfClusterInfo": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kafka#ClusterInfo"
      }
    },
[...]
