{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kafka#BadRequestException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#BatchAssociateScramSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#BatchAssociateScramSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates one or more Scram Secrets with an Amazon MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/clusters/{ClusterArn}/scram-secrets",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecretRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SecretArnList": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS Secrets Manager secret ARNs.</p>",
            "smithy.api#jsonName": "secretArnList",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Associates sasl scram secrets to cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BatchAssociateScramSecretResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "UnprocessedScramSecrets": {
          "target": "com.amazonaws.kafka#__listOfUnprocessedScramSecret",
          "traits": {
            "smithy.api#documentation": "<p>List of errors when associating secrets to cluster.</p>",
            "smithy.api#jsonName": "unprocessedScramSecrets"
          }
        }
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecret": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#BatchDisassociateScramSecretRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#BatchDisassociateScramSecretResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disassociates one or more Scram Secrets from an Amazon MSK cluster.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/v1/clusters/{ClusterArn}/scram-secrets",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecretRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SecretArnList": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>List of AWS Secrets Manager secret ARNs.</p>",
            "smithy.api#jsonName": "secretArnList",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Disassociates sasl scram secrets to cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BatchDisassociateScramSecretResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "UnprocessedScramSecrets": {
          "target": "com.amazonaws.kafka#__listOfUnprocessedScramSecret",
          "traits": {
            "smithy.api#documentation": "<p>List of errors when disassociating secrets to cluster.</p>",
            "smithy.api#jsonName": "unprocessedScramSecrets"
          }
        }
      }
    },
    "com.amazonaws.kafka#BrokerAZDistribution": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerEBSVolumeInfo": {
      "type": "structure",
      "members": {
        "KafkaBrokerNodeId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the broker to update.</p>",
            "smithy.api#jsonName": "kafkaBrokerNodeId",
            "smithy.api#required": {}
          }
        },
        "ProvisionedThroughput": {
          "target": "com.amazonaws.kafka#ProvisionedThroughput",
          "traits": {
            "smithy.api#documentation": "<p>EBS volume provisioned throughput information.</p>",
            "smithy.api#jsonName": "provisionedThroughput"
          }
        },
        "VolumeSizeGB": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>Size of the EBS volume to update.</p>",
            "smithy.api#jsonName": "volumeSizeGB"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerLogs": {
      "type": "structure",
      "members": {
        "CloudWatchLogs": {
          "target": "com.amazonaws.kafka#CloudWatchLogs",
          "traits": {
            "smithy.api#jsonName": "cloudWatchLogs"
          }
        },
        "Firehose": {
          "target": "com.amazonaws.kafka#Firehose",
          "traits": {
            "smithy.api#jsonName": "firehose"
          }
        },
        "S3": {
          "target": "com.amazonaws.kafka#S3",
          "traits": {
            "smithy.api#jsonName": "s3"
          }
        }
      }
    },
    "com.amazonaws.kafka#BrokerNodeGroupInfo": {
      "type": "structure",
      "members": {
        "BrokerAZDistribution": {
          "target": "com.amazonaws.kafka#BrokerAZDistribution",
          "traits": {
            "smithy.api#documentation": "<p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>",
            "smithy.api#jsonName": "brokerAZDistribution"
          }
        },
        "ClientSubnets": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't occupy the Availability Zone with ID use use1-az3.</p>",
            "smithy.api#jsonName": "clientSubnets",
            "smithy.api#required": {}
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.kafka#__stringMin5Max32",
          "traits": {
            "smithy.api#documentation": "<p>The type of Amazon EC2 instances to use for Apache Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>",
            "smithy.api#jsonName": "instanceType",
            "smithy.api#required": {}
          }
        },
        "SecurityGroups": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>",
            "smithy.api#jsonName": "securityGroups"
          }
        },
        "StorageInfo": {
          "target": "com.amazonaws.kafka#StorageInfo",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about storage volumes attached to MSK broker nodes.</p>",
            "smithy.api#jsonName": "storageInfo"
          }
        },
        "ConnectivityInfo": {
          "target": "com.amazonaws.kafka#ConnectivityInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker access configuration.</p>",
            "smithy.api#jsonName": "connectivityInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the setup to be used for Apache Kafka broker nodes in the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#BrokerNodeInfo": {
      "type": "structure",
      "members": {
        "AttachedENIId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The attached elastic network interface of the broker.</p>",
            "smithy.api#jsonName": "attachedENIId"
          }
        },
        "BrokerId": {
          "target": "com.amazonaws.kafka#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The ID of the broker.</p>",
            "smithy.api#jsonName": "brokerId"
          }
        },
        "ClientSubnet": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The client subnet to which this broker node belongs.</p>",
            "smithy.api#jsonName": "clientSubnet"
          }
        },
        "ClientVpcIpAddress": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The virtual private cloud (VPC) of the client.</p>",
            "smithy.api#jsonName": "clientVpcIpAddress"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "Endpoints": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Endpoints for accessing the broker.</p>",
            "smithy.api#jsonName": "endpoints"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>BrokerNodeInfo</p>"
      }
    },
    "com.amazonaws.kafka#BrokerSoftwareInfo": {
      "type": "structure",
      "members": {
        "ConfigurationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>",
            "smithy.api#jsonName": "configurationArn"
          }
        },
        "ConfigurationRevision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The revision of the configuration to use. This field isn't visible in this preview release.</p>",
            "smithy.api#jsonName": "configurationRevision"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The version of Apache Kafka.</p>",
            "smithy.api#jsonName": "kafkaVersion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the current software installed on the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClientAuthentication": {
      "type": "structure",
      "members": {
        "Sasl": {
          "target": "com.amazonaws.kafka#Sasl",
          "traits": {
            "smithy.api#documentation": "<p>Details for ClientAuthentication using SASL.</p>",
            "smithy.api#jsonName": "sasl"
          }
        },
        "Tls": {
          "target": "com.amazonaws.kafka#Tls",
          "traits": {
            "smithy.api#documentation": "<p>Details for ClientAuthentication using TLS.</p>",
            "smithy.api#jsonName": "tls"
          }
        },
        "Unauthenticated": {
          "target": "com.amazonaws.kafka#Unauthenticated",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about unauthenticated traffic to the cluster.</p>",
            "smithy.api#jsonName": "unauthenticated"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes all client authentication information.</p>"
      }
    },
    "com.amazonaws.kafka#ClientBroker": {
      "type": "enum",
      "members": {
        "TLS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS"
          }
        },
        "TLS_PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TLS_PLAINTEXT"
          }
        },
        "PLAINTEXT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAINTEXT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Client-broker encryption in transit setting.</p>"
      }
    },
    "com.amazonaws.kafka#CloudWatchLogs": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#jsonName": "enabled",
            "smithy.api#required": {}
          }
        },
        "LogGroup": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#jsonName": "logGroup"
          }
        }
      }
    },
    "com.amazonaws.kafka#Cluster": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies a cluster operation.</p>",
            "smithy.api#jsonName": "activeOperationArn"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>Cluster Type.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the cluster was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#jsonName": "currentVersion"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "StateInfo": {
          "target": "com.amazonaws.kafka#StateInfo",
          "traits": {
            "smithy.api#documentation": "<p>State Info for the Amazon MSK cluster.</p>",
            "smithy.api#jsonName": "stateInfo"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.kafka#Provisioned",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioned cluster.</p>",
            "smithy.api#jsonName": "provisioned"
          }
        },
        "Serverless": {
          "target": "com.amazonaws.kafka#Serverless",
          "traits": {
            "smithy.api#documentation": "<p>Information about the serverless cluster.</p>",
            "smithy.api#jsonName": "serverless"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterInfo": {
      "type": "structure",
      "members": {
        "ActiveOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Arn of active cluster operation.</p>",
            "smithy.api#jsonName": "activeOperationArn"
          }
        },
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker nodes.</p>",
            "smithy.api#jsonName": "brokerNodeGroupInfo"
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>Includes all client authentication information.</p>",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the cluster was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "CurrentBrokerSoftwareInfo": {
          "target": "com.amazonaws.kafka#BrokerSoftwareInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>",
            "smithy.api#jsonName": "currentBrokerSoftwareInfo"
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#jsonName": "currentVersion"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Includes all encryption-related information.</p>",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which metrics are gathered for the MSK cluster. This property has the following possible values: DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION. For a list of the metrics associated with each of these levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "OpenMonitoring": {
          "target": "com.amazonaws.kafka#OpenMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Settings for open monitoring using Prometheus.</p>",
            "smithy.api#jsonName": "openMonitoring"
          }
        },
        "LoggingInfo": {
          "target": "com.amazonaws.kafka#LoggingInfo",
          "traits": {
            "smithy.api#jsonName": "loggingInfo"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "numberOfBrokerNodes"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "StateInfo": {
          "target": "com.amazonaws.kafka#StateInfo",
          "traits": {
            "smithy.api#jsonName": "stateInfo"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Tags attached to the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "ZookeeperConnectString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>",
            "smithy.api#jsonName": "zookeeperConnectString"
          }
        },
        "ZookeeperConnectStringTls": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The connection string to use to connect to zookeeper cluster on Tls port.</p>",
            "smithy.api#jsonName": "zookeeperConnectStringTls"
          }
        },
        "StorageMode": {
          "target": "com.amazonaws.kafka#StorageMode",
          "traits": {
            "smithy.api#documentation": "<p>This controls storage mode for supported storage tiers.</p>",
            "smithy.api#jsonName": "storageMode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationInfo": {
      "type": "structure",
      "members": {
        "ClientRequestId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the API request that triggered this operation.</p>",
            "smithy.api#jsonName": "clientRequestId"
          }
        },
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time that the operation was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the operation finished.</p>",
            "smithy.api#jsonName": "endTime"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.kafka#ErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Describes the error if the operation fails.</p>",
            "smithy.api#jsonName": "errorInfo"
          }
        },
        "OperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the cluster operation.</p>",
            "smithy.api#jsonName": "operationArn"
          }
        },
        "OperationState": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>State of the cluster operation.</p>",
            "smithy.api#jsonName": "operationState"
          }
        },
        "OperationSteps": {
          "target": "com.amazonaws.kafka#__listOfClusterOperationStep",
          "traits": {
            "smithy.api#documentation": "<p>Steps completed during the operation.</p>",
            "smithy.api#jsonName": "operationSteps"
          }
        },
        "OperationType": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>Type of the cluster operation.</p>",
            "smithy.api#jsonName": "operationType"
          }
        },
        "SourceClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes before a cluster is updated.</p>",
            "smithy.api#jsonName": "sourceClusterInfo"
          }
        },
        "TargetClusterInfo": {
          "target": "com.amazonaws.kafka#MutableClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about cluster attributes after a cluster is updated.</p>",
            "smithy.api#jsonName": "targetClusterInfo"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationStep": {
      "type": "structure",
      "members": {
        "StepInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationStepInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the step and its status.</p>",
            "smithy.api#jsonName": "stepInfo"
          }
        },
        "StepName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the step.</p>",
            "smithy.api#jsonName": "stepName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Step taken during a cluster operation.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterOperationStepInfo": {
      "type": "structure",
      "members": {
        "StepStatus": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The steps current status.</p>",
            "smithy.api#jsonName": "stepStatus"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>State information about the operation step.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "HEALING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEALING"
          }
        },
        "MAINTENANCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAINTENANCE"
          }
        },
        "REBOOTING_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REBOOTING_BROKER"
          }
        },
        "UPDATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATING"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of the Apache Kafka cluster.</p>"
      }
    },
    "com.amazonaws.kafka#ClusterType": {
      "type": "enum",
      "members": {
        "PROVISIONED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONED"
          }
        },
        "SERVERLESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVERLESS"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of cluster.</p>"
      }
    },
    "com.amazonaws.kafka#CompatibleKafkaVersion": {
      "type": "structure",
      "members": {
        "SourceVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>An Apache Kafka version.</p>",
            "smithy.api#jsonName": "sourceVersion"
          }
        },
        "TargetVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A list of Apache Kafka versions.</p>",
            "smithy.api#jsonName": "targetVersions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains source Apache Kafka versions and compatible target Apache Kafka versions.</p>"
      }
    },
    "com.amazonaws.kafka#Configuration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description",
            "smithy.api#required": {}
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>",
            "smithy.api#jsonName": "kafkaVersions",
            "smithy.api#required": {}
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an MSK Configuration.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationInfo": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>ARN of the configuration to use.</p>",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The revision of the configuration to use.</p>",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration to use for the brokers.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationRevision": {
      "type": "structure",
      "members": {
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration revision was created.</p>",
            "smithy.api#jsonName": "creationTime",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration revision.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The revision number.</p>",
            "smithy.api#jsonName": "revision",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a configuration revision.</p>"
      }
    },
    "com.amazonaws.kafka#ConfigurationState": {
      "type": "enum",
      "members": {
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The state of a configuration.</p>"
      }
    },
    "com.amazonaws.kafka#ConflictException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kafka#ConnectivityInfo": {
      "type": "structure",
      "members": {
        "PublicAccess": {
          "target": "com.amazonaws.kafka#PublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Public access control for brokers.</p>",
            "smithy.api#jsonName": "publicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the broker access configuration.</p>"
      }
    },
    "com.amazonaws.kafka#CreateCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterRequest": {
      "type": "structure",
      "members": {
        "BrokerNodeGroupInfo": {
          "target": "com.amazonaws.kafka#BrokerNodeGroupInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "brokerNodeGroupInfo",
            "smithy.api#required": {}
          }
        },
        "ClientAuthentication": {
          "target": "com.amazonaws.kafka#ClientAuthentication",
          "traits": {
            "smithy.api#documentation": "<p>Includes all client authentication related information.</p>",
            "smithy.api#jsonName": "clientAuthentication"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__stringMin1Max64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName",
            "smithy.api#required": {}
          }
        },
        "ConfigurationInfo": {
          "target": "com.amazonaws.kafka#ConfigurationInfo",
          "traits": {
            "smithy.api#documentation": "<p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>",
            "smithy.api#jsonName": "configurationInfo"
          }
        },
        "EncryptionInfo": {
          "target": "com.amazonaws.kafka#EncryptionInfo",
          "traits": {
            "smithy.api#documentation": "<p>Includes all encryption-related information.</p>",
            "smithy.api#jsonName": "encryptionInfo"
          }
        },
        "EnhancedMonitoring": {
          "target": "com.amazonaws.kafka#EnhancedMonitoring",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION.</p>",
            "smithy.api#jsonName": "enhancedMonitoring"
          }
        },
        "OpenMonitoring": {
          "target": "com.amazonaws.kafka#OpenMonitoringInfo",
          "traits": {
            "smithy.api#documentation": "<p>The settings for open monitoring.</p>",
            "smithy.api#jsonName": "openMonitoring"
          }
        },
        "KafkaVersion": {
          "target": "com.amazonaws.kafka#__stringMin1Max128",
          "traits": {
            "smithy.api#documentation": "<p>The version of Apache Kafka.</p>",
            "smithy.api#jsonName": "kafkaVersion",
            "smithy.api#required": {}
          }
        },
        "LoggingInfo": {
          "target": "com.amazonaws.kafka#LoggingInfo",
          "traits": {
            "smithy.api#jsonName": "loggingInfo"
          }
        },
        "NumberOfBrokerNodes": {
          "target": "com.amazonaws.kafka#__integerMin1Max15",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of broker nodes in the cluster.</p>",
            "smithy.api#jsonName": "numberOfBrokerNodes",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>Create tags when creating the cluster.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "StorageMode": {
          "target": "com.amazonaws.kafka#StorageMode",
          "traits": {
            "smithy.api#documentation": "<p>This controls storage mode for supported storage tiers.</p>",
            "smithy.api#jsonName": "storageMode"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MSK cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateClusterV2Request"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateClusterV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK cluster.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/api/v2/clusters",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterV2Request": {
      "type": "structure",
      "members": {
        "ClusterName": {
          "target": "com.amazonaws.kafka#__stringMin1Max64",
          "traits": {
            "smithy.api#documentation": "<p>The name of the cluster.</p>",
            "smithy.api#jsonName": "clusterName",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kafka#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A map of tags that you want the cluster to have.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "Provisioned": {
          "target": "com.amazonaws.kafka#ProvisionedRequest",
          "traits": {
            "smithy.api#documentation": "<p>Information about the provisioned cluster.</p>",
            "smithy.api#jsonName": "provisioned"
          }
        },
        "Serverless": {
          "target": "com.amazonaws.kafka#ServerlessRequest",
          "traits": {
            "smithy.api#documentation": "<p>Information about the serverless cluster.</p>",
            "smithy.api#jsonName": "serverless"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateClusterV2Response": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "ClusterName": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MSK cluster.</p>",
            "smithy.api#jsonName": "clusterName"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        },
        "ClusterType": {
          "target": "com.amazonaws.kafka#ClusterType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the cluster. The possible states are PROVISIONED or SERVERLESS.</p>",
            "smithy.api#jsonName": "clusterType"
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#CreateConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#CreateConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new MSK configuration.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#CreateConfigurationRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The versions of Apache Kafka with which you can use this MSK configuration.</p>",
            "smithy.api#jsonName": "kafkaVersions"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "ServerProperties": {
          "target": "com.amazonaws.kafka#__blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>",
            "smithy.api#jsonName": "serverProperties",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#CreateConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the MSK cluster.</p>",
            "smithy.api#httpQuery": "currentVersion"
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster.</p>",
            "smithy.api#jsonName": "clusterArn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ClusterState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the cluster. The possible states are ACTIVE, CREATING, DELETING, FAILED, HEALING, MAINTENANCE, REBOOTING_BROKER, and UPDATING.</p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DeleteConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DeleteConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an MSK Configuration.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/configurations/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DeleteConfigurationRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DeleteConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeCluster": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterOperationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the cluster operation specified by the ARN.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/operations/{ClusterOperationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationRequest": {
      "type": "structure",
      "members": {
        "ClusterOperationArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the MSK cluster operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterOperationResponse": {
      "type": "structure",
      "members": {
        "ClusterOperationInfo": {
          "target": "com.amazonaws.kafka#ClusterOperationInfo",
          "traits": {
            "smithy.api#documentation": "<p>Cluster operation information</p>",
            "smithy.api#jsonName": "clusterOperationInfo"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterResponse": {
      "type": "structure",
      "members": {
        "ClusterInfo": {
          "target": "com.amazonaws.kafka#ClusterInfo",
          "traits": {
            "smithy.api#documentation": "<p>The cluster information.</p>",
            "smithy.api#jsonName": "clusterInfo"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeClusterV2Request"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeClusterV2Response"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/api/v2/clusters/{ClusterArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2Request": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeClusterV2Response": {
      "type": "structure",
      "members": {
        "ClusterInfo": {
          "target": "com.amazonaws.kafka#Cluster",
          "traits": {
            "smithy.api#documentation": "<p>The cluster information.</p>",
            "smithy.api#jsonName": "clusterInfo"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of this MSK configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "KafkaVersions": {
          "target": "com.amazonaws.kafka#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The versions of Apache Kafka with which you can use this MSK configuration.</p>",
            "smithy.api#jsonName": "kafkaVersions"
          }
        },
        "LatestRevision": {
          "target": "com.amazonaws.kafka#ConfigurationRevision",
          "traits": {
            "smithy.api#documentation": "<p>Latest revision of the configuration.</p>",
            "smithy.api#jsonName": "latestRevision"
          }
        },
        "Name": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the configuration.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "State": {
          "target": "com.amazonaws.kafka#ConfigurationState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the configuration. The possible states are ACTIVE, DELETING, and DELETE_FAILED. </p>",
            "smithy.api#jsonName": "state"
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevision": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRevisionRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#DescribeConfigurationRevisionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a description of this revision of the configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/configurations/{Arn}/revisions/{Revision}",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevisionRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>A string that uniquely identifies a revision of an MSK configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#DescribeConfigurationRevisionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the configuration.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kafka#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The time when the configuration was created.</p>",
            "smithy.api#jsonName": "creationTime"
          }
        },
        "Description": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the configuration.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "Revision": {
          "target": "com.amazonaws.kafka#__long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The revision number.</p>",
            "smithy.api#jsonName": "revision"
          }
        },
        "ServerProperties": {
          "target": "com.amazonaws.kafka#__blob",
          "traits": {
            "smithy.api#documentation": "<p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>",
            "smithy.api#jsonName": "serverProperties"
          }
        }
      }
    },
    "com.amazonaws.kafka#EBSStorageInfo": {
      "type": "structure",
      "members": {
        "ProvisionedThroughput": {
          "target": "com.amazonaws.kafka#ProvisionedThroughput",
          "traits": {
            "smithy.api#documentation": "<p>EBS volume provisioned throughput information.</p>",
            "smithy.api#jsonName": "provisionedThroughput"
          }
        },
        "VolumeSize": {
          "target": "com.amazonaws.kafka#__integerMin1Max16384",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The size in GiB of the EBS volume for the data drive on each broker node.</p>",
            "smithy.api#jsonName": "volumeSize"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the EBS storage volumes attached to Apache Kafka broker nodes.</p>"
      }
    },
    "com.amazonaws.kafka#EncryptionAtRest": {
      "type": "structure",
      "members": {
        "DataVolumeKMSKeyId": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS KMS key for encrypting data at rest. If you don't specify a KMS key, MSK creates one for you and uses it.</p>",
            "smithy.api#jsonName": "dataVolumeKMSKeyId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The data-volume encryption details.</p>"
      }
    },
    "com.amazonaws.kafka#EncryptionInTransit": {
      "type": "structure",
      "members": {
        "ClientBroker": {
          "target": "com.amazonaws.kafka#ClientBroker",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the encryption setting for data in transit between clients and brokers. The following are the possible values.</p>\n            <p>\n               TLS means that client-broker communication is enabled with TLS only.</p>\n            <p>\n               TLS_PLAINTEXT means that client-broker communication is enabled for both TLS-encrypted, as well as plaintext data.</p>\n            <p>\n               PLAINTEXT means that client-broker communication is enabled in plaintext only.</p>\n            <p>The default value is TLS_PLAINTEXT.</p>",
            "smithy.api#jsonName": "clientBroker"
          }
        },
        "InCluster": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>When set to true, it indicates that data communication among the broker nodes of the cluster is encrypted. When set to false, the communication happens in plaintext.</p>\n            <p>The default value is true.</p>",
            "smithy.api#jsonName": "inCluster"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings for encrypting data in transit.</p>"
      }
    },
    "com.amazonaws.kafka#EncryptionInfo": {
      "type": "structure",
      "members": {
        "EncryptionAtRest": {
          "target": "com.amazonaws.kafka#EncryptionAtRest",
          "traits": {
            "smithy.api#documentation": "<p>The data-volume encryption details.</p>",
            "smithy.api#jsonName": "encryptionAtRest"
          }
        },
        "EncryptionInTransit": {
          "target": "com.amazonaws.kafka#EncryptionInTransit",
          "traits": {
            "smithy.api#documentation": "<p>The details for encryption in transit.</p>",
            "smithy.api#jsonName": "encryptionInTransit"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Includes encryption-related information, such as the AWS KMS key used for encrypting data at rest and whether you want MSK to encrypt your data in transit.</p>"
      }
    },
    "com.amazonaws.kafka#EnhancedMonitoring": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "PER_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_BROKER"
          }
        },
        "PER_TOPIC_PER_BROKER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_TOPIC_PER_BROKER"
          }
        },
        "PER_TOPIC_PER_PARTITION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PER_TOPIC_PER_PARTITION"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies which metrics are gathered for the MSK cluster. This property has the following possible values: DEFAULT, PER_BROKER, PER_TOPIC_PER_BROKER, and PER_TOPIC_PER_PARTITION. For a list of the metrics associated with each of these levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>"
      }
    },
    "com.amazonaws.kafka#ErrorInfo": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A number describing the error programmatically.</p>",
            "smithy.api#jsonName": "errorCode"
          }
        },
        "ErrorString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>An optional field to provide more details about the error.</p>",
            "smithy.api#jsonName": "errorString"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error state of the cluster.</p>"
      }
    },
    "com.amazonaws.kafka#Firehose": {
      "type": "structure",
      "members": {
        "DeliveryStream": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#jsonName": "deliveryStream"
          }
        },
        "Enabled": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#jsonName": "enabled",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#ForbiddenException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#GetBootstrapBrokersRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#GetBootstrapBrokersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ConflictException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A list of brokers that a client application can use to bootstrap.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/clusters/{ClusterArn}/bootstrap-brokers",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokersRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kafka#GetBootstrapBrokersResponse": {
      "type": "structure",
      "members": {
        "BootstrapBrokerString": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string containing one or more hostname:port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerString"
          }
        },
        "BootstrapBrokerStringTls": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string containing one or more DNS names (or IP) and TLS port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringTls"
          }
        },
        "BootstrapBrokerStringSaslScram": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string containing one or more DNS names (or IP) and Sasl Scram port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringSaslScram"
          }
        },
        "BootstrapBrokerStringSaslIam": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string that contains one or more DNS names (or IP addresses) and SASL IAM port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringSaslIam"
          }
        },
        "BootstrapBrokerStringPublicTls": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string containing one or more DNS names (or IP) and TLS port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringPublicTls"
          }
        },
        "BootstrapBrokerStringPublicSaslScram": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string containing one or more DNS names (or IP) and Sasl Scram port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringPublicSaslScram"
          }
        },
        "BootstrapBrokerStringPublicSaslIam": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>A string that contains one or more DNS names (or IP addresses) and SASL IAM port pairs.</p>",
            "smithy.api#jsonName": "bootstrapBrokerStringPublicSaslIam"
          }
        }
      }
    },
    "com.amazonaws.kafka#GetCompatibleKafkaVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kafka#GetCompatibleKafkaVersionsRequest"
      },
      "output": {
        "target": "com.amazonaws.kafka#GetCompatibleKafkaVersionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kafka#BadRequestException"
        },
        {
          "target": "com.amazonaws.kafka#ForbiddenException"
        },
        {
          "target": "com.amazonaws.kafka#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.kafka#NotFoundException"
        },
        {
          "target": "com.amazonaws.kafka#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kafka#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.kafka#UnauthorizedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the Apache Kafka versions to which you can update the MSK cluster.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/compatible-kafka-versions",
          "code": 200
        }
      }
    },
    "com.amazonaws.kafka#GetCompatibleKafkaVersionsRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the cluster check.</p>",
            "smithy.api#httpQuery": "clusterArn"
          }
        }
      }
    },
    "com.amazonaws.kafka#GetCompatibleKafkaVersionsResponse": {
      "type": "structure",
      "members": {
        "CompatibleKafkaVersions": {
          "target": "com.amazonaws.kafka#__listOfCompatibleKafkaVersion",
          "traits": {
            "smithy.api#documentation": "<p>A list of CompatibleKafkaVersion objects.</p>",
            "smithy.api#jsonName": "compatibleKafkaVersions"
          }
        }
      }
    },
    "com.amazonaws.kafka#Iam": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether IAM access control is enabled.</p>",
            "smithy.api#jsonName": "enabled"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details for IAM access control.</p>"
      }
    },
    "com.amazonaws.kafka#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The parameter that caused the error.</p>",
            "smithy.api#jsonName": "invalidParameter"
          }
        },
        "Message": {
          "target": "com.amazonaws.kafka#__string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the error.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.kafka#JmxExporter": {
      "type": "structure",
      "members": {
        "EnabledInBroker": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want to turn on or turn off the JMX Exporter.</p>",
            "smithy.api#jsonName": "enabledInBroker",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether you want to turn on or turn off the JMX Exporter.</p>"
      }
    },
    "com.amazonaws.kafka#JmxExporterInfo": {
      "type": "structure",
      "members": {
        "EnabledInBroker": {
          "target": "com.amazonaws.kafka#__boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Indicates whether you want to turn on or turn off the JMX Exporter.</p>",
            "smithy.api#jsonName": "enabledInBroker",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Indicates whether you want to turn on or turn off the JMX Exporter.</p>"
      }
    },
    "com.amazonaws.kafka#Kafka": {
      "type": "service",
      "version": "2018-11-14",
      "operations": [
        {
          "target": "com.amazonaws.kafka#BatchAssociateScramSecret"
        },
        {
          "target": "com.amazonaws.kafka#BatchDisassociateScramSecret"
        },
        {
          "target": "com.amazonaws.kafka#CreateCluster"
        },
        {
          "target": "com.amazonaws.kafka#CreateClusterV2"
        },
        {
          "target": "com.amazonaws.kafka#CreateConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#DeleteCluster"
        },
        {
          "target": "com.amazonaws.kafka#DeleteConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#DescribeCluster"
        },
        {
          "target": "com.amazonaws.kafka#DescribeClusterOperation"
        },
        {
          "target": "com.amazonaws.kafka#DescribeClusterV2"
        },
        {
          "target": "com.amazonaws.kafka#DescribeConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#DescribeConfigurationRevision"
        },
        {
          "target": "com.amazonaws.kafka#GetBootstrapBrokers"
        },
        {
          "target": "com.amazonaws.kafka#GetCompatibleKafkaVersions"
        },
        {
          "target": "com.amazonaws.kafka#ListClusterOperations"
        },
        {
          "target": "com.amazonaws.kafka#ListClusters"
        },
        {
          "target": "com.amazonaws.kafka#ListClustersV2"
        },
        {
          "target": "com.amazonaws.kafka#ListConfigurationRevisions"
        },
        {
          "target": "com.amazonaws.kafka#ListConfigurations"
        },
        {
          "target": "com.amazonaws.kafka#ListKafkaVersions"
        },
        {
          "target": "com.amazonaws.kafka#ListNodes"
        },
        {
          "target": "com.amazonaws.kafka#ListScramSecrets"
        },
        {
          "target": "com.amazonaws.kafka#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kafka#RebootBroker"
        },
        {
          "target": "com.amazonaws.kafka#TagResource"
        },
        {
          "target": "com.amazonaws.kafka#UntagResource"
        },
        {
          "target": "com.amazonaws.kafka#UpdateBrokerCount"
        },
        {
          "target": "com.amazonaws.kafka#UpdateBrokerStorage"
        },
        {
          "target": "com.amazonaws.kafka#UpdateBrokerType"
        },
        {
          "target": "com.amazonaws.kafka#UpdateClusterConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#UpdateClusterKafkaVersion"
        },
        {
          "target": "com.amazonaws.kafka#UpdateConfiguration"
        },
        {
          "target": "com.amazonaws.kafka#UpdateConnectivity"
        },
        {
          "target": "com.amazonaws.kafka#UpdateMonitoring"
        },
        {
          "target": "com.amazonaws.kafka#UpdateSecurity"
        },
        {
          "target": "com.amazonaws.kafka#UpdateStorage"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kafka",
          "arnNamespace": "kafka",
          "cloudFormationName": "MSK",
          "cloudTrailEventSource": "kafka.amazonaws.com",
          "endpointPrefix": "kafka"
        },
        "aws.auth#sigv4": {
          "name": "kafka"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The operations for managing an Amazon MSK cluster.</p>",
        "smithy.api#title": "Managed Streaming for Kafka",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://kafka-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://kafka-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
[...]
