{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kendra#AWSKendraFrontendService": {
      "type": "service",
      "version": "2019-02-03",
      "operations": [
        {
          "target": "com.amazonaws.kendra#BatchDeleteDocument"
        },
        {
          "target": "com.amazonaws.kendra#BatchGetDocumentStatus"
        },
        {
          "target": "com.amazonaws.kendra#BatchPutDocument"
        },
        {
          "target": "com.amazonaws.kendra#ClearQuerySuggestions"
        },
        {
          "target": "com.amazonaws.kendra#CreateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#CreateFaq"
        },
        {
          "target": "com.amazonaws.kendra#CreateIndex"
        },
        {
          "target": "com.amazonaws.kendra#CreateQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#CreateThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DeleteFaq"
        },
        {
          "target": "com.amazonaws.kendra#DeleteIndex"
        },
        {
          "target": "com.amazonaws.kendra#DeletePrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#DeleteQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#DeleteThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DescribeDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DescribeFaq"
        },
        {
          "target": "com.amazonaws.kendra#DescribeIndex"
        },
        {
          "target": "com.amazonaws.kendra#DescribePrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#DescribeQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#DescribeQuerySuggestionsConfig"
        },
        {
          "target": "com.amazonaws.kendra#DescribeThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#GetQuerySuggestions"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSources"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSourceSyncJobs"
        },
        {
          "target": "com.amazonaws.kendra#ListFaqs"
        },
        {
          "target": "com.amazonaws.kendra#ListGroupsOlderThanOrderingId"
        },
        {
          "target": "com.amazonaws.kendra#ListIndices"
        },
        {
          "target": "com.amazonaws.kendra#ListQuerySuggestionsBlockLists"
        },
        {
          "target": "com.amazonaws.kendra#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kendra#ListThesauri"
        },
        {
          "target": "com.amazonaws.kendra#PutPrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#Query"
        },
        {
          "target": "com.amazonaws.kendra#StartDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#StopDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#SubmitFeedback"
        },
        {
          "target": "com.amazonaws.kendra#TagResource"
        },
        {
          "target": "com.amazonaws.kendra#UntagResource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateIndex"
        },
        {
          "target": "com.amazonaws.kendra#UpdateQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#UpdateQuerySuggestionsConfig"
        },
        {
          "target": "com.amazonaws.kendra#UpdateThesaurus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "kendra",
          "arnNamespace": "kendra",
          "cloudFormationName": "Kendra",
          "cloudTrailEventSource": "kendra.amazonaws.com",
          "endpointPrefix": "kendra"
        },
        "aws.auth#sigv4": {
          "name": "kendra"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
        "smithy.api#title": "AWSKendraFrontendService"
      }
    },
    "com.amazonaws.kendra#AccessControlListConfiguration": {
      "type": "structure",
      "members": {
        "KeyPath": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Path to the Amazon Web Services S3 bucket that contains the ACL files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access Control List files for the documents in a data source. For\n            the format of the file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control for S3 data\n                sources</a>.</p>"
      }
    },
    "com.amazonaws.kendra#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kendra#AclConfiguration": {
      "type": "structure",
      "members": {
        "AllowedGroupsColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups, separated by semi-colons, that filters a query\n            response based on user context. The document is only returned to\n            users that are in one of the groups specified in the\n                <code>UserContext</code> field of the <code>Query</code>\n            operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the column that should be used for\n            filtering the query response by groups.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>The key that identifies the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Value</code> property.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the attribute value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned from an index query.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AdditionalResultAttribute"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValue": {
      "type": "structure",
      "members": {
        "TextWithHighlightsValue": {
          "target": "com.amazonaws.kendra#TextWithHighlights",
          "traits": {
            "smithy.api#documentation": "<p>The text associated with the attribute and information about the\n            highlight to apply to the text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned with a document from a search.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TEXT_WITH_HIGHLIGHTS_VALUE",
            "name": "TEXT_WITH_HIGHLIGHTS_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.kendra#AttributeFilter": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied\n         filters.</p>"
          }
        },
        "OrAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>OR</code> operation on all supplied\n         filters.</p>"
          }
        },
        "NotFilter": {
          "target": "com.amazonaws.kendra#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied\n         filters.</p>"
          }
        },
        "EqualsTo": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an equals operation on two document attributes.</p>"
          }
        },
        "ContainsAll": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains all of the specified document\n         attributes. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "ContainsAny": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains any of the specified document\n         attributes. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes. Use\n         with a document attribute of type <code>Integer</code> or\n            <code>Long</code>.</p>"
          }
        },
        "GreaterThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document\n         attributes. Use with a document attribute of type <code>Integer</code>\n         or <code>Long</code>.</p>"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than operation on two document attributes. Use with\n         a document attribute of type <code>Integer</code> or\n         <code>Long</code>.</p>"
          }
        },
        "LessThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes.\n         Use with a document attribute of type <code>Integer</code> or\n            <code>Long</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides filtering the query results based on document\n         attributes.</p>\n         <p>When you use the <code>AndAllFilters</code> or\n            <code>OrAllFilters</code>, filters you can use 2 layers under the\n         first attribute filter. For example, you can use:</p>\n         <p>\n            <code><AndAllFilters></code>\n         </p>\n         <ol>\n            <li>\n               <p>\n                  <code> <OrAllFilters></code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code> <EqualTo></code>\n               </p>\n            </li>\n         </ol>\n         <p>If you use more than 2 layers, you receive a\n            <code>ValidationException</code> exception with the message\n            \"<code>AttributeFilter</code> cannot have a depth of more than\n         2.\"</p>\n         <p>If you use more than 10 attribute filters, you receive a \n         <code>ValidationException</code> exception with the message \n         \"<code>AttributeFilter</code> cannot have a length of more than 10\".</p>"
      }
    },
    "com.amazonaws.kendra#AttributeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AttributeFilter"
      }
    },
    "com.amazonaws.kendra#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "BasicAuthentication": {
          "target": "com.amazonaws.kendra#BasicAuthenticationConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of configuration information that's required to connect to and \n            crawl a website host using basic authentication credentials.</p>\n        <p>The list includes the name and port number of the website host.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to websites that require\n            user authentication.</p>"
      }
    },
    "com.amazonaws.kendra#BasicAuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.kendra#Host",
          "traits": {
            "smithy.api#documentation": "<p>The name of the website host you want to connect to using \n            authentication credentials.</p>\n        <p>For example, the host name of https://a.example.com/page1.html is \n            \"a.example.com\".</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.kendra#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number of the website host you want to connect to using \n            authentication credentials.</p>\n        <p>For example, the port for https://a.example.com/page1.html is 443, \n            the standard port for HTTPS.</p>",
            "smithy.api#required": {}
          }
        },
        "Credentials": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>Your secret ARN, which you can create in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">AWS Secrets Manager</a>\n         </p>\n        <p>You use a secret if basic authentication credentials are required to connect \n            to a website. The secret stores your credentials of user name and password.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to websites that require\n            basic user authentication.</p>"
      }
    },
    "com.amazonaws.kendra#BasicAuthenticationConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BasicAuthenticationConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more documents from an index. The documents must have\n      been added with the <code>BatchPutDocument</code> operation.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of\n      the deletion by using Amazon Web Services CloudWatch. Any error messages related to the\n      processing of the batch are sent to you CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the documents to\n      delete.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentIdList": {
          "target": "com.amazonaws.kendra#DocumentIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobMetricTarget": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetricTarget"
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that could not be removed from the index. Each\n      entry contains an error message that indicates why the document couldn't\n      be removed from the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document that couldn't be removed from the\n            index.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for why the document couldn't be removed from the\n            index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for why the document couldn't be removed from the\n            index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about documents that could not be removed\n            from an index by the <code>BatchDeleteDocument</code>\n            operation.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the indexing status for one or more documents submitted\n            with the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\">\n                BatchPutDocument</a> operation.</p>\n        <p>When you use the <code>BatchPutDocument</code> operation,\n            documents are indexed asynchronously. You can use the\n                <code>BatchGetDocumentStatus</code> operation to get the current\n            status of a list of documents so that you can determine if they have\n            been successfully indexed.</p>\n        <p>You can also use the <code>BatchGetDocumentStatus</code> operation\n            to check the status of the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchDeleteDocument.html\">\n                BatchDeleteDocument</a> operation. When a document is\n            deleted from the index, Amazon Kendra returns <code>NOT_FOUND</code> as the\n            status.</p>"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add documents to. The index ID is\n            returned by the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_CreateIndex.html\"> CreateIndex\n            </a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentInfoList": {
          "target": "com.amazonaws.kendra#DocumentInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DocumentInfo</code> objects that identify the\n            documents for which to get the status. You identify the documents by\n            their document ID and optional attributes.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that Amazon Kendra couldn't get the status for. The\n            list includes the ID of the document and the reason that the status\n            couldn't be found.</p>"
          }
        },
        "DocumentStatusList": {
          "target": "com.amazonaws.kendra#DocumentStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of documents. The status indicates if the document is\n            waiting to be indexed, is in the process of indexing, has completed\n            indexing, or failed indexing. If a document failed indexing, the\n            status provides the reason why.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponseError": {
      "type": "structure",
      "members": {
        "DocumentId": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the document whose status could not be retrieved.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the source of the error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>States that the API could not get the status of a document. This could be \n            because the request is not valid or there is a system error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a response when the status of a document could not be retrieved.</p>"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponseError"
      }
    },
    "com.amazonaws.kendra#BatchPutDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchPutDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> operation enables you to ingest\n      inline documents or a set of documents stored in an Amazon S3 bucket. Use\n      this operation to ingest your text and unstructured text into an index,\n      add custom attributes to the documents, and to attach an access control\n      list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of\n      the batch using Amazon Web Services CloudWatch. Any error messages related to processing\n      the batch are sent to your Amazon Web Services CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add the documents to. You need to\n      create the index first using the <code>CreateIndex</code>\n      operation.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the\n        <code>BatchPutDocument</code> operation. For more information, see\n        <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM\n        Roles for Amazon Kendra</a>.</p>"
          }
        },
        "Documents": {
          "target": "com.amazonaws.kendra#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>One or more documents to add to the index.</p>\n         <p>Documents can include custom attributes. For example, \n      'DataSourceId' and 'DataSourceSyncJobId' are custom \n      attributes that provide information on the synchronization \n      of documents running on a data source. Note, \n      'DataSourceSyncJobId' could be an optional custom attribute \n      as Amazon Kendra will use the ID of a running sync job.</p>\n         <p>Documents have the following file size limits.</p>\n         <ul>\n            <li>\n               <p>5 MB total size for inline documents</p>\n            </li>\n            <li>\n               <p>50 MB total size for files from an S3 bucket</p>\n            </li>\n            <li>\n               <p>5 MB extracted text for any file</p>\n            </li>\n         </ul>\n         <p>For more information about file size and transaction per second\n      quotas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that were not added to the index because the\n      document failed a validation check. Each document contains an error\n      message that indicates why the document couldn't be added to the\n      index.</p>\n         <p>If there was an error adding a document to an index the error is\n      reported in your Amazon Web Services CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring\n        Amazon Kendra with Amazon CloudWatch Logs</a>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the document.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the document to fail to be\n            indexed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the reason why the document could not be\n            indexed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document that could not be\n            indexed.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#Blob": {
      "type": "blob"
    },
    "com.amazonaws.kendra#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.kendra#CapacityUnitsConfiguration": {
      "type": "structure",
      "members": {
        "StorageCapacityUnits": {
          "target": "com.amazonaws.kendra#StorageCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra storage capacity for an index. \n            A single capacity unit provides 30 GB of storage space or 100,000 documents, \n            whichever is reached first.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryCapacityUnits": {
          "target": "com.amazonaws.kendra#QueryCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra query capacity for an index and \n            <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_GetQuerySuggestions.html\">GetQuerySuggestions</a> \n            capacity.</p>\n        <p>A single extra capacity unit for an index provides 0.1 queries per second or approximately \n            8,000 queries per day.</p>\n        <p>\n            <code>GetQuerySuggestions</code> capacity is five times the \n            provisioned query capacity for an index, or the base capacity of 2.5 calls per second, \n            whichever is higher. For example, the base capacity for an index is 0.1 queries per \n            second, and <code>GetQuerySuggestions</code> capacity has a base of 2.5 calls per second. \n            If you add another 0.1 queries per second to total 0.2 queries per second for an index, the \n            <code>GetQuerySuggestions</code> capacity is 2.5 calls per second \n            (higher than five times 0.2 queries per second).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies capacity units configured for your enterprise edition index. \n            You can add and remove capacity units to tune an index to your\n            requirements.</p>"
      }
    },
    "com.amazonaws.kendra#ChangeDetectingColumns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#ClaimRegex": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#ClearQuerySuggestions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ClearQuerySuggestionsRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Clears existing query suggestions from an index.</p>\n        <p>This deletes existing suggestions only, not the queries \n            in the query log. After you clear suggestions, Amazon Kendra learns \n            new suggestions based on new queries added to the query log \n            from the time you cleared suggestions. If you do not see any \n            new suggestions, then please allow Amazon Kendra to collect \n            enough queries to learn new suggestions.</p>"
      }
    },
    "com.amazonaws.kendra#ClearQuerySuggestionsRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index you want to clear query suggestions from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#ClickFeedback": {
      "type": "structure",
      "members": {
        "ResultId": {
          "target": "com.amazonaws.kendra#ResultId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the search result that was\n            clicked.</p>",
            "smithy.api#required": {}
          }
        },
        "ClickTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of the date and time that the result was\n            clicked.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gathers information about when a particular result was clicked by\n            a user. Your application uses the <code>SubmitFeedback</code>\n            operation to provide click information.</p>"
      }
    },
    "com.amazonaws.kendra#ClickFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ClickFeedback"
      }
    },
    "com.amazonaws.kendra#ClientTokenName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#ColumnConfiguration": {
      "type": "structure",
      "members": {
        "DocumentIdColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that provides the document's unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentDataColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the contents of the document.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentTitleColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the title of the document.</p>"
          }
        },
        "FieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that map database column names to the\n            corresponding fields in an index. You must first create the fields\n            in the index using the <code>UpdateIndex</code> operation.</p>"
          }
        },
        "ChangeDetectingColumns": {
          "target": "com.amazonaws.kendra#ChangeDetectingColumns",
          "traits": {
            "smithy.api#documentation": "<p>One to five columns that indicate when a document in the database\n            has changed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about how Amazon Kendra should use the columns of\n            a database in an index.</p>"
      }
    },
    "com.amazonaws.kendra#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentConfiguration": {
      "type": "structure",
      "members": {
        "CrawlAttachments": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon Kendra indexes attachments to the pages and blogs\n            in the Confluence data source. </p>"
          }
        },
        "AttachmentFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how attachment metadata fields should be mapped to index\n            fields. Before you can map a field, you must first create an index\n            field with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>AttachentFieldMappings</code> parameter,\n            you must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the attachment settings for the Confluence data source.\n            Attachment settings are optional, if you don't specify settings\n            attachments, Amazon Kendra won't index them.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceAttachmentToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 11
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "CONTENT_TYPE",
            "name": "CONTENT_TYPE"
          },
          {
            "value": "CREATED_DATE",
            "name": "CREATED_DATE"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "FILE_SIZE",
            "name": "FILE_SIZE"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "PARENT_ID",
            "name": "PARENT_ID"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>\n        <p>You must first create the index field using the\n                <code>UpdateIndex</code> operation. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the\n                <code>UpdateIndex</code> operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogConfiguration": {
      "type": "structure",
      "members": {
        "BlogFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceBlogFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how blog metadata fields should be mapped to index fields.\n            Before you can map a field, you must first create an index field\n            with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>BlogFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the blog settings for the Confluence data source. Blogs\n            are always indexed unless filtered from the index by the\n                <code>ExclusionPatterns</code> or <code>InclusionPatterns</code>\n            fields in the <code>ConfluenceConfiguration</code> type.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceBlogToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "LABELS",
            "name": "LABELS"
          },
          {
            "value": "PUBLISH_DATE",
            "name": "PUBLISH_DATE"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceBlogFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a blog field in the Confluence data\n            source to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the\n                <code>UpdateIndex</code> operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceConfiguration": {
      "type": "structure",
      "members": {
        "ServerUrl": {
          "target": "com.amazonaws.kendra#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of your Confluence instance. Use the full URL of the\n            server. For example, <code>https://server.example.com:port/</code>.\n            You can also use an IP address, for example,\n                <code>https://192.168.1.113/</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Secrets Managersecret\n            that contains the key/value pairs required to connect to your\n            Confluence server. The secret must contain a JSON structure with the\n            following keys:</p>\n        <ul>\n            <li>\n                <p>username - The user name or email address of a user with\n                    administrative privileges for the Confluence server.</p>\n            </li>\n            <li>\n                <p>password - The password associated with the user logging\n                    in to the Confluence server.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.kendra#ConfluenceVersion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the Confluence installation that you are\n            connecting to.</p>",
            "smithy.api#required": {}
          }
        },
        "SpaceConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing Confluence\n            spaces.</p>"
          }
        },
        "PageConfiguration": {
          "target": "com.amazonaws.kendra#ConfluencePageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing Confluence\n            pages.</p>"
          }
        },
        "BlogConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceBlogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Specifies configuration information for indexing Confluence\n            blogs.</p>"
          }
        },
        "AttachmentConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing attachments to\n            Confluence blogs and pages.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the information for connecting to an Amazon VPC.</p>"
          }
        },
        "InclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns that apply to a URL on the\n            Confluence server. An inclusion pattern can apply to a blog post, a\n            page, a space, or an attachment. Items that match the patterns are\n            included in the index. Items that don't match the pattern are\n            excluded from the index. If an item matches both an inclusion\n            pattern and an exclusion pattern, the item isn't included in the\n            index.</p>"
          }
        },
        "ExclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns that apply to a URL on the\n            Confluence server. An exclusion pattern can apply to a blog post, a\n            page, a space, or an attachment. Items that match the pattern are\n            excluded from the index. Items that don't match the pattern are\n            included in the index. If a item matches both an exclusion pattern\n            and an inclusion pattern, the item isn't included in the\n            index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information for data sources that connect\n            to Confluence.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluencePageConfiguration": {
      "type": "structure",
      "members": {
        "PageFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluencePageFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how page metadata fields should be mapped to index fields.\n            Before you can map a field, you must first create an index field\n            with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>PageFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the page settings for the Confluence data source.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluencePageFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluencePageToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        }
      }
    },
    "com.amazonaws.kendra#ConfluencePageFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "CONTENT_STATUS",
            "name": "CONTENT_STATUS"
          },
          {
            "value": "CREATED_DATE",
            "name": "CREATED_DATE"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "LABELS",
            "name": "LABELS"
          },
          {
            "value": "MODIFIED_DATE",
            "name": "MODIFIED_DATE"
          },
          {
            "value": "PARENT_ID",
            "name": "PARENT_ID"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluencePageToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluencePageFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the\n                <code>UpdateIndex</code> operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceConfiguration": {
      "type": "structure",
      "members": {
        "CrawlPersonalSpaces": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Kendra should index personal spaces. Users can\n            add restrictions to items in personal spaces. If personal spaces are\n            indexed, queries without user context information may return\n            restricted items from a personal space in their results. For more\n            information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/user-context-filter.html\">Filtering on\n                user context</a>.</p>"
          }
        },
        "CrawlArchivedSpaces": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Kendra should index archived spaces.</p>"
          }
        },
        "IncludeSpaces": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of space keys for Confluence spaces. If you include a key,\n            the blogs, documents, and attachments in the space are indexed.\n            Spaces that aren't in the list aren't indexed. A space in the list\n            must exist. Otherwise, Amazon Kendra logs an error when the data source is\n            synchronized. If a space is in both the <code>IncludeSpaces</code>\n            and the <code>ExcludeSpaces</code> list, the space is\n            excluded.</p>"
          }
        },
        "ExcludeSpaces": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of space keys of Confluence spaces. If you include a key,\n            the blogs, documents, and attachments in the space are not indexed.\n            If a space is in both the <code>ExcludeSpaces</code> and the\n                <code>IncludeSpaces</code> list, the space is excluded.</p>"
          }
        },
        "SpaceFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how space metadata fields should be mapped to index\n            fields. Before you can map a field, you must first create an index\n            field with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>SpaceFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration for indexing Confluence spaces.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceSpaceToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "URL",
            "name": "URL"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceSpaceIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the\n                <code>UpdateIndex</code> operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceVersion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUD",
            "name": "CLOUD"
          },
          {
            "value": "SERVER",
            "name": "SERVER"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConnectionConfiguration": {
      "type": "structure",
      "members": {
        "DatabaseHost": {
          "target": "com.amazonaws.kendra#DatabaseHost",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host for the database. Can be either a string\n            (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabasePort": {
          "target": "com.amazonaws.kendra#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port that the database uses for connections.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.kendra#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database containing the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.kendra#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in Secrets Manager.\n            The credentials should be a user/password pair. For\n            more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a\n                Database Data Source</a>. For more information about \n            Secrets Manager, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What Is \n                Secrets Manager</a> in the <i> Secrets Manager\n                </i> user guide.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect to a\n            database.</p>"
      }
    },
    "com.amazonaws.kendra#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PDF",
            "name": "PDF"
          },
          {
            "value": "HTML",
            "name": "HTML"
          },
          {
            "value": "MS_WORD",
            "name": "MS_WORD"
          },
          {
            "value": "PLAIN_TEXT",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "PPT",
            "name": "PPT"
          }
        ]
      }
    },
    "com.amazonaws.kendra#CrawlDepth": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source that you use to with an Amazon Kendra index. </p>\n         <p>You specify a name, data source connector type and description for\n      your data source. You also specify configuration information such as\n      document metadata (author, source URI, and so on) and user context\n      information.</p>\n         <p>\n            <code>CreateDataSource</code> is a synchronous operation. The\n      operation returns 200 if the data source was successfully created.\n      Otherwise, an exception is raised.</p>"
      }
    },
    "com.amazonaws.kendra#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the data source. A data source name can't be changed\n      without deleting and recreating the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that should be associated with this data\n      source.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of repository that contains the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The connector configuration information that is required to access the\n      repository.</p>\n         <p>You can't specify the <code>Configuration</code> parameter when the\n        <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do,\n      you receive a <code>ValidationException</code> exception.</p>\n         <p>The <code>Configuration</code> parameter is required for all other\n      data sources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data source.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Sets the frequency that Amazon Kendra will check the documents in your\n      repository and update the index. If you don't set a schedule Amazon Kendra\n      will not periodically update the index. You can call the\n        <code>StartDataSourceSyncJob</code> operation to update the\n      index.</p>\n         <p>You can't specify the <code>Schedule</code> parameter when the\n        <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do,\n      you receive a <code>ValidationException</code> exception.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the\n      data source. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n        Amazon Kendra</a>.</p>\n         <p>You can't specify the <code>RoleArn</code> parameter when the\n        <code>Type</code> parameter is set to <code>CUSTOM</code>. If you do,\n      you receive a <code>ValidationException</code> exception.</p>\n         <p>The <code>RoleArn</code> parameter is required for all other data\n      sources.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the data source. You can use\n      the tags to identify and organize your resources and to control access to\n      resources.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a data\n      source. Multiple calls to the <code>CreateDataSource</code> operation with\n      the same client token will create only one data source.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>"
      }
    },
    "com.amazonaws.kendra#CreateFaqRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that should be associated with the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the FAQ.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the FAQ input data.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the S3 bucket that\n            contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the FAQ. You can use the tags to identify and\n            organize your resources and to control access to resources.</p>"
          }
        },
        "FileFormat": {
          "target": "com.amazonaws.kendra#FaqFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the input file. You can choose between a basic CSV format, a CSV format\n            that includes customs attributes in a header, and a JSON format that includes custom\n            attributes.</p>\n        <p>The format must match the format of the file stored in the S3 bucket identified in the\n                <code>S3Path</code> parameter.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-creating-faq.html\">Adding questions and\n            answers</a>.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a FAQ. Multiple calls to\n            the <code>CreateFaqRequest</code> operation with the same client token will create only\n            one FAQ. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaqResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous\n      operation. To determine if index creation has completed, check the\n        <code>Status</code> field returned from a call to\n        <code>DescribeIndex</code>. The <code>Status</code> field is set to\n        <code>ACTIVE</code> when the index is ready to use.</p>\n         <p>Once the index is active you can index your documents using the\n        <code>BatchPutDocument</code> operation or using one of the supported\n      data sources. </p>"
      }
    },
    "com.amazonaws.kendra#CreateIndexRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new index.</p>",
            "smithy.api#required": {}
          }
        },
        "Edition": {
          "target": "com.amazonaws.kendra#IndexEdition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Kendra edition to use for the index. Choose\n        <code>DEVELOPER_EDITION</code> for indexes intended for development,\n      testing, or proof of concept. Use <code>ENTERPRISE_EDITION</code> for your\n      production databases. Once you set the edition for an index, it can't be\n      changed.</p>\n         <p>The <code>Edition</code> parameter is optional. If you don't supply a\n      value, the default is <code>ENTERPRISE_EDITION</code>.</p>\n         <p>For more information on quota limits for enterprise and developer editions, \n      see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An Identity and Access Management(IAM) role that gives\n      Amazon Kendra permissions to access your Amazon CloudWatch logs and\n      metrics. This is also the role used when you use the\n        <code>BatchPutDocument</code> operation to index documents from an\n      Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the KMScustomer managed key (CMK) to use to\n      encrypt data indexed by Amazon Kendra. Amazon Kendra doesn't support\n      asymmetric CMKs.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the index.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create an index.\n      Multiple calls to the <code>CreateIndex</code> operation with the same\n      client token will create only one index.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the index. You can use the\n      tags to identify and organize your resources and to control access to\n      resources.</p>"
          }
        },
        "UserTokenConfigurations": {
          "target": "com.amazonaws.kendra#UserTokenConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The user token configuration.</p>"
          }
        },
        "UserContextPolicy": {
          "target": "com.amazonaws.kendra#UserContextPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The user context policy.</p>\n         <dl>\n            <dt>ATTRIBUTE_FILTER</dt>\n            <dd>\n               <p>All indexed content is searchable and displayable\n                  for all users. If there is an access control list, it\n                  is ignored. You can filter on user and group attributes.\n               </p>\n            </dd>\n            <dt>USER_TOKEN</dt>\n            <dd>\n               <p>Enables SSO and token-based user access control.\n               All documents with no access control and all documents\n               accessible to the user will be searchable and\n               displayable.\n               </p>\n            </dd>\n         </dl>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndexResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index. Use this identifier when you query\n      an index, set up a data source, or index a document.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateQuerySuggestionsBlockList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateQuerySuggestionsBlockListRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateQuerySuggestionsBlockListResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a block list to exlcude certain queries from suggestions.</p>\n        <p>Any query that contains words or phrases specified in the block \n            list is blocked or filtered out from being shown as a suggestion.</p>\n        <p>You need to provide the file location of your block list text file \n            in your S3 bucket. In your text file, enter each block word or phrase \n            on a separate line.</p>\n        <p>For information on the current quota limits for block lists, see \n            <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas \n                for Amazon Kendra</a>.</p>"
      }
    },
    "com.amazonaws.kendra#CreateQuerySuggestionsBlockListRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index you want to create a query suggestions block list for.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#QuerySuggestionsBlockListName",
          "traits": {
            "smithy.api#documentation": "<p>A user friendly name for the block list.</p>\n        <p>For example, the block list named 'offensive-words' includes all \n            offensive words that could appear in user queries and need to be \n            blocked from suggestions.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A user-friendly description for the block list.</p>\n        <p>For example, the description \"List of all offensive words that can \n            appear in user queries and need to be blocked from suggestions.\"</p>"
          }
        },
        "SourceS3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The S3 path to your block list text file in your S3 bucket.</p>\n        <p>Each block word or phrase should be on a separate line in a text file.</p> \n            <p>For information on the current quota limits for block lists, see \n                <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas \n                    for Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a \n            query suggestions block list.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM (Identity and Access Management) role used by Amazon Kendra to \n            access the block list text file in your S3 bucket.</p>\n        <p>You need permissions to the role ARN (Amazon Resource Name). \n            The role needs S3 read permissions to your file in S3 and needs \n            to give STS (Security Token Service) assume role permissions \n            to Amazon Kendra.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A tag that you can assign to a block list that categorizes \n            the block list.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateQuerySuggestionsBlockListResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#QuerySuggestionsBlockListId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the created block list.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateThesaurus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateThesaurusRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateThesaurusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a thesaurus for an index. The thesaurus\n      contains a list of synonyms in Solr format.</p>"
      }
    },
    "com.amazonaws.kendra#CreateThesaurusRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index for the new thesaurus.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#ThesaurusName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new thesaurus.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the new thesaurus.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions \n         to access thesaurus file specified in <code>SourceS3Path</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the thesaurus. You can use \n         the tags to identify and organize your resources and to control \n         access to resources.\n      </p>"
          }
        },
        "SourceS3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The thesaurus file Amazon S3 source path.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a \n         thesaurus. Multiple calls to the <code>CreateThesaurus</code> operation \n         with the same client token will create only one index.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateThesaurusResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#ThesaurusId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the thesaurus. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "S3Configuration": {
          "target": "com.amazonaws.kendra#S3DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information to create a data source connector for a\n            document repository in an Amazon S3 bucket.</p>"
          }
        },
        "SharePointConfiguration": {
          "target": "com.amazonaws.kendra#SharePointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a data source connector\n            for a Microsoft SharePoint site.</p>"
          }
        },
        "DatabaseConfiguration": {
          "target": "com.amazonaws.kendra#DatabaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a data source connector\n            for a database.</p>"
          }
        },
        "SalesforceConfiguration": {
          "target": "com.amazonaws.kendra#SalesforceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration information for data sources that connect\n            to a Salesforce site.</p>"
          }
        },
        "OneDriveConfiguration": {
          "target": "com.amazonaws.kendra#OneDriveConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to Microsoft\n            OneDrive.</p>"
          }
        },
        "ServiceNowConfiguration": {
          "target": "com.amazonaws.kendra#ServiceNowConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to ServiceNow\n            instances.</p>"
          }
        },
        "ConfluenceConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration information for connecting to a Confluence\n            data source.</p>"
          }
        },
        "GoogleDriveConfiguration": {
          "target": "com.amazonaws.kendra#GoogleDriveConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to Google\n            Drive. </p>"
          }
        },
        "WebCrawlerConfiguration": {
          "target": "com.amazonaws.kendra#WebCrawlerConfiguration"
        },
        "WorkDocsConfiguration": {
          "target": "com.amazonaws.kendra#WorkDocsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides the configuration information to connect to WorkDocs \n            as your data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceDateFieldFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 40
        },
        "smithy.api#pattern": "^(?!\\s).*(?<!\\s)$"
      }
    },
    "com.amazonaws.kendra#DataSourceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_.]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceGroup": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.kendra#PrincipalName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group you want to add to your list \n         of groups. This is for filtering search results based on the \n         groups' access to documents.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceId": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data source group you want to add \n         to your list of data source groups. This is for filtering \n         search results based on the groups' access to documents in \n         that data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Data source information for user context filtering.\n      </p>"
      }
    },
    "com.amazonaws.kendra#DataSourceGroups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceGroup"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kendra#DataSourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.kendra#DataSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data source.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was lasted updated. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the data source. When the status is\n                <code>ACTIVE</code> the data source is ready to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a Amazon Kendra data source. Returned in a call\n            to the <code>DescribeDataSource</code> operation.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSummary"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJob": {
      "type": "structure",
      "members": {
        "ExecutionId": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the synchronization job.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was started.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was\n            completed.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the synchronization job. When the\n                <code>Status</code> field is set to <code>SUCCEEDED</code>, the\n            synchronization job is done. If the status code is set to\n                <code>FAILED</code>, the <code>ErrorCode</code> and\n                <code>ErrorMessage</code> fields give you the reason for the\n            failure.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>ERROR</code>, the\n                <code>ErrorMessage</code> field contains a description of the\n            error that caused the synchronization to fail.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>FAILED</code>,\n            the <code>ErrorCode</code> field contains a the reason that the\n            synchronization failed.</p>"
          }
        },
        "DataSourceErrorCode": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
[...]
