{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kendra#AWSKendraFrontendService": {
      "type": "service",
      "version": "2019-02-03",
      "operations": [
        {
          "target": "com.amazonaws.kendra#BatchDeleteDocument"
        },
        {
          "target": "com.amazonaws.kendra#BatchPutDocument"
        },
        {
          "target": "com.amazonaws.kendra#CreateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#CreateFaq"
        },
        {
          "target": "com.amazonaws.kendra#CreateIndex"
        },
        {
          "target": "com.amazonaws.kendra#DeleteFaq"
        },
        {
          "target": "com.amazonaws.kendra#DeleteIndex"
        },
        {
          "target": "com.amazonaws.kendra#DescribeDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DescribeFaq"
        },
        {
          "target": "com.amazonaws.kendra#DescribeIndex"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSources"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSourceSyncJobs"
        },
        {
          "target": "com.amazonaws.kendra#ListFaqs"
        },
        {
          "target": "com.amazonaws.kendra#ListIndices"
        },
        {
          "target": "com.amazonaws.kendra#Query"
        },
        {
          "target": "com.amazonaws.kendra#StartDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#StopDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#SubmitFeedback"
        },
        {
          "target": "com.amazonaws.kendra#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateIndex"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "kendra",
          "arnNamespace": "kendra",
          "cloudFormationName": "Kendra",
          "cloudTrailEventSource": "kendra.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "kendra"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
        "smithy.api#title": "AWSKendraFrontendService"
      }
    },
    "com.amazonaws.kendra#AccessControlListConfiguration": {
      "type": "structure",
      "members": {
        "KeyPath": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Path to the AWS S3 bucket that contains the ACL files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access Control List files for the documents in a data source.</p>"
      }
    },
    "com.amazonaws.kendra#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kendra#AclConfiguration": {
      "type": "structure",
      "members": {
        "AllowedGroupsColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups, separated by semi-colons, that filters a query response based on\n            user context. The document is only returned to users that are in one of the groups\n            specified in the <code>UserContext</code> field of the <a>Query</a>\n            operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the column that should be used for filtering the query\n            response by groups.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AdditionalResultAttribute"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValue": {
      "type": "structure",
      "members": {
        "TextWithHighlightsValue": {
          "target": "com.amazonaws.kendra#TextWithHighlights",
          "traits": {
            "smithy.api#documentation": "<p>The text associated with the attribute and information about the highlight to apply to\n            the text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned with a document from a search.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TEXT_WITH_HIGHLIGHTS_VALUE",
            "name": "TEXT_WITH_HIGHLIGHTS_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#AttributeFilter": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>"
          }
        },
        "ContainsAll": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains all of the specified document attributes.</p>"
          }
        },
        "ContainsAny": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains any of the specified document attributes.</p>"
          }
        },
        "EqualsTo": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an equals operation on two document attributes.</p>"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes. Use with a document\n         attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "GreaterThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document attributes. Use with a\n         document attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than operation on two document attributes. Use with a document attribute\n         of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "LessThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes. Use with a document\n         attribute of type <code>Integer</code> or <code>Long</code>.</p>"
          }
        },
        "NotFilter": {
          "target": "com.amazonaws.kendra#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters.</p>"
          }
        },
        "OrAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>OR</code> operation on all supplied filters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides filtering the query results based on document attributes.</p>"
      }
    },
    "com.amazonaws.kendra#AttributeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AttributeFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more documents from an index. The documents must have been added with the\n        <a>BatchPutDocument</a> operation.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of the deletion by\n      using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to\n      you CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "DocumentIdList": {
          "target": "com.amazonaws.kendra#DocumentIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the documents to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that could not be removed from the index. Each entry contains an error\n      message that indicates why the document couldn't be removed from the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for why the document couldn't be removed from the index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for why the document couldn't be removed from the index.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document that couldn't be removed from the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about documents that could not be removed from an index by the\n                <a>BatchDeleteDocument</a> operation.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#BatchPutDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchPutDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a\n      set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and\n      unstructured text into an index, add custom attributes to the documents, and to attach an\n      access control list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS\n      CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch\n      log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentRequest": {
      "type": "structure",
      "members": {
        "Documents": {
          "target": "com.amazonaws.kendra#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>One or more documents to add to the index. </p>\n         <p>Each document is limited to 5 Mb, the total size of the list is limited to 50 Mb.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add the documents to. You need to create the index first\n      using the <a>CreateIndex</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the\n        <code>BatchPutDocument</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n        Amazon Kendra</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that were not added to the index because the document failed a\n      validation check. Each document contains an error message that indicates why the document\n      couldn't be added to the index.</p>\n         <p>If there was an error adding a document to an index the error is reported in your AWS\n      CloudWatch log.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the document to fail to be indexed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the reason why the document could not be indexed.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document that could not be indexed.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 153600
        }
      }
    },
    "com.amazonaws.kendra#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.kendra#ChangeDetectingColumns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#ClickFeedback": {
      "type": "structure",
      "members": {
        "ClickTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of the data and time that the result was clicked.</p>",
            "smithy.api#required": {}
          }
        },
        "ResultId": {
          "target": "com.amazonaws.kendra#ResultId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the search result that was clicked.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gathers information about when a particular result was clicked by a user. Your\n            application uses the <a>SubmitFeedback</a> operation to provide click\n            information.</p>"
      }
    },
    "com.amazonaws.kendra#ClickFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ClickFeedback"
      }
    },
    "com.amazonaws.kendra#ColumnConfiguration": {
      "type": "structure",
      "members": {
        "ChangeDetectingColumns": {
          "target": "com.amazonaws.kendra#ChangeDetectingColumns",
          "traits": {
            "smithy.api#documentation": "<p>One to five columns that indicate when a document in the database has changed.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentDataColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the contents of the document.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentIdColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that provides the document's unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentTitleColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the title of the document.</p>"
          }
        },
        "FieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that map database column names to the corresponding fields in an\n            index. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about how Amazon Kendra should use the columns of a database in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kendra#ConnectionConfiguration": {
      "type": "structure",
      "members": {
        "DatabaseHost": {
          "target": "com.amazonaws.kendra#DatabaseHost",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host for the database. Can be either a string\n            (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.kendra#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database containing the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabasePort": {
          "target": "com.amazonaws.kendra#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port that the database uses for connections.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in AWS Secrets Manager. The\n            credentials should be a user/password pair. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a\n                Database Data Source</a>. For more information about AWS Secrets Manager, see\n                <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What\n                Is AWS Secrets Manager </a> in the <i>AWS Secrets Manager</i> user\n            guide.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.kendra#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the document data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect to a database.</p>"
      }
    },
    "com.amazonaws.kendra#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PDF",
            "name": "PDF"
          },
          {
            "value": "HTML",
            "name": "HTML"
          },
          {
            "value": "MS_WORD",
            "name": "MS_WORD"
          },
          {
            "value": "PLAIN_TEXT",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "PPT",
            "name": "PPT"
          }
        ]
      }
    },
    "com.amazonaws.kendra#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source that you use to with an Amazon Kendra index. </p>\n         <p>You specify a name, connector type and description for your data source. You can choose\n      between an S3 connector, a SharePoint Online connector, and a database connector.</p>\n         <p>You also specify configuration information such as document metadata (author, source URI,\n      and so on) and user context information.</p>\n         <p>\n            <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the\n      data source was successfully created. Otherwise, an exception is raised.</p>"
      }
    },
    "com.amazonaws.kendra#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The connector configuration information that is required to access the repository.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data source.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that should be associated with this data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the data source. A data source name can't be changed without deleting\n      and recreating the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source. For\n      more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM\n        Roles for Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Sets the frequency that Amazon Kendra will check the documents in your repository and\n      update the index. If you don't set a schedule Amazon Kendra will not periodically update the\n      index. You can call the <code>StartDataSourceSyncJob</code> operation to update the\n      index.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of repository that contains the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>"
      }
    },
    "com.amazonaws.kendra#CreateFaqRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the FAQ.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that should be associated with the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to\n            access the S3 bucket that contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n                Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the FAQ input data.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaqResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To\n      determine if index creation has completed, check the <code>Status</code> field returned from a\n      call to . The <code>Status</code> field is set to\n        <code>ACTIVE</code> when the index is ready to use.</p>\n         <p>Once the index is active you can index your documents using the  operation or using one of the supported data sources.\n    </p>"
      }
    },
    "com.amazonaws.kendra#CreateIndexRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the index.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new index.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role that gives Amazon Kendra permissions to access your Amazon CloudWatch logs and\n      metrics. This is also the role used when you use the <code>BatchPutDocument</code> operation\n      to index documents from an Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS customer managed key (CMK) to use to encrypt data indexed by Amazon Kendra. \n    Amazon Kendra doesn't support asymmetric CMKs.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndexResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index. Use this identifier when you query an index, set up a\n      data source, or index a document.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "DatabaseConfiguration": {
          "target": "com.amazonaws.kendra#DatabaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a connector for a database.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.kendra#S3DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information to create a connector for a document repository in an Amazon S3\n            bucket.</p>"
          }
        },
        "SharePointConfiguration": {
          "target": "com.amazonaws.kendra#SharePointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a connector for a Microsoft SharePoint\n            site.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceDateFieldFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 40
        }
      }
    },
    "com.amazonaws.kendra#DataSourceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#DataSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceSummary": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was created.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the data source. When the status is <code>ATIVE</code> the data source\n            is ready to use.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was lasted updated. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a Amazon Kendra data source. Returned in a call to .</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSummary"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJob": {
      "type": "structure",
      "members": {
        "DataSourceErrorCode": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>If the reason that the synchronization failed is due to an error with the underlying\n            data source, this field contains a code that identifies the error.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was completed.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>FAILED</code>, the\n                <code>ErrorCode</code> field contains a the reason that the synchronization\n            failed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>ERROR</code>, the\n                <code>ErrorMessage</code> field contains a description of the error that caused the\n            synchronization to fail.</p>"
          }
        },
        "ExecutionId": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the synchronization job.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was started.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the synchronization job. When the <code>Status</code> field is\n            set to <code>SUCCEEDED</code>, the synchronization job is done. If the status code is\n            set to <code>FAILED</code>, the <code>ErrorCode</code> and <code>ErrorMessage</code>\n            fields give you the reason for the failure.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a synchronization job.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobHistoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSyncJob"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "SYNCING",
            "name": "SYNCING"
          },
          {
            "value": "INCOMPLETE",
            "name": "INCOMPLETE"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "ABORTED",
            "name": "ABORTED"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#DataSourceFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column or attribute in the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type of data stored in the column or attribute.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a column or attribute in the data source to an index field. You must first create\n            the fields in the index using the <a>UpdateIndex</a> operation.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "SHAREPOINT",
            "name": "SHAREPOINT"
          },
          {
            "value": "DATABASE",
            "name": "DATABASE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceVpcConfiguration": {
      "type": "structure",
      "members": {
        "SecurityGroupIds": {
          "target": "com.amazonaws.kendra#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of security groups within your Amazon VPC. The security groups\n            should enable Amazon Kendra to connect to the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "SubnetIds": {
          "target": "com.amazonaws.kendra#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for subnets within your Amazon VPC. The subnets should be able\n            to connect to each other in the VPC, and they should have outgoing access to the\n            Internet through a NAT device.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information for connecting to an Amazon VPC.</p>"
      }
    },
    "com.amazonaws.kendra#DatabaseConfiguration": {
      "type": "structure",
      "members": {
        "AclConfiguration": {
          "target": "com.amazonaws.kendra#AclConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the database column that provides information for user context\n            filtering.</p>"
          }
        },
        "ColumnConfiguration": {
          "target": "com.amazonaws.kendra#ColumnConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about where the index should get the document information from the\n            database.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionConfiguration": {
          "target": "com.amazonaws.kendra#ConnectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The information necessary to connect to a database.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseEngineType": {
          "target": "com.amazonaws.kendra#DatabaseEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of database engine that runs the database.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect a database to an index. </p>"
      }
    },
    "com.amazonaws.kendra#DatabaseEngineType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RDS_AURORA_MYSQL",
            "name": "RDS_AURORA_MYSQL"
          },
          {
            "value": "RDS_AURORA_POSTGRESQL",
            "name": "RDS_AURORA_POSTGRESQL"
          },
          {
            "value": "RDS_MYSQL",
            "name": "RDS_MYSQL"
          },
          {
            "value": "RDS_POSTGRESQL",
            "name": "RDS_POSTGRESQL"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DatabaseHost": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        }
      }
    },
    "com.amazonaws.kendra#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#DatabasePort": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.kendra#DeleteFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteFaqRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an FAQ from an index.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteFaqRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the FAQ to remove.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The index to remove the FAQ from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteIndexRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already\n      being deleted. While the index is being deleted, the <code>Status</code> field returned by a\n      call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteIndexRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceResponse": {
      "type": "structure",
      "members": {
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information that describes where the data source is located and how the data source is\n      configured. The specific information in the description depends on the data source\n      provider.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of when the data source was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the data source.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>When the <code>Status</code> field value is <code>FAILED</code>, the\n        <code>ErrorMessage</code> field contains a description of the error that caused the data\n      source to fail.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data source.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave the data source when it was created.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that enables the data source to access its\n      resources.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>The schedule that Amazon Kendra will update the data source.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the data source. When the status is <code>ACTIVE</code> the data\n      source is ready to use. When the status is <code>FAILED</code>, the <code>ErrorMessage</code>\n      field contains the reason that the data source failed.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of when the data source was last updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about an FAQ list.</p>"
      }
    },
    "com.amazonaws.kendra#DescribeFaqRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeFaqResponse": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the FAQ was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the FAQ that you provided when it was created.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is <code>FAILED</code>, the <code>ErrorMessage</code>\n            field contains the reason why the FAQ failed.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the FAQ.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave the FAQ when it was created.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the role that provides access to\n        the S3 bucket containing the input files for the FAQ.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path"
        },
        "Status": {
          "target": "com.amazonaws.kendra#FaqStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the FAQ. It is ready to use when the status is\n            <code>ACTIVE</code>.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the FAQ was last updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an existing Amazon Kendra index</p>"
      }
    },
    "com.amazonaws.kendra#DescribeIndexRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeIndexResponse": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix datetime that the index was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the index.</p>"
          }
        },
        "DocumentMetadataConfigurations": {
          "target": "com.amazonaws.kendra#DocumentMetadataConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>Configuration settings for any metadata applied to the documents in the index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>When th e<code>Status</code> field value is <code>FAILED</code>, the \n    <code>ErrorMessage</code> field contains a message that explains why.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>the name of the index.</p>"
          }
        },
        "IndexStatistics": {
          "target": "com.amazonaws.kendra#IndexStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about the number of FAQ questions and answers and the number of text\n      documents indexed.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that gives Amazon Kendra permission\n      to write to your Amazon Cloudwatch logs.</p>"
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS customer master key (CMK) used to encrypt your data. \n      Amazon Kendra doesn't support asymmetric CMKs.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#IndexStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the index. When the value is <code>ACTIVE</code>, the index\n    is ready for use. If the <code>Status</code> field value is <code>FAILED</code>, the\n    <code>ErrorMessage</code> field contains a message that explains why.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix datetime that the index was last updated.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#Document": {
      "type": "structure",
      "members": {
        "AccessControlList": {
          "target": "com.amazonaws.kendra#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>Information to use for user context filtering.</p>"
          }
        },
        "Attributes": {
          "target": "com.amazonaws.kendra#DocumentAttributeList",
          "traits": {
            "smithy.api#documentation": "<p>Custom attributes to apply to the document. Use the custom attributes to provide\n            additional information for searching, to provide facets for refining searches, and to\n            provide additional information in the query response.</p>"
          }
        },
        "Blob": {
          "target": "com.amazonaws.kendra#Blob",
          "traits": {
            "smithy.api#documentation": "<p>The contents of the document as a base-64 encoded string.</p>"
          }
        },
        "ContentType": {
          "target": "com.amazonaws.kendra#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The file type of the document in the <code>Blob</code> field.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier of the document in the index.</p>",
            "smithy.api#required": {}
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path"
        },
        "Title": {
          "target": "com.amazonaws.kendra#Title",
          "traits": {
            "smithy.api#documentation": "<p>The title of the document.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A document in an index.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#DocumentAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A custom attribute value assigned to a document. </p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttributeKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DocumentAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DocumentAttributeStringListValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#DocumentAttributeStringValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValue": {
      "type": "structure",
      "members": {
        "DateValue": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A date value expressed as seconds from the Unix epoch.</p>"
          }
        },
        "LongValue": {
          "target": "com.amazonaws.kendra#Long",
          "traits": {
            "smithy.api#documentation": "<p>A long integer value.</p>"
          }
        },
        "StringListValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeStringListValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings. </p>"
          }
        },
        "StringValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeStringValue",
          "traits": {
            "smithy.api#documentation": "<p>A string, such as \"department\".</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value of a custom document attribute. You can only provide one value for a custom\n            attribute.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueCountPair": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents in the response that have the attribute value for the\n            key.</p>"
          }
        },
        "DocumentAttributeValue": {
          "target": "com.amazonaws.kendra#DocumentAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the attribute. For example, \"HR.\"</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the count of documents that match a particular attribute when doing a faceted\n            search.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueCountPairList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentAttributeValueCountPair"
      }
    },
    "com.amazonaws.kendra#DocumentAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STRING_VALUE",
            "name": "STRING_VALUE"
          },
          {
            "value": "STRING_LIST_VALUE",
            "name": "STRING_LIST_VALUE"
          },
          {
            "value": "LONG_VALUE",
            "name": "LONG_VALUE"
          },
          {
            "value": "DATE_VALUE",
            "name": "DATE_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DocumentId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kendra#DocumentIdList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentId"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Document"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#DocumentMetadataBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfiguration": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#DocumentMetadataConfigurationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field.</p>",
            "smithy.api#required": {}
          }
        },
        "Relevance": {
          "target": "com.amazonaws.kendra#Relevance",
          "traits": {
            "smithy.api#documentation": "<p>Provides manual tuning parameters to determine how the field affects the search\n            results.</p>"
          }
        },
        "Search": {
          "target": "com.amazonaws.kendra#Search",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about how the field is used during a search.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DocumentAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the index field. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the properties of a custom index field.</p>"
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DocumentMetadataConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.kendra#DocumentMetadataConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        }
      }
    },
    "com.amazonaws.kendra#DocumentsMetadataConfiguration": {
      "type": "structure",
      "members": {
        "S3Prefix": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>A prefix used to filter metadata configuration files in the AWS S3 bucket. The S3\n            bucket might contain multiple metadata files. Use <code>S3Prefix</code> to include only\n            the desired metadata files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Document metadata files that contain information such as the document access control\n            information, source URI, document author, and custom attributes. Each metadata file\n            contains metadata about a single document.</p>"
      }
    },
    "com.amazonaws.kendra#Duration": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "[0-9]+[s]"
      }
    },
    "com.amazonaws.kendra#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "InternalError",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "InvalidRequest",
            "name": "INVALID_REQUEST"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#Facet": {
      "type": "structure",
      "members": {
        "DocumentAttributeKey": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The unique key for the document attribute.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information a document attribute</p>"
      }
    },
    "com.amazonaws.kendra#FacetList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Facet"
      }
    },
    "com.amazonaws.kendra#FacetResult": {
      "type": "structure",
      "members": {
        "DocumentAttributeKey": {
          "target": "com.amazonaws.kendra#DocumentAttributeKey",
          "traits": {
            "smithy.api#documentation": "<p>The key for the facet values. This is the same as the <code>DocumentAttributeKey</code>\n      provided in the query.</p>"
          }
        },
        "DocumentAttributeValueCountPairs": {
          "target": "com.amazonaws.kendra#DocumentAttributeValueCountPairList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key/value pairs, where the key is the value of the attribute\n      and the count is the number of documents that share the key value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The facet values for the documents in the response.</p>"
      }
    },
    "com.amazonaws.kendra#FacetResultList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#FacetResult"
      }
    },
    "com.amazonaws.kendra#FaqId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#FaqName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#FaqStatistics": {
      "type": "structure",
      "members": {
        "IndexedQuestionAnswersCount": {
          "target": "com.amazonaws.kendra#IndexedQuestionAnswersCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of FAQ questions and answers contained in the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides statistical information about the FAQ questions and answers contained in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#FaqStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.kendra#FaqSummary": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the FAQ was added to the index.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you assigned the FAQ when you created or updated the FAQ.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#FaqStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the FAQ. When the status is <code>ACTIVE</code> the FAQ is ready\n            for use.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the FAQ was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a frequently asked questions and answer contained in an\n            index.</p>"
      }
    },
    "com.amazonaws.kendra#FaqSummaryItems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#FaqSummary"
      }
    },
    "com.amazonaws.kendra#Highlight": {
      "type": "structure",
      "members": {
        "BeginOffset": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based location in the response string where the highlight starts.</p>",
            "smithy.api#required": {}
          }
        },
        "EndOffset": {
          "target": "com.amazonaws.kendra#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The zero-based location in the response string where the highlight ends.</p>",
            "smithy.api#required": {}
          }
        },
        "TopAnswer": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the response is the best response. True if this is the best\n            response; otherwise, false.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information that you can use to highlight a search result so that your users\n            can quickly identify terms in the response.</p>"
      }
    },
    "com.amazonaws.kendra#HighlightList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#Highlight"
      }
    },
    "com.amazonaws.kendra#Importance": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#IndexConfigurationSummary": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp when the index was created.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the index. Use this to identify the index when you are using\n            operations such as <code>Query</code>, <code>DescribeIndex</code>,\n                <code>UpdateIndex</code>, and <code>DeleteIndex</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#IndexStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the index. When the status is <code>ACTIVE</code>, the index is\n            ready to search.</p>",
            "smithy.api#required": {}
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp when the index was last updated by the <code>UpdateIndex</code>\n            operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of information about an index.</p>"
      }
    },
    "com.amazonaws.kendra#IndexConfigurationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#IndexConfigurationSummary"
      }
    },
    "com.amazonaws.kendra#IndexFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 30
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#IndexId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 36,
          "max": 36
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9-]*"
      }
    },
    "com.amazonaws.kendra#IndexName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#IndexStatistics": {
      "type": "structure",
      "members": {
        "FaqStatistics": {
          "target": "com.amazonaws.kendra#FaqStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The number of question and answer topics in the index.</p>",
            "smithy.api#required": {}
          }
        },
        "TextDocumentStatistics": {
          "target": "com.amazonaws.kendra#TextDocumentStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The number of text documents indexed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of documents and the number of questions and\n            answers in an index.</p>"
      }
    },
    "com.amazonaws.kendra#IndexStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SYSTEM_UPDATING",
            "name": "SYSTEM_UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.kendra#IndexedQuestionAnswersCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.kendra#IndexedTextDocumentsCount": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.kendra#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kendra#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.kendra#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.kendra#ListDataSourceSyncJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ListDataSourceSyncJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#ListDataSourceSyncJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets statistics about synchronizing Amazon Kendra with a data source.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.kendra#ListDataSourceSyncJobsRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kendra#MaxResultsIntegerForListDataSourceSyncJobsRequest",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of synchronization jobs to return in the response. If there are fewer\n      results in the list, this response contains only the actual results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the result of the previous request to <code>GetDataSourceSyncJobHistory</code> was\n      truncated, include the <code>NextToken</code> to fetch the next set of jobs.</p>"
          }
        },
        "StartTimeFilter": {
          "target": "com.amazonaws.kendra#TimeRange",
          "traits": {
            "smithy.api#documentation": "<p>When specified, the synchronization jobs returned in the list are limited to jobs between\n      the specified dates. </p>"
          }
        },
        "StatusFilter": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>When specified, only returns synchronization jobs with the <code>Status</code> field equal\n      to the specified status.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListDataSourceSyncJobsResponse": {
      "type": "structure",
      "members": {
        "History": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobHistoryList",
          "traits": {
            "smithy.api#documentation": "<p>A history of synchronization jobs for the data source.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>GetDataSourceSyncJobHistory</code> operation returns a page of vocabularies at a\n      time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there\n      are more jobs in the list than the page size, Amazon Kendra returns the NextPage token. Include\n      the token in the next request to the <code>GetDataSourceSyncJobHistory</code> operation to\n      return in the next page of jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListDataSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ListDataSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#ListDataSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the data sources that you have created.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.kendra#ListDataSourcesRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kendra#MaxResultsIntegerForListDataSourcesRequest",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of data sources to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more data to retrieve),\n      Amazon Kendra returns a pagination token in the response. You can use this pagination token to\n      retrieve the next set of data sources (<code>DataSourceSummaryItems</code>). </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListDataSourcesResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Kendra returns this token that you can use in the\n      subsequent request to retrieve the next set of data sources. </p>"
          }
        },
        "SummaryItems": {
          "target": "com.amazonaws.kendra#DataSourceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of summary information for one or more data sources.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListFaqs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ListFaqsRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#ListFaqsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets a list of FAQ lists associated with an index.</p>"
      }
    },
    "com.amazonaws.kendra#ListFaqsRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The index that contains the FAQ lists.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kendra#MaxResultsIntegerForListFaqsRequest",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of FAQs to return in the response. If there are fewer results in\n            the list, this response contains only the actual results.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the result of the previous request to <code>ListFaqs</code> was truncated, include\n            the <code>NextToken</code> to fetch the next set of FAQs.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListFaqsResponse": {
      "type": "structure",
      "members": {
        "FaqSummaryItems": {
          "target": "com.amazonaws.kendra#FaqSummaryItems",
          "traits": {
            "smithy.api#documentation": "<p>information about the FAQs associated with the specified index.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The <code>ListFaqs</code> operation returns a page of FAQs at a time. The maximum size\n            of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in\n            the list than the page size, Amazon Kendra returns the <code>NextPage</code> token.\n            Include the token in the next request to the <code>ListFaqs</code> operation to return\n            the next page of FAQs.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListIndices": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ListIndicesRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#ListIndicesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Amazon Kendra indexes that you have created.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.kendra#ListIndicesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.kendra#MaxResultsIntegerForListIndicesRequest",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of data sources to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more data to retrieve),\n      Amazon Kendra returns a pagination token in the response. You can use this pagination token to\n      retrieve the next set of indexes (<code>DataSourceSummaryItems</code>). </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#ListIndicesResponse": {
      "type": "structure",
      "members": {
        "IndexConfigurationSummaryItems": {
          "target": "com.amazonaws.kendra#IndexConfigurationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of summary information for one or more indexes.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kendra#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Kendra returns this token that you can use in the\n      subsequent request to retrieve the next set of indexes.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#Long": {
      "type": "long",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kendra#MaxResultsIntegerForListDataSourceSyncJobsRequest": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#MaxResultsIntegerForListDataSourcesRequest": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#MaxResultsIntegerForListFaqsRequest": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
[...]
