{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kendra#AWSKendraFrontendService": {
      "type": "service",
      "version": "2019-02-03",
      "operations": [
        {
          "target": "com.amazonaws.kendra#BatchDeleteDocument"
        },
        {
          "target": "com.amazonaws.kendra#BatchPutDocument"
        },
        {
          "target": "com.amazonaws.kendra#CreateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#CreateFaq"
        },
        {
          "target": "com.amazonaws.kendra#CreateIndex"
        },
        {
          "target": "com.amazonaws.kendra#CreateThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DeleteFaq"
        },
        {
          "target": "com.amazonaws.kendra#DeleteIndex"
        },
        {
          "target": "com.amazonaws.kendra#DeleteThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DescribeDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DescribeFaq"
        },
        {
          "target": "com.amazonaws.kendra#DescribeIndex"
        },
        {
          "target": "com.amazonaws.kendra#DescribeThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSources"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSourceSyncJobs"
        },
        {
          "target": "com.amazonaws.kendra#ListFaqs"
        },
        {
          "target": "com.amazonaws.kendra#ListIndices"
        },
        {
          "target": "com.amazonaws.kendra#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kendra#ListThesauri"
        },
        {
          "target": "com.amazonaws.kendra#Query"
        },
        {
          "target": "com.amazonaws.kendra#StartDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#StopDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#SubmitFeedback"
        },
        {
          "target": "com.amazonaws.kendra#TagResource"
        },
        {
          "target": "com.amazonaws.kendra#UntagResource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateIndex"
        },
        {
          "target": "com.amazonaws.kendra#UpdateThesaurus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "kendra",
          "arnNamespace": "kendra",
          "cloudFormationName": "Kendra",
          "cloudTrailEventSource": "kendra.amazonaws.com",
          "endpointPrefix": "kendra"
        },
        "aws.auth#sigv4": {
          "name": "kendra"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
        "smithy.api#title": "AWSKendraFrontendService"
      }
    },
    "com.amazonaws.kendra#AccessControlListConfiguration": {
      "type": "structure",
      "members": {
        "KeyPath": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Path to the AWS S3 bucket that contains the ACL files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access Control List files for the documents in a data source. For\n            the format of the file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control for S3 data\n                sources</a>.</p>"
      }
    },
    "com.amazonaws.kendra#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kendra#AclConfiguration": {
      "type": "structure",
      "members": {
        "AllowedGroupsColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups, separated by semi-colons, that filters a query\n            response based on user context. The document is only returned to\n            users that are in one of the groups specified in the\n                <code>UserContext</code> field of the <a>Query</a>\n            operation.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the column that should be used for\n            filtering the query response by groups.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>The key that identifies the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Value</code> property.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the attribute value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned from an index query.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AdditionalResultAttribute"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValue": {
      "type": "structure",
      "members": {
        "TextWithHighlightsValue": {
          "target": "com.amazonaws.kendra#TextWithHighlights",
          "traits": {
            "smithy.api#documentation": "<p>The text associated with the attribute and information about the\n            highlight to apply to the text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned with a document from a search.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValueType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TEXT_WITH_HIGHLIGHTS_VALUE",
            "name": "TEXT_WITH_HIGHLIGHTS_VALUE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.kendra#AttributeFilter": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied\n         filters.</p>"
          }
        },
        "OrAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>OR</code> operation on all supplied\n         filters.</p>"
          }
        },
        "NotFilter": {
          "target": "com.amazonaws.kendra#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied\n         filters.</p>"
          }
        },
        "EqualsTo": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an equals operation on two document attributes.</p>"
          }
        },
        "ContainsAll": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains all of the specified document\n         attributes. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "ContainsAny": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains any of the specified document\n         attributes. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes. Use\n         with a document attribute of type <code>Integer</code> or\n            <code>Long</code>.</p>"
          }
        },
        "GreaterThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document\n         attributes. Use with a document attribute of type <code>Integer</code>\n         or <code>Long</code>.</p>"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than operation on two document attributes. Use with\n         a document attribute of type <code>Integer</code> or\n         <code>Long</code>.</p>"
          }
        },
        "LessThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes.\n         Use with a document attribute of type <code>Integer</code> or\n            <code>Long</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides filtering the query results based on document\n         attributes.</p>\n         <p>When you use the <code>AndAllFilters</code> or\n            <code>OrAllFilters</code>, filters you can use 2 layers under the\n         first attribute filter. For example, you can use:</p>\n         <p>\n            <code><AndAllFilters></code>\n         </p>\n         <ol>\n            <li>\n               <p>\n                  <code> <OrAllFilters></code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code> <EqualTo></code>\n               </p>\n            </li>\n         </ol>\n         <p>If you use more than 2 layers, you receive a\n            <code>ValidationException</code> exception with the message\n            \"<code>AttributeFilter</code> cannot have a depth of more than\n         2.\"</p>"
      }
    },
    "com.amazonaws.kendra#AttributeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AttributeFilter"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more documents from an index. The documents must have been added with the\n        <a>BatchPutDocument</a> operation.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of the deletion by\n      using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to\n      you CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the documents to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentIdList": {
          "target": "com.amazonaws.kendra#DocumentIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobMetricTarget": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetricTarget"
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that could not be removed from the index. Each entry contains an error\n      message that indicates why the document couldn't be removed from the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document that couldn't be removed from the\n            index.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for why the document couldn't be removed from the\n            index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for why the document couldn't be removed from the\n            index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about documents that could not be removed\n            from an index by the <a>BatchDeleteDocument</a>\n            operation.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#BatchPutDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchPutDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a\n      set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and\n      unstructured text into an index, add custom attributes to the documents, and to attach an\n      access control list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS\n      CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch\n      log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add the documents to. You need to create the index first\n      using the <a>CreateIndex</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the\n        <code>BatchPutDocument</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for\n        Amazon Kendra</a>.</p>"
          }
        },
        "Documents": {
          "target": "com.amazonaws.kendra#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>One or more documents to add to the index. </p>\n         <p>Documents have the following file size limits.</p>\n         <ul>\n            <li>\n               <p>5 MB total size for inline documents</p>\n            </li>\n            <li>\n               <p>50 MB total size for files from an S3 bucket</p>\n            </li>\n            <li>\n               <p>5 MB extracted text for any file</p>\n            </li>\n         </ul>\n         <p>For more information about file size and transaction per second quotas,\n      see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that were not added to the index because the document failed a\n      validation check. Each document contains an error message that indicates why the document\n      couldn't be added to the index.</p>\n         <p>If there was an error adding a document to an index the error is reported in your AWS\n      CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring Amazon Kendra with\n        Amazon CloudWatch Logs</a>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the document.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the document to fail to be\n            indexed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the reason why the document could not be\n            indexed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document that could not be\n            indexed.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#Blob": {
      "type": "blob"
    },
    "com.amazonaws.kendra#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.kendra#CapacityUnitsConfiguration": {
      "type": "structure",
      "members": {
        "StorageCapacityUnits": {
          "target": "com.amazonaws.kendra#StorageCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra storage capacity for an index. Each capacity\n            unit provides 150 Gb of storage space or 500,000 documents,\n            whichever is reached first.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryCapacityUnits": {
          "target": "com.amazonaws.kendra#QueryCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra query capacity for an index. Each capacity\n            unit provides 0.5 queries per second and 40,000 queries per\n            day.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies capacity units configured for your index. You can add\n            and remove capacity units to tune an index to your\n            requirements.</p>"
      }
    },
    "com.amazonaws.kendra#ChangeDetectingColumns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#ClaimRegex": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#ClickFeedback": {
      "type": "structure",
      "members": {
        "ResultId": {
          "target": "com.amazonaws.kendra#ResultId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the search result that was\n            clicked.</p>",
            "smithy.api#required": {}
          }
        },
        "ClickTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of the date and time that the result was\n            clicked.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gathers information about when a particular result was clicked by\n            a user. Your application uses the <a>SubmitFeedback</a>\n            operation to provide click information.</p>"
      }
    },
    "com.amazonaws.kendra#ClickFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ClickFeedback"
      }
    },
    "com.amazonaws.kendra#ClientTokenName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#ColumnConfiguration": {
      "type": "structure",
      "members": {
        "DocumentIdColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that provides the document's unique identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentDataColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the contents of the document.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentTitleColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the title of the document.</p>"
          }
        },
        "FieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that map database column names to the\n            corresponding fields in an index. You must first create the fields\n            in the index using the <a>UpdateIndex</a>\n            operation.</p>"
          }
        },
        "ChangeDetectingColumns": {
          "target": "com.amazonaws.kendra#ChangeDetectingColumns",
          "traits": {
            "smithy.api#documentation": "<p>One to five columns that indicate when a document in the database\n            has changed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about how Amazon Kendra should use the columns of\n            a database in an index.</p>"
      }
    },
    "com.amazonaws.kendra#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentConfiguration": {
      "type": "structure",
      "members": {
        "CrawlAttachments": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether Amazon Kendra indexes attachments to the pages and blogs\n            in the Confluence data source. </p>"
          }
        },
        "AttachmentFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how attachment metadata fields should be mapped to index\n            fields. Before you can map a field, you must first create an index\n            field with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>AttachentFieldMappings</code> parameter,\n            you must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the attachment settings for the Confluence data source.\n            Attachment settings are optional, if you don't specify settings\n            attachments, Amazon Kendra won't index them.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceAttachmentToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 11
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "CONTENT_TYPE",
            "name": "CONTENT_TYPE"
          },
          {
            "value": "CREATED_DATE",
            "name": "CREATED_DATE"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "FILE_SIZE",
            "name": "FILE_SIZE"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "PARENT_ID",
            "name": "PARENT_ID"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceAttachmentToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>\n        <p>You must first create the index field using the  operation. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the  operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogConfiguration": {
      "type": "structure",
      "members": {
        "BlogFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceBlogFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how blog metadata fields should be mapped to index fields.\n            Before you can map a field, you must first create an index field\n            with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>BlogFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the blog settings for the Confluence data source. Blogs\n            are always indexed unless filtered from the index by the\n                <code>ExclusionPatterns</code> or <code>InclusionPatterns</code>\n            fields in the  data\n            type.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceBlogToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "LABELS",
            "name": "LABELS"
          },
          {
            "value": "PUBLISH_DATE",
            "name": "PUBLISH_DATE"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceBlogToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceBlogFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a blog field in the Confluence data\n            source to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the  operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceConfiguration": {
      "type": "structure",
      "members": {
        "ServerUrl": {
          "target": "com.amazonaws.kendra#Url",
          "traits": {
            "smithy.api#documentation": "<p>The URL of your Confluence instance. Use the full URL of the\n            server. For example, <code>https://server.example.com:port/</code>.\n            You can also use an IP address, for example,\n                <code>https://192.168.1.113/</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an AWS Secrets Manager secret\n            that contains the key/value pairs required to connect to your\n            Confluence server. The secret must contain a JSON structure with the\n            following keys:</p>\n        <ul>\n            <li>\n                <p>username - The user name or email address of a user with\n                    administrative privileges for the Confluence server.</p>\n            </li>\n            <li>\n                <p>password - The password associated with the user logging\n                    in to the Confluence server.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Version": {
          "target": "com.amazonaws.kendra#ConfluenceVersion",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the version of the Confluence installation that you are\n            connecting to.</p>",
            "smithy.api#required": {}
          }
        },
        "SpaceConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing Confluence\n            spaces.</p>"
          }
        },
        "PageConfiguration": {
          "target": "com.amazonaws.kendra#ConfluencePageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing Confluence\n            pages.</p>"
          }
        },
        "BlogConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceBlogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Specifies configuration information for indexing Confluence\n            blogs.</p>"
          }
        },
        "AttachmentConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceAttachmentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for indexing attachments to\n            Confluence blogs and pages.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the information for connecting to an Amazon VPC.</p>"
          }
        },
        "InclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns that apply to a URL on the\n            Confluence server. An inclusion pattern can apply to a blog post, a\n            page, a space, or an attachment. Items that match the patterns are\n            included in the index. Items that don't match the pattern are\n            excluded from the index. If an item matches both an inclusion\n            pattern and an exclusion pattern, the item isn't included in the\n            index.</p>"
          }
        },
        "ExclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns that apply to a URL on the\n            Confluence server. An exclusion pattern can apply to a blog post, a\n            page, a space, or an attachment. Items that match the pattern are\n            excluded from the index. Items that don't match the pattern are\n            included in the index. If a item matches both an exclusion pattern\n            and an inclusion pattern, the item isn't included in the\n            index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information for data sources that connect\n            to Confluence.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluencePageConfiguration": {
      "type": "structure",
      "members": {
        "PageFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluencePageFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how page metadata fields should be mapped to index fields.\n            Before you can map a field, you must first create an index field\n            with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>PageFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the page settings for the Confluence data source.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluencePageFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluencePageToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 12
        }
      }
    },
    "com.amazonaws.kendra#ConfluencePageFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AUTHOR",
            "name": "AUTHOR"
          },
          {
            "value": "CONTENT_STATUS",
            "name": "CONTENT_STATUS"
          },
          {
            "value": "CREATED_DATE",
            "name": "CREATED_DATE"
          },
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "LABELS",
            "name": "LABELS"
          },
          {
            "value": "MODIFIED_DATE",
            "name": "MODIFIED_DATE"
          },
          {
            "value": "PARENT_ID",
            "name": "PARENT_ID"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "SPACE_NAME",
            "name": "SPACE_NAME"
          },
          {
            "value": "URL",
            "name": "URL"
          },
          {
            "value": "VERSION",
            "name": "VERSION"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluencePageToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluencePageFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the  operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceConfiguration": {
      "type": "structure",
      "members": {
        "CrawlPersonalSpaces": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Kendra should index personal spaces. Users can\n            add restrictions to items in personal spaces. If personal spaces are\n            indexed, queries without user context information may return\n            restricted items from a personal space in their results. For more\n            information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/user-context-filter.html\">Filtering on\n                user context</a>.</p>"
          }
        },
        "CrawlArchivedSpaces": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Kendra should index archived spaces.</p>"
          }
        },
        "IncludeSpaces": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of space keys for Confluence spaces. If you include a key,\n            the blogs, documents, and attachments in the space are indexed.\n            Spaces that aren't in the list aren't indexed. A space in the list\n            must exist. Otherwise, Amazon Kendra logs an error when the data source is\n            synchronized. If a space is in both the <code>IncludeSpaces</code>\n            and the <code>ExcludeSpaces</code> list, the space is\n            excluded.</p>"
          }
        },
        "ExcludeSpaces": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceList",
          "traits": {
            "smithy.api#documentation": "<p>A list of space keys of Confluence spaces. If you include a key,\n            the blogs, documents, and attachments in the space are not indexed.\n            If a space is in both the <code>ExcludeSpaces</code> and the\n                <code>IncludeSpaces</code> list, the space is excluded.</p>"
          }
        },
        "SpaceFieldMappings": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceFieldMappingsList",
          "traits": {
            "smithy.api#documentation": "<p>Defines how space metadata fields should be mapped to index\n            fields. Before you can map a field, you must first create an index\n            field with a matching type using the console or the\n                <code>UpdateIndex</code> operation.</p>\n        <p>If you specify the <code>SpaceFieldMappings</code> parameter, you\n            must specify at least one field mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the configuration for indexing Confluence spaces.</p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceFieldMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceSpaceToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DISPLAY_URL",
            "name": "DISPLAY_URL"
          },
          {
            "value": "ITEM_TYPE",
            "name": "ITEM_TYPE"
          },
          {
            "value": "SPACE_KEY",
            "name": "SPACE_KEY"
          },
          {
            "value": "URL",
            "name": "URL"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ConfluenceSpaceIdentifier"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.kendra#ConfluenceSpaceToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#ConfluenceSpaceFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the data source. </p>"
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format for date fields in the data source. If the field\n            specified in <code>DataSourceFieldName</code> is a date field you\n            must specify the date format. If the field is not a date field, an\n            exception is thrown.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the index field to map to the Confluence data source\n            field. The index field type must match the Confluence field\n            type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines the mapping between a field in the Confluence data source\n            to a Amazon Kendra index field.</p>\n        <p>You must first create the index field using the  operation. </p>"
      }
    },
    "com.amazonaws.kendra#ConfluenceVersion": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUD",
            "name": "CLOUD"
          },
          {
            "value": "SERVER",
            "name": "SERVER"
          }
        ]
      }
    },
    "com.amazonaws.kendra#ConnectionConfiguration": {
      "type": "structure",
      "members": {
        "DatabaseHost": {
          "target": "com.amazonaws.kendra#DatabaseHost",
          "traits": {
            "smithy.api#documentation": "<p>The name of the host for the database. Can be either a string\n            (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabasePort": {
          "target": "com.amazonaws.kendra#DatabasePort",
          "traits": {
            "smithy.api#documentation": "<p>The port that the database uses for connections.</p>",
            "smithy.api#required": {}
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.kendra#DatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the database containing the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "TableName": {
          "target": "com.amazonaws.kendra#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table that contains the document data.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in AWS\n            Secrets Manager. The credentials should be a user/password pair. For\n            more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a\n                Database Data Source</a>. For more information about AWS\n            Secrets Manager, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What Is AWS\n                Secrets Manager </a> in the <i>AWS Secrets\n                Manager</i> user guide.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect to a\n            database.</p>"
      }
    },
    "com.amazonaws.kendra#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PDF",
            "name": "PDF"
          },
          {
            "value": "HTML",
            "name": "HTML"
          },
          {
            "value": "MS_WORD",
            "name": "MS_WORD"
          },
          {
            "value": "PLAIN_TEXT",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "PPT",
            "name": "PPT"
          }
        ]
      }
    },
    "com.amazonaws.kendra#CreateDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a data source that you use to with an Amazon Kendra index. </p>\n         <p>You specify a name, data source connector type and description for your data source. You\n      also specify configuration information such as document metadata (author, source URI, and so\n      on) and user context information.</p>\n         <p>\n            <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the\n      data source was successfully created. Otherwise, an exception is raised.</p>"
      }
    },
    "com.amazonaws.kendra#CreateDataSourceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>A unique name for the data source. A data source name can't be changed without deleting\n      and recreating the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that should be associated with this data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of repository that contains the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The connector configuration information that is required to access the repository.</p>\n         <p>You can't specify the <code>Configuration</code> parameter when the <code>Type</code>\n    parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code>\n    exception.</p>\n         <p>The <code>Configuration</code> parameter is required for all other data sources.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the data source.</p>"
          }
        },
        "Schedule": {
          "target": "com.amazonaws.kendra#ScanSchedule",
          "traits": {
            "smithy.api#documentation": "<p>Sets the frequency that Amazon Kendra will check the documents in your repository and\n      update the index. If you don't set a schedule Amazon Kendra will not periodically update the\n      index. You can call the <code>StartDataSourceSyncJob</code> operation to update the\n      index.</p>\n         <p>You can't specify the <code>Schedule</code> parameter when the <code>Type</code>\n      parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code>\n      exception.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source. For\n      more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM\n        Roles for Amazon Kendra</a>.</p>\n         <p>You can't specify the <code>RoleArn</code> parameter when the <code>Type</code>\n      parameter is set to <code>CUSTOM</code>. If you do, you receive a <code>ValidationException</code>\n      exception.</p>\n         <p>The <code>RoleArn</code> parameter is required for all other data sources.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the data source. You can use the tags to identify\n      and organize your resources and to control access to resources.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a data source. Multiple calls\n      to the <code>CreateDataSource</code> operation with the same client token will create only one\n      data source.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateDataSourceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateFaqRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateFaqResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>"
      }
    },
    "com.amazonaws.kendra#CreateFaqRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#FaqName",
          "traits": {
            "smithy.api#documentation": "<p>The name that should be associated with the FAQ.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the FAQ.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The S3 location of the FAQ input data.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the S3 bucket that\n            contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the FAQ. You can use the tags to identify and\n            organize your resources and to control access to resources.</p>"
          }
        },
        "FileFormat": {
          "target": "com.amazonaws.kendra#FaqFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The format of the input file. You can choose between a basic CSV format, a CSV format\n            that includes customs attributes in a header, and a JSON format that includes custom\n            attributes.</p>\n        <p>The format must match the format of the file stored in the S3 bucket identified in the\n                <code>S3Path</code> parameter.</p>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-creating-faq.html\">Adding questions and\n            answers</a>.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a FAQ. Multiple calls to\n            the <code>CreateFaqRequest</code> operation with the same client token will create only\n            one FAQ. </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateFaqResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the FAQ.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To\n      determine if index creation has completed, check the <code>Status</code> field returned from a\n      call to . The <code>Status</code> field is set to\n        <code>ACTIVE</code> when the index is ready to use.</p>\n         <p>Once the index is active you can index your documents using the  operation or using one of the supported data sources.\n    </p>"
      }
    },
    "com.amazonaws.kendra#CreateIndexRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#IndexName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new index.</p>",
            "smithy.api#required": {}
          }
        },
        "Edition": {
          "target": "com.amazonaws.kendra#IndexEdition",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Kendra edition to use for the index. Choose <code>DEVELOPER_EDITION</code> for\n      indexes intended for development, testing, or proof of concept. Use\n        <code>ENTERPRISE_EDITION</code> for your production databases. Once you set the edition for\n      an index, it can't be changed. </p>\n         <p>The <code>Edition</code> parameter is optional. If you don't supply a value, the default\n      is <code>ENTERPRISE_EDITION</code>.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions to\n      access your Amazon CloudWatch logs and metrics. This is also the role used when you use the\n        <code>BatchPutDocument</code> operation to index documents from an Amazon S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "ServerSideEncryptionConfiguration": {
          "target": "com.amazonaws.kendra#ServerSideEncryptionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the AWS KMS customer managed key (CMK) to use to encrypt data indexed by\n      Amazon Kendra. Amazon Kendra doesn't support asymmetric CMKs.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description for the index.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create an index. Multiple calls to the\n        <code>CreateIndex</code> operation with the same client token will create only one\n      index.</p>",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the index. You can use the tags to identify and\n      organize your resources and to control access to resources.</p>"
          }
        },
        "UserTokenConfigurations": {
          "target": "com.amazonaws.kendra#UserTokenConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The user token configuration.</p>"
          }
        },
        "UserContextPolicy": {
          "target": "com.amazonaws.kendra#UserContextPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The user context policy.</p>\n         <dl>\n            <dt>ATTRIBUTE_FILTER</dt>\n            <dd>\n               <p>All indexed content is searchable and displayable\n                  for all users. If there is an access control list, it\n                  is ignored. You can filter on user and group attributes.\n               </p>\n            </dd>\n            <dt>USER_TOKEN</dt>\n            <dd>\n               <p>Enables SSO and token-based user access control.\n               All documents with no access control and all documents\n               accessible to the user will be searchable and\n               displayable.\n               </p>\n            </dd>\n         </dl>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateIndexResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index. Use this identifier when you query an index, set up a\n      data source, or index a document.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateThesaurus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#CreateThesaurusRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#CreateThesaurusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a thesaurus for an index. The thesaurus\n      contains a list of synonyms in Solr format.</p>"
      }
    },
    "com.amazonaws.kendra#CreateThesaurusRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index for the new thesaurus.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#ThesaurusName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new thesaurus.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.kendra#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description for the new thesaurus.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Identity and Access Management (IAM) role that gives Amazon Kendra permissions \n         to access thesaurus file specified in <code>SourceS3Path</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kendra#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pairs that identify the thesaurus. You can use \n         the tags to identify and organize your resources and to control \n         access to resources.\n      </p>"
          }
        },
        "SourceS3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The thesaurus file Amazon S3 source path.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.kendra#ClientTokenName",
          "traits": {
            "smithy.api#documentation": "<p>A token that you provide to identify the request to create a \n         thesaurus. Multiple calls to the <code>CreateThesaurus</code> operation \n         with the same client token will create only one index.\n      </p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#CreateThesaurusResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#ThesaurusId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the thesaurus. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "S3Configuration": {
          "target": "com.amazonaws.kendra#S3DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information to create a data source connector for a\n            document repository in an Amazon S3 bucket.</p>"
          }
        },
        "SharePointConfiguration": {
          "target": "com.amazonaws.kendra#SharePointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a data source connector\n            for a Microsoft SharePoint site.</p>"
          }
        },
        "DatabaseConfiguration": {
          "target": "com.amazonaws.kendra#DatabaseConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to create a data source connector\n            for a database.</p>"
          }
        },
        "SalesforceConfiguration": {
          "target": "com.amazonaws.kendra#SalesforceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration information for data sources that connect\n            to a Salesforce site.</p>"
          }
        },
        "OneDriveConfiguration": {
          "target": "com.amazonaws.kendra#OneDriveConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to Microsoft OneDrive.</p>"
          }
        },
        "ServiceNowConfiguration": {
          "target": "com.amazonaws.kendra#ServiceNowConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to ServiceNow\n            instances.</p>"
          }
        },
        "ConfluenceConfiguration": {
          "target": "com.amazonaws.kendra#ConfluenceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration information for connecting to a Confluence\n            data source.</p>"
          }
        },
        "GoogleDriveConfiguration": {
          "target": "com.amazonaws.kendra#GoogleDriveConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides configuration for data sources that connect to \n        Google Drive. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceDateFieldFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 4,
          "max": 40
        },
        "smithy.api#pattern": "^(?!\\s).*(?<!\\s)$"
      }
    },
    "com.amazonaws.kendra#DataSourceFieldName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_.]*$"
      }
    },
    "com.amazonaws.kendra#DataSourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceInclusionsExclusionsStringsMember": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 150
        }
      }
    },
    "com.amazonaws.kendra#DataSourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceSummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data source.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the data source.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was created.</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the data source was lasted updated. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the data source. When the status is\n                <code>ATIVE</code> the data source is ready to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for a Amazon Kendra data source. Returned in a call\n            to .</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSummary"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJob": {
      "type": "structure",
      "members": {
        "ExecutionId": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the synchronization job.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was started.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The UNIX datetime that the synchronization job was\n            completed.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The execution status of the synchronization job. When the\n                <code>Status</code> field is set to <code>SUCCEEDED</code>, the\n            synchronization job is done. If the status code is set to\n                <code>FAILED</code>, the <code>ErrorCode</code> and\n                <code>ErrorMessage</code> fields give you the reason for the\n            failure.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>ERROR</code>, the\n                <code>ErrorMessage</code> field contains a description of the\n            error that caused the synchronization to fail.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>If the <code>Status</code> field is set to <code>FAILED</code>,\n            the <code>ErrorCode</code> field contains a the reason that the\n            synchronization failed.</p>"
          }
        },
        "DataSourceErrorCode": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>If the reason that the synchronization failed is due to an error\n            with the underlying data source, this field contains a code that\n            identifies the error.</p>"
          }
        },
        "Metrics": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetrics",
          "traits": {
            "smithy.api#documentation": "<p>Maps a batch delete document request to a specific data source\n            sync job. This is optional and should only be supplied when\n            documents are deleted by a data source connector.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a synchronization job.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobHistoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceSyncJob"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobMetricTarget": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the data source that is running the sync job.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobId": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the sync job that is running on the data source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a particular data source sync job to a particular data\n            source.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobMetrics": {
      "type": "structure",
      "members": {
        "DocumentsAdded": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents added from the data source up to now in\n            the data source sync.</p>"
          }
        },
        "DocumentsModified": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents modified in the data source up to now in\n            the data source sync run.</p>"
          }
        },
        "DocumentsDeleted": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents deleted from the data source up to now in\n            the data source sync run.</p>"
          }
        },
        "DocumentsFailed": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The number of documents that failed to sync from the data source\n            up to now in the data source sync run.</p>"
          }
        },
        "DocumentsScanned": {
          "target": "com.amazonaws.kendra#MetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The current number of documents crawled by the current sync job in\n            the data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a batch delete document request to a specific data source\n            sync job. This is optional and should only be supplied when\n            documents are deleted by a data source connector.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceSyncJobStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "SUCCEEDED",
            "name": "SUCCEEDED"
          },
          {
            "value": "SYNCING",
            "name": "SYNCING"
          },
          {
            "value": "INCOMPLETE",
            "name": "INCOMPLETE"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "ABORTED",
            "name": "ABORTED"
          },
          {
            "value": "SYNCING_INDEXING",
            "name": "SYNCING_INDEXING"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMapping": {
      "type": "structure",
      "members": {
        "DataSourceFieldName": {
          "target": "com.amazonaws.kendra#DataSourceFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column or attribute in the data source.</p>",
            "smithy.api#required": {}
          }
        },
        "DateFieldFormat": {
          "target": "com.amazonaws.kendra#DataSourceDateFieldFormat",
          "traits": {
            "smithy.api#documentation": "<p>The type of data stored in the column or attribute.</p>"
          }
        },
        "IndexFieldName": {
          "target": "com.amazonaws.kendra#IndexFieldName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field in the index.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Maps a column or attribute in the data source to an index field.\n            You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>"
      }
    },
    "com.amazonaws.kendra#DataSourceToIndexFieldMappingList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#DataSourceToIndexFieldMapping"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#DataSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3",
            "name": "S3"
          },
          {
            "value": "SHAREPOINT",
            "name": "SHAREPOINT"
          },
          {
            "value": "DATABASE",
            "name": "DATABASE"
          },
          {
            "value": "SALESFORCE",
            "name": "SALESFORCE"
          },
          {
            "value": "ONEDRIVE",
            "name": "ONEDRIVE"
          },
          {
            "value": "SERVICENOW",
            "name": "SERVICENOW"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          },
          {
            "value": "CONFLUENCE",
            "name": "CONFLUENCE"
          },
          {
            "value": "GOOGLEDRIVE",
            "name": "GOOGLEDRIVE"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DataSourceVpcConfiguration": {
      "type": "structure",
      "members": {
        "SubnetIds": {
          "target": "com.amazonaws.kendra#SubnetIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for subnets within your Amazon VPC. The\n            subnets should be able to connect to each other in the VPC, and they\n            should have outgoing access to the Internet through a NAT\n            device.</p>",
            "smithy.api#required": {}
          }
        },
        "SecurityGroupIds": {
          "target": "com.amazonaws.kendra#SecurityGroupIdList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers of security groups within your Amazon VPC.\n            The security groups should enable Amazon Kendra to connect to the data\n            source.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information for connecting to an Amazon VPC.</p>"
      }
    },
    "com.amazonaws.kendra#DatabaseConfiguration": {
      "type": "structure",
      "members": {
        "DatabaseEngineType": {
          "target": "com.amazonaws.kendra#DatabaseEngineType",
          "traits": {
            "smithy.api#documentation": "<p>The type of database engine that runs the database.</p>",
            "smithy.api#required": {}
          }
        },
        "ConnectionConfiguration": {
          "target": "com.amazonaws.kendra#ConnectionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The information necessary to connect to a database.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration"
        },
        "ColumnConfiguration": {
          "target": "com.amazonaws.kendra#ColumnConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about where the index should get the document\n            information from the database.</p>",
            "smithy.api#required": {}
          }
        },
        "AclConfiguration": {
          "target": "com.amazonaws.kendra#AclConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information about the database column that provides information\n            for user context filtering.</p>"
          }
        },
        "SqlConfiguration": {
          "target": "com.amazonaws.kendra#SqlConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Provides information about how Amazon Kendra uses quote marks around SQL\n            identifiers when querying a database data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the information necessary to connect a database to an\n            index. </p>"
      }
    },
    "com.amazonaws.kendra#DatabaseEngineType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RDS_AURORA_MYSQL",
            "name": "RDS_AURORA_MYSQL"
          },
          {
            "value": "RDS_AURORA_POSTGRESQL",
            "name": "RDS_AURORA_POSTGRESQL"
          },
          {
            "value": "RDS_MYSQL",
            "name": "RDS_MYSQL"
          },
          {
            "value": "RDS_POSTGRESQL",
            "name": "RDS_POSTGRESQL"
          }
        ]
      }
    },
    "com.amazonaws.kendra#DatabaseHost": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        }
      }
    },
    "com.amazonaws.kendra#DatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#DatabasePort": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.kendra#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteDataSourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Kendra data source. An exception is not thrown if the data source is\n      already being deleted. While the data source is being deleted, the <code>Status</code> field\n      returned by a call to the  operation is set to\n        <code>DELETING</code>. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/delete-data-source.html\">Deleting Data Sources</a>.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteDataSourceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the index associated with the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteFaq": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteFaqRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes an FAQ from an index.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteFaqRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#FaqId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the FAQ to remove.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The index to remove the FAQ from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteIndexRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already\n      being deleted. While the index is being deleted, the <code>Status</code> field returned by a\n      call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>"
      }
    },
    "com.amazonaws.kendra#DeleteIndexRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DeleteThesaurus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DeleteThesaurusRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing Amazon Kendra thesaurus. \n      </p>"
      }
    },
    "com.amazonaws.kendra#DeleteThesaurusRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#ThesaurusId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the thesaurus to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index associated with the thesaurus to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#DescribeDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#DescribeDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about a Amazon Kendra data source.</p>"
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the data source to describe.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#DescribeDataSourceResponse": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DataSourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the data source.</p>"
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the data source.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kendra#DataSourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave the data source when it was created.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.kendra#DataSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data source.</p>"
          }
        },
        "Configuration": {
          "target": "com.amazonaws.kendra#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Information that describes where the data source is located and how the data source is\n      configured. The specific information in the description depends on the data source\n      provider.</p>"
          }
        },
[...]
