{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kendra#AWSKendraFrontendService": {
      "type": "service",
      "version": "2019-02-03",
      "operations": [
        {
          "target": "com.amazonaws.kendra#AssociateEntitiesToExperience"
        },
        {
          "target": "com.amazonaws.kendra#AssociatePersonasToEntities"
        },
        {
          "target": "com.amazonaws.kendra#BatchDeleteDocument"
        },
        {
          "target": "com.amazonaws.kendra#BatchGetDocumentStatus"
        },
        {
          "target": "com.amazonaws.kendra#BatchPutDocument"
        },
        {
          "target": "com.amazonaws.kendra#ClearQuerySuggestions"
        },
        {
          "target": "com.amazonaws.kendra#CreateAccessControlConfiguration"
        },
        {
          "target": "com.amazonaws.kendra#CreateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#CreateExperience"
        },
        {
          "target": "com.amazonaws.kendra#CreateFaq"
        },
        {
          "target": "com.amazonaws.kendra#CreateIndex"
        },
        {
          "target": "com.amazonaws.kendra#CreateQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#CreateThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DeleteAccessControlConfiguration"
        },
        {
          "target": "com.amazonaws.kendra#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DeleteExperience"
        },
        {
          "target": "com.amazonaws.kendra#DeleteFaq"
        },
        {
          "target": "com.amazonaws.kendra#DeleteIndex"
        },
        {
          "target": "com.amazonaws.kendra#DeletePrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#DeleteQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#DeleteThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DescribeAccessControlConfiguration"
        },
        {
          "target": "com.amazonaws.kendra#DescribeDataSource"
        },
        {
          "target": "com.amazonaws.kendra#DescribeExperience"
        },
        {
          "target": "com.amazonaws.kendra#DescribeFaq"
        },
        {
          "target": "com.amazonaws.kendra#DescribeIndex"
        },
        {
          "target": "com.amazonaws.kendra#DescribePrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#DescribeQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#DescribeQuerySuggestionsConfig"
        },
        {
          "target": "com.amazonaws.kendra#DescribeThesaurus"
        },
        {
          "target": "com.amazonaws.kendra#DisassociateEntitiesFromExperience"
        },
        {
          "target": "com.amazonaws.kendra#DisassociatePersonasFromEntities"
        },
        {
          "target": "com.amazonaws.kendra#GetQuerySuggestions"
        },
        {
          "target": "com.amazonaws.kendra#GetSnapshots"
        },
        {
          "target": "com.amazonaws.kendra#ListAccessControlConfigurations"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSources"
        },
        {
          "target": "com.amazonaws.kendra#ListDataSourceSyncJobs"
        },
        {
          "target": "com.amazonaws.kendra#ListEntityPersonas"
        },
        {
          "target": "com.amazonaws.kendra#ListExperienceEntities"
        },
        {
          "target": "com.amazonaws.kendra#ListExperiences"
        },
        {
          "target": "com.amazonaws.kendra#ListFaqs"
        },
        {
          "target": "com.amazonaws.kendra#ListGroupsOlderThanOrderingId"
        },
        {
          "target": "com.amazonaws.kendra#ListIndices"
        },
        {
          "target": "com.amazonaws.kendra#ListQuerySuggestionsBlockLists"
        },
        {
          "target": "com.amazonaws.kendra#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kendra#ListThesauri"
        },
        {
          "target": "com.amazonaws.kendra#PutPrincipalMapping"
        },
        {
          "target": "com.amazonaws.kendra#Query"
        },
        {
          "target": "com.amazonaws.kendra#StartDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#StopDataSourceSyncJob"
        },
        {
          "target": "com.amazonaws.kendra#SubmitFeedback"
        },
        {
          "target": "com.amazonaws.kendra#TagResource"
        },
        {
          "target": "com.amazonaws.kendra#UntagResource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateAccessControlConfiguration"
        },
        {
          "target": "com.amazonaws.kendra#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.kendra#UpdateExperience"
        },
        {
          "target": "com.amazonaws.kendra#UpdateIndex"
        },
        {
          "target": "com.amazonaws.kendra#UpdateQuerySuggestionsBlockList"
        },
        {
          "target": "com.amazonaws.kendra#UpdateQuerySuggestionsConfig"
        },
        {
          "target": "com.amazonaws.kendra#UpdateThesaurus"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "kendra",
          "arnNamespace": "kendra",
          "cloudFormationName": "Kendra",
          "cloudTrailEventSource": "kendra.amazonaws.com",
          "endpointPrefix": "kendra"
        },
        "aws.auth#sigv4": {
          "name": "kendra"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
        "smithy.api#title": "AWSKendraFrontendService",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://kendra-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://kendra-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://kendra.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://kendra.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-south-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ca-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-2"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-northeast-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-gov-west-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-1"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "ap-southeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-east-1.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-east-2.api.aws"
                }
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kendra.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-2"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": false,
                "UseFIPS": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseDualStack": true,
                "UseFIPS": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.kendra#AccessControlConfigurationId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.kendra#AccessControlConfigurationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[\\S\\s]*$"
      }
    },
    "com.amazonaws.kendra#AccessControlConfigurationSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#AccessControlConfigurationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the access control configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information on an access control configuration that you created for \n            your documents in an index.</p>"
      }
    },
    "com.amazonaws.kendra#AccessControlConfigurationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AccessControlConfigurationSummary"
      }
    },
    "com.amazonaws.kendra#AccessControlListConfiguration": {
      "type": "structure",
      "members": {
        "KeyPath": {
          "target": "com.amazonaws.kendra#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>Path to the Amazon S3 bucket that contains the ACL files.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access Control List files for the documents in a data source. For the format of the\n            file, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/s3-acl.html\">Access control\n                for S3 data sources</a>.</p>"
      }
    },
    "com.amazonaws.kendra#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kendra#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action. Please ensure you have the\n            required permission policies and user accounts and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.kendra#AclConfiguration": {
      "type": "structure",
      "members": {
        "AllowedGroupsColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>A list of groups, separated by semi-colons, that filters a query response based on\n            user context. The document is only returned to users that are in one of the groups\n            specified in the <code>UserContext</code> field of the <code>Query</code> API.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the column that should be used for filtering the query\n            response by groups.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttribute": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.kendra#String",
          "traits": {
            "smithy.api#documentation": "<p>The key that identifies the attribute.</p>",
            "smithy.api#required": {}
          }
        },
        "ValueType": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValueType",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the <code>Value</code> property.</p>",
            "smithy.api#required": {}
          }
        },
        "Value": {
          "target": "com.amazonaws.kendra#AdditionalResultAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains the attribute value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned from an index query.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AdditionalResultAttribute"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValue": {
      "type": "structure",
      "members": {
        "TextWithHighlightsValue": {
          "target": "com.amazonaws.kendra#TextWithHighlights",
          "traits": {
            "smithy.api#documentation": "<p>The text associated with the attribute and information about the highlight to apply to\n            the text.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute returned with a document from a search.</p>"
      }
    },
    "com.amazonaws.kendra#AdditionalResultAttributeValueType": {
      "type": "enum",
      "members": {
        "TEXT_WITH_HIGHLIGHTS_VALUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TEXT_WITH_HIGHLIGHTS_VALUE"
          }
        }
      }
    },
    "com.amazonaws.kendra#AlfrescoConfiguration": {
      "type": "structure",
      "members": {
        "SiteUrl": {
          "target": "com.amazonaws.kendra#SiteUrl",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Alfresco site. For example, <i>https://hostname:8080</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "SiteId": {
          "target": "com.amazonaws.kendra#SiteId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Alfresco site. For example, <i>my-site</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret that \n            contains the key-value pairs required to connect to your Alfresco \n            data source. The secret must contain a JSON structure with the following keys:</p>\n         <ul>\n            <li>\n               <p>username—The user name of the Alfresco account.</p>\n            </li>\n            <li>\n               <p>password—The password of the Alfresco account.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "SslCertificateS3Path": {
          "target": "com.amazonaws.kendra#S3Path",
          "traits": {
            "smithy.api#documentation": "<p>The path to the SSL certificate stored in an Amazon S3 bucket. You \n            use this to connect to Alfresco if you require a secure SSL \n            connection.</p>\n         <p>You can simply generate a self-signed X509 certificate on any computer using \n            OpenSSL. For an example of using OpenSSL to create an X509 certificate, see \n            <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/configuring-https-ssl.html\">Create and sign \n                an X509 certificate</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "CrawlSystemFolders": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to index shared files.</p>"
          }
        },
        "CrawlComments": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to index comments of blogs and other content.</p>"
          }
        },
        "EntityFilter": {
          "target": "com.amazonaws.kendra#EntityFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specify whether to index document libraries, wikis, \n            or blogs. You can specify one or more of these options.</p>"
          }
        },
        "DocumentLibraryFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Alfresco document libraries to Amazon Kendra index field names. \n            To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco \n            fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">\n                Mapping data source fields</a>. The Alfresco data source field names \n            must exist in your Alfresco custom metadata.</p>"
          }
        },
        "BlogFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Alfresco blogs to Amazon Kendra index field names. \n            To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco \n            fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">\n                Mapping data source fields</a>. The Alfresco data source field names \n            must exist in your Alfresco custom metadata.</p>"
          }
        },
        "WikiFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Alfresco wikis to Amazon Kendra index field names. \n            To create custom fields, use the <code>UpdateIndex</code> API before you map to Alfresco \n            fields. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">\n                Mapping data source fields</a>. The Alfresco data source field names \n            must exist in your Alfresco custom metadata.</p>"
          }
        },
        "InclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns to include certain files \n            in your Alfresco data source. Files that match \n            the patterns are included in the index. Files that don't match the patterns \n            are excluded from the index. If a file matches both an inclusion pattern \n            and an exclusion pattern, the exclusion pattern takes precedence and the \n            file isn't included in the index.</p>"
          }
        },
        "ExclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns to exclude certain files \n            in your Alfresco data source. Files that \n            match the patterns are excluded from the index. Files that don't match \n            the patterns are included in the index. If a file matches both an inclusion \n            pattern and an exclusion pattern, the exclusion pattern takes precedence \n            and the file isn't included in the index.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for an \n            Amazon Virtual Private Cloud to connect to your Alfresco. For more information, \n            see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/vpc-configuration.html\">Configuring \n                a VPC</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to Alfresco as your \n            data source.</p>\n         <note>\n            <p>Alfresco data source connector is currently in preview mode. Basic \n                authentication is currently supported. If you would like to use Alfresco \n                connector in production, contact <a href=\"http://aws.amazon.com/contact-us/\">Support</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.kendra#AlfrescoEntity": {
      "type": "enum",
      "members": {
        "wiki": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "wiki"
          }
        },
        "blog": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "blog"
          }
        },
        "documentLibrary": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "documentLibrary"
          }
        }
      }
    },
    "com.amazonaws.kendra#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.kendra#AssociateEntitiesToExperience": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#AssociateEntitiesToExperienceRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#AssociateEntitiesToExperienceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants users or groups in your IAM Identity Center identity source access \n            to your Amazon Kendra experience. You can create an Amazon Kendra experience such as a \n            search application. For more information on creating a search application \n            experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building \n                a search experience with no code</a>.</p>"
      }
    },
    "com.amazonaws.kendra#AssociateEntitiesToExperienceFailedEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#FailedEntity"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.kendra#AssociateEntitiesToExperienceRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#ExperienceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of your Amazon Kendra experience.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index for your Amazon Kendra experience.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityList": {
          "target": "com.amazonaws.kendra#AssociateEntityList",
          "traits": {
            "smithy.api#documentation": "<p>Lists users or groups in your IAM Identity Center identity source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#AssociateEntitiesToExperienceResponse": {
      "type": "structure",
      "members": {
        "FailedEntityList": {
          "target": "com.amazonaws.kendra#AssociateEntitiesToExperienceFailedEntityList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the users or groups in your IAM Identity Center identity source that \n            failed to properly configure with your Amazon Kendra experience.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#AssociateEntityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#EntityConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.kendra#AssociatePersonasToEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#AssociatePersonasToEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#AssociatePersonasToEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceAlreadyExistException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Defines the specific permissions of users or groups in your IAM Identity Center\n            identity source with access to your Amazon Kendra experience. You can create an Amazon Kendra \n            experience such as a search application. For more information on creating a \n            search application experience, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html\">Building \n                a search experience with no code</a>.</p>"
      }
    },
    "com.amazonaws.kendra#AssociatePersonasToEntitiesRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#ExperienceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of your Amazon Kendra experience.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index for your Amazon Kendra experience.</p>",
            "smithy.api#required": {}
          }
        },
        "Personas": {
          "target": "com.amazonaws.kendra#EntityPersonaConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The personas that define the specific permissions of users or groups in \n            your IAM Identity Center identity source. The available personas or access \n            roles are <code>Owner</code> and <code>Viewer</code>. For more information \n            on these personas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/deploying-search-experience-no-code.html#access-search-experience\">Providing \n                access to your search page</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#AssociatePersonasToEntitiesResponse": {
      "type": "structure",
      "members": {
        "FailedEntityList": {
          "target": "com.amazonaws.kendra#FailedEntityList",
          "traits": {
            "smithy.api#documentation": "<p>Lists the users or groups in your IAM Identity Center identity source that \n            failed to properly configure with your Amazon Kendra experience.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#AttributeFilter": {
      "type": "structure",
      "members": {
        "AndAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>AND</code> operation on all supplied\n         filters.</p>"
          }
        },
        "OrAllFilters": {
          "target": "com.amazonaws.kendra#AttributeFilterList",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>OR</code> operation on all supplied\n         filters.</p>"
          }
        },
        "NotFilter": {
          "target": "com.amazonaws.kendra#AttributeFilter",
          "traits": {
            "smithy.api#documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied\n         filters.</p>"
          }
        },
        "EqualsTo": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs an equals operation on two document attributes or metadata fields.</p>"
          }
        },
        "ContainsAll": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains all of the specified document\n         attributes or metadata fields. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "ContainsAny": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Returns true when a document contains any of the specified document\n         attributes or metadata fields. This filter is only applicable to\n            <code>StringListValue</code> metadata.</p>"
          }
        },
        "GreaterThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater than operation on two document attributes or metadata fields. Use\n         with a document attribute of type <code>Date</code> or\n            <code>Long</code>.</p>"
          }
        },
        "GreaterThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a greater or equals than operation on two document\n         attributes or metadata fields. Use with a document attribute of type <code>Date</code>\n         or <code>Long</code>.</p>"
          }
        },
        "LessThan": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than operation on two document attributes or metadata fields. Use with\n         a document attribute of type <code>Date</code> or\n         <code>Long</code>.</p>"
          }
        },
        "LessThanOrEquals": {
          "target": "com.amazonaws.kendra#DocumentAttribute",
          "traits": {
            "smithy.api#documentation": "<p>Performs a less than or equals operation on two document attributes or metadata fields.\n         Use with a document attribute of type <code>Date</code> or\n            <code>Long</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides filtering the query results based on document\n         attributes or metadata fields.</p>\n         <p>When you use the <code>AndAllFilters</code> or\n            <code>OrAllFilters</code>, filters you can use 2 layers under the\n         first attribute filter. For example, you can use:</p>\n         <p>\n            <code><AndAllFilters></code>\n         </p>\n         <ol>\n            <li>\n               <p>\n                  <code> <OrAllFilters></code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code> <EqualsTo></code>\n               </p>\n            </li>\n         </ol>\n         <p>If you use more than 2 layers, you receive a\n            <code>ValidationException</code> exception with the message\n            \"<code>AttributeFilter</code> cannot have a depth of more \n         than 2.\"</p>\n         <p>If you use more than 10 attribute filters in a given list for \n         <code>AndAllFilters</code> or <code>OrAllFilters</code>, you receive \n         a <code>ValidationException</code> with the message \n         \"<code>AttributeFilter</code> cannot have a length of more than 10\".</p>"
      }
    },
    "com.amazonaws.kendra#AttributeFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#AttributeFilter"
      }
    },
    "com.amazonaws.kendra#AuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "BasicAuthentication": {
          "target": "com.amazonaws.kendra#BasicAuthenticationConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of configuration information that's required to connect to and \n            crawl a website host using basic authentication credentials.</p>\n         <p>The list includes the name and port number of the website host.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to websites that require\n            user authentication.</p>"
      }
    },
    "com.amazonaws.kendra#BasicAuthenticationConfiguration": {
      "type": "structure",
      "members": {
        "Host": {
          "target": "com.amazonaws.kendra#Host",
          "traits": {
            "smithy.api#documentation": "<p>The name of the website host you want to connect to using \n            authentication credentials.</p>\n         <p>For example, the host name of https://a.example.com/page1.html is \n            \"a.example.com\".</p>",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.kendra#Port",
          "traits": {
            "smithy.api#documentation": "<p>The port number of the website host you want to connect to using \n            authentication credentials.</p>\n         <p>For example, the port for https://a.example.com/page1.html is 443, \n            the standard port for HTTPS.</p>",
            "smithy.api#required": {}
          }
        },
        "Credentials": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>Your secret ARN, which you can create in <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\">Secrets Manager</a>\n         </p>\n         <p>You use a secret if basic authentication credentials are required to connect \n            to a website. The secret stores your credentials of user name and password.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to websites that require\n            basic user authentication.</p>"
      }
    },
    "com.amazonaws.kendra#BasicAuthenticationConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BasicAuthenticationConfiguration"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes one or more documents from an index. The documents must have\n      been added with the <code>BatchPutDocument</code> API.</p>\n         <p>The documents are deleted asynchronously. You can see the progress of\n      the deletion by using Amazon Web Services CloudWatch. Any error messages related to the\n      processing of the batch are sent to you CloudWatch log.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index that contains the documents to\n      delete.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentIdList": {
          "target": "com.amazonaws.kendra#DocumentIdList",
          "traits": {
            "smithy.api#documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceSyncJobMetricTarget": {
          "target": "com.amazonaws.kendra#DataSourceSyncJobMetricTarget"
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that could not be removed from the index. Each\n      entry contains an error message that indicates why the document couldn't\n      be removed from the index.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document that couldn't be removed from the index.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code for why the document couldn't be removed from the index.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>An explanation for why the document couldn't be removed from the index.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about documents that could not be removed from an index by the\n                <code>BatchDeleteDocument</code> API.</p>"
      }
    },
    "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchDeleteDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatus": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the indexing status for one or more documents submitted\n            with the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchPutDocument.html\">\n                BatchPutDocument</a> API.</p>\n         <p>When you use the <code>BatchPutDocument</code> API,\n            documents are indexed asynchronously. You can use the\n                <code>BatchGetDocumentStatus</code> API to get the current\n            status of a list of documents so that you can determine if they have\n            been successfully indexed.</p>\n         <p>You can also use the <code>BatchGetDocumentStatus</code> API\n            to check the status of the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_BatchDeleteDocument.html\">\n                BatchDeleteDocument</a> API. When a document is\n            deleted from the index, Amazon Kendra returns <code>NOT_FOUND</code> as the\n            status.</p>"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add documents to. The index ID is\n            returned by the <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_CreateIndex.html\">CreateIndex\n            </a> API.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentInfoList": {
          "target": "com.amazonaws.kendra#DocumentInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DocumentInfo</code> objects that identify the\n            documents for which to get the status. You identify the documents by\n            their document ID and optional attributes.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that Amazon Kendra couldn't get the status for. The\n            list includes the ID of the document and the reason that the status\n            couldn't be found.</p>"
          }
        },
        "DocumentStatusList": {
          "target": "com.amazonaws.kendra#DocumentStatusList",
          "traits": {
            "smithy.api#documentation": "<p>The status of documents. The status indicates if the document is\n            waiting to be indexed, is in the process of indexing, has completed\n            indexing, or failed indexing. If a document failed indexing, the\n            status provides the reason why.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponseError": {
      "type": "structure",
      "members": {
        "DocumentId": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document whose status could not be retrieved.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the source of the error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>States that the API could not get the status of a document. This could be \n            because the request is not valid or there is a system error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a response when the status of a document could not be retrieved.</p>"
      }
    },
    "com.amazonaws.kendra#BatchGetDocumentStatusResponseErrors": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchGetDocumentStatusResponseError"
      }
    },
    "com.amazonaws.kendra#BatchPutDocument": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#BatchPutDocumentRequest"
      },
      "output": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more documents to an index.</p>\n         <p>The <code>BatchPutDocument</code> API enables you to ingest\n      inline documents or a set of documents stored in an Amazon S3 bucket. Use\n      this API to ingest your text and unstructured text into an index,\n      add custom attributes to the documents, and to attach an access control\n      list to the documents added to the index.</p>\n         <p>The documents are indexed asynchronously. You can see the progress of\n      the batch using Amazon Web Services CloudWatch. Any error messages related to processing\n      the batch are sent to your Amazon Web Services CloudWatch log.</p>\n         <p>For an example of ingesting inline documents using Python and Java SDKs, \n      see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/in-adding-binary-doc.html\">Adding \n        files directly to an index</a>.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index to add the documents to. You need to\n      create the index first using the <code>CreateIndex</code>\n      API.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.kendra#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the\n        <code>BatchPutDocument</code> API. For more information, see\n        <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM\n          Roles for Amazon Kendra</a>.</p>"
          }
        },
        "Documents": {
          "target": "com.amazonaws.kendra#DocumentList",
          "traits": {
            "smithy.api#documentation": "<p>One or more documents to add to the index.</p>\n         <p>Documents have the following file size limits.</p>\n         <ul>\n            <li>\n               <p>5 MB total size for inline documents</p>\n            </li>\n            <li>\n               <p>50 MB total size for files from an S3 bucket</p>\n            </li>\n            <li>\n               <p>5 MB extracted text for any file</p>\n            </li>\n         </ul>\n         <p>For more information about file size and transaction per second\n      quotas, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/quotas.html\">Quotas</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomDocumentEnrichmentConfiguration": {
          "target": "com.amazonaws.kendra#CustomDocumentEnrichmentConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for altering your document metadata and content during \n            the document ingestion process when you use the <code>BatchPutDocument</code> \n            API.</p>\n         <p>For more information on how to create, modify and delete document metadata, \n            or make other content alterations when you ingest documents into Amazon Kendra, see \n            <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/custom-document-enrichment.html\">Customizing \n                document metadata during the ingestion process</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponse": {
      "type": "structure",
      "members": {
        "FailedDocuments": {
          "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments",
          "traits": {
            "smithy.api#documentation": "<p>A list of documents that were not added to the index because the\n      document failed a validation check. Each document contains an error\n      message that indicates why the document couldn't be added to the\n      index.</p>\n         <p>If there was an error adding a document to an index the error is\n      reported in your Amazon Web Services CloudWatch log. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/cloudwatch-logs.html\">Monitoring\n        Amazon Kendra with Amazon CloudWatch Logs</a>\n         </p>"
          }
        }
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.kendra#DocumentId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the document.</p>"
          }
        },
        "ErrorCode": {
          "target": "com.amazonaws.kendra#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The type of error that caused the document to fail to be indexed.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.kendra#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description of the reason why the document could not be indexed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a document that could not be indexed.</p>"
      }
    },
    "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocuments": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#BatchPutDocumentResponseFailedDocument"
      }
    },
    "com.amazonaws.kendra#Blob": {
      "type": "blob"
    },
    "com.amazonaws.kendra#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.kendra#BoxConfiguration": {
      "type": "structure",
      "members": {
        "EnterpriseId": {
          "target": "com.amazonaws.kendra#EnterpriseId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the Box Enterprise platform. You can find the enterprise \n            ID in the Box Developer Console settings or when you create an app in Box and \n            download your authentication credentials. For example, <i>801234567</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.kendra#SecretArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Secrets Manager secret that contains \n            the key-value pairs required to connect to your Box platform. The secret must \n            contain a JSON structure with the following keys:</p>\n         <ul>\n            <li>\n               <p>clientID—The identifier of the client OAuth 2.0 authentication\n                    application created in Box.</p>\n            </li>\n            <li>\n               <p>clientSecret—A set of characters known only to the OAuth 2.0\n                    authentication application created in Box.</p>\n            </li>\n            <li>\n               <p>publicKeyId—The identifier of the public key contained within an\n                    identity certificate.</p>\n            </li>\n            <li>\n               <p>privateKey—A set of characters that make up an encryption key.</p>\n            </li>\n            <li>\n               <p>passphrase—A set of characters that act like a password.</p>\n            </li>\n         </ul>\n         <p>You create an application in Box to generate the keys or credentials required \n            for the secret. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-box.html\">Using a Box data source</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "UseChangeLog": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to use the Slack change log to determine which documents require\n            updating in the index. Depending on the data source change log's size, it may take\n            longer for Amazon Kendra to use the change log than to scan all of your\n            documents.</p>"
          }
        },
        "CrawlComments": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to index comments.</p>"
          }
        },
        "CrawlTasks": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to index the contents of tasks.</p>"
          }
        },
        "CrawlWebLinks": {
          "target": "com.amazonaws.kendra#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n            <code>TRUE</code> to index web links.</p>"
          }
        },
        "FileFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A\n            list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes or \n            field names of Box files to Amazon Kendra index field names. To create custom \n            fields, use the <code>UpdateIndex</code> API before you map to Box fields. For more \n            information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. \n            The Box field names must exist in your Box custom metadata.</p>"
          }
        },
        "TaskFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Box tasks to Amazon Kendra index field names. To create \n            custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. \n            For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. \n            The Box field names must exist in your Box custom metadata.</p>"
          }
        },
        "CommentFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Box comments to Amazon Kendra index field names. To create \n            custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. \n            For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. \n            The Box field names must exist in your Box custom metadata.</p>"
          }
        },
        "WebLinkFieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map attributes \n            or field names of Box web links to Amazon Kendra index field names. To create \n            custom fields, use the <code>UpdateIndex</code> API before you map to Box fields. \n            For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping data source fields</a>. \n            The Box field names must exist in your Box custom metadata.</p>"
          }
        },
        "InclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns to include certain files and folders in your \n            Box platform. Files and folders that match the patterns are included in the index. \n            Files and folders that don't match the patterns are excluded from the index. If a \n            file or folder matches both an inclusion and exclusion pattern, the exclusion pattern \n            takes precedence and the file or folder isn't included in the index.</p>"
          }
        },
        "ExclusionPatterns": {
          "target": "com.amazonaws.kendra#DataSourceInclusionsExclusionsStrings",
          "traits": {
            "smithy.api#documentation": "<p>A list of regular expression patterns to exclude certain files and folders from \n            your Box platform. Files and folders that match the patterns are excluded from the \n            index.Files and folders that don't match the patterns are included in the index. \n            If a file or folder matches both an inclusion and exclusion pattern, the exclusion \n            pattern takes precedence and the file or folder isn't included in the index.</p>"
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kendra#DataSourceVpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for an Amazon VPC to connect to your Box. For \n            more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/vpc-configuration.html\">Configuring a VPC</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the configuration information to connect to Box as \n            your data source.</p>"
      }
    },
    "com.amazonaws.kendra#CapacityUnitsConfiguration": {
      "type": "structure",
      "members": {
        "StorageCapacityUnits": {
          "target": "com.amazonaws.kendra#StorageCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra storage capacity for an index. A single capacity unit provides 30\n            GB of storage space or 100,000 documents, whichever is reached first. You can add up to\n            100 extra capacity units.</p>",
            "smithy.api#required": {}
          }
        },
        "QueryCapacityUnits": {
          "target": "com.amazonaws.kendra#QueryCapacityUnit",
          "traits": {
            "smithy.api#documentation": "<p>The amount of extra query capacity for an index and <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/API_GetQuerySuggestions.html\">GetQuerySuggestions</a>\n            capacity.</p>\n         <p>A single extra capacity unit for an index provides 0.1 queries per second or\n            approximately 8,000 queries per day. You can add up to 100 extra capacity units.</p>\n         <p>\n            <code>GetQuerySuggestions</code> capacity is five times the provisioned query capacity\n            for an index, or the base capacity of 2.5 calls per second, whichever is higher. For\n            example, the base capacity for an index is 0.1 queries per second, and\n                <code>GetQuerySuggestions</code> capacity has a base of 2.5 calls per second. If you\n            add another 0.1 queries per second to total 0.2 queries per second for an index, the\n                <code>GetQuerySuggestions</code> capacity is 2.5 calls per second (higher than five\n            times 0.2 queries per second).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies additional capacity units configured for your Enterprise Edition index. You\n            can add and remove capacity units to fit your usage requirements.</p>"
      }
    },
    "com.amazonaws.kendra#ChangeDetectingColumns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.kendra#ClaimRegex": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^\\P{C}*$"
      }
    },
    "com.amazonaws.kendra#ClearQuerySuggestions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kendra#ClearQuerySuggestionsRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kendra#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kendra#ConflictException"
        },
        {
          "target": "com.amazonaws.kendra#InternalServerException"
        },
        {
          "target": "com.amazonaws.kendra#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kendra#ThrottlingException"
        },
        {
          "target": "com.amazonaws.kendra#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Clears existing query suggestions from an index.</p>\n         <p>This deletes existing suggestions only, not the queries \n            in the query log. After you clear suggestions, Amazon Kendra learns \n            new suggestions based on new queries added to the query log \n            from the time you cleared suggestions. If you do not see any \n            new suggestions, then please allow Amazon Kendra to collect \n            enough queries to learn new suggestions.</p>\n         <p>\n            <code>ClearQuerySuggestions</code> is currently not supported in the \n            Amazon Web Services GovCloud (US-West) region.</p>"
      }
    },
    "com.amazonaws.kendra#ClearQuerySuggestionsRequest": {
      "type": "structure",
      "members": {
        "IndexId": {
          "target": "com.amazonaws.kendra#IndexId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the index you want to clear query suggestions from.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kendra#ClickFeedback": {
      "type": "structure",
      "members": {
        "ResultId": {
          "target": "com.amazonaws.kendra#ResultId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the search result that was clicked.</p>",
            "smithy.api#required": {}
          }
        },
        "ClickTime": {
          "target": "com.amazonaws.kendra#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp of the date and time that the result was clicked.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Gathers information about when a particular result was clicked by a user. Your\n            application uses the <code>SubmitFeedback</code> API to provide click\n            information.</p>"
      }
    },
    "com.amazonaws.kendra#ClickFeedbackList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kendra#ClickFeedback"
      }
    },
    "com.amazonaws.kendra#ClientTokenName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.kendra#ColumnConfiguration": {
      "type": "structure",
      "members": {
        "DocumentIdColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that provides the document's identifier.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentDataColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the contents of the document.</p>",
            "smithy.api#required": {}
          }
        },
        "DocumentTitleColumnName": {
          "target": "com.amazonaws.kendra#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that contains the title of the document.</p>"
          }
        },
        "FieldMappings": {
          "target": "com.amazonaws.kendra#DataSourceToIndexFieldMappingList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that map database column names to the corresponding fields in an\n            index. You must first create the fields in the index using the <code>UpdateIndex</code>\n            API.</p>"
          }
        },
        "ChangeDetectingColumns": {
          "target": "com.amazonaws.kendra#ChangeDetectingColumns",
          "traits": {
            "smithy.api#documentation": "<p>One to five columns that indicate when a document in the database has changed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about how Amazon Kendra should use the columns of a database\n            in an index.</p>"
      }
    },
    "com.amazonaws.kendra#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[a-zA-Z][a-zA-Z0-9_]*$"
      }
    },
    "com.amazonaws.kendra#ConditionOperator": {
      "type": "enum",
      "members": {
        "GreaterThan": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThan"
          }
        },
        "GreaterThanOrEquals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GreaterThanOrEquals"
          }
        },
        "LessThan": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThan"
          }
        },
        "LessThanOrEquals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LessThanOrEquals"
          }
        },
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Equals"
          }
        },
        "NotEquals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotEquals"
          }
        },
        "Contains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Contains"
          }
        },
        "NotContains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotContains"
          }
        },
        "Exists": {
[...]
