{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.keyspaces#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1000
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):cassandra:.+"
      }
    },
    "com.amazonaws.keyspaces#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDeniedException",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.keyspaces#CapacitySpecification": {
      "type": "structure",
      "members": {
        "throughputMode": {
          "target": "com.amazonaws.keyspaces#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <p>• <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n         <p>• <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n               <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p>\n         <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "readCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code> \n            <code>(RCUs)</code>.</p>"
          }
        },
        "writeCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code> \n            <code>(WCUs)</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Keyspaces has two read/write capacity modes for processing reads and writes on your tables: </p>\n         <p>• On-demand (default)</p>\n         <p>• Provisioned</p>\n         <p> The read/write capacity mode that you choose controls how you are charged for read and\n         write throughput and how table throughput capacity is managed.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CapacitySpecificationSummary": {
      "type": "structure",
      "members": {
        "throughputMode": {
          "target": "com.amazonaws.keyspaces#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <p>• <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n         <p>• <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n               <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input. </p>\n         <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "readCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code> \n            <code>(RCUs)</code>.</p>"
          }
        },
        "writeCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code> \n            <code>(WCUs)</code>.</p>"
          }
        },
        "lastUpdateToPayPerRequestTimestamp": {
          "target": "com.amazonaws.keyspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the last operation that changed the provisioned throughput capacity of a table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <p>• <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n         <p>• <code>throughputMode:PROVISIONED</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CapacityUnits": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.keyspaces#ClusteringKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name(s) of the clustering column(s).</p>",
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "com.amazonaws.keyspaces#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Sets the ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional clustering column portion of your primary key determines how the data is clustered and sorted within each partition.</p>"
      }
    },
    "com.amazonaws.keyspaces#ClusteringKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#ClusteringKey"
      }
    },
    "com.amazonaws.keyspaces#ColumnDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column. For a list of available data types, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The names and data types of regular columns.</p>"
      }
    },
    "com.amazonaws.keyspaces#ColumnDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#ColumnDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.keyspaces#Comment": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional comment that describes the table.</p>"
      }
    },
    "com.amazonaws.keyspaces#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>Amazon Keyspaces could not complete the requested action. This error may occur if you try to \n         perform an action and the same or a different action is already\n         in progress, or if you try to create a resource that already exists. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#CreateKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#CreateKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateKeyspace</code> operation adds a new keyspace to your account. In an Amazon Web Services account, keyspace names\n      must be unique within each Region.</p>\n         <p>\n            <code>CreateKeyspace</code> is an asynchronous operation. You can monitor the creation status of the new keyspace \n          by using the <code>GetKeyspace</code> operation.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/working-with-keyspaces.html#keyspaces-create\">Creating keyspaces</a> in the <i>Amazon Keyspaces Developer\n             Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.keyspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pair tags to be attached to the keyspace.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspaceResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#CreateTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#CreateTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateTable</code> operation adds a new table to the specified keyspace. Within a keyspace, table names\n         must be unique.</p>\n         <p>\n            <code>CreateTable</code> is an asynchronous operation. When the request is received, the status of the table is set to <code>CREATING</code>.\n         You can monitor the creation status of the new table by using the <code>GetTable</code> \n         operation, which returns the current <code>status</code> of the table. You can start using a table when the status is <code>ACTIVE</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/working-with-tables.html#tables-create\">Creating tables</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CreateTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the table is going to be created in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.keyspaces#SchemaDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>schemaDefinition</code> consists of the\n         following parameters.</p>\n         <p>For each column to be created:</p>\n         <p>• <code>name</code>  -  The name\n                           of the column.</p>\n         <p>• <code>type</code>  -  An Amazon Keyspaces\n                           data type. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer\n                                 Guide</i>.</p>\n         <p>The primary key of the table consists of the\n                     following columns:</p>\n         <p>• <code>partitionKeys</code> - The partition key can be a single column, or it can be a\n                           compound value composed of two or more columns. The partition\n                           key portion of the primary key is required and determines how\n                           Amazon Keyspaces stores your data.</p>\n         <p>• <code>name</code> - The name of each partition key column.</p>\n         <p>• <code>clusteringKeys</code> - The optional clustering column portion of your primary key\n                           determines how the data is clustered and sorted within each\n                           partition.</p>\n         <p>• <code>name</code> - The name of the clustering column. </p>\n         <p>• <code>orderBy</code> - Sets the\n                                 ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p>\n         <p>To define a column as static use <code>staticColumns</code>  - \n         Static columns store values that are shared by all rows in the same partition:</p>\n         <p>• <code>name</code>  -  The name\n               of the column.</p>\n         <p>• <code>type</code>  -  An Amazon Keyspaces\n               data type.</p>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "com.amazonaws.keyspaces#Comment",
          "traits": {
            "smithy.api#documentation": "<p>This parameter allows to enter a description of the table.</p>"
          }
        },
        "capacitySpecification": {
          "target": "com.amazonaws.keyspaces#CapacitySpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the read/write throughput capacity mode for the table. The options are:</p>\n         <p>• <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n         <p>• <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n                  <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p>\n         <p>The default is\n         <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "encryptionSpecification": {
          "target": "com.amazonaws.keyspaces#EncryptionSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how the encryption key for encryption at rest is managed for the table.  \n         You can choose one of the following KMS key (KMS key):</p>\n         <p>• <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p>   \n         <p>• <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. \n               This option \n               requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input.</p>\n         <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "pointInTimeRecovery": {
          "target": "com.amazonaws.keyspaces#PointInTimeRecovery",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if <code>pointInTimeRecovery</code> is enabled or disabled for the\n            table. The options are:</p>\n         <p>• <code>ENABLED</code>\n         </p>\n         <p>• <code>DISABLED</code>\n         </p>\n         <p>If it's not specified, the \n               default is <code>DISABLED</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.keyspaces#TimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>Enables Time to Live custom settings for the\n            table. The options are:</p>\n         <p>• <code>status:enabled</code>\n         </p>\n         <p>• <code>status:disabled</code>\n         </p>\n         <p>The default is <code>status:disabled</code>. After\n            <code>ttl</code> is enabled, you can't disable it\n            for the table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL.html\">Expiring data by using Amazon Keyspaces Time to Live (TTL)</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "defaultTimeToLive": {
          "target": "com.amazonaws.keyspaces#DefaultTimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The default Time to Live setting in seconds for the\n         table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL-how-it-works.html#ttl-howitworks_default_ttl\">Setting the default TTL value for a table</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.keyspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pair tags to be\n         attached to the resource. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateTableResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#DefaultTimeToLive": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 630720000
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#DeleteKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#DeleteKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteKeyspace</code> operation deletes a keyspace and all of its tables. </p>"
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspaceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.keyspaces#DeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#DeleteTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#DeleteTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteTable</code> operation deletes a table and all of its data. After a <code>DeleteTable</code> request is received, \n         the specified table is in the <code>DELETING</code> state until Amazon Keyspaces completes the deletion. If the table \n         is in the <code>ACTIVE</code> state, you can delete it. If a table is either in the <code>CREATING</code> or <code>UPDATING</code> states, then \n         Amazon Keyspaces returns a <code>ResourceInUseException</code>. If the specified table does not exist, Amazon Keyspaces returns\n         a <code>ResourceNotFoundException</code>. If the table is already in the <code>DELETING</code> state, no error is returned.</p>"
      }
    },
    "com.amazonaws.keyspaces#DeleteTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace of the to be deleted table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteTableResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.keyspaces#EncryptionSpecification": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.keyspaces#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The encryption option specified for the table. You can choose one of the following KMS keys (KMS keys):</p>\n         <p>• <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p>\n         <p>• <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. \n               This option \n               requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input. </p>\n         <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.keyspaces#kmsKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer managed KMS key, for example <code>kms_key_identifier:ARN</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Keyspaces encrypts and decrypts the table data at rest transparently and integrates with Key Management Service for storing and managing the encryption key. \n         You can choose one of the following KMS keys (KMS keys):</p>\n         <p>• Amazon Web Services owned key - This is the default encryption type. The key is owned by Amazon Keyspaces (no additional charge). </p>\n         <p>• Customer managed key - This key is stored in your account and is created, owned, and managed by you. You have full control over the customer \n               managed key (KMS charges apply).</p>\n         <p>For more information about encryption at rest in Amazon Keyspaces, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>\n         <p>For more information about KMS, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">KMS management service concepts</a> in the <i>Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CUSTOMER_MANAGED_KMS_KEY",
            "name": "CUSTOMER_MANAGED_KMS_KEY"
          },
          {
            "value": "AWS_OWNED_KMS_KEY",
            "name": "AWS_OWNED_KMS_KEY"
          }
        ]
      }
    },
    "com.amazonaws.keyspaces#GenericString": {
      "type": "string"
    },
    "com.amazonaws.keyspaces#GetKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the name and the Amazon Resource Name (ARN) of the specified table.</p>"
      }
    },
    "com.amazonaws.keyspaces#GetKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetKeyspaceResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the keyspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the table, including the table's name and current status, the keyspace name, \n         configuration settings, and metadata.</p>\n         <p>To read table metadata using <code>GetTable</code>, <code>Select</code> action \n         permissions for the table and system tables are required to complete the operation.</p>"
      }
    },
    "com.amazonaws.keyspaces#GetTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the table is stored in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetTableResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the specified table is stored in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the specified table.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified table.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.keyspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation timestamp of the specified table.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.keyspaces#TableStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the specified table.</p>"
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.keyspaces#SchemaDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The schema definition of the specified table.</p>"
          }
        },
        "capacitySpecification": {
          "target": "com.amazonaws.keyspaces#CapacitySpecificationSummary",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <p>• <code>throughputMode:PAY_PER_REQUEST</code>\n         </p>\n         <p>• <code>throughputMode:PROVISIONED</code>\n         </p>"
          }
        },
        "encryptionSpecification": {
          "target": "com.amazonaws.keyspaces#EncryptionSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings of the specified table.</p>"
          }
        },
        "pointInTimeRecovery": {
          "target": "com.amazonaws.keyspaces#PointInTimeRecoverySummary",
          "traits": {
            "smithy.api#documentation": "<p>The point-in-time recovery status of the specified table.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.keyspaces#TimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The custom Time to Live settings of the specified table.</p>"
          }
        },
        "defaultTimeToLive": {
          "target": "com.amazonaws.keyspaces#DefaultTimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The default Time to Live settings of the specified table.</p>"
          }
        },
        "comment": {
          "target": "com.amazonaws.keyspaces#Comment",
          "traits": {
            "smithy.api#documentation": "<p>The the description of the specified table.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InternalServerException",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>Amazon Keyspaces was unable to fully process this request because of an internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.keyspaces#KeyspaceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 48
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_]{1,47}$"
      }
    },
    "com.amazonaws.keyspaces#KeyspaceSummary": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of a keyspace.</p>"
      }
    },
    "com.amazonaws.keyspaces#KeyspaceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#KeyspaceSummary"
      }
    },
    "com.amazonaws.keyspaces#KeyspacesService": {
      "type": "service",
      "version": "2022-02-10",
      "operations": [
        {
          "target": "com.amazonaws.keyspaces#CreateKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#CreateTable"
        },
        {
          "target": "com.amazonaws.keyspaces#DeleteKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#DeleteTable"
        },
        {
          "target": "com.amazonaws.keyspaces#GetKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#GetTable"
        },
        {
          "target": "com.amazonaws.keyspaces#ListKeyspaces"
        },
        {
          "target": "com.amazonaws.keyspaces#ListTables"
        },
        {
          "target": "com.amazonaws.keyspaces#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.keyspaces#RestoreTable"
        },
        {
          "target": "com.amazonaws.keyspaces#TagResource"
        },
        {
          "target": "com.amazonaws.keyspaces#UntagResource"
        },
        {
          "target": "com.amazonaws.keyspaces#UpdateTable"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Keyspaces",
          "cloudFormationName": "Cassandra",
          "arnNamespace": "cassandra",
          "cloudTrailEventSource": "cassandra.amazonaws.com",
          "endpointPrefix": "cassandra"
        },
        "aws.auth#sigv4": {
          "name": "cassandra"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Amazon Keyspaces (for Apache Cassandra) is a scalable,\n        highly available, and managed Apache Cassandra-compatible database service. Amazon Keyspaces makes it easy to migrate,\n        run, and scale Cassandra workloads in the Amazon Web Services Cloud. With just a few clicks on the Amazon Web Services Management Console or a few lines of code, \n        you can create keyspaces and tables in Amazon Keyspaces, without deploying any infrastructure or installing software. </p>\n         <p>In addition to supporting Cassandra Query Language (CQL) requests via open-source Cassandra drivers, \n        Amazon Keyspaces supports data definition language (DDL) operations to manage keyspaces and tables using the Amazon Web Services SDK and CLI. This API reference describes\n        the supported DDL operations in detail.</p>\n         <p>For the list of all supported CQL APIs, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cassandra-apis.html\">Supported Cassandra APIs, operations, and data types \n        in Amazon Keyspaces</a> in the <i>Amazon Keyspaces Developer\n              Guide</i>.</p>\n         <p>To learn how Amazon Keyspaces API actions are recorded with CloudTrail, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/logging-using-cloudtrail.html#service-name-info-in-cloudtrail\">Amazon Keyspaces information in CloudTrail</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>\n         <p>For more information about Amazon Web Services APIs, for example how to implement retry logic or how to sign Amazon Web Services API requests, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-apis.html\">Amazon Web Services APIs</a> in the <i>General Reference</i>.</p>",
        "smithy.api#title": "Amazon Keyspaces",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cassandra-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cassandra-fips.{Region}.{PartitionResult#dnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://cassandra.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://cassandra.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.keyspaces#ListKeyspaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#ListKeyspacesRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#ListKeyspacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of keyspaces.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "keyspaces"
        }
      }
    },
    "com.amazonaws.keyspaces#ListKeyspacesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as argument of a subsequent API invocation.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.keyspaces#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of keyspaces to return in the output. If the total number of keyspaces available \n         is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, \n         provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#ListKeyspacesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>"
          }
        },
        "keyspaces": {
          "target": "com.amazonaws.keyspaces#KeyspaceSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of keyspaces.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#ListTables": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#ListTablesRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#ListTablesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tables for a specified keyspace.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "tables"
        }
      }
    },
    "com.amazonaws.keyspaces#ListTablesRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.keyspaces#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of tables to return in the output. If the total number of tables available \n         is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, \n         provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>"
          }
        },
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#ListTablesResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>"
          }
        },
        "tables": {
          "target": "com.amazonaws.keyspaces#TableSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tables.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all tags associated with the specified Amazon Keyspaces resource.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "tags"
        }
      }
    },
    "com.amazonaws.keyspaces#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Keyspaces resource.</p>",
            "smithy.api#required": {}
          }
        },
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token. To resume pagination, provide the <code>NextToken</code> value as argument of a subsequent API invocation.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.keyspaces#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The total number of tags to return in the output. If the total number of tags available \n         is more than the value specified, a <code>NextToken</code> is provided in the output. To resume pagination, \n         provide the <code>NextToken</code> value as an argument of a subsequent API invocation.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.keyspaces#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the <code>NextToken</code> from a previously truncated response.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.keyspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
[...]
