{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.keyspaces#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 1000
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):cassandra:.+"
      }
    },
    "com.amazonaws.keyspaces#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AccessDeniedException",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>You don't have sufficient access permissions to perform this action. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.keyspaces#AutoScalingPolicy": {
      "type": "structure",
      "members": {
        "targetTrackingScalingPolicyConfiguration": {
          "target": "com.amazonaws.keyspaces#TargetTrackingScalingPolicyConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Auto scaling scales up capacity automatically when traffic exceeds this target utilization rate, and then back down \n         when it falls below the target. A <code>double</code> between 20 and 90.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Keyspaces supports the <code>target tracking</code> auto scaling policy. With this policy, Amazon Keyspaces auto scaling\n         ensures that the table's ratio of consumed to provisioned capacity stays at or near the target value that you specify. You \n         define the target value as a percentage between 20 and 90.</p>"
      }
    },
    "com.amazonaws.keyspaces#AutoScalingSettings": {
      "type": "structure",
      "members": {
        "autoScalingDisabled": {
          "target": "com.amazonaws.keyspaces#BooleanObject",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>This optional parameter enables auto scaling for the table if set to <code>false</code>.</p>"
          }
        },
        "minimumUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The minimum level of throughput the table should always be ready to support. The value must be between 1 \n         and the max throughput per second quota for your account (40,000 by default).</p>"
          }
        },
        "maximumUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>Manage costs by specifying the maximum amount of throughput to provision. The value must be between 1 \n         and the max throughput per second quota for your account (40,000 by default).</p>"
          }
        },
        "scalingPolicy": {
          "target": "com.amazonaws.keyspaces#AutoScalingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Keyspaces supports the <code>target tracking</code> auto scaling policy. With this policy, Amazon Keyspaces auto scaling\n      ensures that the table's ratio of consumed to provisioned capacity stays at or near the target value that you specify. You \n      define the target value as a percentage between 20 and 90.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional auto scaling settings for a table with provisioned throughput capacity.</p>\n         <p>To turn on auto scaling for a table in <code>throughputMode:PROVISIONED</code>, \n         you must specify the following parameters. </p>\n         <p>Configure the minimum and maximum capacity units. The auto scaling policy ensures that\n         capacity never goes below the minimum or above the maximum range.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>minimumUnits</code>: The minimum level of throughput the table should always be ready to support. The value must be between 1 \n            and the max throughput per second quota for your account (40,000 by default).</p>\n            </li>\n            <li>\n               <p>\n                  <code>maximumUnits</code>: The maximum level of throughput the table should always be ready to\n               support. The value must be between 1 and the max throughput per second quota for your\n               account (40,000 by default).</p>\n            </li>\n            <li>\n               <p>\n                  <code>scalingPolicy</code>: Amazon Keyspaces supports the <code>target tracking</code> scaling policy. \n           The auto scaling target is the provisioned capacity of the table. \n               </p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>targetTrackingScalingPolicyConfiguration</code>: To define the target tracking policy, you must define the target value.\n               </p>\n                     <ul>\n                        <li>\n                           <p>\n                              <code>targetValue</code>: The target utilization rate of the table. Amazon Keyspaces auto scaling ensures that the ratio of\n                        consumed capacity to provisioned capacity stays at or near this value. You\n                        define <code>targetValue</code> as a percentage. A <code>double</code> between 20 and 90. (Required)</p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>disableScaleIn</code>: A <code>boolean</code> that specifies if <code>scale-in</code> is\n                           disabled or enabled for the table. This parameter is disabled by default.\n                           To turn on <code>scale-in</code>, set the <code>boolean</code> value to\n                              <code>FALSE</code>. This means that capacity for a table can be\n                           automatically scaled down on your behalf. (Optional) </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>scaleInCooldown</code>: A cooldown period in seconds between scaling activities that lets the table stabilize \n                        before another scale in activity starts. If no value is provided, the default is 0. (Optional) </p>\n                        </li>\n                        <li>\n                           <p>\n                              <code>scaleOutCooldown</code>: A cooldown period in seconds between scaling activities that lets the table stabilize \n                        before another scale out activity starts. If no value is provided, the default is 0. (Optional) </p>\n                        </li>\n                     </ul>\n                  </li>\n               </ul>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/autoscaling.html\">Managing throughput capacity automatically with Amazon Keyspaces auto scaling</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#AutoScalingSpecification": {
      "type": "structure",
      "members": {
        "writeCapacityAutoScaling": {
          "target": "com.amazonaws.keyspaces#AutoScalingSettings",
          "traits": {
            "smithy.api#documentation": "<p>The auto scaling settings for the table's write capacity.</p>"
          }
        },
        "readCapacityAutoScaling": {
          "target": "com.amazonaws.keyspaces#AutoScalingSettings",
          "traits": {
            "smithy.api#documentation": "<p>The auto scaling settings for the table's read capacity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional auto scaling capacity settings for a table in provisioned capacity mode.</p>"
      }
    },
    "com.amazonaws.keyspaces#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.keyspaces#CapacitySpecification": {
      "type": "structure",
      "members": {
        "throughputMode": {
          "target": "com.amazonaws.keyspaces#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n            </li>\n            <li>\n               <p>\n                  <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n            <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p>\n            </li>\n         </ul>\n         <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "readCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code>\n            <code>(RCUs)</code>.</p>"
          }
        },
        "writeCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code>\n            <code>(WCUs)</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Keyspaces has two read/write capacity modes for processing reads and writes on your tables: </p>\n         <ul>\n            <li>\n               <p>On-demand (default)</p>\n            </li>\n            <li>\n               <p>Provisioned</p>\n            </li>\n         </ul>\n         <p>The read/write capacity mode that you choose controls how you are charged for read and\n         write throughput and how table throughput capacity is managed.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CapacitySpecificationSummary": {
      "type": "structure",
      "members": {
        "throughputMode": {
          "target": "com.amazonaws.keyspaces#ThroughputMode",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n            </li>\n            <li>\n               <p>\n                  <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n            <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input. </p>\n            </li>\n         </ul>\n         <p>The default is <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "readCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>read</code> operations defined in <code>read capacity units</code>\n            <code>(RCUs)</code>.</p>"
          }
        },
        "writeCapacityUnits": {
          "target": "com.amazonaws.keyspaces#CapacityUnits",
          "traits": {
            "smithy.api#documentation": "<p>The throughput capacity specified for <code>write</code> operations defined in <code>write capacity units</code>\n            <code>(WCUs)</code>.</p>"
          }
        },
        "lastUpdateToPayPerRequestTimestamp": {
          "target": "com.amazonaws.keyspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the last operation that changed the provisioned throughput capacity of a table.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n            </li>\n            <li>\n               <p>\n                  <code>throughputMode:PROVISIONED</code>.</p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CapacityUnits": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.keyspaces#ClientSideTimestamps": {
      "type": "structure",
      "members": {
        "status": {
          "target": "com.amazonaws.keyspaces#ClientSideTimestampsStatus",
          "traits": {
            "smithy.api#documentation": "<p>Shows how to enable client-side timestamps settings for the specified table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The client-side timestamp setting of the table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/client-side-timestamps-how-it-works.html\">How it works: Amazon Keyspaces client-side timestamps</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#ClientSideTimestampsStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.keyspaces#ClusteringKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name(s) of the clustering column(s).</p>",
            "smithy.api#required": {}
          }
        },
        "orderBy": {
          "target": "com.amazonaws.keyspaces#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Sets the ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional clustering column portion of your primary key determines how the data is clustered and sorted within each partition.</p>"
      }
    },
    "com.amazonaws.keyspaces#ClusteringKeyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#ClusteringKey"
      }
    },
    "com.amazonaws.keyspaces#ColumnDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>The data type of the column. For a list of available data types, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The names and data types of regular columns.</p>"
      }
    },
    "com.amazonaws.keyspaces#ColumnDefinitionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#ColumnDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.keyspaces#Comment": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional comment that describes the table.</p>"
      }
    },
    "com.amazonaws.keyspaces#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>Amazon Keyspaces couldn't complete the requested action. This error may occur if you try to \n         perform an action and the same or a different action is already\n         in progress, or if you try to create a resource that already exists. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#CreateKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#CreateKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateKeyspace</code> operation adds a new keyspace to your account. In an Amazon Web Services account, keyspace names\n      must be unique within each Region.</p>\n         <p>\n            <code>CreateKeyspace</code> is an asynchronous operation. You can monitor the creation status of the new keyspace \n          by using the <code>GetKeyspace</code> operation.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/getting-started.keyspaces.html\">Create a keyspace</a> in the <i>Amazon Keyspaces Developer\n             Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.keyspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pair tags to be attached to the keyspace.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "replicationSpecification": {
          "target": "com.amazonaws.keyspaces#ReplicationSpecification",
          "traits": {
            "smithy.api#documentation": "<p>\n         The replication specification of the keyspace includes:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>replicationStrategy</code> - the required value is <code>SINGLE_REGION</code> or \n            <code>MULTI_REGION</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>regionList</code> - if the <code>replicationStrategy</code> is <code>MULTI_REGION</code>, the\n            <code>regionList</code> requires the current Region and at least one additional Amazon Web Services Region where \n            the keyspace is going to be replicated in. The maximum number of supported replication Regions including the current\n            Region is six.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateKeyspaceResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#CreateTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#CreateTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>CreateTable</code> operation adds a new table to the specified keyspace. Within a keyspace, table names\n         must be unique.</p>\n         <p>\n            <code>CreateTable</code> is an asynchronous operation. When the request is received, the status of the table is set to <code>CREATING</code>.\n         You can monitor the creation status of the new table by using the <code>GetTable</code> \n         operation, which returns the current <code>status</code> of the table. You can start using a table when the status is <code>ACTIVE</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/getting-started.tables.html\">Create a table</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#CreateTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the table is going to be created in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.keyspaces#SchemaDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The <code>schemaDefinition</code> consists of the\n         following parameters.</p>\n         <p>For each column to be created:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>name</code>  -  The name\n            of the column.</p>\n            </li>\n            <li>\n               <p>\n                  <code>type</code>  -  An Amazon Keyspaces\n            data type. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cql.elements.html#cql.data-types\">Data types</a> in the <i>Amazon Keyspaces Developer\n                  Guide</i>.</p>\n            </li>\n         </ul>\n         <p>The primary key of the table consists of the\n                     following columns:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>partitionKeys</code> - The partition key can be a single column, or it can be a\n            compound value composed of two or more columns. The partition\n            key portion of the primary key is required and determines how\n            Amazon Keyspaces stores your data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>name</code> - The name of each partition key column.</p>\n            </li>\n            <li>\n               <p>\n                  <code>clusteringKeys</code> - The optional clustering column portion of your primary key\n            determines how the data is clustered and sorted within each\n            partition.</p>\n            </li>\n            <li>\n               <p>\n                  <code>name</code> - The name of the clustering column. </p>\n            </li>\n            <li>\n               <p>\n                  <code>orderBy</code> - Sets the\n            ascendant (<code>ASC</code>) or descendant (<code>DESC</code>) order modifier.</p>\n               <p>To define a column as static use <code>staticColumns</code>  - \n               Static columns store values that are shared by all rows in the same partition:</p>\n            </li>\n            <li>\n               <p>\n                  <code>name</code>  -  The name\n            of the column.</p>\n            </li>\n            <li>\n               <p>\n                  <code>type</code>  -  An Amazon Keyspaces\n            data type.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "comment": {
          "target": "com.amazonaws.keyspaces#Comment",
          "traits": {
            "smithy.api#documentation": "<p>This parameter allows to enter a description of the table.</p>"
          }
        },
        "capacitySpecification": {
          "target": "com.amazonaws.keyspaces#CapacitySpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the read/write throughput capacity mode for the table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>throughputMode:PAY_PER_REQUEST</code> and </p>\n            </li>\n            <li>\n               <p>\n                  <code>throughputMode:PROVISIONED</code> - Provisioned capacity mode requires\n            <code>readCapacityUnits</code> and <code>writeCapacityUnits</code> as input.</p>\n            </li>\n         </ul>\n         <p>The default is\n         <code>throughput_mode:PAY_PER_REQUEST</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/ReadWriteCapacityMode.html\">Read/write capacity modes</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "encryptionSpecification": {
          "target": "com.amazonaws.keyspaces#EncryptionSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how the encryption key for encryption at rest is managed for the table.  \n         You can choose one of the following KMS key (KMS key):</p>\n         <ul>\n            <li>\n               <p>\n                  <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p>\n            </li>\n            <li>\n               <p>\n                  <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. \n            This option \n            requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input.</p>\n            </li>\n         </ul>\n         <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "pointInTimeRecovery": {
          "target": "com.amazonaws.keyspaces#PointInTimeRecovery",
          "traits": {
            "smithy.api#documentation": "<p>Specifies if <code>pointInTimeRecovery</code> is enabled or disabled for the\n            table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>status=ENABLED</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>status=DISABLED</code>\n               </p>\n            </li>\n         </ul>\n         <p>If it's not specified, the \n               default is <code>status=DISABLED</code>.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/PointInTimeRecovery.html\">Point-in-time recovery</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.keyspaces#TimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>Enables Time to Live custom settings for the\n            table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>status:enabled</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>status:disabled</code>\n               </p>\n            </li>\n         </ul>\n         <p>The default is <code>status:disabled</code>. After\n            <code>ttl</code> is enabled, you can't disable it\n            for the table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL.html\">Expiring data by using Amazon Keyspaces Time to Live (TTL)</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "defaultTimeToLive": {
          "target": "com.amazonaws.keyspaces#DefaultTimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The default Time to Live setting in seconds for the\n         table.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/TTL-how-it-works.html#ttl-howitworks_default_ttl\">Setting the default TTL value for a table</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.keyspaces#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key-value pair tags to be\n         attached to the resource. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/tagging-keyspaces.html\">Adding tags and labels to Amazon Keyspaces resources</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>"
          }
        },
        "clientSideTimestamps": {
          "target": "com.amazonaws.keyspaces#ClientSideTimestamps",
          "traits": {
            "smithy.api#documentation": "<p>\n         Enables client-side timestamps for the table. By default, the setting is disabled. You can enable \n            client-side timestamps with the following option:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>status: \"enabled\"</code>\n               </p>\n            </li>\n         </ul>\n         <p>Once client-side timestamps are enabled for a table, this setting cannot be disabled.</p>"
          }
        },
        "autoScalingSpecification": {
          "target": "com.amazonaws.keyspaces#AutoScalingSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The optional auto scaling settings for a table in provisioned capacity mode. Specifies if the service can manage throughput capacity \n         automatically on your behalf.</p>\n         <p>Auto scaling helps you provision throughput capacity for variable workloads efficiently by increasing and decreasing \n         your table's read and write capacity automatically in response to application traffic. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/autoscaling.html\">Managing throughput capacity automatically with Amazon Keyspaces auto scaling</a> in the <i>Amazon Keyspaces Developer\n               Guide</i>.</p>\n         <p>By default, auto scaling is disabled for a table. </p>"
          }
        },
        "replicaSpecifications": {
          "target": "com.amazonaws.keyspaces#ReplicaSpecificationList",
          "traits": {
            "smithy.api#documentation": "<p>The optional Amazon Web Services Region specific settings of a multi-Region table.\n         These settings overwrite the general settings of the table for the specified Region. </p>\n         <p>For a multi-Region table in provisioned capacity mode, you can configure the table's read capacity differently for each Region's replica. The write capacity, however, \n         remains synchronized between all replicas to ensure that there's enough capacity to replicate writes across all Regions. To define the read capacity for a table \n         replica in a specific Region, you can do so by configuring the following parameters.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>region</code>: The Region where these settings are applied. (Required)</p>\n            </li>\n            <li>\n               <p>\n                  <code>readCapacityUnits</code>: The provisioned read capacity units. (Optional)</p>\n            </li>\n            <li>\n               <p>\n                  <code>readCapacityAutoScaling</code>: The read capacity auto scaling settings for the table. (Optional) </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateTableResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the table in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#CreateType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#CreateTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#CreateTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         The <code>CreateType</code> operation creates a new user-defined type in the specified keyspace.\n      </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/udts.html\">User-defined types (UDTs)</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>. </p>"
      }
    },
    "com.amazonaws.keyspaces#CreateTypeRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the keyspace.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the user-defined type.\n      </p>\n         <p>UDT names must contain 48 characters or less, must begin with an alphabetic character, and \n         can only contain alpha-numeric characters and underscores. Amazon Keyspaces converts upper case characters automatically\n         into lower case characters. </p>\n         <p>Alternatively, you can declare a UDT name in double quotes. When declaring a UDT name inside double quotes,\n         Amazon Keyspaces preserves upper casing and allows special characters.</p>\n         <p>You can also use double quotes as part of the \n         name when you create the UDT, but you must escape each double quote character with an additional \n         double quote character.</p>",
            "smithy.api#required": {}
          }
        },
        "fieldDefinitions": {
          "target": "com.amazonaws.keyspaces#FieldList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The field definitions, consisting of names and types, that define this type. \n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.keyspaces#CreateTypeResponse": {
      "type": "structure",
      "members": {
        "keyspaceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the keyspace that contains the new type in the format of an Amazon Resource Name (ARN). \n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The formatted name of the user-defined type that was created. Note that Amazon Keyspaces requires the formatted name of the type for\n         other operations, for example <code>GetType</code>.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.keyspaces#DefaultTimeToLive": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 630720000
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#DeleteKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#DeleteKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteKeyspace</code> operation deletes a keyspace and all of its tables. </p>"
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteKeyspaceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.keyspaces#DeleteTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#DeleteTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#DeleteTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>The <code>DeleteTable</code> operation deletes a table and all of its data. After a <code>DeleteTable</code> request is received, \n         the specified table is in the <code>DELETING</code> state until Amazon Keyspaces completes the deletion. If the table \n         is in the <code>ACTIVE</code> state, you can delete it. If a table is either in the <code>CREATING</code> or <code>UPDATING</code> states, then \n         Amazon Keyspaces returns a <code>ResourceInUseException</code>. If the specified table does not exist, Amazon Keyspaces returns\n         a <code>ResourceNotFoundException</code>. If the table is already in the <code>DELETING</code> state, no error is returned.</p>"
      }
    },
    "com.amazonaws.keyspaces#DeleteTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace of the to be deleted table.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#DeleteTableResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.keyspaces#DeleteType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#DeleteTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#DeleteTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#ConflictException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         The <code>DeleteType</code> operation deletes a user-defined type (UDT). You can only delete a type that is not used in a table\n         or another UDT.\n      </p>"
      }
    },
    "com.amazonaws.keyspaces#DeleteTypeRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the keyspace of the to be deleted type.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the type to be deleted.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.keyspaces#DeleteTypeResponse": {
      "type": "structure",
      "members": {
        "keyspaceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the keyspace from which the type was deleted in the format of an Amazon Resource Name (ARN).\n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the type that was deleted.\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.keyspaces#Depth": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.keyspaces#DoubleObject": {
      "type": "double",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.keyspaces#EncryptionSpecification": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.keyspaces#EncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The encryption option specified for the table. You can choose one of the following KMS keys (KMS keys):</p>\n         <ul>\n            <li>\n               <p>\n                  <code>type:AWS_OWNED_KMS_KEY</code> - This key is owned by Amazon Keyspaces. </p>\n            </li>\n            <li>\n               <p>\n                  <code>type:CUSTOMER_MANAGED_KMS_KEY</code> - This key is stored in your account and is created, owned, and managed by you. \n            This option \n            requires the <code>kms_key_identifier</code> of the KMS key in Amazon Resource Name (ARN) format as input. </p>\n            </li>\n         </ul>\n         <p>The default is <code>type:AWS_OWNED_KMS_KEY</code>. </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "kmsKeyIdentifier": {
          "target": "com.amazonaws.keyspaces#kmsKeyARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the customer managed KMS key, for example <code>kms_key_identifier:ARN</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Keyspaces encrypts and decrypts the table data at rest transparently and integrates with Key Management Service for storing and managing the encryption key. \n         You can choose one of the following KMS keys (KMS keys):</p>\n         <ul>\n            <li>\n               <p>Amazon Web Services owned key - This is the default encryption type. The key is owned by Amazon Keyspaces (no additional charge). </p>\n            </li>\n            <li>\n               <p>Customer managed key - This key is stored in your account and is created, owned, and managed by you. You have full control over the customer \n            managed key (KMS charges apply).</p>\n            </li>\n         </ul>\n         <p>For more information about encryption at rest in Amazon Keyspaces, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">Encryption at rest</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>\n         <p>For more information about KMS, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/EncryptionAtRest.html\">KMS management service concepts</a> in the <i>Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.keyspaces#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CUSTOMER_MANAGED_KMS_KEY",
            "name": "CUSTOMER_MANAGED_KMS_KEY"
          },
          {
            "value": "AWS_OWNED_KMS_KEY",
            "name": "AWS_OWNED_KMS_KEY"
          }
        ]
      }
    },
    "com.amazonaws.keyspaces#FieldDefinition": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The identifier.\n      </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 128
            },
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.keyspaces#GenericString",
          "traits": {
            "smithy.api#documentation": "<p>\n         Any supported Cassandra data type, including collections and other user-defined types that are \n         contained in the same keyspace.\n      </p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cassandra-apis.html#cassandra-data-type\">Cassandra data type support</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         A field definition consists out of a name and a type.\n      </p>"
      }
    },
    "com.amazonaws.keyspaces#FieldList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#FieldDefinition"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.keyspaces#GenericString": {
      "type": "string"
    },
    "com.amazonaws.keyspaces#GetKeyspace": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetKeyspaceRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetKeyspaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the name and the Amazon Resource Name (ARN) of the specified table.</p>"
      }
    },
    "com.amazonaws.keyspaces#GetKeyspaceRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetKeyspaceResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>Returns the ARN of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "replicationStrategy": {
          "target": "com.amazonaws.keyspaces#rs",
          "traits": {
            "smithy.api#documentation": "<p>\n         Returns the replication strategy of the keyspace. The options are <code>SINGLE_REGION</code> or <code>MULTI_REGION</code>.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "replicationRegions": {
          "target": "com.amazonaws.keyspaces#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>\n         If the <code>replicationStrategy</code> of the keyspace is <code>MULTI_REGION</code>, a list of replication Regions is returned. \n      </p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetTable": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetTableRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetTableResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the table, including the table's name and current status, the keyspace name, \n         configuration settings, and metadata.</p>\n         <p>To read table metadata using <code>GetTable</code>, the \n            IAM principal needs <code>Select</code> action \n         permissions for the table and the system keyspace.</p>"
      }
    },
    "com.amazonaws.keyspaces#GetTableAutoScalingSettings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetTableAutoScalingSettingsRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetTableAutoScalingSettingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns auto scaling related settings of the specified table in JSON format. If the table is a multi-Region table, the \n         Amazon Web Services Region specific auto scaling settings of the table are included.</p>\n         <p>Amazon Keyspaces auto scaling helps you provision throughput capacity for variable workloads efficiently by increasing and decreasing \n         your table's read and write capacity automatically in response to application traffic. For more information, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/autoscaling.html\">Managing throughput capacity automatically with Amazon Keyspaces auto scaling</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>\n         <important>\n            <p>\n               <code>GetTableAutoScalingSettings</code> can't be used as an action in an IAM policy.</p>\n         </important>\n         <p>To define permissions for <code>GetTableAutoScalingSettings</code>, you must allow the following two actions in the IAM policy statement's \n         <code>Action</code> element:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>application-autoscaling:DescribeScalableTargets</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>application-autoscaling:DescribeScalingPolicies</code>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.keyspaces#GetTableAutoScalingSettingsRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.keyspaces#GetTableAutoScalingSettingsResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the table.</p>",
            "smithy.api#required": {}
          }
        },
        "autoScalingSpecification": {
          "target": "com.amazonaws.keyspaces#AutoScalingSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The auto scaling settings of the table.</p>"
          }
        },
        "replicaSpecifications": {
          "target": "com.amazonaws.keyspaces#ReplicaAutoScalingSpecificationList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region specific settings of a multi-Region table. Returns the settings for all Regions the table is replicated in.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.keyspaces#GetTableRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the table is stored in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the table.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetTableResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace that the specified table is stored in.</p>",
            "smithy.api#required": {}
          }
        },
        "tableName": {
          "target": "com.amazonaws.keyspaces#TableName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the specified table.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified table.</p>",
            "smithy.api#required": {}
          }
        },
        "creationTimestamp": {
          "target": "com.amazonaws.keyspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation timestamp of the specified table.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.keyspaces#TableStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the specified table.</p>"
          }
        },
        "schemaDefinition": {
          "target": "com.amazonaws.keyspaces#SchemaDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The schema definition of the specified table.</p>"
          }
        },
        "capacitySpecification": {
          "target": "com.amazonaws.keyspaces#CapacitySpecificationSummary",
          "traits": {
            "smithy.api#documentation": "<p>The read/write throughput capacity mode for a table. The options are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>throughputMode:PAY_PER_REQUEST</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>throughputMode:PROVISIONED</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "encryptionSpecification": {
          "target": "com.amazonaws.keyspaces#EncryptionSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The encryption settings of the specified table.</p>"
          }
        },
        "pointInTimeRecovery": {
          "target": "com.amazonaws.keyspaces#PointInTimeRecoverySummary",
          "traits": {
            "smithy.api#documentation": "<p>The point-in-time recovery status of the specified table.</p>"
          }
        },
        "ttl": {
          "target": "com.amazonaws.keyspaces#TimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The custom Time to Live settings of the specified table.</p>"
          }
        },
        "defaultTimeToLive": {
          "target": "com.amazonaws.keyspaces#DefaultTimeToLive",
          "traits": {
            "smithy.api#documentation": "<p>The default Time to Live settings in seconds of the specified table.</p>"
          }
        },
        "comment": {
          "target": "com.amazonaws.keyspaces#Comment",
          "traits": {
            "smithy.api#documentation": "<p>The the description of the specified table.</p>"
          }
        },
        "clientSideTimestamps": {
          "target": "com.amazonaws.keyspaces#ClientSideTimestamps",
          "traits": {
            "smithy.api#documentation": "<p>\n         The client-side timestamps setting of the table.</p>"
          }
        },
        "replicaSpecifications": {
          "target": "com.amazonaws.keyspaces#ReplicaSpecificationSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>Returns the Amazon Web Services Region specific settings of all Regions a multi-Region table is replicated in.</p>"
          }
        }
      }
    },
    "com.amazonaws.keyspaces#GetType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.keyspaces#GetTypeRequest"
      },
      "output": {
        "target": "com.amazonaws.keyspaces#GetTypeResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.keyspaces#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.keyspaces#InternalServerException"
        },
        {
          "target": "com.amazonaws.keyspaces#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.keyspaces#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.keyspaces#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n         The <code>GetType</code> operation returns information about the type, for example the field definitions, the timestamp when the type\n         was last modified, the level of nesting, the status, and details about if the type is used in other types and tables.\n      </p>\n         <p>To read keyspace metadata using <code>GetType</code>, the \n         IAM principal needs <code>Select</code> action \n         permissions for the system keyspace.</p>"
      }
    },
    "com.amazonaws.keyspaces#GetTypeRequest": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the keyspace that contains this type.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>The formatted name of the type. For example, if the name of the type was created\n         without double quotes, Amazon Keyspaces saved the name in lower-case characters. If the name was\n         created in double quotes, you must use double quotes to specify the type name. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.keyspaces#GetTypeResponse": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the keyspace that contains this type.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "typeName": {
          "target": "com.amazonaws.keyspaces#TypeName",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the type.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "fieldDefinitions": {
          "target": "com.amazonaws.keyspaces#FieldList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The names and types that define this type.\n      </p>"
          }
        },
        "lastModifiedTimestamp": {
          "target": "com.amazonaws.keyspaces#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The timestamp that shows when this type was last modified.\n      </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.keyspaces#TypeStatus",
          "traits": {
            "smithy.api#documentation": "<p>\n         The status of this type.\n      </p>"
          }
        },
        "directReferringTables": {
          "target": "com.amazonaws.keyspaces#TableNameList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The tables that use this type.\n      </p>"
          }
        },
        "directParentTypes": {
          "target": "com.amazonaws.keyspaces#TypeNameList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The types that use this type.\n      </p>"
          }
        },
        "maxNestingDepth": {
          "target": "com.amazonaws.keyspaces#Depth",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>\n         The level of nesting implemented for this type.\n      </p>"
          }
        },
        "keyspaceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the keyspace that contains this type in the format of an Amazon Resource Name (ARN).\n      </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.keyspaces#IntegerObject": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.keyspaces#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Description of the error.</p>"
          }
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "InternalServerException",
          "httpResponseCode": 500
        },
        "smithy.api#documentation": "<p>Amazon Keyspaces was unable to fully process this request because of an internal server error.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.keyspaces#KeyspaceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 48
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9_]{0,47}$"
      }
    },
    "com.amazonaws.keyspaces#KeyspaceSummary": {
      "type": "structure",
      "members": {
        "keyspaceName": {
          "target": "com.amazonaws.keyspaces#KeyspaceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the keyspace.</p>",
            "smithy.api#required": {}
          }
        },
        "resourceArn": {
          "target": "com.amazonaws.keyspaces#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the keyspace in the format of an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "replicationStrategy": {
          "target": "com.amazonaws.keyspaces#rs",
          "traits": {
            "smithy.api#documentation": "<p>\n      This property specifies if a keyspace is a single Region keyspace or a multi-Region keyspace.  The available \n      values are <code>SINGLE_REGION</code> or <code>MULTI_REGION</code>.\n   </p>",
            "smithy.api#required": {}
          }
        },
        "replicationRegions": {
          "target": "com.amazonaws.keyspaces#RegionList",
          "traits": {
            "smithy.api#documentation": "<p>\n         If the <code>replicationStrategy</code> of the keyspace is <code>MULTI_REGION</code>, a list of replication Regions is returned. \n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the properties of a keyspace.</p>"
      }
    },
    "com.amazonaws.keyspaces#KeyspaceSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.keyspaces#KeyspaceSummary"
      }
    },
    "com.amazonaws.keyspaces#KeyspacesService": {
      "type": "service",
      "version": "2022-02-10",
      "operations": [
        {
          "target": "com.amazonaws.keyspaces#CreateKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#CreateTable"
        },
        {
          "target": "com.amazonaws.keyspaces#CreateType"
        },
        {
          "target": "com.amazonaws.keyspaces#DeleteKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#DeleteTable"
        },
        {
          "target": "com.amazonaws.keyspaces#DeleteType"
        },
        {
          "target": "com.amazonaws.keyspaces#GetKeyspace"
        },
        {
          "target": "com.amazonaws.keyspaces#GetTable"
        },
        {
          "target": "com.amazonaws.keyspaces#GetTableAutoScalingSettings"
        },
        {
          "target": "com.amazonaws.keyspaces#GetType"
        },
        {
          "target": "com.amazonaws.keyspaces#ListKeyspaces"
        },
        {
          "target": "com.amazonaws.keyspaces#ListTables"
        },
        {
          "target": "com.amazonaws.keyspaces#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.keyspaces#ListTypes"
        },
        {
          "target": "com.amazonaws.keyspaces#RestoreTable"
        },
        {
          "target": "com.amazonaws.keyspaces#TagResource"
        },
        {
          "target": "com.amazonaws.keyspaces#UntagResource"
        },
        {
          "target": "com.amazonaws.keyspaces#UpdateTable"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Keyspaces",
          "cloudFormationName": "Cassandra",
          "arnNamespace": "cassandra",
          "cloudTrailEventSource": "cassandra.amazonaws.com",
          "endpointPrefix": "cassandra"
        },
        "aws.auth#sigv4": {
          "name": "cassandra"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Amazon Keyspaces (for Apache Cassandra) is a scalable,\n        highly available, and managed Apache Cassandra-compatible database service. Amazon Keyspaces makes it easy to migrate,\n        run, and scale Cassandra workloads in the Amazon Web Services Cloud. With just a few clicks on the Amazon Web Services Management Console or a few lines of code, \n        you can create keyspaces and tables in Amazon Keyspaces, without deploying any infrastructure or installing software. </p>\n         <p>In addition to supporting Cassandra Query Language (CQL) requests via open-source Cassandra drivers, \n           Amazon Keyspaces supports data definition language (DDL) operations to manage keyspaces and tables using the Amazon Web Services SDK and CLI, as well as\n           infrastructure as code (IaC) services and tools such as CloudFormation and Terraform. This API reference describes\n        the supported DDL operations in detail.</p>\n         <p>For the list of all supported CQL APIs, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/cassandra-apis.html\">Supported Cassandra APIs, operations, and data types \n        in Amazon Keyspaces</a> in the <i>Amazon Keyspaces Developer\n              Guide</i>.</p>\n         <p>To learn how Amazon Keyspaces API actions are recorded with CloudTrail, see <a href=\"https://docs.aws.amazon.com/keyspaces/latest/devguide/logging-using-cloudtrail.html#service-name-info-in-cloudtrail\">Amazon Keyspaces information in CloudTrail</a> in the <i>Amazon Keyspaces Developer\n            Guide</i>.</p>\n         <p>For more information about Amazon Web Services APIs, for example how to implement retry logic or how to sign Amazon Web Services API requests, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-apis.html\">Amazon Web Services APIs</a> in the <i>General Reference</i>.</p>",
        "smithy.api#title": "Amazon Keyspaces",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cassandra-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    },
                                    "aws-us-gov"
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://cassandra.{Region}.amazonaws.com",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cassandra-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://cassandra.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://cassandra.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://cassandra.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
[...]
