{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kinesis#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies that you do not have the permissions required to perform this\n            operation.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#AddTagsToStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#AddTagsToStreamInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or updates tags for the specified Kinesis data stream. You can assign up to 50\n            tags to a data stream.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>If tags have already been assigned to the stream, <code>AddTagsToStream</code>\n            overwrites any existing tags that correspond to the specified tag keys.</p>\n         <p>\n            <a>AddTagsToStream</a> has a limit of five transactions per second per\n            account.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#AddTagsToStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesis#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of up to 10 key-value pairs to use to create the tags.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>AddTagsToStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#BooleanObject": {
      "type": "boolean"
    },
    "com.amazonaws.kinesis#ChildShard": {
      "type": "structure",
      "members": {
        "ShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the existing child shard of the current shard.</p>",
            "smithy.api#required": {}
          }
        },
        "ParentShards": {
          "target": "com.amazonaws.kinesis#ShardIdList",
          "traits": {
            "smithy.api#documentation": "<p>The current shard that is the parent of the existing child shard.</p>",
            "smithy.api#required": {}
          }
        },
        "HashKeyRange": {
          "target": "com.amazonaws.kinesis#HashKeyRange",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Output parameter of the GetRecords API. The existing child shard of the current\n            shard.</p>"
      }
    },
    "com.amazonaws.kinesis#ChildShardList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#ChildShard"
      }
    },
    "com.amazonaws.kinesis#Consumer": {
      "type": "structure",
      "members": {
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the\n            consumer.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n         <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerStatus": {
          "target": "com.amazonaws.kinesis#ConsumerStatus",
          "traits": {
            "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code>\n            states.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of the consumer you registered. This type of\n            object is returned by <a>RegisterStreamConsumer</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#ConsumerARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn):aws.*:kinesis:.*:\\d{12}:.*stream\\/[a-zA-Z0-9_.-]+\\/consumer\\/[a-zA-Z0-9_.-]+:[0-9]+$"
      }
    },
    "com.amazonaws.kinesis#ConsumerCountObject": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1000000
        }
      }
    },
    "com.amazonaws.kinesis#ConsumerDescription": {
      "type": "structure",
      "members": {
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the\n            consumer.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n         <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerStatus": {
          "target": "com.amazonaws.kinesis#ConsumerStatus",
          "traits": {
            "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code>\n            states.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream with which you registered the consumer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a registered consumer. This type of object is\n            returned by <a>DescribeStreamConsumer</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#ConsumerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#Consumer"
      }
    },
    "com.amazonaws.kinesis#ConsumerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.kinesis#ConsumerStatus": {
      "type": "enum",
      "members": {
        "CREATING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATING"
          }
        },
        "DELETING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETING"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.kinesis#CreateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#CreateStreamInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Kinesis data stream. A stream captures and transports data records that are\n            continuously emitted from different data sources or <i>producers</i>.\n            Scale-out within a stream is explicitly supported by means of shards, which are uniquely\n            identified groups of data records in a stream.</p>\n         <p>You can create your data stream using either on-demand or provisioned capacity mode.\n            Data streams with an on-demand mode require no capacity planning and automatically scale\n            to handle gigabytes of write and read throughput per minute. With the on-demand mode,\n            Kinesis Data Streams automatically manages the shards in order to provide the necessary\n            throughput. For the data streams with a provisioned mode, you must specify the number of\n            shards for the data stream. Each shard can support reads up to five transactions per\n            second, up to a maximum data read total of 2 MiB per second. Each shard can support\n            writes up to 1,000 records per second, up to a maximum data write total of 1 MiB per\n            second. If the amount of data input increases or decreases, you can add or remove\n            shards.</p>\n         <p>The stream name identifies the stream. The name is scoped to the Amazon Web Services\n            account used by the application. It is also scoped by Amazon Web Services Region. That\n            is, two streams in two different accounts can have the same name, and two streams in the\n            same account, but in two different Regions, can have the same name.</p>\n         <p>\n            <code>CreateStream</code> is an asynchronous operation. Upon receiving a\n                <code>CreateStream</code> request, Kinesis Data Streams immediately returns and sets\n            the stream status to <code>CREATING</code>. After the stream is created, Kinesis Data\n            Streams sets the stream status to <code>ACTIVE</code>. You should perform read and write\n            operations only on an <code>ACTIVE</code> stream. </p>\n         <p>You receive a <code>LimitExceededException</code> when making a\n                <code>CreateStream</code> request when you try to do one of the following:</p>\n         <ul>\n            <li>\n               <p>Have more than five streams in the <code>CREATING</code> state at any point in\n                    time.</p>\n            </li>\n            <li>\n               <p>Create more shards than are authorized for your account.</p>\n            </li>\n         </ul>\n         <p>For the default shard limit for an Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Amazon\n                Kinesis Data Streams Limits</a> in the <i>Amazon Kinesis Data Streams\n                Developer Guide</i>. To increase this limit, <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">contact Amazon Web Services\n                Support</a>.</p>\n         <p>You can use <a>DescribeStreamSummary</a> to check the stream status, which\n            is returned in <code>StreamStatus</code>.</p>\n         <p>\n            <a>CreateStream</a> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#CreateStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>A name to identify the stream. The stream name is scoped to the Amazon Web Services\n            account used by the application that creates the stream. It is also scoped by Amazon Web Services Region. That is, two streams in two different Amazon Web Services accounts\n            can have the same name. Two streams in the same Amazon Web Services account but in two\n            different Regions can also have the same name.</p>",
            "smithy.api#required": {}
          }
        },
        "ShardCount": {
          "target": "com.amazonaws.kinesis#PositiveIntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The number of shards that the stream will use. The throughput of the stream is a\n            function of the number of shards; more shards are required for greater provisioned\n            throughput.</p>"
          }
        },
        "StreamModeDetails": {
          "target": "com.amazonaws.kinesis#StreamModeDetails",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the capacity mode of the data stream. Currently, in Kinesis Data Streams,\n            you can choose between an <b>on-demand</b> capacity mode and a\n                <b>provisioned</b> capacity mode for your data\n            streams.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>CreateStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#Data": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.kinesis#DecreaseStreamRetentionPeriod": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decreases the Kinesis data stream's retention period, which is the length of time data\n            records are accessible after they are added to the stream. The minimum value of a\n            stream's retention period is 24 hours.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>This operation may result in lost data. For example, if the stream's retention period\n            is 48 hours and is decreased to 24 hours, any data already in the stream that is older\n            than 24 hours is inaccessible.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to modify.</p>"
          }
        },
        "RetentionPeriodHours": {
          "target": "com.amazonaws.kinesis#RetentionPeriodHours",
          "traits": {
            "smithy.api#documentation": "<p>The new retention period of the stream, in hours. Must be less than the current\n            retention period.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DecreaseStreamRetentionPeriod</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#DeleteStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DeleteStreamInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Kinesis data stream and all its shards and data. You must shut down any\n            applications that are operating on the stream before you delete the stream. If an\n            application attempts to operate on a deleted stream, it receives the exception\n                <code>ResourceNotFoundException</code>.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>If the stream is in the <code>ACTIVE</code> state, you can delete it. After a\n                <code>DeleteStream</code> request, the specified stream is in the\n                <code>DELETING</code> state until Kinesis Data Streams completes the\n            deletion.</p>\n         <p>\n            <b>Note:</b> Kinesis Data Streams might continue to accept\n            data read and write operations, such as <a>PutRecord</a>, <a>PutRecords</a>, and <a>GetRecords</a>, on a stream in the\n                <code>DELETING</code> state until the stream deletion is complete.</p>\n         <p>When you delete a stream, any shards in that stream are also deleted, and any tags are\n            dissociated from the stream.</p>\n         <p>You can use the <a>DescribeStreamSummary</a> operation to check the state\n            of the stream, which is returned in <code>StreamStatus</code>.</p>\n         <p>\n            <a>DeleteStream</a> has a limit of five transactions per second per\n            account.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DeleteStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to delete.</p>"
          }
        },
        "EnforceConsumerDeletion": {
          "target": "com.amazonaws.kinesis#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>If this parameter is unset (<code>null</code>) or if you set it to <code>false</code>,\n            and the stream has registered consumers, the call to <code>DeleteStream</code> fails\n            with a <code>ResourceInUseException</code>. </p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DeleteStream</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#DeregisterStreamConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DeregisterStreamConsumerInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To deregister a consumer, provide its ARN. Alternatively, you can provide the ARN of\n            the data stream and the name you gave the consumer when you registered it. You may also\n            provide all three parameters, as long as they don't conflict with each other. If you\n            don't know the name or ARN of the consumer that you want to deregister, you can use the\n                <a>ListStreamConsumers</a> operation to get a list of the descriptions of\n            all the consumers that are currently registered with a given data stream. The\n            description of a consumer contains its name and ARN.</p>\n         <p>This operation has a limit of five transactions per second per stream.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DeregisterStreamConsumerInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis data stream that the consumer is registered with. For more\n            information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and Amazon Web Services Service\n            Namespaces</a>.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave to the consumer.</p>"
          }
        },
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN returned by Kinesis Data Streams when you registered the consumer. If you\n            don't know the ARN of the consumer that you want to deregister, you can use the\n            ListStreamConsumers operation to get a list of the descriptions of all the consumers\n            that are currently registered with a given data stream. The description of a consumer\n            contains its ARN.</p>",
            "smithy.rules#contextParam": {
              "name": "ConsumerARN"
            }
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeLimitsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeLimitsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the shard limits and usage for the account.</p>\n         <p>If you update your account limits, the old limits might be returned for a few\n            minutes.</p>\n         <p>This operation has a limit of one transaction per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeLimitsInput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesis#DescribeLimitsOutput": {
      "type": "structure",
      "members": {
        "ShardLimit": {
          "target": "com.amazonaws.kinesis#ShardCountObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shards.</p>",
            "smithy.api#required": {}
          }
        },
        "OpenShardCount": {
          "target": "com.amazonaws.kinesis#ShardCountObject",
          "traits": {
            "smithy.api#documentation": "<p>The number of open shards.</p>",
            "smithy.api#required": {}
          }
        },
        "OnDemandStreamCount": {
          "target": "com.amazonaws.kinesis#OnDemandStreamCountObject",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the number of data streams with the on-demand capacity mode.</p>",
            "smithy.api#required": {}
          }
        },
        "OnDemandStreamCountLimit": {
          "target": "com.amazonaws.kinesis#OnDemandStreamCountLimitObject",
          "traits": {
            "smithy.api#documentation": "<p> The maximum number of data streams with the on-demand capacity mode. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified Kinesis data stream.</p>\n         <note>\n            <p>This API has been revised. It's highly recommended that you use the <a>DescribeStreamSummary</a> API to get a summarized description of the\n                specified Kinesis data stream and the <a>ListShards</a> API to list the\n                shards in a specified data stream and obtain information about each shard. </p>\n         </note>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>The information returned includes the stream name, Amazon Resource Name (ARN),\n            creation time, enhanced metric configuration, and shard map. The shard map is an array\n            of shard objects. For each shard object, there is the hash key and sequence number\n            ranges that the shard spans, and the IDs of any earlier shards that played in a role in\n            creating the shard. Every record ingested in the stream is identified by a sequence\n            number, which is assigned when the record is put into the stream.</p>\n         <p>You can limit the number of shards returned by each call. For more information, see\n                <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-retrieve-shards.html\">Retrieving\n                Shards from a Stream</a> in the <i>Amazon Kinesis Data Streams Developer\n                Guide</i>.</p>\n         <p>There are no guarantees about the chronological order shards returned. To process\n            shards in chronological order, use the ID of the parent shard to track the lineage to\n            the oldest shard.</p>\n         <p>This operation has a limit of 10 transactions per second per account.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        },
        "smithy.waiters#waitable": {
          "StreamExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "StreamDescription.StreamStatus",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 10
          },
          "StreamNotExists": {
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "ResourceNotFoundException"
                }
              }
            ],
            "minDelay": 10
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamConsumerInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamConsumerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To get the description of a registered consumer, provide the ARN of the consumer.\n            Alternatively, you can provide the ARN of the data stream and the name you gave the\n            consumer when you registered it. You may also provide all three parameters, as long as\n            they don't conflict with each other. If you don't know the name or ARN of the consumer\n            that you want to describe, you can use the <a>ListStreamConsumers</a>\n            operation to get a list of the descriptions of all the consumers that are currently\n            registered with a given data stream.</p>\n         <p>This operation has a limit of 20 transactions per second per stream.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumerInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis data stream that the consumer is registered with. For more\n            information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and Amazon Web Services Service\n            Namespaces</a>.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave to the consumer.</p>"
          }
        },
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN returned by Kinesis Data Streams when you registered the consumer.</p>",
            "smithy.rules#contextParam": {
              "name": "ConsumerARN"
            }
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumerOutput": {
      "type": "structure",
      "members": {
        "ConsumerDescription": {
          "target": "com.amazonaws.kinesis#ConsumerDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the details of the consumer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to describe.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.kinesis#DescribeStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shards to return in a single call. The default value is 100. If\n            you specify a value greater than 100, at most 100 results are returned.</p>"
          }
        },
        "ExclusiveStartShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the shard to start with.</p>\n         <p>Specify this parameter to indicate that you want to describe the stream starting with\n            the shard whose ID immediately follows <code>ExclusiveStartShardId</code>.</p>\n         <p>If you don't specify this parameter, the default behavior for\n                <code>DescribeStream</code> is to describe the stream starting with the first shard\n            in the stream.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>DescribeStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamDescription": {
          "target": "com.amazonaws.kinesis#StreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the stream, the stream Amazon Resource Name (ARN), an array of\n            shard objects that comprise the stream, and whether there are more shards\n            available.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>DescribeStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamSummaryInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamSummaryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a summarized description of the specified Kinesis data stream without the\n            shard list.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>The information returned includes the stream name, Amazon Resource Name (ARN), status,\n            record retention period, approximate creation time, monitoring, encryption details, and\n            open shard count. </p>\n         <p>\n            <a>DescribeStreamSummary</a> has a limit of 20 transactions per second per\n            account.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummaryInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to describe.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummaryOutput": {
      "type": "structure",
      "members": {
        "StreamDescriptionSummary": {
          "target": "com.amazonaws.kinesis#StreamDescriptionSummary",
          "traits": {
            "smithy.api#documentation": "<p>A <a>StreamDescriptionSummary</a> containing information about the\n            stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DisableEnhancedMonitoring": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DisableEnhancedMonitoringInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#EnhancedMonitoringOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables enhanced monitoring.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DisableEnhancedMonitoringInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kinesis data stream for which to disable enhanced monitoring.</p>"
          }
        },
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics to disable.</p>\n         <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" disables\n            every metric.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DisableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#EnableEnhancedMonitoring": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#EnableEnhancedMonitoringInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#EnhancedMonitoringOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables enhanced Kinesis data stream monitoring for shard-level metrics.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#EnableEnhancedMonitoringInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream for which to enable enhanced monitoring.</p>"
          }
        },
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics to enable.</p>\n         <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enables\n            every metric.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>EnableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#EncryptionType": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "KMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "KMS"
          }
        }
      }
    },
    "com.amazonaws.kinesis#EnhancedMetrics": {
      "type": "structure",
      "members": {
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics.</p>\n         <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances\n            every metric.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents enhanced metrics types.</p>"
      }
    },
    "com.amazonaws.kinesis#EnhancedMonitoringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#EnhancedMetrics"
      }
    },
    "com.amazonaws.kinesis#EnhancedMonitoringOutput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kinesis data stream.</p>"
          }
        },
        "CurrentShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>Represents the current state of the metrics that are in the enhanced state before the\n            operation.</p>"
          }
        },
        "DesiredShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>Represents the list of all the metrics that would be in the enhanced state after the\n            operation.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <a>EnableEnhancedMonitoring</a> and <a>DisableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.kinesis#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.kinesis#ExpiredIteratorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The provided iterator exceeds the maximum age allowed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#ExpiredNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token passed to the operation is expired.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#GetRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#GetRecordsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#GetRecordsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#ExpiredIteratorException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSAccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSDisabledException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSOptInRequired"
        },
        {
          "target": "com.amazonaws.kinesis#KMSThrottlingException"
        },
        {
          "target": "com.amazonaws.kinesis#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets data records from a Kinesis data stream's shard.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter in addition to the <code>ShardIterator</code> parameter.</p>\n         </note>\n         <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard\n            iterator specifies the position in the shard from which you want to start reading data\n            records sequentially. If there are no records available in the portion of the shard that\n            the iterator points to, <a>GetRecords</a> returns an empty list. It might\n            take multiple calls to get to a portion of the shard that contains records.</p>\n         <p>You can scale by provisioning multiple shards per stream while considering service\n            limits (for more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Amazon Kinesis Data Streams\n                Limits</a> in the <i>Amazon Kinesis Data Streams Developer\n                Guide</i>). Your application should have one thread per shard, each reading\n            continuously from its stream. To read from a stream continually, call <a>GetRecords</a> in a loop. Use <a>GetShardIterator</a> to get the\n            shard iterator to specify in the first <a>GetRecords</a> call. <a>GetRecords</a> returns a new shard iterator in\n                <code>NextShardIterator</code>. Specify the shard iterator returned in\n                <code>NextShardIterator</code> in subsequent calls to <a>GetRecords</a>.\n            If the shard has been closed, the shard iterator can't return more data and <a>GetRecords</a> returns <code>null</code> in <code>NextShardIterator</code>.\n            You can terminate the loop when the shard is closed, or when the shard iterator reaches\n            the record with the sequence number or other attribute that marks it as the last record\n            to process.</p>\n         <p>Each data record can be up to 1 MiB in size, and each shard can read up to 2 MiB per\n            second. You can ensure that your calls don't exceed the maximum supported size or\n            throughput by using the <code>Limit</code> parameter to specify the maximum number of\n            records that <a>GetRecords</a> can return. Consider your average record size\n            when determining this limit. The maximum number of records that can be returned per call\n            is 10,000.</p>\n         <p>The size of the data returned by <a>GetRecords</a> varies depending on the\n            utilization of the shard. It is recommended that consumer applications retrieve records\n            via the <code>GetRecords</code> command using the 5 TPS limit to remain caught up.\n            Retrieving records less frequently can lead to consumer applications falling behind. The\n            maximum size of data that <a>GetRecords</a> can return is 10 MiB. If a call\n            returns this amount of data, subsequent calls made within the next 5 seconds throw\n                <code>ProvisionedThroughputExceededException</code>. If there is insufficient\n            provisioned throughput on the stream, subsequent calls made within the next 1 second\n            throw <code>ProvisionedThroughputExceededException</code>. <a>GetRecords</a>\n            doesn't return any data when it throws an exception. For this reason, we recommend that\n            you wait 1 second between calls to <a>GetRecords</a>. However, it's possible\n            that the application will get exceptions for longer than 1 second.</p>\n         <p>To detect whether the application is falling behind in processing, you can use the\n                <code>MillisBehindLatest</code> response attribute. You can also monitor the stream\n            using CloudWatch metrics and other mechanisms (see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring.html\">Monitoring</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>).</p>\n         <p>Each Amazon Kinesis record includes a value, <code>ApproximateArrivalTimestamp</code>,\n            that is set when a stream successfully receives and stores a record. This is commonly\n            referred to as a server-side time stamp, whereas a client-side time stamp is set when a\n            data producer creates or sends the record to a stream (a data producer is any data\n            source putting data records into a stream, for example with <a>PutRecords</a>). The time stamp has millisecond precision. There are no guarantees about the time\n            stamp accuracy, or that the time stamp is always increasing. For example, records in a\n            shard or across a stream might have time stamps that are out of order.</p>\n         <p>This operation has a limit of five transactions per second per shard.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "data"
          }
        }
      }
    },
    "com.amazonaws.kinesis#GetRecordsInput": {
      "type": "structure",
      "members": {
        "ShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The position in the shard from which you want to start sequentially reading data\n            records. A shard iterator specifies this position using the sequence number of a data\n            record in the shard.</p>",
            "smithy.api#required": {}
          }
        },
        "Limit": {
          "target": "com.amazonaws.kinesis#GetRecordsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to return. Specify a value of up to 10,000. If you\n            specify a value that is greater than 10,000, <a>GetRecords</a> throws\n                <code>InvalidArgumentException</code>. The default value is 10,000.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>GetRecords</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetRecordsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#GetRecordsOutput": {
      "type": "structure",
      "members": {
        "Records": {
          "target": "com.amazonaws.kinesis#RecordList",
          "traits": {
            "smithy.api#documentation": "<p>The data records retrieved from the shard.</p>",
            "smithy.api#required": {}
          }
        },
        "NextShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The next position in the shard from which to start sequentially reading data records.\n            If set to <code>null</code>, the shard has been closed and the requested iterator does\n            not return any more data. </p>"
          }
        },
        "MillisBehindLatest": {
          "target": "com.amazonaws.kinesis#MillisBehindLatest",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds the <a>GetRecords</a> response is from the tip\n            of the stream, indicating how far behind current time the consumer is. A value of zero\n            indicates that record processing is caught up, and there are no new records to process\n            at this moment.</p>"
          }
        },
        "ChildShards": {
          "target": "com.amazonaws.kinesis#ChildShardList",
          "traits": {
            "smithy.api#documentation": "<p>The list of the current shard's child shards, returned in the <code>GetRecords</code>\n            API's response only when the end of the current shard is reached.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <a>GetRecords</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetShardIterator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#GetShardIteratorInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#GetShardIteratorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an Amazon Kinesis shard iterator. A shard iterator expires 5 minutes after it is\n            returned to the requester.</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>A shard iterator specifies the shard position from which to start reading data records\n            sequentially. The position is specified using the sequence number of a data record in a\n            shard. A sequence number is the identifier associated with every record ingested in the\n            stream, and is assigned when a record is put into the stream. Each stream has one or\n            more shards.</p>\n         <p>You must specify the shard iterator type. For example, you can set the\n                <code>ShardIteratorType</code> parameter to read exactly from the position denoted\n            by a specific sequence number by using the <code>AT_SEQUENCE_NUMBER</code> shard\n            iterator type. Alternatively, the parameter can read right after the sequence number by\n            using the <code>AFTER_SEQUENCE_NUMBER</code> shard iterator type, using sequence numbers\n            returned by earlier calls to <a>PutRecord</a>, <a>PutRecords</a>,\n                <a>GetRecords</a>, or <a>DescribeStream</a>. In the request,\n            you can specify the shard iterator type <code>AT_TIMESTAMP</code> to read records from\n            an arbitrary point in time, <code>TRIM_HORIZON</code> to cause\n                <code>ShardIterator</code> to point to the last untrimmed record in the shard in the\n            system (the oldest data record in the shard), or <code>LATEST</code> so that you always\n            read the most recent data in the shard. </p>\n         <p>When you read repeatedly from a stream, use a <a>GetShardIterator</a>\n            request to get the first shard iterator for use in your first <a>GetRecords</a> request and for subsequent reads use the shard iterator returned by the <a>GetRecords</a> request in <code>NextShardIterator</code>. A new shard\n            iterator is returned by every <a>GetRecords</a> request in\n                <code>NextShardIterator</code>, which you use in the <code>ShardIterator</code>\n            parameter of the next <a>GetRecords</a> request. </p>\n         <p>If a <a>GetShardIterator</a> request is made too often, you receive a\n                <code>ProvisionedThroughputExceededException</code>. For more information about\n            throughput limits, see <a>GetRecords</a>, and <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the\n                <i>Amazon Kinesis Data Streams Developer Guide</i>.</p>\n         <p>If the shard is closed, <a>GetShardIterator</a> returns a valid iterator\n            for the last sequence number of the shard. A shard can be closed as a result of using\n                <a>SplitShard</a> or <a>MergeShards</a>.</p>\n         <p>\n            <a>GetShardIterator</a> has a limit of five transactions per second per\n            account per open shard.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "data"
          }
        }
      }
    },
    "com.amazonaws.kinesis#GetShardIteratorInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Kinesis data stream.</p>"
          }
        },
        "ShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the Kinesis Data Streams shard to get the iterator for.</p>",
            "smithy.api#required": {}
          }
        },
        "ShardIteratorType": {
          "target": "com.amazonaws.kinesis#ShardIteratorType",
          "traits": {
            "smithy.api#documentation": "<p>Determines how the shard iterator is used to start reading data records from the\n            shard.</p>\n         <p>The following are the valid Amazon Kinesis shard iterator types:</p>\n         <ul>\n            <li>\n               <p>AT_SEQUENCE_NUMBER - Start reading from the position denoted by a specific\n                    sequence number, provided in the value\n                    <code>StartingSequenceNumber</code>.</p>\n            </li>\n            <li>\n               <p>AFTER_SEQUENCE_NUMBER - Start reading right after the position denoted by a\n                    specific sequence number, provided in the value\n                        <code>StartingSequenceNumber</code>.</p>\n            </li>\n            <li>\n               <p>AT_TIMESTAMP - Start reading from the position denoted by a specific time\n                    stamp, provided in the value <code>Timestamp</code>.</p>\n            </li>\n            <li>\n               <p>TRIM_HORIZON - Start reading at the last untrimmed record in the shard in the\n                    system, which is the oldest data record in the shard.</p>\n            </li>\n            <li>\n               <p>LATEST - Start reading just after the most recent record in the shard, so that\n                    you always read the most recent data in the shard.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "StartingSequenceNumber": {
          "target": "com.amazonaws.kinesis#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the data record in the shard from which to start reading. Used\n            with shard iterator type AT_SEQUENCE_NUMBER and AFTER_SEQUENCE_NUMBER.</p>"
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the data record from which to start reading. Used with shard\n            iterator type AT_TIMESTAMP. A time stamp is the Unix epoch date with precision in\n            milliseconds. For example, <code>2016-04-04T19:58:46.480-00:00</code> or\n                <code>1459799926.480</code>. If a record with this exact time stamp does not exist,\n            the iterator returned is for the next (later) record. If the time stamp is older than\n            the current trim horizon, the iterator returned is for the oldest untrimmed data record\n            (TRIM_HORIZON).</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>GetShardIterator</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetShardIteratorOutput": {
      "type": "structure",
      "members": {
        "ShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The position in the shard from which to start reading data records sequentially. A\n            shard iterator specifies this position using the sequence number of a data record in a\n            shard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>GetShardIterator</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#HashKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^0|([1-9]\\d{0,38})$"
      }
    },
    "com.amazonaws.kinesis#HashKeyRange": {
      "type": "structure",
      "members": {
        "StartingHashKey": {
          "target": "com.amazonaws.kinesis#HashKey",
          "traits": {
            "smithy.api#documentation": "<p>The starting hash key of the hash key range.</p>",
            "smithy.api#required": {}
          }
        },
        "EndingHashKey": {
          "target": "com.amazonaws.kinesis#HashKey",
          "traits": {
            "smithy.api#documentation": "<p>The ending hash key of the hash key range.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The range of possible hash key values for the shard, which is a set of ordered\n            contiguous positive integers.</p>"
      }
    },
    "com.amazonaws.kinesis#IncreaseStreamRetentionPeriod": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#IncreaseStreamRetentionPeriodInput"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Increases the Kinesis data stream's retention period, which is the length of time data\n            records are accessible after they are added to the stream. The maximum value of a\n            stream's retention period is 8760 hours (365 days).</p>\n         <note>\n            <p>When invoking this API, it is recommended you use the <code>StreamARN</code> input\n                parameter rather than the <code>StreamName</code> input parameter.</p>\n         </note>\n         <p>If you choose a longer stream retention period, this operation increases the time\n            period during which records that have not yet expired are accessible. However, it does\n            not make previous, expired data (older than the stream's previous retention period)\n            accessible after the operation has been called. For example, if a stream's retention\n            period is set to 24 hours and is increased to 168 hours, any data that is older than 24\n            hours remains inaccessible to consumer applications.</p>",
        "smithy.rules#staticContextParams": {
          "OperationType": {
            "value": "control"
          }
        }
      }
    },
    "com.amazonaws.kinesis#IncreaseStreamRetentionPeriodInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to modify.</p>"
          }
        },
        "RetentionPeriodHours": {
          "target": "com.amazonaws.kinesis#RetentionPeriodHours",
          "traits": {
            "smithy.api#documentation": "<p>The new retention period of the stream, in hours. Must be more than the current\n            retention period.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream.</p>",
            "smithy.rules#contextParam": {
              "name": "StreamARN"
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>IncreaseStreamRetentionPeriod</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The processing of the request failed because of an unknown error, exception, or\n            failure.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.kinesis#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used.\n            For more information, see the returned message.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSAccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ciphertext references a key that doesn't exist or that you don't have access\n            to.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSDisabledException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified customer master key (CMK) isn't\n            enabled.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSInvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the state of the specified resource isn't valid for\n            this request. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a\n                Customer Master Key</a> in the <i>Amazon Web Services Key Management\n                Service Developer Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified entity or resource can't be\n            found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSOptInRequired": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon Web Services access key ID needs a subscription for the service.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling. For more information about\n            throttling, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in\n            the <i>Amazon Web Services Key Management Service Developer\n            Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kinesis#Kinesis_20131202": {
      "type": "service",
      "version": "2013-12-02",
      "operations": [
        {
          "target": "com.amazonaws.kinesis#AddTagsToStream"
        },
        {
          "target": "com.amazonaws.kinesis#CreateStream"
        },
        {
          "target": "com.amazonaws.kinesis#DecreaseStreamRetentionPeriod"
        },
        {
          "target": "com.amazonaws.kinesis#DeleteStream"
        },
        {
          "target": "com.amazonaws.kinesis#DeregisterStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeLimits"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStream"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStreamSummary"
        },
        {
          "target": "com.amazonaws.kinesis#DisableEnhancedMonitoring"
        },
        {
          "target": "com.amazonaws.kinesis#EnableEnhancedMonitoring"
        },
        {
          "target": "com.amazonaws.kinesis#GetRecords"
        },
        {
          "target": "com.amazonaws.kinesis#GetShardIterator"
        },
        {
          "target": "com.amazonaws.kinesis#IncreaseStreamRetentionPeriod"
        },
        {
          "target": "com.amazonaws.kinesis#ListShards"
        },
        {
          "target": "com.amazonaws.kinesis#ListStreamConsumers"
        },
        {
          "target": "com.amazonaws.kinesis#ListStreams"
        },
        {
          "target": "com.amazonaws.kinesis#ListTagsForStream"
        },
        {
          "target": "com.amazonaws.kinesis#MergeShards"
        },
        {
          "target": "com.amazonaws.kinesis#PutRecord"
        },
        {
          "target": "com.amazonaws.kinesis#PutRecords"
        },
        {
          "target": "com.amazonaws.kinesis#RegisterStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#RemoveTagsFromStream"
        },
        {
          "target": "com.amazonaws.kinesis#SplitShard"
        },
        {
          "target": "com.amazonaws.kinesis#StartStreamEncryption"
        },
        {
          "target": "com.amazonaws.kinesis#StopStreamEncryption"
        },
        {
          "target": "com.amazonaws.kinesis#SubscribeToShard"
        },
        {
          "target": "com.amazonaws.kinesis#UpdateShardCount"
        },
        {
          "target": "com.amazonaws.kinesis#UpdateStreamMode"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis",
          "arnNamespace": "kinesis",
          "cloudFormationName": "Kinesis",
          "cloudTrailEventSource": "kinesis.amazonaws.com",
          "endpointPrefix": "kinesis"
        },
        "aws.auth#sigv4": {
          "name": "kinesis"
        },
        "aws.protocols#awsJson1_1": {
          "http": ["http/1.1", "h2"],
          "eventStreamHttp": ["h2"]
        },
        "smithy.api#documentation": "<fullname>Amazon Kinesis Data Streams Service API Reference</fullname>\n         <p>Amazon Kinesis Data Streams is a managed service that scales elastically for real-time\n            processing of streaming big data.</p>",
        "smithy.api#title": "Amazon Kinesis",
        "smithy.api#xmlNamespace": {
          "uri": "http://kinesis.amazonaws.com/doc/2013-12-02"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.3",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            },
            "StreamARN": {
              "required": false,
              "documentation": "The ARN of the Kinesis stream",
              "type": "String"
            },
            "OperationType": {
              "required": false,
              "documentation": "Internal parameter to distinguish between Control/Data plane API and accordingly generate control/data plane endpoint",
              "type": "String"
            },
            "ConsumerARN": {
              "required": false,
              "documentation": "The ARN of the Kinesis consumer",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "StreamARN"
                        }
                      ]
                    },
                    {
                      "fn": "not",
                      "argv": [
                        {
                          "fn": "isSet",
                          "argv": [
                            {
                              "ref": "Endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "fn": "not",
                      "argv": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            },
                            "aws-iso"
                          ]
                        }
                      ]
                    },
                    {
                      "fn": "not",
                      "argv": [
                        {
                          "fn": "stringEquals",
                          "argv": [
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "name"
                              ]
                            },
                            "aws-iso-b"
                          ]
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.parseArn",
                          "argv": [
                            {
                              "ref": "StreamARN"
                            }
                          ],
                          "assign": "arn"
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "isValidHostLabel",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "arn"
                                        },
                                        "accountId"
                                      ]
                                    },
                                    false
                                  ]
                                }
                              ],
                              "type": "tree",
                              "rules": [
                                {
                                  "conditions": [],
                                  "type": "tree",
                                  "rules": [
                                    {
                                      "conditions": [
                                        {
                                          "fn": "isValidHostLabel",
                                          "argv": [
                                            {
                                              "fn": "getAttr",
                                              "argv": [
                                                {
                                                  "ref": "arn"
                                                },
                                                "region"
                                              ]
                                            },
                                            false
                                          ]
                                        }
                                      ],
                                      "type": "tree",
                                      "rules": [
                                        {
                                          "conditions": [],
                                          "type": "tree",
                                          "rules": [
                                            {
                                              "conditions": [
                                                {
                                                  "fn": "stringEquals",
                                                  "argv": [
                                                    {
                                                      "fn": "getAttr",
                                                      "argv": [
                                                        {
                                                          "ref": "arn"
                                                        },
                                                        "service"
                                                      ]
                                                    },
                                                    "kinesis"
                                                  ]
                                                }
                                              ],
                                              "type": "tree",
                                              "rules": [
                                                {
                                                  "conditions": [],
                                                  "type": "tree",
                                                  "rules": [
                                                    {
                                                      "conditions": [
                                                        {
                                                          "fn": "getAttr",
                                                          "argv": [
                                                            {
                                                              "ref": "arn"
                                                            },
                                                            "resourceId[0]"
                                                          ],
                                                          "assign": "arnType"
                                                        },
                                                        {
                                                          "fn": "not",
                                                          "argv": [
                                                            {
                                                              "fn": "stringEquals",
                                                              "argv": [
                                                                {
                                                                  "ref": "arnType"
                                                                },
                                                                ""
                                                              ]
                                                            }
                                                          ]
                                                        }
                                                      ],
                                                      "type": "tree",
                                                      "rules": [
                                                        {
                                                          "conditions": [],
                                                          "type": "tree",
                                                          "rules": [
                                                            {
                                                              "conditions": [
                                                                {
                                                                  "fn": "stringEquals",
                                                                  "argv": [
                                                                    {
                                                                      "ref": "arnType"
                                                                    },
                                                                    "stream"
                                                                  ]
                                                                }
                                                              ],
                                                              "type": "tree",
                                                              "rules": [
                                                                {
                                                                  "conditions": [],
                                                                  "type": "tree",
                                                                  "rules": [
                                                                    {
                                                                      "conditions": [
                                                                        {
                                                                          "fn": "stringEquals",
                                                                          "argv": [
                                                                            {
                                                                              "fn": "getAttr",
                                                                              "argv": [
                                                                                {
                                                                                  "ref": "PartitionResult"
                                                                                },
                                                                                "name"
                                                                              ]
                                                                            },
                                                                            "{arn#partition}"
                                                                          ]
                                                                        }
                                                                      ],
                                                                      "type": "tree",
                                                                      "rules": [
                                                                        {
                                                                          "conditions": [],
                                                                          "type": "tree",
                                                                          "rules": [
                                                                            {
                                                                              "conditions": [
                                                                                {
                                                                                  "fn": "isSet",
                                                                                  "argv": [
                                                                                    {
                                                                                      "ref": "OperationType"
                                                                                    }
                                                                                  ]
                                                                                }
                                                                              ],
                                                                              "type": "tree",
                                                                              "rules": [
                                                                                {
                                                                                  "conditions": [],
                                                                                  "type": "tree",
                                                                                  "rules": [
                                                                                    {
                                                                                      "conditions": [
                                                                                        {
                                                                                          "fn": "booleanEquals",
                                                                                          "argv": [
                                                                                            {
                                                                                              "ref": "UseFIPS"
                                                                                            },
                                                                                            true
                                                                                          ]
                                                                                        },
                                                                                        {
                                                                                          "fn": "booleanEquals",
                                                                                          "argv": [
                                                                                            {
                                                                                              "ref": "UseDualStack"
                                                                                            },
                                                                                            true
                                                                                          ]
                                                                                        }
                                                                                      ],
[...]
