{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kinesisvideo#APIName": {
      "type": "enum",
      "members": {
        "PUT_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PUT_MEDIA"
          }
        },
        "GET_MEDIA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_MEDIA"
          }
        },
        "LIST_FRAGMENTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LIST_FRAGMENTS"
          }
        },
        "GET_MEDIA_FOR_FRAGMENT_LIST": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_MEDIA_FOR_FRAGMENT_LIST"
          }
        },
        "GET_HLS_STREAMING_SESSION_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_HLS_STREAMING_SESSION_URL"
          }
        },
        "GET_DASH_STREAMING_SESSION_URL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_DASH_STREAMING_SESSION_URL"
          }
        },
        "GET_CLIP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_CLIP"
          }
        },
        "GET_IMAGES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GET_IMAGES"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have required permissions to perform this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.kinesisvideo#AccountChannelLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have reached the maximum limit of active signaling channels for this Amazon Web Services account\n            in this region.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#AccountStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of streams created for the account is too high.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#ChannelInfo": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.kinesisvideo#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the signaling channel.</p>"
          }
        },
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the signaling channel.</p>"
          }
        },
        "ChannelType": {
          "target": "com.amazonaws.kinesisvideo#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the signaling channel.</p>"
          }
        },
        "ChannelStatus": {
          "target": "com.amazonaws.kinesisvideo#Status",
          "traits": {
            "smithy.api#documentation": "<p>Current status of the signaling channel.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kinesisvideo#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the signaling channel was created.</p>"
          }
        },
        "SingleMasterConfiguration": {
          "target": "com.amazonaws.kinesisvideo#SingleMasterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure that contains the configuration for the <code>SINGLE_MASTER</code> channel\n            type.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.kinesisvideo#Version",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the signaling channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A structure that encapsulates a signaling channel's metadata and properties.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#ChannelInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisvideo#ChannelInfo"
      }
    },
    "com.amazonaws.kinesisvideo#ChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.kinesisvideo#ChannelNameCondition": {
      "type": "structure",
      "members": {
        "ComparisonOperator": {
          "target": "com.amazonaws.kinesisvideo#ComparisonOperator",
          "traits": {
            "smithy.api#documentation": "<p>A comparison operator. Currently, you can only specify the <code>BEGINS_WITH</code>\n            operator, which finds signaling channels whose names begin with a given prefix.</p>"
          }
        },
        "ComparisonValue": {
          "target": "com.amazonaws.kinesisvideo#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>A value to compare.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An optional input parameter for the <code>ListSignalingChannels</code> API. When this\n            parameter is specified while invoking <code>ListSignalingChannels</code>, the API\n            returns only the channels that satisfy a condition specified in\n                <code>ChannelNameCondition</code>.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#ChannelProtocol": {
      "type": "enum",
      "members": {
        "WSS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WSS"
          }
        },
        "HTTPS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HTTPS"
          }
        },
        "WEBRTC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WEBRTC"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#ChannelRole": {
      "type": "enum",
      "members": {
        "MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MASTER"
          }
        },
        "VIEWER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VIEWER"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#ChannelType": {
      "type": "enum",
      "members": {
        "SINGLE_MASTER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SINGLE_MASTER"
          }
        },
        "FULL_MESH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL_MESH"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#ClientLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of\n            allowed client calls. Try making the call later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#ComparisonOperator": {
      "type": "enum",
      "members": {
        "BEGINS_WITH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BEGINS_WITH"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#ConfigurationStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#CreateSignalingChannelInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#CreateSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#AccountChannelLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a signaling channel. </p>\n         <p>\n            <code>CreateSignalingChannel</code> is an asynchronous operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.kinesisvideo#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the signaling channel that you are creating. It must be unique for each Amazon Web Services account and Amazon Web Services Region.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelType": {
          "target": "com.amazonaws.kinesisvideo#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>A type of the signaling channel that you are creating. Currently,\n                <code>SINGLE_MASTER</code> is the only supported channel type. </p>"
          }
        },
        "SingleMasterConfiguration": {
          "target": "com.amazonaws.kinesisvideo#SingleMasterConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the configuration for the <code>SINGLE_MASTER</code> channel\n            type. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesisvideo#TagOnCreateList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags (key-value pairs) that you want to associate with this channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateSignalingChannelOutput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#CreateStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#CreateStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccountStreamLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DeviceStreamLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidDeviceException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#TagsPerResourceExceededLimitException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Kinesis video stream. </p>\n         <p>When you create a new stream, Kinesis Video Streams assigns it a version number.\n            When you change the stream's metadata, Kinesis Video Streams updates the version. </p>\n         <p>\n            <code>CreateStream</code> is an asynchronous operation.</p>\n         <p>For information about how the service works, see <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/how-it-works.html\">How it Works</a>. </p>\n         <p>You must have permissions for the <code>KinesisVideo:CreateStream</code>\n            action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/createStream",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateStreamInput": {
      "type": "structure",
      "members": {
        "DeviceName": {
          "target": "com.amazonaws.kinesisvideo#DeviceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the device that is writing to the stream. </p>\n         <note>\n            <p>In the current implementation, Kinesis Video Streams does not use this\n                name.</p>\n         </note>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the stream that you are creating.</p>\n         <p>The stream name is an identifier for the stream, and must be unique for each\n            account and region.</p>",
            "smithy.api#required": {}
          }
        },
        "MediaType": {
          "target": "com.amazonaws.kinesisvideo#MediaType",
          "traits": {
            "smithy.api#documentation": "<p>The media type of the stream. Consumers of the stream can use this information when\n            processing the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media\n                Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming Requirements</a>\n            for guidelines.</p>\n         <p>Example valid values include \"video/h264\" and \"video/h264,audio/aac\".</p>\n         <p>This parameter is optional; the default value is <code>null</code> (or empty in\n            JSON).</p>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.kinesisvideo#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the Key Management Service (KMS) key that you want Kinesis Video\n            Streams to use to encrypt stream data.</p>\n         <p>If no key ID is specified, the default, Kinesis Video-managed key\n                (<code>aws/kinesisvideo</code>) is used.</p>\n         <p> For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>. </p>"
          }
        },
        "DataRetentionInHours": {
          "target": "com.amazonaws.kinesisvideo#DataRetentionInHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of hours that you want to retain the data in the stream. Kinesis Video Streams retains the data in a data store that is associated with the stream.</p>\n         <p>The default value is 0, indicating that the stream does not persist data.</p>\n         <p>When the <code>DataRetentionInHours</code> value is 0, consumers can still consume\n            the fragments that remain in the service host buffer, which has a retention time limit\n            of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from the\n            buffer when either limit is reached.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesisvideo#ResourceTags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to associate with the specified stream. Each tag is a key-value pair\n            (the value is optional).</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#CreateStreamOutput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DataEndpoint": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideo#DataRetentionChangeInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.kinesisvideo#DataRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.kinesisvideo#DeleteAfterUpload": {
      "type": "boolean"
    },
    "com.amazonaws.kinesisvideo#DeleteSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DeleteSignalingChannelInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DeleteSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specified signaling channel. <code>DeleteSignalingChannel</code> is an\n            asynchronous operation. If you don't specify the channel's current version, the most\n            recent version is deleted.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DeleteSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the signaling channel that you want to\n            delete.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kinesisvideo#Version",
          "traits": {
            "smithy.api#documentation": "<p>The current version of the signaling channel that you want to delete. You can obtain\n            the current version by invoking the <code>DescribeSignalingChannel</code> or\n                <code>ListSignalingChannels</code> API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DeleteSignalingChannelOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesisvideo#DeleteStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DeleteStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DeleteStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#VersionMismatchException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Kinesis video stream and the data contained in the stream. </p>\n         <p>This method marks the stream for deletion, and makes the data in the stream\n            inaccessible immediately.</p>\n         <p> </p>\n         <p> To ensure that you have the latest version of the stream before deleting it, you\n            can specify the stream version. Kinesis Video Streams assigns a version to each stream.\n            When you update a stream, Kinesis Video Streams assigns a new version number. To get the\n            latest stream version, use the <code>DescribeStream</code> API. </p>\n         <p>This operation requires permission for the <code>KinesisVideo:DeleteStream</code>\n            action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/deleteStream",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DeleteStreamInput": {
      "type": "structure",
      "members": {
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to delete. </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentVersion": {
          "target": "com.amazonaws.kinesisvideo#Version",
          "traits": {
            "smithy.api#documentation": "<p>Optional: The version of the stream that you want to delete. </p>\n         <p>Specify the version as a safeguard to ensure that your are deleting the correct\n            stream. To get the stream version, use the <code>DescribeStream</code> API.</p>\n         <p>If not specified, only the <code>CreationTime</code> is checked before deleting the\n            stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DeleteStreamOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesisvideo#DeletionConfig": {
      "type": "structure",
      "members": {
        "EdgeRetentionInHours": {
          "target": "com.amazonaws.kinesisvideo#EdgeRetentionInHours",
          "traits": {
            "smithy.api#documentation": "<p>The number of hours that you want to retain the data in the stream on the Edge Agent. The default value of the retention\n            time is 720 hours, which translates to 30 days.</p>"
          }
        },
        "LocalSizeConfig": {
          "target": "com.amazonaws.kinesisvideo#LocalSizeConfig",
          "traits": {
            "smithy.api#documentation": "<p>The value of the local size required in order to delete the edge configuration.</p>"
          }
        },
        "DeleteAfterUpload": {
          "target": "com.amazonaws.kinesisvideo#DeleteAfterUpload",
          "traits": {
            "smithy.api#documentation": "<p>The <code>boolean</code> value used to indicate whether or not you want to mark the media for deletion, once it has been uploaded to \n            the Kinesis Video Stream cloud. The media files can be deleted if any of the deletion configuration values are \n            set to <code>true</code>, such as when the limit for the <code>EdgeRetentionInHours</code>, or the\n            <code>MaxLocalMediaSizeInMB</code>, has been reached. \n        </p>\n         <p>Since the default value is set to <code>true</code>, configure the uploader schedule such \n            that the media files are not being deleted before they are initially uploaded to AWS cloud.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration details required to delete the connection of the stream from the Edge Agent.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#DescribeEdgeConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeEdgeConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeEdgeConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#StreamEdgeConfigurationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a stream’s edge configuration that was set using the <code>StartEdgeConfigurationUpdate</code> API. \n             Use this API to get the status of the configuration if the configuration is in sync with the \n            Edge Agent.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeEdgeConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeEdgeConfigurationInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream whose edge configuration you want to update. Specify either the <code>StreamName</code> or \n            the <code>StreamARN</code>.\n        </p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream. Specify either the <code>StreamName</code>or the <code>StreamARN</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeEdgeConfigurationOutput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream from which the edge configuration was updated.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.kinesisvideo#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which a stream’s edge configuration was first created.</p>"
          }
        },
        "LastUpdatedTime": {
          "target": "com.amazonaws.kinesisvideo#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which a stream’s edge configuration was last updated.</p>"
          }
        },
        "SyncStatus": {
          "target": "com.amazonaws.kinesisvideo#SyncStatus",
          "traits": {
            "smithy.api#documentation": "<p>The latest status of the edge configuration update.</p>"
          }
        },
        "FailedStatusDetails": {
          "target": "com.amazonaws.kinesisvideo#FailedStatusDetails",
          "traits": {
            "smithy.api#documentation": "<p>A description of the generated failure status.</p>"
          }
        },
        "EdgeConfig": {
          "target": "com.amazonaws.kinesisvideo#EdgeConfig",
          "traits": {
            "smithy.api#documentation": "<p>A description of the stream's edge configuration that will be used to sync \n            with the Edge Agent IoT Greengrass component. The Edge Agent component will run\n            on an IoT Hub Device setup at your premise.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeImageGenerationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeImageGenerationConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeImageGenerationConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the <code>ImageGenerationConfiguration</code> for a given Kinesis video stream.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeImageGenerationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeImageGenerationConfigurationInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream from which to retrieve the image generation configuration. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>.  </p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Kinesis video stream from which to retrieve the image generation configuration. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeImageGenerationConfigurationOutput": {
      "type": "structure",
      "members": {
        "ImageGenerationConfiguration": {
          "target": "com.amazonaws.kinesisvideo#ImageGenerationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the information required for the Kinesis video stream (KVS) images delivery. If this structure is null, the configuration will be deleted from the stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMappedResourceConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeMappedResourceConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeMappedResourceConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the stream. Either streamName or streamARN should be provided in the input.</p>\n         <p>Returns the most current information about the stream. The <code>streamName</code>\n            or <code>streamARN</code> should be provided in the input.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeMappedResourceConfiguration",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "MappedResourceConfigurationList",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMappedResourceConfigurationInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kinesisvideo#MappedResourceConfigurationListLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in the response.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesisvideo#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to provide in your next request, to get another batch of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMappedResourceConfigurationOutput": {
      "type": "structure",
      "members": {
        "MappedResourceConfigurationList": {
          "target": "com.amazonaws.kinesisvideo#MappedResourceConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>A structure that encapsulates, or contains, the media storage configuration properties.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesisvideo#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token that was used in the <code>NextToken</code>request to fetch the next set of results. </p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMediaStorageConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeMediaStorageConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeMediaStorageConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the channel. Specify the <code>ChannelName</code>\n            or <code>ChannelARN</code> in the input.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeMediaStorageConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMediaStorageConfigurationInput": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.kinesisvideo#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeMediaStorageConfigurationOutput": {
      "type": "structure",
      "members": {
        "MediaStorageConfiguration": {
          "target": "com.amazonaws.kinesisvideo#MediaStorageConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure that encapsulates, or contains, the media storage configuration properties.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeNotificationConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeNotificationConfigurationInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeNotificationConfigurationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the <code>NotificationConfiguration</code> for a given Kinesis video stream.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeNotificationConfiguration",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeNotificationConfigurationInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream from which to retrieve the notification configuration. You must specify either the <code>StreamName</code> or the <code>StreamARN</code>.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Kinesis video stream from where you want to retrieve the notification configuration. You must specify either the <code>StreamName</code> or the StreamARN.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeNotificationConfigurationOutput": {
      "type": "structure",
      "members": {
        "NotificationConfiguration": {
          "target": "com.amazonaws.kinesisvideo#NotificationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the information required for notifications. If the structure is null, the configuration will be deleted from the stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeSignalingChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeSignalingChannelInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeSignalingChannelOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the signaling channel. You must specify\n            either the name or the Amazon Resource Name (ARN) of the channel that you want to\n            describe.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeSignalingChannel",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeSignalingChannelInput": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.kinesisvideo#ChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the signaling channel that you want to describe.</p>"
          }
        },
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the signaling channel that you want to describe.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeSignalingChannelOutput": {
      "type": "structure",
      "members": {
        "ChannelInfo": {
          "target": "com.amazonaws.kinesisvideo#ChannelInfo",
          "traits": {
            "smithy.api#documentation": "<p>A structure that encapsulates the specified signaling channel's metadata and\n            properties.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the most current information about the specified stream. You must specify\n            either the <code>StreamName</code> or the <code>StreamARN</code>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/describeStream",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamInfo": {
          "target": "com.amazonaws.kinesisvideo#StreamInfo",
          "traits": {
            "smithy.api#documentation": "<p>An object that describes the stream.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#DestinationRegion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 9,
          "max": 14
        },
        "smithy.api#pattern": "^[a-z]+(-[a-z]+)?-[a-z]+-[0-9]$"
      }
    },
    "com.amazonaws.kinesisvideo#DestinationUri": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z_0-9]+:(//)?([^/]+)/?([^*]*)$"
      }
    },
    "com.amazonaws.kinesisvideo#DeviceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.kinesisvideo#DeviceStreamLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Not implemented.\n            </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#DurationInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 60,
          "max": 3600
        }
      }
    },
    "com.amazonaws.kinesisvideo#EdgeConfig": {
      "type": "structure",
      "members": {
        "HubDeviceArn": {
          "target": "com.amazonaws.kinesisvideo#HubDeviceArn",
          "traits": {
            "smithy.api#documentation": "<p>The \"<b>Internet of Things (IoT) Thing</b>\" Arn of the stream.</p>",
            "smithy.api#required": {}
          }
        },
        "RecorderConfig": {
          "target": "com.amazonaws.kinesisvideo#RecorderConfig",
          "traits": {
            "smithy.api#documentation": "<p>The recorder configuration consists of the local <code>MediaSourceConfig</code> details, that are used as \n            credentials to access the local media files streamed on the camera. </p>",
            "smithy.api#required": {}
          }
        },
        "UploaderConfig": {
          "target": "com.amazonaws.kinesisvideo#UploaderConfig",
          "traits": {
            "smithy.api#documentation": "<p>The uploader configuration contains the <code>ScheduleExpression</code> details that are used to\n            schedule upload jobs for the recorded media files from the Edge Agent to a Kinesis Video Stream.</p>"
          }
        },
        "DeletionConfig": {
          "target": "com.amazonaws.kinesisvideo#DeletionConfig",
          "traits": {
            "smithy.api#documentation": "<p>The deletion configuration is made up of the retention time (<code>EdgeRetentionInHours</code>) and local size configuration\n        (<code>LocalSizeConfig</code>) details that are used to make the deletion.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A description of the stream's edge configuration that will be used to sync \n            with the Edge Agent IoT Greengrass component. The Edge Agent component will run\n            on an IoT Hub Device setup at your premise.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#EdgeRetentionInHours": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 720
        }
      }
    },
    "com.amazonaws.kinesisvideo#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideo#FailedStatusDetails": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideo#Format": {
      "type": "enum",
      "members": {
        "JPEG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPEG"
          }
        },
        "PNG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PNG"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#FormatConfig": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.kinesisvideo#FormatConfigKey"
      },
      "value": {
        "target": "com.amazonaws.kinesisvideo#FormatConfigValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.kinesisvideo#FormatConfigKey": {
      "type": "enum",
      "members": {
        "JPEGQuality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "JPEGQuality"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#FormatConfigValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z_0-9]+$"
      }
    },
    "com.amazonaws.kinesisvideo#GetDataEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#GetDataEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#GetDataEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an endpoint for a specified stream for either reading or writing. Use this\n            endpoint in your application to read from the specified stream (using the\n                <code>GetMedia</code> or <code>GetMediaForFragmentList</code> operations) or write\n            to it (using the <code>PutMedia</code> operation).\n            </p>\n         <note>\n            <p>The returned endpoint does not have the API name appended. The client needs to\n                add the API name to the returned endpoint.</p>\n         </note>\n         <p>In the request, specify the stream either by <code>StreamName</code> or\n                <code>StreamARN</code>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getDataEndpoint",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#GetDataEndpointInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesisvideo#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream that you want to get the endpoint for. You must specify\n            either this parameter or a <code>StreamARN</code> in the request.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream that you want to get the endpoint for.\n            You must specify either this parameter or a <code>StreamName</code> in the request.\n        </p>"
          }
        },
        "APIName": {
          "target": "com.amazonaws.kinesisvideo#APIName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API action for which to get an endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#GetDataEndpointOutput": {
      "type": "structure",
      "members": {
        "DataEndpoint": {
          "target": "com.amazonaws.kinesisvideo#DataEndpoint",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint value. To read data from the stream or to write data to it, specify\n            this endpoint in your application.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#GetSignalingChannelEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideo#GetSignalingChannelEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideo#GetSignalingChannelEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideo#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides an endpoint for the specified signaling channel to send and receive messages.\n            This API uses the <code>SingleMasterChannelEndpointConfiguration</code> input parameter,\n            which consists of the <code>Protocols</code> and <code>Role</code> properties.</p>\n         <p>\n            <code>Protocols</code> is used to determine the communication mechanism. For example,\n            if you specify <code>WSS</code> as the protocol, this API produces a secure websocket\n            endpoint. If you specify <code>HTTPS</code> as the protocol, this API generates an HTTPS\n            endpoint. </p>\n         <p>\n            <code>Role</code> determines the messaging permissions. A <code>MASTER</code> role\n            results in this API generating an endpoint that a client can use to communicate with any\n            of the viewers on the channel. A <code>VIEWER</code> role results in this API generating\n            an endpoint that a client can use to communicate only with a <code>MASTER</code>.\n        </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getSignalingChannelEndpoint",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideo#GetSignalingChannelEndpointInput": {
      "type": "structure",
      "members": {
        "ChannelARN": {
          "target": "com.amazonaws.kinesisvideo#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the signalling channel for which you want to get an\n            endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "SingleMasterChannelEndpointConfiguration": {
          "target": "com.amazonaws.kinesisvideo#SingleMasterChannelEndpointConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A structure containing the endpoint configuration for the <code>SINGLE_MASTER</code>\n            channel type.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#GetSignalingChannelEndpointOutput": {
      "type": "structure",
      "members": {
        "ResourceEndpointList": {
          "target": "com.amazonaws.kinesisvideo#ResourceEndpointList",
          "traits": {
            "smithy.api#documentation": "<p>A list of endpoints for the specified signaling channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#HeightPixels": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 2160
        }
      }
    },
    "com.amazonaws.kinesisvideo#HubDeviceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^arn:[a-z\\d-]+:iot:[a-z0-9-]+:[0-9]+:thing/[a-zA-Z0-9_.-]+$"
      }
    },
    "com.amazonaws.kinesisvideo#ImageGenerationConfiguration": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.kinesisvideo#ConfigurationStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the <code>ContinuousImageGenerationConfigurations</code> API is enabled or disabled.</p>",
            "smithy.api#required": {}
          }
        },
        "ImageSelectorType": {
          "target": "com.amazonaws.kinesisvideo#ImageSelectorType",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the Server or Producer timestamps to use to generate the images.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationConfig": {
          "target": "com.amazonaws.kinesisvideo#ImageGenerationDestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>The structure that contains the information required to deliver images to a customer.</p>",
            "smithy.api#required": {}
          }
        },
        "SamplingInterval": {
          "target": "com.amazonaws.kinesisvideo#SamplingInterval",
          "traits": {
            "smithy.api#documentation": "<p>The time interval in milliseconds (ms) at which the images need to be generated from the stream. The minimum value that can be provided is 33 ms, \n            because a camera that generates content at 30 FPS would create a frame every 33.3 ms. If the timestamp range is less than the sampling interval, the \n            Image from the <code>StartTimestamp</code> will be returned if available. </p>",
            "smithy.api#required": {}
          }
        },
        "Format": {
          "target": "com.amazonaws.kinesisvideo#Format",
          "traits": {
            "smithy.api#documentation": "<p>The accepted image format.</p>",
            "smithy.api#required": {}
          }
        },
        "FormatConfig": {
          "target": "com.amazonaws.kinesisvideo#FormatConfig",
          "traits": {
            "smithy.api#documentation": "<p>The list of a key-value pair structure that contains extra parameters that can be applied when the image is generated.\n            The <code>FormatConfig</code> key is the <code>JPEGQuality</code>, which indicates the JPEG quality key to be used to generate the image. \n            The <code>FormatConfig</code> value accepts ints from 1 to 100. If the value is 1, the image will be generated with less quality and the best compression. \n            If the value is 100, the image will be generated with the best quality and less compression. If no value is provided, the default value of the <code>JPEGQuality</code>\n            key will be set to 80.</p>"
          }
        },
        "WidthPixels": {
          "target": "com.amazonaws.kinesisvideo#WidthPixels",
          "traits": {
            "smithy.api#documentation": "<p>The width of the output image that is used in conjunction with the <code>HeightPixels</code> parameter. When both <code>WidthPixels</code> and \n            <code>HeightPixels</code> parameters are provided, the image will be stretched to fit the specified aspect ratio. If only the <code>WidthPixels</code> parameter is \n            provided, its original aspect ratio will be used to calculate the <code>HeightPixels</code> ratio. If neither parameter is provided, the original image size will be returned.</p>"
          }
        },
        "HeightPixels": {
          "target": "com.amazonaws.kinesisvideo#HeightPixels",
          "traits": {
            "smithy.api#documentation": "<p>The height of the output image that is used in conjunction with the <code>WidthPixels</code> parameter. When both\n            <code>HeightPixels</code> and <code>WidthPixels</code> parameters are provided, the image will be stretched to fit the specified aspect ratio. \n            If only the <code>HeightPixels</code> parameter is provided, its original aspect ratio will be used to calculate the <code>WidthPixels</code> ratio.\n            If neither parameter is provided, the original image size will be returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure that contains the information required for the KVS images delivery. If null, the configuration will be deleted from the stream.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#ImageGenerationDestinationConfig": {
      "type": "structure",
      "members": {
        "Uri": {
          "target": "com.amazonaws.kinesisvideo#DestinationUri",
          "traits": {
            "smithy.api#documentation": "<p>The Uniform Resource Identifier (URI) that identifies where the images will be delivered.</p>",
            "smithy.api#required": {}
          }
        },
        "DestinationRegion": {
          "target": "com.amazonaws.kinesisvideo#DestinationRegion",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region of the S3 bucket where images will be delivered. This <code>DestinationRegion</code> must match the Region where the stream is located.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The structure that contains the information required to deliver images to a customer.</p>"
      }
    },
    "com.amazonaws.kinesisvideo#ImageSelectorType": {
      "type": "enum",
      "members": {
        "SERVER_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_TIMESTAMP"
          }
        },
        "PRODUCER_TIMESTAMP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PRODUCER_TIMESTAMP"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideo#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The value for this input parameter is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#InvalidDeviceException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Not implemented.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#InvalidResourceFormatException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideo#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The format of the <code>StreamARN</code> is invalid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideo#KinesisVideo_20170930": {
      "type": "service",
      "version": "2017-09-30",
      "operations": [
        {
          "target": "com.amazonaws.kinesisvideo#CreateSignalingChannel"
        },
        {
          "target": "com.amazonaws.kinesisvideo#CreateStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DeleteSignalingChannel"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DeleteStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeEdgeConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeImageGenerationConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeMappedResourceConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeMediaStorageConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeSignalingChannel"
        },
        {
          "target": "com.amazonaws.kinesisvideo#DescribeStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#GetDataEndpoint"
        },
        {
          "target": "com.amazonaws.kinesisvideo#GetSignalingChannelEndpoint"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ListSignalingChannels"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ListStreams"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.kinesisvideo#ListTagsForStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#StartEdgeConfigurationUpdate"
        },
        {
          "target": "com.amazonaws.kinesisvideo#TagResource"
        },
        {
          "target": "com.amazonaws.kinesisvideo#TagStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UntagResource"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UntagStream"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateDataRetention"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateImageGenerationConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateMediaStorageConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateNotificationConfiguration"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateSignalingChannel"
        },
        {
          "target": "com.amazonaws.kinesisvideo#UpdateStream"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis Video",
          "arnNamespace": "kinesisvideo",
          "cloudFormationName": "KinesisVideo",
          "cloudTrailEventSource": "kinesisvideo.amazonaws.com",
          "endpointPrefix": "kinesisvideo"
        },
        "aws.auth#sigv4": {
          "name": "kinesisvideo"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p></p>",
        "smithy.api#title": "Amazon Kinesis Video Streams",
        "smithy.api#xmlNamespace": {
          "uri": "https://kinesisvideo.amazonaws.com/doc/2017-09-30/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://kinesisvideo-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://kinesisvideo-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://kinesisvideo.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://kinesisvideo.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://kinesisvideo-fips.ap-east-1.api.aws"
                }
              },
              "params": {
[...]
