{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kinesis#AddTagsToStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#AddTagsToStreamInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds or updates tags for the specified Kinesis data stream. Each time you invoke\n            this operation, you can specify up to 10 tags. If you want to add more than 10 tags to\n            your stream, you can invoke this operation multiple times. In total, each stream can\n            have up to 50 tags.</p>\n        <p>If tags have already been assigned to the stream, <code>AddTagsToStream</code> overwrites\n            any existing tags that correspond to the specified tag keys.</p>\n        <p>\n            <a>AddTagsToStream</a> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#AddTagsToStreamInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesis#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A set of up to 10 key-value pairs to use to create the tags.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>AddTagsToStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kinesis#Consumer": {
      "type": "structure",
      "members": {
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n        <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the consumer.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerStatus": {
          "target": "com.amazonaws.kinesis#ConsumerStatus",
          "traits": {
            "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code> states.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of the consumer you registered.</p>"
      }
    },
    "com.amazonaws.kinesis#ConsumerARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(arn):aws.*:kinesis:.*:\\d{12}:.*stream\\/[a-zA-Z0-9_.-]+\\/consumer\\/[a-zA-Z0-9_.-]+:[0-9]+"
      }
    },
    "com.amazonaws.kinesis#ConsumerCountObject": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1000000
        }
      }
    },
    "com.amazonaws.kinesis#ConsumerDescription": {
      "type": "structure",
      "members": {
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>When you register a consumer, Kinesis Data Streams generates an ARN for it. You need\n            this ARN to be able to call <a>SubscribeToShard</a>.</p>\n        <p>If you delete a consumer and then create a new one with the same name, it won't have\n            the same ARN. That's because consumer ARNs contain the creation timestamp. This is\n            important to keep in mind if you have IAM policies that reference consumer ARNs.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p></p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the consumer is something you choose when you register the consumer.</p>",
            "smithy.api#required": {}
          }
        },
        "ConsumerStatus": {
          "target": "com.amazonaws.kinesis#ConsumerStatus",
          "traits": {
            "smithy.api#documentation": "<p>A consumer can't read data while in the <code>CREATING</code> or <code>DELETING</code>\n            states.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the stream with which you registered the consumer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that represents the details of a registered consumer.</p>"
      }
    },
    "com.amazonaws.kinesis#ConsumerList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#Consumer"
      }
    },
    "com.amazonaws.kinesis#ConsumerName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.kinesis#ConsumerStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.kinesis#CreateStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#CreateStreamInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Kinesis data stream. A stream captures and transports data records that\n            are continuously emitted from different data sources or <i>producers</i>.\n            Scale-out within a stream is explicitly supported by means of shards, which are uniquely\n            identified groups of data records in a stream.</p>\n        <p>You specify and control the number of shards that a stream is composed of. Each\n            shard can support reads up to five transactions per second, up to a maximum data read\n            total of 2 MB per second. Each shard can support writes up to 1,000 records per second,\n            up to a maximum data write total of 1 MB per second. If the amount of data input\n            increases or decreases, you can add or remove shards.</p>\n        <p>The stream name identifies the stream. The name is scoped to the AWS account used\n            by the application. It is also scoped by AWS Region. That is, two streams in two\n            different accounts can have the same name, and two streams in the same account, but in\n            two different Regions, can have the same name.</p>\n        <p>\n            <code>CreateStream</code> is an asynchronous operation. Upon receiving a\n                <code>CreateStream</code> request, Kinesis Data Streams immediately returns and sets\n            the stream status to <code>CREATING</code>. After the stream is created, Kinesis Data\n            Streams sets the stream status to <code>ACTIVE</code>. You should perform read and write\n            operations only on an <code>ACTIVE</code> stream. </p>\n        <p>You receive a <code>LimitExceededException</code> when making a\n                <code>CreateStream</code> request when you try to do one of the following:</p>\n        <ul>\n            <li>\n               <p>Have more than five streams in the <code>CREATING</code> state at any point in\n                time.</p>\n            </li>\n            <li>\n               <p>Create more shards than are authorized for your account.</p>\n            </li>\n         </ul>\n        <p>For the default shard limit for an AWS account, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Amazon Kinesis Data Streams\n                Limits</a> in the <i>Amazon Kinesis Data Streams Developer\n                Guide</i>. To increase this limit, <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">contact AWS\n            Support</a>.</p>\n        <p>You can use <code>DescribeStream</code> to check the stream status, which is returned in\n                <code>StreamStatus</code>.</p>\n        <p>\n            <a>CreateStream</a> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#CreateStreamInput": {
      "type": "structure",
      "members": {
        "ShardCount": {
          "target": "com.amazonaws.kinesis#PositiveIntegerObject",
          "traits": {
            "smithy.api#documentation": "<p>The number of shards that the stream will use. The throughput of the stream is a function of the number of shards; more shards are required for greater provisioned throughput.</p>\n        <p>DefaultShardLimit;</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>A name to identify the stream. The stream name is scoped to the AWS account used by\n            the application that creates the stream. It is also scoped by AWS Region. That is, two\n            streams in two different AWS accounts can have the same name. Two streams in the same\n            AWS account but in two different Regions can also have the same name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>CreateStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#Data": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.kinesis#DecreaseStreamRetentionPeriod": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decreases the Kinesis data stream's retention period, which is the length of time\n            data records are accessible after they are added to the stream. The minimum value of a\n            stream's retention period is 24 hours.</p>\n        <p>This operation may result in lost data. For example, if the stream's retention period is 48 hours and is decreased to 24 hours, any data already in the stream that is older than 24 hours is inaccessible.</p>"
      }
    },
    "com.amazonaws.kinesis#DecreaseStreamRetentionPeriodInput": {
      "type": "structure",
      "members": {
        "RetentionPeriodHours": {
          "target": "com.amazonaws.kinesis#RetentionPeriodHours",
          "traits": {
            "smithy.api#documentation": "<p>The new retention period of the stream, in hours. Must be less than the current retention period.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to modify.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DecreaseStreamRetentionPeriod</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#DeleteStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DeleteStreamInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Kinesis data stream and all its shards and data. You must shut down any\n            applications that are operating on the stream before you delete the stream. If an\n            application attempts to operate on a deleted stream, it receives the exception\n                <code>ResourceNotFoundException</code>.</p>\n        <p>If the stream is in the <code>ACTIVE</code> state, you can delete it. After a\n                <code>DeleteStream</code> request, the specified stream is in the\n                <code>DELETING</code> state until Kinesis Data Streams completes the\n            deletion.</p>\n        <p>\n            <b>Note:</b> Kinesis Data Streams might continue to accept\n            data read and write operations, such as <a>PutRecord</a>, <a>PutRecords</a>, and <a>GetRecords</a>, on a stream in the\n                <code>DELETING</code> state until the stream deletion is complete.</p>\n        <p>When you delete a stream, any shards in that stream are also deleted, and any tags are dissociated from the stream.</p>\n        <p>You can use the <a>DescribeStream</a> operation to check the state of the stream, which\n            is returned in <code>StreamStatus</code>.</p>\n        <p>\n            <a>DeleteStream</a> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#DeleteStreamInput": {
      "type": "structure",
      "members": {
        "EnforceConsumerDeletion": {
          "target": "com.amazonaws.kinesis#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>If this parameter is unset (<code>null</code>) or if you set it to <code>false</code>,\n            and the stream has registered consumers, the call to <code>DeleteStream</code> fails\n            with a <code>ResourceInUseException</code>. </p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to delete.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DeleteStream</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#DeregisterStreamConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DeregisterStreamConsumerInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To deregister a consumer, provide its ARN. Alternatively, you can provide the ARN of\n            the data stream and the name you gave the consumer when you registered it. You may also\n            provide all three parameters, as long as they don't conflict with each other. If you\n            don't know the name or ARN of the consumer that you want to deregister, you can use the\n                <a>ListStreamConsumers</a> operation to get a list of the descriptions of\n            all the consumers that are currently registered with a given data stream. The\n            description of a consumer contains its name and ARN.</p>\n        <p>This operation has a limit of five transactions per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#DeregisterStreamConsumerInput": {
      "type": "structure",
      "members": {
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN returned by Kinesis Data Streams when you registered the consumer. If you\n            don't know the ARN of the consumer that you want to deregister, you can use the\n            ListStreamConsumers operation to get a list of the descriptions of all the consumers\n            that are currently registered with a given data stream. The description of a consumer\n            contains its ARN.</p>"
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave to the consumer.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis data stream that the consumer is registered with. For more\n            information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeLimits": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeLimitsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeLimitsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the shard limits and usage for the account.</p>\n        <p>If you update your account limits, the old limits might be returned for a few minutes.</p>\n        <p>This operation has a limit of one transaction per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeLimitsInput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesis#DescribeLimitsOutput": {
      "type": "structure",
      "members": {
        "OpenShardCount": {
          "target": "com.amazonaws.kinesis#ShardCountObject",
          "traits": {
            "smithy.api#documentation": "<p>The number of open shards.</p>",
            "smithy.api#required": {}
          }
        },
        "ShardLimit": {
          "target": "com.amazonaws.kinesis#ShardCountObject",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shards.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the specified Kinesis data stream.</p>\n        \n        <p>The information returned includes the stream name, Amazon Resource Name (ARN), creation \n            time, enhanced metric configuration, and shard map. The shard map is an array of shard objects. \n            For each shard object, there is the hash key and sequence number ranges that the shard spans, \n            and the IDs of any earlier shards that played in a role in creating the shard. Every record \n            ingested in the stream is identified by a sequence number, which is assigned when the record \n            is put into the stream.</p>\n        \n        <p>You can limit the number of shards returned by each call. For more information, see\n            <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-retrieve-shards.html\">Retrieving\n                Shards from a Stream</a> in the <i>Amazon Kinesis Data Streams Developer\n                    Guide</i>.</p>\n        <p>There are no guarantees about the chronological order shards returned. To process shards in chronological\n            order, use the ID of the parent shard to track the lineage to the oldest shard.</p>\n        <p>This operation has a limit of 10 transactions per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamConsumerInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamConsumerOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>To get the description of a registered consumer, provide the ARN of the consumer.\n            Alternatively, you can provide the ARN of the data stream and the name you gave the\n            consumer when you registered it. You may also provide all three parameters, as long as\n            they don't conflict with each other. If you don't know the name or ARN of the consumer\n            that you want to describe, you can use the <a>ListStreamConsumers</a>\n            operation to get a list of the descriptions of all the consumers that are currently\n            registered with a given data stream.</p>\n        <p>This operation has a limit of 20 transactions per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumerInput": {
      "type": "structure",
      "members": {
        "ConsumerARN": {
          "target": "com.amazonaws.kinesis#ConsumerARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN returned by Kinesis Data Streams when you registered the consumer.</p>"
          }
        },
        "ConsumerName": {
          "target": "com.amazonaws.kinesis#ConsumerName",
          "traits": {
            "smithy.api#documentation": "<p>The name that you gave to the consumer.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis data stream that the consumer is registered with. For more\n            information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamConsumerOutput": {
      "type": "structure",
      "members": {
        "ConsumerDescription": {
          "target": "com.amazonaws.kinesis#ConsumerDescription",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents the details of the consumer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the shard to start with.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.kinesis#DescribeStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shards to return in a single call. The default value is 100. \n            If you specify a value greater than 100, at most 100 shards are returned.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to describe.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>DescribeStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamOutput": {
      "type": "structure",
      "members": {
        "StreamDescription": {
          "target": "com.amazonaws.kinesis#StreamDescription",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the stream, the stream Amazon Resource Name (ARN), an array\n            of shard objects that comprise the stream, and whether there are more shards\n            available.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>DescribeStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummary": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DescribeStreamSummaryInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#DescribeStreamSummaryOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a summarized description of the specified Kinesis data stream without the\n            shard list.</p>\n        <p>The information returned includes the stream name, Amazon Resource Name (ARN), status, record retention period, approximate creation \n            time, monitoring, encryption details, and open shard count. </p>"
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummaryInput": {
      "type": "structure",
      "members": {
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DescribeStreamSummaryOutput": {
      "type": "structure",
      "members": {
        "StreamDescriptionSummary": {
          "target": "com.amazonaws.kinesis#StreamDescriptionSummary",
          "traits": {
            "smithy.api#documentation": "<p>A <a>StreamDescriptionSummary</a> containing information about the stream.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesis#DisableEnhancedMonitoring": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#DisableEnhancedMonitoringInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#EnhancedMonitoringOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Disables enhanced monitoring.</p>"
      }
    },
    "com.amazonaws.kinesis#DisableEnhancedMonitoringInput": {
      "type": "structure",
      "members": {
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics to disable.</p>\n        <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" disables\n            every metric.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kinesis data stream for which to disable enhanced\n            monitoring.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>DisableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#EnableEnhancedMonitoring": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#EnableEnhancedMonitoringInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#EnhancedMonitoringOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Enables enhanced Kinesis data stream monitoring for shard-level metrics.</p>"
      }
    },
    "com.amazonaws.kinesis#EnableEnhancedMonitoringInput": {
      "type": "structure",
      "members": {
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics to enable.</p>\n        <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enables\n            every metric.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream for which to enable enhanced monitoring.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>EnableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#EncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "KMS",
            "name": "KMS"
          }
        ]
      }
    },
    "com.amazonaws.kinesis#EnhancedMetrics": {
      "type": "structure",
      "members": {
        "ShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>List of shard-level metrics.</p>\n        <p>The following are the valid shard-level metrics. The value \"<code>ALL</code>\" enhances\n            every metric.</p>\n        <ul>\n            <li>\n                <p>\n                  <code>IncomingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IncomingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingBytes</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>OutgoingRecords</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>WriteProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ReadProvisionedThroughputExceeded</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>IteratorAgeMilliseconds</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>ALL</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring-with-cloudwatch.html\">Monitoring the Amazon\n                Kinesis Data Streams Service with Amazon CloudWatch</a> in the <i>Amazon\n                Kinesis Data Streams Developer Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents enhanced metrics types.</p>"
      }
    },
    "com.amazonaws.kinesis#EnhancedMonitoringList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#EnhancedMetrics"
      }
    },
    "com.amazonaws.kinesis#EnhancedMonitoringOutput": {
      "type": "structure",
      "members": {
        "CurrentShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>Represents the current state of the metrics that are in the enhanced state before the operation.</p>"
          }
        },
        "DesiredShardLevelMetrics": {
          "target": "com.amazonaws.kinesis#MetricsNameList",
          "traits": {
            "smithy.api#documentation": "<p>Represents the list of all the metrics that would be in the enhanced state after the operation.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kinesis data stream.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <a>EnableEnhancedMonitoring</a> and\n                <a>DisableEnhancedMonitoring</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#ErrorCode": {
      "type": "string"
    },
    "com.amazonaws.kinesis#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.kinesis#ExpiredIteratorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The provided iterator exceeds the maximum age allowed.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#ExpiredNextTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The pagination token passed to the operation is expired.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#GetRecords": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#GetRecordsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#GetRecordsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#ExpiredIteratorException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSAccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSDisabledException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSOptInRequired"
        },
        {
          "target": "com.amazonaws.kinesis#KMSThrottlingException"
        },
        {
          "target": "com.amazonaws.kinesis#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets data records from a Kinesis data stream's shard.</p>\n        <p>Specify a shard iterator using the <code>ShardIterator</code> parameter. The shard\n            iterator specifies the position in the shard from which you want to start reading data\n            records sequentially. If there are no records available in the portion of the shard that\n            the iterator points to, <a>GetRecords</a> returns an empty list. It might\n            take multiple calls to get to a portion of the shard that contains records.</p>\n        <p>You can scale by provisioning multiple shards per stream while considering service\n            limits (for more information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Amazon Kinesis Data Streams\n                Limits</a> in the <i>Amazon Kinesis Data Streams Developer\n                    Guide</i>). Your application should have one thread per shard, each reading\n            continuously from its stream. To read from a stream continually, call <a>GetRecords</a> in a loop. Use <a>GetShardIterator</a> to get the\n            shard iterator to specify in the first <a>GetRecords</a> call. <a>GetRecords</a> returns a new shard iterator in\n            <code>NextShardIterator</code>. Specify the shard iterator returned in\n            <code>NextShardIterator</code> in subsequent calls to <a>GetRecords</a>.\n            If the shard has been closed, the shard iterator can't return more data and <a>GetRecords</a> returns <code>null</code> in <code>NextShardIterator</code>.\n            You can terminate the loop when the shard is closed, or when the shard iterator reaches\n            the record with the sequence number or other attribute that marks it as the last record\n            to process.</p>\n        <p>Each data record can be up to 1 MiB in size, and each shard can read up to 2 MiB\n            per second. You can ensure that your calls don't exceed the maximum supported size or\n            throughput by using the <code>Limit</code> parameter to specify the maximum number of\n            records that <a>GetRecords</a> can return. Consider your average record size\n            when determining this limit. The maximum number of records that can be returned per call\n            is 10,000.</p>\n        \n        <p>The size of the data returned by <a>GetRecords</a> varies depending on\n            the utilization of the shard. The maximum size of data that <a>GetRecords</a>\n            can return is 10 MiB. If a call returns this amount of data, subsequent calls made\n            within the next 5 seconds throw <code>ProvisionedThroughputExceededException</code>. If\n            there is insufficient provisioned throughput on the stream, subsequent calls made within\n            the next 1 second throw <code>ProvisionedThroughputExceededException</code>. <a>GetRecords</a> doesn't return any data when it throws an exception. For this\n            reason, we recommend that you wait 1 second between calls to <a>GetRecords</a>. However, it's possible that the application will get exceptions for longer than 1\n            second.</p>\n        <p>To detect whether the application is falling behind in processing, you can use the\n            <code>MillisBehindLatest</code> response attribute. You can also monitor the stream\n            using CloudWatch metrics and other mechanisms (see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/monitoring.html\">Monitoring</a> in the <i>Amazon\n                    Kinesis Data Streams Developer Guide</i>).</p>\n        <p>Each Amazon Kinesis record includes a value,\n            <code>ApproximateArrivalTimestamp</code>, that is set when a stream successfully\n            receives and stores a record. This is commonly referred to as a server-side time stamp,\n            whereas a client-side time stamp is set when a data producer creates or sends the record\n            to a stream (a data producer is any data source putting data records into a stream, for\n            example with <a>PutRecords</a>). The time stamp has millisecond precision.\n            There are no guarantees about the time stamp accuracy, or that the time stamp is always\n            increasing. For example, records in a shard or across a stream might have time stamps\n            that are out of order.</p>\n        <p>This operation has a limit of five transactions per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#GetRecordsInput": {
      "type": "structure",
      "members": {
        "Limit": {
          "target": "com.amazonaws.kinesis#GetRecordsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of records to return. Specify a value of up to 10,000. If you specify\n            a value that is greater than 10,000, <a>GetRecords</a> throws\n            <code>InvalidArgumentException</code>.</p>"
          }
        },
        "ShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The position in the shard from which you want to start sequentially reading data records. A shard iterator specifies this position using the sequence number of a data record in the shard.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>GetRecords</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetRecordsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#GetRecordsOutput": {
      "type": "structure",
      "members": {
        "MillisBehindLatest": {
          "target": "com.amazonaws.kinesis#MillisBehindLatest",
          "traits": {
            "smithy.api#documentation": "<p>The number of milliseconds the <a>GetRecords</a> response is from the\n            tip of the stream, indicating how far behind current time the consumer is. A value of\n            zero indicates that record processing is caught up, and there are no new records to\n            process at this moment.</p>"
          }
        },
        "NextShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The next position in the shard from which to start sequentially reading data\n            records. If set to <code>null</code>, the shard has been closed and the requested\n            iterator does not return any more data. </p>"
          }
        },
        "Records": {
          "target": "com.amazonaws.kinesis#RecordList",
          "traits": {
            "smithy.api#documentation": "<p>The data records retrieved from the shard.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <a>GetRecords</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetShardIterator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#GetShardIteratorInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#GetShardIteratorOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets an Amazon Kinesis shard iterator. A shard iterator expires 5 minutes after it\n            is returned to the requester.</p>\n        <p>A shard iterator specifies the shard position from which to start reading data records sequentially. The position is specified using the sequence number of a data record in a shard. A sequence number is the identifier associated with every record ingested in the stream, and is assigned when a record is put into the stream. Each stream has one or more shards.</p>\n        <p>You must specify the shard iterator type. For example, you can set the\n            <code>ShardIteratorType</code> parameter to read exactly from the position denoted\n            by a specific sequence number by using the <code>AT_SEQUENCE_NUMBER</code> shard\n            iterator type. Alternatively, the parameter can read right after the sequence number by\n            using the <code>AFTER_SEQUENCE_NUMBER</code> shard iterator type, using sequence numbers\n            returned by earlier calls to <a>PutRecord</a>, <a>PutRecords</a>,\n            <a>GetRecords</a>, or <a>DescribeStream</a>. In the request,\n            you can specify the shard iterator type <code>AT_TIMESTAMP</code> to read records from\n            an arbitrary point in time, <code>TRIM_HORIZON</code> to cause\n            <code>ShardIterator</code> to point to the last untrimmed record in the shard in the\n            system (the oldest data record in the shard), or <code>LATEST</code> so that you always\n            read the most recent data in the shard. </p>\n        <p>When you read repeatedly from a stream, use a <a>GetShardIterator</a> request to get the\n            first shard iterator for use in your first <a>GetRecords</a> request and for subsequent\n            reads use the shard iterator returned by the <a>GetRecords</a> request in\n            <code>NextShardIterator</code>. A new shard iterator is returned by every\n            <a>GetRecords</a> request in <code>NextShardIterator</code>, which you use in the\n            <code>ShardIterator</code> parameter of the next <a>GetRecords</a> request. </p>\n        <p>If a <a>GetShardIterator</a> request is made too often, you receive a\n            <code>ProvisionedThroughputExceededException</code>. For more information about\n            throughput limits, see <a>GetRecords</a>, and <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the\n            <i>Amazon Kinesis Data Streams Developer Guide</i>.</p>\n        <p>If the shard is closed, <a>GetShardIterator</a> returns a valid iterator\n            for the last sequence number of the shard. A shard can be closed as a result of using\n            <a>SplitShard</a> or <a>MergeShards</a>.</p>\n        <p>\n            <a>GetShardIterator</a> has a limit of five transactions per second per\n            account per open shard.</p>"
      }
    },
    "com.amazonaws.kinesis#GetShardIteratorInput": {
      "type": "structure",
      "members": {
        "ShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the Kinesis Data Streams shard to get the iterator for.</p>",
            "smithy.api#required": {}
          }
        },
        "ShardIteratorType": {
          "target": "com.amazonaws.kinesis#ShardIteratorType",
          "traits": {
            "smithy.api#documentation": "<p>Determines how the shard iterator is used to start reading data records from the shard.</p>\n        <p>The following are the valid Amazon Kinesis shard iterator types:</p>\n        <ul>\n            <li>\n               <p>AT_SEQUENCE_NUMBER - Start reading from the position denoted by a specific sequence\n                number, provided in the value <code>StartingSequenceNumber</code>.</p>\n            </li>\n            <li>\n               <p>AFTER_SEQUENCE_NUMBER - Start reading right after the position denoted by a specific\n                sequence number, provided in the value <code>StartingSequenceNumber</code>.</p>\n            </li>\n            <li>\n               <p>AT_TIMESTAMP - Start reading from the position denoted by a specific time stamp, provided\n                in the value <code>Timestamp</code>.</p>\n            </li>\n            <li>\n               <p>TRIM_HORIZON - Start reading at the last untrimmed record in the shard in the system, which is the oldest data record in the shard.</p>\n            </li>\n            <li>\n               <p>LATEST - Start reading just after the most recent record in the shard, so that you always read the most recent data in the shard.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "StartingSequenceNumber": {
          "target": "com.amazonaws.kinesis#SequenceNumber",
          "traits": {
            "smithy.api#documentation": "<p>The sequence number of the data record in the shard from which to start reading. Used with shard iterator type AT_SEQUENCE_NUMBER and AFTER_SEQUENCE_NUMBER.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Kinesis data stream.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time stamp of the data record from which to start reading. Used with shard\n            iterator type AT_TIMESTAMP. A time stamp is the Unix epoch date with precision in\n            milliseconds. For example, <code>2016-04-04T19:58:46.480-00:00</code> or\n            <code>1459799926.480</code>. If a record with this exact time stamp does not exist,\n            the iterator returned is for the next (later) record. If the time stamp is older than\n            the current trim horizon, the iterator returned is for the oldest untrimmed data record\n            (TRIM_HORIZON).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>GetShardIterator</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#GetShardIteratorOutput": {
      "type": "structure",
      "members": {
        "ShardIterator": {
          "target": "com.amazonaws.kinesis#ShardIterator",
          "traits": {
            "smithy.api#documentation": "<p>The position in the shard from which to start reading data records sequentially. A shard iterator specifies this position using the sequence number of a data record in a shard.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>GetShardIterator</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#HashKey": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "0|([1-9]\\d{0,38})"
      }
    },
    "com.amazonaws.kinesis#HashKeyRange": {
      "type": "structure",
      "members": {
        "EndingHashKey": {
          "target": "com.amazonaws.kinesis#HashKey",
          "traits": {
            "smithy.api#documentation": "<p>The ending hash key of the hash key range.</p>",
            "smithy.api#required": {}
          }
        },
        "StartingHashKey": {
          "target": "com.amazonaws.kinesis#HashKey",
          "traits": {
            "smithy.api#documentation": "<p>The starting hash key of the hash key range.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The range of possible hash key values for the shard, which is a set of ordered contiguous positive integers.</p>"
      }
    },
    "com.amazonaws.kinesis#IncreaseStreamRetentionPeriod": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#IncreaseStreamRetentionPeriodInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Increases the  Kinesis data stream's retention period, which is the length of time\n            data records are accessible after they are added to the stream. The maximum value of a\n            stream's retention period is 168 hours (7 days).</p>\n        <p>If you choose a longer stream retention period, this operation increases the time\n            period during which records that have not yet expired are accessible. However, it does\n            not make previous, expired data (older than the stream's previous retention period)\n            accessible after the operation has been called. For example, if a stream's retention\n            period is set to 24 hours and is increased to 168 hours, any data that is older than 24\n            hours remains inaccessible to consumer applications.</p>"
      }
    },
    "com.amazonaws.kinesis#IncreaseStreamRetentionPeriodInput": {
      "type": "structure",
      "members": {
        "RetentionPeriodHours": {
          "target": "com.amazonaws.kinesis#RetentionPeriodHours",
          "traits": {
            "smithy.api#documentation": "<p>The new retention period of the stream, in hours. Must be more than the current retention period.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to modify.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <a>IncreaseStreamRetentionPeriod</a>.</p>"
      }
    },
    "com.amazonaws.kinesis#InternalFailureException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.kinesis#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specified parameter exceeds its restrictions, is not supported, or can't be used. For more information, see the returned message.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSAccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The ciphertext references a key that doesn't exist or that you don't have access to.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSDisabledException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified customer master key (CMK) isn't\n            enabled.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSInvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the state of the specified resource isn't valid for this request. For more information, see \n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the \n            <i>AWS Key Management Service Developer Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified entity or resource can't be\n            found.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSOptInRequired": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The AWS access key ID needs a subscription for the service.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KMSThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied due to request throttling. For more information about throttling, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in the \n            <i>AWS Key Management Service Developer Guide</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#KeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kinesis#Kinesis_20131202": {
      "type": "service",
      "version": "2013-12-02",
      "operations": [
        {
          "target": "com.amazonaws.kinesis#AddTagsToStream"
        },
        {
          "target": "com.amazonaws.kinesis#CreateStream"
        },
        {
          "target": "com.amazonaws.kinesis#DecreaseStreamRetentionPeriod"
        },
        {
          "target": "com.amazonaws.kinesis#DeleteStream"
        },
        {
          "target": "com.amazonaws.kinesis#DeregisterStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeLimits"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStream"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#DescribeStreamSummary"
        },
        {
          "target": "com.amazonaws.kinesis#DisableEnhancedMonitoring"
        },
        {
          "target": "com.amazonaws.kinesis#EnableEnhancedMonitoring"
        },
        {
          "target": "com.amazonaws.kinesis#GetRecords"
        },
        {
          "target": "com.amazonaws.kinesis#GetShardIterator"
        },
        {
          "target": "com.amazonaws.kinesis#IncreaseStreamRetentionPeriod"
        },
        {
          "target": "com.amazonaws.kinesis#ListShards"
        },
        {
          "target": "com.amazonaws.kinesis#ListStreamConsumers"
        },
        {
          "target": "com.amazonaws.kinesis#ListStreams"
        },
        {
          "target": "com.amazonaws.kinesis#ListTagsForStream"
        },
        {
          "target": "com.amazonaws.kinesis#MergeShards"
        },
        {
          "target": "com.amazonaws.kinesis#PutRecord"
        },
        {
          "target": "com.amazonaws.kinesis#PutRecords"
        },
        {
          "target": "com.amazonaws.kinesis#RegisterStreamConsumer"
        },
        {
          "target": "com.amazonaws.kinesis#RemoveTagsFromStream"
        },
        {
          "target": "com.amazonaws.kinesis#SplitShard"
        },
        {
          "target": "com.amazonaws.kinesis#StartStreamEncryption"
        },
        {
          "target": "com.amazonaws.kinesis#StopStreamEncryption"
        },
        {
          "target": "com.amazonaws.kinesis#SubscribeToShard"
        },
        {
          "target": "com.amazonaws.kinesis#UpdateShardCount"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis",
          "arnNamespace": "kinesis",
          "cloudFormationName": "Kinesis",
          "cloudTrailEventSource": "v20131202.kinesis.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "kinesis"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Kinesis Data Streams Service API Reference</fullname>\n        <p>Amazon Kinesis Data Streams is a managed service that scales elastically for\n            real-time processing of streaming big data.</p>",
        "smithy.api#title": "Amazon Kinesis",
        "smithy.api#xmlNamespace": {
          "uri": "http://kinesis.amazonaws.com/doc/2013-12-02"
        }
      }
    },
    "com.amazonaws.kinesis#LimitExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#ListShards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#ListShardsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#ListShardsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the shards in a stream and provides information about each shard. This\n            operation has a limit of 100 transactions per second per data stream.</p>\n        <important>\n            <p>This API is a new operation that is used by the Amazon Kinesis Client Library\n                (KCL). If you have a fine-grained IAM policy that only allows specific operations,\n                you must update your policy to allow calls to this API. For more information, see\n                    <a href=\"https://docs.aws.amazon.com/streams/latest/dev/controlling-access.html\">Controlling Access to Amazon Kinesis Data Streams Resources Using\n                IAM</a>.</p>\n        </important>"
      }
    },
    "com.amazonaws.kinesis#ListShardsInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartShardId": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to indicate that you want to list the shards starting with\n            the shard whose ID immediately follows <code>ExclusiveStartShardId</code>.</p>\n        <p>If you don't specify this parameter, the default behavior is for <code>ListShards</code> to list the shards starting with the first one in the stream.</p>\n        <p>You cannot specify this parameter if you specify <code>NextToken</code>.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kinesis#ListShardsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of shards to return in a single call to <code>ListShards</code>.\n            The minimum value you can specify for this parameter is 1, and the maximum is 1,000,\n            which is also the default.</p>\n        <p>When the number of shards to be listed is greater than the value of\n                <code>MaxResults</code>, the response contains a <code>NextToken</code> value that\n            you can use in a subsequent call to <code>ListShards</code> to list the next set of\n            shards.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesis#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the number of shards in the data stream is greater than the default value for\n            the <code>MaxResults</code> parameter, or if you explicitly specify a value for\n                <code>MaxResults</code> that is less than the number of shards in the data stream,\n            the response includes a pagination token named <code>NextToken</code>. You can specify\n            this <code>NextToken</code> value in a subsequent call to <code>ListShards</code> to\n            list the next set of shards.</p>\n        <p>Don't specify <code>StreamName</code> or <code>StreamCreationTimestamp</code> if\n            you specify <code>NextToken</code> because the latter unambiguously identifies the\n            stream.</p>\n        <p>You can optionally specify a value for the <code>MaxResults</code> parameter when\n            you specify <code>NextToken</code>. If you specify a <code>MaxResults</code> value that\n            is less than the number of shards that the operation returns if you don't specify\n                <code>MaxResults</code>, the response will contain a new <code>NextToken</code>\n            value. You can use the new <code>NextToken</code> value in a subsequent call to the\n                <code>ListShards</code> operation.</p>\n        <important>\n            <p>Tokens expire after 300 seconds. When you obtain a value for <code>NextToken</code> in the\n                response to a call to <code>ListShards</code>, you have 300 seconds to use that\n                value. If you specify an expired token in a call to <code>ListShards</code>, you get\n                    <code>ExpiredNextTokenException</code>.</p>\n         </important>"
          }
        },
        "StreamCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specify this input parameter to distinguish data streams that have the same name.\n            For example, if you create a data stream and then delete it, and you later create\n            another data stream with the same name, you can use this input parameter to specify\n            which of the two streams you want to list the shards for.</p>\n        <p>You cannot specify this parameter if you specify the <code>NextToken</code>\n            parameter.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data stream whose shards you want to list. </p>\n        <p>You cannot specify this parameter if you specify the <code>NextToken</code>\n            parameter.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#ListShardsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#ListShardsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.kinesis#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the number of shards in the data stream is greater than the default value for\n            the <code>MaxResults</code> parameter, or if you explicitly specify a value for\n                <code>MaxResults</code> that is less than the number of shards in the data stream,\n            the response includes a pagination token named <code>NextToken</code>. You can specify\n            this <code>NextToken</code> value in a subsequent call to <code>ListShards</code> to\n            list the next set of shards. For more information about the use of this pagination token\n            when calling the <code>ListShards</code> operation, see <a>ListShardsInput$NextToken</a>.</p>\n        <important>\n            <p>Tokens expire after 300 seconds. When you obtain a value for <code>NextToken</code> in the\n                response to a call to <code>ListShards</code>, you have 300 seconds to use that\n                value. If you specify an expired token in a call to <code>ListShards</code>, you get\n                    <code>ExpiredNextTokenException</code>.</p>\n         </important>"
          }
        },
        "Shards": {
          "target": "com.amazonaws.kinesis#ShardList",
          "traits": {
            "smithy.api#documentation": "<p>An array of JSON objects. Each object represents one shard and specifies the IDs of the shard, the shard's parent, \n            and the shard that's adjacent to the shard's parent. Each object also contains the starting and ending hash keys and the starting and ending sequence numbers for the shard.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#ListStreamConsumers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#ListStreamConsumersInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#ListStreamConsumersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#ExpiredNextTokenException"
        },
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the consumers registered to receive data from a stream using enhanced fan-out,\n            and provides information about each consumer.</p>\n        <p>This operation has a limit of 10 transactions per second per account.</p>",
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.kinesis#ListStreamConsumersInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.kinesis#ListStreamConsumersInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of consumers that you want a single call of\n                <code>ListStreamConsumers</code> to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesis#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the number of consumers that are registered with the data stream is greater than the default value for\n            the <code>MaxResults</code> parameter, or if you explicitly specify a value for\n            <code>MaxResults</code> that is less than the number of consumers that are registered with the data stream,\n            the response includes a pagination token named <code>NextToken</code>. You can specify\n            this <code>NextToken</code> value in a subsequent call to <code>ListStreamConsumers</code> to\n            list the next set of registered consumers.</p>\n        <p>Don't specify <code>StreamName</code> or <code>StreamCreationTimestamp</code> if\n            you specify <code>NextToken</code> because the latter unambiguously identifies the\n            stream.</p>\n        <p>You can optionally specify a value for the <code>MaxResults</code> parameter when\n            you specify <code>NextToken</code>. If you specify a <code>MaxResults</code> value that\n            is less than the number of consumers that the operation returns if you don't specify\n            <code>MaxResults</code>, the response will contain a new <code>NextToken</code>\n            value. You can use the new <code>NextToken</code> value in a subsequent call to the\n            <code>ListStreamConsumers</code> operation to list the next set of consumers.</p>\n        <important>\n            <p>Tokens expire after 300 seconds. When you obtain a value for <code>NextToken</code> in the\n            response to a call to <code>ListStreamConsumers</code>, you have 300 seconds to use that\n            value. If you specify an expired token in a call to <code>ListStreamConsumers</code>, you get\n            <code>ExpiredNextTokenException</code>.</p>\n         </important>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesis#StreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis data stream for which you want to list the registered\n            consumers. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamCreationTimestamp": {
          "target": "com.amazonaws.kinesis#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specify this input parameter to distinguish data streams that have the same name. For\n            example, if you create a data stream and then delete it, and you later create another\n            data stream with the same name, you can use this input parameter to specify which of the\n            two streams you want to list the consumers for. </p>\n        <p>You can't specify this parameter if you specify the NextToken parameter. </p>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#ListStreamConsumersInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#ListStreamConsumersOutput": {
      "type": "structure",
      "members": {
        "Consumers": {
          "target": "com.amazonaws.kinesis#ConsumerList",
          "traits": {
            "smithy.api#documentation": "<p>An array of JSON objects. Each object represents one registered consumer.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesis#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>When the number of consumers that are registered with the data stream is greater than the default value for\n            the <code>MaxResults</code> parameter, or if you explicitly specify a value for\n            <code>MaxResults</code> that is less than the number of registered consumers,\n            the response includes a pagination token named <code>NextToken</code>. You can specify\n            this <code>NextToken</code> value in a subsequent call to <code>ListStreamConsumers</code> to\n            list the next set of registered consumers. For more information about the use of this pagination token\n            when calling the <code>ListStreamConsumers</code> operation, see <a>ListStreamConsumersInput$NextToken</a>.</p>\n        <important>\n            <p>Tokens expire after 300 seconds. When you obtain a value for <code>NextToken</code> in the\n            response to a call to <code>ListStreamConsumers</code>, you have 300 seconds to use that\n            value. If you specify an expired token in a call to <code>ListStreamConsumers</code>, you get\n            <code>ExpiredNextTokenException</code>.</p>\n         </important>"
          }
        }
      }
    },
    "com.amazonaws.kinesis#ListStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#ListStreamsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#ListStreamsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists your Kinesis data streams.</p>\n        <p>The number of streams may be too large to return from a single call to\n                <code>ListStreams</code>. You can limit the number of returned streams using the\n                <code>Limit</code> parameter. If you do not specify a value for the\n                <code>Limit</code> parameter, Kinesis Data Streams uses the default limit, which is\n            currently 10.</p>\n        <p>You can detect if there are more streams available to list by using the\n                <code>HasMoreStreams</code> flag from the returned output. If there are more streams\n            available, you can request more streams by using the name of the last stream returned by\n            the <code>ListStreams</code> request in the <code>ExclusiveStartStreamName</code>\n            parameter in a subsequent request to <code>ListStreams</code>. The group of stream names\n            returned by the subsequent request is then added to the list. You can continue this\n            process until all the stream names have been collected in the list. </p>\n        <p>\n            <a>ListStreams</a> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#ListStreamsInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartStreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream to start the list with.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.kinesis#ListStreamsInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of streams to list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>ListStreams</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#ListStreamsInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.kinesis#ListStreamsOutput": {
      "type": "structure",
      "members": {
        "HasMoreStreams": {
          "target": "com.amazonaws.kinesis#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, there are more streams available to list.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamNames": {
          "target": "com.amazonaws.kinesis#StreamNameList",
          "traits": {
            "smithy.api#documentation": "<p>The names of the streams that are associated with the AWS account making the\n                <code>ListStreams</code> request.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>ListStreams</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#ListTagsForStream": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#ListTagsForStreamInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#ListTagsForStreamOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the tags for the specified Kinesis data stream. This operation has a limit of\n            five transactions per second per account.</p>"
      }
    },
    "com.amazonaws.kinesis#ListTagsForStreamInput": {
      "type": "structure",
      "members": {
        "ExclusiveStartTagKey": {
          "target": "com.amazonaws.kinesis#TagKey",
          "traits": {
            "smithy.api#documentation": "<p>The key to use as the starting point for the list of tags. If this parameter is set,\n                <code>ListTagsForStream</code> gets all tags that occur after\n                <code>ExclusiveStartTagKey</code>. </p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.kinesis#ListTagsForStreamInputLimit",
          "traits": {
            "smithy.api#documentation": "<p>The number of tags to return. If this number is less than the total number of tags\n            associated with the stream, <code>HasMoreTags</code> is set to <code>true</code>. To\n            list additional tags, set <code>ExclusiveStartTagKey</code> to the last key in the\n            response.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>ListTagsForStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#ListTagsForStreamInputLimit": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.kinesis#ListTagsForStreamOutput": {
      "type": "structure",
      "members": {
        "HasMoreTags": {
          "target": "com.amazonaws.kinesis#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>If set to <code>true</code>, more tags are available. To request additional tags, set\n                <code>ExclusiveStartTagKey</code> to the key of the last tag returned.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesis#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with <code>StreamName</code>, starting with the first tag after\n                <code>ExclusiveStartTagKey</code> and up to the specified <code>Limit</code>. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output for <code>ListTagsForStream</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#MergeShards": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#MergeShardsInput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Merges two adjacent shards in a Kinesis data stream and combines them into a single\n            shard to reduce the stream's capacity to ingest and transport data. Two shards are\n            considered adjacent if the union of the hash key ranges for the two shards form a\n            contiguous set with no gaps. For example, if you have two shards, one with a hash key\n            range of 276...381 and the other with a hash key range of 382...454, then you could\n            merge these two shards into a single shard that would have a hash key range of\n            276...454. After the merge, the single child shard receives data for all hash key values\n            covered by the two parent shards.</p>\n        <p>\n            <code>MergeShards</code> is called when there is a need to reduce the overall capacity\n            of a stream because of excess capacity that is not being used. You must specify the\n            shard to be merged and the adjacent shard for a stream. For more information about\n            merging shards, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/kinesis-using-sdk-java-resharding-merge.html\">Merge Two\n                Shards</a> in the <i>Amazon Kinesis Data Streams Developer\n                Guide</i>.</p>\n        <p>If the stream is in the <code>ACTIVE</code> state, you can call <code>MergeShards</code>.\n            If a stream is in the <code>CREATING</code>, <code>UPDATING</code>, or\n                <code>DELETING</code> state, <code>MergeShards</code> returns a\n                <code>ResourceInUseException</code>. If the specified stream does not exist,\n                <code>MergeShards</code> returns a <code>ResourceNotFoundException</code>. </p>\n        <p>You can use <a>DescribeStream</a> to check the state of the stream, which is returned in\n                <code>StreamStatus</code>.</p>\n        <p>\n            <code>MergeShards</code> is an asynchronous operation. Upon receiving a\n                <code>MergeShards</code> request, Amazon Kinesis Data Streams immediately returns a\n            response and sets the <code>StreamStatus</code> to <code>UPDATING</code>. After the\n            operation is completed, Kinesis Data Streams sets the <code>StreamStatus</code> to\n                <code>ACTIVE</code>. Read and write operations continue to work while the stream is\n            in the <code>UPDATING</code> state. </p>\n        <p>You use <a>DescribeStream</a> to determine the shard IDs that are specified in the\n                <code>MergeShards</code> request. </p>\n        <p>If you try to operate on too many streams in parallel using <a>CreateStream</a>, <a>DeleteStream</a>, <code>MergeShards</code>,\n            or <a>SplitShard</a>, you receive a <code>LimitExceededException</code>. </p>\n        <p>\n            <code>MergeShards</code> has a limit of five transactions per second per\n            account.</p>"
      }
    },
    "com.amazonaws.kinesis#MergeShardsInput": {
      "type": "structure",
      "members": {
        "AdjacentShardToMerge": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the adjacent shard for the merge.</p>",
            "smithy.api#required": {}
          }
        },
        "ShardToMerge": {
          "target": "com.amazonaws.kinesis#ShardId",
          "traits": {
            "smithy.api#documentation": "<p>The shard ID of the shard to combine with the adjacent shard for the merge.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesis#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream for the merge.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the input for <code>MergeShards</code>.</p>"
      }
    },
    "com.amazonaws.kinesis#MetricsName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IncomingBytes",
            "name": "INCOMING_BYTES"
          },
          {
            "value": "IncomingRecords",
            "name": "INCOMING_RECORDS"
          },
          {
            "value": "OutgoingBytes",
            "name": "OUTGOING_BYTES"
          },
          {
            "value": "OutgoingRecords",
            "name": "OUTGOING_RECORDS"
          },
          {
            "value": "WriteProvisionedThroughputExceeded",
            "name": "WRITE_PROVISIONED_THROUGHPUT_EXCEEDED"
          },
          {
            "value": "ReadProvisionedThroughputExceeded",
            "name": "READ_PROVISIONED_THROUGHPUT_EXCEEDED"
          },
          {
            "value": "IteratorAgeMilliseconds",
            "name": "ITERATOR_AGE_MILLISECONDS"
          },
          {
            "value": "ALL",
            "name": "ALL"
          }
        ]
      }
    },
    "com.amazonaws.kinesis#MetricsNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesis#MetricsName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 7
        }
      }
    },
    "com.amazonaws.kinesis#MillisBehindLatest": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.kinesis#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1048576
        }
      }
    },
    "com.amazonaws.kinesis#PartitionKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.kinesis#PositiveIntegerObject": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 100000
        }
      }
    },
    "com.amazonaws.kinesis#ProvisionedThroughputExceededException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kinesis#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>A message that provides information about the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request rate for the stream is too high, or the requested data is too large for\n            the available throughput. Reduce the frequency or size of your requests. For more\n            information, see <a href=\"https://docs.aws.amazon.com/kinesis/latest/dev/service-sizes-and-limits.html\">Streams Limits</a> in the\n                <i>Amazon Kinesis Data Streams Developer Guide</i>, and <a href=\"https://docs.aws.amazon.com/general/latest/gr/api-retries.html\">Error Retries and\n                Exponential Backoff in AWS</a> in the <i>AWS General\n            Reference</i>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesis#PutRecord": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesis#PutRecordInput"
      },
      "output": {
        "target": "com.amazonaws.kinesis#PutRecordOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesis#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSAccessDeniedException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSDisabledException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesis#KMSOptInRequired"
        },
        {
          "target": "com.amazonaws.kinesis#KMSThrottlingException"
        },
        {
          "target": "com.amazonaws.kinesis#ProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesis#ResourceNotFoundException"
        }
      ],
      "traits": {
[...]
