{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidApplicationConfigurationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an Amazon CloudWatch log stream to monitor application configuration errors.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The Kinesis Data Analytics application name.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLoggingOption": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption",
          "traits": {
            "smithy.api#documentation": "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationCloudWatchLoggingOptionResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application's ARN.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics\n      updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging\n      options. </p>"
          }
        },
        "CloudWatchLoggingOptionDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeValidationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n      Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. \n    </p>\n         <p>You can add a streaming source when you create an application, or you can use this\n      operation to add a streaming source after you create an application. For more information, see\n        <a>CreateApplication</a>.</p>\n         <p>Any configuration update, including adding a streaming source using this operation,  \n      results in a new version of the application. You can use the <a>DescribeApplication</a> operation  \n      to find the current application version.\n    </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data\n      Analytics application. An input processor pre-processes records on the input stream before the\n      application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which you want to add the input processing\n      configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application to which you want to add the input processing\n      configuration. You can use the <a>DescribeApplication</a> operation to get the\n      current application version. If the version specified is not the current version, the\n        <code>ConcurrentModificationException</code> is returned.</p>",
            "smithy.api#required": {}
          }
        },
        "InputId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the input configuration to add the input processing configuration to. You\n      can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "InputProcessingConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#InputProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInputProcessingConfigurationResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the current application version.</p>"
          }
        },
        "InputId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The input ID that is associated with the application input. This is the ID that Amazon\n      Kinesis Data Analytics assigns to each input configuration that you add to your\n      application.</p>"
          }
        },
        "InputProcessingConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#InputProcessingConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the preprocessor that executes on records in this input before the application's code is run.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInputRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your existing application to which you want to add the streaming\n      source.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The current version of your application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
            "smithy.api#required": {}
          }
        },
        "Input": {
          "target": "com.amazonaws.kinesisanalyticsv2#Input",
          "traits": {
            "smithy.api#documentation": "<p>The <a>Input</a> to add.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationInputResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the current application version.</p>"
          }
        },
        "InputDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#InputDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes the application input configuration. \n       \n      \n    </p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p>\n         <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within\n      your application to an external destination (such as an Kinesis data stream, a Kinesis Data\n      Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to\n      your application using this operation. You can configure one or more outputs for your\n      application. Each output configuration maps an in-application stream and an external\n      destination.</p>\n         <p> You can use one of the output configurations to deliver data from your\n      in-application error stream to an external destination so that you can analyze the\n      errors.  </p>\n         <p> Any configuration update, including adding a streaming source using this\n      operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application\n      version.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to which you want to add the output configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application to which you want to add the output configuration. You can\n      use the <a>DescribeApplication</a> operation to get the current application\n      version. If the version specified is not the current version, the\n        <code>ConcurrentModificationException</code> is returned. </p>",
            "smithy.api#required": {}
          }
        },
        "Output": {
          "target": "com.amazonaws.kinesisanalyticsv2#Output",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, each describing one output configuration. In the output\n      configuration, you specify the name of an in-application stream, a destination (that is, a\n      Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), and\n      record the formation to use when writing to the destination.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationOutputResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application Amazon Resource Name (ARN).</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The updated application version ID. Kinesis Data Analytics increments this ID when the\n      application is updated.</p>"
          }
        },
        "OutputDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#OutputDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes the application output configuration.\n      For more information, \n      see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. \n      \n    </p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a reference data source to an existing SQL-based Amazon Kinesis Data Analytics application.</p> \n         <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an\n      in-application table within your application. In the request, you provide the source (S3\n      bucket name and object key name), name of the in-application table to create, and the\n      necessary mapping information that describes how data in an Amazon S3 object maps to columns\n      in the resulting in-application table.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application for which you are adding the reference data source. You can\n      use the <a>DescribeApplication</a> operation to get the current application\n      version. If the version specified is not the current version, the\n        <code>ConcurrentModificationException</code> is returned.</p>",
            "smithy.api#required": {}
          }
        },
        "ReferenceDataSource": {
          "target": "com.amazonaws.kinesisanalyticsv2#ReferenceDataSource",
          "traits": {
            "smithy.api#documentation": "<p>The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data \n      into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is \n      created. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationReferenceDataSourceResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application Amazon Resource Name (ARN).</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The updated application version ID. Amazon Kinesis Data Analytics increments this ID when\n      the application is updated.</p>"
          }
        },
        "ReferenceDataSourceDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#ReferenceDataSourceDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes reference data sources configured for the application. \n      \n      \n      \n    </p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a Virtual Private Cloud (VPC) configuration to the application. Applications can use VPCs to store and access resources securely.</p>\n         <p>Note the following about VPC configurations for Kinesis Data Analytics applications:</p>\n         <ul>\n            <li>\n               <p>VPC configurations are not supported for SQL applications.</p>\n            </li>\n            <li>\n               <p>When a VPC is added to a Kinesis Data Analytics application, the application can no longer be accessed from the Internet directly. To enable Internet access to the application, add an Internet gateway to your VPC.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version of the application to which you want to add the input processing\n      configuration. You can use the <a>DescribeApplication</a> operation to get the\n      current application version. If the version specified is not the current version, the\n        <code>ConcurrentModificationException</code> is returned.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#VpcConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Description of the VPC to add to the application.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#AddApplicationVpcConfigurationResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the ApplicationVersionId each time you update the application. </p>"
          }
        },
        "VpcConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The parameters of the new VPC configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfiguration": {
      "type": "structure",
      "members": {
        "CodeContent": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContent",
          "traits": {
            "smithy.api#documentation": "<p>The location and type of the application code.</p>"
          }
        },
        "CodeContentType": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes code configuration for a Java-based Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationDescription": {
      "type": "structure",
      "members": {
        "CodeContentDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContentDescription",
          "traits": {
            "smithy.api#documentation": "<p>Describes details about the location and format of the application code.</p>"
          }
        },
        "CodeContentType": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes code configuration for a Java-based Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationUpdate": {
      "type": "structure",
      "members": {
        "CodeContentTypeUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContentType",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to the code content type.</p>"
          }
        },
        "CodeContentUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeContentUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to the code content of an application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes updates to a Java-based Amazon Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationConfiguration": {
      "type": "structure",
      "members": {
        "ApplicationCodeConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The code location and type parameters for a Java-based Kinesis Data Analytics application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationSnapshotConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "EnvironmentProperties": {
          "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentProperties",
          "traits": {
            "smithy.api#documentation": "<p>Describes execution properties for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "FlinkApplicationConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The creation and update parameters for a Java-based Kinesis Data Analytics\n      application.</p>"
          }
        },
        "SqlApplicationConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The creation and update parameters for an SQL-based Kinesis Data Analytics\n      application.</p>"
          }
        },
        "VpcConfigurations": {
          "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the creation parameters for an Amazon Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationDescription": {
      "type": "structure",
      "members": {
        "ApplicationCodeConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The details about the application code for a Java-based Kinesis Data Analytics\n      application.</p>"
          }
        },
        "ApplicationSnapshotConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "EnvironmentPropertyDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentPropertyDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes execution properties for a Java-based Kinesis Data Analytics\n      application.</p>"
          }
        },
        "FlinkApplicationConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The details about a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "RunConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#RunConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The details about the starting properties for a Kinesis Data Analytics application.</p>"
          }
        },
        "SqlApplicationConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The details about inputs, outputs, and reference data sources for an SQL-based Kinesis\n      Data Analytics application.</p>"
          }
        },
        "VpcConfigurationDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes details about the application code and starting parameters for an Amazon Kinesis\n      Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationUpdate": {
      "type": "structure",
      "members": {
        "ApplicationCodeConfigurationUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationCodeConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to a Java-based Kinesis Data Analytics application's code\n      configuration.</p>"
          }
        },
        "ApplicationSnapshotConfigurationUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "EnvironmentPropertyUpdates": {
          "target": "com.amazonaws.kinesisanalyticsv2#EnvironmentPropertyUpdates",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to the environment properties for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "FlinkApplicationConfigurationUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#FlinkApplicationConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to a Java-based Kinesis Data Analytics application's configuration.</p>"
          }
        },
        "SqlApplicationConfigurationUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#SqlApplicationConfigurationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to an SQL-based Kinesis Data Analytics application's\n      configuration.</p>"
          }
        },
        "VpcConfigurationUpdates": {
          "target": "com.amazonaws.kinesisanalyticsv2#VpcConfigurationUpdates",
          "traits": {
            "smithy.api#documentation": "<p>Updates to the array of descriptions of VPC configurations available to the application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes updates to an application's configuration.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationDetail": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationConfigurationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationConfigurationDescription",
          "traits": {
            "smithy.api#documentation": "<p>Provides details about the application's SQL or Java code and starting parameters.</p>"
          }
        },
        "ApplicationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the application.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationStatus": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the\n        <code>ApplicationVersionId</code> each time you update the application.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLoggingOptionDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>Describes the application Amazon CloudWatch logging options.</p>"
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The current timestamp when the application was created.</p>"
          }
        },
        "LastUpdateTimestamp": {
          "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The current timestamp when the application was last updated.</p>"
          }
        },
        "RuntimeEnvironment": {
          "target": "com.amazonaws.kinesisanalyticsv2#RuntimeEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceExecutionRole": {
          "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the IAM role that the application uses to access external resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the application, including the application Amazon Resource Name (ARN), status,\n      latest version, and input and output configurations.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreConfiguration": {
      "type": "structure",
      "members": {
        "ApplicationRestoreType": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how the application should be restored.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.kinesisanalyticsv2#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an existing snapshot of application state to use to restart an application.\n      The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the method and snapshot to use when restarting an application using previously saved application state.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationRestoreType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SKIP_RESTORE_FROM_SNAPSHOT",
            "name": "SKIP_RESTORE_FROM_SNAPSHOT"
          },
          {
            "value": "RESTORE_FROM_LATEST_SNAPSHOT",
            "name": "RESTORE_FROM_LATEST_SNAPSHOT"
          },
          {
            "value": "RESTORE_FROM_CUSTOM_SNAPSHOT",
            "name": "RESTORE_FROM_CUSTOM_SNAPSHOT"
          }
        ]
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfiguration": {
      "type": "structure",
      "members": {
        "SnapshotsEnabled": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationDescription": {
      "type": "structure",
      "members": {
        "SnapshotsEnabled": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationSnapshotConfigurationUpdate": {
      "type": "structure",
      "members": {
        "SnapshotsEnabledUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          }
        ]
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisanalyticsv2#ApplicationSummary"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationSummary": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationStatus": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>Provides the current application version.</p>",
            "smithy.api#required": {}
          }
        },
        "RuntimeEnvironment": {
          "target": "com.amazonaws.kinesisanalyticsv2#RuntimeEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 999999999
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#BooleanObject": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.kinesisanalyticsv2#BucketARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "arn:.*"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CSVMappingParameters": {
      "type": "structure",
      "members": {
        "RecordColumnDelimiter": {
          "target": "com.amazonaws.kinesisanalyticsv2#RecordColumnDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column\n      delimiter.</p>",
            "smithy.api#required": {}
          }
        },
        "RecordRowDelimiter": {
          "target": "com.amazonaws.kinesisanalyticsv2#RecordRowDelimiter",
          "traits": {
            "smithy.api#documentation": "<p>The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical\n      row delimiter.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For an SQL-based application, provides additional mapping information when the record\n      format uses delimiters, such as CSV. For example, the following sample records use CSV format,\n      where the records use the <i>'\\n'</i> as the row delimiter and a comma (\",\") as\n      the column delimiter: </p>\n      \n         <p>\n            <code>\"name1\", \"address1\"</code>\n         </p>\n         <p>\n            <code>\"name2\", \"address2\"</code>\n         </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CheckpointConfiguration": {
      "type": "structure",
      "members": {
        "CheckpointInterval": {
          "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
          "traits": {
            "smithy.api#documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "CheckpointingEnabled": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value \n      is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "ConfigurationType": {
          "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the application uses Amazon Kinesis Data Analytics' default checkpointing behavior. \n    You must set this property to <code>CUSTOM</code> in order to set the\n      <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters.</p>\n         <note>\n            <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or\n    application code:</p>\n            <ul>\n               <li>\n                  <p>\n                     <b>CheckpointingEnabled:</b> true</p>\n               </li>\n               <li>\n                  <p>\n                     <b>CheckpointInterval:</b> 60000</p>\n               </li>\n               <li>\n                  <p>\n                     <b>MinPauseBetweenCheckpoints:</b> 5000</p>\n               </li>\n            </ul>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "MinPauseBetweenCheckpoints": {
          "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
          "traits": {
            "smithy.api#documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a\n      new checkpoint operation can start. If a checkpoint operation takes longer than the\n        <code>CheckpointInterval</code>, the application otherwise performs continual checkpoint\n      operations. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-stable/ops/state/large_state_tuning.html#tuning-checkpointing\"> Tuning Checkpointing</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink\n        Documentation</a>.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.\n      For more information, see \n      <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance\">\n        Checkpoints for Fault Tolerance</a> in the \n      <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink Documentation</a>.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CheckpointConfigurationDescription": {
      "type": "structure",
      "members": {
        "CheckpointInterval": {
          "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
          "traits": {
            "smithy.api#documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "CheckpointingEnabled": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "ConfigurationType": {
          "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>Describes whether the application uses the default checkpointing behavior in Kinesis Data\n      Analytics. </p>\n         <note>\n            <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or\n    application code:</p>\n            <ul>\n               <li>\n                  <p>\n                     <b>CheckpointingEnabled:</b> true</p>\n               </li>\n               <li>\n                  <p>\n                     <b>CheckpointInterval:</b> 60000</p>\n               </li>\n               <li>\n                  <p>\n                     <b>MinPauseBetweenCheckpoints:</b> 5000</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "MinPauseBetweenCheckpoints": {
          "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
          "traits": {
            "smithy.api#documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation\n      can start. </p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes checkpointing parameters for a Java-based Amazon Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CheckpointConfigurationUpdate": {
      "type": "structure",
      "members": {
        "CheckpointIntervalUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#CheckpointInterval",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to the interval in milliseconds between checkpoint operations.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "CheckpointingEnabledUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to whether checkpointing is enabled for an application.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p>\n         </note>"
          }
        },
        "ConfigurationTypeUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#ConfigurationType",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to whether the application uses the default checkpointing behavior of\n      Kinesis Data Analytics. You must set this property to <code>CUSTOM</code> in order to set the\n      <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters.\n      </p>\n         <note>\n            <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or\n    application code:</p>\n            <ul>\n               <li>\n                  <p>\n                     <b>CheckpointingEnabled:</b> true</p>\n               </li>\n               <li>\n                  <p>\n                     <b>CheckpointInterval:</b> 60000</p>\n               </li>\n               <li>\n                  <p>\n                     <b>MinPauseBetweenCheckpoints:</b> 5000</p>\n               </li>\n            </ul>\n         </note>"
          }
        },
        "MinPauseBetweenCheckpointsUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#MinPauseBetweenCheckpoints",
          "traits": {
            "smithy.api#documentation": "<p>Describes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation\n      can start.</p>\n         <note>\n            <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>,\n    the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes updates to the checkpointing parameters for a Java-based Amazon Kinesis\n      Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CheckpointInterval": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption": {
      "type": "structure",
      "members": {
        "LogStreamARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the CloudWatch log to receive application messages.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a description of Amazon CloudWatch logging options, including the log stream\n      Amazon Resource Name (ARN). </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescription": {
      "type": "structure",
      "members": {
        "CloudWatchLoggingOptionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the CloudWatch logging option description.</p>"
          }
        },
        "LogStreamARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application\n      messages.</p>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The IAM ARN of the role to use to send application messages. </p>\n         <note>\n            <p>Provided for backward compatibility. Applications created with the current API version have an\n        application-level service execution role rather than a resource-level role.</p>\n         </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the Amazon CloudWatch logging option.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescription"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdate": {
      "type": "structure",
      "members": {
        "CloudWatchLoggingOptionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the CloudWatch logging option to update</p>",
            "smithy.api#required": {}
          }
        },
        "LogStreamARNUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#LogStreamARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application\n      messages.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the Amazon CloudWatch logging option updates.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdates": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionUpdate"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOption"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeContent": {
      "type": "structure",
      "members": {
        "S3ContentLocation": {
          "target": "com.amazonaws.kinesisanalyticsv2#S3ContentLocation",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Amazon S3 bucket containing the application code.</p>"
          }
        },
        "TextContent": {
          "target": "com.amazonaws.kinesisanalyticsv2#TextContent",
          "traits": {
            "smithy.api#documentation": "<p>The text-format code for a Java-based Kinesis Data Analytics application.</p>"
          }
        },
        "ZipFileContent": {
          "target": "com.amazonaws.kinesisanalyticsv2#ZipFileContent",
          "traits": {
            "smithy.api#documentation": "<p>The zip-format code for a Java-based Kinesis Data Analytics application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies either the application code, or the location of the application code, for a\n      Java-based Amazon Kinesis Data Analytics application. </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeContentDescription": {
      "type": "structure",
      "members": {
        "CodeMD5": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeMD5",
          "traits": {
            "smithy.api#documentation": "<p>The checksum that can be used to validate zip-format code.</p>"
          }
        },
        "CodeSize": {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeSize",
          "traits": {
            "smithy.api#documentation": "<p>The size in bytes of the application code. Can be used to validate zip-format code.</p>"
          }
        },
        "S3ApplicationCodeLocationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#S3ApplicationCodeLocationDescription",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application\n      code stored in Amazon S3.</p>"
          }
        },
        "TextContent": {
          "target": "com.amazonaws.kinesisanalyticsv2#TextContent",
          "traits": {
            "smithy.api#documentation": "<p>The text-format code</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes details about the application code for a Java-based Kinesis Data\n      Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PLAINTEXT",
            "name": "PLAINTEXT"
          },
          {
            "value": "ZIPFILE",
            "name": "ZIPFILE"
          }
        ]
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeContentUpdate": {
      "type": "structure",
      "members": {
        "S3ContentLocationUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#S3ContentLocationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>Describes an update to the location of code for an application.</p>"
          }
        },
        "TextContentUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#TextContent",
          "traits": {
            "smithy.api#documentation": "<p>Describes an update to the text code for an application.</p>"
          }
        },
        "ZipFileContentUpdate": {
          "target": "com.amazonaws.kinesisanalyticsv2#ZipFileContent",
          "traits": {
            "smithy.api#documentation": "<p>Describes an update to the zipped code for an application.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an update to the code of a Java-based Kinesis Data Analytics\n      application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeMD5": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 128,
          "max": 128
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeSize": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 52428800
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CodeValidationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisanalyticsv2#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user-provided application code (query) is not valid. This can be a simple syntax\n      error.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisanalyticsv2#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception thrown as a result of concurrent modifications to an application. This error can\n      be the result of attempting to modify an application without using the current application\n      ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kinesisanalyticsv2#ConfigurationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "CUSTOM",
            "name": "CUSTOM"
          }
        ]
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#CreateApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#CreateApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#CodeValidationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Kinesis Data Analytics application. For information about creating a\n      Kinesis Data Analytics application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/getting-started.html\">Creating an\n        Application</a>.\n      </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to configure the application.</p>"
          }
        },
        "ApplicationDescription": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationDescription",
          "traits": {
            "smithy.api#documentation": "<p>A summary description of the application.</p>"
          }
        },
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your application (for example, <code>sample-app</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLoggingOptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptions",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to configure an Amazon CloudWatch log stream to monitor application\n      configuration errors.\n      </p>"
          }
        },
        "RuntimeEnvironment": {
          "target": "com.amazonaws.kinesisanalyticsv2#RuntimeEnvironment",
          "traits": {
            "smithy.api#documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "ServiceExecutionRole": {
          "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose\n      delivery streams, Amazon S3 objects, and other external resources.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.kinesisanalyticsv2#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50.\n        For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplicationResponse": {
      "type": "structure",
      "members": {
        "ApplicationDetail": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationDetail",
          "traits": {
            "smithy.api#documentation": "<p>In response to your <code>CreateApplication</code> request, Kinesis Data Analytics returns a \n      response with details of the application it created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplicationSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#CreateApplicationSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#CreateApplicationSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of the application's state data.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplicationSnapshotRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.kinesisanalyticsv2#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for the application snapshot.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#CreateApplicationSnapshotResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidApplicationConfigurationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationCloudWatchLoggingOption": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationCloudWatchLoggingOptionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidApplicationConfigurationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon CloudWatch log stream from an Amazon Kinesis Data Analytics application. </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationCloudWatchLoggingOptionRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudWatchLoggingOptionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to\n      delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. </p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the application. You can retrieve the application version ID using \n    <a>DescribeApplication</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationCloudWatchLoggingOptionResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application's Amazon Resource Name (ARN).</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the application. Kinesis Data Analytics updates the\n        <code>ApplicationVersionId</code> each time you change the CloudWatch logging\n      options.</p>"
          }
        },
        "CloudWatchLoggingOptionDescriptions": {
          "target": "com.amazonaws.kinesisanalyticsv2#CloudWatchLoggingOptionDescriptions",
          "traits": {
            "smithy.api#documentation": "<p>The descriptions of the remaining CloudWatch logging options for the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationInputProcessingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationInputProcessingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationInputProcessingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationInputProcessingConfigurationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The application version. \n      You can use the <a>DescribeApplication</a> operation to get the current application version.\n      If the version specified is not the current version, the \n      <code>ConcurrentModificationException</code> is returned.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "InputId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the input configuration from which to delete the input processing\n      configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationInputProcessingConfigurationResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The current application version ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationOutputRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationOutputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the output destination configuration from your SQL-based Amazon Kinesis Data\n      Analytics application's configuration. Kinesis Data Analytics will no longer write data from\n      the corresponding in-application stream to the external output destination.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationOutputRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The application name.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The application version. \n      You can use the <a>DescribeApplication</a> operation to get the current application version.\n      If the version specified is not the current version, the \n      <code>ConcurrentModificationException</code> is returned.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "OutputId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the configuration to delete. Each output configuration that is added to the\n      application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to\n      uniquely identify the output configuration that you want to delete from the application\n      configuration. You can use the <a>DescribeApplication</a> operation to get the\n      specific <code>OutputId</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationOutputResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application Amazon Resource Name (ARN).</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The current application version ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationReferenceDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationReferenceDataSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationReferenceDataSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a reference data source configuration from the specified SQL-based Amazon Kinesis Data Analytics application's configuration.</p>\n         <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table \n      that you created using the <a>AddApplicationReferenceDataSource</a> operation.  </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationReferenceDataSourceRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The current application version.  \n      You can use the <a>DescribeApplication</a> operation to get the current application version.\n      If the version specified \n      is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
            "smithy.api#required": {}
          }
        },
        "ReferenceId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the reference data source. When you add a reference data source to your\n      application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data\n      Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to\n      get the reference ID. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationReferenceDataSourceResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The application Amazon Resource Name (ARN).</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The updated version ID of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTimestamp": {
          "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Use the <code>DescribeApplication</code> operation to get this value.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a snapshot of application state.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationSnapshotRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotCreationTimestamp": {
          "target": "com.amazonaws.kinesisanalyticsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The creation timestamp of the application snapshot to delete. You can retrieve this value using \n      or .</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.kinesisanalyticsv2#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the snapshot delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationSnapshotResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationVpcConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationVpcConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DeleteApplicationVpcConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ConcurrentModificationException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a VPC configuration from a Kinesis Data Analytics application.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationVpcConfigurationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "CurrentApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The current application version ID. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "VpcConfigurationId": {
          "target": "com.amazonaws.kinesisanalyticsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the VPC configuration to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DeleteApplicationVpcConfigurationResponse": {
      "type": "structure",
      "members": {
        "ApplicationARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Kinesis Data Analytics application.</p>"
          }
        },
        "ApplicationVersionId": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationVersionId",
          "traits": {
            "smithy.api#documentation": "<p>The updated version ID of the application.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplication": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DescribeApplicationRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DescribeApplicationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a specific Amazon Kinesis Data Analytics application.</p>\n         <p>If you want to retrieve a list of all applications in your account,\n      use the <a>ListApplications</a> operation.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplicationRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the application.</p>",
            "smithy.api#required": {}
          }
        },
        "IncludeAdditionalDetails": {
          "target": "com.amazonaws.kinesisanalyticsv2#BooleanObject",
          "traits": {
            "smithy.api#documentation": "<p>Displays verbose information about a Kinesis Data Analytics application, including the application's job plan.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplicationResponse": {
      "type": "structure",
      "members": {
        "ApplicationDetail": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationDetail",
          "traits": {
            "smithy.api#documentation": "<p>Provides a description of the application, such as the application's Amazon Resource Name\n      (ARN), status, and latest version.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplicationSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DescribeApplicationSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DescribeApplicationSnapshotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about a snapshot of application state data.</p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplicationSnapshotRequest": {
      "type": "structure",
      "members": {
        "ApplicationName": {
          "target": "com.amazonaws.kinesisanalyticsv2#ApplicationName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an existing application.</p>",
            "smithy.api#required": {}
          }
        },
        "SnapshotName": {
          "target": "com.amazonaws.kinesisanalyticsv2#SnapshotName",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an application snapshot. You can retrieve this value using .</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DescribeApplicationSnapshotResponse": {
      "type": "structure",
      "members": {
        "SnapshotDetails": {
          "target": "com.amazonaws.kinesisanalyticsv2#SnapshotDetails",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the application snapshot.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DestinationSchema": {
      "type": "structure",
      "members": {
        "RecordFormatType": {
          "target": "com.amazonaws.kinesisanalyticsv2#RecordFormatType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the format of the records on the output stream.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the data format when records are written to the destination in an SQL-based\n      Amazon Kinesis Data Analytics application. </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DiscoverInputSchema": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisanalyticsv2#DiscoverInputSchemaRequest"
      },
      "output": {
        "target": "com.amazonaws.kinesisanalyticsv2#DiscoverInputSchemaResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceProvisionedThroughputExceededException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.kinesisanalyticsv2#UnableToDetectSchemaException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Infers a schema for an SQL-based Amazon Kinesis Data Analytics application by evaluating\n      sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose\n      delivery stream) or Amazon S3 object. In the response, the operation returns the inferred\n      schema and also the sample records that the operation used to infer the schema.</p>\n         <p> You can use the inferred schema when configuring a streaming source for your application.\n      When you create an application using the Kinesis Data Analytics console, the console uses this\n      operation to infer a schema and show it in the console user interface. </p>"
      }
    },
    "com.amazonaws.kinesisanalyticsv2#DiscoverInputSchemaRequest": {
      "type": "structure",
      "members": {
        "InputProcessingConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#InputProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a>InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.</p>"
          }
        },
        "InputStartingPositionConfiguration": {
          "target": "com.amazonaws.kinesisanalyticsv2#InputStartingPositionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The point at which you want Kinesis Data Analytics to start reading records from the\n      specified streaming source discovery purposes.</p>"
          }
        },
        "ResourceARN": {
          "target": "com.amazonaws.kinesisanalyticsv2#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the streaming source.</p>"
          }
        },
        "S3Configuration": {
          "target": "com.amazonaws.kinesisanalyticsv2#S3Configuration",
          "traits": {
            "smithy.api#documentation": "<p>Specify this parameter to discover a schema from data in an Amazon S3\n      object.</p>"
          }
        },
        "ServiceExecutionRole": {
          "target": "com.amazonaws.kinesisanalyticsv2#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the role that is used to access the streaming source.</p>",
[...]
