{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kinesisvideoarchivedmedia#AWSAcuityReader": {
      "type": "service",
      "version": "2017-09-30",
      "operations": [
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURL"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURL"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentList"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ListFragments"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Kinesis Video Archived Media",
          "arnNamespace": "kinesisvideo",
          "cloudFormationName": "KinesisVideoArchivedMedia",
          "cloudTrailEventSource": "AWSAcuityReader.amazon.com"
        },
        "aws.auth#sigv4": {
          "name": "kinesisvideo"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p></p>",
        "smithy.api#title": "Amazon Kinesis Video Streams Archived Media"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Kinesis Video Streams has throttled the request because you have exceeded the limit of\n            allowed client calls. Try making the call later.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ContainerFormat": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FRAGMENTED_MP4",
            "name": "FRAGMENTED_MP4"
          },
          {
            "value": "MPEG_TS",
            "name": "MPEG_TS"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_\\.\\-]+$"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentNumber": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALWAYS",
            "name": "ALWAYS"
          },
          {
            "value": "NEVER",
            "name": "NEVER"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentTimestamp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALWAYS",
            "name": "ALWAYS"
          },
          {
            "value": "NEVER",
            "name": "NEVER"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelector": {
      "type": "structure",
      "members": {
        "FragmentSelectorType": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelectorType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the timestamps for the requested media.</p>\n        <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetDASHStreamingSessionURLInput$PlaybackMode</a> is\n                <code>ON_DEMAND</code> or <code>LIVE_REPLAY</code>, the first fragment ingested with\n            a producer timestamp within the specified <a>FragmentSelector$TimestampRange</a> is included in the media playlist. In\n            addition, the fragments with producer timestamps within the <code>TimestampRange</code>\n            ingested immediately following the first fragment (up to the <a>GetDASHStreamingSessionURLInput$MaxManifestFragmentResults</a> value) are\n            included. </p>\n        <p>Fragments that have duplicate producer timestamps are deduplicated. This means that if\n            producers are producing a stream of fragments with producer timestamps that are\n            approximately equal to the true clock time, the MPEG-DASH manifest will contain all of\n            the fragments within the requested timestamp range. If some fragments are ingested\n            within the same time range and very different points in time, only the oldest ingested\n            collection of fragments are returned.</p>\n        <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetDASHStreamingSessionURLInput$PlaybackMode</a> is <code>LIVE</code>,\n            the producer timestamps are used in the MP4 fragments and for deduplication. But the\n            most recently ingested fragments based on server timestamps are included in the\n            MPEG-DASH manifest. This means that even if fragments ingested in the past have producer\n            timestamps with values now, they are not included in the HLS media playlist.</p>\n        <p>The default is <code>SERVER_TIMESTAMP</code>.</p>"
          }
        },
        "TimestampRange": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHTimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n        <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the range of timestamps for the requested media, and the source of the\n            timestamps. </p>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRODUCER_TIMESTAMP",
            "name": "PRODUCER_TIMESTAMP"
          },
          {
            "value": "SERVER_TIMESTAMP",
            "name": "SERVER_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHPlaybackMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LIVE",
            "name": "LIVE"
          },
          {
            "value": "LIVE_REPLAY",
            "name": "LIVE_REPLAY"
          },
          {
            "value": "ON_DEMAND",
            "name": "ON_DEMAND"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHStreamingSessionURL": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideoarchivedmedia#DASHTimestampRange": {
      "type": "structure",
      "members": {
        "EndTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the timestamp range for the requested media. This value must be within 3\n            hours of the specified <code>StartTimestamp</code>, and it must be later than the\n                <code>StartTimestamp</code> value.</p>\n        <p>If <code>FragmentSelectorType</code> for the request is <code>SERVER_TIMESTAMP</code>,\n            this value must be in the past.</p>\n\n        <p>The <code>EndTimestamp</code> value is required for <code>ON_DEMAND</code> mode, but\n            optional for <code>LIVE_REPLAY</code> mode. If the <code>EndTimestamp</code> is not set\n            for <code>LIVE_REPLAY</code> mode then the session will continue to include newly\n            ingested fragments until the session expires.</p>\n        <note>\n            <p>This value is inclusive. The <code>EndTimestamp</code> is compared to the\n                (starting) timestamp of the fragment. Fragments that start before the\n                    <code>EndTimestamp</code> value and continue past it are included in the\n                session.</p>\n        </note>"
          }
        },
        "StartTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the timestamp range for the requested media.</p>\n        <p>If the <code>DASHTimestampRange</code> value is specified, the\n                <code>StartTimestamp</code> value is required.</p>\n        <note>\n            <p>This value is inclusive. Fragments that start before the\n                    <code>StartTimestamp</code> and continue past it are included in the session. If\n                    <code>FragmentSelectorType</code> is <code>SERVER_TIMESTAMP</code>, the\n                    <code>StartTimestamp</code> must be later than the stream head.</p>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n        <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>\n        <note>\n            <p>The values in the <code>DASHimestampRange</code> are inclusive. Fragments that\n                begin before the start time but continue past it, or fragments that begin before the\n                end time but continue past it, are included in the session.</p>\n        </note>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideoarchivedmedia#Expires": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 300,
          "max": 43200
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#Fragment": {
      "type": "structure",
      "members": {
        "FragmentLengthInMilliseconds": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Long",
          "traits": {
            "smithy.api#documentation": "<p>The playback duration or other time value associated with the fragment.</p>"
          }
        },
        "FragmentNumber": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fragment. This value monotonically increases based on the\n            ingestion order.</p>"
          }
        },
        "FragmentSizeInBytes": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Long",
          "traits": {
            "smithy.api#documentation": "<p>The total fragment size, including information about the fragment and contained media\n            data.</p>"
          }
        },
        "ProducerTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp from the producer corresponding to the fragment.</p>"
          }
        },
        "ServerTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp from the AWS server corresponding to the fragment.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents a segment of video or other time-delimited data.</p>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#FragmentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#Fragment"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelector": {
      "type": "structure",
      "members": {
        "FragmentSelectorType": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelectorType",
          "traits": {
            "smithy.api#documentation": "<p>The origin of the timestamps to use (Server or Producer).</p>",
            "smithy.api#required": {}
          }
        },
        "TimestampRange": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#TimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>The range of timestamps to return.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the timestamp range and timestamp origin of a range of fragments.</p>\n        <p>Only fragments with a start timestamp greater than or equal to the given start time\n            and less than or equal to the end time are returned. For example, if a stream contains\n            fragments with the following start timestamps: </p>\n        <ul>\n            <li>\n                <p>00:00:00</p>\n            </li>\n            <li>\n                <p>00:00:02</p>\n            </li>\n            <li>\n                <p>00:00:04</p>\n            </li>\n            <li>\n                <p>00:00:06</p>\n            </li>\n         </ul>\n        <p> A fragment selector range with a start time of 00:00:01 and end time of 00:00:04\n            would return the fragments with start times of 00:00:02 and 00:00:04. </p>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRODUCER_TIMESTAMP",
            "name": "PRODUCER_TIMESTAMP"
          },
          {
            "value": "SERVER_TIMESTAMP",
            "name": "SERVER_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an MPEG Dynamic Adaptive Streaming over HTTP (DASH) URL for the stream. You\n            can then open the URL in a media player to view the stream contents.</p>\n        \n        <p>Both the <code>StreamName</code> and the <code>StreamARN</code> parameters are\n            optional, but you must specify either the <code>StreamName</code> or the\n                <code>StreamARN</code> when invoking this API operation.</p>\n        <p>An Amazon Kinesis video stream has the following requirements for providing data\n            through MPEG-DASH:</p>\n        <ul>\n            <li>\n                <p>The media must contain h.264 or h.265 encoded video and, optionally, AAC or\n                    G.711 encoded audio. Specifically, the codec ID of track 1 should be\n                        <code>V_MPEG/ISO/AVC</code> (for h.264) or V_MPEGH/ISO/HEVC (for H.265).\n                    Optionally, the codec ID of track 2 should be <code>A_AAC</code> (for AAC) or\n                    A_MS/ACM (for G.711).</p>\n            </li>\n            <li>\n                <p>Data retention must be greater than 0.</p>\n            </li>\n            <li>\n                <p>The video track of each fragment must contain codec private data in the\n                    Advanced Video Coding (AVC) for H.264 format and HEVC for H.265 format. For more\n                    information, see <a href=\"https://www.iso.org/standard/55980.html\">MPEG-4\n                        specification ISO/IEC 14496-15</a>. For information about adapting\n                    stream data to a given format, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-reference-nal.html\">NAL Adaptation\n                    Flags</a>.</p>\n            </li>\n            <li>\n                <p>The audio track (if present) of each fragment must contain codec private data\n                    in the AAC format (<a href=\"https://www.iso.org/standard/43345.html\">AAC\n                        specification ISO/IEC 13818-7</a>) or the <a href=\"http://www-mmsp.ece.mcgill.ca/Documents/AudioFormats/WAVE/WAVE.html\">MS\n                        Wave format</a>.</p>\n            </li>\n         </ul>\n\n        <p>The following procedure shows how to use MPEG-DASH with Kinesis Video Streams:</p>\n        <ol>\n            <li>\n                <p>Get an endpoint using <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_GetDataEndpoint.html\">GetDataEndpoint</a>, specifying\n                        <code>GET_DASH_STREAMING_SESSION_URL</code> for the <code>APIName</code>\n                    parameter.</p>\n            </li>\n            <li>\n                <p>Retrieve the MPEG-DASH URL using <code>GetDASHStreamingSessionURL</code>.\n                    Kinesis Video Streams creates an MPEG-DASH streaming session to be used for\n                    accessing content in a stream using the MPEG-DASH protocol.\n                        <code>GetDASHStreamingSessionURL</code> returns an authenticated URL (that\n                    includes an encrypted session token) for the session's MPEG-DASH\n                        <i>manifest</i> (the root resource needed for streaming with\n                    MPEG-DASH).</p>\n                <note>\n                    <p>Don't share or store this token where an unauthorized entity could access\n                        it. The token provides access to the content of the stream. Safeguard the\n                        token with the same measures that you would use with your AWS\n                        credentials.</p>\n                </note>\n                <p>The media that is made available through the manifest consists only of the\n                    requested stream, time range, and format. No other media data (such as frames\n                    outside the requested window or alternate bitrates) is made available.</p>\n            </li>\n            <li>\n                <p>Provide the URL (containing the encrypted session token) for the MPEG-DASH\n                    manifest to a media player that supports the MPEG-DASH protocol. Kinesis Video\n                    Streams makes the initialization fragment and media fragments available through\n                    the manifest URL. The initialization fragment contains the codec private data\n                    for the stream, and other data needed to set up the video or audio decoder and\n                    renderer. The media fragments contain encoded video frames or encoded audio\n                    samples.</p>\n            </li>\n            <li>\n                <p>The media player receives the authenticated URL and requests stream metadata\n                    and media data normally. When the media player requests data, it calls the\n                    following actions:</p>\n                <ul>\n                  <li>\n                        <p>\n                        <b>GetDASHManifest:</b> Retrieves an MPEG\n                            DASH manifest, which contains the metadata for the media that you want\n                            to playback.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetMP4InitFragment:</b> Retrieves the MP4\n                            initialization fragment. The media player typically loads the\n                            initialization fragment before loading any media fragments. This\n                            fragment contains the \"<code>fytp</code>\" and \"<code>moov</code>\" MP4\n                            atoms, and the child atoms that are needed to initialize the media\n                            player decoder.</p>\n                        <p>The initialization fragment does not correspond to a fragment in a\n                            Kinesis video stream. It contains only the codec private data for the\n                            stream and respective track, which the media player needs to decode the\n                            media frames.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetMP4MediaFragment:</b> Retrieves MP4\n                            media fragments. These fragments contain the \"<code>moof</code>\" and\n                                \"<code>mdat</code>\" MP4 atoms and their child atoms, containing the\n                            encoded fragment's media frames and their timestamps. </p>\n                        <note>\n                            <p>After the first media fragment is made available in a streaming\n                                session, any fragments that don't contain the same codec private\n                                data cause an error to be returned when those different media\n                                fragments are loaded. Therefore, the codec private data should not\n                                change between fragments in a session. This also means that the\n                                session fails if the fragments in a stream change from having only\n                                video to having both audio and video.</p>\n                        </note>\n                        <p>Data retrieved with this action is billable. See <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Pricing</a> for details.</p>\n                    </li>\n               </ul>\n            </li>\n         </ol>\n        <note>\n            <p>The following restrictions apply to MPEG-DASH sessions:</p>\n            <ul>\n               <li>\n                    <p>A streaming session URL should not be shared between players. The service\n                        might throttle a session if multiple media players are sharing it. For\n                        connection limits, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/limits.html\">Kinesis Video\n                            Streams Limits</a>.</p>\n                </li>\n               <li>\n                    <p>A Kinesis video stream can have a maximum of ten active MPEG-DASH\n                        streaming sessions. If a new session is created when the maximum number of\n                        sessions is already active, the oldest (earliest created) session is closed.\n                        The number of active <code>GetMedia</code> connections on a Kinesis video\n                        stream does not count against this limit, and the number of active MPEG-DASH\n                        sessions does not count against the active <code>GetMedia</code> connection\n                        limit.</p>\n                    <note>\n                        <p>The maximum limits for active HLS and MPEG-DASH streaming sessions are\n                            independent of each other. </p>\n                    </note>\n                </li>\n            </ul>\n        </note>\n        <p>You can monitor the amount of data that the media player consumes by monitoring the\n                <code>GetMP4MediaFragment.OutgoingBytes</code> Amazon CloudWatch metric. For\n            information about using CloudWatch to monitor Kinesis Video Streams, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/monitoring.html\">Monitoring\n                Kinesis Video Streams</a>. For pricing information, see <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Amazon Kinesis Video\n                Streams Pricing</a> and <a href=\"https://aws.amazon.com/pricing/\">AWS\n                Pricing</a>. Charges for both HLS sessions and outgoing AWS data apply.</p>\n        <p>For more information about HLS, see <a href=\"https://developer.apple.com/streaming/\">HTTP Live Streaming</a> on the\n                <a href=\"https://developer.apple.com\">Apple Developer site</a>.</p>\n\n        <important>\n            <p>If an error is thrown after invoking a Kinesis Video Streams archived media API,\n                in addition to the HTTP status code and the response body, it includes the following\n                pieces of information: </p>\n            <ul>\n               <li>\n                    <p>\n                     <code>x-amz-ErrorType</code> HTTP header – contains a more specific error\n                        type in addition to what the HTTP status code provides. </p>\n                </li>\n               <li>\n                    <p>\n                     <code>x-amz-RequestId</code> HTTP header – if you want to report an issue\n                        to AWS, the support team can better diagnose the problem if given the\n                        Request Id.</p>\n                </li>\n            </ul>\n            <p>Both the HTTP status code and the ErrorType header can be utilized to make\n                programmatic decisions about whether errors are retry-able and under what\n                conditions, as well as provide information on what actions the client programmer\n                might need to take in order to successfully try again.</p>\n            <p>For more information, see the <b>Errors</b> section at\n                the bottom of this topic, as well as <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/CommonErrors.html\">Common Errors</a>.\n            </p>\n        </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getDASHStreamingSessionURL",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLInput": {
      "type": "structure",
      "members": {
        "DASHFragmentSelector": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHFragmentSelector",
          "traits": {
            "smithy.api#documentation": "<p>The time range of the requested fragment and the source of the timestamps.</p>\n        <p>This parameter is required if <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>. This parameter is optional if PlaybackMode is<code></code>\n            <code>LIVE</code>. If <code>PlaybackMode</code> is <code>LIVE</code>, the\n                <code>FragmentSelectorType</code> can be set, but the <code>TimestampRange</code>\n            should not be set. If <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>, both <code>FragmentSelectorType</code> and\n                <code>TimestampRange</code> must be set.</p>"
          }
        },
        "DisplayFragmentNumber": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentNumber",
          "traits": {
            "smithy.api#documentation": "<p>Fragments are identified in the manifest file based on their sequence number in the\n            session. If DisplayFragmentNumber is set to <code>ALWAYS</code>, the Kinesis Video\n            Streams fragment number is added to each S element in the manifest file with the\n            attribute name “kvs:fn”. These fragment numbers can be used for logging or for use with\n            other APIs (e.g. <code>GetMedia</code> and <code>GetMediaForFragmentList</code>). A\n            custom MPEG-DASH media player is necessary to leverage these this custom\n            attribute.</p>\n        <p>The default value is <code>NEVER</code>.</p>"
          }
        },
        "DisplayFragmentTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHDisplayFragmentTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Per the MPEG-DASH specification, the wall-clock time of fragments in the manifest file\n            can be derived using attributes in the manifest itself. However, typically, MPEG-DASH\n            compatible media players do not properly handle gaps in the media timeline. Kinesis\n            Video Streams adjusts the media timeline in the manifest file to enable playback of\n            media with discontinuities. Therefore, the wall-clock time derived from the manifest\n            file may be inaccurate. If DisplayFragmentTimestamp is set to <code>ALWAYS</code>, the\n            accurate fragment timestamp is added to each S element in the manifest file with the\n            attribute name “kvs:ts”. A custom MPEG-DASH media player is necessary to leverage this\n            custom attribute.</p>\n        <p>The default value is <code>NEVER</code>. When <a>DASHFragmentSelector</a>\n            is <code>SERVER_TIMESTAMP</code>, the timestamps will be the server start timestamps.\n            Similarly, when <a>DASHFragmentSelector</a> is\n                <code>PRODUCER_TIMESTAMP</code>, the timestamps will be the producer start\n            timestamps. </p>"
          }
        },
        "Expires": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Expires",
          "traits": {
            "smithy.api#documentation": "<p>The time in seconds until the requested session expires. This value can be between 300\n            (5 minutes) and 43200 (12 hours).</p>\n        <p>When a session expires, no new calls to <code>GetDashManifest</code>,\n                <code>GetMP4InitFragment</code>, or <code>GetMP4MediaFragment</code> can be made for\n            that session.</p>\n        <p>The default is 300 (5 minutes).</p>"
          }
        },
        "MaxManifestFragmentResults": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of fragments that are returned in the MPEG-DASH manifest.</p>\n        <p>When the <code>PlaybackMode</code> is <code>LIVE</code>, the most recent fragments are\n            returned up to this value. When the <code>PlaybackMode</code> is <code>ON_DEMAND</code>,\n            the oldest fragments are returned, up to this maximum number.</p>\n        <p>When there are a higher number of fragments available in a live MPEG-DASH manifest,\n            video players often buffer content before starting playback. Increasing the buffer size\n            increases the playback latency, but it decreases the likelihood that rebuffering will\n            occur during playback. We recommend that a live MPEG-DASH manifest have a minimum of 3\n            fragments and a maximum of 10 fragments.</p>\n        <p>The default is 5 fragments if <code>PlaybackMode</code> is <code>LIVE</code> or\n                <code>LIVE_REPLAY</code>, and 1,000 if <code>PlaybackMode</code> is\n                <code>ON_DEMAND</code>. </p>\n        <p>The maximum value of 1,000 fragments corresponds to more than 16 minutes of video on\n            streams with 1-second fragments, and more than 2 1/2 hours of video on streams with\n            10-second fragments.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHPlaybackMode",
          "traits": {
            "smithy.api#documentation": "<p>Whether to retrieve live, live replay, or archived, on-demand data.</p>\n        <p>Features of the three types of sessions include the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>\n                     <code>LIVE</code>\n                  </b>: For sessions of this type,\n                    the MPEG-DASH manifest is continually updated with the latest fragments as they\n                    become available. We recommend that the media player retrieve a new manifest on\n                    a one-second interval. When this type of session is played in a media player,\n                    the user interface typically displays a \"live\" notification, with no scrubber\n                    control for choosing the position in the playback window to display.</p>\n                <note>\n                    <p>In <code>LIVE</code> mode, the newest available fragments are included in\n                        an MPEG-DASH manifest, even if there is a gap between fragments (that is, if\n                        a fragment is missing). A gap like this might cause a media player to halt\n                        or cause a jump in playback. In this mode, fragments are not added to the\n                        MPEG-DASH manifest if they are older than the newest fragment in the\n                        playlist. If the missing fragment becomes available after a subsequent\n                        fragment is added to the manifest, the older fragment is not added, and the\n                        gap is not filled.</p>\n                </note>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>LIVE_REPLAY</code>\n                  </b>: For sessions of\n                    this type, the MPEG-DASH manifest is updated similarly to how it is updated for\n                        <code>LIVE</code> mode except that it starts by including fragments from a\n                    given start time. Instead of fragments being added as they are ingested,\n                    fragments are added as the duration of the next fragment elapses. For example,\n                    if the fragments in the session are two seconds long, then a new fragment is\n                    added to the manifest every two seconds. This mode is useful to be able to start\n                    playback from when an event is detected and continue live streaming media that\n                    has not yet been ingested as of the time of the session creation. This mode is\n                    also useful to stream previously archived media without being limited by the\n                    1,000 fragment limit in the <code>ON_DEMAND</code> mode. </p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>ON_DEMAND</code>\n                  </b>: For sessions of this\n                    type, the MPEG-DASH manifest contains all the fragments for the session, up to\n                    the number that is specified in <code>MaxMediaPlaylistFragmentResults</code>.\n                    The manifest must be retrieved only once for each session. When this type of\n                    session is played in a media player, the user interface typically displays a\n                    scrubber control for choosing the position in the playback window to\n                    display.</p>\n            </li>\n         </ul>\n        <p>In all playback modes, if <code>FragmentSelectorType</code> is\n                <code>PRODUCER_TIMESTAMP</code>, and if there are multiple fragments with the same\n            start timestamp, the fragment that has the larger fragment number (that is, the newer\n            fragment) is included in the MPEG-DASH manifest. The other fragments are not included.\n            Fragments that have different timestamps but have overlapping durations are still\n            included in the MPEG-DASH manifest. This can lead to unexpected behavior in the media\n            player.</p>\n        <p>The default is <code>LIVE</code>.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream for which to retrieve the MPEG-DASH\n            manifest URL.</p>\n        <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream for which to retrieve the MPEG-DASH manifest URL.</p>\n        <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetDASHStreamingSessionURLOutput": {
      "type": "structure",
      "members": {
        "DASHStreamingSessionURL": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#DASHStreamingSessionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL (containing the session token) that a media player can use to retrieve the\n            MPEG-DASH manifest.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURL": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves an HTTP Live Streaming (HLS) URL for the stream. You can then open the URL\n            in a browser or media player to view the stream contents.</p>\n        <p>Both the <code>StreamName</code> and the <code>StreamARN</code> parameters are\n            optional, but you must specify either the <code>StreamName</code> or the\n                <code>StreamARN</code> when invoking this API operation.</p>\n        <p>An Amazon Kinesis video stream has the following requirements for providing data\n            through HLS:</p>\n        <ul>\n            <li>\n                <p>The media must contain h.264 or h.265 encoded video and, optionally, AAC\n                    encoded audio. Specifically, the codec ID of track 1 should be\n                        <code>V_MPEG/ISO/AVC</code> (for h.264) or <code>V_MPEG/ISO/HEVC</code> (for\n                    h.265). Optionally, the codec ID of track 2 should be <code>A_AAC</code>.</p>\n            </li>\n            <li>\n                <p>Data retention must be greater than 0.</p>\n            </li>\n            <li>\n                <p>The video track of each fragment must contain codec private data in the\n                    Advanced Video Coding (AVC) for H.264 format or HEVC for H.265 format (<a href=\"https://www.iso.org/standard/55980.html\">MPEG-4 specification ISO/IEC\n                        14496-15</a>). For information about adapting stream data to a given\n                    format, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/producer-reference-nal.html\">NAL\n                        Adaptation Flags</a>.</p>\n            </li>\n            <li>\n                <p>The audio track (if present) of each fragment must contain codec private data\n                    in the AAC format (<a href=\"https://www.iso.org/standard/43345.html\">AAC\n                        specification ISO/IEC 13818-7</a>).</p>\n            </li>\n         </ul>\n        <p>Kinesis Video Streams HLS sessions contain fragments in the fragmented MPEG-4 form\n            (also called fMP4 or CMAF) or the MPEG-2 form (also called TS chunks, which the HLS\n            specification also supports). For more information about HLS fragment types, see the\n                <a href=\"https://tools.ietf.org/html/draft-pantos-http-live-streaming-23\">HLS\n                specification</a>.</p>\n        <p>The following procedure shows how to use HLS with Kinesis Video Streams:</p>\n        <ol>\n            <li>\n                <p>Get an endpoint using <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_GetDataEndpoint.html\">GetDataEndpoint</a>, specifying\n                        <code>GET_HLS_STREAMING_SESSION_URL</code> for the <code>APIName</code>\n                    parameter.</p>\n            </li>\n            <li>\n                <p>Retrieve the HLS URL using <code>GetHLSStreamingSessionURL</code>. Kinesis\n                    Video Streams creates an HLS streaming session to be used for accessing content\n                    in a stream using the HLS protocol. <code>GetHLSStreamingSessionURL</code>\n                    returns an authenticated URL (that includes an encrypted session token) for the\n                    session's HLS <i>master playlist</i> (the root resource needed for\n                    streaming with HLS).</p>\n                <note>\n                    <p>Don't share or store this token where an unauthorized entity could access\n                        it. The token provides access to the content of the stream. Safeguard the\n                        token with the same measures that you would use with your AWS\n                        credentials.</p>\n                </note>\n                <p>The media that is made available through the playlist consists only of the\n                    requested stream, time range, and format. No other media data (such as frames\n                    outside the requested window or alternate bitrates) is made available.</p>\n            </li>\n            <li>\n                <p>Provide the URL (containing the encrypted session token) for the HLS master\n                    playlist to a media player that supports the HLS protocol. Kinesis Video Streams\n                    makes the HLS media playlist, initialization fragment, and media fragments\n                    available through the master playlist URL. The initialization fragment contains\n                    the codec private data for the stream, and other data needed to set up the video\n                    or audio decoder and renderer. The media fragments contain H.264-encoded video\n                    frames or AAC-encoded audio samples.</p>\n            </li>\n            <li>\n                <p>The media player receives the authenticated URL and requests stream metadata\n                    and media data normally. When the media player requests data, it calls the\n                    following actions:</p>\n                <ul>\n                  <li>\n                        <p>\n                        <b>GetHLSMasterPlaylist:</b> Retrieves an\n                            HLS master playlist, which contains a URL for the\n                                <code>GetHLSMediaPlaylist</code> action for each track, and\n                            additional metadata for the media player, including estimated bitrate\n                            and resolution.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetHLSMediaPlaylist:</b> Retrieves an HLS\n                            media playlist, which contains a URL to access the MP4 initialization\n                            fragment with the <code>GetMP4InitFragment</code> action, and URLs to\n                            access the MP4 media fragments with the <code>GetMP4MediaFragment</code>\n                            actions. The HLS media playlist also contains metadata about the stream\n                            that the player needs to play it, such as whether the\n                                <code>PlaybackMode</code> is <code>LIVE</code> or\n                                <code>ON_DEMAND</code>. The HLS media playlist is typically static\n                            for sessions with a <code>PlaybackType</code> of <code>ON_DEMAND</code>.\n                            The HLS media playlist is continually updated with new fragments for\n                            sessions with a <code>PlaybackType</code> of <code>LIVE</code>. There is\n                            a distinct HLS media playlist for the video track and the audio track\n                            (if applicable) that contains MP4 media URLs for the specific track.\n                        </p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetMP4InitFragment:</b> Retrieves the MP4\n                            initialization fragment. The media player typically loads the\n                            initialization fragment before loading any media fragments. This\n                            fragment contains the \"<code>fytp</code>\" and \"<code>moov</code>\" MP4\n                            atoms, and the child atoms that are needed to initialize the media\n                            player decoder.</p>\n                        <p>The initialization fragment does not correspond to a fragment in a\n                            Kinesis video stream. It contains only the codec private data for the\n                            stream and respective track, which the media player needs to decode the\n                            media frames.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetMP4MediaFragment:</b> Retrieves MP4\n                            media fragments. These fragments contain the \"<code>moof</code>\" and\n                                \"<code>mdat</code>\" MP4 atoms and their child atoms, containing the\n                            encoded fragment's media frames and their timestamps. </p>\n                        <note>\n                            <p>After the first media fragment is made available in a streaming\n                                session, any fragments that don't contain the same codec private\n                                data cause an error to be returned when those different media\n                                fragments are loaded. Therefore, the codec private data should not\n                                change between fragments in a session. This also means that the\n                                session fails if the fragments in a stream change from having only\n                                video to having both audio and video.</p>\n                        </note>\n                        <p>Data retrieved with this action is billable. See <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Pricing</a> for details.</p>\n                    </li>\n                  <li>\n                        <p>\n                        <b>GetTSFragment:</b> Retrieves MPEG TS\n                            fragments containing both initialization and media data for all tracks\n                            in the stream.</p>\n                        <note>\n                            <p>If the <code>ContainerFormat</code> is <code>MPEG_TS</code>, this\n                                API is used instead of <code>GetMP4InitFragment</code> and\n                                    <code>GetMP4MediaFragment</code> to retrieve stream\n                                media.</p>\n                        </note>\n                        <p>Data retrieved with this action is billable. For more information, see\n                                <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Kinesis Video Streams pricing</a>.</p>\n                    </li>\n               </ul>\n            </li>\n         </ol>\n        <note>\n            <p>The following restrictions apply to HLS sessions:</p>\n            <ul>\n               <li>\n                    <p>A streaming session URL should not be shared between players. The service\n                        might throttle a session if multiple media players are sharing it. For\n                        connection limits, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/limits.html\">Kinesis Video\n                            Streams Limits</a>.</p>\n                </li>\n               <li>\n                    <p>A Kinesis video stream can have a maximum of ten active HLS streaming\n                        sessions. If a new session is created when the maximum number of sessions is\n                        already active, the oldest (earliest created) session is closed. The number\n                        of active <code>GetMedia</code> connections on a Kinesis video stream does\n                        not count against this limit, and the number of active HLS sessions does not\n                        count against the active <code>GetMedia</code> connection limit.</p>\n                    <note>\n                        <p>The maximum limits for active HLS and MPEG-DASH streaming sessions are\n                            independent of each other.</p>\n                    </note>\n                </li>\n            </ul>\n        </note>\n        <p>You can monitor the amount of data that the media player consumes by monitoring the\n                <code>GetMP4MediaFragment.OutgoingBytes</code> Amazon CloudWatch metric. For\n            information about using CloudWatch to monitor Kinesis Video Streams, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/monitoring.html\">Monitoring\n                Kinesis Video Streams</a>. For pricing information, see <a href=\"https://aws.amazon.com/kinesis/video-streams/pricing/\">Amazon Kinesis Video\n                Streams Pricing</a> and <a href=\"https://aws.amazon.com/pricing/\">AWS\n                Pricing</a>. Charges for both HLS sessions and outgoing AWS data apply.</p>\n        <p>For more information about HLS, see <a href=\"https://developer.apple.com/streaming/\">HTTP Live Streaming</a> on the\n                <a href=\"https://developer.apple.com\">Apple Developer site</a>.</p>\n\n        <important>\n            <p>If an error is thrown after invoking a Kinesis Video Streams archived media API,\n                in addition to the HTTP status code and the response body, it includes the following\n                pieces of information: </p>\n            <ul>\n               <li>\n                    <p>\n                     <code>x-amz-ErrorType</code> HTTP header – contains a more specific error\n                        type in addition to what the HTTP status code provides. </p>\n                </li>\n               <li>\n                    <p>\n                     <code>x-amz-RequestId</code> HTTP header – if you want to report an issue\n                        to AWS, the support team can better diagnose the problem if given the\n                        Request Id.</p>\n                </li>\n            </ul>\n            <p>Both the HTTP status code and the ErrorType header can be utilized to make\n                programmatic decisions about whether errors are retry-able and under what\n                conditions, as well as provide information on what actions the client programmer\n                might need to take in order to successfully try again.</p>\n            <p>For more information, see the <b>Errors</b> section at\n                the bottom of this topic, as well as <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/CommonErrors.html\">Common Errors</a>.\n            </p>\n        </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getHLSStreamingSessionURL",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLInput": {
      "type": "structure",
      "members": {
        "ContainerFormat": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ContainerFormat",
          "traits": {
            "smithy.api#documentation": "<p>Specifies which format should be used for packaging the media. Specifying the\n                <code>FRAGMENTED_MP4</code> container format packages the media into MP4 fragments\n            (fMP4 or CMAF). This is the recommended packaging because there is minimal packaging\n            overhead. The other container format option is <code>MPEG_TS</code>. HLS has supported\n            MPEG TS chunks since it was released and is sometimes the only supported packaging on\n            older HLS players. MPEG TS typically has a 5-25 percent packaging overhead. This means\n            MPEG TS typically requires 5-25 percent more bandwidth and cost than fMP4.</p>\n        <p>The default is <code>FRAGMENTED_MP4</code>.</p>"
          }
        },
        "DiscontinuityMode": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSDiscontinuityMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies when flags marking discontinuities between fragments are added to the media\n            playlists.</p>\n        <p>Media players typically build a timeline of media content to play, based on the\n            timestamps of each fragment. This means that if there is any overlap or gap between\n            fragments (as is typical if <a>HLSFragmentSelector</a> is set to\n                <code>SERVER_TIMESTAMP</code>), the media player timeline will also have small gaps\n            between fragments in some places, and will overwrite frames in other places. Gaps in the\n            media player timeline can cause playback to stall and overlaps can cause playback to be\n            jittery. When there are discontinuity flags between fragments, the media player is\n            expected to reset the timeline, resulting in the next fragment being played immediately\n            after the previous fragment. </p>\n        <p>The following modes are supported:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ALWAYS</code>: a discontinuity marker is placed between every fragment\n                    in the HLS media playlist. It is recommended to use a value of\n                        <code>ALWAYS</code> if the fragment timestamps are not accurate.</p>\n            </li>\n            <li>\n                <p>\n                  <code>NEVER</code>: no discontinuity markers are placed anywhere. It is\n                    recommended to use a value of <code>NEVER</code> to ensure the media player\n                    timeline most accurately maps to the producer timestamps. </p>\n            </li>\n            <li>\n                <p>\n                  <code>ON_DISCONTIUNITY</code>: a discontinuity marker is placed between\n                    fragments that have a gap or overlap of more than 50 milliseconds. For most\n                    playback scenarios, it is recommended to use a value of\n                        <code>ON_DISCONTINUITY</code> so that the media player timeline is only\n                    reset when there is a significant issue with the media timeline (e.g. a missing\n                    fragment).</p>\n            </li>\n         </ul>\n        <p>The default is <code>ALWAYS</code> when <a>HLSFragmentSelector</a> is set\n            to <code>SERVER_TIMESTAMP</code>, and <code>NEVER</code> when it is set to\n                <code>PRODUCER_TIMESTAMP</code>.</p>"
          }
        },
        "DisplayFragmentTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSDisplayFragmentTimestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies when the fragment start timestamps should be included in the HLS media\n            playlist. Typically, media players report the playhead position as a time relative to\n            the start of the first fragment in the playback session. However, when the start\n            timestamps are included in the HLS media playlist, some media players might report the\n            current playhead as an absolute time based on the fragment timestamps. This can be\n            useful for creating a playback experience that shows viewers the wall-clock time of the\n            media.</p>\n        <p>The default is <code>NEVER</code>. When <a>HLSFragmentSelector</a> is\n                <code>SERVER_TIMESTAMP</code>, the timestamps will be the server start timestamps.\n            Similarly, when <a>HLSFragmentSelector</a> is\n            <code>PRODUCER_TIMESTAMP</code>, the timestamps will be the producer start timestamps.\n        </p>"
          }
        },
        "Expires": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Expires",
          "traits": {
            "smithy.api#documentation": "<p>The time in seconds until the requested session expires. This value can be between 300\n            (5 minutes) and 43200 (12 hours).</p>\n        <p>When a session expires, no new calls to <code>GetHLSMasterPlaylist</code>,\n                <code>GetHLSMediaPlaylist</code>, <code>GetMP4InitFragment</code>,\n                <code>GetMP4MediaFragment</code>, or <code>GetTSFragment</code> can be made for that\n            session.</p>\n        <p>The default is 300 (5 minutes).</p>"
          }
        },
        "HLSFragmentSelector": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSFragmentSelector",
          "traits": {
            "smithy.api#documentation": "<p>The time range of the requested fragment and the source of the timestamps.</p>\n        <p>This parameter is required if <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>. This parameter is optional if PlaybackMode is<code></code>\n            <code>LIVE</code>. If <code>PlaybackMode</code> is <code>LIVE</code>, the\n                <code>FragmentSelectorType</code> can be set, but the <code>TimestampRange</code>\n            should not be set. If <code>PlaybackMode</code> is <code>ON_DEMAND</code> or\n                <code>LIVE_REPLAY</code>, both <code>FragmentSelectorType</code> and\n                <code>TimestampRange</code> must be set.</p>"
          }
        },
        "MaxMediaPlaylistFragmentResults": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of fragments that are returned in the HLS media playlists.</p>\n        <p>When the <code>PlaybackMode</code> is <code>LIVE</code>, the most recent fragments are\n            returned up to this value. When the <code>PlaybackMode</code> is <code>ON_DEMAND</code>,\n            the oldest fragments are returned, up to this maximum number.</p>\n        <p>When there are a higher number of fragments available in a live HLS media playlist,\n            video players often buffer content before starting playback. Increasing the buffer size\n            increases the playback latency, but it decreases the likelihood that rebuffering will\n            occur during playback. We recommend that a live HLS media playlist have a minimum of 3\n            fragments and a maximum of 10 fragments.</p>\n        <p>The default is 5 fragments if <code>PlaybackMode</code> is <code>LIVE</code> or\n                <code>LIVE_REPLAY</code>, and 1,000 if <code>PlaybackMode</code> is\n                <code>ON_DEMAND</code>. </p>\n        <p>The maximum value of 1,000 fragments corresponds to more than 16 minutes of video on\n            streams with 1-second fragments, and more than 2 1/2 hours of video on streams with\n            10-second fragments.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSPlaybackMode",
          "traits": {
            "smithy.api#documentation": "<p>Whether to retrieve live, live replay, or archived, on-demand data.</p>\n        <p>Features of the three types of sessions include the following:</p>\n        <ul>\n            <li>\n                <p>\n                  <b>\n                     <code>LIVE</code>\n                  </b>: For sessions of this type,\n                    the HLS media playlist is continually updated with the latest fragments as they\n                    become available. We recommend that the media player retrieve a new playlist on\n                    a one-second interval. When this type of session is played in a media player,\n                    the user interface typically displays a \"live\" notification, with no scrubber\n                    control for choosing the position in the playback window to display.</p>\n                <note>\n                    <p>In <code>LIVE</code> mode, the newest available fragments are included in\n                        an HLS media playlist, even if there is a gap between fragments (that is, if\n                        a fragment is missing). A gap like this might cause a media player to halt\n                        or cause a jump in playback. In this mode, fragments are not added to the\n                        HLS media playlist if they are older than the newest fragment in the\n                        playlist. If the missing fragment becomes available after a subsequent\n                        fragment is added to the playlist, the older fragment is not added, and the\n                        gap is not filled.</p>\n                </note>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>LIVE_REPLAY</code>\n                  </b>: For sessions of\n                    this type, the HLS media playlist is updated similarly to how it is updated for\n                        <code>LIVE</code> mode except that it starts by including fragments from a\n                    given start time. Instead of fragments being added as they are ingested,\n                    fragments are added as the duration of the next fragment elapses. For example,\n                    if the fragments in the session are two seconds long, then a new fragment is\n                    added to the media playlist every two seconds. This mode is useful to be able to\n                    start playback from when an event is detected and continue live streaming media\n                    that has not yet been ingested as of the time of the session creation. This mode\n                    is also useful to stream previously archived media without being limited by the\n                    1,000 fragment limit in the <code>ON_DEMAND</code> mode. </p>\n            </li>\n            <li>\n                <p>\n                  <b>\n                     <code>ON_DEMAND</code>\n                  </b>: For sessions of this\n                    type, the HLS media playlist contains all the fragments for the session, up to\n                    the number that is specified in <code>MaxMediaPlaylistFragmentResults</code>.\n                    The playlist must be retrieved only once for each session. When this type of\n                    session is played in a media player, the user interface typically displays a\n                    scrubber control for choosing the position in the playback window to\n                    display.</p>\n            </li>\n         </ul>\n        <p>In all playback modes, if <code>FragmentSelectorType</code> is\n                <code>PRODUCER_TIMESTAMP</code>, and if there are multiple fragments with the same\n            start timestamp, the fragment that has the larger fragment number (that is, the newer\n            fragment) is included in the HLS media playlist. The other fragments are not included.\n            Fragments that have different timestamps but have overlapping durations are still\n            included in the HLS media playlist. This can lead to unexpected behavior in the media\n            player.</p>\n        <p>The default is <code>LIVE</code>.</p>"
          }
        },
        "StreamARN": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the stream for which to retrieve the HLS master\n            playlist URL.</p>\n        <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream for which to retrieve the HLS master playlist URL.</p>\n        <p>You must specify either the <code>StreamName</code> or the\n            <code>StreamARN</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetHLSStreamingSessionURLOutput": {
      "type": "structure",
      "members": {
        "HLSStreamingSessionURL": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSStreamingSessionURL",
          "traits": {
            "smithy.api#documentation": "<p>The URL (containing the session token) that a media player can use to retrieve the HLS\n            master playlist.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentList": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentListInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentListOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets media for a list of fragments (specified by fragment number) from the archived\n            data in an Amazon Kinesis video stream.</p>\n\n        <note>\n            <p>You must first call the <code>GetDataEndpoint</code> API to get an endpoint.\n                Then send the <code>GetMediaForFragmentList</code> requests to this endpoint using\n                the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/\">--endpoint-url\n                    parameter</a>. </p>\n        </note>\n\n        <p>The following limits apply when using the <code>GetMediaForFragmentList</code>\n            API:</p>\n        <ul>\n            <li>\n                <p>A client can call <code>GetMediaForFragmentList</code> up to five times per\n                    second per stream. </p>\n            </li>\n            <li>\n                <p>Kinesis Video Streams sends media data at a rate of up to 25 megabytes per\n                    second (or 200 megabits per second) during a\n                        <code>GetMediaForFragmentList</code> session. </p>\n            </li>\n         </ul>\n\n        <important>\n            <p>If an error is thrown after invoking a Kinesis Video Streams archived media API,\n                in addition to the HTTP status code and the response body, it includes the following\n                pieces of information: </p>\n            <ul>\n               <li>\n                    <p>\n                     <code>x-amz-ErrorType</code> HTTP header – contains a more specific error\n                        type in addition to what the HTTP status code provides. </p>\n                </li>\n               <li>\n                    <p>\n                     <code>x-amz-RequestId</code> HTTP header – if you want to report an issue\n                        to AWS, the support team can better diagnose the problem if given the\n                        Request Id.</p>\n                </li>\n            </ul>\n            <p>Both the HTTP status code and the ErrorType header can be utilized to make\n                programmatic decisions about whether errors are retry-able and under what\n                conditions, as well as provide information on what actions the client programmer\n                might need to take in order to successfully try again.</p>\n            <p>For more information, see the <b>Errors</b> section at\n                the bottom of this topic, as well as <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/CommonErrors.html\">Common Errors</a>.\n            </p>\n        </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/getMediaForFragmentList",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentListInput": {
      "type": "structure",
      "members": {
        "Fragments": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentNumberList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the numbers of fragments for which to retrieve media. You retrieve these\n            values with <a>ListFragments</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream from which to retrieve fragment media.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#GetMediaForFragmentListOutput": {
      "type": "structure",
      "members": {
        "ContentType": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The content type of the requested media.</p>",
            "smithy.api#httpHeader": "Content-Type"
          }
        },
        "Payload": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Payload",
          "traits": {
            "smithy.api#documentation": "<p>The payload that Kinesis Video Streams returns is a sequence of chunks from the\n            specified stream. For information about the chunks, see <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_dataplane_PutMedia.html\">PutMedia</a>. The chunks that\n            Kinesis Video Streams returns in the <code>GetMediaForFragmentList</code> call also\n            include the following additional Matroska (MKV) tags: </p>\n        <ul>\n            <li>\n                <p>AWS_KINESISVIDEO_FRAGMENT_NUMBER - Fragment number returned in the\n                    chunk.</p>\n            </li>\n            <li>\n                <p>AWS_KINESISVIDEO_SERVER_SIDE_TIMESTAMP - Server-side timestamp of the\n                    fragment.</p>\n            </li>\n            <li>\n                <p>AWS_KINESISVIDEO_PRODUCER_SIDE_TIMESTAMP - Producer-side timestamp of the\n                    fragment.</p>\n            </li>\n         </ul>\n        <p>The following tags will be included if an exception occurs:</p>\n        <ul>\n            <li>\n                <p>AWS_KINESISVIDEO_FRAGMENT_NUMBER - The number of the fragment that threw the\n                    exception</p>\n            </li>\n            <li>\n                <p>AWS_KINESISVIDEO_EXCEPTION_ERROR_CODE - The integer code of the\n                    exception</p>\n            </li>\n            <li>\n                <p>AWS_KINESISVIDEO_EXCEPTION_MESSAGE - A text description of the\n                    exception</p>\n            </li>\n         </ul>",
            "smithy.api#httpPayload": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSDiscontinuityMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALWAYS",
            "name": "ALWAYS"
          },
          {
            "value": "NEVER",
            "name": "NEVER"
          },
          {
            "value": "ON_DISCONTINUITY",
            "name": "ON_DISCONTINUITY"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSDisplayFragmentTimestamp": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALWAYS",
            "name": "ALWAYS"
          },
          {
            "value": "NEVER",
            "name": "NEVER"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSFragmentSelector": {
      "type": "structure",
      "members": {
        "FragmentSelectorType": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSFragmentSelectorType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the timestamps for the requested media.</p>\n        <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetHLSStreamingSessionURLInput$PlaybackMode</a> is\n                <code>ON_DEMAND</code> or <code>LIVE_REPLAY</code>, the first fragment ingested with\n            a producer timestamp within the specified <a>FragmentSelector$TimestampRange</a> is included in the media playlist. In\n            addition, the fragments with producer timestamps within the <code>TimestampRange</code>\n            ingested immediately following the first fragment (up to the <a>GetHLSStreamingSessionURLInput$MaxMediaPlaylistFragmentResults</a> value)\n            are included. </p>\n        <p>Fragments that have duplicate producer timestamps are deduplicated. This means that if\n            producers are producing a stream of fragments with producer timestamps that are\n            approximately equal to the true clock time, the HLS media playlists will contain all of\n            the fragments within the requested timestamp range. If some fragments are ingested\n            within the same time range and very different points in time, only the oldest ingested\n            collection of fragments are returned.</p>\n        <p>When <code>FragmentSelectorType</code> is set to <code>PRODUCER_TIMESTAMP</code> and\n                <a>GetHLSStreamingSessionURLInput$PlaybackMode</a> is <code>LIVE</code>,\n            the producer timestamps are used in the MP4 fragments and for deduplication. But the\n            most recently ingested fragments based on server timestamps are included in the HLS\n            media playlist. This means that even if fragments ingested in the past have producer\n            timestamps with values now, they are not included in the HLS media playlist.</p>\n        <p>The default is <code>SERVER_TIMESTAMP</code>.</p>"
          }
        },
        "TimestampRange": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#HLSTimestampRange",
          "traits": {
            "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n        <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the range of timestamps for the requested media, and the source of the\n            timestamps.</p>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSFragmentSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRODUCER_TIMESTAMP",
            "name": "PRODUCER_TIMESTAMP"
          },
          {
            "value": "SERVER_TIMESTAMP",
            "name": "SERVER_TIMESTAMP"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSPlaybackMode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "LIVE",
            "name": "LIVE"
          },
          {
            "value": "LIVE_REPLAY",
            "name": "LIVE_REPLAY"
          },
          {
            "value": "ON_DEMAND",
            "name": "ON_DEMAND"
          }
        ]
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSStreamingSessionURL": {
      "type": "string"
    },
    "com.amazonaws.kinesisvideoarchivedmedia#HLSTimestampRange": {
      "type": "structure",
      "members": {
        "EndTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The end of the timestamp range for the requested media. This value must be within 3\n            hours of the specified <code>StartTimestamp</code>, and it must be later than the\n                <code>StartTimestamp</code> value.</p>\n        <p>If <code>FragmentSelectorType</code> for the request is <code>SERVER_TIMESTAMP</code>,\n            this value must be in the past.</p>\n        <p>The <code>EndTimestamp</code> value is required for <code>ON_DEMAND</code> mode, but\n            optional for <code>LIVE_REPLAY</code> mode. If the <code>EndTimestamp</code> is not set\n            for <code>LIVE_REPLAY</code> mode then the session will continue to include newly\n            ingested fragments until the session expires.</p>\n        <note>\n            <p>This value is inclusive. The <code>EndTimestamp</code> is compared to the\n                (starting) timestamp of the fragment. Fragments that start before the\n                    <code>EndTimestamp</code> value and continue past it are included in the\n                session.</p>\n        </note>"
          }
        },
        "StartTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start of the timestamp range for the requested media.</p>\n        <p>If the <code>HLSTimestampRange</code> value is specified, the\n                <code>StartTimestamp</code> value is required.</p>\n        <note>\n            <p>This value is inclusive. Fragments that start before the\n                    <code>StartTimestamp</code> and continue past it are included in the session. If\n                    <code>FragmentSelectorType</code> is <code>SERVER_TIMESTAMP</code>, the\n                    <code>StartTimestamp</code> must be later than the stream head.</p>\n        </note>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The start and end of the timestamp range for the requested media.</p>\n        <p>This value should not be present if <code>PlaybackType</code> is\n            <code>LIVE</code>.</p>\n        <note>\n            <p>The values in the <code>HLSTimestampRange</code> are inclusive. Fragments that\n                begin before the start time but continue past it, or fragments that begin before the\n                end time but continue past it, are included in the session.</p>\n        </note>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A specified parameter exceeds its restrictions, is not supported, or can't be\n            used.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#InvalidCodecPrivateDataException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The codec private data in at least one of the tracks of the video stream is not valid\n            for this operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ListFragments": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#ListFragmentsInput"
      },
      "output": {
        "target": "com.amazonaws.kinesisvideoarchivedmedia#ListFragmentsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ClientLimitExceededException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#InvalidArgumentException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException"
        },
        {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of <a>Fragment</a> objects from the specified stream and\n            timestamp range within the archived data.</p>\n        <p>Listing fragments is eventually consistent. This means that even if the producer\n            receives an acknowledgment that a fragment is persisted, the result might not be\n            returned immediately from a request to <code>ListFragments</code>. However, results are\n            typically available in less than one second.</p>\n        <note>\n            <p>You must first call the <code>GetDataEndpoint</code> API to get an endpoint.\n                Then send the <code>ListFragments</code> requests to this endpoint using the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/\">--endpoint-url\n                    parameter</a>. </p>\n        </note>\n\n        <important>\n            <p>If an error is thrown after invoking a Kinesis Video Streams archived media API,\n                in addition to the HTTP status code and the response body, it includes the following\n                pieces of information: </p>\n            <ul>\n               <li>\n                    <p>\n                     <code>x-amz-ErrorType</code> HTTP header – contains a more specific error\n                        type in addition to what the HTTP status code provides. </p>\n                </li>\n               <li>\n                    <p>\n                     <code>x-amz-RequestId</code> HTTP header – if you want to report an issue\n                        to AWS, the support team can better diagnose the problem if given the\n                        Request Id.</p>\n                </li>\n            </ul>\n            <p>Both the HTTP status code and the ErrorType header can be utilized to make\n                programmatic decisions about whether errors are retry-able and under what\n                conditions, as well as provide information on what actions the client programmer\n                might need to take in order to successfully try again.</p>\n            <p>For more information, see the <b>Errors</b> section at\n                the bottom of this topic, as well as <a href=\"https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/CommonErrors.html\">Common Errors</a>.\n            </p>\n        </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/listFragments",
          "code": 200
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ListFragmentsInput": {
      "type": "structure",
      "members": {
        "FragmentSelector": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentSelector",
          "traits": {
            "smithy.api#documentation": "<p>Describes the timestamp range and timestamp origin for the range of fragments to\n            return.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#PageLimit",
          "traits": {
            "smithy.api#documentation": "<p>The total number of fragments to return. If the total number of fragments available is\n            more than the value specified in <code>max-results</code>, then a <a>ListFragmentsOutput$NextToken</a> is provided in the output that you can use\n            to resume pagination.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#String",
          "traits": {
            "smithy.api#documentation": "<p>A token to specify where to start paginating. This is the <a>ListFragmentsOutput$NextToken</a> from a previously truncated\n            response.</p>"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#StreamName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the stream from which to retrieve a fragment list.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ListFragmentsOutput": {
      "type": "structure",
      "members": {
        "Fragments": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#FragmentList",
          "traits": {
            "smithy.api#documentation": "<p>A list of archived <a>Fragment</a> objects from the stream that meet the\n            selector criteria. Results are in no specific order, even across pages.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#String",
          "traits": {
            "smithy.api#documentation": "<p>If the returned list is truncated, the operation returns this token to use to retrieve\n            the next page of results. This value is <code>null</code> when there are no more results\n            to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#Long": {
      "type": "long"
    },
    "com.amazonaws.kinesisvideoarchivedmedia#MissingCodecPrivateDataException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>No codec private data was found in at least one of tracks of the video stream.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#NoDataRetentionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A streaming session was requested for a stream that does not retain data (that is, has\n            a <code>DataRetentionInHours</code> of 0). </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#NotAuthorizedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Status Code: 403, The caller is not authorized to perform an operation on the given\n            stream, or the token has expired.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#PageLimit": {
      "type": "long",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#Payload": {
      "type": "blob",
      "traits": {
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ResourceARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#ResourceNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>GetMedia</code> throws this error when Kinesis Video Streams can't find the\n            stream that you specified.</p>\n        <p>\n            <code>GetHLSStreamingSessionURL</code> and <code>GetDASHStreamingSessionURL</code>\n            throw this error if a session with a <code>PlaybackMode</code> of <code>ON_DEMAND</code>\n            or <code>LIVE_REPLAY</code>is requested for a stream that has no fragments within the\n            requested time range, or if a session with a <code>PlaybackMode</code> of\n                <code>LIVE</code> is requested for a stream that has no fragments within the last 30\n            seconds.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#StreamName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[a-zA-Z0-9_.-]+"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#String": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#Timestamp": {
      "type": "timestamp"
    },
    "com.amazonaws.kinesisvideoarchivedmedia#TimestampRange": {
      "type": "structure",
      "members": {
        "EndTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The ending timestamp in the range of timestamps for which to return fragments.</p>",
            "smithy.api#required": {}
          }
        },
        "StartTimestamp": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The starting timestamp in the range of timestamps for which to return\n            fragments.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The range of timestamps for which to return fragments.</p>"
      }
    },
    "com.amazonaws.kinesisvideoarchivedmedia#UnsupportedStreamMediaTypeException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.kinesisvideoarchivedmedia#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The type of the media (for example, h.264 or h.265 video or ACC or G.711 audio) could\n            not be determined from the codec IDs of the tracks in the first fragment for a playback\n            session. The codec ID for track 1 should be <code>V_MPEG/ISO/AVC</code> and, optionally,\n            the codec ID for track 2 should be <code>A_AAC</code>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    }
  }
}
