{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kms#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.kms#AlgorithmSpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSAES_PKCS1_V1_5",
            "name": "RSAES_PKCS1_V1_5"
          },
          {
            "value": "RSAES_OAEP_SHA_1",
            "name": "RSAES_OAEP_SHA_1"
          },
          {
            "value": "RSAES_OAEP_SHA_256",
            "name": "RSAES_OAEP_SHA_256"
          }
        ]
      }
    },
    "com.amazonaws.kms#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kms#AliasListEntry"
      }
    },
    "com.amazonaws.kms#AliasListEntry": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "target": "com.amazonaws.kms#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key ARN.</p>"
          }
        },
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the alias. This value begins with <code>alias/</code>.</p>"
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key identifier referred to by the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an alias.</p>"
      }
    },
    "com.amazonaws.kms#AliasNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:/_-]+$"
      }
    },
    "com.amazonaws.kms#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because it attempted to create a resource that already\n      exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kms#ArnType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kms#BooleanType": {
      "type": "boolean"
    },
    "com.amazonaws.kms#CancelKeyDeletion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CancelKeyDeletionRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CancelKeyDeletionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the deletion of a customer master key (CMK). When this operation succeeds, the key\n      state of the CMK is <code>Disabled</code>. To enable the CMK, use <a>EnableKey</a>.\n      You cannot perform this operation on a CMK in a different AWS account.</p>\n         <p>For more information about scheduling and canceling deletion of a CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting Customer Master\n        Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> \n         <p>The CMK that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use\nof a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the customer master key (CMK) for which to cancel\n      deletion.</p> \n         <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionResponse": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the master key for which deletion is canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CiphertextType": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6144
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 24
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified AWS CloudHSM cluster is already associated with a\n      custom key store or it shares a backup history with a cluster that is associated with a custom\n      key store. Each custom key store must be associated with a different AWS CloudHSM cluster.</p>\n         <p>Clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the associated AWS CloudHSM cluster did not meet the\n      configuration requirements for a custom key store.</p>\n\n         <ul>\n            <li>\n               <p>The cluster must be configured with private subnets in at least two different\n          Availability Zones in the Region.</p>\n            </li>\n            <li>\n               <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for\n            the cluster</a> (cloudhsm-cluster-<i><cluster-id></i>-sg) must\n          include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The\n            <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group\n          ID. These rules are set by default when you create the cluster. Do not delete or change\n          them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p>\n            </li>\n            <li>\n               <p>The cluster must contain at least as many HSMs as the operation requires. To add HSMs,\n          use the AWS CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>\n               <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the AWS CloudHSM cluster must have at least two\n          active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the AWS CloudHSM must contain at least one active\n          HSM.</p>\n            </li>\n         </ul>\n         <p>For information about the requirements for an AWS CloudHSM cluster that is associated with a\n      custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a>\n      in the <i>AWS Key Management Service Developer Guide</i>. For information about creating a private subnet for an AWS CloudHSM cluster,\n      see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private\n        Subnet</a> in the <i>AWS CloudHSM User Guide</i>. For information about cluster security groups, see\n        <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security\n        Group</a> in the <i>\n               <i>AWS CloudHSM User Guide</i>\n            </i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotActiveException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the AWS CloudHSM cluster that is associated with the custom key\n      store is not active. Initialize and activate the cluster and try the command again. For\n      detailed instructions, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>AWS CloudHSM User Guide</i>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because AWS KMS cannot find the AWS CloudHSM cluster with the specified\n      cluster ID. Retry the request with a different cluster ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotRelatedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified AWS CloudHSM cluster has a different cluster\n      certificate than the original cluster. You cannot use the operation to specify an unrelated\n      cluster.</p>\n         <p>Specify a cluster that shares a backup history with the original cluster. This includes\n      clusters that were created from a backup of the current cluster, and clusters that were\n      created from the same backup that produced the current cluster.</p> \n         <p>Clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects or reconnects a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> to its associated AWS CloudHSM cluster.</p>\n         <p>The custom key store must be connected before you can create customer master keys (CMKs)\n      in the key store or use the CMKs it contains. You can disconnect and reconnect a custom key\n      store at any time.</p>\n         <p>To connect a custom key store, its associated AWS CloudHSM cluster must have at least one active\n      HSM. To get the number of active HSMs in a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation. To add HSMs\n      to the cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation. Also, the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto\n        user</a> (CU) must not be logged into the cluster. This prevents AWS KMS from using this\n      account to log in.</p>\n         <p>The connection process can take an extended amount of time to complete; up to 20 minutes.\n      This operation starts the connection process, but it does not wait for it to complete. When it\n      succeeds, this operation quickly returns an HTTP 200 response and a JSON object with no\n      properties. However, this response does not indicate that the custom key store is connected.\n      To get the connection state of the custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>During the connection process, AWS KMS finds the AWS CloudHSM cluster that is associated with the\n      custom key store, creates the connection infrastructure, connects to the cluster, logs into\n      the AWS CloudHSM client as the <code>kmsuser</code> CU, and rotates its password.</p>\n         <p>The <code>ConnectCustomKeyStore</code> operation might fail for various reasons. To find\n      the reason, use the <a>DescribeCustomKeyStores</a> operation and see the\n        <code>ConnectionErrorCode</code> in the response. For help interpreting the\n        <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p>\n         <p>To fix the failure, use the <a>DisconnectCustomKeyStore</a> operation to\n      disconnect the custom key store, correct the error, use the <a>UpdateCustomKeyStore</a> operation if necessary, and then use\n        <code>ConnectCustomKeyStore</code> again.</p>\n         <p>If you are having trouble connecting or disconnecting a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key\n        Store</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the key store ID of the custom key store that you want to connect.\n      To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kms#ConnectionErrorCodeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_CREDENTIALS",
            "name": "INVALID_CREDENTIALS"
          },
          {
            "value": "CLUSTER_NOT_FOUND",
            "name": "CLUSTER_NOT_FOUND"
          },
          {
            "value": "NETWORK_ERRORS",
            "name": "NETWORK_ERRORS"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "INSUFFICIENT_CLOUDHSM_HSMS",
            "name": "INSUFFICIENT_CLOUDHSM_HSMS"
          },
          {
            "value": "USER_LOCKED_OUT",
            "name": "USER_LOCKED_OUT"
          },
          {
            "value": "USER_NOT_FOUND",
            "name": "USER_NOT_FOUND"
          },
          {
            "value": "USER_LOGGED_IN",
            "name": "USER_LOGGED_IN"
          }
        ]
      }
    },
    "com.amazonaws.kms#ConnectionStateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONNECTED",
            "name": "CONNECTED"
          },
          {
            "value": "CONNECTING",
            "name": "CONNECTING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          },
          {
            "value": "DISCONNECTING",
            "name": "DISCONNECTING"
          }
        ]
      }
    },
    "com.amazonaws.kms#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidAliasNameException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a display name for a customer managed customer master key (CMK). You can use an\n      alias to identify a CMK in cryptographic operations, such as <a>Encrypt</a> and\n        <a>GenerateDataKey</a>. You can change the CMK associated with the alias at any\n      time.</p>\n         <p>Aliases are easier to remember than key IDs. They can also help to simplify your\n      applications. For example, if you use an alias in your code, you can change the CMK your code\n      uses by associating a given alias with a different CMK. </p>\n         <p>To run the same code in multiple AWS regions, use an alias in your code, such as\n        <code>alias/ApplicationKey</code>. Then, in each AWS Region, create an\n        <code>alias/ApplicationKey</code> alias that is associated with a CMK in that Region. When\n      you run your code, it uses the <code>alias/ApplicationKey</code> CMK for that AWS Region\n      without any Region-specific code.</p>\n         <p>This operation does not return a response. To get the alias that you created, use the\n        <a>ListAliases</a> operation.</p>\n      \n         <p>To use aliases successfully, be aware of the following information.</p>\n         <ul>\n            <li>\n               <p>Each alias points to only one CMK at a time, although a single CMK can have multiple\n          aliases. The alias and its associated CMK must be in the same AWS account and Region.\n        </p>\n            </li>\n            <li>\n               <p>You can associate an alias with any customer managed CMK in the same AWS account and\n          Region. However, you do not have permission to associate an alias with an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed\n            CMK</a> or an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-owned-cmk\">AWS owned CMK</a>. </p>\n            </li>\n            <li>\n               <p>To change the CMK associated with an alias, use the <a>UpdateAlias</a>\n          operation. The current CMK and the new CMK must be the same type (both symmetric or both\n          asymmetric) and they must have the same key usage (<code>ENCRYPT_DECRYPT</code> or\n            <code>SIGN_VERIFY</code>). This restriction prevents cryptographic errors in code that\n          uses aliases.</p>\n            </li>\n            <li>\n               <p>The alias name must begin with <code>alias/</code> followed by a\n      name, such as <code>alias/ExampleAlias</code>. It can contain only alphanumeric characters,\n      forward slashes (/), underscores (_), and dashes (-). The alias name cannot begin with\n      <code>alias/aws/</code>. The <code>alias/aws/</code> prefix is reserved for <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed CMKs</a>.\n</p>\n            </li>\n            <li>\n               <p>The alias name must be unique within an AWS Region. However, you can use the same\n          alias name in multiple Regions of the same AWS account. Each instance of the alias is\n          associated with a CMK in its Region.</p>\n            </li>\n            <li>\n               <p>After you create an alias, you cannot change its alias name. However, you can use the\n            <a>DeleteAlias</a> operation to delete the alias and then create a new alias\n          with the desired name.</p>\n            </li>\n            <li>\n               <p>You can use an alias name or alias ARN to identify a CMK in AWS KMS cryptographic\n          operations and in the <a>DescribeKey</a> operation. However, you cannot use\n          alias names or alias ARNs in API operations that manage CMKs, such as <a>DisableKey</a> or <a>GetKeyPolicy</a>. For information about the\n          valid CMK identifiers for each AWS KMS API operation, see the descriptions of the\n            <code>KeyId</code> parameter in the API operation documentation.</p>\n            </li>\n         </ul>\n\n         <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a\n      CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases and alias ARNs of CMKs in each AWS\n      account and Region, use the <a>ListAliases</a> operation.</p> \n         <p>The CMK that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use\nof a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the alias name. This value must begin with <code>alias/</code> followed by a\n      name, such as <code>alias/ExampleAlias</code>. The alias name cannot begin with\n        <code>alias/aws/</code>. The <code>alias/aws/</code> prefix is reserved for AWS managed\n      CMKs.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the CMK to which the alias refers. Specify the key ID or the Amazon Resource\n      Name (ARN) of the CMK. You cannot specify another alias. For help finding the key ID and ARN,\n      see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html#find-cmk-id-arn\">Finding the Key ID and\n        ARN</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInUseException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNameInUseException"
        },
        {
          "target": "com.amazonaws.kms#IncorrectTrustAnchorException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> that is associated with an <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/clusters.html\">AWS CloudHSM cluster</a> that you own and\n    manage.</p>\n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which\ncombines the convenience and extensive integration of AWS KMS with the isolation and control of a\nsingle-tenant key store.</p>\n         <p>Before you create the custom key store, you must assemble\n      the required elements, including an AWS CloudHSM cluster that fulfills the requirements for a custom\n      key store. For details about the required elements, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a>\n      in the <i>AWS Key Management Service Developer Guide</i>.</p>\n         <p>When the operation completes successfully, it returns the ID of the new custom key store.\n      Before you can use your new custom key store, you need to use the <a>ConnectCustomKeyStore</a> operation to connect the new key store to its AWS CloudHSM\n      cluster. Even if you are not going to use your custom key store immediately, you might want to\n      connect it to verify that all settings are correct and then disconnect it until you are ready\n      to use it.</p>\n         <p>For help with failures, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the\n      <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CloudHsmClusterId": {
          "target": "com.amazonaws.kms#CloudHsmClusterIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the AWS CloudHSM cluster for the custom key store. Enter the cluster ID of any active\n      AWS CloudHSM cluster that is not already associated with a custom key store. To find the cluster ID,\n      use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a friendly name for the custom key store. The name must be unique in your AWS\n      account.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyStorePassword": {
          "target": "com.amazonaws.kms#KeyStorePasswordType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the password of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto user\n        (CU) account</a> in the specified AWS CloudHSM cluster. AWS KMS logs into the cluster as this\n      user to manage key material on your behalf.</p>\n         <p>The password must be a string of 7 to 32 characters. Its value is case sensitive.</p>\n         <p>This parameter tells AWS KMS the <code>kmsuser</code> account password; it does not change\n      the password in the AWS CloudHSM cluster.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustAnchorCertificate": {
          "target": "com.amazonaws.kms#TrustAnchorCertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the content of the trust anchor certificate for the cluster. This is the content of\n      the <code>customerCA.crt</code> file that you created when you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html\">initialized the cluster</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreResponse": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the new custom key store.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateGrantRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateGrantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#DisabledException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#InvalidGrantTokenException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a grant to a customer master key (CMK). The grant allows the grantee principal to use\n      the CMK when the conditions specified in the grant are met. When setting permissions, grants\n      are an alternative to key policies. </p>\n         <p>To create a grant that allows a cryptographic operation only when the request includes a\n      particular <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">encryption context</a>, use the <code>Constraints</code> parameter. For details, see\n        <a>GrantConstraints</a>.</p>\n         <p>You can create grants on symmetric and asymmetric CMKs. However, if the grant allows an\n      operation that the CMK does not support, <code>CreateGrant</code> fails with a\n        <code>ValidationException</code>. </p>\n\n         <ul>\n            <li>\n               <p>Grants for symmetric CMKs cannot allow operations that are not supported for symmetric\n          CMKs, including <a>Sign</a>, <a>Verify</a>, and <a>GetPublicKey</a>. (There are limited exceptions to this rule for legacy\n          operations, but you should not create a grant for an operation that AWS KMS does not\n          support.)</p>\n            </li>\n            <li>\n               <p>Grants for asymmetric CMKs cannot allow operations that are not supported for\n          asymmetric CMKs, including operations that <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GenerateDataKey\">generate data keys</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_GenerateDataKeyPair\">data key pairs</a>,\n          or operations related to <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html\">automatic key rotation</a>, <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">imported key material</a>, or CMKs in <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key\n            stores</a>.</p>\n            </li>\n            <li>\n               <p>Grants for asymmetric CMKs with a <code>KeyUsage</code> of\n            <code>ENCRYPT_DECRYPT</code> cannot allow the <a>Sign</a> or <a>Verify</a> operations. Grants for asymmetric CMKs with a <code>KeyUsage</code>\n          of <code>SIGN_VERIFY</code> cannot allow the <a>Encrypt</a> or <a>Decrypt</a> operations.</p>\n            </li>\n            <li>\n               <p>Grants for asymmetric CMKs cannot include an encryption context grant constraint. An\n          encryption context is not supported on asymmetric CMKs.</p>\n            </li>\n         </ul>\n         <p>For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\n         <p>To perform this operation on a CMK in a different AWS account, specify the key\n  ARN in the value of the <code>KeyId</code> parameter. For more information about grants, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants</a> in the\n      <i>\n               <i>AWS Key Management Service Developer Guide</i>\n            </i>.</p> \n         <p>The CMK that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use\nof a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#CreateGrantRequest": {
      "type": "structure",
      "members": {
        "Constraints": {
          "target": "com.amazonaws.kms#GrantConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Allows a cryptographic operation only when the encryption context matches or includes the\n      encryption context specified in this structure. For more information about encryption context,\n      see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">Encryption\n        Context</a> in the <i>\n               <i>AWS Key Management Service Developer Guide</i>\n            </i>.</p>"
          }
        },
        "GrantTokens": {
          "target": "com.amazonaws.kms#GrantTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A list of grant tokens.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the\n    <i>AWS Key Management Service Developer Guide</i>.</p>"
          }
        },
        "GranteePrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The principal that is given permission to perform the operations that the grant\n      permits.</p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS\n      principal. Valid AWS principals include AWS accounts (root), IAM users, IAM roles, federated\n      users, and assumed role users. For examples of the ARN syntax to use for specifying a\n      principal, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access\n        Management (IAM)</a> in the Example ARNs section of the <i>AWS General\n        Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the customer master key (CMK) that the grant applies to.</p>\n    \n         <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK. To specify a CMK in a\ndifferent AWS account, you must use the key ARN.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.kms#GrantNameType",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for identifying the grant. Use this value to prevent the unintended\n      creation of duplicate grants when retrying this request.</p>\n         <p>When this value is absent, all <code>CreateGrant</code> requests result in a new grant\n      with a unique <code>GrantId</code> even if all the supplied parameters are identical. This can\n      result in unintended duplicates when you retry the <code>CreateGrant</code> request.</p>\n         <p>When this value is present, you can retry a <code>CreateGrant</code> request with\n      identical parameters; if the grant already exists, the original <code>GrantId</code> is\n      returned without creating a new grant. Note that the returned grant token is unique with every\n        <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code> is returned.\n      All grant tokens obtained in this way can be used interchangeably.</p>"
          }
        },
        "Operations": {
          "target": "com.amazonaws.kms#GrantOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that the grant permits.</p>",
            "smithy.api#required": {}
          }
        },
        "RetiringPrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The principal that is given permission to retire the grant by using <a>RetireGrant</a> operation.</p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an AWS\n      principal. Valid AWS principals include AWS accounts (root), IAM users, federated users, and\n      assumed role users. For examples of the ARN syntax to use for specifying a principal, see\n        <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM)</a> in the Example ARNs section of the\n        <i>AWS General Reference</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrantResponse": {
      "type": "structure",
      "members": {
        "GrantId": {
          "target": "com.amazonaws.kms#GrantIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the grant.</p>\n         <p>You can use the <code>GrantId</code> in a subsequent <a>RetireGrant</a> or\n        <a>RevokeGrant</a> operation.</p>"
          }
        },
        "GrantToken": {
          "target": "com.amazonaws.kms#GrantTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The grant token.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the\n    <i>AWS Key Management Service Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.kms#TagException"
        },
        {
          "target": "com.amazonaws.kms#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a unique customer managed <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master-keys\">customer master key</a> (CMK) in your AWS\n      account and Region. You cannot use this operation to create a CMK in a different AWS\n      account.</p>\n\n         <p>You can use the <code>CreateKey</code> operation to create symmetric or asymmetric\n      CMKs.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Symmetric CMKs</b> contain a 256-bit symmetric key that\n          never leaves AWS KMS unencrypted. To use the CMK, you must call AWS KMS. You can use a\n          symmetric CMK to encrypt and decrypt small amounts of data, but they are typically used to\n          generate <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data\n            keys</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-key-pairs\">data\n              keys pairs</a>. For details, see <a>GenerateDataKey</a> and\n            <a>GenerateDataKeyPair</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Asymmetric CMKs</b> can contain an RSA key pair or an\n          Elliptic Curve (ECC) key pair. The private key in an asymmetric CMK never leaves AWS KMS\n          unencrypted. However, you can use the <a>GetPublicKey</a> operation to download\n          the public key so it can be used outside of AWS KMS. CMKs with RSA key pairs can be used to\n          encrypt or decrypt data or sign and verify messages (but not both). CMKs with ECC key\n          pairs can be used only to sign and verify messages.</p>\n            </li>\n         </ul>\n         <p>For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\n\n\n         <p>To create different types of CMKs, use the following guidance:</p>\n\n         <dl>\n            <dt>Asymmetric CMKs</dt>\n            <dd>\n               <p>To create an asymmetric CMK, use the <code>CustomerMasterKeySpec</code> parameter to\n            specify the type of key material in the CMK. Then, use the <code>KeyUsage</code>\n            parameter to determine whether the CMK will be used to encrypt and decrypt or sign and\n            verify. You can't change these properties after the CMK is created.</p>\n               <p> </p>\n            </dd>\n            <dt>Symmetric CMKs</dt>\n            <dd>\n               <p>When creating a symmetric CMK, you don't need to specify the\n              <code>CustomerMasterKeySpec</code> or <code>KeyUsage</code> parameters. The default\n            value for <code>CustomerMasterKeySpec</code>, <code>SYMMETRIC_DEFAULT</code>, and the\n            default value for <code>KeyUsage</code>, <code>ENCRYPT_DECRYPT</code>, are the only\n            valid values for symmetric CMKs. </p>\n               <p> </p>\n            </dd>\n            <dt>Imported Key Material</dt>\n            <dd>\n               <p>To import your own key material, begin by creating a symmetric CMK with no key\n            material. To do this, use the <code>Origin</code> parameter of <code>CreateKey</code>\n            with a value of <code>EXTERNAL</code>. Next, use <a>GetParametersForImport</a> operation to get a public key and import token, and use the public key to encrypt\n            your key material. Then, use <a>ImportKeyMaterial</a> with your import token\n            to import the key material. For step-by-step instructions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>\n                     <i>AWS Key Management Service Developer Guide</i>\n                  </i>. You\n            cannot import the key material into an asymmetric CMK.</p>\n               <p> </p>\n            </dd>\n            <dt>Custom Key Stores</dt>\n            <dd>\n               <p>To create a symmetric CMK in a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>, use the\n              <code>CustomKeyStoreId</code> parameter to specify the custom key store. You must also\n            use the <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The\n            AWS CloudHSM cluster that is associated with the custom key store must have at least two active\n            HSMs in different Availability Zones in the AWS Region. </p>\n               <p>You cannot create an asymmetric CMK in a custom key store. For information about\n            custom key stores in AWS KMS see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Using Custom Key Stores</a> in\n            the <i>\n                     <i>AWS Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </dd>\n         </dl>"
      }
    },
    "com.amazonaws.kms#CreateKeyRequest": {
      "type": "structure",
      "members": {
        "BypassPolicyLockoutSafetyCheck": {
          "target": "com.amazonaws.kms#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>A flag to indicate whether to bypass the key policy lockout safety check.</p>\n         <important>\n            <p>Setting this value to true increases the risk that the CMK becomes unmanageable. Do not\n        set this value to true indiscriminately.</p>\n            <p>For more information, refer to the scenario in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>\n                  <i>AWS Key Management Service Developer Guide</i>\n               </i>.</p>\n         </important>\n         <p>Use this parameter only when you include a policy in the request and you intend to prevent\n      the principal that is making the request from making a subsequent <a>PutKeyPolicy</a> request on the CMK.</p>\n         <p>The default value is false.</p>"
          }
        },
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Creates the CMK in the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> and the key material in its associated\n      AWS CloudHSM cluster. To create a CMK in a custom key store, you must also specify the\n        <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The AWS CloudHSM cluster\n      that is associated with the custom key store must have at least two active HSMs, each in a\n      different Availability Zone in the Region.</p>\n         <p>This parameter is valid only for symmetric CMKs. You cannot create an asymmetric CMK in a\n      custom key store.</p>\n         <p>To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>The response includes the custom key store ID and the ID of the AWS CloudHSM cluster.</p>\n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which\ncombines the convenience and extensive integration of AWS KMS with the isolation and control of a\nsingle-tenant key store.</p>"
          }
        },
        "CustomerMasterKeySpec": {
          "target": "com.amazonaws.kms#CustomerMasterKeySpec",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of CMK to create. The default value, <code>SYMMETRIC_DEFAULT</code>,\n      creates a CMK with a 256-bit symmetric key for encryption and decryption. For help choosing a\n      key spec for your CMK, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-choose.html\">How to Choose Your CMK\n        Configuration</a> in the <i>AWS Key Management Service Developer\n          Guide</i>.</p>\n         <p>The <code>CustomerMasterKeySpec</code> determines whether the CMK contains a symmetric key\n      or an asymmetric key pair. It also determines the encryption algorithms or signing algorithms\n      that the CMK supports. You can't change the <code>CustomerMasterKeySpec</code> after the CMK\n      is created. To further restrict the algorithms that can be used with the CMK, use a condition\n      key in its key policy or IAM policy. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-encryption-algorithm\">kms:EncryptionAlgorithm</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-signing-algorithm\">kms:Signing Algorithm</a> in the <i>AWS Key Management Service Developer\n        Guide</i>.</p>\n         <important>\n            <p>\n               <a href=\"http://aws.amazon.com/kms/features/#AWS_Service_Integration\">AWS services that\n        are integrated with AWS KMS</a> use symmetric CMKs to protect your data. These\n        services do not support asymmetric CMKs. For help determining whether a CMK is symmetric or\n        asymmetric, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/find-symm-asymm.html\">Identifying Symmetric and Asymmetric\n          CMKs</a> in the <i>AWS Key Management Service Developer\n            Guide</i>.</p>\n         </important>\n         <p>AWS KMS supports the following key specs for CMKs:</p>\n         <ul>\n            <li>\n               <p>Symmetric key (default)</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>SYMMETRIC_DEFAULT</code> (AES-256-GCM)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric RSA key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>RSA_2048</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_3072</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_4096</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric NIST-recommended elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P256</code> (secp256r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P384</code> (secp384r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P521</code> (secp521r1)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Other asymmetric elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_SECG_P256K1</code> (secp256k1), commonly used for\n              cryptocurrencies.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kms#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>A description of the CMK.</p>\n         <p>Use a description that helps you decide whether the CMK is appropriate for a task.</p>"
          }
        },
        "KeyUsage": {
          "target": "com.amazonaws.kms#KeyUsageType",
          "traits": {
            "smithy.api#documentation": "<p>Determines the cryptographic operations for which you can use the CMK. The default value\n      is <code>ENCRYPT_DECRYPT</code>. This parameter is required only for asymmetric CMKs. You\n      can't change the <code>KeyUsage</code> value after the CMK is created.</p>\n         <p>Select only one valid value.</p>\n         <ul>\n            <li>\n               <p>For symmetric CMKs, omit the parameter or specify <code>ENCRYPT_DECRYPT</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric CMKs with RSA key material, specify <code>ENCRYPT_DECRYPT</code> or\n            <code>SIGN_VERIFY</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric CMKs with ECC key material, specify <code>SIGN_VERIFY</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.kms#OriginType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the key material for the CMK. You cannot change the origin after you create\n      the CMK. The default is <code>AWS_KMS</code>, which means AWS KMS creates the key\n      material.</p>\n         <p>When the parameter value is <code>EXTERNAL</code>, AWS KMS creates a CMK without key\n      material so that you can import key material from your existing key management infrastructure.\n      For more information about importing key material into AWS KMS, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the\n      <i>AWS Key Management Service Developer Guide</i>. This value is valid only for symmetric CMKs.</p>\n         <p>When the parameter value is <code>AWS_CLOUDHSM</code>, AWS KMS creates the CMK in an AWS KMS\n      <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> and creates its key material in the associated AWS CloudHSM cluster. You must also\n      use the <code>CustomKeyStoreId</code> parameter to identify the custom key store. This value\n      is valid only for symmetric CMKs.</p>"
          }
        },
        "Policy": {
          "target": "com.amazonaws.kms#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The key policy to attach to the CMK.</p>\n         <p>If you provide a key policy, it must meet the following criteria:</p>\n         <ul>\n            <li>\n               <p>If you don't set <code>BypassPolicyLockoutSafetyCheck</code> to true, the key policy\n          must allow the principal that is making the <code>CreateKey</code> request to make a\n          subsequent <a>PutKeyPolicy</a> request on the CMK. This reduces the risk that\n          the CMK becomes unmanageable. For more information, refer to the scenario in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section of the <i>\n                     <i>AWS Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </li>\n            <li>\n               <p>Each statement in the key policy must contain one or more principals. The principals\n          in the key policy must exist and be visible to AWS KMS. When you create a new AWS principal\n          (for example, an IAM user or role), you might need to enforce a delay before including the\n          new principal in a key policy because the new principal might not be immediately visible\n          to AWS KMS. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes that I make are not always immediately visible</a> in the <i>AWS\n            Identity and Access Management User Guide</i>.</p>\n            </li>\n         </ul>\n         <p>If you do not provide a key policy, AWS KMS attaches a default key policy to the CMK. For\n      more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default Key Policy</a> in the\n      <i>AWS Key Management Service Developer Guide</i>.</p>\n         <p>The key policy size quota is 32 kilobytes (32768 bytes).</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kms#TagList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags. Each tag consists of a tag key and a tag value. Both the tag key and the\n      tag value are required, but the tag value can be an empty (null) string.</p>\n         <p>When you add tags to an AWS resource, AWS generates a cost allocation\n              report with usage and costs aggregated by tags. For information about adding, changing, deleting and listing tags for CMKs,\n              see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/tagging-keys.html\">Tagging Keys</a>.</p> \n         <p>Use this parameter to tag the CMK when it is created. To add tags to an\n      existing CMK, use the <a>TagResource</a> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateKeyResponse": {
      "type": "structure",
      "members": {
        "KeyMetadata": {
          "target": "com.amazonaws.kms#KeyMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata associated with the CMK.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreHasCMKsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the custom key store contains AWS KMS customer master keys\n      (CMKs). After verifying that you do not need to use the CMKs, use the <a>ScheduleKeyDeletion</a> operation to delete the CMKs. After they are deleted, you\n      can delete the custom key store.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreInvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key\n      store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>This exception is thrown under the following conditions:</p>\n         <ul>\n            <li>\n               <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a>\n          operation in a custom key store that is not connected. These operations are valid only\n          when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p>\n            </li>\n            <li>\n               <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not\n          disconnected. This operation is valid only when the custom key store\n            <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p>\n            </li>\n            <li>\n               <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key\n          store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or\n            <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code>\n          values.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNameInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because the specified custom key store name is already assigned\n      to another custom key store in the account. Try again with a custom key store name that is\n      unique in the account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was rejected because AWS KMS cannot find a custom key store with the specified\n      key store name or ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoresList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kms#CustomKeyStoresListEntry"
      }
    },
    "com.amazonaws.kms#CustomKeyStoresListEntry": {
      "type": "structure",
      "members": {
        "CloudHsmClusterId": {
          "target": "com.amazonaws.kms#CloudHsmClusterIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the AWS CloudHSM cluster that is associated with the custom key\n      store.</p>"
          }
        },
        "ConnectionErrorCode": {
          "target": "com.amazonaws.kms#ConnectionErrorCodeType",
          "traits": {
            "smithy.api#documentation": "<p>Describes the connection error. This field appears in the response only when the <code>ConnectionState</code> is <code>FAILED</code>. For help resolving these errors, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-failed\">How to Fix a Connection Failure</a> in <i>AWS Key Management Service Developer Guide</i>.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CLUSTER_NOT_FOUND</code> - AWS KMS cannot find the AWS CloudHSM cluster with the\n          specified cluster ID.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INSUFFICIENT_CLOUDHSM_HSMS</code> - The associated AWS CloudHSM cluster does not\n          contain any active HSMs. To connect a custom key store to its AWS CloudHSM cluster, the cluster\n          must contain at least one active HSM.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_ERROR</code> - AWS KMS could not complete the request due to an internal\n          error. Retry the request. For <code>ConnectCustomKeyStore</code> requests, disconnect the\n          custom key store before trying to connect again.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_CREDENTIALS</code> - AWS KMS does not have the correct password for the\n            <code>kmsuser</code> crypto user in the AWS CloudHSM cluster. Before you can connect your\n          custom key store to its AWS CloudHSM cluster, you must change the <code>kmsuser</code> account\n          password and update the key store password value for the custom key store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NETWORK_ERRORS</code> - Network errors are preventing AWS KMS from connecting to\n          the custom key store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_LOCKED_OUT</code> - The <code>kmsuser</code> CU account is locked out of\n          the associated AWS CloudHSM cluster due to too many failed password attempts. Before you can\n          connect your custom key store to its AWS CloudHSM cluster, you must change the\n            <code>kmsuser</code> account password and update the key store password value for the custom key\n          store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_LOGGED_IN</code> - The <code>kmsuser</code> CU account is logged into the\n          the associated AWS CloudHSM cluster. This prevents AWS KMS from rotating the <code>kmsuser</code> account password and logging into the cluster. Before you can\n          connect your custom key store to its AWS CloudHSM cluster, you must log the <code>kmsuser</code> CU out of the cluster. If you changed the <code>kmsuser</code> password to log into the cluster, you must also and update the key store password value for the custom key\n          store. For help, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#login-kmsuser-2\">How to Log Out and Reconnect</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_NOT_FOUND</code> - AWS KMS cannot find a <code>kmsuser</code> CU account in the associated AWS CloudHSM cluster. Before you can\n          connect your custom key store to its AWS CloudHSM cluster, you must create a <code>kmsuser</code> CU account in the cluster, and then update the key store password value for the custom key\n          store.</p>\n            </li>\n         </ul>"
          }
        },
        "ConnectionState": {
          "target": "com.amazonaws.kms#ConnectionStateType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the custom key store is connected to its AWS CloudHSM cluster.</p>\n         <p>You can create and use CMKs in your custom key stores only when its connection state is\n        <code>CONNECTED</code>.</p>\n         <p>The value is <code>DISCONNECTED</code> if the key store has never been connected or you\n      use the <a>DisconnectCustomKeyStore</a> operation to disconnect it. If the value is\n        <code>CONNECTED</code> but you are having trouble using the custom key store, make sure that\n      its associated AWS CloudHSM cluster is active and contains at least one active HSM.</p>\n         <p>A value of <code>FAILED</code> indicates that an attempt to connect was unsuccessful. The <code>ConnectionErrorCode</code> field in the response indicates the cause of the failure. For\n      help resolving a connection failure, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the\n      <i>AWS Key Management Service Developer Guide</i>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the custom key store was created.</p>"
          }
        },
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the custom key store.</p>"
          }
        },
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified friendly name for the custom key store.</p>"
          }
        },
        "TrustAnchorCertificate": {
          "target": "com.amazonaws.kms#TrustAnchorCertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The trust anchor certificate of the associated AWS CloudHSM cluster. When you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html#sign-csr\">initialize the\n        cluster</a>, you create this certificate and save it in the <code>customerCA.crt</code>\n      file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about each custom key store in the custom key store list.</p>"
      }
    },
    "com.amazonaws.kms#CustomerMasterKeySpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_3072",
            "name": "RSA_3072"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "ECC_NIST_P256",
            "name": "ECC_NIST_P256"
          },
          {
            "value": "ECC_NIST_P384",
            "name": "ECC_NIST_P384"
          },
          {
            "value": "ECC_NIST_P521",
            "name": "ECC_NIST_P521"
          },
          {
            "value": "ECC_SECG_P256K1",
            "name": "ECC_SECG_P256K1"
          },
          {
            "value": "SYMMETRIC_DEFAULT",
            "name": "SYMMETRIC_DEFAULT"
          }
        ]
      }
    },
    "com.amazonaws.kms#DataKeyPairSpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_3072",
            "name": "RSA_3072"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "ECC_NIST_P256",
            "name": "ECC_NIST_P256"
          },
          {
            "value": "ECC_NIST_P384",
            "name": "ECC_NIST_P384"
          },
          {
            "value": "ECC_NIST_P521",
            "name": "ECC_NIST_P521"
          },
          {
            "value": "ECC_SECG_P256K1",
            "name": "ECC_SECG_P256K1"
          }
        ]
      }
    },
    "com.amazonaws.kms#DataKeySpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AES_256",
            "name": "AES_256"
          },
          {
            "value": "AES_128",
            "name": "AES_128"
          }
        ]
      }
    },
    "com.amazonaws.kms#DateType": {
      "type": "timestamp"
    },
    "com.amazonaws.kms#Decrypt": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DecryptRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#DecryptResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#DisabledException"
        },
        {
          "target": "com.amazonaws.kms#IncorrectKeyException"
        },
        {
          "target": "com.amazonaws.kms#InvalidCiphertextException"
        },
        {
          "target": "com.amazonaws.kms#InvalidGrantTokenException"
        },
        {
          "target": "com.amazonaws.kms#InvalidKeyUsageException"
        },
        {
          "target": "com.amazonaws.kms#KeyUnavailableException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decrypts ciphertext that was encrypted by a AWS KMS customer master key (CMK) using any of\n      the following operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>Encrypt</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyPair</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyWithoutPlaintext</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyPairWithoutPlaintext</a>\n               </p>\n            </li>\n         </ul>\n         <p>You can use this operation to decrypt ciphertext that was encrypted under a symmetric or\n      asymmetric CMK. When the CMK is asymmetric, you must specify the CMK and the encryption\n      algorithm that was used to encrypt the ciphertext. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric CMKs</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\n         <p>The Decrypt operation also decrypts ciphertext that was encrypted outside of AWS KMS by the\n      public key in an AWS KMS asymmetric CMK. However, it cannot decrypt ciphertext produced by other\n      libraries, such as the <a href=\"https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/\">AWS Encryption\n        SDK</a> or <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryption.html\">Amazon S3 client-side encryption</a>. These libraries return a ciphertext format that\n      is incompatible with AWS KMS.</p>\n         <p>If the ciphertext was encrypted under a symmetric CMK, you do not need to specify the CMK\n      or the encryption algorithm. AWS KMS can get this information from metadata that it adds to the\n      symmetric ciphertext blob. However, if you prefer, you can specify the <code>KeyId</code> to\n      ensure that a particular CMK is used to decrypt the ciphertext. If you specify a different CMK\n      than the one used to encrypt the ciphertext, the <code>Decrypt</code> operation fails.</p>\n         <p>Whenever possible, use key policies to give users permission to call the Decrypt operation\n      on a particular CMK, instead of using IAM policies. Otherwise, you might create an IAM user\n      policy that gives the user Decrypt permission on all CMKs. This user could decrypt ciphertext\n      that was encrypted by CMKs in other accounts if the key policy for the cross-account CMK\n      permits it. If you must use an IAM policy for <code>Decrypt</code> permissions, limit the user\n      to particular CMKs or particular trusted accounts.</p> \n         <p>The CMK that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use\nof a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#DecryptRequest": {
      "type": "structure",
      "members": {
        "CiphertextBlob": {
          "target": "com.amazonaws.kms#CiphertextType",
          "traits": {
            "smithy.api#documentation": "<p>Ciphertext to be decrypted. The blob includes metadata.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionAlgorithm": {
          "target": "com.amazonaws.kms#EncryptionAlgorithmSpec",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the encryption algorithm that will be used to decrypt the ciphertext. Specify\n      the same algorithm that was used to encrypt the data. If you specify a different algorithm,\n      the <code>Decrypt</code> operation fails.</p>\n         <p>This parameter is required only when the ciphertext was encrypted under an asymmetric CMK.\n      The default value, <code>SYMMETRIC_DEFAULT</code>, represents the only supported algorithm\n      that is valid for symmetric CMKs.</p>"
          }
        },
        "EncryptionContext": {
          "target": "com.amazonaws.kms#EncryptionContextType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the encryption context to use when decrypting the data.\n      An encryption context is valid only for cryptographic operations with a symmetric CMK. The standard asymmetric encryption algorithms that AWS KMS uses do not support an encryption context.</p> \n         <p>An <i>encryption context</i> is a collection of non-secret key-value pairs that represents additional authenticated data. When you use an encryption context to encrypt data, you must specify the same (an exact case-sensitive match) encryption context to decrypt the data. An encryption context is optional when encrypting with a symmetric CMK, but it is highly recommended.</p>\n         <p>For more information, see\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">Encryption\n        Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
          }
        },
        "GrantTokens": {
          "target": "com.amazonaws.kms#GrantTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A list of grant tokens.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant Tokens</a> in the\n    <i>AWS Key Management Service Developer Guide</i>.</p>"
          }
        },
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the customer master key (CMK) that AWS KMS will use to decrypt the ciphertext.\n      Enter a key ID of the CMK that was used to encrypt the ciphertext.</p>\n         <p>If you specify a <code>KeyId</code> value, the <code>Decrypt</code> operation succeeds\n      only if the specified CMK was used to encrypt the ciphertext.</p>\n         <p>This parameter is required only when the ciphertext was encrypted under an asymmetric CMK.\n      Otherwise, AWS KMS uses the metadata that it adds to the ciphertext blob to determine which\n      CMK was used to encrypt the ciphertext. However, you can use this parameter to ensure that a\n      particular CMK (of any kind) is used to decrypt the ciphertext.</p> \n         <p>To specify a CMK, use its key ID, Amazon Resource Name (ARN), alias name, or alias ARN. When using an alias name, prefix it with <code>\"alias/\"</code>.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Alias name: <code>alias/ExampleAlias</code>\n               </p>\n            </li>\n            <li>\n               <p>Alias ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code>\n               </p>\n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>. To get the alias name and alias ARN, use <a>ListAliases</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#DecryptResponse": {
      "type": "structure",
      "members": {
        "EncryptionAlgorithm": {
          "target": "com.amazonaws.kms#EncryptionAlgorithmSpec",
          "traits": {
            "smithy.api#documentation": "<p>The encryption algorithm that was used to decrypt the ciphertext.</p>"
          }
        },
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the customer master key that was used to perform the decryption.</p>"
          }
        },
        "Plaintext": {
          "target": "com.amazonaws.kms#PlaintextType",
          "traits": {
            "smithy.api#documentation": "<p>Decrypted plaintext data. When you use the HTTP API or the AWS CLI, the value is Base64-encoded. Otherwise, it is not Base64-encoded.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DeleteAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified alias. You cannot perform this operation on an alias in a different AWS account. </p>\n         <p>Because an alias is not a property of a CMK, you can delete and change the aliases of a\n      CMK without affecting the CMK. Also, aliases do not appear in the response from the <a>DescribeKey</a> operation. To get the aliases of all CMKs, use the <a>ListAliases</a> operation. </p>\n         <p>Each CMK can have multiple aliases. To change the alias of a CMK, use <a>DeleteAlias</a> to delete the current alias and <a>CreateAlias</a> to\n      create a new alias. To associate an existing alias with a different customer master key (CMK),\n      call <a>UpdateAlias</a>.</p>"
      }
    },
    "com.amazonaws.kms#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>The alias to be deleted. The alias name must begin with <code>alias/</code> followed by\n      the alias name, such as <code>alias/ExampleAlias</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#DeleteCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DeleteCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#DeleteCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CustomKeyStoreHasCMKsException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>. This operation does not delete the AWS CloudHSM cluster that is\n      associated with the custom key store, or affect any users or keys in the cluster.</p>\n         <p>The custom key store that you delete cannot contain any AWS KMS <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">customer master keys (CMKs)</a>. Before\n      deleting the key store, verify that you will never need to use any of the CMKs in the key\n      store for any cryptographic operations. Then, use <a>ScheduleKeyDeletion</a> to\n      delete the AWS KMS customer master keys (CMKs) from the key store. When the scheduled waiting\n      period expires, the <code>ScheduleKeyDeletion</code> operation deletes the CMKs. Then it makes\n      a best effort to delete the key material from the associated cluster. However, you might need\n      to manually <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-orphaned-key\">delete the orphaned key\n        material</a> from the cluster and its backups.</p>\n         <p>After all CMKs are deleted from AWS KMS, use <a>DisconnectCustomKeyStore</a> to\n      disconnect the key store from AWS KMS. Then, you can delete the custom key store.</p>\n         <p>Instead of deleting the custom key store, consider using <a>DisconnectCustomKeyStore</a> to disconnect it from AWS KMS. While the key store is\n      disconnected, you cannot create or use the CMKs in the key store. But, you do not need to\n      delete CMKs and you can reconnect a disconnected custom key store at any time.</p>\n         <p>If the operation succeeds, it returns a JSON object with no\nproperties.</p> \n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which\ncombines the convenience and extensive integration of AWS KMS with the isolation and control of a\nsingle-tenant key store.</p>"
      }
    },
    "com.amazonaws.kms#DeleteCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the ID of the custom key store you want to delete. To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#DeleteCustomKeyStoreResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kms#DeleteImportedKeyMaterial": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DeleteImportedKeyMaterialRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        },
        {
          "target": "com.amazonaws.kms#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes key material that you previously imported. This operation makes the specified\n      customer master key (CMK) unusable. For more information about importing key material into\n      AWS KMS, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key\n        Material</a> in the <i>AWS Key Management Service Developer Guide</i>. You cannot perform this operation on a CMK in a different AWS account.</p>\n         <p>When the specified CMK is in the <code>PendingDeletion</code> state, this operation does\n      not change the CMK's state. Otherwise, it changes the CMK's state to\n        <code>PendingImport</code>.</p>\n         <p>After you delete key material, you can use <a>ImportKeyMaterial</a> to reimport\n      the same key material into the CMK.</p> \n         <p>The CMK that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use\nof a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#DeleteImportedKeyMaterialRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the CMK from which you are deleting imported key material. The\n        <code>Origin</code> of the CMK must be <code>EXTERNAL</code>.</p> \n         <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#DependencyTimeoutException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The system timed out while trying to fulfill the request. The request can be\n      retried.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.kms#DescribeCustomKeyStores": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DescribeCustomKeyStoresRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#DescribeCustomKeyStoresResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets information about <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key stores</a> in the account and region.</p>\n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in AWS KMS, which\ncombines the convenience and extensive integration of AWS KMS with the isolation and control of a\nsingle-tenant key store.</p>\n         <p>By default, this operation returns information about all custom key\n      stores in the account and region. To get only information about a particular custom key store,\n      use either the <code>CustomKeyStoreName</code> or <code>CustomKeyStoreId</code> parameter (but\n      not both).</p>\n         <p>To determine whether the custom key store is connected to its AWS CloudHSM cluster, use the\n        <code>ConnectionState</code> element in the response. If an attempt to connect the custom\n      key store failed, the <code>ConnectionState</code> value is <code>FAILED</code> and the\n        <code>ConnectionErrorCode</code> element in the response indicates the cause of the failure.\n      For help interpreting the <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p>\n         <p>Custom key stores have a <code>DISCONNECTED</code> connection state if the key store has\n      never been connected or you use the <a>DisconnectCustomKeyStore</a> operation to\n      disconnect it. If your custom key store state is <code>CONNECTED</code> but you are having\n      trouble using it, make sure that its associated AWS CloudHSM cluster is active and contains the\n      minimum number of HSMs required for the operation, if any.</p>\n         <p> For help repairing your custom key store, see the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting Custom Key Stores</a> topic in the\n      <i>AWS Key Management Service Developer Guide</i>.</p>"
      }
    },
    "com.amazonaws.kms#DescribeCustomKeyStoresRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Gets only information about the specified custom key store. Enter the key store ID.</p>\n         <p>By default, this operation gets information about all custom key stores in the account and\n      region. To limit the output to a particular custom key store, you can use either the\n        <code>CustomKeyStoreId</code> or <code>CustomKeyStoreName</code> parameter, but not\n      both.</p>"
          }
        },
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>Gets only information about the specified custom key store. Enter the friendly name of the\n      custom key store.</p>\n         <p>By default, this operation gets information about all custom key stores in the account and\n      region. To limit the output to a particular custom key store, you can use either the\n        <code>CustomKeyStoreId</code> or <code>CustomKeyStoreName</code> parameter, but not\n      both.</p>"
          }
        },
        "Limit": {
          "target": "com.amazonaws.kms#LimitType",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter to specify the maximum number of items to return. When this\n    value is present, AWS KMS does not return more than the specified number of items, but it might\n    return fewer.</p>"
          }
        },
        "Marker": {
          "target": "com.amazonaws.kms#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>Use this parameter in a subsequent request after you receive a response with\n    truncated results. Set it to the value of <code>NextMarker</code> from the truncated response\n    you just received.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#DescribeCustomKeyStoresResponse": {
      "type": "structure",
      "members": {
        "CustomKeyStores": {
          "target": "com.amazonaws.kms#CustomKeyStoresList",
          "traits": {
            "smithy.api#documentation": "<p>Contains metadata about each custom key store.</p>"
          }
        },
        "NextMarker": {
          "target": "com.amazonaws.kms#MarkerType",
          "traits": {
            "smithy.api#documentation": "<p>When <code>Truncated</code> is true, this element is present and contains the\n    value to use for the <code>Marker</code> parameter in a subsequent request.</p>"
          }
        },
        "Truncated": {
          "target": "com.amazonaws.kms#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>A flag that indicates whether there are more items in the list. When this\n    value is true, the list in this response is truncated. To get more items, pass the value of\n    the <code>NextMarker</code> element in thisresponse to the <code>Marker</code> parameter in a\n    subsequent request.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#DescribeKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DescribeKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#DescribeKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides detailed information about a customer master key (CMK). You can run\n        <code>DescribeKey</code> on a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#customer-cmk\">customer managed CMK</a> or an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">AWS managed\n        CMK</a>.</p>\n         <p>This detailed information includes the key ARN, creation date (and deletion date, if\n      applicable), the key state, and the origin and expiration date (if any) of the key material.\n      For CMKs in custom key stores, it includes information about the custom key store, such as the\n      key store ID and the AWS CloudHSM cluster ID. It includes fields, like <code>KeySpec</code>, that\n      help you distinguish symmetric from asymmetric CMKs. It also provides information that is\n      particularly important to asymmetric CMKs, such as the key usage (encryption or signing) and\n      the encryption algorithms or signing algorithms that the CMK supports.</p>\n         <p>\n            <code>DescribeKey</code> does not return the following information:</p>\n         <ul>\n            <li>\n               <p>Aliases associated with the CMK. To get this information, use <a>ListAliases</a>.</p>\n            </li>\n            <li>\n               <p>Whether automatic key rotation is enabled on the CMK. To get this information, use\n            <a>GetKeyRotationStatus</a>. Also, some key states prevent a CMK from being\n          automatically rotated. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/rotate-keys.html#rotate-keys-how-it-works\">How Automatic Key Rotation\n            Works</a> in <i>AWS Key Management Service Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>Tags on the CMK. To get this information, use <a>ListResourceTags</a>.</p>\n            </li>\n            <li>\n               <p>Key policies and grants on the CMK. To get this information, use <a>GetKeyPolicy</a> and <a>ListGrants</a>.</p>\n            </li>\n         </ul>\n         <p>If you call the <code>DescribeKey</code> operation on a <i>predefined AWS\n        alias</i>, tha
[...]
