{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kms#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.kms#AlgorithmSpec": {
      "type": "enum",
      "members": {
        "RSAES_PKCS1_V1_5": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSAES_PKCS1_V1_5"
          }
        },
        "RSAES_OAEP_SHA_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSAES_OAEP_SHA_1"
          }
        },
        "RSAES_OAEP_SHA_256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSAES_OAEP_SHA_256"
          }
        }
      }
    },
    "com.amazonaws.kms#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kms#AliasListEntry"
      }
    },
    "com.amazonaws.kms#AliasListEntry": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the alias. This value begins with <code>alias/</code>.</p>"
          }
        },
        "AliasArn": {
          "target": "com.amazonaws.kms#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key ARN.</p>"
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key identifier of the KMS key associated with the alias.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date and time that the alias was most recently created in the account and Region.\n      Formatted as Unix time.</p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date and time that the alias was most recently associated with a KMS key in the account\n      and Region. Formatted as Unix time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an alias.</p>"
      }
    },
    "com.amazonaws.kms#AliasNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:/_-]+$"
      }
    },
    "com.amazonaws.kms#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExists",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>The request was rejected because it attempted to create a resource that already\n      exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kms#ArnType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kms#BooleanType": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.kms#CancelKeyDeletion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CancelKeyDeletionRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CancelKeyDeletionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the deletion of a KMS key. When this operation succeeds, the key state of the KMS\n      key is <code>Disabled</code>. To enable the KMS key, use <a>EnableKey</a>. </p>\n         <p>For more information about scheduling and canceling deletion of a KMS key, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting KMS keys</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key states of KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a KMS key in a different Amazon Web Services account.</p>\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CancelKeyDeletion</a> (key policy)</p>\n         <p>\n            <b>Related operations</b>: <a>ScheduleKeyDeletion</a>\n         </p>"
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the KMS key whose deletion is being canceled.</p>\n    \n         <p>Specify the key ID or key ARN of the KMS key.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionResponse": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">key ARN</a>) of the KMS key whose deletion is canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CiphertextType": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6144
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 24
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterInUseException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the specified CloudHSM cluster is already associated with an\n      CloudHSM key store in the account, or it shares a backup history with an CloudHSM key store in the\n      account. Each CloudHSM key store in the account must be associated with a different CloudHSM\n      cluster.</p>\n         <p>CloudHSM clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of an CloudHSM cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterInvalidConfigurationException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the associated CloudHSM cluster did not meet the\n      configuration requirements for an CloudHSM key store.</p>\n\n         <ul>\n            <li>\n               <p>The CloudHSM cluster must be configured with private subnets in at least two different\n          Availability Zones in the Region.</p>\n            </li>\n            <li>\n               <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for\n            the cluster</a> (cloudhsm-cluster-<i><cluster-id></i>-sg) must\n          include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The\n            <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group\n          ID. These rules are set by default when you create the CloudHSM cluster. Do not delete or\n          change them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p>\n            </li>\n            <li>\n               <p>The CloudHSM cluster must contain at least as many HSMs as the operation requires. To add\n          HSMs, use the CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>\n               <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the CloudHSM cluster must have at least two\n          active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the CloudHSM must contain at least one active\n          HSM.</p>\n            </li>\n         </ul>\n         <p>For information about the requirements for an CloudHSM cluster that is associated with an\n      CloudHSM key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a>\n      in the <i>Key Management Service Developer Guide</i>. For information about creating a private subnet for an CloudHSM cluster,\n      see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private\n        Subnet</a> in the <i>CloudHSM User Guide</i>. For information about cluster security groups, see\n        <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security\n        Group</a> in the <i>\n               <i>CloudHSM User Guide</i>\n            </i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotActiveException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotActiveException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the CloudHSM cluster associated with the CloudHSM key store is\n      not active. Initialize and activate the cluster and try the command again. For detailed\n      instructions, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting\n        Started</a> in the <i>CloudHSM User Guide</i>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotFoundException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because KMS cannot find the CloudHSM cluster with the specified\n      cluster ID. Retry the request with a different cluster ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotRelatedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotRelatedException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the specified CloudHSM cluster has a different cluster\n      certificate than the original cluster. You cannot use the operation to specify an unrelated\n      cluster for an CloudHSM key store.</p>\n         <p>Specify an CloudHSM cluster that shares a backup history with the original cluster. This\n      includes clusters that were created from a backup of the current cluster, and clusters that\n      were created from the same backup that produced the current cluster.</p>\n         <p>CloudHSM clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of an CloudHSM cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects or reconnects a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> to its backing key store. For an CloudHSM key\n      store, <code>ConnectCustomKeyStore</code> connects the key store to its associated CloudHSM\n      cluster. For an external key store, <code>ConnectCustomKeyStore</code> connects the key store\n      to the external key store proxy that communicates with your external key manager.</p>\n         <p>The custom key store must be connected before you can create KMS keys in the key store or\n      use the KMS keys it contains. You can disconnect and reconnect a custom key store at any\n      time.</p>\n         <p>The connection process for a custom key store can take an extended amount of time to\n      complete. This operation starts the connection process, but it does not wait for it to\n      complete. When it succeeds, this operation quickly returns an HTTP 200 response and a JSON\n      object with no properties. However, this response does not indicate that the custom key store\n      is connected. To get the connection state of the custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p> This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key stores</a> feature in KMS, which\ncombines the convenience and extensive integration of KMS with the isolation and control of a\nkey store that you own and manage.</p>\n         <p>The <code>ConnectCustomKeyStore</code> operation might fail for various reasons. To find\n      the reason, use the <a>DescribeCustomKeyStores</a> operation and see the\n        <code>ConnectionErrorCode</code> in the response. For help interpreting the\n        <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p>\n         <p>To fix the failure, use the <a>DisconnectCustomKeyStore</a> operation to\n      disconnect the custom key store, correct the error, use the <a>UpdateCustomKeyStore</a> operation if necessary, and then use\n        <code>ConnectCustomKeyStore</code> again.</p>\n         <p>\n            <b>CloudHSM key store</b>\n         </p>\n         <p>During the connection process for an CloudHSM key store, KMS finds the CloudHSM cluster that\n      is associated with the custom key store, creates the connection infrastructure, connects to\n      the cluster, logs into the CloudHSM client as the <code>kmsuser</code> CU, and rotates its\n      password.</p>\n         <p>To connect an CloudHSM key store, its associated CloudHSM cluster must have at least one active\n      HSM. To get the number of active HSMs in a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation. To add HSMs\n      to the cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation. Also, the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto\n        user</a> (CU) must not be logged into the cluster. This prevents KMS from using this\n      account to log in.</p>\n         <p>If you are having trouble connecting or disconnecting a CloudHSM key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting an CloudHSM key\n        store</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>External key store</b>\n         </p>\n         <p>When you connect an external key store that uses public endpoint connectivity, KMS tests\n      its ability to communicate with your external key manager by sending a request via the\n      external key store proxy.</p>\n         <p>When you connect to an external key store that uses VPC endpoint service connectivity,\n      KMS establishes the networking elements that it needs to communicate with your external key\n      manager via the external key store proxy. This includes creating an interface endpoint to the\n      VPC endpoint service and a private hosted zone for traffic between KMS and the VPC endpoint\n      service.</p>\n         <p>To connect an external key store, KMS must be able to connect to the external key store\n      proxy, the external key store proxy must be able to communicate with your external key\n      manager, and the external key manager must be available for cryptographic operations.</p>\n         <p>If you are having trouble connecting or disconnecting an external key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/xks-troubleshooting.html\">Troubleshooting an external\n        key store</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a custom key store in a different Amazon Web Services account.</p>\n\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:ConnectCustomKeyStore</a> (IAM policy)</p>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeCustomKeyStores</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DisconnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateCustomKeyStore</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the key store ID of the custom key store that you want to connect.\n      To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kms#ConnectionErrorCodeType": {
      "type": "enum",
      "members": {
        "INVALID_CREDENTIALS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INVALID_CREDENTIALS"
          }
        },
        "CLUSTER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLUSTER_NOT_FOUND"
          }
        },
        "NETWORK_ERRORS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NETWORK_ERRORS"
          }
        },
        "INTERNAL_ERROR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERNAL_ERROR"
          }
        },
        "INSUFFICIENT_CLOUDHSM_HSMS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_CLOUDHSM_HSMS"
          }
        },
        "USER_LOCKED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LOCKED_OUT"
          }
        },
        "USER_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_NOT_FOUND"
          }
        },
        "USER_LOGGED_IN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USER_LOGGED_IN"
          }
        },
        "SUBNET_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUBNET_NOT_FOUND"
          }
        },
        "INSUFFICIENT_FREE_ADDRESSES_IN_SUBNET": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INSUFFICIENT_FREE_ADDRESSES_IN_SUBNET"
          }
        },
        "XKS_PROXY_ACCESS_DENIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_ACCESS_DENIED"
          }
        },
        "XKS_PROXY_NOT_REACHABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_NOT_REACHABLE"
          }
        },
        "XKS_VPC_ENDPOINT_SERVICE_NOT_FOUND": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_VPC_ENDPOINT_SERVICE_NOT_FOUND"
          }
        },
        "XKS_PROXY_INVALID_RESPONSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_INVALID_RESPONSE"
          }
        },
        "XKS_PROXY_INVALID_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_INVALID_CONFIGURATION"
          }
        },
        "XKS_VPC_ENDPOINT_SERVICE_INVALID_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_VPC_ENDPOINT_SERVICE_INVALID_CONFIGURATION"
          }
        },
        "XKS_PROXY_TIMED_OUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_TIMED_OUT"
          }
        },
        "XKS_PROXY_INVALID_TLS_CONFIGURATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XKS_PROXY_INVALID_TLS_CONFIGURATION"
          }
        }
      }
    },
    "com.amazonaws.kms#ConnectionStateType": {
      "type": "enum",
      "members": {
        "CONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTED"
          }
        },
        "CONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONNECTING"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        },
        "DISCONNECTED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTED"
          }
        },
        "DISCONNECTING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCONNECTING"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateAliasRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidAliasNameException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a friendly name for a KMS key. </p>\n         <note>\n            <p>Adding, deleting, or updating an alias can allow or deny permission to the KMS key. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/abac.html\">ABAC for KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         </note>\n         <p>You can use an alias to identify a KMS key in the KMS console, in the <a>DescribeKey</a> operation and in <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a>, such as <a>Encrypt</a> and\n        <a>GenerateDataKey</a>. You can also change the KMS key that's associated with\n      the alias (<a>UpdateAlias</a>) or delete the alias (<a>DeleteAlias</a>)\n      at any time. These operations don't affect the underlying KMS key. </p>\n         <p>You can associate the alias with any customer managed key in the same Amazon Web Services Region. Each\n      alias is associated with only one KMS key at a time, but a KMS key can have multiple aliases.\n      A valid KMS key is required. You can't create an alias without a KMS key.</p>\n         <p>The alias must be unique in the account and Region, but you can have aliases with the same\n      name in different Regions. For detailed information about aliases, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-alias.html\">Using aliases</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>This operation does not return a response. To get the alias that you created, use the\n        <a>ListAliases</a> operation.</p>\n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key states of KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on an alias in a different Amazon Web Services account.</p>\n\n         <p>\n            <b>Required permissions</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateAlias</a> on\n          the alias (IAM policy).</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateAlias</a> on\n          the KMS key (key policy).</p>\n            </li>\n         </ul>\n         <p>For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-alias.html#alias-access\">Controlling access to aliases</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the alias name. This value must begin with <code>alias/</code> followed by a\n      name, such as <code>alias/ExampleAlias</code>. </p>\n         <p>The <code>AliasName</code> value must be string of 1-256 characters. It can contain only\n      alphanumeric characters, forward slashes (/), underscores (_), and dashes (-). The alias name\n      cannot begin with <code>alias/aws/</code>. The <code>alias/aws/</code> prefix is reserved for\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed\n        keys</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Associates the alias with the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#customer-cmk\">customer managed key</a>. The KMS key must\n      be in the same Amazon Web Services Region. </p>\n         <p>A valid key ID is required. If you supply a null or empty string value, this operation\n      returns an error.</p>\n         <p>For help finding the key ID and ARN, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html#find-cmk-id-arn\">Finding the Key ID and\n        ARN</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n    \n         <p>Specify the key ID or key ARN of the KMS key.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInUseException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNameInUseException"
        },
        {
          "target": "com.amazonaws.kms#IncorrectTrustAnchorException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyIncorrectAuthenticationCredentialException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyInvalidResponseException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyUriEndpointInUseException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyUriInUseException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyUriUnreachableException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyVpcEndpointServiceInUseException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyVpcEndpointServiceInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#XksProxyVpcEndpointServiceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> backed by a key store that you own and manage. When you use a\n      KMS key in a custom key store for a cryptographic operation, the cryptographic operation is\n      actually performed in your key store using your keys. KMS supports <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-cloudhsm.html\">CloudHSM key stores</a>\n      backed by an <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/clusters.html\">CloudHSM cluster</a>\n      and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-external.html\">external key stores</a> backed by an external key store proxy and\n      external key manager outside of Amazon Web Services.</p>\n         <p> This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key stores</a> feature in KMS, which\ncombines the convenience and extensive integration of KMS with the isolation and control of a\nkey store that you own and manage.</p>\n         <p>Before you create the custom key store, the required elements must be in place and\n      operational. We recommend that you use the test tools that KMS provides to verify the\n      configuration your external key store proxy. For details about the required elements and\n      verification tests, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the prerequisites (for\n        CloudHSM key stores)</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-xks-keystore.html#xks-requirements\">Assemble the prerequisites (for\n        external key stores)</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>To create a custom key store, use the following parameters.</p>\n         <ul>\n            <li>\n               <p>To create an CloudHSM key store, specify the <code>CustomKeyStoreName</code>,\n            <code>CloudHsmClusterId</code>, <code>KeyStorePassword</code>, and\n            <code>TrustAnchorCertificate</code>. The <code>CustomKeyStoreType</code> parameter is\n          optional for CloudHSM key stores. If you include it, set it to the default value,\n            <code>AWS_CLOUDHSM</code>. For help with failures, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting an CloudHSM key store</a> in the\n          <i>Key Management Service Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>To create an external key store, specify the <code>CustomKeyStoreName</code> and a\n            <code>CustomKeyStoreType</code> of <code>EXTERNAL_KEY_STORE</code>. Also, specify values\n          for <code>XksProxyConnectivity</code>, <code>XksProxyAuthenticationCredential</code>,\n            <code>XksProxyUriEndpoint</code>, and <code>XksProxyUriPath</code>. If your\n            <code>XksProxyConnectivity</code> value is <code>VPC_ENDPOINT_SERVICE</code>, specify\n          the <code>XksProxyVpcEndpointServiceName</code> parameter. For help with failures, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/xks-troubleshooting.html\">Troubleshooting\n            an external key store</a> in the <i>Key Management Service Developer Guide</i>.</p>\n            </li>\n         </ul>    \n         <note>\n            <p>For external key stores:</p>\n            <p>Some external key managers provide a simpler method for creating an external key store.\n        For details, see your external key manager documentation.</p>\n            <p>When creating an external key store in the KMS console, you can upload a JSON-based\n        proxy configuration file with the desired values. You cannot use a proxy configuration\n        with the <code>CreateCustomKeyStore</code> operation. However, you can use the values in\n        the file to help you determine the correct values for the <code>CreateCustomKeyStore</code>\n        parameters.</p>\n         </note>\n         <p>When the operation completes successfully, it returns the ID of the new custom key store.\n      Before you can use your new custom key store, you need to use the <a>ConnectCustomKeyStore</a> operation to connect a new CloudHSM key store to its CloudHSM\n      cluster, or to connect a new external key store to the external key store proxy for your\n      external key manager. Even if you are not going to use your custom key store immediately, you\n      might want to connect it to verify that all settings are correct and then disconnect it until\n      you are ready to use it.</p>\n         <p>For help with failures, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a custom key store</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a custom key store in a different Amazon Web Services account.</p>\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateCustomKeyStore</a> (IAM policy).</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ConnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeCustomKeyStores</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DisconnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateCustomKeyStore</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a friendly name for the custom key store. The name must be unique in your\n      Amazon Web Services account and Region. This parameter is required for all custom key stores.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudHsmClusterId": {
          "target": "com.amazonaws.kms#CloudHsmClusterIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the CloudHSM cluster for an CloudHSM key store. This parameter is required for custom\n      key stores with <code>CustomKeyStoreType</code> of <code>AWS_CLOUDHSM</code>.</p>\n         <p>Enter the cluster ID of any active CloudHSM cluster that is not already associated with a\n      custom key store. To find the cluster ID, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>"
          }
        },
        "TrustAnchorCertificate": {
          "target": "com.amazonaws.kms#TrustAnchorCertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the certificate for an CloudHSM key store. This parameter is required for custom\n      key stores with a <code>CustomKeyStoreType</code> of <code>AWS_CLOUDHSM</code>.</p>\n         <p>Enter the content of the trust anchor certificate for the CloudHSM cluster. This is the\n      content of the <code>customerCA.crt</code> file that you created when you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html\">initialized the\n        cluster</a>.</p>"
          }
        },
        "KeyStorePassword": {
          "target": "com.amazonaws.kms#KeyStorePasswordType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the <code>kmsuser</code> password for an CloudHSM key store. This parameter is\n      required for custom key stores with a <code>CustomKeyStoreType</code> of\n        <code>AWS_CLOUDHSM</code>.</p>\n         <p>Enter the password of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto user\n        (CU) account</a> in the specified CloudHSM cluster. KMS logs into the cluster as this\n      user to manage key material on your behalf.</p>\n         <p>The password must be a string of 7 to 32 characters. Its value is case sensitive.</p>\n         <p>This parameter tells KMS the <code>kmsuser</code> account password; it does not change\n      the password in the CloudHSM cluster.</p>"
          }
        },
        "CustomKeyStoreType": {
          "target": "com.amazonaws.kms#CustomKeyStoreType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of custom key store. The default value is\n      <code>AWS_CLOUDHSM</code>.</p>\n         <p>For a custom key store backed by an CloudHSM cluster, omit the parameter or enter\n        <code>AWS_CLOUDHSM</code>. For a custom key store backed by an external key manager outside\n      of Amazon Web Services, enter <code>EXTERNAL_KEY_STORE</code>. You cannot change this property after the key\n      store is created.</p>"
          }
        },
        "XksProxyUriEndpoint": {
          "target": "com.amazonaws.kms#XksProxyUriEndpointType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the endpoint that KMS uses to send requests to the external key store proxy\n      (XKS proxy). This parameter is required for custom key stores with a\n        <code>CustomKeyStoreType</code> of <code>EXTERNAL_KEY_STORE</code>.</p>\n         <p>The protocol must be HTTPS. KMS communicates on port 443. Do not specify the port in the\n        <code>XksProxyUriEndpoint</code> value.</p>\n         <p>For external key stores with <code>XksProxyConnectivity</code> value of\n        <code>VPC_ENDPOINT_SERVICE</code>, specify <code>https://</code> followed by the private DNS\n      name of the VPC endpoint service.</p>\n         <p>For external key stores with <code>PUBLIC_ENDPOINT</code> connectivity, this endpoint must\n      be reachable before you create the custom key store. KMS connects to the external key store\n      proxy while creating the custom key store. For external key stores with\n        <code>VPC_ENDPOINT_SERVICE</code> connectivity, KMS connects when you call the <a>ConnectCustomKeyStore</a> operation.</p>\n         <p>The value of this parameter must begin with <code>https://</code>. The remainder can\n      contain upper and lower case letters (A-Z and a-z), numbers (0-9), dots (<code>.</code>), and\n      hyphens (<code>-</code>). Additional slashes (<code>/</code> and <code>\\</code>) are not\n      permitted.</p>\n         <p>\n            <b>Uniqueness requirements: </b>\n         </p>\n         <ul>\n            <li>\n               <p>The combined <code>XksProxyUriEndpoint</code> and <code>XksProxyUriPath</code> values\n          must be unique in the Amazon Web Services account and Region.</p>\n            </li>\n            <li>\n               <p>An external key store with <code>PUBLIC_ENDPOINT</code> connectivity cannot use the\n          same <code>XksProxyUriEndpoint</code> value as an external key store with\n            <code>VPC_ENDPOINT_SERVICE</code> connectivity in the same Amazon Web Services Region.</p>\n            </li>\n            <li>\n               <p>Each external key store with <code>VPC_ENDPOINT_SERVICE</code> connectivity must have\n          its own private DNS name. The <code>XksProxyUriEndpoint</code> value for external key\n          stores with <code>VPC_ENDPOINT_SERVICE</code> connectivity (private DNS name) must be\n          unique in the Amazon Web Services account and Region.</p>\n            </li>\n         </ul>"
          }
        },
        "XksProxyUriPath": {
          "target": "com.amazonaws.kms#XksProxyUriPathType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the base path to the proxy APIs for this external key store. To find this value,\n      see the documentation for your external key store proxy. This parameter is required for all\n      custom key stores with a <code>CustomKeyStoreType</code> of\n      <code>EXTERNAL_KEY_STORE</code>.</p>\n         <p>The value must start with <code>/</code> and must end with <code>/kms/xks/v1</code> where\n        <code>v1</code> represents the version of the KMS external key store proxy API. This path\n      can include an optional prefix between the required elements such as\n          <code>/<i>prefix</i>/kms/xks/v1</code>.</p>\n         <p>\n            <b>Uniqueness requirements: </b>\n         </p>\n         <ul>\n            <li>\n               <p>The combined <code>XksProxyUriEndpoint</code> and <code>XksProxyUriPath</code> values\n          must be unique in the Amazon Web Services account and Region.</p>\n            </li>\n         </ul>"
          }
        },
        "XksProxyVpcEndpointServiceName": {
          "target": "com.amazonaws.kms#XksProxyVpcEndpointServiceNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the name of the Amazon VPC endpoint service for interface endpoints that is used to\n      communicate with your external key store proxy (XKS proxy). This parameter is required when\n      the value of <code>CustomKeyStoreType</code> is <code>EXTERNAL_KEY_STORE</code> and the value\n      of <code>XksProxyConnectivity</code> is <code>VPC_ENDPOINT_SERVICE</code>.</p>\n         <p>The Amazon VPC endpoint service must <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-xks-keystore.html#xks-requirements\">fulfill all requirements</a> for use with an external key\n      store. </p>\n         <p>\n            <b>Uniqueness requirements:</b>\n         </p>\n         <ul>\n            <li>\n               <p>External key stores with <code>VPC_ENDPOINT_SERVICE</code> connectivity can share an\n          Amazon VPC, but each external key store must have its own VPC endpoint service and private DNS\n          name.</p>\n            </li>\n         </ul>"
          }
        },
        "XksProxyAuthenticationCredential": {
          "target": "com.amazonaws.kms#XksProxyAuthenticationCredentialType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an authentication credential for the external key store proxy (XKS proxy). This\n      parameter is required for all custom key stores with a <code>CustomKeyStoreType</code> of\n        <code>EXTERNAL_KEY_STORE</code>.</p>\n         <p>The <code>XksProxyAuthenticationCredential</code> has two required elements:\n        <code>RawSecretAccessKey</code>, a secret key, and <code>AccessKeyId</code>, a unique\n      identifier for the <code>RawSecretAccessKey</code>. For character requirements, see <a href=\"kms/latest/APIReference/API_XksProxyAuthenticationCredentialType.html\">XksProxyAuthenticationCredentialType</a>.</p>\n         <p>KMS uses this authentication credential to sign requests to the external key store proxy\n      on your behalf. This credential is unrelated to Identity and Access Management (IAM) and Amazon Web Services credentials.</p>\n         <p>This parameter doesn't set or change the authentication credentials on the XKS proxy. It\n      just tells KMS the credential that you established on your external key store proxy. If you\n      rotate your proxy authentication credential, use the <a>UpdateCustomKeyStore</a>\n      operation to provide the new credential to KMS.</p>"
          }
        },
        "XksProxyConnectivity": {
          "target": "com.amazonaws.kms#XksProxyConnectivityType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates how KMS communicates with the external key store proxy. This parameter is\n      required for custom key stores with a <code>CustomKeyStoreType</code> of\n        <code>EXTERNAL_KEY_STORE</code>.</p>\n         <p>If the external key store proxy uses a public endpoint, specify\n        <code>PUBLIC_ENDPOINT</code>. If the external key store proxy uses a Amazon VPC\n      endpoint service for communication with KMS, specify <code>VPC_ENDPOINT_SERVICE</code>. For\n      help making this choice, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/plan-xks-keystore.html#choose-xks-connectivity\">Choosing a connectivity option</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>An Amazon VPC endpoint service keeps your communication with KMS in a private address space\n      entirely within Amazon Web Services, but it requires more configuration, including establishing a Amazon VPC with multiple subnets, a VPC endpoint service, a network load balancer, and a\n      verified private DNS name. A public endpoint is simpler to set up, but it might be slower and\n      might not fulfill your security requirements. You might consider testing with a public\n      endpoint, and then establishing a VPC endpoint service for production tasks. Note that this\n      choice does not determine the location of the external key store proxy. Even if you choose a\n      VPC endpoint service, the proxy can be hosted within the VPC or outside of Amazon Web Services such as in\n      your corporate data center.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreResponse": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the new custom key store.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateGrantRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateGrantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#DisabledException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#InvalidGrantTokenException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a grant to a KMS key. </p>\n         <p>A <i>grant</i> is a policy instrument that allows Amazon Web Services principals to use\n      KMS keys in cryptographic operations. It also can allow them to view a KMS key (<a>DescribeKey</a>) and create and manage grants. When authorizing access to a KMS key,\n      grants are considered along with key policies and IAM policies. Grants are often used for\n      temporary permissions because you can create one, use its permissions, and delete it without\n      changing your key policies or IAM policies. </p>\n         <p>For detailed information about grants, including grant terminology, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Grants in KMS</a> in the\n        <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>. For examples of working with grants in several\n      programming languages, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/programming-grants.html\">Programming grants</a>. </p>\n         <p>The <code>CreateGrant</code> operation returns a <code>GrantToken</code> and a\n        <code>GrantId</code>.</p>\n         <ul>\n            <li>\n               <p>When you create, retire, or revoke a grant, there might be a brief delay, usually less than five minutes, until the grant is available throughout KMS. This state is known as <i>eventual consistency</i>. Once the grant has achieved eventual consistency, the grantee\n          principal can use the permissions in the grant without identifying the grant. </p>\n               <p>However, to use the permissions in the grant immediately, use the\n            <code>GrantToken</code> that <code>CreateGrant</code> returns. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a\n            grant token</a> in the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </li>\n            <li>\n               <p>The <code>CreateGrant</code> operation also returns a <code>GrantId</code>. You can\n          use the <code>GrantId</code> and a key identifier to identify the grant in the <a>RetireGrant</a> and <a>RevokeGrant</a> operations. To find the grant\n          ID, use the <a>ListGrants</a> or <a>ListRetirableGrants</a>\n          operations.</p>\n            </li>\n         </ul>\n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key states of KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: Yes. To perform this operation on a KMS key in a different Amazon Web Services account, specify the key\n  ARN in the value of the <code>KeyId</code> parameter. </p>\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateGrant</a> (key policy)</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListGrants</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListRetirableGrants</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>RetireGrant</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>RevokeGrant</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateGrantRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the KMS key for the grant. The grant gives principals permission to use this\n      KMS key.</p>\n    \n         <p>Specify the key ID or key ARN of the KMS key. To specify a KMS key in a\ndifferent Amazon Web Services account, you must use the key ARN.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteePrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The identity that gets the permissions specified in the grant.</p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an\n      Amazon Web Services principal. Valid Amazon Web Services principals include Amazon Web Services accounts (root), IAM users, IAM roles,\n      federated users, and assumed role users. For examples of the ARN syntax to use for specifying\n      a principal, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">Amazon Web Services Identity and Access\n        Management (IAM)</a> in the Example ARNs section of the <i>Amazon Web Services General\n        Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "RetiringPrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The principal that has permission to use the <a>RetireGrant</a> operation to\n      retire the grant. </p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an\n      Amazon Web Services principal. Valid Amazon Web Services principals include Amazon Web Services accounts (root), IAM users, federated\n      users, and assumed role users. For examples of the ARN syntax to use for specifying a\n      principal, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">Amazon Web Services Identity and Access\n        Management (IAM)</a> in the Example ARNs section of the <i>Amazon Web Services General\n        Reference</i>.</p>\n         <p>The grant determines the retiring principal. Other principals might have permission to\n      retire the grant or revoke the grant. For details, see <a>RevokeGrant</a> and\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#grant-delete\">Retiring and\n        revoking grants</a> in the <i>Key Management Service Developer Guide</i>. </p>"
          }
        },
        "Operations": {
          "target": "com.amazonaws.kms#GrantOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that the grant permits. </p>\n         <p>This list must include only operations that are permitted in a grant. Also, the operation\n      must be supported on the KMS key. For example, you cannot create a grant for a symmetric\n      encryption KMS key that allows the <a>Sign</a> operation, or a grant for an\n      asymmetric KMS key that allows the <a>GenerateDataKey</a> operation. If you try,\n      KMS returns a <code>ValidationError</code> exception. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#terms-grant-operations\">Grant\n        operations</a> in the <i>Key Management Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Constraints": {
          "target": "com.amazonaws.kms#GrantConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a grant constraint. </p>\n         <p>KMS supports the <code>EncryptionContextEquals</code> and\n        <code>EncryptionContextSubset</code> grant constraints. Each constraint value can include up\n      to 8 encryption context pairs. The encryption context value in each constraint cannot exceed\n      384 characters. For information about grant constraints, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-grant-overview.html#grant-constraints\">Using grant\n        constraints</a> in the <i>Key Management Service Developer Guide</i>. For more information about encryption context,\n      see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">Encryption\n        context</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>. </p>\n         <p>The encryption context grant constraints allow the permissions in the grant only when the\n      encryption context in the request matches (<code>EncryptionContextEquals</code>) or includes\n        (<code>EncryptionContextSubset</code>) the encryption context specified in this structure. </p>\n         <p>The encryption context grant constraints are supported only on <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#terms-grant-operations\">grant operations</a> that include\n      an <code>EncryptionContext</code> parameter, such as cryptographic operations on symmetric\n      encryption KMS keys. Grants with grant constraints can include the <a>DescribeKey</a> and <a>RetireGrant</a> operations, but the constraint doesn't apply to these\n      operations. If a grant with a grant constraint includes the <code>CreateGrant</code>\n      operation, the constraint requires that any grants created with the <code>CreateGrant</code>\n      permission have an equally strict or stricter encryption context constraint.</p>\n         <p>You cannot use an encryption context grant constraint for cryptographic operations with\n      asymmetric KMS keys or HMAC KMS keys. These keys don't support an encryption context. </p>\n         <p></p>"
          }
        },
        "GrantTokens": {
          "target": "com.amazonaws.kms#GrantTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A list of grant tokens. </p>\n         <p>Use a grant token when your permission to call this operation comes from a new grant that has not yet achieved <i>eventual consistency</i>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#grant_token\">Grant token</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant token</a> in the\n    <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kms#GrantNameType",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the grant. Use this value to prevent the unintended creation of\n      duplicate grants when retrying this request.</p>\n         <p>When this value is absent, all <code>CreateGrant</code> requests result in a new grant\n      with a unique <code>GrantId</code> even if all the supplied parameters are identical. This can\n      result in unintended duplicates when you retry the <code>CreateGrant</code> request.</p>\n         <p>When this value is present, you can retry a <code>CreateGrant</code> request with\n      identical parameters; if the grant already exists, the original <code>GrantId</code> is\n      returned without creating a new grant. Note that the returned grant token is unique with every\n        <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code> is returned.\n      All grant tokens for the same grant ID can be used interchangeably.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrantResponse": {
      "type": "structure",
      "members": {
        "GrantToken": {
          "target": "com.amazonaws.kms#GrantTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The grant token.</p>\n         <p>Use a grant token when your permission to call this operation comes from a new grant that has not yet achieved <i>eventual consistency</i>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#grant_token\">Grant token</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant token</a> in the\n    <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "GrantId": {
          "target": "com.amazonaws.kms#GrantIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the grant.</p>\n         <p>You can use the <code>GrantId</code> in a <a>ListGrants</a>, <a>RetireGrant</a>, or <a>RevokeGrant</a> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.kms#TagException"
        },
        {
          "target": "com.amazonaws.kms#UnsupportedOperationException"
        },
        {
          "target": "com.amazonaws.kms#XksKeyAlreadyInUseException"
        },
        {
          "target": "com.amazonaws.kms#XksKeyInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#XksKeyNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a unique customer managed <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#kms-keys\">KMS key</a> in your Amazon Web Services account and Region.\n      You can use a KMS key in cryptographic operations, such as encryption and signing. Some Amazon Web Services\n      services let you use KMS keys that you create and manage to protect your service\n      resources.</p>\n         <p>A KMS key is a logical representation of a cryptographic key. In addition to the key\n      material used in cryptographic operations, a KMS key includes metadata, such as the key ID,\n      key policy, creation date, description, and key state. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/getting-started.html\">Managing keys</a> in the\n      <i>Key Management Service Developer Guide</i>\n         </p>\n         <p>Use the parameters of <code>CreateKey</code> to specify the type of KMS key, the source of\n      its key material, its key policy, description, tags, and other properties.</p>\n         <note>\n            <p>KMS has replaced the term <i>customer master key (CMK)</i> with <i>KMS key</i> and <i>KMS key</i>. The concept has not changed. To prevent breaking changes, KMS is keeping some variations of this term.</p>\n         </note>\n\n\n         <p>To create different types of KMS keys, use the following guidance:</p>\n\n         <dl>\n            <dt>Symmetric encryption KMS key</dt>\n            <dd>\n               <p>By default, <code>CreateKey</code> creates a symmetric encryption KMS key with key\n            material that KMS generates. This is the basic and most widely used type of KMS key, and\n            provides the best performance.</p>\n               <p>To create a symmetric encryption KMS key, you don't need to specify any parameters.\n            The default value for <code>KeySpec</code>, <code>SYMMETRIC_DEFAULT</code>, the default\n            value for <code>KeyUsage</code>, <code>ENCRYPT_DECRYPT</code>, and the default value for\n              <code>Origin</code>, <code>AWS_KMS</code>, create a symmetric encryption KMS key with\n            KMS key material.</p>\n               <p>If you need a key for basic encryption and decryption or you are creating a KMS key\n            to protect your resources in an Amazon Web Services service, create a symmetric encryption KMS key.\n            The key material in a symmetric encryption key never leaves KMS unencrypted. You can\n            use a symmetric encryption KMS key to encrypt and decrypt data up to 4,096 bytes, but\n            they are typically used to generate data keys and data keys pairs. For details, see\n              <a>GenerateDataKey</a> and <a>GenerateDataKeyPair</a>.</p>\n               <p> </p>\n            </dd>\n            <dt>Asymmetric KMS keys</dt>\n            <dd>\n               <p>To create an asymmetric KMS key, use the <code>KeySpec</code> parameter to specify\n            the type of key material in the KMS key. Then, use the <code>KeyUsage</code> parameter\n            to determine whether the KMS key will be used to encrypt and decrypt or sign and verify.\n            You can't change these properties after the KMS key is created.</p>\n               <p>Asymmetric KMS keys contain an RSA key pair, Elliptic Curve (ECC) key pair, or an SM2 key pair (China Regions only). The private key in an asymmetric \n            KMS key never leaves KMS unencrypted. However, you can use the <a>GetPublicKey</a> operation to download the public key\n            so it can be used outside of KMS. KMS keys with RSA or SM2 key pairs can be used to encrypt or decrypt data or sign and verify messages (but not both). \n            KMS keys with ECC key pairs can be used only to sign and verify messages. \n            For information about asymmetric KMS keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Asymmetric KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p> </p>\n            </dd>\n            <dt>HMAC KMS key</dt>\n            <dd>\n               <p>To create an HMAC KMS key, set the <code>KeySpec</code> parameter to a key spec\n            value for HMAC KMS keys. Then set the <code>KeyUsage</code> parameter to\n              <code>GENERATE_VERIFY_MAC</code>. You must set the key usage even though\n              <code>GENERATE_VERIFY_MAC</code> is the only valid key usage value for HMAC KMS keys.\n            You can't change these properties after the KMS key is created.</p>\n               <p>HMAC KMS keys are symmetric keys that never leave KMS unencrypted. You can use\n            HMAC keys to generate (<a>GenerateMac</a>) and verify (<a>VerifyMac</a>) HMAC codes for messages up to 4096 bytes.</p>\n               <p>HMAC KMS keys are not supported in all Amazon Web Services Regions. If you try to create an HMAC\n            KMS key in an Amazon Web Services Region in which HMAC keys are not supported, the\n              <code>CreateKey</code> operation returns an\n            <code>UnsupportedOperationException</code>. For a list of Regions in which HMAC KMS keys\n            are supported, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/hmac.html\">HMAC keys in\n              KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p> </p>\n            </dd>\n            <dt>Multi-Region primary keys</dt>\n            <dt>Imported key material</dt>\n            <dd>\n               <p>To create a multi-Region <i>primary key</i> in the local Amazon Web Services Region,\n            use the <code>MultiRegion</code> parameter with a value of <code>True</code>. To create\n            a multi-Region <i>replica key</i>, that is, a KMS key with the same key ID\n            and key material as a primary key, but in a different Amazon Web Services Region, use the <a>ReplicateKey</a> operation. To change a replica key to a primary key, and its\n            primary key to a replica key, use the <a>UpdatePrimaryRegion</a>\n            operation.</p>\n               <p>You can create multi-Region KMS keys for all supported KMS key types: symmetric\n            encryption KMS keys, HMAC KMS keys, asymmetric encryption KMS keys, and asymmetric\n            signing KMS keys. You can also create multi-Region keys with imported key material.\n            However, you can't create multi-Region keys in a custom key store.</p>\n               <p>This operation supports <i>multi-Region keys</i>, an KMS feature that lets you create multiple\n      interoperable KMS keys in different Amazon Web Services Regions. Because these KMS keys have the same key ID, key\n      material, and other metadata, you can use them interchangeably to encrypt data in one Amazon Web Services Region and decrypt\n      it in a different Amazon Web Services Region without re-encrypting the data or making a cross-Region call. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Multi-Region keys in KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p> </p>\n            </dd>\n            <dd>\n               <p>To import your own key material into a KMS key, begin by creating a symmetric\n            encryption KMS key with no key material. To do this, use the <code>Origin</code>\n            parameter of <code>CreateKey</code> with a value of <code>EXTERNAL</code>. Next, use\n              <a>GetParametersForImport</a> operation to get a public key and import\n            token, and use the public key to encrypt your key material. Then, use <a>ImportKeyMaterial</a> with your import token to import the key material. For\n            step-by-step instructions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n               <p>This feature supports only symmetric encryption KMS keys, including multi-Region\n            symmetric encryption KMS keys. You cannot import key material into any other type of KMS\n            key.</p>\n               <p>To create a multi-Region primary key with imported key material, use the\n              <code>Origin</code> parameter of <code>CreateKey</code> with a value of\n              <code>EXTERNAL</code> and the <code>MultiRegion</code> parameter with a value of\n              <code>True</code>. To create replicas of the multi-Region primary key, use the <a>ReplicateKey</a> operation. For instructions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-import.html \">Importing key material into\n              multi-Region keys</a>. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Multi-Region keys in KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p> </p>\n            </dd>\n            <dt>Custom key store</dt>\n            <dd>\n               <p>A <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> lets you protect your Amazon Web Services resources using keys in a backing key\n            store that you own and manage. When you request a cryptographic operation with a KMS key\n            in a custom key store, the operation is performed in the backing key store using its\n            cryptographic keys.</p>\n               <p>KMS supports <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-cloudhsm.html\">CloudHSM key stores</a> backed by an CloudHSM cluster and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-external.html\">external key stores</a> backed by an\n            external key manager outside of Amazon Web Services. When you create a KMS key in an CloudHSM key store,\n            KMS generates an encryption key in the CloudHSM cluster and associates it with the KMS\n            key. When you create a KMS key in an external key store, you specify an existing\n            encryption key in the external key manager.</p>\n               <note>\n                  <p>Some external key managers provide a simpler method for creating a KMS key in an\n              external key store. For details, see your external key manager documentation.</p>\n               </note>\n               <p>Before you create a KMS key in a custom key store, the <code>ConnectionState</code>\n            of the key store must be <code>CONNECTED</code>. To connect the custom key store, use\n            the <a>ConnectCustomKeyStore</a> operation. To find the\n              <code>ConnectionState</code>, use the <a>DescribeCustomKeyStores</a>\n            operation.</p>\n               <p>To create a KMS key in a custom key store, use the <code>CustomKeyStoreId</code>.\n            Use the default <code>KeySpec</code> value, <code>SYMMETRIC_DEFAULT</code>, and the\n            default <code>KeyUsage</code> value, <code>ENCRYPT_DECRYPT</code> to create a symmetric\n            encryption key. No other key type is supported in a custom key store.</p>\n               <p>To create a KMS key in an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-cloudhsm.html\">CloudHSM key store</a>, use the\n              <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The CloudHSM\n            cluster that is associated with the custom key store must have at least two active HSMs\n            in different Availability Zones in the Amazon Web Services Region.</p>\n               <p>To create a KMS key in an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/keystore-external.html\">external key store</a>, use the <code>Origin</code> parameter\n            with a value of <code>EXTERNAL_KEY_STORE</code> and an <code>XksKeyId</code> parameter\n            that identifies an existing external key.</p>\n               <note>\n                  <p>Some external key managers provide a simpler method for creating a KMS key in an\n              external key store. For details, see your external key manager documentation.</p>\n               </note>\n            </dd>\n         </dl>\n         <p>\n            <b>Cross-account use</b>: No. You cannot use this operation to\n      create a KMS key in a different Amazon Web Services account.</p>\n\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateKey</a> (IAM policy). To use the\n        <code>Tags</code> parameter, <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:TagResource</a> (IAM policy). For examples and information about related\n      permissions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/iam-policies.html#iam-policy-example-create-key\">Allow a user to create\n        KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListKeys</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ScheduleKeyDeletion</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateKeyRequest": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.kms#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The key policy to attach to the KMS key.</p>\n         <p>If you provide a key policy, it must meet the following criteria:</p>\n         <ul>\n            <li>\n               <p>If you don't set <code>BypassPolicyLockoutSafetyCheck</code> to true, the key policy\n          must allow the principal that is making the <code>CreateKey</code> request to make a\n          subsequent <a>PutKeyPolicy</a> request on the KMS key. This reduces the risk\n          that the KMS key becomes unmanageable. For more information, refer to the scenario in the\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section of the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </li>\n            <li>\n               <p>Each statement in the key policy must contain one or more principals. The principals\n          in the key policy must exist and be visible to KMS. When you create a new Amazon Web Services\n          principal (for example, an IAM user or role), you might need to enforce a delay before\n          including the new principal in a key policy because the new principal might not be\n          immediately visible to KMS. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes that I make are not always immediately visible</a> in the <i>Amazon Web Services\n            Identity and Access Management User Guide</i>.</p>\n            </li>\n         </ul>\n         <p>If you do not provide a key policy, KMS attaches a default key policy to the KMS key.\n      For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default Key Policy</a> in the\n      <i>Key Management Service Developer Guide</i>. </p>\n         <p>The key policy size quota is 32 kilobytes (32768 bytes).</p>\n         <p>For help writing and formatting a JSON policy document, see the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies.html\">IAM JSON Policy Reference</a> in the <i>\n               <i>Identity and Access Management User Guide</i>\n            </i>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kms#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>A description of the KMS key.</p>\n         <p>Use a description that helps you decide whether the KMS key is appropriate for a task. The\n      default value is an empty string (no description).</p>\n         <p>To set or change the description after the key is created, use <a>UpdateKeyDescription</a>.</p>"
          }
        },
        "KeyUsage": {
          "target": "com.amazonaws.kms#KeyUsageType",
          "traits": {
            "smithy.api#documentation": "<p>Determines the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> for which you can use the KMS key. The default value is\n        <code>ENCRYPT_DECRYPT</code>. This parameter is optional when you are creating a symmetric\n      encryption KMS key; otherwise, it is required. You can't change the <code>KeyUsage</code>\n      value after the KMS key is created.</p>\n         <p>Select only one valid value.</p>\n         <ul>\n            <li>\n               <p>For symmetric encryption KMS keys, omit the parameter or specify\n            <code>ENCRYPT_DECRYPT</code>.</p>\n            </li>\n            <li>\n               <p>For HMAC KMS keys (symmetric), specify <code>GENERATE_VERIFY_MAC</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric KMS keys with RSA key material, specify <code>ENCRYPT_DECRYPT</code> or\n            <code>SIGN_VERIFY</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric KMS keys with ECC key material, specify\n          <code>SIGN_VERIFY</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric KMS keys with SM2 key material (China Regions only), specify <code>ENCRYPT_DECRYPT</code> or\n          <code>SIGN_VERIFY</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "CustomerMasterKeySpec": {
          "target": "com.amazonaws.kms#CustomerMasterKeySpec",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This parameter has been deprecated. Instead, use the KeySpec parameter."
            },
            "smithy.api#documentation": "<p>Instead, use the <code>KeySpec</code> parameter.</p>\n         <p>The <code>KeySpec</code> and <code>CustomerMasterKeySpec</code> parameters work the same\n      way. Only the names differ. We recommend that you use <code>KeySpec</code> parameter in your\n      code. However, to avoid breaking changes, KMS supports both parameters.</p>"
          }
        },
        "KeySpec": {
          "target": "com.amazonaws.kms#KeySpec",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of KMS key to create. The default value,\n      <code>SYMMETRIC_DEFAULT</code>, creates a KMS key with a 256-bit AES-GCM key that is used for encryption and decryption, except in China Regions, \n      where it creates a 128-bit symmetric key that uses SM4 encryption. For help choosing a key spec for your KMS key, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-types.html#symm-asymm-choose\">Choosing a KMS key type</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n         <p>The <code>KeySpec</code> determines whether the KMS key contains a symmetric key or an\n      asymmetric key pair. It also determines the algorithms that the KMS key supports. You can't\n      change the <code>KeySpec</code> after the KMS key is created. To further restrict the\n      algorithms that can be used with the KMS key, use a condition key in its key policy or IAM\n      policy. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-encryption-algorithm\">kms:EncryptionAlgorithm</a>, <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-mac-algorithm\">kms:MacAlgorithm</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-signing-algorithm\">kms:Signing Algorithm</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n         <important>\n            <p>\n               <a href=\"http://aws.amazon.com/kms/features/#AWS_Service_Integration\">Amazon Web Services services that\n          are integrated with KMS</a> use symmetric encryption KMS keys to protect your data.\n        These services do not support asymmetric KMS keys or HMAC KMS keys.</p>\n         </important>\n         <p>KMS supports the following key specs for KMS keys:</p>\n         <ul>\n            <li>\n               <p>Symmetric encryption key (default)</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>SYMMETRIC_DEFAULT</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>HMAC keys (symmetric)</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>HMAC_224</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>HMAC_256</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>HMAC_384</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>HMAC_512</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric RSA key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>RSA_2048</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_3072</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_4096</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric NIST-recommended elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P256</code> (secp256r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P384</code> (secp384r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P521</code> (secp521r1)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Other asymmetric elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_SECG_P256K1</code> (secp256k1), commonly used for\n              cryptocurrencies.</p>\n                  </li>\n               </ul>        \n            </li>\n            <li>\n               <p>SM2 key pairs (China Regions only)</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>SM2</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.kms#OriginType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the key material for the KMS key. You cannot change the origin after you\n      create the KMS key. The default is <code>AWS_KMS</code>, which means that KMS creates the\n      key material.</p>\n         <p>To <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys-create-cmk.html\">create a\n        KMS key with no key material</a> (for imported key material), set this value to\n        <code>EXTERNAL</code>. For more information about importing key material into KMS, see\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key\n        Material</a> in the <i>Key Management Service Developer Guide</i>. The <code>EXTERNAL</code> origin value is valid\n      only for symmetric KMS keys.</p>\n         <p>To <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-cmk-keystore.html\">create a KMS key in an CloudHSM key store</a> and create its key\n      material in the associated CloudHSM cluster, set this value to <code>AWS_CLOUDHSM</code>. You\n      must also use the <code>CustomKeyStoreId</code> parameter to identify the CloudHSM key store. The\n        <code>KeySpec</code> value must be <code>SYMMETRIC_DEFAULT</code>.</p>\n         <p>To <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-xks-keys.html\">create a KMS key in\n        an external key store</a>, set this value to <code>EXTERNAL_KEY_STORE</code>. You must\n      also use the <code>CustomKeyStoreId</code> parameter to identify the external key store and\n      the <code>XksKeyId</code> parameter to identify the associated external key. The\n        <code>KeySpec</code> value must be <code>SYMMETRIC_DEFAULT</code>.</p>"
          }
        },
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Creates the KMS key in the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>. The <code>ConnectionState</code> of\n      the custom key store must be <code>CONNECTED</code>. To find the CustomKeyStoreID and\n      ConnectionState use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>This parameter is valid only for symmetric encryption KMS keys in a single Region. You\n      cannot create any other type of KMS key in a custom key store.</p>\n         <p>When you create a KMS key in an CloudHSM key store, KMS generates a non-exportable 256-bit\n      symmetric key in its associated CloudHSM cluster and associates it with the KMS key. When you\n      create a KMS key in an external key store, you must use the <code>XksKeyId</code> parameter to specify an\n      external key that serves as key material for the KMS key.</p>"
          }
        },
        "BypassPolicyLockoutSafetyCheck": {
          "target": "com.amazonaws.kms#BooleanType",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>A flag to indicate whether to bypass the key policy lockout safety check.</p>\n         <important>\n            <p>Setting this value to true increases the risk that the KMS key becomes unmanageable. Do\n        not set this value to true indiscriminately.</p>\n            <p>For more information, refer to the scenario in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>\n                  <i>Key Management Service Developer Guide</i>\n               </i>.</p>\n         </important>\n         <p>Use this parameter only when you include a policy in the request and you intend to prevent\n      the principal that is making the request from making a subsequent <a>PutKeyPolicy</a> request on the KMS key.</p>\n         <p>The default value is false.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kms#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags to the KMS key. Use this parameter to tag the KMS key when it is\n      created. To tag an existing KMS key, use the <a>TagResource</a> operation.</p>\n         <note>\n            <p>Tagging or untagging a KMS key can allow or deny permission to the KMS key. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/abac.html\">ABAC for KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         </note>\n         <p>To use this parameter, you must have <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:TagResource</a> permission in an IAM policy.</p>\n         <p>Each tag consists of a tag key and a tag value. Both the tag key and the tag value are\n      required, but the tag value can be an empty (null) string. You cannot have more than one tag\n      on a KMS key with the same tag key. If you specify an existing tag key with a different tag\n      value, KMS replaces the current tag value with the specified one.</p>\n         <p>When you add tags to an Amazon Web Services resource, Amazon Web Services generates a cost allocation\n              report with usage and costs aggregated by tags. Tags can also be used to control access to a KMS key. For details,\n              see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/tagging-keys.html\">Tagging Keys</a>.</p>"
          }
        },
        "MultiRegion": {
          "target": "com.amazonaws.kms#NullableBooleanType",
          "traits": {
[...]
