{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.kms#AWSAccountIdType": {
      "type": "string"
    },
    "com.amazonaws.kms#AlgorithmSpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSAES_PKCS1_V1_5",
            "name": "RSAES_PKCS1_V1_5"
          },
          {
            "value": "RSAES_OAEP_SHA_1",
            "name": "RSAES_OAEP_SHA_1"
          },
          {
            "value": "RSAES_OAEP_SHA_256",
            "name": "RSAES_OAEP_SHA_256"
          }
        ]
      }
    },
    "com.amazonaws.kms#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kms#AliasListEntry"
      }
    },
    "com.amazonaws.kms#AliasListEntry": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the alias. This value begins with <code>alias/</code>.</p>"
          }
        },
        "AliasArn": {
          "target": "com.amazonaws.kms#ArnType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key ARN.</p>"
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>String that contains the key identifier of the KMS key associated with the alias.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date and time that the alias was most recently created in the account and Region. Formatted as Unix time.</p>"
          }
        },
        "LastUpdatedDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>Date and time that the alias was most recently associated with a KMS key in the account and Region. Formatted as Unix time.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an alias.</p>"
      }
    },
    "com.amazonaws.kms#AliasNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:/_-]+$"
      }
    },
    "com.amazonaws.kms#AlreadyExistsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AlreadyExists",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>The request was rejected because it attempted to create a resource that already\n      exists.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.kms#ArnType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.kms#BooleanType": {
      "type": "boolean"
    },
    "com.amazonaws.kms#CancelKeyDeletion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CancelKeyDeletionRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CancelKeyDeletionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels the deletion of a KMS key. When this operation succeeds, the key\n      state of the KMS key is <code>Disabled</code>. To enable the KMS key, use <a>EnableKey</a>. </p>\n         <p>For more information about scheduling and canceling deletion of a KMS key, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/deleting-keys.html\">Deleting KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p> \n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key state: Effect on your KMS key</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a KMS key in a different Amazon Web Services account.</p> \n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CancelKeyDeletion</a> (key policy)</p>\n         <p>\n            <b>Related operations</b>: <a>ScheduleKeyDeletion</a>\n         </p>"
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the KMS key whose deletion is being canceled.</p> \n         <p>Specify the key ID or key ARN of the KMS key.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CancelKeyDeletionResponse": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">key ARN</a>) of the KMS key whose deletion is canceled.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CiphertextType": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 6144
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 19,
          "max": 24
        }
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterInUseException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the specified CloudHSM cluster is already associated with a\n      custom key store or it shares a backup history with a cluster that is associated with a custom\n      key store. Each custom key store must be associated with a different CloudHSM cluster.</p>\n         <p>Clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterInvalidConfigurationException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the associated CloudHSM cluster did not meet the\n      configuration requirements for a custom key store.</p>\n\n         <ul>\n            <li>\n               <p>The cluster must be configured with private subnets in at least two different\n          Availability Zones in the Region.</p>\n            </li>\n            <li>\n               <p>The <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">security group for\n            the cluster</a> (cloudhsm-cluster-<i><cluster-id></i>-sg) must\n          include inbound rules and outbound rules that allow TCP traffic on ports 2223-2225. The\n            <b>Source</b> in the inbound rules and the <b>Destination</b> in the outbound rules must match the security group\n          ID. These rules are set by default when you create the cluster. Do not delete or change\n          them. To get information about a particular security group, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSecurityGroups.html\">DescribeSecurityGroups</a> operation.</p>\n            </li>\n            <li>\n               <p>The cluster must contain at least as many HSMs as the operation requires. To add HSMs,\n          use the CloudHSM <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation.</p>\n               <p>For the <a>CreateCustomKeyStore</a>, <a>UpdateCustomKeyStore</a>, and <a>CreateKey</a> operations, the CloudHSM cluster must have at least two\n          active HSMs, each in a different Availability Zone. For the <a>ConnectCustomKeyStore</a> operation, the CloudHSM must contain at least one active\n          HSM.</p>\n            </li>\n         </ul>\n         <p>For information about the requirements for an CloudHSM cluster that is associated with a\n      custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a>\n      in the <i>Key Management Service Developer Guide</i>. For information about creating a private subnet for an CloudHSM cluster,\n      see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/create-subnets.html\">Create a Private\n        Subnet</a> in the <i>CloudHSM User Guide</i>. For information about cluster security groups, see\n        <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/configure-sg.html\">Configure a Default Security\n        Group</a> in the <i>\n               <i>CloudHSM User Guide</i>\n            </i>. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotActiveException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotActiveException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the CloudHSM cluster that is associated with the custom key\n      store is not active. Initialize and activate the cluster and try the command again. For\n      detailed instructions, see <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/getting-started.html\">Getting Started</a> in the <i>CloudHSM User Guide</i>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotFoundException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because KMS cannot find the CloudHSM cluster with the specified\n      cluster ID. Retry the request with a different cluster ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CloudHsmClusterNotRelatedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CloudHsmClusterNotRelatedException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the specified CloudHSM cluster has a different cluster\n      certificate than the original cluster. You cannot use the operation to specify an unrelated\n      cluster.</p>\n         <p>Specify a cluster that shares a backup history with the original cluster. This includes\n      clusters that were created from a backup of the current cluster, and clusters that were\n      created from the same backup that produced the current cluster.</p> \n         <p>Clusters that share a backup history have the same cluster certificate. To view the\n      cluster certificate of a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#ConnectCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Connects or reconnects a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> to its associated CloudHSM cluster.</p>\n         <p>The custom key store must be connected before you can create KMS keys\n      in the key store or use the KMS keys it contains. You can disconnect and reconnect a custom key\n      store at any time.</p>\n         <p>To connect a custom key store, its associated CloudHSM cluster must have at least one active\n      HSM. To get the number of active HSMs in a cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation. To add HSMs\n      to the cluster, use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_CreateHsm.html\">CreateHsm</a> operation. Also, the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto\n        user</a> (CU) must not be logged into the cluster. This prevents KMS from using this\n      account to log in.</p>\n         <p>The connection process can take an extended amount of time to complete; up to 20 minutes.\n      This operation starts the connection process, but it does not wait for it to complete. When it\n      succeeds, this operation quickly returns an HTTP 200 response and a JSON object with no\n      properties. However, this response does not indicate that the custom key store is connected.\n      To get the connection state of the custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>During the connection process, KMS finds the CloudHSM cluster that is associated with the\n      custom key store, creates the connection infrastructure, connects to the cluster, logs into\n      the CloudHSM client as the <code>kmsuser</code> CU, and rotates its password.</p>\n         <p>The <code>ConnectCustomKeyStore</code> operation might fail for various reasons. To find\n      the reason, use the <a>DescribeCustomKeyStores</a> operation and see the\n        <code>ConnectionErrorCode</code> in the response. For help interpreting the\n        <code>ConnectionErrorCode</code>, see <a>CustomKeyStoresListEntry</a>.</p>\n         <p>To fix the failure, use the <a>DisconnectCustomKeyStore</a> operation to\n      disconnect the custom key store, correct the error, use the <a>UpdateCustomKeyStore</a> operation if necessary, and then use\n        <code>ConnectCustomKeyStore</code> again.</p>\n         <p>If you are having trouble connecting or disconnecting a custom key store, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key\n        Store</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a custom key store in a different Amazon Web Services account.</p>\n    \n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:ConnectCustomKeyStore</a> (IAM policy)</p>\n         <p>\n            <b>Related operations</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>CreateCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeCustomKeyStores</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DisconnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateCustomKeyStore</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the key store ID of the custom key store that you want to connect.\n      To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#ConnectCustomKeyStoreResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.kms#ConnectionErrorCodeType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INVALID_CREDENTIALS",
            "name": "INVALID_CREDENTIALS"
          },
          {
            "value": "CLUSTER_NOT_FOUND",
            "name": "CLUSTER_NOT_FOUND"
          },
          {
            "value": "NETWORK_ERRORS",
            "name": "NETWORK_ERRORS"
          },
          {
            "value": "INTERNAL_ERROR",
            "name": "INTERNAL_ERROR"
          },
          {
            "value": "INSUFFICIENT_CLOUDHSM_HSMS",
            "name": "INSUFFICIENT_CLOUDHSM_HSMS"
          },
          {
            "value": "USER_LOCKED_OUT",
            "name": "USER_LOCKED_OUT"
          },
          {
            "value": "USER_NOT_FOUND",
            "name": "USER_NOT_FOUND"
          },
          {
            "value": "USER_LOGGED_IN",
            "name": "USER_LOGGED_IN"
          },
          {
            "value": "SUBNET_NOT_FOUND",
            "name": "SUBNET_NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.kms#ConnectionStateType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CONNECTED",
            "name": "CONNECTED"
          },
          {
            "value": "CONNECTING",
            "name": "CONNECTING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "DISCONNECTED",
            "name": "DISCONNECTED"
          },
          {
            "value": "DISCONNECTING",
            "name": "DISCONNECTING"
          }
        ]
      }
    },
    "com.amazonaws.kms#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#AlreadyExistsException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidAliasNameException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a friendly name for a KMS key. </p>\n         <note>\n            <p>Adding, deleting, or updating an alias can allow or deny permission to the KMS key. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/abac.html\">Using ABAC in KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         </note>\n         <p>You can use an alias to identify a KMS key in the KMS console, in the <a>DescribeKey</a> operation and in <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a>, such as <a>Encrypt</a> and\n        <a>GenerateDataKey</a>. You can also change the KMS key that's associated with the\n      alias (<a>UpdateAlias</a>) or delete the alias (<a>DeleteAlias</a>) at\n      any time. These operations don't affect the underlying KMS key. </p>\n         <p>You can associate the alias with any customer managed key in the same Amazon Web Services Region. Each\n      alias is associated with only one KMS key at a time, but a KMS key can have multiple aliases. A valid KMS key is required. You can't create an alias without a KMS key.</p>\n         <p>The alias must be unique in the account and Region, but you can have aliases with the same\n      name in different Regions. For detailed information about aliases, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-alias.html\">Using aliases</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>This operation does not return a response. To get the alias that you created, use the\n        <a>ListAliases</a> operation.</p> \n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key state: Effect on your KMS key</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on an alias in a different Amazon Web Services account.</p> \n    \n         <p>\n            <b>Required permissions</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateAlias</a> on the alias (IAM policy).</p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateAlias</a> on the KMS key (key policy).</p>\n            </li>\n         </ul>\n         <p>For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-alias.html#alias-access\">Controlling access to aliases</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DeleteAlias</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListAliases</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateAlias</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "AliasName": {
          "target": "com.amazonaws.kms#AliasNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the alias name. This value must begin with <code>alias/</code> followed by a\n      name, such as <code>alias/ExampleAlias</code>. </p>\n         <p>The <code>AliasName</code> value must be string of 1-256 characters. It can contain only alphanumeric characters,\n      forward slashes (/), underscores (_), and dashes (-). The alias name cannot begin with <code>alias/aws/</code>. The <code>alias/aws/</code> prefix is reserved\n      for <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "TargetKeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Associates the alias with the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#customer-cmk\">customer managed key</a>. The KMS key must be\n      in the same Amazon Web Services Region. </p>\n         <p>A valid key ID is required. If you supply a null or empty string value, this operation\n      returns an error.</p>\n         <p>For help finding the key ID and ARN, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html#find-cmk-id-arn\">Finding the Key ID and\n        ARN</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n        \n         <p>Specify the key ID or key ARN of the KMS key.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStore": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateCustomKeyStoreResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInUseException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotActiveException"
        },
        {
          "target": "com.amazonaws.kms#CloudHsmClusterNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNameInUseException"
        },
        {
          "target": "com.amazonaws.kms#IncorrectTrustAnchorException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> that is associated with an <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/clusters.html\">CloudHSM cluster</a> that you own and\n    manage.</p>\n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in KMS, which\ncombines the convenience and extensive integration of KMS with the isolation and control of a\nsingle-tenant key store.</p>\n         <p>Before you create the custom key store, you must assemble\n      the required elements, including an CloudHSM cluster that fulfills the requirements for a custom\n      key store. For details about the required elements, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keystore.html#before-keystore\">Assemble the Prerequisites</a>\n      in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>When the operation completes successfully, it returns the ID of the new custom key store.\n      Before you can use your new custom key store, you need to use the <a>ConnectCustomKeyStore</a> operation to connect the new key store to its CloudHSM\n      cluster. Even if you are not going to use your custom key store immediately, you might want to\n      connect it to verify that all settings are correct and then disconnect it until you are ready\n      to use it.</p>\n         <p>For help with failures, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: No. You cannot perform this operation on a custom key store in a different Amazon Web Services account.</p>\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateCustomKeyStore</a> (IAM policy).</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ConnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DeleteCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DescribeCustomKeyStores</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>DisconnectCustomKeyStore</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>UpdateCustomKeyStore</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreRequest": {
      "type": "structure",
      "members": {
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a friendly name for the custom key store. The name must be unique in your Amazon Web Services account.</p>",
            "smithy.api#required": {}
          }
        },
        "CloudHsmClusterId": {
          "target": "com.amazonaws.kms#CloudHsmClusterIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the CloudHSM cluster for the custom key store. Enter the cluster ID of any active\n      CloudHSM cluster that is not already associated with a custom key store. To find the cluster ID,\n      use the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/APIReference/API_DescribeClusters.html\">DescribeClusters</a> operation.</p>",
            "smithy.api#required": {}
          }
        },
        "TrustAnchorCertificate": {
          "target": "com.amazonaws.kms#TrustAnchorCertificateType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the content of the trust anchor certificate for the cluster. This is the content of\n      the <code>customerCA.crt</code> file that you created when you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html\">initialized the cluster</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyStorePassword": {
          "target": "com.amazonaws.kms#KeyStorePasswordType",
          "traits": {
            "smithy.api#documentation": "<p>Enter the password of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-store-concepts.html#concept-kmsuser\">\n               <code>kmsuser</code> crypto user\n        (CU) account</a> in the specified CloudHSM cluster. KMS logs into the cluster as this\n      user to manage key material on your behalf.</p>\n         <p>The password must be a string of 7 to 32 characters. Its value is case sensitive.</p>\n         <p>This parameter tells KMS the <code>kmsuser</code> account password; it does not change\n      the password in the CloudHSM cluster.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.kms#CreateCustomKeyStoreResponse": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the new custom key store.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateGrantRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateGrantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#DisabledException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#InvalidGrantTokenException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a grant to a KMS key. </p>\n         <p>A <i>grant</i> is a policy instrument that allows Amazon Web Services principals to use KMS keys in cryptographic operations. It also can allow them to view a KMS key (<a>DescribeKey</a>) and create and manage grants. When authorizing access to a KMS key, grants are considered along with key policies and IAM policies. Grants are often used for\n      temporary permissions because you can create one, use its permissions, and delete it without\n      changing your key policies or IAM policies. </p>\n         <p>For detailed information about grants, including grant terminology, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html\">Using grants</a> in the\n        <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>. For examples of working with grants in several\n      programming languages, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/programming-grants.html\">Programming grants</a>. </p>\n         <p>The <code>CreateGrant</code> operation returns a <code>GrantToken</code> and a\n      <code>GrantId</code>.</p>\n         <ul>\n            <li>\n               <p>When you create, retire, or revoke a grant, there might be a brief delay, usually less than five minutes, until the grant is available throughout KMS. This state is known as <i>eventual consistency</i>. Once the grant has achieved eventual consistency, the grantee principal\n        can use the permissions in the grant without identifying the grant. </p>\n               <p>However, to use the permissions in the grant immediately, use the\n          <code>GrantToken</code> that <code>CreateGrant</code> returns. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant\n            token</a> in the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </li>\n            <li>\n               <p>The <code>CreateGrant</code> operation also returns a <code>GrantId</code>. You can use the\n        <code>GrantId</code> and a key identifier to identify the grant in the <a>RetireGrant</a> and <a>RevokeGrant</a> operations. To find the grant\n        ID, use the <a>ListGrants</a> or <a>ListRetirableGrants</a>\n        operations.</p>\n            </li>\n         </ul> \n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key state: Effect on your KMS key</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: Yes. To perform this operation on a KMS key in a different Amazon Web Services account, specify the key\n  ARN in the value of the <code>KeyId</code> parameter. </p> \n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateGrant</a> (key policy)</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>ListGrants</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListRetirableGrants</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>RetireGrant</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>RevokeGrant</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateGrantRequest": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Identifies the KMS key for the grant. The grant gives principals permission to use this KMS key.</p>\n    \n         <p>Specify the key ID or key ARN of the KMS key. To specify a KMS key in a\ndifferent Amazon Web Services account, you must use the key ARN.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteePrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The identity that gets the permissions specified in the grant.</p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an Amazon Web Services principal. Valid Amazon Web Services principals include Amazon Web Services accounts (root), IAM users, IAM roles, federated\n      users, and assumed role users. For examples of the ARN syntax to use for specifying a\n      principal, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">Amazon Web Services Identity and Access\n        Management (IAM)</a> in the Example ARNs section of the <i>Amazon Web Services General\n          Reference</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "RetiringPrincipal": {
          "target": "com.amazonaws.kms#PrincipalIdType",
          "traits": {
            "smithy.api#documentation": "<p>The principal that has permission to use the <a>RetireGrant</a> operation to\n      retire the grant. </p>\n         <p>To specify the principal, use the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an Amazon Web Services principal. Valid Amazon Web Services principals include Amazon Web Services accounts (root), IAM users, federated users, and\n      assumed role users. For examples of the ARN syntax to use for specifying a principal, see\n      <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">Amazon Web Services Identity and Access Management (IAM)</a> in the Example ARNs section of the\n      <i>Amazon Web Services General Reference</i>.</p>\n         <p>The grant determines the retiring principal. Other principals might have permission to\n      retire the grant or revoke the grant. For details, see <a>RevokeGrant</a> and\n      <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#grant-delete\">Retiring and revoking grants</a> in the <i>Key Management Service Developer Guide</i>. </p>"
          }
        },
        "Operations": {
          "target": "com.amazonaws.kms#GrantOperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of operations that the grant permits. </p>\n         <p>The operation must be supported on the KMS key. For example, you cannot create a grant for a\n      symmetric KMS key that allows the <a>Sign</a> operation, or a grant for an asymmetric KMS key that allows the <a>GenerateDataKey</a> operation. If you try, KMS returns a\n      <code>ValidationError</code> exception. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#terms-grant-operations\">Grant operations</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "Constraints": {
          "target": "com.amazonaws.kms#GrantConstraints",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a grant constraint. </p>\n         <p>KMS supports the <code>EncryptionContextEquals</code> and\n      <code>EncryptionContextSubset</code> grant constraints. Each constraint value can include up\n      to 8 encryption context pairs. The encryption context value in each constraint cannot exceed\n      384 characters.</p>\n         <p>These grant constraints allow the permissions in the grant only when the encryption\n      context in the request matches (<code>EncryptionContextEquals</code>) or includes\n      (<code>EncryptionContextSubset</code>) the encryption context specified in this structure.\n      For information about grant constraints, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-grant-overview.html#grant-constraints\">Using grant\n        constraints</a> in the <i>Key Management Service Developer Guide</i>. For more information about encryption context,\n      see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">Encryption\n        Context</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>. </p>\n         <p>The encryption context grant constraints are supported only on operations that include an\n      encryption context. You cannot use an encryption context grant constraint for cryptographic\n      operations with asymmetric KMS keys or for management operations, such as <a>DescribeKey</a> or <a>RetireGrant</a>.</p>"
          }
        },
        "GrantTokens": {
          "target": "com.amazonaws.kms#GrantTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A list of grant tokens. </p>\n         <p>Use a grant token when your permission to call this operation comes from a new grant that has not yet achieved <i>eventual consistency</i>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#grant_token\">Grant token</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant token</a> in the\n    <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.kms#GrantNameType",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the grant. Use this value to prevent the unintended\n      creation of duplicate grants when retrying this request.</p>\n         <p>When this value is absent, all <code>CreateGrant</code> requests result in a new grant\n      with a unique <code>GrantId</code> even if all the supplied parameters are identical. This can\n      result in unintended duplicates when you retry the <code>CreateGrant</code> request.</p>\n         <p>When this value is present, you can retry a <code>CreateGrant</code> request with\n      identical parameters; if the grant already exists, the original <code>GrantId</code> is\n      returned without creating a new grant. Note that the returned grant token is unique with every\n      <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code> is returned.\n      All grant tokens for the same grant ID can be used interchangeably.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateGrantResponse": {
      "type": "structure",
      "members": {
        "GrantToken": {
          "target": "com.amazonaws.kms#GrantTokenType",
          "traits": {
            "smithy.api#documentation": "<p>The grant token.</p>\n         <p>Use a grant token when your permission to call this operation comes from a new grant that has not yet achieved <i>eventual consistency</i>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#grant_token\">Grant token</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant token</a> in the\n    <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "GrantId": {
          "target": "com.amazonaws.kms#GrantIdType",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the grant.</p>\n         <p>You can use the <code>GrantId</code> in a <a>ListGrants</a>, <a>RetireGrant</a>, or <a>RevokeGrant</a> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#CreateKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#CreateKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#CloudHsmClusterInvalidConfigurationException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#CustomKeyStoreNotFoundException"
        },
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#InvalidArnException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#LimitExceededException"
        },
        {
          "target": "com.amazonaws.kms#MalformedPolicyDocumentException"
        },
        {
          "target": "com.amazonaws.kms#TagException"
        },
        {
          "target": "com.amazonaws.kms#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a unique customer managed <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#kms-keys\">KMS key</a> in your Amazon Web Services account and Region.</p>\n         <note>\n            <p>KMS is replacing the term <i>customer master key (CMK)</i> with <i>KMS key</i> and <i>KMS key</i>. The concept has not changed. To prevent breaking changes, KMS is keeping some variations of this term.</p>\n         </note>\n\n         <p>You can use the <code>CreateKey</code> operation to create symmetric or asymmetric KMS keys.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Symmetric KMS keys</b> contain a 256-bit symmetric key that\n          never leaves KMS unencrypted. To use the KMS key, you must call KMS. You can use a\n          symmetric KMS key to encrypt and decrypt small amounts of data, but they are typically used to\n          generate <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-keys\">data\n            keys</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#data-key-pairs\">data keys pairs</a>. For details,\n          see <a>GenerateDataKey</a> and <a>GenerateDataKeyPair</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Asymmetric KMS keys</b> can contain an RSA key pair or an\n          Elliptic Curve (ECC) key pair. The private key in an asymmetric KMS key never leaves KMS\n          unencrypted. However, you can use the <a>GetPublicKey</a> operation to download\n          the public key so it can be used outside of KMS. KMS keys with RSA key pairs can be used to\n          encrypt or decrypt data or sign and verify messages (but not both). KMS keys with ECC key\n          pairs can be used only to sign and verify messages.</p>\n            </li>\n         </ul>\n         <p>For information about symmetric and asymmetric KMS keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n\n\n         <p>To create different types of KMS keys, use the following guidance:</p>\n\n         <dl>\n            <dt>Asymmetric KMS keys</dt>\n            <dd>\n               <p>To create an asymmetric KMS key, use the <code>KeySpec</code> parameter to specify\n            the type of key material in the KMS key. Then, use the <code>KeyUsage</code> parameter\n            to determine whether the KMS key will be used to encrypt and decrypt or sign and verify.\n            You can't change these properties after the KMS key is created.</p>\n               <p> </p>\n            </dd>\n            <dt>Symmetric KMS keys</dt>\n            <dd>\n               <p>When creating a symmetric KMS key, you don't need to specify the\n              <code>KeySpec</code> or <code>KeyUsage</code> parameters. The default value for\n              <code>KeySpec</code>, <code>SYMMETRIC_DEFAULT</code>, and the default value for\n              <code>KeyUsage</code>, <code>ENCRYPT_DECRYPT</code>, are the only valid values for\n            symmetric KMS keys. </p>\n               <p> </p>\n            </dd>\n            <dt>Multi-Region primary keys</dt>\n            <dt>Imported key material</dt>\n            <dd>\n               <p>To create a multi-Region <i>primary key</i> in the local Amazon Web Services Region,\n            use the <code>MultiRegion</code> parameter with a value of <code>True</code>. To create\n            a multi-Region <i>replica key</i>, that is, a KMS key with the same key ID and\n            key material as a primary key, but in a different Amazon Web Services Region, use the <a>ReplicateKey</a> operation. To change a replica key to a primary key, and its\n            primary key to a replica key, use the <a>UpdatePrimaryRegion</a>\n            operation.</p>\n               <p>This operation supports <i>multi-Region keys</i>, an KMS feature that lets you create multiple\n      interoperable KMS keys in different Amazon Web Services Regions. Because these KMS keys have the same key ID, key\n      material, and other metadata, you can use them interchangeably to encrypt data in one Amazon Web Services Region and decrypt\n      it in a different Amazon Web Services Region without re-encrypting the data or making a cross-Region call. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Using multi-Region keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p>You can create symmetric and asymmetric multi-Region keys and multi-Region keys with\n            imported key material. You cannot create multi-Region keys in a custom key store.</p>\n               <p> </p>\n            </dd>\n            <dd>\n               <p>To import your own key material, begin by creating a symmetric KMS key with no key\n            material. To do this, use the <code>Origin</code> parameter of <code>CreateKey</code>\n            with a value of <code>EXTERNAL</code>. Next, use <a>GetParametersForImport</a> operation to get a public key and import token, and use the public key to encrypt\n            your key material. Then, use <a>ImportKeyMaterial</a> with your import token\n            to import the key material. For step-by-step instructions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key Material</a> in the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>. You\n            cannot import the key material into an asymmetric KMS key.</p>\n               <p>To create a multi-Region primary key with imported key material, use the\n              <code>Origin</code> parameter of <code>CreateKey</code> with a value of\n              <code>EXTERNAL</code> and the <code>MultiRegion</code> parameter with a value of\n              <code>True</code>. To create replicas of the multi-Region primary key, use the <a>ReplicateKey</a> operation. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Using multi-Region keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n               <p> </p>\n            </dd>\n            <dt>Custom key store</dt>\n            <dd>\n               <p>To create a symmetric KMS key in a <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a>, use the\n              <code>CustomKeyStoreId</code> parameter to specify the custom key store. You must also\n            use the <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The\n            CloudHSM cluster that is associated with the custom key store must have at least two active\n            HSMs in different Availability Zones in the Amazon Web Services Region. </p>\n               <p>You cannot create an asymmetric KMS key in a custom key store. For information about\n            custom key stores in KMS see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Using Custom Key Stores</a> in\n            the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </dd>\n         </dl>\n         <p>\n            <b>Cross-account use</b>:  No. You cannot use this operation to\n      create a KMS key in a different Amazon Web Services account.</p>\n\n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:CreateKey</a> (IAM policy). To use the\n        <code>Tags</code> parameter, <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:TagResource</a> (IAM policy). For examples and information about related\n      permissions, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/iam-policies.html#iam-policy-example-create-key\">Allow a user to create KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>DescribeKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ListKeys</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ScheduleKeyDeletion</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#CreateKeyRequest": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.kms#PolicyType",
          "traits": {
            "smithy.api#documentation": "<p>The key policy to attach to the KMS key.</p>\n         <p>If you provide a key policy, it must meet the following criteria:</p>\n         <ul>\n            <li>\n               <p>If you don't set <code>BypassPolicyLockoutSafetyCheck</code> to true, the key policy\n          must allow the principal that is making the <code>CreateKey</code> request to make a\n          subsequent <a>PutKeyPolicy</a> request on the KMS key. This reduces the risk that\n          the KMS key becomes unmanageable. For more information, refer to the scenario in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section of the <i>\n                     <i>Key Management Service Developer Guide</i>\n                  </i>.</p>\n            </li>\n            <li>\n               <p>Each statement in the key policy must contain one or more principals. The principals\n          in the key policy must exist and be visible to KMS. When you create a new Amazon Web Services principal\n          (for example, an IAM user or role), you might need to enforce a delay before including the\n          new principal in a key policy because the new principal might not be immediately visible\n          to KMS. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes that I make are not always immediately visible</a> in the <i>Amazon Web Services Identity and Access Management User Guide</i>.</p>\n            </li>\n         </ul>\n         <p>If you do not provide a key policy, KMS attaches a default key policy to the KMS key. For\n      more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default Key Policy</a> in the\n      <i>Key Management Service Developer Guide</i>. </p>\n         <p>The key policy size quota is 32 kilobytes (32768 bytes).</p>\n         <p>For help writing and formatting a JSON policy document, see the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies.html\">IAM JSON Policy Reference</a> in the <i>\n               <i>Identity and Access Management User Guide</i>\n            </i>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.kms#DescriptionType",
          "traits": {
            "smithy.api#documentation": "<p>A description of the KMS key.</p>\n         <p>Use a description that helps you decide whether the KMS key is\n      appropriate for a task. The default value is an empty string (no description).</p>\n         <p>To set or change the description after the key is created, use <a>UpdateKeyDescription</a>.</p>"
          }
        },
        "KeyUsage": {
          "target": "com.amazonaws.kms#KeyUsageType",
          "traits": {
            "smithy.api#documentation": "<p>Determines the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> for which you can use the KMS key. The default value is\n        <code>ENCRYPT_DECRYPT</code>. This parameter is required only for asymmetric KMS keys. You can't\n      change the <code>KeyUsage</code> value after the KMS key is created.</p>\n         <p>Select only one valid value.</p>\n         <ul>\n            <li>\n               <p>For symmetric KMS keys, omit the parameter or specify <code>ENCRYPT_DECRYPT</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric KMS keys with RSA key material, specify <code>ENCRYPT_DECRYPT</code> or\n            <code>SIGN_VERIFY</code>.</p>\n            </li>\n            <li>\n               <p>For asymmetric KMS keys with ECC key material, specify <code>SIGN_VERIFY</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "CustomerMasterKeySpec": {
          "target": "com.amazonaws.kms#CustomerMasterKeySpec",
          "traits": {
            "smithy.api#deprecated": {
              "message": "This parameter has been deprecated. Instead, use the KeySpec parameter."
            },
            "smithy.api#documentation": "<p>Instead, use the <code>KeySpec</code> parameter.</p>      \n         <p>The <code>KeySpec</code> and <code>CustomerMasterKeySpec</code> parameters work the same way. Only the names differ. We recommend that you use <code>KeySpec</code> parameter in your code. However, to avoid breaking changes, KMS will support both parameters.</p>"
          }
        },
        "KeySpec": {
          "target": "com.amazonaws.kms#KeySpec",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of KMS key to create. The default value, <code>SYMMETRIC_DEFAULT</code>,\n      creates a KMS key with a 256-bit symmetric key for encryption and decryption. For help choosing a\n      key spec for your KMS key, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-choose.html\">How to Choose Your KMS key\n        Configuration</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n         <p>The <code>KeySpec</code> determines whether the KMS key contains a symmetric key or an\n      asymmetric key pair. It also determines the encryption algorithms or signing algorithms that\n      the KMS key supports. You can't change the <code>KeySpec</code> after the KMS key is created.\n      To further restrict the algorithms that can be used with the KMS key, use a condition key in\n      its key policy or IAM policy. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-encryption-algorithm\">kms:EncryptionAlgorithm</a> or <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/policy-conditions.html#conditions-kms-signing-algorithm\">kms:Signing Algorithm</a> in the <i>\n               <i>Key Management Service Developer Guide</i>\n            </i>.</p>\n         <important>\n            <p>\n               <a href=\"http://aws.amazon.com/kms/features/#AWS_Service_Integration\">Amazon Web Services services that\n        are integrated with KMS</a> use symmetric KMS keys to protect your data. These\n        services do not support asymmetric KMS keys. For help determining whether a KMS key is symmetric or\n        asymmetric, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/find-symm-asymm.html\">Identifying Symmetric and Asymmetric KMS keys</a> in the <i>Key Management Service Developer\n            Guide</i>.</p>\n         </important>\n         <p>KMS supports the following key specs for KMS keys:</p>\n         <ul>\n            <li>\n               <p>Symmetric key (default)</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>SYMMETRIC_DEFAULT</code> (AES-256-GCM)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric RSA key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>RSA_2048</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_3072</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>RSA_4096</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Asymmetric NIST-recommended elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P256</code> (secp256r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P384</code> (secp384r1)</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>ECC_NIST_P521</code> (secp521r1)</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>Other asymmetric elliptic curve key pairs</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>ECC_SECG_P256K1</code> (secp256k1), commonly used for\n              cryptocurrencies.</p>\n                  </li>\n               </ul>\n            </li>\n         </ul>"
          }
        },
        "Origin": {
          "target": "com.amazonaws.kms#OriginType",
          "traits": {
            "smithy.api#documentation": "<p>The source of the key material for the KMS key. You cannot change the origin after you create\n      the KMS key. The default is <code>AWS_KMS</code>, which means that KMS creates the key\n      material.</p>\n         <p>To create a KMS key with no key material (for imported key material), set the value to\n        <code>EXTERNAL</code>. For more information about importing key material into KMS, see\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing Key\n        Material</a> in the <i>Key Management Service Developer Guide</i>. This value is valid only for symmetric KMS keys.</p>\n         <p>To create a KMS key in an KMS <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> and create its key material in the associated\n      CloudHSM cluster, set this value to <code>AWS_CLOUDHSM</code>. You must also use the\n        <code>CustomKeyStoreId</code> parameter to identify the custom key store. This value is\n      valid only for symmetric KMS keys.</p>"
          }
        },
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>Creates the KMS key in the specified <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">custom key store</a> and the key material in its associated\n      CloudHSM cluster. To create a KMS key in a custom key store, you must also specify the\n        <code>Origin</code> parameter with a value of <code>AWS_CLOUDHSM</code>. The CloudHSM cluster\n      that is associated with the custom key store must have at least two active HSMs, each in a\n      different Availability Zone in the Region.</p>\n         <p>This parameter is valid only for symmetric KMS keys and regional KMS keys. You cannot create an\n      asymmetric KMS key or a multi-Region key in a custom key store.</p>\n         <p>To find the ID of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>The response includes the custom key store ID and the ID of the CloudHSM cluster.</p>\n         <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/custom-key-store-overview.html\">Custom Key Store feature</a> feature in KMS, which\ncombines the convenience and extensive integration of KMS with the isolation and control of a\nsingle-tenant key store.</p>"
          }
        },
        "BypassPolicyLockoutSafetyCheck": {
          "target": "com.amazonaws.kms#BooleanType",
          "traits": {
            "smithy.api#documentation": "<p>A flag to indicate whether to bypass the key policy lockout safety check.</p>\n         <important>\n            <p>Setting this value to true increases the risk that the KMS key becomes unmanageable. Do not\n        set this value to true indiscriminately.</p>\n            <p>For more information, refer to the scenario in the <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default Key Policy</a> section in the <i>\n                  <i>Key Management Service Developer Guide</i>\n               </i>.</p>\n         </important>\n         <p>Use this parameter only when you include a policy in the request and you intend to prevent\n      the principal that is making the request from making a subsequent <a>PutKeyPolicy</a> request on the KMS key.</p>\n         <p>The default value is false.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.kms#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Assigns one or more tags to the KMS key. Use this parameter to tag the KMS key when it is created.\n      To tag an existing KMS key, use the <a>TagResource</a> operation.</p>\n         <note>\n            <p>Tagging or untagging a KMS key can allow or deny permission to the KMS key. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/abac.html\">Using ABAC in KMS</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         </note>\n         <p>To use this parameter, you must have <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:TagResource</a> permission in an IAM policy.</p>\n         <p>Each tag consists of a tag key and a tag value. Both the tag key and the tag value are\n      required, but the tag value can be an empty (null) string. You cannot have more than one tag\n      on a KMS key with the same tag key. If you specify an existing tag key with a different tag value,\n      KMS replaces the current tag value with the specified one.</p>\n         <p>When you add tags to an Amazon Web Services resource, Amazon Web Services generates a cost allocation\n              report with usage and costs aggregated by tags. Tags can also be used to control access to a KMS key. For details,\n              see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/tagging-keys.html\">Tagging Keys</a>.</p>"
          }
        },
        "MultiRegion": {
          "target": "com.amazonaws.kms#NullableBooleanType",
          "traits": {
            "smithy.api#documentation": "<p>Creates a multi-Region primary key that you can replicate into other Amazon Web Services Regions. You\n      cannot change this value after you create the KMS key. </p>\n         <p>For a multi-Region key, set this parameter to <code>True</code>. For a single-Region KMS key,\n      omit this parameter or set it to <code>False</code>. The default value is\n      <code>False</code>.</p>\n         <p>This operation supports <i>multi-Region keys</i>, an KMS feature that lets you create multiple\n      interoperable KMS keys in different Amazon Web Services Regions. Because these KMS keys have the same key ID, key\n      material, and other metadata, you can use them interchangeably to encrypt data in one Amazon Web Services Region and decrypt\n      it in a different Amazon Web Services Region without re-encrypting the data or making a cross-Region call. For more information about multi-Region keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/multi-region-keys-overview.html\">Using multi-Region keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>This value creates a <i>primary key</i>, not a replica. To create a\n        <i>replica key</i>, use the <a>ReplicateKey</a> operation. </p>\n         <p>You can create a symmetric or asymmetric multi-Region key, and you can create a\n      multi-Region key with imported key material. However, you cannot create a multi-Region key in\n      a custom key store.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CreateKeyResponse": {
      "type": "structure",
      "members": {
        "KeyMetadata": {
          "target": "com.amazonaws.kms#KeyMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Metadata associated with the KMS key.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreHasCMKsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomKeyStoreHasCMKsException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the custom key store contains KMS keys. After verifying that you do not need to use the KMS keys, use the <a>ScheduleKeyDeletion</a> operation to delete the KMS keys. After they are deleted, you\n      can delete the custom key store.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreIdType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreInvalidStateException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomKeyStoreInvalidStateException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because of the <code>ConnectionState</code> of the custom key\n      store. To get the <code>ConnectionState</code> of a custom key store, use the <a>DescribeCustomKeyStores</a> operation.</p>\n         <p>This exception is thrown under the following conditions:</p>\n         <ul>\n            <li>\n               <p>You requested the <a>CreateKey</a> or <a>GenerateRandom</a>\n          operation in a custom key store that is not connected. These operations are valid only\n          when the custom key store <code>ConnectionState</code> is <code>CONNECTED</code>.</p>\n            </li>\n            <li>\n               <p>You requested the <a>UpdateCustomKeyStore</a> or <a>DeleteCustomKeyStore</a> operation on a custom key store that is not\n          disconnected. This operation is valid only when the custom key store\n            <code>ConnectionState</code> is <code>DISCONNECTED</code>.</p>\n            </li>\n            <li>\n               <p>You requested the <a>ConnectCustomKeyStore</a> operation on a custom key\n          store with a <code>ConnectionState</code> of <code>DISCONNECTING</code> or\n            <code>FAILED</code>. This operation is valid for all other <code>ConnectionState</code>\n          values.</p>\n            </li>\n         </ul>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNameInUseException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomKeyStoreNameInUseException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because the specified custom key store name is already assigned\n      to another custom key store in the account. Try again with a custom key store name that is\n      unique in the account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNameType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        }
      }
    },
    "com.amazonaws.kms#CustomKeyStoreNotFoundException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.kms#ErrorMessageType"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "CustomKeyStoreNotFoundException",
          "httpResponseCode": 400
        },
        "smithy.api#documentation": "<p>The request was rejected because KMS cannot find a custom key store with the specified\n      key store name or ID.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.kms#CustomKeyStoresList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.kms#CustomKeyStoresListEntry"
      }
    },
    "com.amazonaws.kms#CustomKeyStoresListEntry": {
      "type": "structure",
      "members": {
        "CustomKeyStoreId": {
          "target": "com.amazonaws.kms#CustomKeyStoreIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the custom key store.</p>"
          }
        },
        "CustomKeyStoreName": {
          "target": "com.amazonaws.kms#CustomKeyStoreNameType",
          "traits": {
            "smithy.api#documentation": "<p>The user-specified friendly name for the custom key store.</p>"
          }
        },
        "CloudHsmClusterId": {
          "target": "com.amazonaws.kms#CloudHsmClusterIdType",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the CloudHSM cluster that is associated with the custom key\n      store.</p>"
          }
        },
        "TrustAnchorCertificate": {
          "target": "com.amazonaws.kms#TrustAnchorCertificateType",
          "traits": {
            "smithy.api#documentation": "<p>The trust anchor certificate of the associated CloudHSM cluster. When you <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/initialize-cluster.html#sign-csr\">initialize the\n        cluster</a>, you create this certificate and save it in the <code>customerCA.crt</code>\n      file.</p>"
          }
        },
        "ConnectionState": {
          "target": "com.amazonaws.kms#ConnectionStateType",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the custom key store is connected to its CloudHSM cluster.</p>\n         <p>You can create and use KMS keys in your custom key stores only when its connection state is\n        <code>CONNECTED</code>.</p>\n         <p>The value is <code>DISCONNECTED</code> if the key store has never been connected or you\n      use the <a>DisconnectCustomKeyStore</a> operation to disconnect it. If the value is\n        <code>CONNECTED</code> but you are having trouble using the custom key store, make sure that\n      its associated CloudHSM cluster is active and contains at least one active HSM.</p>\n         <p>A value of <code>FAILED</code> indicates that an attempt to connect was unsuccessful. The\n        <code>ConnectionErrorCode</code> field in the response indicates the cause of the failure.\n      For help resolving a connection failure, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html\">Troubleshooting a Custom Key Store</a> in the\n      <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "ConnectionErrorCode": {
          "target": "com.amazonaws.kms#ConnectionErrorCodeType",
          "traits": {
            "smithy.api#documentation": "<p>Describes the connection error. This field appears in the response only when the\n        <code>ConnectionState</code> is <code>FAILED</code>. For help resolving these errors, see\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-failed\">How to\n        Fix a Connection Failure</a> in <i>Key Management Service Developer Guide</i>.</p>\n         <p>Valid values are:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CLUSTER_NOT_FOUND</code> - KMS cannot find the CloudHSM cluster with the\n          specified cluster ID.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INSUFFICIENT_CLOUDHSM_HSMS</code> - The associated CloudHSM cluster does not\n          contain any active HSMs. To connect a custom key store to its CloudHSM cluster, the cluster\n          must contain at least one active HSM.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INTERNAL_ERROR</code> - KMS could not complete the request due to an internal\n          error. Retry the request. For <code>ConnectCustomKeyStore</code> requests, disconnect the\n          custom key store before trying to connect again.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INVALID_CREDENTIALS</code> - KMS does not have the correct password for the\n            <code>kmsuser</code> crypto user in the CloudHSM cluster. Before you can connect your\n          custom key store to its CloudHSM cluster, you must change the <code>kmsuser</code> account\n          password and update the key store password value for the custom key store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>NETWORK_ERRORS</code> - Network errors are preventing KMS from connecting to\n          the custom key store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SUBNET_NOT_FOUND</code> - A subnet in the CloudHSM cluster configuration was\n          deleted. If KMS cannot find all of the subnets in the cluster configuration, attempts to\n          connect the custom key store to the CloudHSM cluster fail. To fix this error, create a\n          cluster from a recent backup and associate it with your custom key store. (This process\n          creates a new cluster configuration with a VPC and private subnets.) For details, see\n            <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#fix-keystore-failed\">How\n            to Fix a Connection Failure</a> in the <i>Key Management Service Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_LOCKED_OUT</code> - The <code>kmsuser</code> CU account is locked out of\n          the associated CloudHSM cluster due to too many failed password attempts. Before you can\n          connect your custom key store to its CloudHSM cluster, you must change the\n            <code>kmsuser</code> account password and update the key store password value for the\n          custom key store.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_LOGGED_IN</code> - The <code>kmsuser</code> CU account is logged into the\n          the associated CloudHSM cluster. This prevents KMS from rotating the <code>kmsuser</code>\n          account password and logging into the cluster. Before you can connect your custom key\n          store to its CloudHSM cluster, you must log the <code>kmsuser</code> CU out of the cluster.\n          If you changed the <code>kmsuser</code> password to log into the cluster, you must also\n          and update the key store password value for the custom key store. For help, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/fix-keystore.html#login-kmsuser-2\">How to Log Out\n            and Reconnect</a> in the <i>Key Management Service Developer Guide</i>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>USER_NOT_FOUND</code> - KMS cannot find a <code>kmsuser</code> CU account in\n          the associated CloudHSM cluster. Before you can connect your custom key store to its CloudHSM\n          cluster, you must create a <code>kmsuser</code> CU account in the cluster, and then update\n          the key store password value for the custom key store.</p>\n            </li>\n         </ul>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.kms#DateType",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the custom key store was created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about each custom key store in the custom key store list.</p>"
      }
    },
    "com.amazonaws.kms#CustomerMasterKeySpec": {
      "type": "string",
      "traits": {
        "smithy.api#deprecated": {
          "message": "This enum has been deprecated. Instead, use the KeySpec enum."
        },
        "smithy.api#enum": [
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_3072",
            "name": "RSA_3072"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "ECC_NIST_P256",
            "name": "ECC_NIST_P256"
          },
          {
            "value": "ECC_NIST_P384",
            "name": "ECC_NIST_P384"
          },
          {
            "value": "ECC_NIST_P521",
            "name": "ECC_NIST_P521"
          },
          {
            "value": "ECC_SECG_P256K1",
            "name": "ECC_SECG_P256K1"
          },
          {
            "value": "SYMMETRIC_DEFAULT",
            "name": "SYMMETRIC_DEFAULT"
          }
        ]
      }
    },
    "com.amazonaws.kms#DataKeyPairSpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RSA_2048",
            "name": "RSA_2048"
          },
          {
            "value": "RSA_3072",
            "name": "RSA_3072"
          },
          {
            "value": "RSA_4096",
            "name": "RSA_4096"
          },
          {
            "value": "ECC_NIST_P256",
            "name": "ECC_NIST_P256"
          },
          {
            "value": "ECC_NIST_P384",
            "name": "ECC_NIST_P384"
          },
          {
            "value": "ECC_NIST_P521",
            "name": "ECC_NIST_P521"
          },
          {
            "value": "ECC_SECG_P256K1",
            "name": "ECC_SECG_P256K1"
          }
        ]
      }
    },
    "com.amazonaws.kms#DataKeySpec": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AES_256",
            "name": "AES_256"
          },
          {
            "value": "AES_128",
            "name": "AES_128"
          }
        ]
      }
    },
    "com.amazonaws.kms#DateType": {
      "type": "timestamp"
    },
    "com.amazonaws.kms#Decrypt": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.kms#DecryptRequest"
      },
      "output": {
        "target": "com.amazonaws.kms#DecryptResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.kms#DependencyTimeoutException"
        },
        {
          "target": "com.amazonaws.kms#DisabledException"
        },
        {
          "target": "com.amazonaws.kms#IncorrectKeyException"
        },
        {
          "target": "com.amazonaws.kms#InvalidCiphertextException"
        },
        {
          "target": "com.amazonaws.kms#InvalidGrantTokenException"
        },
        {
          "target": "com.amazonaws.kms#InvalidKeyUsageException"
        },
        {
          "target": "com.amazonaws.kms#KeyUnavailableException"
        },
        {
          "target": "com.amazonaws.kms#KMSInternalException"
        },
        {
          "target": "com.amazonaws.kms#KMSInvalidStateException"
        },
        {
          "target": "com.amazonaws.kms#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Decrypts ciphertext that was encrypted by a KMS key using any of\n      the following operations:</p>\n         <ul>\n            <li>\n               <p>\n                  <a>Encrypt</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyPair</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyWithoutPlaintext</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyPairWithoutPlaintext</a>\n               </p>\n            </li>\n         </ul>\n         <p>You can use this operation to decrypt ciphertext that was encrypted under a symmetric or\n      asymmetric KMS key. When the KMS key is asymmetric, you must specify the KMS key and the encryption\n      algorithm that was used to encrypt the ciphertext. For information about symmetric and asymmetric KMS keys, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using Symmetric and Asymmetric KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>The Decrypt operation also decrypts ciphertext that was encrypted outside of KMS by the\n      public key in an KMS asymmetric KMS key. However, it cannot decrypt ciphertext produced by other\n      libraries, such as the <a href=\"https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/\">Amazon Web Services Encryption\n        SDK</a> or <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryption.html\">Amazon S3 client-side encryption</a>. These libraries return a ciphertext format that\n      is incompatible with KMS.</p>\n         <p>If the ciphertext was encrypted under a symmetric KMS key, the <code>KeyId</code> parameter is\n      optional. KMS can get this information from metadata that it adds to the symmetric\n      ciphertext blob. This feature adds durability to your implementation by ensuring that\n      authorized users can decrypt ciphertext decades after it was encrypted, even if they've lost\n      track of the key ID. However, specifying the KMS key is always recommended as a best practice.\n      When you use the <code>KeyId</code> parameter to specify a KMS key, KMS only uses the KMS key you\n      specify. If the ciphertext was encrypted under a different KMS key, the <code>Decrypt</code>\n      operation fails. This practice ensures that you use the KMS key that you intend.</p>\n         <p>Whenever possible, use key policies to give users permission to call the\n        <code>Decrypt</code> operation on a particular KMS key, instead of using IAM policies.\n      Otherwise, you might create an IAM user policy that gives the user <code>Decrypt</code>\n      permission on all KMS keys. This user could decrypt ciphertext that was encrypted by KMS keys in other\n      accounts if the key policy for the cross-account KMS key permits it. If you must use an IAM policy\n      for <code>Decrypt</code> permissions, limit the user to particular KMS keys or particular trusted\n      accounts. For details, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/iam-policies.html#iam-policies-best-practices\">Best practices for IAM policies</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>Applications in Amazon Web Services Nitro Enclaves can call this operation by using the <a href=\"https://github.com/aws/aws-nitro-enclaves-sdk-c\">Amazon Web Services Nitro Enclaves Development Kit</a>. For information about the supporting parameters, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/services-nitro-enclaves.html\">How Amazon Web Services Nitro Enclaves use KMS</a> in the <i>Key Management Service Developer Guide</i>.</p> \n         <p>The KMS key that you use for this operation must be in a compatible key state. For\ndetails, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key state: Effect on your KMS key</a> in the <i>Key Management Service Developer Guide</i>.</p>\n         <p>\n            <b>Cross-account use</b>: Yes. To perform this operation with a KMS key in a different Amazon Web Services account, specify\n  the key ARN or alias ARN in the value of the <code>KeyId</code> parameter. </p> \n    \n         <p>\n            <b>Required permissions</b>: <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">kms:Decrypt</a> (key policy)</p>\n         <p>\n            <b>Related operations:</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <a>Encrypt</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKey</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>GenerateDataKeyPair</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a>ReEncrypt</a>\n               </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.kms#DecryptRequest": {
      "type": "structure",
      "members": {
        "CiphertextBlob": {
          "target": "com.amazonaws.kms#CiphertextType",
          "traits": {
            "smithy.api#documentation": "<p>Ciphertext to be decrypted. The blob includes metadata.</p>",
            "smithy.api#required": {}
          }
        },
        "EncryptionContext": {
          "target": "com.amazonaws.kms#EncryptionContextType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the encryption context to use when decrypting the data.\n      An encryption context is valid only for <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#cryptographic-operations\">cryptographic operations</a> with a symmetric KMS key. The standard asymmetric encryption algorithms that KMS uses do not support an encryption context.</p> \n         <p>An <i>encryption context</i> is a collection of non-secret key-value pairs that represents additional authenticated data. When you use an encryption context to encrypt data, you must specify the same (an exact case-sensitive match) encryption context to decrypt the data. An encryption context is optional when encrypting with a symmetric KMS key, but it is highly recommended.</p>\n         <p>For more information, see\n        <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#encrypt_context\">Encryption\n        Context</a> in the <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "GrantTokens": {
          "target": "com.amazonaws.kms#GrantTokenList",
          "traits": {
            "smithy.api#documentation": "<p>A list of grant tokens. </p>\n         <p>Use a grant token when your permission to call this operation comes from a new grant that has not yet achieved <i>eventual consistency</i>. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grants.html#grant_token\">Grant token</a> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/grant-manage.html#using-grant-token\">Using a grant token</a> in the\n    <i>Key Management Service Developer Guide</i>.</p>"
          }
        },
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the KMS key that KMS uses to decrypt the ciphertext. Enter a\n      key ID of the KMS key that was used to encrypt the ciphertext. </p>\n\n         <p>This parameter is required only when the ciphertext was encrypted under an asymmetric KMS key.\n      If you used a symmetric KMS key, KMS can get the KMS key from metadata that it adds to the\n      symmetric ciphertext blob. However, it is always recommended as a best practice. This practice\n      ensures that you use the KMS key that you intend.</p>\n     \n         <p>To specify a KMS key, use its key ID, key ARN, alias name, or alias ARN. When using an alias name, prefix it with <code>\"alias/\"</code>. To specify a KMS key in a different Amazon Web Services account, you must use the key ARN or alias ARN.</p>\n         <p>For example:</p>\n         <ul>\n            <li>\n               <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>\n            </li>\n            <li>\n               <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>\n               </p>    \n            </li>\n            <li>\n               <p>Alias name: <code>alias/ExampleAlias</code>\n               </p>\n            </li>\n            <li>\n               <p>Alias ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code>\n               </p>\n            </li>\n         </ul>\n         <p>To get the key ID and key ARN for a KMS key, use <a>ListKeys</a> or <a>DescribeKey</a>. To get the alias name and alias ARN, use <a>ListAliases</a>.</p>"
          }
        },
        "EncryptionAlgorithm": {
          "target": "com.amazonaws.kms#EncryptionAlgorithmSpec",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the encryption algorithm that will be used to decrypt the ciphertext. Specify\n      the same algorithm that was used to encrypt the data. If you specify a different algorithm,\n      the <code>Decrypt</code> operation fails.</p>\n         <p>This parameter is required only when the ciphertext was encrypted under an asymmetric KMS key.\n      The default value, <code>SYMMETRIC_DEFAULT</code>, represents the only supported algorithm\n      that is valid for symmetric KMS keys.</p>"
          }
        }
      }
    },
    "com.amazonaws.kms#DecryptResponse": {
      "type": "structure",
      "members": {
        "KeyId": {
          "target": "com.amazonaws.kms#KeyIdType",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (<a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#key-id-key-ARN\">key ARN</a>) of the KMS key that was used to decrypt the ciphertext.</p>"
          }
        },
        "Plaintext": {
          "target": "com.amazonaws.kms#PlaintextType",
          "traits": {
[...]
