{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lambda#AWSGirApiService": {
      "type": "service",
      "version": "2015-03-31",
      "operations": [
        {
          "target": "com.amazonaws.lambda#AddLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.lambda#AddPermission"
        },
        {
          "target": "com.amazonaws.lambda#CreateAlias"
        },
        {
          "target": "com.amazonaws.lambda#CreateCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#CreateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#CreateFunction"
        },
        {
          "target": "com.amazonaws.lambda#CreateFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteAlias"
        },
        {
          "target": "com.amazonaws.lambda#DeleteCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunction"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#DeleteProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.lambda#GetAlias"
        },
        {
          "target": "com.amazonaws.lambda#GetCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#GetFunction"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionRecursionConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionUrlConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersionByArn"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersionPolicy"
        },
        {
          "target": "com.amazonaws.lambda#GetPolicy"
        },
        {
          "target": "com.amazonaws.lambda#GetProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetRuntimeManagementConfig"
        },
        {
          "target": "com.amazonaws.lambda#Invoke"
        },
        {
          "target": "com.amazonaws.lambda#InvokeAsync"
        },
        {
          "target": "com.amazonaws.lambda#InvokeWithResponseStream"
        },
        {
          "target": "com.amazonaws.lambda#ListAliases"
        },
        {
          "target": "com.amazonaws.lambda#ListCodeSigningConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListEventSourceMappings"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctionEventInvokeConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctions"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctionsByCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctionUrlConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListLayers"
        },
        {
          "target": "com.amazonaws.lambda#ListLayerVersions"
        },
        {
          "target": "com.amazonaws.lambda#ListProvisionedConcurrencyConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListTags"
        },
        {
          "target": "com.amazonaws.lambda#ListVersionsByFunction"
        },
        {
          "target": "com.amazonaws.lambda#PublishLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#PublishVersion"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionRecursionConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutRuntimeManagementConfig"
        },
        {
          "target": "com.amazonaws.lambda#RemoveLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.lambda#RemovePermission"
        },
        {
          "target": "com.amazonaws.lambda#TagResource"
        },
        {
          "target": "com.amazonaws.lambda#UntagResource"
        },
        {
          "target": "com.amazonaws.lambda#UpdateAlias"
        },
        {
          "target": "com.amazonaws.lambda#UpdateCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#UpdateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionCode"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionUrlConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lambda",
          "arnNamespace": "lambda",
          "cloudFormationName": "Lambda",
          "cloudTrailEventSource": "lambda.amazonaws.com",
          "endpointPrefix": "lambda"
        },
        "aws.auth#sigv4": {
          "name": "lambda"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Lambda</fullname>\n         <p>\n            <b>Overview</b>\n         </p>\n         <p>Lambda is a compute service that lets you run code without provisioning or managing servers.\n        Lambda runs your code on a high-availability compute infrastructure and performs all of the\n      administration of the compute resources, including server and operating system maintenance, capacity provisioning\n      and automatic scaling, code monitoring and logging. With Lambda, you can run code for virtually any\n      type of application or backend service. For more information about the Lambda service, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is Lambda</a> in the <b>Lambda Developer Guide</b>.</p>\n         <p>The <i>Lambda API Reference</i> provides information about\n      each of the API methods, including details about the parameters in each API request and\n      response. </p>\n         <p></p>\n         <p>You can use Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command\n      line tools to access the API. For installation instructions, see <a href=\"http://aws.amazon.com/tools/\">Tools for\n        Amazon Web Services</a>. </p>\n         <p>For a list of Region-specific endpoints that Lambda supports, \n      see <a href=\"https://docs.aws.amazon.com/general/latest/gr/lambda-service.html\">Lambda\n        endpoints and quotas </a> in the <i>Amazon Web Services General Reference.</i>. </p>\n         <p>When making the API calls, you will need to\n      authenticate your request by providing a signature. Lambda supports signature version 4. For more information,\n      see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 signing process</a> in the\n      <i>Amazon Web Services General Reference.</i>. </p>\n         <p>\n            <b>CA certificates</b>\n         </p>\n         <p>Because Amazon Web Services SDKs use the CA certificates from your computer, changes to the certificates on the Amazon Web Services servers\n        can cause connection failures when you attempt to use an SDK. You can prevent these failures by keeping your\n        computer's CA certificates and operating system up-to-date. If you encounter this issue in a corporate\n        environment and do not manage your own computer, you might need to ask an administrator to assist with the\n        update process. The following list shows minimum operating system and Java versions:</p>\n         <ul>\n            <li>\n               <p>Microsoft Windows versions that have updates from January 2005 or later installed contain at least one\n            of the required CAs in their trust list. </p>\n            </li>\n            <li>\n               <p>Mac OS X 10.4 with Java for Mac OS X 10.4 Release 5 (February 2007), Mac OS X 10.5 (October 2007), and\n            later versions contain at least one of the required CAs in their trust list. </p>\n            </li>\n            <li>\n               <p>Red Hat Enterprise Linux 5 (March 2007), 6, and 7 and CentOS 5, 6, and 7 all contain at least one of the\n            required CAs in their default trusted CA list. </p>\n            </li>\n            <li>\n               <p>Java 1.4.2_12 (May 2006), 5 Update 2 (March 2005), and all later versions, including Java 6 (December\n            2006), 7, and 8, contain at least one of the required CAs in their default trusted CA list. </p>\n            </li>\n         </ul>\n         <p>When accessing the Lambda management console or Lambda API endpoints, whether through browsers or\n        programmatically, you will need to ensure your client machines support any of the following CAs: </p>\n         <ul>\n            <li>\n               <p>Amazon Root CA 1</p>\n            </li>\n            <li>\n               <p>Starfield Services Root Certificate Authority - G2</p>\n            </li>\n            <li>\n               <p>Starfield Class 2 Certification Authority</p>\n            </li>\n         </ul>\n         <p>Root certificates from the first two authorities are available from <a href=\"https://www.amazontrust.com/repository/\">Amazon trust services</a>, but keeping your computer\n        up-to-date is the more straightforward solution. To learn more about ACM-provided certificates, see <a href=\"http://aws.amazon.com/certificate-manager/faqs/#certificates\">Amazon Web Services Certificate Manager FAQs.</a>\n         </p>",
        "smithy.api#title": "AWS Lambda",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lambda-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lambda-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lambda.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://lambda.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-iso-west-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.lambda#AccountLimit": {
      "type": "structure",
      "members": {
        "TotalCodeSize": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>"
          }
        },
        "CodeSizeUnzipped": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum size of a function's deployment package and layers when they're extracted.</p>"
          }
        },
        "CodeSizeZipped": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum size of a deployment package when it's uploaded directly to Lambda. Use Amazon S3 for larger\n      files.</p>"
          }
        },
        "ConcurrentExecutions": {
          "target": "com.amazonaws.lambda#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions.</p>"
          }
        },
        "UnreservedConcurrentExecutions": {
          "target": "com.amazonaws.lambda#UnreservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual\n      functions with <a>PutFunctionConcurrency</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>"
      }
    },
    "com.amazonaws.lambda#AccountUsage": {
      "type": "structure",
      "members": {
        "TotalCodeSize": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>"
          }
        },
        "FunctionCount": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of Lambda functions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of functions and amount of storage in use.</p>"
      }
    },
    "com.amazonaws.lambda#Action": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(lambda:[*]|lambda:[a-zA-Z]+|[*])$"
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#AddLayerVersionPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AddLayerVersionPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.lambda#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda\n        layer</a>. Use this action to grant layer\n      usage permission to other accounts. You can grant permission to a single account, all accounts in an organization,\n      or all Amazon Web Services accounts.  </p>\n         <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you\n      specified when you added it.</p>",
        "smithy.api#examples": [
          {
            "title": "To add permissions to a layer version",
            "documentation": "The following example grants permission for the account 223456789012 to use version 1 of a layer named my-layer.",
            "input": {
              "LayerName": "my-layer",
              "VersionNumber": 1,
              "StatementId": "xaccount",
              "Action": "lambda:GetLayerVersion",
              "Principal": "223456789012"
            },
            "output": {
              "Statement": "{\"Sid\":\"xaccount\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::223456789012:root\"},\"Action\":\"lambda:GetLayerVersion\",\"Resource\":\"arn:aws:lambda:us-east-2:123456789012:layer:my-layer:1\"}",
              "RevisionId": "35d87451-f796-4a3f-a618-95a3671b0a0c"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermissionRequest": {
      "type": "structure",
      "members": {
        "LayerName": {
          "target": "com.amazonaws.lambda#LayerName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.lambda#LayerVersionNumber",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.lambda#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that distinguishes the policy from others on the same layer version.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.lambda#LayerPermissionAllowedAction",
          "traits": {
            "smithy.api#documentation": "<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.lambda#LayerPermissionAllowedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>An account ID, or <code>*</code> to grant layer usage permission to all\n      accounts in an organization, or all Amazon Web Services accounts (if <code>organizationId</code> is not specified).\n      For the last case, make sure that you really do want all Amazon Web Services accounts to have usage permission to this layer.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.lambda#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified\n      organization.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>",
            "smithy.api#httpQuery": "RevisionId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermissionResponse": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the current revision of the policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambda#AddPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#AddPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AddPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.lambda#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants a <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html#Principal_specifying\">principal</a> \n      permission to use a function. You can apply the policy at the function level, or specify a qualifier to restrict\n      access to a single version or alias. If you use a qualifier, the invoker must use the full Amazon Resource Name\n      (ARN) of that version or alias to invoke the function. Note: Lambda does not support adding policies\n      to version $LATEST.</p>\n         <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. To grant\n      permission to an organization defined in Organizations, specify the organization ID as the\n        <code>PrincipalOrgID</code>. For Amazon Web Services services, the principal is a domain-style identifier that\n      the service defines, such as <code>s3.amazonaws.com</code> or <code>sns.amazonaws.com</code>. For Amazon Web Services services, you can also specify the ARN of the associated resource as the <code>SourceArn</code>. If\n      you grant permission to a service principal without specifying the source, other accounts could potentially\n      configure resources in their account to invoke your Lambda function.</p>\n         <p>This operation adds a statement to a resource-based permissions policy for the function. For more information\n      about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Using resource-based policies for Lambda</a>.</p>",
        "smithy.api#examples": [
          {
            "title": "To grant Amazon S3 permission to invoke a function",
            "documentation": "The following example adds permission for Amazon S3 to invoke a Lambda function named my-function for notifications from a bucket named my-bucket-1xpuxmplzrlbh in account 123456789012.",
            "input": {
              "FunctionName": "my-function",
              "StatementId": "s3",
              "Action": "lambda:InvokeFunction",
              "Principal": "s3.amazonaws.com",
              "SourceArn": "arn:aws:s3:::my-bucket-1xpuxmplzrlbh/*",
              "SourceAccount": "123456789012"
            },
            "output": {
              "Statement": "{\"Sid\":\"s3\",\"Effect\":\"Allow\",\"Principal\":{\"Service\":\"s3.amazonaws.com\"},\"Action\":\"lambda:InvokeFunction\",\"Resource\":\"arn:aws:lambda:us-east-2:123456789012:function:my-function\",\"Condition\":{\"StringEquals\":{\"AWS:SourceAccount\":\"123456789012\"},\"ArnLike\":{\"AWS:SourceArn\":\"arn:aws:s3:::my-bucket-1xpuxmplzrlbh\"}}}"
            }
          },
          {
            "title": "To grant another account permission to invoke a function",
            "documentation": "The following example adds permission for account 223456789012 invoke a Lambda function named my-function.",
            "input": {
              "FunctionName": "my-function",
              "StatementId": "xaccount",
              "Action": "lambda:InvokeFunction",
              "Principal": "223456789012"
            },
            "output": {
              "Statement": "{\"Sid\":\"xaccount\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::223456789012:root\"},\"Action\":\"lambda:InvokeFunction\",\"Resource\":\"arn:aws:lambda:us-east-2:123456789012:function:my-function\"}"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#AddPermissionRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> – <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> – <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> – <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.lambda#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.lambda#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or\n        <code>lambda:GetFunction</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.lambda#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service, Amazon Web Services account, IAM user, or IAM role that invokes the function. If you specify a\n      service, use <code>SourceArn</code> or <code>SourceAccount</code> to limit who can invoke the function through\n      that service.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.lambda#Arn",
          "traits": {
            "smithy.api#documentation": "<p>For Amazon Web Services services, the ARN of the Amazon Web Services resource that invokes the function. For\n      example, an Amazon S3 bucket or Amazon SNS topic.</p>\n         <p>Note that Lambda configures the comparison using the <code>StringLike</code> operator.</p>"
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.lambda#SourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>For Amazon Web Services service, the ID of the Amazon Web Services account that owns the resource. Use this\n      together with <code>SourceArn</code> to ensure that the specified account owns the resource. It is possible for an\n        Amazon S3 bucket to be deleted by its owner and recreated by another account.</p>"
          }
        },
        "EventSourceToken": {
          "target": "com.amazonaws.lambda#EventSourceToken",
          "traits": {
            "smithy.api#documentation": "<p>For Alexa Smart Home functions, a token that the invoker must supply.</p>"
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version or alias to add permissions to a published version of the function.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>Update the policy only if the revision ID matches the ID that's specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>"
          }
        },
        "PrincipalOrgID": {
          "target": "com.amazonaws.lambda#PrincipalOrgID",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for your organization in Organizations. Use this to grant permissions to all the\n        Amazon Web Services accounts under this organization.</p>"
          }
        },
        "FunctionUrlAuthType": {
          "target": "com.amazonaws.lambda#FunctionUrlAuthType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication that your function URL uses. Set to <code>AWS_IAM</code> if you want to restrict access to authenticated\n  users only. Set to <code>NONE</code> if you want to bypass IAM authentication to create a public endpoint. For more information,\n  see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/urls-auth.html\">Security and auth model for Lambda function URLs</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambda#AddPermissionResponse": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement that's added to the function policy.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambda#AdditionalVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.lambda#AdditionalVersionWeights": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lambda#AdditionalVersion"
      },
      "value": {
        "target": "com.amazonaws.lambda#Weight"
      }
    },
    "com.amazonaws.lambda#Alias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!^[0-9]+$)([a-zA-Z0-9-_]+)$"
      }
    },
    "com.amazonaws.lambda#AliasConfiguration": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "target": "com.amazonaws.lambda#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alias.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.lambda#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>"
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.lambda#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.lambda#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing\n        configuration</a> of the alias.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that changes when you update the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html\">alias</a>.</p>"
      }
    },
    "com.amazonaws.lambda#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#AliasConfiguration"
      }
    },
    "com.amazonaws.lambda#AliasRoutingConfiguration": {
      "type": "structure",
      "members": {
        "AdditionalVersionWeights": {
          "target": "com.amazonaws.lambda#AdditionalVersionWeights",
          "traits": {
            "smithy.api#documentation": "<p>The second version, and the percentage of traffic that's routed to it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>"
      }
    },
    "com.amazonaws.lambda#AllowCredentials": {
      "type": "boolean"
    },
    "com.amazonaws.lambda#AllowMethodsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Method"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 6
        }
      }
    },
    "com.amazonaws.lambda#AllowOriginsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Origin"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.lambda#AllowedPublishers": {
      "type": "structure",
      "members": {
        "SigningProfileVersionArns": {
          "target": "com.amazonaws.lambda#SigningProfileVersionArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for each of the signing profiles. A signing profile defines a trusted user\n      who can sign a code package. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of signing profiles that can sign a code package. </p>"
      }
    },
    "com.amazonaws.lambda#AmazonManagedKafkaEventSourceConfig": {
      "type": "structure",
      "members": {
        "ConsumerGroupId": {
          "target": "com.amazonaws.lambda#URI",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the Kafka consumer group to join. The consumer group ID must be unique among all your Kafka event sources.\n  After creating a Kafka event source mapping with the consumer group ID specified, you cannot update this value. For more information, see\n  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html#services-msk-consumer-group-id\">Customizable consumer group ID</a>.</p>"
          }
        },
        "SchemaRegistryConfig": {
          "target": "com.amazonaws.lambda#KafkaSchemaRegistryConfig",
          "traits": {
            "smithy.api#documentation": "<p>Specific configuration settings for a Kafka schema registry.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specific configuration settings for an Amazon Managed Streaming for Apache Kafka (Amazon MSK) event source.</p>"
      }
    },
    "com.amazonaws.lambda#ApplicationLogLevel": {
      "type": "enum",
      "members": {
        "Trace": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACE"
          }
        },
        "Debug": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEBUG"
          }
        },
        "Info": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INFO"
          }
        },
        "Warn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WARN"
          }
        },
        "Error": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ERROR"
          }
        },
        "Fatal": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FATAL"
          }
        }
      }
    },
    "com.amazonaws.lambda#Architecture": {
      "type": "enum",
      "members": {
        "x86_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "x86_64"
          }
        },
        "arm64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "arm64"
          }
        }
      }
    },
    "com.amazonaws.lambda#ArchitecturesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Architecture"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lambda#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.lambda#BatchSize": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.lambda#BisectBatchOnFunctionError": {
      "type": "boolean"
    },
    "com.amazonaws.lambda#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambda#BlobStream": {
      "type": "blob",
      "traits": {
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.lambda#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.lambda#CodeSigningConfig": {
      "type": "structure",
      "members": {
        "CodeSigningConfigId": {
          "target": "com.amazonaws.lambda#CodeSigningConfigId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifer for the Code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>Code signing configuration description.</p>"
          }
        },
        "AllowedPublishers": {
          "target": "com.amazonaws.lambda#AllowedPublishers",
          "traits": {
            "smithy.api#documentation": "<p>List of allowed publishers.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningPolicies": {
          "target": "com.amazonaws.lambda#CodeSigningPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The code signing policy controls the validation failure action for signature mismatch or expiry.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModified": {
          "target": "com.amazonaws.lambda#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Code signing configuration was last modified, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD). </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html\">Code signing configuration</a>. </p>"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:code-signing-config:csc-[a-z0-9]{17}$"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^csc-[a-zA-Z0-9-_\\.]{17}$"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#CodeSigningConfig"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigNotFoundException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified code signing configuration does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.lambda#CodeSigningPolicies": {
      "type": "structure",
      "members": {
        "UntrustedArtifactOnDeployment": {
          "target": "com.amazonaws.lambda#CodeSigningPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Code signing configuration policy for deployment validation failure. If you set the policy to\n      <code>Enforce</code>, Lambda blocks the deployment request if signature validation checks fail. If you set the\n      policy to <code>Warn</code>, Lambda allows the deployment and creates a CloudWatch log. </p>\n         <p>Default value: <code>Warn</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Code signing configuration <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html#config-codesigning-policies\">policies</a> specify the validation failure action for signature mismatch or\n       expiry.</p>"
      }
    },
    "com.amazonaws.lambda#CodeSigningPolicy": {
      "type": "enum",
      "members": {
        "Warn": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Warn"
          }
        },
        "Enforce": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Enforce"
          }
        }
      }
    },
    "com.amazonaws.lambda#CodeStorageExceededException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception type.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your Amazon Web Services account has exceeded its maximum total code size. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-limits.html\">Lambda quotas</a>.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lambda#CodeVerificationFailedException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code signature failed one or more of the validation checks for signature mismatch or expiry, and the code\n      signing policy is set to ENFORCE. Lambda blocks the deployment.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lambda#CollectionName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 57
        },
        "smithy.api#pattern": "^(^(?!(system\\x2e)))(^[_a-zA-Z0-9])([^$]*)$"
      }
    },
    "com.amazonaws.lambda#CompatibleArchitectures": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Architecture"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2
        }
      }
    },
    "com.amazonaws.lambda#CompatibleRuntimes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Runtime"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.lambda#Concurrency": {
      "type": "structure",
      "members": {
        "ReservedConcurrentExecutions": {
          "target": "com.amazonaws.lambda#ReservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The number of concurrent executions that are reserved for this function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-concurrency.html\">Managing Lambda reserved\n        concurrency</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#Cors": {
      "type": "structure",
      "members": {
        "AllowCredentials": {
          "target": "com.amazonaws.lambda#AllowCredentials",
          "traits": {
            "smithy.api#documentation": "<p>Whether to allow cookies or other credentials in requests to your function URL. The default is\n        <code>false</code>.</p>"
          }
        },
        "AllowHeaders": {
          "target": "com.amazonaws.lambda#HeadersList",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers that origins can include in requests to your function URL. For example: <code>Date</code>, <code>Keep-Alive</code>,\n      <code>X-Custom-Header</code>.</p>"
          }
        },
        "AllowMethods": {
          "target": "com.amazonaws.lambda#AllowMethodsList",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP methods that are allowed when calling your function URL. For example: <code>GET</code>, <code>POST</code>, <code>DELETE</code>,\n      or the wildcard character (<code>*</code>).</p>"
          }
        },
        "AllowOrigins": {
          "target": "com.amazonaws.lambda#AllowOriginsList",
          "traits": {
            "smithy.api#documentation": "<p>The origins that can access your function URL. You can list any number of specific origins, separated by a comma. For example:\n      <code>https://www.example.com</code>, <code>http://localhost:60905</code>.</p>\n         <p>Alternatively, you can grant access to all origins using the wildcard character (<code>*</code>).</p>"
          }
        },
        "ExposeHeaders": {
          "target": "com.amazonaws.lambda#HeadersList",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP headers in your function response that you want to expose to origins that call your function URL. For example:\n      <code>Date</code>, <code>Keep-Alive</code>, <code>X-Custom-Header</code>.</p>"
          }
        },
        "MaxAge": {
          "target": "com.amazonaws.lambda#MaxAge",
          "traits": {
            "smithy.api#documentation": "<p>The maximum amount of time, in seconds, that web browsers can cache results of a preflight request. By\n      default, this is set to <code>0</code>, which means that the browser doesn't cache results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS\">cross-origin resource sharing\n        (CORS)</a> settings for your Lambda function URL. Use CORS to grant access to your function URL\n      from any origin. You can also use CORS to control access for specific HTTP headers and methods in requests to your\n      function URL.</p>"
      }
    },
    "com.amazonaws.lambda#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AliasConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html\">alias</a> for a\n      Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a\n      different version.</p>\n         <p>You can also map an alias to split invocation requests between two versions. Use the\n        <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that\n      it receives.</p>",
        "smithy.api#examples": [
          {
            "title": "To create an alias for a Lambda function",
            "documentation": "The following example creates an alias named LIVE that points to version 1 of the my-function Lambda function.",
            "input": {
              "FunctionName": "my-function",
              "Name": "LIVE",
              "FunctionVersion": "1",
              "Description": "alias for live version of function"
            },
            "output": {
              "FunctionVersion": "1",
              "Name": "LIVE",
              "AliasArn": "arn:aws:lambda:us-east-2:123456789012:function:my-function:LIVE",
              "RevisionId": "873282ed-xmpl-4dc8-a069-d0c647e470c6",
              "Description": "alias for live version of function"
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name or ARN of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.lambda#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.lambda#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.lambda#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html#configuring-alias-routing\">routing\n        configuration</a> of the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateCodeSigningConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#CreateCodeSigningConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a code signing configuration. A <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html\">code signing configuration</a> defines a list of\n      allowed signing profiles and defines the code-signing validation policy (action to be taken if deployment\n      validation checks fail). </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-04-22/code-signing-configs",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfigRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive name for this code signing configuration.</p>"
          }
        },
        "AllowedPublishers": {
          "target": "com.amazonaws.lambda#AllowedPublishers",
          "traits": {
            "smithy.api#documentation": "<p>Signing profiles for this code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningPolicies": {
          "target": "com.amazonaws.lambda#CodeSigningPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The code signing policies define the actions to take if the validation checks fail. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lambda#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the code signing configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfigResponse": {
      "type": "structure",
      "members": {
        "CodeSigningConfig": {
          "target": "com.amazonaws.lambda#CodeSigningConfig",
          "traits": {
            "smithy.api#documentation": "<p>The code signing configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambda#CreateEventSourceMapping": {
      "type": "operation",
      "input": {
[...]
