{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lambda#AWSGirApiService": {
      "type": "service",
      "version": "2015-03-31",
      "operations": [
        {
          "target": "com.amazonaws.lambda#AddLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.lambda#AddPermission"
        },
        {
          "target": "com.amazonaws.lambda#CreateAlias"
        },
        {
          "target": "com.amazonaws.lambda#CreateCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#CreateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#CreateFunction"
        },
        {
          "target": "com.amazonaws.lambda#DeleteAlias"
        },
        {
          "target": "com.amazonaws.lambda#DeleteCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunction"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#DeleteFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#DeleteLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#DeleteProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetAccountSettings"
        },
        {
          "target": "com.amazonaws.lambda#GetAlias"
        },
        {
          "target": "com.amazonaws.lambda#GetCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#GetFunction"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.lambda#GetFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersionByArn"
        },
        {
          "target": "com.amazonaws.lambda#GetLayerVersionPolicy"
        },
        {
          "target": "com.amazonaws.lambda#GetPolicy"
        },
        {
          "target": "com.amazonaws.lambda#GetProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#Invoke"
        },
        {
          "target": "com.amazonaws.lambda#InvokeAsync"
        },
        {
          "target": "com.amazonaws.lambda#ListAliases"
        },
        {
          "target": "com.amazonaws.lambda#ListCodeSigningConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListEventSourceMappings"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctionEventInvokeConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctions"
        },
        {
          "target": "com.amazonaws.lambda#ListFunctionsByCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#ListLayers"
        },
        {
          "target": "com.amazonaws.lambda#ListLayerVersions"
        },
        {
          "target": "com.amazonaws.lambda#ListProvisionedConcurrencyConfigs"
        },
        {
          "target": "com.amazonaws.lambda#ListTags"
        },
        {
          "target": "com.amazonaws.lambda#ListVersionsByFunction"
        },
        {
          "target": "com.amazonaws.lambda#PublishLayerVersion"
        },
        {
          "target": "com.amazonaws.lambda#PublishVersion"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionConcurrency"
        },
        {
          "target": "com.amazonaws.lambda#PutFunctionEventInvokeConfig"
        },
        {
          "target": "com.amazonaws.lambda#PutProvisionedConcurrencyConfig"
        },
        {
          "target": "com.amazonaws.lambda#RemoveLayerVersionPermission"
        },
        {
          "target": "com.amazonaws.lambda#RemovePermission"
        },
        {
          "target": "com.amazonaws.lambda#TagResource"
        },
        {
          "target": "com.amazonaws.lambda#UntagResource"
        },
        {
          "target": "com.amazonaws.lambda#UpdateAlias"
        },
        {
          "target": "com.amazonaws.lambda#UpdateCodeSigningConfig"
        },
        {
          "target": "com.amazonaws.lambda#UpdateEventSourceMapping"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionCode"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionConfiguration"
        },
        {
          "target": "com.amazonaws.lambda#UpdateFunctionEventInvokeConfig"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lambda",
          "arnNamespace": "lambda",
          "cloudFormationName": "Lambda",
          "cloudTrailEventSource": "lambda.amazonaws.com",
          "endpointPrefix": "lambda"
        },
        "aws.auth#sigv4": {
          "name": "lambda"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Lambda</fullname>\n         <p>\n            <b>Overview</b>\n         </p>\n         <p>This is the <i>Lambda API Reference</i>. The Lambda Developer Guide provides additional\n      information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is\n        Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">Lambda: How it Works</a> in the <b>Lambda Developer Guide</b>.</p>",
        "smithy.api#title": "AWS Lambda"
      }
    },
    "com.amazonaws.lambda#AccountLimit": {
      "type": "structure",
      "members": {
        "TotalCodeSize": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>"
          }
        },
        "CodeSizeUnzipped": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of a function's deployment package and layers when they're extracted.</p>"
          }
        },
        "CodeSizeZipped": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#documentation": "<p>The maximum size of a deployment package when it's uploaded directly to Lambda. Use Amazon S3 for larger\n      files.</p>"
          }
        },
        "ConcurrentExecutions": {
          "target": "com.amazonaws.lambda#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions.</p>"
          }
        },
        "UnreservedConcurrentExecutions": {
          "target": "com.amazonaws.lambda#UnreservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual\n      functions with <a>PutFunctionConcurrency</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>"
      }
    },
    "com.amazonaws.lambda#AccountUsage": {
      "type": "structure",
      "members": {
        "TotalCodeSize": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#documentation": "<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>"
          }
        },
        "FunctionCount": {
          "target": "com.amazonaws.lambda#Long",
          "traits": {
            "smithy.api#documentation": "<p>The number of Lambda functions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The number of functions and amount of storage in use.</p>"
      }
    },
    "com.amazonaws.lambda#Action": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^(lambda:[*]|lambda:[a-zA-Z]+|[*])$"
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#AddLayerVersionPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AddLayerVersionPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.lambda#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda\n        layer</a>. Use this action to grant layer\n      usage permission to other accounts. You can grant permission to a single account, all accounts in an organization,\n      or all Amazon Web Services accounts.  </p>\n         <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you\n      specified when you added it.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermissionRequest": {
      "type": "structure",
      "members": {
        "LayerName": {
          "target": "com.amazonaws.lambda#LayerName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.lambda#LayerVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.lambda#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>An identifier that distinguishes the policy from others on the same layer version.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.lambda#LayerPermissionAllowedAction",
          "traits": {
            "smithy.api#documentation": "<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.lambda#LayerPermissionAllowedPrincipal",
          "traits": {
            "smithy.api#documentation": "<p>An account ID, or <code>*</code> to grant layer usage permission to all\n      accounts in an organization, or all Amazon Web Services accounts (if <code>organizationId</code> is not specified).\n      For the last case, make sure that you really do want all Amazon Web Services accounts to have usage permission to this layer.\n    </p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.lambda#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified\n      organization.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>",
            "smithy.api#httpQuery": "RevisionId"
          }
        }
      }
    },
    "com.amazonaws.lambda#AddLayerVersionPermissionResponse": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the current revision of the policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#AddPermission": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#AddPermissionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AddPermissionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#PolicyLengthExceededException"
        },
        {
          "target": "com.amazonaws.lambda#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Grants an Amazon Web Services service or another account permission to use a function. You can apply the policy at the\n      function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier,\n      the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function.</p>\n    \n         <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. For Amazon Web Services\n      services, the principal is a domain-style identifier defined by the service, like <code>s3.amazonaws.com</code> or\n        <code>sns.amazonaws.com</code>. For Amazon Web Services services, you can also specify the ARN of the associated resource as the\n        <code>SourceArn</code>. If you grant permission to a service principal without specifying the source, other\n      accounts could potentially configure resources in their account to invoke your Lambda function.</p>\n    \n         <p>This action adds a statement to a resource-based permissions policy for the function. For more information\n      about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Lambda Function Policies</a>. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/policy",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#AddPermissionRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StatementId": {
          "target": "com.amazonaws.lambda#StatementId",
          "traits": {
            "smithy.api#documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.lambda#Action",
          "traits": {
            "smithy.api#documentation": "<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or\n        <code>lambda:GetFunction</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Principal": {
          "target": "com.amazonaws.lambda#Principal",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services service or account that invokes the function. If you specify a service, use <code>SourceArn</code> or\n        <code>SourceAccount</code> to limit who can invoke the function through that service.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.lambda#Arn",
          "traits": {
            "smithy.api#documentation": "<p>For Amazon Web Services services, the ARN of the Amazon Web Services resource that invokes the function. For example, an Amazon S3 bucket or\n      Amazon SNS topic.</p>"
          }
        },
        "SourceAccount": {
          "target": "com.amazonaws.lambda#SourceOwner",
          "traits": {
            "smithy.api#documentation": "<p>For Amazon S3, the ID of the account that owns the resource. Use this together with <code>SourceArn</code> to\n      ensure that the resource is owned by the specified account. It is possible for an Amazon S3 bucket to be deleted\n      by its owner and recreated by another account.</p>"
          }
        },
        "EventSourceToken": {
          "target": "com.amazonaws.lambda#EventSourceToken",
          "traits": {
            "smithy.api#documentation": "<p>For Alexa Smart Home functions, a token that must be supplied by the invoker.</p>"
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version or alias to add permissions to a published version of the function.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>Only update the policy if the revision ID matches the ID that's specified. Use this option to avoid modifying a\n      policy that has changed since you last read it.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#AddPermissionResponse": {
      "type": "structure",
      "members": {
        "Statement": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The permission statement that's added to the function policy.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#AdditionalVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.lambda#AdditionalVersionWeights": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lambda#AdditionalVersion"
      },
      "value": {
        "target": "com.amazonaws.lambda#Weight"
      }
    },
    "com.amazonaws.lambda#Alias": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^(?!^[0-9]+$)([a-zA-Z0-9-_]+)$"
      }
    },
    "com.amazonaws.lambda#AliasConfiguration": {
      "type": "structure",
      "members": {
        "AliasArn": {
          "target": "com.amazonaws.lambda#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the alias.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.lambda#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>"
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.lambda#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.lambda#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing\n        configuration</a> of the alias.</p>"
          }
        },
        "RevisionId": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier that changes when you update the alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>"
      }
    },
    "com.amazonaws.lambda#AliasList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#AliasConfiguration"
      }
    },
    "com.amazonaws.lambda#AliasRoutingConfiguration": {
      "type": "structure",
      "members": {
        "AdditionalVersionWeights": {
          "target": "com.amazonaws.lambda#AdditionalVersionWeights",
          "traits": {
            "smithy.api#documentation": "<p>The second version, and the percentage of traffic that's routed to it.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>"
      }
    },
    "com.amazonaws.lambda#AllowedPublishers": {
      "type": "structure",
      "members": {
        "SigningProfileVersionArns": {
          "target": "com.amazonaws.lambda#SigningProfileVersionArns",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for each of the signing profiles. A signing profile defines a trusted user\n      who can sign a code package. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>List of signing profiles that can sign a code package. </p>"
      }
    },
    "com.amazonaws.lambda#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.lambda#BatchSize": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.lambda#BisectBatchOnFunctionError": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.lambda#Blob": {
      "type": "blob",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambda#BlobStream": {
      "type": "blob",
      "traits": {
        "smithy.api#streaming": {}
      }
    },
    "com.amazonaws.lambda#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.lambda#CodeSigningConfig": {
      "type": "structure",
      "members": {
        "CodeSigningConfigId": {
          "target": "com.amazonaws.lambda#CodeSigningConfigId",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifer for the Code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>Code signing configuration description.</p>"
          }
        },
        "AllowedPublishers": {
          "target": "com.amazonaws.lambda#AllowedPublishers",
          "traits": {
            "smithy.api#documentation": "<p>List of allowed publishers.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningPolicies": {
          "target": "com.amazonaws.lambda#CodeSigningPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The code signing policy controls the validation failure action for signature mismatch or expiry.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModified": {
          "target": "com.amazonaws.lambda#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the Code signing configuration was last modified, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD). </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html\">Code signing configuration</a>. </p>"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        },
        "smithy.api#pattern": "^arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}((-gov)|(-iso(b?)))?-[a-z]+-\\d{1}:\\d{12}:code-signing-config:csc-[a-z0-9]{17}$"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^csc-[a-zA-Z0-9-_\\.]{17}$"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#CodeSigningConfig"
      }
    },
    "com.amazonaws.lambda#CodeSigningConfigNotFoundException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specified code signing configuration does not exist.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.lambda#CodeSigningPolicies": {
      "type": "structure",
      "members": {
        "UntrustedArtifactOnDeployment": {
          "target": "com.amazonaws.lambda#CodeSigningPolicy",
          "traits": {
            "smithy.api#documentation": "<p>Code signing configuration policy for deployment validation failure. If you set the policy to\n      <code>Enforce</code>, Lambda blocks the deployment request if signature validation checks fail. If you set the\n      policy to <code>Warn</code>, Lambda allows the deployment and creates a CloudWatch log. </p>\n         <p>Default value: <code>Warn</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Code signing configuration <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-codesigning.html#config-codesigning-policies\">policies</a> specify the validation failure action for signature mismatch or\n       expiry.</p>"
      }
    },
    "com.amazonaws.lambda#CodeSigningPolicy": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Warn",
            "name": "Warn"
          },
          {
            "value": "Enforce",
            "name": "Enforce"
          }
        ]
      }
    },
    "com.amazonaws.lambda#CodeStorageExceededException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception type.</p>"
          }
        },
        "message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a>\n         </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lambda#CodeVerificationFailedException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The code signature failed one or more of the validation checks for signature mismatch or expiry, and the code signing policy \n      is set to ENFORCE. Lambda blocks the deployment. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lambda#CompatibleRuntimes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Runtime"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 15
        }
      }
    },
    "com.amazonaws.lambda#Concurrency": {
      "type": "structure",
      "members": {
        "ReservedConcurrentExecutions": {
          "target": "com.amazonaws.lambda#ReservedConcurrentExecutions",
          "traits": {
            "smithy.api#documentation": "<p>The number of concurrent executions that are reserved for this function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#AliasConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a\n      Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a\n      different version.</p>\n         <p>You can also map an alias to split invocation requests between two versions. Use the\n        <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that\n      it receives.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.lambda#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#required": {}
          }
        },
        "FunctionVersion": {
          "target": "com.amazonaws.lambda#Version",
          "traits": {
            "smithy.api#documentation": "<p>The function version that the alias invokes.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias.</p>"
          }
        },
        "RoutingConfig": {
          "target": "com.amazonaws.lambda#AliasRoutingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-aliases.html#configuring-alias-routing\">routing\n        configuration</a> of the alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateCodeSigningConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#CreateCodeSigningConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a code signing configuration. A <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-trustedcode.html\">code signing configuration</a> defines a list of\n      allowed signing profiles and defines the code-signing validation policy (action to be taken if deployment\n      validation checks fail). </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-04-22/code-signing-configs",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfigRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>Descriptive name for this code signing configuration.</p>"
          }
        },
        "AllowedPublishers": {
          "target": "com.amazonaws.lambda#AllowedPublishers",
          "traits": {
            "smithy.api#documentation": "<p>Signing profiles for this code signing configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "CodeSigningPolicies": {
          "target": "com.amazonaws.lambda#CodeSigningPolicies",
          "traits": {
            "smithy.api#documentation": "<p>The code signing policies define the actions to take if the validation checks fail. </p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#CreateCodeSigningConfigResponse": {
      "type": "structure",
      "members": {
        "CodeSigningConfig": {
          "target": "com.amazonaws.lambda#CodeSigningConfig",
          "traits": {
            "smithy.api#documentation": "<p>The code signing configuration.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#CreateEventSourceMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateEventSourceMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#EventSourceMappingConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a mapping between an event source and an Lambda function. Lambda reads items from the event source\n      and triggers the function.</p>\n         <p>For details about each event source type, see the following topics. In particular, each of the topics\n      describes the required and optional parameters for the specific event source. </p>\n         <ul>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html#services-dynamodb-eventsourcemapping\">\n          Configuring a Dynamo DB stream as an event source</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html#services-kinesis-eventsourcemapping\">\n          Configuring a Kinesis stream as an event source</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html#events-sqs-eventsource\">\n          Configuring an SQS queue as an event source</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-mq.html#services-mq-eventsourcemapping\">\n          Configuring an MQ broker as an event source</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-msk.html\">\n          Configuring MSK as an event source</a>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/kafka-smaa.html\">\n          Configuring Self-Managed Apache Kafka as an event source</a>\n               </p>\n            </li>\n         </ul>\n         <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires</p>\n            </li>\n            <li>\n               <p>\n                  <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records are retried until the record expires.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/event-source-mappings",
          "code": 202
        }
      }
    },
    "com.amazonaws.lambda#CreateEventSourceMappingRequest": {
      "type": "structure",
      "members": {
        "EventSourceArn": {
          "target": "com.amazonaws.lambda#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Managed Streaming for Apache Kafka</b> - The ARN of the cluster.</p>\n            </li>\n         </ul>"
          }
        },
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64\n      characters in length.</p>",
            "smithy.api#required": {}
          }
        },
        "Enabled": {
          "target": "com.amazonaws.lambda#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>If true, the event source mapping is active. Set to false to pause polling and invocation.</p>"
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.lambda#BatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to retrieve in a single batch.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Simple Queue Service</b> - Default 10. For standard queues the max is 10,000. For FIFO queues the max is 10.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Amazon Managed Streaming for Apache Kafka</b> - Default 100. Max 10,000.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Self-Managed Apache Kafka</b> - Default 100. Max 10,000.</p>\n            </li>\n         </ul>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.lambda#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams and SQS standard queues) The maximum amount of time to gather records before invoking the function, in seconds.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.lambda#ParallelizationFactor",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The number of batches to process from each shard concurrently.</p>"
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.lambda#EventSourcePosition",
          "traits": {
            "smithy.api#documentation": "<p>The position in a stream from which to start reading. Required for Amazon Kinesis, Amazon DynamoDB, and Amazon MSK Streams\n      sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.</p>"
          }
        },
        "StartingPositionTimestamp": {
          "target": "com.amazonaws.lambda#Date",
          "traits": {
            "smithy.api#documentation": "<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start\n      reading.</p>"
          }
        },
        "DestinationConfig": {
          "target": "com.amazonaws.lambda#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.lambda#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records older than the specified age. The default value is infinite (-1).</p>"
          }
        },
        "BisectBatchOnFunctionError": {
          "target": "com.amazonaws.lambda#BisectBatchOnFunctionError",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) If the function returns an error, split the batch in two and retry.</p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.lambda#MaximumRetryAttemptsEventSourceMapping",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records after the specified number of retries. The default value is infinite (-1). When set to infinite (-1), failed records will be retried until the record expires.</p>"
          }
        },
        "TumblingWindowInSeconds": {
          "target": "com.amazonaws.lambda#TumblingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The duration in seconds of a processing window. The range is between 1 second up to 900 seconds.</p>"
          }
        },
        "Topics": {
          "target": "com.amazonaws.lambda#Topics",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kafka topic.</p>"
          }
        },
        "Queues": {
          "target": "com.amazonaws.lambda#Queues",
          "traits": {
            "smithy.api#documentation": "<p>\n      (MQ) The name of the Amazon MQ broker destination queue to consume.\n    </p>"
          }
        },
        "SourceAccessConfigurations": {
          "target": "com.amazonaws.lambda#SourceAccessConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>An array of authentication protocols or VPC components required to secure your event source.</p>"
          }
        },
        "SelfManagedEventSource": {
          "target": "com.amazonaws.lambda#SelfManagedEventSource",
          "traits": {
            "smithy.api#documentation": "<p>The Self-Managed Apache Kafka cluster to send records.</p>"
          }
        },
        "FunctionResponseTypes": {
          "target": "com.amazonaws.lambda#FunctionResponseTypeList",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) A list of current response type enums applied to the event source mapping.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#CreateFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#CreateFunctionRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#FunctionConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#CodeSigningConfigNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#CodeStorageExceededException"
        },
        {
          "target": "com.amazonaws.lambda#CodeVerificationFailedException"
        },
        {
          "target": "com.amazonaws.lambda#InvalidCodeSignatureException"
        },
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The\n      deployment package is a .zip file  archive or container image that contains your function code. The execution role grants the function permission to use Amazon Web Services\n      services, such as Amazon CloudWatch Logs for log streaming and X-Ray for request tracing.</p>\n    \n         <p>You set the package type to <code>Image</code> if the deployment package is a\n      <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-images.html\">container image</a>. For a container image,\n      the code property must include the URI of a container image in the Amazon ECR registry.\n      You do not need to specify the handler and runtime properties. </p>\n    \n         <p>You set the package type to <code>Zip</code> if the deployment package is a\n      <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/gettingstarted-package.html#gettingstarted-package-zip\">.zip file archive</a>.\n      For a .zip file archive, the code property specifies the location of the .zip file. You must also specify the handler and\n      runtime properties.</p>\n    \n         <p>When you create a function, Lambda provisions an instance of the function and its supporting resources. If\n      your function connects to a VPC, this process can take a minute or so. During this time, you can't invoke or\n      modify the function. The <code>State</code>, <code>StateReason</code>, and <code>StateReasonCode</code> fields in\n      the response from <a>GetFunctionConfiguration</a> indicate when the function is ready to invoke. For\n      more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function\n        States</a>.</p>\n    \n         <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version\n      changes when you update your function's code and configuration. A published version is a snapshot of your function\n      code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be\n      changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of\n      your function from its initial configuration.</p>\n    \n         <p>The other parameters let you configure version-specific and function-level settings. You can modify\n      version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply\n      to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>)\n      and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p>\n    \n         <p>You can use code signing if your deployment package is a .zip file archive. To enable code signing for this function,\n      specify the ARN of a code-signing configuration. When a user\n      attempts to deploy a code package with <a>UpdateFunctionCode</a>, Lambda checks that the code\n      package has a valid signature from a trusted publisher. The code-signing configuration\n      includes set set of signing profiles, which define the trusted publishers for this function.</p>\n    \n         <p>If another account or an Amazon Web Services service invokes your function, use <a>AddPermission</a> to grant\n      permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version,\n      or on an alias.</p>\n    \n         <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events\n      in other Amazon Web Services services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a\n      function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-invocation.html\">Invoking Functions</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2015-03-31/functions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambda#CreateFunctionRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#required": {}
          }
        },
        "Runtime": {
          "target": "com.amazonaws.lambda#Runtime",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>.</p>"
          }
        },
        "Role": {
          "target": "com.amazonaws.lambda#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the function's execution role.</p>",
            "smithy.api#required": {}
          }
        },
        "Handler": {
          "target": "com.amazonaws.lambda#Handler",
          "traits": {
            "smithy.api#documentation": "<p>The name of the method within your code that Lambda calls to execute your function. The format includes the\n      file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information,\n      see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.</p>"
          }
        },
        "Code": {
          "target": "com.amazonaws.lambda#FunctionCode",
          "traits": {
            "smithy.api#documentation": "<p>The code for the function.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lambda#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the function.</p>"
          }
        },
        "Timeout": {
          "target": "com.amazonaws.lambda#Timeout",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The\n      maximum allowed value is 900 seconds. For additional information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/runtimes-context.html\">Lambda execution environment</a>.</p>"
          }
        },
        "MemorySize": {
          "target": "com.amazonaws.lambda#MemorySize",
          "traits": {
            "smithy.api#documentation": "<p>The amount of  <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-memory.html\">memory available to the function</a> at runtime.\n      Increasing the function memory also increases its CPU allocation. The default value is 128 MB. The value can be any multiple of 1 MB.</p>"
          }
        },
        "Publish": {
          "target": "com.amazonaws.lambda#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to true to publish the first version of the function during creation.</p>"
          }
        },
        "VpcConfig": {
          "target": "com.amazonaws.lambda#VpcConfig",
          "traits": {
            "smithy.api#documentation": "<p>For network connectivity to Amazon Web Services resources in a VPC, specify a list of security groups and subnets in the VPC.\n      When you connect a function to a VPC, it can only access resources and the internet through that VPC. For more\n      information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-vpc.html\">VPC Settings</a>.</p>"
          }
        },
        "PackageType": {
          "target": "com.amazonaws.lambda#PackageType",
          "traits": {
            "smithy.api#documentation": "<p>The type of deployment package. Set to <code>Image</code> for container image and set <code>Zip</code> for ZIP archive.</p>"
          }
        },
        "DeadLetterConfig": {
          "target": "com.amazonaws.lambda#DeadLetterConfig",
          "traits": {
            "smithy.api#documentation": "<p>A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events\n      when they fail processing. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">Dead Letter Queues</a>.</p>"
          }
        },
        "Environment": {
          "target": "com.amazonaws.lambda#Environment",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables that are accessible from function code during execution.</p>"
          }
        },
        "KMSKeyArn": {
          "target": "com.amazonaws.lambda#KMSKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Amazon Web Services Key Management Service (KMS) key that's used to encrypt your function's environment\n      variables. If it's not provided, Lambda uses a default service key.</p>"
          }
        },
        "TracingConfig": {
          "target": "com.amazonaws.lambda#TracingConfig",
          "traits": {
            "smithy.api#documentation": "<p>Set <code>Mode</code> to <code>Active</code> to sample and trace a subset of incoming requests with\n<a href=\"https://docs.aws.amazon.com/lambda/latest/dg/services-xray.html\">X-Ray</a>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lambda#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the\n      function.</p>"
          }
        },
        "Layers": {
          "target": "com.amazonaws.lambda#LayerList",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a>\n      to add to the function's execution environment. Specify each layer by its ARN, including the version.</p>"
          }
        },
        "FileSystemConfigs": {
          "target": "com.amazonaws.lambda#FileSystemConfigList",
          "traits": {
            "smithy.api#documentation": "<p>Connection settings for an Amazon EFS file system.</p>"
          }
        },
        "ImageConfig": {
          "target": "com.amazonaws.lambda#ImageConfig",
          "traits": {
            "smithy.api#documentation": "<p>Container image <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-images.html#configuration-images-settings\">configuration\n      values</a> that override the values in the container image Dockerfile.</p>"
          }
        },
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>To enable code signing for this function, specify the ARN of a code-signing configuration. A code-signing configuration\nincludes a set of signing profiles, which define the trusted publishers for this function.</p>"
          }
        }
      }
    },
    "com.amazonaws.lambda#Date": {
      "type": "timestamp"
    },
    "com.amazonaws.lambda#DeadLetterConfig": {
      "type": "structure",
      "members": {
        "TargetArn": {
          "target": "com.amazonaws.lambda#ResourceArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for\n      failed asynchronous invocations.</p>"
      }
    },
    "com.amazonaws.lambda#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.lambda#Alias",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteCodeSigningConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteCodeSigningConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#DeleteCodeSigningConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the code signing configuration. You can delete the code signing configuration only if no function is\n      using it. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-04-22/code-signing-configs/{CodeSigningConfigArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteCodeSigningConfigRequest": {
      "type": "structure",
      "members": {
        "CodeSigningConfigArn": {
          "target": "com.amazonaws.lambda#CodeSigningConfigArn",
          "traits": {
            "smithy.api#documentation": "<p>The The Amazon Resource Name (ARN) of the code signing configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteCodeSigningConfigResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lambda#DeleteEventSourceMapping": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteEventSourceMappingRequest"
      },
      "output": {
        "target": "com.amazonaws.lambda#EventSourceMappingConfiguration"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source\n      mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>\n         <p>When you delete an event source mapping, it enters a <code>Deleting</code> state and might not be completely deleted for several seconds.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/event-source-mappings/{UUID}",
          "code": 202
        }
      }
    },
    "com.amazonaws.lambda#DeleteEventSourceMappingRequest": {
      "type": "structure",
      "members": {
        "UUID": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source mapping.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter.\n      Otherwise, all versions and aliases are deleted.</p>\n    \n         <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>.\n      For Amazon Web Services services and resources that invoke your function directly, delete the trigger in the service where you\n      originally configured it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2015-03-31/functions/{FunctionName}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionCodeSigningConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionCodeSigningConfigRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#CodeSigningConfigNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes the code signing configuration from the function.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-06-30/functions/{FunctionName}/code-signing-config",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionCodeSigningConfigRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionConcurrency": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionConcurrencyRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a concurrent execution limit from a function.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2017-10-31/functions/{FunctionName}/concurrency",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionConcurrencyRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionEventInvokeConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteFunctionEventInvokeConfigRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the configuration for asynchronous invocation for a function, version, or alias.</p> \n         <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionEventInvokeConfigRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function, version, or alias.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>A version number or alias name.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteFunctionRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function or version.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:1</code> (with version).</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN.\n      If you specify only the function name, it is limited to 64 characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>Specify a version to delete. You can't delete a version that's referenced by an alias.</p>",
            "smithy.api#httpQuery": "Qualifier"
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteLayerVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteLayerVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">Lambda\n        layer</a>. Deleted versions can no longer be viewed or added to functions. To avoid\n      breaking functions, a copy of the version remains in Lambda until no functions refer to it.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteLayerVersionRequest": {
      "type": "structure",
      "members": {
        "LayerName": {
          "target": "com.amazonaws.lambda#LayerName",
          "traits": {
            "smithy.api#documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VersionNumber": {
          "target": "com.amazonaws.lambda#LayerVersionNumber",
          "traits": {
            "smithy.api#documentation": "<p>The version number.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#DeleteProvisionedConcurrencyConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambda#DeleteProvisionedConcurrencyConfigRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambda#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceConflictException"
        },
        {
          "target": "com.amazonaws.lambda#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambda#ServiceException"
        },
        {
          "target": "com.amazonaws.lambda#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the provisioned concurrency configuration for a function.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
          "code": 204
        }
      }
    },
    "com.amazonaws.lambda#DeleteProvisionedConcurrencyConfigRequest": {
      "type": "structure",
      "members": {
        "FunctionName": {
          "target": "com.amazonaws.lambda#FunctionName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lambda function.</p>\n         <p class=\"title\">\n            <b>Name formats</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <b>Function name</b> - <code>my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p>\n            </li>\n         </ul>\n         <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64\n      characters in length.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Qualifier": {
          "target": "com.amazonaws.lambda#Qualifier",
          "traits": {
            "smithy.api#documentation": "<p>The version number or alias name.</p>",
            "smithy.api#httpQuery": "Qualifier",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lambda#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.lambda#DestinationArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 350
        },
        "smithy.api#pattern": "^$|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)$"
      }
    },
    "com.amazonaws.lambda#DestinationConfig": {
      "type": "structure",
      "members": {
        "OnSuccess": {
          "target": "com.amazonaws.lambda#OnSuccess",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration for successful invocations.</p>"
          }
        },
        "OnFailure": {
          "target": "com.amazonaws.lambda#OnFailure",
          "traits": {
            "smithy.api#documentation": "<p>The destination configuration for failed invocations.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration object that specifies the destination of an event after Lambda processes it.</p>"
      }
    },
    "com.amazonaws.lambda#EC2AccessDeniedException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Need additional permissions to configure VPC settings.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.lambda#EC2ThrottledException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided\n      for the Lambda function.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.lambda#EC2UnexpectedException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        },
        "EC2ErrorCode": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.lambda#EFSIOException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An error occured when reading from or writing to a connected file system.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 410
      }
    },
    "com.amazonaws.lambda#EFSMountConnectivityException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function couldn't make a network connection to the configured file system.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 408
      }
    },
    "com.amazonaws.lambda#EFSMountFailureException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function couldn't mount the configured file system due to a permission or configuration issue.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lambda#EFSMountTimeoutException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The function was able to make a network connection to the configured file system, but the mount operation\n      timed out.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 408
      }
    },
    "com.amazonaws.lambda#ENILimitReachedException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lambda#String"
        },
        "Message": {
          "target": "com.amazonaws.lambda#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lambda was not able to create an elastic network interface in the VPC, specified as part of Lambda\n      function configuration, because the limit for network interfaces has been reached.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.lambda#Enabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.lambda#EndPointType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "KAFKA_BOOTSTRAP_SERVERS",
            "name": "KAFKA_BOOTSTRAP_SERVERS"
          }
        ]
      }
    },
    "com.amazonaws.lambda#Endpoint": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 300
        },
        "smithy.api#pattern": "^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\\-]*[A-Za-z0-9]):[0-9]{1,5}$"
      }
    },
    "com.amazonaws.lambda#EndpointLists": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#Endpoint"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.lambda#Endpoints": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lambda#EndPointType"
      },
      "value": {
        "target": "com.amazonaws.lambda#EndpointLists"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.lambda#Environment": {
      "type": "structure",
      "members": {
        "Variables": {
          "target": "com.amazonaws.lambda#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs. For more information, see\n    <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-envvars.html\">Using Lambda environment variables</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A function's environment variable settings.\n    You can use environment variables to adjust your function's behavior without updating code.\n    An environment variable is a pair of strings that are stored in a function's version-specific configuration. </p>"
      }
    },
    "com.amazonaws.lambda#EnvironmentError": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The error code.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.lambda#SensitiveString",
          "traits": {
            "smithy.api#documentation": "<p>The error message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
      }
    },
    "com.amazonaws.lambda#EnvironmentResponse": {
      "type": "structure",
      "members": {
        "Variables": {
          "target": "com.amazonaws.lambda#EnvironmentVariables",
          "traits": {
            "smithy.api#documentation": "<p>Environment variable key-value pairs.</p>"
          }
        },
        "Error": {
          "target": "com.amazonaws.lambda#EnvironmentError",
          "traits": {
            "smithy.api#documentation": "<p>Error messages for environment variables that couldn't be applied.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The results of an operation to update or read environment variables. If the operation is successful, the\n      response contains the environment variables. If it failed, the response contains details about the error.</p>"
      }
    },
    "com.amazonaws.lambda#EnvironmentVariableName": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[a-zA-Z]([a-zA-Z0-9_])+$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambda#EnvironmentVariableValue": {
      "type": "string",
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambda#EnvironmentVariables": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lambda#EnvironmentVariableName"
      },
      "value": {
        "target": "com.amazonaws.lambda#EnvironmentVariableValue"
      },
      "traits": {
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambda#EventSourceMappingConfiguration": {
      "type": "structure",
      "members": {
        "UUID": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the event source mapping.</p>"
          }
        },
        "StartingPosition": {
          "target": "com.amazonaws.lambda#EventSourcePosition",
          "traits": {
            "smithy.api#documentation": "<p>The position in a stream from which to start reading. Required for Amazon Kinesis, Amazon DynamoDB, and Amazon MSK stream sources. <code>AT_TIMESTAMP</code> is supported only for Amazon Kinesis\n      streams.</p>"
          }
        },
        "StartingPositionTimestamp": {
          "target": "com.amazonaws.lambda#Date",
          "traits": {
            "smithy.api#documentation": "<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start\n      reading.</p>"
          }
        },
        "BatchSize": {
          "target": "com.amazonaws.lambda#BatchSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to retrieve in a single batch.</p>"
          }
        },
        "MaximumBatchingWindowInSeconds": {
          "target": "com.amazonaws.lambda#MaximumBatchingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams and Amazon SQS standard queues) The maximum amount of time to gather records before invoking the function, in seconds. The default value is zero.</p>"
          }
        },
        "ParallelizationFactor": {
          "target": "com.amazonaws.lambda#ParallelizationFactor",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The number of batches to process concurrently from each shard. The default value is 1.</p>"
          }
        },
        "EventSourceArn": {
          "target": "com.amazonaws.lambda#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p>"
          }
        },
        "FunctionArn": {
          "target": "com.amazonaws.lambda#FunctionArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda function.</p>"
          }
        },
        "LastModified": {
          "target": "com.amazonaws.lambda#Date",
          "traits": {
            "smithy.api#documentation": "<p>The date that the event source mapping was last updated or that its state changed.</p>"
          }
        },
        "LastProcessingResult": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The result of the last Lambda invocation of your function.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of the event source mapping. It can be one of the following: <code>Creating</code>,\n        <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>,\n        <code>Updating</code>, or <code>Deleting</code>.</p>"
          }
        },
        "StateTransitionReason": {
          "target": "com.amazonaws.lambda#String",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether a user or Lambda made the last change to the event source mapping.</p>"
          }
        },
        "DestinationConfig": {
          "target": "com.amazonaws.lambda#DestinationConfig",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>"
          }
        },
        "Topics": {
          "target": "com.amazonaws.lambda#Topics",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Kafka topic.</p>"
          }
        },
        "Queues": {
          "target": "com.amazonaws.lambda#Queues",
          "traits": {
            "smithy.api#documentation": "<p> (Amazon MQ) The name of the Amazon MQ broker destination queue to consume.</p>"
          }
        },
        "SourceAccessConfigurations": {
          "target": "com.amazonaws.lambda#SourceAccessConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>An array of the authentication protocol, VPC components, or virtual host to secure and define your event source.</p>"
          }
        },
        "SelfManagedEventSource": {
          "target": "com.amazonaws.lambda#SelfManagedEventSource",
          "traits": {
            "smithy.api#documentation": "<p>The self-managed Apache Kafka cluster for your event source.</p>"
          }
        },
        "MaximumRecordAgeInSeconds": {
          "target": "com.amazonaws.lambda#MaximumRecordAgeInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records older than the specified age. The default value is -1,\nwhich sets the maximum age to infinite. When the value is set to infinite, Lambda never discards old records.  </p>"
          }
        },
        "BisectBatchOnFunctionError": {
          "target": "com.amazonaws.lambda#BisectBatchOnFunctionError",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) If the function returns an error, split the batch in two and retry. The default value is false.</p>"
          }
        },
        "MaximumRetryAttempts": {
          "target": "com.amazonaws.lambda#MaximumRetryAttemptsEventSourceMapping",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) Discard records after the specified number of retries. The default value is -1,\nwhich sets the maximum number of retries to infinite. When MaximumRetryAttempts is infinite, Lambda retries failed records until the record expires in the event source.</p>"
          }
        },
        "TumblingWindowInSeconds": {
          "target": "com.amazonaws.lambda#TumblingWindowInSeconds",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) The duration in seconds of a processing window. The range is 1–900 seconds.</p>"
          }
        },
        "FunctionResponseTypes": {
          "target": "com.amazonaws.lambda#FunctionResponseTypeList",
          "traits": {
            "smithy.api#documentation": "<p>(Streams only) A list of current response type enums applied to the event source mapping.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A mapping between an Amazon Web Services resource and a Lambda function. For details, see <a>CreateEventSourceMapping</a>.</p>"
      }
    },
    "com.amazonaws.lambda#EventSourceMappingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambda#EventSourceMappingConfiguration"
      }
    },
    "com.amazonaws.lambda#EventSourcePosition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRIM_HORIZON",
            "name": "TRIM_HORIZON"
          },
[...]
