{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.lambdamicrovms#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lambdamicrovms#Architecture": {
      "type": "enum",
      "members": {
        "ARM_64": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ARM_64"
          }
        }
      }
    },
    "com.amazonaws.lambdamicrovms#AuthTokenKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[^\\s]+$"
      }
    },
    "com.amazonaws.lambdamicrovms#AuthTokenValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "max": 8000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lambdamicrovms#BuildState": {
      "type": "enum",
      "members": {
        "PENDING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PENDING"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "SUCCESSFUL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCESSFUL"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.lambdamicrovms#Capability": {
      "type": "enum",
      "members": {
        "ALL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#documentation": "The application is granted all available OS capabilities",
            "smithy.api#enumValue": "ALL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Capability granted to the application when booted"
      }
    },
    "com.amazonaws.lambdamicrovms#CapabilityList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambdamicrovms#Capability"
      },
      "traits": {
        "smithy.api#documentation": "List of capabilities granted to the application when booted"
      }
    },
    "com.amazonaws.lambdamicrovms#Chipset": {
      "type": "enum",
      "members": {
        "GRAVITON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GRAVITON"
          }
        }
      }
    },
    "com.amazonaws.lambdamicrovms#CloudWatchLogging": {
      "type": "structure",
      "members": {
        "logGroup": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log group to send logs to.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 512
            },
            "smithy.api#pattern": "^[a-zA-Z0-9_\\-/.#]+$"
          }
        },
        "logStream": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudWatch Logs log stream within the log group.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 512
            },
            "smithy.api#pattern": "^[^:*]*$"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for Amazon CloudWatch Logs logging.</p>"
      }
    },
    "com.amazonaws.lambdamicrovms#CodeArtifact": {
      "type": "union",
      "members": {
        "uri": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The URI of the code artifact, such as an Amazon S3 path or Amazon ECR image URI.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the location of the code artifact for a MicroVM image.</p>"
      }
    },
    "com.amazonaws.lambdamicrovms#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "resourceId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource that caused the conflict.</p>"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource that caused the conflict.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed due to a conflict with the current state of the resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lambdamicrovms#CpuConfiguration": {
      "type": "structure",
      "members": {
        "architecture": {
          "target": "com.amazonaws.lambdamicrovms#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>The CPU architecture.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration for the CPU architecture of a MicroVM.</p>"
      }
    },
    "com.amazonaws.lambdamicrovms#CpuConfigurationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lambdamicrovms#CpuConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "List of CPU architectures"
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmAuthTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmAuthTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an authentication token for accessing a running MicroVM. The token grants access to the specified ports on the MicroVM endpoint.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2025-09-09/microvms/{microvmIdentifier}/auth-token",
          "code": 200
        }
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmAuthTokenRequest": {
      "type": "structure",
      "members": {
        "microvmIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the MicroVM to create an authentication token for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expirationInMinutes": {
          "target": "com.amazonaws.lambdamicrovms#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The duration in minutes before the authentication token expires. Maximum: 60 minutes.</p>",
            "smithy.api#required": {}
          }
        },
        "allowedPorts": {
          "target": "com.amazonaws.lambdamicrovms#ListOfPortSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The list of port specifications that the authentication token grants access to on the MicroVM.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmAuthTokenResponse": {
      "type": "structure",
      "members": {
        "authToken": {
          "target": "com.amazonaws.lambdamicrovms#TokenParts",
          "traits": {
            "smithy.api#documentation": "<p>A map containing the authentication token. Use the value at key \"X-aws-proxy-auth\" as the header value when connecting to the MicroVM endpoint.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmImageRequest"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmImageResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ConflictException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a MicroVM image from the specified code artifact and base image. The build is asynchronous — the image transitions from CREATING to CREATED on success, or CREATE_FAILED on failure. Use GetMicrovmImage to poll for completion.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2025-09-09/microvm-images",
          "code": 201
        }
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmImageRequest": {
      "type": "structure",
      "members": {
        "baseImageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the Lambda-managed base MicroVM image to build upon. Use ListManagedMicrovmImages to discover available base images.</p>",
            "smithy.api#required": {}
          }
        },
        "baseImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#Version",
          "traits": {
            "smithy.api#documentation": "<p>The specific version of the base MicroVM image to use.</p>"
          }
        },
        "buildRoleArn": {
          "target": "com.amazonaws.lambdamicrovms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM role assumed during the image build process. This role must have permissions to access the code artifact and any required resources.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the MicroVM image.</p>"
          }
        },
        "codeArtifact": {
          "target": "com.amazonaws.lambdamicrovms#CodeArtifact",
          "traits": {
            "smithy.api#documentation": "<p>The code artifact containing the application code and metadata for the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "logging": {
          "target": "com.amazonaws.lambdamicrovms#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration for build-time and runtime logs. Specify {\"cloudWatch\": {\"logGroup\": \"...\"}} to stream logs to a custom CloudWatch log group, or {\"disabled\": {}} to turn off logging.</p>"
          }
        },
        "egressNetworkConnectors": {
          "target": "com.amazonaws.lambdamicrovms#NetworkConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of egress network connectors available to the MicroVM at runtime.</p>",
            "smithy.api#length": {
              "max": 1
            }
          }
        },
        "cpuConfigurations": {
          "target": "com.amazonaws.lambdamicrovms#CpuConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of supported CPU configurations for the MicroVM.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lambdamicrovms#ResourcesList",
          "traits": {
            "smithy.api#documentation": "<p>The resource requirements for the MicroVM.</p>"
          }
        },
        "additionalOsCapabilities": {
          "target": "com.amazonaws.lambdamicrovms#CapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>Additional OS capabilities granted to the MicroVM runtime environment.</p>"
          }
        },
        "hooks": {
          "target": "com.amazonaws.lambdamicrovms#Hooks"
        },
        "environmentVariables": {
          "target": "com.amazonaws.lambdamicrovms#EnvironmentVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables set in the MicroVM runtime environment.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lambdamicrovms#ImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MicroVM image. Must be unique within the AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lambdamicrovms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A set of key-value pairs that you can attach to the resource. Use tags to categorize resources for cost allocation, access control (ABAC), and organization.</p>"
          }
        },
        "clientToken": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier you provide to ensure the idempotency of the request. If you retry a request that completed successfully using the same client token, the operation returns the successful response without performing any further actions.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#length": {
              "min": 1,
              "max": 128
            }
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmImageResponse": {
      "type": "structure",
      "members": {
        "imageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the created MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lambdamicrovms#ImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "latestActiveImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The latest active version of the MicroVM image.</p>"
          }
        },
        "latestFailedImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The latest failed version of the MicroVM image, if any.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM image was created.</p>",
            "smithy.api#required": {}
          }
        },
        "baseImageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the base MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "baseImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#Version",
          "traits": {
            "smithy.api#documentation": "<p>The specific version of the base MicroVM image.</p>"
          }
        },
        "buildRoleArn": {
          "target": "com.amazonaws.lambdamicrovms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM build role.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the MicroVM image.</p>"
          }
        },
        "codeArtifact": {
          "target": "com.amazonaws.lambdamicrovms#CodeArtifact",
          "traits": {
            "smithy.api#documentation": "<p>The code artifact containing the application code and metadata for the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "logging": {
          "target": "com.amazonaws.lambdamicrovms#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration for build-time and runtime logs. Specify {\"cloudWatch\": {\"logGroup\": \"...\"}} to stream logs to a custom CloudWatch log group, or {\"disabled\": {}} to turn off logging.</p>"
          }
        },
        "egressNetworkConnectors": {
          "target": "com.amazonaws.lambdamicrovms#NetworkConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of egress network connectors available to the MicroVM at runtime.</p>",
            "smithy.api#length": {
              "max": 1
            }
          }
        },
        "cpuConfigurations": {
          "target": "com.amazonaws.lambdamicrovms#CpuConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of supported CPU configurations for the MicroVM.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lambdamicrovms#ResourcesList",
          "traits": {
            "smithy.api#documentation": "<p>The resource requirements for the MicroVM.</p>"
          }
        },
        "additionalOsCapabilities": {
          "target": "com.amazonaws.lambdamicrovms#CapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>Additional OS capabilities granted to the MicroVM runtime environment.</p>"
          }
        },
        "hooks": {
          "target": "com.amazonaws.lambdamicrovms#Hooks"
        },
        "environmentVariables": {
          "target": "com.amazonaws.lambdamicrovms#EnvironmentVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables set in the MicroVM runtime environment.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lambdamicrovms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A set of key-value pairs that you can attach to the resource. Use tags to categorize resources for cost allocation, access control (ABAC), and organization.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM image was last updated.</p>"
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmShellAuthToken": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmShellAuthTokenRequest"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#CreateMicrovmShellAuthTokenResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a shell authentication token for interactive shell access to a running MicroVM. The MicroVM must have been run with the SHELL_INGRESS network connector attached.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2025-09-09/microvms/{microvmIdentifier}/shell-auth-token",
          "code": 200
        }
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmShellAuthTokenRequest": {
      "type": "structure",
      "members": {
        "microvmIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the MicroVM to create a shell authentication token for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "expirationInMinutes": {
          "target": "com.amazonaws.lambdamicrovms#PositiveInteger",
          "traits": {
            "smithy.api#documentation": "<p>The duration in minutes before the shell authentication token expires.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#CreateMicrovmShellAuthTokenResponse": {
      "type": "structure",
      "members": {
        "authToken": {
          "target": "com.amazonaws.lambdamicrovms#TokenParts",
          "traits": {
            "smithy.api#documentation": "<p>The generated shell authentication token key-value pairs for accessing the MicroVM.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImageInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ConflictException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a MicroVM image. This operation is idempotent; deleting an image that has already been deleted succeeds without error.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImageInput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImageOutput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the deleted MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the MicroVM image after deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersionInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ConflictException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a MicroVM image. This operation is idempotent; deleting a version that has already been deleted succeeds without error.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}/versions/{imageVersion}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersionInput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersionOutput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version that was deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageVersionState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the MicroVM image version after deletion.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#EnvironmentVariableKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[^\\s]+$"
      }
    },
    "com.amazonaws.lambdamicrovms#EnvironmentVariableMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lambdamicrovms#EnvironmentVariableKey"
      },
      "value": {
        "target": "com.amazonaws.lambdamicrovms#EnvironmentVariableValue"
      },
      "traits": {
        "smithy.api#length": {
          "max": 50
        }
      }
    },
    "com.amazonaws.lambdamicrovms#EnvironmentVariableValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 4096
        }
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovm": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmRequest"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific MicroVM, including its state, endpoint, image information, and configuration. The state field is eventually consistent — determine readiness by connecting to the endpoint.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvms/{microvmIdentifier}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a MicroVM image, including its state, versions, and configuration.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageBuild": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageBuildInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageBuildOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific MicroVM image build, including its state, target architecture, and snapshot information.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}/versions/{imageVersion}/builds/{buildId}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageBuildInput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "buildId": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the build to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageBuildOutput": {
      "type": "structure",
      "members": {
        "imageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "buildId": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The build request ID.</p>",
            "smithy.api#required": {}
          }
        },
        "buildState": {
          "target": "com.amazonaws.lambdamicrovms#BuildState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the build.</p>",
            "smithy.api#required": {}
          }
        },
        "architecture": {
          "target": "com.amazonaws.lambdamicrovms#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>The target CPU architecture for the build. Supported value: ARM_64.</p>",
            "smithy.api#required": {}
          }
        },
        "chipset": {
          "target": "com.amazonaws.lambdamicrovms#Chipset",
          "traits": {
            "smithy.api#documentation": "<p>The target chipset for the build.</p>",
            "smithy.api#required": {}
          }
        },
        "chipsetGeneration": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The target chipset generation for the build.</p>",
            "smithy.api#required": {}
          }
        },
        "stateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the build state, if applicable.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the build was created.</p>",
            "smithy.api#required": {}
          }
        },
        "snapshotBuild": {
          "target": "com.amazonaws.lambdamicrovms#SnapshotBuild",
          "traits": {
            "smithy.api#documentation": "<p>The snapshot build details, including memory and disk snapshot sizes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageInput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageOutput": {
      "type": "structure",
      "members": {
        "imageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lambdamicrovms#ImageName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "latestActiveImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The latest active version of the MicroVM image.</p>"
          }
        },
        "latestFailedImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The latest failed version of the MicroVM image, if any.</p>"
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM image was created.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lambdamicrovms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>A set of key-value pairs that you can attach to the resource. Use tags to categorize resources for cost allocation, access control (ABAC), and organization.</p>"
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM image was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageVersionInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageVersionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the details of a specific version of a MicroVM image, including its configuration, state, and build information.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}/versions/{imageVersion}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageVersionInput": {
      "type": "structure",
      "members": {
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmImageVersionOutput": {
      "type": "structure",
      "members": {
        "baseImageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the base MicroVM image used.</p>",
            "smithy.api#required": {}
          }
        },
        "baseImageVersion": {
          "target": "com.amazonaws.lambdamicrovms#Version",
          "traits": {
            "smithy.api#documentation": "<p>The specific version of the base MicroVM image.</p>"
          }
        },
        "buildRoleArn": {
          "target": "com.amazonaws.lambdamicrovms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM build role.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version.</p>"
          }
        },
        "codeArtifact": {
          "target": "com.amazonaws.lambdamicrovms#CodeArtifact",
          "traits": {
            "smithy.api#documentation": "<p>The code artifact for this version.</p>",
            "smithy.api#required": {}
          }
        },
        "logging": {
          "target": "com.amazonaws.lambdamicrovms#Logging",
          "traits": {
            "smithy.api#documentation": "<p>The logging configuration for this version.</p>"
          }
        },
        "egressNetworkConnectors": {
          "target": "com.amazonaws.lambdamicrovms#NetworkConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of egress network connectors available to the MicroVM at runtime.</p>",
            "smithy.api#length": {
              "max": 1
            }
          }
        },
        "cpuConfigurations": {
          "target": "com.amazonaws.lambdamicrovms#CpuConfigurationList",
          "traits": {
            "smithy.api#documentation": "<p>The list of supported CPU configurations for the MicroVM.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lambdamicrovms#ResourcesList",
          "traits": {
            "smithy.api#documentation": "<p>The resource requirements for the MicroVM.</p>"
          }
        },
        "additionalOsCapabilities": {
          "target": "com.amazonaws.lambdamicrovms#CapabilityList",
          "traits": {
            "smithy.api#documentation": "<p>Additional OS capabilities granted to the MicroVM runtime environment.</p>"
          }
        },
        "hooks": {
          "target": "com.amazonaws.lambdamicrovms#Hooks"
        },
        "environmentVariables": {
          "target": "com.amazonaws.lambdamicrovms#EnvironmentVariableMap",
          "traits": {
            "smithy.api#documentation": "<p>Environment variables set in the MicroVM runtime environment.</p>"
          }
        },
        "imageArn": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageVersionState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the version.</p>",
            "smithy.api#required": {}
          }
        },
        "status": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageVersionStatus",
          "traits": {
            "smithy.api#documentation": "<p>The availability status of the version: ACTIVE (can be used by RunMicrovm) or INACTIVE (blocked from launching new MicroVMs).</p>",
            "smithy.api#required": {}
          }
        },
        "createdAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the version was created.</p>",
            "smithy.api#required": {}
          }
        },
        "updatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the version was last updated.</p>"
          }
        },
        "stateReason": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The reason for the current state. For example, one or more builds failed.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lambdamicrovms#Tags",
          "traits": {
            "smithy.api#documentation": "<p>Key-value pairs associated with the version.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmRequest": {
      "type": "structure",
      "members": {
        "microvmIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the MicroVM to retrieve.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#GetMicrovmResponse": {
      "type": "structure",
      "members": {
        "microvmId": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the MicroVM.</p>",
            "smithy.api#required": {}
          }
        },
        "state": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmState",
          "traits": {
            "smithy.api#documentation": "<p>The current lifecycle state of the MicroVM.</p>",
            "smithy.api#required": {}
          }
        },
        "endpoint": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The HTTPS endpoint URL for communicating with the MicroVM. Include a valid authentication token in the X-aws-proxy-auth header when sending requests.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 2048
            },
            "smithy.api#required": {}
          }
        },
        "imageArn": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the MicroVM image used to run this MicroVM.</p>",
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image used to run this MicroVM.</p>",
            "smithy.api#required": {}
          }
        },
        "executionRoleArn": {
          "target": "com.amazonaws.lambdamicrovms#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the IAM execution role assumed by the MicroVM.</p>"
          }
        },
        "idlePolicy": {
          "target": "com.amazonaws.lambdamicrovms#IdlePolicy",
          "traits": {
            "smithy.api#documentation": "<p>The idle policy configuration of the MicroVM, controlling auto-suspend and auto-resume behavior.</p>"
          }
        },
        "maximumDurationInSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum duration in seconds that the MicroVM can exist before being terminated by the platform.</p>",
            "smithy.api#required": {}
          }
        },
        "startedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM first started.</p>",
            "smithy.api#required": {}
          }
        },
        "terminatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the MicroVM terminated.</p>"
          }
        },
        "stateReason": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The reason for why the MicroVM is in the current state.</p>"
          }
        },
        "ingressNetworkConnectors": {
          "target": "com.amazonaws.lambdamicrovms#NetworkConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of ingress network connectors configured for the MicroVM.</p>"
          }
        },
        "egressNetworkConnectors": {
          "target": "com.amazonaws.lambdamicrovms#NetworkConnectorList",
          "traits": {
            "smithy.api#documentation": "<p>The list of egress network connectors configured for the MicroVM.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#HookState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Whether invocation hooks are enabled or disabled on a MicroVm."
      }
    },
    "com.amazonaws.lambdamicrovms#Hooks": {
      "type": "structure",
      "members": {
        "port": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The port number on which the hooks listener runs.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 65535
            }
          }
        },
        "microvmHooks": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmHooks",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle hooks for MicroVM events.</p>"
          }
        },
        "microvmImageHooks": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageHooks",
          "traits": {
            "smithy.api#documentation": "<p>The hooks for MicroVM image build events.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lifecycle hook configuration for MicroVMs and MicroVM images.</p>"
      }
    },
    "com.amazonaws.lambdamicrovms#IdlePolicy": {
      "type": "structure",
      "members": {
        "maxIdleDurationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time in seconds that a MicroVM can remain idle before it is automatically suspended.</p>",
            "smithy.api#range": {
              "min": 60
            },
            "smithy.api#required": {}
          }
        },
        "suspendedDurationSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time in seconds that a MicroVM can remain suspended before it is automatically terminated.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "autoResumeEnabled": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the MicroVM automatically resumes when it receives a request while suspended.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration that controls MicroVM auto-suspend and auto-resume behavior. Idle time is measured by inbound traffic through the MicroVM proxy endpoint — if no requests arrive within the configured duration, the MicroVM is suspended.</p>"
      }
    },
    "com.amazonaws.lambdamicrovms#ImageName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Name of a MicroVM image.",
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_]+$"
      }
    },
    "com.amazonaws.lambdamicrovms#InternalServerException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "smithy.api#String"
        },
        "retryAfterSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of seconds to wait before retrying the request.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal server error occurred. Retry the request later.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500,
        "smithy.api#retryable": {}
      }
    },
    "com.amazonaws.lambdamicrovms#InvalidParameterValueException": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The exception type.</p>"
          }
        },
        "message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One of the parameters in the request is not valid.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lambdamicrovms#LambdaMicrovms": {
      "type": "service",
      "version": "2025-09-09",
      "operations": [
        {
          "target": "com.amazonaws.lambdamicrovms#CreateMicrovmImage"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImage"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#DeleteMicrovmImageVersion"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#GetMicrovmImage"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageBuild"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#GetMicrovmImageVersion"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImages"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersions"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageBuilds"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListMicrovmImages"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageVersions"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ListTags"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#TagResource"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#UntagResource"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#UpdateMicrovmImage"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#UpdateMicrovmImageVersion"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.lambdamicrovms#Microvm"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lambda Microvms",
          "arnNamespace": "lambda"
        },
        "aws.auth#sigv4": {
          "name": "lambda"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Provides APIs to create, manage, and operate AWS Lambda MicroVMs and their associated MicroVM Image environments.</p>",
        "smithy.api#title": "Lambda MicroVMs",
        "smithy.rules#endpointBdd": {
          "version": "1.1",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "conditions": [
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Endpoint"
                }
              ]
            },
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Region"
                }
              ]
            },
            {
              "fn": "aws.partition",
              "argv": [
                {
                  "ref": "Region"
                }
              ],
              "assign": "PartitionResult"
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseFIPS"
                },
                true
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseDualStack"
                },
                true
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "supportsDualStack"
                  ]
                },
                true
              ]
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "fn": "getAttr",
                  "argv": [
                    {
                      "ref": "PartitionResult"
                    },
                    "supportsFIPS"
                  ]
                },
                true
              ]
            }
          ],
          "results": [
            {
              "conditions": [],
              "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": {
                  "ref": "Endpoint"
                },
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://lambda-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://lambda-fips.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "FIPS is enabled but this partition does not support FIPS",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://lambda.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "DualStack is enabled but this partition does not support DualStack",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://lambda.{Region}.{PartitionResult#dnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "root": 2,
          "nodeCount": 13,
          "nodes": "/////wAAAAH/////AAAAAAAAAAwAAAADAAAAAQAAAAQF9eELAAAAAgAAAAUF9eELAAAAAwAAAAgAAAAGAAAABAAAAAcF9eEKAAAABQX14QgF9eEJAAAABAAAAAoAAAAJAAAABgX14QYF9eEHAAAABQAAAAsF9eEFAAAABgX14QQF9eEFAAAAAwX14QEAAAANAAAABAX14QIF9eED"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": {
                          "ref": "Endpoint"
                        },
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    }
                                  ]
                                },
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://lambda-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsFIPS"
                                      ]
                                    },
                                    true
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://lambda-fips.{Region}.{PartitionResult#dnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "FIPS is enabled but this partition does not support FIPS",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "booleanEquals",
                                  "argv": [
                                    true,
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "supportsDualStack"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "rules": [
                                {
                                  "conditions": [],
                                  "rules": [
                                    {
                                      "conditions": [],
                                      "endpoint": {
                                        "url": "https://lambda.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                        "properties": {},
                                        "headers": {}
                                      },
                                      "type": "endpoint"
                                    }
                                  ],
                                  "type": "tree"
                                }
                              ],
                              "type": "tree"
                            },
                            {
                              "conditions": [],
                              "error": "DualStack is enabled but this partition does not support DualStack",
                              "type": "error"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lambda.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lambda.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersionsInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists versions of a managed MicroVM image. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/managed-microvm-images/{imageIdentifier}/versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersionsInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous call. Use this token to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the managed MicroVM image to list versions for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImageVersionsOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent request to retrieve the next page of results. This value is null when there are no more results to return.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.lambdamicrovms#ManagedMicrovmImageVersionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of managed MicroVM image versions.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImages": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImagesInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#ListManagedMicrovmImagesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists AWS managed MicroVM images available for use as base images. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/managed-microvm-images",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImagesInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous call. Use this token to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListManagedMicrovmImagesOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent request to retrieve the next page of results. This value is null when there are no more results to return.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.lambdamicrovms#ManagedMicrovmImageSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The list of managed MicroVM images.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListMicrovmImageBuilds": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageBuildsInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageBuildsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists builds for a MicroVM image version with optional filtering by architecture and chipset. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}/versions/{imageVersion}/builds",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListMicrovmImageBuildsInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token from a previous call. Use this token to retrieve the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "imageIdentifier": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier (ARN or ID) of the MicroVM image.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "imageVersion": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the MicroVM image to list builds for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "architecture": {
          "target": "com.amazonaws.lambdamicrovms#Architecture",
          "traits": {
            "smithy.api#documentation": "<p>Filters builds by target CPU architecture.</p>",
            "smithy.api#httpQuery": "architecture"
          }
        },
        "chipset": {
          "target": "com.amazonaws.lambdamicrovms#Chipset",
          "traits": {
            "smithy.api#documentation": "<p>Filters builds by target chipset.</p>",
            "smithy.api#httpQuery": "chipset"
          }
        },
        "chipsetGeneration": {
          "target": "com.amazonaws.lambdamicrovms#NonBlankString",
          "traits": {
            "smithy.api#documentation": "<p>Filters builds by target chipset generation.</p>",
            "smithy.api#httpQuery": "chipsetGeneration"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListMicrovmImageBuildsOutput": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token to use in a subsequent request to retrieve the next page of results. This value is null when there are no more results to return.</p>"
          }
        },
        "items": {
          "target": "com.amazonaws.lambdamicrovms#MicrovmImageBuildSummaries",
          "traits": {
            "smithy.api#documentation": "<p>The list of MicroVM image builds.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListMicrovmImageVersions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageVersionsInput"
      },
      "output": {
        "target": "com.amazonaws.lambdamicrovms#ListMicrovmImageVersionsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.lambdamicrovms#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#InternalServerException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lambdamicrovms#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists versions of a MicroVM image. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2025-09-09/microvm-images/{imageIdentifier}/versions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults",
          "items": "items"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.lambdamicrovms#ListMicrovmImageVersionsInput": {
      "type": "structure",
      "members": {
        "maxResults": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>",
            "smithy.api#httpQuery": "maxResults",
            "smithy.api#range": {
              "min": 1,
              "max": 50
            }
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lambdamicrovms#String",
          "traits": {
[...]
