{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lexmodelsv2#ActiveContext": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#ActiveContextName",
          "traits": {
            "smithy.api#documentation": "<p>The name of active context.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The active context used in the test execution.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ActiveContextList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#ActiveContext"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ActiveContextName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelsv2#AdvancedRecognitionSetting": {
      "type": "structure",
      "members": {
        "audioRecognitionStrategy": {
          "target": "com.amazonaws.lexmodelsv2#AudioRecognitionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Enables using the slot values as a custom vocabulary for recognizing user utterances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides settings that enable advanced recognition settings for slot values.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AgentTurnResult": {
      "type": "structure",
      "members": {
        "expectedAgentPrompt": {
          "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The expected agent prompt for the agent turn in a test set execution.</p>",
            "smithy.api#required": {}
          }
        },
        "actualAgentPrompt": {
          "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The actual agent prompt for the agent turn in a test set execution.</p>"
          }
        },
        "errorDetails": {
          "target": "com.amazonaws.lexmodelsv2#ExecutionErrorDetails"
        },
        "actualElicitedSlot": {
          "target": "com.amazonaws.lexmodelsv2#TestResultSlotName",
          "traits": {
            "smithy.api#documentation": "<p>The actual elicited slot for the agent turn in a test set execution.</p>"
          }
        },
        "actualIntent": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The actual intent for the agent turn in a test set execution.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The information about the agent turn in a test set execution.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AgentTurnSpecification": {
      "type": "structure",
      "members": {
        "agentPrompt": {
          "target": "com.amazonaws.lexmodelsv2#TestSetAgentPrompt",
          "traits": {
            "smithy.api#documentation": "<p>The agent prompt for the agent turn in a test set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The specification of an agent turn.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the utterance list.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListAggregatedUtterances</code> operation should return only\n         utterances that equal the specified value. Specify <code>CO</code> when\n         the <code>ListAggregatedUtterances</code> operation should return\n         utterances that contain the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters responses returned by the\n            <code>ListAggregatedUtterances</code> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName": {
      "type": "enum",
      "members": {
        "Utterance": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Utterance"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator": {
      "type": "enum",
      "members": {
        "Contains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute": {
      "type": "enum",
      "members": {
        "HitCount": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HitCount"
          }
        },
        "MissedCount": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MissedCount"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The utterance attribute to sort by.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the aggregated utterances in ascending or\n         descending order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of utterances.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary": {
      "type": "structure",
      "members": {
        "utterance": {
          "target": "com.amazonaws.lexmodelsv2#Utterance",
          "traits": {
            "smithy.api#documentation": "<p>The text of the utterance. If the utterance was used with the\n            <code>RecognizeUtterance</code> operation, the text is the\n         transcription of the audio utterance.</p>"
          }
        },
        "hitCount": {
          "target": "com.amazonaws.lexmodelsv2#HitCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of times that the utterance was detected by Amazon Lex during\n         the time period. When an utterance is detected, it activates an intent\n         or a slot.</p>"
          }
        },
        "missedCount": {
          "target": "com.amazonaws.lexmodelsv2#MissedCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of times that the utterance was missed by Amazon Lex An\n         utterance is missed when it doesn't activate an intent or slot.</p>"
          }
        },
        "utteranceFirstRecordedInAggregationDuration": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the utterance was first recorded in the time\n         window for aggregation. An utterance may have been sent to Amazon Lex before\n         that time, but only utterances within the time window are\n         counted.</p>"
          }
        },
        "utteranceLastRecordedInAggregationDuration": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that an utterance was recorded in the time\n         window for aggregation. An utterance may be sent to Amazon Lex after that\n         time, but only utterances within the time window are counted.</p>"
          }
        },
        "containsDataFromDeletedResources": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Aggregated utterance data may contain utterances from versions of\n         your bot that have since been deleted. When the aggregated contains\n         this kind of data, this field is set to true.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information for aggregated utterances. The\n            <code>ListAggregatedUtterances</code> operations combines all\n         instances of the same utterance into a single aggregated\n         summary.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#AllowedInputTypes": {
      "type": "structure",
      "members": {
        "allowAudioInput": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether audio input is allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "allowDTMFInput": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether DTMF input is allowed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the allowed input types.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsBinBySpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinByName": {
      "type": "enum",
      "members": {
        "ConversationStartTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConversationStartTime"
          }
        },
        "UtteranceTimestamp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceTimestamp"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinBySpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinByName",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time metric by which to bin the analytics data.</p>",
            "smithy.api#required": {}
          }
        },
        "interval": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsInterval",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the interval of time by which to bin the analytics data.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to bin the analytics data in ascending or descending order. If this field is left blank, the default order is by the key of the bin in descending order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the time metric, interval, and method by which to bin the analytics data.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinByName",
          "traits": {
            "smithy.api#documentation": "<p>The criterion by which to bin the results.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the criterion that defines the bin.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the criterion by which to bin the results and the value that defines that bin.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKey"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsBinValue": {
      "type": "long"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsChannel": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsCommonFilterName": {
      "type": "enum",
      "members": {
        "BotAliasId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotAliasId"
          }
        },
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        },
        "Modality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modality"
          }
        },
        "Channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Channel"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator": {
      "type": "enum",
      "members": {
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        },
        "GreaterThan": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GT"
          }
        },
        "LessThan": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LT"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsFilterValue": {
      "type": "string"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsFilterValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue": {
      "type": "string"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentField": {
      "type": "enum",
      "members": {
        "IntentName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentName"
          }
        },
        "IntentEndState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentEndState"
          }
        },
        "IntentLevel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentLevel"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The category by which to filter the intents. The descriptions for each option are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – The name of the bot alias.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – The version of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – The locale of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – The channel that the bot is integrated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – The identifier of the session with the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – The identifier of the first request in a session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – The name of the intent.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentEndState</code> – The final state of the intent.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation by which to filter the category. The following operations are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CO</code> – Contains</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQ</code> – Equals</p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> – Greater than</p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> – Less than</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentEndState</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains fields describing a condition by which to filter the intents. The expression may be understood as <code>name</code>\n            <code>operator</code>\n            <code>values</code>. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IntentName CO Book</code> – The intent name contains the string \"Book.\"</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion EQ 2</code> – The bot version is equal to two.</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentEndState</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentFilterName": {
      "type": "enum",
      "members": {
        "BotAliasId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotAliasId"
          }
        },
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        },
        "Modality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modality"
          }
        },
        "Channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Channel"
          }
        },
        "SessionId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionId"
          }
        },
        "OriginatingRequestId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginatingRequestId"
          }
        },
        "IntentName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentName"
          }
        },
        "IntentEndState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentEndState"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentField",
          "traits": {
            "smithy.api#documentation": "<p>A category by which the intent analytics were grouped.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
          "traits": {
            "smithy.api#documentation": "<p>A member of the category by which the intent analytics were grouped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which the intent analytics were grouped and a member of that category.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKey"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupBySpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 3
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupBySpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentField",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to group the intent stages by their name or their end state.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which to group the intents.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric for which you want to get intent summary statistics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of times the intent was invoked.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of times the intent succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of times the intent failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Switched</code> – The number of times there was a switch to a different intent.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of times the user dropped the intent.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of intents in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the results in ascending or descending order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the intents in the bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName": {
      "type": "enum",
      "members": {
        "Count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "Success": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        },
        "Failure": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failure"
          }
        },
        "Switched": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Switched"
          }
        },
        "Dropped": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dropped"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric that you requested. See <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/analytics-key-definitions.html\">Key definitions</a> for more details about these metrics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of times the intent was invoked.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of times the intent succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of times the intent failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Switched</code> – The number of times there was a switch to a different intent.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of times the user dropped the intent.</p>\n            </li>\n         </ul>"
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The statistic that you requested to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of intents in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the summary statistic for the metric that you requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for the intent metric you requested.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetric"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummary"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentNodeSummary": {
      "type": "structure",
      "members": {
        "intentName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent at the end of the requested path.</p>"
          }
        },
        "intentPath": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsPath",
          "traits": {
            "smithy.api#documentation": "<p>The path.</p>"
          }
        },
        "intentCount": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeCount",
          "traits": {
            "smithy.api#documentation": "<p>The total number of sessions that follow the given path to the given intent.</p>"
          }
        },
        "intentLevel": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeLevel",
          "traits": {
            "smithy.api#documentation": "<p>The number of intents up to and including the requested path.</p>"
          }
        },
        "nodeType": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsNodeType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the node is the end of a path (<code>Exit</code>) or not (<code>Inner</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing information about the requested path.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentResult": {
      "type": "structure",
      "members": {
        "binKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for binning results and the values of the bins.</p>"
          }
        },
        "groupByKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentGroupByKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for grouping results and the values of the groups.</p>"
          }
        },
        "metricsResults": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentMetricResults",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects, each of which contains a metric you want to list, the statistic for the metric you want to return, and the method by which to organize the results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for the intent metrics you requested and the bin and/or group(s) they refer to, if applicable.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField": {
      "type": "enum",
      "members": {
        "IntentStageName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentStageName"
          }
        },
        "SwitchedToIntent": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SwitchedToIntent"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The category by which to filter the intent stages. The descriptions for each option are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – The name of the bot alias.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – The version of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – The locale of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – The channel that the bot is integrated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – The identifier of the session with the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – The identifier of the first request in a session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – The name of the intent.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentStageName</code> – The stage in the intent.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation by which to filter the category. The following operations are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CO</code> – Contains</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQ</code> – Equals</p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> – Greater than</p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> – Less than</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentStageName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains fields describing a condition by which to filter the intent stages. The expression may be understood as <code>name</code>\n            <code>operator</code>\n            <code>values</code>. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IntentName CO Book</code> – The intent name contains the string \"Book.\"</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion EQ 2</code> – The bot version is equal to two.</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentStageName</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilterName": {
      "type": "enum",
      "members": {
        "BotAliasId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotAliasId"
          }
        },
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        },
        "Modality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modality"
          }
        },
        "Channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Channel"
          }
        },
        "SessionId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionId"
          }
        },
        "OriginatingRequestId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginatingRequestId"
          }
        },
        "IntentName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentName"
          }
        },
        "IntentStageName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentStageName"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField",
          "traits": {
            "smithy.api#documentation": "<p>A category by which the intent stage analytics were grouped.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
          "traits": {
            "smithy.api#documentation": "<p>A member of the category by which the intent stage analytics were grouped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which the intent stage analytics and the values for that category were grouped.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKey"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupBySpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupBySpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageField",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to group the intent stages by their name or the intent to which the session was switched.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which to group the intent stages.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric for which you want to get intent stage summary statistics. See <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/analytics-key-definitions.html\">Key definitions</a> for more details about these metrics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of times the intent stage occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of times the intent stage succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of times the intent stage failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of times the user dropped the intent stage.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Retry</code> – The number of times the bot tried to elicit a response from the user at this stage.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of intent stages in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the results in ascending or descending order of the summary statistic (<code>value</code> in the response).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the intent stages across the user sessions with the bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName": {
      "type": "enum",
      "members": {
        "Count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "Success": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Dropped": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dropped"
          }
        },
        "Retry": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Retry"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric that you requested.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of times the intent stage occurred.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of times the intent stage succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of times the intent stage failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of times the user dropped the intent stage.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Retry</code> – The number of times the bot tried to elicit a response from the user at this stage.</p>\n            </li>\n         </ul>"
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic that you requested to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of intent stages in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the summary statistic for the metric that you requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for an intent stage metric you requested.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetric"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResult": {
      "type": "structure",
      "members": {
        "binKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for binning results and the values of the bins.</p>"
          }
        },
        "groupByKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageGroupByKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for grouping results and the values of the bins.</p>"
          }
        },
        "metricsResults": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageMetricResults",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects, each of which contains a metric you want to list, the statistic for the metric you want to return, and the method by which to organize the results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for the intent stage metrics you requested and the bin and/or group they refer to, if applicable.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsIntentStageResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsInterval": {
      "type": "enum",
      "members": {
        "OneHour": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneHour"
          }
        },
        "OneDay": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OneDay"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsLongValue": {
      "type": "long"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic": {
      "type": "enum",
      "members": {
        "Sum": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Sum"
          }
        },
        "Avg": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Avg"
          }
        },
        "Max": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Max"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsMetricValue": {
      "type": "double"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsModality": {
      "type": "enum",
      "members": {
        "Speech": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Speech"
          }
        },
        "Text": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Text"
          }
        },
        "DTMF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DTMF"
          }
        },
        "MultiMode": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MultiMode"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsNodeCount": {
      "type": "integer"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsNodeLevel": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 100
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsNodeType": {
      "type": "enum",
      "members": {
        "Inner": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inner"
          }
        },
        "Exit": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Exit"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsOriginatingRequestId": {
      "type": "string"
    },
    "com.amazonaws.lexmodelsv2#AnalyticsPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsPathFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsCommonFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The category by which to filter the intent paths. The descriptions for each option are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – The name of the bot alias.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – The version of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – The locale of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – The channel that the bot is integrated with.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation by which to filter the category. The following operations are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CO</code> – Contains</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQ</code> – Equals</p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> – Greater than</p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> – Less than</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains fields describing a condition by which to filter the paths. The expression may be understood as <code>name</code>\n            <code>operator</code>\n            <code>values</code>. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LocaleId EQ en</code> – The locale is \"en\".</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion EQ 2</code> – The bot version is equal to two.</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsPathFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsPathFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionField": {
      "type": "enum",
      "members": {
        "ConversationEndState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConversationEndState"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The category by which to filter the sessions. The descriptions for each option are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – The name of the bot alias.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – The version of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – The locale of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – The channel that the bot is integrated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration</code> – The duration of the session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>conversationEndState</code> – The final state of the session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – The identifier of the session with the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – The identifier of the first request in a session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentPath</code> – The order of intents taken in a session.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation by which to filter the category. The following operations are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CO</code> – Contains</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQ</code> – Equals</p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> – Greater than</p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> – Less than</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration</code> – <code>EQ</code>, <code>GT</code>, <code>LT</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>conversationEndState</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentPath</code> – <code>EQ</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains fields describing a condition by which to filter the sessions. The expression may be understood as <code>name</code>\n            <code>operator</code>\n            <code>values</code>. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LocaleId EQ en</code> – The locale is \"en\".</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration GT 200</code> – The duration is greater than 200 seconds.</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration</code> – <code>EQ</code>, <code>GT</code>, <code>LT</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>conversationEndState</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentPath</code> – <code>EQ</code>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionFilterName": {
      "type": "enum",
      "members": {
        "BotAliasId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotAliasId"
          }
        },
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        },
        "Modality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modality"
          }
        },
        "Channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Channel"
          }
        },
        "Duration": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duration"
          }
        },
        "ConversationEndState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConversationEndState"
          }
        },
        "SessionId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionId"
          }
        },
        "OriginatingRequestId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginatingRequestId"
          }
        },
        "IntentPath": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentPath"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionField",
          "traits": {
            "smithy.api#documentation": "<p>The category by which the session analytics were grouped.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
          "traits": {
            "smithy.api#documentation": "<p>A member of the category by which the session analytics were grouped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which the session analytics were grouped and a member of that category.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKey"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupBySpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupBySpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionField",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to group the session by their end state or their locale.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which to group the sessions.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9a-zA-Z._:-]$"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric for which you want to get session summary statistics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of sessions that succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of sessions that failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of sessions that the user dropped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration</code> – The duration of sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TurnsPerSession</code> – The number of turns in the sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Concurrency</code> – The number of sessions occurring in the same period of time.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of sessions in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the results in ascending or descending order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the user sessions with the bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName": {
      "type": "enum",
      "members": {
        "Count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "Success": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Success"
          }
        },
        "Failure": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failure"
          }
        },
        "Dropped": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Dropped"
          }
        },
        "Duration": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duration"
          }
        },
        "TurnsPerConversation": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TurnsPerConversation"
          }
        },
        "Concurrency": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Concurrency"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricResult": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric that you requested.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Success</code> – The number of sessions that succeeded.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Failure</code> – The number of sessions that failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Dropped</code> – The number of sessions that the user dropped.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Duration</code> – The duration of sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>TurnPersession</code> – The number of turns in the sessions.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Concurrency</code> – The number of sessions occurring in the same period of time.</p>\n            </li>\n         </ul>"
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic that you requested to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of sessions in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the summary statistic for the metric that you requested.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for a session metric you requested.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionMetrics": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetric"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 7
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionResult": {
      "type": "structure",
      "members": {
        "binKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsBinKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for binning results and the values of the bins.</p>"
          }
        },
        "groupByKeys": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionGroupByKeys",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects containing the criteria you requested for grouping results and the values of the bins.</p>"
          }
        },
        "metricsResults": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionMetricResults",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects, each of which contains a metric you want to list, the statistic for the metric you want to return, and the method by which to organize the results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the results for the session metrics you requested and the bin and/or group(s) they refer to, if applicable.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsSessionResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSessionSortByName": {
      "type": "enum",
      "members": {
        "ConversationStartTime": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ConversationStartTime"
          }
        },
        "NumberOfTurns": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NumberOfTurns"
          }
        },
        "Duration": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Duration"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsSortOrder": {
      "type": "enum",
      "members": {
        "Ascending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Ascending"
          }
        },
        "Descending": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Descending"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttribute": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributeName",
          "traits": {
            "smithy.api#documentation": "<p>An attribute to return. The only available attribute is the intent that the bot mapped the utterance to.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that specifies the last used intent at the time of the utterance as an attribute to return.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributeName": {
      "type": "enum",
      "members": {
        "LastUsedIntent": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastUsedIntent"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributeResult": {
      "type": "structure",
      "members": {
        "lastUsedIntent": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The intent that the bot mapped the utterance to.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object containing the intent that the bot mapped the utterance to.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributeResults": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributeResult"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttributes": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceAttribute"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceField": {
      "type": "enum",
      "members": {
        "UtteranceText": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceText"
          }
        },
        "UtteranceState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceState"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The category by which to filter the utterances. The descriptions for each option are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – The name of the bot alias.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – The version of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – The locale of the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – The channel that the bot is integrated with.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – The identifier of the session with the bot.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – The identifier of the first request in a session.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceState</code> – The state of the utterance.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceText</code> – The text in the utterance.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operation by which to filter the category. The following operations are possible:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CO</code> – Contains</p>\n            </li>\n            <li>\n               <p>\n                  <code>EQ</code> – Equals</p>\n            </li>\n            <li>\n               <p>\n                  <code>GT</code> – Greater than</p>\n            </li>\n            <li>\n               <p>\n                  <code>LT</code> – Less than</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceState</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceText</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsFilterValues",
          "traits": {
            "smithy.api#documentation": "<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains fields describing a condition by which to filter the utterances. The expression may be understood as <code>name</code>\n            <code>operator</code>\n            <code>values</code>. For example:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>LocaleId EQ Book</code> – The locale is the string \"en\".</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceText CO help</code> – The text of the utterance contains the string \"help\".</p>\n            </li>\n         </ul>\n         <p>The operators that each filter supports are listed below:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>BotAlias</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BotVersion</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>LocaleId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Modality</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Channel</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>SessionId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>OriginatingRequestId</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceState</code> – <code>EQ</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceText</code> – <code>EQ</code>, <code>CO</code>.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceFilterName": {
      "type": "enum",
      "members": {
        "BotAliasId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotAliasId"
          }
        },
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        },
        "LocaleId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LocaleId"
          }
        },
        "Modality": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Modality"
          }
        },
        "Channel": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Channel"
          }
        },
        "SessionId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SessionId"
          }
        },
        "OriginatingRequestId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OriginatingRequestId"
          }
        },
        "UtteranceState": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceState"
          }
        },
        "UtteranceText": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceText"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 9
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupByKey": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceField",
          "traits": {
            "smithy.api#documentation": "<p>The category by which the utterance analytics were grouped.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsGroupByValue",
          "traits": {
            "smithy.api#documentation": "<p>A member of the category by which the utterance analytics were grouped.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which the utterance analytics were grouped and the values for that category.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupByKeys": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupByKey"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupByList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupBySpecification"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceGroupBySpecification": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceField",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to group the utterances by their text or their state.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the category by which to group the utterances.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceMetric": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsUtteranceMetricName",
          "traits": {
            "smithy.api#documentation": "<p>The metric for which you want to get utterance summary statistics.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Count</code> – The number of utterances.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Missed</code> – The number of utterances that Amazon Lex failed to recognize.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Detected</code> – The number of utterances that Amazon Lex managed to detect.</p>\n            </li>\n            <li>\n               <p>\n                  <code>UtteranceTimestamp</code> – The date and time of the utterance.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "statistic": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsMetricStatistic",
          "traits": {
            "smithy.api#documentation": "<p>The summary statistic to calculate.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Sum</code> – The total count for the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Average</code> – The total count divided by the number of utterances in the category you provide in <code>name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Max</code> – The highest count in the category you provide in <code>name</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#AnalyticsSortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the results in ascending or descending order.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the metric and the summary statistic you want to calculate, and the order in which to sort the results, for the utterances across the user sessions with the bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceMetricName": {
      "type": "enum",
      "members": {
        "Count": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Count"
          }
        },
        "Missed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Missed"
          }
        },
        "Detected": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Detected"
          }
        },
        "UtteranceTimestamp": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UtteranceTimestamp"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AnalyticsUtteranceMetricResult": {
      "type": "structure",
      "members": {
[...]
