{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lexmodelsv2#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AttachmentTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AttachmentUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogDestination": {
      "type": "structure",
      "members": {
        "s3Bucket": {
          "target": "com.amazonaws.lexmodelsv2#S3BucketLogDestination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where the audio log files are stored. The IAM\n         role specified in the <code>roleArn</code> parameter of the <a>CreateBot</a> operation must have permission to write to\n         this bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of audio log files collected when conversation logging\n         is enabled for a bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogSetting": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.lexmodelsv2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether audio logging in enabled for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.lexmodelsv2#AudioLogDestination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for logging audio of conversations between Amazon Lex and a\n         user. You specify whether to log audio and the Amazon S3 bucket where\n         the audio file is stored.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AudioLogSetting"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.lexmodelsv2#BotAliasHistoryEvent": {
      "type": "structure",
      "members": {
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was used in the event. </p>"
          }
        },
        "startDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event started.</p>"
          }
        },
        "endDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a record of an event that affects a bot alias. For example,\n         when the version of a bot that the alias points to changes.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasHistoryEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasHistoryEvent"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasLocaleSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.lexmodelsv2#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the locale is enabled for the bot. If the value\n         is <code>false</code>, the locale isn't available for use.</p>",
            "smithy.api#required": {}
          }
        },
        "codeHookSpecification": {
          "target": "com.amazonaws.lexmodelsv2#CodeHookSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Lambda function that should be used in the\n         locale.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies settings that are unique to a locale. For example, you can\n         use different Lambda function depending on the bot's locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#LocaleId"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettings"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Creating",
            "name": "Creating"
          },
          {
            "value": "Available",
            "name": "Available"
          },
          {
            "value": "Deleting",
            "name": "Deleting"
          },
          {
            "value": "Failed",
            "name": "Failed"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasSummary": {
      "type": "structure",
      "members": {
        "botAliasId": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the bot alias. You can use this ID\n         to get detailed information about the alias using the <a>DescribeBotAlias</a> operation.</p>"
          }
        },
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that the bot alias references.</p>"
          }
        },
        "botAliasStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the bot alias. If the status is\n            <code>Available</code>, the alias is ready for use.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot alias was\n         created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot alias was last\n         updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about bot aliases returned from the <a>ListBotAliases</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotExportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot assigned by Amazon Lex.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was exported. This will be either\n            <code>DRAFT</code> or the version number.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the identity of a the bot that was exported.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#BotFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#BotFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListBots</code> operation should return only aliases that\n         equal the specified value. Specify <code>CO</code> when the\n            <code>ListBots</code> operation should return aliases that contain\n         the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the responses returned by the <code>ListBots</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BotName",
            "name": "BotName"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilterOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CO",
            "name": "Contains"
          },
          {
            "value": "EQ",
            "name": "Equals"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotImportSpecification": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name that Amazon Lex should use for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.lexmodelsv2#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to build and run\n         the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "dataPrivacy": {
          "target": "com.amazonaws.lexmodelsv2#DataPrivacy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelsv2#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The time, in seconds, that Amazon Lex should keep information about a\n         user's conversation with the bot. </p>\n         <p>A user interaction remains active for the amount of time specified.\n         If no conversation occurs during this time, the session expires and\n         Amazon Lex deletes any data provided before the timeout.</p>\n         <p>You can specify between 60 (1 minute) and 86,400 (24 hours)\n         seconds.</p>"
          }
        },
        "botTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the bot. You can only add tags when you\n         import a bot. You can't use the <code>UpdateBot</code> operation to\n         update tags. To update tags, use the <code>TagResource</code>\n         operation.</p>"
          }
        },
        "testBotAliasTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the test alias for a bot. You can only add\n         tags when you import a bot. You can't use the <code>UpdateAlias</code>\n         operation to update tags. To update tags on the test alias, use the\n            <code>TagResource</code> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot parameters required for importing a bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleExportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to create the locale for.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to export.</p>",
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale to export. The string must\n         match one of the locales in the bot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot locale parameters required for exporting a bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListBotLocales</code> operation should return only aliases\n         that equal the specified value. Specify <code>CO</code> when the\n            <code>ListBotLocales</code> operation should return aliases that\n         contain the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters responses returned by the <code>ListBotLocales</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BotLocaleName",
            "name": "BotLocaleName"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilterOperator": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CO",
            "name": "Contains"
          },
          {
            "value": "EQ",
            "name": "Equals"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEvent": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the event that occurred.</p>",
            "smithy.api#required": {}
          }
        },
        "eventDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the event occurred.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an event that occurred affecting the bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventDescription": {
      "type": "string"
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleHistoryEvent"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleImportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to import the locale to.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to import the locale to. This can only be the\n            <code>DRAFT</code> version of the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported\n         languages</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "nluIntentConfidenceThreshold": {
          "target": "com.amazonaws.lexmodelsv2#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>Determines the threshold where Amazon Lex will insert the\n            <code>AMAZON.FallbackIntent</code>,\n            <code>AMAZON.KendraSearchIntent</code>, or both when returning\n         alternative intents. <code>AMAZON.FallbackIntent</code> and\n            <code>AMAZON.KendraSearchIntent</code> are only inserted if they are\n         configured for the bot. </p>\n         <p>For example, suppose a bot is configured with the confidence\n         threshold of 0.80 and the <code>AMAZON.FallbackIntent</code>. Amazon\n         Lex returns three alternative intents with the following confidence\n         scores: IntentA (0.70), IntentB (0.60), IntentC (0.50). The response\n         from the <code>PostText</code> operation would be:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AMAZON.FallbackIntent</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentB</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentC</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "voiceSettings": {
          "target": "com.amazonaws.lexmodelsv2#VoiceSettings"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot locale parameters required for importing a bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSortAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BotLocaleName",
            "name": "BotLocaleName"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The bot locale attribute to sort by.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the bot locales in ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bot locales.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Creating",
            "name": "Creating"
          },
          {
            "value": "Building",
            "name": "Building"
          },
          {
            "value": "Built",
            "name": "Built"
          },
          {
            "value": "ReadyExpressTesting",
            "name": "ReadyExpressTesting"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "Deleting",
            "name": "Deleting"
          },
          {
            "value": "NotBuilt",
            "name": "NotBuilt"
          },
          {
            "value": "Importing",
            "name": "Importing"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSummary": {
      "type": "structure",
      "members": {
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The language and locale of the bot locale.</p>"
          }
        },
        "localeName": {
          "target": "com.amazonaws.lexmodelsv2#LocaleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot locale.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot locale.</p>"
          }
        },
        "botLocaleStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot locale. When the status is\n            <code>Built</code> the locale is ready for use.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot locale was last\n         updated.</p>"
          }
        },
        "lastBuildSubmittedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot locale was last\n         built.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about bot locales returned by the <a>ListBotLocales</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotSortAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BotName",
            "name": "BotName"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can choose ascending or\n         descending.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bots.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Creating",
            "name": "Creating"
          },
          {
            "value": "Available",
            "name": "Available"
          },
          {
            "value": "Inactive",
            "name": "Inactive"
          },
          {
            "value": "Deleting",
            "name": "Deleting"
          },
          {
            "value": "Failed",
            "name": "Failed"
          },
          {
            "value": "Versioning",
            "name": "Versioning"
          },
          {
            "value": "Importing",
            "name": "Importing"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotSummary": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the bot. Use this ID to get\n         detailed information about the bot with the <a>DescribeBot</a> operation.</p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot. When the status is\n            <code>Available</code> the bot is ready for use.</p>"
          }
        },
        "latestBotVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest numerical version in use for the bot.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the bot was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a bot returned by the <a>ListBots</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        },
        "smithy.api#pattern": "^(DRAFT|[0-9]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionLocaleDetails": {
      "type": "structure",
      "members": {
        "sourceBotVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of a bot used for a bot locale.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The version of a bot used for a bot locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionLocaleSpecification": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#LocaleId"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#BotVersionLocaleDetails"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSortAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "BotVersion",
            "name": "BotVersion"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotVersionSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of versions.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can specify ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bot versions.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSummary": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot associated with the version.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The numeric version of the bot, or <code>DRAFT</code> to indicate\n         that this is the version of the bot that can be updated..</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot. When the status is available, the version of\n         the bot is ready for use.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the version was\n         created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a bot version returned by the <a>ListBotVersions</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotVersionSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BoxedBoolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocale": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#BuildBotLocaleRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#BuildBotLocaleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Builds a bot, its intents, and its slot types into a specific\n         locale. A bot can be built into multiple locales. At runtime the locale\n         is used to choose a specific build of the bot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocaleRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to build. The identifier is returned in\n         the response from the  operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to build. This can only be the draft version\n         of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocaleResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the specified bot.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was built. This is only the draft\n         version of the bot.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The language and locale specified of where the bot can be\n         used.</p>"
          }
        },
        "botLocaleStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The bot's build status. When the status is\n            <code>ReadyExpressTesting</code> you can test the bot using the\n         utterances defined for the intents and slot types. When the status is\n            <code>Built</code>, the bot is ready for use and can be tested using\n         any utterance.</p>"
          }
        },
        "lastBuildSubmittedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating the date and time that the bot was last built\n         for this locale.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSortAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IntentSignature",
            "name": "IntentSignature"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BuiltInIntentSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of built-in intents.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can specify ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of built-in intents.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSummary": {
      "type": "structure",
      "members": {
        "intentSignature": {
          "target": "com.amazonaws.lexmodelsv2#IntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>The signature of the built-in intent. Use this to specify the parent\n         intent of a derived intent.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the intent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a built-in intent for the <a>ListBuiltInIntents</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BuiltInIntentSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInOrCustomSlotTypeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#pattern": "^((AMAZON\\.)[a-zA-Z_]+?|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortAttribute": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SlotTypeSignature",
            "name": "SlotTypeSignature"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of built-in intents.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can choose ascending or\n         descending.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of built-in slot\n         types.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummary": {
      "type": "structure",
      "members": {
        "slotTypeSignature": {
          "target": "com.amazonaws.lexmodelsv2#SlotTypeSignature",
          "traits": {
            "smithy.api#documentation": "<p>The signature of the built-in slot type. Use this to specify the\n         parent slot type of a derived slot type.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the built-in slot type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a built-in slot type for the\n            <a>ListBuiltInSlotTypes</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 20,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelsv2#Button": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.lexmodelsv2#ButtonText",
          "traits": {
            "smithy.api#documentation": "<p>The text that appears on the button. Use this to tell the user what\n         value is returned when they choose this button.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#ButtonValue",
          "traits": {
            "smithy.api#documentation": "<p>The value returned to Amazon Lex when the user chooses this button. This\n         must be one of the slot values configured for the slot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a button to use on a response card used to gather slot\n         values from a user.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#Button"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ChildDirected": {
      "type": "boolean"
    },
    "com.amazonaws.lexmodelsv2#CloudWatchLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w\\-]+:logs:[\\w\\-]+:[\\d]{12}:log-group:[\\.\\-_/#A-Za-z0-9]{1,512}(?::\\*)?$"
      }
    },
    "com.amazonaws.lexmodelsv2#CloudWatchLogGroupLogDestination": {
      "type": "structure",
      "members": {
        "cloudWatchLogGroupArn": {
          "target": "com.amazonaws.lexmodelsv2#CloudWatchLogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log group where text and\n         metadata logs are delivered.</p>",
            "smithy.api#required": {}
          }
        },
        "logPrefix": {
          "target": "com.amazonaws.lexmodelsv2#LogPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the log stream name within the log group that you\n         specified </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs log group where the text and metadata logs are\n         delivered. The log group must exist before you enable logging.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#CodeHookInterfaceVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CodeHookSpecification": {
      "type": "structure",
      "members": {
        "lambdaCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#LambdaCodeHook",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about code hooks that Amazon Lex calls during a\n         conversation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionKeyValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#ConditionKey"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#ConditionValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#ConditionOperator"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#ConditionKeyValueMap"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionOperator": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConfidenceThreshold": {
      "type": "double",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelsv2#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lexmodelsv2#ContextTimeToLiveInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 5,
          "max": 86400
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ContextTurnsToLive": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConversationLogSettings": {
      "type": "structure",
      "members": {
        "textLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#TextLogSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs settings for logging text and metadata.</p>"
          }
        },
        "audioLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#AudioLogSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 settings for logging audio to an S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures conversation logging that saves audio, text, and metadata\n         for the conversations with your users.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Lex conversational bot. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for the specified version of a bot. Use an alias to\n         enable you to change the version of a bot without updating applications\n         that use the bot.</p>\n         <p>For example, you can create an alias called \"PROD\" that your\n         applications use to call the Amazon Lex bot. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botaliases",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAliasRequest": {
      "type": "structure",
      "members": {
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The alias to create. The name must be unique for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias. Use this description to help identify\n         the alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that this alias points to. You can use the\n             operation to change the bot\n         version associated with the alias.</p>"
          }
        },
        "botAliasLocaleSettings": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>Maps configuration information to a specific locale. You can use\n         this parameter to specify a specific Lambda function to run different\n         functions in different locales.</p>"
          }
        },
        "conversationLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#ConversationLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Lex logs text and audio for a conversation with\n         the bot. When you enable conversation logs, text logs store text input,\n         transcripts of audio input, and associated metadata in Amazon CloudWatch Logs. Audio\n         logs store audio input in Amazon S3.</p>"
          }
        },
        "sentimentAnalysisSettings": {
          "target": "com.amazonaws.lexmodelsv2#SentimentAnalysisSettings"
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot that the alias applies to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the bot alias. You can only add tags when\n         you create an alias, you can't use the <code>UpdateBotAlias</code>\n         operation to update the tags on a bot alias. To update tags, use the\n            <code>TagResource</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAliasResponse": {
      "type": "structure",
      "members": {
        "botAliasId": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot alias.</p>"
          }
        },
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the bot alias.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description specified for the bot alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot associated with this alias.</p>"
          }
        },
        "botAliasLocaleSettings": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for a specific locale.</p>"
          }
        },
        "conversationLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#ConversationLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>The conversation log settings specified for the alias.</p>"
          }
        },
        "sentimentAnalysisSettings": {
          "target": "com.amazonaws.lexmodelsv2#SentimentAnalysisSettings"
        },
        "botAliasStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the alias. The alias is first put into the\n            <code>Creating</code> state. When the alias is ready to be used, it\n         is put into the <code>Available</code> state. You can use the\n            <code>DescribeBotAlias</code> operation to get the current state of\n         an alias.</p>"
          }
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot that this alias applies to.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A Unix timestamp indicating the date and time that the bot alias was\n         created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the bot alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocale": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotLocaleRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotLocaleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a locale in the bot. The locale contains the intents and\n         slot types that the bot uses in conversations with users in the\n         specified language and locale. You must add a locale to a bot before\n         you can add intents and slot types to the bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocaleRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to create the locale for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to create the locale for. This can only be\n         the draft version of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot locale. Use this to help identify the bot\n         locale in lists.</p>"
          }
        },
        "nluIntentConfidenceThreshold": {
          "target": "com.amazonaws.lexmodelsv2#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>Determines the threshold where Amazon Lex will insert the\n            <code>AMAZON.FallbackIntent</code>,\n            <code>AMAZON.KendraSearchIntent</code>, or both when returning\n         alternative intents. <code>AMAZON.FallbackIntent</code> and\n            <code>AMAZON.KendraSearchIntent</code> are only inserted if they are\n         configured for the bot.</p>\n         <p>For example, suppose a bot is configured with the confidence\n         threshold of 0.80 and the <code>AMAZON.FallbackIntent</code>. Amazon Lex\n         returns three alternative intents with the following confidence scores:\n         IntentA (0.70), IntentB (0.60), IntentC (0.50). The response from the\n         PostText operation would be:</p>\n         <ul>\n            <li>\n               <p>AMAZON.FallbackIntent</p>\n            </li>\n            <li>\n               <p>IntentA</p>\n            </li>\n            <li>\n               <p>IntentB</p>\n            </li>\n            <li>\n               <p>IntentC</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "voiceSettings": {
          "target": "com.amazonaws.lexmodelsv2#VoiceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interaction with the\n         user.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocaleResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The specified bot identifier.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The specified bot version.</p>"
          }
        },
        "localeName": {
          "target": "com.amazonaws.lexmodelsv2#LocaleName",
          "traits": {
            "smithy.api#documentation": "<p>The specified locale name.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The specified locale identifier.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The specified description of the bot locale.</p>"
          }
        },
        "nluIntentConfidenceThreshold": {
          "target": "com.amazonaws.lexmodelsv2#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>The specified confidence threshold for inserting the\n            <code>AMAZON.FallbackIntent</code> and\n            <code>AMAZON.KendraSearchIntent</code> intents.</p>"
          }
        },
        "voiceSettings": {
          "target": "com.amazonaws.lexmodelsv2#VoiceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interaction with the\n         user.</p>"
          }
        },
        "botLocaleStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot.</p>\n         <p>When the status is <code>Creating</code> the bot locale is being\n         configured. When the status is <code>Building</code> Amazon Lex is building\n         the bot for testing and use.</p>\n         <p>If the status of the bot is <code>ReadyExpressTesting</code>, you\n         can test the bot using the exact utterances specified in the bots'\n         intents. When the bot is ready for full testing or to run, the status\n         is <code>Built</code>.</p>\n         <p>If there was a problem with building the bot, the status is\n            <code>Failed</code>. If the bot was saved but not built, the status\n         is <code>NotBuilt</code>.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp specifying the date and time that the bot locale was\n         created.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotRequest": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. The bot name must be unique in the account that\n         creates the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot. It appears in lists to help you identify a\n         particular bot.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.lexmodelsv2#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role that has permission to\n         access the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "dataPrivacy": {
          "target": "com.amazonaws.lexmodelsv2#DataPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>Provides information on additional privacy protections Amazon Lex should\n         use with the bot's data.</p>",
            "smithy.api#required": {}
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelsv2#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The time, in seconds, that Amazon Lex should keep information about a\n         user's conversation with the bot. </p>\n         <p>A user interaction remains active for the amount of time specified.\n         If no conversation occurs during this time, the session expires and\n         Amazon Lex deletes any data provided before the timeout.</p>\n         <p>You can specify between 60 (1 minute) and 86,400 (24 hours)\n         seconds.</p>",
            "smithy.api#required": {}
          }
        },
        "botTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the bot. You can only add tags when you\n         create a bot. You can't use the <code>UpdateBot</code> operation to\n         update tags. To update tags, use the <code>TagResource</code>\n         operation.</p>"
          }
        },
        "testBotAliasTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the test alias for a bot. You can only add\n         tags when you create a bot. You can't use the <code>UpdateAlias</code>\n         operation to update tags. To update tags on the test alias, use the\n            <code>TagResource</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a particular bot. You use this to identify\n         the bot when you call other Amazon Lex API operations.</p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the bot.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description specified for the bot.</p>"
          }
        },
        "roleArn": {
          "target": "com.amazonaws.lexmodelsv2#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The IAM role specified for the bot.</p>"
          }
        },
        "dataPrivacy": {
          "target": "com.amazonaws.lexmodelsv2#DataPrivacy",
          "traits": {
            "smithy.api#documentation": "<p>The data privacy settings specified for the bot.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelsv2#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The session idle time specified for the bot.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>Shows the current status of the bot. The bot is first in the\n            <code>Creating</code> status. Once the bot is read for use, it\n         changes to the <code>Available</code> status. After the bot is created,\n         you can use the <code>Draft</code> version of the bot.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating the date and time that the bot was\n         created.</p>"
          }
        },
        "botTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the bot.</p>"
          }
        },
        "testBotAliasTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the test alias for the bot.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the bot based on the <code>DRAFT</code>\n         version. If the <code>DRAFT</code> version of this resource hasn't\n         changed since you created the last version, Amazon Lex doesn't create a new\n         version, it returns the last created version.</p>\n         <p>When you create the first version of a bot, Amazon Lex sets the version\n         to 1. Subsequent versions increment by 1.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotVersionRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to create the version for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the version. Use the description to help identify\n         the version in lists.</p>"
          }
        },
        "botVersionLocaleSpecification": {
          "target": "com.amazonaws.lexmodelsv2#BotVersionLocaleSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the locales that Amazon Lex adds to this version. You can\n         choose the <code>Draft</code> version or any other previously published\n         version for each locale. When you specify a source version, the locale\n         data is copied from the source version to the new version.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotVersionResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The bot identifier specified in the request.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version specified in the request.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version number assigned to the version.</p>"
          }
        },
        "botVersionLocaleSpecification": {
          "target": "com.amazonaws.lexmodelsv2#BotVersionLocaleSpecification",
          "traits": {
            "smithy.api#documentation": "<p>The source versions used for each locale in the new version.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>When you send a request to create or update a bot, Amazon Lex sets the\n         status response element to <code>Creating</code>. After Amazon Lex builds\n         the bot, it sets status to <code>Available</code>. If Amazon Lex can't build\n         the bot, it sets status to <code>Failed</code>.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the version was\n         created.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateExport": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateExportRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateExportResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a zip archive containing the contents of a bot or a bot\n         locale. The archive contains a directory structure that contains JSON\n         files that define the bot.</p>\n         <p>You can create an archive that contains the complete definition of a\n         bot, or you can specify that the archive contain only the definition of\n         a single bot locale.</p>\n         <p>For more information about exporting bots, and about the structure\n         of the export archive, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/importing-exporting.html\"> Importing and\n            exporting bots </a>\n         </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/exports",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateExportRequest": {
      "type": "structure",
      "members": {
        "resourceSpecification": {
          "target": "com.amazonaws.lexmodelsv2#ExportResourceSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of resource to export, either a bot or a bot\n         locale. You can only specify one type of resource to export.</p>",
            "smithy.api#required": {}
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.lexmodelsv2#ImportExportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The file format of the bot or bot locale definition files.</p>",
            "smithy.api#required": {}
          }
        },
        "filePassword": {
          "target": "com.amazonaws.lexmodelsv2#ImportExportFilePassword",
          "traits": {
            "smithy.api#documentation": "<p>An password to use to encrypt the exported archive. Using a password\n         is optional, but you should encrypt the archive to protect the data in\n         transit between Amazon Lex and your local computer.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateExportResponse": {
      "type": "structure",
      "members": {
        "exportId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>An identifier for a specific request to create an export.</p>"
          }
        },
        "resourceSpecification": {
          "target": "com.amazonaws.lexmodelsv2#ExportResourceSpecification",
          "traits": {
            "smithy.api#documentation": "<p>A description of the type of resource that was exported, either a\n         bot or a bot locale.</p>"
          }
        },
        "fileFormat": {
          "target": "com.amazonaws.lexmodelsv2#ImportExportFileFormat",
          "traits": {
            "smithy.api#documentation": "<p>The file format used for the bot or bot locale definition\n         files.</p>"
          }
        },
        "exportStatus": {
          "target": "com.amazonaws.lexmodelsv2#ExportStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the export. When the status is <code>Completed</code>,\n         you can use the  operation to get\n         the pre-signed S3 URL link to your exported bot or bot locale.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the request to export a bot was\n         created.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateIntent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateIntentRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateIntentResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an intent.</p>\n         <p>To define the interaction between the user and your bot, you define\n         one or more intents. For example, for a pizza ordering bot you would\n         create an <code>OrderPizza</code> intent.</p>\n         <p>When you create an intent, you must provide a name. You can\n         optionally provide the following:</p>\n         <ul>\n            <li>\n               <p>Sample utterances. For example, \"I want to order a pizza\" and\n               \"Can I order a pizza.\" You can't provide utterances for built-in\n               intents.</p>\n            </li>\n            <li>\n               <p>Information to be gathered. You specify slots for the\n               information that you bot requests from the user. You can specify\n               standard slot types, such as date and time, or custom slot types\n               for your application.</p>\n            </li>\n            <li>\n               <p>How the intent is fulfilled. You can provide a Lambda function\n               or configure the intent to return the intent information to your\n               client application. If you use a Lambda function, Amazon Lex invokes\n               the function when all of the intent information is\n               available.</p>\n            </li>\n            <li>\n               <p>A confirmation prompt to send to the user to confirm an\n               intent. For example, \"Shall I order your pizza?\"</p>\n            </li>\n            <li>\n               <p>A conclusion statement to send to the user after the intent is\n               fulfilled. For example, \"I ordered your pizza.\"</p>\n            </li>\n            <li>\n               <p>A follow-up prompt that asks the user for additional activity.\n               For example, \"Do you want a drink with your pizza?\"</p>\n            </li>\n         </ul>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateIntentRequest": {
      "type": "structure",
      "members": {
        "intentName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent. Intent names must be unique in the locale\n         that contains the intent and cannot match the name of any built-in\n         intent.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the intent. Use the description to help identify\n         the intent in lists.</p>"
          }
        },
        "parentIntentSignature": {
          "target": "com.amazonaws.lexmodelsv2#IntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the built-in intent to base this intent\n         on.</p>"
          }
        },
        "sampleUtterances": {
          "target": "com.amazonaws.lexmodelsv2#SampleUtterancesList",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings that a user might say to signal the intent. For\n         example, \"I want a pizza\", or \"I want a {PizzaSize} pizza\". </p>\n         <p>In an utterance, slot names are enclosed in curly braces (\"{\", \"}\")\n         to indicate where they should be displayed in the utterance shown to\n         the user.. </p>"
          }
        },
        "dialogCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#DialogCodeHookSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that Amazon Lex invokes the alias Lambda function for each user\n         input. You can invoke this Lambda function to personalize user\n         interaction.</p>\n         <p>For example, suppose that your bot determines that the user's name\n         is John. You Lambda function might retrieve John's information from a\n         backend database and prepopulate some of the values. For example, if\n         you find that John is gluten intolerant, you might set the\n         corresponding intent slot, <code>glutenIntolerant</code> to\n            <code>true</code>. You might find John's phone number and set the\n         corresponding session attribute.</p>"
          }
        },
        "fulfillmentCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#FulfillmentCodeHookSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies that Amazon Lex invokes the alias Lambda function when the\n         intent is ready for fulfillment. You can invoke this function to\n         complete the bot's transaction with the user.</p>\n         <p>For example, in a pizza ordering bot, the Lambda function can look up\n         the closest pizza restaurant to the customer's location and then place\n         an order on the customer's behalf.</p>"
          }
        },
        "intentConfirmationSetting": {
          "target": "com.amazonaws.lexmodelsv2#IntentConfirmationSetting",
          "traits": {
            "smithy.api#documentation": "<p>Provides prompts that Amazon Lex sends to the user to confirm the\n         completion of an intent. If the user answers \"no,\" the settings contain\n         a statement that is sent to the user to end the intent.</p>"
          }
        },
        "intentClosingSetting": {
          "target": "com.amazonaws.lexmodelsv2#IntentClosingSetting",
          "traits": {
            "smithy.api#documentation": "<p>Sets the response that Amazon Lex sends to the user when the intent is\n         closed.</p>"
          }
        },
        "inputContexts": {
          "target": "com.amazonaws.lexmodelsv2#InputContextsList",
          "traits": {
            "smithy.api#documentation": "<p>A list of contexts that must be active for this intent to be\n         considered by Amazon Lex.</p>\n         <p>When an intent has an input context list, Amazon Lex only considers using\n         the intent in an interaction with the user when the specified contexts\n         are included in the active context list for the session. If the\n         contexts are not active, then Amazon Lex will not use the intent.</p>\n         <p>A context can be automatically activated using the\n            <code>outputContexts</code> property or it can be set at\n         runtime.</p>\n         <p> For example, if there are two intents with different input contexts\n         that respond to the same utterances, only the intent with the active\n         context will respond.</p>\n         <p>An intent may have up to 5 input contexts. If an intent has multiple\n         input contexts, all of the contexts must be active to consider the\n         intent.</p>"
          }
        },
        "outputContexts": {
          "target": "com.amazonaws.lexmodelsv2#OutputContextsList",
          "traits": {
            "smithy.api#documentation": "<p>A lists of contexts that the intent activates when it is\n         fulfilled.</p>\n         <p>You can use an output context to indicate the intents that Amazon Lex\n         should consider for the next turn of the conversation with a customer. </p>\n         <p>When you use the <code>outputContextsList</code> property, all of\n         the contexts specified in the list are activated when the intent is\n         fulfilled. You can set up to 10 output contexts. You can also set the\n         number of conversation turns that the context should be active, or the\n         length of time that the context should be active.</p>"
          }
        },
        "kendraConfiguration": {
          "target": "com.amazonaws.lexmodelsv2#KendraConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information required to use the\n            <code>AMAZON.KendraSearchIntent</code> intent to connect to an Amazon Kendra\n         index. The <code>AMAZON.KendraSearchIntent</code> intent is called when\n         Amazon Lex can't determine another intent to invoke.</p>"
          }
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot associated with this intent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the version of the bot associated with this\n         intent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale where this intent is used.\n         All of the bots, slot types, and slots used by the intent must have the\n         same locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateIntentResponse": {
      "type": "structure",
      "members": {
        "intentId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the intent.</p>"
          }
        },
        "intentName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the intent.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description specified for the intent.</p>"
          }
        },
        "parentIntentSignature": {
          "target": "com.amazonaws.lexmodelsv2#IntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>The signature of the parent intent specified for the intent.</p>"
          }
        },
        "sampleUtterances": {
          "target": "com.amazonaws.lexmodelsv2#SampleUtterancesList",
          "traits": {
            "smithy.api#documentation": "<p>The sample utterances specified for the intent.</p>"
          }
        },
        "dialogCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#DialogCodeHookSettings",
          "traits": {
            "smithy.api#documentation": "<p>The dialog Lambda function specified for the intent.</p>"
          }
        },
        "fulfillmentCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#FulfillmentCodeHookSettings",
          "traits": {
            "smithy.api#documentation": "<p>The fulfillment Lambda function specified for the intent.</p>"
          }
        },
        "intentConfirmationSetting": {
          "target": "com.amazonaws.lexmodelsv2#IntentConfirmationSetting",
          "traits": {
            "smithy.api#documentation": "<p>The confirmation setting specified for the intent.</p>"
          }
        },
        "intentClosingSetting": {
          "target": "com.amazonaws.lexmodelsv2#IntentClosingSetting",
          "traits": {
            "smithy.api#documentation": "<p>The closing setting specified for the intent.</p>"
          }
        },
        "inputContexts": {
          "target": "com.amazonaws.lexmodelsv2#InputContextsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of input contexts specified for the intent.</p>"
          }
        },
        "outputContexts": {
          "target": "com.amazonaws.lexmodelsv2#OutputContextsList",
          "traits": {
            "smithy.api#documentation": "<p>The list of output contexts specified for the intent.</p>"
          }
        },
        "kendraConfiguration": {
          "target": "com.amazonaws.lexmodelsv2#KendraConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration for searching a Amazon Kendra index specified for the\n         intent.</p>"
          }
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot associated with the intent.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the version of the bot associated with the\n         intent.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The locale that the intent is specified to use.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the intent was created.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new resource policy with the specified policy\n         statements.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/policy/{resourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.lexmodelsv2#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bot or bot alias that the\n         resource policy is attached to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "policy": {
          "target": "com.amazonaws.lexmodelsv2#Policy",
          "traits": {
            "smithy.api#documentation": "<p>A resource policy to add to the resource. The policy is a JSON\n         structure that contains one or more statements that define the policy.\n         The policy must follow the IAM syntax. For more information about the\n         contents of a JSON policy document, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies.html\"> IAM JSON policy\n            reference </a>. </p>\n         <p>If the policy isn't valid, Amazon Lex returns a validation\n         exception.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateResourcePolicyResponse": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.lexmodelsv2#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bot or bot alias that the\n         resource policy was attached to.</p>"
          }
        },
        "revisionId": {
          "target": "com.amazonaws.lexmodelsv2#RevisionId",
          "traits": {
            "smithy.api#documentation": "<p>The current revision of the resource policy. Use the revision ID to\n         make sure that you are updating the most current version of a resource\n         policy when you add a policy statement to a resource, delete a\n         resource, or update a resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateResourcePolicyStatement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateResourcePolicyStatementRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateResourcePolicyStatementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a new resource policy statement to a bot or bot alias. If a\n         resource policy exists, the statement is added to the current resource\n         policy. If a policy doesn't exist, a new policy is created.</p>\n         <p>You can't create a resource policy statement that allows\n         cross-account access.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/policy/{resourceArn}/statements",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateResourcePolicyStatementRequest": {
      "type": "structure",
      "members": {
        "resourceArn": {
          "target": "com.amazonaws.lexmodelsv2#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bot or bot alias that the\n         resource policy is attached to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "statementId": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the statement. The ID is the same as the\n            <code>Sid</code> IAM property. The statement name must be unique\n         within the policy. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_sid.html\">IAM\n            JSON policy elements: Sid</a>. </p>",
            "smithy.api#required": {}
          }
        },
        "effect": {
          "target": "com.amazonaws.lexmodelsv2#Effect",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the statement allows or denies access to the\n         resource.</p>",
            "smithy.api#required": {}
          }
        },
        "principal": {
          "target": "com.amazonaws.lexmodelsv2#PrincipalList",
          "traits": {
            "smithy.api#documentation": "<p>An IAM principal, such as an IAM users, IAM roles, or AWS services\n         that is allowed or denied access to a resource. For more information,\n         see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">AWS JSON policy elements: Principal</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "action": {
          "target": "com.amazonaws.lexmodelsv2#OperationList",
          "traits": {
[...]
