{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lexmodelbuildingservice#AWSDeepSenseModelBuildingService": {
      "type": "service",
      "version": "2017-04-19",
      "operations": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociation"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteUtterances"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliases"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociation"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociations"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBots"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinIntents"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinSlotTypes"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetExport"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetImport"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntents"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntentVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetMigration"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetMigrations"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotTypes"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotTypeVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetUtterancesView"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#StartImport"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#StartMigration"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#TagResource"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lex Model Building Service",
          "arnNamespace": "lex",
          "cloudFormationName": "LexModelBuildingService",
          "cloudTrailEventSource": "lexmodelbuildingservice.amazonaws.com",
          "endpointPrefix": "models.lex"
        },
        "aws.auth#sigv4": {
          "name": "lex"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Lex Build-Time Actions</fullname>\n         <p> Amazon Lex is an AWS service for building conversational voice and text\n      interfaces. Use these actions to create, update, and delete conversational\n      bots for new and existing client applications. </p>",
        "smithy.api#title": "Amazon Lex Model Building Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://models.lex-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://models-fips.lex.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [
                                {
                                  "fn": "stringEquals",
                                  "argv": [
                                    "aws-us-gov",
                                    {
                                      "fn": "getAttr",
                                      "argv": [
                                        {
                                          "ref": "PartitionResult"
                                        },
                                        "name"
                                      ]
                                    }
                                  ]
                                }
                              ],
                              "endpoint": {
                                "url": "https://models-fips.lex.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            },
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://models.lex-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://models.lex.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://models.lex.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models-fips.lex.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://models.lex.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelbuildingservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Your IAM user or role does not have permission to call the Amazon Lex V2 APIs\n      required to migrate your bot.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AliasNameOrListAll": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(-|^([A-Za-z]_?)+$)$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelbuildingservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not well formed. For example, a value is invalid or\n      a required field is missing. Check the field values, and try\n      again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Blob": {
      "type": "blob"
    },
    "com.amazonaws.lexmodelbuildingservice#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.lexmodelbuildingservice#BotAliasMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Lex bot to which the alias points.</p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot to which the alias points.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was updated. When you create a\n      resource, the creation date and last updated date are the same.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was created.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the bot alias.</p>"
          }
        },
        "conversationLogs": {
          "target": "com.amazonaws.lexmodelbuildingservice#ConversationLogsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Settings that determine how Amazon Lex uses conversation logs for the\n      alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a bot alias.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotAliasMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotAliasMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelAssociation": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association between the bot and the channel.\n    </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A text description of the association you are creating. </p>"
          }
        },
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which\n      this association is being made. </p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot to which this association is being made. </p>\n         <note>\n            <p>Currently, Amazon Lex supports associations with Facebook and Slack,\n        and Twilio.</p>\n\n         </note>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the association between the Amazon Lex bot and the channel\n      was created. </p>"
          }
        },
        "type": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of association by indicating the type of channel\n      being established between the Amazon Lex bot and the external messaging\n      platform.</p>"
          }
        },
        "botConfiguration": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to communicate with the messaging\n      platform. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot channel. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATED</code> - The channel has been created and is\n          ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Channel creation is in\n          progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - There was an error creating the channel.\n          For information about the reason for the failure, see the\n            <code>failureReason</code> field.</p>\n            </li>\n         </ul>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the\n      reason that it failed to create the association.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an association between an Amazon Lex bot and an external\n      messaging platform.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotChannelAssociation"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotMetadata": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was updated. When you create a bot, the\n      creation date and last updated date are the same. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was created.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot. For a new bot, the version is always\n        <code>$LATEST</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a bot. .</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 50
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#Version"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadata": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the built-in intent. To find the signature\n      for an intent, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/standard-intents\">Standard Built-in Intents</a> in the <i>Alexa Skills\n        Kit</i>.</p>"
          }
        },
        "supportedLocales": {
          "target": "com.amazonaws.lexmodelbuildingservice#LocaleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the locales that the intent\n      supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides metadata for a built-in intent.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature": {
      "type": "string"
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A list of the slots defined for the intent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a slot used in a built-in\n      intent.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlot"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadata": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the built-in slot type. To find the\n      signature for a slot type, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills\n        Kit</i>.</p>"
          }
        },
        "supportedLocales": {
          "target": "com.amazonaws.lexmodelbuildingservice#LocaleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of target locales for the slot. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a built in slot type.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeSignature": {
      "type": "string"
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelConfigurationMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelbuildingservice#String"
      },
      "value": {
        "target": "com.amazonaws.lexmodelbuildingservice#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Facebook",
            "name": "FACEBOOK"
          },
          {
            "value": "Slack",
            "name": "SLACK"
          },
          {
            "value": "Twilio-Sms",
            "name": "TWILIO_SMS"
          },
          {
            "value": "Kik",
            "name": "KIK"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CodeHook": {
      "type": "structure",
      "members": {
        "uri": {
          "target": "com.amazonaws.lexmodelbuildingservice#LambdaARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function.</p>",
            "smithy.api#required": {}
          }
        },
        "messageVersion": {
          "target": "com.amazonaws.lexmodelbuildingservice#MessageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the request-response that you want Amazon Lex to use to\n      invoke your Lambda function. For more information, see <a>using-lambda</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a Lambda function that verifies requests to a bot or\n      fulfills the user's request to a bot..</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConfidenceThreshold": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelbuildingservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> There was a conflict processing the request. Try your request\n      again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PlainText",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "SSML",
            "name": "SSML"
          },
          {
            "value": "CustomPayload",
            "name": "CUSTOM_PAYLOAD"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContextTimeToLiveInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 5,
          "max": 86400
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContextTurnsToLive": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConversationLogsRequest": {
      "type": "structure",
      "members": {
        "logSettings": {
          "target": "com.amazonaws.lexmodelbuildingservice#LogSettingsRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The settings for your conversation logs. You can log the conversation\n      text, conversation audio, or both.</p>",
            "smithy.api#required": {}
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.lexmodelbuildingservice#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to write\n      to your CloudWatch Logs for text logs and your S3 bucket for audio logs.\n      If audio encryption is enabled, this role also provides access permission\n      for the AWS KMS key used for encrypting audio logs. For more information,\n      see <a href=\"https://docs.aws.amazon.com/lex/latest/dg/conversation-logs-role-and-policy.html\">Creating an\n        IAM Role and Policy for Conversation Logs</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the settings needed for conversation logs.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConversationLogsResponse": {
      "type": "structure",
      "members": {
        "logSettings": {
          "target": "com.amazonaws.lexmodelbuildingservice#LogSettingsResponseList",
          "traits": {
            "smithy.api#documentation": "<p>The settings for your conversation logs. You can log text, audio, or\n      both.</p>"
          }
        },
        "iamRoleArn": {
          "target": "com.amazonaws.lexmodelbuildingservice#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to write your logs\n      to CloudWatch Logs or an S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about conversation log settings.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Count": {
      "type": "integer"
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the bot based on the <code>$LATEST</code>\n      version. If the <code>$LATEST</code> version of this resource hasn't\n      changed since you created the last version, Amazon Lex doesn't create a new\n      version. It returns the last created version.</p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of the bot.\n        You can't update the numbered versions that you create with the\n          <code>CreateBotVersion</code> operation.</p>\n         </note>\n         <p> When you create the first version of a bot, Amazon Lex sets the version\n      to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n         <p> This operation requires permission for the\n        <code>lex:CreateBotVersion</code> action. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bots/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that you want to create a new version of. The\n      name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies a specific revision of the <code>$LATEST</code> version\n      of the bot. If you specify a checksum and the <code>$LATEST</code> version\n      of the bot has a different checksum, a\n        <code>PreconditionFailedException</code> exception is returned and Amazon Lex\n      doesn't publish a new version. If you don't specify a checksum, Amazon Lex\n      publishes the <code>$LATEST</code> version.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot.</p>"
          }
        },
        "intents": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Intent</code> objects. For more information, see\n        <a>PutBot</a>.</p>"
          }
        },
        "clarificationPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>The message that Amazon Lex uses when it doesn't understand the user's\n      request. For more information, see <a>PutBot</a>. </p>"
          }
        },
        "abortStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>The message that Amazon Lex uses to cancel a conversation. For more\n      information, see <a>PutBot</a>.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#Status",
          "traits": {
            "smithy.api#documentation": "<p> When you send a request to create or update a bot, Amazon Lex sets the\n        <code>status</code> response element to <code>BUILDING</code>. After\n      Amazon Lex builds the bot, it sets <code>status</code> to <code>READY</code>.\n      If Amazon Lex can't build the bot, it sets <code>status</code> to\n        <code>FAILED</code>. Amazon Lex returns the reason for the failure in the\n        <code>failureReason</code> response element. </p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the\n      reason that it failed to build the bot.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the <code>$LATEST</code> version of this bot was\n      updated. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the bot version was created.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelbuildingservice#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time in seconds that Amazon Lex retains the data gathered in\n      a conversation. For more information, see <a>PutBot</a>.</p>"
          }
        },
        "voiceId": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interactions\n      with the user.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum identifying the version of the bot that was\n      created.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot. </p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.lexmodelbuildingservice#Locale",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the target locale for the bot. </p>"
          }
        },
        "childDirected": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>For each Amazon Lex bot created with the Amazon Lex Model Building Service,\n      you must specify whether your use of Amazon Lex is related to a website,\n      program, or other application that is directed or targeted, in whole or in\n      part, to children under age 13 and subject to the Children's Online\n      Privacy Protection Act (COPPA) by specifying <code>true</code> or\n        <code>false</code> in the <code>childDirected</code> field. By\n      specifying <code>true</code> in the <code>childDirected</code> field, you\n      confirm that your use of Amazon Lex <b>is</b> related\n      to a website, program, or other application that is directed or targeted,\n      in whole or in part, to children under age 13 and subject to COPPA. By\n      specifying <code>false</code> in the <code>childDirected</code> field, you\n      confirm that your use of Amazon Lex <b>is not</b>\n      related to a website, program, or other application that is directed or\n      targeted, in whole or in part, to children under age 13 and subject to\n      COPPA. You may not specify a default value for the\n        <code>childDirected</code> field that does not accurately reflect\n      whether your use of Amazon Lex is related to a website, program, or other\n      application that is directed or targeted, in whole or in part, to children\n      under age 13 and subject to COPPA.</p>\n         <p>If your use of Amazon Lex relates to a website, program, or other\n      application that is directed in whole or in part, to children under age\n      13, you must obtain any required verifiable parental consent under COPPA.\n      For information regarding the use of Amazon Lex in connection with websites,\n      programs, or other applications that are directed or targeted, in whole or\n      in part, to children under age 13, see the <a href=\"https://aws.amazon.com/lex/faqs#data-security\">Amazon Lex FAQ.</a>\n         </p>"
          }
        },
        "enableModelImprovements": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the bot uses accuracy improvements.\n        <code>true</code> indicates that the bot is using the improvements,\n      otherwise, <code>false</code>.</p>"
          }
        },
        "detectSentiment": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether utterances entered by the user should be sent to\n      Amazon Comprehend for sentiment analysis.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of an intent based on the\n        <code>$LATEST</code> version of the intent. If the <code>$LATEST</code>\n      version of this intent hasn't changed since you last updated it, Amazon Lex\n      doesn't create a new version. It returns the last version you\n      created.</p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of the\n        intent. You can't update the numbered versions that you create with the\n          <code>CreateIntentVersion</code> operation.</p>\n         </note>\n         <p> When you create a version of an intent, Amazon Lex sets the version to\n      1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n         <p>This operation requires permissions to perform the\n        <code>lex:CreateIntentVersion</code> action. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/intents/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent that you want to create a new version of.\n      The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the <code>$LATEST</code> version of the intent that\n      should be used to create the new version. If you specify a checksum and\n      the <code>$LATEST</code> version of the intent has a different checksum,\n      Amazon Lex returns a <code>PreconditionFailedException</code> exception and\n      doesn't publish a new version. If you don't specify a checksum, Amazon Lex\n      publishes the <code>$LATEST</code> version.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the intent.</p>"
          }
        },
        "slots": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotList",
          "traits": {
            "smithy.api#documentation": "<p>An array of slot types that defines the information required to\n      fulfill the intent.</p>"
          }
        },
        "sampleUtterances": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentUtteranceList",
          "traits": {
            "smithy.api#documentation": "<p>An array of sample utterances configured for the intent. </p>"
          }
        },
        "confirmationPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>If defined, the prompt that Amazon Lex uses to confirm the user's\n      intent before fulfilling it. </p>"
          }
        },
        "rejectionStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>If the user answers \"no\" to the question defined in\n        <code>confirmationPrompt</code>, Amazon Lex responds with this statement to\n      acknowledge that the intent was canceled. </p>"
          }
        },
        "followUpPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#FollowUpPrompt",
          "traits": {
            "smithy.api#documentation": "<p>If defined, Amazon Lex uses this prompt to solicit additional user\n      activity after the intent is fulfilled. </p>"
          }
        },
        "conclusionStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>After the Lambda function specified in the\n        <code>fulfillmentActivity</code> field fulfills the intent, Amazon Lex\n      conveys this statement to the user. </p>"
          }
        },
        "dialogCodeHook": {
          "target": "com.amazonaws.lexmodelbuildingservice#CodeHook",
          "traits": {
            "smithy.api#documentation": "<p>If defined, Amazon Lex invokes this Lambda function for each user\n      input.</p>"
          }
        },
        "fulfillmentActivity": {
          "target": "com.amazonaws.lexmodelbuildingservice#FulfillmentActivity",
          "traits": {
            "smithy.api#documentation": "<p> Describes how the intent is fulfilled. </p>"
          }
        },
        "parentIntentSignature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a built-in intent.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the intent was updated. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the intent was created.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number assigned to the new version of the\n      intent.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the intent version created.</p>"
          }
        },
        "kendraConfiguration": {
          "target": "com.amazonaws.lexmodelbuildingservice#KendraConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information, if any, for connecting an Amazon Kendra\n      index with the <code>AMAZON.KendraSearchIntent</code> intent.</p>"
          }
        },
        "inputContexts": {
          "target": "com.amazonaws.lexmodelbuildingservice#InputContextList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>InputContext</code> objects that lists the contexts\n      that must be active for Amazon Lex to choose the intent in a conversation with\n      the user.</p>"
          }
        },
        "outputContexts": {
          "target": "com.amazonaws.lexmodelbuildingservice#OutputContextList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>OutputContext</code> objects that lists the contexts\n      that the intent activates when the intent is fulfilled.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of a slot type based on the\n        <code>$LATEST</code> version of the specified slot type. If the\n        <code>$LATEST</code> version of this resource has not changed since the\n      last version that you created, Amazon Lex doesn't create a new version. It\n      returns the last version that you created. </p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of a slot\n        type. You can't update the numbered versions that you create with the\n          <code>CreateSlotTypeVersion</code> operation.</p>\n         </note>\n\n         <p>When you create a version of a slot type, Amazon Lex sets the version to\n      1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n\n         <p>This operation requires permissions for the\n        <code>lex:CreateSlotTypeVersion</code> action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/slottypes/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type that you want to create a new version\n      for. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum for the <code>$LATEST</code> version of the slot type that\n      you want to publish. If you specify a checksum and the\n        <code>$LATEST</code> version of the slot type has a different checksum,\n      Amazon Lex returns a <code>PreconditionFailedException</code> exception and\n      doesn't publish the new version. If you don't specify a checksum, Amazon Lex\n      publishes the <code>$LATEST</code> version.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionResponse": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the slot type.</p>"
          }
        },
        "enumerationValues": {
          "target": "com.amazonaws.lexmodelbuildingservice#EnumerationValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>EnumerationValue</code> objects that defines the\n      values that the slot type can take.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the slot type was updated. When you create a\n      resource, the creation date and last update date are the same.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the slot type was created.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version assigned to the new slot type version. </p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the <code>$LATEST</code> version of the slot\n      type.</p>"
          }
        },
        "valueSelectionStrategy": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotValueSelectionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The strategy that Amazon Lex uses to determine the value of the slot.\n      For more information, see <a>PutSlotType</a>.</p>"
          }
        },
        "parentSlotTypeSignature": {
          "target": "com.amazonaws.lexmodelbuildingservice#CustomOrBuiltinSlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The built-in slot type used a the parent of the slot type.</p>"
          }
        },
        "slotTypeConfigurations": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information that extends the parent built-in slot\n      type.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CustomOrBuiltinSlotTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^((AMAZON\\.)_?|[A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the bot, including the <code>$LATEST</code>\n      version. To delete a specific version of the bot, use the <a>DeleteBotVersion</a> operation. The <code>DeleteBot</code>\n      operation doesn't immediately remove the bot schema. Instead, it is marked\n      for deletion and removed later.</p>\n         <p>Amazon Lex stores utterances indefinitely for improving the ability of\n      your bot to respond to user inputs. These utterances are not removed when\n      the bot is deleted. To remove the utterances, use the <a>DeleteUtterances</a> operation.</p>\n         <p>If a bot has an alias, you can't delete it. Instead, the\n        <code>DeleteBot</code> operation returns a\n        <code>ResourceInUseException</code> exception that includes a reference\n      to the alias that refers to the bot. To remove the reference to the bot,\n      delete the alias. If you get the same exception again, delete the\n      referring alias until the <code>DeleteBot</code> operation is\n      successful.</p>\n\n         <p>This operation requires permissions for the\n        <code>lex:DeleteBot</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotAliasRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an alias for the specified bot. </p>\n         <p>You can't delete an alias that is used in the association between a\n      bot and a messaging channel. If an alias is used in a channel association,\n      the <code>DeleteBot</code> operation returns a\n        <code>ResourceInUseException</code> exception that includes a reference\n      to the channel association that refers to the bot. You can remove the\n      reference to the alias by deleting the channel association. If you get the\n      same exception again, delete the referring association until the\n        <code>DeleteBotAlias</code> operation is successful.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{botName}/aliases/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotAliasRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias to delete. The name is case sensitive.\n    </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that the alias points to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociationRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between an Amazon Lex bot and a messaging\n      platform.</p>\n         <p>This operation requires permission for the\n        <code>lex:DeleteBotChannelAssociation</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{botName}/aliases/{botAlias}/channels/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociationRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias that points to the specific version of the Amazon Lex bot to\n      which this association is being made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a bot. To delete all versions of a\n      bot, use the <a>DeleteBot</a> operation. </p>\n         <p>This operation requires permissions for the\n        <code>lex:DeleteBotVersion</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{name}/versions/{version}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to delete. You cannot delete the\n        <code>$LATEST</code> version of the bot. To delete the\n        <code>$LATEST</code> version, use the <a>DeleteBot</a>\n      operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the intent, including the\n        <code>$LATEST</code> version. To delete a specific version of the\n      intent, use the <a>DeleteIntentVersion</a> operation.</p>\n         <p> You can delete a version of an intent only if it is not\n      referenced. To delete an intent that is referred to in one or more bots\n      (see <a>how-it-works</a>), you must remove those references\n      first. </p>\n         <note>\n            <p> If you get the <code>ResourceInUseException</code> exception, it\n        provides an example reference that shows where the intent is referenced.\n        To remove the reference to the intent, either update the bot or delete\n        it. If you get the same exception when you attempt to delete the intent\n        again, repeat until the intent has no references and the call to\n          <code>DeleteIntent</code> is successful. </p>\n         </note>\n\n         <p> This operation requires permission for the\n        <code>lex:DeleteIntent</code> action. </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/intents/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of an intent. To delete all versions of\n      a intent, use the <a>DeleteIntent</a> operation. </p>\n         <p>This operation requires permissions for the\n        <code>lex:DeleteIntentVersion</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/intents/{name}/versions/{version}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the intent to delete. You cannot delete the\n        <code>$LATEST</code> version of the intent. To delete the\n        <code>$LATEST</code> version, use the <a>DeleteIntent</a>\n      operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the slot type, including the\n        <code>$LATEST</code> version. To delete a specific version of the slot\n      type, use the <a>DeleteSlotTypeVersion</a> operation.</p>\n         <p> You can delete a version of a slot type only if it is not\n      referenced. To delete a slot type that is referred to in one or more\n      intents, you must remove those references first. </p>\n         <note>\n            <p> If you get the <code>ResourceInUseException</code> exception,\n        the exception provides an example reference that shows the intent where\n        the slot type is referenced. To remove the reference to the slot type,\n        either update the intent or delete it. If you get the same exception\n        when you attempt to delete the slot type again, repeat until the slot\n        type has no references and the <code>DeleteSlotType</code> call is\n        successful. </p>\n         </note>\n         <p>This operation requires permission for the\n        <code>lex:DeleteSlotType</code> action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/slottypes/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersionRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a slot type. To delete all versions\n      of a slot type, use the <a>DeleteSlotType</a> operation. </p>\n         <p>This operation requires permissions for the\n        <code>lex:DeleteSlotTypeVersion</code> action.</p>",
[...]
