{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lexmodelsv2#AdvancedRecognitionSetting": {
      "type": "structure",
      "members": {
        "audioRecognitionStrategy": {
          "target": "com.amazonaws.lexmodelsv2#AudioRecognitionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>Enables using the slot values as a custom vocabulary for recognizing user utterances.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides settings that enable advanced recognition settings for slot values.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the utterance list.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListAggregatedUtterances</code> operation should return only\n         utterances that equal the specified value. Specify <code>CO</code> when\n         the <code>ListAggregatedUtterances</code> operation should return\n         utterances that contain the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters responses returned by the\n            <code>ListAggregatedUtterances</code> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterName": {
      "type": "enum",
      "members": {
        "Utterance": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Utterance"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilterOperator": {
      "type": "enum",
      "members": {
        "Contains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute": {
      "type": "enum",
      "members": {
        "HitCount": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HitCount"
          }
        },
        "MissedCount": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MissedCount"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The utterance attribute to sort by.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the aggregated utterances in ascending or\n         descending order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of utterances.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary": {
      "type": "structure",
      "members": {
        "utterance": {
          "target": "com.amazonaws.lexmodelsv2#Utterance",
          "traits": {
            "smithy.api#documentation": "<p>The text of the utterance. If the utterance was used with the\n            <code>RecognizeUtterance</code> operation, the text is the\n         transcription of the audio utterance.</p>"
          }
        },
        "hitCount": {
          "target": "com.amazonaws.lexmodelsv2#HitCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of times that the utterance was detected by Amazon Lex during\n         the time period. When an utterance is detected, it activates an intent\n         or a slot.</p>"
          }
        },
        "missedCount": {
          "target": "com.amazonaws.lexmodelsv2#MissedCount",
          "traits": {
            "smithy.api#documentation": "<p>The number of times that the utterance was missed by Amazon Lex An\n         utterance is missed when it doesn't activate an intent or slot.</p>"
          }
        },
        "utteranceFirstRecordedInAggregationDuration": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the utterance was first recorded in the time\n         window for aggregation. An utterance may have been sent to Amazon Lex before\n         that time, but only utterances within the time window are\n         counted.</p>"
          }
        },
        "utteranceLastRecordedInAggregationDuration": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The last date and time that an utterance was recorded in the time\n         window for aggregation. An utterance may be sent to Amazon Lex after that\n         time, but only utterances within the time window are counted.</p>"
          }
        },
        "containsDataFromDeletedResources": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Aggregated utterance data may contain utterances from versions of\n         your bot that have since been deleted. When the aggregated contains\n         this kind of data, this field is set to true.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information for aggregated utterances. The\n            <code>ListAggregatedUtterances</code> operations combines all\n         instances of the same utterance into a single aggregated\n         summary.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AggregatedUtterancesSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#AllowedInputTypes": {
      "type": "structure",
      "members": {
        "allowAudioInput": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether audio input is allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "allowDTMFInput": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether DTMF input is allowed.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the allowed input types.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AssociatedTranscript": {
      "type": "structure",
      "members": {
        "transcript": {
          "target": "com.amazonaws.lexmodelsv2#Transcript",
          "traits": {
            "smithy.api#documentation": "<p>The content of the transcript that meets the search filter criteria.\n         For the JSON format of the transcript, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/designing-output-format.html\">Output transcript\n            format</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object containing information that associates the recommended\n         intent/slot type with a conversation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AssociatedTranscriptFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#AssociatedTranscriptFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to use for filtering. The allowed names are\n         IntentId and SlotTypeId.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The values to use to filter the transcript.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters to search for the associated transcript.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AssociatedTranscriptFilterName": {
      "type": "enum",
      "members": {
        "IntentId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentId"
          }
        },
        "SlotTypeId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SlotTypeId"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AssociatedTranscriptFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AssociatedTranscriptFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AssociatedTranscriptList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AssociatedTranscript"
      }
    },
    "com.amazonaws.lexmodelsv2#AttachmentTitle": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AttachmentUrl": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 250
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AudioAndDTMFInputSpecification": {
      "type": "structure",
      "members": {
        "startTimeoutMs": {
          "target": "com.amazonaws.lexmodelsv2#TimeInMilliSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Time for which a bot waits before assuming that the customer isn't going to speak or press \n         a key. This timeout is shared between Audio and DTMF inputs.</p>",
            "smithy.api#required": {}
          }
        },
        "audioSpecification": {
          "target": "com.amazonaws.lexmodelsv2#AudioSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the settings on audio input.</p>"
          }
        },
        "dtmfSpecification": {
          "target": "com.amazonaws.lexmodelsv2#DTMFSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the settings on DTMF input.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the audio and DTMF input specification.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogDestination": {
      "type": "structure",
      "members": {
        "s3Bucket": {
          "target": "com.amazonaws.lexmodelsv2#S3BucketLogDestination",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket where the audio log files are stored. The IAM\n         role specified in the <code>roleArn</code> parameter of the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_CreateBot.html\">CreateBot</a> operation must have permission to write to this\n         bucket.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The location of audio log files collected when conversation logging\n         is enabled for a bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogSetting": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.lexmodelsv2#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Determines whether audio logging in enabled for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "destination": {
          "target": "com.amazonaws.lexmodelsv2#AudioLogDestination",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for logging audio of conversations between Amazon Lex and a\n         user. You specify whether to log audio and the Amazon S3 bucket where\n         the audio file is stored.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#AudioLogSettingsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#AudioLogSetting"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AudioRecognitionStrategy": {
      "type": "enum",
      "members": {
        "UseSlotValuesAsCustomVocabulary": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UseSlotValuesAsCustomVocabulary"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#AudioSpecification": {
      "type": "structure",
      "members": {
        "maxLengthMs": {
          "target": "com.amazonaws.lexmodelsv2#TimeInMilliSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Time for how long Amazon Lex waits before speech input is truncated and the speech \n         is returned to application.</p>",
            "smithy.api#required": {}
          }
        },
        "endTimeoutMs": {
          "target": "com.amazonaws.lexmodelsv2#TimeInMilliSeconds",
          "traits": {
            "smithy.api#documentation": "<p>Time for which a bot waits after the customer stops speaking to assume the \n         utterance is finished.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the audio input specifications.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BatchCreateCustomVocabularyItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#BatchCreateCustomVocabularyItemRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#BatchCreateCustomVocabularyItemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Batch create custom vocabulary item for the specified locale in the \n         specified bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchCreateCustomVocabularyItemRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to batch create the custom\n         vocabulary item for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The bot version of the bot to batch create the custom\n         vocabulary item for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique locale identifier of the bot to batch create the custom\n         vocabulary item for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customVocabularyItemList": {
          "target": "com.amazonaws.lexmodelsv2#CreateCustomVocabularyItemsList",
          "traits": {
            "smithy.api#documentation": "<p>The custom vocabulary item list of the bot to batch create the custom\n         vocabulary item for.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchCreateCustomVocabularyItemResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to batch create response for the custom\n         vocabulary item.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The bot version of the bot to batch create the custom\n         vocabulary item response for.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique locale identifier of the bot to batch create the custom\n         vocabulary item response for.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.lexmodelsv2#FailedCustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The errors of the action to batch create the custom\n         vocabulary item response for a bot.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lexmodelsv2#CustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The resources of the action to batch create the custom\n         vocabulary item response for a bot.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchDeleteCustomVocabularyItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#BatchDeleteCustomVocabularyItemRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#BatchDeleteCustomVocabularyItemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Batch delete custom vocabulary item for the specified locale in the \n         specified bot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchDeleteCustomVocabularyItemRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to batch delete request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to batch delete request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The locale identifier of the bot to batch delete request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customVocabularyItemList": {
          "target": "com.amazonaws.lexmodelsv2#DeleteCustomVocabularyItemsList",
          "traits": {
            "smithy.api#documentation": "<p>The custom vocabulary list to batch delete request for the custom\n         vocabulary item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchDeleteCustomVocabularyItemResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to batch delete response for the custom\n         vocabulary item.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to batch delete response for the custom\n         vocabulary item.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The locale identifier of the bot to batch delete response for the custom\n         vocabulary item.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.lexmodelsv2#FailedCustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The errors of the action to batch delete response for the custom\n         vocabulary item.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lexmodelsv2#CustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The resources of the action to batch delete response for the custom\n         vocabulary item.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchUpdateCustomVocabularyItem": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#BatchUpdateCustomVocabularyItemRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#BatchUpdateCustomVocabularyItemResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Batch update custom vocabulary item for the specified locale in the \n         specified bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchUpdateCustomVocabularyItemRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to the batch update request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The bot version of the bot to the batch update request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The locale identifier of the bot to the batch update request for the custom\n         vocabulary item.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "customVocabularyItemList": {
          "target": "com.amazonaws.lexmodelsv2#UpdateCustomVocabularyItemsList",
          "traits": {
            "smithy.api#documentation": "<p>The custom vocabulary item list of the bot to the batch update request for the custom\n         vocabulary item.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BatchUpdateCustomVocabularyItemResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot to the batch update response for the custom\n         vocabulary item.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The bot version of the bot to the batch update response for the custom\n         vocabulary item.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The locale identifier of the bot to the batch update response for the custom\n         vocabulary item.</p>"
          }
        },
        "errors": {
          "target": "com.amazonaws.lexmodelsv2#FailedCustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The errors of the action to batch update response for the custom\n         vocabulary item.</p>"
          }
        },
        "resources": {
          "target": "com.amazonaws.lexmodelsv2#CustomVocabularyItems",
          "traits": {
            "smithy.api#documentation": "<p>The resources of the action to batch update response for the custom\n         vocabulary item.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasHistoryEvent": {
      "type": "structure",
      "members": {
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was used in the event. </p>"
          }
        },
        "startDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event started.</p>"
          }
        },
        "endDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the event ended.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a record of an event that affects a bot alias. For example,\n         when the version of a bot that the alias points to changes.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasHistoryEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasHistoryEvent"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 10,
          "max": 10
        },
        "smithy.api#pattern": "^(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasLocaleSettings": {
      "type": "structure",
      "members": {
        "enabled": {
          "target": "com.amazonaws.lexmodelsv2#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>Determines whether the locale is enabled for the bot. If the value\n         is <code>false</code>, the locale isn't available for use.</p>",
            "smithy.api#required": {}
          }
        },
        "codeHookSpecification": {
          "target": "com.amazonaws.lexmodelsv2#CodeHookSpecification",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the Lambda function that should be used in the\n         locale.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies settings that are unique to a locale. For example, you can\n         use different Lambda function depending on the bot's locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#LocaleId"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettings"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasStatus": {
      "type": "enum",
      "members": {
        "Creating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "Available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "Deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasSummary": {
      "type": "structure",
      "members": {
        "botAliasId": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the bot alias. You can use this ID\n         to get detailed information about the alias using the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DescribeBotAlias.html\">DescribeBotAlias</a> operation.</p>"
          }
        },
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that the bot alias references.</p>"
          }
        },
        "botAliasStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the bot alias. If the status is\n            <code>Available</code>, the alias is ready for use.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot alias was\n         created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot alias was last\n         updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about bot aliases returned from the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotAliases.html\">ListBotAliases</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotAliasSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotAliasSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotExportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot assigned by Amazon Lex.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was exported. This will be either\n            <code>DRAFT</code> or the version number.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the identity of a the bot that was exported.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#BotFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#BotFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListBots</code> operation should return only aliases that\n         equal the specified value. Specify <code>CO</code> when the\n            <code>ListBots</code> operation should return aliases that contain\n         the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters the responses returned by the <code>ListBots</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilterName": {
      "type": "enum",
      "members": {
        "BotName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotName"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilterOperator": {
      "type": "enum",
      "members": {
        "Contains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotImportSpecification": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name that Amazon Lex should use for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "roleArn": {
          "target": "com.amazonaws.lexmodelsv2#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to build and run\n         the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "dataPrivacy": {
          "target": "com.amazonaws.lexmodelsv2#DataPrivacy",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelsv2#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The time, in seconds, that Amazon Lex should keep information about a\n         user's conversation with the bot. </p>\n         <p>A user interaction remains active for the amount of time specified.\n         If no conversation occurs during this time, the session expires and\n         Amazon Lex deletes any data provided before the timeout.</p>\n         <p>You can specify between 60 (1 minute) and 86,400 (24 hours)\n         seconds.</p>"
          }
        },
        "botTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the bot. You can only add tags when you\n         import a bot. You can't use the <code>UpdateBot</code> operation to\n         update tags. To update tags, use the <code>TagResource</code>\n         operation.</p>"
          }
        },
        "testBotAliasTags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the test alias for a bot. You can only add\n         tags when you import a bot. You can't use the <code>UpdateAlias</code>\n         operation to update tags. To update tags on the test alias, use the\n            <code>TagResource</code> operation.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot parameters required for importing a bot.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleExportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to create the locale for.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to export.</p>",
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale to export. The string must\n         match one of the locales in the bot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot locale parameters required for exporting a bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilter": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleFilterName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the field to filter the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "values": {
          "target": "com.amazonaws.lexmodelsv2#FilterValues",
          "traits": {
            "smithy.api#documentation": "<p>The value to use for filtering the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "operator": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleFilterOperator",
          "traits": {
            "smithy.api#documentation": "<p>The operator to use for the filter. Specify <code>EQ</code> when the\n            <code>ListBotLocales</code> operation should return only aliases\n         that equal the specified value. Specify <code>CO</code> when the\n            <code>ListBotLocales</code> operation should return aliases that\n         contain the specified value.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Filters responses returned by the <code>ListBotLocales</code>\n         operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilterName": {
      "type": "enum",
      "members": {
        "BotLocaleName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotLocaleName"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilterOperator": {
      "type": "enum",
      "members": {
        "Contains": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CO"
          }
        },
        "Equals": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EQ"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleFilters": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEvent": {
      "type": "structure",
      "members": {
        "event": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the event that occurred.</p>",
            "smithy.api#required": {}
          }
        },
        "eventDate": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the event occurred.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an event that occurred affecting the bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventDescription": {
      "type": "string"
    },
    "com.amazonaws.lexmodelsv2#BotLocaleHistoryEventsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleHistoryEvent"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleImportSpecification": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to import the locale to.</p>",
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to import the locale to. This can only be the\n            <code>DRAFT</code> version of the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported\n         languages</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "nluIntentConfidenceThreshold": {
          "target": "com.amazonaws.lexmodelsv2#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>Determines the threshold where Amazon Lex will insert the\n            <code>AMAZON.FallbackIntent</code>,\n            <code>AMAZON.KendraSearchIntent</code>, or both when returning\n         alternative intents. <code>AMAZON.FallbackIntent</code> and\n            <code>AMAZON.KendraSearchIntent</code> are only inserted if they are\n         configured for the bot. </p>\n         <p>For example, suppose a bot is configured with the confidence\n         threshold of 0.80 and the <code>AMAZON.FallbackIntent</code>. Amazon\n         Lex returns three alternative intents with the following confidence\n         scores: IntentA (0.70), IntentB (0.60), IntentC (0.50). The response\n         from the <code>PostText</code> operation would be:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>AMAZON.FallbackIntent</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentA</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentB</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>IntentC</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "voiceSettings": {
          "target": "com.amazonaws.lexmodelsv2#VoiceSettings"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the bot locale parameters required for importing a bot\n         locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSortAttribute": {
      "type": "enum",
      "members": {
        "BotLocaleName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotLocaleName"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The bot locale attribute to sort by.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to sort the bot locales in ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bot locales.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleStatus": {
      "type": "enum",
      "members": {
        "Creating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "Building": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Building"
          }
        },
        "Built": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Built"
          }
        },
        "ReadyExpressTesting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ReadyExpressTesting"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "NotBuilt": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NotBuilt"
          }
        },
        "Importing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Importing"
          }
        },
        "Processing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processing"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSummary": {
      "type": "structure",
      "members": {
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The language and locale of the bot locale.</p>"
          }
        },
        "localeName": {
          "target": "com.amazonaws.lexmodelsv2#LocaleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot locale.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot locale.</p>"
          }
        },
        "botLocaleStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot locale. When the status is\n            <code>Built</code> the locale is ready for use.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot locale was last\n         updated.</p>"
          }
        },
        "lastBuildSubmittedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot locale was last\n         built.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about bot locales returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotLocales.html\">ListBotLocales</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotLocaleSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotLocaleSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotRecommendationResultStatistics": {
      "type": "structure",
      "members": {
        "intents": {
          "target": "com.amazonaws.lexmodelsv2#IntentStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Statistical information about about the intents associated with the\n         bot recommendation results.</p>"
          }
        },
        "slotTypes": {
          "target": "com.amazonaws.lexmodelsv2#SlotTypeStatistics",
          "traits": {
            "smithy.api#documentation": "<p>Statistical information about the slot types associated with the bot\n         recommendation results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A statistical summary of the bot recommendation results.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotRecommendationResults": {
      "type": "structure",
      "members": {
        "botLocaleExportUrl": {
          "target": "com.amazonaws.lexmodelsv2#PresignedS3Url",
          "traits": {
            "smithy.api#documentation": "<p>The presigned URL link of the recommended bot definition.</p>"
          }
        },
        "associatedTranscriptsUrl": {
          "target": "com.amazonaws.lexmodelsv2#PresignedS3Url",
          "traits": {
            "smithy.api#documentation": "<p>The presigned url link of the associated transcript.</p>"
          }
        },
        "statistics": {
          "target": "com.amazonaws.lexmodelsv2#BotRecommendationResultStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The statistical summary of the bot recommendation results.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The object representing the URL of the bot definition, the URL of\n         the associated transcript, and a statistical summary of the bot\n         recommendation results.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotRecommendationStatus": {
      "type": "enum",
      "members": {
        "Processing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Processing"
          }
        },
        "Deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "Deleted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleted"
          }
        },
        "Downloading": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Downloading"
          }
        },
        "Updating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Updating"
          }
        },
        "Available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Stopping": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopping"
          }
        },
        "Stopped": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Stopped"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotRecommendationSummary": {
      "type": "structure",
      "members": {
        "botRecommendationStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotRecommendationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot recommendation.</p>\n         <p>If the status is Failed, then the reasons for the failure are listed\n         in the failureReasons field. </p>",
            "smithy.api#required": {}
          }
        },
        "botRecommendationId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot recommendation to be\n         updated.</p>",
            "smithy.api#required": {}
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot recommendation was\n         created.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the bot recommendation was\n         last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the bot recommendation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotRecommendationSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotRecommendationSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotSortAttribute": {
      "type": "enum",
      "members": {
        "BotName": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotName"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of bots.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can choose ascending or\n         descending.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bots.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotStatus": {
      "type": "enum",
      "members": {
        "Creating": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Creating"
          }
        },
        "Available": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Available"
          }
        },
        "Inactive": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Inactive"
          }
        },
        "Deleting": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Deleting"
          }
        },
        "Failed": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Failed"
          }
        },
        "Versioning": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Versioning"
          }
        },
        "Importing": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Importing"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotSummary": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier assigned to the bot. Use this ID to get\n         detailed information about the bot with the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_DescribeBot.html\">DescribeBot</a> operation.</p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the bot.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the bot. When the status is\n            <code>Available</code> the bot is ready for use.</p>"
          }
        },
        "latestBotVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The latest numerical version in use for the bot.</p>"
          }
        },
        "lastUpdatedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the bot was last updated.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a bot returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBots.html\">ListBots</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        },
        "smithy.api#pattern": "^(DRAFT|[0-9]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionLocaleDetails": {
      "type": "structure",
      "members": {
        "sourceBotVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of a bot used for a bot locale.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The version of a bot used for a bot locale.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionLocaleSpecification": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#LocaleId"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#BotVersionLocaleDetails"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSortAttribute": {
      "type": "enum",
      "members": {
        "BotVersion": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BotVersion"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BotVersionSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of versions.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can specify ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of bot versions.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSummary": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot associated with the version.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#BotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The numeric version of the bot, or <code>DRAFT</code> to indicate\n         that this is the version of the bot that can be updated..</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the version.</p>"
          }
        },
        "botStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot. When the status is available, the version of\n         the bot is ready for use.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp of the date and time that the version was\n         created.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information about a bot version returned by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBotVersions.html\">ListBotVersions</a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BotVersionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BotVersionSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BoxedBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocale": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#BuildBotLocaleRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#BuildBotLocaleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Builds a bot, its intents, and its slot types into a specific\n         locale. A bot can be built into multiple locales. At runtime the locale\n         is used to choose a specific build of the bot.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocaleRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to build. The identifier is returned in\n         the response from the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_CreateBot.html\">CreateBot</a> operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to build. This can only be the draft version\n         of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuildBotLocaleResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the specified bot.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that was built. This is only the draft\n         version of the bot.</p>"
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The language and locale specified of where the bot can be\n         used.</p>"
          }
        },
        "botLocaleStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotLocaleStatus",
          "traits": {
            "smithy.api#documentation": "<p>The bot's build status. When the status is\n            <code>ReadyExpressTesting</code> you can test the bot using the\n         utterances defined for the intents and slot types. When the status is\n            <code>Built</code>, the bot is ready for use and can be tested using\n         any utterance.</p>"
          }
        },
        "lastBuildSubmittedDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A timestamp indicating the date and time that the bot was last built\n         for this locale.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSortAttribute": {
      "type": "enum",
      "members": {
        "IntentSignature": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IntentSignature"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BuiltInIntentSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of built-in intents.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can specify ascending or descending\n         order.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of built-in intents.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSummary": {
      "type": "structure",
      "members": {
        "intentSignature": {
          "target": "com.amazonaws.lexmodelsv2#IntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>The signature of the built-in intent. Use this to specify the parent\n         intent of a derived intent.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the intent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a built-in intent for the <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBuiltInIntents.html\"> ListBuiltInIntents </a> operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInIntentSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BuiltInIntentSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInOrCustomSlotTypeId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 25
        },
        "smithy.api#pattern": "^((AMAZON\\.)[a-zA-Z_]+?|[0-9a-zA-Z]+)$"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortAttribute": {
      "type": "enum",
      "members": {
        "SlotTypeSignature": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SlotTypeSignature"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortBy": {
      "type": "structure",
      "members": {
        "attribute": {
          "target": "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSortAttribute",
          "traits": {
            "smithy.api#documentation": "<p>The attribute to use to sort the list of built-in intents.</p>",
            "smithy.api#required": {}
          }
        },
        "order": {
          "target": "com.amazonaws.lexmodelsv2#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The order to sort the list. You can choose ascending or\n         descending.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies attributes for sorting a list of built-in slot\n         types.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummary": {
      "type": "structure",
      "members": {
        "slotTypeSignature": {
          "target": "com.amazonaws.lexmodelsv2#SlotTypeSignature",
          "traits": {
            "smithy.api#documentation": "<p>The signature of the built-in slot type. Use this to specify the\n         parent slot type of a derived slot type.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description of the built-in slot type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides summary information about a built-in slot type for the\n            <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_ListBuiltInSlotTypes.html\"> ListBuiltInSlotTypes </a>\n         operation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#BuiltInSlotTypeSummary"
      }
    },
    "com.amazonaws.lexmodelsv2#BuiltInsMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 20,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelsv2#Button": {
      "type": "structure",
      "members": {
        "text": {
          "target": "com.amazonaws.lexmodelsv2#ButtonText",
          "traits": {
            "smithy.api#documentation": "<p>The text that appears on the button. Use this to tell the user what\n         value is returned when they choose this button.</p>",
            "smithy.api#required": {}
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelsv2#ButtonValue",
          "traits": {
            "smithy.api#documentation": "<p>The value returned to Amazon Lex when the user chooses this button. This\n         must be one of the slot values configured for the slot.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a button to use on a response card used to gather slot\n         values from a user.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonText": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 50
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ButtonsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#Button"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ChildDirected": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.lexmodelsv2#CloudWatchLogGroupArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:[\\w\\-]+:logs:[\\w\\-]+:[\\d]{12}:log-group:[\\.\\-_/#A-Za-z0-9]{1,512}(?::\\*)?$"
      }
    },
    "com.amazonaws.lexmodelsv2#CloudWatchLogGroupLogDestination": {
      "type": "structure",
      "members": {
        "cloudWatchLogGroupArn": {
          "target": "com.amazonaws.lexmodelsv2#CloudWatchLogGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the log group where text and\n         metadata logs are delivered.</p>",
            "smithy.api#required": {}
          }
        },
        "logPrefix": {
          "target": "com.amazonaws.lexmodelsv2#LogPrefix",
          "traits": {
            "smithy.api#documentation": "<p>The prefix of the log stream name within the log group that you\n         specified </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The Amazon CloudWatch Logs log group where the text and metadata logs are\n         delivered. The log group must exist before you enable logging.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#CodeHookInterfaceVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CodeHookSpecification": {
      "type": "structure",
      "members": {
        "lambdaCodeHook": {
          "target": "com.amazonaws.lexmodelsv2#LambdaCodeHook",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about code hooks that Amazon Lex calls during a\n         conversation.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#CompositeSlotTypeSetting": {
      "type": "structure",
      "members": {
        "subSlots": {
          "target": "com.amazonaws.lexmodelsv2#SubSlotTypeList",
          "traits": {
            "smithy.api#documentation": "<p>Subslots in the composite slot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A composite slot is a combination of two or more slots \n       that capture multiple pieces of information in a single user input.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#Condition": {
      "type": "structure",
      "members": {
        "expressionString": {
          "target": "com.amazonaws.lexmodelsv2#ConditionExpression",
          "traits": {
            "smithy.api#documentation": "<p>The expression string that is evaluated. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides an expression that evaluates to true or false. </p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionExpression": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionKey": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionKeyValueMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#ConditionKey"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#ConditionValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelsv2#ConditionOperator"
      },
      "value": {
        "target": "com.amazonaws.lexmodelsv2#ConditionKeyValueMap"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionOperator": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionValue": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1024
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionalBranch": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name of the branch. </p>",
            "smithy.api#required": {}
          }
        },
        "condition": {
          "target": "com.amazonaws.lexmodelsv2#Condition",
          "traits": {
            "smithy.api#documentation": "<p>Contains the expression to evaluate. If the condition is true, the\n         branch's actions are taken.</p>",
            "smithy.api#required": {}
          }
        },
        "nextStep": {
          "target": "com.amazonaws.lexmodelsv2#DialogState",
          "traits": {
            "smithy.api#documentation": "<p>The next step in the conversation.</p>",
            "smithy.api#required": {}
          }
        },
        "response": {
          "target": "com.amazonaws.lexmodelsv2#ResponseSpecification"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A set of actions that Amazon Lex should run if the condition\n         is matched.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionalBranches": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelsv2#ConditionalBranch"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConditionalSpecification": {
      "type": "structure",
      "members": {
        "active": {
          "target": "com.amazonaws.lexmodelsv2#BoxedBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether a conditional branch is active. When\n            <code>active</code> is false, the conditions are not\n         evaluated.</p>",
            "smithy.api#required": {}
          }
        },
        "conditionalBranches": {
          "target": "com.amazonaws.lexmodelsv2#ConditionalBranches",
          "traits": {
            "smithy.api#documentation": "<p>A list of conditional branches. A conditional branch is made up of a\n         condition, a response and a next step. The response and next step are\n         executed when the condition is true.</p>",
            "smithy.api#required": {}
          }
        },
        "defaultBranch": {
          "target": "com.amazonaws.lexmodelsv2#DefaultConditionalBranch",
          "traits": {
            "smithy.api#documentation": "<p>The conditional branch that should be followed when the conditions\n         for other branches are not satisfied. A conditional branch is made up\n         of a condition, a response and a next step.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a list of conditional branches. Branches are evaluated in\n         the order that they are entered in the list. The first branch with a\n         condition that evaluates to true is executed. The last branch in the\n         list is the default branch. The default branch should not have any condition\n         expression. The default branch is executed if no other branch has a\n         matching condition.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#ConfidenceThreshold": {
      "type": "double",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 1
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelsv2#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action that you tried to perform couldn't be completed because\n         the resource is in a conflicting state. For example, deleting a bot\n         that is in the CREATING state. Try your request again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lexmodelsv2#ContextTimeToLiveInSeconds": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 5,
          "max": 86400
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ContextTurnsToLive": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.lexmodelsv2#ConversationLogSettings": {
      "type": "structure",
      "members": {
        "textLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#TextLogSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon CloudWatch Logs settings for logging text and metadata.</p>"
          }
        },
        "audioLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#AudioLogSettingsList",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 settings for logging audio to an S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configures conversation logging that saves audio, text, and metadata\n         for the conversations with your users.</p>"
      }
    },
    "com.amazonaws.lexmodelsv2#Count": {
      "type": "integer"
    },
    "com.amazonaws.lexmodelsv2#CreateBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an Amazon Lex conversational bot. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alias for the specified version of a bot. Use an alias to\n         enable you to change the version of a bot without updating applications\n         that use the bot.</p>\n         <p>For example, you can create an alias called \"PROD\" that your\n         applications use to call the Amazon Lex bot. </p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botaliases",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAliasRequest": {
      "type": "structure",
      "members": {
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The alias to create. The name must be unique for the bot.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alias. Use this description to help identify\n         the alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that this alias points to. You can use the\n            <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/API_UpdateBotAlias.html\">UpdateBotAlias</a> operation to change the\n         bot version associated with the alias.</p>"
          }
        },
        "botAliasLocaleSettings": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>Maps configuration information to a specific locale. You can use\n         this parameter to specify a specific Lambda function to run different\n         functions in different locales.</p>"
          }
        },
        "conversationLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#ConversationLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Lex logs text and audio for a conversation with\n         the bot. When you enable conversation logs, text logs store text input,\n         transcripts of audio input, and associated metadata in Amazon CloudWatch Logs. Audio\n         logs store audio input in Amazon S3.</p>"
          }
        },
        "sentimentAnalysisSettings": {
          "target": "com.amazonaws.lexmodelsv2#SentimentAnalysisSettings"
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot that the alias applies to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags to add to the bot alias. You can only add tags when\n         you create an alias, you can't use the <code>UpdateBotAlias</code>\n         operation to update the tags on a bot alias. To update tags, use the\n            <code>TagResource</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotAliasResponse": {
      "type": "structure",
      "members": {
        "botAliasId": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot alias.</p>"
          }
        },
        "botAliasName": {
          "target": "com.amazonaws.lexmodelsv2#Name",
          "traits": {
            "smithy.api#documentation": "<p>The name specified for the bot alias.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>The description specified for the bot alias.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#NumericalBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot associated with this alias.</p>"
          }
        },
        "botAliasLocaleSettings": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasLocaleSettingsMap",
          "traits": {
            "smithy.api#documentation": "<p>Configuration information for a specific locale.</p>"
          }
        },
        "conversationLogSettings": {
          "target": "com.amazonaws.lexmodelsv2#ConversationLogSettings",
          "traits": {
            "smithy.api#documentation": "<p>The conversation log settings specified for the alias.</p>"
          }
        },
        "sentimentAnalysisSettings": {
          "target": "com.amazonaws.lexmodelsv2#SentimentAnalysisSettings"
        },
        "botAliasStatus": {
          "target": "com.amazonaws.lexmodelsv2#BotAliasStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the alias. The alias is first put into the\n            <code>Creating</code> state. When the alias is ready to be used, it\n         is put into the <code>Available</code> state. You can use the\n            <code>DescribeBotAlias</code> operation to get the current state of\n         an alias.</p>"
          }
        },
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the bot that this alias applies to.</p>"
          }
        },
        "creationDateTime": {
          "target": "com.amazonaws.lexmodelsv2#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>A Unix timestamp indicating the date and time that the bot alias was\n         created.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lexmodelsv2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of tags associated with the bot alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocale": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotLocaleRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelsv2#CreateBotLocaleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelsv2#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#InternalServerException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#PreconditionFailedException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lexmodelsv2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a locale in the bot. The locale contains the intents and\n         slot types that the bot uses in conversations with users in the\n         specified language and locale. You must add a locale to a bot before\n         you can add intents and slot types to the bot.</p>",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/bots/{botId}/botversions/{botVersion}/botlocales",
          "code": 202
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocaleRequest": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the bot to create the locale for.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to create the locale for. This can only be\n         the draft version of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "localeId": {
          "target": "com.amazonaws.lexmodelsv2#LocaleId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the language and locale that the bot will be used\n         in. The string must match one of the supported locales. All of the\n         intents, slot types, and slots used in the bot must have the same\n         locale. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/how-languages.html\">Supported languages</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelsv2#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot locale. Use this to help identify the bot\n         locale in lists.</p>"
          }
        },
        "nluIntentConfidenceThreshold": {
          "target": "com.amazonaws.lexmodelsv2#ConfidenceThreshold",
          "traits": {
            "smithy.api#documentation": "<p>Determines the threshold where Amazon Lex will insert the\n            <code>AMAZON.FallbackIntent</code>,\n            <code>AMAZON.KendraSearchIntent</code>, or both when returning\n         alternative intents. <code>AMAZON.FallbackIntent</code> and\n            <code>AMAZON.KendraSearchIntent</code> are only inserted if they are\n         configured for the bot.</p>\n         <p>For example, suppose a bot is configured with the confidence\n         threshold of 0.80 and the <code>AMAZON.FallbackIntent</code>. Amazon Lex\n         returns three alternative intents with the following confidence scores:\n         IntentA (0.70), IntentB (0.60), IntentC (0.50). The response from the\n            <code>RecognizeText</code> operation would be:</p>\n         <ul>\n            <li>\n               <p>AMAZON.FallbackIntent</p>\n            </li>\n            <li>\n               <p>IntentA</p>\n            </li>\n            <li>\n               <p>IntentB</p>\n            </li>\n            <li>\n               <p>IntentC</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "voiceSettings": {
          "target": "com.amazonaws.lexmodelsv2#VoiceSettings",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interaction with the\n         user.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelsv2#CreateBotLocaleResponse": {
      "type": "structure",
      "members": {
        "botId": {
          "target": "com.amazonaws.lexmodelsv2#Id",
          "traits": {
            "smithy.api#documentation": "<p>The specified bot identifier.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelsv2#DraftBotVersion",
          "traits": {
            "smithy.api#documentation": "<p>The specified bot version.</p>"
          }
        },
        "localeName": {
          "target": "com.amazonaws.lexmodelsv2#LocaleName",
          "traits": {
[...]
