{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lexmodelbuildingservice#AWSDeepSenseModelBuildingService": {
      "type": "service",
      "version": "2017-04-19",
      "operations": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociation"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersion"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#DeleteUtterances"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliases"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociation"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociations"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBots"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBotVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinIntents"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetBuiltinSlotTypes"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetExport"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetImport"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntents"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetIntentVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotTypes"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetSlotTypeVersions"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#GetUtterancesView"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutBot"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutBotAlias"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutIntent"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PutSlotType"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#StartImport"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Lex Model Building Service",
          "arnNamespace": "lex",
          "cloudFormationName": "LexModelBuildingService",
          "cloudTrailEventSource": "modelbuilding.deepsense.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "lex"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<fullname>Amazon Lex Build-Time Actions</fullname>\n         <p> Amazon Lex is an AWS service for building conversational voice and text interfaces. Use\n      these actions to create, update, and delete conversational bots for new and existing client\n      applications. </p>",
        "smithy.api#title": "Amazon Lex Model Building Service"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AliasName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#AliasNameOrListAll": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^(-|^([A-Za-z]_?)+$)$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BadRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelbuildingservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is\n      missing. Check the field values, and try again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Blob": {
      "type": "blob"
    },
    "com.amazonaws.lexmodelbuildingservice#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotAliasMetadata": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot to which the alias points.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the Amazon Lex bot to which the alias points.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the bot alias.</p>"
          }
        },
        "conversationLogs": {
          "target": "com.amazonaws.lexmodelbuildingservice#ConversationLogsResponse",
          "traits": {
            "smithy.api#documentation": "<p>Settings that determine how Amazon Lex uses conversation logs for the alias.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot alias.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was updated. When you create a resource, the creation date\n      and last updated date are the same.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a bot alias.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotAliasMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotAliasMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelAssociation": {
      "type": "structure",
      "members": {
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is\n      being made. </p>"
          }
        },
        "botConfiguration": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>Provides information necessary to communicate with the messaging platform. </p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot to which this association is being made. </p>\n         <note>\n            <p>Currently, Amazon Lex supports associations with Facebook and Slack, and Twilio.</p>\n\n         </note>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the association between the Amazon Lex bot and the channel was created.\n    </p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A text description of the association you are creating. </p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed\n      to create the association.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association between the bot and the channel. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot channel. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATED</code> - The channel has been created and is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Channel creation is in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - There was an error creating the channel. For information\n          about the reason for the failure, see the <code>failureReason</code> field.</p>\n            </li>\n         </ul>"
          }
        },
        "type": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the type of association by indicating the type of channel being established\n      between the Amazon Lex bot and the external messaging platform.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents an association between an Amazon Lex bot and an external messaging\n      platform.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelAssociationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotChannelAssociation"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotChannelName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotMetadata": {
      "type": "structure",
      "members": {
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was updated. When you create a bot, the creation date and last\n      updated date are the same. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. </p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#Status",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot. For a new bot, the version is always\n      <code>$LATEST</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a bot. .</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BotMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 50
        },
        "smithy.api#pattern": "^([A-Za-z]_?)+$"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BotVersions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#Version"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadata": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the built-in intent. To find the signature for an intent, see\n        <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/standard-intents\">Standard Built-in Intents</a> in the <i>Alexa Skills Kit</i>.</p>"
          }
        },
        "supportedLocales": {
          "target": "com.amazonaws.lexmodelbuildingservice#LocaleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of identifiers for the locales that the intent supports.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides metadata for a built-in intent.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature": {
      "type": "string"
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlot": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>A list of the slots defined for the intent.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a slot used in a built-in intent.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlotList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSlot"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadata": {
      "type": "structure",
      "members": {
        "signature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the built-in slot type. To find the signature for a slot type,\n      see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p>"
          }
        },
        "supportedLocales": {
          "target": "com.amazonaws.lexmodelbuildingservice#LocaleList",
          "traits": {
            "smithy.api#documentation": "<p>A list of target locales for the slot. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a built in slot type.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeMetadata"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#BuiltinSlotTypeSignature": {
      "type": "string"
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelConfigurationMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lexmodelbuildingservice#String"
      },
      "value": {
        "target": "com.amazonaws.lexmodelbuildingservice#String"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "CREATED",
            "name": "CREATED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ChannelType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Facebook",
            "name": "FACEBOOK"
          },
          {
            "value": "Slack",
            "name": "SLACK"
          },
          {
            "value": "Twilio-Sms",
            "name": "TWILIO_SMS"
          },
          {
            "value": "Kik",
            "name": "KIK"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CodeHook": {
      "type": "structure",
      "members": {
        "messageVersion": {
          "target": "com.amazonaws.lexmodelbuildingservice#MessageVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the request-response that you want Amazon Lex to use to invoke your Lambda\n      function. For more information, see <a>using-lambda</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "uri": {
          "target": "com.amazonaws.lexmodelbuildingservice#LambdaARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a Lambda function that verifies requests to a bot or fulfills the user's\n      request to a bot..</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.lexmodelbuildingservice#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> There was a conflict processing the request. Try your request again. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContentString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PlainText",
            "name": "PLAIN_TEXT"
          },
          {
            "value": "SSML",
            "name": "SSML"
          },
          {
            "value": "CustomPayload",
            "name": "CUSTOM_PAYLOAD"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConversationLogsRequest": {
      "type": "structure",
      "members": {
        "iamRoleArn": {
          "target": "com.amazonaws.lexmodelbuildingservice#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to write to your CloudWatch\n      Logs for text logs and your S3 bucket for audio logs. If audio encryption is enabled, this\n      role also provides access permission for the AWS KMS key used for encrypting audio logs. For\n      more information, see <a href=\"https://docs.aws.amazon.com/lex/latest/dg/conversation-logs-role-and-policy.html\">Creating an IAM Role and Policy\n      for Conversation Logs</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "logSettings": {
          "target": "com.amazonaws.lexmodelbuildingservice#LogSettingsRequestList",
          "traits": {
            "smithy.api#documentation": "<p>The settings for your conversation logs. You can log the conversation text, conversation\n      audio, or both.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the settings needed for conversation logs.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ConversationLogsResponse": {
      "type": "structure",
      "members": {
        "iamRoleArn": {
          "target": "com.amazonaws.lexmodelbuildingservice#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to write your logs to CloudWatch Logs\n      or an S3 bucket.</p>"
          }
        },
        "logSettings": {
          "target": "com.amazonaws.lexmodelbuildingservice#LogSettingsResponseList",
          "traits": {
            "smithy.api#documentation": "<p>The settings for your conversation logs. You can log text, audio, or both.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about conversation log settings.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Count": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateBotVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the bot based on the <code>$LATEST</code> version. If the\n        <code>$LATEST</code> version of this resource hasn't changed since you created the last\n      version, Amazon Lex doesn't create a new version. It returns the last created version.</p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of the bot. You can't update the\n        numbered versions that you create with the <code>CreateBotVersion</code>\n        operation.</p>\n         </note>\n         <p> When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent\n      versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n         <p> This operation requires permission for the <code>lex:CreateBotVersion</code> action.\n    </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/bots/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersionRequest": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Identifies a specific revision of the <code>$LATEST</code> version of the bot. If you\n      specify a checksum and the <code>$LATEST</code> version of the bot has a different checksum, a\n        <code>PreconditionFailedException</code> exception is returned and Amazon Lex doesn't publish a\n      new version. If you don't specify a checksum, Amazon Lex publishes the <code>$LATEST</code>\n      version.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that you want to create a new version of. The name is case\n      sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateBotVersionResponse": {
      "type": "structure",
      "members": {
        "abortStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>The message that Amazon Lex uses to abort a conversation. For more information, see <a>PutBot</a>.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum identifying the version of the bot that was created.</p>"
          }
        },
        "childDirected": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>For each Amazon Lex bot created with the Amazon Lex Model Building Service, you must specify\n      whether your use of Amazon Lex is related to a website, program, or other application that is\n      directed or targeted, in whole or in part, to children under age 13 and subject to the\n      Children's Online Privacy Protection Act (COPPA) by specifying <code>true</code> or\n        <code>false</code> in the <code>childDirected</code> field. By specifying <code>true</code>\n      in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is</b> related to a website, program, or other application that is\n      directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. By\n      specifying <code>false</code> in the <code>childDirected</code> field, you confirm that your\n      use of Amazon Lex <b>is not</b> related to a website, program, or other\n      application that is directed or targeted, in whole or in part, to children under age 13 and\n      subject to COPPA. You may not specify a default value for the <code>childDirected</code> field\n      that does not accurately reflect whether your use of Amazon Lex is related to a website, program,\n      or other application that is directed or targeted, in whole or in part, to children under age\n      13 and subject to COPPA.</p>\n         <p>If your use of Amazon Lex relates to a website, program, or other application that is\n      directed in whole or in part, to children under age 13, you must obtain any required\n      verifiable parental consent under COPPA. For information regarding the use of Amazon Lex in\n      connection with websites, programs, or other applications that are directed or targeted, in\n      whole or in part, to children under age 13, see the <a href=\"https://aws.amazon.com/lex/faqs#data-security\">Amazon Lex FAQ.</a>\n         </p>"
          }
        },
        "clarificationPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>The message that Amazon Lex uses when it doesn't understand the user's request. For more\n      information, see <a>PutBot</a>. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the bot version was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot.</p>"
          }
        },
        "detectSentiment": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether utterances entered by the user should be sent to Amazon Comprehend for\n      sentiment analysis.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed\n      to build the bot.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelbuildingservice#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time in seconds that Amazon Lex retains the data gathered in a conversation. For\n      more information, see <a>PutBot</a>.</p>"
          }
        },
        "intents": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>Intent</code> objects. For more information, see <a>PutBot</a>.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date when the <code>$LATEST</code> version of this bot was updated. </p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.lexmodelbuildingservice#Locale",
          "traits": {
            "smithy.api#documentation": "<p> Specifies the target locale for the bot. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#Status",
          "traits": {
            "smithy.api#documentation": "<p> When you send a request to create or update a bot, Amazon Lex sets the <code>status</code>\n      response element to <code>BUILDING</code>. After Amazon Lex builds the bot, it sets\n        <code>status</code> to <code>READY</code>. If Amazon Lex can't build the bot, it sets\n        <code>status</code> to <code>FAILED</code>. Amazon Lex returns the reason for the failure in the\n        <code>failureReason</code> response element. </p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot. </p>"
          }
        },
        "voiceId": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interactions with the\n      user.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of an intent based on the <code>$LATEST</code> version of the\n      intent. If the <code>$LATEST</code> version of this intent hasn't changed since you last\n      updated it, Amazon Lex doesn't create a new version. It returns the last version you\n      created.</p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of the intent. You can't update\n        the numbered versions that you create with the <code>CreateIntentVersion</code>\n        operation.</p>\n         </note>\n         <p> When you create a version of an intent, Amazon Lex sets the version to 1. Subsequent\n      versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n         <p>This operation requires permissions to perform the <code>lex:CreateIntentVersion</code>\n      action. </p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/intents/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionRequest": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the <code>$LATEST</code> version of the intent that should be used to\n      create the new version. If you specify a checksum and the <code>$LATEST</code> version of the\n      intent has a different checksum, Amazon Lex returns a <code>PreconditionFailedException</code>\n      exception and doesn't publish a new version. If you don't specify a checksum, Amazon Lex publishes\n      the <code>$LATEST</code> version.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent that you want to create a new version of. The name is case\n      sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateIntentVersionResponse": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the intent version created.</p>"
          }
        },
        "conclusionStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>After the Lambda function specified in the <code>fulfillmentActivity</code> field\n      fulfills the intent, Amazon Lex conveys this statement to the user. </p>"
          }
        },
        "confirmationPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>If defined, the prompt that Amazon Lex uses to confirm the user's intent before\n      fulfilling it. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the intent was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the intent.</p>"
          }
        },
        "dialogCodeHook": {
          "target": "com.amazonaws.lexmodelbuildingservice#CodeHook",
          "traits": {
            "smithy.api#documentation": "<p>If defined, Amazon Lex invokes this Lambda function for each user input.</p>"
          }
        },
        "followUpPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#FollowUpPrompt",
          "traits": {
            "smithy.api#documentation": "<p>If defined, Amazon Lex uses this prompt to solicit additional user activity after the\n      intent is fulfilled. </p>"
          }
        },
        "fulfillmentActivity": {
          "target": "com.amazonaws.lexmodelbuildingservice#FulfillmentActivity",
          "traits": {
            "smithy.api#documentation": "<p> Describes how the intent is fulfilled. </p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the intent was updated. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent.</p>"
          }
        },
        "parentIntentSignature": {
          "target": "com.amazonaws.lexmodelbuildingservice#BuiltinIntentSignature",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for a built-in intent.</p>"
          }
        },
        "rejectionStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>If the user answers \"no\" to the question defined in <code>confirmationPrompt</code>,\n      Amazon Lex responds with this statement to acknowledge that the intent was canceled. </p>"
          }
        },
        "sampleUtterances": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentUtteranceList",
          "traits": {
            "smithy.api#documentation": "<p>An array of sample utterances configured for the intent. </p>"
          }
        },
        "slots": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotList",
          "traits": {
            "smithy.api#documentation": "<p>An array of slot types that defines the information required to fulfill the\n      intent.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version number assigned to the new version of the intent.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#PreconditionFailedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of a slot type based on the <code>$LATEST</code> version of the\n      specified slot type. If the <code>$LATEST</code> version of this resource has not changed\n      since the last version that you created, Amazon Lex doesn't create a new version. It returns the\n      last version that you created. </p>\n         <note>\n            <p>You can update only the <code>$LATEST</code> version of a slot type. You can't update\n        the numbered versions that you create with the <code>CreateSlotTypeVersion</code>\n        operation.</p>\n         </note>\n\n         <p>When you create a version of a slot type, Amazon Lex sets the version to 1. Subsequent\n      versions increment by 1. For more information, see <a>versioning-intro</a>. </p>\n\n         <p>This operation requires permissions for the <code>lex:CreateSlotTypeVersion</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/slottypes/{name}/versions",
          "code": 201
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionRequest": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum for the <code>$LATEST</code> version of the slot type that you want to\n      publish. If you specify a checksum and the <code>$LATEST</code> version of the slot type has a\n      different checksum, Amazon Lex returns a <code>PreconditionFailedException</code> exception and\n      doesn't publish the new version. If you don't specify a checksum, Amazon Lex publishes the\n        <code>$LATEST</code> version.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type that you want to create a new version for. The name is case\n      sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CreateSlotTypeVersionResponse": {
      "type": "structure",
      "members": {
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the <code>$LATEST</code> version of the slot type.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the slot type was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the slot type.</p>"
          }
        },
        "enumerationValues": {
          "target": "com.amazonaws.lexmodelbuildingservice#EnumerationValues",
          "traits": {
            "smithy.api#documentation": "<p>A list of <code>EnumerationValue</code> objects that defines the values that the slot\n      type can take.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the slot type was updated. When you create a resource, the creation date\n      and last update date are the same.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type.</p>"
          }
        },
        "valueSelectionStrategy": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotValueSelectionStrategy",
          "traits": {
            "smithy.api#documentation": "<p>The strategy that Amazon Lex uses to determine the value of the slot. For more information,\n      see <a>PutSlotType</a>.</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version assigned to the new slot type version. </p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#CustomOrBuiltinSlotTypeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^((AMAZON\\.)_?|[A-Za-z]_?)+"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the bot, including the <code>$LATEST</code> version. To delete\n      a specific version of the bot, use the <a>DeleteBotVersion</a> operation. The\n        <code>DeleteBot</code> operation doesn't immediately remove the bot schema. Instead, it is\n      marked for deletion and removed later.</p>\n         <p>Amazon Lex stores utterances indefinitely for improving the ability of your bot to respond\n      to user inputs. These utterances are not removed when the bot is deleted. To remove the\n      utterances, use the <a>DeleteUtterances</a> operation.</p>\n         <p>If a bot has an alias, you can't delete it. Instead, the <code>DeleteBot</code>\n      operation returns a <code>ResourceInUseException</code> exception that includes a reference to\n      the alias that refers to the bot. To remove the reference to the bot, delete the alias. If you\n      get the same exception again, delete the referring alias until the <code>DeleteBot</code>\n      operation is successful.</p>\n\n         <p>This operation requires permissions for the <code>lex:DeleteBot</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotAliasRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an alias for the specified bot. </p>\n         <p>You can't delete an alias that is used in the association between a bot and a messaging\n      channel. If an alias is used in a channel association, the <code>DeleteBot</code> operation\n      returns a <code>ResourceInUseException</code> exception that includes a reference to the\n      channel association that refers to the bot. You can remove the reference to the alias by\n      deleting the channel association. If you get the same exception again, delete the referring\n      association until the <code>DeleteBotAlias</code> operation is successful.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{botName}/aliases/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotAliasRequest": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that the alias points to.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alias to delete. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociationRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the association between an Amazon Lex bot and a messaging platform.</p>\n         <p>This operation requires permission for the <code>lex:DeleteBotChannelAssociation</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{botName}/aliases/{botAlias}/channels/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotChannelAssociationRequest": {
      "type": "structure",
      "members": {
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias that points to the specific version of the Amazon Lex bot to which this association\n      is being made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteBotVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a bot. To delete all versions of a bot, use the <a>DeleteBot</a> operation. </p>\n         <p>This operation requires permissions for the <code>lex:DeleteBotVersion</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{name}/versions/{version}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteBotVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot to delete. You cannot delete the <code>$LATEST</code> version of\n      the bot. To delete the <code>$LATEST</code> version, use the <a>DeleteBot</a>\n      operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntent": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the intent, including the <code>$LATEST</code> version. To\n      delete a specific version of the intent, use the <a>DeleteIntentVersion</a>\n      operation.</p>\n         <p> You can delete a version of an intent only if it is not referenced. To delete an\n      intent that is referred to in one or more bots (see <a>how-it-works</a>), you must\n      remove those references first. </p>\n         <note>\n            <p> If you get the <code>ResourceInUseException</code> exception, it provides an example\n        reference that shows where the intent is referenced. To remove the reference to the intent,\n        either update the bot or delete it. If you get the same exception when you attempt to delete\n        the intent again, repeat until the intent has no references and the call to\n          <code>DeleteIntent</code> is successful. </p>\n         </note>\n\n         <p> This operation requires permission for the <code>lex:DeleteIntent</code> action.\n    </p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/intents/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of an intent. To delete all versions of a intent, use the\n        <a>DeleteIntent</a> operation. </p>\n         <p>This operation requires permissions for the <code>lex:DeleteIntentVersion</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/intents/{name}/versions/{version}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteIntentVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the intent.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the intent to delete. You cannot delete the <code>$LATEST</code> version\n      of the intent. To delete the <code>$LATEST</code> version, use the <a>DeleteIntent</a> operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotType": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes all versions of the slot type, including the <code>$LATEST</code> version. To\n      delete a specific version of the slot type, use the <a>DeleteSlotTypeVersion</a>\n      operation.</p>\n         <p> You can delete a version of a slot type only if it is not referenced. To delete a slot\n      type that is referred to in one or more intents, you must remove those references first. </p>\n         <note>\n            <p> If you get the <code>ResourceInUseException</code> exception, the exception provides\n        an example reference that shows the intent where the slot type is referenced. To remove the\n        reference to the slot type, either update the intent or delete it. If you get the same\n        exception when you attempt to delete the slot type again, repeat until the slot type has no\n        references and the <code>DeleteSlotType</code> call is successful. </p>\n         </note>\n         <p>This operation requires permission for the <code>lex:DeleteSlotType</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/slottypes/{name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersionRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ConflictException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#ResourceInUseException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific version of a slot type. To delete all versions of a slot type, use\n      the <a>DeleteSlotType</a> operation. </p>\n         <p>This operation requires permissions for the <code>lex:DeleteSlotTypeVersion</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/slottypes/{name}/version/{version}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteSlotTypeVersionRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#SlotTypeName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the slot type.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "com.amazonaws.lexmodelbuildingservice#NumericalVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the slot type to delete. You cannot delete the <code>$LATEST</code>\n      version of the slot type. To delete the <code>$LATEST</code> version, use the <a>DeleteSlotType</a> operation.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteUtterances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#DeleteUtterancesRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes stored utterances.</p>\n         <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15\n      days for use with the <a>GetUtterancesView</a> operation, and then stored\n      indefinitely for use in improving the ability of your bot to respond to user input.</p>\n         <p>Use the <code>DeleteUtterances</code> operation to manually delete stored utterances\n      for a specific user. When you use the <code>DeleteUtterances</code> operation, utterances\n      stored for improving your bot's ability to respond to user input are deleted immediately.\n      Utterances stored for use with the <code>GetUtterancesView</code> operation are deleted after\n      15 days.</p>\n         <p>This operation requires permissions for the <code>lex:DeleteUtterances</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/bots/{botName}/utterances/{userId}",
          "code": 204
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#DeleteUtterancesRequest": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that stored the utterances.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "userId": {
          "target": "com.amazonaws.lexmodelbuildingservice#UserId",
          "traits": {
            "smithy.api#documentation": "<p> The unique identifier for the user that made the utterances. This is the user ID that\n      was sent in the <a href=\"http://docs.aws.amazon.com/lex/latest/dg/API_runtime_PostContent.html\">PostContent</a> or <a href=\"http://docs.aws.amazon.com/lex/latest/dg/API_runtime_PostText.html\">PostText</a>\n      operation request that contained the utterance.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 200
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#Destination": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CLOUDWATCH_LOGS",
            "name": "CLOUDWATCH_LOGS"
          },
          {
            "value": "S3",
            "name": "S3"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#EnumerationValue": {
      "type": "structure",
      "members": {
        "synonyms": {
          "target": "com.amazonaws.lexmodelbuildingservice#SynonymList",
          "traits": {
            "smithy.api#documentation": "<p>Additional values related to the slot type value.</p>"
          }
        },
        "value": {
          "target": "com.amazonaws.lexmodelbuildingservice#Value",
          "traits": {
            "smithy.api#documentation": "<p>The value of the slot type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Each slot type can have a set of values. Each enumeration value represents a value the\n      slot type can take. </p>\n         <p>For example, a pizza ordering bot could have a slot type that specifies the type of\n      crust that the pizza should have. The slot type could include the values </p>\n         <ul>\n            <li>\n               <p>thick</p>\n            </li>\n            <li>\n               <p>thin</p>\n            </li>\n            <li>\n               <p>stuffed</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#EnumerationValues": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lexmodelbuildingservice#EnumerationValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10000
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ExportStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "READY",
            "name": "READY"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#ExportType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALEXA_SKILLS_KIT",
            "name": "ALEXA_SKILLS_KIT"
          },
          {
            "value": "LEX",
            "name": "LEX"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#FollowUpPrompt": {
      "type": "structure",
      "members": {
        "prompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>Prompts for information from the user. </p>",
            "smithy.api#required": {}
          }
        },
        "rejectionStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>If the user answers \"no\" to the question defined in the <code>prompt</code> field,\n      Amazon Lex responds with this statement to acknowledge that the intent was canceled. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A prompt for additional activity after an intent is fulfilled. For example, after the\n        <code>OrderPizza</code> intent is fulfilled, you might prompt the user to find out whether\n      the user wants to order drinks.</p>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#FulfillmentActivity": {
      "type": "structure",
      "members": {
        "codeHook": {
          "target": "com.amazonaws.lexmodelbuildingservice#CodeHook",
          "traits": {
            "smithy.api#documentation": "<p> A description of the Lambda function that is run to fulfill the intent. </p>"
          }
        },
        "type": {
          "target": "com.amazonaws.lexmodelbuildingservice#FulfillmentActivityType",
          "traits": {
            "smithy.api#documentation": "<p> How the intent should be fulfilled, either by running a Lambda function or by\n      returning the slot data to the client application. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Describes how the intent is fulfilled after the user provides all of the information\n      required for the intent. You can provide a Lambda function to process the intent, or you can\n      return the intent information to the client application. We recommend that you use a Lambda\n      function so that the relevant logic lives in the Cloud and limit the client-side code\n      primarily to presentation. If you need to update the logic, you only update the Lambda\n      function; you don't need to upgrade your client application. </p>\n\n\n         <p>Consider the following examples:</p>\n         <ul>\n            <li>\n               <p>In a pizza ordering application, after the user provides all of the information for\n          placing an order, you use a Lambda function to place an order with a pizzeria. </p>\n            </li>\n            <li>\n               <p>In a gaming application, when a user says \"pick up a rock,\" this information must\n          go back to the client application so that it can perform the operation and update the\n          graphics. In this case, you want Amazon Lex to return the intent data to the client. </p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lexmodelbuildingservice#FulfillmentActivityType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ReturnIntent",
            "name": "RETURN_INTENT"
          },
          {
            "value": "CodeHook",
            "name": "CODE_HOOK"
          }
        ]
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata information for a specific bot. You must provide the bot name and the\n      bot version or alias. </p>\n         <p> This operation requires permissions for the <code>lex:GetBot</code> action. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bots/{name}/versions/{versionOrAlias}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about an Amazon Lex bot alias. For more information about aliases, see\n        <a>versioning-aliases</a>.</p>\n         <p>This operation requires permissions for the <code>lex:GetBotAlias</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bots/{botName}/aliases/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAliasRequest": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias. The name is case sensitive.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAliasResponse": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot that the alias points to.</p>"
          }
        },
        "botVersion": {
          "target": "com.amazonaws.lexmodelbuildingservice#Version",
          "traits": {
            "smithy.api#documentation": "<p>The version of the bot that the alias points to.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the bot alias.</p>"
          }
        },
        "conversationLogs": {
          "target": "com.amazonaws.lexmodelbuildingservice#ConversationLogsResponse",
          "traits": {
            "smithy.api#documentation": "<p>The settings that determine how Amazon Lex uses conversation logs for the alias.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot alias.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot alias was updated. When you create a resource, the creation date\n      and the last updated date are the same.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot alias.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of aliases for a specified Amazon Lex bot.</p>\n         <p>This operation requires permissions for the <code>lex:GetBotAliases</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bots/{botName}/aliases",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAliasesRequest": {
      "type": "structure",
      "members": {
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.lexmodelbuildingservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of aliases to return in the response. The default is 50. .\n    </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nameContains": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>Substring to match in bot alias names. An alias will be returned if any part of its\n      name matches the substring. For example, \"xyz\" matches both \"xyzabc\" and \"abcxyz.\"</p>",
            "smithy.api#httpQuery": "nameContains"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lexmodelbuildingservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token for fetching the next page of aliases. If the response to this call\n      is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of\n      aliases, specify the pagination token in the next request. </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotAliasesResponse": {
      "type": "structure",
      "members": {
        "BotAliases": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotAliasMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>BotAliasMetadata</code> objects, each describing a bot\n      alias.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lexmodelbuildingservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token for fetching next page of aliases. If the response to this call is\n      truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of\n      aliases, specify the pagination token in the next request. </p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the association between an Amazon Lex bot and a messaging\n      platform.</p>\n         <p>This operation requires permissions for the <code>lex:GetBotChannelAssociation</code>\n      action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bots/{botName}/aliases/{botAlias}/channels/{name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationRequest": {
      "type": "structure",
      "members": {
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is\n      being made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association between the bot and the channel. The name is case\n      sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationResponse": {
      "type": "structure",
      "members": {
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasName",
          "traits": {
            "smithy.api#documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is\n      being made.</p>"
          }
        },
        "botConfiguration": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelConfigurationMap",
          "traits": {
            "smithy.api#documentation": "<p>Provides information that the messaging platform needs to communicate with the Amazon Lex\n      bot.</p>"
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot.</p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the association between the bot and the channel was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the association between the bot and the channel.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed\n      to create the association.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the association between the bot and the channel.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the bot channel. </p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATED</code> - The channel has been created and is ready for use.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - Channel creation is in progress.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - There was an error creating the channel. For information\n          about the reason for the failure, see the <code>failureReason</code> field.</p>\n            </li>\n         </ul>"
          }
        },
        "type": {
          "target": "com.amazonaws.lexmodelbuildingservice#ChannelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the messaging platform.</p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationsRequest"
      },
      "output": {
        "target": "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lexmodelbuildingservice#BadRequestException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#InternalFailureException"
        },
        {
          "target": "com.amazonaws.lexmodelbuildingservice#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Returns a list of all of the channels associated with the specified bot. </p>\n         <p>The <code>GetBotChannelAssociations</code> operation requires permissions for the\n        <code>lex:GetBotChannelAssociations</code> action.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/bots/{botName}/aliases/{botAlias}/channels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationsRequest": {
      "type": "structure",
      "members": {
        "botAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#AliasNameOrListAll",
          "traits": {
            "smithy.api#documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is\n      being made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "botName": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Lex bot in the association.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "maxResults": {
          "target": "com.amazonaws.lexmodelbuildingservice#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of associations to return in the response. The default is 50.\n    </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "nameContains": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelName",
          "traits": {
            "smithy.api#documentation": "<p>Substring to match in channel association names. An association will be returned if any\n      part of its name matches the substring. For example, \"xyz\" matches both \"xyzabc\" and \"abcxyz.\"\n      To return all bot channel associations, use a hyphen (\"-\") as the <code>nameContains</code>\n      parameter.</p>",
            "smithy.api#httpQuery": "nameContains"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lexmodelbuildingservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token for fetching the next page of associations. If the response to this\n      call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of\n      associations, specify the pagination token in the next request. </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotChannelAssociationsResponse": {
      "type": "structure",
      "members": {
        "botChannelAssociations": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotChannelAssociationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, one for each association, that provides information about the\n      Amazon Lex bot and its association with the channel. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.lexmodelbuildingservice#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>A pagination token that fetches the next page of associations. If the response to this\n      call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of\n      associations, specify the pagination token in the next request. </p>"
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotRequest": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot. The name is case sensitive. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "versionOrAlias": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>The version or alias of the bot.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lexmodelbuildingservice#GetBotResponse": {
      "type": "structure",
      "members": {
        "abortStatement": {
          "target": "com.amazonaws.lexmodelbuildingservice#Statement",
          "traits": {
            "smithy.api#documentation": "<p>The message that Amazon Lex returns when the user elects to end the conversation without\n      completing it. For more information, see <a>PutBot</a>.</p>"
          }
        },
        "checksum": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>Checksum of the bot used to identify a specific revision of the bot's\n        <code>$LATEST</code> version.</p>"
          }
        },
        "childDirected": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>For each Amazon Lex bot created with the Amazon Lex Model Building Service, you must specify\n      whether your use of Amazon Lex is related to a website, program, or other application that is\n      directed or targeted, in whole or in part, to children under age 13 and subject to the\n      Children's Online Privacy Protection Act (COPPA) by specifying <code>true</code> or\n        <code>false</code> in the <code>childDirected</code> field. By specifying <code>true</code>\n      in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is</b> related to a website, program, or other application that is\n      directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. By\n      specifying <code>false</code> in the <code>childDirected</code> field, you confirm that your\n      use of Amazon Lex <b>is not</b> related to a website, program, or other\n      application that is directed or targeted, in whole or in part, to children under age 13 and\n      subject to COPPA. You may not specify a default value for the <code>childDirected</code> field\n      that does not accurately reflect whether your use of Amazon Lex is related to a website, program,\n      or other application that is directed or targeted, in whole or in part, to children under age\n      13 and subject to COPPA.</p>\n         <p>If your use of Amazon Lex relates to a website, program, or other application that is\n      directed in whole or in part, to children under age 13, you must obtain any required\n      verifiable parental consent under COPPA. For information regarding the use of Amazon Lex in\n      connection with websites, programs, or other applications that are directed or targeted, in\n      whole or in part, to children under age 13, see the <a href=\"https://aws.amazon.com/lex/faqs#data-security\">Amazon Lex FAQ.</a>\n         </p>"
          }
        },
        "clarificationPrompt": {
          "target": "com.amazonaws.lexmodelbuildingservice#Prompt",
          "traits": {
            "smithy.api#documentation": "<p>The message Amazon Lex uses when it doesn't understand the user's request. For more\n      information, see <a>PutBot</a>. </p>"
          }
        },
        "createdDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was created.</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lexmodelbuildingservice#Description",
          "traits": {
            "smithy.api#documentation": "<p>A description of the bot.</p>"
          }
        },
        "detectSentiment": {
          "target": "com.amazonaws.lexmodelbuildingservice#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether user utterances should be sent to Amazon Comprehend for sentiment\n      analysis.</p>"
          }
        },
        "failureReason": {
          "target": "com.amazonaws.lexmodelbuildingservice#String",
          "traits": {
            "smithy.api#documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex explains why it failed to build\n      the bot.</p>"
          }
        },
        "idleSessionTTLInSeconds": {
          "target": "com.amazonaws.lexmodelbuildingservice#SessionTTL",
          "traits": {
            "smithy.api#documentation": "<p>The maximum time in seconds that Amazon Lex retains the data gathered in a conversation. For\n      more information, see <a>PutBot</a>.</p>"
          }
        },
        "intents": {
          "target": "com.amazonaws.lexmodelbuildingservice#IntentList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>intent</code> objects. For more information, see <a>PutBot</a>.</p>"
          }
        },
        "lastUpdatedDate": {
          "target": "com.amazonaws.lexmodelbuildingservice#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the bot was updated. When you create a resource, the creation date and\n      last updated date are the same. </p>"
          }
        },
        "locale": {
          "target": "com.amazonaws.lexmodelbuildingservice#Locale",
          "traits": {
            "smithy.api#documentation": "<p> The target locale for the bot. </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lexmodelbuildingservice#BotName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bot.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lexmodelbuildingservice#Status",
          "traits": {
[...]
