{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.licensemanager#AWSLicenseManager": {
      "type": "service",
      "version": "2018-08-01",
      "operations": [
        {
          "target": "com.amazonaws.licensemanager#AcceptGrant"
        },
        {
          "target": "com.amazonaws.licensemanager#CheckInLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#CheckoutBorrowLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#CheckoutLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateGrant"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateGrantVersion"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateLicenseConversionTaskForResource"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateLicenseManagerReportGenerator"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateLicenseVersion"
        },
        {
          "target": "com.amazonaws.licensemanager#CreateToken"
        },
        {
          "target": "com.amazonaws.licensemanager#DeleteGrant"
        },
        {
          "target": "com.amazonaws.licensemanager#DeleteLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#DeleteLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#DeleteLicenseManagerReportGenerator"
        },
        {
          "target": "com.amazonaws.licensemanager#DeleteToken"
        },
        {
          "target": "com.amazonaws.licensemanager#ExtendLicenseConsumption"
        },
        {
          "target": "com.amazonaws.licensemanager#GetAccessToken"
        },
        {
          "target": "com.amazonaws.licensemanager#GetGrant"
        },
        {
          "target": "com.amazonaws.licensemanager#GetLicense"
        },
        {
          "target": "com.amazonaws.licensemanager#GetLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#GetLicenseConversionTask"
        },
        {
          "target": "com.amazonaws.licensemanager#GetLicenseManagerReportGenerator"
        },
        {
          "target": "com.amazonaws.licensemanager#GetLicenseUsage"
        },
        {
          "target": "com.amazonaws.licensemanager#GetServiceSettings"
        },
        {
          "target": "com.amazonaws.licensemanager#ListAssociationsForLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#ListDistributedGrants"
        },
        {
          "target": "com.amazonaws.licensemanager#ListFailuresForLicenseConfigurationOperations"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenseConfigurations"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenseConversionTasks"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenseManagerReportGenerators"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenses"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenseSpecificationsForResource"
        },
        {
          "target": "com.amazonaws.licensemanager#ListLicenseVersions"
        },
        {
          "target": "com.amazonaws.licensemanager#ListReceivedGrants"
        },
        {
          "target": "com.amazonaws.licensemanager#ListReceivedGrantsForOrganization"
        },
        {
          "target": "com.amazonaws.licensemanager#ListReceivedLicenses"
        },
        {
          "target": "com.amazonaws.licensemanager#ListReceivedLicensesForOrganization"
        },
        {
          "target": "com.amazonaws.licensemanager#ListResourceInventory"
        },
        {
          "target": "com.amazonaws.licensemanager#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.licensemanager#ListTokens"
        },
        {
          "target": "com.amazonaws.licensemanager#ListUsageForLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#RejectGrant"
        },
        {
          "target": "com.amazonaws.licensemanager#TagResource"
        },
        {
          "target": "com.amazonaws.licensemanager#UntagResource"
        },
        {
          "target": "com.amazonaws.licensemanager#UpdateLicenseConfiguration"
        },
        {
          "target": "com.amazonaws.licensemanager#UpdateLicenseManagerReportGenerator"
        },
        {
          "target": "com.amazonaws.licensemanager#UpdateLicenseSpecificationsForResource"
        },
        {
          "target": "com.amazonaws.licensemanager#UpdateServiceSettings"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "License Manager",
          "arnNamespace": "license-manager",
          "cloudFormationName": "LicenseManager",
          "cloudTrailEventSource": "licensemanager.amazonaws.com",
          "endpointPrefix": "license-manager"
        },
        "aws.auth#sigv4": {
          "name": "license-manager"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<p>License Manager makes it easier to manage licenses from software vendors across multiple \n         Amazon Web Services accounts and on-premises servers.</p>",
        "smithy.api#title": "AWS License Manager",
        "smithy.api#xmlNamespace": {
          "uri": "https://license-manager.amazonaws.com/doc/2018_08_01"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://license-manager-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://license-manager-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://license-manager.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://license-manager.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ca-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ca-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-central-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.af-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "af-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-north-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "eu-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-northeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.me-south-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "me-south-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.sa-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "sa-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-north-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-gov-west-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-iso-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "ap-southeast-3",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-east-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-2",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "cn-northwest-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://license-manager.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-isob-east-1",
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "Region": "us-east-1",
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "Region": "us-east-1",
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.licensemanager#AcceptGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#AcceptGrantRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#AcceptGrantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts the specified grant.</p>"
      }
    },
    "com.amazonaws.licensemanager#AcceptGrantRequest": {
      "type": "structure",
      "members": {
        "GrantArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the grant.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.licensemanager#AcceptGrantResponse": {
      "type": "structure",
      "members": {
        "GrantArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Grant ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.licensemanager#GrantStatus",
          "traits": {
            "smithy.api#documentation": "<p>Grant status.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Grant version.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.licensemanager#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ServiceAccessDenied",
          "httpResponseCode": 401
        },
        "smithy.api#documentation": "<p>Access to resource denied.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 401
      }
    },
    "com.amazonaws.licensemanager#AllowedOperation": {
      "type": "enum",
      "members": {
        "CREATE_GRANT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateGrant"
          }
        },
        "CHECKOUT_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CheckoutLicense"
          }
        },
        "CHECKOUT_BORROW_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CheckoutBorrowLicense"
          }
        },
        "CHECK_IN_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CheckInLicense"
          }
        },
        "EXTEND_CONSUMPTION_LICENSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ExtendConsumptionLicense"
          }
        },
        "LIST_PURCHASED_LICENSES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ListPurchasedLicenses"
          }
        },
        "CREATE_TOKEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CreateToken"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#AllowedOperationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.licensemanager#AllowedOperation"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 7
        }
      }
    },
    "com.amazonaws.licensemanager#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-(cn|us-gov|iso-b|iso-c|iso-d))?:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$"
      }
    },
    "com.amazonaws.licensemanager#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.licensemanager#Arn"
      }
    },
    "com.amazonaws.licensemanager#AuthorizationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.licensemanager#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "AuthorizationFailure",
          "httpResponseCode": 403
        },
        "smithy.api#documentation": "<p>The Amazon Web Services user account does not have permission to perform the action. Check the IAM\n         policy associated with this account.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.licensemanager#AutomatedDiscoveryInformation": {
      "type": "structure",
      "members": {
        "LastRunTime": {
          "target": "com.amazonaws.licensemanager#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Time that automated discovery last ran.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes automated discovery.</p>"
      }
    },
    "com.amazonaws.licensemanager#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.licensemanager#BorrowConfiguration": {
      "type": "structure",
      "members": {
        "AllowEarlyCheckIn": {
          "target": "com.amazonaws.licensemanager#BoxBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether early check-ins are allowed.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxTimeToLiveInMinutes": {
          "target": "com.amazonaws.licensemanager#BoxInteger",
          "traits": {
            "smithy.api#documentation": "<p>Maximum time for the borrow configuration, in minutes.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a borrow configuration.</p>"
      }
    },
    "com.amazonaws.licensemanager#BoxBoolean": {
      "type": "boolean"
    },
    "com.amazonaws.licensemanager#BoxInteger": {
      "type": "integer"
    },
    "com.amazonaws.licensemanager#BoxLong": {
      "type": "long"
    },
    "com.amazonaws.licensemanager#CheckInLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CheckInLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CheckInLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#ConflictException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Checks in the specified license. Check in a license when it is no longer in use.</p>"
      }
    },
    "com.amazonaws.licensemanager#CheckInLicenseRequest": {
      "type": "structure",
      "members": {
        "LicenseConsumptionToken": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>License consumption token.</p>",
            "smithy.api#required": {}
          }
        },
        "Beneficiary": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>License beneficiary.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CheckInLicenseResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.licensemanager#CheckoutBorrowLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CheckoutBorrowLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CheckoutBorrowLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#EntitlementNotAllowedException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#NoEntitlementsAllowedException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#RedirectException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#UnsupportedDigitalSignatureMethodException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Checks out the specified license for offline use.</p>"
      }
    },
    "com.amazonaws.licensemanager#CheckoutBorrowLicenseRequest": {
      "type": "structure",
      "members": {
        "LicenseArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license. The license must use the borrow consumption configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.licensemanager#EntitlementDataList",
          "traits": {
            "smithy.api#documentation": "<p>License entitlements. Partial checkouts are not supported.</p>",
            "smithy.api#required": {}
          }
        },
        "DigitalSignatureMethod": {
          "target": "com.amazonaws.licensemanager#DigitalSignatureMethod",
          "traits": {
            "smithy.api#documentation": "<p>Digital signature method. The possible value is JSON Web Signature (JWS) algorithm PS384.\n         For more information, see <a href=\"https://tools.ietf.org/html/rfc7518#section-3.5\">RFC 7518 Digital Signature with RSASSA-PSS</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "NodeId": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Node ID.</p>"
          }
        },
        "CheckoutMetadata": {
          "target": "com.amazonaws.licensemanager#MetadataList",
          "traits": {
            "smithy.api#documentation": "<p>Information about constraints.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.licensemanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CheckoutBorrowLicenseResponse": {
      "type": "structure",
      "members": {
        "LicenseArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license.</p>"
          }
        },
        "LicenseConsumptionToken": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>License consumption token.</p>"
          }
        },
        "EntitlementsAllowed": {
          "target": "com.amazonaws.licensemanager#EntitlementDataList",
          "traits": {
            "smithy.api#documentation": "<p>Allowed license entitlements.</p>"
          }
        },
        "NodeId": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Node ID.</p>"
          }
        },
        "SignedToken": {
          "target": "com.amazonaws.licensemanager#SignedToken",
          "traits": {
            "smithy.api#documentation": "<p>Signed token.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.licensemanager#ISO8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which the license checkout is issued.</p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.licensemanager#ISO8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which the license checkout expires.</p>"
          }
        },
        "CheckoutMetadata": {
          "target": "com.amazonaws.licensemanager#MetadataList",
          "traits": {
            "smithy.api#documentation": "<p>Information about constraints.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CheckoutLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CheckoutLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CheckoutLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#NoEntitlementsAllowedException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#RedirectException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#UnsupportedDigitalSignatureMethodException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Checks out the specified license.</p>\n         <note>\n            <p>If the account that created the license is the same that is performing the check out, you must\n            specify the account as the beneficiary.</p>\n         </note>"
      }
    },
    "com.amazonaws.licensemanager#CheckoutLicenseRequest": {
      "type": "structure",
      "members": {
        "ProductSKU": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Product SKU.</p>",
            "smithy.api#required": {}
          }
        },
        "CheckoutType": {
          "target": "com.amazonaws.licensemanager#CheckoutType",
          "traits": {
            "smithy.api#documentation": "<p>Checkout type.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyFingerprint": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Key fingerprint identifying the license.</p>",
            "smithy.api#required": {}
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.licensemanager#EntitlementDataList",
          "traits": {
            "smithy.api#documentation": "<p>License entitlements.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.licensemanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "Beneficiary": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>License beneficiary.</p>"
          }
        },
        "NodeId": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Node ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CheckoutLicenseResponse": {
      "type": "structure",
      "members": {
        "CheckoutType": {
          "target": "com.amazonaws.licensemanager#CheckoutType",
          "traits": {
            "smithy.api#documentation": "<p>Checkout type.</p>"
          }
        },
        "LicenseConsumptionToken": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>License consumption token.</p>"
          }
        },
        "EntitlementsAllowed": {
          "target": "com.amazonaws.licensemanager#EntitlementDataList",
          "traits": {
            "smithy.api#documentation": "<p>Allowed license entitlements.</p>"
          }
        },
        "SignedToken": {
          "target": "com.amazonaws.licensemanager#SignedToken",
          "traits": {
            "smithy.api#documentation": "<p>Signed token.</p>"
          }
        },
        "NodeId": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Node ID.</p>"
          }
        },
        "IssuedAt": {
          "target": "com.amazonaws.licensemanager#ISO8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which the license checkout is issued.</p>"
          }
        },
        "Expiration": {
          "target": "com.amazonaws.licensemanager#ISO8601DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Date and time at which the license checkout expires.</p>"
          }
        },
        "LicenseArn": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the checkout license.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CheckoutType": {
      "type": "enum",
      "members": {
        "PROVISIONAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROVISIONAL"
          }
        },
        "PERPETUAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PERPETUAL"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 36
        }
      }
    },
    "com.amazonaws.licensemanager#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 2048
        },
        "smithy.api#pattern": "^\\S+$"
      }
    },
    "com.amazonaws.licensemanager#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.licensemanager#Message"
        }
      },
      "traits": {
        "aws.protocols#awsQueryError": {
          "code": "ConflictException",
          "httpResponseCode": 409
        },
        "smithy.api#documentation": "<p>There was a conflict processing the request. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.licensemanager#ConsumedLicenseSummary": {
      "type": "structure",
      "members": {
        "ResourceType": {
          "target": "com.amazonaws.licensemanager#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>Resource type of the resource consuming a license.</p>"
          }
        },
        "ConsumedLicenses": {
          "target": "com.amazonaws.licensemanager#BoxLong",
          "traits": {
            "smithy.api#documentation": "<p>Number of licenses consumed by the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about license consumption.</p>"
      }
    },
    "com.amazonaws.licensemanager#ConsumedLicenseSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.licensemanager#ConsumedLicenseSummary"
      }
    },
    "com.amazonaws.licensemanager#ConsumptionConfiguration": {
      "type": "structure",
      "members": {
        "RenewType": {
          "target": "com.amazonaws.licensemanager#RenewType",
          "traits": {
            "smithy.api#documentation": "<p>Renewal frequency.</p>"
          }
        },
        "ProvisionalConfiguration": {
          "target": "com.amazonaws.licensemanager#ProvisionalConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about a provisional configuration.</p>"
          }
        },
        "BorrowConfiguration": {
          "target": "com.amazonaws.licensemanager#BorrowConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Details about a borrow configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a consumption configuration.</p>"
      }
    },
    "com.amazonaws.licensemanager#CreateGrant": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CreateGrantRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CreateGrantResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a grant for the specified license. A grant shares the use of license entitlements with specific Amazon Web Services accounts.</p>"
      }
    },
    "com.amazonaws.licensemanager#CreateGrantRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.licensemanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "GrantName": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Grant name.</p>",
            "smithy.api#required": {}
          }
        },
        "LicenseArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the license.</p>",
            "smithy.api#required": {}
          }
        },
        "Principals": {
          "target": "com.amazonaws.licensemanager#PrincipalArnList",
          "traits": {
            "smithy.api#documentation": "<p>The grant principals. This value should be specified as an Amazon Resource Name (ARN).</p>",
            "smithy.api#required": {}
          }
        },
        "HomeRegion": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Home Region of the grant.</p>",
            "smithy.api#required": {}
          }
        },
        "AllowedOperations": {
          "target": "com.amazonaws.licensemanager#AllowedOperationList",
          "traits": {
            "smithy.api#documentation": "<p>Allowed operations for the grant.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CreateGrantResponse": {
      "type": "structure",
      "members": {
        "GrantArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Grant ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.licensemanager#GrantStatus",
          "traits": {
            "smithy.api#documentation": "<p>Grant status.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Grant version.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CreateGrantVersion": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CreateGrantVersionRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CreateGrantVersionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
          "target": "com.amazonaws.licensemanager#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of the specified grant.</p>"
      }
    },
    "com.amazonaws.licensemanager#CreateGrantVersionRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.licensemanager#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#required": {}
          }
        },
        "GrantArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Amazon Resource Name (ARN) of the grant.</p>",
            "smithy.api#required": {}
          }
        },
        "GrantName": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Grant name.</p>"
          }
        },
        "AllowedOperations": {
          "target": "com.amazonaws.licensemanager#AllowedOperationList",
          "traits": {
            "smithy.api#documentation": "<p>Allowed operations for the grant.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.licensemanager#GrantStatus",
          "traits": {
            "smithy.api#documentation": "<p>Grant status.</p>"
          }
        },
        "StatusReason": {
          "target": "com.amazonaws.licensemanager#StatusReasonMessage",
          "traits": {
            "smithy.api#documentation": "<p>Grant status reason.</p>"
          }
        },
        "SourceVersion": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>Current version of the grant.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CreateGrantVersionResponse": {
      "type": "structure",
      "members": {
        "GrantArn": {
          "target": "com.amazonaws.licensemanager#Arn",
          "traits": {
            "smithy.api#documentation": "<p>Grant ARN.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.licensemanager#GrantStatus",
          "traits": {
            "smithy.api#documentation": "<p>Grant status.</p>"
          }
        },
        "Version": {
          "target": "com.amazonaws.licensemanager#String",
          "traits": {
            "smithy.api#documentation": "<p>New version of the grant.</p>"
          }
        }
      }
    },
    "com.amazonaws.licensemanager#CreateLicense": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.licensemanager#CreateLicenseRequest"
      },
      "output": {
        "target": "com.amazonaws.licensemanager#CreateLicenseResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.licensemanager#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.licensemanager#AuthorizationException"
        },
        {
          "target": "com.amazonaws.licensemanager#InvalidParameterValueException"
        },
        {
          "target": "com.amazonaws.licensemanager#RateLimitExceededException"
        },
        {
          "target": "com.amazonaws.licensemanager#RedirectException"
        },
        {
          "target": "com.amazonaws.licensemanager#ServerInternalException"
        },
        {
[...]
