{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lightsail#AccessDeniedException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.lightsail#string"
        },
        "docs": {
          "target": "com.amazonaws.lightsail#string"
        },
        "message": {
          "target": "com.amazonaws.lightsail#string"
        },
        "tip": {
          "target": "com.amazonaws.lightsail#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lightsail throws this exception when the user cannot be authenticated or uses invalid\n      credentials to access a resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lightsail#AccessDirection": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "inbound",
            "name": "inbound"
          },
          {
            "value": "outbound",
            "name": "outbound"
          }
        ]
      }
    },
    "com.amazonaws.lightsail#AccountSetupInProgressException": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.lightsail#string"
        },
        "docs": {
          "target": "com.amazonaws.lightsail#string"
        },
        "message": {
          "target": "com.amazonaws.lightsail#string"
        },
        "tip": {
          "target": "com.amazonaws.lightsail#string"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Lightsail throws this exception when an account is still in the setup in progress\n      state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 428
      }
    },
    "com.amazonaws.lightsail#AddOn": {
      "type": "structure",
      "members": {
        "name": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the add-on.</p>"
          }
        },
        "nextSnapshotTimeOfDay": {
          "target": "com.amazonaws.lightsail#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "<p>The next daily time an automatic snapshot will be created.</p>\n         <p>The time shown is in <code>HH:00</code> format, and in Coordinated Universal Time\n      (UTC).</p>\n         <p>The snapshot is automatically created between the time shown and up to 45 minutes\n      after.</p>"
          }
        },
        "snapshotTimeOfDay": {
          "target": "com.amazonaws.lightsail#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "<p>The daily time when an automatic snapshot is created.</p>\n         <p>The time shown is in <code>HH:00</code> format, and in Coordinated Universal Time\n      (UTC).</p>\n         <p>The snapshot is automatically created between the time shown and up to 45 minutes\n      after.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The status of the add-on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an add-on that is enabled for an Amazon Lightsail resource.</p>"
      }
    },
    "com.amazonaws.lightsail#AddOnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#AddOn"
      }
    },
    "com.amazonaws.lightsail#AddOnRequest": {
      "type": "structure",
      "members": {
        "addOnType": {
          "target": "com.amazonaws.lightsail#AddOnType",
          "traits": {
            "smithy.api#documentation": "<p>The add-on type.</p>",
            "smithy.api#required": {}
          }
        },
        "autoSnapshotAddOnRequest": {
          "target": "com.amazonaws.lightsail#AutoSnapshotAddOnRequest",
          "traits": {
            "smithy.api#documentation": "<p>An object that represents additional parameters when enabling or modifying the automatic\n      snapshot add-on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a request to enable, modify, or disable an add-on for an Amazon Lightsail\n      resource.</p>\n         <note>\n            <p>An additional cost may be associated with enabling add-ons. For more information, see\n        the <a href=\"https://aws.amazon.com/lightsail/pricing/\">Lightsail pricing\n        page</a>.</p>\n         </note>"
      }
    },
    "com.amazonaws.lightsail#AddOnRequestList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#AddOnRequest"
      }
    },
    "com.amazonaws.lightsail#AddOnType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AutoSnapshot",
            "name": "AutoSnapshot"
          }
        ]
      }
    },
    "com.amazonaws.lightsail#AllocateStaticIp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#AllocateStaticIpRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#AllocateStaticIpResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Allocates a static IP address.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/AllocateStaticIp",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#AllocateStaticIpRequest": {
      "type": "structure",
      "members": {
        "staticIpName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the static IP address.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#AllocateStaticIpResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the static IP address you\n      allocated.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachDisk": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#AttachDiskRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#AttachDiskResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a block storage disk to a running or stopped Lightsail instance and exposes\n      it to the instance with the specified disk name.</p>\n         <p>The <code>attach disk</code> operation supports tag-based access control via resource\n      tags applied to the resource identified by <code>disk name</code>. For more information, see\n      the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/AttachDisk",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#AttachDiskRequest": {
      "type": "structure",
      "members": {
        "diskName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique Lightsail disk name (e.g., <code>my-disk</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "diskPath": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The disk path to expose to the instance (e.g., <code>/dev/xvdf</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "instanceName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Lightsail instance where you want to utilize the storage\n      disk.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachDiskResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachInstancesToLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#AttachInstancesToLoadBalancerRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#AttachInstancesToLoadBalancerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches one or more Lightsail instances to a load balancer.</p>\n         <p>After some time, the instances are attached to the load balancer and the health check\n      status is available.</p>\n         <p>The <code>attach instances to load balancer</code> operation supports tag-based access\n      control via resource tags applied to the resource identified by <code>load balancer\n        name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/AttachInstancesToLoadBalancer",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#AttachInstancesToLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "instanceNames": {
          "target": "com.amazonaws.lightsail#ResourceNameList",
          "traits": {
            "smithy.api#documentation": "<p>An array of strings representing the instance name(s) you want to attach to your load\n      balancer.</p>\n         <p>An instance must be <code>running</code> before you can attach it to your load\n      balancer.</p>\n         <p>There are no additional limits on the number of instances you can attach to your load\n      balancer, aside from the limit of Lightsail instances you can create in your account\n      (20).</p>",
            "smithy.api#required": {}
          }
        },
        "loadBalancerName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the load balancer.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachInstancesToLoadBalancerResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is\n      just an updated, more secure version of Secure Socket Layer (SSL).</p>\n         <p>Once you create and validate your certificate, you can attach it to your load balancer.\n      You can also use this API to rotate the certificates on your account. Use the <code>attach\n        load balancer tls certificate</code> operation with the non-attached certificate, and it\n      will replace the existing one and become the attached certificate.</p>\n         <p>The <code>attach load balancer tls certificate</code> operation supports tag-based\n      access control via resource tags applied to the resource identified by <code>load balancer\n        name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/AttachLoadBalancerTlsCertificate",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateRequest": {
      "type": "structure",
      "members": {
        "certificateName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your SSL/TLS certificate.</p>",
            "smithy.api#required": {}
          }
        },
        "loadBalancerName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the load balancer to which you want to associate the SSL/TLS\n      certificate.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachLoadBalancerTlsCertificateResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object representing the API operations.</p>\n         <p>These SSL/TLS certificates are only usable by Lightsail load balancers. You can't get\n      the certificate and use it for another purpose.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachStaticIp": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#AttachStaticIpRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#AttachStaticIpResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Attaches a static IP address to a specific Amazon Lightsail instance.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/AttachStaticIp",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#AttachStaticIpRequest": {
      "type": "structure",
      "members": {
        "instanceName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The instance name to which you want to attach the static IP address.</p>",
            "smithy.api#required": {}
          }
        },
        "staticIpName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the static IP.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachStaticIpResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about your API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#AttachedDisk": {
      "type": "structure",
      "members": {
        "path": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The path of the disk (e.g., <code>/dev/xvdf</code>).</p>"
          }
        },
        "sizeInGb": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the disk in GB.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a block storage disk that is attached to an instance, and is included in an\n      automatic snapshot.</p>"
      }
    },
    "com.amazonaws.lightsail#AttachedDiskList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#AttachedDisk"
      }
    },
    "com.amazonaws.lightsail#AttachedDiskMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.lightsail#ResourceName"
      },
      "value": {
        "target": "com.amazonaws.lightsail#DiskMapList"
      }
    },
    "com.amazonaws.lightsail#AutoSnapshotAddOnRequest": {
      "type": "structure",
      "members": {
        "snapshotTimeOfDay": {
          "target": "com.amazonaws.lightsail#TimeOfDay",
          "traits": {
            "smithy.api#documentation": "<p>The daily time when an automatic snapshot will be created.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be in <code>HH:00</code> format, and in an hourly increment.</p>\n            </li>\n            <li>\n               <p>Specified in Coordinated Universal Time (UTC).</p>\n            </li>\n            <li>\n               <p>The snapshot will be automatically created between the time specified and up to 45\n          minutes after.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a request to enable or modify the automatic snapshot add-on for an\n      Amazon Lightsail instance or disk.</p>\n         <p>When you modify the automatic snapshot time for a resource, it is typically effective\n      immediately except under the following conditions:</p>\n         <ul>\n            <li>\n               <p>If an automatic snapshot has been created for the current day, and you change the\n          snapshot time to a later time of day, then the new snapshot time will be effective the\n          following day. This ensures that two snapshots are not created for the current day.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot has not yet been created for the current day, and you change\n          the snapshot time to an earlier time of day, then the new snapshot time will be effective\n          the following day and a snapshot is automatically created at the previously set time for\n          the current day. This ensures that a snapshot is created for the current day.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot has not yet been created for the current day, and you change\n          the snapshot time to a time that is within 30 minutes from your current time, then the new\n          snapshot time will be effective the following day and a snapshot is automatically created\n          at the previously set time for the current day. This ensures that a snapshot is created\n          for the current day, because 30 minutes is required between your current time and the new\n          snapshot time that you specify.</p>\n            </li>\n            <li>\n               <p>If an automatic snapshot is scheduled to be created within 30 minutes from your\n          current time and you change the snapshot time, then the new snapshot time will be\n          effective the following day and a snapshot is automatically created at the previously set\n          time for the current day. This ensures that a snapshot is created for the current day,\n          because 30 minutes is required between your current time and the new snapshot time that\n          you specify.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.lightsail#AutoSnapshotDate": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}$"
      }
    },
    "com.amazonaws.lightsail#AutoSnapshotDetails": {
      "type": "structure",
      "members": {
        "createdAt": {
          "target": "com.amazonaws.lightsail#IsoDate",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the automatic snapshot was created.</p>"
          }
        },
        "date": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The date of the automatic snapshot in <code>YYYY-MM-DD</code> format.</p>"
          }
        },
        "fromAttachedDisks": {
          "target": "com.amazonaws.lightsail#AttachedDiskList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that describe the block storage disks attached to the instance when\n      the automatic snapshot was created.</p>"
          }
        },
        "status": {
          "target": "com.amazonaws.lightsail#AutoSnapshotStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the automatic snapshot.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an automatic snapshot.</p>"
      }
    },
    "com.amazonaws.lightsail#AutoSnapshotDetailsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#AutoSnapshotDetails"
      }
    },
    "com.amazonaws.lightsail#AutoSnapshotStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Success",
            "name": "SUCCESS"
          },
          {
            "value": "Failed",
            "name": "FAILED"
          },
          {
            "value": "InProgress",
            "name": "IN_PROGRESS"
          },
          {
            "value": "NotFound",
            "name": "NOT_FOUND"
          }
        ]
      }
    },
    "com.amazonaws.lightsail#AvailabilityZone": {
      "type": "structure",
      "members": {
        "state": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The state of the Availability Zone.</p>"
          }
        },
        "zoneName": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Availability Zone. The format is <code>us-east-2a</code>\n      (case-sensitive).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Availability Zone.</p>"
      }
    },
    "com.amazonaws.lightsail#AvailabilityZoneList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#AvailabilityZone"
      }
    },
    "com.amazonaws.lightsail#Base64": {
      "type": "string"
    },
    "com.amazonaws.lightsail#Blueprint": {
      "type": "structure",
      "members": {
        "blueprintId": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for the virtual private server image (e.g., <code>app_wordpress_4_4</code> or\n        <code>app_lamp_7_0</code>).</p>"
          }
        },
        "description": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The description of the blueprint.</p>"
          }
        },
        "group": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The group name of the blueprint (e.g., <code>amazon-linux</code>).</p>"
          }
        },
        "isActive": {
          "target": "com.amazonaws.lightsail#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating whether the blueprint is active. Inactive blueprints are\n      listed to support customers with existing instances but are not necessarily available for\n      launch of new instances. Blueprints are marked inactive when they become outdated due to\n      operating system updates or new application releases.</p>"
          }
        },
        "licenseUrl": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The end-user license agreement URL for the image or blueprint.</p>"
          }
        },
        "minPower": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The minimum bundle power required to run this blueprint. For example, you need a bundle\n      with a power value of 500 or more to create an instance that uses a blueprint with a minimum\n      power value of 500. <code>0</code> indicates that the blueprint runs on all instance sizes.\n    </p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The friendly name of the blueprint (e.g., <code>Amazon Linux</code>).</p>"
          }
        },
        "platform": {
          "target": "com.amazonaws.lightsail#InstancePlatform",
          "traits": {
            "smithy.api#documentation": "<p>The operating system platform (either Linux/Unix-based or Windows Server-based) of the\n      blueprint.</p>"
          }
        },
        "productUrl": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The product URL to learn more about the image or blueprint.</p>"
          }
        },
        "type": {
          "target": "com.amazonaws.lightsail#BlueprintType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the blueprint (e.g., <code>os</code> or <code>app</code>).</p>"
          }
        },
        "version": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The version number of the operating system, application, or stack (e.g.,\n        <code>2016.03.0</code>).</p>"
          }
        },
        "versionCode": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The version code.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a blueprint (a virtual private server image).</p>"
      }
    },
    "com.amazonaws.lightsail#BlueprintList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#Blueprint"
      }
    },
    "com.amazonaws.lightsail#BlueprintType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "os",
            "name": "os"
          },
          {
            "value": "app",
            "name": "app"
          }
        ]
      }
    },
    "com.amazonaws.lightsail#Bundle": {
      "type": "structure",
      "members": {
        "bundleId": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bundle ID (e.g., <code>micro_1_0</code>).</p>"
          }
        },
        "cpuCount": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The number of vCPUs included in the bundle (e.g., <code>2</code>).</p>"
          }
        },
        "diskSizeInGb": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the SSD (e.g., <code>30</code>).</p>"
          }
        },
        "instanceType": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon EC2 instance type (e.g., <code>t2.micro</code>).</p>"
          }
        },
        "isActive": {
          "target": "com.amazonaws.lightsail#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value indicating whether the bundle is active.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>A friendly name for the bundle (e.g., <code>Micro</code>).</p>"
          }
        },
        "power": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>A numeric value that represents the power of the bundle (e.g., <code>500</code>). You\n      can use the bundle's power value in conjunction with a blueprint's minimum power value to\n      determine whether the blueprint will run on the bundle. For example, you need a bundle with a\n      power value of 500 or more to create an instance that uses a blueprint with a minimum power\n      value of 500.</p>"
          }
        },
        "price": {
          "target": "com.amazonaws.lightsail#float",
          "traits": {
            "smithy.api#documentation": "<p>The price in US dollars (e.g., <code>5.0</code>).</p>"
          }
        },
        "ramSizeInGb": {
          "target": "com.amazonaws.lightsail#float",
          "traits": {
            "smithy.api#documentation": "<p>The amount of RAM in GB (e.g., <code>2.0</code>).</p>"
          }
        },
        "supportedPlatforms": {
          "target": "com.amazonaws.lightsail#InstancePlatformList",
          "traits": {
            "smithy.api#documentation": "<p>The operating system platform (Linux/Unix-based or Windows Server-based) that the\n      bundle supports. You can only launch a <code>WINDOWS</code> bundle on a blueprint that\n      supports the <code>WINDOWS</code> platform. <code>LINUX_UNIX</code> blueprints require a\n        <code>LINUX_UNIX</code> bundle.</p>"
          }
        },
        "transferPerMonthInGb": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The data transfer rate per month in GB (e.g., <code>2000</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a bundle, which is a set of specs describing your virtual private server (or\n        <i>instance</i>).</p>"
      }
    },
    "com.amazonaws.lightsail#BundleList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#Bundle"
      }
    },
    "com.amazonaws.lightsail#CloseInstancePublicPorts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CloseInstancePublicPortsRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CloseInstancePublicPortsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Closes the public ports on a specific Amazon Lightsail instance.</p>\n         <p>The <code>close instance public ports</code> operation supports tag-based access\n      control via resource tags applied to the resource identified by <code>instance name</code>.\n      For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CloseInstancePublicPorts",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CloseInstancePublicPortsRequest": {
      "type": "structure",
      "members": {
        "instanceName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the instance on which you're attempting to close the public\n      ports.</p>",
            "smithy.api#required": {}
          }
        },
        "portInfo": {
          "target": "com.amazonaws.lightsail#PortInfo",
          "traits": {
            "smithy.api#documentation": "<p>Information about the public port you are trying to close.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#CloseInstancePublicPortsResult": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.amazonaws.lightsail#Operation",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs that contains information about the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CloudFormationStackRecord": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the CloudFormation stack record.</p>"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.lightsail#IsoDate",
          "traits": {
            "smithy.api#documentation": "<p>The date when the CloudFormation stack record was created.</p>"
          }
        },
        "destinationInfo": {
          "target": "com.amazonaws.lightsail#DestinationInfo",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects describing the destination service, which is AWS CloudFormation, and the Amazon\n      Resource Name (ARN) of the AWS CloudFormation stack.</p>"
          }
        },
        "location": {
          "target": "com.amazonaws.lightsail#ResourceLocation",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects describing the Availability Zone and AWS Region of the CloudFormation\n      stack record.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the CloudFormation stack record. It starts with\n        <code>CloudFormationStackRecord</code> followed by a GUID.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.lightsail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The Lightsail resource type (e.g., <code>CloudFormationStackRecord</code>).</p>"
          }
        },
        "sourceInfo": {
          "target": "com.amazonaws.lightsail#CloudFormationStackRecordSourceInfoList",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects describing the source of the CloudFormation stack record.</p>"
          }
        },
        "state": {
          "target": "com.amazonaws.lightsail#RecordState",
          "traits": {
            "smithy.api#documentation": "<p>The current state of the CloudFormation stack record.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a CloudFormation stack record created as a result of the <code>create cloud\n        formation stack</code> operation.</p>\n         <p>A CloudFormation stack record provides information about the AWS CloudFormation stack used to\n      create a new Amazon Elastic Compute Cloud instance from an exported Lightsail instance snapshot.</p>"
      }
    },
    "com.amazonaws.lightsail#CloudFormationStackRecordList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#CloudFormationStackRecord"
      }
    },
    "com.amazonaws.lightsail#CloudFormationStackRecordSourceInfo": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the export snapshot record.</p>"
          }
        },
        "name": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the record.</p>"
          }
        },
        "resourceType": {
          "target": "com.amazonaws.lightsail#CloudFormationStackRecordSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The Lightsail resource type (e.g., <code>ExportSnapshotRecord</code>).</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the source of a CloudFormation stack record (i.e., the export snapshot\n      record).</p>"
      }
    },
    "com.amazonaws.lightsail#CloudFormationStackRecordSourceInfoList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lightsail#CloudFormationStackRecordSourceInfo"
      }
    },
    "com.amazonaws.lightsail#CloudFormationStackRecordSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ExportSnapshotRecord",
            "name": "ExportSnapshotRecord"
          }
        ]
      }
    },
    "com.amazonaws.lightsail#CopySnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CopySnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CopySnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Copies a manual snapshot of an instance or disk as another manual snapshot, or copies an\n      automatic snapshot of an instance or disk as a manual snapshot. This operation can also be\n      used to copy a manual or automatic snapshot of an instance or a disk from one AWS Region to\n      another in Amazon Lightsail.</p>\n         <p>When copying a <i>manual snapshot</i>, be sure to define the <code>source\n        region</code>, <code>source snapshot name</code>, and <code>target snapshot name</code>\n      parameters.</p>\n         <p>When copying an <i>automatic snapshot</i>, be sure to define the\n        <code>source region</code>, <code>source resource name</code>, <code>target snapshot\n        name</code>, and either the <code>restore date</code> or the <code>use latest restorable\n        auto snapshot</code> parameters.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CopySnapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CopySnapshotRequest": {
      "type": "structure",
      "members": {
        "restoreDate": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The date of the source automatic snapshot to copy. Use the <code>get auto snapshots</code>\n      operation to identify the dates of the available automatic snapshots.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be specified in <code>YYYY-MM-DD</code> format.</p>\n            </li>\n            <li>\n               <p>This parameter cannot be defined together with the <code>use latest restorable auto\n            snapshot</code> parameter. The <code>restore date</code> and <code>use latest restorable\n            auto snapshot</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when copying an automatic snapshot as a manual snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-keeping-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "sourceRegion": {
          "target": "com.amazonaws.lightsail#RegionName",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Region where the source manual or automatic snapshot is located.</p>",
            "smithy.api#required": {}
          }
        },
        "sourceResourceName": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source instance or disk from which the source automatic snapshot was\n      created.</p>\n         <p>Constraint:</p>\n         <ul>\n            <li>\n               <p>Define this parameter only when copying an automatic snapshot as a manual snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-keeping-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "sourceSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source manual snapshot to copy.</p>\n         <p>Constraint:</p>\n         <ul>\n            <li>\n               <p>Define this parameter only when copying a manual snapshot as another manual\n          snapshot.</p>\n            </li>\n         </ul>"
          }
        },
        "targetSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new manual snapshot to be created as a copy.</p>",
            "smithy.api#required": {}
          }
        },
        "useLatestRestorableAutoSnapshot": {
          "target": "com.amazonaws.lightsail#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value to indicate whether to use the latest available automatic snapshot of the\n      specified source instance or disk.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>restore date</code>\n          parameter. The <code>use latest restorable auto snapshot</code> and <code>restore\n            date</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when copying an automatic snapshot as a manual snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-keeping-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CopySnapshotResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects describing the API operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateCloudFormationStack": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateCloudFormationStackRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateCloudFormationStackResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an AWS CloudFormation stack, which creates a new Amazon EC2 instance from an exported\n      Amazon Lightsail snapshot. This operation results in a CloudFormation stack record that can be\n      used to track the AWS CloudFormation stack created. Use the <code>get cloud formation stack\n        records</code> operation to get a list of the CloudFormation stacks created.</p>\n         <important>\n            <p>Wait until after your new Amazon EC2 instance is created before running the <code>create\n          cloud formation stack</code> operation again with the same export snapshot record.</p>\n         </important>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateCloudFormationStack",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateCloudFormationStackRequest": {
      "type": "structure",
      "members": {
        "instances": {
          "target": "com.amazonaws.lightsail#InstanceEntryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of parameters that will be used to create the new Amazon EC2 instance. You can only\n      pass one instance entry at a time in this array. You will get an invalid parameter error if\n      you pass more than one instance entry in this array.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateCloudFormationStackResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>A list of objects describing the API operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDisk": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateDiskRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateDiskResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a block storage disk that can be attached to an Amazon Lightsail instance in the\n      same Availability Zone (e.g., <code>us-east-2a</code>).</p>\n         <p>The <code>create disk</code> operation supports tag-based access control via request\n      tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateDisk",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskFromSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateDiskFromSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateDiskFromSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a block storage disk from a manual or automatic snapshot of a disk. The\n      resulting disk can be attached to an Amazon Lightsail instance in the same Availability Zone\n      (e.g., <code>us-east-2a</code>).</p>\n         <p>The <code>create disk from snapshot</code> operation supports tag-based access control\n      via request tags and resource tags applied to the resource identified by <code>disk snapshot\n        name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateDiskFromSnapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskFromSnapshotRequest": {
      "type": "structure",
      "members": {
        "addOns": {
          "target": "com.amazonaws.lightsail#AddOnRequestList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that represent the add-ons to enable for the new disk.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where you want to create the disk (e.g.,\n      <code>us-east-2a</code>). Choose the same Availability Zone as the Lightsail instance where\n      you want to create the disk.</p>\n         <p>Use the GetRegions operation to list the Availability Zones where Lightsail is\n      currently available.</p>",
            "smithy.api#required": {}
          }
        },
        "diskName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique Lightsail disk name (e.g., <code>my-disk</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "diskSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the disk snapshot (e.g., <code>my-snapshot</code>) from which to create the\n      new storage disk.</p>\n         <p>Constraint:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>source disk name</code>\n          parameter. The <code>disk snapshot name</code> and <code>source disk name</code>\n          parameters are mutually exclusive.</p>\n            </li>\n         </ul>"
          }
        },
        "restoreDate": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The date of the automatic snapshot to use for the new disk. Use the <code>get auto\n        snapshots</code> operation to identify the dates of the available automatic\n      snapshots.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be specified in <code>YYYY-MM-DD</code> format.</p>\n            </li>\n            <li>\n               <p>This parameter cannot be defined together with the <code>use latest restorable auto\n            snapshot</code> parameter. The <code>restore date</code> and <code>use latest restorable\n            auto snapshot</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new disk from an automatic snapshot. For\n          more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "sizeInGb": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the disk in GB (e.g., <code>32</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "sourceDiskName": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source disk from which the source automatic snapshot was created.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>disk snapshot name</code>\n          parameter. The <code>source disk name</code> and <code>disk snapshot name</code>\n          parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new disk from an automatic snapshot. For\n          more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        },
        "useLatestRestorableAutoSnapshot": {
          "target": "com.amazonaws.lightsail#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value to indicate whether to use the latest available automatic snapshot.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>restore date</code>\n          parameter. The <code>use latest restorable auto snapshot</code> and <code>restore\n            date</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new disk from an automatic snapshot. For\n          more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskFromSnapshotResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskRequest": {
      "type": "structure",
      "members": {
        "addOns": {
          "target": "com.amazonaws.lightsail#AddOnRequestList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects that represent the add-ons to enable for the new disk.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where you want to create the disk (e.g.,\n      <code>us-east-2a</code>). Use the same Availability Zone as the Lightsail instance to which\n      you want to attach the disk.</p>\n         <p>Use the <code>get regions</code> operation to list the Availability Zones where\n      Lightsail is currently available.</p>",
            "smithy.api#required": {}
          }
        },
        "diskName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique Lightsail disk name (e.g., <code>my-disk</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "sizeInGb": {
          "target": "com.amazonaws.lightsail#integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the disk in GB (e.g., <code>32</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateDiskSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateDiskSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a block storage disk. You can use snapshots for backups, to make\n      copies of disks, and to save data before shutting down a Lightsail instance.</p>\n         <p>You can take a snapshot of an attached disk that is in use; however, snapshots only\n      capture data that has been written to your disk at the time the snapshot command is issued.\n      This may exclude any data that has been cached by any applications or the operating system. If\n      you can pause any file systems on the disk long enough to take a snapshot, your snapshot\n      should be complete. Nevertheless, if you cannot pause all file writes to the disk, you should\n      unmount the disk from within the Lightsail instance, issue the create disk snapshot command,\n      and then remount the disk to ensure a consistent and complete snapshot. You may remount and\n      use your disk while the snapshot status is pending.</p>\n         <p>You can also use this operation to create a snapshot of an instance's system volume. You\n      might want to do this, for example, to recover data from the system volume of a botched\n      instance or to create a backup of the system volume like you would for a block storage disk.\n      To create a snapshot of a system volume, just define the <code>instance name</code> parameter\n      when issuing the snapshot command, and a snapshot of the defined instance's system volume will\n      be created. After the snapshot is available, you can create a block storage disk from the\n      snapshot and attach it to a running instance to access the data on the disk.</p>\n      \n         <p>The <code>create disk snapshot</code> operation supports tag-based access control via\n      request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateDiskSnapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskSnapshotRequest": {
      "type": "structure",
      "members": {
        "diskName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the source disk (e.g., <code>Disk-Virginia-1</code>).</p>\n         <note>\n            <p>This parameter cannot be defined together with the <code>instance name</code> parameter.\n        The <code>disk name</code> and <code>instance name</code> parameters are mutually\n        exclusive.</p>\n         </note>"
          }
        },
        "diskSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the destination disk snapshot (e.g., <code>my-disk-snapshot</code>) based\n      on the source disk.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The unique name of the source instance (e.g., <code>Amazon_Linux-512MB-Virginia-1</code>).\n      When this is defined, a snapshot of the instance's system volume is created.</p>\n         <note>\n            <p>This parameter cannot be defined together with the <code>disk name</code> parameter. The\n          <code>instance name</code> and <code>disk name</code> parameters are mutually\n        exclusive.</p>\n         </note>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDiskSnapshotResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object describing the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomain": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateDomainRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateDomainResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a domain resource for the specified domain (e.g., example.com).</p>\n         <p>The <code>create domain</code> operation supports tag-based access control via request\n      tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateDomain",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomainEntry": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateDomainEntryRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateDomainEntryResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one of the following entry records associated with the domain: Address (A),\n      canonical name (CNAME), mail exchanger (MX), name server (NS), start of authority (SOA),\n      service locator (SRV), or text (TXT).</p>\n         <p>The <code>create domain entry</code> operation supports tag-based access control via\n      resource tags applied to the resource identified by <code>domain name</code>. For more\n      information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateDomainEntry",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomainEntryRequest": {
      "type": "structure",
      "members": {
        "domainEntry": {
          "target": "com.amazonaws.lightsail#DomainEntry",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the domain entry\n      request.</p>",
            "smithy.api#required": {}
          }
        },
        "domainName": {
          "target": "com.amazonaws.lightsail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name (e.g., <code>example.com</code>) for which you want to create the\n      domain entry.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomainEntryResult": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.amazonaws.lightsail#Operation",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomainRequest": {
      "type": "structure",
      "members": {
        "domainName": {
          "target": "com.amazonaws.lightsail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name to manage (e.g., <code>example.com</code>).</p>\n         <note>\n            <p>You cannot register a new domain name using Lightsail. You must register a domain\n        name using Amazon Route 53 or another domain name registrar. If you have already registered\n        your domain, you can enter its name in this parameter to manage the DNS records for that\n        domain.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateDomainResult": {
      "type": "structure",
      "members": {
        "operation": {
          "target": "com.amazonaws.lightsail#Operation",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the domain resource you\n      created.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstanceSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateInstanceSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateInstanceSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a snapshot of a specific virtual private server, or\n        <i>instance</i>. You can use a snapshot to create a new instance that is based\n      on that snapshot.</p>\n         <p>The <code>create instance snapshot</code> operation supports tag-based access control\n      via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateInstanceSnapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstanceSnapshotRequest": {
      "type": "structure",
      "members": {
        "instanceName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Lightsail instance on which to base your snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for your new snapshot.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstanceSnapshotResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the results of your create\n      instances snapshot request.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstances": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateInstancesRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateInstancesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more Amazon Lightsail instances.</p>\n         <p>The <code>create instances</code> operation supports tag-based access control via\n      request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateInstances",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstancesFromSnapshot": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateInstancesFromSnapshotRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateInstancesFromSnapshotResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates one or more new instances from a manual or automatic snapshot of an\n      instance.</p>\n         <p>The <code>create instances from snapshot</code> operation supports tag-based access\n      control via request tags and resource tags applied to the resource identified by\n        <code>instance snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateInstancesFromSnapshot",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstancesFromSnapshotRequest": {
      "type": "structure",
      "members": {
        "addOns": {
          "target": "com.amazonaws.lightsail#AddOnRequestList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects representing the add-ons to enable for the new instance.</p>"
          }
        },
        "attachedDiskMapping": {
          "target": "com.amazonaws.lightsail#AttachedDiskMap",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about one or more disk mappings.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone where you want to create your instances. Use the following\n      formatting: <code>us-east-2a</code> (case sensitive). You can get a list of Availability Zones\n      by using the <a href=\"http://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_GetRegions.html\">get\n        regions</a> operation. Be sure to add the <code>include Availability Zones</code>\n      parameter to your request.</p>",
            "smithy.api#required": {}
          }
        },
        "bundleId": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bundle of specification information for your virtual private server (or\n        <i>instance</i>), including the pricing plan (e.g.,\n      <code>micro_1_0</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "instanceNames": {
          "target": "com.amazonaws.lightsail#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names for your new instances.</p>",
            "smithy.api#required": {}
          }
        },
        "instanceSnapshotName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the instance snapshot on which you are basing your new instances. Use the\n      get instance snapshots operation to return information about your existing\n      snapshots.</p>\n         <p>Constraint:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>source instance name</code>\n          parameter. The <code>instance snapshot name</code> and <code>source instance name</code>\n          parameters are mutually exclusive.</p>\n            </li>\n         </ul>"
          }
        },
        "keyPairName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for your key pair.</p>"
          }
        },
        "restoreDate": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The date of the automatic snapshot to use for the new instance. Use the <code>get auto\n        snapshots</code> operation to identify the dates of the available automatic\n      snapshots.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>Must be specified in <code>YYYY-MM-DD</code> format.</p>\n            </li>\n            <li>\n               <p>This parameter cannot be defined together with the <code>use latest restorable auto\n            snapshot</code> parameter. The <code>restore date</code> and <code>use latest restorable\n            auto snapshot</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new instance from an automatic snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "sourceInstanceName": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source instance from which the source automatic snapshot was\n      created.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>instance snapshot name</code>\n          parameter. The <code>source instance name</code> and <code>instance snapshot name</code>\n          parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new instance from an automatic snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        },
        "useLatestRestorableAutoSnapshot": {
          "target": "com.amazonaws.lightsail#boolean",
          "traits": {
            "smithy.api#documentation": "<p>A Boolean value to indicate whether to use the latest available automatic snapshot.</p>\n         <p>Constraints:</p>\n         <ul>\n            <li>\n               <p>This parameter cannot be defined together with the <code>restore date</code>\n          parameter. The <code>use latest restorable auto snapshot</code> and <code>restore\n            date</code> parameters are mutually exclusive.</p>\n            </li>\n            <li>\n               <p>Define this parameter only when creating a new instance from an automatic snapshot.\n          For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>\n            </li>\n         </ul>"
          }
        },
        "userData": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>You can create a launch script that configures a server with additional user data. For\n      example, <code>apt-get -y update</code>.</p>\n         <note>\n            <p>Depending on the machine image you choose, the command to get software on your\n        instance varies. Amazon Linux and CentOS use <code>yum</code>, Debian and Ubuntu use\n          <code>apt-get</code>, and FreeBSD uses <code>pkg</code>. For a complete list, see the\n          <a href=\"https://lightsail.aws.amazon.com/ls/docs/getting-started/article/compare-options-choose-lightsail-instance-image\">Dev Guide</a>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstancesFromSnapshotResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the results of your create\n      instances from snapshot request.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstancesRequest": {
      "type": "structure",
      "members": {
        "addOns": {
          "target": "com.amazonaws.lightsail#AddOnRequestList",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects representing the add-ons to enable for the new instance.</p>"
          }
        },
        "availabilityZone": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which to create your instance. Use the following format:\n        <code>us-east-2a</code> (case sensitive). You can get a list of Availability Zones by using\n      the <a href=\"http://docs.aws.amazon.com/lightsail/2016-11-28/api-reference/API_GetRegions.html\">get\n        regions</a> operation. Be sure to add the <code>include Availability Zones</code>\n      parameter to your request.</p>",
            "smithy.api#required": {}
          }
        },
        "blueprintId": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The ID for a virtual private server image (e.g., <code>app_wordpress_4_4</code> or\n        <code>app_lamp_7_0</code>). Use the <code>get blueprints</code> operation to return a list\n      of available images (or <i>blueprints</i>).</p>\n         <note>\n            <p>Use active blueprints when creating new instances. Inactive blueprints are listed to\n        support customers with existing instances and are not necessarily available to create new\n        instances. Blueprints are marked inactive when they become outdated due to operating system\n        updates or new application releases.</p>\n         </note>",
            "smithy.api#required": {}
          }
        },
        "bundleId": {
          "target": "com.amazonaws.lightsail#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The bundle of specification information for your virtual private server (or\n        <i>instance</i>), including the pricing plan (e.g.,\n      <code>micro_1_0</code>).</p>",
            "smithy.api#required": {}
          }
        },
        "customImageName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#deprecated": {},
            "smithy.api#documentation": "<p>(Deprecated) The name for your custom image.</p>\n         <note>\n            <p>In releases prior to June 12, 2017, this parameter was ignored by the API. It is now\n        deprecated.</p>\n         </note>"
          }
        },
        "instanceNames": {
          "target": "com.amazonaws.lightsail#StringList",
          "traits": {
            "smithy.api#documentation": "<p>The names to use for your new Lightsail instances. Separate multiple values using\n      quotation marks and commas, for example:\n      <code>[\"MyFirstInstance\",\"MySecondInstance\"]</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "keyPairName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your key pair.</p>"
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        },
        "userData": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>A launch script you can create that configures a server with additional user data. For\n      example, you might want to run <code>apt-get -y update</code>.</p>\n         <note>\n            <p>Depending on the machine image you choose, the command to get software on your\n        instance varies. Amazon Linux and CentOS use <code>yum</code>, Debian and Ubuntu use\n          <code>apt-get</code>, and FreeBSD uses <code>pkg</code>. For a complete list, see the\n          <a href=\"https://lightsail.aws.amazon.com/ls/docs/getting-started/article/compare-options-choose-lightsail-instance-image\">Dev Guide</a>.</p>\n         </note>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateInstancesResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the results of your create\n      instances request.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateKeyPair": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateKeyPairRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateKeyPairResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an SSH key pair.</p>\n         <p>The <code>create key pair</code> operation supports tag-based access control via\n      request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateKeyPair",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateKeyPairRequest": {
      "type": "structure",
      "members": {
        "keyPairName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for your new key pair.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateKeyPairResult": {
      "type": "structure",
      "members": {
        "keyPair": {
          "target": "com.amazonaws.lightsail#KeyPair",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the new key pair you just\n      created.</p>"
          }
        },
        "operation": {
          "target": "com.amazonaws.lightsail#Operation",
          "traits": {
            "smithy.api#documentation": "<p>An array of key-value pairs containing information about the results of your create key\n      pair request.</p>"
          }
        },
        "privateKeyBase64": {
          "target": "com.amazonaws.lightsail#Base64",
          "traits": {
            "smithy.api#documentation": "<p>A base64-encoded RSA private key.</p>"
          }
        },
        "publicKeyBase64": {
          "target": "com.amazonaws.lightsail#Base64",
          "traits": {
            "smithy.api#documentation": "<p>A base64-encoded public key of the <code>ssh-rsa</code> type.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateLoadBalancer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateLoadBalancerRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateLoadBalancerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lightsail#AccountSetupInProgressException"
        },
        {
          "target": "com.amazonaws.lightsail#InvalidInputException"
        },
        {
          "target": "com.amazonaws.lightsail#NotFoundException"
        },
        {
          "target": "com.amazonaws.lightsail#OperationFailureException"
        },
        {
          "target": "com.amazonaws.lightsail#ServiceException"
        },
        {
          "target": "com.amazonaws.lightsail#UnauthenticatedException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a Lightsail load balancer. To learn more about deciding whether to load\n      balance your application, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/how-to/article/configure-lightsail-instances-for-load-balancing\">Configure your Lightsail instances for load balancing</a>. You can create up to 5\n      load balancers per AWS Region in your account.</p>\n         <p>When you create a load balancer, you can specify a unique name and port settings. To\n      change additional load balancer settings, use the <code>UpdateLoadBalancerAttribute</code>\n      operation.</p>\n         <p>The <code>create load balancer</code> operation supports tag-based access control via\n      request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ls/api/2016-11-28/CreateLoadBalancer",
          "code": 200
        }
      }
    },
    "com.amazonaws.lightsail#CreateLoadBalancerRequest": {
      "type": "structure",
      "members": {
        "certificateAlternativeNames": {
          "target": "com.amazonaws.lightsail#DomainNameList",
          "traits": {
            "smithy.api#documentation": "<p>The optional alternative domains and subdomains to use with your SSL/TLS certificate\n      (e.g., <code>www.example.com</code>, <code>example.com</code>, <code>m.example.com</code>,\n        <code>blog.example.com</code>).</p>"
          }
        },
        "certificateDomainName": {
          "target": "com.amazonaws.lightsail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The domain name with which your certificate is associated (e.g.,\n        <code>example.com</code>).</p>\n         <p>If you specify <code>certificateDomainName</code>, then <code>certificateName</code> is\n      required (and vice-versa).</p>"
          }
        },
        "certificateName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the SSL/TLS certificate.</p>\n         <p>If you specify <code>certificateName</code>, then <code>certificateDomainName</code> is\n      required (and vice-versa).</p>"
          }
        },
        "healthCheckPath": {
          "target": "com.amazonaws.lightsail#string",
          "traits": {
            "smithy.api#documentation": "<p>The path you provided to perform the load balancer health check. If you didn't specify\n      a health check path, Lightsail uses the root path of your website (e.g.,\n      <code>\"/\"</code>).</p>\n         <p>You may want to specify a custom health check path other than the root of your\n      application if your home page loads slowly or has a lot of media or scripting on it.</p>"
          }
        },
        "instancePort": {
          "target": "com.amazonaws.lightsail#Port",
          "traits": {
            "smithy.api#documentation": "<p>The instance port where you're creating your load balancer.</p>",
            "smithy.api#required": {}
          }
        },
        "loadBalancerName": {
          "target": "com.amazonaws.lightsail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of your load balancer.</p>",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.lightsail#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tag keys and optional values to add to the resource during create.</p>\n         <p>To tag a resource after it has been created, see the <code>tag resource</code>\n      operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateLoadBalancerResult": {
      "type": "structure",
      "members": {
        "operations": {
          "target": "com.amazonaws.lightsail#OperationList",
          "traits": {
            "smithy.api#documentation": "<p>An object containing information about the API operations.</p>"
          }
        }
      }
    },
    "com.amazonaws.lightsail#CreateLoadBalancerTlsCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lightsail#CreateLoadBalancerTlsCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.lightsail#CreateLoadBalancerTlsCertificateResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.lightsail#AccessDeniedException"
        },
        {
[...]
