{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.location#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because of insufficient access or permissions. Check with an administrator to verify your permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.location#AndroidApp": {
      "type": "structure",
      "members": {
        "Package": {
          "target": "com.amazonaws.location#AndroidPackageName",
          "traits": {
            "smithy.api#documentation": "<p>Unique package name for an Android app.</p>",
            "smithy.api#required": {}
          }
        },
        "CertificateFingerprint": {
          "target": "com.amazonaws.location#Sha1CertificateFingerprint",
          "traits": {
            "smithy.api#documentation": "<p>20 byte SHA-1 certificate fingerprint associated with the Android app signing certificate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unique identifying information for an Android app. Consists of a package name and a 20 byte SHA-1 certificate fingerprint.</p>"
      }
    },
    "com.amazonaws.location#AndroidAppList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#AndroidApp"
      }
    },
    "com.amazonaws.location#AndroidPackageName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^([A-Za-z][A-Za-z\\d_]*\\.)+[A-Za-z][A-Za-z\\d_]*$"
      }
    },
    "com.amazonaws.location#ApiKey": {
      "type": "string",
      "traits": {
        "smithy.api#externalDocumentation": {
          "Implementation Guide": "https://github.com/paseto-standard/paseto-spec/blob/master/docs/02-Implementation-Guide/03-Algorithm-Lucidity.md"
        },
        "smithy.api#length": {
          "max": 1000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#ApiKeyAction": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 5,
          "max": 200
        },
        "smithy.api#pattern": "^(geo|geo-routes|geo-places|geo-maps):\\w*\\*?$"
      }
    },
    "com.amazonaws.location#ApiKeyActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#ApiKeyAction"
      }
    },
    "com.amazonaws.location#ApiKeyFilter": {
      "type": "structure",
      "members": {
        "KeyStatus": {
          "target": "com.amazonaws.location#Status",
          "traits": {
            "smithy.api#documentation": "<p>Filter on <code>Active</code> or <code>Expired</code> API keys.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Options for filtering API keys.</p>"
      }
    },
    "com.amazonaws.location#ApiKeyResource": {
      "type": "resource",
      "identifiers": {
        "KeyName": {
          "target": "com.amazonaws.location#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.location#CreateKey"
      },
      "read": {
        "target": "com.amazonaws.location#DescribeKey"
      },
      "update": {
        "target": "com.amazonaws.location#UpdateKey"
      },
      "delete": {
        "target": "com.amazonaws.location#DeleteKey"
      },
      "list": {
        "target": "com.amazonaws.location#ListKeys"
      },
      "traits": {
        "aws.api#arn": {
          "template": "api-key/{KeyName}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "APIKey"
        },
        "aws.iam#disableConditionKeyInference": {}
      }
    },
    "com.amazonaws.location#ApiKeyRestrictions": {
      "type": "structure",
      "members": {
        "AllowActions": {
          "target": "com.amazonaws.location#ApiKeyActionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of allowed actions that an API key resource grants permissions to perform. You must have at least one action for each type of resource. For example, if you have a place resource, you must include at least one place action.</p> <p>The following are valid values for the actions.</p> <ul> <li> <p> <b>Map actions</b> </p> <ul> <li> <p> <code>geo:GetMap*</code> - Allows all actions needed for map rendering.</p> </li> <li> <p> <code>geo-maps:GetTile</code> - Allows retrieving map tiles.</p> </li> <li> <p> <code>geo-maps:GetStaticMap</code> - Allows retrieving static map images.</p> </li> <li> <p> <code>geo-maps:*</code> - Allows all actions related to map functionalities.</p> </li> </ul> </li> <li> <p> <b>Place actions</b> </p> <ul> <li> <p> <code>geo:SearchPlaceIndexForText</code> - Allows geocoding.</p> </li> <li> <p> <code>geo:SearchPlaceIndexForPosition</code> - Allows reverse geocoding.</p> </li> <li> <p> <code>geo:SearchPlaceIndexForSuggestions</code> - Allows generating suggestions from text.</p> </li> <li> <p> <code>GetPlace</code> - Allows finding a place by place ID.</p> </li> <li> <p> <code>geo-places:Geocode</code> - Allows geocoding using place information.</p> </li> <li> <p> <code>geo-places:ReverseGeocode</code> - Allows reverse geocoding from location coordinates.</p> </li> <li> <p> <code>geo-places:SearchNearby</code> - Allows searching for places near a location.</p> </li> <li> <p> <code>geo-places:SearchText</code> - Allows searching for places based on text input.</p> </li> <li> <p> <code>geo-places:Autocomplete</code> - Allows auto-completion of place names based on text input.</p> </li> <li> <p> <code>geo-places:Suggest</code> - Allows generating suggestions for places based on partial input.</p> </li> <li> <p> <code>geo-places:GetPlace</code> - Allows finding a place by its ID.</p> </li> <li> <p> <code>geo-places:*</code> - Allows all actions related to place services.</p> </li> </ul> </li> <li> <p> <b>Route actions</b> </p> <ul> <li> <p> <code>geo:CalculateRoute</code> - Allows point to point routing.</p> </li> <li> <p> <code>geo:CalculateRouteMatrix</code> - Allows calculating a matrix of routes.</p> </li> <li> <p> <code>geo-routes:CalculateRoutes</code> - Allows calculating multiple routes between points.</p> </li> <li> <p> <code>geo-routes:CalculateRouteMatrix</code> - Allows calculating a matrix of routes between points.</p> </li> <li> <p> <code>geo-routes:CalculateIsolines</code> - Allows calculating isolines for a given area.</p> </li> <li> <p> <code>geo-routes:OptimizeWaypoints</code> - Allows optimizing the order of waypoints in a route.</p> </li> <li> <p> <code>geo-routes:SnapToRoads</code> - Allows snapping a route to the nearest roads.</p> </li> <li> <p> <code>geo-routes:*</code> - Allows all actions related to routing functionalities.</p> </li> </ul> </li> </ul> <note> <p>You must use these strings exactly. For example, to provide access to map rendering, the only valid action is <code>geo:GetMap*</code> as an input to the list. <code>[\"geo:GetMap*\"]</code> is valid but <code>[\"geo:GetMapTile\"]</code> is not. Similarly, you cannot use <code>[\"geo:SearchPlaceIndexFor*\"]</code> - you must list each of the Place actions separately.</p> </note>",
            "smithy.api#length": {
              "min": 1,
              "max": 24
            },
            "smithy.api#required": {}
          }
        },
        "AllowResources": {
          "target": "com.amazonaws.location#GeoArnList",
          "traits": {
            "smithy.api#documentation": "<p>A list of allowed resource ARNs that a API key bearer can perform actions on.</p> <ul> <li> <p>The ARN must be the correct ARN for a map, place, or route ARN. You may include wildcards in the resource-id to match multiple resources of the same type.</p> </li> <li> <p>The resources must be in the same <code>partition</code>, <code>region</code>, and <code>account-id</code> as the key that is being created.</p> </li> <li> <p>Other than wildcards, you must include the full ARN, including the <code>arn</code>, <code>partition</code>, <code>service</code>, <code>region</code>, <code>account-id</code> and <code>resource-id</code> delimited by colons (:).</p> </li> <li> <p>No spaces allowed, even with wildcards. For example, <code>arn:aws:geo:region:<i>account-id</i>:map/ExampleMap*</code>.</p> </li> </ul> <p>For more information about ARN format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 8
            },
            "smithy.api#required": {}
          }
        },
        "AllowReferers": {
          "target": "com.amazonaws.location#RefererPatternList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of allowed HTTP referers for which requests must originate from. Requests using this API key from other domains will not be allowed.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0–9) or any symbols in this list <code>$\\-._+!*`(),;/?:@=&amp;</code> </p> </li> <li> <p>May contain a percent (%) if followed by 2 hexadecimal digits (A-F, a-f, 0-9); this is used for URL encoding purposes.</p> </li> <li> <p>May contain wildcard characters question mark (?) and asterisk (*).</p> <p>Question mark (?) will replace any single character (including hexadecimal digits).</p> <p>Asterisk (*) will replace any multiple characters (including multiple hexadecimal digits).</p> </li> <li> <p>No spaces allowed. For example, <code>https://example.com</code>.</p> </li> </ul>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "AllowAndroidApps": {
          "target": "com.amazonaws.location#AndroidAppList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of allowed Android applications for which requests must originate from. Requests using this API key from other sources will not be allowed.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        },
        "AllowAppleApps": {
          "target": "com.amazonaws.location#AppleAppList",
          "traits": {
            "smithy.api#documentation": "<p>An optional list of allowed Apple applications for which requests must originate from. Requests using this API key from other sources will not be allowed.</p>",
            "smithy.api#length": {
              "min": 0,
              "max": 5
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>API Restrictions on the allowed actions, resources, and referers for an API key resource.</p>"
      }
    },
    "com.amazonaws.location#AppleApp": {
      "type": "structure",
      "members": {
        "BundleId": {
          "target": "com.amazonaws.location#AppleBundleId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the app across all Apple platforms (iOS, macOS, tvOS, watchOS, etc.)</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Unique identifying information for an Apple app (iOS, macOS, tvOS and watchOS). Consists of an Apple Bundle ID.</p>"
      }
    },
    "com.amazonaws.location#AppleAppList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#AppleApp"
      }
    },
    "com.amazonaws.location#AppleBundleId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 155
        },
        "smithy.api#pattern": "^[A-Za-z0-9\\-]+(\\.[A-Za-z0-9\\-]+)+$"
      }
    },
    "com.amazonaws.location#Arn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#length": {
          "max": 1600
        },
        "smithy.api#pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
      }
    },
    "com.amazonaws.location#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#Arn"
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#AssociateTrackerConsumerRequest"
      },
      "output": {
        "target": "com.amazonaws.location#AssociateTrackerConsumerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates an association between a geofence collection and a tracker resource. This allows the tracker resource to communicate location data to the linked geofence collection. </p> <p>You can associate up to five geofence collections to each tracker resource.</p> <note> <p>Currently not supported — Cross-account configurations, such as creating associations between a tracker resource in one account and a geofence collection in another account.</p> </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp.tracking."
        },
        "smithy.api#http": {
          "uri": "/tracking/v0/trackers/{TrackerName}/consumers",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumerRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to be associated with a geofence collection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConsumerArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the geofence collection to be associated to tracker resource. Used when you need to specify a resource across all Amazon Web Services.</p> <ul> <li> <p>Format example: <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollectionConsumer</code> </p> </li> </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#Base64EncodedGeobuf": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "max": 700000
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Deletes the position history of one or more devices from a tracker resource.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "uri": "/tracking/v0/trackers/{TrackerName}/delete-positions",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device for this position.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the tracker resource details.</p>"
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryError"
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to delete the device position history from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceIds": {
          "target": "com.amazonaws.location#DeviceIdsList",
          "traits": {
            "smithy.api#documentation": "<p>Devices whose position history you want to delete.</p> <ul> <li> <p>For example, for two devices: <code>“DeviceIds” : [DeviceId1,DeviceId2]</code> </p> </li> </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device history that failed to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Deletes a batch of geofences from a geofence collection.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "uri": "/geofencing/v0/collections/{CollectionName}/delete-geofences",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceError": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence associated with the error message.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each geofence that failed to delete from the geofence collection.</p>"
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceError"
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection storing the geofences to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GeofenceIds": {
          "target": "com.amazonaws.location#IdList",
          "traits": {
            "smithy.api#documentation": "<p>The batch of geofences to be deleted.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchDeleteGeofenceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each geofence that failed to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Evaluates device positions against the geofence geometries from a given geofence collection.</p> <p>This operation always returns an empty response because geofences are asynchronously evaluated. The evaluation determines if the device has entered or exited a geofenced area, and then publishes one of the following events to Amazon EventBridge:</p> <ul> <li> <p> <code>ENTER</code> if Amazon Location determines that the tracked device has entered a geofenced area.</p> </li> <li> <p> <code>EXIT</code> if Amazon Location determines that the tracked device has exited a geofenced area.</p> </li> </ul> <note> <p>The last geofence that a device was observed within is tracked for 30 days after the most recent device position update.</p> </note> <note> <p>Geofence evaluation uses the given device position. It does not account for the optional <code>Accuracy</code> of a <code>DevicePositionUpdate</code>.</p> </note> <note> <p>The <code>DeviceID</code> is used as a string to represent the device. You do not need to have a <code>Tracker</code> associated with the <code>DeviceID</code>.</p> </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "uri": "/geofencing/v0/collections/{CollectionName}/positions",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The device associated with the position evaluation error.</p>",
            "smithy.api#required": {}
          }
        },
        "SampleTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a timestamp for when the error occurred in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each device that failed to evaluate its position against the geofences in a given geofence collection.</p>"
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesError"
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection used in evaluating the position of devices against its geofences.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DevicePositionUpdates": {
          "target": "com.amazonaws.location#DevicePositionUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>Contains device details for each device to be evaluated against the given geofence collection.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchEvaluateGeofencesErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device that failed to evaluate its position against the given geofence collection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchGetDevicePosition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchGetDevicePositionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchGetDevicePositionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Lists the latest device positions for requested devices.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "uri": "/tracking/v0/trackers/{TrackerName}/get-positions",
          "method": "POST"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device that didn't return a position.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details related to the error code.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each device that didn't return a position.</p>"
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchGetDevicePositionError"
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The tracker resource retrieving the device position.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "DeviceIds": {
          "target": "com.amazonaws.location#IdList",
          "traits": {
            "smithy.api#documentation": "<p>Devices whose position you want to retrieve.</p> <ul> <li> <p>For example, for two devices: <code>device-ids=DeviceId1&amp;device-ids=DeviceId2</code> </p> </li> </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchGetDevicePositionErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device that failed to send its position to the tracker resource.</p>",
            "smithy.api#required": {}
          }
        },
        "DevicePositions": {
          "target": "com.amazonaws.location#DevicePositionList",
          "traits": {
            "smithy.api#documentation": "<p>Contains device position details such as the device ID, position, and timestamps for when the position was received and sampled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchItemError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.location#BatchItemErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the batch request error.</p>"
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message with the reason for the batch request error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the batch request error details associated with the request.</p>"
      }
    },
    "com.amazonaws.location#BatchItemErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccessDeniedError",
            "documentation": "Access to the resource was denied."
          },
          {
            "value": "ConflictError",
            "documentation": "The target resource already exists."
          },
          {
            "value": "InternalServerError",
            "documentation": "Internal server error."
          },
          {
            "value": "ResourceNotFoundError",
            "documentation": "The target resource does not exist."
          },
          {
            "value": "ThrottlingError",
            "documentation": "Too many requests."
          },
          {
            "value": "ValidationError",
            "documentation": "Input fails to satisfy the constraints specified by the service."
          }
        ]
      }
    },
    "com.amazonaws.location#BatchPutGeofence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchPutGeofenceRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchPutGeofenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>A batch request for storing geofence geometries into a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "uri": "/geofencing/v0/collections/{CollectionName}/put-geofences",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceError": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence associated with the error message.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each geofence that failed to be stored in a given geofence collection.</p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceError"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection storing the geofences.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Entries": {
          "target": "com.amazonaws.location#BatchPutGeofenceRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The batch of geofences to be stored in a geofence collection.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequestEntry": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the geofence to be stored in a given geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Geometry": {
          "target": "com.amazonaws.location#GeofenceGeometry",
          "traits": {
            "smithy.api#documentation": "<p>Contains the details to specify the position of the geofence. Can be a circle, a polygon, or a multipolygon. <code>Polygon</code> and <code>MultiPolygon</code> geometries can be defined using their respective parameters, or encoded in Geobuf format using the <code>Geobuf</code> parameter. Including multiple geometry types in the same request will return a validation error.</p> <note> <p>The geofence <code>Polygon</code> and <code>MultiPolygon</code> formats support a maximum of 1,000 total vertices. The <code>Geobuf</code> format supports a maximum of 100,000 vertices.</p> </note>",
            "smithy.api#required": {}
          }
        },
        "GeofenceProperties": {
          "target": "com.amazonaws.location#PropertyMap",
          "traits": {
            "smithy.api#documentation": "<p>Associates one of more properties with the geofence. A property is a key-value pair stored with the geofence and added to any geofence event triggered with that geofence.</p> <p>Format: <code>\"key\" : \"value\"</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains geofence geometry details. </p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceRequestEntry"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceResponse": {
      "type": "structure",
      "members": {
        "Successes": {
          "target": "com.amazonaws.location#BatchPutGeofenceSuccessList",
          "traits": {
            "smithy.api#documentation": "<p>Contains each geofence that was successfully stored in a geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.location#BatchPutGeofenceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains additional error details for each geofence that failed to be stored in a geofence collection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceSuccess": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence successfully stored in a geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence was stored in a geofence collection in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
            "smithy.api#required": {}
          }
        },
        "UpdateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence was last updated in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of each geofence that was successfully stored in a given geofence collection.</p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceSuccessList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceSuccess"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePosition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#dataPlane": {},
        "smithy.api#documentation": "<p>Uploads position update data for one or more devices to a tracker resource (up to 10 devices per batch). Amazon Location uses the data when it reports the last known device position and position history. Amazon Location retains location data for 30 days.</p> <note> <p>Position updates are handled based on the <code>PositionFiltering</code> property of the tracker. When <code>PositionFiltering</code> is set to <code>TimeBased</code>, updates are evaluated against linked geofence collections, and location data is stored at a maximum of one position per 30 second interval. If your update frequency is more often than every 30 seconds, only one update per 30 seconds is stored for each unique device ID.</p> <p>When <code>PositionFiltering</code> is set to <code>DistanceBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than 30 m (98.4 ft).</p> <p>When <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than the measured accuracy. For example, if two consecutive updates from a device have a horizontal accuracy of 5 m and 10 m, the second update is neither stored or evaluated if the device has moved less than 15 m. If <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, Amazon Location uses the default value <code>{ \"Horizontal\": 0}</code> when accuracy is not provided on a <code>DevicePositionUpdate</code>.</p> </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "uri": "/tracking/v0/trackers/{TrackerName}/positions",
          "method": "POST"
        }
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The device associated with the failed location update.</p>",
            "smithy.api#required": {}
          }
        },
        "SampleTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the device position was determined. Uses <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details related to the error code such as the error code and error message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each device that failed to update its position.</p>"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionError"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Updates": {
          "target": "com.amazonaws.location#DevicePositionUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>Contains the position update details for each device, up to 10 devices.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchUpdateDevicePositionErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device that failed to update its position.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BoundingBox": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-5"
        },
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#CalculateRoute": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CalculateRouteRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CalculateRouteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important> <p>This operation is no longer current and may be deprecated in the future. We recommend you upgrade to <a href=\"/location/latest/APIReference/API_CalculateRoutes.html\"> <code>CalculateRoutes</code> </a> or <a href=\"/location/latest/APIReference/API_CalculateIsolines.html\"> <code>CalculateIsolines</code> </a> unless you require Grab data.</p> <ul> <li> <p> <code>CalculateRoute</code> is part of a previous Amazon Location Service Routes API (version 1) which has been superseded by a more intuitive, powerful, and complete API (version 2).</p> </li> <li> <p>The version 2 <code>CalculateRoutes</code> operation gives better results for point-to-point routing, while the version 2 <code>CalculateIsolines</code> operation adds support for calculating service areas and travel time envelopes.</p> </li> <li> <p>If you are using an Amazon Web Services SDK or the Amazon Web Services CLI, note that the Routes API version 2 is found under <code>geo-routes</code> or <code>geo_routes</code>, not under <code>location</code>.</p> </li> <li> <p>Since Grab is not yet fully supported in Routes API version 2, we recommend you continue using API version 1 when using Grab.</p> </li> </ul> </important> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route.html\">Calculates a route</a> given the following required parameters: <code>DeparturePosition</code> and <code>DestinationPosition</code>. Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating the route.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/departure-time.html\">Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates a route based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> <note> <p>If you specify <code>walking</code> for the travel mode and your data provider is Esri, the start and destination must be within 40km.</p> </note> </li> </ul>",
        "smithy.api#endpoint": {
          "hostPrefix": "routes."
        },
        "smithy.api#http": {
          "uri": "/routes/v0/calculators/{CalculatorName}/calculate/route",
          "method": "POST"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#CalculateRouteCarModeOptions": {
      "type": "structure",
      "members": {
        "AvoidFerries": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids ferries when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "AvoidTolls": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids tolls when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about additional route preferences for requests that specify <code>TravelMode</code> as <code>Car</code>.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteMatrix": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CalculateRouteMatrixRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CalculateRouteMatrixResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important> <p>This operation is no longer current and may be deprecated in the future. We recommend you upgrade to the <a href=\"/location/latest/APIReference/API_CalculateRouteMatrix.html\">V2 <code>CalculateRouteMatrix</code> </a> unless you require Grab data.</p> <ul> <li> <p>This version of <code>CalculateRouteMatrix</code> is part of a previous Amazon Location Service Routes API (version 1) which has been superseded by a more intuitive, powerful, and complete API (version 2).</p> </li> <li> <p>The version 2 <code>CalculateRouteMatrix</code> operation gives better results for matrix routing calculations.</p> </li> <li> <p>If you are using an Amazon Web Services SDK or the Amazon Web Services CLI, note that the Routes API version 2 is found under <code>geo-routes</code> or <code>geo_routes</code>, not under <code>location</code>.</p> </li> <li> <p>Since Grab is not yet fully supported in Routes API version 2, we recommend you continue using API version 1 when using Grab.</p> </li> <li> <p>Start your version 2 API journey with the Routes V2 <a href=\"/location/latest/APIReference/API_Operations_Amazon_Location_Service_Routes_V2.html\">API Reference</a> or the <a href=\"/location/latest/developerguide/routes.html\">Developer Guide</a>.</p> </li> </ul> </important> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html\"> Calculates a route matrix</a> given the following required parameters: <code>DeparturePositions</code> and <code>DestinationPositions</code>. <code>CalculateRouteMatrix</code> calculates routes and returns the travel time and travel distance from each departure position to each destination position in the request. For example, given departure positions A and B, and destination positions X and Y, <code>CalculateRouteMatrix</code> will return time and distance for routes from A to X, A to Y, B to X, and B to Y (in that order). The number of results returned (and routes calculated) will be the number of <code>DeparturePositions</code> times the number of <code>DestinationPositions</code>.</p> <note> <p>Your account is charged for each route calculated, not the number of requests.</p> </note> <p>Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating routes.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/departure-time.html\"> Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates routes based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> </li> </ul>",
        "smithy.api#endpoint": {
          "hostPrefix": "routes."
        },
        "smithy.api#http": {
          "uri": "/routes/v0/calculators/{CalculatorName}/calculate/route-matrix",
          "method": "POST"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#CalculateRouteMatrixRequest": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource that you want to use to calculate the route matrix. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeparturePositions": {
          "target": "com.amazonaws.location#PositionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of departure (origin) positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-123.115, 49.285]</code>.</p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDeparturePositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 350
            },
            "smithy.api#required": {}
          }
        },
        "DestinationPositions": {
          "target": "com.amazonaws.location#PositionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of destination positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-122.339, 47.615]</code> </p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDestinationPositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
            "smithy.api#length": {
              "min": 1,
              "max": 350
            },
            "smithy.api#required": {}
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.location#TravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <note> <p> <code>Bicycle</code> or <code>Motorcycle</code> are only valid when using <code>Grab</code> as a data provider, and only within Southeast Asia.</p> <p> <code>Truck</code> is not available for Grab.</p> <p>For more information about using Grab as a data provider, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/grab.html\">GrabMaps</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the desired time of departure. Uses the given time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <note> <p>Setting a departure time in the past returns a <code>400 ValidationException</code> error.</p> </note> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020–07-2T12:15:20.000Z+01:00</code> </p> </li> </ul>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Sets the time of departure as the current time. Uses the current time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>"
          }
        },
        "CarModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteCarModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>"
          }
        },
        "TruckModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteTruckModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.location#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The optional <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/using-apikeys.html\">API key</a> to authorize the request.</p>",
            "smithy.api#httpQuery": "key"
          }
        }
      }
    },
    "com.amazonaws.location#CalculateRouteMatrixResponse": {
      "type": "structure",
      "members": {
        "RouteMatrix": {
          "target": "com.amazonaws.location#RouteMatrix",
          "traits": {
            "smithy.api#documentation": "<p>The calculated route matrix containing the results for all pairs of <code>DeparturePositions</code> to <code>DestinationPositions</code>. Each row corresponds to one entry in <code>DeparturePositions</code>. Each entry in the row corresponds to the route from that entry in <code>DeparturePositions</code> to an entry in <code>DestinationPositions</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "SnappedDeparturePositions": {
          "target": "com.amazonaws.location#PositionList",
          "traits": {
            "smithy.api#documentation": "<p>For routes calculated using an Esri route calculator resource, departure positions are snapped to the closest road. For Esri route calculator resources, this returns the list of departure/origin positions used for calculation of the <code>RouteMatrix</code>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 350
            }
          }
        },
        "SnappedDestinationPositions": {
          "target": "com.amazonaws.location#PositionList",
          "traits": {
            "smithy.api#documentation": "<p>The list of destination positions for the route matrix used for calculation of the <code>RouteMatrix</code>.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 350
            }
          }
        },
        "Summary": {
          "target": "com.amazonaws.location#CalculateRouteMatrixSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the route matrix, <code>DataSource</code>, <code>DistanceUnit</code>, <code>RouteCount</code> and <code>ErrorCount</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the result of the route matrix calculation.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteMatrixSummary": {
      "type": "structure",
      "members": {
        "DataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data provider of traffic and road network data used to calculate the routes. Indicates one of the available providers:</p> <ul> <li> <p> <code>Esri</code> </p> </li> <li> <p> <code>Grab</code> </p> </li> <li> <p> <code>Here</code> </p> </li> </ul> <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "RouteCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The count of cells in the route matrix. Equal to the number of <code>DeparturePositions</code> multiplied by the number of <code>DestinationPositions</code>.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 160000
            },
            "smithy.api#required": {}
          }
        },
        "ErrorCount": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The count of error results in the route matrix. If this number is 0, all routes were calculated successfully.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 160000
            },
            "smithy.api#required": {}
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measurement for route distances.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the calculated route matrix.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteRequest": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource that you want to use to calculate the route. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeparturePosition": {
          "target": "com.amazonaws.location#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p>For example, <code>[-123.115, 49.285]</code> </p> </li> </ul> <note> <p>If you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
            "smithy.api#required": {}
          }
        },
        "DestinationPosition": {
          "target": "com.amazonaws.location#Position",
          "traits": {
            "smithy.api#documentation": "<p>The finish position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p> For example, <code>[-122.339, 47.615]</code> </p> </li> </ul> <note> <p>If you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
            "smithy.api#required": {}
          }
        },
        "WaypointPositions": {
          "target": "com.amazonaws.location#WaypointPositionList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an ordered list of up to 23 intermediate positions to include along a route between the departure position and destination position. </p> <ul> <li> <p>For example, from the <code>DeparturePosition</code> <code>[-123.115, 49.285]</code>, the route follows the order that the waypoint positions are given <code>[[-122.757, 49.0021],[-122.349, 47.620]]</code> </p> </li> </ul> <note> <p>If you specify a waypoint position that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> <p>Specifying more than 23 waypoints returns a <code>400 ValidationException</code> error.</p> <p>If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>",
            "smithy.api#length": {
              "max": 23
            }
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.location#TravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility. You can choose <code>Car</code>, <code>Truck</code>, <code>Walking</code>, <code>Bicycle</code> or <code>Motorcycle</code> as options for the <code>TravelMode</code>.</p> <note> <p> <code>Bicycle</code> and <code>Motorcycle</code> are only valid when using Grab as a data provider, and only within Southeast Asia.</p> <p> <code>Truck</code> is not available for Grab.</p> <p>For more details on the using Grab for routing, including areas of coverage, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/grab.html\">GrabMaps</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <p>Default Value: <code>Car</code> </p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the desired time of departure. Uses the given time to calculate the route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020–07-2T12:15:20.000Z+01:00</code> </p> </li> </ul>"
          }
        },
        "DepartNow": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Sets the time of departure as the current time. Uses the current time to calculate a route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>"
          }
        },
        "IncludeLegGeometry": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to include the geometry details in the result for each path between a pair of positions.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "CarModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteCarModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>"
          }
        },
        "TruckModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteTruckModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>"
          }
        },
        "ArrivalTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the desired time of arrival. Uses the given time to calculate the route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <note> <p>ArrivalTime is not supported Esri.</p> </note>"
          }
        },
        "OptimizeFor": {
          "target": "com.amazonaws.location#OptimizationMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the distance to optimize for when calculating a route.</p>"
          }
        },
        "Key": {
          "target": "com.amazonaws.location#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The optional <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/using-apikeys.html\">API key</a> to authorize the request.</p>",
            "smithy.api#httpQuery": "key"
          }
        }
      }
    },
    "com.amazonaws.location#CalculateRouteResponse": {
      "type": "structure",
      "members": {
        "Legs": {
          "target": "com.amazonaws.location#LegList",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about each path between a pair of positions included along a route such as: <code>StartPosition</code>, <code>EndPosition</code>, <code>Distance</code>, <code>DurationSeconds</code>, <code>Geometry</code>, and <code>Steps</code>. The number of legs returned corresponds to one fewer than the total number of positions in the request. </p> <p>For example, a route with a departure position and destination position returns one leg with the positions <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">snapped to a nearby road</a>:</p> <ul> <li> <p>The <code>StartPosition</code> is the departure position.</p> </li> <li> <p>The <code>EndPosition</code> is the destination position.</p> </li> </ul> <p>A route with a waypoint between the departure and destination position returns two legs with the positions snapped to a nearby road:</p> <ul> <li> <p>Leg 1: The <code>StartPosition</code> is the departure position . The <code>EndPosition</code> is the waypoint positon.</p> </li> <li> <p>Leg 2: The <code>StartPosition</code> is the waypoint position. The <code>EndPosition</code> is the destination position.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "Summary": {
          "target": "com.amazonaws.location#CalculateRouteSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the whole route, such as: <code>RouteBBox</code>, <code>DataSource</code>, <code>Distance</code>, <code>DistanceUnit</code>, and <code>DurationSeconds</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the result of the route calculation. Metadata includes legs and route summary.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteSummary": {
      "type": "structure",
      "members": {
        "RouteBBox": {
          "target": "com.amazonaws.location#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a geographical box surrounding a route. Used to zoom into a route when displaying it in a map. For example, <code>[min x, min y, max x, max y]</code>.</p> <p>The first 2 <code>bbox</code> parameters describe the lower southwest corner: </p> <ul> <li> <p>The first <code>bbox</code> position is the X coordinate or longitude of the lower southwest corner. </p> </li> <li> <p>The second <code>bbox</code> position is the Y coordinate or latitude of the lower southwest corner. </p> </li> </ul> <p>The next 2 <code>bbox</code> parameters describe the upper northeast corner: </p> <ul> <li> <p>The third <code>bbox</code> position is the X coordinate, or longitude of the upper northeast corner. </p> </li> <li> <p>The fourth <code>bbox</code> position is the Y coordinate, or latitude of the upper northeast corner. </p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data provider of traffic and road network data used to calculate the route. Indicates one of the available providers:</p> <ul> <li> <p> <code>Esri</code> </p> </li> <li> <p> <code>Grab</code> </p> </li> <li> <p> <code>Here</code> </p> </li> </ul> <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Distance": {
          "target": "com.amazonaws.location#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>The total distance covered by the route. The sum of the distance travelled between every stop on the route.</p> <note> <p>If Esri is the data source for the route calculator, the route distance can’t be greater than 400 km. If the route exceeds 400 km, the response is a <code>400 RoutesValidationException</code> error.</p> </note>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "DurationSeconds": {
          "target": "com.amazonaws.location#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>The total travel time for the route measured in seconds. The sum of the travel time between every stop on the route.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measurement for route distances.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the calculated route.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteTruckModeOptions": {
      "type": "structure",
      "members": {
        "AvoidFerries": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids ferries when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "AvoidTolls": {
          "target": "com.amazonaws.location#SensitiveBoolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids tolls when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.location#TruckDimensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the truck's dimension specifications including length, height, width, and unit of measurement. Used to avoid roads that can't support the truck's dimensions.</p>"
          }
        },
        "Weight": {
          "target": "com.amazonaws.location#TruckWeight",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the truck's weight specifications including total weight and unit of measurement. Used to avoid roads that can't support the truck's weight.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about additional route preferences for requests that specify <code>TravelMode</code> as <code>Truck</code>.</p>"
      }
    },
    "com.amazonaws.location#CellSignals": {
      "type": "structure",
      "members": {
        "LteCellDetails": {
          "target": "com.amazonaws.location#LteCellDetailsList",
          "traits": {
            "smithy.api#documentation": "<p>Information about the Long-Term Evolution (LTE) network the device is connected to.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 16
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The cellular network communication infrastructure that the device uses.</p>"
      }
    },
    "com.amazonaws.location#Circle": {
      "type": "structure",
      "members": {
        "Center": {
          "target": "com.amazonaws.location#Position",
          "traits": {
            "smithy.api#documentation": "<p>A single point geometry, specifying the center of the circle, using <a href=\"https://gisgeography.com/wgs84-world-geodetic-system/\">WGS 84</a> coordinates, in the form <code>[longitude, latitude]</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "Radius": {
          "target": "com.amazonaws.location#SensitiveDouble",
          "traits": {
            "smithy.api#documentation": "<p>The radius of the circle in meters. Must be greater than zero and no larger than 100,000 (100 kilometers).</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A circle on the earth, as defined by a center point and a radius.</p>",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was unsuccessful because of a conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.location#CountryCode3": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#CountryCode3OrEmpty": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]{3}$|^$",
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#CountryCode3"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.location#CreateGeofenceCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateGeofenceCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateGeofenceCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates a geofence collection, which manages and stores geofences.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp.geofencing."
        },
        "smithy.api#http": {
          "uri": "/geofencing/v0/collections",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateGeofenceCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the geofence collection.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods (.), and underscores (_). </p> </li> <li> <p>Must be a unique geofence collection name.</p> </li> <li> <p>No spaces allowed. For example, <code>ExampleGeofenceCollection</code>.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Deprecated. If included, the only allowed value is RequestBasedUsage.",
              "since": "2022-02-01"
            },
            "smithy.api#documentation": "<p>No longer used. If included, the only allowed value is <code>RequestBasedUsage</code>.</p>"
          }
        },
        "PricingPlanDataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#deprecated": {
              "message": "Deprecated. No longer allowed.",
              "since": "2022-02-01"
            },
            "smithy.api#documentation": "<p>This parameter is no longer used.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the geofence collection.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the geofence collection. A tag is a key-value pair helps manage, identify, search, and filter your resources by labelling them.</p> <p>Format: <code>\"key\" : \"value\"</code> </p> <p>Restrictions:</p> <ul> <li> <p>Maximum 50 tags per resource</p> </li> <li> <p>Each resource tag must be unique with a maximum of one value.</p> </li> <li> <p>Maximum key length: 128 Unicode characters in UTF-8</p> </li> <li> <p>Maximum value length: 256 Unicode characters in UTF-8</p> </li> <li> <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters: + - = . _ : / @. </p> </li> <li> <p>Cannot use \"aws:\" as a prefix for a key.</p> </li> </ul>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.location#KmsKeyId",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>A key identifier for an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keys.html\">Amazon Web Services KMS customer managed key</a>. Enter a key ID, key ARN, alias name, or alias ARN. </p>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateGeofenceCollectionResponse": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "CollectionArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the geofence collection resource. Used when you need to specify a resource across all Amazon Web Services. </p> <ul> <li> <p>Format example: <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollection</code> </p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence collection was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreateKey": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateKeyRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateKeyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "aws.api#controlPlane": {},
        "smithy.api#documentation": "<p>Creates an API key resource in your Amazon Web Services account, which lets you grant actions for Amazon Location resources to the API key bearer.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/using-apikeys.html\">Use API keys to authenticate</a> in the <i>Amazon Location Service Developer Guide</i>.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp.metadata."
        },
        "smithy.api#http": {
          "uri": "/metadata/v0/keys",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateKeyRequest": {
      "type": "structure",
      "members": {
        "KeyName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the API key resource.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods (.), and underscores (_). </p> </li> <li> <p>Must be a unique API key name.</p> </li> <li> <p>No spaces allowed. For example, <code>ExampleAPIKey</code>.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "Restrictions": {
          "target": "com.amazonaws.location#ApiKeyRestrictions",
          "traits": {
            "smithy.api#documentation": "<p>The API key restrictions for the API key resource.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the API key resource.</p>"
          }
        },
        "ExpireTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The optional timestamp for when the API key resource will expire in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. One of <code>NoExpiry</code> or <code>ExpireTime</code> must be set.</p>"
          }
        },
        "NoExpiry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Optionally set to <code>true</code> to set no expiration time for the API key. One of <code>NoExpiry</code> or <code>ExpireTime</code> must be set.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the map resource. A tag is a key-value pair that helps manage, identify, search, and filter your resources by labelling them.</p> <p>Format: <code>\"key\" : \"value\"</code> </p> <p>Restrictions:</p> <ul> <li> <p>Maximum 50 tags per resource</p> </li> <li> <p>Each resource tag must be unique with a maximum of one value.</p> </li> <li> <p>Maximum key length: 128 Unicode characters in UTF-8</p> </li> <li> <p>Maximum value length: 256 Unicode characters in UTF-8</p> </li> <li> <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters: + - = . _ : / @. </p> </li> <li> <p>Cannot use \"aws:\" as a prefix for a key.</p> </li> </ul>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateKeyResponse": {
      "type": "structure",
      "members": {
        "Key": {
          "target": "com.amazonaws.location#ApiKey",
          "traits": {
            "smithy.api#documentation": "<p>The key value/string of an API key. This value is used when making API calls to authorize the call. For example, see <a href=\"https://docs.aws.amazon.com/location/previous/APIReference/API_GetMapGlyphs.html\">GetMapGlyphs</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the API key resource. Used when you need to specify a resource across all Amazon Web Services.</p> <ul> <li> <p>Format example: <code>arn:aws:geo:region:account-id:key/ExampleKey</code> </p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "KeyName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the API key resource.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the API key resource was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreateMap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateMapRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateMapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<important> <p>This operation is no longer current and may be deprecated in the future. We recommend upgrading to the Maps API V2 unless you require <code>Grab</code> data.</p> <ul> <li> <p> <code>CreateMap</code> is part of a previous Amazon Location Service Maps API (version 1) which has been superseded by a more intuitive, powerful, and complete API (version 2).</p> </li> <li> <p>The Maps API version 2 has a simplified interface that can be used without creating or managing map resources.</p> </li> <li> <p>If you are using an AWS SDK or the AWS CLI, note that the Maps API version 2 is found under <code>geo-maps</code> or <code>geo_maps</code>, not under <code>location</code>.</p> </li> <li> <p>Since <code>Grab</code> is not yet fully supported in Maps API version 2, we recommend you continue using API version 1 when using <code>Grab</code>.</p> </li> <li> <p>Start your version 2 API journey with the <a href=\"https://docs.aws.amazon.com/location/latest/APIReference/API_Operations_Amazon_Location_Service_Maps_V2.html\">Maps V2 API Reference</a> or the <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/maps.html\">Developer Guide</a>.</p> </li> </ul> </important> <p>Creates a map resource in your Amazon Web Services account, which provides map tiles of different styles sourced from global location data providers.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you must not use Esri as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">Amazon Web Services service terms</a> for more details.</p> </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "cp.maps."
        },
        "smithy.api#http": {
          "uri": "/maps/v0/maps",
          "method": "POST"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateMapRequest": {
      "type": "structure",
      "members": {
        "MapName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "aws.cloudformation#cfnMutability": "create-and-read",
            "smithy.api#documentation": "<p>The name for the map resource.</p> <p>Requirements:</p> <ul> <li> <p>Must contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods (.), and underscores (_). </p> </li> <li> <p>Must be a unique map resource name. </p> </li> <li> <p>No spaces allowed. For example, <code>ExampleMap</code>.</p> </li> </ul>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.location#MapConfiguration",
[...]
