{
  "smithy": "1.0",
  "shapes": {
    "com.amazonaws.location#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was denied because of insufficient access or permissions. Check with an\n      administrator to verify your permissions.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.location#Arn": {
      "type": "string",
      "traits": {
        "aws.api#arnReference": {},
        "smithy.api#length": {
          "max": 1600
        },
        "smithy.api#pattern": "^arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?$"
      }
    },
    "com.amazonaws.location#ArnList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#Arn"
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#AssociateTrackerConsumerRequest"
      },
      "output": {
        "target": "com.amazonaws.location#AssociateTrackerConsumerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an association between a geofence collection and a tracker resource. This\n            allows the tracker resource to communicate location data to the linked geofence\n            collection. </p>\n        <p>You can associate up to five geofence collections to each tracker resource.</p>\n        <note>\n            <p>Currently not supported — Cross-account configurations, such as creating associations between a tracker resource in one account and a geofence collection in another account.</p>\n        </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tracking/v0/trackers/{TrackerName}/consumers",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumerRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to be associated with a geofence collection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ConsumerArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the geofence collection to be associated to tracker\n            resource. Used when you need to specify a resource across all AWS.</p>\n         <ul>\n            <li>\n               <p>Format example:\n                        <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollectionConsumer</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#AssociateTrackerConsumerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistory": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the position history of one or more devices from a tracker resource.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tracking/v0/trackers/{TrackerName}/delete-positions",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device for this position.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the tracker resource details.</p>"
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryError"
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to delete the device position history from.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeviceIds": {
          "target": "com.amazonaws.location#DeviceIdsList",
          "traits": {
            "smithy.api#documentation": "<p>Devices whose position history you want to delete.</p>\n         <ul>\n            <li>\n               <p>For example, for two devices:\n                   <code>“DeviceIds” : [DeviceId1,DeviceId2]</code>\n               </p>\n           </li>\n         </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 100
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteDevicePositionHistoryResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchDeleteDevicePositionHistoryErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device history that failed to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a batch of geofences from a geofence collection.</p>\n        <note>\n            <p>This operation deletes the resource permanently.</p>\n        </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/geofencing/v0/collections/{CollectionName}/delete-geofences",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceError": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence associated with the error message.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each geofence that failed to delete from the geofence\n            collection.</p>"
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchDeleteGeofenceError"
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection storing the geofences to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "GeofenceIds": {
          "target": "com.amazonaws.location#IdList",
          "traits": {
            "smithy.api#documentation": "<p>The batch of geofences to be deleted.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchDeleteGeofenceResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchDeleteGeofenceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each geofence that failed to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofences": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Evaluates device positions against the geofence geometries from a given geofence\n            collection.</p>\n        <p>This operation always returns an empty response because geofences are asynchronously\n            evaluated. The evaluation determines if the device has entered or exited a geofenced\n            area, and then publishes one of the following events to Amazon EventBridge:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>ENTER</code> if Amazon Location determines that the tracked device has entered\n                    a geofenced area.</p>\n            </li>\n            <li>\n                <p>\n                  <code>EXIT</code> if Amazon Location determines that the tracked device has exited a\n                    geofenced area.</p>\n            </li>\n         </ul>\n        <note>\n            <p>The last geofence that a device was observed within is tracked for 30 days after\n                the most recent device position update.</p>\n        </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/geofencing/v0/collections/{CollectionName}/positions",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The device associated with the position evaluation error.</p>",
            "smithy.api#required": {}
          }
        },
        "SampleTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a timestamp for when the error occurred in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each device that failed to evaluate its position against\n            the geofences in a given geofence collection.</p>"
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchEvaluateGeofencesError"
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection used in evaluating the position of devices against its\n            geofences.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DevicePositionUpdates": {
          "target": "com.amazonaws.location#DevicePositionUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>Contains device details for each device to be evaluated against the given geofence\n            collection.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchEvaluateGeofencesResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchEvaluateGeofencesErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains error details for each device that failed to evaluate its position against\n            the given geofence collection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchGetDevicePosition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchGetDevicePositionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchGetDevicePositionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the latest device positions for requested devices.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tracking/v0/trackers/{TrackerName}/get-positions",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the device that didn't return a position.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details related to the error code.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each device that didn't return a position.</p>"
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchGetDevicePositionError"
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The tracker resource retrieving the device position.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "DeviceIds": {
          "target": "com.amazonaws.location#IdList",
          "traits": {
            "smithy.api#documentation": "<p>Devices whose position you want to retrieve.</p>\n         <ul>\n            <li>\n               <p>For example, for two devices:\n                   <code>device-ids=DeviceId1&amp;device-ids=DeviceId2</code>\n               </p>\n           </li>\n         </ul>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchGetDevicePositionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchGetDevicePositionErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains  error details for each device that failed to send its position to the tracker\n            resource.</p>",
            "smithy.api#required": {}
          }
        },
        "DevicePositions": {
          "target": "com.amazonaws.location#DevicePositionList",
          "traits": {
            "smithy.api#documentation": "<p>Contains device position details such as the device ID, position, and timestamps for\n            when the position was received and sampled.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchItemError": {
      "type": "structure",
      "members": {
        "Code": {
          "target": "com.amazonaws.location#BatchItemErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>The error code associated with the batch request error.</p>"
          }
        },
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A message with the reason for the batch request error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the batch request error details associated with the request.</p>"
      }
    },
    "com.amazonaws.location#BatchItemErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AccessDeniedError",
            "documentation": "Access to the resource was denied."
          },
          {
            "value": "ConflictError",
            "documentation": "The target resource already exists."
          },
          {
            "value": "InternalServerError",
            "documentation": "Internal server error."
          },
          {
            "value": "ResourceNotFoundError",
            "documentation": "The target resource does not exist."
          },
          {
            "value": "ThrottlingError",
            "documentation": "Too many requests."
          },
          {
            "value": "ValidationError",
            "documentation": "Input fails to satisfy the constraints specified by the service."
          }
        ]
      }
    },
    "com.amazonaws.location#BatchPutGeofence": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchPutGeofenceRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchPutGeofenceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>A batch request for storing geofence geometries into a given geofence collection, or\n            updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/geofencing/v0/collections/{CollectionName}/put-geofences",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceError": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence associated with the error message.</p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details associated to the batch error.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains error details for each geofence that failed to be stored in a given geofence\n            collection.</p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceError"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The geofence collection storing the geofences.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Entries": {
          "target": "com.amazonaws.location#BatchPutGeofenceRequestEntryList",
          "traits": {
            "smithy.api#documentation": "<p>The batch of geofences to be stored in a geofence collection.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequestEntry": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the geofence to be stored in a given geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Geometry": {
          "target": "com.amazonaws.location#GeofenceGeometry",
          "traits": {
            "smithy.api#documentation": "<p>Contains the polygon details to specify the position of the geofence.</p>\n        <note>\n            <p>Each <a href=\"https://docs.aws.amazon.com/location-geofences/latest/APIReference/API_GeofenceGeometry.html\">geofence polygon</a> can have a maximum of 1,000 vertices.</p>\n        </note>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains geofence geometry details. </p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceRequestEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceRequestEntry"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceResponse": {
      "type": "structure",
      "members": {
        "Successes": {
          "target": "com.amazonaws.location#BatchPutGeofenceSuccessList",
          "traits": {
            "smithy.api#documentation": "<p>Contains each geofence that was successfully stored in a geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "Errors": {
          "target": "com.amazonaws.location#BatchPutGeofenceErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains additional error details for each geofence that failed to be stored in a\n            geofence collection.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchPutGeofenceSuccess": {
      "type": "structure",
      "members": {
        "GeofenceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The geofence successfully stored in a geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence was stored in a geofence collection in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "UpdateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence was last updated in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains a summary of each geofence that was successfully stored in a given geofence\n            collection.</p>"
      }
    },
    "com.amazonaws.location#BatchPutGeofenceSuccessList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchPutGeofenceSuccess"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePosition": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Uploads position update data for one or more devices to a tracker resource. Amazon Location\n            uses the data when reporting the last known device position and position history.</p>\n         <note>\n           <p>Only one position update is stored per sample time. Location data is sampled at a\n                fixed rate of one position per 30-second interval and retained for 30 days before\n                it's deleted.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tracking/v0/trackers/{TrackerName}/positions",
          "code": 200
        }
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionError": {
      "type": "structure",
      "members": {
        "DeviceId": {
          "target": "com.amazonaws.location#Id",
          "traits": {
            "smithy.api#documentation": "<p>The device associated with the failed location update.</p>",
            "smithy.api#required": {}
          }
        },
        "SampleTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp at which the device position was determined. Uses <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "Error": {
          "target": "com.amazonaws.location#BatchItemError",
          "traits": {
            "smithy.api#documentation": "<p>Contains details related to the error code such as the error code and error\n            message.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains  error details for each device that failed to update its position.</p>"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionErrorList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#BatchUpdateDevicePositionError"
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to update.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Updates": {
          "target": "com.amazonaws.location#DevicePositionUpdateList",
          "traits": {
            "smithy.api#documentation": "<p>Contains the position update details for each device.</p>",
            "smithy.api#length": {
              "min": 1,
              "max": 10
            },
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BatchUpdateDevicePositionResponse": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.location#BatchUpdateDevicePositionErrorList",
          "traits": {
            "smithy.api#documentation": "<p>Contains  error details for each device that failed to update its position.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#BoundingBox": {
      "type": "list",
      "member": {
        "target": "smithy.api#Double"
      },
      "traits": {
        "smithy.api#externalDocumentation": {
          "Documentation": "https://tools.ietf.org/html/rfc7946#section-5"
        },
        "smithy.api#length": {
          "min": 4,
          "max": 4
        },
        "smithy.api#sensitive": {}
      }
    },
    "com.amazonaws.location#CalculateRoute": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CalculateRouteRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CalculateRouteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html\">Calculates a route</a> given the following required parameters:\n                <code>DeparturePostiton</code> and <code>DestinationPosition</code>. Requires that\n            you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a\n                route calculator resource</a>\n         </p>\n        <p>By default, a request that doesn't specify a departure time uses the best time of day\n            to travel with the best traffic conditions when calculating the route.</p>\n        <p>Additional options include:</p>\n        <ul>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#departure-time\">Specifying a departure time</a> using either <code>DepartureTime</code> or\n                        <code>DepartureNow</code>. This calculates a route based on predictive\n                    traffic data at the given time. </p>\n                <note>\n                    <p>You can't specify both <code>DepartureTime</code> and\n                            <code>DepartureNow</code> in a single request. Specifying both\n                        parameters returns an error message.</p>\n                </note>\n            </li>\n            <li>\n                <p>\n                  <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#travel-mode\">Specifying a travel mode</a> using TravelMode. This lets you specify an\n                    additional route preference such as <code>CarModeOptions</code> if traveling by\n                        <code>Car</code>, or <code>TruckModeOptions</code> if traveling by\n                        <code>Truck</code>.</p>\n            </li>\n         </ul>\n        <p>\n            </p>",
        "smithy.api#endpoint": {
          "hostPrefix": "routes."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/routes/v0/calculators/{CalculatorName}/calculate/route",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#CalculateRouteCarModeOptions": {
      "type": "structure",
      "members": {
        "AvoidFerries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids ferries when calculating routes.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        },
        "AvoidTolls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids tolls when calculating routes.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about additional route preferences for requests that specify\n                <code>TravelMode</code> as <code>Car</code>.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteRequest": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource that you want to use to calculate a route. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DeparturePosition": {
          "target": "com.amazonaws.location#Position",
          "traits": {
            "smithy.api#documentation": "<p>The start position for the route. Defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format:\n                <code>[longitude, latitude]</code>.</p>\n        <ul>\n            <li>\n                <p>For example, <code>[-123.115, 49.285]</code>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <p>If you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#snap-to-nearby-road\">moves the\n                position to the nearest road</a>.</p>\n        </note>\n        <p>Valid Values: <code>[-180 to 180,-90 to 90]</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "DestinationPosition": {
          "target": "com.amazonaws.location#Position",
          "traits": {
            "smithy.api#documentation": "<p>The finish position for the route. Defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format:\n                <code>[longitude, latitude]</code>.</p>\n        <ul>\n            <li>\n                <p> For example, <code>[-122.339, 47.615]</code>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <p>If you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#snap-to-nearby-road\">moves the position to the nearest road</a>. </p>\n        </note>\n        <p>Valid Values: <code>[-180 to 180,-90 to 90]</code>\n         </p>",
            "smithy.api#required": {}
          }
        },
        "WaypointPositions": {
          "target": "com.amazonaws.location#WaypointPositionList",
          "traits": {
            "smithy.api#documentation": "<p>Specifies an ordered list of up to 23 intermediate positions to include along a route\n            between the departure position and destination position. </p>\n        <ul>\n            <li>\n                <p>For example, from the <code>DeparturePosition</code>\n                    <code>[-123.115, 49.285]</code>, the route follows the order that the waypoint\n                    positions are given <code>[[-122.757, 49.0021],[-122.349, 47.620]]</code>\n               </p>\n            </li>\n         </ul>\n        <note>\n            <p>If you specify a waypoint position that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#snap-to-nearby-road\">moves the position to the nearest road</a>. </p>\n            <p>Specifying more than 23 waypoints returns a <code>400 ValidationException</code>\n                error.</p>\n        </note>\n        <p>Valid Values: <code>[-180 to 180,-90 to 90]</code>\n         </p>",
            "smithy.api#length": {
              "max": 23
            }
          }
        },
        "TravelMode": {
          "target": "com.amazonaws.location#TravelMode",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the mode of transport when calculating a route. Used in estimating the speed\n            of travel and road compatibility.</p>\n        <p>The <code>TravelMode</code> you specify determines how you specify route preferences: </p>\n        <ul>\n            <li>\n                <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code>\n                    parameter.</p>\n            </li>\n            <li>\n                <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code>\n                    parameter.</p>\n            </li>\n         </ul>\n        <p>Default Value: <code>Car</code>\n         </p>"
          }
        },
        "DepartureTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the desired time of departure. Uses the given time to calculate a route.\n            Otherwise, the best time of day to travel with the best traffic conditions is used to\n            calculate the route.</p>\n        <note>\n            <p>Setting a departure time in the past returns a <code>400\n                    ValidationException</code> error.</p>\n        </note>\n        <ul>\n            <li>\n                <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO\n                        8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example,\n                        <code>2020–07-2T12:15:20.000Z+01:00</code>\n               </p>\n            </li>\n         </ul>"
          }
        },
        "DepartNow": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Sets the time of departure as the current time. Uses the current time to calculate a\n            route. Otherwise, the best time of day to travel with the best traffic conditions is\n            used to calculate the route.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>Set the unit system to specify the distance.</p>\n        <p>Default Value: <code>Kilometers</code>\n         </p>"
          }
        },
        "IncludeLegGeometry": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Set to include the geometry details in the result for each path between a pair of\n            positions.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        },
        "CarModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteCarModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding\n            routes that use ferries or tolls.</p>\n        <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>"
          }
        },
        "TruckModeOptions": {
          "target": "com.amazonaws.location#CalculateRouteTruckModeOptions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding\n            routes that use ferries or tolls, and truck specifications to consider when choosing an\n            optimal road.</p>\n        <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.location#CalculateRouteResponse": {
      "type": "structure",
      "members": {
        "Legs": {
          "target": "com.amazonaws.location#LegList",
          "traits": {
            "smithy.api#documentation": "<p>Contains details about each path between a pair of positions included along a route\n            such as: <code>StartPosition</code>, <code>EndPosition</code>, <code>Distance</code>,\n                <code>DurationSeconds</code>, <code>Geometry</code>, and <code>Steps</code>. The\n            number of legs returned corresponds to one fewer than the total number of positions in\n            the request. </p>\n        <p>For example, a route with a departure position and destination position returns one\n            leg with the positions <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/calculate-route.html#snap-to-nearby-road\">snapped to a nearby road</a>:</p>\n        <ul>\n            <li>\n                <p>The <code>StartPosition</code> is the departure position.</p>\n            </li>\n            <li>\n                <p>The <code>EndPosition</code> is the destination position.</p>\n            </li>\n         </ul>\n        <p>A route with a waypoint between the departure and destination position returns two\n            legs with the positions snapped to a nearby road:</p>\n        <ul>\n            <li>\n                <p>Leg 1: The <code>StartPosition</code> is the departure position . The\n                        <code>EndPosition</code> is the waypoint positon.</p>\n            </li>\n            <li>\n                <p>Leg 2: The <code>StartPosition</code> is the waypoint position. The\n                        <code>EndPosition</code> is the destination position.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Summary": {
          "target": "com.amazonaws.location#CalculateRouteSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the whole route, such as: <code>RouteBBox</code>,\n                <code>DataSource</code>, <code>Distance</code>, <code>DistanceUnit</code>, and\n                <code>DurationSeconds</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the result of the route calculation. Metadata includes legs and route\n            summary.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteSummary": {
      "type": "structure",
      "members": {
        "RouteBBox": {
          "target": "com.amazonaws.location#BoundingBox",
          "traits": {
            "smithy.api#documentation": "<p>Specifies a geographical box surrounding a route. Used to zoom into a route when\n            displaying it in a map. For example, <code>[min x, min y, max x, max y]</code>.</p>\n        <p>The first 2 <code>bbox</code> parameters describe the lower southwest corner: </p>\n        <ul>\n            <li>\n                <p>The first <code>bbox</code> position is the X coordinate or longitude of the\n                    lower southwest corner. </p>\n            </li>\n            <li>\n                <p>The second <code>bbox</code> position is the Y coordinate or latitude of the\n                    lower southwest corner. </p>\n            </li>\n         </ul>\n        <p>The next 2 <code>bbox</code> parameters describe the upper northeast corner: </p>\n        <ul>\n            <li>\n                <p>The third <code>bbox</code> position is the X coordinate, or longitude of the\n                    upper northeast corner. </p>\n            </li>\n            <li>\n                <p>The fourth <code>bbox</code> position is the Y coordinate, or longitude of the\n                    upper northeast corner. </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The data provider of traffic and road network data used to calculate the route.\n            Indicates one of the available providers:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Esri</code>\n               </p>\n            </li>\n            <li>\n                <p>\n                  <code>Here</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Distance": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The total distance covered by the route. The sum of the distance travelled between\n            every stop on the route.</p>\n        <note>\n            <p>The route <code>distance</code> can't be greater than 250 km. If the route exceeds\n                250 km, the response returns a <code>400 RoutesValidationException</code>\n                error.</p>\n        </note>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "DurationSeconds": {
          "target": "smithy.api#Double",
          "traits": {
            "smithy.api#documentation": "<p>The total travel time for the route measured in seconds. The sum of the travel time\n            between every stop on the\n            route.</p>",
            "smithy.api#range": {
              "min": 0
            },
            "smithy.api#required": {}
          }
        },
        "DistanceUnit": {
          "target": "com.amazonaws.location#DistanceUnit",
          "traits": {
            "smithy.api#documentation": "<p>The unit of measurement for the distance.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of the calculated route.</p>"
      }
    },
    "com.amazonaws.location#CalculateRouteTruckModeOptions": {
      "type": "structure",
      "members": {
        "AvoidFerries": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids ferries when calculating routes.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        },
        "AvoidTolls": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Avoids ferries when calculating routes.</p>\n        <p>Default Value: <code>false</code>\n         </p>\n        <p>Valid Values: <code>false</code> | <code>true</code>\n         </p>"
          }
        },
        "Dimensions": {
          "target": "com.amazonaws.location#TruckDimensions",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the truck's dimension specifications including length, height, width, and\n            unit of measurement. Used to avoid roads that can't support the truck's\n            dimensions.</p>"
          }
        },
        "Weight": {
          "target": "com.amazonaws.location#TruckWeight",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the truck's weight specifications including total weight and unit of\n            measurement. Used to avoid roads that can't support the truck's weight.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains details about additional route preferences for requests that specify\n                <code>TravelMode</code> as <code>Truck</code>.</p>"
      }
    },
    "com.amazonaws.location#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request was unsuccessful because of a conflict.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.location#CountryCode": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[A-Z]{3}$"
      }
    },
    "com.amazonaws.location#CountryCodeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.location#CountryCode"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.location#CreateGeofenceCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateGeofenceCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateGeofenceCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a geofence collection, which manages and stores geofences.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/geofencing/v0/collections",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateGeofenceCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the geofence collection.</p>\n        <p>Requirements:</p>\n        <ul>\n            <li>\n                <p>Contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods\n                    (.), and underscores (_). </p>\n            </li>\n            <li>\n                <p>Must be a unique geofence collection name.</p>\n            </li>\n            <li>\n                <p>No spaces allowed. For example, <code>ExampleGeofenceCollection</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pricing plan for the geofence collection.</p>\n        <p>For additional details and restrictions on each pricing plan option, see the <a href=\"https://aws.amazon.com/location/pricing/\">Amazon Location Service pricing\n            page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingPlanDataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data provider for the geofence collection.</p>\n        <ul>\n            <li>\n                <p>Required value for the following pricing plans: <code>MobileAssetTracking\n                    </code>| <code>MobileAssetManagement</code>\n               </p>\n            </li>\n         </ul>\n        <p>For more information about <a href=\"https://aws.amazon.com/location/data-providers/\">Data Providers</a>, and <a href=\"https://aws.amazon.com/location/pricing/\">Pricing plans</a>, see the Amazon Location\n            Service product page.</p>\n\t        <note>\n\t           <p>Amazon Location Service only uses <code>PricingPlanDataSource</code> to calculate billing for\n                your geofence collection. Your data won't be shared with the data provider, and will\n                remain in your AWS account or Region unless you move it.</p>\n\t        </note>\n        <p>Valid Values: <code>Esri </code>| <code>Here</code>\n         </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the geofence collection.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the geofence collection. A tag is a key-value pair helps\n            manage, identify, search, and filter your resources by labelling them.</p>\n        <p>Format: <code>\"key\" : \"value\"</code>\n         </p>\n        <p>Restrictions:</p>\n        <ul>\n            <li>\n                <p>Maximum 50 tags per resource</p>\n            </li>\n            <li>\n                <p>Each resource tag must be unique with a maximum of one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length: 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length: 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters:\n                    + - = . _ : / @. </p>\n            </li>\n         </ul>"
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.location#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A key identifier for an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keys.html\">AWS KMS customer managed key</a>. Enter a key ID, key ARN, alias name, or alias ARN.\n\t</p>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateGeofenceCollectionResponse": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the geofence collection.</p>",
            "smithy.api#required": {}
          }
        },
        "CollectionArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the geofence collection resource. Used when you\n            need to specify a resource across all AWS. </p>\n        <ul>\n            <li>\n                <p>Format example:\n                        <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollection</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the geofence collection was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>\n         </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreateMap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateMapRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateMapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a map resource in your AWS account, which provides map tiles of different\n            styles sourced from global location data providers.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "maps."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/maps/v0/maps",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateMapRequest": {
      "type": "structure",
      "members": {
        "MapName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the map resource.</p>\n        <p>Requirements:</p>\n        <ul>\n            <li>\n               <p>Must contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods (.), and underscores (_). </p>\n            </li>\n            <li>\n               <p>Must be a unique map resource name. </p>\n            </li>\n            <li>\n                <p>No spaces allowed. For example, <code>ExampleMap</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "Configuration": {
          "target": "com.amazonaws.location#MapConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the map style selected from an available data provider.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pricing plan for your map resource.</p>\n        <p>For additional details and restrictions on each pricing plan option, see the <a href=\"https://aws.amazon.com/location/pricing/\">Amazon Location Service pricing\n                page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the map resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the map resource. A tag is a key-value pair helps manage,\n            identify, search, and filter your resources by labelling them.</p>\n         <p>Format: <code>\"key\" : \"value\"</code>\n         </p>\n         <p>Restrictions:</p>\n         <ul>\n            <li>\n               <p>Maximum 50 tags per resource</p>\n            </li>\n            <li>\n               <p>Each resource tag must be unique with a maximum of one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length: 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length:  256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters: + - = . _ : /\n                    @. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateMapResponse": {
      "type": "structure",
      "members": {
        "MapName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the map resource.</p>",
            "smithy.api#required": {}
          }
        },
        "MapArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the map resource. Used to specify a resource across\n            all AWS.</p>\n        <ul>\n            <li>\n                <p>Format example:\n                    <code>arn:aws:geo:region:account-id:maps/ExampleMap</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the map resource was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreatePlaceIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreatePlaceIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreatePlaceIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a place index resource in your AWS account, which supports functions with\n         geospatial data sourced from your chosen data provider.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "places."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/places/v0/indexes",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreatePlaceIndexRequest": {
      "type": "structure",
      "members": {
        "IndexName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the place index resource. </p>\n         <p>Requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only alphanumeric characters (A–Z, a–z, 0–9), hyphens (-), periods (.), and\n               underscores (_).</p>\n            </li>\n            <li>\n               <p>Must be a unique place index resource name.</p>\n            </li>\n            <li>\n               <p>No spaces allowed. For example, <code>ExamplePlaceIndex</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data provider of geospatial data.</p>\n         <note>\n            <p>This field is case-sensitive. Enter the valid values as shown. For example, entering\n               <code>HERE</code> returns an error.</p>\n         </note>\n         <p>Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>Esri</code> – For additional information about <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/esri.html\">Esri</a>'s coverage in your\n               region of interest, see <a href=\"https://developers.arcgis.com/rest/geocode/api-reference/geocode-coverage.htm\">Esri details on geocoding coverage</a>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Here</code> – For additional information about <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/HERE.html\">HERE Technologies</a>'s\n               coverage in your region of interest, see <a href=\"https://developer.here.com/documentation/geocoder/dev_guide/topics/coverage-geocoder.html\">HERE details on goecoding coverage</a>.</p>\n               <important>\n                  <p>Place index resources using HERE Technologies as a data provider can't <a href=\"https://docs.aws.amazon.com/location-places/latest/APIReference/API_DataSourceConfiguration.html\">store results</a> for locations in Japan. For more information, see the\n                     <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a>\n                  for Amazon Location Service.</p>\n               </important>\n            </li>\n         </ul>\n         <p>For additional information , see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/what-is-data-provider.html\">Data providers</a>\n         on the <i>Amazon Location Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pricing plan for your place index resource.</p>\n         <p>For additional details and restrictions on each pricing plan option, see the <a href=\"https://aws.amazon.com/location/pricing/\">Amazon Location Service pricing\n         page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for the place index resource.</p>"
          }
        },
        "DataSourceConfiguration": {
          "target": "com.amazonaws.location#DataSourceConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data storage option requesting Places.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the place index resource. A tag is a key-value pair helps\n         manage, identify, search, and filter your resources by labelling them.</p>\n         <p>Format: <code>\"key\" : \"value\"</code>\n         </p>\n         <p>Restrictions:</p>\n         <ul>\n            <li>\n               <p>Maximum 50 tags per resource</p>\n            </li>\n            <li>\n               <p>Each resource tag must be unique with a maximum of one value.</p>\n            </li>\n            <li>\n               <p>Maximum key length: 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Maximum value length: 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n               <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters: + -\n               = . _ : / @. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.location#CreatePlaceIndexResponse": {
      "type": "structure",
      "members": {
        "IndexName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the place index resource.</p>",
            "smithy.api#required": {}
          }
        },
        "IndexArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the place index resource. Used to specify a resource\n         across AWS. </p>\n         <ul>\n            <li>\n               <p>Format example:\n                  <code>arn:aws:geo:region:account-id:place-index/ExamplePlaceIndex</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the place index resource was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format:\n            <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreateRouteCalculator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateRouteCalculatorRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateRouteCalculatorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a route calculator resource in your AWS account.</p>\n        <p>You can send requests to a route calculator resource to estimate travel time,\n            distance, and get directions. A route calculator sources traffic and road network data\n            from your chosen data provider.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "routes."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/routes/v0/calculators",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateRouteCalculatorRequest": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource. </p>\n        <p>Requirements:</p>\n        <ul>\n            <li>\n               <p>Can use alphanumeric characters (A–Z, a–z, 0–9) , hyphens (-), periods (.), and underscores\n                    (_).</p>\n            </li>\n            <li>\n               <p>Must be a unique Route calculator resource name.</p>\n            </li>\n            <li>\n                <p>No spaces allowed. For example, <code>ExampleRouteCalculator</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "DataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data provider of traffic and road network data.</p>\n        <note>\n            <p>This field is case-sensitive. Enter the valid values as shown. For example,\n                entering <code>HERE</code> returns an error.</p>\n        </note>\n        <p>Valid values include:</p>\n        <ul>\n            <li>\n                <p>\n                  <code>Esri</code> – For additional information about <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/esri.html\">Esri</a>'s coverage in your region of interest, see <a href=\"https://doc.arcgis.com/en/arcgis-online/reference/network-coverage.htm\">Esri details on street networks and traffic coverage</a>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>Here</code> – For additional information about <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/HERE.html\">HERE\n                        Technologies</a>'s coverage in your region of interest, see <a href=\"https://developer.here.com/documentation/routing-api/dev_guide/topics/coverage/car-routing.html\">HERE car routing coverage</a> and <a href=\"https://developer.here.com/documentation/routing-api/dev_guide/topics/coverage/truck-routing.html\">HERE truck routing coverage</a>.</p>\n            </li>\n         </ul>\n        <p>For additional information , see <a href=\"https://docs.aws.amazon.com/location/latest/developerguide/what-is-data-provider.html\">Data\n                providers</a> on the <i>Amazon Location Service Developer Guide</i>.</p>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pricing plan for your route calculator resource.</p>\n        <p>For additional details and restrictions on each pricing plan option, see <a href=\"https://aws.amazon.com/location/pricing/\">Amazon Location Service pricing</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The optional description for the route calculator resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the route calculator resource. A tag is a key-value pair\n            helps manage, identify, search, and filter your resources by labelling them.</p>\n        <ul>\n            <li>\n                <p>For example: { <code>\"tag1\" : \"value1\"</code>, <code>\"tag2\" :\n                    \"value2\"</code>}</p>\n            </li>\n         </ul>\n        <p>Format: <code>\"key\" : \"value\"</code>\n         </p>\n        <p>Restrictions:</p>\n        <ul>\n            <li>\n                <p>Maximum 50 tags per resource</p>\n            </li>\n            <li>\n                <p>Each resource tag must be unique with a maximum of one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length: 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length: 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters:\n                    + - = . _ : / @. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateRouteCalculatorResponse": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource. </p>\n        <ul>\n            <li>\n                <p>For example, <code>ExampleRouteCalculator</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CalculatorArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the route calculator resource. Use the ARN when you\n            specify a resource across all AWS.</p>\n        <ul>\n            <li>\n                <p>Format example:\n                        <code>arn:aws:geo:region:account-id:route-calculator/ExampleCalculator</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the route calculator resource was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>\n        <ul>\n            <li>\n                <p>For example, <code>2020–07-2T12:15:20.000Z+01:00</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#CreateTracker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#CreateTrackerRequest"
      },
      "output": {
        "target": "com.amazonaws.location#CreateTrackerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#ConflictException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a tracker resource in your AWS account, which lets you retrieve current and\n            historical location of devices.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tracking/v0/trackers",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#CreateTrackerRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the tracker resource.</p>\n         <p>Requirements:</p>\n         <ul>\n            <li>\n               <p>Contain only alphanumeric characters (A-Z, a-z, 0-9) , hyphens (-), periods (.), and underscores (_).</p>\n            </li>\n            <li>\n               <p>Must be a unique tracker resource name.</p>\n            </li>\n            <li>\n                <p>No spaces allowed. For example, <code>ExampleTracker</code>.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "PricingPlan": {
          "target": "com.amazonaws.location#PricingPlan",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the pricing plan for the tracker resource.</p>\n         <p>For additional details and restrictions on each pricing plan option, see the <a href=\"https://aws.amazon.com/location/pricing/\">Amazon Location Service pricing\n           page</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.location#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>A key identifier for an <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/create-keys.html\">AWS KMS customer managed key</a>. Enter a key ID, key ARN, alias name, or alias ARN.</p>"
          }
        },
        "PricingPlanDataSource": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the data provider for the tracker resource.</p>\n         <ul>\n            <li>\n               <p>Required value for the following pricing plans: <code>MobileAssetTracking\n               </code>| <code>MobileAssetManagement</code>\n               </p>\n           </li>\n         </ul>\n         <p>For more information about <a href=\"https://aws.amazon.com/location/data-providers/\">Data Providers</a>, and <a href=\"https://aws.amazon.com/location/pricing/\">Pricing plans</a>, see the Amazon Location\n           Service product page.</p>\n\t        <note>\n\t           <p>Amazon Location Service only uses <code>PricingPlanDataSource</code> to calculate billing for your tracker resource. Your data will not be shared with the data provider, and will remain in your AWS account or Region unless you move it.</p>\n\t        </note>\n        <p>Valid Values: <code>Esri</code> | <code>Here</code>\n         </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.location#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the tracker resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.location#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>Applies one or more tags to the tracker resource. A tag is a key-value pair helps\n            manage, identify, search, and filter your resources by labelling them.</p>\n        <p>Format: <code>\"key\" : \"value\"</code>\n         </p>\n        <p>Restrictions:</p>\n        <ul>\n            <li>\n                <p>Maximum 50 tags per resource</p>\n            </li>\n            <li>\n                <p>Each resource tag must be unique with a maximum of one value.</p>\n            </li>\n            <li>\n                <p>Maximum key length: 128 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Maximum value length: 256 Unicode characters in UTF-8</p>\n            </li>\n            <li>\n                <p>Can use alphanumeric characters (A–Z, a–z, 0–9), and the following characters:\n                    + - = . _ : / @. </p>\n            </li>\n         </ul>"
          }
        }
      }
    },
    "com.amazonaws.location#CreateTrackerResponse": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource.</p>",
            "smithy.api#required": {}
          }
        },
        "TrackerArn": {
          "target": "com.amazonaws.location#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the tracker resource. Used when you need to specify\n            a resource across all AWS.</p>\n        <ul>\n            <li>\n                <p>Format example:\n                        <code>arn:aws:geo:region:account-id:tracker/ExampleTracker</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "CreateTime": {
          "target": "com.amazonaws.location#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp for when the tracker resource was created in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a>\n            format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DataSourceConfiguration": {
      "type": "structure",
      "members": {
        "IntendedUse": {
          "target": "com.amazonaws.location#IntendedUse",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how the results of an operation will be stored by the caller. </p>\n         <p>Valid values include:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>SingleUse</code> specifies that the results won't be stored. </p>\n            </li>\n            <li>\n               <p>\n                  <code>Storage</code> specifies that the result can be cached or stored in a database.</p>\n            </li>\n         </ul>\n         <p>Default value:  <code>SingleUse</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the data storage option chosen for requesting Places.</p>\n         <important>\n            <p>When using Amazon Location Places:</p>\n            <ul>\n               <li>\n                  <p>If using HERE Technologies as a data provider, you can't store results for\n                  locations in Japan by setting <code>IntendedUse</code> to <code>Storage</code>.\n                  parameter.</p>\n               </li>\n               <li>\n                  <p>Under the <code>MobileAssetTracking</code> or <code>MobilAssetManagement</code>\n                  pricing plan, you can't store results from your place index resources by setting <code>IntendedUse</code> to <code>Storage</code>. This\n                  returns a validation exception error.</p>\n               </li>\n            </ul>\n            <p>For more information, see the <a href=\"https://aws.amazon.com/service-terms/\">AWS Service Terms</a> for\n            Amazon Location Service.</p>\n         </important>"
      }
    },
    "com.amazonaws.location#DeleteGeofenceCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DeleteGeofenceCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DeleteGeofenceCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a geofence collection from your AWS account.</p>\n        <note>\n            <p>This operation deletes the resource permanently. If the geofence collection is the\n                target of a tracker resource, the devices will no longer be monitored.</p>\n        </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/geofencing/v0/collections/{CollectionName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#DeleteGeofenceCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the geofence collection to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DeleteGeofenceCollectionResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#DeleteMap": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DeleteMapRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DeleteMapResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a map resource from your AWS account.</p>\n        <note>\n            <p>This operation deletes the resource permanently. If the map is being used in an application,\n                the map may not render.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "maps."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/maps/v0/maps/{MapName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#DeleteMapRequest": {
      "type": "structure",
      "members": {
        "MapName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the map resource to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DeleteMapResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#DeletePlaceIndex": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DeletePlaceIndexRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DeletePlaceIndexResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a place index resource from your AWS account.</p>\n         <note>\n            <p>This operation deletes the resource permanently.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "places."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/places/v0/indexes/{IndexName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#DeletePlaceIndexRequest": {
      "type": "structure",
      "members": {
        "IndexName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the place index resource to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DeletePlaceIndexResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#DeleteRouteCalculator": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DeleteRouteCalculatorRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DeleteRouteCalculatorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a route calculator resource from your AWS account.</p>\n        <note>\n            <p>This operation deletes the resource permanently.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "routes."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/routes/v0/calculators/{CalculatorName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#DeleteRouteCalculatorRequest": {
      "type": "structure",
      "members": {
        "CalculatorName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the route calculator resource to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DeleteRouteCalculatorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#DeleteTracker": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DeleteTrackerRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DeleteTrackerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a tracker resource from your AWS account.</p>\n         <note>\n            <p>This operation deletes the resource permanently. If the tracker resource is in use, you may\n                encounter an error. Make sure that the target resource isn't a dependency for your\n                applications.</p>\n         </note>",
        "smithy.api#endpoint": {
          "hostPrefix": "tracking."
        },
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tracking/v0/trackers/{TrackerName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.location#DeleteTrackerRequest": {
      "type": "structure",
      "members": {
        "TrackerName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the tracker resource to be deleted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DeleteTrackerResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.location#DescribeGeofenceCollection": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.location#DescribeGeofenceCollectionRequest"
      },
      "output": {
        "target": "com.amazonaws.location#DescribeGeofenceCollectionResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.location#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.location#InternalServerException"
        },
        {
          "target": "com.amazonaws.location#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.location#ThrottlingException"
        },
        {
          "target": "com.amazonaws.location#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#auth": [],
        "smithy.api#documentation": "<p>Retrieves the geofence collection details.</p>",
        "smithy.api#endpoint": {
          "hostPrefix": "geofencing."
        },
        "smithy.api#http": {
          "method": "GET",
          "uri": "/geofencing/v0/collections/{CollectionName}",
          "code": 200
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.location#DescribeGeofenceCollectionRequest": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the geofence collection.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.location#DescribeGeofenceCollectionResponse": {
      "type": "structure",
      "members": {
        "CollectionName": {
          "target": "com.amazonaws.location#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the geofence collection.</p>",
[...]
