{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lookoutvision#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutvision#ExceptionString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are not authorized to perform the action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lookoutvision#Anomaly": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.lookoutvision#AnomalyName",
          "traits": {
            "smithy.api#documentation": "<p>The name of an anomaly type found in an image.  \n         <code>Name</code> maps to an anomaly type in the training dataset, apart from the anomaly type <code>background</code>.\n      The service automatically inserts the <code>background</code> anomaly type into the response from <code>DetectAnomalies</code>. </p>"
          }
        },
        "PixelAnomaly": {
          "target": "com.amazonaws.lookoutvision#PixelAnomaly",
          "traits": {
            "smithy.api#documentation": "<p>Information about the pixel mask that covers an anomaly type.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about an anomaly type found on an image by an image segmentation model. \n         For more information, see <a>DetectAnomalies</a>.</p>"
      }
    },
    "com.amazonaws.lookoutvision#AnomalyClassFilter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^(normal|anomaly)$"
      }
    },
    "com.amazonaws.lookoutvision#AnomalyList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutvision#Anomaly"
      }
    },
    "com.amazonaws.lookoutvision#AnomalyMask": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5242880
        }
      }
    },
    "com.amazonaws.lookoutvision#AnomalyName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9]*$"
      }
    },
    "com.amazonaws.lookoutvision#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.lookoutvision#ClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.lookoutvision#Color": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 7,
          "max": 7
        },
        "smithy.api#pattern": "^\\#[a-zA-Z0-9]{6}$"
      }
    },
    "com.amazonaws.lookoutvision#CompilerOptions": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 1024
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.lookoutvision#ComponentDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_. ()':,;?]+$"
      }
    },
    "com.amazonaws.lookoutvision#ComponentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9-_.]+$"
      }
    },
    "com.amazonaws.lookoutvision#ComponentVersion": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^([0-9]{1,6})\\.([0-9]{1,6})\\.([0-9]{1,6})$"
      }
    },
    "com.amazonaws.lookoutvision#ComponentVersionArn": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^arn:[^:]*:greengrass:[^:]*:aws:components:[^:]+$"
      }
    },
    "com.amazonaws.lookoutvision#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutvision#ExceptionString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.lookoutvision#ExceptionString",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.lookoutvision#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The update or deletion of a resource caused an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lookoutvision#ContentType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": ".*"
      }
    },
    "com.amazonaws.lookoutvision#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new dataset  in an Amazon Lookout for Vision project. <code>CreateDataset</code> can create a \n      training or a test dataset from a valid dataset source (<code>DatasetSource</code>).</p>\n         <p>If you want a single dataset project, specify <code>train</code> for the value of \n         <code>DatasetType</code>.</p>\n        <p>To have a project with separate training and test datasets, call <code>CreateDataset</code> twice.\n           On the first call, specify <code>train</code> for the value of \n           <code>DatasetType</code>. On the second call, specify <code>test</code> for the value of \n           <code>DatasetType</code>. </p>\n        <p>This operation requires permissions to perform the\n           <code>lookoutvision:CreateDataset</code> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-11-20/projects/{ProjectName}/datasets",
          "code": 202
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in which you want to create a dataset.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset. Specify <code>train</code> for a training dataset.\n      Specify <code>test</code> for a test dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetSource": {
          "target": "com.amazonaws.lookoutvision#DatasetSource",
          "traits": {
            "smithy.api#documentation": "<p>The location of the manifest file that Amazon Lookout for Vision uses to create the dataset.</p>\n         <p>If you don't specify <code>DatasetSource</code>, an empty dataset is created and the operation \n      synchronously returns. Later, you can add JSON Lines by calling <a>UpdateDatasetEntries</a>.\n     </p>\n         <p>If you specify a value for <code>DataSource</code>, the manifest at the S3 location\n     is validated and used to create the dataset. The call to <code>CreateDataset</code> is asynchronous\n     and might take a while to complete. To find out the current status, Check the value of <code>Status</code>\n     returned in a call to <a>DescribeDataset</a>.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateDataset</code>\n      completes only once.  You choose the value to pass. For example, An issue might prevent you\n      from getting a response from <code>CreateDataset</code>.\n      In this case, safely retry your call\n       to <code>CreateDataset</code> by using the same <code>ClientToken</code> parameter value.</p>\n         <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. \n         This prevents retries after a network error from making multiple dataset creation requests. You'll need to\n         provide your own value for other use cases. </p>\n         <p>An error occurs if the other input parameters are not the same as in the first request. Using a different  \n       value for <code>ClientToken</code> is considered a new call to <code>CreateDataset</code>. An idempotency\n       token is active for 8 hours.\n    </p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetMetadata": {
          "target": "com.amazonaws.lookoutvision#DatasetMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#CreateModelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#CreateModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new version of a model within an an Amazon Lookout for Vision project. \n      <code>CreateModel</code> is an asynchronous operation in which Amazon Lookout for Vision trains, tests,\n       and evaluates a new version of a model. </p>\n         <p>To get the current status, check the <code>Status</code> field returned\n      in the response from <a>DescribeModel</a>.</p>\n         <p>If the project has a single dataset, Amazon Lookout for Vision internally splits the dataset\n       to create a training and a test dataset.  \n       If the project has a training and a test dataset, Lookout for Vision uses the respective datasets to train and test \n       the model. </p>\n         <p>After training completes, the evaluation metrics are stored at the location specified in\n        <code>OutputConfig</code>.  </p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:CreateModel</code> operation. If you want to tag your model, you also require\n         permission to the <code>lookoutvision:TagResource</code> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-11-20/projects/{ProjectName}/models",
          "code": 202
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateModelRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project in which you want to create a model version.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.lookoutvision#ModelDescriptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>A description for the version of the model.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateModel</code>\n      completes only once.  You choose the value to pass. For example, An issue\n      might prevent you from getting a response from <code>CreateModel</code>.\n      In this case, safely retry your call\n       to <code>CreateModel</code> by using the same <code>ClientToken</code> parameter value. </p>\n         <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. \n            This prevents retries after a network error from starting multiple training jobs. You'll need to\n            provide your own value for other use cases. </p>  \n        <p>An error occurs if the other input parameters are not the same as in the first request. Using a different  \n       value for <code>ClientToken</code> is considered a new call to <code>CreateModel</code>. An idempotency\n       token is active for 8 hours.</p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "OutputConfig": {
          "target": "com.amazonaws.lookoutvision#OutputConfig",
          "traits": {
            "smithy.api#documentation": "<p>The location where Amazon Lookout for Vision saves the training results.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyId": {
          "target": "com.amazonaws.lookoutvision#KmsKeyId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for your AWS KMS key.\n         The key is used to encrypt training and test images copied into the service for model training. Your \n         source images are unaffected.\n         If this parameter is not specified, the copied images are encrypted by a key that AWS owns and manages.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutvision#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A set of tags (key-value pairs) that you want to attach to the model.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateModelResponse": {
      "type": "structure",
      "members": {
        "ModelMetadata": {
          "target": "com.amazonaws.lookoutvision#ModelMetadata",
          "traits": {
            "smithy.api#documentation": "<p>The response from a call to <code>CreateModel</code>.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#CreateProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#CreateProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an empty Amazon Lookout for Vision project. After you create the project, add a dataset by calling\n         <a>CreateDataset</a>.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:CreateProject</code> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-11-20/projects",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the project.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>CreateProject</code>\n      completes only once.  You choose the value to pass. For example, An issue might prevent you from \n      getting a response from <code>CreateProject</code>.\n      In this case, safely retry your call\n       to <code>CreateProject</code> by using the same <code>ClientToken</code> parameter value. </p>\n         <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. \n          This prevents retries after a network error from making multiple project creation requests. You'll need to\n           provide your own value for other use cases. </p>      \n         <p>An error occurs\n       if the other input parameters are not the same as in the first request. Using a different  \n       value for <code>ClientToken</code> is considered a new call to <code>CreateProject</code>. An idempotency\n       token is active for 8 hours.</p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#CreateProjectResponse": {
      "type": "structure",
      "members": {
        "ProjectMetadata": {
          "target": "com.amazonaws.lookoutvision#ProjectMetadata",
          "traits": {
            "smithy.api#documentation": "<p>Information about the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DatasetChanges": {
      "type": "blob",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10485760
        }
      }
    },
    "com.amazonaws.lookoutvision#DatasetDescription": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the dataset.</p>"
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset. The value <code>train</code> represents a training dataset or single dataset project.\n      The value <code>test</code> represents a test dataset.</p>"
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.lookoutvision#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for the time and date that the dataset was created.</p>"
          }
        },
        "LastUpdatedTimestamp": {
          "target": "com.amazonaws.lookoutvision#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for the date and time that the dataset was last updated.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutvision#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the dataset.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.lookoutvision#DatasetStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status message for the dataset. </p>"
          }
        },
        "ImageStats": {
          "target": "com.amazonaws.lookoutvision#DatasetImageStats",
          "traits": {
            "smithy.api#documentation": "<p>Statistics about the images in a dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The description for a dataset. For more information, see <a>DescribeDataset</a>.</p>"
      }
    },
    "com.amazonaws.lookoutvision#DatasetEntry": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 2,
          "max": 8192
        },
        "smithy.api#pattern": "^\\{.*\\}$"
      }
    },
    "com.amazonaws.lookoutvision#DatasetEntryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutvision#DatasetEntry"
      }
    },
    "com.amazonaws.lookoutvision#DatasetGroundTruthManifest": {
      "type": "structure",
      "members": {
        "S3Object": {
          "target": "com.amazonaws.lookoutvision#InputS3Object",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket location for the manifest file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Location information about a manifest file. You can use a manifest file to\n      create a dataset.</p>"
      }
    },
    "com.amazonaws.lookoutvision#DatasetImageStats": {
      "type": "structure",
      "members": {
        "Total": {
          "target": "com.amazonaws.lookoutvision#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of images in the dataset.</p>"
          }
        },
        "Labeled": {
          "target": "com.amazonaws.lookoutvision#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of labeled images.</p>"
          }
        },
        "Normal": {
          "target": "com.amazonaws.lookoutvision#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total number of images labeled as normal.</p>"
          }
        },
        "Anomaly": {
          "target": "com.amazonaws.lookoutvision#Integer",
          "traits": {
            "smithy.api#documentation": "<p>the total number of images labeled as an anomaly.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Statistics about the images in a dataset.</p>"
      }
    },
    "com.amazonaws.lookoutvision#DatasetMetadata": {
      "type": "structure",
      "members": {
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset.</p>"
          }
        },
        "CreationTimestamp": {
          "target": "com.amazonaws.lookoutvision#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>The Unix timestamp for the date and time that the dataset was created. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutvision#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status for the dataset.</p>"
          }
        },
        "StatusMessage": {
          "target": "com.amazonaws.lookoutvision#DatasetStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The status message for the dataset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Summary information for an Amazon Lookout for Vision dataset. For more information,\n      see <a>DescribeDataset</a> and <a>ProjectDescription</a>.</p>"
      }
    },
    "com.amazonaws.lookoutvision#DatasetMetadataList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutvision#DatasetMetadata"
      }
    },
    "com.amazonaws.lookoutvision#DatasetSource": {
      "type": "structure",
      "members": {
        "GroundTruthManifest": {
          "target": "com.amazonaws.lookoutvision#DatasetGroundTruthManifest",
          "traits": {
            "smithy.api#documentation": "<p>Location information for the manifest file.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the location of a manifest file that Amazon Lookout for Vision uses to to create a dataset.</p>"
      }
    },
    "com.amazonaws.lookoutvision#DatasetStatus": {
      "type": "enum",
      "members": {
        "CREATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_IN_PROGRESS"
          }
        },
        "CREATE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_COMPLETE"
          }
        },
        "CREATE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATE_FAILED"
          }
        },
        "UPDATE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_IN_PROGRESS"
          }
        },
        "UPDATE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_COMPLETE"
          }
        },
        "UPDATE_FAILED_ROLLBACK_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED_ROLLBACK_IN_PROGRESS"
          }
        },
        "UPDATE_FAILED_ROLLBACK_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPDATE_FAILED_ROLLBACK_COMPLETE"
          }
        },
        "DELETE_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_IN_PROGRESS"
          }
        },
        "DELETE_COMPLETE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_COMPLETE"
          }
        },
        "DELETE_FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DELETE_FAILED"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DatasetStatusMessage": {
      "type": "string"
    },
    "com.amazonaws.lookoutvision#DatasetType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        },
        "smithy.api#pattern": "^train|test$"
      }
    },
    "com.amazonaws.lookoutvision#DateTime": {
      "type": "timestamp"
    },
    "com.amazonaws.lookoutvision#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DeleteDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DeleteDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an existing Amazon Lookout for Vision <code>dataset</code>. </p>\n         <p>If your the project has a single\n      dataset, you must create a new dataset before you can create a model.</p>\n         <p>If you project has a training dataset and a test dataset consider the following. </p>\n         <ul>\n            <li>\n               <p>If you delete the test dataset, your project reverts to a single dataset project. If you then\n      train the model, Amazon Lookout for Vision internally splits the remaining dataset into a training and test dataset.</p>\n            </li>\n            <li>\n               <p>If you delete the training dataset, you must create a training dataset before you can create a model.</p>\n            </li>\n         </ul>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DeleteDataset</code> operation.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-11-20/projects/{ProjectName}/datasets/{DatasetType}",
          "code": 202
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the dataset that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset to delete. Specify <code>train</code> to delete the training dataset.\n      Specify <code>test</code> to delete the test dataset. To delete the dataset in a single dataset project, \n         specify <code>train</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteDataset</code>\n      completes only once.  You choose the value to pass. For example, An issue might prevent you from getting a response from <code>DeleteDataset</code>.\n      In this case, safely retry your call\n       to <code>DeleteDataset</code> by using the same <code>ClientToken</code> parameter value. </p>\n         <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. \n                 This prevents retries after a network error from making multiple deletetion requests. You'll need to\n                 provide your own value for other use cases. </p>       \n         <p>An error occurs if the other input parameters are not the same as in the first request. Using a different  \n       value for <code>ClientToken</code> is considered a new call to <code>DeleteDataset</code>. An idempotency\n       token is active for 8 hours.</p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteDatasetResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutvision#DeleteModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DeleteModelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DeleteModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Lookout for Vision model. You can't delete a running model. To stop a running model,\n      use the <a>StopModel</a> operation.</p>\n         <p>It might take a few seconds to delete a model. To determine if a model has been deleted, call\n         <a>ListModels</a> and check if the version of the model (<code>ModelVersion</code>) is in the\n         <code>Models</code> array. </p>\n         <p></p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DeleteModel</code> operation.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-11-20/projects/{ProjectName}/models/{ModelVersion}",
          "code": 202
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteModelRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the model that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.lookoutvision#ModelVersionNoLatest",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model that you want to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteModel</code>\n      completes only once.  You choose the value to pass. For example, an issue might prevent\n      you from getting a response from <code>DeleteModel</code>.\n      In this case, safely retry your call\n       to <code>DeleteModel</code> by using the same <code>ClientToken</code> parameter value.</p>\n         <p>If you don't supply a value for ClientToken, the AWS SDK you are using inserts a value for you. \n         This prevents retries after a network error from making multiple model deletion requests. You'll need to\n         provide your own value for other use cases. </p>\n    \n         <p>An error occurs if the other input parameters are not the same as in the first request. Using a different  \n       value for <code>ClientToken</code> is considered a new call to <code>DeleteModel</code>. An idempotency\n       token is active for 8 hours.</p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteModelResponse": {
      "type": "structure",
      "members": {
        "ModelArn": {
          "target": "com.amazonaws.lookoutvision#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DeleteProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DeleteProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon Lookout for Vision project.</p>\n         <p>To delete a project, you must first delete each version of the model associated with \n         the project. To delete a model use the <a>DeleteModel</a> operation.</p>\n         <p>You also have to delete the dataset(s) associated with the model. For more information, see \n         <a>DeleteDataset</a>.  The images referenced by the training and test datasets aren't deleted. \n      </p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DeleteProject</code> operation.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2020-11-20/projects/{ProjectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project to delete.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutvision#ClientToken",
          "traits": {
            "smithy.api#documentation": "<p>ClientToken is an idempotency token that ensures a call to <code>DeleteProject</code>\n         completes only once.  You choose the value to pass. For example, An issue\n         might prevent you from getting a response from <code>DeleteProject</code>.\n         In this case, safely retry your call\n         to <code>DeleteProject</code> by using the same <code>ClientToken</code> parameter value. </p>\n         <p>If you don't supply a value for <code>ClientToken</code>, the AWS SDK you are using inserts a value for you. \n         This prevents retries after a network error from making multiple project deletion requests. You'll need to\n         provide your own value for other use cases. </p>\n         <p>An error occurs if the other input parameters are not the same as in the first request. Using a different  \n         value for <code>ClientToken</code> is considered a new call to <code>DeleteProject</code>. An idempotency\n         token is active for 8 hours.</p>",
            "smithy.api#httpHeader": "X-Amzn-Client-Token",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DeleteProjectResponse": {
      "type": "structure",
      "members": {
        "ProjectArn": {
          "target": "com.amazonaws.lookoutvision#ProjectArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the project that was deleted.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DescribeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DescribeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describe an Amazon Lookout for Vision dataset.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DescribeDataset</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/datasets/{DatasetType}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeDatasetRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the dataset that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset to describe. Specify <code>train</code> to describe the \n      training dataset. Specify <code>test</code> to describe the test dataset.\n      If you have a single dataset project, specify <code>train</code>\n         </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetDescription": {
          "target": "com.amazonaws.lookoutvision#DatasetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the requested dataset. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DescribeModelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DescribeModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a version of an Amazon Lookout for Vision model.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DescribeModel</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/models/{ModelVersion}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModelPackagingJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DescribeModelPackagingJobRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DescribeModelPackagingJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Lookout for Vision model packaging job.\n</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DescribeModelPackagingJob</code> operation.</p>\n      \n         <p>For more information, see \n         <i>Using your Amazon Lookout for Vision model on an edge device</i> in the  Amazon Lookout for Vision Developer Guide. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/modelpackagingjobs/{JobName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModelPackagingJobRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the model packaging job that you want to describe. \n</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "JobName": {
          "target": "com.amazonaws.lookoutvision#ModelPackagingJobName",
          "traits": {
            "smithy.api#documentation": "<p>The job name for the model packaging job. \n\n</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModelPackagingJobResponse": {
      "type": "structure",
      "members": {
        "ModelPackagingDescription": {
          "target": "com.amazonaws.lookoutvision#ModelPackagingDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the model packaging job.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModelRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The project that contains the version of a model that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.lookoutvision#ModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeModelResponse": {
      "type": "structure",
      "members": {
        "ModelDescription": {
          "target": "com.amazonaws.lookoutvision#ModelDescription",
          "traits": {
            "smithy.api#documentation": "<p>Contains the description of the model.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeProject": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DescribeProjectRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DescribeProjectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Lookout for Vision project.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DescribeProject</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeProjectRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that you want to describe.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DescribeProjectResponse": {
      "type": "structure",
      "members": {
        "ProjectDescription": {
          "target": "com.amazonaws.lookoutvision#ProjectDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the project.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DetectAnomalies": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#DetectAnomaliesRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#DetectAnomaliesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects anomalies in an image that you supply. </p>\n         <p>The response from <code>DetectAnomalies</code> includes a boolean prediction\n         that the image contains one or more anomalies and a confidence value for the prediction.\n      If the model is an image segmentation model, the response also includes segmentation\n      information for each type of anomaly found in the image.</p>\n         <note>\n            <p>Before calling <code>DetectAnomalies</code>, you must first start your model with the <a>StartModel</a> operation.\n         You are charged for the amount of time, in minutes, that a model runs and for the number of anomaly detection units that your\n         model uses. If you are not using a model, use the <a>StopModel</a> operation to stop your model. </p> \n         </note>\n      \n         <p>For more information, see <i>Detecting anomalies in an image</i> in the Amazon Lookout for Vision developer guide.</p>\n      \n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:DetectAnomalies</code> operation.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2020-11-20/projects/{ProjectName}/models/{ModelVersion}/detect",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#DetectAnomaliesRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the model version that you want to use.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ModelVersion": {
          "target": "com.amazonaws.lookoutvision#ModelVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version of the model that you want to use.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Body": {
          "target": "com.amazonaws.lookoutvision#Stream",
          "traits": {
            "smithy.api#documentation": "<p>The unencrypted image bytes that you want to analyze. </p>",
            "smithy.api#httpPayload": {},
            "smithy.api#required": {}
          }
        },
        "ContentType": {
          "target": "com.amazonaws.lookoutvision#ContentType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the image passed in <code>Body</code>.\n         Valid values are <code>image/png</code> (PNG format images) and <code>image/jpeg</code> (JPG format images). </p>",
            "smithy.api#httpHeader": "Content-Type",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DetectAnomaliesResponse": {
      "type": "structure",
      "members": {
        "DetectAnomalyResult": {
          "target": "com.amazonaws.lookoutvision#DetectAnomalyResult",
          "traits": {
            "smithy.api#documentation": "<p>The results of the <code>DetectAnomalies</code> operation.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#DetectAnomalyResult": {
      "type": "structure",
      "members": {
        "Source": {
          "target": "com.amazonaws.lookoutvision#ImageSource",
          "traits": {
            "smithy.api#documentation": "<p>The source of the image that was analyzed. <code>direct</code> means that the\n      images was supplied from the local computer. No other values are supported.</p>"
          }
        },
        "IsAnomalous": {
          "target": "com.amazonaws.lookoutvision#Boolean",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>True if Amazon Lookout for Vision classifies the image as containing an anomaly, otherwise false.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.lookoutvision#Float",
          "traits": {
            "smithy.api#documentation": "<p>The confidence that Lookout for Vision has in the accuracy of the classification in <code>IsAnomalous</code>.</p>"
          }
        },
        "Anomalies": {
          "target": "com.amazonaws.lookoutvision#AnomalyList",
          "traits": {
            "smithy.api#documentation": "<p>If the model is an image segmentation model, <code>Anomalies</code> contains a list of\n         anomaly types found in the image. There is one entry for each type of anomaly found (even\n         if multiple instances of an anomaly type exist on the image). The first element in the list\n         is always an anomaly type representing the image background ('background') and shouldn't be\n         considered an anomaly. Amazon Lookout for Vision automatically add the background anomaly type to the\n         response, and you don't need to declare a background anomaly type in your dataset.</p>\n         <p>If the list has one entry ('background'), no anomalies were found on the image.</p>\n         <p></p>\n         <p>An image classification model doesn't return an <code>Anomalies</code> list. </p>"
          }
        },
        "AnomalyMask": {
          "target": "com.amazonaws.lookoutvision#AnomalyMask",
          "traits": {
            "smithy.api#documentation": "<p>If the model is an image segmentation model, <code>AnomalyMask</code> contains pixel masks that covers all anomaly types found on the image.\n          \n      Each anomaly type has a different mask color. To map a color to an anomaly type, see the <code>color</code> field\n      of the <a>PixelAnomaly</a> object.</p>\n         <p>An image classification model doesn't return an <code>Anomalies</code> list. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The prediction results from a call to <a>DetectAnomalies</a>.\n      <code>DetectAnomalyResult</code> includes classification information for the prediction (<code>IsAnomalous</code> and <code>Confidence</code>).\n         If the model you use is an image segementation model, <code>DetectAnomalyResult</code> also includes segmentation information (<code>Anomalies</code>\n         and <code>AnomalyMask</code>). Classification information is calculated separately from segmentation information\n         and you shouldn't assume a relationship between them.</p>"
      }
    },
    "com.amazonaws.lookoutvision#ExceptionString": {
      "type": "string"
    },
    "com.amazonaws.lookoutvision#Float": {
      "type": "float"
    },
    "com.amazonaws.lookoutvision#GreengrassConfiguration": {
      "type": "structure",
      "members": {
        "CompilerOptions": {
          "target": "com.amazonaws.lookoutvision#CompilerOptions",
          "traits": {
            "smithy.api#documentation": "<p>Additional compiler options for the Greengrass component. Currently, \n   only NVIDIA Graphics Processing Units (GPU) and CPU accelerators are supported. \n   If you specify <code>TargetDevice</code>, don't specify <code>CompilerOptions</code>.</p> \n   \n   \n         <p>For more information, see \n      <i>Compiler options</i> in the  Amazon Lookout for Vision Developer Guide. </p>"
          }
        },
        "TargetDevice": {
          "target": "com.amazonaws.lookoutvision#TargetDevice",
          "traits": {
            "smithy.api#documentation": "<p>The target device for the model. Currently the only supported value is <code>jetson_xavier</code>.\n      If you specify <code>TargetDevice</code>, you can't specify\n      <code>TargetPlatform</code>.\n\n</p>"
          }
        },
        "TargetPlatform": {
          "target": "com.amazonaws.lookoutvision#TargetPlatform",
          "traits": {
            "smithy.api#documentation": "<p>The target platform for the model. If you specify <code>TargetPlatform</code>, you can't specify\n         <code>TargetDevice</code>. \n      </p>"
          }
        },
        "S3OutputLocation": {
          "target": "com.amazonaws.lookoutvision#S3Location",
          "traits": {
            "smithy.api#documentation": "<p>\n         An S3 location in which Lookout for Vision stores the component artifacts. \n      </p>",
            "smithy.api#required": {}
          }
        },
        "ComponentName": {
          "target": "com.amazonaws.lookoutvision#ComponentName",
          "traits": {
            "smithy.api#documentation": "<p>\n   A name for the AWS IoT Greengrass component. \n</p>",
            "smithy.api#required": {}
          }
        },
        "ComponentVersion": {
          "target": "com.amazonaws.lookoutvision#ComponentVersion",
          "traits": {
            "smithy.api#documentation": "<p>A Version for the AWS IoT Greengrass component. If you don't provide a\n      value, a default value of <code>\n               <i>Model Version</i>.0.0</code> is used.\n</p>"
          }
        },
        "ComponentDescription": {
          "target": "com.amazonaws.lookoutvision#ComponentDescription",
          "traits": {
            "smithy.api#documentation": "<p>\n   A description for the AWS IoT Greengrass component.\n</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutvision#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\n   A set of tags (key-value pairs) that you want to attach to the AWS IoT Greengrass component.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration information for the AWS IoT Greengrass component created in a model packaging job. \n   For more information, see <a>StartModelPackagingJob</a>.\n</p>\n         <note>\n            <p>You can't specify a component with the same <code>ComponentName</code> and <code>Componentversion</code> as\n      an existing component with the same component name and component version.</p>\n         </note>"
      }
    },
    "com.amazonaws.lookoutvision#GreengrassOutputDetails": {
      "type": "structure",
      "members": {
        "ComponentVersionArn": {
          "target": "com.amazonaws.lookoutvision#ComponentVersionArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe Amazon Resource Name (ARN) of the component.\n</p>"
          }
        },
        "ComponentName": {
          "target": "com.amazonaws.lookoutvision#ComponentName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the component.\n</p>"
          }
        },
        "ComponentVersion": {
          "target": "com.amazonaws.lookoutvision#ComponentVersion",
          "traits": {
            "smithy.api#documentation": "<p>\nThe version of the component.\n</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Information about the AWS IoT Greengrass component created by a model packaging job.\n\n</p>"
      }
    },
    "com.amazonaws.lookoutvision#ImageSource": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.lookoutvision#ImageSourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The source for an image.</p>"
      }
    },
    "com.amazonaws.lookoutvision#ImageSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^direct$"
      }
    },
    "com.amazonaws.lookoutvision#InferenceUnits": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lookoutvision#InputS3Object": {
      "type": "structure",
      "members": {
        "Bucket": {
          "target": "com.amazonaws.lookoutvision#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon S3 bucket that contains the manifest.</p>",
            "smithy.api#required": {}
          }
        },
        "Key": {
          "target": "com.amazonaws.lookoutvision#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The name and location of the manifest file withiin the bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "VersionId": {
          "target": "com.amazonaws.lookoutvision#S3ObjectVersion",
          "traits": {
            "smithy.api#documentation": "<p>The version ID of the bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon S3 Location information for an input manifest file. </p>"
      }
    },
    "com.amazonaws.lookoutvision#Integer": {
      "type": "integer"
    },
    "com.amazonaws.lookoutvision#InternalServerException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutvision#ExceptionString",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "RetryAfterSeconds": {
          "target": "com.amazonaws.lookoutvision#RetryAfterSeconds",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The period of time, in seconds, before the operation can be retried.</p>",
            "smithy.api#httpHeader": "Retry-After"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon Lookout for Vision experienced a service issue. Try your call again.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.lookoutvision#IsLabeled": {
      "type": "boolean"
    },
    "com.amazonaws.lookoutvision#KmsKeyId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,2048}$"
      }
    },
    "com.amazonaws.lookoutvision#ListDatasetEntries": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#ListDatasetEntriesRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#ListDatasetEntriesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the JSON Lines within a dataset. An Amazon Lookout for Vision JSON Line contains the anomaly\n      information for a single image, including the image location and the assigned label.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:ListDatasetEntries</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/datasets/{DatasetType}/entries",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "DatasetEntries",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutvision#ListDatasetEntriesRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the dataset that you want to list.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DatasetType": {
          "target": "com.amazonaws.lookoutvision#DatasetType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dataset that you want to list.  Specify <code>train</code> to list \n         the training dataset. Specify <code>test</code> to list the test dataset. If you have a single dataset\n      project, specify <code>train</code>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Labeled": {
          "target": "com.amazonaws.lookoutvision#IsLabeled",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>true</code> to include labeled entries, otherwise specify <code>false</code>. If you\n      don't specify a value, Lookout for Vision returns all entries.</p>",
            "smithy.api#httpQuery": "labeled"
          }
        },
        "AnomalyClass": {
          "target": "com.amazonaws.lookoutvision#AnomalyClassFilter",
          "traits": {
            "smithy.api#documentation": "<p>Specify <code>normal</code> to include only normal images. Specify <code>anomaly</code> to only include\n         anomalous entries. If you don't specify a value, Amazon Lookout for Vision returns normal and anomalous images.</p>",
            "smithy.api#httpQuery": "anomalyClass"
          }
        },
        "BeforeCreationDate": {
          "target": "com.amazonaws.lookoutvision#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Only includes entries before the specified date in the response. For example, <code>2020-06-23T00:00:00</code>.</p>",
            "smithy.api#httpQuery": "createdBefore"
          }
        },
        "AfterCreationDate": {
          "target": "com.amazonaws.lookoutvision#DateTime",
          "traits": {
            "smithy.api#documentation": "<p>Only includes entries after the specified date in the response. For example, <code>2020-06-23T00:00:00</code>.</p>",
            "smithy.api#httpQuery": "createdAfter"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more data to retrieve),\n         Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to\n         retrieve the next set of dataset entries.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutvision#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. \n         If you specify a value greater than 100, a ValidationException\n         error occurs. The default value is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "SourceRefContains": {
          "target": "com.amazonaws.lookoutvision#QueryString",
          "traits": {
            "smithy.api#documentation": "<p>Perform a \"contains\" search on the  values of the <code>source-ref</code> key within the dataset. \n         For example a value of \"IMG_17\"  returns all JSON Lines where the <code>source-ref</code> key value matches <i>*IMG_17*</i>.</p>",
            "smithy.api#httpQuery": "sourceRefContains"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListDatasetEntriesResponse": {
      "type": "structure",
      "members": {
        "DatasetEntries": {
          "target": "com.amazonaws.lookoutvision#DatasetEntryList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the entries (JSON Lines) within the dataset.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token\n         that you can use in the subsequent request to retrieve the next set ofdataset entries.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModelPackagingJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#ListModelPackagingJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#ListModelPackagingJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nLists the model packaging jobs created for an Amazon Lookout for Vision project.\n</p>\n         <p>This operation requires permissions to perform the\n    <code>lookoutvision:ListModelPackagingJobs</code> operation.\n</p>\n   \n         <p>For more information, see \n      <i>Using your Amazon Lookout for Vision model on an edge device</i> in the  Amazon Lookout for Vision Developer Guide. </p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/modelpackagingjobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "ModelPackagingJobs",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModelPackagingJobsRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the project for which you want to list the model packaging jobs.\n</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n      results to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination \n      token to retrieve the next set of results. </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutvision#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. \n      If you specify a value greater than 100, a ValidationException\n      error occurs. The default value is 100. </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModelPackagingJobsResponse": {
      "type": "structure",
      "members": {
        "ModelPackagingJobs": {
          "target": "com.amazonaws.lookoutvision#ModelPackagingJobsList",
          "traits": {
            "smithy.api#documentation": "<p>\nA list of the model packaging jobs created for the specified Amazon Lookout for Vision project.\n</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more\n   results to retrieve), Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination \n   token to retrieve the next set of results.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#ListModelsRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#ListModelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the versions of a model in an Amazon Lookout for Vision project.</p>\n         <p>The <code>ListModels</code> operation is eventually consistent.  \n         Recent calls to <code>CreateModel</code> might\n         take a while to appear in the response from <code>ListProjects</code>.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:ListModels</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects/{ProjectName}/models",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Models",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModelsRequest": {
      "type": "structure",
      "members": {
        "ProjectName": {
          "target": "com.amazonaws.lookoutvision#ProjectName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the project that contains the model versions that you want to list.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more data to retrieve),\n         Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to\n         retrieve the next set of models.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutvision#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. \n         If you specify a value greater than 100, a ValidationException\n         error occurs. The default value is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListModelsResponse": {
      "type": "structure",
      "members": {
        "Models": {
          "target": "com.amazonaws.lookoutvision#ModelMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>A list of model versions in the specified project. </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token\n         that you can use in the subsequent request to retrieve the next set of models. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListProjects": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#ListProjectsRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#ListProjectsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the Amazon Lookout for Vision projects in your AWS account that are in the AWS Region in \n      which you call <code>ListProjects</code>.</p>\n         <p>The <code>ListProjects</code> operation is eventually consistent.  \n         Recent calls to <code>CreateProject</code> and <code>DeleteProject</code> might\n         take a while to appear in the response from <code>ListProjects</code>.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:ListProjects</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/projects",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Projects",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutvision#ListProjectsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the previous response was incomplete (because there is more data to retrieve),\n         Amazon Lookout for Vision returns a pagination token in the response. You can use this pagination token to\n         retrieve the next set of projects.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutvision#PageSize",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return per paginated call. The largest value you can specify is 100. \n         If you specify a value greater than 100, a ValidationException\n         error occurs. The default value is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListProjectsResponse": {
      "type": "structure",
      "members": {
        "Projects": {
          "target": "com.amazonaws.lookoutvision#ProjectMetadataList",
          "traits": {
            "smithy.api#documentation": "<p>A list of projects in your AWS account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutvision#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>If the response is truncated, Amazon Lookout for Vision returns this token\n         that you can use in the subsequent request to retrieve the next set of projects.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutvision#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutvision#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutvision#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutvision#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutvision#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags attached to the specified Amazon Lookout for Vision model.</p>\n         <p>This operation requires permissions to perform the\n         <code>lookoutvision:ListTagsForResource</code> operation.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/2020-11-20/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutvision#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.lookoutvision#TagArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model for which you want to list tags. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.lookoutvision#TagList",
          "traits": {
            "smithy.api#documentation": "<p>A map of tag keys and values attached to the specified model.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutvision#LookoutVisionService": {
      "type": "service",
      "version": "2020-11-20",
      "operations": [
        {
          "target": "com.amazonaws.lookoutvision#CreateDataset"
        },
        {
          "target": "com.amazonaws.lookoutvision#CreateModel"
        },
        {
          "target": "com.amazonaws.lookoutvision#CreateProject"
        },
        {
          "target": "com.amazonaws.lookoutvision#DeleteDataset"
        },
        {
          "target": "com.amazonaws.lookoutvision#DeleteModel"
        },
        {
          "target": "com.amazonaws.lookoutvision#DeleteProject"
        },
        {
          "target": "com.amazonaws.lookoutvision#DescribeDataset"
        },
        {
          "target": "com.amazonaws.lookoutvision#DescribeModel"
        },
        {
          "target": "com.amazonaws.lookoutvision#DescribeModelPackagingJob"
        },
        {
          "target": "com.amazonaws.lookoutvision#DescribeProject"
        },
        {
          "target": "com.amazonaws.lookoutvision#DetectAnomalies"
        },
        {
          "target": "com.amazonaws.lookoutvision#ListDatasetEntries"
        },
        {
          "target": "com.amazonaws.lookoutvision#ListModelPackagingJobs"
        },
        {
          "target": "com.amazonaws.lookoutvision#ListModels"
        },
        {
          "target": "com.amazonaws.lookoutvision#ListProjects"
        },
        {
          "target": "com.amazonaws.lookoutvision#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.lookoutvision#StartModel"
        },
        {
          "target": "com.amazonaws.lookoutvision#StartModelPackagingJob"
        },
        {
          "target": "com.amazonaws.lookoutvision#StopModel"
        },
        {
          "target": "com.amazonaws.lookoutvision#TagResource"
        },
        {
          "target": "com.amazonaws.lookoutvision#UntagResource"
        },
        {
          "target": "com.amazonaws.lookoutvision#UpdateDatasetEntries"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "LookoutVision",
          "arnNamespace": "lookoutvision",
          "cloudFormationName": "LookoutVision",
          "cloudTrailEventSource": "lookoutvision.amazonaws.com",
          "endpointPrefix": "lookoutvision"
        },
        "aws.auth#sigv4": {
          "name": "lookoutvision"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>This is the Amazon Lookout for Vision API Reference. It provides descriptions of actions, \n      data types, common parameters, and common errors.</p>\n         <p>Amazon Lookout for Vision enables you to find visual defects in industrial products,\n         accurately and at scale. It uses computer vision to identify missing components in an industrial product,\n         damage to vehicles or structures, irregularities in production lines, and even minuscule defects in\n         silicon wafers — or any other physical item where quality is important such as a missing capacitor\n         on printed circuit boards.</p>",
        "smithy.api#title": "Amazon Lookout for Vision",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://lookoutvision-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lookoutvision-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://lookoutvision.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://lookoutvision.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutvision-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutvision-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-central-1"
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
[...]
