{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lookoutmetrics#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutmetrics#Message",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient permissions to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lookoutmetrics#Action": {
      "type": "structure",
      "members": {
        "SNSConfiguration": {
          "target": "com.amazonaws.lookoutmetrics#SNSConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for an Amazon SNS channel.</p>"
          }
        },
        "LambdaConfiguration": {
          "target": "com.amazonaws.lookoutmetrics#LambdaConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>A configuration for an AWS Lambda channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration that specifies the action to perform when anomalies are detected.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#ActivateAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#ActivateAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#ActivateAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Activates an anomaly detector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/ActivateAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#ActivateAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#ActivateAnomalyDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutmetrics#AggregationFunction": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AVG",
            "name": "AVG"
          },
          {
            "value": "SUM",
            "name": "SUM"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#Alert": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.lookoutmetrics#Action",
          "traits": {
            "smithy.api#documentation": "<p>Action that will be triggered when there is an alert.</p>"
          }
        },
        "AlertDescription": {
          "target": "com.amazonaws.lookoutmetrics#AlertDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alert.</p>"
          }
        },
        "AlertArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the alert.</p>"
          }
        },
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector to which the alert is attached.</p>"
          }
        },
        "AlertName": {
          "target": "com.amazonaws.lookoutmetrics#AlertName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alert.</p>"
          }
        },
        "AlertSensitivityThreshold": {
          "target": "com.amazonaws.lookoutmetrics#SensitivityThreshold",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum severity for an anomaly to trigger the alert.</p>"
          }
        },
        "AlertType": {
          "target": "com.amazonaws.lookoutmetrics#AlertType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the alert.</p>"
          }
        },
        "AlertStatus": {
          "target": "com.amazonaws.lookoutmetrics#AlertStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the alert.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alert was last modified.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alert was created.</p>"
          }
        },
        "AlertFilters": {
          "target": "com.amazonaws.lookoutmetrics#AlertFilters",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the alert filters, containing MetricList and DimensionFilter.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration for Amazon SNS-integrated notifications.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertFilters": {
      "type": "structure",
      "members": {
        "MetricList": {
          "target": "com.amazonaws.lookoutmetrics#MetricNameList",
          "traits": {
            "smithy.api#documentation": "<p>The list of measures that you want to get alerts for.</p>"
          }
        },
        "DimensionFilterList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The list of DimensionFilter objects that are used for dimension-based filtering.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the alert filters.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#AlertSummary": {
      "type": "structure",
      "members": {
        "AlertArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the alert.</p>"
          }
        },
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector to which the alert is attached.</p>"
          }
        },
        "AlertName": {
          "target": "com.amazonaws.lookoutmetrics#AlertName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alert.</p>"
          }
        },
        "AlertSensitivityThreshold": {
          "target": "com.amazonaws.lookoutmetrics#SensitivityThreshold",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The minimum severity for an anomaly to trigger the alert.</p>"
          }
        },
        "AlertType": {
          "target": "com.amazonaws.lookoutmetrics#AlertType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the alert.</p>"
          }
        },
        "AlertStatus": {
          "target": "com.amazonaws.lookoutmetrics#AlertStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the alert.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alert was last modified.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the alert was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutmetrics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The alert's <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides a summary of an alert's configuration.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#AlertSummary"
      }
    },
    "com.amazonaws.lookoutmetrics#AlertType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SNS",
            "name": "SNS"
          },
          {
            "value": "LAMBDA",
            "name": "LAMBDA"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectionTaskStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "COMPLETED",
            "name": "COMPLETED"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "FAILED_TO_SCHEDULE",
            "name": "FAILED_TO_SCHEDULE"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectionTaskStatusMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorConfig": {
      "type": "structure",
      "members": {
        "AnomalyDetectorFrequency": {
          "target": "com.amazonaws.lookoutmetrics#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency at which the detector analyzes its source data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a detector's configuration.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorConfigSummary": {
      "type": "structure",
      "members": {
        "AnomalyDetectorFrequency": {
          "target": "com.amazonaws.lookoutmetrics#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The interval at which the detector analyzes its source data.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a detector's configuration.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorDataQualityMetric": {
      "type": "structure",
      "members": {
        "StartTimestamp": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the data quality metrics collection.</p>"
          }
        },
        "MetricSetDataQualityMetricList": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetDataQualityMetricList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>DataQualityMetricList</code> objects. Each object in the array contains information about a data quality metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Aggregated details about the data quality metrics collected for the <code>AnomalyDetectorArn</code> provided in the <a>GetDataQualityMetrics</a> object.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorDataQualityMetricList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorDataQualityMetric"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorFailureType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVATION_FAILURE",
            "name": "ACTIVATION_FAILURE"
          },
          {
            "value": "BACK_TEST_ACTIVATION_FAILURE",
            "name": "BACK_TEST_ACTIVATION_FAILURE"
          },
          {
            "value": "DELETION_FAILURE",
            "name": "DELETION_FAILURE"
          },
          {
            "value": "DEACTIVATION_FAILURE",
            "name": "DEACTIVATION_FAILURE"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "ACTIVATING",
            "name": "ACTIVATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "FAILED",
            "name": "FAILED"
          },
          {
            "value": "INACTIVE",
            "name": "INACTIVE"
          },
          {
            "value": "LEARNING",
            "name": "LEARNING"
          },
          {
            "value": "BACK_TEST_ACTIVATING",
            "name": "BACK_TEST_ACTIVATING"
          },
          {
            "value": "BACK_TEST_ACTIVE",
            "name": "BACK_TEST_ACTIVE"
          },
          {
            "value": "BACK_TEST_COMPLETE",
            "name": "BACK_TEST_COMPLETE"
          },
          {
            "value": "DEACTIVATED",
            "name": "DEACTIVATED"
          },
          {
            "value": "DEACTIVATING",
            "name": "DEACTIVATING"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorSummary": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector.</p>"
          }
        },
        "AnomalyDetectorName": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>"
          }
        },
        "AnomalyDetectorDescription": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the detector.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the detector was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the detector was last modified.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of detector.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutmetrics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The detector's <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about an an anomaly detector.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyDetectorSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorSummary"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroup": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the group.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the group.</p>"
          }
        },
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>"
          }
        },
        "AnomalyGroupScore": {
          "target": "com.amazonaws.lookoutmetrics#Score",
          "traits": {
            "smithy.api#documentation": "<p>The severity score of the group.</p>"
          }
        },
        "PrimaryMetricName": {
          "target": "com.amazonaws.lookoutmetrics#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the primary affected measure for the group.</p>"
          }
        },
        "MetricLevelImpactList": {
          "target": "com.amazonaws.lookoutmetrics#MetricLevelImpactList",
          "traits": {
            "smithy.api#documentation": "<p>A list of measures affected by the anomaly.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A group of anomalous metrics</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroupStatistics": {
      "type": "structure",
      "members": {
        "EvaluationStartDate": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The start of the time range that was searched.</p>"
          }
        },
        "TotalCount": {
          "target": "com.amazonaws.lookoutmetrics#Integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>The number of groups found.</p>"
          }
        },
        "ItemizedMetricStatsList": {
          "target": "com.amazonaws.lookoutmetrics#ItemizedMetricStatsList",
          "traits": {
            "smithy.api#documentation": "<p>Statistics for individual metrics within the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Aggregated statistics for a group of anomalous metrics.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroupSummary": {
      "type": "structure",
      "members": {
        "StartTime": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The start time for the group.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The end time for the group.</p>"
          }
        },
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>"
          }
        },
        "AnomalyGroupScore": {
          "target": "com.amazonaws.lookoutmetrics#Score",
          "traits": {
            "smithy.api#documentation": "<p>The severity score of the group.</p>"
          }
        },
        "PrimaryMetricName": {
          "target": "com.amazonaws.lookoutmetrics#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the primary affected measure for the group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a group of anomalous metrics.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroupSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#AnomalyGroupSummary"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroupTimeSeries": {
      "type": "structure",
      "members": {
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeSeriesId": {
          "target": "com.amazonaws.lookoutmetrics#TimeSeriesId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An anomalous metric in an anomaly group.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AnomalyGroupTimeSeriesFeedback": {
      "type": "structure",
      "members": {
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>",
            "smithy.api#required": {}
          }
        },
        "TimeSeriesId": {
          "target": "com.amazonaws.lookoutmetrics#TimeSeriesId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the metric.</p>",
            "smithy.api#required": {}
          }
        },
        "IsAnomaly": {
          "target": "com.amazonaws.lookoutmetrics#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Feedback on whether the metric is a legitimate anomaly.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Feedback for an anomalous metric.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AppFlowConfig": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role that gives Amazon Lookout for Metrics permission to access the flow.</p>"
          }
        },
        "FlowName": {
          "target": "com.amazonaws.lookoutmetrics#FlowName",
          "traits": {
            "smithy.api#documentation": "<p> name of the flow.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon AppFlow flow datasource.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#Arn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^arn:([a-z\\d-]+):.*:.*:.*:.+$"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaDataCatalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "^[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*$"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaDatabaseName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_]+$"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaS3ResultsPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^s3://[a-z0-9].+$"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaSourceConfig": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role that gives Amazon Lookout for Metrics permission to access the data.</p>"
          }
        },
        "DatabaseName": {
          "target": "com.amazonaws.lookoutmetrics#AthenaDatabaseName",
          "traits": {
            "smithy.api#documentation": "<p>The database's name.</p>"
          }
        },
        "DataCatalog": {
          "target": "com.amazonaws.lookoutmetrics#AthenaDataCatalog",
          "traits": {
            "smithy.api#documentation": "<p>The database's data catalog.</p>"
          }
        },
        "TableName": {
          "target": "com.amazonaws.lookoutmetrics#AthenaTableName",
          "traits": {
            "smithy.api#documentation": "<p>The database's table name.</p>"
          }
        },
        "WorkGroupName": {
          "target": "com.amazonaws.lookoutmetrics#AthenaWorkGroupName",
          "traits": {
            "smithy.api#documentation": "<p>The database's work group name.</p>"
          }
        },
        "S3ResultsPath": {
          "target": "com.amazonaws.lookoutmetrics#AthenaS3ResultsPath",
          "traits": {
            "smithy.api#documentation": "<p>The database's results path.</p>"
          }
        },
        "BackTestConfiguration": {
          "target": "com.amazonaws.lookoutmetrics#BackTestConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Settings for backtest mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon Athena datasource.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaTableName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9_]+$"
      }
    },
    "com.amazonaws.lookoutmetrics#AthenaWorkGroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "^[a-zA-Z0-9._-]{1,128}$"
      }
    },
    "com.amazonaws.lookoutmetrics#AttributeValue": {
      "type": "structure",
      "members": {
        "S": {
          "target": "com.amazonaws.lookoutmetrics#StringAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A string.</p>"
          }
        },
        "N": {
          "target": "com.amazonaws.lookoutmetrics#NumberAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A number.</p>"
          }
        },
        "B": {
          "target": "com.amazonaws.lookoutmetrics#BinaryAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A binary value.</p>"
          }
        },
        "SS": {
          "target": "com.amazonaws.lookoutmetrics#StringListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of strings.</p>"
          }
        },
        "NS": {
          "target": "com.amazonaws.lookoutmetrics#NumberListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of numbers.</p>"
          }
        },
        "BS": {
          "target": "com.amazonaws.lookoutmetrics#BinaryListAttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>A list of binary values.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An attribute value.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AutoDetectionMetricSource": {
      "type": "structure",
      "members": {
        "S3SourceConfig": {
          "target": "com.amazonaws.lookoutmetrics#AutoDetectionS3SourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>The source's source config.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An auto detection metric source.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#AutoDetectionS3SourceConfig": {
      "type": "structure",
      "members": {
        "TemplatedPathList": {
          "target": "com.amazonaws.lookoutmetrics#TemplatedPathList",
          "traits": {
            "smithy.api#documentation": "<p>The config's templated path list.</p>"
          }
        },
        "HistoricalDataPathList": {
          "target": "com.amazonaws.lookoutmetrics#HistoricalDataPathList",
          "traits": {
            "smithy.api#documentation": "<p>The config's historical data path list.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An auto detection source config.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#BackTestAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#BackTestAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#BackTestAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Runs a backtest for anomaly detection for the specified resource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BackTestAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#BackTestAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#BackTestAnomalyDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutmetrics#BackTestConfiguration": {
      "type": "structure",
      "members": {
        "RunBackTestMode": {
          "target": "com.amazonaws.lookoutmetrics#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Run a backtest instead of monitoring new data.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Settings for backtest mode.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#BinaryAttributeValue": {
      "type": "string"
    },
    "com.amazonaws.lookoutmetrics#BinaryListAttributeValue": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#BinaryAttributeValue"
      }
    },
    "com.amazonaws.lookoutmetrics#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.lookoutmetrics#CSVFileCompression": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "GZIP",
            "name": "GZIP"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#Charset": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
      }
    },
    "com.amazonaws.lookoutmetrics#CloudWatchConfig": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An IAM role that gives Amazon Lookout for Metrics permission to access data in Amazon CloudWatch.</p>"
          }
        },
        "BackTestConfiguration": {
          "target": "com.amazonaws.lookoutmetrics#BackTestConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Settings for backtest mode.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about an Amazon CloudWatch datasource.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#ColumnName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 63
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][a-zA-Z0-9\\-_]*$"
      }
    },
    "com.amazonaws.lookoutmetrics#Confidence": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HIGH",
            "name": "HIGH"
          },
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutmetrics#Message",
          "traits": {
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.lookoutmetrics#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the resource.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.lookoutmetrics#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>There was a conflict processing the request. Try your request again.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lookoutmetrics#ContributionMatrix": {
      "type": "structure",
      "members": {
        "DimensionContributionList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionContributionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of contributing dimensions.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about dimensions that contributed to an anomaly.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAlert": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#CreateAlertRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#CreateAlertResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an alert for an anomaly detector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateAlert",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAlertRequest": {
      "type": "structure",
      "members": {
        "AlertName": {
          "target": "com.amazonaws.lookoutmetrics#AlertName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the alert.</p>",
            "smithy.api#required": {}
          }
        },
        "AlertSensitivityThreshold": {
          "target": "com.amazonaws.lookoutmetrics#SensitivityThreshold",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p>An integer from 0 to 100 specifying the alert sensitivity threshold.</p>"
          }
        },
        "AlertDescription": {
          "target": "com.amazonaws.lookoutmetrics#AlertDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the alert.</p>"
          }
        },
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector to which the alert is attached.</p>",
            "smithy.api#required": {}
          }
        },
        "Action": {
          "target": "com.amazonaws.lookoutmetrics#Action",
          "traits": {
            "smithy.api#documentation": "<p>Action that will be triggered when there is an alert.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutmetrics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> to apply to the alert.</p>"
          }
        },
        "AlertFilters": {
          "target": "com.amazonaws.lookoutmetrics#AlertFilters",
          "traits": {
            "smithy.api#documentation": "<p>The configuration of the alert filters, containing MetricList and DimensionFilterList.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAlertResponse": {
      "type": "structure",
      "members": {
        "AlertArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the alert.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#CreateAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#CreateAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an anomaly detector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorName": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyDetectorDescription": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the detector.</p>"
          }
        },
        "AnomalyDetectorConfig": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorConfig",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the configuration of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.lookoutmetrics#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key to use to encrypt your data.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutmetrics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> to apply to the anomaly detector.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateAnomalyDetectorResponse": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateMetricSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#CreateMetricSetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#CreateMetricSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a dataset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/CreateMetricSet",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateMetricSetRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the anomaly detector that will use the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricSetName": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricSetDescription": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the dataset you are creating.</p>"
          }
        },
        "MetricList": {
          "target": "com.amazonaws.lookoutmetrics#MetricList",
          "traits": {
            "smithy.api#documentation": "<p>A list of metrics that the dataset will contain.</p>",
            "smithy.api#required": {}
          }
        },
        "Offset": {
          "target": "com.amazonaws.lookoutmetrics#Offset",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>After an interval ends, the amount of seconds that the detector waits before importing data. Offset is only supported for S3, Redshift, Athena and datasources.</p>"
          }
        },
        "TimestampColumn": {
          "target": "com.amazonaws.lookoutmetrics#TimestampColumn",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the column used for tracking time in your source data.</p>"
          }
        },
        "DimensionList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the fields you want to treat as dimensions.</p>"
          }
        },
        "MetricSetFrequency": {
          "target": "com.amazonaws.lookoutmetrics#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The frequency with which the source data will be analyzed for anomalies.</p>"
          }
        },
        "MetricSource": {
          "target": "com.amazonaws.lookoutmetrics#MetricSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about how the source data should be interpreted.</p>",
            "smithy.api#required": {}
          }
        },
        "Timezone": {
          "target": "com.amazonaws.lookoutmetrics#Timezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone in which your source data was recorded.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutmetrics#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lookoutmetrics/latest/dev/detectors-tags.html\">tags</a> to apply to the dataset.</p>"
          }
        },
        "DimensionFilterList": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetDimensionFilterList",
          "traits": {
            "smithy.api#documentation": "<p>A list of filters that specify which data is kept for anomaly detection.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CreateMetricSetResponse": {
      "type": "structure",
      "members": {
        "MetricSetArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#CsvFormatDescriptor": {
      "type": "structure",
      "members": {
        "FileCompression": {
          "target": "com.amazonaws.lookoutmetrics#CSVFileCompression",
          "traits": {
            "smithy.api#documentation": "<p>The level of compression of the source CSV file.</p>"
          }
        },
        "Charset": {
          "target": "com.amazonaws.lookoutmetrics#Charset",
          "traits": {
            "smithy.api#documentation": "<p>The character set in which the source CSV file is written.</p>"
          }
        },
        "ContainsHeader": {
          "target": "com.amazonaws.lookoutmetrics#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Whether or not the source CSV file contains a header.</p>"
          }
        },
        "Delimiter": {
          "target": "com.amazonaws.lookoutmetrics#Delimiter",
          "traits": {
            "smithy.api#documentation": "<p>The character used to delimit the source CSV file.</p>"
          }
        },
        "HeaderList": {
          "target": "com.amazonaws.lookoutmetrics#HeaderList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the source CSV file's headers, if any.</p>"
          }
        },
        "QuoteSymbol": {
          "target": "com.amazonaws.lookoutmetrics#QuoteSymbol",
          "traits": {
            "smithy.api#documentation": "<p>The character used as a quote character.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about how a source CSV data file should be analyzed.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DataItem": {
      "type": "string"
    },
    "com.amazonaws.lookoutmetrics#DataQualityMetric": {
      "type": "structure",
      "members": {
        "MetricType": {
          "target": "com.amazonaws.lookoutmetrics#DataQualityMetricType",
          "traits": {
            "smithy.api#documentation": "<p>The name of the data quality metric.</p>"
          }
        },
        "MetricDescription": {
          "target": "com.amazonaws.lookoutmetrics#DataQualityMetricDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the data quality metric.</p>"
          }
        },
        "RelatedColumnName": {
          "target": "com.amazonaws.lookoutmetrics#RelatedColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The column that is being monitored.</p>"
          }
        },
        "MetricValue": {
          "target": "com.amazonaws.lookoutmetrics#Double",
          "traits": {
            "smithy.api#documentation": "<p>The value of the data quality metric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An array that describes a data quality metric. Each <code>DataQualityMetric</code> object contains the data quality metric name, its value, a description of the metric, and the affected column.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DataQualityMetricDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#DataQualityMetricList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DataQualityMetric"
      }
    },
    "com.amazonaws.lookoutmetrics#DataQualityMetricType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "COLUMN_COMPLETENESS",
            "name": "COLUMN_COMPLETENESS"
          },
          {
            "value": "DIMENSION_UNIQUENESS",
            "name": "DIMENSION_UNIQUENESS"
          },
          {
            "value": "TIME_SERIES_COUNT",
            "name": "TIME_SERIES_COUNT"
          },
          {
            "value": "ROWS_PROCESSED",
            "name": "ROWS_PROCESSED"
          },
          {
            "value": "ROWS_PARTIAL_COMPLIANCE",
            "name": "ROWS_PARTIAL_COMPLIANCE"
          },
          {
            "value": "INVALID_ROWS_COMPLIANCE",
            "name": "INVALID_ROWS_COMPLIANCE"
          },
          {
            "value": "BACKTEST_TRAINING_DATA_START_TIME_STAMP",
            "name": "BACKTEST_TRAINING_DATA_START_TIME_STAMP"
          },
          {
            "value": "BACKTEST_TRAINING_DATA_END_TIME_STAMP",
            "name": "BACKTEST_TRAINING_DATA_END_TIME_STAMP"
          },
          {
            "value": "BACKTEST_INFERENCE_DATA_START_TIME_STAMP",
            "name": "BACKTEST_INFERENCE_DATA_START_TIME_STAMP"
          },
          {
            "value": "BACKTEST_INFERENCE_DATA_END_TIME_STAMP",
            "name": "BACKTEST_INFERENCE_DATA_END_TIME_STAMP"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#DatabaseHost": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 253
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#DatabasePort": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0,
        "smithy.api#range": {
          "min": 1,
          "max": 65535
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DateTimeFormat": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 63
        },
        "smithy.api#pattern": "\\S"
      }
    },
    "com.amazonaws.lookoutmetrics#DeactivateAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DeactivateAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DeactivateAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deactivates an anomaly detector.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeactivateAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeactivateAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeactivateAnomalyDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutmetrics#DeleteAlert": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DeleteAlertRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DeleteAlertResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an alert.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteAlert",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeleteAlertRequest": {
      "type": "structure",
      "members": {
        "AlertArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the alert to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeleteAlertResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutmetrics#DeleteAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DeleteAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DeleteAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a detector. Deleting an anomaly detector will delete all of its corresponding resources including any\n      configured datasets and alerts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DeleteAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeleteAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DeleteAnomalyDetectorResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.lookoutmetrics#Delimiter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        },
        "smithy.api#pattern": "^[^\\r\\n]$"
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAlert": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAlertRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAlertResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes an alert.</p>\n         <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource\n      immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeAlert",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAlertRequest": {
      "type": "structure",
      "members": {
        "AlertArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the alert to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAlertResponse": {
      "type": "structure",
      "members": {
        "Alert": {
          "target": "com.amazonaws.lookoutmetrics#Alert",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about an alert.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectionExecutions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectionExecutionsRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectionExecutionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the status of the specified anomaly detection jobs.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeAnomalyDetectionExecutions",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectionExecutionsRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of the anomaly detection job.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutmetrics#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The number of items to return in the response.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutmetrics#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token that's returned by a previous request to retrieve the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectionExecutionsResponse": {
      "type": "structure",
      "members": {
        "ExecutionList": {
          "target": "com.amazonaws.lookoutmetrics#ExecutionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of detection jobs.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutmetrics#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that's included if more results are available.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetector": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectorRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectorResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a detector.</p>\n         <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource\n      immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeAnomalyDetector",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectorRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector to describe.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeAnomalyDetectorResponse": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector.</p>"
          }
        },
        "AnomalyDetectorName": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the detector.</p>"
          }
        },
        "AnomalyDetectorDescription": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorDescription",
          "traits": {
            "smithy.api#documentation": "<p>A description of the detector.</p>"
          }
        },
        "AnomalyDetectorConfig": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorConfigSummary",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the detector's configuration.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the detector was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the detector was last modified.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the detector.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.lookoutmetrics#ErrorMessage",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the detector failed.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.lookoutmetrics#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the KMS key to use to encrypt your data.</p>"
          }
        },
        "FailureType": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorFailureType",
          "traits": {
            "smithy.api#documentation": "<p>The process that caused the detector to fail.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeMetricSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DescribeMetricSetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DescribeMetricSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes a dataset.</p>\n         <p>Amazon Lookout for Metrics API actions are eventually consistent. If you do a read operation on a resource\n      immediately after creating or modifying it, use retries to allow time for the write operation to complete.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DescribeMetricSet",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeMetricSetRequest": {
      "type": "structure",
      "members": {
        "MetricSetArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DescribeMetricSetResponse": {
      "type": "structure",
      "members": {
        "MetricSetArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the dataset.</p>"
          }
        },
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the detector that contains the dataset.</p>"
          }
        },
        "MetricSetName": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset.</p>"
          }
        },
        "MetricSetDescription": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>The dataset's description.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the dataset was created.</p>"
          }
        },
        "LastModificationTime": {
          "target": "com.amazonaws.lookoutmetrics#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the dataset was last modified.</p>"
          }
        },
        "Offset": {
          "target": "com.amazonaws.lookoutmetrics#Offset",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>After an interval ends, the amount of seconds that the detector waits before importing data. Offset is only supported for S3, Redshift, Athena and datasources.</p>"
          }
        },
        "MetricList": {
          "target": "com.amazonaws.lookoutmetrics#MetricList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the metrics defined by the dataset.</p>"
          }
        },
        "TimestampColumn": {
          "target": "com.amazonaws.lookoutmetrics#TimestampColumn",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the column used for tracking time in your source data.</p>"
          }
        },
        "DimensionList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the dimensions chosen for analysis.</p>"
          }
        },
        "MetricSetFrequency": {
          "target": "com.amazonaws.lookoutmetrics#Frequency",
          "traits": {
            "smithy.api#documentation": "<p>The interval at which the data will be analyzed for anomalies.</p>"
          }
        },
        "Timezone": {
          "target": "com.amazonaws.lookoutmetrics#Timezone",
          "traits": {
            "smithy.api#documentation": "<p>The time zone in which the dataset's data was recorded.</p>"
          }
        },
        "MetricSource": {
          "target": "com.amazonaws.lookoutmetrics#MetricSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the dataset's source data.</p>"
          }
        },
        "DimensionFilterList": {
          "target": "com.amazonaws.lookoutmetrics#MetricSetDimensionFilterList",
          "traits": {
            "smithy.api#documentation": "<p>The dimensions and their values that were used to filter the dataset.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DetectMetricSetConfig": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#DetectMetricSetConfigRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#DetectMetricSetConfigResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Detects an Amazon S3 dataset's file format, interval, and offset.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/DetectMetricSetConfig",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DetectMetricSetConfigRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>An anomaly detector ARN.</p>",
            "smithy.api#required": {}
          }
        },
        "AutoDetectionMetricSource": {
          "target": "com.amazonaws.lookoutmetrics#AutoDetectionMetricSource",
          "traits": {
            "smithy.api#documentation": "<p>A data source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DetectMetricSetConfigResponse": {
      "type": "structure",
      "members": {
        "DetectedMetricSetConfig": {
          "target": "com.amazonaws.lookoutmetrics#DetectedMetricSetConfig",
          "traits": {
            "smithy.api#documentation": "<p>The inferred dataset configuration for the datasource.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedCsvFormatDescriptor": {
      "type": "structure",
      "members": {
        "FileCompression": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's file compression.</p>"
          }
        },
        "Charset": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's charset.</p>"
          }
        },
        "ContainsHeader": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>Whether the format includes a header.</p>"
          }
        },
        "Delimiter": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's delimiter.</p>"
          }
        },
        "HeaderList": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's header list.</p>"
          }
        },
        "QuoteSymbol": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's quote symbol.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties of an inferred CSV format.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedField": {
      "type": "structure",
      "members": {
        "Value": {
          "target": "com.amazonaws.lookoutmetrics#AttributeValue",
          "traits": {
            "smithy.api#documentation": "<p>The field's value.</p>"
          }
        },
        "Confidence": {
          "target": "com.amazonaws.lookoutmetrics#Confidence",
          "traits": {
            "smithy.api#documentation": "<p>The field's confidence.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.lookoutmetrics#Message",
          "traits": {
            "smithy.api#documentation": "<p>The field's message.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An inferred field.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedFileFormatDescriptor": {
      "type": "structure",
      "members": {
        "CsvFormatDescriptor": {
          "target": "com.amazonaws.lookoutmetrics#DetectedCsvFormatDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>Details about a CSV format.</p>"
          }
        },
        "JsonFormatDescriptor": {
          "target": "com.amazonaws.lookoutmetrics#DetectedJsonFormatDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>Details about a JSON format.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties of an inferred data format.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedJsonFormatDescriptor": {
      "type": "structure",
      "members": {
        "FileCompression": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's file compression.</p>"
          }
        },
        "Charset": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The format's character set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A detected JSON format descriptor.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedMetricSetConfig": {
      "type": "structure",
      "members": {
        "Offset": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The dataset's offset.</p>"
          }
        },
        "MetricSetFrequency": {
          "target": "com.amazonaws.lookoutmetrics#DetectedField",
          "traits": {
            "smithy.api#documentation": "<p>The dataset's interval.</p>"
          }
        },
        "MetricSource": {
          "target": "com.amazonaws.lookoutmetrics#DetectedMetricSource",
          "traits": {
            "smithy.api#documentation": "<p>The dataset's data source.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An inferred dataset configuration.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedMetricSource": {
      "type": "structure",
      "members": {
        "S3SourceConfig": {
          "target": "com.amazonaws.lookoutmetrics#DetectedS3SourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>The data source's source configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An inferred data source.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DetectedS3SourceConfig": {
      "type": "structure",
      "members": {
        "FileFormatDescriptor": {
          "target": "com.amazonaws.lookoutmetrics#DetectedFileFormatDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>The source's file format descriptor.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An inferred source configuration.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionContribution": {
      "type": "structure",
      "members": {
        "DimensionName": {
          "target": "com.amazonaws.lookoutmetrics#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension.</p>"
          }
        },
        "DimensionValueContributionList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionValueContributionList",
          "traits": {
            "smithy.api#documentation": "<p>A list of dimension values that contributed to the anomaly.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about a dimension that contributed to an anomaly.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionContributionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DimensionContribution"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionFilter": {
      "type": "structure",
      "members": {
        "DimensionName": {
          "target": "com.amazonaws.lookoutmetrics#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension to filter on.</p>"
          }
        },
        "DimensionValueList": {
          "target": "com.amazonaws.lookoutmetrics#DimensionValueList",
          "traits": {
            "smithy.api#documentation": "<p>The list of values for the dimension specified in DimensionName that you want to filter on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The dimension filter, containing DimensionName and DimensionValueList.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionFilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DimensionFilter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#ColumnName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionNameValue": {
      "type": "structure",
      "members": {
        "DimensionName": {
          "target": "com.amazonaws.lookoutmetrics#ColumnName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dimension.</p>",
            "smithy.api#required": {}
          }
        },
        "DimensionValue": {
          "target": "com.amazonaws.lookoutmetrics#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A dimension name and value.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionNameValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DimensionNameValue"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionValue": {
      "type": "string"
    },
    "com.amazonaws.lookoutmetrics#DimensionValueContribution": {
      "type": "structure",
      "members": {
        "DimensionValue": {
          "target": "com.amazonaws.lookoutmetrics#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value of the dimension.</p>"
          }
        },
        "ContributionScore": {
          "target": "com.amazonaws.lookoutmetrics#Score",
          "traits": {
            "smithy.api#documentation": "<p>The severity score of the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The severity of a value of a dimension that contributed to an anomaly.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionValueContributionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DimensionValueContribution"
      }
    },
    "com.amazonaws.lookoutmetrics#DimensionValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#DimensionValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.lookoutmetrics#Double": {
      "type": "double"
    },
    "com.amazonaws.lookoutmetrics#ErrorMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        }
      }
    },
    "com.amazonaws.lookoutmetrics#ExecutionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#ExecutionStatus"
      }
    },
    "com.amazonaws.lookoutmetrics#ExecutionStatus": {
      "type": "structure",
      "members": {
        "Timestamp": {
          "target": "com.amazonaws.lookoutmetrics#TimestampString",
          "traits": {
            "smithy.api#documentation": "<p>The run's timestamp.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectionTaskStatus",
          "traits": {
            "smithy.api#documentation": "<p>The run's status.</p>"
          }
        },
        "FailureReason": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectionTaskStatusMessage",
          "traits": {
            "smithy.api#documentation": "<p>The reason that the run failed, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The status of an anomaly detector run.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#FieldName": {
      "type": "string"
    },
    "com.amazonaws.lookoutmetrics#FileFormatDescriptor": {
      "type": "structure",
      "members": {
        "CsvFormatDescriptor": {
          "target": "com.amazonaws.lookoutmetrics#CsvFormatDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about how a source CSV data file should be analyzed.</p>"
          }
        },
        "JsonFormatDescriptor": {
          "target": "com.amazonaws.lookoutmetrics#JsonFormatDescriptor",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about how a source JSON data file should be analyzed.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about a source file's formatting.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#Filter": {
      "type": "structure",
      "members": {
        "DimensionValue": {
          "target": "com.amazonaws.lookoutmetrics#DimensionValue",
          "traits": {
            "smithy.api#documentation": "<p>The value that you want to include in the filter.</p>"
          }
        },
        "FilterOperation": {
          "target": "com.amazonaws.lookoutmetrics#FilterOperation",
          "traits": {
            "smithy.api#documentation": "<p>The condition to apply.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a filter for choosing a subset of dimension values. Each filter consists of the dimension that you want to include and the condition statement. The condition statement is specified in the <code>FilterOperation</code> object.</p>"
      }
    },
    "com.amazonaws.lookoutmetrics#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.lookoutmetrics#FilterOperation": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "EQUALS",
            "name": "EQUALS"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#FlowName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 256
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][\\w!@#.-]+$"
      }
    },
    "com.amazonaws.lookoutmetrics#Frequency": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "P1D",
            "name": "P1D"
          },
          {
            "value": "PT1H",
            "name": "PT1H"
          },
          {
            "value": "PT10M",
            "name": "PT10M"
          },
          {
            "value": "PT5M",
            "name": "PT5M"
          }
        ]
      }
    },
    "com.amazonaws.lookoutmetrics#GetAnomalyGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#GetAnomalyGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#GetAnomalyGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details about a group of anomalous metrics.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetAnomalyGroup",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetAnomalyGroupRequest": {
      "type": "structure",
      "members": {
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetAnomalyGroupResponse": {
      "type": "structure",
      "members": {
        "AnomalyGroup": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyGroup",
          "traits": {
            "smithy.api#documentation": "<p>Details about the anomaly group.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetDataQualityMetrics": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#GetDataQualityMetricsRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#GetDataQualityMetricsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns details about the requested data quality metrics.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetDataQualityMetrics",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetDataQualityMetricsRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector that you want to investigate.</p>",
            "smithy.api#required": {}
          }
        },
        "MetricSetArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a specific data quality metric set.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetDataQualityMetricsResponse": {
      "type": "structure",
      "members": {
        "AnomalyDetectorDataQualityMetricList": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyDetectorDataQualityMetricList",
          "traits": {
            "smithy.api#documentation": "<p>A list of the data quality metrics for the <code>AnomalyDetectorArn</code> that you requested.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetFeedback": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#GetFeedbackRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#GetFeedbackResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Get feedback for an anomaly group.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetFeedback",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetFeedbackRequest": {
      "type": "structure",
      "members": {
        "AnomalyDetectorArn": {
          "target": "com.amazonaws.lookoutmetrics#Arn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the anomaly detector.</p>",
            "smithy.api#required": {}
          }
        },
        "AnomalyGroupTimeSeriesFeedback": {
          "target": "com.amazonaws.lookoutmetrics#AnomalyGroupTimeSeries",
          "traits": {
            "smithy.api#documentation": "<p>The anomalous metric and group ID.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.lookoutmetrics#MaxResults",
          "traits": {
            "smithy.api#default": null,
            "smithy.api#documentation": "<p>The maximum number of results to return.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutmetrics#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>Specify the pagination token that's returned by a previous request to retrieve the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetFeedbackResponse": {
      "type": "structure",
      "members": {
        "AnomalyGroupTimeSeriesFeedback": {
          "target": "com.amazonaws.lookoutmetrics#TimeSeriesFeedbackList",
          "traits": {
            "smithy.api#documentation": "<p>Feedback for an anomalous metric.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.lookoutmetrics#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that's included if more results are available.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetSampleData": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutmetrics#GetSampleDataRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutmetrics#GetSampleDataResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutmetrics#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.lookoutmetrics#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a selection of sample records from an Amazon S3 datasource.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/GetSampleData",
          "code": 200
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetSampleDataRequest": {
      "type": "structure",
      "members": {
        "S3SourceConfig": {
          "target": "com.amazonaws.lookoutmetrics#SampleDataS3SourceConfig",
          "traits": {
            "smithy.api#documentation": "<p>A datasource bucket in Amazon S3.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#GetSampleDataResponse": {
      "type": "structure",
      "members": {
        "HeaderValues": {
          "target": "com.amazonaws.lookoutmetrics#HeaderValueList",
          "traits": {
            "smithy.api#documentation": "<p>A list of header labels for the records.</p>"
          }
        },
        "SampleRows": {
          "target": "com.amazonaws.lookoutmetrics#SampleRows",
          "traits": {
            "smithy.api#documentation": "<p>A list of records.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutmetrics#HeaderList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#ColumnName"
      }
    },
    "com.amazonaws.lookoutmetrics#HeaderValue": {
      "type": "string"
    },
    "com.amazonaws.lookoutmetrics#HeaderValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#HeaderValue"
      }
    },
    "com.amazonaws.lookoutmetrics#HistoricalDataPath": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": "^s3://[a-z0-9].+$"
      }
    },
    "com.amazonaws.lookoutmetrics#HistoricalDataPathList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutmetrics#HistoricalDataPath"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1
        }
      }
    },
    "com.amazonaws.lookoutmetrics#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#default": 0
      }
    },
    "com.amazonaws.lookoutmetrics#InterMetricImpactDetails": {
      "type": "structure",
      "members": {
        "MetricName": {
          "target": "com.amazonaws.lookoutmetrics#MetricName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the measure.</p>"
          }
        },
        "AnomalyGroupId": {
          "target": "com.amazonaws.lookoutmetrics#UUID",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the anomaly group.</p>"
          }
        },
        "RelationshipType": {
          "target": "com.amazonaws.lookoutmetrics#RelationshipType",
[...]
