{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.lookoutequipment#AWSLookoutEquipmentFrontendService": {
      "type": "service",
      "version": "2020-12-15",
      "operations": [
        {
          "target": "com.amazonaws.lookoutequipment#CreateDataset"
        },
        {
          "target": "com.amazonaws.lookoutequipment#CreateInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#CreateLabel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#CreateLabelGroup"
        },
        {
          "target": "com.amazonaws.lookoutequipment#CreateModel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DeleteDataset"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DeleteInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DeleteLabel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DeleteLabelGroup"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DeleteModel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeDataIngestionJob"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeDataset"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeLabel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeLabelGroup"
        },
        {
          "target": "com.amazonaws.lookoutequipment#DescribeModel"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListDataIngestionJobs"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListDatasets"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListInferenceEvents"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListInferenceExecutions"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListInferenceSchedulers"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListLabelGroups"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListLabels"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListModels"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListSensorStatistics"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.lookoutequipment#StartDataIngestionJob"
        },
        {
          "target": "com.amazonaws.lookoutequipment#StartInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#StopInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#TagResource"
        },
        {
          "target": "com.amazonaws.lookoutequipment#UntagResource"
        },
        {
          "target": "com.amazonaws.lookoutequipment#UpdateInferenceScheduler"
        },
        {
          "target": "com.amazonaws.lookoutequipment#UpdateLabelGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "LookoutEquipment",
          "arnNamespace": "lookoutequipment",
          "cloudFormationName": "LookoutEquipment",
          "cloudTrailEventSource": "lookoutequipment.amazonaws.com",
          "endpointPrefix": "lookoutequipment"
        },
        "aws.auth#sigv4": {
          "name": "lookoutequipment"
        },
        "aws.protocols#awsJson1_0": {},
        "smithy.api#documentation": "<p>Amazon Lookout for Equipment is a machine learning service that uses advanced analytics to identify\n         anomalies in machines from sensor data for use in predictive maintenance. </p>",
        "smithy.api#title": "Amazon Lookout for Equipment",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": true,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://lookoutequipment-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://lookoutequipment-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://lookoutequipment.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://lookoutequipment.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.eu-west-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "eu-west-1"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "ap-northeast-2"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.us-east-1.api.aws"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://lookoutequipment.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": true,
                "UseDualStack": false,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": true,
                "Region": "us-east-1",
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.lookoutequipment#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutequipment#BoundedLengthString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request could not be completed because you do not have access to the resource.\n      </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.lookoutequipment#AmazonResourceArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.lookoutequipment#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.lookoutequipment#BoundedLengthString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 5000
        },
        "smithy.api#pattern": "^[\\P{M}\\p{M}]{1,5000}$"
      }
    },
    "com.amazonaws.lookoutequipment#CategoricalValues": {
      "type": "structure",
      "members": {
        "Status": {
          "target": "com.amazonaws.lookoutequipment#StatisticalIssueStatus",
          "traits": {
            "smithy.api#documentation": "<p> Indicates whether there is a potential data issue related to categorical values.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "NumberOfCategory": {
          "target": "com.amazonaws.lookoutequipment#Integer",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the number of categories in the data. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Entity that comprises information on categorical values in data. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#Comments": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2560
        },
        "smithy.api#pattern": "^[\\P{M}\\p{M}]{1,2560}$"
      }
    },
    "com.amazonaws.lookoutequipment#ComponentName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z._\\-]{1,200}$"
      }
    },
    "com.amazonaws.lookoutequipment#ComponentTimestampDelimiter": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1
        },
        "smithy.api#pattern": "^(\\-|\\_|\\s)?$"
      }
    },
    "com.amazonaws.lookoutequipment#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.lookoutequipment#BoundedLengthString",
          "traits": {
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> The request could not be completed due to a conflict with the current state of the\n         target resource. </p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.lookoutequipment#CountPercent": {
      "type": "structure",
      "members": {
        "Count": {
          "target": "com.amazonaws.lookoutequipment#Integer",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the count of occurences of the given statistic. </p>",
            "smithy.api#required": {}
          }
        },
        "Percentage": {
          "target": "com.amazonaws.lookoutequipment#Float",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "<p> Indicates the percentage of occurances of the given statistic. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Entity that comprises information of count and percentage. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#CreateDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#CreateDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a container for a collection of data being ingested for analysis. The dataset\n         contains the metadata describing where the data is and what the data actually looks like.\n         In other words, it contains the location of the data source, the data schema, and other\n         information. A dataset also contains any tags associated with the ingested data. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset being created. </p>",
            "smithy.api#required": {}
          }
        },
        "DatasetSchema": {
          "target": "com.amazonaws.lookoutequipment#DatasetSchema",
          "traits": {
            "smithy.api#documentation": "<p>A JSON description of the data that is in each time series dataset, including names,\n         column names, and data types. </p>"
          }
        },
        "ServerSideKmsKeyId": {
          "target": "com.amazonaws.lookoutequipment#NameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout\n         for Equipment. </p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutequipment#IdempotenceToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutequipment#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Any tags associated with the ingested data described in the dataset. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset being created. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the dataset being created. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the <code>CreateDataset</code> operation. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateInferenceScheduler": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#CreateInferenceSchedulerRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#CreateInferenceSchedulerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Creates a scheduled inference. Scheduling an inference is setting up a continuous\n         real-time inference plan to analyze new measurement data. When setting up the schedule, you\n         provide an S3 bucket location for the input data, assign it a delimiter between separate\n         entries in the data, set an offset delay if desired, and set the frequency of inferencing.\n         You must also provide an S3 bucket location for the output data. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateInferenceSchedulerRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the previously trained ML model being used to create the inference\n         scheduler. </p>",
            "smithy.api#required": {}
          }
        },
        "InferenceSchedulerName": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inference scheduler being created. </p>",
            "smithy.api#required": {}
          }
        },
        "DataDelayOffsetInMinutes": {
          "target": "com.amazonaws.lookoutequipment#DataDelayOffsetInMinutes",
          "traits": {
            "smithy.api#documentation": "<p>The interval (in minutes) of planned delay at the start of each inference segment. For\n         example, if inference is set to run every ten minutes, the delay is set to five minutes and the time is 09:08. The inference scheduler will wake up at the\n         configured interval (which, without a delay configured, would be 09:10) plus the additional five minute delay time (so 09:15) to check your Amazon S3\n         bucket. The delay provides a buffer for you to upload data at the same frequency, so that you don't have to stop and\n         restart the scheduler when uploading new data.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding the inference process</a>.</p>"
          }
        },
        "DataUploadFrequency": {
          "target": "com.amazonaws.lookoutequipment#DataUploadFrequency",
          "traits": {
            "smithy.api#documentation": "<p> How often data is uploaded to the source Amazon S3 bucket for the input data. The value chosen\n         is the length of time between data uploads. For instance, if you select 5 minutes, Amazon Lookout for Equipment will upload the real-time data to the source bucket once every 5\n         minutes. This frequency also determines how often Amazon Lookout for Equipment runs inference on your data.</p>\n         <p>For more information, see <a href=\"https://docs.aws.amazon.com/lookout-for-equipment/latest/ug/understanding-inference-process.html\">Understanding the inference process</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#InferenceInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for the input data for the inference scheduler,\n         including delimiter, format, and dataset location. </p>",
            "smithy.api#required": {}
          }
        },
        "DataOutputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#InferenceOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information for the output results for the inference scheduler,\n         including the S3 location for the output. </p>",
            "smithy.api#required": {}
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source being\n         used for the inference. </p>",
            "smithy.api#required": {}
          }
        },
        "ServerSideKmsKeyId": {
          "target": "com.amazonaws.lookoutequipment#NameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by\n         Amazon Lookout for Equipment. </p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutequipment#IdempotenceToken",
          "traits": {
            "smithy.api#documentation": "<p> A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutequipment#TagList",
          "traits": {
            "smithy.api#documentation": "<p>Any tags associated with the inference scheduler. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateInferenceSchedulerResponse": {
      "type": "structure",
      "members": {
        "InferenceSchedulerArn": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the inference scheduler being created. </p>"
          }
        },
        "InferenceSchedulerName": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of inference scheduler being created. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the <code>CreateInferenceScheduler</code> operation. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#CreateLabelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#CreateLabelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates a label for an event.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#CreateLabelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#CreateLabelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nCreates a group of labels.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabelGroupRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nNames a group of labels.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>",
            "smithy.api#required": {}
          }
        },
        "FaultCodes": {
          "target": "com.amazonaws.lookoutequipment#FaultCodes",
          "traits": {
            "smithy.api#documentation": "<p>\nThe acceptable fault codes (indicating the type of anomaly associated with the label) that can be used with this label group.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutequipment#IdempotenceToken",
          "traits": {
            "smithy.api#documentation": "<p>\nA unique identifier for the request to create a label group. If you do not set the client request token, Lookout for Equipment generates one.\n</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutequipment#TagList",
          "traits": {
            "smithy.api#documentation": "<p>\nTags that provide metadata about the label group you are creating.\n</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabelGroupResponse": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the label group that you have created. Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>"
          }
        },
        "LabelGroupArn": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ARN of the label group that you have created.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabelRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of a group of labels. </p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe start time of the labeled event.\n</p>",
            "smithy.api#required": {}
          }
        },
        "EndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe end time of the labeled event.\n</p>",
            "smithy.api#required": {}
          }
        },
        "Rating": {
          "target": "com.amazonaws.lookoutequipment#LabelRating",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates whether a labeled event represents an anomaly.\n</p>",
            "smithy.api#required": {}
          }
        },
        "FaultCode": {
          "target": "com.amazonaws.lookoutequipment#FaultCode",
          "traits": {
            "smithy.api#documentation": "<p>\nProvides additional information about the label. The fault code must be defined in the FaultCodes attribute of the label group.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>"
          }
        },
        "Notes": {
          "target": "com.amazonaws.lookoutequipment#Comments",
          "traits": {
            "smithy.api#documentation": "<p>\nMetadata providing additional information about the label.\n</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        },
        "Equipment": {
          "target": "com.amazonaws.lookoutequipment#Equipment",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates that a label pertains to a particular piece of equipment.\n</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutequipment#IdempotenceToken",
          "traits": {
            "smithy.api#documentation": "<p>\nA unique identifier for the request to create a label. If you do not set the client request token, Lookout for Equipment generates one.\n</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateLabelResponse": {
      "type": "structure",
      "members": {
        "LabelId": {
          "target": "com.amazonaws.lookoutequipment#LabelId",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ID of the label that you have created.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#CreateModelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#CreateModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates an ML model for data inference. </p>\n         <p>A machine-learning (ML) model is a mathematical model that finds patterns in your data.\n         In Amazon Lookout for Equipment, the model learns the patterns of normal behavior and\n         detects abnormal behavior that could be potential equipment failure (or maintenance\n         events). The models are made by analyzing normal data and abnormalities in machine behavior\n         that have already occurred.</p>\n         <p>Your model is trained using a portion of the data from your dataset and uses that data\n         to learn patterns of normal behavior and abnormal patterns that lead to equipment failure.\n         Another portion of the data is used to evaluate the model's accuracy. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#CreateModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the ML model to be created.</p>",
            "smithy.api#required": {}
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset for the ML model being created. </p>",
            "smithy.api#required": {}
          }
        },
        "DatasetSchema": {
          "target": "com.amazonaws.lookoutequipment#DatasetSchema",
          "traits": {
            "smithy.api#documentation": "<p>The data schema for the ML model being created. </p>"
          }
        },
        "LabelsInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#LabelsInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The input configuration for the labels being used for the ML model that's being created.\n      </p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.lookoutequipment#IdempotenceToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique identifier for the request. If you do not set the client request token, Amazon\n         Lookout for Equipment generates one. </p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "TrainingDataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time reference in the dataset that should be used to begin the subset of\n         training data for the ML model. </p>"
          }
        },
        "TrainingDataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time reference in the dataset that should be used to end the subset of\n         training data for the ML model. </p>"
          }
        },
        "EvaluationDataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the time reference in the dataset that should be used to begin the subset of\n         evaluation data for the ML model. </p>"
          }
        },
        "EvaluationDataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the time reference in the dataset that should be used to end the subset of\n         evaluation data for the ML model. </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source\n         being used to create the ML model. </p>"
          }
        },
        "DataPreProcessingConfiguration": {
          "target": "com.amazonaws.lookoutequipment#DataPreProcessingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of\n         the data after post processing by Amazon Lookout for Equipment. For example, if you provide\n         data that has been collected at a 1 second level and you want the system to resample the\n         data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1\n         minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
          }
        },
        "ServerSideKmsKeyId": {
          "target": "com.amazonaws.lookoutequipment#NameOrArn",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier of the KMS key used to encrypt model data by Amazon Lookout\n         for Equipment. </p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.lookoutequipment#TagList",
          "traits": {
            "smithy.api#documentation": "<p> Any tags associated with the ML model being created. </p>"
          }
        },
        "OffCondition": {
          "target": "com.amazonaws.lookoutequipment#OffCondition",
          "traits": {
            "smithy.api#documentation": "<p>Indicates that the asset associated with this sensor has been shut off. As long as this\n         condition is met, Lookout for Equipment will not use data from this asset for training,\n         evaluation, or inference.</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#CreateModelResponse": {
      "type": "structure",
      "members": {
        "ModelArn": {
          "target": "com.amazonaws.lookoutequipment#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the model being created. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#ModelStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the <code>CreateModel</code> operation. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DataDelayOffsetInMinutes": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 60
        }
      }
    },
    "com.amazonaws.lookoutequipment#DataIngestionJobSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutequipment#DataIngestionJobSummary"
      }
    },
    "com.amazonaws.lookoutequipment#DataIngestionJobSummary": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.lookoutequipment#IngestionJobId",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the job ID of the data ingestion job. </p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset used for the data ingestion job. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset used in the data ingestion job. </p>"
          }
        },
        "IngestionInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#IngestionInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Specifies information for the input data for the data inference job, including data\n            Amazon S3 location parameters. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#IngestionJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the data ingestion job. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a specified data ingestion job, including dataset\n         information, data ingestion configuration, and status. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DataPreProcessingConfiguration": {
      "type": "structure",
      "members": {
        "TargetSamplingRate": {
          "target": "com.amazonaws.lookoutequipment#TargetSamplingRate",
          "traits": {
            "smithy.api#documentation": "<p>The sampling rate of the data after post processing by Amazon Lookout for Equipment. For\n         example, if you provide data that has been collected at a 1 second level and you want the\n         system to resample the data at a 1 minute rate before training, the\n            <code>TargetSamplingRate</code> is 1 minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration is the <code>TargetSamplingRate</code>, which is the sampling rate of\n         the data after post processing by Amazon Lookout for Equipment. For example, if you provide\n         data that has been collected at a 1 second level and you want the system to resample the\n         data at a 1 minute rate before training, the <code>TargetSamplingRate</code> is 1\n         minute.</p>\n         <p>When providing a value for the <code>TargetSamplingRate</code>, you must attach the\n         prefix \"PT\" to the rate you want. The value for a 1 second rate is therefore\n            <i>PT1S</i>, the value for a 15 minute rate is <i>PT15M</i>,\n         and the value for a 1 hour rate is <i>PT1H</i>\n         </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DataQualitySummary": {
      "type": "structure",
      "members": {
        "InsufficientSensorData": {
          "target": "com.amazonaws.lookoutequipment#InsufficientSensorData",
          "traits": {
            "smithy.api#documentation": "<p> Parameter that gives information about insufficient data for sensors in the dataset.\n         This includes information about those sensors that have complete data missing and those\n         with a short date range. </p>",
            "smithy.api#required": {}
          }
        },
        "MissingSensorData": {
          "target": "com.amazonaws.lookoutequipment#MissingSensorData",
          "traits": {
            "smithy.api#documentation": "<p> Parameter that gives information about data that is missing over all the sensors in the\n         input data. </p>",
            "smithy.api#required": {}
          }
        },
        "InvalidSensorData": {
          "target": "com.amazonaws.lookoutequipment#InvalidSensorData",
          "traits": {
            "smithy.api#documentation": "<p> Parameter that gives information about data that is invalid over all the sensors in the\n         input data. </p>",
            "smithy.api#required": {}
          }
        },
        "UnsupportedTimestamps": {
          "target": "com.amazonaws.lookoutequipment#UnsupportedTimestamps",
          "traits": {
            "smithy.api#documentation": "<p> Parameter that gives information about unsupported timestamps in the input data.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "DuplicateTimestamps": {
          "target": "com.amazonaws.lookoutequipment#DuplicateTimestamps",
          "traits": {
            "smithy.api#documentation": "<p> Parameter that gives information about duplicate timestamps in the input data. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> DataQualitySummary gives aggregated statistics over all the sensors about a completed\n         ingestion job. It primarily gives more information about statistics over different\n         incorrect data like MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats,\n         InsufficientSensorData, DuplicateTimeStamps. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DataSizeInBytes": {
      "type": "long",
      "traits": {
        "smithy.api#range": {
          "min": 0
        }
      }
    },
    "com.amazonaws.lookoutequipment#DataUploadFrequency": {
      "type": "enum",
      "members": {
        "PT5M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT5M"
          }
        },
        "PT10M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT10M"
          }
        },
        "PT15M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT15M"
          }
        },
        "PT30M": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT30M"
          }
        },
        "PT1H": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PT1H"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DatasetArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "^arn:aws(-[^:]+)?:lookoutequipment:[a-zA-Z0-9\\-]*:[0-9]{12}:dataset\\/.+$"
      }
    },
    "com.amazonaws.lookoutequipment#DatasetIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z_-]{1,200}$"
      }
    },
    "com.amazonaws.lookoutequipment#DatasetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 200
        },
        "smithy.api#pattern": "^[0-9a-zA-Z_-]{1,200}$"
      }
    },
    "com.amazonaws.lookoutequipment#DatasetSchema": {
      "type": "structure",
      "members": {
        "InlineDataSchema": {
          "target": "com.amazonaws.lookoutequipment#SynthesizedJsonInlineDataSchema",
          "traits": {
            "smithy.api#documentation": "<p>\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the data schema used with the given dataset. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DatasetStatus": {
      "type": "enum",
      "members": {
        "CREATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CREATED"
          }
        },
        "INGESTION_IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INGESTION_IN_PROGRESS"
          }
        },
        "ACTIVE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACTIVE"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DatasetSummaries": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.lookoutequipment#DatasetSummary"
      }
    },
    "com.amazonaws.lookoutequipment#DatasetSummary": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the specified dataset. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the dataset. </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the dataset was created in Amazon Lookout for Equipment. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains information about the specific data set, including name, ARN, and status.\n      </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DeleteDatasetRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Deletes a dataset and associated artifacts. The operation will check to see if any\n         inference scheduler or data ingestion job is currently using the dataset, and if there\n         isn't, the dataset, its metadata, and any associated data stored in S3 will be deleted.\n         This does not affect any models that used this dataset for training and evaluation, but\n         does prevent it from being used in the future. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset to be deleted. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DeleteInferenceScheduler": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DeleteInferenceSchedulerRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an inference scheduler that has been set up. Already processed output results\n         are not affected. </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteInferenceSchedulerRequest": {
      "type": "structure",
      "members": {
        "InferenceSchedulerName": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inference scheduler to be deleted. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DeleteLabel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DeleteLabelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nDeletes a label.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteLabelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DeleteLabelGroupRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nDeletes a group of labels.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteLabelGroupRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the label group that you want to delete. Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DeleteLabelRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the label group that contains the label that you want to delete. Data in this field will be retained for service usage. Follow best practices for the security of your data.\n</p>",
            "smithy.api#required": {}
          }
        },
        "LabelId": {
          "target": "com.amazonaws.lookoutequipment#LabelId",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ID of the label that you want to delete.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DeleteModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DeleteModelRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ConflictException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an ML model currently available for Amazon Lookout for Equipment. This will\n         prevent it from being used with an inference scheduler, even one that is already set up.\n      </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DeleteModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ML model to be deleted. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDataIngestionJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeDataIngestionJobRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeDataIngestionJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information on a specific data ingestion job such as creation time, dataset\n         ARN, and status.</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDataIngestionJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.lookoutequipment#IngestionJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job ID of the data ingestion job. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDataIngestionJobResponse": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.lookoutequipment#IngestionJobId",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the job ID of the data ingestion job. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset being used in the data ingestion job.\n      </p>"
          }
        },
        "IngestionInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#IngestionInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the S3 location configuration for the data input for the data ingestion job.\n      </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to access the data source\n         being ingested. </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The time at which the data ingestion job was created. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#IngestionJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the <code>DataIngestionJob</code> operation. </p>"
          }
        },
        "FailedReason": {
          "target": "com.amazonaws.lookoutequipment#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the reason for failure when a data ingestion job has failed. </p>"
          }
        },
        "DataQualitySummary": {
          "target": "com.amazonaws.lookoutequipment#DataQualitySummary",
          "traits": {
            "smithy.api#documentation": "<p> Gives statistics about a completed ingestion job. These statistics primarily relate to\n         quantifying incorrect data such as MissingCompleteSensorData, MissingSensorData,\n         UnsupportedDateFormats, InsufficientSensorData, and DuplicateTimeStamps. </p>"
          }
        },
        "IngestedFilesSummary": {
          "target": "com.amazonaws.lookoutequipment#IngestedFilesSummary"
        },
        "StatusDetail": {
          "target": "com.amazonaws.lookoutequipment#BoundedLengthString",
          "traits": {
            "smithy.api#documentation": "<p> Provides details about status of the ingestion job that is currently in progress.\n      </p>"
          }
        },
        "IngestedDataSize": {
          "target": "com.amazonaws.lookoutequipment#DataSizeInBytes",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the size of the ingested dataset. </p>"
          }
        },
        "DataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the earliest timestamp corresponding to data that was successfully ingested\n         during this specific ingestion job. </p>"
          }
        },
        "DataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the latest timestamp corresponding to data that was successfully ingested\n         during this specific ingestion job. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDataset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeDatasetRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeDatasetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a JSON description of the data in each time series dataset, including names,\n         column names, and data types.</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDatasetRequest": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset to be described. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeDatasetResponse": {
      "type": "structure",
      "members": {
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset being described. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the dataset being described. </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time the dataset was created in Lookout for Equipment. </p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time the dataset was last updated, if it was. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#DatasetStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the dataset. </p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.lookoutequipment#SynthesizedJsonInlineDataSchema",
          "traits": {
            "smithy.api#documentation": "<p>A JSON description of the data that is in each time series dataset, including names,\n         column names, and data types. </p>"
          }
        },
        "ServerSideKmsKeyId": {
          "target": "com.amazonaws.lookoutequipment#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier of the KMS key used to encrypt dataset data by Amazon Lookout\n         for Equipment. </p>"
          }
        },
        "IngestionInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#IngestionInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the S3 location configuration for the data input for the data ingestion job.\n      </p>"
          }
        },
        "DataQualitySummary": {
          "target": "com.amazonaws.lookoutequipment#DataQualitySummary",
          "traits": {
            "smithy.api#documentation": "<p> Gives statistics associated with the given dataset for the latest successful associated\n         ingestion job id. These statistics primarily relate to quantifying incorrect data such as\n         MissingCompleteSensorData, MissingSensorData, UnsupportedDateFormats,\n         InsufficientSensorData, and DuplicateTimeStamps. </p>"
          }
        },
        "IngestedFilesSummary": {
          "target": "com.amazonaws.lookoutequipment#IngestedFilesSummary",
          "traits": {
            "smithy.api#documentation": "<p> IngestedFilesSummary associated with the given dataset for the latest successful\n         associated ingestion job id. </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of the IAM role that you are using for this the data\n         ingestion job. </p>"
          }
        },
        "DataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the earliest timestamp corresponding to data that was successfully ingested\n         during the most recent ingestion of this particular dataset. </p>"
          }
        },
        "DataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the latest timestamp corresponding to data that was successfully ingested\n         during the most recent ingestion of this particular dataset. </p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeInferenceScheduler": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeInferenceSchedulerRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeInferenceSchedulerResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p> Specifies information about the inference scheduler being used, including name, model,\n         status, and associated metadata </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeInferenceSchedulerRequest": {
      "type": "structure",
      "members": {
        "InferenceSchedulerName": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inference scheduler being described. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeInferenceSchedulerResponse": {
      "type": "structure",
      "members": {
        "ModelArn": {
          "target": "com.amazonaws.lookoutequipment#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ML model of the inference scheduler being\n         described. </p>"
          }
        },
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ML model of the inference scheduler being described. </p>"
          }
        },
        "InferenceSchedulerName": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the inference scheduler being described. </p>"
          }
        },
        "InferenceSchedulerArn": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the inference scheduler being described. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.lookoutequipment#InferenceSchedulerStatus",
          "traits": {
            "smithy.api#documentation": "<p>Indicates the status of the inference scheduler. </p>"
          }
        },
        "DataDelayOffsetInMinutes": {
          "target": "com.amazonaws.lookoutequipment#DataDelayOffsetInMinutes",
          "traits": {
            "smithy.api#documentation": "<p> A period of time (in minutes) by which inference on the data is delayed after the data\n         starts. For instance, if you select an offset delay time of five minutes, inference will\n         not begin on the data until the first data measurement after the five minute mark. For\n         example, if five minutes is selected, the inference scheduler will wake up at the\n         configured frequency with the additional five minute delay time to check the customer S3\n         bucket. The customer can upload data at the same frequency and they don't need to stop and\n         restart the scheduler when uploading new data.</p>"
          }
        },
        "DataUploadFrequency": {
          "target": "com.amazonaws.lookoutequipment#DataUploadFrequency",
          "traits": {
            "smithy.api#documentation": "<p>Specifies how often data is uploaded to the source S3 bucket for the input data. This\n         value is the length of time between data uploads. For instance, if you select 5 minutes,\n         Amazon Lookout for Equipment will upload the real-time data to the source bucket once every\n         5 minutes. This frequency also determines how often Amazon Lookout for Equipment starts a\n         scheduled inference on your data. In this example, it starts once every 5 minutes. </p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time at which the inference scheduler was created. </p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Specifies the time at which the inference scheduler was last updated, if it was. </p>"
          }
        },
        "DataInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#InferenceInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Specifies configuration information for the input data for the inference scheduler,\n         including delimiter, format, and dataset location. </p>"
          }
        },
        "DataOutputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#InferenceOutputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p> Specifies information for the output results for the inference scheduler, including\n         the output S3 location. </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for\n         the inference scheduler being described. </p>"
          }
        },
        "ServerSideKmsKeyId": {
          "target": "com.amazonaws.lookoutequipment#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>Provides the identifier of the KMS key used to encrypt inference scheduler data by\n         Amazon Lookout for Equipment. </p>"
          }
        },
        "LatestInferenceResult": {
          "target": "com.amazonaws.lookoutequipment#LatestInferenceResult",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the latest execution for the inference scheduler was Anomalous\n         (anomalous events found) or Normal (no anomalous events found).</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeLabelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeLabelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nReturns the name of the label.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeLabelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeLabelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\nReturns information about the label group.\n</p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabelGroupRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nReturns the name of the label group.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabelGroupResponse": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the label group.\n</p>"
          }
        },
        "LabelGroupArn": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ARN of the label group.\n</p>"
          }
        },
        "FaultCodes": {
          "target": "com.amazonaws.lookoutequipment#FaultCodes",
          "traits": {
            "smithy.api#documentation": "<p>\nCodes indicating the type of anomaly associated with the labels in the lagbel group.\n</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe time at which the label group was created.\n</p>"
          }
        },
        "UpdatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe time at which the label group was updated.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabelRequest": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nReturns the name of the group containing the label.\n</p>",
            "smithy.api#required": {}
          }
        },
        "LabelId": {
          "target": "com.amazonaws.lookoutequipment#LabelId",
          "traits": {
            "smithy.api#documentation": "<p>\nReturns the ID of the label.\n</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeLabelResponse": {
      "type": "structure",
      "members": {
        "LabelGroupName": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupName",
          "traits": {
            "smithy.api#documentation": "<p>\nThe name of the requested label group.\n</p>"
          }
        },
        "LabelGroupArn": {
          "target": "com.amazonaws.lookoutequipment#LabelGroupArn",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ARN of the requested label group.\n</p>"
          }
        },
        "LabelId": {
          "target": "com.amazonaws.lookoutequipment#LabelId",
          "traits": {
            "smithy.api#documentation": "<p>\nThe ID of the requested label.\n</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe start time of the requested label.\n</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe end time of the requested label.\n</p>"
          }
        },
        "Rating": {
          "target": "com.amazonaws.lookoutequipment#LabelRating",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates whether a labeled event represents an anomaly.\n</p>"
          }
        },
        "FaultCode": {
          "target": "com.amazonaws.lookoutequipment#FaultCode",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates the type of anomaly associated with the label.\n</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        },
        "Notes": {
          "target": "com.amazonaws.lookoutequipment#Comments",
          "traits": {
            "smithy.api#documentation": "<p>Metadata providing additional information about the label.</p>\n         <p>Data in this field will be retained for service usage. Follow best practices for the security of your data.</p>"
          }
        },
        "Equipment": {
          "target": "com.amazonaws.lookoutequipment#Equipment",
          "traits": {
            "smithy.api#documentation": "<p>\nIndicates that a label pertains to a particular piece of equipment.\n</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\nThe time at which the label was created.\n</p>"
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.lookoutequipment#DescribeModelRequest"
      },
      "output": {
        "target": "com.amazonaws.lookoutequipment#DescribeModelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.lookoutequipment#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#InternalServerException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ThrottlingException"
        },
        {
          "target": "com.amazonaws.lookoutequipment#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides a JSON containing the overall information about a specific ML model, including\n         model name and ARN, dataset, training and evaluation information, status, and so on.\n      </p>"
      }
    },
    "com.amazonaws.lookoutequipment#DescribeModelRequest": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ML model to be described. </p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.lookoutequipment#DescribeModelResponse": {
      "type": "structure",
      "members": {
        "ModelName": {
          "target": "com.amazonaws.lookoutequipment#ModelName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the ML model being described. </p>"
          }
        },
        "ModelArn": {
          "target": "com.amazonaws.lookoutequipment#ModelArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the ML model being described. </p>"
          }
        },
        "DatasetName": {
          "target": "com.amazonaws.lookoutequipment#DatasetName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the dataset being used by the ML being described. </p>"
          }
        },
        "DatasetArn": {
          "target": "com.amazonaws.lookoutequipment#DatasetArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resouce Name (ARN) of the dataset used to create the ML model being\n         described. </p>"
          }
        },
        "Schema": {
          "target": "com.amazonaws.lookoutequipment#SynthesizedJsonInlineDataSchema",
          "traits": {
            "smithy.api#documentation": "<p>A JSON description of the data that is in each time series dataset, including names,\n         column names, and data types. </p>"
          }
        },
        "LabelsInputConfiguration": {
          "target": "com.amazonaws.lookoutequipment#LabelsInputConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Specifies configuration information about the labels input, including its S3 location.\n      </p>"
          }
        },
        "TrainingDataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the time reference in the dataset that was used to begin the subset of\n         training data for the ML model. </p>"
          }
        },
        "TrainingDataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the time reference in the dataset that was used to end the subset of training\n         data for the ML model. </p>"
          }
        },
        "EvaluationDataStartTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the time reference in the dataset that was used to begin the subset of\n         evaluation data for the ML model. </p>"
          }
        },
        "EvaluationDataEndTime": {
          "target": "com.amazonaws.lookoutequipment#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p> Indicates the time reference in the dataset that was used to end the subset of\n         evaluation data for the ML model. </p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.lookoutequipment#IamRoleArn",
          "traits": {
            "smithy.api#documentation": "<p> The Amazon Resource Name (ARN) of a role with permission to access the data source for\n         the ML model being described. </p>"
          }
        },
        "DataPreProcessingConfiguration": {
[...]
