{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.machinelearning#AddTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#AddTagsInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#AddTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidTagException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.machinelearning#TagLimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds one or more tags to an object, up to a limit of 10. Each tag consists of a key \n\t\t    and an optional value. If you add a tag using a key that is already associated with the ML object, \n\t\t\t<code>AddTags</code> updates the tag's value.</p>"
      }
    },
    "com.amazonaws.machinelearning#AddTagsInput": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.machinelearning#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The key-value pairs to use to create tags. If you specify a key without specifying a value, Amazon ML creates a tag with the specified key and a value of null.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ML object to tag. For example, <code>exampleModelId</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.machinelearning#TaggableResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the ML object to tag.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#AddTagsOutput": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ML object that was tagged.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.machinelearning#TaggableResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the ML object that was tagged.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon ML returns the following elements.</p>"
      }
    },
    "com.amazonaws.machinelearning#Algorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The function used to train an <code>MLModel</code>. Training choices supported by Amazon ML include the following:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>SGD</code> - Stochastic Gradient Descent.</p>\n            </li>\n            <li>\n               <p>\n                  <code>RandomForest</code> - Random forest of decision trees.</p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "sgd",
            "name": "SGD"
          }
        ]
      }
    },
    "com.amazonaws.machinelearning#AmazonML_20141212": {
      "type": "service",
      "version": "2014-12-12",
      "operations": [
        {
          "target": "com.amazonaws.machinelearning#AddTags"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateBatchPrediction"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateDataSourceFromRDS"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateDataSourceFromRedshift"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateDataSourceFromS3"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateEvaluation"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateMLModel"
        },
        {
          "target": "com.amazonaws.machinelearning#CreateRealtimeEndpoint"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteBatchPrediction"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteDataSource"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteEvaluation"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteMLModel"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteRealtimeEndpoint"
        },
        {
          "target": "com.amazonaws.machinelearning#DeleteTags"
        },
        {
          "target": "com.amazonaws.machinelearning#DescribeBatchPredictions"
        },
        {
          "target": "com.amazonaws.machinelearning#DescribeDataSources"
        },
        {
          "target": "com.amazonaws.machinelearning#DescribeEvaluations"
        },
        {
          "target": "com.amazonaws.machinelearning#DescribeMLModels"
        },
        {
          "target": "com.amazonaws.machinelearning#DescribeTags"
        },
        {
          "target": "com.amazonaws.machinelearning#GetBatchPrediction"
        },
        {
          "target": "com.amazonaws.machinelearning#GetDataSource"
        },
        {
          "target": "com.amazonaws.machinelearning#GetEvaluation"
        },
        {
          "target": "com.amazonaws.machinelearning#GetMLModel"
        },
        {
          "target": "com.amazonaws.machinelearning#Predict"
        },
        {
          "target": "com.amazonaws.machinelearning#UpdateBatchPrediction"
        },
        {
          "target": "com.amazonaws.machinelearning#UpdateDataSource"
        },
        {
          "target": "com.amazonaws.machinelearning#UpdateEvaluation"
        },
        {
          "target": "com.amazonaws.machinelearning#UpdateMLModel"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Machine Learning",
          "arnNamespace": "machinelearning",
          "cloudFormationName": "MachineLearning",
          "cloudTrailEventSource": "machinelearning.amazonaws.com",
          "endpointPrefix": "machinelearning"
        },
        "aws.auth#sigv4": {
          "name": "machinelearning"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "Definition of the public APIs\n\t\texposed by Amazon Machine Learning",
        "smithy.api#title": "Amazon Machine Learning",
        "smithy.api#xmlNamespace": {
          "uri": "http://machinelearning.amazonaws.com/doc/2014-12-12/"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://machinelearning-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://machinelearning-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://machinelearning.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://machinelearning.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://machinelearning.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.machinelearning#AwsUserArn": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>An Amazon Web Service (AWS) user account identifier. The account identifier can be an AWS root account or an AWS Identity and Access Management (IAM) user.</p>",
        "smithy.api#pattern": "arn:aws:iam::[0-9]+:((user/.+)|(root))"
      }
    },
    "com.amazonaws.machinelearning#BatchPrediction": {
      "type": "structure",
      "members": {
        "BatchPredictionId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID assigned to the <code>BatchPrediction</code> at creation. This value should be identical to the value of the <code>BatchPredictionID</code> \n            in the request.\n        </p>"
          }
        },
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>MLModel</code> that generated predictions for the <code>BatchPrediction</code> request.</p>"
          }
        },
        "BatchPredictionDataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>DataSource</code> that points to the group of observations to predict.</p>"
          }
        },
        "InputDataLocationS3": {
          "target": "com.amazonaws.machinelearning#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The location of the data file or directory in Amazon Simple Storage Service (Amazon S3).</p>"
          }
        },
        "CreatedByIamUser": {
          "target": "com.amazonaws.machinelearning#AwsUserArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS user account that invoked the <code>BatchPrediction</code>. The account type can be either an AWS root account or an AWS Identity and Access Management (IAM) user account.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the <code>BatchPrediction</code> was created. The time is expressed in epoch time.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime",
          "traits": {
            "smithy.api#documentation": "<p>The time of the most recent edit to the <code>BatchPrediction</code>. The time is expressed in epoch time.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>BatchPrediction</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.machinelearning#EntityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the <code>BatchPrediction</code>. This element can have one of the following values:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - Amazon Machine Learning (Amazon ML) submitted a request to generate predictions for a batch of observations.</p>\n            </li>\n            <li>\n               <p>\n                  <code>INPROGRESS</code> - The process is underway.</p>\n            </li>\n            <li>\n               <p>\n                  <code>FAILED</code> - The request to perform a batch prediction did not run to completion. It is not usable.</p>\n            </li>\n            <li>\n               <p>\n                  <code>COMPLETED</code> - The batch prediction process completed successfully.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The <code>BatchPrediction</code> is marked as deleted. It is not usable.</p>\n            </li>\n         </ul>"
          }
        },
        "OutputUri": {
          "target": "com.amazonaws.machinelearning#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The location of an Amazon S3 bucket or directory to receive the operation results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: ':', '//', '/./', '/../'.</p>"
          }
        },
        "Message": {
          "target": "com.amazonaws.machinelearning#Message",
          "traits": {
            "smithy.api#documentation": "<p>A description of the most recent details about processing the batch prediction request.</p>"
          }
        },
        "ComputeTime": {
          "target": "com.amazonaws.machinelearning#LongType"
        },
        "FinishedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime"
        },
        "StartedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime"
        },
        "TotalRecordCount": {
          "target": "com.amazonaws.machinelearning#LongType"
        },
        "InvalidRecordCount": {
          "target": "com.amazonaws.machinelearning#LongType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>GetBatchPrediction</code> operation.</p>\n        <p> The content consists of the detailed metadata, the status, and the data file information of a\n            <code>Batch Prediction</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#BatchPredictionFilterVariable": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A list of the variables to use in searching or filtering <code>BatchPrediction</code>.</p>\n        <ul>\n            <li>\n               <p>\n                  <code>CreatedAt</code> - Sets the search criteria to <code>BatchPrediction</code> creation date.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code> - Sets the search criteria to <code>BatchPrediction</code> status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code> - Sets the search criteria to the contents of <code>BatchPrediction</code> \n                  <code>Name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>BatchPrediction</code> creation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>MLModelId</code> - Sets the search criteria to the <code>MLModel</code> used in the <code>BatchPrediction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DataSourceId</code> - Sets the search criteria to the <code>DataSource</code> used in the <code>BatchPrediction</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DataURI</code> - Sets the search criteria to the data file(s) used in the <code>BatchPrediction</code>. The URL can \n                identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</p>\n            </li>\n         </ul>",
        "smithy.api#enum": [
          {
            "value": "CreatedAt",
            "name": "CREATED_AT"
          },
          {
            "value": "LastUpdatedAt",
            "name": "LAST_UPDATED_AT"
          },
          {
            "value": "Status",
            "name": "STATUS"
          },
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "IAMUser",
            "name": "IAM_USER"
          },
          {
            "value": "MLModelId",
            "name": "ML_MODEL_ID"
          },
          {
            "value": "DataSourceId",
            "name": "DATASOURCE_ID"
          },
          {
            "value": "DataURI",
            "name": "DATA_URI"
          }
        ]
      }
    },
    "com.amazonaws.machinelearning#BatchPredictions": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.machinelearning#BatchPrediction"
      }
    },
    "com.amazonaws.machinelearning#ComparatorValue": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The value specified in a filtering condition. The <code>ComparatorValue</code> becomes the reference value when matching or evaluating \n            data values in filtering and searching functions.</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 1024
        },
        "smithy.api#pattern": ".*\\S.*|^$"
      }
    },
    "com.amazonaws.machinelearning#ComputeStatistics": {
      "type": "boolean",
      "traits": {
        "smithy.api#default": false
      }
    },
    "com.amazonaws.machinelearning#CreateBatchPrediction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateBatchPredictionInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateBatchPredictionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Generates predictions for a group of observations. The observations to process exist in one or more data files referenced \n            by a <code>DataSource</code>. This operation creates a new <code>BatchPrediction</code>, and uses an <code>MLModel</code> and the data \n            files referenced by the <code>DataSource</code> as information sources. \n        </p>\n   \n        <p>\n            <code>CreateBatchPrediction</code> is an asynchronous operation. In response to <code>CreateBatchPrediction</code>, \n        Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>BatchPrediction</code> status to <code>PENDING</code>. \n        After the <code>BatchPrediction</code> completes, Amazon ML sets the status to <code>COMPLETED</code>. \n        </p>\n        <p>You can poll for status updates by using the <a>GetBatchPrediction</a> operation and checking the <code>Status</code> parameter of the result. After the <code>COMPLETED</code> status appears, \n            the results are available in the location specified by the <code>OutputUri</code> parameter.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateBatchPredictionInput": {
      "type": "structure",
      "members": {
        "BatchPredictionId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the\n                <code>BatchPrediction</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "BatchPredictionName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>BatchPrediction</code>. <code>BatchPredictionName</code> can only use the UTF-8 character set.</p>"
          }
        },
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>MLModel</code> that will generate predictions for the group of observations. </p>",
            "smithy.api#required": {}
          }
        },
        "BatchPredictionDataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>DataSource</code> that points to the group of observations to predict.</p>",
            "smithy.api#required": {}
          }
        },
        "OutputUri": {
          "target": "com.amazonaws.machinelearning#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The location of an Amazon Simple Storage Service (Amazon S3) bucket or directory to store the batch prediction results. The following substrings are not allowed in the <code>s3 key</code> portion of the <code>outputURI</code> field: ':', '//', '/./', '/../'.</p> \n        <p>Amazon ML needs permissions to store and retrieve the logs on your behalf. For information about how to set permissions, see the <a href=\"https://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon Machine Learning Developer Guide</a>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateBatchPredictionOutput": {
      "type": "structure",
      "members": {
        "BatchPredictionId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This value is identical to the value of the \n            <code>BatchPredictionId</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateBatchPrediction</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n         <p>The <code>CreateBatchPrediction</code> operation is asynchronous. You can poll for status updates by using the <code>>GetBatchPrediction</code> \n            operation and checking the <code>Status</code> parameter of the result.\n        </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRDS": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromRDSInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromRDSOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataSource</code> object from an <a href=\"http://aws.amazon.com/rds/\"> Amazon Relational Database Service</a> (Amazon RDS). A <code>DataSource</code> references data that can be used to perform <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.</p>\n       \n        <p>\n            <code>CreateDataSourceFromRDS</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRDS</code>, \n         Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. \n            After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. \n            <code>DataSource</code> in the <code>COMPLETED</code> or <code>PENDING</code> state can\n          be used only to perform <code>>CreateMLModel</code>>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.\n        </p> \n        <p>\n          If Amazon ML cannot accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> attribute of the <code>GetDataSource</code> operation response.\n        </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRDSInput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>. Typically, an Amazon Resource Number (ARN) \n            becomes the ID for a <code>DataSource</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>DataSource</code>.</p>"
          }
        },
        "RDSData": {
          "target": "com.amazonaws.machinelearning#RDSDataSpec",
          "traits": {
            "smithy.api#documentation": "<p>The data specification of an Amazon RDS <code>DataSource</code>:</p>\n        <ul>\n            <li>\n               <p>DatabaseInformation -</p>\n                <ul>\n                  <li>\n                     <p>\n                        <code>DatabaseName</code> - The name of the Amazon RDS database.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>InstanceIdentifier </code> - A unique identifier for the Amazon RDS database instance.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>DatabaseCredentials - AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon RDS database.</p>\n            </li>\n            <li>\n               <p>ResourceRole - A role (DataPipelineDefaultResourceRole) assumed by an EC2 instance to carry out the copy task from Amazon RDS to Amazon \n\t\t\tSimple Storage Service (Amazon S3). For more information, see <a href=\"https://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines.</p>\n            </li>\n            <li>\n               <p>ServiceRole - A role (DataPipelineDefaultRole) assumed by the AWS Data Pipeline service to monitor the progress of the copy task from Amazon RDS\n\t\t\tto Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-iam-roles.html\">Role templates</a> for data pipelines.</p>\n            </li>\n            <li>\n               <p>SecurityInfo - The security information to use to access an RDS DB instance. You need to set up appropriate ingress rules for the security entity IDs provided to allow access to the Amazon RDS instance. Specify a [<code>SubnetId</code>, <code>SecurityGroupIds</code>] pair for a VPC-based RDS DB instance.</p>\n            </li>\n            <li>\n               <p>SelectSqlQuery - A query that is used to retrieve the observation data for the <code>Datasource</code>.</p>\n            </li>\n            <li>\n               <p>S3StagingLocation - The Amazon S3 location for staging Amazon RDS data. The data retrieved from Amazon RDS using <code>SelectSqlQuery</code> is stored in this location.</p>\n            </li>\n            <li>\n               <p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p>\n            </li>\n            <li>\n               <p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p>\n            </li>\n            <li>\n               <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>Datasource</code>. </p>\n               <p> Sample - \n            <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.machinelearning#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>The role that Amazon ML assumes on behalf of the user to create and activate a data\n          pipeline in the user's account and copy data using the <code>SelectSqlQuery</code> query from Amazon RDS to Amazon S3.</p>\n        <p></p>",
            "smithy.api#required": {}
          }
        },
        "ComputeStatistics": {
          "target": "com.amazonaws.machinelearning#ComputeStatistics",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by \n            a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training.\n            This parameter must be set to <code>true</code> if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training.\n            </p>"
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRDSOutput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the datasource. This value should be identical to the value of the \n            <code>DataSourceID</code> in the request.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateDataSourceFromRDS</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n         <p>The <code>CreateDataSourceFromRDS</code>> operation is asynchronous. You can poll for updates by using\n        the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. You can \n            inspect the <code>Message</code> when <code>Status</code> shows up as <code>FAILED</code>. You can\n            also check the progress of the copy operation by going to the <code>DataPipeline</code> console and looking up\n            the pipeline using the <code>pipelineId </code> from the describe call.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRedshift": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromRedshiftInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromRedshiftOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataSource</code> from a database hosted on an Amazon Redshift cluster. A \n\t\t<code>DataSource</code> references data that can be used to perform either <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> \n\t\toperations.</p>\n       \n        <p>\n            <code>CreateDataSourceFromRedshift</code> is an asynchronous operation. In response to <code>CreateDataSourceFromRedshift</code>, Amazon Machine Learning (Amazon ML) immediately returns and sets the <code>DataSource</code> status to <code>PENDING</code>. \n            After the <code>DataSource</code> is created and ready for use, Amazon ML sets the <code>Status</code> parameter to <code>COMPLETED</code>. \n          <code>DataSource</code> in <code>COMPLETED</code> or <code>PENDING</code> states can be\n          used to perform only <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or <code>CreateBatchPrediction</code> operations.\n        </p> \n\n        <p>\n          If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to <code>FAILED</code> and includes an error message in the <code>Message</code> \n\t\t  attribute of the <code>GetDataSource</code> operation response.\n        </p>\n\n        <p>The observations should be contained in the database hosted on an Amazon Redshift cluster\n            and should be specified by a <code>SelectSqlQuery</code> query. Amazon ML executes an\n                <code>Unload</code> command in Amazon Redshift to transfer the result set of\n                the <code>SelectSqlQuery</code> query to <code>S3StagingLocation</code>.</p>\n\n        <p>After the <code>DataSource</code> has been created, it's ready for use in evaluations and\n            batch predictions. If you plan to use the <code>DataSource</code> to train an\n                <code>MLModel</code>, the <code>DataSource</code> also requires a recipe. A recipe\n            describes how each input variable will be used in training an <code>MLModel</code>. Will\n            the variable be included or excluded from training? Will the variable be manipulated;\n            for example, will it be combined with another variable or will it be split apart into\n            word combinations? The recipe provides answers to these questions.</p>\n         <p>You can't change an existing datasource, but you can copy and modify the settings from an\n            existing Amazon Redshift datasource to create a new datasource. To do so, call\n                <code>GetDataSource</code> for an existing datasource and copy the values to a\n                <code>CreateDataSource</code> call. Change the settings that you want to change and\n            make sure that all required fields have the appropriate values.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRedshiftInput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>DataSource</code>. </p>"
          }
        },
        "DataSpec": {
          "target": "com.amazonaws.machinelearning#RedshiftDataSpec",
          "traits": {
            "smithy.api#documentation": "<p>The data specification of an Amazon Redshift <code>DataSource</code>:</p>\n        <ul>\n            <li>\n               <p>DatabaseInformation -</p> \n               <ul>\n                  <li>\n                     <p>\n                        <code>DatabaseName</code> - The name of the Amazon Redshift database.</p>\n                  </li>\n                  <li>\n                     <p>\n                        <code> ClusterIdentifier</code> - The unique ID for the Amazon Redshift cluster.</p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>DatabaseCredentials - The AWS Identity and Access Management (IAM) credentials that are used to connect to the Amazon Redshift database.</p>\n            </li>\n            <li>\n               <p>SelectSqlQuery - The query that is used to retrieve the observation data for the \n\t\t\t<code>Datasource</code>.</p>\n            </li>\n            <li>\n               <p>S3StagingLocation - The Amazon Simple Storage Service (Amazon S3) location for staging Amazon\n                    Redshift data. The data retrieved from Amazon Redshift using\n                        the <code>SelectSqlQuery</code> query is stored in this location.</p>\n            </li>\n            <li>\n               <p>DataSchemaUri - The Amazon S3 location of the <code>DataSchema</code>.</p>\n            </li>\n            <li>\n               <p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p>\n            </li>\n            <li>\n               <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>DataSource</code>.</p>\n               <p> Sample - \n            <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "RoleARN": {
          "target": "com.amazonaws.machinelearning#RoleARN",
          "traits": {
            "smithy.api#documentation": "<p>A fully specified role Amazon Resource Name (ARN). Amazon ML assumes the role on behalf of the user to create the following:</p>\n        \n           <ul>\n            <li>\n               <p>A security group to allow Amazon ML to execute the <code>SelectSqlQuery</code> query on an Amazon Redshift cluster</p>\n            </li>\n            <li>\n               <p>An Amazon S3 bucket policy to grant Amazon ML read/write permissions on the <code>S3StagingLocation</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ComputeStatistics": {
          "target": "com.amazonaws.machinelearning#ComputeStatistics",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by \n            a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training.\n           This parameter must be set to <code>true</code> if the <code>DataSource</code> needs to\n          be used for <code>MLModel</code> training.</p>"
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromRedshiftOutput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the datasource. This value should be identical to the value of the \n            <code>DataSourceID</code> in the request.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateDataSourceFromRedshift</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n         <p>The <code>CreateDataSourceFromRedshift</code> operation is asynchronous. You can poll for updates by using\n        the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromS3": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromS3Input"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateDataSourceFromS3Output"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a <code>DataSource</code> object. A <code>DataSource</code> references data that\n          can be used to perform  <code>CreateMLModel</code>, <code>CreateEvaluation</code>, or\n          <code>CreateBatchPrediction</code> operations.</p>\n        \n        <p>\n            <code>CreateDataSourceFromS3</code> is an asynchronous operation. In response to\n                <code>CreateDataSourceFromS3</code>, Amazon Machine Learning (Amazon ML) immediately\n            returns and sets the <code>DataSource</code> status to <code>PENDING</code>. After the\n                <code>DataSource</code> has been created and is ready for use, Amazon ML sets the\n                <code>Status</code> parameter to <code>COMPLETED</code>. <code>DataSource</code> in\n            the <code>COMPLETED</code> or <code>PENDING</code> state can be used to perform only\n                <code>CreateMLModel</code>, <code>CreateEvaluation</code> or\n                <code>CreateBatchPrediction</code> operations. </p> \n       \n        <p> If Amazon ML can't accept the input source, it sets the <code>Status</code> parameter to\n                <code>FAILED</code> and includes an error message in the <code>Message</code>\n            attribute of the <code>GetDataSource</code> operation response. </p>\n\n        <p>The observation data used in a <code>DataSource</code> should be ready to use; that is,\n            it should have a consistent structure, and missing data values should be kept to a\n            minimum. The observation data must reside in one or more .csv files in an Amazon Simple\n            Storage Service (Amazon S3) location, along with a schema that describes the data items\n            by name and type. The same schema must be used for all of the data files referenced by\n            the <code>DataSource</code>. </p>\n        <p>After the <code>DataSource</code> has been created, it's ready to use in evaluations and\n            batch predictions. If you plan to use the <code>DataSource</code> to train an\n                <code>MLModel</code>, the <code>DataSource</code> also needs a recipe. A recipe\n            describes how each input variable will be used in training an <code>MLModel</code>. Will\n            the variable be included or excluded from training? Will the variable be manipulated;\n            for example, will it be combined with another variable or will it be split apart into\n            word combinations? The recipe provides answers to these questions.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromS3Input": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied identifier that uniquely identifies the <code>DataSource</code>. </p>",
            "smithy.api#required": {}
          }
        },
        "DataSourceName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>DataSource</code>. </p>"
          }
        },
        "DataSpec": {
          "target": "com.amazonaws.machinelearning#S3DataSpec",
          "traits": {
            "smithy.api#documentation": "<p>The data specification of a <code>DataSource</code>:</p>\n        <ul>\n            <li>\n               <p>DataLocationS3 - The Amazon S3 location of the observation data.</p>\n            </li>\n            <li>\n               <p>DataSchemaLocationS3 - The Amazon S3 location of the <code>DataSchema</code>.</p>\n            </li>\n            <li>\n               <p>DataSchema - A JSON string representing the schema. This is not required if <code>DataSchemaUri</code> is specified. </p>\n            </li>\n            <li>\n               <p>DataRearrangement - A JSON string that represents the splitting and rearrangement requirements for the <code>Datasource</code>. </p>\n               <p> Sample - \n            <code> \"{\\\"splitting\\\":{\\\"percentBegin\\\":10,\\\"percentEnd\\\":60}}\"</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "ComputeStatistics": {
          "target": "com.amazonaws.machinelearning#ComputeStatistics",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>The compute statistics for a <code>DataSource</code>. The statistics are generated from the observation data referenced by \n            a <code>DataSource</code>. Amazon ML uses the statistics internally during <code>MLModel</code> training.\n            This parameter must be set to <code>true</code> if the <code></code>DataSource<code></code> needs to be used for <code>MLModel</code> training.</p>"
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateDataSourceFromS3Output": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>. This value should be identical to the value of the \n            <code>DataSourceID</code> in the request.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateDataSourceFromS3</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n        <p>The <code>CreateDataSourceFromS3</code> operation is asynchronous. You can poll for updates by using\n            the <code>GetBatchPrediction</code> operation and checking the <code>Status</code> parameter. </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateEvaluationInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateEvaluationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <code>Evaluation</code> of an <code>MLModel</code>. An <code>MLModel</code> is evaluated on a set of observations associated to a <code>DataSource</code>. Like a <code>DataSource</code> \n          for an <code>MLModel</code>, the <code>DataSource</code> for an <code>Evaluation</code> contains values for the <code>Target Variable</code>. The <code>Evaluation</code> compares the predicted result for each observation to the actual outcome and provides a \n            summary so that you know how effective the <code>MLModel</code> functions on the test\n          data. Evaluation generates a relevant performance metric, such as BinaryAUC, RegressionRMSE or MulticlassAvgFScore based on the corresponding <code>MLModelType</code>: <code>BINARY</code>, <code>REGRESSION</code> or <code>MULTICLASS</code>.\n\n        </p>\n        <p>\n            <code>CreateEvaluation</code> is an asynchronous operation. In response to <code>CreateEvaluation</code>, Amazon Machine Learning (Amazon ML) immediately \n            returns and sets the evaluation status to <code>PENDING</code>. After the <code>Evaluation</code> is created and ready for use, \n            Amazon ML sets the status to <code>COMPLETED</code>. \n        </p>\n        <p>You can use the <code>GetEvaluation</code> operation to check progress of the evaluation during the creation operation.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateEvaluationInput": {
      "type": "structure",
      "members": {
        "EvaluationId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>Evaluation</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EvaluationName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>Evaluation</code>.</p>"
          }
        },
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>MLModel</code> to evaluate.</p> \n        <p>The schema used in creating the <code>MLModel</code> must match the schema of the <code>DataSource</code> used in the <code>Evaluation</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EvaluationDataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the <code>DataSource</code> for the evaluation. The schema of the <code>DataSource</code> \n            must match the schema used to create the <code>MLModel</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateEvaluationOutput": {
      "type": "structure",
      "members": {
        "EvaluationId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value should be identical to the value of the \n            <code>EvaluationId</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateEvaluation</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n        <p>\n            <code>CreateEvaluation</code> operation is asynchronous. You can poll for status updates\n          by using the <code>GetEvcaluation</code> operation \n            and checking the <code>Status</code> parameter.\n        </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateMLModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateMLModelInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateMLModelOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#IdempotentParameterMismatchException"
        },
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new <code>MLModel</code> using the <code>DataSource</code> and the recipe as\n            information sources. </p>\n        <p>An <code>MLModel</code> is nearly immutable. Users can update only the\n                <code>MLModelName</code> and the <code>ScoreThreshold</code> in an\n                <code>MLModel</code> without creating a new <code>MLModel</code>. </p>\n        <p>\n            <code>CreateMLModel</code> is an asynchronous operation. In response to\n                <code>CreateMLModel</code>, Amazon Machine Learning (Amazon ML) immediately returns\n            and sets the <code>MLModel</code> status to <code>PENDING</code>. After the\n                <code>MLModel</code> has been created and ready is for use, Amazon ML sets the\n            status to <code>COMPLETED</code>. </p>\n        <p>You can use the <code>GetMLModel</code> operation to check the progress of the\n                <code>MLModel</code> during the creation operation.</p>\n\n        <p>\n           <code>CreateMLModel</code> requires a <code>DataSource</code> with computed statistics,\n          which can be created by setting <code>ComputeStatistics</code> to <code>true</code> in\n          <code>CreateDataSourceFromRDS</code>, <code>CreateDataSourceFromS3</code>, or\n          <code>CreateDataSourceFromRedshift</code> operations.\n        </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateMLModelInput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "MLModelName": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>MLModel</code>.</p>"
          }
        },
        "MLModelType": {
          "target": "com.amazonaws.machinelearning#MLModelType",
          "traits": {
            "smithy.api#documentation": "<p>The category of supervised learning that this <code>MLModel</code> will address. Choose from the following types:</p>\n         <ul>\n            <li>\n               <p>Choose <code>REGRESSION</code> if the <code>MLModel</code> will be used to predict a numeric value.</p>\n            </li>\n            <li>\n               <p>Choose <code>BINARY</code> if the <code>MLModel</code> result has two possible values.</p>\n            </li>\n            <li>\n               <p>Choose <code>MULTICLASS</code> if the <code>MLModel</code> result has a limited number of values.</p> \n            </li>\n         </ul>\n        <p> For more information, see the <a href=\"https://docs.aws.amazon.com/machine-learning/latest/dg\">Amazon Machine Learning Developer Guide</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Parameters": {
          "target": "com.amazonaws.machinelearning#TrainingParameters",
          "traits": {
            "smithy.api#documentation": "<p>A list of the training parameters in the <code>MLModel</code>. The list is implemented as\n            a map of key-value pairs.</p>\n        <p>The following is the current set of training parameters:</p>\n        <ul>\n            <li>\n               <p>\n                  <code>sgd.maxMLModelSizeInBytes</code> - The maximum allowed size of the model. Depending on the\n                    input data, the size of the model might affect its performance.</p> \n                <p> The value is an integer that ranges from <code>100000</code> to <code>2147483648</code>. The default value is <code>33554432</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>sgd.maxPasses</code> - The number of times that the training process traverses the\n                    observations to build the <code>MLModel</code>. The value is an integer that\n                    ranges from <code>1</code> to <code>10000</code>. The default value is\n                        <code>10</code>.</p>\n            </li>\n            <li>\n                <p>\n                  <code>sgd.shuffleType</code> - Whether Amazon ML shuffles the training data. Shuffling\n                    the data improves a model's ability to find the optimal solution for a variety\n                    of data types. The valid values are <code>auto</code> and <code>none</code>. The\n                    default value is <code>none</code>. We strongly recommend that you shuffle your data.</p>\n            </li>\n            <li>\n               <p>\n                  <code>sgd.l1RegularizationAmount</code> - The coefficient regularization L1 norm. It controls\n                    overfitting the data by penalizing large coefficients. This tends to drive\n                    coefficients to zero, resulting in a sparse feature set. If you use this\n                    parameter, start by specifying a small value, such as <code>1.0E-08</code>.</p>\n                <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>.\n                    The default is to not use L1 normalization. This parameter can't be used when\n                        <code>L2</code> is specified. Use this parameter sparingly.</p>\n            </li>\n            <li>\n               <p>\n                  <code>sgd.l2RegularizationAmount</code> - The coefficient regularization L2 norm. It controls\n                    overfitting the data by penalizing large coefficients. This tends to drive\n                    coefficients to small, nonzero values. If you use this parameter, start by\n                    specifying a small value, such as <code>1.0E-08</code>.</p>\n                <p>The value is a double that ranges from <code>0</code> to <code>MAX_DOUBLE</code>.\n                    The default is to not use L2 normalization. This parameter can't be used when\n                        <code>L1</code> is specified. Use this parameter sparingly.</p>\n            </li>\n         </ul>"
          }
        },
        "TrainingDataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The <code>DataSource</code> that points to the training data.</p>",
            "smithy.api#required": {}
          }
        },
        "Recipe": {
          "target": "com.amazonaws.machinelearning#Recipe",
          "traits": {
            "smithy.api#documentation": "<p>The data recipe for creating the <code>MLModel</code>. You must specify either the recipe\n            or its URI. If you don't specify a recipe or its URI, Amazon ML creates a default.</p>"
          }
        },
        "RecipeUri": {
          "target": "com.amazonaws.machinelearning#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Simple Storage Service (Amazon S3) location and file name that contains the <code>MLModel</code> recipe. You must specify either the recipe or its URI. If you don't specify a recipe or its URI, Amazon ML creates a default.</p>"
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateMLModelOutput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the \n            <code>MLModelId</code> in the request.\n        </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>CreateMLModel</code> operation, and is an acknowledgement that Amazon ML received the request.</p>\n        <p>The <code>CreateMLModel</code> operation is asynchronous. You can poll for status updates by using the \n            <code>GetMLModel</code> operation and checking the <code>Status</code> parameter.\n        </p>"
      }
    },
    "com.amazonaws.machinelearning#CreateRealtimeEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#CreateRealtimeEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#CreateRealtimeEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a real-time endpoint for the <code>MLModel</code>. The endpoint contains the URI of the <code>MLModel</code>; that is, the location to send real-time prediction requests for the specified <code>MLModel</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#CreateRealtimeEndpointInput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#CreateRealtimeEndpointOutput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the \n            <code>MLModelId</code> in the request.</p>"
          }
        },
        "RealtimeEndpointInfo": {
          "target": "com.amazonaws.machinelearning#RealtimeEndpointInfo",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint information of the <code>MLModel</code> \n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <code>CreateRealtimeEndpoint</code> operation.</p>\n        <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>.</p>\n        <p>\n            <b>Note:</b> The endpoint information includes the URI of the <code>MLModel</code>; that is, the location to send online prediction requests for the specified <code>MLModel</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#DataRearrangement": {
      "type": "string"
    },
    "com.amazonaws.machinelearning#DataSchema": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The schema of a <code>DataSource</code>. The <code>DataSchema</code> \n           defines the structure of the observation data in the data file(s) \n           referenced in the <code>DataSource</code>. The DataSource schema \n           is expressed in JSON format.</p>\n         <p>\n            <code>DataSchema</code> is not required if you specify a <code>DataSchemaUri</code>\n         </p> \n\n         <p>{ \"version\": \"1.0\", \"recordAnnotationFieldName\": \"F1\", \"recordWeightFieldName\": \"F2\", \"targetFieldName\": \"F3\", \"dataFormat\": \"CSV\", \"dataFileContainsHeader\": true, \"variables\": [ { \"fieldName\": \"F1\", \"fieldType\": \"TEXT\" }, { \"fieldName\": \"F2\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F3\", \"fieldType\": \"CATEGORICAL\" }, { \"fieldName\": \"F4\", \"fieldType\": \"NUMERIC\" }, { \"fieldName\": \"F5\", \"fieldType\": \"CATEGORICAL\" }, { \"fieldName\": \"F6\", \"fieldType\": \"TEXT\" }, { \"fieldName\": \"F7\", \"fieldType\": \"WEIGHTED_INT_SEQUENCE\" }, { \"fieldName\": \"F8\", \"fieldType\": \"WEIGHTED_STRING_SEQUENCE\" } ], \"excludedVariableNames\": [ \"F6\" ] }</p>",
        "smithy.api#length": {
          "min": 0,
          "max": 131071
        }
      }
    },
    "com.amazonaws.machinelearning#DataSource": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID that is assigned to the <code>DataSource</code> during creation.</p>"
          }
        },
        "DataLocationS3": {
          "target": "com.amazonaws.machinelearning#S3Url",
          "traits": {
            "smithy.api#documentation": "<p>The location and name of the data in Amazon Simple Storage Service (Amazon S3) that is used by a <code>DataSource</code>.</p>"
          }
        },
        "DataRearrangement": {
          "target": "com.amazonaws.machinelearning#DataRearrangement",
          "traits": {
            "smithy.api#documentation": "<p>A JSON string that represents the splitting and rearrangement requirement used when this <code>DataSource</code>\n        was created.</p>"
          }
        },
        "CreatedByIamUser": {
          "target": "com.amazonaws.machinelearning#AwsUserArn",
          "traits": {
            "smithy.api#documentation": "<p>The AWS user account from which the <code>DataSource</code> was created. The account type can be either an AWS root account or an AWS Identity and Access Management (IAM) user account.</p>"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime",
          "traits": {
            "smithy.api#documentation": "<p>The time that the <code>DataSource</code> was created. The time is expressed in epoch time.</p>"
          }
        },
        "LastUpdatedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime",
          "traits": {
            "smithy.api#documentation": "<p>The time of the most recent edit to the \n      <code>BatchPrediction</code>. The time is expressed in epoch time.</p>"
          }
        },
        "DataSizeInBytes": {
          "target": "com.amazonaws.machinelearning#LongType",
          "traits": {
            "smithy.api#documentation": "<p>The total number of observations contained in the data files that the <code>DataSource</code> references.</p>"
          }
        },
        "NumberOfFiles": {
          "target": "com.amazonaws.machinelearning#LongType",
          "traits": {
            "smithy.api#documentation": "<p>The number of data files referenced by the <code>DataSource</code>.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.machinelearning#EntityName",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied name or description of the <code>DataSource</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.machinelearning#EntityStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the <code>DataSource</code>. This element can have one of the following values: </p>\n         <ul>\n            <li>\n               <p>PENDING\t- Amazon Machine Learning (Amazon ML) submitted a request to create a <code>DataSource</code>.</p>\n            </li>\n            <li>\n               <p>INPROGRESS - The creation process is underway.</p>\n            </li>\n            <li>\n               <p>FAILED - The request to create a <code>DataSource</code> did not run to completion. It is not usable.</p>\n            </li>\n            <li>\n               <p>COMPLETED - The creation process completed successfully.</p>\n            </li>\n            <li>\n               <p>DELETED\t- The <code>DataSource</code> is marked as deleted. It is not usable.</p>\n            </li>\n         </ul>"
          }
        },
        "Message": {
          "target": "com.amazonaws.machinelearning#Message",
          "traits": {
            "smithy.api#documentation": "<p>A description of the most recent details about creating the <code>DataSource</code>.</p>"
          }
        },
        "RedshiftMetadata": {
          "target": "com.amazonaws.machinelearning#RedshiftMetadata"
        },
        "RDSMetadata": {
          "target": "com.amazonaws.machinelearning#RDSMetadata"
        },
        "RoleARN": {
          "target": "com.amazonaws.machinelearning#RoleARN"
        },
        "ComputeStatistics": {
          "target": "com.amazonaws.machinelearning#ComputeStatistics",
          "traits": {
            "smithy.api#default": false,
            "smithy.api#documentation": "<p>\n          The parameter is <code>true</code> if statistics need to be generated from the observation data.\n      </p>"
          }
        },
        "ComputeTime": {
          "target": "com.amazonaws.machinelearning#LongType"
        },
        "FinishedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime"
        },
        "StartedAt": {
          "target": "com.amazonaws.machinelearning#EpochTime"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of the <code>GetDataSource</code> operation. </p>\n         <p>  The content consists of the detailed metadata and data file information and the current status of the <code>DataSource</code>. </p>"
      }
    },
    "com.amazonaws.machinelearning#DataSourceFilterVariable": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>A list of the variables to use in searching or filtering <code>DataSource</code>.</p>    \n        <ul>\n            <li>\n               <p>\n                  <code>CreatedAt</code> - Sets the search criteria to <code>DataSource</code> creation date.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code> - Sets the search criteria to <code>DataSource</code> status.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Name</code> - Sets the search criteria to the contents of <code>DataSource</code> \n                  <code>Name</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DataUri</code> - Sets the search criteria to the URI of data files used to create the <code>DataSource</code>. The URI can identify either a file or an Amazon Simple Storage Service (Amazon S3) bucket or directory.</p>\n            </li>\n            <li>\n               <p>\n                  <code>IAMUser</code> - Sets the search criteria to the user account that invoked the <code>DataSource</code> creation.</p>\n            </li>\n         </ul>\n        \n        <p>\n            <b>Note:</b> \n            The variable names should match the variable names in the <code>DataSource</code>.</p>",
        "smithy.api#enum": [
          {
            "value": "CreatedAt",
            "name": "CREATED_AT"
          },
          {
            "value": "LastUpdatedAt",
            "name": "LAST_UPDATED_AT"
          },
          {
            "value": "Status",
            "name": "STATUS"
          },
          {
            "value": "Name",
            "name": "NAME"
          },
          {
            "value": "DataLocationS3",
            "name": "DATA_URI"
          },
          {
            "value": "IAMUser",
            "name": "IAM_USER"
          }
        ]
      }
    },
    "com.amazonaws.machinelearning#DataSources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.machinelearning#DataSource"
      }
    },
    "com.amazonaws.machinelearning#DeleteBatchPrediction": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteBatchPredictionInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteBatchPredictionOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns the DELETED status to a <code>BatchPrediction</code>, rendering it unusable.</p>\n        <p>After using the <code>DeleteBatchPrediction</code> operation, you can use the <a>GetBatchPrediction</a> \n            operation to verify that the status of the <code>BatchPrediction</code> changed to DELETED.</p>\n        \n        <p>\n            <b>Caution:</b> The result of the <code>DeleteBatchPrediction</code> operation is irreversible.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteBatchPredictionInput": {
      "type": "structure",
      "members": {
        "BatchPredictionId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteBatchPredictionOutput": {
      "type": "structure",
      "members": {
        "BatchPredictionId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>BatchPrediction</code>. This value should be identical to the value of the <code>BatchPredictionID</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>DeleteBatchPrediction</code> operation.</p>        \n        <p>You can use the <code>GetBatchPrediction</code> operation and check the value of the <code>Status</code> parameter to see whether a \n            <code>BatchPrediction</code> is marked as <code>DELETED</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteDataSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteDataSourceInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteDataSourceOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns the DELETED status to a <code>DataSource</code>, rendering it unusable.</p>\n        <p>After using the <code>DeleteDataSource</code> operation, you can use the <a>GetDataSource</a> operation to verify that the status of the <code>DataSource</code> changed to DELETED.</p>\n        <p>\n            <b>Caution:</b> The results of the <code>DeleteDataSource</code> operation are irreversible.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteDataSourceInput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteDataSourceOutput": {
      "type": "structure",
      "members": {
        "DataSourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>DataSource</code>. This value should be identical to the value of the <code>DataSourceID</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>DeleteDataSource</code> operation.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteEvaluation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteEvaluationInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteEvaluationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns the <code>DELETED</code> status to an <code>Evaluation</code>, rendering it unusable.</p>\n\n        <p>After invoking the <code>DeleteEvaluation</code> operation, you can use the\n          <code>GetEvaluation</code> operation to verify that the status of the <code>Evaluation</code> changed to <code>DELETED</code>.</p>\n        <p>\n            <b>Caution:</b> The results of the <code>DeleteEvaluation</code> operation are irreversible.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteEvaluationInput": {
      "type": "structure",
      "members": {
        "EvaluationId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>Evaluation</code> to delete.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteEvaluationOutput": {
      "type": "structure",
      "members": {
        "EvaluationId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>Evaluation</code>. This value should be identical to the value of the <code>EvaluationId</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p> Represents the output of a <code>DeleteEvaluation</code> operation. The output indicates that Amazon Machine Learning (Amazon ML) received the request.</p>\n        <p>You can use the <code>GetEvaluation</code> operation and check the value of the <code>Status</code> parameter to see whether an \n            <code>Evaluation</code> is marked as <code>DELETED</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteMLModel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteMLModelInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteMLModelOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Assigns the <code>DELETED</code> status to an <code>MLModel</code>, rendering it unusable.</p>\n        <p>After using the <code>DeleteMLModel</code> operation, you can use the\n          <code>GetMLModel</code> operation to verify that the status of the <code>MLModel</code> changed to DELETED.</p>\n        \n        <p>\n            <b>Caution:</b> The result of the <code>DeleteMLModel</code> operation is irreversible.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteMLModelInput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteMLModelOutput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the <code>MLModelID</code> in the request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of a <code>DeleteMLModel</code> operation.</p>\n        <p>You can use the <code>GetMLModel</code> operation and check the value of the <code>Status</code> parameter to see whether an \n            <code>MLModel</code> is marked as <code>DELETED</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteRealtimeEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteRealtimeEndpointInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteRealtimeEndpointOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a real time endpoint of an <code>MLModel</code>.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteRealtimeEndpointInput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID assigned to the <code>MLModel</code> during creation.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteRealtimeEndpointOutput": {
      "type": "structure",
      "members": {
        "MLModelId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>A user-supplied ID that uniquely identifies the <code>MLModel</code>. This value should be identical to the value of the \n            <code>MLModelId</code> in the request.</p>"
          }
        },
        "RealtimeEndpointInfo": {
          "target": "com.amazonaws.machinelearning#RealtimeEndpointInfo",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint information of the <code>MLModel</code> \n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Represents the output of an <code>DeleteRealtimeEndpoint</code> operation.</p>\n        <p>The result contains the <code>MLModelId</code> and the endpoint information for the <code>MLModel</code>. </p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteTags": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.machinelearning#DeleteTagsInput"
      },
      "output": {
        "target": "com.amazonaws.machinelearning#DeleteTagsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.machinelearning#InternalServerException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidInputException"
        },
        {
          "target": "com.amazonaws.machinelearning#InvalidTagException"
        },
        {
          "target": "com.amazonaws.machinelearning#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified tags associated with an ML object. After this operation is complete, you can't recover deleted tags.</p>\n\t\t       <p>If you specify a tag that doesn't exist, Amazon ML ignores it.</p>"
      }
    },
    "com.amazonaws.machinelearning#DeleteTagsInput": {
      "type": "structure",
      "members": {
        "TagKeys": {
          "target": "com.amazonaws.machinelearning#TagKeyList",
          "traits": {
            "smithy.api#documentation": "<p>One or more tags to delete.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the tagged ML object. For example, <code>exampleModelId</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.machinelearning#TaggableResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the tagged ML object.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.machinelearning#DeleteTagsOutput": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.machinelearning#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the ML object from which tags were deleted.</p>"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.machinelearning#TaggableResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the ML object from which tags were deleted.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Amazon ML returns the following elements.</p>"
      }
    },
    "com.amazonaws.machinelearning#DescribeBatchPredictions": {
      "type": "operation",
      "input": {
[...]
