{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.macie#AWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[0-9]{12}$"
      }
    },
    "com.amazonaws.macie#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.macie#ExceptionMessage"
        },
        "resourceType": {
          "target": "com.amazonaws.macie#ResourceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) You do not have required permissions to access the requested resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.macie#AssociateMemberAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#AssociateMemberAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        },
        {
          "target": "com.amazonaws.macie#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Associates a specified Amazon Web Services account with Amazon Macie Classic as a member\n      account.</p>"
      }
    },
    "com.amazonaws.macie#AssociateMemberAccountRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The ID of the Amazon Web Services account that you want to associate with Amazon Macie\n      Classic as a member account.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie#AssociateS3Resources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#AssociateS3ResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.macie#AssociateS3ResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        },
        {
          "target": "com.amazonaws.macie#LimitExceededException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Associates specified S3 resources with Amazon Macie Classic for\n      monitoring and data classification. If <code>memberAccountId</code> isn't specified, the action associates\n      specified S3 resources with Macie Classic for the current Macie Classic administrator account.\n      If <code>memberAccountId</code> is specified, the action associates specified S3 resources with Macie\n      Classic for the specified member account.</p>"
      }
    },
    "com.amazonaws.macie#AssociateS3ResourcesRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The ID of the Amazon Macie Classic member account whose resources you\n      want to associate with Macie Classic.</p>"
          }
        },
        "s3Resources": {
          "target": "com.amazonaws.macie#S3ResourcesClassification",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The S3 resources that you want to associate with Amazon Macie Classic\n      for monitoring and data classification.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie#AssociateS3ResourcesResult": {
      "type": "structure",
      "members": {
        "failedS3Resources": {
          "target": "com.amazonaws.macie#FailedS3Resources",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) S3 resources that couldn't be associated with Amazon Macie Classic. An\n      error code and an error message are provided for each failed item.</p>"
          }
        }
      }
    },
    "com.amazonaws.macie#BucketName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.macie#ClassificationType": {
      "type": "structure",
      "members": {
        "oneTime": {
          "target": "com.amazonaws.macie#S3OneTimeClassificationType",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A one-time classification of all of the existing objects in a specified\n      S3 bucket. </p>",
            "smithy.api#required": {}
          }
        },
        "continuous": {
          "target": "com.amazonaws.macie#S3ContinuousClassificationType",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A continuous classification of the objects that are added to a specified\n      S3 bucket. Amazon Macie Classic begins performing continuous classification after a bucket is\n      successfully associated with Macie Classic.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The classification type that Amazon Macie Classic applies to the\n      associated S3 resources.</p>"
      }
    },
    "com.amazonaws.macie#ClassificationTypeUpdate": {
      "type": "structure",
      "members": {
        "oneTime": {
          "target": "com.amazonaws.macie#S3OneTimeClassificationType",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A one-time classification of all of the existing objects in a specified\n      S3 bucket. </p>"
          }
        },
        "continuous": {
          "target": "com.amazonaws.macie#S3ContinuousClassificationType",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A continuous classification of the objects that are added to a specified\n      S3 bucket. Amazon Macie Classic begins performing continuous classification after a bucket is\n      successfully associated with Macie Classic. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The classification type that Amazon Macie Classic applies to the\n      associated S3 resources. At least one of the classification types (<code>oneTime</code> or <code>continuous</code>) must\n      be specified. </p>"
      }
    },
    "com.amazonaws.macie#DisassociateMemberAccount": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#DisassociateMemberAccountRequest"
      },
      "output": {
        "target": "smithy.api#Unit"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Removes the specified member account from Amazon Macie\n      Classic.</p>"
      }
    },
    "com.amazonaws.macie#DisassociateMemberAccountRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The ID of the member account that you want to remove from Amazon Macie\n      Classic.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie#DisassociateS3Resources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#DisassociateS3ResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.macie#DisassociateS3ResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Removes specified S3 resources from being monitored by Amazon Macie\n      Classic. If <code>memberAccountId</code> isn't specified, the action removes specified S3 resources from\n      Macie Classic for the current Macie Classic administrator account. If <code>memberAccountId</code> is\n      specified, the action removes specified S3 resources from Macie Classic for the specified\n      member account.</p>"
      }
    },
    "com.amazonaws.macie#DisassociateS3ResourcesRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The ID of the Amazon Macie Classic member account whose resources you\n      want to remove from being monitored by Macie Classic.</p>"
          }
        },
        "associatedS3Resources": {
          "target": "com.amazonaws.macie#S3Resources",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The S3 resources (buckets or prefixes) that you want to remove from\n      being monitored and classified by Amazon Macie Classic.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie#DisassociateS3ResourcesResult": {
      "type": "structure",
      "members": {
        "failedS3Resources": {
          "target": "com.amazonaws.macie#FailedS3Resources",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) S3 resources that couldn't be removed from being monitored and\n      classified by Amazon Macie Classic. An error code and an error message are provided for each\n      failed item. </p>"
          }
        }
      }
    },
    "com.amazonaws.macie#ErrorCode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Error code for the exception",
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.macie#ExceptionMessage": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.macie#FailedS3Resource": {
      "type": "structure",
      "members": {
        "failedItem": {
          "target": "com.amazonaws.macie#S3Resource",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The failed S3 resources.</p>"
          }
        },
        "errorCode": {
          "target": "com.amazonaws.macie#ErrorCode",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The status code of a failed item.</p>"
          }
        },
        "errorMessage": {
          "target": "com.amazonaws.macie#ExceptionMessage",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The error message of a failed item.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Includes details about the failed S3 resources.</p>"
      }
    },
    "com.amazonaws.macie#FailedS3Resources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie#FailedS3Resource"
      }
    },
    "com.amazonaws.macie#FieldName": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Field that has invalid input",
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.macie#InternalException": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.macie#ErrorCode"
        },
        "message": {
          "target": "com.amazonaws.macie#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Internal server error.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.macie#InvalidInputException": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.macie#ErrorCode"
        },
        "message": {
          "target": "com.amazonaws.macie#ExceptionMessage"
        },
        "fieldName": {
          "target": "com.amazonaws.macie#FieldName"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The request was rejected because an invalid or out-of-range value was supplied for an\n      input parameter.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.macie#LimitExceededException": {
      "type": "structure",
      "members": {
        "errorCode": {
          "target": "com.amazonaws.macie#ErrorCode"
        },
        "message": {
          "target": "com.amazonaws.macie#ExceptionMessage"
        },
        "resourceType": {
          "target": "com.amazonaws.macie#ResourceType"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The request was rejected because it attempted to create resources beyond the current\n      Amazon Web Services account quotas. The error code describes the quota exceeded.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.macie#ListMemberAccounts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#ListMemberAccountsRequest"
      },
      "output": {
        "target": "com.amazonaws.macie#ListMemberAccountsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Lists all Amazon Macie Classic member accounts for the current Macie\n      Classic administrator account.</p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.macie#ListMemberAccountsRequest": {
      "type": "structure",
      "members": {
        "nextToken": {
          "target": "com.amazonaws.macie#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) Use this parameter when paginating results. Set the value of this\n      parameter to null on your first call to the <code>ListMemberAccounts</code> action. Subsequent calls to the\n      action fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to\n      continue listing data.</p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.macie#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) Use this parameter to indicate the maximum number of items that you want\n      in the response. The default value is 250.</p>"
          }
        }
      }
    },
    "com.amazonaws.macie#ListMemberAccountsResult": {
      "type": "structure",
      "members": {
        "memberAccounts": {
          "target": "com.amazonaws.macie#MemberAccounts",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A list of the Amazon Macie Classic member accounts returned by the\n      action. The current Macie Classic administrator account is also included in this\n      list.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.macie#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) When a response is generated, if there is more data to be listed, this\n      parameter is present in the response and contains the value to use for the <code>nextToken</code> parameter\n      in a subsequent pagination request. If there is no more data to be listed, this parameter is\n      set to null. </p>"
          }
        }
      }
    },
    "com.amazonaws.macie#ListS3Resources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#ListS3ResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.macie#ListS3ResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Lists all the S3 resources associated with Amazon Macie Classic. If\n      <code>memberAccountId</code> isn't specified, the action lists the S3 resources associated with Macie\n      Classic for the current Macie Classic administrator account. If <code>memberAccountId</code> is specified,\n      the action lists the S3 resources associated with Macie Classic for the specified member\n      account. </p>",
        "smithy.api#paginated": {
          "inputToken": "nextToken",
          "outputToken": "nextToken",
          "pageSize": "maxResults"
        }
      }
    },
    "com.amazonaws.macie#ListS3ResourcesRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The Amazon Macie Classic member account ID whose associated S3 resources\n      you want to list. </p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.macie#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) Use this parameter when paginating results. Set its value to null on\n      your first call to the <code>ListS3Resources</code> action. Subsequent calls to the action fill <code>nextToken</code>\n      in the request with the value of <code>nextToken</code> from the previous response to continue listing\n      data. </p>"
          }
        },
        "maxResults": {
          "target": "com.amazonaws.macie#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) Use this parameter to indicate the maximum number of items that you want\n      in the response. The default value is 250. </p>"
          }
        }
      }
    },
    "com.amazonaws.macie#ListS3ResourcesResult": {
      "type": "structure",
      "members": {
        "s3Resources": {
          "target": "com.amazonaws.macie#S3ResourcesClassification",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) A list of the associated S3 resources returned by the action.</p>"
          }
        },
        "nextToken": {
          "target": "com.amazonaws.macie#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) When a response is generated, if there is more data to be listed, this\n      parameter is present in the response and contains the value to use for the <code>nextToken</code> parameter\n      in a subsequent pagination request. If there is no more data to be listed, this parameter is\n      set to null. </p>"
          }
        }
      }
    },
    "com.amazonaws.macie#MacieService": {
      "type": "service",
      "version": "2017-12-19",
      "operations": [
        {
          "target": "com.amazonaws.macie#AssociateMemberAccount"
        },
        {
          "target": "com.amazonaws.macie#AssociateS3Resources"
        },
        {
          "target": "com.amazonaws.macie#DisassociateMemberAccount"
        },
        {
          "target": "com.amazonaws.macie#DisassociateS3Resources"
        },
        {
          "target": "com.amazonaws.macie#ListMemberAccounts"
        },
        {
          "target": "com.amazonaws.macie#ListS3Resources"
        },
        {
          "target": "com.amazonaws.macie#UpdateS3Resources"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Macie",
          "arnNamespace": "macie",
          "cloudFormationName": "Macie",
          "cloudTrailEventSource": "macie.amazonaws.com",
          "endpointPrefix": "macie"
        },
        "aws.auth#sigv4": {
          "name": "macie"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>Amazon Macie Classic</fullname>\n         <p>Amazon Macie Classic has been discontinued and is no longer available.</p>\n    \n         <p>A new Amazon Macie is now available with significant design improvements and additional\n      features, at a lower price and in most Amazon Web Services Regions. We encourage you to take advantage of the\n      new and improved features, and benefit from the reduced cost. To learn about features and pricing for the new Macie, see <a href=\"http://aws.amazon.com/macie/\">Amazon Macie</a>. To learn how to use the new Macie, see the <a href=\"https://docs.aws.amazon.com/macie/latest/user/what-is-macie.html\">Amazon Macie User\n        Guide</a>.</p>",
        "smithy.api#title": "Amazon Macie",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://macie-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://macie-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://macie.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://macie.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.macie#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "max": 250
        }
      }
    },
    "com.amazonaws.macie#MemberAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The Amazon Web Services account ID of the Amazon Macie Classic member account.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Contains information about the Amazon Macie Classic member\n      account.</p>"
      }
    },
    "com.amazonaws.macie#MemberAccounts": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie#MemberAccount"
      }
    },
    "com.amazonaws.macie#NextToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 500
        }
      }
    },
    "com.amazonaws.macie#Prefix": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10000
        }
      }
    },
    "com.amazonaws.macie#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Resource type that caused the exception",
        "smithy.api#length": {
          "min": 0,
          "max": 1000
        }
      }
    },
    "com.amazonaws.macie#S3ContinuousClassificationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL",
            "name": "FULL"
          }
        ]
      }
    },
    "com.amazonaws.macie#S3OneTimeClassificationType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL",
            "name": "FULL"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.macie#S3Resource": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.macie#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The name of the S3 bucket.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.macie#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The prefix of the S3 bucket.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Contains information about the S3 resource. This data type is used as a\n      request parameter in the <code>DisassociateS3Resources</code> action and can be used as a response\n      parameter in the <code>AssociateS3Resources</code> and <code>UpdateS3Resources</code> actions. </p>"
      }
    },
    "com.amazonaws.macie#S3ResourceClassification": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.macie#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The name of the S3 bucket that you want to associate with Amazon Macie\n      Classic.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.macie#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The prefix of the S3 bucket that you want to associate with Amazon Macie\n      Classic.</p>"
          }
        },
        "classificationType": {
          "target": "com.amazonaws.macie#ClassificationType",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The classification type that you want to specify for the resource\n      associated with Amazon Macie Classic. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The S3 resources that you want to associate with Amazon Macie Classic\n      for monitoring and data classification. This data type is used as a request parameter in the\n      <code>AssociateS3Resources</code> action and a response parameter in the <code>ListS3Resources</code> action. </p>"
      }
    },
    "com.amazonaws.macie#S3ResourceClassificationUpdate": {
      "type": "structure",
      "members": {
        "bucketName": {
          "target": "com.amazonaws.macie#BucketName",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The name of the S3 bucket whose classification types you want to\n      update.</p>",
            "smithy.api#required": {}
          }
        },
        "prefix": {
          "target": "com.amazonaws.macie#Prefix",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The prefix of the S3 bucket whose classification types you want to\n      update.</p>"
          }
        },
        "classificationTypeUpdate": {
          "target": "com.amazonaws.macie#ClassificationTypeUpdate",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The classification type that you want to update for the resource\n      associated with Amazon Macie Classic. </p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) The S3 resources whose classification types you want to update. This\n      data type is used as a request parameter in the <code>UpdateS3Resources</code> action. </p>"
      }
    },
    "com.amazonaws.macie#S3Resources": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie#S3Resource"
      }
    },
    "com.amazonaws.macie#S3ResourcesClassification": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie#S3ResourceClassification"
      }
    },
    "com.amazonaws.macie#S3ResourcesClassificationUpdate": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie#S3ResourceClassificationUpdate"
      }
    },
    "com.amazonaws.macie#UpdateS3Resources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie#UpdateS3ResourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.macie#UpdateS3ResourcesResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie#InternalException"
        },
        {
          "target": "com.amazonaws.macie#InvalidInputException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>(Discontinued) Updates the classification types for the specified S3 resources. If\n      <code>memberAccountId</code> isn't specified, the action updates the classification types of the S3\n      resources associated with Amazon Macie Classic for the current Macie Classic administrator\n      account. If <code>memberAccountId</code> is specified, the action updates the classification types of the\n      S3 resources associated with Macie Classic for the specified member account.</p>"
      }
    },
    "com.amazonaws.macie#UpdateS3ResourcesRequest": {
      "type": "structure",
      "members": {
        "memberAccountId": {
          "target": "com.amazonaws.macie#AWSAccountId",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The Amazon Web Services account ID of the Amazon Macie Classic member account whose S3\n      resources' classification types you want to update.</p>"
          }
        },
        "s3ResourcesUpdate": {
          "target": "com.amazonaws.macie#S3ResourcesClassificationUpdate",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The S3 resources whose classification types you want to\n      update.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie#UpdateS3ResourcesResult": {
      "type": "structure",
      "members": {
        "failedS3Resources": {
          "target": "com.amazonaws.macie#FailedS3Resources",
          "traits": {
            "smithy.api#documentation": "<p>(Discontinued) The S3 resources whose classification types can't be updated. An error\n      code and an error message are provided for each failed item.</p>"
          }
        }
      }
    }
  }
}