{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.macie2#AcceptInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#AcceptInvitationRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#AcceptInvitationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#AcceptInvitationRequest": {
      "type": "structure",
      "members": {
        "administratorAccountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account that sent the invitation.</p>",
            "smithy.api#jsonName": "administratorAccountId"
          }
        },
        "invitationId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the invitation to accept.</p>",
            "smithy.api#jsonName": "invitationId",
            "smithy.api#required": {}
          }
        },
        "masterAccount": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>(Deprecated) The Amazon Web Services account ID for the account that sent the invitation. This property has been replaced by the administratorAccountId property and is retained only for backward compatibility.</p>",
            "smithy.api#jsonName": "masterAccount"
          }
        }
      }
    },
    "com.amazonaws.macie2#AcceptInvitationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.macie2#AccessControlList": {
      "type": "structure",
      "members": {
        "allowsPublicReadAccess": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the ACL grants the general public with read access permissions for the bucket.</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "allowsPublicWriteAccess": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the ACL grants the general public with write access permissions for the bucket.</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the permissions settings of the bucket-level access control list (ACL) for an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The explanation of the error that occurred.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an error that occurred due to insufficient access to a specified resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.macie2#AccountDetail": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
            "smithy.api#jsonName": "accountId",
            "smithy.api#required": {}
          }
        },
        "email": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The email address for the account.</p>",
            "smithy.api#jsonName": "email",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the details of an account to associate with an Amazon Macie administrator account.</p>"
      }
    },
    "com.amazonaws.macie2#AccountLevelPermissions": {
      "type": "structure",
      "members": {
        "blockPublicAccess": {
          "target": "com.amazonaws.macie2#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>The block public access settings for the Amazon Web Services account that owns the bucket.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the account-level permissions settings that apply to an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#AdminAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services account ID for the account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "status": {
          "target": "com.amazonaws.macie2#AdminStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the account as the delegated administrator of Amazon Macie for the organization.</p>",
            "smithy.api#jsonName": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the delegated Amazon Macie administrator account for an Amazon Web Services organization.</p>"
      }
    },
    "com.amazonaws.macie2#AdminStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The current status of an account as the delegated Amazon Macie administrator account for an Amazon Web Services organization. Possible values are:</p>",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLING_IN_PROGRESS",
            "name": "DISABLING_IN_PROGRESS"
          }
        ]
      }
    },
    "com.amazonaws.macie2#AllowsUnencryptedObjectUploads": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "TRUE",
            "name": "TRUE"
          },
          {
            "value": "FALSE",
            "name": "FALSE"
          },
          {
            "value": "UNKNOWN",
            "name": "UNKNOWN"
          }
        ]
      }
    },
    "com.amazonaws.macie2#ApiCallDetails": {
      "type": "structure",
      "members": {
        "api": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the operation that was invoked most recently and produced the finding.</p>",
            "smithy.api#jsonName": "api"
          }
        },
        "apiServiceName": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the Amazon Web Service that provides the operation, for example: s3.amazonaws.com.</p>",
            "smithy.api#jsonName": "apiServiceName"
          }
        },
        "firstSeen": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The first date and time, in UTC and extended ISO 8601 format, when any operation was invoked and produced the finding.</p>",
            "smithy.api#jsonName": "firstSeen"
          }
        },
        "lastSeen": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The most recent date and time, in UTC and extended ISO 8601 format, when the specified operation (api) was invoked and produced the finding.</p>",
            "smithy.api#jsonName": "lastSeen"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an API operation that an entity invoked for an affected resource.</p>"
      }
    },
    "com.amazonaws.macie2#AssumedRole": {
      "type": "structure",
      "members": {
        "accessKeyId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services access key ID that identifies the credentials.</p>",
            "smithy.api#jsonName": "accessKeyId"
          }
        },
        "accountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account that owns the entity that was used to get the credentials.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the entity that was used to get the credentials.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "principalId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the entity that was used to get the credentials.</p>",
            "smithy.api#jsonName": "principalId"
          }
        },
        "sessionContext": {
          "target": "com.amazonaws.macie2#SessionContext",
          "traits": {
            "smithy.api#documentation": "<p>The details of the session that was created for the credentials, including the entity that issued the session.</p>",
            "smithy.api#jsonName": "sessionContext"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an identity that performed an action on an affected resource by using temporary security credentials. The credentials were obtained using the AssumeRole operation of the Security Token Service (STS) API.</p>"
      }
    },
    "com.amazonaws.macie2#AwsAccount": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "principalId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the entity that performed the action.</p>",
            "smithy.api#jsonName": "principalId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an Amazon Web Services account and entity that performed an action on an affected resource. The action was performed using the credentials for an Amazon Web Services account other than your own account.</p>"
      }
    },
    "com.amazonaws.macie2#AwsService": {
      "type": "structure",
      "members": {
        "invokedBy": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the Amazon Web Service that performed the action.</p>",
            "smithy.api#jsonName": "invokedBy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an Amazon Web Service that performed an action on an affected resource.</p>"
      }
    },
    "com.amazonaws.macie2#BatchGetCustomDataIdentifierSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom data identifier.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the custom data identifier was created.</p>",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "deleted": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the custom data identifier was deleted. If you delete a custom data identifier, Amazon Macie doesn't delete it permanently. Instead, it soft deletes the identifier.</p>",
            "smithy.api#jsonName": "deleted"
          }
        },
        "description": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom description of the custom data identifier.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "id": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the custom data identifier.</p>",
            "smithy.api#jsonName": "id"
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom name of the custom data identifier.</p>",
            "smithy.api#jsonName": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a custom data identifier.</p>"
      }
    },
    "com.amazonaws.macie2#BatchGetCustomDataIdentifiers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#BatchGetCustomDataIdentifiersRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#BatchGetCustomDataIdentifiersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about one or more custom data identifiers.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/custom-data-identifiers/get",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#BatchGetCustomDataIdentifiersRequest": {
      "type": "structure",
      "members": {
        "ids": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom data identifier IDs, one for each custom data identifier to retrieve information about.</p>",
            "smithy.api#jsonName": "ids"
          }
        }
      }
    },
    "com.amazonaws.macie2#BatchGetCustomDataIdentifiersResponse": {
      "type": "structure",
      "members": {
        "customDataIdentifiers": {
          "target": "com.amazonaws.macie2#__listOfBatchGetCustomDataIdentifierSummary",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, one for each custom data identifier that meets the criteria specified in the request.</p>",
            "smithy.api#jsonName": "customDataIdentifiers"
          }
        },
        "notFoundIdentifierIds": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of custom data identifier IDs, one for each custom data identifier that was specified in the request but doesn't correlate to an existing custom data identifier.</p>",
            "smithy.api#jsonName": "notFoundIdentifierIds"
          }
        }
      }
    },
    "com.amazonaws.macie2#BlockPublicAccess": {
      "type": "structure",
      "members": {
        "blockPublicAcls": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 blocks public access control lists (ACLs) for the bucket and objects in the bucket.</p>",
            "smithy.api#jsonName": "blockPublicAcls"
          }
        },
        "blockPublicPolicy": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 blocks public bucket policies for the bucket.</p>",
            "smithy.api#jsonName": "blockPublicPolicy"
          }
        },
        "ignorePublicAcls": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 ignores public ACLs for the bucket and objects in the bucket.</p>",
            "smithy.api#jsonName": "ignorePublicAcls"
          }
        },
        "restrictPublicBuckets": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon S3 restricts public bucket policies for the bucket.</p>",
            "smithy.api#jsonName": "restrictPublicBuckets"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the block public access settings for an S3 bucket. These settings can apply to a bucket at the account level or bucket level. For detailed information about each setting, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-control-block-public-access.html\">Blocking public access to your Amazon S3 storage</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCountByEffectivePermission": {
      "type": "structure",
      "members": {
        "publiclyAccessible": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have read or write access to the bucket.</p>",
            "smithy.api#jsonName": "publiclyAccessible"
          }
        },
        "publiclyReadable": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have read access to the bucket.</p>",
            "smithy.api#jsonName": "publiclyReadable"
          }
        },
        "publiclyWritable": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that allow the general public to have write access to the bucket.</p>",
            "smithy.api#jsonName": "publiclyWritable"
          }
        },
        "unknown": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate permissions settings for. Macie can't determine whether these buckets are publicly accessible.</p>",
            "smithy.api#jsonName": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of S3 buckets that are publicly accessible based on a combination of permissions settings for each bucket.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCountByEncryptionType": {
      "type": "structure",
      "members": {
        "kmsManaged": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that use an Key Management Service (KMS) customer master key (CMK) to encrypt new objects by default. These buckets use Amazon Web Services managed KMS encryption (AWS-KMS) or customer managed KMS encryption (SSE-KMS) by default.</p>",
            "smithy.api#jsonName": "kmsManaged"
          }
        },
        "s3Managed": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that use an Amazon S3 managed key to encrypt new objects by default. These buckets use Amazon S3 managed encryption (SSE-S3) by default.</p>",
            "smithy.api#jsonName": "s3Managed"
          }
        },
        "unencrypted": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that don't encrypt new objects by default. Default encryption is disabled for these buckets.</p>",
            "smithy.api#jsonName": "unencrypted"
          }
        },
        "unknown": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie doesn't have current encryption metadata for. Macie can't provide current data about the default encryption settings for these buckets.</p>",
            "smithy.api#jsonName": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of S3 buckets that use certain types of server-side encryption by default or don't encrypt new objects by default. For detailed information about these settings, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-encryption.html\">Setting default server-side encryption behavior for Amazon S3 buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCountBySharedAccessType": {
      "type": "structure",
      "members": {
        "external": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that are shared with an Amazon Web Services account that isn't part of the same Amazon Macie organization.</p>",
            "smithy.api#jsonName": "external"
          }
        },
        "internal": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that are shared with an Amazon Web Services account that's part of the same Amazon Macie organization.</p>",
            "smithy.api#jsonName": "internal"
          }
        },
        "notShared": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that aren't shared with other Amazon Web Services accounts.</p>",
            "smithy.api#jsonName": "notShared"
          }
        },
        "unknown": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate shared access settings for. Macie can't determine whether these buckets are shared with other Amazon Web Services accounts.</p>",
            "smithy.api#jsonName": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of S3 buckets that are or aren't shared with other Amazon Web Services accounts.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCountPolicyAllowsUnencryptedObjectUploads": {
      "type": "structure",
      "members": {
        "allowsUnencryptedObjectUploads": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that don't have a bucket policy or have a bucket policy that doesn't require server-side encryption of new objects. If a bucket policy exists, the policy doesn't require PutObject requests to include the x-amz-server-side-encryption header and it doesn't require the value for that header to be AES256 or aws:kms.</p>",
            "smithy.api#jsonName": "allowsUnencryptedObjectUploads"
          }
        },
        "deniesUnencryptedObjectUploads": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets whose bucket policies require server-side encryption of new objects. PutObject requests for these buckets must include the x-amz-server-side-encryption header and the value for that header must be AES256 or aws:kms.</p>",
            "smithy.api#jsonName": "deniesUnencryptedObjectUploads"
          }
        },
        "unknown": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of buckets that Amazon Macie wasn't able to evaluate server-side encryption requirements for. Macie can't determine whether the bucket policies for these buckets require server-side encryption of new objects.</p>",
            "smithy.api#jsonName": "unknown"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the number of S3 buckets whose bucket policies do or don't require server-side encryption of objects when objects are uploaded to the buckets.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCriteria": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.macie2#__string"
      },
      "value": {
        "target": "com.amazonaws.macie2#BucketCriteriaAdditionalProperties"
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies, as a map, one or more property-based conditions that filter the results of a query for information about S3 buckets.</p>"
      }
    },
    "com.amazonaws.macie2#BucketCriteriaAdditionalProperties": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property matches (equals) the specified value. If you specify multiple values, Macie uses OR logic to join the values.</p>",
            "smithy.api#jsonName": "eq"
          }
        },
        "gt": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is greater than the specified value.</p>",
            "smithy.api#jsonName": "gt"
          }
        },
        "gte": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is greater than or equal to the specified value.</p>",
            "smithy.api#jsonName": "gte"
          }
        },
        "lt": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is less than the specified value.</p>",
            "smithy.api#jsonName": "lt"
          }
        },
        "lte": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is less than or equal to the specified value.</p>",
            "smithy.api#jsonName": "lte"
          }
        },
        "neq": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property doesn't match (doesn't equal) the specified value. If you specify multiple values, Amazon Macie uses OR logic to join the values.</p>",
            "smithy.api#jsonName": "neq"
          }
        },
        "prefix": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket begins with the specified value.</p>",
            "smithy.api#jsonName": "prefix"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the operator to use in a property-based condition that filters the results of a query for information about S3 buckets.</p>"
      }
    },
    "com.amazonaws.macie2#BucketLevelPermissions": {
      "type": "structure",
      "members": {
        "accessControlList": {
          "target": "com.amazonaws.macie2#AccessControlList",
          "traits": {
            "smithy.api#documentation": "<p>The permissions settings of the access control list (ACL) for the bucket. This value is null if an ACL hasn't been defined for the bucket.</p>",
            "smithy.api#jsonName": "accessControlList"
          }
        },
        "blockPublicAccess": {
          "target": "com.amazonaws.macie2#BlockPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>The block public access settings for the bucket.</p>",
            "smithy.api#jsonName": "blockPublicAccess"
          }
        },
        "bucketPolicy": {
          "target": "com.amazonaws.macie2#BucketPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The permissions settings of the bucket policy for the bucket. This value is null if a bucket policy hasn't been defined for the bucket.</p>",
            "smithy.api#jsonName": "bucketPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the bucket-level permissions settings for an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#BucketMetadata": {
      "type": "structure",
      "members": {
        "accountId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the Amazon Web Services account that owns the bucket.</p>",
            "smithy.api#jsonName": "accountId"
          }
        },
        "allowsUnencryptedObjectUploads": {
          "target": "com.amazonaws.macie2#AllowsUnencryptedObjectUploads",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket policy for the bucket requires server-side encryption of objects when objects are uploaded to the bucket. Possible values are:</p> <ul><li><p>FALSE - The bucket policy requires server-side encryption of new objects. PutObject requests must include the x-amz-server-side-encryption header and the value for that header must be AES256 or aws:kms.</p></li> <li><p>TRUE - The bucket doesn't have a bucket policy or it has a bucket policy that doesn't require server-side encryption of new objects. If a bucket policy exists, it doesn't require PutObject requests to include the x-amz-server-side-encryption header and it doesn't require the value for that header to be AES256 or aws:kms.</p></li> <li><p>UNKNOWN - Amazon Macie can't determine whether the bucket policy requires server-side encryption of new objects.</p></li></ul>",
            "smithy.api#jsonName": "allowsUnencryptedObjectUploads"
          }
        },
        "bucketArn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the bucket.</p>",
            "smithy.api#jsonName": "bucketArn"
          }
        },
        "bucketCreatedAt": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the bucket was created.</p>",
            "smithy.api#jsonName": "bucketCreatedAt"
          }
        },
        "bucketName": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket.</p>",
            "smithy.api#jsonName": "bucketName"
          }
        },
        "classifiableObjectCount": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of objects that Amazon Macie can analyze in the bucket. These objects use a supported storage class and have a file name extension for a supported file or storage format.</p>",
            "smithy.api#jsonName": "classifiableObjectCount"
          }
        },
        "classifiableSizeInBytes": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that Amazon Macie can analyze in the bucket. These objects use a supported storage class and have a file name extension for a supported file or storage format.</p> <p>If versioning is enabled for the bucket, Macie calculates this value based on the size of the latest version of each applicable object in the bucket. This value doesn't reflect the storage size of all versions of each applicable object in the bucket.</p>",
            "smithy.api#jsonName": "classifiableSizeInBytes"
          }
        },
        "jobDetails": {
          "target": "com.amazonaws.macie2#JobDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether any one-time or recurring classification jobs are configured to analyze data in the bucket, and, if so, the details of the job that ran most recently.</p>",
            "smithy.api#jsonName": "jobDetails"
          }
        },
        "lastUpdated": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when Amazon Macie most recently retrieved both bucket and object metadata from Amazon S3 for the bucket.</p>",
            "smithy.api#jsonName": "lastUpdated"
          }
        },
        "objectCount": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of objects in the bucket.</p>",
            "smithy.api#jsonName": "objectCount"
          }
        },
        "objectCountByEncryptionType": {
          "target": "com.amazonaws.macie2#ObjectCountByEncryptionType",
          "traits": {
            "smithy.api#documentation": "<p>The total number of objects that are in the bucket, grouped by server-side encryption type. This includes a grouping that reports the total number of objects that aren't encrypted or use client-side encryption.</p>",
            "smithy.api#jsonName": "objectCountByEncryptionType"
          }
        },
        "publicAccess": {
          "target": "com.amazonaws.macie2#BucketPublicAccess",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket is publicly accessible due to the combination of permissions settings that apply to the bucket, and provides information about those settings.</p>",
            "smithy.api#jsonName": "publicAccess"
          }
        },
        "region": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Web Services Region that hosts the bucket.</p>",
            "smithy.api#jsonName": "region"
          }
        },
        "replicationDetails": {
          "target": "com.amazonaws.macie2#ReplicationDetails",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket is configured to replicate one or more objects to buckets for other Amazon Web Services accounts and, if so, which accounts.</p>",
            "smithy.api#jsonName": "replicationDetails"
          }
        },
        "serverSideEncryption": {
          "target": "com.amazonaws.macie2#BucketServerSideEncryption",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket encrypts new objects by default and, if so, the type of server-side encryption that's used.</p>",
            "smithy.api#jsonName": "serverSideEncryption"
          }
        },
        "sharedAccess": {
          "target": "com.amazonaws.macie2#SharedAccess",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket is shared with another Amazon Web Services account. Possible values are:</p> <ul><li><p>EXTERNAL - The bucket is shared with an Amazon Web Services account that isn't part of the same Amazon Macie organization.</p></li> <li><p>INTERNAL - The bucket is shared with an Amazon Web Services account that's part of the same Amazon Macie organization.</p></li> <li><p>NOT_SHARED - The bucket isn't shared with other Amazon Web Services accounts.</p></li> <li><p>UNKNOWN - Amazon Macie wasn't able to evaluate the shared access settings for the bucket.</p></li></ul>",
            "smithy.api#jsonName": "sharedAccess"
          }
        },
        "sizeInBytes": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total storage size, in bytes, of the bucket.</p> <p>If versioning is enabled for the bucket, Amazon Macie calculates this value based on the size of the latest version of each object in the bucket. This value doesn't reflect the storage size of all versions of each object in the bucket.</p>",
            "smithy.api#jsonName": "sizeInBytes"
          }
        },
        "sizeInBytesCompressed": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that are compressed (.gz, .gzip, .zip) files in the bucket.</p> <p>If versioning is enabled for the bucket, Macie calculates this value based on the size of the latest version of each applicable object in the bucket. This value doesn't reflect the storage size of all versions of each applicable object in the bucket.</p>",
            "smithy.api#jsonName": "sizeInBytesCompressed"
          }
        },
        "tags": {
          "target": "com.amazonaws.macie2#__listOfKeyValuePair",
          "traits": {
            "smithy.api#documentation": "<p>An array that specifies the tags (keys and values) that are associated with the bucket.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "unclassifiableObjectCount": {
          "target": "com.amazonaws.macie2#ObjectLevelStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The total number of objects that Amazon Macie can't analyze in the bucket. These objects don't use a supported storage class or don't have a file name extension for a supported file or storage format.</p>",
            "smithy.api#jsonName": "unclassifiableObjectCount"
          }
        },
        "unclassifiableObjectSizeInBytes": {
          "target": "com.amazonaws.macie2#ObjectLevelStatistics",
          "traits": {
            "smithy.api#documentation": "<p>The total storage size, in bytes, of the objects that Amazon Macie can't analyze in the bucket. These objects don't use a supported storage class or don't have a file name extension for a supported file or storage format.</p>",
            "smithy.api#jsonName": "unclassifiableObjectSizeInBytes"
          }
        },
        "versioning": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether versioning is enabled for the bucket.</p>",
            "smithy.api#jsonName": "versioning"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an S3 bucket that Amazon Macie monitors and analyzes.</p>"
      }
    },
    "com.amazonaws.macie2#BucketPermissionConfiguration": {
      "type": "structure",
      "members": {
        "accountLevelPermissions": {
          "target": "com.amazonaws.macie2#AccountLevelPermissions",
          "traits": {
            "smithy.api#documentation": "<p>The account-level permissions settings that apply to the bucket.</p>",
            "smithy.api#jsonName": "accountLevelPermissions"
          }
        },
        "bucketLevelPermissions": {
          "target": "com.amazonaws.macie2#BucketLevelPermissions",
          "traits": {
            "smithy.api#documentation": "<p>The bucket-level permissions settings for the bucket.</p>",
            "smithy.api#jsonName": "bucketLevelPermissions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the account-level and bucket-level permissions settings for an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#BucketPolicy": {
      "type": "structure",
      "members": {
        "allowsPublicReadAccess": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket policy allows the general public to have read access to the bucket.</p>",
            "smithy.api#jsonName": "allowsPublicReadAccess"
          }
        },
        "allowsPublicWriteAccess": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket policy allows the general public to have write access to the bucket.</p>",
            "smithy.api#jsonName": "allowsPublicWriteAccess"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the permissions settings of the bucket policy for an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#BucketPublicAccess": {
      "type": "structure",
      "members": {
        "effectivePermission": {
          "target": "com.amazonaws.macie2#EffectivePermission",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether the bucket is publicly accessible due to the combination of permissions settings that apply to the bucket. Possible values are:</p> <ul><li><p>NOT_PUBLIC - The bucket isn't publicly accessible.</p></li> <li><p>PUBLIC - The bucket is publicly accessible.</p></li> <li><p>UNKNOWN - Amazon Macie can't determine whether the bucket is publicly accessible.</p></li></ul>",
            "smithy.api#jsonName": "effectivePermission"
          }
        },
        "permissionConfiguration": {
          "target": "com.amazonaws.macie2#BucketPermissionConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The account-level and bucket-level permissions settings for the bucket.</p>",
            "smithy.api#jsonName": "permissionConfiguration"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the permissions settings that determine whether an S3 bucket is publicly accessible.</p>"
      }
    },
    "com.amazonaws.macie2#BucketServerSideEncryption": {
      "type": "structure",
      "members": {
        "kmsMasterKeyId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) or unique identifier (key ID) for the Key Management Service (KMS) customer master key (CMK) that's used by default to encrypt objects that are added to the bucket. This value is null if the bucket uses an Amazon S3 managed key to encrypt new objects or the bucket doesn't encrypt new objects by default.</p>",
            "smithy.api#jsonName": "kmsMasterKeyId"
          }
        },
        "type": {
          "target": "com.amazonaws.macie2#Type",
          "traits": {
            "smithy.api#documentation": "<p>The type of server-side encryption that's used by default when storing new objects in the bucket. Possible values are:</p> <ul><li><p>AES256 - New objects are encrypted with an Amazon S3 managed key and use Amazon S3 managed encryption (SSE-S3).</p></li> <li><p>aws:kms - New objects are encrypted with an KMS CMK, specified by the kmsMasterKeyId property, and use Amazon Web Services managed KMS encryption (AWS-KMS) or customer managed KMS encryption (SSE-KMS).</p></li> <li><p>NONE - New objects aren't encrypted by default. Default encryption is disabled for the bucket.</p></li></ul>",
            "smithy.api#jsonName": "type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the default server-side encryption settings for an S3 bucket. For detailed information about these settings, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/bucket-encryption.html\">Setting default server-side encryption behavior for Amazon S3 buckets</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>"
      }
    },
    "com.amazonaws.macie2#BucketSortCriteria": {
      "type": "structure",
      "members": {
        "attributeName": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the bucket property to sort the results by. This value can be one of the following properties that Amazon Macie defines as bucket metadata: accountId, bucketName, classifiableObjectCount, classifiableSizeInBytes, objectCount, or sizeInBytes.</p>",
            "smithy.api#jsonName": "attributeName"
          }
        },
        "orderBy": {
          "target": "com.amazonaws.macie2#OrderBy",
          "traits": {
            "smithy.api#documentation": "<p>The sort order to apply to the results, based on the value specified by the attributeName property. Valid values are: ASC, sort the results in ascending order; and, DESC, sort the results in descending order.</p>",
            "smithy.api#jsonName": "orderBy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies criteria for sorting the results of a query for information about S3 buckets.</p>"
      }
    },
    "com.amazonaws.macie2#Cell": {
      "type": "structure",
      "members": {
        "cellReference": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The location of the cell, as an absolute cell reference, that contains the sensitive data, for example Sheet2!C5 for cell C5 on Sheet2 in a Microsoft Excel workbook. This value is null for CSV and TSV files.</p>",
            "smithy.api#jsonName": "cellReference"
          }
        },
        "column": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The column number of the column that contains the sensitive data. For a Microsoft Excel workbook, this value correlates to the alphabetical character(s) for a column identifier, for example: 1 for column A, 2 for column B, and so on.</p>",
            "smithy.api#jsonName": "column"
          }
        },
        "columnName": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the column that contains the sensitive data, if available.</p>",
            "smithy.api#jsonName": "columnName"
          }
        },
        "row": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The row number of the row that contains the sensitive data.</p>",
            "smithy.api#jsonName": "row"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the location of an occurrence of sensitive data in a Microsoft Excel workbook, CSV file, or TSV file.</p>"
      }
    },
    "com.amazonaws.macie2#Cells": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie2#Cell"
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the location of occurrences of sensitive data in a Microsoft Excel workbook, CSV file, or TSV file.</p>"
      }
    },
    "com.amazonaws.macie2#ClassificationDetails": {
      "type": "structure",
      "members": {
        "detailedResultsLocation": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The path to the folder or file (in Amazon S3) that contains the corresponding sensitive data discovery result for the finding. If a finding applies to a large archive or compressed file, this value is the path to a folder. Otherwise, this value is the path to a file.</p>",
            "smithy.api#jsonName": "detailedResultsLocation"
          }
        },
        "jobArn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the classification job that produced the finding.</p>",
            "smithy.api#jsonName": "jobArn"
          }
        },
        "jobId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the classification job that produced the finding.</p>",
            "smithy.api#jsonName": "jobId"
          }
        },
        "result": {
          "target": "com.amazonaws.macie2#ClassificationResult",
          "traits": {
            "smithy.api#documentation": "<p>The status and other details of the finding.</p>",
            "smithy.api#jsonName": "result"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a sensitive data finding, including the classification job that produced the finding.</p>"
      }
    },
    "com.amazonaws.macie2#ClassificationExportConfiguration": {
      "type": "structure",
      "members": {
        "s3Destination": {
          "target": "com.amazonaws.macie2#S3Destination",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket to store data classification results in, and the encryption settings to use when storing results in that bucket.</p>",
            "smithy.api#jsonName": "s3Destination"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies where to store data classification results, and the encryption settings to use when storing results in that location. Currently, you can store classification results only in an S3 bucket.</p>"
      }
    },
    "com.amazonaws.macie2#ClassificationResult": {
      "type": "structure",
      "members": {
        "additionalOccurrences": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether Amazon Macie detected additional occurrences of sensitive data in the S3 object. A finding includes location data for a maximum of 15 occurrences of sensitive data.</p> <p>This value can help you determine whether to investigate additional occurrences of sensitive data in an object. You can do this by referring to the corresponding sensitive data discovery result for the finding (ClassificationDetails.detailedResultsLocation).</p>",
            "smithy.api#jsonName": "additionalOccurrences"
          }
        },
        "customDataIdentifiers": {
          "target": "com.amazonaws.macie2#CustomDataIdentifiers",
          "traits": {
            "smithy.api#documentation": "<p>The custom data identifiers that detected the sensitive data and the number of occurrences of the data that they detected.</p>",
            "smithy.api#jsonName": "customDataIdentifiers"
          }
        },
        "mimeType": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of content, as a MIME type, that the finding applies to. For example, application/gzip, for a GNU Gzip compressed archive file, or application/pdf, for an Adobe Portable Document Format file.</p>",
            "smithy.api#jsonName": "mimeType"
          }
        },
        "sensitiveData": {
          "target": "com.amazonaws.macie2#SensitiveData",
          "traits": {
            "smithy.api#documentation": "<p>The category, types, and number of occurrences of the sensitive data that produced the finding.</p>",
            "smithy.api#jsonName": "sensitiveData"
          }
        },
        "sizeClassified": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total size, in bytes, of the data that the finding applies to.</p>",
            "smithy.api#jsonName": "sizeClassified"
          }
        },
        "status": {
          "target": "com.amazonaws.macie2#ClassificationResultStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the finding.</p>",
            "smithy.api#jsonName": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides the details of a sensitive data finding, including the types, number of occurrences, and locations of the sensitive data that was detected.</p>"
      }
    },
    "com.amazonaws.macie2#ClassificationResultStatus": {
      "type": "structure",
      "members": {
        "code": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The status of the finding. Possible values are:</p> <ul><li><p>COMPLETE - Amazon Macie successfully completed its analysis of the S3 object that the finding applies to.</p></li> <li><p>PARTIAL - Macie analyzed only a subset of the data in the S3 object that the finding applies to. For example, the object is an archive file that contains files in an unsupported format.</p></li> <li><p>SKIPPED - Macie wasn't able to analyze the S3 object that the finding applies to. For example, the object is a file in an unsupported format.</p></li></ul>",
            "smithy.api#jsonName": "code"
          }
        },
        "reason": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A brief description of the status of the finding. Amazon Macie uses this value to notify you of any errors, warnings, or considerations that might impact your analysis of the finding.</p>",
            "smithy.api#jsonName": "reason"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about the status of a sensitive data finding.</p>"
      }
    },
    "com.amazonaws.macie2#ConflictException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The explanation of the error that occurred.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about an error that occurred due to a versioning conflict for a specified resource.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.macie2#CreateClassificationJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateClassificationJobRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateClassificationJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and defines the settings for a classification job.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateClassificationJobRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken",
            "smithy.api#required": {}
          }
        },
        "customDataIdentifierIds": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of unique identifiers, one for each custom data identifier for the job to use when it analyzes data. To use only managed data identifiers, don't specify a value for this property and specify a value other than NONE for the managedDataIdentifierSelector property.</p>",
            "smithy.api#jsonName": "customDataIdentifierIds"
          }
        },
        "description": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom description of the job. The description can contain as many as 200 characters.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "initialRun": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>For a recurring job, specifies whether to analyze all existing, eligible objects immediately after the job is created (true). To analyze only those objects that are created or changed after you create the job and before the job's first scheduled run, set this value to false.</p><p>If you configure the job to run only once, don't specify a value for this property.</p>",
            "smithy.api#jsonName": "initialRun"
          }
        },
        "jobType": {
          "target": "com.amazonaws.macie2#JobType",
          "traits": {
            "smithy.api#documentation": "<p>The schedule for running the job. Valid values are:</p> <ul><li><p>ONE_TIME - Run the job only once. If you specify this value, don't specify a value for the scheduleFrequency property.</p></li> <li><p>SCHEDULED - Run the job on a daily, weekly, or monthly basis. If you specify this value, use the scheduleFrequency property to define the recurrence pattern for the job.</p></li></ul>",
            "smithy.api#jsonName": "jobType",
            "smithy.api#required": {}
          }
        },
        "managedDataIdentifierIds": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array of unique identifiers, one for each managed data identifier for the job to include (use) or exclude (not use) when it analyzes data. Inclusion or exclusion depends on the managed data identifier selection type that you specify for the job (managedDataIdentifierSelector).</p><p>To retrieve a list of valid values for this property, use the ListManagedDataIdentifiers operation.</p>",
            "smithy.api#jsonName": "managedDataIdentifierIds"
          }
        },
        "managedDataIdentifierSelector": {
          "target": "com.amazonaws.macie2#ManagedDataIdentifierSelector",
          "traits": {
            "smithy.api#documentation": "<p>The selection type to apply when determining which managed data identifiers the job uses to analyze data. Valid values are:</p> <ul><li><p>ALL - Use all the managed data identifiers that Amazon Macie provides. If you specify this value, don't specify any values for the managedDataIdentifierIds property.</p></li> <li><p>EXCLUDE - Use all the managed data identifiers that Macie provides except the managed data identifiers specified by the managedDataIdentifierIds property.</p></li> <li><p>INCLUDE - Use only the managed data identifiers specified by the managedDataIdentifierIds property.</p></li> <li><p>NONE - Don't use any managed data identifiers. If you specify this value, specify at least one custom data identifier for the job (customDataIdentifierIds) and don't specify any values for the managedDataIdentifierIds property.</p></li></ul> <p>If you don't specify a value for this property, the job uses all managed data identifiers. If you don't specify a value for this property or you specify ALL or EXCLUDE for a recurring job, the job also uses new managed data identifiers as they are released.</p>",
            "smithy.api#jsonName": "managedDataIdentifierSelector"
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the job. The name can contain as many as 500 characters.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "s3JobDefinition": {
          "target": "com.amazonaws.macie2#S3JobDefinition",
          "traits": {
            "smithy.api#documentation": "<p>The S3 buckets that contain the objects to analyze, and the scope of that analysis.</p>",
            "smithy.api#jsonName": "s3JobDefinition",
            "smithy.api#required": {}
          }
        },
        "samplingPercentage": {
          "target": "com.amazonaws.macie2#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The sampling depth, as a percentage, for the job to apply when processing objects. This value determines the percentage of eligible objects that the job analyzes. If this value is less than 100, Amazon Macie selects the objects to analyze at random, up to the specified percentage, and analyzes all the data in those objects.</p>",
            "smithy.api#jsonName": "samplingPercentage"
          }
        },
        "scheduleFrequency": {
          "target": "com.amazonaws.macie2#JobScheduleFrequency",
          "traits": {
            "smithy.api#documentation": "<p>The recurrence pattern for running the job. To run the job only once, don't specify a value for this property and set the value for the jobType property to ONE_TIME.</p>",
            "smithy.api#jsonName": "scheduleFrequency"
          }
        },
        "tags": {
          "target": "com.amazonaws.macie2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs that specifies the tags to associate with the job.</p> <p>A job can have a maximum of 50 tags. Each tag consists of a tag key and an associated tag value. The maximum length of a tag key is 128 characters. The maximum length of a tag value is 256 characters.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateClassificationJobResponse": {
      "type": "structure",
      "members": {
        "jobArn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the job.</p>",
            "smithy.api#jsonName": "jobArn"
          }
        },
        "jobId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the job.</p>",
            "smithy.api#jsonName": "jobId"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateCustomDataIdentifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateCustomDataIdentifierRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateCustomDataIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and defines the criteria and other settings for a custom data identifier.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/custom-data-identifiers",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateCustomDataIdentifierRequest": {
      "type": "structure",
      "members": {
        "clientToken": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "description": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom description of the custom data identifier. The description can contain as many as 512 characters.</p> <p>We strongly recommend that you avoid including any sensitive data in the description of a custom data identifier. Other users of your account might be able to see the identifier's description, depending on the actions that they're allowed to perform in Amazon Macie.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "ignoreWords": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array that lists specific character sequences (ignore words) to exclude from the results. If the text matched by the regular expression is the same as any string in this array, Amazon Macie ignores it. The array can contain as many as 10 ignore words. Each ignore word can contain 4-90 UTF-8 characters. Ignore words are case sensitive.</p>",
            "smithy.api#jsonName": "ignoreWords"
          }
        },
        "keywords": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array that lists specific character sequences (keywords), one of which must be within proximity (maximumMatchDistance) of the regular expression to match. The array can contain as many as 50 keywords. Each keyword can contain 3-90 UTF-8 characters. Keywords aren't case sensitive.</p>",
            "smithy.api#jsonName": "keywords"
          }
        },
        "maximumMatchDistance": {
          "target": "com.amazonaws.macie2#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of characters that can exist between text that matches the regex pattern and the character sequences specified by the keywords array. Amazon Macie includes or excludes a result based on the proximity of a keyword to text that matches the regex pattern. The distance can be 1-300 characters. The default value is 50.</p>",
            "smithy.api#jsonName": "maximumMatchDistance"
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the custom data identifier. The name can contain as many as 128 characters.</p> <p>We strongly recommend that you avoid including any sensitive data in the name of a custom data identifier. Other users of your account might be able to see the identifier's name, depending on the actions that they're allowed to perform in Amazon Macie.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "regex": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The regular expression (<i>regex</i>) that defines the pattern to match. The expression can contain as many as 512 characters.</p>",
            "smithy.api#jsonName": "regex"
          }
        },
        "tags": {
          "target": "com.amazonaws.macie2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs that specifies the tags to associate with the custom data identifier.</p> <p>A custom data identifier can have a maximum of 50 tags. Each tag consists of a tag key and an associated tag value. The maximum length of a tag key is 128 characters. The maximum length of a tag value is 256 characters.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateCustomDataIdentifierResponse": {
      "type": "structure",
      "members": {
        "customDataIdentifierId": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the custom data identifier that was created.</p>",
            "smithy.api#jsonName": "customDataIdentifierId"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateFindingsFilter": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateFindingsFilterRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateFindingsFilterResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates and defines the criteria and other settings for a findings filter.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/findingsfilters",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateFindingsFilterRequest": {
      "type": "structure",
      "members": {
        "action": {
          "target": "com.amazonaws.macie2#FindingsFilterAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to perform on findings that meet the filter criteria (findingCriteria). Valid values are: ARCHIVE, suppress (automatically archive) the findings; and, NOOP, don't perform any action on the findings.</p>",
            "smithy.api#jsonName": "action",
            "smithy.api#required": {}
          }
        },
        "clientToken": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#jsonName": "clientToken"
          }
        },
        "description": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom description of the filter. The description can contain as many as 512 characters.</p> <p>We strongly recommend that you avoid including any sensitive data in the description of a filter. Other users of your account might be able to see the filter's description, depending on the actions that they're allowed to perform in Amazon Macie.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "findingCriteria": {
          "target": "com.amazonaws.macie2#FindingCriteria",
          "traits": {
            "smithy.api#documentation": "<p>The criteria to use to filter findings.</p>",
            "smithy.api#jsonName": "findingCriteria",
            "smithy.api#required": {}
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom name for the filter. The name must contain at least 3 characters and can contain as many as 64 characters.</p> <p>We strongly recommend that you avoid including any sensitive data in the name of a filter. Other users of your account might be able to see the filter's name, depending on the actions that they're allowed to perform in Amazon Macie.</p>",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "position": {
          "target": "com.amazonaws.macie2#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The position of the filter in the list of saved filters on the Amazon Macie console. This value also determines the order in which the filter is applied to findings, relative to other filters that are also applied to the findings.</p>",
            "smithy.api#jsonName": "position"
          }
        },
        "tags": {
          "target": "com.amazonaws.macie2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs that specifies the tags to associate with the filter.</p> <p>A findings filter can have a maximum of 50 tags. Each tag consists of a tag key and an associated tag value. The maximum length of a tag key is 128 characters. The maximum length of a tag value is 256 characters.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateFindingsFilterResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the filter that was created.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "id": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the filter that was created.</p>",
            "smithy.api#jsonName": "id"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Sends an Amazon Macie membership invitation to one or more accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateInvitationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array that lists Amazon Web Services account IDs, one for each account to send the invitation to.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        },
        "disableEmailNotification": {
          "target": "com.amazonaws.macie2#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Specifies whether to send an email notification to the root user of each account that the invitation will be sent to. This notification is in addition to an alert that the root user receives in Personal Health Dashboard. To send an email notification to the root user of each account, set this value to true.</p>",
            "smithy.api#jsonName": "disableEmailNotification"
          }
        },
        "message": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>A custom message to include in the invitation. Amazon Macie adds this message to the standard content that it sends for an invitation.</p>",
            "smithy.api#jsonName": "message"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateInvitationsResponse": {
      "type": "structure",
      "members": {
        "unprocessedAccounts": {
          "target": "com.amazonaws.macie2#__listOfUnprocessedAccount",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, one for each account whose invitation hasn't been processed. Each object identifies the account and explains why the invitation hasn't been processed for the account.</p>",
            "smithy.api#jsonName": "unprocessedAccounts"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateMemberRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateMemberResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Associates an account with an Amazon Macie administrator account.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateMemberRequest": {
      "type": "structure",
      "members": {
        "account": {
          "target": "com.amazonaws.macie2#AccountDetail",
          "traits": {
            "smithy.api#documentation": "<p>The details of the account to associate with the administrator account.</p>",
            "smithy.api#jsonName": "account",
            "smithy.api#required": {}
          }
        },
        "tags": {
          "target": "com.amazonaws.macie2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A map of key-value pairs that specifies the tags to associate with the account in Amazon Macie.</p> <p>An account can have a maximum of 50 tags. Each tag consists of a tag key and an associated tag value. The maximum length of a tag key is 128 characters. The maximum length of a tag value is 256 characters.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateMemberResponse": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the account that was associated with the administrator account.</p>",
            "smithy.api#jsonName": "arn"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateSampleFindings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#CreateSampleFindingsRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#CreateSampleFindingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates sample findings.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/findings/sample",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#CreateSampleFindingsRequest": {
      "type": "structure",
      "members": {
        "findingTypes": {
          "target": "com.amazonaws.macie2#__listOfFindingType",
          "traits": {
            "smithy.api#documentation": "<p>An array that lists one or more types of findings to include in the set of sample findings. Currently, the only supported value is Policy:IAMUser/S3BucketEncryptionDisabled.</p>",
            "smithy.api#jsonName": "findingTypes"
          }
        }
      }
    },
    "com.amazonaws.macie2#CreateSampleFindingsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.macie2#CriteriaBlockForJob": {
      "type": "structure",
      "members": {
        "and": {
          "target": "com.amazonaws.macie2#__listOfCriteriaForJob",
          "traits": {
            "smithy.api#documentation": "<p>An array of conditions, one for each condition that determines which buckets to include or exclude from the job. If you specify more than one condition, Amazon Macie uses AND logic to join the conditions.</p>",
            "smithy.api#jsonName": "and"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies one or more property- and tag-based conditions that define criteria for including or excluding S3 buckets from a classification job.</p>"
      }
    },
    "com.amazonaws.macie2#CriteriaForJob": {
      "type": "structure",
      "members": {
        "simpleCriterion": {
          "target": "com.amazonaws.macie2#SimpleCriterionForJob",
          "traits": {
            "smithy.api#documentation": "<p>A property-based condition that defines a property, operator, and one or more values for including or excluding buckets from the job.</p>",
            "smithy.api#jsonName": "simpleCriterion"
          }
        },
        "tagCriterion": {
          "target": "com.amazonaws.macie2#TagCriterionForJob",
          "traits": {
            "smithy.api#documentation": "<p>A tag-based condition that defines an operator and tag keys, tag values, or tag key and value pairs for including or excluding buckets from the job.</p>",
            "smithy.api#jsonName": "tagCriterion"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a property- or tag-based condition that defines criteria for including or excluding S3 buckets from a classification job.</p>"
      }
    },
    "com.amazonaws.macie2#Criterion": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.macie2#__string"
      },
      "value": {
        "target": "com.amazonaws.macie2#CriterionAdditionalProperties"
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies a condition that defines a property, operator, and one or more values to filter the results of a query for findings. The number of values depends on the property and operator specified by the condition. For information about defining filter conditions, see <a href=\"https://docs.aws.amazon.com/macie/latest/user/findings-filter-basics.html\">Fundamentals of filtering findings</a> in the <i>Amazon Macie User Guide</i>.</p>"
      }
    },
    "com.amazonaws.macie2#CriterionAdditionalProperties": {
      "type": "structure",
      "members": {
        "eq": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property matches (equals) the specified value. If you specify multiple values, Macie uses OR logic to join the values.</p>",
            "smithy.api#jsonName": "eq"
          }
        },
        "eqExactMatch": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property exclusively matches (equals an exact match for) all the specified values. If you specify multiple values, Amazon Macie uses AND logic to join the values.</p> <p>You can use this operator with the following properties: customDataIdentifiers.detections.arn, customDataIdentifiers.detections.name, resourcesAffected.s3Bucket.tags.key, resourcesAffected.s3Bucket.tags.value, resourcesAffected.s3Object.tags.key, resourcesAffected.s3Object.tags.value, sensitiveData.category, and sensitiveData.detections.type.</p>",
            "smithy.api#jsonName": "eqExactMatch"
          }
        },
        "gt": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is greater than the specified value.</p>",
            "smithy.api#jsonName": "gt"
          }
        },
        "gte": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is greater than or equal to the specified value.</p>",
            "smithy.api#jsonName": "gte"
          }
        },
        "lt": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is less than the specified value.</p>",
            "smithy.api#jsonName": "lt"
          }
        },
        "lte": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property is less than or equal to the specified value.</p>",
            "smithy.api#jsonName": "lte"
          }
        },
        "neq": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The value for the property doesn't match (doesn't equal) the specified value. If you specify multiple values, Macie uses OR logic to join the values.</p>",
            "smithy.api#jsonName": "neq"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Specifies the operator to use in a property-based condition that filters the results of a query for findings. For detailed information and examples of each operator, see <a href=\"https://docs.aws.amazon.com/macie/latest/user/findings-filter-basics.html\">Fundamentals of filtering findings</a> in the <i>Amazon Macie User Guide</i>.</p>"
      }
    },
    "com.amazonaws.macie2#Currency": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "<p>The type of currency that the data for an Amazon Macie usage metric is reported in. Possible values are:</p>",
        "smithy.api#enum": [
          {
            "value": "USD",
            "name": "USD"
          }
        ]
      }
    },
    "com.amazonaws.macie2#CustomDataIdentifierSummary": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom data identifier.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "createdAt": {
          "target": "com.amazonaws.macie2#__timestampIso8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in UTC and extended ISO 8601 format, when the custom data identifier was created.</p>",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "description": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom description of the custom data identifier.</p>",
            "smithy.api#jsonName": "description"
          }
        },
        "id": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the custom data identifier.</p>",
            "smithy.api#jsonName": "id"
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The custom name of the custom data identifier.</p>",
            "smithy.api#jsonName": "name"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a custom data identifier.</p>"
      }
    },
    "com.amazonaws.macie2#CustomDataIdentifiers": {
      "type": "structure",
      "members": {
        "detections": {
          "target": "com.amazonaws.macie2#CustomDetections",
          "traits": {
            "smithy.api#documentation": "<p>The custom data identifiers that detected the data, and the number of occurrences of the data that each identifier detected.</p>",
            "smithy.api#jsonName": "detections"
          }
        },
        "totalCount": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of occurrences of the data that was detected by the custom data identifiers and produced the finding.</p>",
            "smithy.api#jsonName": "totalCount"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about custom data identifiers that produced a sensitive data finding, and the number of occurrences of the data that they detected for the finding.</p>"
      }
    },
    "com.amazonaws.macie2#CustomDetection": {
      "type": "structure",
      "members": {
        "arn": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the custom data identifier.</p>",
            "smithy.api#jsonName": "arn"
          }
        },
        "count": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of occurrences of the sensitive data that the custom data identifier detected.</p>",
            "smithy.api#jsonName": "count"
          }
        },
        "name": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the custom data identifier.</p>",
            "smithy.api#jsonName": "name"
          }
        },
        "occurrences": {
          "target": "com.amazonaws.macie2#Occurrences",
          "traits": {
            "smithy.api#documentation": "<p>The location of 1-15 occurrences of the sensitive data that the custom data identifier detected. A finding includes location data for a maximum of 15 occurrences of sensitive data.</p>",
            "smithy.api#jsonName": "occurrences"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a custom data identifier that produced a sensitive data finding, and the sensitive data that it detected for the finding.</p>"
      }
    },
    "com.amazonaws.macie2#CustomDetections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie2#CustomDetection"
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about custom data identifiers that produced a sensitive data finding, and the number of occurrences of the data that each identifier detected.</p>"
      }
    },
    "com.amazonaws.macie2#DailySchedule": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>Specifies that a classification job runs once a day, every day. This is an empty object.</p>"
      }
    },
    "com.amazonaws.macie2#DayOfWeek": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SUNDAY",
            "name": "SUNDAY"
          },
          {
            "value": "MONDAY",
            "name": "MONDAY"
          },
          {
            "value": "TUESDAY",
            "name": "TUESDAY"
          },
          {
            "value": "WEDNESDAY",
            "name": "WEDNESDAY"
          },
          {
            "value": "THURSDAY",
            "name": "THURSDAY"
          },
          {
            "value": "FRIDAY",
            "name": "FRIDAY"
          },
          {
            "value": "SATURDAY",
            "name": "SATURDAY"
          }
        ]
      }
    },
    "com.amazonaws.macie2#DeclineInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#DeclineInvitationsRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#DeclineInvitationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.macie2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.macie2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.macie2#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Declines Amazon Macie membership invitations that were received from specific accounts.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/invitations/decline",
          "code": 200
        }
      }
    },
    "com.amazonaws.macie2#DeclineInvitationsRequest": {
      "type": "structure",
      "members": {
        "accountIds": {
          "target": "com.amazonaws.macie2#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>An array that lists Amazon Web Services account IDs, one for each account that sent an invitation to decline.</p>",
            "smithy.api#jsonName": "accountIds",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.macie2#DeclineInvitationsResponse": {
      "type": "structure",
      "members": {
        "unprocessedAccounts": {
          "target": "com.amazonaws.macie2#__listOfUnprocessedAccount",
          "traits": {
            "smithy.api#documentation": "<p>An array of objects, one for each account whose invitation hasn't been declined. Each object identifies the account and explains why the request hasn't been processed for that account.</p>",
            "smithy.api#jsonName": "unprocessedAccounts"
          }
        }
      }
    },
    "com.amazonaws.macie2#DefaultDetection": {
      "type": "structure",
      "members": {
        "count": {
          "target": "com.amazonaws.macie2#__long",
          "traits": {
            "smithy.api#documentation": "<p>The total number of occurrences of the type of sensitive data that was detected.</p>",
            "smithy.api#jsonName": "count"
          }
        },
        "occurrences": {
          "target": "com.amazonaws.macie2#Occurrences",
          "traits": {
            "smithy.api#documentation": "<p>The location of 1-15 occurrences of the sensitive data that was detected. A finding includes location data for a maximum of 15 occurrences of sensitive data.</p>",
            "smithy.api#jsonName": "occurrences"
          }
        },
        "type": {
          "target": "com.amazonaws.macie2#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of sensitive data that was detected. For example, AWS_CREDENTIALS, PHONE_NUMBER, or ADDRESS.</p>",
            "smithy.api#jsonName": "type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a type of sensitive data that was detected by a managed data identifier and produced a sensitive data finding.</p>"
      }
    },
    "com.amazonaws.macie2#DefaultDetections": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.macie2#DefaultDetection"
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides information about sensitive data that was detected by managed data identifiers and produced a sensitive data finding, and the number of occurrences of each type of sensitive data that was detected.</p>"
      }
    },
    "com.amazonaws.macie2#DeleteCustomDataIdentifier": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.macie2#DeleteCustomDataIdentifierRequest"
      },
      "output": {
        "target": "com.amazonaws.macie2#DeleteCustomDataIdentifierResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.macie2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.macie2#ConflictException"
        },
        {
          "target": "com.amazonaws.macie2#InternalServerException"
        },
        {
          "target": "com.amazonaws.macie2#ResourceNotFoundException"
        },
        {
[...]
