{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.managedblockchain#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.managedblockchain#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.managedblockchain#ApprovalThresholdPolicy": {
      "type": "structure",
      "members": {
        "ThresholdPercentage": {
          "target": "com.amazonaws.managedblockchain#ThresholdPercentageInt",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>"
          }
        },
        "ProposalDurationInHours": {
          "target": "com.amazonaws.managedblockchain#ProposalDurationInt",
          "traits": {
            "smithy.api#documentation": "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>"
          }
        },
        "ThresholdComparator": {
          "target": "com.amazonaws.managedblockchain#ThresholdComparator",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A policy type that defines the voting rules for the network. The rules decide if a proposal is approved. Approval may be based on criteria such as the percentage of <code>YES</code> votes and the duration of the proposal. The policy applies to all proposals and is specified when the network is created.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#ArnString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        },
        "smithy.api#pattern": "^arn:.+:.+:.+:.+:.+"
      }
    },
    "com.amazonaws.managedblockchain#AvailabilityZoneString": {
      "type": "string"
    },
    "com.amazonaws.managedblockchain#ClientRequestTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#CreateMemberInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#CreateMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.managedblockchain#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a member within a Managed Blockchain network.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateMemberInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.managedblockchain#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the invitation that is sent to the member to join the network.</p>",
            "smithy.api#required": {}
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network in which the member is created.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberConfiguration": {
          "target": "com.amazonaws.managedblockchain#MemberConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Member configuration parameters.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateMemberOutput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#CreateNetworkInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#CreateNetworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.managedblockchain#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new blockchain network using Amazon Managed Blockchain.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNetworkInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.managedblockchain#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.managedblockchain#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>",
            "smithy.api#required": {}
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.managedblockchain#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>",
            "smithy.api#required": {}
          }
        },
        "FrameworkConfiguration": {
          "target": "com.amazonaws.managedblockchain#NetworkFrameworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         Configuration properties of the blockchain framework relevant to the network configuration.\n      </p>"
          }
        },
        "VotingPolicy": {
          "target": "com.amazonaws.managedblockchain#VotingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n         The voting rules used by the network to determine if a proposal is approved.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "MemberConfiguration": {
          "target": "com.amazonaws.managedblockchain#MemberConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for the first member within the network.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#InputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags to assign to the network. Each tag consists of a key and optional value.</p>\n         <p>When specifying tags during creation, you can specify multiple key-value pairs in a single request, with an overall maximum of 50 tags added to each resource.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNetworkOutput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the network.</p>"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the first member within the network.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#CreateNodeInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#CreateNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.managedblockchain#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a node on the specified blockchain network.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/nodes",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNodeInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.managedblockchain#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for the node.</p>\n         <p>Ethereum public networks have the following <code>NetworkId</code>s:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>n-ethereum-mainnet</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>n-ethereum-rinkeby</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>n-ethereum-ropsten</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns this node.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
          }
        },
        "NodeConfiguration": {
          "target": "com.amazonaws.managedblockchain#NodeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The properties of a node configuration.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#InputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags to assign to the node. Each tag consists of a key and optional value.</p>\n         <p>When specifying tags during creation, you can specify multiple key-value pairs in a single request, with an overall maximum of 50 tags added to each resource.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateNodeOutput": {
      "type": "structure",
      "members": {
        "NodeId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#CreateProposalInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#CreateProposalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        },
        {
          "target": "com.amazonaws.managedblockchain#TooManyTagsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a proposal for a change to the network that other members of the network can vote on, for example, a proposal to add a new member to the network. Any member can create a proposal.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/proposals",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateProposalInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.managedblockchain#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network for which the proposal is made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that is creating the proposal. This identifier is especially useful for identifying the member making the proposal when multiple members exist in a single AWS account.</p>",
            "smithy.api#required": {}
          }
        },
        "Actions": {
          "target": "com.amazonaws.managedblockchain#ProposalActions",
          "traits": {
            "smithy.api#documentation": "<p>The type of actions proposed, such as inviting a member or removing a member. The types of <code>Actions</code> in a proposal are mutually exclusive. For example, a proposal with <code>Invitations</code> actions cannot also contain <code>Removals</code> actions.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description for the proposal that is visible to voting members, for example, \"Proposal to add Example Corp. as member.\"</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#InputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags to assign to the proposal. Each tag consists of a key and optional value.</p>\n         <p>When specifying tags during creation, you can specify multiple key-value pairs in a single request, with an overall maximum of 50 tags added to each resource. If the proposal is for a network invitation, the invitation inherits the tags added to the proposal.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#CreateProposalOutput": {
      "type": "structure",
      "members": {
        "ProposalId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the proposal.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#DeleteMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#DeleteMemberInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#DeleteMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a member. Deleting a member removes the member and all associated resources from the network. <code>DeleteMember</code> can only be called for a specified <code>MemberId</code> if the principal performing the action is associated with the AWS account that owns the member. In all other cases, the <code>DeleteMember</code> action is carried out as the result of an approved proposal to remove a member. If <code>MemberId</code> is the last member in a network specified by the last AWS account, the network is deleted also.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/networks/{NetworkId}/members/{MemberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#DeleteMemberInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network from which the member is removed.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member to remove.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#DeleteMemberOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.managedblockchain#DeleteNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#DeleteNodeInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#DeleteNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a node that your AWS account owns. All data on the node is lost and cannot be recovered.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/networks/{NetworkId}/nodes/{NodeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#DeleteNodeInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network that the node is on.</p>\n         <p>Ethereum public networks have the following <code>NetworkId</code>s:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>n-ethereum-mainnet</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>n-ethereum-rinkeby</code>\n               </p>\n            </li>\n            <li>\n               <p>\n                  <code>n-ethereum-ropsten</code>\n               </p>\n            </li>\n         </ul>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns this node.</p>\n         <p>Applies only to Hyperledger Fabric and is required for Hyperledger Fabric.</p>",
            "smithy.api#httpQuery": "memberId"
          }
        },
        "NodeId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#DeleteNodeOutput": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.managedblockchain#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.managedblockchain#Edition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STARTER",
            "name": "STARTER"
          },
          {
            "value": "STANDARD",
            "name": "STANDARD"
          }
        ]
      }
    },
    "com.amazonaws.managedblockchain#Enabled": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.managedblockchain#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.managedblockchain#Framework": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HYPERLEDGER_FABRIC",
            "name": "HYPERLEDGER_FABRIC"
          },
          {
            "value": "ETHEREUM",
            "name": "ETHEREUM"
          }
        ]
      }
    },
    "com.amazonaws.managedblockchain#FrameworkVersionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.managedblockchain#GetMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#GetMemberInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#GetMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a member.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members/{MemberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#GetMemberInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to which the member belongs.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetMemberOutput": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.managedblockchain#Member",
          "traits": {
            "smithy.api#documentation": "<p>The properties of a member.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#GetNetworkInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#GetNetworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a network.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNetworkInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to get information about.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNetworkOutput": {
      "type": "structure",
      "members": {
        "Network": {
          "target": "com.amazonaws.managedblockchain#Network",
          "traits": {
            "smithy.api#documentation": "<p>An object containing network configuration parameters.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#GetNodeInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#GetNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a node.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/nodes/{NodeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNodeInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network that the node is on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns the node.</p>\n         <p>Applies only to Hyperledger Fabric and is required for Hyperledger Fabric.</p>",
            "smithy.api#httpQuery": "memberId"
          }
        },
        "NodeId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetNodeOutput": {
      "type": "structure",
      "members": {
        "Node": {
          "target": "com.amazonaws.managedblockchain#Node",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the node configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#GetProposalInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#GetProposalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a proposal.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals/{ProposalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#GetProposalInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which the proposal is made.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the proposal.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#GetProposalOutput": {
      "type": "structure",
      "members": {
        "Proposal": {
          "target": "com.amazonaws.managedblockchain#Proposal",
          "traits": {
            "smithy.api#documentation": "<p>Information about a proposal.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#IllegalActionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.managedblockchain#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.managedblockchain#InputTagMap": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.managedblockchain#TagKey"
      },
      "value": {
        "target": "com.amazonaws.managedblockchain#TagValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 50
        }
      }
    },
    "com.amazonaws.managedblockchain#InstanceTypeString": {
      "type": "string"
    },
    "com.amazonaws.managedblockchain#InternalServiceErrorException": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.managedblockchain#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.managedblockchain#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.managedblockchain#Invitation": {
      "type": "structure",
      "members": {
        "InvitationId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the invitation.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the invitation was created.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the invitation expires. This is the <code>CreationDate</code> plus the <code>ProposalDurationInHours</code> that is specified in the <code>ProposalThresholdPolicy</code>. After this date and time, the invitee can no longer create a member and join the network using this <code>InvitationId</code>.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the invitation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - The invitee has not created a member to join the network, and the invitation has not yet expired.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCEPTING</code> - The invitee has begun creating a member, and creation has not yet completed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCEPTED</code> - The invitee created a member and joined the network using the <code>InvitationID</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The invitee rejected the invitation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXPIRED</code> - The invitee neither created a member nor rejected the invitation before the <code>ExpirationDate</code>.</p>\n            </li>\n         </ul>"
          }
        },
        "NetworkSummary": {
          "target": "com.amazonaws.managedblockchain#NetworkSummary"
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the invitation. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invitation to an AWS account to create a member and join the network.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#InvitationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.managedblockchain#Invitation"
      }
    },
    "com.amazonaws.managedblockchain#InvitationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PENDING",
            "name": "PENDING"
          },
          {
            "value": "ACCEPTED",
            "name": "ACCEPTED"
          },
          {
            "value": "ACCEPTING",
            "name": "ACCEPTING"
          },
          {
            "value": "REJECTED",
            "name": "REJECTED"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          }
        ]
      }
    },
    "com.amazonaws.managedblockchain#InviteAction": {
      "type": "structure",
      "members": {
        "Principal": {
          "target": "com.amazonaws.managedblockchain#PrincipalString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID to invite.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An action to invite a specific AWS account to create a member and join the network. The <code>InviteAction</code> is carried out when a <code>Proposal</code> is <code>APPROVED</code>.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#InviteActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.managedblockchain#InviteAction"
      }
    },
    "com.amazonaws.managedblockchain#IsOwned": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": {}
      }
    },
    "com.amazonaws.managedblockchain#ListInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListInvitationsInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListInvitationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of all invitations for the current AWS account.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/invitations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListInvitationsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of invitations to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListInvitationsOutput": {
      "type": "structure",
      "members": {
        "Invitations": {
          "target": "com.amazonaws.managedblockchain#InvitationList",
          "traits": {
            "smithy.api#documentation": "<p>The invitations for the network.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListMembersInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListMembersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the members in a network and properties of their configurations.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListMembersInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which to list members.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The optional name of the member to list.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only members currently in this status are listed.</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "IsOwned": {
          "target": "com.amazonaws.managedblockchain#IsOwned",
          "traits": {
            "smithy.api#documentation": "<p>An optional Boolean value. If provided, the request is limited either to\n         members that the current AWS account owns (<code>true</code>) or that other AWS accounts\n         own (<code>false</code>). If omitted, all members are listed.</p>",
            "smithy.api#httpQuery": "isOwned"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#MemberListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of members to return in the request.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListMembersOutput": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.managedblockchain#MemberSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>MemberSummary</code> objects. Each object contains details about a network member.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNetworks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListNetworksInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListNetworksOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the networks in which the current AWS account participates.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNetworksInput": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "Framework": {
          "target": "com.amazonaws.managedblockchain#Framework",
          "traits": {
            "smithy.api#documentation": "<p>An optional framework specifier. If provided, only networks of this framework type are listed.</p>",
            "smithy.api#httpQuery": "framework"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only networks currently in this status are listed.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#NetworkListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of networks to list.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNetworksOutput": {
      "type": "structure",
      "members": {
        "Networks": {
          "target": "com.amazonaws.managedblockchain#NetworkSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>NetworkSummary</code> objects that contain configuration properties for each network.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNodes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListNodesInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListNodesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the nodes within a network.</p>\n         <p>Applies to Hyperledger Fabric and Ethereum.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/nodes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNodesInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which to list nodes.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member who owns the nodes to list.</p>\n         <p>Applies only to Hyperledger Fabric and is required for Hyperledger Fabric.</p>",
            "smithy.api#httpQuery": "memberId"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#NodeStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only nodes currently in this status are listed.</p>",
            "smithy.api#httpQuery": "status"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#NodeListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of nodes to list.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListNodesOutput": {
      "type": "structure",
      "members": {
        "Nodes": {
          "target": "com.amazonaws.managedblockchain#NodeSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>NodeSummary</code> objects that contain configuration properties for each node.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposalVotes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListProposalVotesInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListProposalVotesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the list of votes for a specified proposal, including the value of each vote and the unique identifier of the member that cast the vote.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals/{ProposalId}/votes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposalVotesInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the proposal.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of votes to return.\n      </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposalVotesOutput": {
      "type": "structure",
      "members": {
        "ProposalVotes": {
          "target": "com.amazonaws.managedblockchain#ProposalVoteList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The list of votes.\n      </p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposals": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListProposalsInput"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListProposalsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of proposals for the network.</p>\n         <p>Applies only to Hyperledger Fabric.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposalsInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network.\n      </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.managedblockchain#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of proposals to return.\n      </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListProposalsOutput": {
      "type": "structure",
      "members": {
        "Proposals": {
          "target": "com.amazonaws.managedblockchain#ProposalSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of each proposal made on the network.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.managedblockchain#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.managedblockchain#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.managedblockchain#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.managedblockchain#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.managedblockchain#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.managedblockchain#ResourceNotReadyException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of tags for the specified resource. Each tag consists of a key and optional value.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.managedblockchain#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.managedblockchain#OutputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.managedblockchain#LogConfiguration": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.managedblockchain#Enabled",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether logging is enabled.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A configuration for logging events.</p>"
      }
    },
    "com.amazonaws.managedblockchain#LogConfigurations": {
      "type": "structure",
      "members": {
        "Cloudwatch": {
          "target": "com.amazonaws.managedblockchain#LogConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Parameters for publishing logs to Amazon CloudWatch Logs.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A collection of log configurations.</p>"
      }
    },
    "com.amazonaws.managedblockchain#Member": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to which the member belongs.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the member.</p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.managedblockchain#MemberFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
          }
        },
        "LogPublishingConfiguration": {
          "target": "com.amazonaws.managedblockchain#MemberLogPublishingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a member.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The AWS account is in the process of creating a member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The member has been created and can participate in the network.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_FAILED</code> - The AWS account attempted to create a member and creation failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The member and all associated resources are in the process of being deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The member can no longer participate on the network and all associated resources are deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n         </ul>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#OutputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the member. Tags consist of a key and optional value. For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Member configuration properties.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberConfiguration": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.managedblockchain#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the member.</p>"
          }
        },
        "FrameworkConfiguration": {
          "target": "com.amazonaws.managedblockchain#MemberFrameworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties of the blockchain framework relevant to the member.</p>",
            "smithy.api#required": {}
          }
        },
        "LogPublishingConfiguration": {
          "target": "com.amazonaws.managedblockchain#MemberLogPublishingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member of a Managed Blockchain network.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#InputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the member. Tags consist of a key and optional value. For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>\n         <p>When specifying tags during creation, you can specify multiple key-value pairs in a single request, with an overall maximum of 50 tags added to each resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties of the member.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberFabricAttributes": {
      "type": "structure",
      "members": {
        "AdminUsername": {
          "target": "com.amazonaws.managedblockchain#UsernameString",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the initial administrator user for the member.</p>"
          }
        },
        "CaEndpoint": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to access the member's certificate authority.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a member in a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberFabricConfiguration": {
      "type": "structure",
      "members": {
        "AdminUsername": {
          "target": "com.amazonaws.managedblockchain#UsernameString",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the member's initial administrative user.</p>",
            "smithy.api#required": {}
          }
        },
        "AdminPassword": {
          "target": "com.amazonaws.managedblockchain#PasswordString",
          "traits": {
            "smithy.api#documentation": "<p>The password for the member's initial administrative user. The <code>AdminPassword</code> must be at least eight characters long and no more than 32 characters. It must contain at least one uppercase letter, one lowercase letter, and one digit. It cannot have a single quotation mark (‘), a double quotation marks (“), a forward slash(/), a backward slash(\\), @, or a space.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties for Hyperledger Fabric for a member in a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberFabricLogPublishingConfiguration": {
      "type": "structure",
      "members": {
        "CaLogs": {
          "target": "com.amazonaws.managedblockchain#LogConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member's Certificate Authority (CA). CA logs help you determine when a member in your account joins the network, or when new peers register with a member CA.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member of a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberFrameworkAttributes": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.managedblockchain#MemberFabricAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric relevant to a member on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberFrameworkConfiguration": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.managedblockchain#MemberFabricConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a member on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.managedblockchain#MemberLogPublishingConfiguration": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.managedblockchain#MemberFabricLogPublishingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member of a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties for logging events associated with a member of a Managed Blockchain network.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.managedblockchain#MemberSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the member.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the member.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The AWS account is in the process of creating a member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The member has been created and can participate in the network.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_FAILED</code> - The AWS account attempted to create a member and creation failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The member and all associated resources are in the process of being deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The member can no longer participate on the network and all associated resources are deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n         </ul>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member was created.</p>"
          }
        },
        "IsOwned": {
          "target": "com.amazonaws.managedblockchain#IsOwned",
          "traits": {
            "smithy.api#documentation": "<p>An indicator of whether the member is owned by your AWS account or a different AWS account.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the member. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of configuration properties for a member.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.managedblockchain#MemberSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.managedblockchain#MemberSummary"
      }
    },
    "com.amazonaws.managedblockchain#NameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.managedblockchain#Network": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework for the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.managedblockchain#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.managedblockchain#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.managedblockchain#NetworkFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework that the network uses.</p>"
          }
        },
        "VpcEndpointServiceName": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The VPC endpoint service name of the VPC endpoint service of the network. Members use the VPC endpoint service name to create a VPC endpoint to access network resources.</p>"
          }
        },
        "VotingPolicy": {
          "target": "com.amazonaws.managedblockchain#VotingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The voting rules for the network to decide if a proposal is accepted.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the network.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the network was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#OutputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the network. Each tag consists of a key and optional value.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Network configuration properties.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkEthereumAttributes": {
      "type": "structure",
      "members": {
        "ChainId": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The Ethereum <code>CHAIN_ID</code> associated with the Ethereum network. Chain IDs are as follows:</p>\n         <ul>\n            <li>\n               <p>mainnet = <code>1</code>\n               </p>\n            </li>\n            <li>\n               <p>rinkeby = <code>4</code>\n               </p>\n            </li>\n            <li>\n               <p>ropsten = <code>3</code>\n               </p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Ethereum for a network. </p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkFabricAttributes": {
      "type": "structure",
      "members": {
        "OrderingServiceEndpoint": {
          "target": "com.amazonaws.managedblockchain#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the ordering service for the network.</p>"
          }
        },
        "Edition": {
          "target": "com.amazonaws.managedblockchain#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon Managed Blockchain that Hyperledger Fabric uses. For more information, see <a href=\"http://aws.amazon.com/managed-blockchain/pricing/\">Amazon Managed Blockchain Pricing</a>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a network.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkFabricConfiguration": {
      "type": "structure",
      "members": {
        "Edition": {
          "target": "com.amazonaws.managedblockchain#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon Managed Blockchain that the network uses. For more information, see <a href=\"http://aws.amazon.com/managed-blockchain/pricing/\">Amazon Managed Blockchain Pricing</a>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Hyperledger Fabric configuration properties for the network.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkFrameworkAttributes": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.managedblockchain#NetworkFabricAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        },
        "Ethereum": {
          "target": "com.amazonaws.managedblockchain#NetworkEthereumAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of an Ethereum network for Managed Blockchain resources participating in an Ethereum network. </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes relevant to the network for the blockchain framework that the network uses.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkFrameworkConfiguration": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.managedblockchain#NetworkFabricConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         Hyperledger Fabric configuration properties for a Managed Blockchain network that uses Hyperledger Fabric.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Configuration properties relevant to the network for the blockchain framework that the network uses.\n      </p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": {},
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.managedblockchain#NetworkMemberNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(?!-|[0-9])(?!.*-$)(?!.*?--)[a-zA-Z0-9-]+$"
      }
    },
    "com.amazonaws.managedblockchain#NetworkStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "CREATING",
            "name": "CREATING"
          },
          {
            "value": "AVAILABLE",
            "name": "AVAILABLE"
          },
          {
            "value": "CREATE_FAILED",
            "name": "CREATE_FAILED"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.managedblockchain#NetworkSummary": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.managedblockchain#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.managedblockchain#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.managedblockchain#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.managedblockchain#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the network.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the network was created.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the network. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of network configuration properties.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NetworkSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.managedblockchain#NetworkSummary"
      }
    },
    "com.amazonaws.managedblockchain#Node": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network that the node is on.</p>"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member to which the node belongs.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.managedblockchain#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.managedblockchain#InstanceTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the node.</p>"
          }
        },
        "AvailabilityZone": {
          "target": "com.amazonaws.managedblockchain#AvailabilityZoneString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the node exists. Required for Ethereum nodes. </p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.managedblockchain#NodeFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework being used.</p>"
          }
        },
        "LogPublishingConfiguration": {
          "target": "com.amazonaws.managedblockchain#NodeLogPublishingConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for logging events associated with a peer node on a Hyperledger Fabric network on Managed Blockchain.</p>"
          }
        },
        "StateDB": {
          "target": "com.amazonaws.managedblockchain#StateDBType",
          "traits": {
            "smithy.api#documentation": "<p>The state database that the node uses. Values are <code>LevelDB</code> or <code>CouchDB</code>.</p>\n         <p>Applies only to Hyperledger Fabric.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.managedblockchain#NodeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the node.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.managedblockchain#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the node was created.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.managedblockchain#OutputTagMap",
          "traits": {
            "smithy.api#documentation": "<p>Tags assigned to the node. Each tag consists of a key and optional value.</p>\n         <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/ethereum-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Ethereum Developer Guide</i>, or <a href=\"https://docs.aws.amazon.com/managed-blockchain/latest/hyperledger-fabric-dev/tagging-resources.html\">Tagging Resources</a> in the <i>Amazon Managed Blockchain Hyperledger Fabric Developer Guide</i>.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.managedblockchain#ArnString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the node. For more information about ARNs and their format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>AWS General Reference</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties of a node.</p>"
      }
    },
    "com.amazonaws.managedblockchain#NodeConfiguration": {
      "type": "structure",
      "members": {
        "InstanceType": {
[...]
