{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.taiga.webservice.api#AccessDeniedException": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.taiga.webservice.api#ApprovalThresholdPolicy": {
      "type": "structure",
      "members": {
        "ProposalDurationInHours": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalDurationInt",
          "traits": {
            "smithy.api#documentation": "<p>The duration from the time that a proposal is created until it expires. If members cast neither the required number of <code>YES</code> votes to approve the proposal nor the number of <code>NO</code> votes required to reject it before the duration expires, the proposal is <code>EXPIRED</code> and <code>ProposalActions</code> are not carried out.</p>"
          }
        },
        "ThresholdComparator": {
          "target": "com.amazonaws.taiga.webservice.api#ThresholdComparator",
          "traits": {
            "smithy.api#documentation": "<p>Determines whether the vote percentage must be greater than the <code>ThresholdPercentage</code> or must be greater than or equal to the <code>ThreholdPercentage</code> to be approved.</p>"
          }
        },
        "ThresholdPercentage": {
          "target": "com.amazonaws.taiga.webservice.api#ThresholdPercentageInt",
          "traits": {
            "smithy.api#documentation": "<p>The percentage of votes among all members that must be <code>YES</code> for a proposal to be approved. For example, a <code>ThresholdPercentage</code> value of <code>50</code> indicates 50%. The <code>ThresholdComparator</code> determines the precise comparison. If a <code>ThresholdPercentage</code> value of <code>50</code> is specified on a network with 10 members, along with a <code>ThresholdComparator</code> value of <code>GREATER_THAN</code>, this indicates that 6 <code>YES</code> votes are required for the proposal to be approved.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A policy type that defines the voting rules for the network. The rules decide if a proposal is approved. Approval may be based on criteria such as the percentage of <code>YES</code> votes and the duration of the proposal. The policy applies to all proposals and is specified when the network is created.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#AvailabilityZoneString": {
      "type": "string"
    },
    "com.amazonaws.taiga.webservice.api#ClientRequestTokenString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#CreateMemberInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#CreateMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a member within a Managed Blockchain network.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/members",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateMemberInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.taiga.webservice.api#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the invitation that is sent to the member to join the network.</p>",
            "smithy.api#required": true
          }
        },
        "MemberConfiguration": {
          "target": "com.amazonaws.taiga.webservice.api#MemberConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Member configuration parameters.</p>",
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network in which the member is created.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateMemberOutput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#CreateNetworkInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#CreateNetworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new blockchain network using Amazon Managed Blockchain.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNetworkInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.taiga.webservice.api#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.taiga.webservice.api#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>",
            "smithy.api#required": true
          }
        },
        "FrameworkConfiguration": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkFrameworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         Configuration properties of the blockchain framework relevant to the network configuration.\n      </p>"
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.taiga.webservice.api#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>",
            "smithy.api#required": true
          }
        },
        "MemberConfiguration": {
          "target": "com.amazonaws.taiga.webservice.api#MemberConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties for the first member within the network.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>",
            "smithy.api#required": true
          }
        },
        "VotingPolicy": {
          "target": "com.amazonaws.taiga.webservice.api#VotingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>\n         The voting rules used by the network to determine if a proposal is approved.\n      </p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNetworkOutput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the first member within the network.</p>"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the network.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#CreateNodeInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#CreateNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceAlreadyExistsException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a peer node in a member.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/members/{MemberId}/nodes",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNodeInput": {
      "type": "structure",
      "members": {
        "ClientRequestToken": {
          "target": "com.amazonaws.taiga.webservice.api#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns this node.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network in which this node runs.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NodeConfiguration": {
          "target": "com.amazonaws.taiga.webservice.api#NodeConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The properties of a node configuration.</p>",
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateNodeOutput": {
      "type": "structure",
      "members": {
        "NodeId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#CreateProposalInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#CreateProposalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a proposal for a change to the network that other members of the network can vote on, for example, a proposal to add a new member to the network. Any member can create a proposal.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/networks/{NetworkId}/proposals",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateProposalInput": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalActions",
          "traits": {
            "smithy.api#documentation": "<p>The type of actions proposed, such as inviting a member or removing a member. The types of <code>Actions</code> in a proposal are mutually exclusive. For example, a proposal with <code>Invitations</code> actions cannot also contain <code>Removals</code> actions.</p>",
            "smithy.api#required": true
          }
        },
        "ClientRequestToken": {
          "target": "com.amazonaws.taiga.webservice.api#ClientRequestTokenString",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the operation. An idempotent operation completes no more than one time. This identifier is required only if you make a service request directly using an HTTP client. It is generated automatically if you use an AWS SDK or the AWS CLI.</p>",
            "smithy.api#idempotencyToken": true,
            "smithy.api#required": true
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>A description for the proposal that is visible to voting members, for example, \"Proposal to add Example Corp. as member.\"</p>"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that is creating the proposal. This identifier is especially useful for identifying the member making the proposal when multiple members exist in a single AWS account.</p>",
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network for which the proposal is made.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#CreateProposalOutput": {
      "type": "structure",
      "members": {
        "ProposalId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the proposal.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#DeleteMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#DeleteMemberInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#DeleteMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a member. Deleting a member removes the member and all associated resources from the network. <code>DeleteMember</code> can only be called for a specified <code>MemberId</code> if the principal performing the action is associated with the AWS account that owns the member. In all other cases, the <code>DeleteMember</code> action is carried out as the result of an approved proposal to remove a member. If <code>MemberId</code> is the last member in a network specified by the last AWS account, the network is deleted also.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/networks/{NetworkId}/members/{MemberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#DeleteMemberInput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member to remove.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network from which the member is removed.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#DeleteMemberOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.taiga.webservice.api#DeleteNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#DeleteNodeInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#DeleteNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotReadyException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a peer node from a member that your AWS account owns. All data on the node is lost and cannot be recovered.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/networks/{NetworkId}/members/{MemberId}/nodes/{NodeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#DeleteNodeInput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns this node.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network that the node belongs to.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NodeId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#DeleteNodeOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.taiga.webservice.api#DescriptionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#Edition": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "STARTER": {
            "name": "STARTER"
          },
          "STANDARD": {
            "name": "STANDARD"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#Framework": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "HYPERLEDGER_FABRIC": {
            "name": "HYPERLEDGER_FABRIC"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#FrameworkVersionString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetMember": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#GetMemberInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#GetMemberOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a member.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members/{MemberId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetMemberInput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to which the member belongs.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetMemberOutput": {
      "type": "structure",
      "members": {
        "Member": {
          "target": "com.amazonaws.taiga.webservice.api#Member",
          "traits": {
            "smithy.api#documentation": "<p>The properties of a member.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNetwork": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#GetNetworkInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#GetNetworkOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNetworkInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to get information about.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNetworkOutput": {
      "type": "structure",
      "members": {
        "Network": {
          "target": "com.amazonaws.taiga.webservice.api#Network",
          "traits": {
            "smithy.api#documentation": "<p>An object containing network configuration parameters.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNode": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#GetNodeInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#GetNodeOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a peer node.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members/{MemberId}/nodes/{NodeId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNodeInput": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that owns the node.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to which the node belongs.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NodeId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetNodeOutput": {
      "type": "structure",
      "members": {
        "Node": {
          "target": "com.amazonaws.taiga.webservice.api#Node",
          "traits": {
            "smithy.api#documentation": "<p>Properties of the node configuration.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetProposal": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#GetProposalInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#GetProposalOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns detailed information about a proposal.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals/{ProposalId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetProposalInput": {
      "type": "structure",
      "members": {
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which the proposal is made.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the proposal.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#GetProposalOutput": {
      "type": "structure",
      "members": {
        "Proposal": {
          "target": "com.amazonaws.taiga.webservice.api#Proposal",
          "traits": {
            "smithy.api#documentation": "<p>Information about a proposal.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#IllegalActionException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.taiga.webservice.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p></p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.taiga.webservice.api#InstanceTypeString": {
      "type": "string"
    },
    "com.amazonaws.taiga.webservice.api#InternalServiceErrorException": {
      "type": "structure",
      "members": { },
      "traits": {
        "smithy.api#documentation": "<p>The request processing has failed because of an unknown error, exception or failure.</p>",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.taiga.webservice.api#InvalidRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.taiga.webservice.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The action or operation requested is invalid. Verify that the action is typed correctly.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.taiga.webservice.api#Invitation": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the invitation was created.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the invitation expires. This is the <code>CreationDate</code> plus the <code>ProposalDurationInHours</code> that is specified in the <code>ProposalThresholdPolicy</code>. After this date and time, the invitee can no longer create a member and join the network using this <code>InvitationId</code>.</p>"
          }
        },
        "InvitationId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the invitation.</p>"
          }
        },
        "NetworkSummary": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkSummary"
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#InvitationStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the invitation:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>PENDING</code> - The invitee has not created a member to join the network, and the invitation has not yet expired.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCEPTING</code> - The invitee has begun creating a member, and creation has not yet completed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACCEPTED</code> - The invitee created a member and joined the network using the <code>InvitationID</code>.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The invitee rejected the invitation.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXPIRED</code> - The invitee neither created a member nor rejected the invitation before the <code>ExpirationDate</code>.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An invitation to an AWS account to create a member and join the network.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#InvitationList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#Invitation"
      }
    },
    "com.amazonaws.taiga.webservice.api#InvitationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "PENDING": {
            "name": "PENDING"
          },
          "ACCEPTED": {
            "name": "ACCEPTED"
          },
          "ACCEPTING": {
            "name": "ACCEPTING"
          },
          "REJECTED": {
            "name": "REJECTED"
          },
          "EXPIRED": {
            "name": "EXPIRED"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#InviteAction": {
      "type": "structure",
      "members": {
        "Principal": {
          "target": "com.amazonaws.taiga.webservice.api#PrincipalString",
          "traits": {
            "smithy.api#documentation": "<p>The AWS account ID to invite.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An action to invite a specific AWS account to create a member and join the network. The <code>InviteAction</code> is carried out when a <code>Proposal</code> is <code>APPROVED</code>.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#InviteActionList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#InviteAction"
      }
    },
    "com.amazonaws.taiga.webservice.api#IsOwned": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.taiga.webservice.api#ListInvitations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListInvitationsInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListInvitationsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceLimitExceededException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a listing of all invitations made on the specified network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/invitations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListInvitationsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of invitations to return.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListInvitationsOutput": {
      "type": "structure",
      "members": {
        "Invitations": {
          "target": "com.amazonaws.taiga.webservice.api#InvitationList",
          "traits": {
            "smithy.api#documentation": "<p>The invitations for the network.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListMembersInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListMembersOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a listing of the members in a network and properties of their configurations.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListMembersInput": {
      "type": "structure",
      "members": {
        "IsOwned": {
          "target": "com.amazonaws.taiga.webservice.api#IsOwned",
          "traits": {
            "smithy.api#documentation": "<p>An optional Boolean value. If provided, the request is limited either to\n         members that the current AWS account owns (<code>true</code>) or that other AWS accounts\n         own (<code>false</code>). If omitted, all members are listed.</p>",
            "smithy.api#httpQuery": "isOwned"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#MemberListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of members to return in the request.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The optional name of the member to list.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which to list members.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only members currently in this status are listed.</p>",
            "smithy.api#httpQuery": "status"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListMembersOutput": {
      "type": "structure",
      "members": {
        "Members": {
          "target": "com.amazonaws.taiga.webservice.api#MemberSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>MemberSummary</code> objects. Each object contains details about a network member.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNetworks": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListNetworksInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListNetworksOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the networks in which the current AWS account has members.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNetworksInput": {
      "type": "structure",
      "members": {
        "Framework": {
          "target": "com.amazonaws.taiga.webservice.api#Framework",
          "traits": {
            "smithy.api#documentation": "<p>An optional framework specifier. If provided, only networks of this framework type are listed.</p>",
            "smithy.api#httpQuery": "framework"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of networks to list.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>",
            "smithy.api#httpQuery": "name"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only networks currently in this status are listed.</p>",
            "smithy.api#httpQuery": "status"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNetworksOutput": {
      "type": "structure",
      "members": {
        "Networks": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>NetworkSummary</code> objects that contain configuration properties for each network.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNodes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListNodesInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListNodesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns information about the nodes within a network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/members/{MemberId}/nodes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNodesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#NodeListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of nodes to list.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member who owns the nodes to list.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which to list nodes.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NodeStatus",
          "traits": {
            "smithy.api#documentation": "<p>An optional status specifier. If provided, only nodes currently in this status are listed.</p>",
            "smithy.api#httpQuery": "status"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListNodesOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        },
        "Nodes": {
          "target": "com.amazonaws.taiga.webservice.api#NodeSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>NodeSummary</code> objects that contain configuration properties for each node.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposalVotes": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListProposalVotesInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListProposalVotesOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the listing of votes for a specified proposal, including the value of each vote and the unique identifier of the member that cast the vote.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals/{ProposalId}/votes",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposalVotesInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of votes to return.\n      </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network.\n      </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the proposal.\n      </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposalVotesOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>"
          }
        },
        "ProposalVotes": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalVoteList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The listing of votes.\n      </p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposals": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#ListProposalsInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#ListProposalsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a listing of proposals for the network.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/networks/{NetworkId}/proposals",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposalsInput": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalListMaxResults",
          "traits": {
            "smithy.api#documentation": "<p>\n         The maximum number of proposals to return.\n      </p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the network.\n      </p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        },
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>\n         The pagination token that indicates the next set of results to retrieve.\n      </p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ListProposalsOutput": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.taiga.webservice.api#PaginationToken",
          "traits": {
            "smithy.api#documentation": "<p>The pagination token that indicates the next set of results to retrieve.</p>"
          }
        },
        "Proposals": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>The summary of each proposal made on the network.</p>"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#Member": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the member.</p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.taiga.webservice.api#MemberFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network to which the member belongs.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of a member.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The AWS account is in the process of creating a member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The member has been created and can participate in the network.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_FAILED</code> - The AWS account attempted to create a member and creation failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The member and all associated resources are in the process of being deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The member can no longer participate on the network and all associated resources are deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Member configuration properties.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberConfiguration": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the member.</p>"
          }
        },
        "FrameworkConfiguration": {
          "target": "com.amazonaws.taiga.webservice.api#MemberFrameworkConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Configuration properties of the blockchain framework relevant to the member.</p>",
            "smithy.api#required": true
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties of the member.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberFabricAttributes": {
      "type": "structure",
      "members": {
        "AdminUsername": {
          "target": "com.amazonaws.taiga.webservice.api#UsernameString",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the initial administrator user for the member.</p>"
          }
        },
        "CaEndpoint": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint used to access the member's certificate authority.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a member in a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberFabricConfiguration": {
      "type": "structure",
      "members": {
        "AdminPassword": {
          "target": "com.amazonaws.taiga.webservice.api#PasswordString",
          "traits": {
            "smithy.api#documentation": "<p>The password for the member's initial administrative user. The <code>AdminPassword</code> must be at least eight characters long and no more than 32 characters. It must contain at least one uppercase letter, one lowercase letter, and one digit. It cannot have a single quote(‘), double quote(“), forward slash(/), backward slash(\\), @, or a space.</p>",
            "smithy.api#required": true
          }
        },
        "AdminUsername": {
          "target": "com.amazonaws.taiga.webservice.api#UsernameString",
          "traits": {
            "smithy.api#documentation": "<p>The user name for the member's initial administrative user.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties for Hyperledger Fabric for a member in a Managed Blockchain network using the Hyperledger Fabric framework.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberFrameworkAttributes": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.taiga.webservice.api#MemberFabricAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric relevant to a member on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberFrameworkConfiguration": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.taiga.webservice.api#MemberFabricConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a member on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties relevant to a member for the blockchain framework that the Managed Blockchain network uses.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "CREATING"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "CREATE_FAILED": {
            "name": "CREATE_FAILED"
          },
          "DELETING": {
            "name": "DELETING"
          },
          "DELETED": {
            "name": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberSummary": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the member was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the member.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member.</p>"
          }
        },
        "IsOwned": {
          "target": "com.amazonaws.taiga.webservice.api#IsOwned",
          "traits": {
            "smithy.api#documentation": "<p>An indicator of whether the member is owned by your AWS account or a different AWS account.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#MemberStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the member.</p>\n         <ul>\n            <li>\n               <p>\n                  <code>CREATING</code> - The AWS account is in the process of creating a member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AVAILABLE</code> - The member has been created and can participate in the network.</p>\n            </li>\n            <li>\n               <p>\n                  <code>CREATE_FAILED</code> - The AWS account attempted to create a member and creation failed.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETING</code> - The member and all associated resources are in the process of being deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n            <li>\n               <p>\n                  <code>DELETED</code> - The member can no longer participate on the network and all associated resources are deleted. Either the AWS account that owns the member deleted it, or the member is being deleted as the result of an <code>APPROVED</code> \n                  <code>PROPOSAL</code> to remove the member.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of configuration properties for a member.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#MemberSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#MemberSummary"
      }
    },
    "com.amazonaws.taiga.webservice.api#NameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": ".*\\S.*"
      }
    },
    "com.amazonaws.taiga.webservice.api#Network": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the network was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework for the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.taiga.webservice.api#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.taiga.webservice.api#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the network.</p>"
          }
        },
        "VotingPolicy": {
          "target": "com.amazonaws.taiga.webservice.api#VotingPolicy",
          "traits": {
            "smithy.api#documentation": "<p>The voting rules for the network to decide if a proposal is accepted.</p>"
          }
        },
        "VpcEndpointServiceName": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The VPC endpoint service name of the VPC endpoint service of the network. Members use the VPC endpoint service name to create a VPC endpoint to access network resources.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Network configuration properties.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkFabricAttributes": {
      "type": "structure",
      "members": {
        "Edition": {
          "target": "com.amazonaws.taiga.webservice.api#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon Managed Blockchain that Hyperledger Fabric uses. For more information, see <a href=\"https://aws.amazon.com/managed-blockchain/pricing/\">Amazon Managed Blockchain Pricing</a>.</p>"
          }
        },
        "OrderingServiceEndpoint": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint of the ordering service for the network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a network.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkFabricConfiguration": {
      "type": "structure",
      "members": {
        "Edition": {
          "target": "com.amazonaws.taiga.webservice.api#Edition",
          "traits": {
            "smithy.api#documentation": "<p>The edition of Amazon Managed Blockchain that the network uses. For more information, see <a href=\"https://aws.amazon.com/managed-blockchain/pricing/\">Amazon Managed Blockchain Pricing</a>.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Hyperledger Fabric configuration properties for the network.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkFrameworkAttributes": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkFabricAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes relevant to the network for the blockchain framework that the network uses.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkFrameworkConfiguration": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkFabricConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>\n         Hyperledger Fabric configuration properties for a Managed Blockchain network that uses Hyperledger Fabric.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         Configuration properties relevant to the network for the blockchain framework that the network uses.\n      </p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkMemberNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^(?!-)^[^0-9](?!.*--)[A-Za-z0-9-]+[^- ]$"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "CREATING"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "CREATE_FAILED": {
            "name": "CREATE_FAILED"
          },
          "DELETING": {
            "name": "DELETING"
          },
          "DELETED": {
            "name": "DELETED"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkSummary": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the network was created.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>An optional description of the network.</p>"
          }
        },
        "Framework": {
          "target": "com.amazonaws.taiga.webservice.api#Framework",
          "traits": {
            "smithy.api#documentation": "<p>The blockchain framework that the network uses.</p>"
          }
        },
        "FrameworkVersion": {
          "target": "com.amazonaws.taiga.webservice.api#FrameworkVersionString",
          "traits": {
            "smithy.api#documentation": "<p>The version of the blockchain framework that the network uses.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.taiga.webservice.api#NameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the network.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the network.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of network configuration properties.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NetworkSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#NetworkSummary"
      }
    },
    "com.amazonaws.taiga.webservice.api#Node": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.taiga.webservice.api#AvailabilityZoneString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the node exists.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the node was created.</p>"
          }
        },
        "FrameworkAttributes": {
          "target": "com.amazonaws.taiga.webservice.api#NodeFrameworkAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of the blockchain framework being used.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.taiga.webservice.api#InstanceTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The instance type of the node.</p>"
          }
        },
        "MemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member to which the node belongs.</p>"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network that the node is in.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NodeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties of a peer node.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeConfiguration": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.taiga.webservice.api#AvailabilityZoneString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the node exists.</p>",
            "smithy.api#required": true
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.taiga.webservice.api#InstanceTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Managed Blockchain instance type for the node.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration properties of a peer node.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeFabricAttributes": {
      "type": "structure",
      "members": {
        "PeerEndpoint": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint that identifies the peer node for all services except peer channel-based event services.</p>"
          }
        },
        "PeerEventEndpoint": {
          "target": "com.amazonaws.taiga.webservice.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The endpoint that identifies the peer node for peer channel-based event services.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a peer node on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeFrameworkAttributes": {
      "type": "structure",
      "members": {
        "Fabric": {
          "target": "com.amazonaws.taiga.webservice.api#NodeFabricAttributes",
          "traits": {
            "smithy.api#documentation": "<p>Attributes of Hyperledger Fabric for a peer node on a Managed Blockchain network that uses Hyperledger Fabric.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Attributes relevant to a peer node on a Managed Blockchain network for the blockchain framework that the network uses.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CREATING": {
            "name": "CREATING"
          },
          "AVAILABLE": {
            "name": "AVAILABLE"
          },
          "CREATE_FAILED": {
            "name": "CREATE_FAILED"
          },
          "DELETING": {
            "name": "DELETING"
          },
          "DELETED": {
            "name": "DELETED"
          },
          "FAILED": {
            "name": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeSummary": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.taiga.webservice.api#AvailabilityZoneString",
          "traits": {
            "smithy.api#documentation": "<p>The Availability Zone in which the node exists.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the node was created.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the node.</p>"
          }
        },
        "InstanceType": {
          "target": "com.amazonaws.taiga.webservice.api#InstanceTypeString",
          "traits": {
            "smithy.api#documentation": "<p>The EC2 instance type for the node.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#NodeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the node.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of configuration properties for a peer node.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#NodeSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#NodeSummary"
      }
    },
    "com.amazonaws.taiga.webservice.api#PaginationToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 128
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#PasswordString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 8,
          "max": 32
        },
        "smithy.api#pattern": "^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d)(?!.*[@'\\\\\"/])[a-zA-Z0-9\\S]*$",
        "smithy.api#sensitive": true
      }
    },
    "com.amazonaws.taiga.webservice.api#PrincipalString": {
      "type": "string"
    },
    "com.amazonaws.taiga.webservice.api#Proposal": {
      "type": "structure",
      "members": {
        "Actions": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalActions",
          "traits": {
            "smithy.api#documentation": "<p>The actions to perform on the network if the proposal is <code>APPROVED</code>.</p>"
          }
        },
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The date and time that the proposal was created.\n      </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>The description of the proposal.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The date and time that the proposal expires. This is the <code>CreationDate</code> plus the <code>ProposalDurationInHours</code> that is specified in the <code>ProposalThresholdPolicy</code>. After this date and time, if members have not cast enough votes to determine the outcome according to the voting policy, the proposal is <code>EXPIRED</code> and <code>Actions</code> are not carried out.\n      </p>"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the network for which the proposal is made.</p>"
          }
        },
        "NoVoteCount": {
          "target": "com.amazonaws.taiga.webservice.api#VoteCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         The current total of <code>NO</code> votes cast on the proposal by members.\n      </p>"
          }
        },
        "OutstandingVoteCount": {
          "target": "com.amazonaws.taiga.webservice.api#VoteCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         The number of votes remaining to be cast on the proposal by members. In other words, the number of members minus the sum of <code>YES</code> votes and <code>NO</code> votes.\n      </p>"
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the proposal.</p>"
          }
        },
        "ProposedByMemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the member that created the proposal.</p>"
          }
        },
        "ProposedByMemberName": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name of the member that created the proposal.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the proposal. Values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - The proposal is active and open for member voting.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPROVED</code> - The proposal was approved with sufficient <code>YES</code> votes among members according to the <code>VotingPolicy</code> specified for the <code>Network</code>. The specified proposal actions are carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The proposal was rejected with insufficient <code>YES</code> votes among members according to the <code>VotingPolicy</code> specified for the <code>Network</code>. The specified <code>ProposalActions</code> are not carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXPIRED</code> - Members did not cast the number of votes required to determine the proposal outcome before the proposal expired. The specified <code>ProposalActions</code> are not carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTION_FAILED</code> - One or more of the specified <code>ProposalActions</code> in a proposal that was approved could not be completed because of an error.</p>\n            </li>\n         </ul>"
          }
        },
        "YesVoteCount": {
          "target": "com.amazonaws.taiga.webservice.api#VoteCount",
          "traits": {
            "smithy.api#documentation": "<p>\n         The current total of <code>YES</code> votes cast on the proposal by members.\n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties of a proposal on a Managed Blockchain network.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalActions": {
      "type": "structure",
      "members": {
        "Invitations": {
          "target": "com.amazonaws.taiga.webservice.api#InviteActionList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The actions to perform for an <code>APPROVED</code> proposal to invite an AWS account to create a member and join the network. \n      </p>"
          }
        },
        "Removals": {
          "target": "com.amazonaws.taiga.webservice.api#RemoveActionList",
          "traits": {
            "smithy.api#documentation": "<p>\n         The actions to perform for an <code>APPROVED</code> proposal to remove a member from the network, which deletes the member and all associated member resources from the network. \n      </p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n         The actions to carry out if a proposal is <code>APPROVED</code>.\n      </p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalDurationInt": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 168
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalListMaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true,
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "IN_PROGRESS": {
            "name": "IN_PROGRESS"
          },
          "APPROVED": {
            "name": "APPROVED"
          },
          "REJECTED": {
            "name": "REJECTED"
          },
          "EXPIRED": {
            "name": "EXPIRED"
          },
          "ACTION_FAILED": {
            "name": "ACTION_FAILED"
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalSummary": {
      "type": "structure",
      "members": {
        "CreationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The date and time that the proposal was created.\n      </p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.taiga.webservice.api#DescriptionString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The description of the proposal.\n      </p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.taiga.webservice.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>\n         The date and time that the proposal expires. This is the <code>CreationDate</code> plus the <code>ProposalDurationInHours</code> that is specified in the <code>ProposalThresholdPolicy</code>.  After this date and time, if members have not cast enough votes to determine the outcome according to the voting policy, the proposal is <code>EXPIRED</code> and <code>Actions</code> are not carried out.\n      </p>"
          }
        },
        "ProposalId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the proposal.\n      </p>"
          }
        },
        "ProposedByMemberId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The unique identifier of the member that created the proposal.\n      </p>"
          }
        },
        "ProposedByMemberName": {
          "target": "com.amazonaws.taiga.webservice.api#NetworkMemberNameString",
          "traits": {
            "smithy.api#documentation": "<p>\n         The name of the member that created the proposal.\n      </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.taiga.webservice.api#ProposalStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the proposal. Values are as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>IN_PROGRESS</code> - The proposal is active and open for member voting.</p>\n            </li>\n            <li>\n               <p>\n                  <code>APPROVED</code> - The proposal was approved with sufficient <code>YES</code> votes among members according to the <code>VotingPolicy</code> specified for the <code>Network</code>. The specified proposal actions are carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>REJECTED</code> - The proposal was rejected with insufficient <code>YES</code> votes among members according to the <code>VotingPolicy</code> specified for the <code>Network</code>. The specified <code>ProposalActions</code> are not carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EXPIRED</code> - Members did not cast the number of votes required to determine the proposal outcome before the proposal expired. The specified <code>ProposalActions</code> are not carried out.</p>\n            </li>\n            <li>\n               <p>\n                  <code>ACTION_FAILED</code> - One or more of the specified <code>ProposalActions</code> in a proposal that was approved could not be completed because of an error.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Properties of a proposal.</p>"
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#ProposalSummary"
      }
    },
    "com.amazonaws.taiga.webservice.api#ProposalVoteList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.taiga.webservice.api#VoteSummary"
      }
    },
    "com.amazonaws.taiga.webservice.api#RejectInvitation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.taiga.webservice.api#RejectInvitationInput"
      },
      "output": {
        "target": "com.amazonaws.taiga.webservice.api#RejectInvitationOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.taiga.webservice.api#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#IllegalActionException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#InvalidRequestException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.taiga.webservice.api#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Rejects an invitation to join a network. This action can be called by a principal in an AWS account that has received an invitation to create a member and join a network.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/invitations/{InvitationId}",
          "code": 200
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#RejectInvitationInput": {
      "type": "structure",
      "members": {
        "InvitationId": {
          "target": "com.amazonaws.taiga.webservice.api#ResourceIdString",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the invitation to reject.</p>",
            "smithy.api#httpLabel": true,
            "smithy.api#required": true
          }
        }
      }
    },
    "com.amazonaws.taiga.webservice.api#RejectInvitationOutput": {
      "type": "structure",
      "members": { }
    },
    "com.amazonaws.taiga.webservice.api#RemoveAction": {
[...]
