{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.marketplacediscovery#AWSMarketplaceDiscovery": {
      "type": "service",
      "version": "2026-02-05",
      "operations": [
        {
          "target": "com.amazonaws.marketplacediscovery#GetListing"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#GetOffer"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#GetOfferSet"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#GetOfferTerms"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#GetProduct"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#ListFulfillmentOptions"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#ListPurchaseOptions"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#SearchFacets"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#SearchListings"
        }
      ],
      "errors": [
        {
          "target": "com.amazonaws.marketplacediscovery#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#InternalServerException"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacediscovery#ValidationException"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Marketplace Discovery",
          "arnNamespace": "aws-marketplace",
          "endpointPrefix": "discovery-marketplace"
        },
        "aws.auth#sigv4": {
          "name": "aws-marketplace"
        },
        "aws.endpoints#dualStackOnlyEndpoints": {},
        "aws.endpoints#standardRegionalEndpoints": {},
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>The AWS Marketplace Discovery API provides programmatic access to the AWS Marketplace catalog, including searching and browsing listings, retrieving product details and fulfillment options, and accessing public and private offer pricing and terms.</p>",
        "smithy.api#title": "AWS Marketplace Discovery",
        "smithy.rules#endpointBdd": {
          "version": "1.1",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "conditions": [
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Endpoint"
                }
              ]
            },
            {
              "fn": "isSet",
              "argv": [
                {
                  "ref": "Region"
                }
              ]
            },
            {
              "fn": "aws.partition",
              "argv": [
                {
                  "ref": "Region"
                }
              ],
              "assign": "PartitionResult"
            },
            {
              "fn": "booleanEquals",
              "argv": [
                {
                  "ref": "UseFIPS"
                },
                true
              ]
            }
          ],
          "results": [
            {
              "conditions": [],
              "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
              "type": "error"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": {
                  "ref": "Endpoint"
                },
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://discovery-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "endpoint": {
                "url": "https://discovery-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                "properties": {},
                "headers": {}
              },
              "type": "endpoint"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ],
          "root": 2,
          "nodeCount": 6,
          "nodes": "/////wAAAAH/////AAAAAAAAAAYAAAADAAAAAQAAAAQF9eEFAAAAAgAAAAUF9eEFAAAAAwX14QMF9eEEAAAAAwX14QEF9eEC"
        },
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "string"
            },
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "string"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ]
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "aws.partition",
                          "argv": [
                            {
                              "ref": "Region"
                            }
                          ],
                          "assign": "PartitionResult"
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseFIPS"
                                },
                                true
                              ]
                            }
                          ],
                          "endpoint": {
                            "url": "https://discovery-marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://discovery-marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ],
                      "type": "tree"
                    }
                  ],
                  "type": "tree"
                },
                {
                  "conditions": [],
                  "error": "Invalid Configuration: Missing Region",
                  "type": "error"
                }
              ],
              "type": "tree"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For custom endpoint with region not set and fips disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Endpoint": "https://example.com",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://discovery-marketplace.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseFIPS": false
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.marketplacediscovery#AccessDeniedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacediscovery#ExceptionMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have sufficient access to perform this action.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.marketplacediscovery#AgreementResourceId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[A-Za-z0-9_/-]+$"
      }
    },
    "com.amazonaws.marketplacediscovery#AmazonMachineImageFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the fulfillment option version.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the fulfillment option.</p>"
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "operatingSystems": {
          "target": "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>The operating systems supported by this AMI.</p>",
            "smithy.api#required": {}
          }
        },
        "recommendation": {
          "target": "com.amazonaws.marketplacediscovery#AmazonMachineImageRecommendation",
          "traits": {
            "smithy.api#documentation": "<p>Recommended instance types for running this AMI.</p>"
          }
        },
        "releaseNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Release notes describing changes in this version of the fulfillment option.</p>"
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to deploy and use this fulfillment option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon Machine Image (AMI) fulfillment option, including version details, supported operating systems, and recommended instance types.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystem": {
      "type": "structure",
      "members": {
        "operatingSystemFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The operating system family, such as Linux or Windows.</p>",
            "smithy.api#required": {}
          }
        },
        "operatingSystemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific operating system name, such as Amazon Linux 2 or Windows Server 2022.</p>",
            "smithy.api#required": {}
          }
        },
        "operatingSystemVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the operating system.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an operating system supported by an AMI fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#AmazonMachineImageOperatingSystem"
      }
    },
    "com.amazonaws.marketplacediscovery#AmazonMachineImageRecommendation": {
      "type": "structure",
      "members": {
        "instanceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The recommended EC2 instance type for this AMI.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Recommended instance types for running an AMI fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ApiFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to integrate with and use this API.</p>"
          }
        },
        "awsSupportedServices": {
          "target": "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services supported by this API integration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an API-based fulfillment option, where the product is accessed through an API integration.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#AwsSupportedService": {
      "type": "structure",
      "members": {
        "supportedServiceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The machine-readable identifier of the supported service.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the supported service.</p>",
            "smithy.api#required": {}
          }
        },
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the supported service.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS service supported by a fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#AwsSupportedServiceList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#AwsSupportedService"
      }
    },
    "com.amazonaws.marketplacediscovery#BillingPeriodType": {
      "type": "enum",
      "members": {
        "MONTHLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monthly"
          }
        }
      }
    },
    "com.amazonaws.marketplacediscovery#BoundedString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 4096
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacediscovery#ByolPricingTerm": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.marketplacediscovery#TermId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.marketplacediscovery#TermType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the term.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a Bring Your Own License (BYOL) pricing term, where buyers use their existing license for the product.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\w\\-]+$"
      }
    },
    "com.amazonaws.marketplacediscovery#Category": {
      "type": "structure",
      "members": {
        "categoryId": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The machine-readable identifier of the category.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the category.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A category used to classify a listing or product into a logical group.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#CategoryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#Category"
      },
      "traits": {
        "smithy.api#length": {
          "max": 30
        }
      }
    },
    "com.amazonaws.marketplacediscovery#CloudFormationFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the fulfillment option version.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the fulfillment option.</p>"
          }
        },
        "releaseNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Release notes describing changes in this version of the fulfillment option.</p>"
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to deploy and use this CloudFormation template.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS CloudFormation template fulfillment option for infrastructure deployment.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ConfigurableUpfrontPricingTerm": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.marketplacediscovery#TermId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.marketplacediscovery#TermType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "currencyCode": {
          "target": "com.amazonaws.marketplacediscovery#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>Defines the currency for the prices in this term.</p>",
            "smithy.api#required": {}
          }
        },
        "rateCards": {
          "target": "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardList",
          "traits": {
            "smithy.api#documentation": "<p>The rate cards available for selection, each with a selector, constraints, and per-unit rates.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a configurable upfront pricing term with selectable rate cards, where buyers choose from predefined pricing configurations.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardItem": {
      "type": "structure",
      "members": {
        "selector": {
          "target": "com.amazonaws.marketplacediscovery#Selector",
          "traits": {
            "smithy.api#documentation": "<p>The selector criteria for this rate card, such as duration.</p>",
            "smithy.api#required": {}
          }
        },
        "constraints": {
          "target": "com.amazonaws.marketplacediscovery#Constraints",
          "traits": {
            "smithy.api#documentation": "<p>Constraints on how the buyer can configure this rate card, such as whether multiple dimensions can be selected.</p>",
            "smithy.api#required": {}
          }
        },
        "rateCard": {
          "target": "com.amazonaws.marketplacediscovery#RateCardList",
          "traits": {
            "smithy.api#documentation": "<p>The per-unit rates for this configuration.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rate card item within a configurable upfront pricing term, including a selector for choosing the configuration and per-unit rates.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#ConfigurableUpfrontRateCardItem"
      }
    },
    "com.amazonaws.marketplacediscovery#Constraints": {
      "type": "structure",
      "members": {
        "multipleDimensionSelection": {
          "target": "com.amazonaws.marketplacediscovery#RateCardConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the buyer can select multiple dimensions. Values are <code>Allowed</code> or <code>Disallowed</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "quantityConfiguration": {
          "target": "com.amazonaws.marketplacediscovery#RateCardConstraintType",
          "traits": {
            "smithy.api#documentation": "<p>Whether the buyer can configure quantities. Values are <code>Allowed</code> or <code>Disallowed</code>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Constraints that control how a buyer can configure a rate card.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ContainerFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the fulfillment option version.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the fulfillment option.</p>"
          }
        },
        "operatingSystems": {
          "target": "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>The operating systems supported by this container image.</p>"
          }
        },
        "awsSupportedServices": {
          "target": "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services supported by this container deployment.</p>"
          }
        },
        "releaseNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Release notes describing changes in this version of the fulfillment option.</p>"
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to deploy and use this container image.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a container image fulfillment option for container-based deployment.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ContainerOperatingSystem": {
      "type": "structure",
      "members": {
        "operatingSystemFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The operating system family, such as Linux.</p>",
            "smithy.api#required": {}
          }
        },
        "operatingSystemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific operating system name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an operating system supported by a container fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#ContainerOperatingSystem"
      }
    },
    "com.amazonaws.marketplacediscovery#CurrencyCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 3
        },
        "smithy.api#pattern": "^[A-Z]+$"
      }
    },
    "com.amazonaws.marketplacediscovery#DataArtifact": {
      "type": "structure",
      "members": {
        "description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A description of the data artifact.</p>"
          }
        },
        "resourceArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the data artifact.</p>"
          }
        },
        "resourceType": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of the data artifact resource.</p>",
            "smithy.api#required": {}
          }
        },
        "dataClassification": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The classification of sensitive data contained in the dataset.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a data artifact within a Data Exchange fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#DataArtifactList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#DataArtifact"
      }
    },
    "com.amazonaws.marketplacediscovery#DataExchangeFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "dataArtifacts": {
          "target": "com.amazonaws.marketplacediscovery#DataArtifactList",
          "traits": {
            "smithy.api#documentation": "<p>The data artifacts included in this Data Exchange fulfillment option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an AWS Data Exchange fulfillment option for data set delivery.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#DeployedOnAwsStatus": {
      "type": "enum",
      "members": {
        "DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEPLOYED"
          }
        },
        "NOT_DEPLOYED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_DEPLOYED"
          }
        },
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        }
      }
    },
    "com.amazonaws.marketplacediscovery#DimensionLabel": {
      "type": "structure",
      "members": {
        "labelType": {
          "target": "com.amazonaws.marketplacediscovery#DimensionLabelType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the dimension label, such as <code>Region</code> or <code>SagemakerOption</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "labelValue": {
          "target": "com.amazonaws.marketplacediscovery#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The value used to group dimensions together.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.marketplacediscovery#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable display name of the label.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A label used to group or categorize pricing dimensions, such as by region or SageMaker option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#DimensionLabelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#DimensionLabel"
      }
    },
    "com.amazonaws.marketplacediscovery#DimensionLabelType": {
      "type": "enum",
      "members": {
        "REGION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Region"
          }
        },
        "SAGEMAKER_OPTION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SagemakerOption"
          }
        }
      }
    },
    "com.amazonaws.marketplacediscovery#DocumentItem": {
      "type": "structure",
      "members": {
        "type": {
          "target": "com.amazonaws.marketplacediscovery#LegalDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the legal document, such as <code>StandardEula</code> or <code>CustomEula</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "url": {
          "target": "com.amazonaws.marketplacediscovery#URL",
          "traits": {
            "smithy.api#documentation": "<p>The URL where the legal document can be accessed.</p>",
            "smithy.api#required": {}
          }
        },
        "version": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version of the standard contract, if applicable.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A legal document associated with a legal term, such as a EULA or data subscription agreement.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#DocumentList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#DocumentItem"
      }
    },
    "com.amazonaws.marketplacediscovery#Ec2ImageBuilderComponentFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the fulfillment option version.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the fulfillment option.</p>"
          }
        },
        "operatingSystems": {
          "target": "com.amazonaws.marketplacediscovery#ContainerOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>The operating systems supported by this EC2 Image Builder component.</p>"
          }
        },
        "awsSupportedServices": {
          "target": "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services supported by this EC2 Image Builder component.</p>"
          }
        },
        "releaseNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Release notes describing changes in this version of the fulfillment option.</p>"
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to deploy and use this EC2 Image Builder component.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an EC2 Image Builder component fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#EksAddOnFulfillmentOption": {
      "type": "structure",
      "members": {
        "fulfillmentOptionId": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the fulfillment option version.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the fulfillment option.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionDisplayName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A human-readable name for the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionVersion": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The version identifier of the fulfillment option.</p>"
          }
        },
        "operatingSystems": {
          "target": "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystemList",
          "traits": {
            "smithy.api#documentation": "<p>The operating systems supported by this EKS add-on.</p>"
          }
        },
        "releaseNotes": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Release notes describing changes in this version of the fulfillment option.</p>"
          }
        },
        "usageInstructions": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Instructions on how to deploy and use this EKS add-on.</p>"
          }
        },
        "awsSupportedServices": {
          "target": "com.amazonaws.marketplacediscovery#AwsSupportedServiceList",
          "traits": {
            "smithy.api#documentation": "<p>The AWS services supported by this EKS add-on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an Amazon EKS add-on fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystem": {
      "type": "structure",
      "members": {
        "operatingSystemFamilyName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The operating system family, such as Linux.</p>",
            "smithy.api#required": {}
          }
        },
        "operatingSystemName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The specific operating system name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes an operating system supported by an EKS add-on fulfillment option.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystemList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#EksAddOnOperatingSystem"
      }
    },
    "com.amazonaws.marketplacediscovery#ExceptionMessage": {
      "type": "string"
    },
    "com.amazonaws.marketplacediscovery#FacetTypeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#SearchFacetType"
      },
      "traits": {
        "smithy.api#length": {
          "max": 30
        }
      }
    },
    "com.amazonaws.marketplacediscovery#FixedUpfrontPricingTerm": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.marketplacediscovery#TermId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.marketplacediscovery#TermType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "currencyCode": {
          "target": "com.amazonaws.marketplacediscovery#CurrencyCode",
          "traits": {
            "smithy.api#documentation": "<p>Defines the currency for the prices in this term.</p>",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "com.amazonaws.marketplacediscovery#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the fixed pricing term, in ISO 8601 format.</p>"
          }
        },
        "price": {
          "target": "com.amazonaws.marketplacediscovery#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The price charged upfront for this term.</p>",
            "smithy.api#required": {}
          }
        },
        "grants": {
          "target": "com.amazonaws.marketplacediscovery#GrantList",
          "traits": {
            "smithy.api#documentation": "<p>The entitlements granted to the buyer as part of this term.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a fixed upfront pricing term with a pre-paid amount and granted entitlements.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#FreeTrialPricingTerm": {
      "type": "structure",
      "members": {
        "id": {
          "target": "com.amazonaws.marketplacediscovery#TermId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "type": {
          "target": "com.amazonaws.marketplacediscovery#TermType",
          "traits": {
            "smithy.api#documentation": "<p>The category of the term.</p>",
            "smithy.api#required": {}
          }
        },
        "duration": {
          "target": "com.amazonaws.marketplacediscovery#BoundedString",
          "traits": {
            "smithy.api#documentation": "<p>The duration of the free trial period.</p>"
          }
        },
        "grants": {
          "target": "com.amazonaws.marketplacediscovery#GrantList",
          "traits": {
            "smithy.api#documentation": "<p>The entitlements granted to the buyer during the free trial.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Defines a free trial pricing term that enables customers to try the product before purchasing.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#FulfillmentOption": {
      "type": "union",
      "members": {
        "amazonMachineImageFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#AmazonMachineImageFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon Machine Image (AMI) fulfillment option for EC2 deployment.</p>"
          }
        },
        "apiFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#ApiFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An API-based fulfillment option for programmatic integration.</p>"
          }
        },
        "cloudFormationFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#CloudFormationFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An AWS CloudFormation template fulfillment option for infrastructure deployment.</p>"
          }
        },
        "containerFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#ContainerFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>A container image fulfillment option for container-based deployment.</p>"
          }
        },
        "helmFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#HelmFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>A Helm chart fulfillment option for Kubernetes deployment.</p>"
          }
        },
        "eksAddOnFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#EksAddOnFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon EKS add-on fulfillment option.</p>"
          }
        },
        "ec2ImageBuilderComponentFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#Ec2ImageBuilderComponentFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An EC2 Image Builder component fulfillment option.</p>"
          }
        },
        "dataExchangeFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#DataExchangeFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An AWS Data Exchange fulfillment option for data set delivery.</p>"
          }
        },
        "professionalServicesFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#ProfessionalServicesFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>A professional services fulfillment option.</p>"
          }
        },
        "saasFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#SaasFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>A Software as a Service (SaaS) fulfillment option.</p>"
          }
        },
        "sageMakerAlgorithmFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#SageMakerAlgorithmFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon SageMaker algorithm fulfillment option.</p>"
          }
        },
        "sageMakerModelFulfillmentOption": {
          "target": "com.amazonaws.marketplacediscovery#SageMakerModelFulfillmentOption",
          "traits": {
            "smithy.api#documentation": "<p>An Amazon SageMaker model fulfillment option.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes a fulfillment option for a product. Each element contains exactly one fulfillment option type.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#FulfillmentOptionSummary": {
      "type": "structure",
      "members": {
        "fulfillmentOptionType": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionType",
          "traits": {
            "smithy.api#documentation": "<p>The machine-readable type of the fulfillment option, such as <code>SAAS</code> or <code>AMAZON_MACHINE_IMAGE</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "displayName": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable name of the fulfillment option type.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a fulfillment option available for deploying or accessing a listing or product.</p>"
      }
    },
    "com.amazonaws.marketplacediscovery#FulfillmentOptionSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionSummary"
      },
      "traits": {
        "smithy.api#length": {
          "max": 20
        }
      }
    },
    "com.amazonaws.marketplacediscovery#FulfillmentOptionType": {
      "type": "enum",
      "members": {
        "AMAZON_MACHINE_IMAGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AMAZON_MACHINE_IMAGE"
          }
        },
        "API": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "API"
          }
        },
        "CLOUDFORMATION_TEMPLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLOUDFORMATION_TEMPLATE"
          }
        },
        "CONTAINER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONTAINER"
          }
        },
        "HELM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HELM"
          }
        },
        "EKS_ADD_ON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EKS_ADD_ON"
          }
        },
        "EC2_IMAGE_BUILDER_COMPONENT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EC2_IMAGE_BUILDER_COMPONENT"
          }
        },
        "DATA_EXCHANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATA_EXCHANGE"
          }
        },
        "PROFESSIONAL_SERVICES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PROFESSIONAL_SERVICES"
          }
        },
        "SAAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAAS"
          }
        },
        "SAGEMAKER_ALGORITHM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAGEMAKER_ALGORITHM"
          }
        },
        "SAGEMAKER_MODEL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAGEMAKER_MODEL"
          }
        }
      }
    },
    "com.amazonaws.marketplacediscovery#FulfillmentOptionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacediscovery#FulfillmentOption"
      }
    },
    "com.amazonaws.marketplacediscovery#GetListing": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacediscovery#GetListingInput"
      },
      "output": {
        "target": "com.amazonaws.marketplacediscovery#GetListingOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about a listing, such as descriptions, badges, categories, pricing model summaries, reviews, and associated products and offers.</p>",
        "smithy.api#examples": [
          {
            "title": "GetListing for SaaS listing",
            "input": {
              "listingId": "prodview-sampleSaasId"
            },
            "output": {
              "listingId": "prodview-sampleSaasId",
              "catalog": "AWSMarketplace",
              "listingName": "sample SaaS listing",
              "logoThumbnailUrl": "https://example.com/logos/sample-saas-logo.png",
              "shortDescription": "A sample SaaS product for cloud development environments.",
              "longDescription": "A sample SaaS product that provides automated, ready-to-code development environments in the cloud.",
              "publisher": {
                "sellerProfileId": "seller-sampleSaasId",
                "displayName": "sample SaaS seller"
              },
              "badges": [],
              "categories": [
                {
                  "categoryId": "developer-tools",
                  "displayName": "Developer Tools"
                },
                {
                  "categoryId": "ide",
                  "displayName": "IDE"
                }
              ],
              "highlights": ["Automated dev environments", "Works with any Git repository", "Secure and compliant"],
              "promotionalMedia": [
                {
                  "embeddedImage": {
                    "title": "Sample Dashboard",
                    "url": "https://example.com/screenshots/sample-dashboard.png",
                    "description": "The sample product workspace dashboard"
                  }
                }
              ],
              "resources": [
                {
                  "resourceType": "MANUFACTURER_INSTRUCTIONS",
                  "contentType": "LINK",
                  "value": "https://example.com/demo",
                  "displayName": "Request a Demo"
                }
              ],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleSaasId",
                    "productName": "sample SaaS product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleSaasId",
                      "displayName": "sample SaaS seller"
                    }
                  }
                }
              ],
              "reviewSummary": {
                "reviewSourceSummaries": [
                  {
                    "sourceName": "AWS Marketplace",
                    "sourceId": "AWS_MARKETPLACE",
                    "sourceUrl": "https://aws.amazon.com/marketplace/reviews/prodview-sampleSaasId",
                    "averageRating": "4.5",
                    "totalReviews": 128
                  }
                ]
              },
              "pricingModels": [
                {
                  "pricingModelType": "CONTRACT",
                  "displayName": "Contract"
                }
              ],
              "pricingUnits": [
                {
                  "pricingUnitType": "USERS",
                  "displayName": "Users"
                }
              ],
              "fulfillmentOptionSummaries": [
                {
                  "displayName": "SaaS",
                  "fulfillmentOptionType": "SAAS"
                }
              ],
              "sellerEngagements": [
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_DEMO",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/demo/prodview-sampleSaasId"
                },
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_PRIVATE_OFFER",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/private-offer/prodview-sampleSaasId"
                }
              ],
              "useCases": [
                {
                  "useCase": {
                    "displayName": "Contextual Analysis",
                    "value": "CONTEXTUAL_ANALYSIS",
                    "description": "Advanced contextual analysis for targeted advertising campaigns"
                  }
                }
              ]
            }
          },
          {
            "title": "GetListing for AMI listing with video",
            "input": {
              "listingId": "prodview-sampleAmiId"
            },
            "output": {
              "listingId": "prodview-sampleAmiId",
              "catalog": "AWSMarketplace",
              "listingName": "sample AMI listing",
              "logoThumbnailUrl": "https://example.com/logos/sample-ami-logo.png",
              "shortDescription": "A sample high-performance load balancer and web server.",
              "longDescription": "A sample AMI product that provides load balancing, content caching, and API gateway capabilities optimized for cloud-native architectures.",
              "publisher": {
                "sellerProfileId": "seller-sampleAmiId",
                "displayName": "sample AMI seller"
              },
              "badges": [
                {
                  "displayName": "Deployed on AWS",
                  "badgeType": "DEPLOYED_ON_AWS"
                },
                {
                  "displayName": "Quick Launch",
                  "badgeType": "QUICK_LAUNCH"
                }
              ],
              "categories": [
                {
                  "categoryId": "infrastructure",
                  "displayName": "Infrastructure Software"
                },
                {
                  "categoryId": "load-balancing",
                  "displayName": "Load Balancing"
                }
              ],
              "highlights": [
                "Advanced load balancing",
                "API gateway capabilities",
                "High availability",
                "Real-time monitoring"
              ],
              "promotionalMedia": [
                {
                  "embeddedVideo": {
                    "title": "Sample AMI Product Overview",
                    "url": "https://example.com/videos/sample-overview.mp4",
                    "preview": "https://example.com/videos/sample-cover.png",
                    "thumbnail": "https://example.com/videos/sample-thumb.png",
                    "description": "Learn about sample AMI product features"
                  }
                }
              ],
              "resources": [
                {
                  "resourceType": "MANUFACTURER_INSTRUCTIONS",
                  "contentType": "LINK",
                  "value": "https://example.com/request-demo",
                  "displayName": "Request Demo"
                },
                {
                  "resourceType": "MANUFACTURER_SUPPORT",
                  "contentType": "LINK",
                  "value": "https://example.com/docs",
                  "displayName": "Documentation"
                }
              ],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleAmiId",
                    "productName": "sample AMI product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleAmiId",
                      "displayName": "sample AMI seller"
                    }
                  },
                  "offer": {
                    "offerId": "offer-sampleAmiId",
                    "offerName": "sample AMI offer",
                    "sellerOfRecord": {
                      "sellerProfileId": "seller-sampleAmiId",
                      "displayName": "sample AMI seller"
                    }
                  }
                }
              ],
              "reviewSummary": {
                "reviewSourceSummaries": [
                  {
                    "sourceName": "AWS Marketplace",
                    "sourceId": "AWS_MARKETPLACE",
                    "sourceUrl": "https://aws.amazon.com/marketplace/reviews/prodview-sampleAmiId",
                    "averageRating": "4.8",
                    "totalReviews": 542
                  }
                ]
              },
              "pricingModels": [
                {
                  "pricingModelType": "USAGE",
                  "displayName": "Usage"
                }
              ],
              "pricingUnits": [
                {
                  "pricingUnitType": "HOSTS",
                  "displayName": "Hosts"
                }
              ],
              "fulfillmentOptionSummaries": [
                {
                  "displayName": "SaaS",
                  "fulfillmentOptionType": "SAAS"
                }
              ],
              "sellerEngagements": [
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_DEMO",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/demo/prodview-sampleAmiId"
                },
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_PRIVATE_OFFER",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/private-offer/prodview-sampleAmiId"
                }
              ],
              "useCases": [
                {
                  "useCase": {
                    "displayName": "Contextual Analysis",
                    "value": "CONTEXTUAL_ANALYSIS",
                    "description": "Advanced contextual analysis for targeted advertising campaigns"
                  }
                }
              ]
            }
          },
          {
            "title": "GetListing for multi-product listing",
            "input": {
              "listingId": "prodview-sampleMultiProductId"
            },
            "output": {
              "listingId": "prodview-sampleMultiProductId",
              "catalog": "AWSMarketplace",
              "listingName": "sample multi-product listing",
              "logoThumbnailUrl": "https://example.com/logos/sample-multi-product-logo.png",
              "shortDescription": "A sample multi-product listing that delivers a unified experience with AI.",
              "longDescription": "A sample multi-product listing that connects content management with a unified AI platform. Users can securely search, analyze, and extract valuable insights from their files.",
              "publisher": {
                "sellerProfileId": "seller-sampleMultiProductId",
                "displayName": "sample multi-product seller"
              },
              "badges": [
                {
                  "displayName": "Deployed on AWS",
                  "badgeType": "DEPLOYED_ON_AWS"
                },
                {
                  "displayName": "Multi-product",
                  "badgeType": "MULTI_PRODUCT"
                }
              ],
              "categories": [],
              "highlights": [],
              "resources": [
                {
                  "resourceType": "MANUFACTURER_INSTRUCTIONS",
                  "contentType": "LINK",
                  "value": "https://developer.box.com/guides/box-mcp/remote/#amazon-quick-suite",
                  "displayName": "Developer Documentation"
                }
              ],
              "promotionalMedia": [],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleMultiProduct1Id",
                    "productName": "sample multi-product 1",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleMultiProductId",
                      "displayName": "sample multi-product seller"
                    }
                  }
                },
                {
                  "product": {
                    "productId": "prod-sampleMultiProduct2Id",
                    "productName": "sample multi-product 2",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleMultiProduct2Id",
                      "displayName": "sample multi-product seller 2"
                    }
                  }
                }
              ],
              "useCases": [
                {
                  "useCase": {
                    "displayName": "Content Management System",
                    "value": "content_management_system",
                    "description": "This integration allows enterprises to securely access and interact with content in Box directly from the Amazon Quick Suite chat experience."
                  }
                },
                {
                  "useCase": {
                    "displayName": "Intelligent Document Processing",
                    "value": "intelligent_document_processing",
                    "description": "Build automated workflows and design custom AI agents for context-aware document processing."
                  }
                }
              ],
              "integrationGuide": "To add the remote Box MCP server in Amazon Quick Suite, follow these steps: In the Amazon Quick Suite console, choose Integrations and create new integration by choosing Model Content Protocol.",
              "reviewSummary": {
                "reviewSourceSummaries": []
              },
              "pricingModels": [
                {
                  "pricingModelType": "FREE",
                  "displayName": "Free"
                }
              ],
              "pricingUnits": [],
              "fulfillmentOptionSummaries": [
                {
                  "displayName": "SaaS",
                  "fulfillmentOptionType": "SAAS"
                }
              ],
              "sellerEngagements": [
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_DEMO",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/demo/prodview-sampleMultiProductId"
                },
                {
                  "contentType": "LINK",
                  "engagementType": "REQUEST_FOR_PRIVATE_OFFER",
                  "value": "https://aws.amazon.com/marketplace/customer-connect/private-offer/prodview-sampleMultiProductId"
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/2026-02-05/getListing"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetListingFailure",
            "params": {
              "listingId": "non-existent-listing-id"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.marketplacediscovery#GetListingInput": {
      "type": "structure",
      "members": {
        "listingId": {
          "target": "com.amazonaws.marketplacediscovery#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the listing to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetListingOutput": {
      "type": "structure",
      "members": {
        "associatedEntities": {
          "target": "com.amazonaws.marketplacediscovery#ListingAssociatedEntityList",
          "traits": {
            "smithy.api#documentation": "<p>The products and offers associated with this listing. Each entity contains product and offer information.</p>",
            "smithy.api#required": {}
          }
        },
        "badges": {
          "target": "com.amazonaws.marketplacediscovery#ListingBadgeList",
          "traits": {
            "smithy.api#documentation": "<p>Badges indicating special attributes of the listing, such as free tier eligibility, free trial availability, or Quick Launch support.</p>",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.amazonaws.marketplacediscovery#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog that the listing belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "categories": {
          "target": "com.amazonaws.marketplacediscovery#CategoryList",
          "traits": {
            "smithy.api#documentation": "<p>The categories used to classify this listing into logical groups.</p>",
            "smithy.api#required": {}
          }
        },
        "fulfillmentOptionSummaries": {
          "target": "com.amazonaws.marketplacediscovery#FulfillmentOptionSummaryList",
          "traits": {
            "smithy.api#documentation": "<p>A summary of fulfillment options available for deploying or accessing the listing, such as AMI, SaaS, or Container.</p>",
            "smithy.api#required": {}
          }
        },
        "highlights": {
          "target": "com.amazonaws.marketplacediscovery#HighlightList",
          "traits": {
            "smithy.api#documentation": "<p>A list of key features that the listing offers to customers.</p>",
            "smithy.api#required": {}
          }
        },
        "integrationGuide": {
          "target": "com.amazonaws.marketplacediscovery#NullableString",
          "traits": {
            "smithy.api#documentation": "<p>Optional guidance explaining how to use data in this listing. Primarily defines how to integrate with a multi-product listing.</p>"
          }
        },
        "listingId": {
          "target": "com.amazonaws.marketplacediscovery#ListingId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the listing.</p>",
            "smithy.api#required": {}
          }
        },
        "listingName": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The human-readable display name of the listing.</p>",
            "smithy.api#required": {}
          }
        },
        "logoThumbnailUrl": {
          "target": "com.amazonaws.marketplacediscovery#URL",
          "traits": {
            "smithy.api#documentation": "<p>The URL of the logo thumbnail image for the listing.</p>",
            "smithy.api#required": {}
          }
        },
        "longDescription": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A detailed description of what the listing offers, in paragraph format.</p>",
            "smithy.api#length": {
              "max": 32768
            },
            "smithy.api#required": {}
          }
        },
        "pricingModels": {
          "target": "com.amazonaws.marketplacediscovery#PricingModelList",
          "traits": {
            "smithy.api#documentation": "<p>The pricing models for offers associated with this listing, such as usage-based, contract, BYOL, or free.</p>",
            "smithy.api#required": {}
          }
        },
        "pricingUnits": {
          "target": "com.amazonaws.marketplacediscovery#PricingUnitList",
          "traits": {
            "smithy.api#documentation": "<p>The pricing units that define the billing dimensions for offers associated with this listing, such as users, hosts, or data.</p>",
            "smithy.api#required": {}
          }
        },
        "promotionalMedia": {
          "target": "com.amazonaws.marketplacediscovery#PromotionalMediaList",
          "traits": {
            "smithy.api#documentation": "<p>Embedded promotional media provided by the creator of the product, such as images and videos.</p>",
            "smithy.api#required": {}
          }
        },
        "publisher": {
          "target": "com.amazonaws.marketplacediscovery#SellerInformation",
          "traits": {
            "smithy.api#documentation": "<p>The entity who created and published the listing.</p>",
            "smithy.api#required": {}
          }
        },
        "resources": {
          "target": "com.amazonaws.marketplacediscovery#ResourceList",
          "traits": {
            "smithy.api#documentation": "<p>Resources that provide further information about using the product or requesting support, such as documentation links, support contacts, and usage instructions.</p>",
            "smithy.api#required": {}
          }
        },
        "reviewSummary": {
          "target": "com.amazonaws.marketplacediscovery#ReviewSummary",
          "traits": {
            "smithy.api#documentation": "<p>A summary of customer reviews available for the listing, including average rating and total review count by source.</p>"
          }
        },
        "sellerEngagements": {
          "target": "com.amazonaws.marketplacediscovery#SellerEngagementList",
          "traits": {
            "smithy.api#documentation": "<p>Engagement options available to potential buyers, such as requesting a private offer or requesting a demo.</p>",
            "smithy.api#required": {}
          }
        },
        "shortDescription": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>A 1–3 sentence summary describing the key aspects of the listing.</p>",
            "smithy.api#required": {}
          }
        },
        "useCases": {
          "target": "com.amazonaws.marketplacediscovery#UseCaseList",
          "traits": {
            "smithy.api#documentation": "<p>Use cases associated with the listing, describing scenarios where the product can be applied.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetOffer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferInput"
      },
      "output": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an offer, such as the pricing model, seller of record, availability dates, badges, and associated products.</p>",
        "smithy.api#examples": [
          {
            "title": "Invoke GetOffer for Contract Pricing offer",
            "input": {
              "offerId": "offer-sampleContractId"
            },
            "output": {
              "offerId": "offer-sampleContractId",
              "catalog": "AWSMarketplace",
              "offerName": "sample contract offer",
              "agreementProposalId": "at-sampleToken",
              "availableFromTime": "2023-01-01T00:00:00.000Z",
              "expirationTime": "2023-10-08T21:40:43.644Z",
              "sellerOfRecord": {
                "sellerProfileId": "seller-sampleContractId",
                "displayName": "sample contract seller"
              },
              "replacementAgreementId": "agmt-sampleId",
              "pricingModel": {
                "pricingModelType": "CONTRACT",
                "displayName": "Contract"
              },
              "badges": [
                {
                  "displayName": "Private Pricing",
                  "badgeType": "PRIVATE_PRICING"
                },
                {
                  "displayName": "Replacement Offer",
                  "badgeType": "REPLACEMENT_OFFER"
                }
              ],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleContractId",
                    "productName": "sample contract product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleContractId",
                      "displayName": "sample contract seller"
                    }
                  },
                  "offerSet": {
                    "offerSetId": "offerset-sampleId",
                    "sellerOfRecord": {
                      "sellerProfileId": "seller-sampleContractId",
                      "displayName": "sample contract seller"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "Invoke GetOffer for Usage Pricing offer",
            "input": {
              "offerId": "offer-sampleUsageId"
            },
            "output": {
              "offerId": "offer-sampleUsageId",
              "catalog": "AWSMarketplace",
              "offerName": "sample usage offer",
              "agreementProposalId": "at-sampleToken",
              "expirationTime": "2022-03-29T23:59:59.999Z",
              "sellerOfRecord": {
                "sellerProfileId": "seller-sampleUsageId",
                "displayName": "sample usage seller"
              },
              "replacementAgreementId": "agmt-sampleId",
              "pricingModel": {
                "pricingModelType": "USAGE",
                "displayName": "Usage"
              },
              "badges": [
                {
                  "displayName": "Future Dated",
                  "badgeType": "FUTURE_DATED"
                }
              ],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleUsageId",
                    "productName": "sample usage product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleUsageId",
                      "displayName": "sample usage seller"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "Invoke GetOffer for BYOL Pricing offer",
            "input": {
              "offerId": "offer-sampleByolId"
            },
            "output": {
              "offerId": "offer-sampleByolId",
              "catalog": "AWSMarketplace",
              "offerName": "sample BYOL offer",
              "agreementProposalId": "at-sampleToken",
              "expirationTime": "2022-03-29T23:59:59.999Z",
              "sellerOfRecord": {
                "sellerProfileId": "seller-sampleByolId",
                "displayName": "sample BYOL seller"
              },
              "replacementAgreementId": "agmt-sampleId",
              "pricingModel": {
                "pricingModelType": "BYOL",
                "displayName": "Bring Your Own License"
              },
              "badges": [],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleByolId",
                    "productName": "sample BYOL product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleByolId",
                      "displayName": "sample BYOL seller"
                    }
                  }
                }
              ]
            }
          },
          {
            "title": "Invoke GetOffer for FREE Pricing offer",
            "input": {
              "offerId": "offer-sampleFreeId"
            },
            "output": {
              "offerId": "offer-sampleFreeId",
              "catalog": "AWSMarketplace",
              "offerName": "sample free offer",
              "agreementProposalId": "at-sampleToken",
              "expirationTime": "2022-03-29T23:59:59.999Z",
              "sellerOfRecord": {
                "sellerProfileId": "seller-sampleFreeId",
                "displayName": "sample free seller"
              },
              "replacementAgreementId": "agmt-sampleId",
              "pricingModel": {
                "pricingModelType": "FREE",
                "displayName": "Free"
              },
              "badges": [],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleFreeId",
                    "productName": "sample free product",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleFreeId",
                      "displayName": "sample free seller"
                    }
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/2026-02-05/getOffer"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetOfferFailure",
            "params": {
              "offerId": "non-existent-offer-id"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferInput": {
      "type": "structure",
      "members": {
        "offerId": {
          "target": "com.amazonaws.marketplacediscovery#OfferId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the offer to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferOutput": {
      "type": "structure",
      "members": {
        "offerId": {
          "target": "com.amazonaws.marketplacediscovery#OfferId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the offer.</p>",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.amazonaws.marketplacediscovery#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog that the offer belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "offerName": {
          "target": "com.amazonaws.marketplacediscovery#NullableString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the offer. This is free-form text provided by the seller.</p>"
          }
        },
        "agreementProposalId": {
          "target": "com.amazonaws.marketplacediscovery#AgreementResourceId",
          "traits": {
            "smithy.api#documentation": "<p>An encoded string to be passed by the acceptor of the terms when creating an agreement.</p>",
            "smithy.api#required": {}
          }
        },
        "expirationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time until when the offer can be procured. This value is null for offers that never expire.</p>"
          }
        },
        "availableFromTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the offer became available to the buyer.</p>"
          }
        },
        "sellerOfRecord": {
          "target": "com.amazonaws.marketplacediscovery#SellerInformation",
          "traits": {
            "smithy.api#documentation": "<p>The entity responsible for selling the product under this offer.</p>",
            "smithy.api#required": {}
          }
        },
        "replacementAgreementId": {
          "target": "com.amazonaws.marketplacediscovery#AgreementResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the existing agreement that this offer would replace. Enables agreement-based offer functionality.</p>"
          }
        },
        "pricingModel": {
          "target": "com.amazonaws.marketplacediscovery#PricingModel",
          "traits": {
            "smithy.api#documentation": "<p>The pricing model that determines how buyers are charged, such as usage-based, contract, BYOL, or free.</p>",
            "smithy.api#required": {}
          }
        },
        "badges": {
          "target": "com.amazonaws.marketplacediscovery#PurchaseOptionBadgeList",
          "traits": {
            "smithy.api#documentation": "<p>Badges indicating special attributes of the offer, such as private pricing, future dated, or replacement offer.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedEntities": {
          "target": "com.amazonaws.marketplacediscovery#OfferAssociatedEntityList",
          "traits": {
            "smithy.api#documentation": "<p>The products and offer sets associated with this offer.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferSetInput"
      },
      "output": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferSetOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides details about an offer set, which is a bundle of offers across multiple products. Includes the seller, availability dates, buyer notes, and associated product-offer pairs.</p>",
        "smithy.api#examples": [
          {
            "title": "Get offer set with multiple products",
            "input": {
              "offerSetId": "offerset-sampleId"
            },
            "output": {
              "catalog": "AWSMarketplace",
              "offerSetId": "offerset-sampleId",
              "offerSetName": "sample offer set",
              "availableFromTime": "2024-03-20T00:00:00.000Z",
              "expirationTime": "2025-03-20T00:00:00.000Z",
              "buyerNotes": "This bundle includes CrowdStrike Falcon and Splunk Enterprise for comprehensive security monitoring.",
              "sellerOfRecord": {
                "sellerProfileId": "seller-sampleResellerId",
                "displayName": "sample reseller"
              },
              "badges": [
                {
                  "displayName": "Private Pricing",
                  "badgeType": "PRIVATE_PRICING"
                }
              ],
              "associatedEntities": [
                {
                  "product": {
                    "productId": "prod-sampleId1",
                    "productName": "sample product name 1",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleId1",
                      "displayName": "sample seller name 1"
                    }
                  },
                  "offer": {
                    "offerId": "offer-sampleId1",
                    "offerName": "sample offer name 1",
                    "sellerOfRecord": {
                      "sellerProfileId": "seller-sampleResellerId",
                      "displayName": "sample reseller"
                    }
                  }
                },
                {
                  "product": {
                    "productId": "prod-sampleId2",
                    "productName": "sample product name 2",
                    "manufacturer": {
                      "sellerProfileId": "seller-sampleId2",
                      "displayName": "sample seller name 2"
                    }
                  },
                  "offer": {
                    "offerId": "offer-sampleId2",
                    "offerName": "sample offer name 2",
                    "sellerOfRecord": {
                      "sellerProfileId": "seller-sampleResellerId",
                      "displayName": "sample reseller"
                    }
                  }
                }
              ]
            }
          }
        ],
        "smithy.api#http": {
          "code": 200,
          "method": "POST",
          "uri": "/2026-02-05/getOfferSet"
        },
        "smithy.api#readonly": {},
        "smithy.test#smokeTests": [
          {
            "id": "GetOfferSetFailure",
            "params": {
              "offerSetId": "non-existent-offerset-id"
            },
            "expect": {
              "failure": {
                "errorId": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
              }
            },
            "vendorParamsShape": "aws.test#AwsVendorParams",
            "vendorParams": {
              "region": "us-east-1"
            }
          }
        ]
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferSetInput": {
      "type": "structure",
      "members": {
        "offerSetId": {
          "target": "com.amazonaws.marketplacediscovery#OfferSetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the offer set to retrieve.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferSetOutput": {
      "type": "structure",
      "members": {
        "offerSetId": {
          "target": "com.amazonaws.marketplacediscovery#OfferSetId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier of the offer set.</p>",
            "smithy.api#required": {}
          }
        },
        "catalog": {
          "target": "com.amazonaws.marketplacediscovery#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog that the offer set belongs to.</p>",
            "smithy.api#required": {}
          }
        },
        "offerSetName": {
          "target": "com.amazonaws.marketplacediscovery#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the offer set.</p>"
          }
        },
        "availableFromTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the offer set became available to the buyer.</p>"
          }
        },
        "expirationTime": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when the offer set expires and is no longer available for procurement.</p>"
          }
        },
        "buyerNotes": {
          "target": "com.amazonaws.marketplacediscovery#NullableString",
          "traits": {
            "smithy.api#documentation": "<p>Detailed information about the offer set that helps buyers understand its purpose and contents.</p>"
          }
        },
        "sellerOfRecord": {
          "target": "com.amazonaws.marketplacediscovery#SellerInformation",
          "traits": {
            "smithy.api#documentation": "<p>The entity responsible for selling the products under this offer set.</p>",
            "smithy.api#required": {}
          }
        },
        "badges": {
          "target": "com.amazonaws.marketplacediscovery#PurchaseOptionBadgeList",
          "traits": {
            "smithy.api#documentation": "<p>Badges indicating special attributes of the offer set, such as private pricing or future dated.</p>",
            "smithy.api#required": {}
          }
        },
        "associatedEntities": {
          "target": "com.amazonaws.marketplacediscovery#OfferSetAssociatedEntityList",
          "traits": {
            "smithy.api#documentation": "<p>The products and offers included in this offer set.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacediscovery#GetOfferTerms": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferTermsInput"
      },
      "output": {
        "target": "com.amazonaws.marketplacediscovery#GetOfferTermsOutput"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacediscovery#ResourceNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the terms attached to an offer, such as pricing terms (usage-based, contract, BYOL, free trial), legal terms, payment schedules, validity terms, support terms, and renewal terms.</p>",
        "smithy.api#examples": [
          {
            "title": "GetOfferTerms for Usage-based ML Model offer",
            "input": {
              "offerId": "offer-sampleUsageBasedId"
            },
            "output": {
              "offerTerms": [
                {
                  "usageBasedPricingTerm": {
                    "id": "term-sampleUsageBasedPricingId",
                    "type": "UsageBasedPricingTerm",
                    "currencyCode": "USD",
                    "rateCards": [
                      {
                        "rateCard": [
                          {
                            "dimensionKey": "ml.m5.2xlarge.m.i.b",
                            "displayName": "ml.m5.2xlarge Inference (Batch)",
                            "description": "Model inference on the ml.m5.2xlarge instance type, batch mode",
                            "dimensionLabels": [
                              {
                                "labelType": "SagemakerOption",
                                "labelValue": "Model Batch Transform",
                                "displayName": "Model Batch Transform"
                              }
                            ],
                            "unit": "HostHrs",
[...]
