{
  "smithy": "0.5.0",
  "metadata": {
    "suppressions": [
      {
        "ids": [
          "HttpMethodSemantics"
        ]
      },
      {
        "ids": [
          "HttpResponseCodeSemantics"
        ]
      },
      {
        "ids": [
          "PaginatedTrait"
        ]
      },
      {
        "ids": [
          "HttpHeaderTrait"
        ]
      },
      {
        "ids": [
          "HttpUriConflict"
        ]
      }
    ]
  },
  "shapes": {
    "com.amazonaws.marketplace.entitlement#AWSMPEntitlementService": {
      "type": "service",
      "version": "2017-01-11",
      "operations": [
        {
          "target": "com.amazonaws.marketplace.entitlement#GetEntitlements"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Marketplace Entitlement Service",
          "arnNamespace": "aws-marketplace",
          "cloudFormationName": "MarketplaceEntitlementService",
          "cloudTrailEventSource": "entitlement.marketplace.amazonaws.com"
        },
        "smithy.api#documentation": "<fullname>AWS Marketplace Entitlement Service</fullname>\n         <p>This reference provides descriptions of the AWS Marketplace Entitlement Service\n   API.</p>\n         <p>AWS Marketplace Entitlement Service is used to determine the entitlement of a customer to\n      a given product. An entitlement represents capacity in a product owned by the customer. For\n      example, a customer might own some number of users or seats in an SaaS application or some\n      amount of data capacity in a multi-tenant database.</p>\n         <p>\n            <b>Getting Entitlement Records</b>\n         </p>\n         <ul>\n            <li>\n               <p>\n                  <i>GetEntitlements</i>- Gets the entitlements for a Marketplace\n     product.</p>\n            </li>\n         </ul>",
        "smithy.api#protocols": [
          {
            "name": "aws.json-1.1",
            "auth": [
              "aws.v4"
            ]
          }
        ],
        "smithy.api#title": "AWS Marketplace Entitlement Service"
      }
    },
    "com.amazonaws.marketplace.entitlement#Boolean": {
      "type": "boolean",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.marketplace.entitlement#Double": {
      "type": "double",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.marketplace.entitlement#Entitlement": {
      "type": "structure",
      "members": {
        "CustomerIdentifier": {
          "target": "com.amazonaws.marketplace.entitlement#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The customer identifier is a handle to each unique customer in an application. Customer\n   identifiers are obtained through the ResolveCustomer operation in AWS Marketplace Metering\n   Service.</p>"
          }
        },
        "Dimension": {
          "target": "com.amazonaws.marketplace.entitlement#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>The dimension for which the given entitlement applies. Dimensions represent categories of\n      capacity in a product and are specified when the product is listed in AWS\n      Marketplace.</p>"
          }
        },
        "ExpirationDate": {
          "target": "com.amazonaws.marketplace.entitlement#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The expiration date represents the minimum date through which this entitlement is\n   expected to remain valid. For contractual products listed on AWS Marketplace, the expiration date\n   is the date at which the customer will renew or cancel their contract. Customers who are opting\n   to renew their contract will still have entitlements with an expiration date.</p>"
          }
        },
        "ProductCode": {
          "target": "com.amazonaws.marketplace.entitlement#ProductCode",
          "traits": {
            "smithy.api#documentation": "<p>The product code for which the given entitlement applies. Product codes are provided by\n   AWS Marketplace when the product listing is created.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.marketplace.entitlement#EntitlementValue",
          "traits": {
            "smithy.api#documentation": "<p>The EntitlementValue represents the amount of capacity that the customer is entitled to\n   for the product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entitlement represents capacity in a product owned by the customer. For example, a\n      customer might own some number of users or seats in an SaaS application or  some amount of\n      data capacity in a multi-tenant database.</p>"
      }
    },
    "com.amazonaws.marketplace.entitlement#EntitlementList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplace.entitlement#Entitlement"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0
        }
      }
    },
    "com.amazonaws.marketplace.entitlement#EntitlementValue": {
      "type": "structure",
      "members": {
        "BooleanValue": {
          "target": "com.amazonaws.marketplace.entitlement#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The BooleanValue field will be populated with a boolean value when the entitlement is a\n      boolean type. Otherwise, the field will not be set.</p>"
          }
        },
        "DoubleValue": {
          "target": "com.amazonaws.marketplace.entitlement#Double",
          "traits": {
            "smithy.api#documentation": "<p>The DoubleValue field will be populated with a double value when the entitlement is a\n   double type. Otherwise, the field will not be set.</p>"
          }
        },
        "IntegerValue": {
          "target": "com.amazonaws.marketplace.entitlement#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The IntegerValue field will be populated with an integer value when the entitlement is an\n   integer type. Otherwise, the field will not be set.</p>"
          }
        },
        "StringValue": {
          "target": "com.amazonaws.marketplace.entitlement#String",
          "traits": {
            "smithy.api#documentation": "<p>The StringValue field will be populated with a string value when the entitlement is a\n   string type. Otherwise, the field will not be set.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The EntitlementValue represents the amount of capacity that the customer is entitled to\n   for the product.</p>"
      }
    },
    "com.amazonaws.marketplace.entitlement#ErrorMessage": {
      "type": "string"
    },
    "com.amazonaws.marketplace.entitlement#FilterValue": {
      "type": "string"
    },
    "com.amazonaws.marketplace.entitlement#FilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplace.entitlement#FilterValue"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1
        }
      }
    },
    "com.amazonaws.marketplace.entitlement#GetEntitlementFilterName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": {
          "CUSTOMER_IDENTIFIER": {
            "name": "CUSTOMER_IDENTIFIER"
          },
          "DIMENSION": {
            "name": "DIMENSION"
          }
        }
      }
    },
    "com.amazonaws.marketplace.entitlement#GetEntitlementFilters": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.marketplace.entitlement#GetEntitlementFilterName"
      },
      "value": {
        "target": "com.amazonaws.marketplace.entitlement#FilterValueList"
      }
    },
    "com.amazonaws.marketplace.entitlement#GetEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplace.entitlement#GetEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplace.entitlement#GetEntitlementsResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplace.entitlement#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.marketplace.entitlement#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.marketplace.entitlement#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>GetEntitlements retrieves entitlement values for a given product. The results can be\n      filtered based on customer identifier or product dimensions.</p>"
      }
    },
    "com.amazonaws.marketplace.entitlement#GetEntitlementsRequest": {
      "type": "structure",
      "members": {
        "Filter": {
          "target": "com.amazonaws.marketplace.entitlement#GetEntitlementFilters",
          "traits": {
            "smithy.api#documentation": "<p>Filter is used to return entitlements for a specific customer or for a specific\n      dimension. Filters are described as keys mapped to a lists of values. Filtered requests are\n        <i>unioned</i> for each value in the value list, and then\n        <i>intersected</i> for each filter key.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.marketplace.entitlement#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of items to retrieve from the GetEntitlements operation. For\n   pagination, use the NextToken field in subsequent calls to GetEntitlements.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.marketplace.entitlement#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For paginated calls to GetEntitlements, pass the NextToken from the previous\n   GetEntitlementsResult.</p>"
          }
        },
        "ProductCode": {
          "target": "com.amazonaws.marketplace.entitlement#ProductCode",
          "traits": {
            "smithy.api#documentation": "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product code\n   will be provided by AWS Marketplace when the product listing is created.</p>",
            "smithy.api#required": true
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GetEntitlementsRequest contains parameters for the GetEntitlements\n   operation.</p>"
      }
    },
    "com.amazonaws.marketplace.entitlement#GetEntitlementsResult": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.marketplace.entitlement#EntitlementList",
          "traits": {
            "smithy.api#documentation": "<p>The set of entitlements found through the GetEntitlements operation. If the result\n      contains an empty set of entitlements, NextToken might still be present and should be\n      used.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.marketplace.entitlement#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>For paginated results, use NextToken in subsequent calls to GetEntitlements. If the\n      result contains an empty set of entitlements, NextToken might still be present and should be\n      used.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The GetEntitlementsRequest contains results from the GetEntitlements operation.</p>"
      }
    },
    "com.amazonaws.marketplace.entitlement#Integer": {
      "type": "integer",
      "traits": {
        "smithy.api#box": true
      }
    },
    "com.amazonaws.marketplace.entitlement#InternalServiceErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplace.entitlement#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred. Retry your request. If the problem persists, post a\n   message with details on the AWS forums.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.marketplace.entitlement#InvalidParameterException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplace.entitlement#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more parameters in your request was invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplace.entitlement#NonEmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "\\S+"
      }
    },
    "com.amazonaws.marketplace.entitlement#ProductCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        }
      }
    },
    "com.amazonaws.marketplace.entitlement#String": {
      "type": "string"
    },
    "com.amazonaws.marketplace.entitlement#ThrottlingException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplace.entitlement#ErrorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The calls to the GetEntitlements API are throttled.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplace.entitlement#Timestamp": {
      "type": "timestamp"
    }
  }
}
