{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.marketplacecatalog#ARN": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^[a-zA-Z0-9:*/-]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#AWSMPSeymour": {
      "type": "service",
      "version": "2018-09-17",
      "operations": [
        {
          "target": "com.amazonaws.marketplacecatalog#BatchDescribeEntities"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#CancelChangeSet"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#DeleteResourcePolicy"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#DescribeChangeSet"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#DescribeEntity"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#GetResourcePolicy"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ListChangeSets"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ListEntities"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#PutResourcePolicy"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#StartChangeSet"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#TagResource"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#UntagResource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Marketplace Catalog",
          "arnNamespace": "aws-marketplace",
          "cloudFormationName": "MarketplaceCatalog",
          "cloudTrailEventSource": "marketplacecatalog.amazonaws.com",
          "endpointPrefix": "catalog.marketplace"
        },
        "aws.auth#sigv4": {
          "name": "aws-marketplace"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Catalog API actions allow you to manage your entities through list, describe, and\n            update capabilities. An <i>entity</i> can be a product or an offer on AWS Marketplace. </p>\n         <p>You can automate your entity update process by integrating the AWS Marketplace Catalog\n            API with your AWS Marketplace product build or deployment pipelines. You can also create\n            your own applications on top of the Catalog API to manage your products on AWS\n            Marketplace.</p>",
        "smithy.api#title": "AWS Marketplace Catalog Service",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://catalog.marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                },
                                true
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://catalog.marketplace-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://catalog.marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ],
                          "type": "tree"
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ],
                      "type": "tree"
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://catalog.marketplace.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ],
                  "type": "tree"
                }
              ],
              "type": "tree"
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://catalog.marketplace.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "Missing region",
              "expect": {
                "error": "Invalid Configuration: Missing Region"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.marketplacecatalog#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.marketplacecatalog#ExceptionMessageContent"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied.</p>\n         <p>HTTP status code: 403</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique entity id values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on entity id of an AMI product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#AmiProductEntityIdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductEntityIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductFilters": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductEntityIdFilter",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the AMI product.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilter",
          "traits": {
            "smithy.api#documentation": "<p>The last date on which the AMI product was modified.</p>"
          }
        },
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductTitleFilter",
          "traits": {
            "smithy.api#documentation": "<p>The title of the AMI product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilter",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the AMI product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing all the filter fields for AMI products. Client can add only one wildcard filter and a maximum of 8\n            filters in a single <code>ListEntities</code> request.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilter": {
      "type": "structure",
      "members": {
        "DateRange": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilterDateRange",
          "traits": {
            "smithy.api#documentation": "<p>Dates between which the AMI product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering based on the last modified date of AMI products.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductLastModifiedDateFilterDateRange": {
      "type": "structure",
      "members": {
        "AfterValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date after which the AMI product was last modified.</p>"
          }
        },
        "BeforeValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date before which the AMI product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductSort": {
      "type": "structure",
      "members": {
        "SortBy": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductSortBy",
          "traits": {
            "smithy.api#documentation": "<p>Field to sort the AMI products by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.marketplacecatalog#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Objects that allows sorting on AMI products based on certain fields and sorting order.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductSortBy": {
      "type": "enum",
      "members": {
        "EntityId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EntityId"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastModifiedDate"
          }
        },
        "ProductTitle": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductTitle"
          }
        },
        "Visibility": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Visibility"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductSummary": {
      "type": "structure",
      "members": {
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>The title of the AMI product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductVisibilityString",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle of the AMI product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains summarized information about an AMI product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductTitleFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductTitleFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique product title values to be filtered on.</p>"
          }
        },
        "WildCardValue": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on product title.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductTitleFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#AmiProductTitleString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductTitleString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique visibility values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductVisibilityFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#AmiProductVisibilityString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#AmiProductVisibilityString": {
      "type": "enum",
      "members": {
        "Limited": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited"
          }
        },
        "Public": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "Restricted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restricted"
          }
        },
        "Draft": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Draft"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeEntities": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacecatalog#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#InternalServiceException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns metadata and content for multiple entities. This is the Batch version of the <code>DescribeEntity</code> API and uses the same IAM permission action as <code>DescribeEntity</code> API.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/BatchDescribeEntities",
          "code": 200
        }
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesRequest": {
      "type": "structure",
      "members": {
        "EntityRequestList": {
          "target": "com.amazonaws.marketplacecatalog#EntityRequestList",
          "traits": {
            "smithy.api#documentation": "<p>List of entity IDs and the catalogs the entities are present in.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeEntitiesResponse": {
      "type": "structure",
      "members": {
        "EntityDetails": {
          "target": "com.amazonaws.marketplacecatalog#EntityDetails",
          "traits": {
            "smithy.api#documentation": "<p>Details about each entity.</p>"
          }
        },
        "Errors": {
          "target": "com.amazonaws.marketplacecatalog#Errors",
          "traits": {
            "smithy.api#documentation": "<p>A map of errors returned, with <code>EntityId</code> as the key and\n                <code>errorDetail</code> as the value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeErrorCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 72
        },
        "smithy.api#pattern": "^[a-zA-Z_]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeErrorDetail": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.marketplacecatalog#BatchDescribeErrorCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The error code returned.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.marketplacecatalog#BatchDescribeErrorMessageContent",
          "traits": {
            "smithy.api#documentation": "<p>The error message returned.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains an error code and error message.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#BatchDescribeErrorMessageContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#CancelChangeSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#CancelChangeSetRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#CancelChangeSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacecatalog#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#InternalServiceException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceInUseException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Used to cancel an open change request. Must be sent before the status of the request\n            changes to <code>APPLYING</code>, the final stage of completing your change request. You\n            can describe a change during the 60-day request history retention period for API\n            calls.</p>",
        "smithy.api#http": {
          "method": "PATCH",
          "uri": "/CancelChangeSet",
          "code": 200
        }
      }
    },
    "com.amazonaws.marketplacecatalog#CancelChangeSetRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.marketplacecatalog#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>Required. The catalog related to the request. Fixed value:\n            <code>AWSMarketplace</code>.</p>",
            "smithy.api#httpQuery": "catalog",
            "smithy.api#required": {}
          }
        },
        "ChangeSetId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you\n            want to cancel.</p>",
            "smithy.api#httpQuery": "changeSetId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacecatalog#CancelChangeSetResponse": {
      "type": "structure",
      "members": {
        "ChangeSetId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the change set referenced in this request.</p>"
          }
        },
        "ChangeSetArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN associated with the change set referenced in this request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacecatalog#Catalog": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#Change": {
      "type": "structure",
      "members": {
        "ChangeType": {
          "target": "com.amazonaws.marketplacecatalog#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>Change types are single string values that describe your intention for the change.\n            Each change type is unique for each <code>EntityType</code> provided in the change's\n            scope. For more information about change types available for single-AMI products, see\n                <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/ami-products.html#working-with-single-AMI-products\">Working with single-AMI products</a>. Also, for more information about change\n            types available for container-based products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/container-products.html#working-with-container-products\">Working with container products</a>.</p>",
            "smithy.api#required": {}
          }
        },
        "Entity": {
          "target": "com.amazonaws.marketplacecatalog#Entity",
          "traits": {
            "smithy.api#documentation": "<p>The entity to be changed.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityTags": {
          "target": "com.amazonaws.marketplacecatalog#TagList",
          "traits": {
            "smithy.api#documentation": "<p>The tags associated with the change.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.marketplacecatalog#Json",
          "traits": {
            "smithy.api#documentation": "<p>This object contains details specific to the change type of the requested change. For\n            more information about change types available for single-AMI products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/ami-products.html#working-with-single-AMI-products\">Working with single-AMI products</a>. Also, for more information about change\n            types available for container-based products, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/container-products.html#working-with-container-products\">Working with container products</a>.</p>"
          }
        },
        "DetailsDocument": {
          "target": "com.amazonaws.marketplacecatalog#JsonDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>Alternative field that accepts a JSON value instead of a string for\n                <code>ChangeType</code> details. You can use either <code>Details</code> or\n                <code>DetailsDocument</code>, but not both.</p>\n         <p>To download the \"DetailsDocument\" shapes, see the <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-python\">Python</a> \n            and <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-java/tree/main\">Java</a> shapes on GitHub.</p>"
          }
        },
        "ChangeName": {
          "target": "com.amazonaws.marketplacecatalog#ChangeName",
          "traits": {
            "smithy.api#documentation": "<p>Optional name for the change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains the <code>ChangeType</code>, <code>Details</code>, and\n                <code>Entity</code>.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 72
        },
        "smithy.api#pattern": "^[a-zA-Z]$"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeSetDescription": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ChangeSummary"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeSetName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        },
        "smithy.api#pattern": "^[\\w\\s+=.:@-]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeSetSummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ChangeSetSummaryListItem"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeSetSummaryListItem": {
      "type": "structure",
      "members": {
        "ChangeSetId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for a change set.</p>"
          }
        },
        "ChangeSetArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN associated with the unique identifier for the change set referenced in this\n            request.</p>"
          }
        },
        "ChangeSetName": {
          "target": "com.amazonaws.marketplacecatalog#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The non-unique name for the change set.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was\n            started.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was\n            finished.</p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.marketplacecatalog#ChangeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the change set.</p>"
          }
        },
        "EntityIdList": {
          "target": "com.amazonaws.marketplacecatalog#ResourceIdList",
          "traits": {
            "smithy.api#documentation": "<p>This object is a list of entity IDs (string) that are a part of a change set. The\n            entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>"
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.marketplacecatalog#FailureCode",
          "traits": {
            "smithy.api#documentation": "<p>Returned if the change set is in <code>FAILED</code> status. Can be either\n                <code>CLIENT_ERROR</code>, which means that there are issues with the request (see\n            the <code>ErrorDetailList</code> of <code>DescribeChangeSet</code>), or\n                <code>SERVER_FAULT</code>, which means that there is a problem in the system, and\n            you should retry your request.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A summary of a change set returned in a list of change sets when the\n                <code>ListChangeSets</code> action is called.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeStatus": {
      "type": "enum",
      "members": {
        "PREPARING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREPARING"
          }
        },
        "APPLYING": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "APPLYING"
          }
        },
        "SUCCEEDED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SUCCEEDED"
          }
        },
        "CANCELLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CANCELLED"
          }
        },
        "FAILED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILED"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeSummary": {
      "type": "structure",
      "members": {
        "ChangeType": {
          "target": "com.amazonaws.marketplacecatalog#ChangeType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the change.</p>"
          }
        },
        "Entity": {
          "target": "com.amazonaws.marketplacecatalog#Entity",
          "traits": {
            "smithy.api#documentation": "<p>The entity to be changed.</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.marketplacecatalog#Json",
          "traits": {
            "smithy.api#documentation": "<p>This object contains details specific to the change type of the requested\n            change.</p>"
          }
        },
        "DetailsDocument": {
          "target": "com.amazonaws.marketplacecatalog#JsonDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The JSON value of the details specific to the change type of the requested change.</p>\n         <p>To download the \"DetailsDocument\" shapes, see the <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-python\">Python</a> \n            and <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-java/tree/main\">Java</a> shapes on GitHub.</p>"
          }
        },
        "ErrorDetailList": {
          "target": "com.amazonaws.marketplacecatalog#ErrorDetailList",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ErrorDetail</code> objects associated with the change.</p>"
          }
        },
        "ChangeName": {
          "target": "com.amazonaws.marketplacecatalog#ChangeName",
          "traits": {
            "smithy.api#documentation": "<p>Optional name for the change.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object is a container for common summary information about the change. The\n            summary doesn't contain the whole change structure.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ChangeType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[A-Z][\\w]*$"
      }
    },
    "com.amazonaws.marketplacecatalog#ClientRequestToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "^[!-~]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique entity id values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on entity id of a container product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ContainerProductEntityIdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductEntityIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductFilters": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductEntityIdFilter",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the container product.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilter",
          "traits": {
            "smithy.api#documentation": "<p>The last date on which the container product was modified.</p>"
          }
        },
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductTitleFilter",
          "traits": {
            "smithy.api#documentation": "<p>The title of the container product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilter",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the container product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing all the filter fields for container products. Client can add only one wildcard filter and a maximum of 8 filters in a single <code>ListEntities</code> request.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilter": {
      "type": "structure",
      "members": {
        "DateRange": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilterDateRange",
          "traits": {
            "smithy.api#documentation": "<p>Dates between which the container product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering based on the last modified date of container products.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductLastModifiedDateFilterDateRange": {
      "type": "structure",
      "members": {
        "AfterValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date after which the container product was last modified.</p>"
          }
        },
        "BeforeValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date before which the container product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductSort": {
      "type": "structure",
      "members": {
        "SortBy": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductSortBy",
          "traits": {
            "smithy.api#documentation": "<p>Field to sort the container products by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.marketplacecatalog#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Objects that allows sorting on container products based on certain fields and sorting order.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductSortBy": {
      "type": "enum",
      "members": {
        "EntityId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EntityId"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastModifiedDate"
          }
        },
        "ProductTitle": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductTitle"
          }
        },
        "Visibility": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Visibility"
          }
        },
        "CompatibleAWSServices": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CompatibleAWSServices"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductSummary": {
      "type": "structure",
      "members": {
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>The title of the container product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle of the product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains summarized information about a container product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductTitleFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductTitleFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique product title values to be filtered on.</p>"
          }
        },
        "WildCardValue": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on product title.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductTitleFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ContainerProductTitleString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductTitleString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique visibility values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductVisibilityFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#ContainerProductVisibilityString": {
      "type": "enum",
      "members": {
        "Limited": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited"
          }
        },
        "Public": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "Restricted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restricted"
          }
        },
        "Draft": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Draft"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductEntityIdFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#DataProductEntityIdFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique entity id values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on entity id of a data product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductEntityIdFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#DataProductEntityIdString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductEntityIdString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductFilters": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#DataProductEntityIdFilter",
          "traits": {
            "smithy.api#documentation": "<p>Unique identifier for the data product.</p>"
          }
        },
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#DataProductTitleFilter",
          "traits": {
            "smithy.api#documentation": "<p>The title of the data product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#DataProductVisibilityFilter",
          "traits": {
            "smithy.api#documentation": "<p>The visibility of the data product.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilter",
          "traits": {
            "smithy.api#documentation": "<p>The last date on which the data product was modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing all the filter fields for data products. Client can add only one wildcard filter and a maximum of 8 filters in a single <code>ListEntities</code> request.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilter": {
      "type": "structure",
      "members": {
        "DateRange": {
          "target": "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilterDateRange",
          "traits": {
            "smithy.api#documentation": "<p>Dates between which the data product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering based on the last modified date of data products.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductLastModifiedDateFilterDateRange": {
      "type": "structure",
      "members": {
        "AfterValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date after which the data product was last modified.</p>"
          }
        },
        "BeforeValue": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>Date before which the data product was last modified.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains date range of the last modified date to be filtered on. You can optionally provide a <code>BeforeValue</code> and/or <code>AfterValue</code>. Both are inclusive.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductSort": {
      "type": "structure",
      "members": {
        "SortBy": {
          "target": "com.amazonaws.marketplacecatalog#DataProductSortBy",
          "traits": {
            "smithy.api#documentation": "<p>Field to sort the data products by.</p>"
          }
        },
        "SortOrder": {
          "target": "com.amazonaws.marketplacecatalog#SortOrder",
          "traits": {
            "smithy.api#documentation": "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Objects that allows sorting on data products based on certain fields and sorting order.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductSortBy": {
      "type": "enum",
      "members": {
        "EntityId": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EntityId"
          }
        },
        "ProductTitle": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ProductTitle"
          }
        },
        "Visibility": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Visibility"
          }
        },
        "LastModifiedDate": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LastModifiedDate"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductSummary": {
      "type": "structure",
      "members": {
        "ProductTitle": {
          "target": "com.amazonaws.marketplacecatalog#DataProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>The title of the data product.</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#DataProductVisibilityString",
          "traits": {
            "smithy.api#documentation": "<p>The lifecycle of the data product.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that contains summarized information about a data product.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductTitleFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#DataProductTitleFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique product title values to be filtered on.</p>"
          }
        },
        "WildCardValue": {
          "target": "com.amazonaws.marketplacecatalog#DataProductTitleString",
          "traits": {
            "smithy.api#documentation": "<p>A string that will be the <code>wildCard</code> input for product tile filter. It matches the provided value as a substring in the actual value.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on product title.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductTitleFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#DataProductTitleString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductTitleString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductVisibilityFilter": {
      "type": "structure",
      "members": {
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#DataProductVisibilityFilterValueList",
          "traits": {
            "smithy.api#documentation": "<p>A string array of unique visibility values to be filtered on.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object that allows filtering on the visibility of the product in the AWS Marketplace.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductVisibilityFilterValueList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#DataProductVisibilityString"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 10
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DataProductVisibilityString": {
      "type": "enum",
      "members": {
        "Limited": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Limited"
          }
        },
        "Public": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Public"
          }
        },
        "Restricted": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Restricted"
          }
        },
        "Unavailable": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Unavailable"
          }
        },
        "Draft": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Draft"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DateTimeISO8601": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 20
        },
        "smithy.api#pattern": "^([\\d]{4})\\-(1[0-2]|0[1-9])\\-(3[01]|0[1-9]|[12][\\d])T(2[0-3]|[01][\\d]):([0-5][\\d]):([0-5][\\d])Z$"
      }
    },
    "com.amazonaws.marketplacecatalog#DeleteResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#DeleteResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#DeleteResourcePolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacecatalog#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#InternalServiceException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a resource-based policy on an entity that is identified by its resource\n            ARN.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/DeleteResourcePolicy",
          "code": 200
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DeleteResourcePolicyRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.marketplacecatalog#ResourceARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the entity resource that is associated with the\n            resource policy.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacecatalog#DeleteResourcePolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeChangeSet": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#DescribeChangeSetRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#DescribeChangeSetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacecatalog#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#InternalServiceException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information about a given change set.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/DescribeChangeSet",
          "code": 200
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeChangeSetRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.marketplacecatalog#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>Required. The catalog related to the request. Fixed value:\n            <code>AWSMarketplace</code>\n         </p>",
            "smithy.api#httpQuery": "catalog",
            "smithy.api#required": {}
          }
        },
        "ChangeSetId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique identifier for the <code>StartChangeSet</code> request that you\n            want to describe the details for.</p>",
            "smithy.api#httpQuery": "changeSetId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeChangeSetResponse": {
      "type": "structure",
      "members": {
        "ChangeSetId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique identifier for the change set referenced in this request.</p>"
          }
        },
        "ChangeSetArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN associated with the unique identifier for the change set referenced in this\n            request.</p>"
          }
        },
        "ChangeSetName": {
          "target": "com.amazonaws.marketplacecatalog#ChangeSetName",
          "traits": {
            "smithy.api#documentation": "<p>The optional name provided in the <code>StartChangeSet</code> request. If you do not\n            provide a name, one is set by default.</p>"
          }
        },
        "Intent": {
          "target": "com.amazonaws.marketplacecatalog#Intent",
          "traits": {
            "smithy.api#documentation": "<p>The optional intent provided in the <code>StartChangeSet</code> request. If you do not\n            provide an intent, <code>APPLY</code> is set by default.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request started.\n        </p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request transitioned\n            to a terminal state. The change cannot transition to a different state. Null if the\n            request is not in a terminal state. </p>"
          }
        },
        "Status": {
          "target": "com.amazonaws.marketplacecatalog#ChangeStatus",
          "traits": {
            "smithy.api#documentation": "<p>The status of the change request.</p>"
          }
        },
        "FailureCode": {
          "target": "com.amazonaws.marketplacecatalog#FailureCode",
          "traits": {
            "smithy.api#documentation": "<p>Returned if the change set is in <code>FAILED</code> status. Can be either\n                <code>CLIENT_ERROR</code>, which means that there are issues with the request (see\n            the <code>ErrorDetailList</code>), or <code>SERVER_FAULT</code>, which means that there\n            is a problem in the system, and you should retry your request.</p>"
          }
        },
        "FailureDescription": {
          "target": "com.amazonaws.marketplacecatalog#ExceptionMessageContent",
          "traits": {
            "smithy.api#documentation": "<p>Returned if there is a failure on the change set, but that failure is not related to\n            any of the changes in the request.</p>"
          }
        },
        "ChangeSet": {
          "target": "com.amazonaws.marketplacecatalog#ChangeSetDescription",
          "traits": {
            "smithy.api#documentation": "<p>An array of <code>ChangeSummary</code> objects.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeEntity": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#DescribeEntityRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#DescribeEntityResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacecatalog#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#InternalServiceException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ResourceNotSupportedException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacecatalog#ValidationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the metadata and content of the entity.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/DescribeEntity",
          "code": 200
        }
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeEntityRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.marketplacecatalog#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>Required. The catalog related to the request. Fixed value:\n            <code>AWSMarketplace</code>\n         </p>",
            "smithy.api#httpQuery": "catalog",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>Required. The unique ID of the entity to describe.</p>",
            "smithy.api#httpQuery": "entityId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.marketplacecatalog#DescribeEntityResponse": {
      "type": "structure",
      "members": {
        "EntityType": {
          "target": "com.amazonaws.marketplacecatalog#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The named type of the entity, in the format of <code>EntityType@Version</code>.</p>"
          }
        },
        "EntityIdentifier": {
          "target": "com.amazonaws.marketplacecatalog#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the entity, in the format of\n            <code>EntityId@RevisionId</code>.</p>"
          }
        },
        "EntityArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN associated to the unique identifier for the entity referenced in this\n            request.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The last modified date of the entity, in ISO 8601 format\n            (2018-02-27T13:45:22Z).</p>"
          }
        },
        "Details": {
          "target": "com.amazonaws.marketplacecatalog#Json",
          "traits": {
            "smithy.api#documentation": "<p>This stringified JSON object includes the details of the entity.</p>"
          }
        },
        "DetailsDocument": {
          "target": "com.amazonaws.marketplacecatalog#JsonDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>The JSON value of the details specific to the entity.</p>\n         <p>To download \"DetailsDocument\" shapes, see the <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-python\">Python</a> \n            and <a href=\"https://github.com/awslabs/aws-marketplace-catalog-api-shapes-for-java/tree/main\">Java</a> shapes on GitHub.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.marketplacecatalog#Entity": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.marketplacecatalog#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of entity.</p>",
            "smithy.api#required": {}
          }
        },
        "Identifier": {
          "target": "com.amazonaws.marketplacecatalog#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An entity contains data that describes your product, its supported features, and how\n            it can be used or launched by your customer. </p>"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityDetail": {
      "type": "structure",
      "members": {
        "EntityType": {
          "target": "com.amazonaws.marketplacecatalog#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The entity type of the entity, in the format of\n            <code>EntityType@Version</code>.</p>"
          }
        },
        "EntityArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the entity.</p>"
          }
        },
        "EntityIdentifier": {
          "target": "com.amazonaws.marketplacecatalog#Identifier",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity, in the format of <code>EntityId@RevisionId</code>.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The last time the entity was modified.</p>"
          }
        },
        "DetailsDocument": {
          "target": "com.amazonaws.marketplacecatalog#JsonDocumentType",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains all the details of the entity.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains metadata and details about the entity.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityDetails": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.marketplacecatalog#EntityId"
      },
      "value": {
        "target": "com.amazonaws.marketplacecatalog#EntityDetail"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z0-9][.a-zA-Z0-9/-]+[a-zA-Z0-9]$"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityNameString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^\\\\S+[\\\\S\\\\s]*$"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityRequest": {
      "type": "structure",
      "members": {
        "Catalog": {
          "target": "com.amazonaws.marketplacecatalog#Catalog",
          "traits": {
            "smithy.api#documentation": "<p>The name of the catalog the entity is present in. The only value at this time is\n                <code>AWSMarketplace</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#EntityId",
          "traits": {
            "smithy.api#documentation": "<p>The ID of the entity.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An object that contains entity ID and the catalog in which the entity is present.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityRequestList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#EntityRequest"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 20
        }
      }
    },
    "com.amazonaws.marketplacecatalog#EntitySummary": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.marketplacecatalog#EntityNameString",
          "traits": {
            "smithy.api#documentation": "<p>The name for the entity. This value is not unique. It is defined by the seller.</p>"
          }
        },
        "EntityType": {
          "target": "com.amazonaws.marketplacecatalog#EntityType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the entity.</p>"
          }
        },
        "EntityId": {
          "target": "com.amazonaws.marketplacecatalog#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The unique identifier for the entity.</p>"
          }
        },
        "EntityArn": {
          "target": "com.amazonaws.marketplacecatalog#ARN",
          "traits": {
            "smithy.api#documentation": "<p>The ARN associated with the unique identifier for the entity.</p>"
          }
        },
        "LastModifiedDate": {
          "target": "com.amazonaws.marketplacecatalog#DateTimeISO8601",
          "traits": {
            "smithy.api#documentation": "<p>The last time the entity was published, using ISO 8601 format\n            (2018-02-27T13:45:22Z).</p>"
          }
        },
        "Visibility": {
          "target": "com.amazonaws.marketplacecatalog#VisibilityValue",
          "traits": {
            "smithy.api#documentation": "<p>The visibility status of the entity to buyers. This value can be <code>Public</code>\n            (everyone can view the entity), <code>Limited</code> (the entity is visible to limited\n            accounts only), or <code>Restricted</code> (the entity was published and then\n            unpublished and only existing buyers can view it). </p>"
          }
        },
        "AmiProductSummary": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the AMI product.</p>"
          }
        },
        "ContainerProductSummary": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the container product.</p>"
          }
        },
        "DataProductSummary": {
          "target": "com.amazonaws.marketplacecatalog#DataProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the data product.</p>"
          }
        },
        "SaaSProductSummary": {
          "target": "com.amazonaws.marketplacecatalog#SaaSProductSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the SaaS product.</p>"
          }
        },
        "OfferSummary": {
          "target": "com.amazonaws.marketplacecatalog#OfferSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the offer.</p>"
          }
        },
        "ResaleAuthorizationSummary": {
          "target": "com.amazonaws.marketplacecatalog#ResaleAuthorizationSummary",
          "traits": {
            "smithy.api#documentation": "<p>An object that contains summary information about the Resale Authorization.</p>"
          }
        },
        "MachineLearningProductSummary": {
          "target": "com.amazonaws.marketplacecatalog#MachineLearningProductSummary"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>This object is a container for common summary information about the entity. The\n            summary doesn't contain the whole entity structure, but it does contain information\n            common across all entities.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#EntitySummaryList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#EntitySummary"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityType": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityTypeFilters": {
      "type": "union",
      "members": {
        "DataProductFilters": {
          "target": "com.amazonaws.marketplacecatalog#DataProductFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for data products.</p>"
          }
        },
        "SaaSProductFilters": {
          "target": "com.amazonaws.marketplacecatalog#SaaSProductFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for SaaS products.</p>"
          }
        },
        "AmiProductFilters": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for AMI products.</p>"
          }
        },
        "OfferFilters": {
          "target": "com.amazonaws.marketplacecatalog#OfferFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for offers.</p>"
          }
        },
        "ContainerProductFilters": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for container products.</p>"
          }
        },
        "ResaleAuthorizationFilters": {
          "target": "com.amazonaws.marketplacecatalog#ResaleAuthorizationFilters",
          "traits": {
            "smithy.api#documentation": "<p>A filter for Resale Authorizations.</p>"
          }
        },
        "MachineLearningProductFilters": {
          "target": "com.amazonaws.marketplacecatalog#MachineLearningProductFilters"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing all the filter fields per entity type.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#EntityTypeSort": {
      "type": "union",
      "members": {
        "DataProductSort": {
          "target": "com.amazonaws.marketplacecatalog#DataProductSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for data products.</p>"
          }
        },
        "SaaSProductSort": {
          "target": "com.amazonaws.marketplacecatalog#SaaSProductSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for SaaS products.</p>"
          }
        },
        "AmiProductSort": {
          "target": "com.amazonaws.marketplacecatalog#AmiProductSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for AMI products.</p>"
          }
        },
        "OfferSort": {
          "target": "com.amazonaws.marketplacecatalog#OfferSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for offers.</p>"
          }
        },
        "ContainerProductSort": {
          "target": "com.amazonaws.marketplacecatalog#ContainerProductSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for container products.</p>"
          }
        },
        "ResaleAuthorizationSort": {
          "target": "com.amazonaws.marketplacecatalog#ResaleAuthorizationSort",
          "traits": {
            "smithy.api#documentation": "<p>A sort for Resale Authorizations.</p>"
          }
        },
        "MachineLearningProductSort": {
          "target": "com.amazonaws.marketplacecatalog#MachineLearningProductSort"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Object containing all the sort fields per entity type.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ErrorCodeString": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 72
        },
        "smithy.api#pattern": "^[a-zA-Z_]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#ErrorDetail": {
      "type": "structure",
      "members": {
        "ErrorCode": {
          "target": "com.amazonaws.marketplacecatalog#ErrorCodeString",
          "traits": {
            "smithy.api#documentation": "<p>The error code that identifies the type of error.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.marketplacecatalog#ExceptionMessageContent",
          "traits": {
            "smithy.api#documentation": "<p>The message for the error.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Details about the error.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#ErrorDetailList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#ErrorDetail"
      }
    },
    "com.amazonaws.marketplacecatalog#Errors": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.marketplacecatalog#EntityId"
      },
      "value": {
        "target": "com.amazonaws.marketplacecatalog#BatchDescribeErrorDetail"
      }
    },
    "com.amazonaws.marketplacecatalog#ExceptionMessageContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 2048
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#FailureCode": {
      "type": "enum",
      "members": {
        "ClientError": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLIENT_ERROR"
          }
        },
        "ServerFault": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SERVER_FAULT"
          }
        }
      }
    },
    "com.amazonaws.marketplacecatalog#Filter": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.marketplacecatalog#FilterName",
          "traits": {
            "smithy.api#documentation": "<p>For <code>ListEntities</code>, the supported value for this is an\n                <code>EntityId</code>.</p>\n         <p>For <code>ListChangeSets</code>, the supported values are as follows:</p>"
          }
        },
        "ValueList": {
          "target": "com.amazonaws.marketplacecatalog#ValueList",
          "traits": {
            "smithy.api#documentation": "<p>\n            <code>ListEntities</code> - This is a list of unique <code>EntityId</code>s.</p>\n         <p>\n            <code>ListChangeSets</code> - The supported filter names and associated\n                <code>ValueList</code>s is as follows:</p>\n         <ul>\n            <li>\n               <p>\n                  <code>ChangeSetName</code> - The supported <code>ValueList</code> is a list of\n                    non-unique <code>ChangeSetName</code>s. These are defined when you call the\n                        <code>StartChangeSet</code> action.</p>\n            </li>\n            <li>\n               <p>\n                  <code>Status</code> - The supported <code>ValueList</code> is a list of\n                    statuses for all change set requests.</p>\n            </li>\n            <li>\n               <p>\n                  <code>EntityId</code> - The supported <code>ValueList</code> is a list of\n                    unique <code>EntityId</code>s.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BeforeStartTime</code> - The supported <code>ValueList</code> is a list\n                    of all change sets that started before the filter value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AfterStartTime</code> - The supported <code>ValueList</code> is a list\n                    of all change sets that started after the filter value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>BeforeEndTime</code> - The supported <code>ValueList</code> is a list of\n                    all change sets that ended before the filter value.</p>\n            </li>\n            <li>\n               <p>\n                  <code>AfterEndTime</code> - The supported <code>ValueList</code> is a list of\n                    all change sets that ended after the filter value.</p>\n            </li>\n         </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A filter object, used to optionally filter results from calls to the\n                <code>ListEntities</code> and <code>ListChangeSets</code> actions.</p>"
      }
    },
    "com.amazonaws.marketplacecatalog#FilterList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.marketplacecatalog#Filter"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 8
        }
      }
    },
    "com.amazonaws.marketplacecatalog#FilterName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[a-zA-Z]+$"
      }
    },
    "com.amazonaws.marketplacecatalog#FilterValueContent": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^(.)+$"
      }
    },
    "com.amazonaws.marketplacecatalog#GetResourcePolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacecatalog#GetResourcePolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacecatalog#GetResourcePolicyResponse"
      },
[...]
