{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.marketplacemetering#AWSMPMeteringService": {
      "type": "service",
      "version": "2016-01-14",
      "operations": [
        {
          "target": "com.amazonaws.marketplacemetering#BatchMeterUsage"
        },
        {
          "target": "com.amazonaws.marketplacemetering#MeterUsage"
        },
        {
          "target": "com.amazonaws.marketplacemetering#RegisterUsage"
        },
        {
          "target": "com.amazonaws.marketplacemetering#ResolveCustomer"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "Marketplace Metering",
          "arnNamespace": "aws-marketplace",
          "cloudFormationName": "MarketplaceMetering",
          "cloudTrailEventSource": "marketplacemetering.amazonaws.com",
          "endpointPrefix": "metering.marketplace"
        },
        "aws.auth#sigv4": {
          "name": "aws-marketplace"
        },
        "aws.protocols#awsJson1_1": {},
        "smithy.api#documentation": "<fullname>AWS Marketplace Metering Service</fullname>\n        <p>This reference provides descriptions of the low-level AWS Marketplace Metering Service\n            API.</p>\n        <p>AWS Marketplace sellers can use this API to submit usage data for custom usage\n            dimensions.</p>\n        <p>For information on the permissions you need to use this API, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/userguide/iam-user-policy-for-aws-marketplace-actions.html\">AWS Marketplace metering and entitlement API permissions</a> in the\n                <i>AWS Marketplace Seller Guide.</i>\n        </p>\n        <p>\n            <b>Submitting Metering Records</b>\n        </p>\n        <ul>\n            <li>\n                <p>\n                    <i>MeterUsage</i> - Submits the metering record for an AWS\n                    Marketplace product. <code>MeterUsage</code> is called from an EC2 instance or a\n                    container running on EKS or ECS.</p>\n            </li>\n            <li>\n                <p>\n                    <i>BatchMeterUsage</i> - Submits the metering record for a set of\n                    customers. <code>BatchMeterUsage</code> is called from a software-as-a-service\n                    (SaaS) application.</p>\n            </li>\n         </ul>\n        <p>\n            <b>Accepting New Customers</b>\n        </p>\n        <ul>\n            <li>\n                <p>\n                    <i>ResolveCustomer</i> - Called by a SaaS application during the\n                    registration process. When a buyer visits your website during the registration\n                    process, the buyer submits a Registration Token through the browser. The\n                    Registration Token is resolved through this API to obtain a\n                        <code>CustomerIdentifier</code>\n                    \n                    along with the <code>CustomerAWSAccountId</code> and\n                    <code>ProductCode</code>.</p>\n            </li>\n         </ul>\n        <p>\n            <b>Entitlement and Metering for Paid Container Products</b>\n        </p>\n        <ul>\n            <li>\n                <p>Paid container software products sold through AWS Marketplace must integrate\n                    with the AWS Marketplace Metering Service and call the\n                        <code>RegisterUsage</code> operation for software entitlement and metering.\n                    Free and BYOL products for Amazon ECS or Amazon EKS aren't required to call\n                        <code>RegisterUsage</code>, but you can do so if you want to receive usage\n                    data in your seller reports. For more information on using the\n                        <code>RegisterUsage</code> operation, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/userguide/container-based-products.html\">Container-Based Products</a>. </p>\n            </li>\n         </ul>\n        <p>\n            <code>BatchMeterUsage</code> API calls are captured by AWS CloudTrail. You can use\n            Cloudtrail to verify that the SaaS metering records that you sent are accurate by\n            searching for records with the <code>eventName</code> of <code>BatchMeterUsage</code>.\n            You can also use CloudTrail to audit records over time. For more information, see the\n                    <i>\n               <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html\">AWS CloudTrail User Guide</a>.</i>\n         </p>",
        "smithy.api#title": "AWSMarketplace Metering",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "aws.partition",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ],
                  "assign": "PartitionResult"
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "isSet",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ]
                    },
                    {
                      "fn": "parseURL",
                      "argv": [
                        {
                          "ref": "Endpoint"
                        }
                      ],
                      "assign": "url"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                      "type": "error"
                    },
                    {
                      "conditions": [],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                {
                                  "ref": "UseDualStack"
                                },
                                true
                              ]
                            }
                          ],
                          "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                          "type": "error"
                        },
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": {
                              "ref": "Endpoint"
                            },
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    },
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://metering.marketplace-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsFIPS"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://metering.marketplace-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "FIPS is enabled but this partition does not support FIPS",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            true,
                            {
                              "fn": "getAttr",
                              "argv": [
                                {
                                  "ref": "PartitionResult"
                                },
                                "supportsDualStack"
                              ]
                            }
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [],
                          "endpoint": {
                            "url": "https://metering.marketplace.{Region}.{PartitionResult#dualStackDnsSuffix}",
                            "properties": {},
                            "headers": {}
                          },
                          "type": "endpoint"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "error": "DualStack is enabled but this partition does not support DualStack",
                      "type": "error"
                    }
                  ]
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": "https://metering.marketplace.{Region}.{PartitionResult#dnsSuffix}",
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-south-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-south-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-south-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-south-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-south-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-south-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-south-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.me-central-1.api.aws"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.me-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ca-central-1.api.aws"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ca-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ca-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ca-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-central-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-central-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-central-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-central-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-west-2.api.aws"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.af-south-1.api.aws"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region af-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.af-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "af-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-north-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-3.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-2.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-1.api.aws"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.me-south-1.api.aws"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region me-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.me-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "me-south-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.sa-east-1.api.aws"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-east-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-gov-west-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-gov-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-gov-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-west-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-1.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-2.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-3.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-3",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-4",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-4",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-4.api.aws"
                }
              },
              "params": {
                "Region": "ap-southeast-4",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region ap-southeast-4 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.ap-southeast-4.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-4",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-east-2.api.aws"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.cn-northwest-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region cn-northwest-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.cn-northwest-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-northwest-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": true,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://metering.marketplace.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseDualStack": false,
                "UseFIPS": false
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips enabled and dualstack disabled",
              "expect": {
                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": false,
                "UseFIPS": true,
                "Endpoint": "https://example.com"
              }
            },
            {
              "documentation": "For custom endpoint with fips disabled and dualstack enabled",
              "expect": {
                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
              },
              "params": {
                "Region": "us-east-1",
                "UseDualStack": true,
                "UseFIPS": false,
                "Endpoint": "https://example.com"
              }
            }
          ],
          "version": "1.0"
        }
      }
    },
    "com.amazonaws.marketplacemetering#AllocatedUsageQuantity": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 0,
          "max": 2147483647
        }
      }
    },
    "com.amazonaws.marketplacemetering#BatchMeterUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacemetering#BatchMeterUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacemetering#BatchMeterUsageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacemetering#DisabledApiException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidCustomerIdentifierException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidProductCodeException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidTagException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidUsageAllocationsException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidUsageDimensionException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#TimestampOutOfBoundsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>BatchMeterUsage</code> is called from a SaaS application listed on AWS\n            Marketplace to post metering records for a set of customers.</p>\n        <p>For identical requests, the API is idempotent; requests can be retried with the same\n            records or a subset of the input records.</p>\n        <p>Every request to <code>BatchMeterUsage</code> is for one product. If you need to meter\n            usage for multiple products, you must make multiple calls to\n                <code>BatchMeterUsage</code>.</p>\n        <p>Usage records are expected to be submitted as quickly as possible after the event that\n            is being recorded, and are not accepted more than 6 hours after the event.</p>\n        <p>\n            <code>BatchMeterUsage</code> can process up to 25 <code>UsageRecords</code> at a\n            time.</p>\n        <p>A <code>UsageRecord</code> can optionally include multiple usage allocations, to\n            provide customers with usage data split into buckets by tags that you define (or allow\n            the customer to define).</p>\n        <p>\n            <code>BatchMeterUsage</code> returns a list of <code>UsageRecordResult</code> objects,\n            showing the result for each <code>UsageRecord</code>, as well as a list of\n                <code>UnprocessedRecords</code>, indicating errors in the service side that you\n            should retry.</p>\n        <p>\n            <code>BatchMeterUsage</code> requests must be less than 1MB in size.</p>\n        <note>\n            <p>For an example of using <code>BatchMeterUsage</code>, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/userguide/saas-code-examples.html#saas-batchmeterusage-example\"> BatchMeterUsage code example</a> in the <i>AWS Marketplace Seller\n                    Guide</i>.</p>\n        </note>"
      }
    },
    "com.amazonaws.marketplacemetering#BatchMeterUsageRequest": {
      "type": "structure",
      "members": {
        "UsageRecords": {
          "target": "com.amazonaws.marketplacemetering#UsageRecordList",
          "traits": {
            "smithy.api#documentation": "<p>The set of <code>UsageRecords</code> to submit. <code>BatchMeterUsage</code> accepts\n            up to 25 <code>UsageRecords</code> at a time.</p>",
            "smithy.api#required": {}
          }
        },
        "ProductCode": {
          "target": "com.amazonaws.marketplacemetering#ProductCode",
          "traits": {
            "smithy.api#documentation": "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product\n            code should be the same as the one used during the publishing of a new product.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A <code>BatchMeterUsageRequest</code> contains <code>UsageRecords</code>, which\n            indicate quantities of usage within your application.</p>"
      }
    },
    "com.amazonaws.marketplacemetering#BatchMeterUsageResult": {
      "type": "structure",
      "members": {
        "Results": {
          "target": "com.amazonaws.marketplacemetering#UsageRecordResultList",
          "traits": {
            "smithy.api#documentation": "<p>Contains all <code>UsageRecords</code> processed by <code>BatchMeterUsage</code>.\n            These records were either honored by AWS Marketplace Metering Service or were invalid.\n            Invalid records should be fixed before being resubmitted.</p>"
          }
        },
        "UnprocessedRecords": {
          "target": "com.amazonaws.marketplacemetering#UsageRecordList",
          "traits": {
            "smithy.api#documentation": "<p>Contains all <code>UsageRecords</code> that were not processed by\n                <code>BatchMeterUsage</code>. This is a list of <code>UsageRecords</code>. You can\n            retry the failed request by making another <code>BatchMeterUsage</code> call with this\n            list as input in the <code>BatchMeterUsageRequest</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Contains the <code>UsageRecords</code> processed by <code>BatchMeterUsage</code> and\n            any records that have failed due to transient error.</p>"
      }
    },
    "com.amazonaws.marketplacemetering#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.marketplacemetering#CustomerAWSAccountId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[0-9]+$"
      }
    },
    "com.amazonaws.marketplacemetering#CustomerIdentifier": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[\\s\\S]+$"
      }
    },
    "com.amazonaws.marketplacemetering#CustomerNotEntitledException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Exception thrown when the customer does not have a valid subscription for the\n            product.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#DisabledApiException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The API is disabled in the Region.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#DuplicateRequestException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A metering record has already been emitted by the same EC2 instance, ECS task, or EKS\n            pod for the given {<code>usageDimension</code>, <code>timestamp</code>} with a different\n                <code>usageQuantity</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#ExpiredTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The submitted registration token has expired. This can happen if the buyer's browser\n            takes too long to redirect to your page, the buyer has resubmitted the registration\n            token, or your application has held on to the registration token for too long. Your SaaS\n            registration website should redeem this token as soon as it is submitted by the buyer's\n            browser.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InternalServiceErrorException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>An internal error has occurred. Retry your request. If the problem persists, post a\n            message with details on the AWS forums.</p>",
        "smithy.api#error": "server"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidCustomerIdentifierException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You have metered usage for a <code>CustomerIdentifier</code> that does not\n            exist.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidEndpointRegionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The endpoint being called is in a AWS Region different from your EC2 instance, ECS\n            task, or EKS pod. The Region of the Metering Service endpoint and the AWS Region of the\n            resource must match.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidProductCodeException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The product code passed does not match the product code used for publishing the\n            product.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidPublicKeyVersionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Public Key version is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidRegionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>\n            <code>RegisterUsage</code> must be called in the same AWS Region the ECS task was\n            launched in. This prevents a container from hardcoding a Region (e.g.\n            withRegion(“us-east-1”) when calling <code>RegisterUsage</code>.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidTagException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The tag is invalid, or the number of tags is greater than 5.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidTokenException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Registration token is invalid.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidUsageAllocationsException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The usage allocation objects are invalid, or the number of allocations is greater than\n            500 for a single usage record.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#InvalidUsageDimensionException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The usage dimension does not match one of the <code>UsageDimensions</code> associated\n            with products.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#MeterUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacemetering#MeterUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacemetering#MeterUsageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacemetering#CustomerNotEntitledException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#DuplicateRequestException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidEndpointRegionException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidProductCodeException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidTagException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidUsageAllocationsException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidUsageDimensionException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#ThrottlingException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#TimestampOutOfBoundsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>API to emit metering records. For identical requests, the API is idempotent. It simply\n            returns the metering record ID.</p>\n        <p>\n            <code>MeterUsage</code> is authenticated on the buyer's AWS account using credentials\n            from the EC2 instance, ECS task, or EKS pod.</p>\n        <p>\n            <code>MeterUsage</code> can optionally include multiple usage allocations, to provide\n            customers with usage data split into buckets by tags that you define (or allow the\n            customer to define).</p>\n        <p>Usage records are expected to be submitted as quickly as possible after the event that\n            is being recorded, and are not accepted more than 6 hours after the event.</p>"
      }
    },
    "com.amazonaws.marketplacemetering#MeterUsageRequest": {
      "type": "structure",
      "members": {
        "ProductCode": {
          "target": "com.amazonaws.marketplacemetering#ProductCode",
          "traits": {
            "smithy.api#documentation": "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product\n            code should be the same as the one used during the publishing of a new product.</p>",
            "smithy.api#required": {}
          }
        },
        "Timestamp": {
          "target": "com.amazonaws.marketplacemetering#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>Timestamp, in UTC, for which the usage is being reported. Your application can meter\n            usage for up to one hour in the past. Make sure the <code>timestamp</code> value is not\n            before the start of the software usage.</p>",
            "smithy.api#required": {}
          }
        },
        "UsageDimension": {
          "target": "com.amazonaws.marketplacemetering#UsageDimension",
          "traits": {
            "smithy.api#documentation": "<p>It will be one of the fcp dimension name provided during the publishing of the\n            product.</p>",
            "smithy.api#required": {}
          }
        },
        "UsageQuantity": {
          "target": "com.amazonaws.marketplacemetering#UsageQuantity",
          "traits": {
            "smithy.api#documentation": "<p>Consumption value for the hour. Defaults to <code>0</code> if not specified.</p>"
          }
        },
        "DryRun": {
          "target": "com.amazonaws.marketplacemetering#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>Checks whether you have the permissions required for the action, but does not make the\n            request. If you have the permissions, the request returns <code>DryRunOperation</code>;\n            otherwise, it returns <code>UnauthorizedException</code>. Defaults to <code>false</code>\n            if not specified.</p>"
          }
        },
        "UsageAllocations": {
          "target": "com.amazonaws.marketplacemetering#UsageAllocations",
          "traits": {
            "smithy.api#documentation": "<p>The set of <code>UsageAllocations</code> to submit.</p>\n        <p>The sum of all <code>UsageAllocation</code> quantities must equal the\n                <code>UsageQuantity</code> of the <code>MeterUsage</code> request, and each\n                <code>UsageAllocation</code> must have a unique set of tags (include no\n            tags).</p>"
          }
        }
      }
    },
    "com.amazonaws.marketplacemetering#MeterUsageResult": {
      "type": "structure",
      "members": {
        "MeteringRecordId": {
          "target": "com.amazonaws.marketplacemetering#String",
          "traits": {
            "smithy.api#documentation": "<p>Metering record id.</p>"
          }
        }
      }
    },
    "com.amazonaws.marketplacemetering#NonEmptyString": {
      "type": "string",
      "traits": {
        "smithy.api#pattern": "^[\\s\\S]+$"
      }
    },
    "com.amazonaws.marketplacemetering#Nonce": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "^[\\s\\S]*$"
      }
    },
    "com.amazonaws.marketplacemetering#PlatformNotSupportedException": {
      "type": "structure",
      "members": {
        "message": {
          "target": "com.amazonaws.marketplacemetering#errorMessage"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>AWS Marketplace does not support metering usage from the underlying platform.\n            Currently, Amazon ECS, Amazon EKS, and AWS Fargate are supported.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.marketplacemetering#ProductCode": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 255
        },
        "smithy.api#pattern": "^[-a-zA-Z0-9/=:_.@]*$"
      }
    },
    "com.amazonaws.marketplacemetering#RegisterUsage": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacemetering#RegisterUsageRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacemetering#RegisterUsageResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacemetering#CustomerNotEntitledException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#DisabledApiException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InternalServiceErrorException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidProductCodeException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidPublicKeyVersionException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#InvalidRegionException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#PlatformNotSupportedException"
        },
        {
          "target": "com.amazonaws.marketplacemetering#ThrottlingException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Paid container software products sold through AWS Marketplace must integrate with the\n            AWS Marketplace Metering Service and call the <code>RegisterUsage</code> operation for\n            software entitlement and metering. Free and BYOL products for Amazon ECS or Amazon EKS\n            aren't required to call <code>RegisterUsage</code>, but you may choose to do so if you\n            would like to receive usage data in your seller reports. The sections below explain the\n            behavior of <code>RegisterUsage</code>. <code>RegisterUsage</code> performs two primary\n            functions: metering and entitlement.</p>\n        <ul>\n            <li>\n                <p>\n                    <i>Entitlement</i>: <code>RegisterUsage</code> allows you to\n                    verify that the customer running your paid software is subscribed to your\n                    product on AWS Marketplace, enabling you to guard against unauthorized use. Your\n                    container image that integrates with <code>RegisterUsage</code> is only required\n                    to guard against unauthorized use at container startup, as such a\n                        <code>CustomerNotSubscribedException</code> or\n                        <code>PlatformNotSupportedException</code> will only be thrown on the\n                    initial call to <code>RegisterUsage</code>. Subsequent calls from the same\n                    Amazon ECS task instance (e.g. task-id) or Amazon EKS pod will not throw a\n                        <code>CustomerNotSubscribedException</code>, even if the customer\n                    unsubscribes while the Amazon ECS task or Amazon EKS pod is still\n                    running.</p>\n            </li>\n            <li>\n                <p>\n                    <i>Metering</i>: <code>RegisterUsage</code> meters software use\n                    per ECS task, per hour, or per pod for Amazon EKS with usage prorated to the\n                    second. A minimum of 1 minute of usage applies to tasks that are short lived.\n                    For example, if a customer has a 10 node Amazon ECS or Amazon EKS cluster and a\n                    service configured as a Daemon Set, then Amazon ECS or Amazon EKS will launch a\n                    task on all 10 cluster nodes and the customer will be charged: (10 *\n                    hourly_rate). Metering for software use is automatically handled by the AWS\n                    Marketplace Metering Control Plane -- your software is not required to perform\n                    any metering specific actions, other than call <code>RegisterUsage</code> once\n                    for metering of software use to commence. The AWS Marketplace Metering Control\n                    Plane will also continue to bill customers for running ECS tasks and Amazon EKS\n                    pods, regardless of the customers subscription state, removing the need for your\n                    software to perform entitlement checks at runtime.</p>\n            </li>\n         </ul>"
      }
    },
    "com.amazonaws.marketplacemetering#RegisterUsageRequest": {
      "type": "structure",
      "members": {
        "ProductCode": {
          "target": "com.amazonaws.marketplacemetering#ProductCode",
          "traits": {
            "smithy.api#documentation": "<p>Product code is used to uniquely identify a product in AWS Marketplace. The product\n            code should be the same as the one used during the publishing of a new product.</p>",
            "smithy.api#required": {}
          }
        },
        "PublicKeyVersion": {
          "target": "com.amazonaws.marketplacemetering#VersionInteger",
          "traits": {
            "smithy.api#documentation": "<p>Public Key Version provided by AWS Marketplace</p>",
            "smithy.api#required": {}
          }
        },
        "Nonce": {
          "target": "com.amazonaws.marketplacemetering#Nonce",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) To scope down the registration to a specific running software instance and\n            guard against replay attacks.</p>"
          }
        }
      }
    },
    "com.amazonaws.marketplacemetering#RegisterUsageResult": {
      "type": "structure",
      "members": {
        "PublicKeyRotationTimestamp": {
          "target": "com.amazonaws.marketplacemetering#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) Only included when public key version has expired</p>"
          }
        },
        "Signature": {
          "target": "com.amazonaws.marketplacemetering#NonEmptyString",
          "traits": {
            "smithy.api#documentation": "<p>JWT Token</p>"
          }
        }
      }
    },
    "com.amazonaws.marketplacemetering#ResolveCustomer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.marketplacemetering#ResolveCustomerRequest"
      },
      "output": {
        "target": "com.amazonaws.marketplacemetering#ResolveCustomerResult"
      },
      "errors": [
        {
          "target": "com.amazonaws.marketplacemetering#DisabledApiException"
        },
        {
[...]
