{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconnect#AddFlowOutputs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#AddFlowOutputs420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds outputs to an existing flow. You can create up to 20 outputs per flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/outputs",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputs420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to add outputs to.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "A list of outputs that you want to add.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add outputs to the specified flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these outputs were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The details of the newly added outputs.",
            "smithy.api#jsonName": "outputs"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddOutputRequest": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "cidrAllowList"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds for Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the output. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol to use for the output.",
            "smithy.api#jsonName": "protocol",
            "smithy.api#required": {}
          }
        },
        "RemoteId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The remote ID for the Zixi-pull output stream.",
            "smithy.api#jsonName": "remoteId"
          }
        },
        "SmoothingLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "smoothingLatency"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output that you want to add to this flow."
      }
    },
    "com.amazonaws.mediaconnect#Algorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "aes128",
            "name": "aes128"
          },
          {
            "value": "aes192",
            "name": "aes192"
          },
          {
            "value": "aes256",
            "name": "aes256"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#CreateFlow420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 20) and entitlements (up to 50).",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS Region.",
            "smithy.api#jsonName": "availabilityZone"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The entitlements that you want to grant on a flow.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "The outputs that you want to add to this flow.",
            "smithy.api#jsonName": "outputs"
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#SetSourceRequest",
          "traits": {
            "smithy.api#jsonName": "source",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 20) and entitlements (up to 50)."
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a flow. Before you can delete a flow, you must stop the flow.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that was deleted.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The status of the flow when the DeleteFlow process begins.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows/{FlowArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to describe.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        },
        "Messages": {
          "target": "com.amazonaws.mediaconnect#Messages",
          "traits": {
            "smithy.api#jsonName": "messages"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#Encryption": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconnect#Algorithm",
          "traits": {
            "smithy.api#documentation": "The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).",
            "smithy.api#jsonName": "algorithm",
            "smithy.api#required": {}
          }
        },
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.mediaconnect#KeyType",
          "traits": {
            "smithy.api#documentation": "The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "keyType"
          }
        },
        "Region": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The AWS Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "region"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect as a trusted entity).",
            "smithy.api#jsonName": "roleArn",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the secret that you created in AWS Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.",
            "smithy.api#jsonName": "secretArn"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the encryption of the flow."
      }
    },
    "com.amazonaws.mediaconnect#Entitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flow using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow entitlement."
      }
    },
    "com.amazonaws.mediaconnect#Flow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "egressIp"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements in this flow.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN), a unique identifier for any AWS resource, of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The outputs in this flow.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#Source",
          "traits": {
            "smithy.api#jsonName": "source",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow, including its source, outputs, and entitlements."
      }
    },
    "com.amazonaws.mediaconnect#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediaconnect#GrantEntitlementRequest": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the subscriber or end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flows using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entitlements that you want to grant on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Grants entitlements to an existing flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/entitlements",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The list of entitlements that you want to grant.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to grant entitlements on.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to grant entitlements on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements that were just granted.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these entitlements were granted to.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mediaconnect#KeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "speke",
            "name": "speke"
          },
          {
            "value": "static-key",
            "name": "static_key"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/entitlements",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListEntitlements request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 20 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfListedEntitlement",
          "traits": {
            "smithy.api#documentation": "A list of entitlements that have been granted to you from other AWS accounts.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListFlowsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListFlowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of flows that are associated with this account. This request returns a paginated result.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListFlows request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsResponse": {
      "type": "structure",
      "members": {
        "Flows": {
          "target": "com.amazonaws.mediaconnect#__listOfListedFlow",
          "traits": {
            "smithy.api#documentation": "A list of flow summaries.",
            "smithy.api#jsonName": "flows"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "List all tags on an AWS Elemental MediaConnect resource",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource for which to list the tags.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediaconnect#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "A map from tag keys to values. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListedEntitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "EntitlementName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "entitlementName",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entitlement that has been granted to you from other AWS accounts."
      }
    },
    "com.amazonaws.mediaconnect#ListedFlow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that the flow was created in.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow.",
            "smithy.api#jsonName": "description",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.mediaconnect#SourceType",
          "traits": {
            "smithy.api#documentation": "The type of source. This value is either owned (originated somewhere other than an AWS Elemental MediaConnect flow owned by another AWS account) or entitled (originated at an AWS Elemental MediaConnect flow owned by another AWS account).",
            "smithy.api#jsonName": "sourceType",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a summary of a flow, including its ARN, Availability Zone, and source type."
      }
    },
    "com.amazonaws.mediaconnect#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.mediaconnect#MediaConnect": {
      "type": "service",
      "version": "2018-11-14",
      "operations": [
        {
          "target": "com.amazonaws.mediaconnect#AddFlowOutputs"
        },
        {
          "target": "com.amazonaws.mediaconnect#CreateFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#DeleteFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#DescribeFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#GrantFlowEntitlements"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListEntitlements"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListFlows"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#RemoveFlowOutput"
        },
        {
          "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlement"
        },
        {
          "target": "com.amazonaws.mediaconnect#StartFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#StopFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#TagResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#UntagResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowEntitlement"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowOutput"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowSource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MediaConnect",
          "arnNamespace": "mediaconnect",
          "cloudFormationName": "MediaConnect",
          "cloudTrailEventSource": "mediaconnect.amazonaws.com"
        },
        "aws.auth#sigv4": {
          "name": "mediaconnect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "API for AWS Elemental MediaConnect",
        "smithy.api#title": "AWS MediaConnect"
      }
    },
    "com.amazonaws.mediaconnect#Messages": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of errors that might have been generated from processes on this flow.",
            "smithy.api#jsonName": "errors",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Messages that provide the state of the flow."
      }
    },
    "com.amazonaws.mediaconnect#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mediaconnect#Output": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The address where you want to send the output.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement on the originator''s flow. This value is relevant only on entitled flows.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "MediaLiveInputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The input ARN of the AWS Elemental MediaLive channel. This parameter is relevant only for outputs that were added by creating a MediaLive input.",
            "smithy.api#jsonName": "mediaLiveInputArn"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the output. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output.",
            "smithy.api#jsonName": "outputArn",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Transport": {
          "target": "com.amazonaws.mediaconnect#Transport",
          "traits": {
            "smithy.api#documentation": "Attributes related to the transport stream that are used in the output.",
            "smithy.api#jsonName": "transport"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for an output."
      }
    },
    "com.amazonaws.mediaconnect#Protocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "zixi-push",
            "name": "zixi_push"
          },
          {
            "value": "rtp-fec",
            "name": "rtp_fec"
          },
          {
            "value": "rtp",
            "name": "rtp"
          },
          {
            "value": "zixi-pull",
            "name": "zixi_pull"
          },
          {
            "value": "rist",
            "name": "rist"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowOutputRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowOutputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/outputs/{OutputArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutputRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to remove an output from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output that you want to remove.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutputResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that is associated with the output you removed.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output that was removed.",
            "smithy.api#jsonName": "outputArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/entitlements/{EntitlementArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlementRequest": {
      "type": "structure",
      "members": {
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that you want to revoke.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to revoke an entitlement from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlementResponse": {
      "type": "structure",
      "members": {
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that was revoked.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that the entitlement was revoked from.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.mediaconnect#SetSourceRequest": {
      "type": "structure",
      "members": {
        "Decryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that is used on the content ingested from this source.",
            "smithy.api#jsonName": "decryption"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description for the source. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that allows you to subscribe to this flow. The entitlement is set by the flow originator, and the ARN is generated as part of the originator's flow.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "IngestPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port that the flow will be listening on for incoming content.",
            "smithy.api#jsonName": "ingestPort"
          }
        },
        "MaxBitrate": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing max bitrate for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "maxBitrate"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based and Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the source.",
            "smithy.api#jsonName": "name"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol that is used by the source.",
            "smithy.api#jsonName": "protocol"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        },
        "WhitelistCidr": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to contribute content to your source. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "whitelistCidr"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for the source of the flow."
      }
    },
    "com.amazonaws.mediaconnect#Source": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Decryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that is used on the content ingested from this source.",
            "smithy.api#jsonName": "decryption"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description for the source. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that allows you to subscribe to content that comes from another AWS account. The entitlement is set by the content originator and the ARN is generated as part of the originator's flow.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "IngestIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address that the flow will be listening on for incoming content.",
            "smithy.api#jsonName": "ingestIp"
          }
        },
        "IngestPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port that the flow will be listening on for incoming content.",
            "smithy.api#jsonName": "ingestPort"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the source.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the source.",
            "smithy.api#jsonName": "sourceArn",
            "smithy.api#required": {}
          }
        },
        "Transport": {
          "target": "com.amazonaws.mediaconnect#Transport",
          "traits": {
            "smithy.api#documentation": "Attributes related to the transport stream that are used in the source.",
            "smithy.api#jsonName": "transport"
          }
        },
        "WhitelistCidr": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to contribute content to your source. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "whitelistCidr"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for the source of the flow."
      }
    },
    "com.amazonaws.mediaconnect#SourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OWNED",
            "name": "OWNED"
          },
          {
            "value": "ENTITLED",
            "name": "ENTITLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#StartFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#StartFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#StartFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Starts a flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/start/{FlowArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#StartFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to start.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#StartFlowResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you started.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The status of the flow when the StartFlow process begins.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#Status": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "STANDBY",
            "name": "STANDBY"
          },
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "UPDATING",
            "name": "UPDATING"
          },
          {
            "value": "DELETING",
            "name": "DELETING"
          },
          {
            "value": "STARTING",
            "name": "STARTING"
          },
          {
            "value": "STOPPING",
            "name": "STOPPING"
          },
          {
            "value": "ERROR",
            "name": "ERROR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#StopFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#StopFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#StopFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Stops a flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/stop/{FlowArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#StopFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to stop.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#StopFlowResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you stopped.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The status of the flow when the StopFlow process begins.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#TagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#TagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.mediaconnect#TagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource to which to add tags.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediaconnect#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "A map from tag keys to values. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
            "smithy.api#jsonName": "tags",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The tags to add to the resource. A tag is an array of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters."
      }
    },
    "com.amazonaws.mediaconnect#TooManyRequestsException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 429
      }
    },
    "com.amazonaws.mediaconnect#Transport": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "cidrAllowList"
          }
        },
        "MaxBitrate": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing max bitrate for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "maxBitrate"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based and Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol that is used by the source or output.",
            "smithy.api#jsonName": "protocol",
            "smithy.api#required": {}
          }
        },
        "RemoteId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The remote ID for the Zixi-pull stream.",
            "smithy.api#jsonName": "remoteId"
          }
        },
        "SmoothingLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "smoothingLatency"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Attributes related to the transport stream that are used in a source or output."
      }
    },
    "com.amazonaws.mediaconnect#UntagResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#UntagResourceRequest"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes specified tags from a resource.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/tags/{ResourceArn}",
          "code": 204
        }
      }
    },
    "com.amazonaws.mediaconnect#UntagResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource from which to delete tags.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "TagKeys": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The keys of the tags to be removed.",
            "smithy.api#httpQuery": "tagKeys",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateEncryption": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconnect#Algorithm",
          "traits": {
            "smithy.api#documentation": "The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.mediaconnect#KeyType",
          "traits": {
            "smithy.api#documentation": "The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "keyType"
          }
        },
        "Region": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The AWS Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "region"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect as a trusted entity).",
            "smithy.api#jsonName": "roleArn"
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the secret that you created in AWS Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.",
            "smithy.api#jsonName": "secretArn"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the encryption of the flow."
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowEntitlementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/flows/{FlowArn}/entitlements/{EntitlementArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowEntitlementRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the subscriber or end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#UpdateEncryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that is associated with the entitlement that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flow using your content as the source.",
            "smithy.api#jsonName": "subscribers"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entitlement fields that you want to update."
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowEntitlementResponse": {
      "type": "structure",
      "members": {
        "Entitlement": {
          "target": "com.amazonaws.mediaconnect#Entitlement",
          "traits": {
            "smithy.api#jsonName": "entitlement"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that this entitlement was granted on.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowOutputRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowOutputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Updates an existing flow output.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/flows/{FlowArn}/outputs/{OutputArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowOutputRequest": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "cidrAllowList"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address where you want to send the output.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#UpdateEncryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that is associated with the output that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds for Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol to use for the output.",
            "smithy.api#jsonName": "protocol"
          }
        },
        "RemoteId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The remote ID for the Zixi-pull stream.",
            "smithy.api#jsonName": "remoteId"
          }
        },
        "SmoothingLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "smoothingLatency"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The fields that you want to update in the output."
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowOutputResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that is associated with the updated output.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Output": {
          "target": "com.amazonaws.mediaconnect#Output",
          "traits": {
            "smithy.api#jsonName": "output"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#UpdateFlowSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Updates the source of a flow.",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/v1/flows/{FlowArn}/source/{SourceArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowSourceRequest": {
      "type": "structure",
      "members": {
        "Decryption": {
          "target": "com.amazonaws.mediaconnect#UpdateEncryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption used on the content ingested from this source.",
            "smithy.api#jsonName": "decryption"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description for the source. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that allows you to subscribe to this flow. The entitlement is set by the flow originator, and the ARN is generated as part of the originator's flow.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that is associated with the source that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IngestPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port that the flow will be listening on for incoming content.",
            "smithy.api#jsonName": "ingestPort"
          }
        },
        "MaxBitrate": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing max bitrate for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "maxBitrate"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based and Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol that is used by the source.",
            "smithy.api#jsonName": "protocol"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the source that you want to update.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        },
        "WhitelistCidr": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to contribute content to your source. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "whitelistCidr"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to update the source of a flow."
      }
    },
    "com.amazonaws.mediaconnect#UpdateFlowSourceResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to update.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#Source",
          "traits": {
            "smithy.api#documentation": "The settings for the source of the flow.",
            "smithy.api#jsonName": "source"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#__integer": {
      "type": "integer"
    },
    "com.amazonaws.mediaconnect#__listOfAddOutputRequest": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#AddOutputRequest"
      }
    },
    "com.amazonaws.mediaconnect#__listOfEntitlement": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#Entitlement"
      }
    },
    "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#GrantEntitlementRequest"
      }
    },
    "com.amazonaws.mediaconnect#__listOfListedEntitlement": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#ListedEntitlement"
      }
    },
    "com.amazonaws.mediaconnect#__listOfListedFlow": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#ListedFlow"
      }
    },
    "com.amazonaws.mediaconnect#__listOfOutput": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#Output"
      }
    },
    "com.amazonaws.mediaconnect#__listOf__string": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediaconnect#__string"
      }
    },
    "com.amazonaws.mediaconnect#__mapOf__string": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mediaconnect#__string"
      },
      "value": {
        "target": "com.amazonaws.mediaconnect#__string"
      }
    },
    "com.amazonaws.mediaconnect#__string": {
      "type": "string"
    }
  }
}
