{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.mediapackagev2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediapackagev2#AdMarkerHls": {
      "type": "enum",
      "members": {
        "DATERANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATERANGE"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupListConfiguration": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the channel group.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroup"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannelGroup"
      },
      "update": {
        "target": "com.amazonaws.mediapackagev2#UpdateChannelGroup"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelGroup"
      },
      "list": {
        "target": "com.amazonaws.mediapackagev2#ListChannelGroups"
      },
      "resources": [
        {
          "target": "com.amazonaws.mediapackagev2#ChannelResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "Represents a channel group that facilitates the grouping of multiple channels"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#ChannelGroupListConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#ChannelListConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelListConfiguration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>Any descriptive information that you want to add to the channel for future identification purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the channel.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelPolicyResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#PutChannelPolicy"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannelPolicy"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelPolicy"
      },
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}/channel/{ChannelName}"
        },
        "smithy.api#documentation": "Represents a resource-based policy that allows or denies access to a channel"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#CreateChannel"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannel"
      },
      "update": {
        "target": "com.amazonaws.mediapackagev2#UpdateChannel"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannel"
      },
      "list": {
        "target": "com.amazonaws.mediapackagev2#ListChannels"
      },
      "resources": [
        {
          "target": "com.amazonaws.mediapackagev2#ChannelPolicyResource"
        },
        {
          "target": "com.amazonaws.mediapackagev2#OriginEndpointResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}/channel/{ChannelName}"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "Represents an entry point into AWS Elemental MediaPackage for an ABR video content stream sent from an upstream encoder such as AWS Elemental MediaLive. The channel continuously analyzes the content that it receives and prepares it to be distributed to consumers via one or more origin endpoints"
      }
    },
    "com.amazonaws.mediapackagev2#CmafEncryptionMethod": {
      "type": "enum",
      "members": {
        "CENC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENC"
          }
        },
        "CBCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBCS"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "ConflictExceptionType": {
          "target": "com.amazonaws.mediapackagev2#ConflictExceptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of ConflictException.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.mediapackagev2#ConflictExceptionType": {
      "type": "enum",
      "members": {
        "RESOURCE_IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_IN_USE"
          }
        },
        "RESOURCE_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_ALREADY_EXISTS"
          }
        },
        "IDEMPOTENT_PARAMETER_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDEMPOTENT_PARAMETER_MISMATCH"
          }
        },
        "CONFLICTING_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_OPERATION"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#ContainerType": {
      "type": "enum",
      "members": {
        "TS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TS"
          }
        },
        "CMAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CMAF"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a channel in a channel group",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>Create a channel to start receiving content streams. The channel represents the input to MediaPackage for incoming live content from an encoder such as AWS Elemental MediaLive. The channel receives content, and after packaging it, outputs it through an origin endpoint to downstream devices (such as video players or CDNs) that request the content. You can create only one channel with each request. We recommend that you spread out channels between channel groups, such as putting redundant channels in the same AWS Region in different channel groups.</p>",
        "smithy.api#examples": [
          {
            "title": "Creating a Channel",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "Description": "Description for exampleChannel",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "Description": "Description for exampleChannel",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "IngestEndpoints": [
                {
                  "Id": "1",
                  "Url": "https://abcde-1.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                },
                {
                  "Id": "2",
                  "Url": "https://abcde-2.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup/{ChannelGroupName}/channel"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a channel group",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>Create a channel group to group your channels and origin endpoints. A channel group is the top-level resource that consists of channels and origin endpoints that are associated with it and that provides predictable URLs for stream delivery. All channels and origin endpoints within the channel group are guaranteed to share the DNS. You can create only one channel group with each request. </p>",
        "smithy.api#examples": [
          {
            "title": "Creating a Channel Group",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "Description": "Description for exampleChannelGroup",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "Description": "Description for exampleChannelGroup",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup",
              "EgressDomain": "abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroupRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region. You can't use spaces in the name. You can't change the name after you create the channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the channel group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs that you define. For example:</p>\n         <p>\n            <code>\"Key1\": \"Value1\",</code>\n         </p>\n         <p>\n            <code>\"Key2\": \"Value2\"</code>\n         </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroupResponse": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "EgressDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The output domain where the source stream should be sent. Integrate the egress domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. You can't change the name after you create the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the channel.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs that you define. For example:</p>\n         <p>\n            <code>\"Key1\": \"Value1\",</code>\n         </p>\n         <p>\n            <code>\"Key2\": \"Value2\"</code>\n         </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel.</p>"
          }
        },
        "IngestEndpoints": {
          "target": "com.amazonaws.mediapackagev2#IngestEndpointList"
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>",
            "smithy.api#range": {
              "min": 30,
              "max": 900
            }
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, \n         EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. \n         The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. \n         ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p>\n         <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 1209600
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Create an HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>",
            "smithy.api#range": {
              "min": 30,
              "max": 900
            }
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, \n         EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. \n         The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. \n         ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p>\n         <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 1209600
            }
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Create a low-latency HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create an origin endpoint for a channel",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>The endpoint is attached to a channel, and represents the output of the live content. You can associate multiple endpoints to a single channel. Each endpoint gives players and downstream CDNs (such as Amazon CloudFront) access to the content for playback. Content can't be served from a channel until it has an endpoint. You can create only one endpoint with each request. </p>",
        "smithy.api#examples": [
          {
            "title": "Creating an OriginEndpoint with container type TS, and encryption enabled",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointTS",
              "ContainerType": "TS",
              "Description": "Description for exampleOriginEndpointTS",
              "StartoverWindowSeconds": 300,
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "TsUseAudioRenditionGroup": true,
                "IncludeIframeOnlyStreams": true,
                "TsIncludeDvbSubtitles": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B7E",
                  "EncryptionMethod": {
                    "TsEncryptionMethod": "AES_128"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["CLEAR_KEY_AES_128"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointTS",
              "Description": "Description for exampleOriginEndpointTS",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel/originEndpoint/exampleOriginEndpointTS",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ContainerType": "TS",
              "StartoverWindowSeconds": 300,
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "TsUseAudioRenditionGroup": true,
                "IncludeIframeOnlyStreams": true,
                "TsIncludeDvbSubtitles": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B7E",
                  "EncryptionMethod": {
                    "TsEncryptionMethod": "AES_128"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["CLEAR_KEY_AES_128"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleManifest2.m3u8"
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleLLManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleLLManifest2.m3u8"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          },
          {
            "title": "Creating an OriginEndpoint with container type CMAF, and encryption enabled",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointCMAF",
              "ContainerType": "TS",
              "StartoverWindowSeconds": 300,
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "IncludeIframeOnlyStreams": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B9F",
                  "EncryptionMethod": {
                    "CmafEncryptionMethod": "CBCS"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "PRESET_AUDIO_1",
                      "PresetSpeke20Video": "PRESET_VIDEO_1"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY", "WIDEVINE"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointCMAF",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel/originEndpoint/exampleOriginEndpointCMAF",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ContainerType": "TS",
              "StartoverWindowSeconds": 300,
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "IncludeIframeOnlyStreams": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B9F",
                  "EncryptionMethod": {
                    "CmafEncryptionMethod": "CBCS"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "PRESET_AUDIO_1",
                      "PresetSpeke20Video": "PRESET_VIDEO_1"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY", "WIDEVINE"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleManifest2.m3u8"
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleLLManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleLLManifest2.m3u8"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and must be unique for your account in the AWS Region and channel. You can't use spaces in the name. You can't change the name after you create the endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ContainerType": {
          "target": "com.amazonaws.mediapackagev2#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of container to attach to this origin endpoint. A container type is a file format that encapsulates one or more media streams, such as audio and video, into a single file. You can't change the container type after you create the endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "Segment": {
          "target": "com.amazonaws.mediapackagev2#Segment",
          "traits": {
            "smithy.api#documentation": "<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the origin endpoint.</p>"
          }
        },
        "StartoverWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window. The maximum startover window is 1,209,600 seconds (14 days).</p>",
            "smithy.api#range": {
              "min": 60,
              "max": 1209600
            }
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateHlsManifests",
          "traits": {
            "smithy.api#documentation": "<p>An HTTP live streaming (HLS) manifest configuration.</p>"
          }
        },
        "LowLatencyHlsManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifests",
          "traits": {
            "smithy.api#documentation": "<p>A low-latency HLS manifest configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs that you define. For example:</p>\n         <p>\n            <code>\"Key1\": \"Value1\",</code>\n         </p>\n         <p>\n            <code>\"Key2\": \"Value2\"</code>\n         </p>"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateOriginEndpointResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ContainerType": {
          "target": "com.amazonaws.mediapackagev2#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of container attached to this origin endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "Segment": {
          "target": "com.amazonaws.mediapackagev2#Segment",
          "traits": {
            "smithy.api#documentation": "<p>The segment configuration, including the segment name, duration, and other configuration values.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the origin endpoint was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the origin endpoint was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for your origin endpoint.</p>"
          }
        },
        "StartoverWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window.</p>"
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackagev2#GetHlsManifests",
          "traits": {
            "smithy.api#documentation": "<p>An HTTP live streaming (HLS) manifest configuration.</p>"
          }
        },
        "LowLatencyHlsManifests": {
          "target": "com.amazonaws.mediapackagev2#GetLowLatencyHlsManifests",
          "traits": {
            "smithy.api#documentation": "<p>A low-latency HLS manifest configuration.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the origin endpoint.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a channel in a channel group",
        "smithy.api#documentation": "<p>Delete a channel to stop AWS Elemental MediaPackage from receiving further content. You must delete the channel's origin endpoints before you can delete the channel.</p>",
        "smithy.api#examples": [
          {
            "title": "Deleting a Channel",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a channel group",
        "smithy.api#documentation": "<p>Delete a channel group. You must delete the channel group's channels and origin endpoints before you can delete the channel group. If you delete a channel group, you'll lose access to the egress domain and will have to create a new channel group to replace it.</p>",
        "smithy.api#examples": [
          {
            "title": "Deleting a Channel Group",
            "input": {
              "ChannelGroupName": "exampleChannelGroup"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channelGroup/{ChannelGroupName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelGroupRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a resource policy from a channel",
        "smithy.api#documentation": "<p>Delete a channel policy.</p>",
        "smithy.api#examples": [
          {
            "title": "Deleting a Channel Policy",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteChannelResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#DeleteOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#DeleteOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete an origin endpoint of a channel",
        "smithy.api#documentation": "<p>Origin endpoints can serve content until they're deleted. Delete the endpoint if it should no longer respond to playback requests. You must delete all endpoints from a channel before you can delete the channel.</p>",
        "smithy.api#examples": [
          {
            "title": "Deleting an OriginEndpoint",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointTS"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpointPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#DeleteOriginEndpointPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#DeleteOriginEndpointPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to delete a resource policy from an origin endpoint",
        "smithy.api#documentation": "<p>Delete an origin endpoint policy.</p>",
        "smithy.api#examples": [
          {
            "title": "Deleting an Origin Endpoint Policy",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpoint"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpointPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpointPolicyResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#DeleteOriginEndpointResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#DrmSystem": {
      "type": "enum",
      "members": {
        "CLEAR_KEY_AES_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAR_KEY_AES_128"
          }
        },
        "FAIRPLAY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAIRPLAY"
          }
        },
        "PLAYREADY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PLAYREADY"
          }
        },
        "WIDEVINE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WIDEVINE"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#DrmSystems": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#DrmSystem"
      }
    },
    "com.amazonaws.mediapackagev2#Encryption": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>A 128-bit, 16-byte hex value represented by a 32-character string, used in conjunction with the key for encrypting content. If you don't specify a value, then MediaPackage creates the constant initialization vector (IV).</p>",
            "smithy.api#length": {
              "min": 32,
              "max": 32
            },
            "smithy.api#pattern": "^[0-9a-fA-F]+$"
          }
        },
        "EncryptionMethod": {
          "target": "com.amazonaws.mediapackagev2#EncryptionMethod",
          "traits": {
            "smithy.api#documentation": "<p>The encryption method to use.</p>",
            "smithy.api#required": {}
          }
        },
        "KeyRotationIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The frequency (in seconds) of key changes for live workflows, in which content is streamed real time. The service retrieves content keys before the live content begins streaming, and then retrieves them as needed over the lifetime of the workflow. By default, key rotation is set to 300 seconds (5 minutes), the minimum rotation interval, which is equivalent to setting it to 300. If you don't enter an interval, content keys aren't rotated.</p>\n         <p>The following example setting causes the service to rotate keys every thirty minutes: <code>1800</code>\n         </p>",
            "smithy.api#range": {
              "min": 300,
              "max": 31536000
            }
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackagev2#SpekeKeyProvider",
          "traits": {
            "smithy.api#documentation": "<p>The parameters for the SPEKE key provider.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The parameters for encrypting content.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#EncryptionContractConfiguration": {
      "type": "structure",
      "members": {
        "PresetSpeke20Audio": {
          "target": "com.amazonaws.mediapackagev2#PresetSpeke20Audio",
          "traits": {
            "smithy.api#documentation": "<p>A collection of audio encryption presets.</p>\n         <p>Value description: </p>\n         <ul>\n            <li>\n               <p>PRESET-AUDIO-1 - Use one content key to encrypt all of the\n               audio tracks in your stream.</p>\n            </li>\n            <li>\n               <p>PRESET-AUDIO-2 - Use one content key to encrypt all of the\n               stereo audio tracks and one content key to encrypt all of the multichannel\n               audio tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-AUDIO-3 - Use one content key to encrypt all of the\n               stereo audio tracks, one content key to encrypt all of the multichannel audio\n               tracks with 3 to 6 channels, and one content key to encrypt all of the\n               multichannel audio tracks with more than 6 channels.</p>\n            </li>\n            <li>\n               <p>SHARED - Use the same content key for all of the audio and\n               video tracks in your stream.</p>\n            </li>\n            <li>\n               <p>UNENCRYPTED - Don't encrypt any of the audio tracks in your\n               stream.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        },
        "PresetSpeke20Video": {
          "target": "com.amazonaws.mediapackagev2#PresetSpeke20Video",
          "traits": {
            "smithy.api#documentation": "<p>A collection of video encryption presets.</p>\n         <p>Value description: </p>\n         <ul>\n            <li>\n               <p>PRESET-VIDEO-1 - Use one content key to encrypt all of the video\n               tracks in your stream.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-2 - Use one content key to encrypt all of the SD\n               video tracks and one content key for all HD and higher resolutions video\n               tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-3 - Use one content key to encrypt all of the SD\n               video tracks, one content key for HD video tracks and one content key for all\n               UHD video tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-4 - Use one content key to encrypt all of the SD\n               video tracks, one content key for HD video tracks, one content key for all UHD1\n               video tracks and one content key for all UHD2 video tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-5 - Use one content key to encrypt all of the SD\n               video tracks, one content key for HD1 video tracks, one content key for HD2\n               video tracks, one content key for all UHD1 video tracks and one content key for\n               all UHD2 video tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-6 - Use one content key to encrypt all of the SD\n               video tracks, one content key for HD1 video tracks, one content key for HD2\n               video tracks and one content key for all UHD video tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-7 - Use one content key to encrypt all of the SD+HD1\n               video tracks, one content key for HD2 video tracks and one content key for all\n               UHD video tracks.</p>\n            </li>\n            <li>\n               <p>PRESET-VIDEO-8 - Use one content key to encrypt all of the SD+HD1\n               video tracks, one content key for HD2 video tracks, one content key for all\n               UHD1 video tracks and one content key for all UHD2 video tracks.</p>\n            </li>\n            <li>\n               <p>SHARED - Use the same content key for all of the video and audio\n               tracks in your stream.</p>\n            </li>\n            <li>\n               <p>UNENCRYPTED - Don't encrypt any of the video tracks in your stream.</p>\n            </li>\n         </ul>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configure one or more content encryption keys for your endpoints that use SPEKE Version 2.0. The encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. To configure the encryption contract, specify which audio and video encryption presets to use.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#EncryptionMethod": {
      "type": "structure",
      "members": {
        "TsEncryptionMethod": {
          "target": "com.amazonaws.mediapackagev2#TsEncryptionMethod",
          "traits": {
            "smithy.api#documentation": "<p>The encryption method to use.</p>"
          }
        },
        "CmafEncryptionMethod": {
          "target": "com.amazonaws.mediapackagev2#CmafEncryptionMethod",
          "traits": {
            "smithy.api#documentation": "<p>The encryption method to use.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The encryption type.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#GetChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#GetChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#GetChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve details of a channel in a channel group",
        "smithy.api#documentation": "<p>Retrieves the specified channel that's configured in AWS Elemental MediaPackage, including the origin endpoints that are associated with it.</p>",
        "smithy.api#examples": [
          {
            "title": "Getting a Channel",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel"
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "Description": "Description for exampleChannel",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "IngestEndpoints": [
                {
                  "Id": "1",
                  "Url": "https://abcde-1.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                },
                {
                  "Id": "2",
                  "Url": "https://abcde-2.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#GetChannelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#GetChannelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve details of a channel group",
        "smithy.api#documentation": "<p>Retrieves the specified channel group that's configured in AWS Elemental MediaPackage, including the channels and origin endpoints that are associated with it.</p>",
        "smithy.api#examples": [
          {
            "title": "Getting a Channel Group",
            "input": {
              "ChannelGroupName": "exampleChannelGroup"
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "Description": "Description for exampleChannelGroup",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup",
              "EgressDomain": "abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channelGroup/{ChannelGroupName}"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelGroupRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelGroupResponse": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "EgressDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The output domain where the source stream should be sent. Integrate the domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#GetChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#GetChannelPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to retrieve a resource policy for a channel",
        "smithy.api#documentation": "<p>Retrieves the specified channel policy that's configured in AWS Elemental MediaPackage. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources.</p>",
        "smithy.api#examples": [
          {
            "title": "Getting a Channel Policy",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel"
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "Policy": "{...}"
            }
          }
        ],
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy"
        },
        "smithy.api#readonly": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelPolicyResponse": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "Policy": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The policy assigned to the channel.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel.</p>"
          }
        },
        "IngestEndpoints": {
          "target": "com.amazonaws.mediapackagev2#IngestEndpointList"
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#GetHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "Url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The egress domain URL for stream delivery from MediaPackage.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, \n         EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. \n         The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. \n         ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p>\n         <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieve the HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#GetHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#GetHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#GetLowLatencyHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "Url": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The egress domain URL for stream delivery from MediaPackage.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default child manifest name, index_1. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, \n         EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. \n         The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player. \n         ID3Timed metadata messages generate every 5 seconds whenever the content is ingested.</p>\n         <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieve the low-latency HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#GetLowLatencyHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#GetLowLatencyHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#GetOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#GetOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#GetOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
[...]
