{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconnect#AddFlowOutputs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#AddFlowOutputs420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds outputs to an existing flow. You can create up to 50 outputs per flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/outputs",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputs420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to add outputs to.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "A list of outputs that you want to add.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add outputs to the specified flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these outputs were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The details of the newly added outputs.",
            "smithy.api#jsonName": "outputs"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds Sources to flow",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/source",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSourcesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to mutate.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
          "traits": {
            "smithy.api#documentation": "A list of sources that you want to add.",
            "smithy.api#jsonName": "sources",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add sources to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSourcesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these sources were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSource",
          "traits": {
            "smithy.api#documentation": "The details of the newly added sources.",
            "smithy.api#jsonName": "sources"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds VPC interfaces to flow",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/vpcInterfaces",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to mutate.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
          "traits": {
            "smithy.api#documentation": "A list of VPC interfaces that you want to add.",
            "smithy.api#jsonName": "vpcInterfaces",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add VPC interfaces to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these VPC interfaces were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterface",
          "traits": {
            "smithy.api#documentation": "The details of the newly added VPC interfaces.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddOutputRequest": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "cidrAllowList"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum latency in milliseconds for Zixi-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the output. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol to use for the output.",
            "smithy.api#jsonName": "protocol",
            "smithy.api#required": {}
          }
        },
        "RemoteId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The remote ID for the Zixi-pull output stream.",
            "smithy.api#jsonName": "remoteId"
          }
        },
        "SmoothingLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "smoothingLatency"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        },
        "VpcInterfaceAttachment": {
          "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface attachment to use for this output.",
            "smithy.api#jsonName": "vpcInterfaceAttachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output that you want to add to this flow."
      }
    },
    "com.amazonaws.mediaconnect#Algorithm": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "aes128",
            "name": "aes128"
          },
          {
            "value": "aes192",
            "name": "aes192"
          },
          {
            "value": "aes256",
            "name": "aes256"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#CreateFlow420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS Region.",
            "smithy.api#jsonName": "availabilityZone"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The entitlements that you want to grant on a flow.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "The outputs that you want to add to this flow.",
            "smithy.api#jsonName": "outputs"
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#SetSourceRequest",
          "traits": {
            "smithy.api#jsonName": "source"
          }
        },
        "SourceFailoverConfig": {
          "target": "com.amazonaws.mediaconnect#FailoverConfig",
          "traits": {
            "smithy.api#jsonName": "sourceFailoverConfig"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
          "traits": {
            "smithy.api#jsonName": "sources"
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
          "traits": {
            "smithy.api#documentation": "The VPC interfaces you want on the flow.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50)."
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a flow. Before you can delete a flow, you must stop the flow.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that was deleted.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The status of the flow when the DeleteFlow process begins.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows/{FlowArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to describe.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        },
        "Messages": {
          "target": "com.amazonaws.mediaconnect#Messages",
          "traits": {
            "smithy.api#jsonName": "messages"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOffering": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeOfferingRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeOfferingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/offerings/{OfferingArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOfferingRequest": {
      "type": "structure",
      "members": {
        "OfferingArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the offering.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOfferingResponse": {
      "type": "structure",
      "members": {
        "Offering": {
          "target": "com.amazonaws.mediaconnect#Offering",
          "traits": {
            "smithy.api#jsonName": "offering"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeReservationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeReservationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/reservations/{ReservationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservationRequest": {
      "type": "structure",
      "members": {
        "ReservationArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the reservation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservationResponse": {
      "type": "structure",
      "members": {
        "Reservation": {
          "target": "com.amazonaws.mediaconnect#Reservation",
          "traits": {
            "smithy.api#jsonName": "reservation"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DurationUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "MONTHS",
            "name": "MONTHS"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#Encryption": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconnect#Algorithm",
          "traits": {
            "smithy.api#documentation": "The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).",
            "smithy.api#jsonName": "algorithm",
            "smithy.api#required": {}
          }
        },
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.mediaconnect#KeyType",
          "traits": {
            "smithy.api#documentation": "The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "keyType"
          }
        },
        "Region": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The AWS Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "region"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect as a trusted entity).",
            "smithy.api#jsonName": "roleArn",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the secret that you created in AWS Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.",
            "smithy.api#jsonName": "secretArn"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the encryption of the flow."
      }
    },
    "com.amazonaws.mediaconnect#Entitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "EntitlementStatus": {
          "target": "com.amazonaws.mediaconnect#EntitlementStatus",
          "traits": {
            "smithy.api#documentation": "An indication of whether the entitlement is enabled.",
            "smithy.api#jsonName": "entitlementStatus"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flow using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow entitlement."
      }
    },
    "com.amazonaws.mediaconnect#EntitlementStatus": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#FailoverConfig": {
      "type": "structure",
      "members": {
        "RecoveryWindow": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Search window time to look for dash-7 packets",
            "smithy.api#jsonName": "recoveryWindow"
          }
        },
        "State": {
          "target": "com.amazonaws.mediaconnect#State",
          "traits": {
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for source failover"
      }
    },
    "com.amazonaws.mediaconnect#Flow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "egressIp"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements in this flow.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN), a unique identifier for any AWS resource, of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The outputs in this flow.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#Source",
          "traits": {
            "smithy.api#jsonName": "source",
            "smithy.api#required": {}
          }
        },
        "SourceFailoverConfig": {
          "target": "com.amazonaws.mediaconnect#FailoverConfig",
          "traits": {
            "smithy.api#jsonName": "sourceFailoverConfig"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSource",
          "traits": {
            "smithy.api#jsonName": "sources"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterface",
          "traits": {
            "smithy.api#documentation": "The VPC Interfaces for this flow.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow, including its source, outputs, and entitlements."
      }
    },
    "com.amazonaws.mediaconnect#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediaconnect#GrantEntitlementRequest": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the subscriber or end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementStatus": {
          "target": "com.amazonaws.mediaconnect#EntitlementStatus",
          "traits": {
            "smithy.api#documentation": "An indication of whether the new entitlement should be enabled or disabled as soon as it is created. If you don’t specify the entitlementStatus field in your request, MediaConnect sets it to ENABLED.",
            "smithy.api#jsonName": "entitlementStatus"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flows using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entitlements that you want to grant on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Grants entitlements to an existing flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/entitlements",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The list of entitlements that you want to grant.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to grant entitlements on.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to grant entitlements on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements that were just granted.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these entitlements were granted to.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mediaconnect#KeyType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "speke",
            "name": "speke"
          },
          {
            "value": "static-key",
            "name": "static_key"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/entitlements",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Entitlements",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListEntitlements request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 20 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfListedEntitlement",
          "traits": {
            "smithy.api#documentation": "A list of entitlements that have been granted to you from other AWS accounts.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListFlowsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListFlowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of flows that are associated with this account. This request returns a paginated result.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Flows",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListFlows request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsResponse": {
      "type": "structure",
      "members": {
        "Flows": {
          "target": "com.amazonaws.mediaconnect#__listOfListedFlow",
          "traits": {
            "smithy.api#documentation": "A list of flow summaries.",
            "smithy.api#jsonName": "flows"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListOfferingsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all offerings that are available to this account in the current AWS Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/offerings",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Offerings",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferingsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListOfferings request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferingsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Offerings": {
          "target": "com.amazonaws.mediaconnect#__listOfOffering",
          "traits": {
            "smithy.api#documentation": "A list of offerings that are available to this account in the current AWS Region.",
            "smithy.api#jsonName": "offerings"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListReservationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListReservationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all reservations that have been purchased by this account in the current AWS Region. This list includes all reservations in all states (such as active and expired).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/reservations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Reservations",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListReservations request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListReservations request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Reservations": {
          "target": "com.amazonaws.mediaconnect#__listOfReservation",
          "traits": {
            "smithy.api#documentation": "A list of all reservations that have been purchased by this account in the current AWS Region.",
            "smithy.api#jsonName": "reservations"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "List all tags on an AWS Elemental MediaConnect resource",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource for which to list the tags.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediaconnect#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "A map from tag keys to values. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListedEntitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "EntitlementName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "entitlementName",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entitlement that has been granted to you from other AWS accounts."
      }
    },
    "com.amazonaws.mediaconnect#ListedFlow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that the flow was created in.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow.",
            "smithy.api#jsonName": "description",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.mediaconnect#SourceType",
          "traits": {
            "smithy.api#documentation": "The type of source. This value is either owned (originated somewhere other than an AWS Elemental MediaConnect flow owned by another AWS account) or entitled (originated at an AWS Elemental MediaConnect flow owned by another AWS account).",
            "smithy.api#jsonName": "sourceType",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a summary of a flow, including its ARN, Availability Zone, and source type."
      }
    },
    "com.amazonaws.mediaconnect#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.mediaconnect#MediaConnect": {
      "type": "service",
      "version": "2018-11-14",
      "operations": [
        {
          "target": "com.amazonaws.mediaconnect#AddFlowOutputs"
        },
        {
          "target": "com.amazonaws.mediaconnect#AddFlowSources"
        },
        {
          "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfaces"
        },
        {
          "target": "com.amazonaws.mediaconnect#CreateFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#DeleteFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#DescribeFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#DescribeOffering"
        },
        {
          "target": "com.amazonaws.mediaconnect#DescribeReservation"
        },
        {
          "target": "com.amazonaws.mediaconnect#GrantFlowEntitlements"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListEntitlements"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListFlows"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListOfferings"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListReservations"
        },
        {
          "target": "com.amazonaws.mediaconnect#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#PurchaseOffering"
        },
        {
          "target": "com.amazonaws.mediaconnect#RemoveFlowOutput"
        },
        {
          "target": "com.amazonaws.mediaconnect#RemoveFlowSource"
        },
        {
          "target": "com.amazonaws.mediaconnect#RemoveFlowVpcInterface"
        },
        {
          "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlement"
        },
        {
          "target": "com.amazonaws.mediaconnect#StartFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#StopFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#TagResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#UntagResource"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlow"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowEntitlement"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowOutput"
        },
        {
          "target": "com.amazonaws.mediaconnect#UpdateFlowSource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MediaConnect",
          "arnNamespace": "mediaconnect",
          "cloudFormationName": "MediaConnect",
          "cloudTrailEventSource": "mediaconnect.amazonaws.com",
          "endpointPrefix": "mediaconnect"
        },
        "aws.auth#sigv4": {
          "name": "mediaconnect"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "API for AWS Elemental MediaConnect",
        "smithy.api#title": "AWS MediaConnect"
      }
    },
    "com.amazonaws.mediaconnect#Messages": {
      "type": "structure",
      "members": {
        "Errors": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of errors that might have been generated from processes on this flow.",
            "smithy.api#jsonName": "errors",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Messages that provide the state of the flow."
      }
    },
    "com.amazonaws.mediaconnect#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mediaconnect#Offering": {
      "type": "structure",
      "members": {
        "CurrencyCode": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The type of currency that is used for billing. The currencyCode used for all reservations is US dollars.",
            "smithy.api#jsonName": "currencyCode",
            "smithy.api#required": {}
          }
        },
        "Duration": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The length of time that your reservation would be active.",
            "smithy.api#jsonName": "duration",
            "smithy.api#required": {}
          }
        },
        "DurationUnits": {
          "target": "com.amazonaws.mediaconnect#DurationUnits",
          "traits": {
            "smithy.api#documentation": "The unit of measurement for the duration of the offering.",
            "smithy.api#jsonName": "durationUnits",
            "smithy.api#required": {}
          }
        },
        "OfferingArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that MediaConnect assigns to the offering.",
            "smithy.api#jsonName": "offeringArn",
            "smithy.api#required": {}
          }
        },
        "OfferingDescription": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the offering.",
            "smithy.api#jsonName": "offeringDescription",
            "smithy.api#required": {}
          }
        },
        "PricePerUnit": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The cost of a single unit. This value, in combination with priceUnits, makes up the rate.",
            "smithy.api#jsonName": "pricePerUnit",
            "smithy.api#required": {}
          }
        },
        "PriceUnits": {
          "target": "com.amazonaws.mediaconnect#PriceUnits",
          "traits": {
            "smithy.api#documentation": "The unit of measurement that is used for billing. This value, in combination with pricePerUnit, makes up the rate.",
            "smithy.api#jsonName": "priceUnits",
            "smithy.api#required": {}
          }
        },
        "ResourceSpecification": {
          "target": "com.amazonaws.mediaconnect#ResourceSpecification",
          "traits": {
            "smithy.api#documentation": "A definition of the amount of outbound bandwidth that you would be reserving if you purchase the offering.",
            "smithy.api#jsonName": "resourceSpecification",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A savings plan that reserves a certain amount of outbound bandwidth usage at a discounted rate each month over a period of time."
      }
    },
    "com.amazonaws.mediaconnect#Output": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The address where you want to send the output.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement on the originator''s flow. This value is relevant only on entitled flows.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "MediaLiveInputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The input ARN of the AWS Elemental MediaLive channel. This parameter is relevant only for outputs that were added by creating a MediaLive input.",
            "smithy.api#jsonName": "mediaLiveInputArn"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the output. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output.",
            "smithy.api#jsonName": "outputArn",
            "smithy.api#required": {}
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Transport": {
          "target": "com.amazonaws.mediaconnect#Transport",
          "traits": {
            "smithy.api#documentation": "Attributes related to the transport stream that are used in the output.",
            "smithy.api#jsonName": "transport"
          }
        },
        "VpcInterfaceAttachment": {
          "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface attachment to use for this output.",
            "smithy.api#jsonName": "vpcInterfaceAttachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for an output."
      }
    },
    "com.amazonaws.mediaconnect#PriceUnits": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "HOURLY",
            "name": "HOURLY"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#Protocol": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "zixi-push",
            "name": "zixi_push"
          },
          {
            "value": "rtp-fec",
            "name": "rtp_fec"
          },
          {
            "value": "rtp",
            "name": "rtp"
          },
          {
            "value": "zixi-pull",
            "name": "zixi_pull"
          },
          {
            "value": "rist",
            "name": "rist"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#PurchaseOffering": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#PurchaseOfferingRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#PurchaseOfferingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Submits a request to purchase an offering. If you already have an active reservation, you can't purchase another offering.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/offerings/{OfferingArn}",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#PurchaseOfferingRequest": {
      "type": "structure",
      "members": {
        "OfferingArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the offering.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ReservationName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name that you want to use for the reservation.",
            "smithy.api#jsonName": "reservationName",
            "smithy.api#required": {}
          }
        },
        "Start": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The date and time that you want the reservation to begin, in Coordinated Universal Time (UTC). You can specify any date and time between 12:00am on the first day of the current month to the current time on today's date, inclusive. Specify the start in a 24-hour notation. Use the following format: YYYY-MM-DDTHH:mm:SSZ, where T and Z are literal characters. For example, to specify 11:30pm on March 5, 2020, enter 2020-03-05T23:30:00Z.",
            "smithy.api#jsonName": "start",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to purchase a offering."
      }
    },
    "com.amazonaws.mediaconnect#PurchaseOfferingResponse": {
      "type": "structure",
      "members": {
        "Reservation": {
          "target": "com.amazonaws.mediaconnect#Reservation",
          "traits": {
            "smithy.api#jsonName": "reservation"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutput": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowOutputRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowOutputResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/outputs/{OutputArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutputRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to remove an output from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output that you want to remove.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowOutputResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that is associated with the output you removed.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "OutputArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the output that was removed.",
            "smithy.api#jsonName": "outputArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowSourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes a source from an existing flow. This request can be made only if there is more than one source on the flow.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/source/{SourceArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowSourceRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to remove a source from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the source that you want to remove.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowSourceResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that is associated with the source you removed.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the source that was removed.",
            "smithy.api#jsonName": "sourceArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowVpcInterface": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowVpcInterfaceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RemoveFlowVpcInterfaceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Removes a VPC Interface from an existing flow. This request can be made only on a VPC interface that does not have a Source or Output associated with it. If the VPC interface is referenced by a Source or Output, you must first delete or update the Source or Output to no longer reference the VPC interface.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/vpcInterfaces/{VpcInterfaceName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowVpcInterfaceRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to remove a VPC interface from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VpcInterfaceName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface that you want to remove.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RemoveFlowVpcInterfaceResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that is associated with the VPC interface you removed.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "NonDeletedNetworkInterfaceIds": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "IDs of network interfaces associated with the removed VPC interface that Media Connect was unable to remove.",
            "smithy.api#jsonName": "nonDeletedNetworkInterfaceIds"
          }
        },
        "VpcInterfaceName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface that was removed.",
            "smithy.api#jsonName": "vpcInterfaceName"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#Reservation": {
      "type": "structure",
      "members": {
        "CurrencyCode": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The type of currency that is used for billing. The currencyCode used for your reservation is US dollars.",
            "smithy.api#jsonName": "currencyCode",
            "smithy.api#required": {}
          }
        },
        "Duration": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The length of time that this reservation is active. MediaConnect defines this value in the offering.",
            "smithy.api#jsonName": "duration",
            "smithy.api#required": {}
          }
        },
        "DurationUnits": {
          "target": "com.amazonaws.mediaconnect#DurationUnits",
          "traits": {
            "smithy.api#documentation": "The unit of measurement for the duration of the reservation. MediaConnect defines this value in the offering.",
            "smithy.api#jsonName": "durationUnits",
            "smithy.api#required": {}
          }
        },
        "End": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The day and time that this reservation expires. This value is calculated based on the start date and time that you set and the offering's duration.",
            "smithy.api#jsonName": "end",
            "smithy.api#required": {}
          }
        },
        "OfferingArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that MediaConnect assigns to the offering.",
            "smithy.api#jsonName": "offeringArn",
            "smithy.api#required": {}
          }
        },
        "OfferingDescription": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the offering. MediaConnect defines this value in the offering.",
            "smithy.api#jsonName": "offeringDescription",
            "smithy.api#required": {}
          }
        },
        "PricePerUnit": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The cost of a single unit. This value, in combination with priceUnits, makes up the rate. MediaConnect defines this value in the offering.",
            "smithy.api#jsonName": "pricePerUnit",
            "smithy.api#required": {}
          }
        },
        "PriceUnits": {
          "target": "com.amazonaws.mediaconnect#PriceUnits",
          "traits": {
            "smithy.api#documentation": "The unit of measurement that is used for billing. This value, in combination with pricePerUnit, makes up the rate. MediaConnect defines this value in the offering.",
            "smithy.api#jsonName": "priceUnits",
            "smithy.api#required": {}
          }
        },
        "ReservationArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that MediaConnect assigns to the reservation when you purchase an offering.",
            "smithy.api#jsonName": "reservationArn",
            "smithy.api#required": {}
          }
        },
        "ReservationName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name that you assigned to the reservation when you purchased the offering.",
            "smithy.api#jsonName": "reservationName",
            "smithy.api#required": {}
          }
        },
        "ReservationState": {
          "target": "com.amazonaws.mediaconnect#ReservationState",
          "traits": {
            "smithy.api#documentation": "The status of your reservation.",
            "smithy.api#jsonName": "reservationState",
            "smithy.api#required": {}
          }
        },
        "ResourceSpecification": {
          "target": "com.amazonaws.mediaconnect#ResourceSpecification",
          "traits": {
            "smithy.api#documentation": "A definition of the amount of outbound bandwidth that you would be reserving if you purchase the offering. MediaConnect defines the values that make up the resourceSpecification in the offering.",
            "smithy.api#jsonName": "resourceSpecification",
            "smithy.api#required": {}
          }
        },
        "Start": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The day and time that the reservation becomes active. You set this value when you purchase the offering.",
            "smithy.api#jsonName": "start",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A pricing agreement for a discounted rate for a specific outbound bandwidth that your MediaConnect account will use each month over a specific time period. The discounted rate in the reservation applies to outbound bandwidth for all flows from your account until your account reaches the amount of bandwidth in your reservation. If you use more outbound bandwidth than the agreed upon amount in a single month, the overage is charged at the on-demand rate."
      }
    },
    "com.amazonaws.mediaconnect#ReservationState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ACTIVE",
            "name": "ACTIVE"
          },
          {
            "value": "EXPIRED",
            "name": "EXPIRED"
          },
          {
            "value": "PROCESSING",
            "name": "PROCESSING"
          },
          {
            "value": "CANCELED",
            "name": "CANCELED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#ResourceSpecification": {
      "type": "structure",
      "members": {
        "ReservedBitrate": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#documentation": "The amount of outbound bandwidth that is discounted in the offering.",
            "smithy.api#jsonName": "reservedBitrate"
          }
        },
        "ResourceType": {
          "target": "com.amazonaws.mediaconnect#ResourceType",
          "traits": {
            "smithy.api#documentation": "The type of resource and the unit that is being billed for.",
            "smithy.api#jsonName": "resourceType",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A definition of what is being billed for, including the type and amount."
      }
    },
    "com.amazonaws.mediaconnect#ResourceType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "Mbps_Outbound_Bandwidth",
            "name": "Mbps_Outbound_Bandwidth"
          }
        ]
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlement": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlementRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#RevokeFlowEntitlementResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}/entitlements/{EntitlementArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlementRequest": {
      "type": "structure",
      "members": {
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that you want to revoke.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to revoke an entitlement from.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#RevokeFlowEntitlementResponse": {
      "type": "structure",
      "members": {
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement that was revoked.",
            "smithy.api#jsonName": "entitlementArn"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that the entitlement was revoked from.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ServiceUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 503
      }
    },
    "com.amazonaws.mediaconnect#SetSourceRequest": {
      "type": "structure",
      "members": {
        "Decryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that is used on the content ingested from this source.",
            "smithy.api#jsonName": "decryption"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
[...]
