{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
        "smithy.api#enum": [
          {
            "value": "BROADCASTER_MIXED_AD",
            "name": "BROADCASTER_MIXED_AD"
          },
          {
            "value": "NORMAL",
            "name": "NORMAL"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodecProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "AAC Profile.",
        "smithy.api#enum": [
          {
            "value": "LC",
            "name": "LC"
          },
          {
            "value": "HEV1",
            "name": "HEV1"
          },
          {
            "value": "HEV2",
            "name": "HEV2"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacCodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
        "smithy.api#enum": [
          {
            "value": "AD_RECEIVER_MIX",
            "name": "AD_RECEIVER_MIX"
          },
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_5_1",
            "name": "CODING_MODE_5_1"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRateControlMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Rate Control Mode.",
        "smithy.api#enum": [
          {
            "value": "CBR",
            "name": "CBR"
          },
          {
            "value": "VBR",
            "name": "VBR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacRawFormat": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
        "smithy.api#enum": [
          {
            "value": "LATM_LOAS",
            "name": "LATM_LOAS"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacSettings": {
      "type": "structure",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "target": "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix",
          "traits": {
            "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
            "smithy.api#jsonName": "audioDescriptionBroadcasterMix"
          }
        },
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin6000Max1024000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "CodecProfile": {
          "target": "com.amazonaws.mediaconvert#AacCodecProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "codecProfile"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "RawFormat": {
          "target": "com.amazonaws.mediaconvert#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max96000",
          "traits": {
            "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Specification": {
          "target": "com.amazonaws.mediaconvert#AacSpecification",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "specification"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.mediaconvert#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode."
      }
    },
    "com.amazonaws.mediaconvert#AacSpecification": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
        "smithy.api#enum": [
          {
            "value": "MPEG2",
            "name": "MPEG2"
          },
          {
            "value": "MPEG4",
            "name": "MPEG4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AacVbrQuality": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
        "smithy.api#enum": [
          {
            "value": "LOW",
            "name": "LOW"
          },
          {
            "value": "MEDIUM_LOW",
            "name": "MEDIUM_LOW"
          },
          {
            "value": "MEDIUM_HIGH",
            "name": "MEDIUM_HIGH"
          },
          {
            "value": "HIGH",
            "name": "HIGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3BitstreamMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
        "smithy.api#enum": [
          {
            "value": "COMPLETE_MAIN",
            "name": "COMPLETE_MAIN"
          },
          {
            "value": "COMMENTARY",
            "name": "COMMENTARY"
          },
          {
            "value": "DIALOGUE",
            "name": "DIALOGUE"
          },
          {
            "value": "EMERGENCY",
            "name": "EMERGENCY"
          },
          {
            "value": "HEARING_IMPAIRED",
            "name": "HEARING_IMPAIRED"
          },
          {
            "value": "MUSIC_AND_EFFECTS",
            "name": "MUSIC_AND_EFFECTS"
          },
          {
            "value": "VISUALLY_IMPAIRED",
            "name": "VISUALLY_IMPAIRED"
          },
          {
            "value": "VOICE_OVER",
            "name": "VOICE_OVER"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3CodingMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
        "smithy.api#enum": [
          {
            "value": "CODING_MODE_1_0",
            "name": "CODING_MODE_1_0"
          },
          {
            "value": "CODING_MODE_1_1",
            "name": "CODING_MODE_1_1"
          },
          {
            "value": "CODING_MODE_2_0",
            "name": "CODING_MODE_2_0"
          },
          {
            "value": "CODING_MODE_3_2_LFE",
            "name": "CODING_MODE_3_2_LFE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
        "smithy.api#enum": [
          {
            "value": "FILM_STANDARD",
            "name": "FILM_STANDARD"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3LfeFilter": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3MetadataControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin64000Max640000",
          "traits": {
            "smithy.api#documentation": "Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.mediaconvert#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max31",
          "traits": {
            "smithy.api#documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        },
        "DynamicRangeCompressionProfile": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile",
          "traits": {
            "smithy.api#documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
            "smithy.api#jsonName": "dynamicRangeCompressionProfile"
          }
        },
        "LfeFilter": {
          "target": "com.amazonaws.mediaconvert#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.mediaconvert#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin48000Max48000",
          "traits": {
            "smithy.api#documentation": "This value is always 48000. It represents the sample rate in Hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationMode": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "PREFERRED",
            "name": "PREFERRED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediaconvert#AccelerationMode",
          "traits": {
            "smithy.api#documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
            "smithy.api#jsonName": "mode",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationStatus": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
        "smithy.api#enum": [
          {
            "value": "NOT_APPLICABLE",
            "name": "NOT_APPLICABLE"
          },
          {
            "value": "IN_PROGRESS",
            "name": "IN_PROGRESS"
          },
          {
            "value": "ACCELERATED",
            "name": "ACCELERATED"
          },
          {
            "value": "NOT_ACCELERATED",
            "name": "NOT_ACCELERATED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AfdSignaling": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "AUTO",
            "name": "AUTO"
          },
          {
            "value": "FIXED",
            "name": "FIXED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AiffSettings": {
      "type": "structure",
      "members": {
        "BitDepth": {
          "target": "com.amazonaws.mediaconvert#__integerMin16Max24",
          "traits": {
            "smithy.api#documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
            "smithy.api#jsonName": "bitDepth"
          }
        },
        "Channels": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max64",
          "traits": {
            "smithy.api#documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
            "smithy.api#jsonName": "channels"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max192000",
          "traits": {
            "smithy.api#documentation": "Sample rate in hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF."
      }
    },
    "com.amazonaws.mediaconvert#AlphaBehavior": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
        "smithy.api#enum": [
          {
            "value": "DISCARD",
            "name": "DISCARD"
          },
          {
            "value": "REMAP_TO_LUMA",
            "name": "REMAP_TO_LUMA"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillaryConvert608To708": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
        "smithy.api#enum": [
          {
            "value": "UPCONVERT",
            "name": "UPCONVERT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "target": "com.amazonaws.mediaconvert#AncillaryConvert608To708",
          "traits": {
            "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
            "smithy.api#jsonName": "convert608To708"
          }
        },
        "SourceAncillaryChannelNumber": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max4",
          "traits": {
            "smithy.api#documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
            "smithy.api#jsonName": "sourceAncillaryChannelNumber"
          }
        },
        "TerminateCaptions": {
          "target": "com.amazonaws.mediaconvert#AncillaryTerminateCaptions",
          "traits": {
            "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
            "smithy.api#jsonName": "terminateCaptions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for ancillary captions source."
      }
    },
    "com.amazonaws.mediaconvert#AncillaryTerminateCaptions": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
        "smithy.api#enum": [
          {
            "value": "END_OF_INPUT",
            "name": "END_OF_INPUT"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AntiAlias": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2017-08-29/certificates",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#AudioCodec": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Type of Audio codec.",
        "smithy.api#enum": [
          {
            "value": "AAC",
            "name": "AAC"
          },
          {
            "value": "MP2",
            "name": "MP2"
          },
          {
            "value": "MP3",
            "name": "MP3"
          },
          {
            "value": "WAV",
            "name": "WAV"
          },
          {
            "value": "AIFF",
            "name": "AIFF"
          },
          {
            "value": "AC3",
            "name": "AC3"
          },
          {
            "value": "EAC3",
            "name": "EAC3"
          },
          {
            "value": "EAC3_ATMOS",
            "name": "EAC3_ATMOS"
          },
          {
            "value": "PASSTHROUGH",
            "name": "PASSTHROUGH"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "target": "com.amazonaws.mediaconvert#AacSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.mediaconvert#Ac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "AiffSettings": {
          "target": "com.amazonaws.mediaconvert#AiffSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
            "smithy.api#jsonName": "aiffSettings"
          }
        },
        "Codec": {
          "target": "com.amazonaws.mediaconvert#AudioCodec",
          "traits": {
            "smithy.api#documentation": "Type of Audio codec.",
            "smithy.api#jsonName": "codec"
          }
        },
        "Eac3AtmosSettings": {
          "target": "com.amazonaws.mediaconvert#Eac3AtmosSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
            "smithy.api#jsonName": "eac3AtmosSettings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.mediaconvert#Eac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.mediaconvert#Mp2Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "Mp3Settings": {
          "target": "com.amazonaws.mediaconvert#Mp3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
            "smithy.api#jsonName": "mp3Settings"
          }
        },
        "WavSettings": {
          "target": "com.amazonaws.mediaconvert#WavSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
            "smithy.api#jsonName": "wavSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings"
      }
    },
    "com.amazonaws.mediaconvert#AudioDefaultSelection": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
        "smithy.api#enum": [
          {
            "value": "DEFAULT",
            "name": "DEFAULT"
          },
          {
            "value": "NOT_DEFAULT",
            "name": "NOT_DEFAULT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "AudioSourceName": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
            "smithy.api#jsonName": "audioSourceName"
          }
        },
        "AudioType": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.mediaconvert#AudioTypeControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "CodecSettings": {
          "target": "com.amazonaws.mediaconvert#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.mediaconvert#AudioLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio remixing settings.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.mediaconvert#__stringPatternWS",
          "traits": {
            "smithy.api#documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of audio output"
      }
    },
    "com.amazonaws.mediaconvert#AudioLanguageCodeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
        "smithy.api#enum": [
          {
            "value": "ITU_BS_1770_1",
            "name": "ITU_BS_1770_1"
          },
          {
            "value": "ITU_BS_1770_2",
            "name": "ITU_BS_1770_2"
          },
          {
            "value": "ITU_BS_1770_3",
            "name": "ITU_BS_1770_3"
          },
          {
            "value": "ITU_BS_1770_4",
            "name": "ITU_BS_1770_4"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
        "smithy.api#enum": [
          {
            "value": "CORRECT_AUDIO",
            "name": "CORRECT_AUDIO"
          },
          {
            "value": "MEASURE_ONLY",
            "name": "MEASURE_ONLY"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
        "smithy.api#enum": [
          {
            "value": "LOG",
            "name": "LOG"
          },
          {
            "value": "DONT_LOG",
            "name": "DONT_LOG"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
        "smithy.api#enum": [
          {
            "value": "TRUE_PEAK",
            "name": "TRUE_PEAK"
          },
          {
            "value": "NONE",
            "name": "NONE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "CorrectionGateLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative70Max0",
          "traits": {
            "smithy.api#documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected. Gating only applies when not using real_time_correction.",
            "smithy.api#jsonName": "correctionGateLevel"
          }
        },
        "LoudnessLogging": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging",
          "traits": {
            "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
            "smithy.api#jsonName": "loudnessLogging"
          }
        },
        "PeakCalculation": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation",
          "traits": {
            "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
            "smithy.api#jsonName": "peakCalculation"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.mediaconvert#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelector": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DefaultSelection": {
          "target": "com.amazonaws.mediaconvert#AudioDefaultSelection",
          "traits": {
            "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
            "smithy.api#jsonName": "defaultSelection"
          }
        },
        "ExternalAudioFileInput": {
          "target": "com.amazonaws.mediaconvert#__stringPatternHttpHttpsS3MM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE",
          "traits": {
            "smithy.api#documentation": "Specifies audio data from an external file source.",
            "smithy.api#jsonName": "externalAudioFileInput"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Offset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
            "smithy.api#jsonName": "offset"
          }
        },
        "Pids": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
            "smithy.api#jsonName": "pids"
          }
        },
        "ProgramSelection": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max8",
          "traits": {
            "smithy.api#documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
            "smithy.api#jsonName": "programSelection"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "SelectorType": {
          "target": "com.amazonaws.mediaconvert#AudioSelectorType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the audio selector.",
            "smithy.api#jsonName": "selectorType"
          }
        },
        "Tracks": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
            "smithy.api#jsonName": "tracks"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Selector for Audio"
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorGroup": {
      "type": "structure",
      "members": {
        "AudioSelectorNames": {
          "target": "com.amazonaws.mediaconvert#__listOf__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
            "smithy.api#jsonName": "audioSelectorNames"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Group of Audio Selectors"
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the type of the audio selector.",
        "smithy.api#enum": [
          {
            "value": "PID",
            "name": "PID"
          },
          {
            "value": "TRACK",
            "name": "TRACK"
          },
          {
            "value": "LANGUAGE_CODE",
            "name": "LANGUAGE_CODE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AudioTypeControl": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
        "smithy.api#enum": [
          {
            "value": "FOLLOW_INPUT",
            "name": "FOLLOW_INPUT"
          },
          {
            "value": "USE_CONFIGURED",
            "name": "USE_CONFIGURED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "target": "com.amazonaws.mediaconvert#__stringMin14PatternHttpHttpsS3BmpBMPPngPNG",
          "traits": {
            "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "availBlankingImage"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for Avail Blanking"
      }
    },
    "com.amazonaws.mediaconvert#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediaconvert#BillingTagsSource": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don't have an associated tag will appear in your billing report unsorted. If you don't choose a valid value for this field, your job outputs will appear on the billing report unsorted.",
        "smithy.api#enum": [
          {
            "value": "QUEUE",
            "name": "QUEUE"
          },
          {
            "value": "PRESET",
            "name": "PRESET"
          },
          {
            "value": "JOB_TEMPLATE",
            "name": "JOB_TEMPLATE"
          },
          {
            "value": "JOB",
            "name": "JOB"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleAlignment",
          "traits": {
            "smithy.api#documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "alignment"
          }
        },
        "BackgroundColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleBackgroundColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundColor"
          }
        },
        "BackgroundOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundOpacity"
          }
        },
        "FontColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleFontColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontColor"
          }
        },
        "FontOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontOpacity"
          }
        },
        "FontResolution": {
          "target": "com.amazonaws.mediaconvert#__integerMin96Max600",
          "traits": {
            "smithy.api#documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontResolution"
          }
        },
        "FontScript": {
          "target": "com.amazonaws.mediaconvert#FontScript",
          "traits": {
            "smithy.api#documentation": "Provide the font script, using an ISO 15924 script code, if the LanguageCode is not sufficient for determining the script type. Where LanguageCode or CustomLanguageCode is sufficient, use \"AUTOMATIC\" or leave unset. This is used to help determine the appropriate font for rendering burn-in captions.",
            "smithy.api#jsonName": "fontScript"
          }
        },
        "FontSize": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max96",
          "traits": {
            "smithy.api#documentation": "A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontSize"
          }
        },
        "OutlineColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleOutlineColor",
          "traits": {
            "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineColor"
          }
        },
        "OutlineSize": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max10",
          "traits": {
            "smithy.api#documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineSize"
          }
        },
        "ShadowColor": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleShadowColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowColor"
          }
        },
        "ShadowOpacity": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowOpacity"
          }
        },
        "ShadowXOffset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowXOffset"
          }
        },
        "ShadowYOffset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowYOffset"
          }
        },
        "TeletextSpacing": {
          "target": "com.amazonaws.mediaconvert#BurninSubtitleTeletextSpacing",
          "traits": {
            "smithy.api#documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
            "smithy.api#jsonName": "teletextSpacing"
          }
        },
        "XPosition": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "xPosition"
          }
        },
        "YPosition": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "yPosition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn-In Destination Settings."
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleAlignment": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "CENTERED",
            "name": "CENTERED"
          },
          {
            "value": "LEFT",
            "name": "LEFT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleBackgroundColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleFontColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleOutlineColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          },
          {
            "value": "YELLOW",
            "name": "YELLOW"
          },
          {
            "value": "RED",
            "name": "RED"
          },
          {
            "value": "GREEN",
            "name": "GREEN"
          },
          {
            "value": "BLUE",
            "name": "BLUE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleShadowColor": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "BLACK",
            "name": "BLACK"
          },
          {
            "value": "WHITE",
            "name": "WHITE"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#BurninSubtitleTeletextSpacing": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
        "smithy.api#enum": [
          {
            "value": "FIXED_GRID",
            "name": "FIXED_GRID"
          },
          {
            "value": "PROPORTIONAL",
            "name": "PROPORTIONAL"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CancelJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#CancelJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#CancelJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Permanently cancel a job. Once you have canceled a job, you can't start it again.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/2017-08-29/jobs/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconvert#CancelJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The Job ID of the job to be cancelled.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#CancelJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#CaptionDescription": {
      "type": "structure",
      "members": {
        "CaptionSelectorName": {
          "target": "com.amazonaws.mediaconvert#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specifies which \"Caption Selector\":#inputs-caption_selector to use from each input when generating captions. The name should be of the format \"Caption Selector <N>\", which denotes that the Nth Caption Selector will be used from each input.",
            "smithy.api#jsonName": "captionSelectorName"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information when automatically selecting the font script for rendering the captions text. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Specify the language of this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information to choose the font language for rendering the captions text.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specify a label for this set of output captions. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "languageDescription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Description of Caption output"
      }
    },
    "com.amazonaws.mediaconvert#CaptionDescriptionPreset": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information when automatically selecting the font script for rendering the captions text. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Specify the language of this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information to choose the font language for rendering the captions text.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specify a label for this set of output captions. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "languageDescription"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Description for preset"
      }
    },
    "com.amazonaws.mediaconvert#CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "BurninDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#BurninDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Burn-In Destination Settings.",
            "smithy.api#jsonName": "burninDestinationSettings"
          }
        },
        "DestinationType": {
          "target": "com.amazonaws.mediaconvert#CaptionDestinationType",
          "traits": {
            "smithy.api#documentation": "Specify the format for this set of captions on this output. The default format is embedded without SCTE-20. Other options are embedded with SCTE-20, burn-in, DVB-sub, IMSC, SCC, SRT, teletext, TTML, and web-VTT. If you are using SCTE-20, choose SCTE-20 plus embedded (SCTE20_PLUS_EMBEDDED) to create an output that complies with the SCTE-43 spec. To create a non-compliant output where the embedded captions come first, choose Embedded plus SCTE-20 (EMBEDDED_PLUS_SCTE20).",
            "smithy.api#jsonName": "destinationType"
          }
        },
        "DvbSubDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#DvbSubDestinationSettings",
          "traits": {
            "smithy.api#documentation": "DVB-Sub Destination Settings",
            "smithy.api#jsonName": "dvbSubDestinationSettings"
          }
        },
        "EmbeddedDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#EmbeddedDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to embedded/ancillary caption outputs, including 608/708 Channel destination number.",
            "smithy.api#jsonName": "embeddedDestinationSettings"
          }
        },
        "ImscDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#ImscDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to IMSC caption outputs.",
            "smithy.api#jsonName": "imscDestinationSettings"
          }
        },
        "SccDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#SccDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings for SCC caption output.",
            "smithy.api#jsonName": "sccDestinationSettings"
          }
        },
        "TeletextDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#TeletextDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings for Teletext caption output",
            "smithy.api#jsonName": "teletextDestinationSettings"
          }
        },
        "TtmlDestinationSettings": {
          "target": "com.amazonaws.mediaconvert#TtmlDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to TTML caption outputs, including Pass style information (TtmlStylePassthrough).",
            "smithy.api#jsonName": "ttmlDestinationSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext."
      }
    },
    "com.amazonaws.mediaconvert#CaptionDestinationType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the format for this set of captions on this output. The default format is embedded without SCTE-20. Other options are embedded with SCTE-20, burn-in, DVB-sub, IMSC, SCC, SRT, teletext, TTML, and web-VTT. If you are using SCTE-20, choose SCTE-20 plus embedded (SCTE20_PLUS_EMBEDDED) to create an output that complies with the SCTE-43 spec. To create a non-compliant output where the embedded captions come first, choose Embedded plus SCTE-20 (EMBEDDED_PLUS_SCTE20).",
        "smithy.api#enum": [
          {
            "value": "BURN_IN",
            "name": "BURN_IN"
          },
          {
            "value": "DVB_SUB",
            "name": "DVB_SUB"
          },
          {
            "value": "EMBEDDED",
            "name": "EMBEDDED"
          },
          {
            "value": "EMBEDDED_PLUS_SCTE20",
            "name": "EMBEDDED_PLUS_SCTE20"
          },
          {
            "value": "IMSC",
            "name": "IMSC"
          },
          {
            "value": "SCTE20_PLUS_EMBEDDED",
            "name": "SCTE20_PLUS_EMBEDDED"
          },
          {
            "value": "SCC",
            "name": "SCC"
          },
          {
            "value": "SRT",
            "name": "SRT"
          },
          {
            "value": "SMI",
            "name": "SMI"
          },
          {
            "value": "TELETEXT",
            "name": "TELETEXT"
          },
          {
            "value": "TTML",
            "name": "TTML"
          },
          {
            "value": "WEBVTT",
            "name": "WEBVTT"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CaptionSelector": {
      "type": "structure",
      "members": {
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "The specific language to extract from source, using the ISO 639-2 or ISO 639-3 three-letter language code. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "The specific language to extract from source. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "SourceSettings": {
          "target": "com.amazonaws.mediaconvert#CaptionSourceSettings",
          "traits": {
            "smithy.api#documentation": "If your input captions are SCC, TTML, STL, SMI, SRT, or IMSC in an xml file, specify the URI of the input captions source file. If your input captions are IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings.",
            "smithy.api#jsonName": "sourceSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Set up captions in your outputs by first selecting them from your input here."
      }
    },
    "com.amazonaws.mediaconvert#CaptionSourceSettings": {
      "type": "structure",
      "members": {
        "AncillarySourceSettings": {
          "target": "com.amazonaws.mediaconvert#AncillarySourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings for ancillary captions source.",
            "smithy.api#jsonName": "ancillarySourceSettings"
          }
        },
        "DvbSubSourceSettings": {
          "target": "com.amazonaws.mediaconvert#DvbSubSourceSettings",
          "traits": {
            "smithy.api#documentation": "DVB Sub Source Settings",
            "smithy.api#jsonName": "dvbSubSourceSettings"
          }
        },
        "EmbeddedSourceSettings": {
          "target": "com.amazonaws.mediaconvert#EmbeddedSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings for embedded captions Source",
            "smithy.api#jsonName": "embeddedSourceSettings"
          }
        },
        "FileSourceSettings": {
          "target": "com.amazonaws.mediaconvert#FileSourceSettings",
          "traits": {
            "smithy.api#documentation": "If your input captions are SCC, SMI, SRT, STL, TTML, or IMSC 1.1 in an xml file, specify the URI of the input caption source file. If your caption source is IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings.",
            "smithy.api#jsonName": "fileSourceSettings"
          }
        },
        "SourceType": {
          "target": "com.amazonaws.mediaconvert#CaptionSourceType",
          "traits": {
            "smithy.api#documentation": "Use Source (SourceType) to identify the format of your input captions.  The service cannot auto-detect caption format.",
            "smithy.api#jsonName": "sourceType"
          }
        },
        "TeletextSourceSettings": {
          "target": "com.amazonaws.mediaconvert#TeletextSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to Teletext caption sources, including Page number.",
            "smithy.api#jsonName": "teletextSourceSettings"
          }
        },
        "TrackSourceSettings": {
          "target": "com.amazonaws.mediaconvert#TrackSourceSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to caption sources that are specified by track number. Currently, this is only IMSC captions in an IMF package. If your caption source is IMSC 1.1 in a separate xml file, use FileSourceSettings instead of TrackSourceSettings.",
            "smithy.api#jsonName": "trackSourceSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If your input captions are SCC, TTML, STL, SMI, SRT, or IMSC in an xml file, specify the URI of the input captions source file. If your input captions are IMSC in an IMF package, use TrackSourceSettings instead of FileSoureSettings."
      }
    },
    "com.amazonaws.mediaconvert#CaptionSourceType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Use Source (SourceType) to identify the format of your input captions.  The service cannot auto-detect caption format.",
        "smithy.api#enum": [
          {
            "value": "ANCILLARY",
            "name": "ANCILLARY"
          },
          {
            "value": "DVB_SUB",
            "name": "DVB_SUB"
          },
          {
            "value": "EMBEDDED",
            "name": "EMBEDDED"
          },
          {
            "value": "SCTE20",
            "name": "SCTE20"
          },
          {
            "value": "SCC",
            "name": "SCC"
          },
          {
            "value": "TTML",
            "name": "TTML"
          },
          {
            "value": "STL",
            "name": "STL"
          },
          {
            "value": "SRT",
            "name": "SRT"
          },
          {
            "value": "SMI",
            "name": "SMI"
          },
          {
            "value": "TELETEXT",
            "name": "TELETEXT"
          },
          {
            "value": "NULL_SOURCE",
            "name": "NULL_SOURCE"
          },
          {
            "value": "IMSC",
            "name": "IMSC"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#ChannelMapping": {
      "type": "structure",
      "members": {
        "OutputChannels": {
          "target": "com.amazonaws.mediaconvert#__listOfOutputChannelMapping",
          "traits": {
            "smithy.api#documentation": "List of output channels",
            "smithy.api#jsonName": "outputChannels"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Channel mapping (ChannelMapping) contains the group of fields that hold the remixing value for each channel. Units are in dB. Acceptable values are within the range from -60 (mute) through 6. A setting of 0 passes the input channel unchanged to the output channel (no attenuation or amplification)."
      }
    },
    "com.amazonaws.mediaconvert#CmafAdditionalManifest": {
      "type": "structure",
      "members": {
        "ManifestNameModifier": {
          "target": "com.amazonaws.mediaconvert#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specify a name modifier that the service adds to the name of this manifest to make it different from the file names of the other main manifests in the output group. For example, say that the default main manifest for your HLS group is film-name.m3u8. If you enter \"-no-premium\" for this setting, then the file name the service generates for this top-level manifest is film-name-no-premium.m3u8. For HLS output groups, specify a manifestNameModifier that is different from the nameModifier of the output. The service uses the output name modifier to create unique names for the individual variant manifests.",
            "smithy.api#jsonName": "manifestNameModifier"
          }
        },
        "SelectedOutputs": {
          "target": "com.amazonaws.mediaconvert#__listOf__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specify the outputs that you want this additional top-level manifest to reference.",
            "smithy.api#jsonName": "selectedOutputs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify the details for each pair of HLS and DASH additional manifests that you want the service to generate for this CMAF output group. Each pair of manifests can reference a different subset of outputs in the group."
      }
    },
    "com.amazonaws.mediaconvert#CmafClientCache": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "When set to ENABLED, sets #EXT-X-ALLOW-CACHE:no tag, which prevents client from saving media segments for later replay.",
        "smithy.api#enum": [
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "ENABLED",
            "name": "ENABLED"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CmafCodecSpecification": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specification to use (RFC-6381 or the default RFC-4281) during m3u8 playlist generation.",
        "smithy.api#enum": [
          {
            "value": "RFC_6381",
            "name": "RFC_6381"
          },
          {
            "value": "RFC_4281",
            "name": "RFC_4281"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CmafEncryptionSettings": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediaconvert#__stringMin32Max32Pattern09aFAF32",
          "traits": {
            "smithy.api#documentation": "This is a 128-bit, 16-byte hex value represented by a 32-character text string. If this parameter is not set then the Initialization Vector will follow the segment number by default.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "EncryptionMethod": {
          "target": "com.amazonaws.mediaconvert#CmafEncryptionType",
          "traits": {
            "smithy.api#documentation": "Specify the encryption scheme that you want the service to use when encrypting your CMAF segments. Choose AES-CBC subsample (SAMPLE-AES) or AES_CTR (AES-CTR).",
            "smithy.api#jsonName": "encryptionMethod"
          }
        },
        "InitializationVectorInManifest": {
          "target": "com.amazonaws.mediaconvert#CmafInitializationVectorInManifest",
          "traits": {
            "smithy.api#documentation": "When you use DRM with CMAF outputs, choose whether the service writes the 128-bit encryption initialization vector in the HLS and DASH manifests.",
            "smithy.api#jsonName": "initializationVectorInManifest"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediaconvert#SpekeKeyProviderCmaf",
          "traits": {
            "smithy.api#documentation": "If your output group type is CMAF, use these settings when doing DRM encryption with a SPEKE-compliant key provider. If your output group type is HLS, DASH, or Microsoft Smooth, use the SpekeKeyProvider settings instead.",
            "smithy.api#jsonName": "spekeKeyProvider"
          }
        },
        "StaticKeyProvider": {
          "target": "com.amazonaws.mediaconvert#StaticKeyProvider",
          "traits": {
            "smithy.api#documentation": "Use these settings to set up encryption with a static key provider.",
            "smithy.api#jsonName": "staticKeyProvider"
          }
        },
        "Type": {
          "target": "com.amazonaws.mediaconvert#CmafKeyProviderType",
          "traits": {
            "smithy.api#documentation": "Specify whether your DRM encryption key is static or from a key provider that follows the SPEKE standard. For more information about SPEKE, see https://docs.aws.amazon.com/speke/latest/documentation/what-is-speke.html.",
            "smithy.api#jsonName": "type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for CMAF encryption"
      }
    },
    "com.amazonaws.mediaconvert#CmafEncryptionType": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "Specify the encryption scheme that you want the service to use when encrypting your CMAF segments. Choose AES-CBC subsample (SAMPLE-AES) or AES_CTR (AES-CTR).",
        "smithy.api#enum": [
          {
            "value": "SAMPLE_AES",
            "name": "SAMPLE_AES"
          },
          {
            "value": "AES_CTR",
            "name": "AES_CTR"
          }
        ]
      }
    },
    "com.amazonaws.mediaconvert#CmafGroupSettings": {
      "type": "structure",
      "members": {
        "AdditionalManifests": {
          "target": "com.amazonaws.mediaconvert#__listOfCmafAdditionalManifest",
          "traits": {
            "smithy.api#documentation": "By default, the service creates one top-level .m3u8 HLS manifest and one top -level .mpd DASH manifest for each CMAF output group in your job. These default manifests reference every output in the output group. To create additional top-level manifests that reference a subset of the outputs in the output group, specify a list of them here. For each additional manifest that you specify, the service creates one HLS manifest and one DASH manifest.",
            "smithy.api#jsonName": "additionalManifests"
          }
        },
        "BaseUrl": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "A partial URI prefix that will be put in the manifest file at the top level BaseURL element. Can be used if streams are delivered from a different URL than the manifest file.",
            "smithy.api#jsonName": "baseUrl"
          }
        },
        "ClientCache": {
          "target": "com.amazonaws.mediaconvert#CmafClientCache",
          "traits": {
            "smithy.api#documentation": "When set to ENABLED, sets #EXT-X-ALLOW-CACHE:no tag, which prevents client from saving media segments for later replay.",
            "smithy.api#jsonName": "clientCache"
          }
        },
        "CodecSpecification": {
          "target": "com.amazonaws.mediaconvert#CmafCodecSpecification",
          "traits": {
            "smithy.api#documentation": "Specification to use (RFC-6381 or the default RFC-4281) during m3u8 playlist generation.",
            "smithy.api#jsonName": "codecSpecification"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconvert#__stringPatternS3",
          "traits": {
            "smithy.api#documentation": "Use Destination (Destination) to specify the S3 output location and the output filename base. Destination accepts format identifiers. If you do not specify the base filename in the URI, the service will use the filename of the input file. If your job has multiple inputs, the service uses the filename of the first input file.",
            "smithy.api#jsonName": "destination"
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.mediaconvert#DestinationSettings",
          "traits": {
            "smithy.api#documentation": "Settings associated with the destination. Will vary based on the type of destination",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconvert#CmafEncryptionSettings",
          "traits": {
            "smithy.api#documentation": "DRM settings.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "FragmentLength": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Length of fragments to generate (in seconds). Fragment length must be compatible with GOP size and Framerate. Note that fragments will end on the next keyframe after this number of seconds, so actual fragment length may be longer. When Emit Single File is checked, the fragmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.",
            "smithy.api#jsonName": "fragmentLength"
          }
        },
        "ManifestCompression": {
          "target": "com.amazonaws.mediaconvert#CmafManifestCompression",
          "traits": {
            "smithy.api#documentation": "When set to GZIP, compresses HLS playlist.",
            "smithy.api#jsonName": "manifestCompression"
          }
        },
        "ManifestDurationFormat": {
          "target": "com.amazonaws.mediaconvert#CmafManifestDurationFormat",
          "traits": {
            "smithy.api#documentation": "Indicates whether the output manifest should use floating point values for segment duration.",
            "smithy.api#jsonName": "manifestDurationFormat"
          }
        },
        "MinBufferTime": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Minimum time of initially buffered media that is needed to ensure smooth playout.",
            "smithy.api#jsonName": "minBufferTime"
          }
        },
        "MinFinalSegmentLength": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0Max2147483647",
          "traits": {
            "smithy.api#documentation": "Keep this setting at the default value of 0, unless you are troubleshooting a problem with how devices play back the end of your video asset. If you know that player devices are hanging on the final segment of your video because the length of your final segment is too short, use this setting to specify a minimum final segment length, in seconds. Choose a value that is greater than or equal to 1 and less than your segment length. When you specify a value for this setting, the encoder will combine any final segment that is shorter than the length that you specify with the previous segment. For example, your segment length is 3 seconds and your final segment is .5 seconds without a minimum final segment length; when you set the minimum final segment length to 1, your final segment is 3.5 seconds.",
            "smithy.api#jsonName": "minFinalSegmentLength"
          }
        },
        "MpdProfile": {
          "target": "com.amazonaws.mediaconvert#CmafMpdProfile",
          "traits": {
            "smithy.api#documentation": "Specify whether your DASH profile is on-demand or main. When you choose Main profile (MAIN_PROFILE), the service signals  urn:mpeg:dash:profile:isoff-main:2011 in your .mpd DASH manifest. When you choose On-demand (ON_DEMAND_PROFILE), the service signals urn:mpeg:dash:profile:isoff-on-demand:2011 in your .mpd. When you choose On-demand, you must also set the output group setting Segment control (SegmentControl) to Single file (SINGLE_FILE).",
            "smithy.api#jsonName": "mpdProfile"
          }
        },
        "SegmentControl": {
          "target": "com.amazonaws.mediaconvert#CmafSegmentControl",
[...]
