{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediapackagevod#AdMarkers": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "SCTE35_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCTE35_ENHANCED"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSTHROUGH"
          }
        }
      }
    },
    "com.amazonaws.mediapackagevod#AssetShallow": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the Asset.",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the Asset was initially submitted for Ingest.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the Asset.",
            "smithy.api#jsonName": "id"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup for the Asset.",
            "smithy.api#jsonName": "packagingGroupId"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The resource ID to include in SPEKE key requests.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the source object in S3.",
            "smithy.api#jsonName": "sourceArn"
          }
        },
        "SourceRoleArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The IAM role ARN used to access the source S3 bucket.",
            "smithy.api#jsonName": "sourceRoleArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A MediaPackage VOD Asset resource."
      }
    },
    "com.amazonaws.mediapackagevod#Authorization": {
      "type": "structure",
      "members": {
        "CdnIdentifierSecret": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the secret in AWS Secrets Manager that is used for CDN authorization.",
            "smithy.api#jsonName": "cdnIdentifierSecret",
            "smithy.api#required": {}
          }
        },
        "SecretsRoleArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the IAM role that allows MediaPackage to communicate with AWS Secrets Manager.",
            "smithy.api#jsonName": "secretsRoleArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CDN Authorization credentials"
      }
    },
    "com.amazonaws.mediapackagevod#CmafEncryption": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "An optional 128-bit, 16-byte hex value represented by a 32-character string, used in conjunction with the key for encrypting blocks. If you don't specify a value, then MediaPackage creates the constant initialization vector (IV).",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackagevod#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CMAF encryption configuration."
      }
    },
    "com.amazonaws.mediapackagevod#CmafPackage": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.mediapackagevod#CmafEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackagevod#__listOfHlsManifest",
          "traits": {
            "smithy.api#documentation": "A list of HLS manifest configurations.",
            "smithy.api#jsonName": "hlsManifests",
            "smithy.api#required": {}
          }
        },
        "IncludeEncoderConfigurationInSegments": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When includeEncoderConfigurationInSegments is set to true, MediaPackage places your encoder's Sequence Parameter Set (SPS), Picture Parameter Set (PPS), and Video Parameter Set (VPS) metadata in every video segment instead of in the init fragment. This lets you use different SPS/PPS/VPS settings for your assets during content playback.",
            "smithy.api#jsonName": "includeEncoderConfigurationInSegments"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A CMAF packaging configuration."
      }
    },
    "com.amazonaws.mediapackagevod#ConfigureLogs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#ConfigureLogsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#ConfigureLogsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Changes the packaging group's properities to configure log subscription",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/packaging_groups/{Id}/configure_logs",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#ConfigureLogsRequest": {
      "type": "structure",
      "members": {
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackagevod#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a MediaPackage VOD PackagingGroup resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The option to configure log subscription.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#ConfigureLogsResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the PackagingGroup.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackagevod#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the PackagingGroup was created.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name for Assets in the PackagingGroup.",
            "smithy.api#jsonName": "domainName"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackagevod#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup.",
            "smithy.api#jsonName": "id"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreateAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#CreateAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#CreateAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new MediaPackage VOD Asset resource.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/assets",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#CreateAssetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the Asset.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup for the Asset.",
            "smithy.api#jsonName": "packagingGroupId",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The resource ID to include in SPEKE key requests.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the source object in S3.",
            "smithy.api#jsonName": "sourceArn",
            "smithy.api#required": {}
          }
        },
        "SourceRoleArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The IAM role ARN used to access the source S3 bucket.",
            "smithy.api#jsonName": "sourceRoleArn",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new MediaPackage VOD Asset configuration.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreateAssetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the Asset.",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the Asset was initially submitted for Ingest.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "EgressEndpoints": {
          "target": "com.amazonaws.mediapackagevod#__listOfEgressEndpoint",
          "traits": {
            "smithy.api#documentation": "The list of egress endpoints available for the Asset.",
            "smithy.api#jsonName": "egressEndpoints"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the Asset.",
            "smithy.api#jsonName": "id"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup for the Asset.",
            "smithy.api#jsonName": "packagingGroupId"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The resource ID to include in SPEKE key requests.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the source object in S3.",
            "smithy.api#jsonName": "sourceArn"
          }
        },
        "SourceRoleArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The IAM role_arn used to access the source S3 bucket.",
            "smithy.api#jsonName": "sourceRoleArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#CreatePackagingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#CreatePackagingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new MediaPackage VOD PackagingConfiguration resource.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/packaging_configurations",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingConfigurationRequest": {
      "type": "structure",
      "members": {
        "CmafPackage": {
          "target": "com.amazonaws.mediapackagevod#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackagevod#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackagevod#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingConfiguration.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackagevod#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a PackagingGroup.",
            "smithy.api#jsonName": "packagingGroupId",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new MediaPackage VOD PackagingConfiguration resource configuration.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the PackagingConfiguration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackagevod#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the PackagingConfiguration was created.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackagevod#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackagevod#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingConfiguration.",
            "smithy.api#jsonName": "id"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackagevod#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a PackagingGroup.",
            "smithy.api#jsonName": "packagingGroupId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#CreatePackagingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#CreatePackagingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new MediaPackage VOD PackagingGroup resource.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/packaging_groups",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingGroupRequest": {
      "type": "structure",
      "members": {
        "Authorization": {
          "target": "com.amazonaws.mediapackagevod#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackagevod#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new MediaPackage VOD PackagingGroup resource configuration.",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#CreatePackagingGroupResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the PackagingGroup.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackagevod#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the PackagingGroup was created.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name for Assets in the PackagingGroup.",
            "smithy.api#jsonName": "domainName"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackagevod#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup.",
            "smithy.api#jsonName": "id"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DashEncryption": {
      "type": "structure",
      "members": {
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackagevod#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration."
      }
    },
    "com.amazonaws.mediapackagevod#DashManifest": {
      "type": "structure",
      "members": {
        "ManifestLayout": {
          "target": "com.amazonaws.mediapackagevod#ManifestLayout",
          "traits": {
            "smithy.api#documentation": "Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.",
            "smithy.api#jsonName": "manifestLayout"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "An optional string to include in the name of the manifest.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "MinBufferTimeSeconds": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "Minimum duration (in seconds) that a player will buffer media before starting the presentation.",
            "smithy.api#jsonName": "minBufferTimeSeconds"
          }
        },
        "Profile": {
          "target": "com.amazonaws.mediapackagevod#Profile",
          "traits": {
            "smithy.api#documentation": "The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\", HbbTV 1.5 compliant output is enabled.",
            "smithy.api#jsonName": "profile"
          }
        },
        "ScteMarkersSource": {
          "target": "com.amazonaws.mediapackagevod#ScteMarkersSource",
          "traits": {
            "smithy.api#documentation": "The source of scte markers used. When set to SEGMENTS, the scte markers are sourced from the segments of the ingested content. When set to MANIFEST, the scte markers are sourced from the manifest of the ingested content.",
            "smithy.api#jsonName": "scteMarkersSource"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackagevod#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A DASH manifest configuration."
      }
    },
    "com.amazonaws.mediapackagevod#DashPackage": {
      "type": "structure",
      "members": {
        "DashManifests": {
          "target": "com.amazonaws.mediapackagevod#__listOfDashManifest",
          "traits": {
            "smithy.api#documentation": "A list of DASH manifest configurations.",
            "smithy.api#jsonName": "dashManifests",
            "smithy.api#required": {}
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediapackagevod#DashEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "IncludeEncoderConfigurationInSegments": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When includeEncoderConfigurationInSegments is set to true, MediaPackage places your encoder's Sequence Parameter Set (SPS), Picture Parameter Set (PPS), and Video Parameter Set (VPS) metadata in every video segment instead of in the init fragment. This lets you use different SPS/PPS/VPS settings for your assets during content playback.",
            "smithy.api#jsonName": "includeEncoderConfigurationInSegments"
          }
        },
        "IncludeIframeOnlyStream": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, an I-Frame only stream will be included in the output.",
            "smithy.api#jsonName": "includeIframeOnlyStream"
          }
        },
        "PeriodTriggers": {
          "target": "com.amazonaws.mediapackagevod#__listOf__PeriodTriggersElement",
          "traits": {
            "smithy.api#documentation": "A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not\nbe partitioned into more than one period. If the list contains \"ADS\", new periods will be created where\nthe Asset contains SCTE-35 ad markers.",
            "smithy.api#jsonName": "periodTriggers"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "SegmentTemplateFormat": {
          "target": "com.amazonaws.mediapackagevod#SegmentTemplateFormat",
          "traits": {
            "smithy.api#documentation": "Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.",
            "smithy.api#jsonName": "segmentTemplateFormat"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration."
      }
    },
    "com.amazonaws.mediapackagevod#DeleteAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DeleteAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DeleteAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing MediaPackage VOD Asset resource.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/assets/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediapackagevod#DeleteAssetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the MediaPackage VOD Asset resource to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DeleteAssetResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DeletePackagingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DeletePackagingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a MediaPackage VOD PackagingConfiguration resource.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/packaging_configurations/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingConfigurationRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the MediaPackage VOD PackagingConfiguration resource to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingConfigurationResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DeletePackagingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DeletePackagingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a MediaPackage VOD PackagingGroup resource.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/packaging_groups/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingGroupRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the MediaPackage VOD PackagingGroup resource to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DeletePackagingGroupResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribeAsset": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DescribeAssetRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DescribeAssetResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a description of a MediaPackage VOD Asset resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/assets/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#DescribeAssetRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of an MediaPackage VOD Asset resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribeAssetResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the Asset.",
            "smithy.api#jsonName": "arn"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the Asset was initially submitted for Ingest.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "EgressEndpoints": {
          "target": "com.amazonaws.mediapackagevod#__listOfEgressEndpoint",
          "traits": {
            "smithy.api#documentation": "The list of egress endpoints available for the Asset.",
            "smithy.api#jsonName": "egressEndpoints"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The unique identifier for the Asset.",
            "smithy.api#jsonName": "id"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup for the Asset.",
            "smithy.api#jsonName": "packagingGroupId"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The resource ID to include in SPEKE key requests.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "SourceArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the source object in S3.",
            "smithy.api#jsonName": "sourceArn"
          }
        },
        "SourceRoleArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The IAM role_arn used to access the source S3 bucket.",
            "smithy.api#jsonName": "sourceRoleArn"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DescribePackagingConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DescribePackagingConfigurationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a description of a MediaPackage VOD PackagingConfiguration resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packaging_configurations/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingConfigurationRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a MediaPackage VOD PackagingConfiguration resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingConfigurationResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the PackagingConfiguration.",
            "smithy.api#jsonName": "arn"
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackagevod#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the PackagingConfiguration was created.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackagevod#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackagevod#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingConfiguration.",
            "smithy.api#jsonName": "id"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackagevod#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a PackagingGroup.",
            "smithy.api#jsonName": "packagingGroupId"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#DescribePackagingGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#DescribePackagingGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a description of a MediaPackage VOD PackagingGroup resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packaging_groups/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingGroupRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a MediaPackage VOD PackagingGroup resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#DescribePackagingGroupResponse": {
      "type": "structure",
      "members": {
        "ApproximateAssetCount": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "The approximate asset count of the PackagingGroup.",
            "smithy.api#jsonName": "approximateAssetCount"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the PackagingGroup.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackagevod#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The time the PackagingGroup was created.",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The fully qualified domain name for Assets in the PackagingGroup.",
            "smithy.api#jsonName": "domainName"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackagevod#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingGroup.",
            "smithy.api#jsonName": "id"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#EgressAccessLogs": {
      "type": "structure",
      "members": {
        "LogGroupName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "Customize the log group name.",
            "smithy.api#jsonName": "logGroupName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure egress access logging."
      }
    },
    "com.amazonaws.mediapackagevod#EgressEndpoint": {
      "type": "structure",
      "members": {
        "PackagingConfigurationId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the PackagingConfiguration being applied to the Asset.",
            "smithy.api#jsonName": "packagingConfigurationId"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The current processing status of the asset used for the packaging configuration. The status can be either QUEUED, PROCESSING, PLAYABLE, or FAILED. Status information won't be available for most assets ingested before 2021-09-30.",
            "smithy.api#jsonName": "status"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the parent manifest for the repackaged Asset.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The endpoint URL used to access an Asset using one PackagingConfiguration."
      }
    },
    "com.amazonaws.mediapackagevod#EncryptionContractConfiguration": {
      "type": "structure",
      "members": {
        "PresetSpeke20Audio": {
          "target": "com.amazonaws.mediapackagevod#PresetSpeke20Audio",
          "traits": {
            "smithy.api#documentation": "A collection of audio encryption presets.",
            "smithy.api#jsonName": "presetSpeke20Audio",
            "smithy.api#required": {}
          }
        },
        "PresetSpeke20Video": {
          "target": "com.amazonaws.mediapackagevod#PresetSpeke20Video",
          "traits": {
            "smithy.api#documentation": "A collection of video encryption presets.",
            "smithy.api#jsonName": "presetSpeke20Video",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use encryptionContractConfiguration to configure one or more content encryption keys for your endpoints that use SPEKE 2.0. \nThe encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. \nTo configure the encryption contract, specify which audio and video encryption presets to use.\nNote the following considerations when using encryptionContractConfiguration:\nencryptionContractConfiguration can be used for DASH endpoints that use SPEKE 2.0. SPEKE 2.0 relies on the CPIX 2.3 specification.\nYou must disable key rotation for this endpoint by setting keyRotationIntervalSeconds to 0."
      }
    },
    "com.amazonaws.mediapackagevod#EncryptionMethod": {
      "type": "enum",
      "members": {
        "AES_128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AES_128"
          }
        },
        "SAMPLE_AES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SAMPLE_AES"
          }
        }
      }
    },
    "com.amazonaws.mediapackagevod#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The client is not authorized to access the requested resource.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediapackagevod#HlsEncryption": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A constant initialization vector for encryption (optional).\nWhen not specified the initialization vector will be periodically rotated.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "EncryptionMethod": {
          "target": "com.amazonaws.mediapackagevod#EncryptionMethod",
          "traits": {
            "smithy.api#documentation": "The encryption method to use.",
            "smithy.api#jsonName": "encryptionMethod"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackagevod#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) encryption configuration."
      }
    },
    "com.amazonaws.mediapackagevod#HlsManifest": {
      "type": "structure",
      "members": {
        "AdMarkers": {
          "target": "com.amazonaws.mediapackagevod#AdMarkers",
          "traits": {
            "smithy.api#documentation": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.",
            "smithy.api#jsonName": "adMarkers"
          }
        },
        "IncludeIframeOnlyStream": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, an I-Frame only stream will be included in the output.",
            "smithy.api#jsonName": "includeIframeOnlyStream"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "An optional string to include in the name of the manifest.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.",
            "smithy.api#jsonName": "programDateTimeIntervalSeconds"
          }
        },
        "RepeatExtXKey": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, the EXT-X-KEY tag will be repeated in output manifests.",
            "smithy.api#jsonName": "repeatExtXKey"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackagevod#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) manifest configuration."
      }
    },
    "com.amazonaws.mediapackagevod#HlsPackage": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.mediapackagevod#HlsEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackagevod#__listOfHlsManifest",
          "traits": {
            "smithy.api#documentation": "A list of HLS manifest configurations.",
            "smithy.api#jsonName": "hlsManifests",
            "smithy.api#required": {}
          }
        },
        "IncludeDvbSubtitles": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, MediaPackage passes through digital video broadcasting (DVB) subtitles into the output.",
            "smithy.api#jsonName": "includeDvbSubtitles"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackagevod#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "UseAudioRenditionGroup": {
          "target": "com.amazonaws.mediapackagevod#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, audio streams will be placed in rendition groups in the output.",
            "smithy.api#jsonName": "useAudioRenditionGroup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) packaging configuration."
      }
    },
    "com.amazonaws.mediapackagevod#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An unexpected error occurred.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mediapackagevod#ListAssets": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#ListAssetsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#ListAssetsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of MediaPackage VOD Asset resources.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/assets",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Assets",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackagevod#ListAssetsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediapackagevod#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "Returns Assets associated with the specified PackagingGroup.",
            "smithy.api#httpQuery": "packagingGroupId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListAssetsResponse": {
      "type": "structure",
      "members": {
        "Assets": {
          "target": "com.amazonaws.mediapackagevod#__listOfAssetShallow",
          "traits": {
            "smithy.api#documentation": "A list of MediaPackage VOD Asset resources.",
            "smithy.api#jsonName": "assets"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#ListPackagingConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#ListPackagingConfigurationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of MediaPackage VOD PackagingConfiguration resources.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packaging_configurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PackagingConfigurations",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediapackagevod#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "PackagingGroupId": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "Returns MediaPackage VOD PackagingConfigurations associated with the specified PackagingGroup.",
            "smithy.api#httpQuery": "packagingGroupId"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingConfigurationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "PackagingConfigurations": {
          "target": "com.amazonaws.mediapackagevod#__listOfPackagingConfiguration",
          "traits": {
            "smithy.api#documentation": "A list of MediaPackage VOD PackagingConfiguration resources.",
            "smithy.api#jsonName": "packagingConfigurations"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#ListPackagingGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#ListPackagingGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagevod#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of MediaPackage VOD PackagingGroup resources.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/packaging_groups",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "PackagingGroups",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingGroupsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediapackagevod#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListPackagingGroupsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "PackagingGroups": {
          "target": "com.amazonaws.mediapackagevod#__listOfPackagingGroup",
          "traits": {
            "smithy.api#documentation": "A list of MediaPackage VOD PackagingGroup resources.",
            "smithy.api#jsonName": "packagingGroups"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagevod#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagevod#ListTagsForResourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "Returns a list of the tags assigned to the specified resource.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackagevod#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediapackagevod#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the resource. You can get this from the response to any request to the resource.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagevod#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediapackagevod#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "A collection of tags associated with a resource",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagevod#ManifestLayout": {
      "type": "enum",
      "members": {
        "FULL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FULL"
          }
        },
        "COMPACT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPACT"
          }
        }
      }
    },
    "com.amazonaws.mediapackagevod#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.mediapackagevod#MediaPackageVod": {
      "type": "service",
      "version": "2018-11-07",
      "operations": [
        {
          "target": "com.amazonaws.mediapackagevod#ConfigureLogs"
        },
        {
          "target": "com.amazonaws.mediapackagevod#CreateAsset"
        },
        {
          "target": "com.amazonaws.mediapackagevod#CreatePackagingConfiguration"
        },
        {
          "target": "com.amazonaws.mediapackagevod#CreatePackagingGroup"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DeleteAsset"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DeletePackagingConfiguration"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DeletePackagingGroup"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DescribeAsset"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DescribePackagingConfiguration"
        },
        {
          "target": "com.amazonaws.mediapackagevod#DescribePackagingGroup"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ListAssets"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ListPackagingConfigurations"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ListPackagingGroups"
        },
        {
          "target": "com.amazonaws.mediapackagevod#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mediapackagevod#TagResource"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UntagResource"
        },
        {
          "target": "com.amazonaws.mediapackagevod#UpdatePackagingGroup"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MediaPackage Vod",
          "arnNamespace": "mediapackage-vod",
          "cloudFormationName": "MediaPackageVod",
          "cloudTrailEventSource": "mediapackagevod.amazonaws.com",
          "endpointPrefix": "mediapackage-vod"
        },
        "aws.auth#sigv4": {
          "name": "mediapackage-vod"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "AWS Elemental MediaPackage VOD",
        "smithy.api#title": "AWS Elemental MediaPackage VOD",
        "smithy.rules#endpointRuleSet": {
          "version": "1.0",
          "parameters": {
            "Region": {
              "builtIn": "AWS::Region",
              "required": false,
              "documentation": "The AWS region used to dispatch the request.",
              "type": "String"
            },
            "UseDualStack": {
              "builtIn": "AWS::UseDualStack",
              "required": true,
              "default": false,
              "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
              "type": "Boolean"
            },
            "UseFIPS": {
              "builtIn": "AWS::UseFIPS",
              "required": true,
              "default": false,
              "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
              "type": "Boolean"
            },
            "Endpoint": {
              "builtIn": "SDK::Endpoint",
              "required": false,
              "documentation": "Override the endpoint used to send this request",
              "type": "String"
            }
          },
          "rules": [
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Endpoint"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseFIPS"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [
                    {
                      "fn": "booleanEquals",
                      "argv": [
                        {
                          "ref": "UseDualStack"
                        },
                        true
                      ]
                    }
                  ],
                  "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                  "type": "error"
                },
                {
                  "conditions": [],
                  "endpoint": {
                    "url": {
                      "ref": "Endpoint"
                    },
                    "properties": {},
                    "headers": {}
                  },
                  "type": "endpoint"
                }
              ]
            },
            {
              "conditions": [
                {
                  "fn": "isSet",
                  "argv": [
                    {
                      "ref": "Region"
                    }
                  ]
                }
              ],
              "type": "tree",
              "rules": [
                {
                  "conditions": [
                    {
                      "fn": "aws.partition",
                      "argv": [
                        {
                          "ref": "Region"
                        }
                      ],
                      "assign": "PartitionResult"
                    }
                  ],
                  "type": "tree",
                  "rules": [
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        },
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            },
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://mediapackage-vod-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseFIPS"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsFIPS"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://mediapackage-vod-fips.{Region}.{PartitionResult#dnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "FIPS is enabled but this partition does not support FIPS",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [
                        {
                          "fn": "booleanEquals",
                          "argv": [
                            {
                              "ref": "UseDualStack"
                            },
                            true
                          ]
                        }
                      ],
                      "type": "tree",
                      "rules": [
                        {
                          "conditions": [
                            {
                              "fn": "booleanEquals",
                              "argv": [
                                true,
                                {
                                  "fn": "getAttr",
                                  "argv": [
                                    {
                                      "ref": "PartitionResult"
                                    },
                                    "supportsDualStack"
                                  ]
                                }
                              ]
                            }
                          ],
                          "type": "tree",
                          "rules": [
                            {
                              "conditions": [],
                              "endpoint": {
                                "url": "https://mediapackage-vod.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                "properties": {},
                                "headers": {}
                              },
                              "type": "endpoint"
                            }
                          ]
                        },
                        {
                          "conditions": [],
                          "error": "DualStack is enabled but this partition does not support DualStack",
                          "type": "error"
                        }
                      ]
                    },
                    {
                      "conditions": [],
                      "endpoint": {
                        "url": "https://mediapackage-vod.{Region}.{PartitionResult#dnsSuffix}",
                        "properties": {},
                        "headers": {}
                      },
                      "type": "endpoint"
                    }
                  ]
                }
              ]
            },
            {
              "conditions": [],
              "error": "Invalid Configuration: Missing Region",
              "type": "error"
            }
          ]
        },
        "smithy.rules#endpointTests": {
          "testCases": [
            {
              "documentation": "For region ap-northeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.ap-northeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-northeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.ap-northeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-northeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-south-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.ap-south-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-south-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.ap-southeast-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region ap-southeast-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.ap-southeast-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "ap-southeast-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-central-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.eu-central-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-central-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.eu-north-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.eu-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.eu-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region eu-west-3 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.eu-west-3.amazonaws.com"
                }
              },
              "params": {
                "Region": "eu-west-3",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region sa-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.sa-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "sa-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-east-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-west-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-west-2.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-west-2",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.cn-north-1.api.amazonwebservices.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.cn-north-1.amazonaws.com.cn"
                }
              },
              "params": {
                "Region": "cn-north-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-gov-east-1.api.aws"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-gov-east-1.amazonaws.com"
                }
              },
              "params": {
                "Region": "us-gov-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-iso-east-1.c2s.ic.gov"
                }
              },
              "params": {
                "Region": "us-iso-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack enabled",
              "expect": {
                "error": "FIPS and DualStack are enabled, but this partition does not support one or both"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod-fips.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": true,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack enabled",
              "expect": {
                "error": "DualStack is enabled but this partition does not support DualStack"
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": true
              }
            },
            {
              "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://mediapackage-vod.us-isob-east-1.sc2s.sgov.gov"
                }
              },
              "params": {
                "Region": "us-isob-east-1",
                "UseFIPS": false,
                "UseDualStack": false
              }
            },
            {
              "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
              "expect": {
                "endpoint": {
                  "url": "https://example.com"
                }
              },
              "params": {
                "Region": "us-east-1",
                "UseFIPS": false,
                "UseDualStack": false,
                "Endpoint": "https://example.com"
              }
            },
            {
[...]
