{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediapackage#AdMarkers": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "SCTE35_ENHANCED",
            "name": "SCTE35_ENHANCED"
          },
          {
            "value": "PASSTHROUGH",
            "name": "PASSTHROUGH"
          },
          {
            "value": "DATERANGE",
            "name": "DATERANGE"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#AdTriggers": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackage#__AdTriggersElement"
      },
      "traits": {
        "smithy.api#documentation": "A list of SCTE-35 message types that are treated as ad markers in the output.  If empty, no\nad markers are output.  Specify multiple items to create ad markers for all of the included\nmessage types."
      }
    },
    "com.amazonaws.mediapackage#AdsOnDeliveryRestrictions": {
      "type": "string",
      "traits": {
        "smithy.api#documentation": "This setting allows the delivery restriction flags on SCTE-35 segmentation descriptors to\ndetermine whether a message signals an ad.  Choosing \"NONE\" means no SCTE-35 messages become\nads.  Choosing \"RESTRICTED\" means SCTE-35 messages of the types specified in AdTriggers that\ncontain delivery restrictions will be treated as ads.  Choosing \"UNRESTRICTED\" means SCTE-35\nmessages of the types specified in AdTriggers that do not contain delivery restrictions will\nbe treated as ads.  Choosing \"BOTH\" means all SCTE-35 messages of the types specified in\nAdTriggers will be treated as ads.  Note that Splice Insert messages do not have these flags\nand are always treated as ads if specified in AdTriggers.",
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "RESTRICTED",
            "name": "RESTRICTED"
          },
          {
            "value": "UNRESTRICTED",
            "name": "UNRESTRICTED"
          },
          {
            "value": "BOTH",
            "name": "BOTH"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#Authorization": {
      "type": "structure",
      "members": {
        "CdnIdentifierSecret": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the secret in Secrets Manager that your Content Distribution Network (CDN) uses for authorization to access your endpoint.",
            "smithy.api#jsonName": "cdnIdentifierSecret",
            "smithy.api#required": {}
          }
        },
        "SecretsRoleArn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) for the IAM role that allows MediaPackage to communicate with AWS Secrets Manager.",
            "smithy.api#jsonName": "secretsRoleArn",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "CDN Authorization credentials"
      }
    },
    "com.amazonaws.mediapackage#Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the Channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the Channel.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackage#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "HlsIngest": {
          "target": "com.amazonaws.mediapackage#HlsIngest",
          "traits": {
            "smithy.api#jsonName": "hlsIngest"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "IngressAccessLogs": {
          "target": "com.amazonaws.mediapackage#IngressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "ingressAccessLogs"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Channel resource configuration."
      }
    },
    "com.amazonaws.mediapackage#CmafEncryption": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "An optional 128-bit, 16-byte hex value represented by a 32-character string, used in conjunction with the key for encrypting blocks. If you don't specify a value, then MediaPackage creates the constant initialization vector (IV).",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "KeyRotationIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time (in seconds) between each encryption key rotation.",
            "smithy.api#jsonName": "keyRotationIntervalSeconds"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackage#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Common Media Application Format (CMAF) encryption configuration."
      }
    },
    "com.amazonaws.mediapackage#CmafPackage": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.mediapackage#CmafEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackage#__listOfHlsManifest",
          "traits": {
            "smithy.api#documentation": "A list of HLS manifest configurations",
            "smithy.api#jsonName": "hlsManifests"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "SegmentPrefix": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.",
            "smithy.api#jsonName": "segmentPrefix"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackage#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Common Media Application Format (CMAF) packaging configuration."
      }
    },
    "com.amazonaws.mediapackage#CmafPackageCreateOrUpdateParameters": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.mediapackage#CmafEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackage#__listOfHlsManifestCreateOrUpdateParameters",
          "traits": {
            "smithy.api#documentation": "A list of HLS manifest configurations",
            "smithy.api#jsonName": "hlsManifests"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "SegmentPrefix": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "An optional custom string that is prepended to the name of each segment. If not specified, it defaults to the ChannelId.",
            "smithy.api#jsonName": "segmentPrefix"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackage#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Common Media Application Format (CMAF) packaging configuration."
      }
    },
    "com.amazonaws.mediapackage#ConfigureLogs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#ConfigureLogsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#ConfigureLogsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Changes the Channel's properities to configure log subscription",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/channels/{Id}/configure_logs",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#ConfigureLogsRequest": {
      "type": "structure",
      "members": {
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackage#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the channel to log subscription.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "IngressAccessLogs": {
          "target": "com.amazonaws.mediapackage#IngressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "ingressAccessLogs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "the option to configure log subscription."
      }
    },
    "com.amazonaws.mediapackage#ConfigureLogsResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the Channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the Channel.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackage#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "HlsIngest": {
          "target": "com.amazonaws.mediapackage#HlsIngest",
          "traits": {
            "smithy.api#jsonName": "hlsIngest"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "IngressAccessLogs": {
          "target": "com.amazonaws.mediapackage#IngressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "ingressAccessLogs"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new Channel.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channels",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the Channel.",
            "smithy.api#jsonName": "description"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel. The ID must be unique within the region and it\ncannot be changed after a Channel is created.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A new Channel configuration."
      }
    },
    "com.amazonaws.mediapackage#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the Channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the Channel.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackage#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "HlsIngest": {
          "target": "com.amazonaws.mediapackage#HlsIngest",
          "traits": {
            "smithy.api#jsonName": "hlsIngest"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "IngressAccessLogs": {
          "target": "com.amazonaws.mediapackage#IngressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "ingressAccessLogs"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#CreateHarvestJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#CreateHarvestJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#CreateHarvestJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new HarvestJob record.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/harvest_jobs",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#CreateHarvestJobRequest": {
      "type": "structure",
      "members": {
        "EndTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The end of the time-window which will be harvested",
            "smithy.api#jsonName": "endTime",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the HarvestJob. The ID must be unique within the region\nand it cannot be changed after the HarvestJob is submitted",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "OriginEndpointId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint that the HarvestJob will harvest from.\nThis cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "originEndpointId",
            "smithy.api#required": {}
          }
        },
        "S3Destination": {
          "target": "com.amazonaws.mediapackage#S3Destination",
          "traits": {
            "smithy.api#jsonName": "s3Destination",
            "smithy.api#required": {}
          }
        },
        "StartTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The start of the time-window which will be harvested",
            "smithy.api#jsonName": "startTime",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters used to create a new HarvestJob."
      }
    },
    "com.amazonaws.mediapackage#CreateHarvestJobResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the HarvestJob.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel that the HarvestJob will harvest from.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The time the HarvestJob was submitted",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The end of the time-window which will be harvested.",
            "smithy.api#jsonName": "endTime"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the HarvestJob. The ID must be unique within the region\nand it cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "id"
          }
        },
        "OriginEndpointId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint that the HarvestJob will harvest from.\nThis cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "originEndpointId"
          }
        },
        "S3Destination": {
          "target": "com.amazonaws.mediapackage#S3Destination",
          "traits": {
            "smithy.api#jsonName": "s3Destination"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The start of the time-window which will be harvested.",
            "smithy.api#jsonName": "startTime"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediapackage#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the HarvestJob. Consider setting up a CloudWatch Event to listen for\nHarvestJobs as they succeed or fail. In the event of failure, the CloudWatch Event will\ninclude an explanation of why the HarvestJob failed.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#CreateOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#CreateOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#CreateOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new OriginEndpoint record.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/origin_endpoints",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#CreateOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "Authorization": {
          "target": "com.amazonaws.mediapackage#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel that the OriginEndpoint will be associated with.\nThis cannot be changed after the OriginEndpoint is created.",
            "smithy.api#jsonName": "channelId",
            "smithy.api#required": {}
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackage#CmafPackageCreateOrUpdateParameters",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackage#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the OriginEndpoint.",
            "smithy.api#jsonName": "description"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackage#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint.  The ID must be unique within the region\nand it cannot be changed after the OriginEndpoint is created.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short string that will be used as the filename of the OriginEndpoint URL (defaults to \"index\").",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackage#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "Origination": {
          "target": "com.amazonaws.mediapackage#Origination",
          "traits": {
            "smithy.api#documentation": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination",
            "smithy.api#jsonName": "origination"
          }
        },
        "StartoverWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Maximum duration (seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.",
            "smithy.api#jsonName": "startoverWindowSeconds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "TimeDelaySeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Amount of delay (seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.",
            "smithy.api#jsonName": "timeDelaySeconds"
          }
        },
        "Whitelist": {
          "target": "com.amazonaws.mediapackage#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
            "smithy.api#jsonName": "whitelist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configuration parameters used to create a new OriginEndpoint."
      }
    },
    "com.amazonaws.mediapackage#CreateOriginEndpointResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the OriginEndpoint.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackage#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel the OriginEndpoint is associated with.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackage#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackage#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the OriginEndpoint.",
            "smithy.api#jsonName": "description"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackage#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint.",
            "smithy.api#jsonName": "id"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short string appended to the end of the OriginEndpoint URL.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackage#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "Origination": {
          "target": "com.amazonaws.mediapackage#Origination",
          "traits": {
            "smithy.api#documentation": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination",
            "smithy.api#jsonName": "origination"
          }
        },
        "StartoverWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Maximum duration (seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.",
            "smithy.api#jsonName": "startoverWindowSeconds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "TimeDelaySeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Amount of delay (seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.",
            "smithy.api#jsonName": "timeDelaySeconds"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the packaged OriginEndpoint for consumption.",
            "smithy.api#jsonName": "url"
          }
        },
        "Whitelist": {
          "target": "com.amazonaws.mediapackage#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
            "smithy.api#jsonName": "whitelist"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DashEncryption": {
      "type": "structure",
      "members": {
        "KeyRotationIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time (in seconds) between each encryption key rotation.",
            "smithy.api#jsonName": "keyRotationIntervalSeconds"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackage#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dynamic Adaptive Streaming over HTTP (DASH) encryption configuration."
      }
    },
    "com.amazonaws.mediapackage#DashPackage": {
      "type": "structure",
      "members": {
        "AdTriggers": {
          "target": "com.amazonaws.mediapackage#AdTriggers",
          "traits": {
            "smithy.api#jsonName": "adTriggers"
          }
        },
        "AdsOnDeliveryRestrictions": {
          "target": "com.amazonaws.mediapackage#AdsOnDeliveryRestrictions",
          "traits": {
            "smithy.api#jsonName": "adsOnDeliveryRestrictions"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediapackage#DashEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "ManifestLayout": {
          "target": "com.amazonaws.mediapackage#ManifestLayout",
          "traits": {
            "smithy.api#documentation": "Determines the position of some tags in the Media Presentation Description (MPD).  When set to FULL, elements like SegmentTemplate and ContentProtection are included in each Representation.  When set to COMPACT, duplicate elements are combined and presented at the AdaptationSet level.",
            "smithy.api#jsonName": "manifestLayout"
          }
        },
        "ManifestWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time window (in seconds) contained in each manifest.",
            "smithy.api#jsonName": "manifestWindowSeconds"
          }
        },
        "MinBufferTimeSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Minimum duration (in seconds) that a player will buffer media before starting the presentation.",
            "smithy.api#jsonName": "minBufferTimeSeconds"
          }
        },
        "MinUpdatePeriodSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Minimum duration (in seconds) between potential changes to the Dynamic Adaptive Streaming over HTTP (DASH) Media Presentation Description (MPD).",
            "smithy.api#jsonName": "minUpdatePeriodSeconds"
          }
        },
        "PeriodTriggers": {
          "target": "com.amazonaws.mediapackage#__listOf__PeriodTriggersElement",
          "traits": {
            "smithy.api#documentation": "A list of triggers that controls when the outgoing Dynamic Adaptive Streaming over HTTP (DASH)\nMedia Presentation Description (MPD) will be partitioned into multiple periods. If empty, the content will not\nbe partitioned into more than one period. If the list contains \"ADS\", new periods will be created where\nthe Channel source contains SCTE-35 ad markers.",
            "smithy.api#jsonName": "periodTriggers"
          }
        },
        "Profile": {
          "target": "com.amazonaws.mediapackage#Profile",
          "traits": {
            "smithy.api#documentation": "The Dynamic Adaptive Streaming over HTTP (DASH) profile type.  When set to \"HBBTV_1_5\", HbbTV 1.5 compliant output is enabled.",
            "smithy.api#jsonName": "profile"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each segment. Actual segments will be\nrounded to the nearest multiple of the source segment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "SegmentTemplateFormat": {
          "target": "com.amazonaws.mediapackage#SegmentTemplateFormat",
          "traits": {
            "smithy.api#documentation": "Determines the type of SegmentTemplate included in the Media Presentation Description (MPD).  When set to NUMBER_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Number$ media URLs.  When set to TIME_WITH_TIMELINE, a full timeline is presented in each SegmentTemplate, with $Time$ media URLs. When set to NUMBER_WITH_DURATION, only a duration is included in each SegmentTemplate, with $Number$ media URLs.",
            "smithy.api#jsonName": "segmentTemplateFormat"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackage#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        },
        "SuggestedPresentationDelaySeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) to delay live content before presentation.",
            "smithy.api#jsonName": "suggestedPresentationDelaySeconds"
          }
        },
        "UtcTiming": {
          "target": "com.amazonaws.mediapackage#UtcTiming",
          "traits": {
            "smithy.api#documentation": "Determines the type of UTCTiming included in the Media Presentation Description (MPD)",
            "smithy.api#jsonName": "utcTiming"
          }
        },
        "UtcTimingUri": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "Specifies the value attribute of the UTCTiming field when utcTiming is set to HTTP-ISO or HTTP-HEAD",
            "smithy.api#jsonName": "utcTimingUri"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Dynamic Adaptive Streaming over HTTP (DASH) packaging configuration."
      }
    },
    "com.amazonaws.mediapackage#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#DeleteChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#DeleteChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing Channel.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channels/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediapackage#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DeleteChannelResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediapackage#DeleteOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#DeleteOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#DeleteOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes an existing OriginEndpoint.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/origin_endpoints/{Id}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediapackage#DeleteOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DeleteOriginEndpointResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediapackage#DescribeChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#DescribeChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#DescribeChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Gets details about a Channel.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channels/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeChannelRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of a Channel.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the Channel.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the Channel.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressAccessLogs": {
          "target": "com.amazonaws.mediapackage#EgressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "egressAccessLogs"
          }
        },
        "HlsIngest": {
          "target": "com.amazonaws.mediapackage#HlsIngest",
          "traits": {
            "smithy.api#jsonName": "hlsIngest"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel.",
            "smithy.api#jsonName": "id"
          }
        },
        "IngressAccessLogs": {
          "target": "com.amazonaws.mediapackage#IngressAccessLogs",
          "traits": {
            "smithy.api#jsonName": "ingressAccessLogs"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeHarvestJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#DescribeHarvestJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#DescribeHarvestJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Gets details about an existing HarvestJob.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/harvest_jobs/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeHarvestJobRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the HarvestJob.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeHarvestJobResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the HarvestJob.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel that the HarvestJob will harvest from.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The time the HarvestJob was submitted",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The end of the time-window which will be harvested.",
            "smithy.api#jsonName": "endTime"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the HarvestJob. The ID must be unique within the region\nand it cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "id"
          }
        },
        "OriginEndpointId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint that the HarvestJob will harvest from.\nThis cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "originEndpointId"
          }
        },
        "S3Destination": {
          "target": "com.amazonaws.mediapackage#S3Destination",
          "traits": {
            "smithy.api#jsonName": "s3Destination"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The start of the time-window which will be harvested.",
            "smithy.api#jsonName": "startTime"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediapackage#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the HarvestJob. Consider setting up a CloudWatch Event to listen for\nHarvestJobs as they succeed or fail. In the event of failure, the CloudWatch Event will\ninclude an explanation of why the HarvestJob failed.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#DescribeOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#DescribeOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Gets details about an existing OriginEndpoint.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/origin_endpoints/{Id}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#DescribeOriginEndpointResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the OriginEndpoint.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackage#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel the OriginEndpoint is associated with.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackage#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackage#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the OriginEndpoint.",
            "smithy.api#jsonName": "description"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackage#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint.",
            "smithy.api#jsonName": "id"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short string appended to the end of the OriginEndpoint URL.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackage#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "Origination": {
          "target": "com.amazonaws.mediapackage#Origination",
          "traits": {
            "smithy.api#documentation": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination",
            "smithy.api#jsonName": "origination"
          }
        },
        "StartoverWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Maximum duration (seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.",
            "smithy.api#jsonName": "startoverWindowSeconds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "TimeDelaySeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Amount of delay (seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.",
            "smithy.api#jsonName": "timeDelaySeconds"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the packaged OriginEndpoint for consumption.",
            "smithy.api#jsonName": "url"
          }
        },
        "Whitelist": {
          "target": "com.amazonaws.mediapackage#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
            "smithy.api#jsonName": "whitelist"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#EgressAccessLogs": {
      "type": "structure",
      "members": {
        "LogGroupName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "Customize the log group name.",
            "smithy.api#jsonName": "logGroupName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure egress access logging."
      }
    },
    "com.amazonaws.mediapackage#EncryptionContractConfiguration": {
      "type": "structure",
      "members": {
        "PresetSpeke20Audio": {
          "target": "com.amazonaws.mediapackage#PresetSpeke20Audio",
          "traits": {
            "smithy.api#documentation": "A collection of audio encryption presets.",
            "smithy.api#jsonName": "presetSpeke20Audio",
            "smithy.api#required": {}
          }
        },
        "PresetSpeke20Video": {
          "target": "com.amazonaws.mediapackage#PresetSpeke20Video",
          "traits": {
            "smithy.api#documentation": "A collection of video encryption presets.",
            "smithy.api#jsonName": "presetSpeke20Video",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use encryptionContractConfiguration to configure one or more content encryption keys for your endpoints that use SPEKE 2.0. \nThe encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. \nTo configure the encryption contract, specify which audio and video encryption presets to use.\nNote the following considerations when using encryptionContractConfiguration:\nencryptionContractConfiguration can be used for DASH or CMAF endpoints that use SPEKE 2.0. SPEKE 2.0 relies on the CPIX 2.3 specification.\nYou must disable key rotation for this endpoint by setting keyRotationIntervalSeconds to 0."
      }
    },
    "com.amazonaws.mediapackage#EncryptionMethod": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "AES_128",
            "name": "AES_128"
          },
          {
            "value": "SAMPLE_AES",
            "name": "SAMPLE_AES"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The client is not authorized to access the requested resource.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediapackage#HarvestJob": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the HarvestJob.",
            "smithy.api#jsonName": "arn"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel that the HarvestJob will harvest from.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CreatedAt": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The time the HarvestJob was submitted",
            "smithy.api#jsonName": "createdAt"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The end of the time-window which will be harvested.",
            "smithy.api#jsonName": "endTime"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the HarvestJob. The ID must be unique within the region\nand it cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "id"
          }
        },
        "OriginEndpointId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint that the HarvestJob will harvest from.\nThis cannot be changed after the HarvestJob is submitted.",
            "smithy.api#jsonName": "originEndpointId"
          }
        },
        "S3Destination": {
          "target": "com.amazonaws.mediapackage#S3Destination",
          "traits": {
            "smithy.api#jsonName": "s3Destination"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The start of the time-window which will be harvested.",
            "smithy.api#jsonName": "startTime"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediapackage#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the HarvestJob. Consider setting up a CloudWatch Event to listen for\nHarvestJobs as they succeed or fail. In the event of failure, the CloudWatch Event will\ninclude an explanation of why the HarvestJob failed.",
            "smithy.api#jsonName": "status"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A HarvestJob resource configuration"
      }
    },
    "com.amazonaws.mediapackage#HlsEncryption": {
      "type": "structure",
      "members": {
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A constant initialization vector for encryption (optional).\nWhen not specified the initialization vector will be periodically rotated.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "EncryptionMethod": {
          "target": "com.amazonaws.mediapackage#EncryptionMethod",
          "traits": {
            "smithy.api#documentation": "The encryption method to use.",
            "smithy.api#jsonName": "encryptionMethod"
          }
        },
        "KeyRotationIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Interval (in seconds) between each encryption key rotation.",
            "smithy.api#jsonName": "keyRotationIntervalSeconds"
          }
        },
        "RepeatExtXKey": {
          "target": "com.amazonaws.mediapackage#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, the EXT-X-KEY tag will be repeated in output manifests.",
            "smithy.api#jsonName": "repeatExtXKey"
          }
        },
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackage#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) encryption configuration."
      }
    },
    "com.amazonaws.mediapackage#HlsIngest": {
      "type": "structure",
      "members": {
        "IngestEndpoints": {
          "target": "com.amazonaws.mediapackage#__listOfIngestEndpoint",
          "traits": {
            "smithy.api#documentation": "A list of endpoints to which the source stream should be sent.",
            "smithy.api#jsonName": "ingestEndpoints"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) ingest resource configuration."
      }
    },
    "com.amazonaws.mediapackage#HlsManifest": {
      "type": "structure",
      "members": {
        "AdMarkers": {
          "target": "com.amazonaws.mediapackage#AdMarkers",
          "traits": {
            "smithy.api#documentation": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n\"DATERANGE\" inserts EXT-X-DATERANGE tags to signal ad and program transition events \nin HLS and CMAF manifests. For this option, you must set a programDateTimeIntervalSeconds value \nthat is greater than 0.",
            "smithy.api#jsonName": "adMarkers"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot be changed after it is created.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "IncludeIframeOnlyStream": {
          "target": "com.amazonaws.mediapackage#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, an I-Frame only stream will be included in the output.",
            "smithy.api#jsonName": "includeIframeOnlyStream"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "An optional short string appended to the end of the OriginEndpoint URL. If not specified, defaults to the manifestName for the OriginEndpoint.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "PlaylistType": {
          "target": "com.amazonaws.mediapackage#PlaylistType",
          "traits": {
            "smithy.api#documentation": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.",
            "smithy.api#jsonName": "playlistType"
          }
        },
        "PlaylistWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time window (in seconds) contained in each parent manifest.",
            "smithy.api#jsonName": "playlistWindowSeconds"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.",
            "smithy.api#jsonName": "programDateTimeIntervalSeconds"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the packaged OriginEndpoint for consumption.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A HTTP Live Streaming (HLS) manifest configuration."
      }
    },
    "com.amazonaws.mediapackage#HlsManifestCreateOrUpdateParameters": {
      "type": "structure",
      "members": {
        "AdMarkers": {
          "target": "com.amazonaws.mediapackage#AdMarkers",
          "traits": {
            "smithy.api#documentation": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n\"DATERANGE\" inserts EXT-X-DATERANGE tags to signal ad and program transition events \nin HLS and CMAF manifests. For this option, you must set a programDateTimeIntervalSeconds value \nthat is greater than 0.",
            "smithy.api#jsonName": "adMarkers"
          }
        },
        "AdTriggers": {
          "target": "com.amazonaws.mediapackage#AdTriggers",
          "traits": {
            "smithy.api#jsonName": "adTriggers"
          }
        },
        "AdsOnDeliveryRestrictions": {
          "target": "com.amazonaws.mediapackage#AdsOnDeliveryRestrictions",
          "traits": {
            "smithy.api#jsonName": "adsOnDeliveryRestrictions"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the manifest. The ID must be unique within the OriginEndpoint and it cannot be changed after it is created.",
            "smithy.api#jsonName": "id",
            "smithy.api#required": {}
          }
        },
        "IncludeIframeOnlyStream": {
          "target": "com.amazonaws.mediapackage#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, an I-Frame only stream will be included in the output.",
            "smithy.api#jsonName": "includeIframeOnlyStream"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "An optional short string appended to the end of the OriginEndpoint URL. If not specified, defaults to the manifestName for the OriginEndpoint.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "PlaylistType": {
          "target": "com.amazonaws.mediapackage#PlaylistType",
          "traits": {
            "smithy.api#documentation": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.",
            "smithy.api#jsonName": "playlistType"
          }
        },
        "PlaylistWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time window (in seconds) contained in each parent manifest.",
            "smithy.api#jsonName": "playlistWindowSeconds"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.",
            "smithy.api#jsonName": "programDateTimeIntervalSeconds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A HTTP Live Streaming (HLS) manifest configuration."
      }
    },
    "com.amazonaws.mediapackage#HlsPackage": {
      "type": "structure",
      "members": {
        "AdMarkers": {
          "target": "com.amazonaws.mediapackage#AdMarkers",
          "traits": {
            "smithy.api#documentation": "This setting controls how ad markers are included in the packaged OriginEndpoint.\n\"NONE\" will omit all SCTE-35 ad markers from the output.\n\"PASSTHROUGH\" causes the manifest to contain a copy of the SCTE-35 ad\nmarkers (comments) taken directly from the input HTTP Live Streaming (HLS) manifest.\n\"SCTE35_ENHANCED\" generates ad markers and blackout tags based on SCTE-35\nmessages in the input source.\n\"DATERANGE\" inserts EXT-X-DATERANGE tags to signal ad and program transition events \nin HLS and CMAF manifests. For this option, you must set a programDateTimeIntervalSeconds value \nthat is greater than 0.",
            "smithy.api#jsonName": "adMarkers"
          }
        },
        "AdTriggers": {
          "target": "com.amazonaws.mediapackage#AdTriggers",
          "traits": {
            "smithy.api#jsonName": "adTriggers"
          }
        },
        "AdsOnDeliveryRestrictions": {
          "target": "com.amazonaws.mediapackage#AdsOnDeliveryRestrictions",
          "traits": {
            "smithy.api#jsonName": "adsOnDeliveryRestrictions"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediapackage#HlsEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "IncludeIframeOnlyStream": {
          "target": "com.amazonaws.mediapackage#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, an I-Frame only stream will be included in the output.",
            "smithy.api#jsonName": "includeIframeOnlyStream"
          }
        },
        "PlaylistType": {
          "target": "com.amazonaws.mediapackage#PlaylistType",
          "traits": {
            "smithy.api#documentation": "The HTTP Live Streaming (HLS) playlist type.\nWhen either \"EVENT\" or \"VOD\" is specified, a corresponding EXT-X-PLAYLIST-TYPE\nentry will be included in the media playlist.",
            "smithy.api#jsonName": "playlistType"
          }
        },
        "PlaylistWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Time window (in seconds) contained in each parent manifest.",
            "smithy.api#jsonName": "playlistWindowSeconds"
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "The interval (in seconds) between each EXT-X-PROGRAM-DATE-TIME tag\ninserted into manifests. Additionally, when an interval is specified\nID3Timed Metadata messages will be generated every 5 seconds using the\ningest time of the content.\nIf the interval is not specified, or set to 0, then\nno EXT-X-PROGRAM-DATE-TIME tags will be inserted into manifests and no\nID3Timed Metadata messages will be generated. Note that irrespective\nof this parameter, if any ID3 Timed Metadata is found in HTTP Live Streaming (HLS) input,\nit will be passed through to HLS output.",
            "smithy.api#jsonName": "programDateTimeIntervalSeconds"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Duration (in seconds) of each fragment. Actual fragments will be\nrounded to the nearest multiple of the source fragment duration.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackage#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        },
        "UseAudioRenditionGroup": {
          "target": "com.amazonaws.mediapackage#__boolean",
          "traits": {
            "smithy.api#documentation": "When enabled, audio streams will be placed in rendition groups in the output.",
            "smithy.api#jsonName": "useAudioRenditionGroup"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An HTTP Live Streaming (HLS) packaging configuration."
      }
    },
    "com.amazonaws.mediapackage#IngestEndpoint": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The system generated unique identifier for the IngestEndpoint",
            "smithy.api#jsonName": "id"
          }
        },
        "Password": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The system generated password for ingest authentication.",
            "smithy.api#jsonName": "password"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ingest URL to which the source stream should be sent.",
            "smithy.api#jsonName": "url"
          }
        },
        "Username": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The system generated username for ingest authentication.",
            "smithy.api#jsonName": "username"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An endpoint for ingesting source content for a Channel."
      }
    },
    "com.amazonaws.mediapackage#IngressAccessLogs": {
      "type": "structure",
      "members": {
        "LogGroupName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "Customize the log group name.",
            "smithy.api#jsonName": "logGroupName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Configure ingress access logging."
      }
    },
    "com.amazonaws.mediapackage#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An unexpected error occurred.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mediapackage#ListChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#ListChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#ListChannelsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of Channels.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Channels",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackage#ListChannelsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediapackage#MaxResults",
          "traits": {
            "smithy.api#documentation": "Upper bound on number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "Channels": {
          "target": "com.amazonaws.mediapackage#__listOfChannel",
          "traits": {
            "smithy.api#documentation": "A list of Channel records.",
            "smithy.api#jsonName": "channels"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListHarvestJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#ListHarvestJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#ListHarvestJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of HarvestJob records.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/harvest_jobs",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "HarvestJobs",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackage#ListHarvestJobsRequest": {
      "type": "structure",
      "members": {
        "IncludeChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "When specified, the request will return only HarvestJobs associated with the given Channel ID.",
            "smithy.api#httpQuery": "includeChannelId"
          }
        },
        "IncludeStatus": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "When specified, the request will return only HarvestJobs in the given status.",
            "smithy.api#httpQuery": "includeStatus"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mediapackage#MaxResults",
          "traits": {
            "smithy.api#documentation": "The upper bound on the number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListHarvestJobsResponse": {
      "type": "structure",
      "members": {
        "HarvestJobs": {
          "target": "com.amazonaws.mediapackage#__listOfHarvestJob",
          "traits": {
            "smithy.api#documentation": "A list of HarvestJob records.",
            "smithy.api#jsonName": "harvestJobs"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListOriginEndpoints": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#ListOriginEndpointsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#ListOriginEndpointsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.mediapackage#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Returns a collection of OriginEndpoint records.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/origin_endpoints",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "OriginEndpoints",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediapackage#ListOriginEndpointsRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "When specified, the request will return only OriginEndpoints associated with the given Channel ID.",
            "smithy.api#httpQuery": "channelId"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mediapackage#MaxResults",
          "traits": {
            "smithy.api#documentation": "The upper bound on the number of records to return.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token used to resume pagination from the end of a previous request.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListOriginEndpointsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A token that can be used to resume pagination from the end of the collection.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "OriginEndpoints": {
          "target": "com.amazonaws.mediapackage#__listOfOriginEndpoint",
          "traits": {
            "smithy.api#documentation": "A list of OriginEndpoint records.",
            "smithy.api#jsonName": "originEndpoints"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#ListTagsForResourceResponse"
      },
      "traits": {
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediapackage#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediapackage#__mapOf__string",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediapackage#ManifestLayout": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "FULL",
            "name": "FULL"
          },
          {
            "value": "COMPACT",
            "name": "COMPACT"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 1000
        }
      }
    },
    "com.amazonaws.mediapackage#MediaPackage": {
      "type": "service",
      "version": "2017-10-12",
      "operations": [
        {
          "target": "com.amazonaws.mediapackage#ConfigureLogs"
        },
        {
          "target": "com.amazonaws.mediapackage#CreateChannel"
        },
        {
          "target": "com.amazonaws.mediapackage#CreateHarvestJob"
        },
        {
          "target": "com.amazonaws.mediapackage#CreateOriginEndpoint"
        },
        {
          "target": "com.amazonaws.mediapackage#DeleteChannel"
        },
        {
          "target": "com.amazonaws.mediapackage#DeleteOriginEndpoint"
        },
        {
          "target": "com.amazonaws.mediapackage#DescribeChannel"
        },
        {
          "target": "com.amazonaws.mediapackage#DescribeHarvestJob"
        },
        {
          "target": "com.amazonaws.mediapackage#DescribeOriginEndpoint"
        },
        {
          "target": "com.amazonaws.mediapackage#ListChannels"
        },
        {
          "target": "com.amazonaws.mediapackage#ListHarvestJobs"
        },
        {
          "target": "com.amazonaws.mediapackage#ListOriginEndpoints"
        },
        {
          "target": "com.amazonaws.mediapackage#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mediapackage#RotateChannelCredentials"
        },
        {
          "target": "com.amazonaws.mediapackage#RotateIngestEndpointCredentials"
        },
        {
          "target": "com.amazonaws.mediapackage#TagResource"
        },
        {
          "target": "com.amazonaws.mediapackage#UntagResource"
        },
        {
          "target": "com.amazonaws.mediapackage#UpdateChannel"
        },
        {
          "target": "com.amazonaws.mediapackage#UpdateOriginEndpoint"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MediaPackage",
          "arnNamespace": "mediapackage",
          "cloudFormationName": "MediaPackage",
          "cloudTrailEventSource": "mediapackage.amazonaws.com",
          "endpointPrefix": "mediapackage"
        },
        "aws.auth#sigv4": {
          "name": "mediapackage"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "AWS Elemental MediaPackage",
        "smithy.api#title": "AWS Elemental MediaPackage"
      }
    },
    "com.amazonaws.mediapackage#MssEncryption": {
      "type": "structure",
      "members": {
        "SpekeKeyProvider": {
          "target": "com.amazonaws.mediapackage#SpekeKeyProvider",
          "traits": {
            "smithy.api#jsonName": "spekeKeyProvider",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Microsoft Smooth Streaming (MSS) encryption configuration."
      }
    },
    "com.amazonaws.mediapackage#MssPackage": {
      "type": "structure",
      "members": {
        "Encryption": {
          "target": "com.amazonaws.mediapackage#MssEncryption",
          "traits": {
            "smithy.api#jsonName": "encryption"
          }
        },
        "ManifestWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "The time window (in seconds) contained in each manifest.",
            "smithy.api#jsonName": "manifestWindowSeconds"
          }
        },
        "SegmentDurationSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "The duration (in seconds) of each segment.",
            "smithy.api#jsonName": "segmentDurationSeconds"
          }
        },
        "StreamSelection": {
          "target": "com.amazonaws.mediapackage#StreamSelection",
          "traits": {
            "smithy.api#jsonName": "streamSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A Microsoft Smooth Streaming (MSS) packaging configuration."
      }
    },
    "com.amazonaws.mediapackage#NotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The requested resource does not exist.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 404
      }
    },
    "com.amazonaws.mediapackage#OriginEndpoint": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) assigned to the OriginEndpoint.",
            "smithy.api#jsonName": "arn"
          }
        },
        "Authorization": {
          "target": "com.amazonaws.mediapackage#Authorization",
          "traits": {
            "smithy.api#jsonName": "authorization"
          }
        },
        "ChannelId": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the Channel the OriginEndpoint is associated with.",
            "smithy.api#jsonName": "channelId"
          }
        },
        "CmafPackage": {
          "target": "com.amazonaws.mediapackage#CmafPackage",
          "traits": {
            "smithy.api#jsonName": "cmafPackage"
          }
        },
        "DashPackage": {
          "target": "com.amazonaws.mediapackage#DashPackage",
          "traits": {
            "smithy.api#jsonName": "dashPackage"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short text description of the OriginEndpoint.",
            "smithy.api#jsonName": "description"
          }
        },
        "HlsPackage": {
          "target": "com.amazonaws.mediapackage#HlsPackage",
          "traits": {
            "smithy.api#jsonName": "hlsPackage"
          }
        },
        "Id": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The ID of the OriginEndpoint.",
            "smithy.api#jsonName": "id"
          }
        },
        "ManifestName": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "A short string appended to the end of the OriginEndpoint URL.",
            "smithy.api#jsonName": "manifestName"
          }
        },
        "MssPackage": {
          "target": "com.amazonaws.mediapackage#MssPackage",
          "traits": {
            "smithy.api#jsonName": "mssPackage"
          }
        },
        "Origination": {
          "target": "com.amazonaws.mediapackage#Origination",
          "traits": {
            "smithy.api#documentation": "Control whether origination of video is allowed for this OriginEndpoint. If set to ALLOW, the OriginEndpoint\nmay by requested, pursuant to any other form of access control. If set to DENY, the OriginEndpoint may not be\nrequested. This can be helpful for Live to VOD harvesting, or for temporarily disabling origination",
            "smithy.api#jsonName": "origination"
          }
        },
        "StartoverWindowSeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Maximum duration (seconds) of content to retain for startover playback.\nIf not specified, startover playback will be disabled for the OriginEndpoint.",
            "smithy.api#jsonName": "startoverWindowSeconds"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackage#Tags",
          "traits": {
            "smithy.api#jsonName": "tags"
          }
        },
        "TimeDelaySeconds": {
          "target": "com.amazonaws.mediapackage#__integer",
          "traits": {
            "smithy.api#documentation": "Amount of delay (seconds) to enforce on the playback of live content.\nIf not specified, there will be no time delay in effect for the OriginEndpoint.",
            "smithy.api#jsonName": "timeDelaySeconds"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediapackage#__string",
          "traits": {
            "smithy.api#documentation": "The URL of the packaged OriginEndpoint for consumption.",
            "smithy.api#jsonName": "url"
          }
        },
        "Whitelist": {
          "target": "com.amazonaws.mediapackage#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of source IP CIDR blocks that will be allowed to access the OriginEndpoint.",
            "smithy.api#jsonName": "whitelist"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An OriginEndpoint resource configuration."
      }
    },
    "com.amazonaws.mediapackage#Origination": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "DENY",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#PlaylistType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "EVENT",
            "name": "EVENT"
          },
          {
            "value": "VOD",
            "name": "VOD"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#PresetSpeke20Audio": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRESET-AUDIO-1",
            "name": "PRESET_AUDIO_1"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#PresetSpeke20Video": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "PRESET-VIDEO-1",
            "name": "PRESET_VIDEO_1"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#Profile": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "NONE",
            "name": "NONE"
          },
          {
            "value": "HBBTV_1_5",
            "name": "HBBTV_1_5"
          }
        ]
      }
    },
    "com.amazonaws.mediapackage#RotateChannelCredentials": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackage#RotateChannelCredentialsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackage#RotateChannelCredentialsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackage#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediapackage#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediapackage#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackage#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediapackage#TooManyRequestsException"
        },
        {
[...]
