{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediatailor#AccessConfiguration": {
      "type": "structure",
      "members": {
        "AccessType": {
          "target": "com.amazonaws.mediatailor#AccessType",
          "traits": {
            "smithy.api#documentation": "<p>The type of authentication used to access content from HttpConfiguration::BaseUrl on your source location. Accepted value: S3_SIGV4.</p> <p>S3_SIGV4 - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use S3_SIGV4, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p>"
          }
        },
        "SecretsManagerAccessTokenConfiguration": {
          "target": "com.amazonaws.mediatailor#SecretsManagerAccessTokenConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>AWS Secrets Manager access token configuration parameters.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AccessType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "S3_SIGV4",
            "name": "S3_SIGV4"
          },
          {
            "value": "SECRETS_MANAGER_ACCESS_TOKEN",
            "name": "SECRETS_MANAGER_ACCESS_TOKEN"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#AdBreak": {
      "type": "structure",
      "members": {
        "MessageType": {
          "target": "com.amazonaws.mediatailor#MessageType",
          "traits": {
            "smithy.api#documentation": "<p>The SCTE-35 ad insertion type. Accepted value: SPLICE_INSERT.</p>"
          }
        },
        "OffsetMillis": {
          "target": "com.amazonaws.mediatailor#__long",
          "traits": {
            "smithy.api#documentation": "<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>"
          }
        },
        "Slate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Ad break slate configuration.</p>"
          }
        },
        "SpliceInsertMessage": {
          "target": "com.amazonaws.mediatailor#SpliceInsertMessage",
          "traits": {
            "smithy.api#documentation": "<p>This defines the SCTE-35 splice_insert() message inserted around the ad. For information about using splice_insert(), see the SCTE-35 specficiaiton, section 9.7.3.1.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Ad break configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AdMarkerPassthrough": {
      "type": "structure",
      "members": {
        "Enabled": {
          "target": "com.amazonaws.mediatailor#__boolean",
          "traits": {
            "smithy.api#documentation": "<p>Enables ad marker passthrough for your configuration.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>For HLS, when set to true, MediaTailor passes through EXT-X-CUE-IN, EXT-X-CUE-OUT, and EXT-X-SPLICEPOINT-SCTE35 ad markers from the origin manifest to the MediaTailor personalized manifest.</p> <p>No logic is applied to these ad markers. For example, if EXT-X-CUE-OUT has a value of 60, but no ads are filled for that ad break, MediaTailor will not set the value to 0.</p>"
      }
    },
    "com.amazonaws.mediatailor#Alert": {
      "type": "structure",
      "members": {
        "AlertCode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The code for the alert. For example, NOT_PROCESSED.</p>",
            "smithy.api#required": {}
          }
        },
        "AlertMessage": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>If an alert is generated for a resource, an explanation of the reason for the alert.</p>",
            "smithy.api#required": {}
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp when the alert was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "RelatedResourceArns": {
          "target": "com.amazonaws.mediatailor#__listOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Names (ARNs) related to this alert.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Alert configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#AvailSuppression": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediatailor#Mode",
          "traits": {
            "smithy.api#documentation": "<p>Sets the ad suppression mode. By default, ad suppression is off and all ad breaks are filled with ads or slate. When Mode is set to BEHIND_LIVE_EDGE, ad suppression is active and MediaTailor won't fill ad breaks on or behind the ad suppression Value time in the manifest lookback window.</p>"
          }
        },
        "Value": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A live edge offset time in HH:MM:SS. MediaTailor won't fill ad breaks on or behind this time in the manifest lookback window. If Value is set to 00:00:00, it is in sync with the live edge, and MediaTailor won't fill any ad breaks on or behind the live edge. If you set a Value time, MediaTailor won't fill any ad breaks on or behind this time in the manifest lookback window. For example, if you set 00:45:00, then MediaTailor will fill ad breaks that occur within 45 minutes behind the live edge, but won't fill ad breaks on or behind 45 minutes behind the live edge.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
      }
    },
    "com.amazonaws.mediatailor#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediatailor#__string"
        }
      },
      "traits": {
        "smithy.api#documentation": "Invalid request parameters.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediatailor#Bumper": {
      "type": "structure",
      "members": {
        "EndUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the end bumper asset.</p>"
          }
        },
        "StartUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the start bumper asset.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
      }
    },
    "com.amazonaws.mediatailor#CdnConfiguration": {
      "type": "structure",
      "members": {
        "AdSegmentUrlPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the origin ads.mediatailor.&amp;lt;region&gt;.amazonaws.com. Then specify the rule's name in this AdSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.</p>"
          }
        },
        "ContentSegmentUrlPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule's name in this ContentSegmentUrlPrefix. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
      }
    },
    "com.amazonaws.mediatailor#Channel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Returns the state whether the channel is running or not.</p>",
            "smithy.api#required": {}
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule. You must configure FillerSlate if your channel uses an LINEAR PlaybackMode.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The type of playback mode for this channel.</p> <p>LINEAR - Programs play back-to-back only once.</p> <p>LOOP - Programs play back-to-back in an endless loop. When the last program in the schedule plays, playback loops back to the first program in the schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the channel.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration parameters for a channel.</p>"
      }
    },
    "com.amazonaws.mediatailor#ChannelState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "RUNNING",
            "name": "RUNNING"
          },
          {
            "value": "STOPPED",
            "name": "STOPPED"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#ConfigurationAliasesRequest": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mediatailor#__string",
        "traits": {
          "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
        }
      },
      "value": {
        "target": "com.amazonaws.mediatailor#__mapOf__string",
        "traits": {
          "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
      }
    },
    "com.amazonaws.mediatailor#ConfigurationAliasesResponse": {
      "type": "map",
      "key": {
        "target": "com.amazonaws.mediatailor#__string",
        "traits": {
          "smithy.api#documentation": "<p>The dynamic variable that has aliases.</p>"
        }
      },
      "value": {
        "target": "com.amazonaws.mediatailor#__mapOf__string",
        "traits": {
          "smithy.api#documentation": "<p>Map of aliases to the value to be used at request time.</p>"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The predefined aliases for dynamic variables.</p>"
      }
    },
    "com.amazonaws.mediatailor#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channel/{ChannelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses an LINEAR PlaybackMode.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#RequestOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>",
            "smithy.api#required": {}
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#PlaybackMode",
          "traits": {
            "smithy.api#documentation": "<p>The type of playback mode to use for this channel.</p> <p>LINEAR - The programs in the schedule play once back-to-back in the schedule.</p> <p>LOOP - The programs in the schedule play back-to-back in an endless loop. When the last program in the schedule stops playing, playback loops back to the first program in the schedule.</p>",
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the channel.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#ChannelState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the channel is in a running state or not.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The channel's playback mode.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the channel.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a program.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#CreateProgramRequest": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the program you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.mediatailor#ScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The schedule configuration settings.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>",
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateProgramResponse": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the program.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel that the program belongs to.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the program was created.</p>"
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the program.</p>"
          }
        },
        "ScheduledStartTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the program is scheduled to start in ISO 8601 format and Coordinated Universal Time (UTC). For example, the value 2021-03-27T17:48:16.751Z represents March 27, 2021 at 17:48:16.751 UTC.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The source location name.</p>"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates a source location on a specific channel.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocationRequest": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The optional configuration for the server that serves segments.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The source's HTTP package configurations.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the source location.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateSourceLocationResponse": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access configuration for the source location.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was created.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The default segment delivery configuration settings.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configuration settings for the source location.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was last modified.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the source location.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#CreateVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#CreateVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Creates name for a specific VOD source in a source location.</p>",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#CreateVodSourceRequest": {
      "type": "structure",
      "members": {
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>An array of HTTP package configuration parameters for this VOD source.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the VOD source.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the VOD source you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#CreateVodSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the VOD source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the VOD source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configurations.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the VOD source.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with the VOD source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the VOD source.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DashConfiguration": {
      "type": "structure",
      "members": {
        "ManifestEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations.</p>"
          }
        },
        "MpdLocation": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value.</p>"
          }
        },
        "OriginManifestType": {
          "target": "com.amazonaws.mediatailor#OriginManifestType",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for DASH content.</p>"
      }
    },
    "com.amazonaws.mediatailor#DashConfigurationForPut": {
      "type": "structure",
      "members": {
        "MpdLocation": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are DISABLED and EMT_DEFAULT. The EMT_DEFAULT setting enables the inclusion of the tag and is the default value.</p>"
          }
        },
        "OriginManifestType": {
          "target": "com.amazonaws.mediatailor#OriginManifestType",
          "traits": {
            "smithy.api#documentation": "<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to SINGLE_PERIOD. The default setting is MULTI_PERIOD. For multi-period manifests, omit this setting or set it to MULTI_PERIOD.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for DASH PUT operations.</p>"
      }
    },
    "com.amazonaws.mediatailor#DashPlaylistSettings": {
      "type": "structure",
      "members": {
        "ManifestWindowSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of each manifest. Minimum value: 30 seconds. Maximum value: 3600 seconds.</p>"
          }
        },
        "MinBufferTimeSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "<p>Minimum amount of content (measured in seconds) that a player must keep available in the buffer. Minimum value: 2 seconds. Maximum value: 60 seconds.</p>"
          }
        },
        "MinUpdatePeriodSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "<p>Minimum amount of time (in seconds) that the player should wait before requesting updates to the manifest. Minimum value: 2 seconds. Maximum value: 60 seconds.</p>"
          }
        },
        "SuggestedPresentationDelaySeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "<p>Amount of time (in seconds) that the player should be from the live point at the end of the manifest. Minimum value: 2 seconds. Maximum value: 60 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Dash manifest configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration": {
      "type": "structure",
      "members": {
        "BaseUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The hostname of the server that will be used to serve segments. This string must include the protocol, such as <b>https://</b>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The optional configuration for a server that serves segments. Use this if you want the segment delivery server to be different from the source location server. For example, you can configure your source location server to be an origination server, such as MediaPackage, and the segment delivery server to be a content delivery network (CDN), such as CloudFront. If you don't specify a segment delivery server, then the source location server is used.</p>"
      }
    },
    "com.amazonaws.mediatailor#DeleteChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a channel. You must stop the channel before it can be deleted.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteChannelPolicyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a channel's IAM policy.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteChannelResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeletePlaybackConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeletePlaybackConfigurationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes the playback configuration for the specified name.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/playbackConfiguration/{Name}",
          "code": 204
        }
      }
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfigurationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the playback configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeletePlaybackConfigurationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific program on a specific channel.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteProgramRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the program you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteProgramResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a source location on a specific channel.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteSourceLocationRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteSourceLocationResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DeleteVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DeleteVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DeleteVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Deletes a specific VOD source in a specific source location.</p>",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteVodSourceRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the VOD source you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DeleteVodSourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediatailor#DescribeChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeChannelResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Describes the properties of a specific channel.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the channel.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel.</p>"
          }
        },
        "ChannelState": {
          "target": "com.amazonaws.mediatailor#ChannelState",
          "traits": {
            "smithy.api#documentation": "<p>Indicates whether the channel is in a running state or not.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was created.</p>"
          }
        },
        "FillerSlate": {
          "target": "com.amazonaws.mediatailor#SlateSource",
          "traits": {
            "smithy.api#documentation": "<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the channel was last modified.</p>"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediatailor#ResponseOutputs",
          "traits": {
            "smithy.api#documentation": "<p>The channel's output properties.</p>"
          }
        },
        "PlaybackMode": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The channel's playback mode.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the channel.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeProgram": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeProgramRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeProgramResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the properties of the requested program.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/program/{ProgramName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeProgramRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the program you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeProgramResponse": {
      "type": "structure",
      "members": {
        "AdBreaks": {
          "target": "com.amazonaws.mediatailor#__listOfAdBreak",
          "traits": {
            "smithy.api#documentation": "<p>The ad break configuration settings.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the program.</p>"
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel that the program belongs to.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp of when the program was created.</p>"
          }
        },
        "ProgramName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the program.</p>"
          }
        },
        "ScheduledStartTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The date and time that the program is scheduled to start in ISO 8601 format and Coordinated Universal Time (UTC). For example, the value 2021-03-27T17:48:16.751Z represents March 27, 2021 at 17:48:16.751 UTC.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The source location name.</p>"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that's used to refer to a VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeSourceLocationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeSourceLocationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves the properties of the requested source location.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocationRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeSourceLocationResponse": {
      "type": "structure",
      "members": {
        "AccessConfiguration": {
          "target": "com.amazonaws.mediatailor#AccessConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The access configuration for the source location.</p>"
          }
        },
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the source location.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was created.</p>"
          }
        },
        "DefaultSegmentDeliveryConfiguration": {
          "target": "com.amazonaws.mediatailor#DefaultSegmentDeliveryConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The default segment delivery configuration settings.</p>"
          }
        },
        "HttpConfiguration": {
          "target": "com.amazonaws.mediatailor#HttpConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configuration settings for the source location.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the source location was last modified.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the source location.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#DescribeVodSourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#DescribeVodSourceResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Provides details about a specific VOD source in a specific source location.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSourceRequest": {
      "type": "structure",
      "members": {
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the VOD source you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#DescribeVodSourceResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the VOD source.</p>"
          }
        },
        "CreationTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The timestamp that indicates when the VOD source was created.</p>"
          }
        },
        "HttpPackageConfigurations": {
          "target": "com.amazonaws.mediatailor#HttpPackageConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The HTTP package configurations.</p>"
          }
        },
        "LastModifiedTime": {
          "target": "com.amazonaws.mediatailor#__timestampUnix",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the VOD source.</p>"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source location associated with the VOD source.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the VOD source.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "VodSourceName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the VOD source.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetChannelPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetChannelPolicyResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about a channel's IAM policy.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/policy",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicyRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelPolicyResponse": {
      "type": "structure",
      "members": {
        "Policy": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The IAM policy for the channel.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetChannelScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetChannelScheduleResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves information about your channel's schedule.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channel/{ChannelName}/schedule",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelScheduleRequest": {
      "type": "structure",
      "members": {
        "ChannelName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the channel you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "DurationMinutes": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The schedule duration in minutes. The maximum duration is 4320 minutes (three days).</p>",
            "smithy.api#httpQuery": "durationMinutes"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Upper bound on number of records to return. The maximum number of results is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetChannelScheduleResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfScheduleEntry",
          "traits": {
            "smithy.api#documentation": "<p>An array of schedule entries for the channel.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfiguration": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#GetPlaybackConfigurationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#GetPlaybackConfigurationResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns the playback configuration for the specified name.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/playbackConfiguration/{Name}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfigurationRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the playback configuration.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#GetPlaybackConfigurationResponse": {
      "type": "structure",
      "members": {
        "AdDecisionServerUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.</p>"
          }
        },
        "AvailSuppression": {
          "target": "com.amazonaws.mediatailor#AvailSuppression",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
          }
        },
        "Bumper": {
          "target": "com.amazonaws.mediatailor#Bumper",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
          }
        },
        "CdnConfiguration": {
          "target": "com.amazonaws.mediatailor#CdnConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
          }
        },
        "ConfigurationAliases": {
          "target": "com.amazonaws.mediatailor#ConfigurationAliasesResponse",
          "traits": {
            "smithy.api#documentation": "<p>The player parameters and aliases used as dynamic variables during session initialization. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/variables-domain.html\">Domain Variables</a>.</p>"
          }
        },
        "DashConfiguration": {
          "target": "com.amazonaws.mediatailor#DashConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for DASH content.</p>"
          }
        },
        "HlsConfiguration": {
          "target": "com.amazonaws.mediatailor#HlsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for HLS content.</p>"
          }
        },
        "LivePreRollConfiguration": {
          "target": "com.amazonaws.mediatailor#LivePreRollConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for pre-roll ad insertion.</p>"
          }
        },
        "ManifestProcessingRules": {
          "target": "com.amazonaws.mediatailor#ManifestProcessingRules",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for manifest processing rules. Manifest processing rules enable customization of the personalized manifests created by MediaTailor.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the playback configuration.</p>"
          }
        },
        "PersonalizationThresholdSeconds": {
          "target": "com.amazonaws.mediatailor#__integerMin1",
          "traits": {
            "smithy.api#documentation": "<p>Defines the maximum duration of underfilled ad time (in seconds) allowed in an ad break. If the duration of underfilled ad time exceeds the personalization threshold, then the personalization of the ad break is abandoned and the underlying content is shown. This feature applies to <i>ad replacement</i> in live and VOD streams, rather than ad insertion, because it relies on an underlying content stream. For more information about ad break behavior, including ad replacement and insertion, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Behavior in AWS Elemental MediaTailor</a>.</p>"
          }
        },
        "PlaybackConfigurationArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the playback configuration.</p>"
          }
        },
        "PlaybackEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the player accesses to get a manifest from AWS Elemental MediaTailor. This session will use server-side reporting.</p>"
          }
        },
        "SessionInitializationEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the player uses to initialize a session that uses client-side reporting.</p>"
          }
        },
        "SlateAdUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for a high-quality video asset to transcode and use to fill in time that's not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags assigned to the playback configuration.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "TranscodeProfileName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.</p>"
          }
        },
        "VideoContentSourceUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL prefix for the parent manifest for the stream, minus the asset ID. The maximum length is 512 characters.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#HlsConfiguration": {
      "type": "structure",
      "members": {
        "ManifestEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL that is used to initiate a playback session for devices that support Apple HLS. The session uses server-side reporting.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for HLS content.</p>"
      }
    },
    "com.amazonaws.mediatailor#HlsPlaylistSettings": {
      "type": "structure",
      "members": {
        "ManifestWindowSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of each manifest. Minimum value: 30 seconds. Maximum value: 3600 seconds.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>HLS playlist configuration parameters.</p>"
      }
    },
    "com.amazonaws.mediatailor#HttpConfiguration": {
      "type": "structure",
      "members": {
        "BaseUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The base URL for the source location host server. This string must include the protocol, such as <b>https://</b>.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The HTTP configuration for the source location.</p>"
      }
    },
    "com.amazonaws.mediatailor#HttpPackageConfiguration": {
      "type": "structure",
      "members": {
        "Path": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The relative path to the URL for this VOD source. This is combined with SourceLocation::HttpConfiguration::BaseUrl to form a valid URL.</p>",
            "smithy.api#required": {}
          }
        },
        "SourceGroup": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name of the source group. This has to match one of the Channel::Outputs::SourceGroup.</p>",
            "smithy.api#required": {}
          }
        },
        "Type": {
          "target": "com.amazonaws.mediatailor#Type",
          "traits": {
            "smithy.api#documentation": "<p>The streaming protocol for this package configuration. Supported values are HLS and DASH.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The HTTP package configuration properties for the requested VOD source.</p>"
      }
    },
    "com.amazonaws.mediatailor#HttpPackageConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediatailor#HttpPackageConfiguration"
      },
      "traits": {
        "smithy.api#documentation": "<p>The VOD source's HTTP package configuration settings.</p>"
      }
    },
    "com.amazonaws.mediatailor#ListAlerts": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListAlertsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListAlertsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of alerts for the given resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/alerts",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#ListAlertsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Upper bound on number of records to return. The maximum number of results is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "ResourceArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
            "smithy.api#httpQuery": "resourceArn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListAlertsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfAlert",
          "traits": {
            "smithy.api#documentation": "<p>An array of alerts that are associated with this resource.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the list request. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListChannels": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListChannelsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListChannelsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of channels that are associated with this account.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/channels",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#ListChannelsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Upper bound on number of records to return. The maximum number of results is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListChannelsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfChannel",
          "traits": {
            "smithy.api#documentation": "<p>An array of channels that are associated with this account.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token returned by the list request when results exceed the maximum allowed. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListPlaybackConfigurations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListPlaybackConfigurationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListPlaybackConfigurationsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the playback configurations defined in AWS Elemental MediaTailor. You can specify a maximum number of configurations to return at a time. The default maximum is 50. Results are returned in pagefuls. If MediaTailor has more configurations than the specified maximum, it provides parameters in the response that you can use to retrieve the next pageful.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/playbackConfigurations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#ListPlaybackConfigurationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Maximum number of records to return.</p>",
            "smithy.api#httpQuery": "MaxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "NextToken"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListPlaybackConfigurationsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfPlaybackConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>Array of playback configurations. This might be all the available configurations or a subset, depending on the settings that you provide and the total number of configurations stored.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token returned by the GET list request when results exceed the maximum allowed. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListSourceLocations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListSourceLocationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListSourceLocationsResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Retrieves a list of source locations.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#ListSourceLocationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Upper bound on number of records to return. The maximum number of results is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListSourceLocationsResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfSourceLocation",
          "traits": {
            "smithy.api#documentation": "<p>An array of source locations.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the list request. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediatailor#BadRequestException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns a list of the tags assigned to the specified playback configuration resource.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediatailor#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the playback configuration. You can get this from the response to any playback configuration request.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs.</p>",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListVodSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediatailor#ListVodSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.mediatailor#ListVodSourcesResponse"
      },
      "traits": {
        "smithy.api#documentation": "<p>Lists all the VOD sources in a source location.</p>",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/sourceLocation/{SourceLocationName}/vodSources",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Items",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediatailor#ListVodSourcesRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediatailor#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>Upper bound on number of records to return. The maximum number of results is 100.</p>",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the GET list request. Use the token to fetch the next page of results.</p>",
            "smithy.api#httpQuery": "nextToken"
          }
        },
        "SourceLocationName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the source location you are working on.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediatailor#ListVodSourcesResponse": {
      "type": "structure",
      "members": {
        "Items": {
          "target": "com.amazonaws.mediatailor#__listOfVodSource",
          "traits": {
            "smithy.api#documentation": "<p>Lists the VOD sources.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>Pagination token from the list request. Use the token to fetch the next page of results.</p>"
          }
        }
      }
    },
    "com.amazonaws.mediatailor#LivePreRollConfiguration": {
      "type": "structure",
      "members": {
        "AdDecisionServerUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the ad decision server (ADS) for pre-roll ads. This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing, you can provide a static VAST URL. The maximum length is 25,000 characters.</p>"
          }
        },
        "MaxDurationSeconds": {
          "target": "com.amazonaws.mediatailor#__integer",
          "traits": {
            "smithy.api#documentation": "The maximum allowed duration for the pre-roll ad avail. AWS Elemental MediaTailor won't play pre-roll ads to exceed this duration, regardless of the total duration of ads that the ADS returns."
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for pre-roll ad insertion.</p>"
      }
    },
    "com.amazonaws.mediatailor#ManifestProcessingRules": {
      "type": "structure",
      "members": {
        "AdMarkerPassthrough": {
          "target": "com.amazonaws.mediatailor#AdMarkerPassthrough",
          "traits": {
            "smithy.api#documentation": "<p>For HLS, when set to true, MediaTailor passes through EXT-X-CUE-IN, EXT-X-CUE-OUT, and EXT-X-SPLICEPOINT-SCTE35 ad markers from the origin manifest to the MediaTailor personalized manifest.</p> <p>No logic is applied to these ad markers. For example, if EXT-X-CUE-OUT has a value of 60, but no ads are filled for that ad break, MediaTailor will not set the value to 0.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for manifest processing rules. Manifest processing rules enable customization of the personalized manifests created by MediaTailor.</p>"
      }
    },
    "com.amazonaws.mediatailor#MaxResults": {
      "type": "integer",
      "traits": {
        "smithy.api#range": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.mediatailor#MediaTailor": {
      "type": "service",
      "version": "2018-04-23",
      "operations": [
        {
          "target": "com.amazonaws.mediatailor#CreateChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#CreateProgram"
        },
        {
          "target": "com.amazonaws.mediatailor#CreateSourceLocation"
        },
        {
          "target": "com.amazonaws.mediatailor#CreateVodSource"
        },
        {
          "target": "com.amazonaws.mediatailor#DeleteChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#DeleteChannelPolicy"
        },
        {
          "target": "com.amazonaws.mediatailor#DeletePlaybackConfiguration"
        },
        {
          "target": "com.amazonaws.mediatailor#DeleteProgram"
        },
        {
          "target": "com.amazonaws.mediatailor#DeleteSourceLocation"
        },
        {
          "target": "com.amazonaws.mediatailor#DeleteVodSource"
        },
        {
          "target": "com.amazonaws.mediatailor#DescribeChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#DescribeProgram"
        },
        {
          "target": "com.amazonaws.mediatailor#DescribeSourceLocation"
        },
        {
          "target": "com.amazonaws.mediatailor#DescribeVodSource"
        },
        {
          "target": "com.amazonaws.mediatailor#GetChannelPolicy"
        },
        {
          "target": "com.amazonaws.mediatailor#GetChannelSchedule"
        },
        {
          "target": "com.amazonaws.mediatailor#GetPlaybackConfiguration"
        },
        {
          "target": "com.amazonaws.mediatailor#ListAlerts"
        },
        {
          "target": "com.amazonaws.mediatailor#ListChannels"
        },
        {
          "target": "com.amazonaws.mediatailor#ListPlaybackConfigurations"
        },
        {
          "target": "com.amazonaws.mediatailor#ListSourceLocations"
        },
        {
          "target": "com.amazonaws.mediatailor#ListTagsForResource"
        },
        {
          "target": "com.amazonaws.mediatailor#ListVodSources"
        },
        {
          "target": "com.amazonaws.mediatailor#PutChannelPolicy"
        },
        {
          "target": "com.amazonaws.mediatailor#PutPlaybackConfiguration"
        },
        {
          "target": "com.amazonaws.mediatailor#StartChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#StopChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#TagResource"
        },
        {
          "target": "com.amazonaws.mediatailor#UntagResource"
        },
        {
          "target": "com.amazonaws.mediatailor#UpdateChannel"
        },
        {
          "target": "com.amazonaws.mediatailor#UpdateSourceLocation"
        },
        {
          "target": "com.amazonaws.mediatailor#UpdateVodSource"
        }
      ],
      "traits": {
        "aws.api#service": {
          "sdkId": "MediaTailor",
          "arnNamespace": "mediatailor",
          "cloudFormationName": "MediaTailor",
          "cloudTrailEventSource": "mediatailor.amazonaws.com",
          "endpointPrefix": "api.mediatailor"
        },
        "aws.auth#sigv4": {
          "name": "mediatailor"
        },
        "aws.protocols#restJson1": {},
        "smithy.api#documentation": "<p>Use the AWS Elemental MediaTailor SDKs and CLI to configure scalable ad insertion and linear channels. With MediaTailor, you can assemble existing content into a linear stream and serve targeted ads to viewers while maintaining broadcast quality in over-the-top (OTT) video applications. For information about using the service, including detailed information about the settings covered in this guide, see the <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/\">AWS Elemental MediaTailor User Guide</a>.</p> <p>Through the SDKs and the CLI you manage AWS Elemental MediaTailor configurations and channels the same as you do through the console. For example, you specify ad insertion behavior and mapping information for the origin server and the ad decision server (ADS).</p>",
        "smithy.api#title": "AWS MediaTailor"
      }
    },
    "com.amazonaws.mediatailor#MessageType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SPLICE_INSERT",
            "name": "SPLICE_INSERT"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#Mode": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "OFF",
            "name": "OFF"
          },
          {
            "value": "BEHIND_LIVE_EDGE",
            "name": "BEHIND_LIVE_EDGE"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#OriginManifestType": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "SINGLE_PERIOD",
            "name": "SINGLE_PERIOD"
          },
          {
            "value": "MULTI_PERIOD",
            "name": "MULTI_PERIOD"
          }
        ]
      }
    },
    "com.amazonaws.mediatailor#PlaybackConfiguration": {
      "type": "structure",
      "members": {
        "AdDecisionServerUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for the ad decision server (ADS). This includes the specification of static parameters and placeholders for dynamic parameters. AWS Elemental MediaTailor substitutes player-specific and session-specific parameters as needed when calling the ADS. Alternately, for testing you can provide a static VAST URL. The maximum length is 25,000 characters.</p>"
          }
        },
        "AvailSuppression": {
          "target": "com.amazonaws.mediatailor#AvailSuppression",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
          }
        },
        "Bumper": {
          "target": "com.amazonaws.mediatailor#Bumper",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
          }
        },
        "CdnConfiguration": {
          "target": "com.amazonaws.mediatailor#CdnConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
          }
        },
        "ConfigurationAliases": {
          "target": "com.amazonaws.mediatailor#ConfigurationAliasesResponse",
          "traits": {
            "smithy.api#documentation": "<p>The player parameters and aliases used as dynamic variables during session initialization. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/variables-domain.html\">Domain Variables</a>.</p>"
          }
        },
        "DashConfiguration": {
          "target": "com.amazonaws.mediatailor#DashConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for a DASH source.</p>"
          }
        },
        "HlsConfiguration": {
          "target": "com.amazonaws.mediatailor#HlsConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for HLS content.</p>"
          }
        },
        "LivePreRollConfiguration": {
          "target": "com.amazonaws.mediatailor#LivePreRollConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for pre-roll ad insertion.</p>"
          }
        },
        "ManifestProcessingRules": {
          "target": "com.amazonaws.mediatailor#ManifestProcessingRules",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for manifest processing rules. Manifest processing rules enable customization of the personalized manifests created by MediaTailor.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the playback configuration.</p>"
          }
        },
        "PersonalizationThresholdSeconds": {
          "target": "com.amazonaws.mediatailor#__integerMin1",
          "traits": {
            "smithy.api#documentation": "<p>Defines the maximum duration of underfilled ad time (in seconds) allowed in an ad break. If the duration of underfilled ad time exceeds the personalization threshold, then the personalization of the ad break is abandoned and the underlying content is shown. This feature applies to <i>ad replacement</i> in live and VOD streams, rather than ad insertion, because it relies on an underlying content stream. For more information about ad break behavior, including ad replacement and insertion, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Behavior in AWS Elemental MediaTailor</a>.</p>"
          }
        },
        "PlaybackConfigurationArn": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) for the playback configuration.</p>"
          }
        },
        "PlaybackEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the player accesses to get a manifest from AWS Elemental MediaTailor.</p>"
          }
        },
        "SessionInitializationEndpointPrefix": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL that the player uses to initialize a session that uses client-side reporting.</p>"
          }
        },
        "SlateAdUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL for a video asset to transcode and use to fill in time that's not used by ads. AWS Elemental MediaTailor shows the slate to fill in gaps in media content. Configuring the slate is optional for non-VPAID playback configurations. For VPAID, the slate is required because MediaTailor provides it in the slots designated for dynamic ad content. The slate must be a high-quality asset that contains both audio and video.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediatailor#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "<p>The tags to assign to the playback configuration.</p>",
            "smithy.api#jsonName": "tags"
          }
        },
        "TranscodeProfileName": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The name that is used to associate this playback configuration with a custom transcode profile. This overrides the dynamic transcoding defaults of MediaTailor. Use this only if you have already set up custom profiles with the help of AWS Support.</p>"
          }
        },
        "VideoContentSourceUrl": {
          "target": "com.amazonaws.mediatailor#__string",
          "traits": {
            "smithy.api#documentation": "<p>The URL prefix for the parent manifest for the stream, minus the asset ID. The maximum length is 512 characters.</p>"
          }
        }
      },
      "traits": {
[...]
