{
  "smithy": "2.0",
  "shapes": {
    "com.amazonaws.mediapackagev2#AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Access is denied because either you don't have permissions to perform the requested operation or MediaPackage is getting throttling errors with CDN authorization. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide. Or, if you're using CDN authorization, you will receive this exception if MediaPackage receives a throttling error from Secrets Manager.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediapackagev2#AdMarkerDash": {
      "type": "enum",
      "members": {
        "BINARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BINARY"
          }
        },
        "XML": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XML"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#AdMarkerHls": {
      "type": "enum",
      "members": {
        "DATERANGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DATERANGE"
          }
        },
        "SCTE35_ENHANCED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCTE35_ENHANCED"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#CancelHarvestJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CancelHarvestJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CancelHarvestJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to cancel a harvest job on an endpoint",
        "smithy.api#documentation": "<p>Cancels an in-progress harvest job.</p>",
        "smithy.api#examples": [
          {
            "title": "Cancel a Harvest Job",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannelName",
              "OriginEndpointName": "exampleOriginEndpointName",
              "HarvestJobName": "HarvestJobName"
            },
            "output": {}
          }
        ],
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/harvestJob/{HarvestJobName}",
          "code": 200
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CancelHarvestJobRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel group containing the channel from which the harvest job is running.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel from which the harvest job is running.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the origin endpoint that the harvest job is harvesting from. This cannot be changed after the harvest job is submitted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "HarvestJobName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the harvest job to cancel. This name must be unique within the channel and cannot be changed after the harvest job is submitted.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.mediapackagev2#EntityTag",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current Entity Tag (ETag) associated with the harvest job. Used for concurrency control.</p>",
            "smithy.api#httpHeader": "x-amzn-update-if-match"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CancelHarvestJobResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CdnAuthConfiguration": {
      "type": "structure",
      "members": {
        "CdnIdentifierSecretArns": {
          "target": "com.amazonaws.mediapackagev2#CdnIdentifierSecretArns",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the secret in Secrets Manager that your CDN uses for authorization to access the endpoint.</p>",
            "smithy.api#length": {
              "min": 1
            },
            "smithy.api#required": {}
          }
        },
        "SecretsRoleArn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The ARN for the IAM role that gives MediaPackage read access to Secrets Manager and KMS for CDN authorization.</p>",
            "smithy.api#length": {
              "min": 20,
              "max": 2048
            },
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The settings to enable CDN authorization headers in MediaPackage.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CdnIdentifierSecretArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        }
      }
    },
    "com.amazonaws.mediapackagev2#CdnIdentifierSecretArns": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CdnIdentifierSecretArn"
      },
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 100
        }
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupListConfiguration": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the channel group.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroup"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannelGroup"
      },
      "update": {
        "target": "com.amazonaws.mediapackagev2#UpdateChannelGroup"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelGroup"
      },
      "list": {
        "target": "com.amazonaws.mediapackagev2#ListChannelGroups"
      },
      "resources": [
        {
          "target": "com.amazonaws.mediapackagev2#ChannelResource"
        },
        {
          "target": "com.amazonaws.mediapackagev2#HarvestJobResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "ChannelGroup"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "<p>Represents a channel group that facilitates the grouping of multiple channels.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelGroupsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#ChannelGroupListConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#ChannelListConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelListConfiguration": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Any descriptive information that you want to add to the channel for future identification purposes.</p>"
          }
        },
        "InputType": {
          "target": "com.amazonaws.mediapackagev2#InputType",
          "traits": {
            "smithy.api#documentation": "<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration of the channel.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelPolicyResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#PutChannelPolicy"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannelPolicy"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannelPolicy"
      },
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}/channel/{ChannelName}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "ChannelPolicy"
        },
        "smithy.api#documentation": "<p>Represents a resource-based policy that allows or denies access to a channel.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#ChannelResource": {
      "type": "resource",
      "identifiers": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName"
        }
      },
      "put": {
        "target": "com.amazonaws.mediapackagev2#CreateChannel"
      },
      "read": {
        "target": "com.amazonaws.mediapackagev2#GetChannel"
      },
      "update": {
        "target": "com.amazonaws.mediapackagev2#UpdateChannel"
      },
      "delete": {
        "target": "com.amazonaws.mediapackagev2#DeleteChannel"
      },
      "list": {
        "target": "com.amazonaws.mediapackagev2#ListChannels"
      },
      "operations": [
        {
          "target": "com.amazonaws.mediapackagev2#ResetChannelState"
        }
      ],
      "resources": [
        {
          "target": "com.amazonaws.mediapackagev2#ChannelPolicyResource"
        },
        {
          "target": "com.amazonaws.mediapackagev2#OriginEndpointResource"
        }
      ],
      "traits": {
        "aws.api#arn": {
          "template": "channelGroup/{ChannelGroupName}/channel/{ChannelName}"
        },
        "aws.cloudformation#cfnResource": {
          "name": "Channel"
        },
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "aws.iam#disableConditionKeyInference": {},
        "smithy.api#documentation": "<p>Represents an entry point into AWS Elemental MediaPackage for an ABR video content stream sent from an upstream encoder such as AWS Elemental MediaLive. The channel continuously analyzes the content that it receives and prepares it to be distributed to consumers via one or more origin endpoints.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CmafEncryptionMethod": {
      "type": "enum",
      "members": {
        "CENC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENC"
          }
        },
        "CBCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBCS"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "smithy.api#String"
        },
        "ConflictExceptionType": {
          "target": "com.amazonaws.mediapackagev2#ConflictExceptionType",
          "traits": {
            "smithy.api#documentation": "<p>The type of ConflictException.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Updating or deleting this resource can cause an inconsistent state.</p>",
        "smithy.api#error": "client",
        "smithy.api#httpError": 409
      }
    },
    "com.amazonaws.mediapackagev2#ConflictExceptionType": {
      "type": "enum",
      "members": {
        "RESOURCE_IN_USE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_IN_USE"
          }
        },
        "RESOURCE_ALREADY_EXISTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RESOURCE_ALREADY_EXISTS"
          }
        },
        "IDEMPOTENT_PARAMETER_MISMATCH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IDEMPOTENT_PARAMETER_MISMATCH"
          }
        },
        "CONFLICTING_OPERATION": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CONFLICTING_OPERATION"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#ContainerType": {
      "type": "enum",
      "members": {
        "TS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TS"
          }
        },
        "CMAF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CMAF"
          }
        },
        "ISM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ISM"
          }
        }
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannel": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a channel in a channel group",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>Create a channel to start receiving content streams. The channel represents the input to MediaPackage for incoming live content from an encoder such as AWS Elemental MediaLive. The channel receives content, and after packaging it, outputs it through an origin endpoint to downstream devices (such as video players or CDNs) that request the content. You can create only one channel with each request. We recommend that you spread out channels between channel groups, such as putting redundant channels in the same AWS Region in different channel groups.</p>",
        "smithy.api#examples": [
          {
            "title": "Creating a Channel",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "InputType": "HLS",
              "Description": "Description for exampleChannel",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "Description": "Description for exampleChannel",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "InputType": "HLS",
              "IngestEndpoints": [
                {
                  "Id": "1",
                  "Url": "https://abcde-1.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                },
                {
                  "Id": "2",
                  "Url": "https://abcde-2.ingest.vwxyz.mediapackagev2.us-west-2.amazonaws.com/v1/exampleChannelGroup/exampleChannel/index"
                }
              ],
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup/{ChannelGroupName}/channel"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateChannelGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a channel group",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>Create a channel group to group your channels and origin endpoints. A channel group is the top-level resource that consists of channels and origin endpoints that are associated with it and that provides predictable URLs for stream delivery. All channels and origin endpoints within the channel group are guaranteed to share the DNS. You can create only one channel group with each request. </p>",
        "smithy.api#examples": [
          {
            "title": "Creating a Channel Group",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "Description": "Description for exampleChannelGroup",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "Description": "Description for exampleChannelGroup",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup",
              "EgressDomain": "abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroupRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region. You can't use spaces in the name. You can't change the name after you create the channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the channel group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelGroupResponse": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "EgressDomain": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The output domain where the source stream should be sent. Integrate the egress domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel group was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "ETag": {
          "target": "com.amazonaws.mediapackagev2#EntityTag",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel group.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. You can't change the name after you create the channel.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "InputType": {
          "target": "com.amazonaws.mediapackagev2#InputType",
          "traits": {
            "smithy.api#documentation": "<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the channel.</p>"
          }
        },
        "InputSwitchConfiguration": {
          "target": "com.amazonaws.mediapackagev2#InputSwitchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for input switching based on the media quality confidence score (MQCS) as provided from AWS Elemental MediaLive. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
          }
        },
        "OutputHeaderConfiguration": {
          "target": "com.amazonaws.mediapackagev2#OutputHeaderConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The settings for what common media server data (CMSD) headers AWS Elemental MediaPackage includes in responses to the CDN. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
            "smithy.api#jsonName": "tags"
          }
        }
      },
      "traits": {
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateChannelResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) associated with the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelGroupName": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the channel was modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description for your channel.</p>"
          }
        },
        "IngestEndpoints": {
          "target": "com.amazonaws.mediapackagev2#IngestEndpointList"
        },
        "InputType": {
          "target": "com.amazonaws.mediapackagev2#InputType",
          "traits": {
            "smithy.api#documentation": "<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.mediapackagev2#EntityTag",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
          }
        },
        "InputSwitchConfiguration": {
          "target": "com.amazonaws.mediapackagev2#InputSwitchConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for input switching based on the media quality confidence score (MQCS) as provided from AWS Elemental MediaLive. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
          }
        },
        "OutputHeaderConfiguration": {
          "target": "com.amazonaws.mediapackagev2#OutputHeaderConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The settings for what common media server data (CMSD) headers AWS Elemental MediaPackage includes in responses to the CDN. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateDashManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>",
            "smithy.api#range": {
              "min": 30
            }
          }
        },
        "FilterConfiguration": {
          "target": "com.amazonaws.mediapackagev2#FilterConfiguration"
        },
        "MinUpdatePeriodSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Minimum amount of time (in seconds) that the player should wait before requesting updates to the manifest.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 3600
            }
          }
        },
        "MinBufferTimeSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Minimum amount of content (in seconds) that a player must keep available in the buffer.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 3600
            }
          }
        },
        "SuggestedPresentationDelaySeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The amount of time (in seconds) that the player should be from the end of the manifest.</p>",
            "smithy.api#range": {
              "min": 0,
              "max": 3600
            }
          }
        },
        "SegmentTemplateFormat": {
          "target": "com.amazonaws.mediapackagev2#DashSegmentTemplateFormat",
          "traits": {
            "smithy.api#documentation": "<p>Determines the type of variable used in the <code>media</code> URL of the <code>SegmentTemplate</code> tag in the manifest. Also specifies if segment timeline information is included in <code>SegmentTimeline</code> or <code>SegmentTemplate</code>.</p> <p>Value description:</p> <ul> <li> <p> <code>NUMBER_WITH_TIMELINE</code> - The <code>$Number$</code> variable is used in the <code>media</code> URL. The value of this variable is the sequential number of the segment. A full <code>SegmentTimeline</code> object is presented in each <code>SegmentTemplate</code>.</p> </li> </ul>"
          }
        },
        "PeriodTriggers": {
          "target": "com.amazonaws.mediapackagev2#DashPeriodTriggers",
          "traits": {
            "smithy.api#documentation": "<p>A list of triggers that controls when AWS Elemental MediaPackage separates the MPEG-DASH manifest into multiple periods. Type <code>ADS</code> to indicate that AWS Elemental MediaPackage must create periods in the output manifest that correspond to SCTE-35 ad markers in the input source. Leave this value empty to indicate that the manifest is contained all in one period. For more information about periods in the DASH manifest, see <a href=\"https://docs.aws.amazon.com/mediapackage/latest/userguide/multi-period.html\">Multi-period DASH in AWS Elemental MediaPackage</a>.</p>"
          }
        },
        "ScteDash": {
          "target": "com.amazonaws.mediapackagev2#ScteDash",
          "traits": {
            "smithy.api#documentation": "<p>The SCTE configuration.</p>"
          }
        },
        "DrmSignaling": {
          "target": "com.amazonaws.mediapackagev2#DashDrmSignaling",
          "traits": {
            "smithy.api#documentation": "<p>Determines how the DASH manifest signals the DRM content.</p>"
          }
        },
        "UtcTiming": {
          "target": "com.amazonaws.mediapackagev2#DashUtcTiming",
          "traits": {
            "smithy.api#documentation": "<p>Determines the type of UTC timing included in the DASH Media Presentation Description (MPD).</p>"
          }
        },
        "Profiles": {
          "target": "com.amazonaws.mediapackagev2#DashProfiles",
          "traits": {
            "smithy.api#documentation": "<p>The profile that the output is compliant with.</p>"
          }
        },
        "BaseUrls": {
          "target": "com.amazonaws.mediapackagev2#DashBaseUrls",
          "traits": {
            "smithy.api#documentation": "<p>The base URLs to use for retrieving segments.</p>"
          }
        },
        "ProgramInformation": {
          "target": "com.amazonaws.mediapackagev2#DashProgramInformation",
          "traits": {
            "smithy.api#documentation": "<p>Details about the content that you want MediaPackage to pass through in the manifest to the playback device.</p>"
          }
        },
        "DvbSettings": {
          "target": "com.amazonaws.mediapackagev2#DashDvbSettings",
          "traits": {
            "smithy.api#documentation": "<p>For endpoints that use the DVB-DASH profile only. The font download and error reporting information that you want MediaPackage to pass through to the manifest.</p>"
          }
        },
        "Compactness": {
          "target": "com.amazonaws.mediapackagev2#DashCompactness",
          "traits": {
            "smithy.api#documentation": "<p>The layout of the DASH manifest that MediaPackage produces. <code>STANDARD</code> indicates a default manifest, which is compacted. <code>NONE</code> indicates a full manifest.</p> <p>For information about compactness, see <a href=\"https://docs.aws.amazon.com/mediapackage/latest/userguide/compacted.html\">DASH manifest compactness</a> in the <i>Elemental MediaPackage v2 User Guide</i>.</p>"
          }
        },
        "SubtitleConfiguration": {
          "target": "com.amazonaws.mediapackagev2#DashSubtitleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for DASH subtitles.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Create a DASH manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateDashManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateDashManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateHarvestJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateHarvestJobRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateHarvestJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create a HarvestJob",
        "aws.iam#conditionKeys": ["aws:ResourceTag/${TagKey}"],
        "smithy.api#documentation": "<p>Creates a new harvest job to export content from a MediaPackage v2 channel to an S3 bucket.</p>",
        "smithy.api#examples": [
          {
            "title": "Creating a Harvest Job",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannelName",
              "OriginEndpointName": "exampleOriginEndpointName",
              "Description": "Example HarvestJob description",
              "HarvestedManifests": {
                "HlsManifests": [
                  {
                    "ManifestName": "HlsManifest"
                  }
                ],
                "DashManifests": [
                  {
                    "ManifestName": "DashManifest"
                  }
                ],
                "LowLatencyHlsManifests": [
                  {
                    "ManifestName": "LowLatencyHlsManifest"
                  }
                ]
              },
              "ScheduleConfiguration": {
                "StartTime": "2024-05-28T06:00:00.00Z",
                "EndTime": "2024-05-28T12:00:00.00Z"
              },
              "Destination": {
                "S3Destination": {
                  "BucketName": "harvestJobS3DestinationBucket",
                  "DestinationPath": "manifests"
                }
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannelName",
              "OriginEndpointName": "exampleOriginEndpointName",
              "Destination": {
                "S3Destination": {
                  "BucketName": "harvestJobS3DestinationBucket",
                  "DestinationPath": "manifests"
                }
              },
              "HarvestJobName": "HarvestJobName",
              "HarvestedManifests": {
                "HlsManifests": [
                  {
                    "ManifestName": "HlsManifest"
                  }
                ],
                "DashManifests": [
                  {
                    "ManifestName": "DashManifest"
                  }
                ],
                "LowLatencyHlsManifests": [
                  {
                    "ManifestName": "LowLatencyHlsManifest"
                  }
                ]
              },
              "Description": "Example HarvestJob description",
              "ScheduleConfiguration": {
                "StartTime": "2024-05-28T06:00:00.00Z",
                "EndTime": "2024-05-28T12:00:00.00Z"
              },
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannelName/originEndpoint/exampleOriginEndpointName/harvestJob/HarvestJobName",
              "CreatedAt": "2024-05-28T09:36:00.00Z",
              "ModifiedAt": "2024-05-28T09:36:00.00Z",
              "Status": "QUEUED",
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/harvestJob"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateHarvestJobRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel group containing the channel from which to harvest content.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel from which to harvest content.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the origin endpoint from which to harvest content.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>An optional description for the harvest job.</p>"
          }
        },
        "HarvestedManifests": {
          "target": "com.amazonaws.mediapackagev2#HarvestedManifests",
          "traits": {
            "smithy.api#documentation": "<p>A list of manifests to be harvested.</p>",
            "smithy.api#required": {}
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.mediapackagev2#HarvesterScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for when the harvest job should run, including start and end times.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediapackagev2#Destination",
          "traits": {
            "smithy.api#documentation": "<p>The S3 destination where the harvested content will be placed.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "HarvestJobName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>A name for the harvest job. This name must be unique within the channel.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A collection of tags associated with the harvest job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request object for creating a new harvest job.</p>",
        "smithy.api#input": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateHarvestJobResponse": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel group containing the channel from which content is being harvested.</p>",
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the channel from which content is being harvested.</p>",
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the origin endpoint from which content is being harvested.</p>",
            "smithy.api#required": {}
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediapackagev2#Destination",
          "traits": {
            "smithy.api#documentation": "<p>The S3 destination where the harvested content will be placed.</p>",
            "smithy.api#required": {}
          }
        },
        "HarvestJobName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the created harvest job.</p>",
            "smithy.api#required": {}
          }
        },
        "HarvestedManifests": {
          "target": "com.amazonaws.mediapackagev2#HarvestedManifests",
          "traits": {
            "smithy.api#documentation": "<p>A list of manifests that will be harvested.</p>",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>The description of the harvest job, if provided.</p>"
          }
        },
        "ScheduleConfiguration": {
          "target": "com.amazonaws.mediapackagev2#HarvesterScheduleConfiguration",
          "traits": {
            "smithy.api#documentation": "<p>The configuration for when the harvest job will run, including start and end times.</p>",
            "smithy.api#required": {}
          }
        },
        "Arn": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the created harvest job.</p>",
            "smithy.api#required": {}
          }
        },
        "CreatedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the harvest job was created.</p>",
            "smithy.api#required": {}
          }
        },
        "ModifiedAt": {
          "target": "smithy.api#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time the harvest job was last modified.</p>",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.mediapackagev2#HarvestJobStatus",
          "traits": {
            "smithy.api#documentation": "<p>The current status of the harvest job (e.g., CREATED, IN_PROGRESS, ABORTED, COMPLETED, FAILED).</p>",
            "smithy.api#required": {}
          }
        },
        "ErrorMessage": {
          "target": "smithy.api#String",
          "traits": {
            "smithy.api#documentation": "<p>An error message if the harvest job creation failed.</p>"
          }
        },
        "ETag": {
          "target": "com.amazonaws.mediapackagev2#EntityTag",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>The current version of the harvest job. Used for concurrency control.</p>"
          }
        },
        "Tags": {
          "target": "com.amazonaws.mediapackagev2#TagMap",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A collection of tags associated with the harvest job.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The response object returned after creating a harvest job.</p>",
        "smithy.api#output": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        },
        "StartTag": {
          "target": "com.amazonaws.mediapackagev2#StartTag"
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>",
            "smithy.api#range": {
              "min": 30
            }
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 1209600
            }
          }
        },
        "FilterConfiguration": {
          "target": "com.amazonaws.mediapackagev2#FilterConfiguration"
        },
        "UrlEncodeChildManifest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When enabled, MediaPackage URL-encodes the query string for API requests for HLS child manifests to comply with Amazon Web Services Signature Version 4 (SigV4) signature signing protocol. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature Version 4 for API requests</a> in <i>Identity and Access Management User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Create an HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>",
            "smithy.api#required": {}
          }
        },
        "ChildManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
          }
        },
        "ScteHls": {
          "target": "com.amazonaws.mediapackagev2#ScteHls"
        },
        "StartTag": {
          "target": "com.amazonaws.mediapackagev2#StartTag"
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest's content.</p>",
            "smithy.api#range": {
              "min": 30
            }
          }
        },
        "ProgramDateTimeIntervalSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>",
            "smithy.api#range": {
              "min": 1,
              "max": 1209600
            }
          }
        },
        "FilterConfiguration": {
          "target": "com.amazonaws.mediapackagev2#FilterConfiguration"
        },
        "UrlEncodeChildManifest": {
          "target": "smithy.api#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When enabled, MediaPackage URL-encodes the query string for API requests for LL-HLS child manifests to comply with Amazon Web Services Signature Version 4 (SigV4) signature signing protocol. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature Version 4 for API requests</a> in <i>Identity and Access Management User Guide</i>.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Create a low-latency HTTP live streaming (HLS) manifest configuration.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateMssManifestConfiguration": {
      "type": "structure",
      "members": {
        "ManifestName": {
          "target": "com.amazonaws.mediapackagev2#ManifestName",
          "traits": {
            "smithy.api#documentation": "<p>A short string that's appended to the endpoint URL to create a unique path to this MSS manifest. The manifest name must be unique within the origin endpoint and can contain letters, numbers, hyphens, and underscores.</p>",
            "smithy.api#required": {}
          }
        },
        "ManifestWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The total duration (in seconds) of the manifest window. This determines how much content is available in the manifest at any given time. The manifest window slides forward as new segments become available, maintaining a consistent duration of content. The minimum value is 30 seconds.</p>",
            "smithy.api#range": {
              "min": 30
            }
          }
        },
        "FilterConfiguration": {
          "target": "com.amazonaws.mediapackagev2#FilterConfiguration"
        },
        "ManifestLayout": {
          "target": "com.amazonaws.mediapackagev2#MssManifestLayout",
          "traits": {
            "smithy.api#documentation": "<p>Determines the layout format of the MSS manifest. This controls how the manifest is structured and presented to client players, affecting compatibility with different MSS-compatible devices and applications.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>Configuration parameters for creating a Microsoft Smooth Streaming (MSS) manifest. MSS is a streaming media format developed by Microsoft that delivers adaptive bitrate streaming content to compatible players and devices.</p>"
      }
    },
    "com.amazonaws.mediapackagev2#CreateMssManifests": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.mediapackagev2#CreateMssManifestConfiguration"
      }
    },
    "com.amazonaws.mediapackagev2#CreateOriginEndpoint": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediapackagev2#CreateOriginEndpointRequest"
      },
      "output": {
        "target": "com.amazonaws.mediapackagev2#CreateOriginEndpointResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediapackagev2#AccessDeniedException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ConflictException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#InternalServerException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ResourceNotFoundException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ServiceQuotaExceededException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ThrottlingException"
        },
        {
          "target": "com.amazonaws.mediapackagev2#ValidationException"
        }
      ],
      "traits": {
        "aws.iam#actionPermissionDescription": "Grants permission to create an origin endpoint for a channel",
        "aws.iam#conditionKeys": ["aws:TagKeys", "aws:RequestTag/${TagKey}"],
        "smithy.api#documentation": "<p>The endpoint is attached to a channel, and represents the output of the live content. You can associate multiple endpoints to a single channel. Each endpoint gives players and downstream CDNs (such as Amazon CloudFront) access to the content for playback. Content can't be served from a channel until it has an endpoint. You can create only one endpoint with each request. </p>",
        "smithy.api#examples": [
          {
            "title": "Creating an OriginEndpoint with container type TS, and encryption enabled",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointTS",
              "ContainerType": "TS",
              "Description": "Description for exampleOriginEndpointTS",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "TsUseAudioRenditionGroup": true,
                "IncludeIframeOnlyStreams": true,
                "TsIncludeDvbSubtitles": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B7E",
                  "EncryptionMethod": {
                    "TsEncryptionMethod": "AES_128"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["CLEAR_KEY_AES_128"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com",
                    "CertificateArn": "arn:aws:acm:us-west-2:123456789012:certificate/0c6a65f1-7bd3-48ac-be17-f38675def22e"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointTS",
              "Description": "Description for exampleOriginEndpointTS",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel/originEndpoint/exampleOriginEndpointTS",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ContainerType": "TS",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "TsUseAudioRenditionGroup": true,
                "IncludeIframeOnlyStreams": true,
                "TsIncludeDvbSubtitles": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B7E",
                  "EncryptionMethod": {
                    "TsEncryptionMethod": "AES_128"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["CLEAR_KEY_AES_128"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com",
                    "CertificateArn": "arn:aws:acm:us-west-2:123456789012:certificate/0c6a65f1-7bd3-48ac-be17-f38675def22e"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleManifest2.m3u8"
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleLLManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointTS/exampleLLManifest2.m3u8"
                }
              ],
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          },
          {
            "title": "Creating an OriginEndpoint with container type CMAF, and encryption enabled",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointCMAF",
              "ContainerType": "CMAF",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "IncludeIframeOnlyStreams": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B9F",
                  "EncryptionMethod": {
                    "CmafEncryptionMethod": "CBCS"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "PRESET_AUDIO_1",
                      "PresetSpeke20Video": "PRESET_VIDEO_1"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY", "WIDEVINE"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com",
                    "CertificateArn": "arn:aws:acm:us-west-2:123456789012:certificate/0c6a65f1-7bd3-48ac-be17-f38675def22e"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60
                }
              ],
              "DashManifests": [
                {
                  "ManifestName": "exampleDashManifest1",
                  "ManifestWindowSeconds": 300,
                  "MinUpdatePeriodSeconds": 5,
                  "MinBufferTimeSeconds": 30,
                  "SuggestedPresentationDelaySeconds": 2,
                  "SegmentTemplateFormat": "NUMBER_WITH_TIMELINE",
                  "PeriodTriggers": ["AVAILS"],
                  "ScteDash": {
                    "AdMarkerDash": "XML"
                  },
                  "DrmSignaling": "INDIVIDUAL",
                  "UtcTiming": {
                    "TimingMode": "HTTP_HEAD",
                    "TimingSource": "example"
                  },
                  "Profiles": ["DVB_DASH"],
                  "BaseUrls": [
                    {
                      "Url": "http://example.com/",
                      "ServiceLocation": "A",
                      "DvbPriority": 1,
                      "DvbWeight": 3
                    }
                  ],
                  "ProgramInformation": {
                    "Title": "exampleTitle",
                    "Source": "exampleSource",
                    "Copyright": "(c) Example. All rights reserved",
                    "LanguageCode": "en",
                    "MoreInformationUrl": "https://example.com/more-information"
                  },
                  "DvbSettings": {
                    "FontDownload": {
                      "Url": "https://example.com/fonts/SubtitleDisplay.woff",
                      "MimeType": "application/font",
                      "FontFamily": "SubtitleDisplay"
                    },
                    "ErrorMetrics": [
                      {
                        "ReportingUrl": "https://example.com/dvb-errors/errors",
                        "Probability": 500
                      }
                    ]
                  },
                  "Compactness": "STANDARD"
                },
                {
                  "ManifestName": "exampleDashManifest2",
                  "ManifestWindowSeconds": 60,
                  "MinUpdatePeriodSeconds": 3,
                  "MinBufferTimeSeconds": 9,
                  "SuggestedPresentationDelaySeconds": 12,
                  "SegmentTemplateFormat": "NUMBER_WITH_TIMELINE",
                  "PeriodTriggers": ["AVAILS", "DRM_KEY_ROTATION", "SOURCE_CHANGES", "SOURCE_DISRUPTIONS"],
                  "ScteDash": {
                    "AdMarkerDash": "XML"
                  },
                  "DrmSignaling": "INDIVIDUAL",
                  "UtcTiming": {
                    "TimingMode": "HTTP_HEAD",
                    "TimingSource": "example"
                  },
                  "Profiles": ["DVB_DASH"],
                  "BaseUrls": [
                    {
                      "Url": "http://example2.com/",
                      "ServiceLocation": "B",
                      "DvbPriority": 2,
                      "DvbWeight": 2
                    }
                  ],
                  "ProgramInformation": {
                    "Title": "exampleTitle2",
                    "Source": "exampleSource2",
                    "Copyright": "(c) Example. All rights reserved",
                    "LanguageCode": "en",
                    "MoreInformationUrl": "https://example2.com/more-information"
                  },
                  "DvbSettings": {
                    "FontDownload": {
                      "Url": "https://example.com/fonts/SubtitleDisplay.woff",
                      "MimeType": "application/font",
                      "FontFamily": "SubtitleDisplay"
                    },
                    "ErrorMetrics": [
                      {
                        "ReportingUrl": "https://example2.com/dvb-errors/errors",
                        "Probability": 600
                      }
                    ]
                  },
                  "Compactness": "STANDARD"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointCMAF",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel/originEndpoint/exampleOriginEndpointCMAF",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ContainerType": "CMAF",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 6,
                "SegmentName": "segmentName",
                "IncludeIframeOnlyStreams": true,
                "Scte": {
                  "ScteFilter": ["SPLICE_INSERT", "BREAK"]
                },
                "Encryption": {
                  "ConstantInitializationVector": "A382A901F3C1F7718512266CFFBB0B9F",
                  "EncryptionMethod": {
                    "CmafEncryptionMethod": "CBCS"
                  },
                  "KeyRotationIntervalSeconds": 300,
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "PRESET_AUDIO_1",
                      "PresetSpeke20Video": "PRESET_VIDEO_1"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY", "WIDEVINE"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://foo.com",
                    "CertificateArn": "arn:aws:acm:us-west-2:123456789012:certificate/0c6a65f1-7bd3-48ac-be17-f38675def22e"
                  }
                }
              },
              "HlsManifests": [
                {
                  "ManifestName": "exampleManifest1",
                  "ChildManifestName": "exampleChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleManifest2",
                  "ChildManifestName": "exampleManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleManifest2.m3u8"
                }
              ],
              "LowLatencyHlsManifests": [
                {
                  "ManifestName": "exampleLLManifest1",
                  "ChildManifestName": "exampleLLChildManifest1",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleLLManifest1.m3u8"
                },
                {
                  "ManifestName": "exampleLLManifest2",
                  "ChildManifestName": "exampleLLManifest2",
                  "ScteHls": {
                    "AdMarkerHls": "DATERANGE"
                  },
                  "ManifestWindowSeconds": 30,
                  "ProgramDateTimeIntervalSeconds": 60,
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleLLManifest2.m3u8"
                }
              ],
              "DashManifests": [
                {
                  "ManifestName": "exampleDashManifest1",
                  "ManifestWindowSeconds": 300,
                  "MinUpdatePeriodSeconds": 5,
                  "MinBufferTimeSeconds": 30,
                  "SuggestedPresentationDelaySeconds": 2,
                  "SegmentTemplateFormat": "NUMBER_WITH_TIMELINE",
                  "PeriodTriggers": ["AVAILS"],
                  "ScteDash": {
                    "AdMarkerDash": "XML"
                  },
                  "DrmSignaling": "INDIVIDUAL",
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleDashManifest1.mpd",
                  "UtcTiming": {
                    "TimingMode": "HTTP_HEAD",
                    "TimingSource": "example"
                  },
                  "Profiles": ["DVB_DASH"],
                  "BaseUrls": [
                    {
                      "Url": "http://example.com/",
                      "ServiceLocation": "A",
                      "DvbPriority": 1,
                      "DvbWeight": 3
                    }
                  ],
                  "ProgramInformation": {
                    "Title": "exampleTitle",
                    "Source": "exampleSource",
                    "Copyright": "(c) Example. All rights reserved",
                    "LanguageCode": "en",
                    "MoreInformationUrl": "https://example.com/more-information"
                  },
                  "DvbSettings": {
                    "FontDownload": {
                      "Url": "https://example.com/fonts/SubtitleDisplay.woff",
                      "MimeType": "application/font",
                      "FontFamily": "SubtitleDisplay"
                    },
                    "ErrorMetrics": [
                      {
                        "ReportingUrl": "https://example.com/dvb-errors/errors",
                        "Probability": 500
                      }
                    ]
                  },
                  "Compactness": "STANDARD"
                },
                {
                  "ManifestName": "exampleDashManifest2",
                  "ManifestWindowSeconds": 60,
                  "MinUpdatePeriodSeconds": 3,
                  "MinBufferTimeSeconds": 9,
                  "SuggestedPresentationDelaySeconds": 12,
                  "SegmentTemplateFormat": "NUMBER_WITH_TIMELINE",
                  "PeriodTriggers": ["AVAILS", "DRM_KEY_ROTATION", "SOURCE_CHANGES", "SOURCE_DISRUPTIONS"],
                  "ScteDash": {
                    "AdMarkerDash": "XML"
                  },
                  "DrmSignaling": "INDIVIDUAL",
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointCMAF/exampleDashManifest2.mpd",
                  "UtcTiming": {
                    "TimingMode": "HTTP_HEAD",
                    "TimingSource": "example"
                  },
                  "Profiles": ["DVB_DASH"],
                  "BaseUrls": [
                    {
                      "Url": "http://example2.com/",
                      "ServiceLocation": "B",
                      "DvbPriority": 2,
                      "DvbWeight": 2
                    }
                  ],
                  "ProgramInformation": {
                    "Title": "exampleTitle2",
                    "Source": "exampleSource2",
                    "Copyright": "(c) Example. All rights reserved",
                    "LanguageCode": "en",
                    "MoreInformationUrl": "https://example2.com/more-information"
                  },
                  "DvbSettings": {
                    "FontDownload": {
                      "Url": "https://example.com/fonts/SubtitleDisplay.woff",
                      "MimeType": "application/font",
                      "FontFamily": "SubtitleDisplay"
                    },
                    "ErrorMetrics": [
                      {
                        "ReportingUrl": "https://example2.com/dvb-errors/errors",
                        "Probability": 600
                      }
                    ]
                  },
                  "Compactness": "STANDARD"
                }
              ],
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          },
          {
            "title": "Creating an OriginEndpoint with container type ISM, and encryption enabled",
            "input": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointISM",
              "ContainerType": "ISM",
              "Description": "Description for exampleOriginEndpointISM",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 2,
                "SegmentName": "segmentName",
                "Encryption": {
                  "EncryptionMethod": {
                    "IsmEncryptionMethod": "CENC"
                  },
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://speke-key-provider.example.com"
                  }
                }
              },
              "MssManifests": [
                {
                  "ManifestName": "exampleMssManifest1",
                  "ManifestWindowSeconds": 60,
                  "ManifestLayout": "FULL"
                }
              ],
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            },
            "output": {
              "ChannelGroupName": "exampleChannelGroup",
              "ChannelName": "exampleChannel",
              "OriginEndpointName": "exampleOriginEndpointISM",
              "Description": "Description for exampleOriginEndpointISM",
              "Arn": "arn:aws:mediapackagev2:us-west-2:123456789012:channelGroup/exampleChannelGroup/channel/exampleChannel/originEndpoint/exampleOriginEndpointISM",
              "CreatedAt": "2022-10-18T09:36:00.00Z",
              "ModifiedAt": "2022-10-18T09:36:00.00Z",
              "ContainerType": "ISM",
              "StartoverWindowSeconds": 300,
              "ForceEndpointErrorConfiguration": {
                "EndpointErrorConditions": ["STALE_MANIFEST", "INCOMPLETE_MANIFEST", "MISSING_DRM_KEY", "SLATE_INPUT"]
              },
              "Segment": {
                "SegmentDurationSeconds": 2,
                "SegmentName": "segmentName",
                "Encryption": {
                  "EncryptionMethod": {
                    "IsmEncryptionMethod": "CENC"
                  },
                  "SpekeKeyProvider": {
                    "EncryptionContractConfiguration": {
                      "PresetSpeke20Audio": "SHARED",
                      "PresetSpeke20Video": "SHARED"
                    },
                    "ResourceId": "ResourceId",
                    "DrmSystems": ["PLAYREADY"],
                    "RoleArn": "arn:aws:iam::123456789012:role/empRole",
                    "Url": "https://speke-key-provider.example.com"
                  }
                }
              },
              "MssManifests": [
                {
                  "ManifestName": "exampleMssManifest1",
                  "ManifestWindowSeconds": 60,
                  "ManifestLayout": "FULL",
                  "Url": "https://abcde.egress.vwxyz.mediapackagev2.us-west-2.amazonaws.com/out/v1/exampleChannelGroup/exampleChannel/exampleOriginEndpointISM/exampleMssManifest1.ism/Manifest"
                }
              ],
              "ETag": "GlfT+dwAyGIR4wuy8nKWl1RDPwSrjQej9qUutLZxoxk=",
              "Tags": {
                "key1": "value1",
                "key2": "value2"
              }
            }
          }
        ],
        "smithy.api#http": {
          "method": "POST",
          "uri": "/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint"
        },
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.mediapackagev2#CreateOriginEndpointRequest": {
      "type": "structure",
      "members": {
        "ChannelGroupName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "ChannelName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "OriginEndpointName": {
          "target": "com.amazonaws.mediapackagev2#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and must be unique for your account in the AWS Region and channel. You can't use spaces in the name. You can't change the name after you create the endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "ContainerType": {
          "target": "com.amazonaws.mediapackagev2#ContainerType",
          "traits": {
            "smithy.api#documentation": "<p>The type of container to attach to this origin endpoint. A container type is a file format that encapsulates one or more media streams, such as audio and video, into a single file. You can't change the container type after you create the endpoint.</p>",
            "smithy.api#required": {}
          }
        },
        "Segment": {
          "target": "com.amazonaws.mediapackagev2#Segment",
          "traits": {
            "smithy.api#documentation": "<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.mediapackagev2#IdempotencyToken",
          "traits": {
            "smithy.api#documentation": "<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
            "smithy.api#httpHeader": "x-amzn-client-token",
            "smithy.api#idempotencyToken": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediapackagev2#ResourceDescription",
          "traits": {
            "smithy.api#documentation": "<p>Enter any descriptive text that helps you to identify the origin endpoint.</p>"
          }
        },
        "StartoverWindowSeconds": {
          "target": "smithy.api#Integer",
          "traits": {
            "smithy.api#documentation": "<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window. The maximum startover window is 1,209,600 seconds (14 days).</p>",
            "smithy.api#range": {
              "min": 60,
              "max": 1209600
            }
          }
        },
        "HlsManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateHlsManifests",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>An HTTP live streaming (HLS) manifest configuration.</p>"
          }
        },
        "LowLatencyHlsManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateLowLatencyHlsManifests",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A low-latency HLS manifest configuration.</p>"
          }
        },
        "DashManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateDashManifests",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A DASH manifest configuration.</p>"
          }
        },
        "MssManifests": {
          "target": "com.amazonaws.mediapackagev2#CreateMssManifests",
          "traits": {
            "aws.cloudformation#cfnExcludeProperty": {},
            "smithy.api#documentation": "<p>A list of Microsoft Smooth Streaming (MSS) manifest configurations for the origin endpoint. You can configure multiple MSS manifests to provide different streaming experiences or to support different client requirements.</p>"
          }
        },
[...]
