{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.medialive#AacCodingMode": {
      "type": "enum",
      "members": {
        "AD_RECEIVER_MIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_RECEIVER_MIX"
          }
        },
        "CODING_MODE_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_0"
          }
        },
        "CODING_MODE_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_1"
          }
        },
        "CODING_MODE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_2_0"
          }
        },
        "CODING_MODE_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_5_1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Coding Mode"
      }
    },
    "com.amazonaws.medialive#AacInputType": {
      "type": "enum",
      "members": {
        "BROADCASTER_MIXED_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROADCASTER_MIXED_AD"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Input Type"
      }
    },
    "com.amazonaws.medialive#AacProfile": {
      "type": "enum",
      "members": {
        "HEV1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEV1"
          }
        },
        "HEV2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEV2"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Profile"
      }
    },
    "com.amazonaws.medialive#AacRateControlMode": {
      "type": "enum",
      "members": {
        "CBR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBR"
          }
        },
        "VBR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VBR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Rate Control Mode"
      }
    },
    "com.amazonaws.medialive#AacRawFormat": {
      "type": "enum",
      "members": {
        "LATM_LOAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATM_LOAS"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Raw Format"
      }
    },
    "com.amazonaws.medialive#AacSettings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.medialive#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "InputType": {
          "target": "com.amazonaws.medialive#AacInputType",
          "traits": {
            "smithy.api#documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD.",
            "smithy.api#jsonName": "inputType"
          }
        },
        "Profile": {
          "target": "com.amazonaws.medialive#AacProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "profile"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.medialive#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "RawFormat": {
          "target": "com.amazonaws.medialive#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Sets LATM / LOAS AAC output for raw containers.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Spec": {
          "target": "com.amazonaws.medialive#AacSpec",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "spec"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.medialive#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rateControlMode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Settings"
      }
    },
    "com.amazonaws.medialive#AacSpec": {
      "type": "enum",
      "members": {
        "MPEG2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MPEG2"
          }
        },
        "MPEG4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MPEG4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Spec"
      }
    },
    "com.amazonaws.medialive#AacVbrQuality": {
      "type": "enum",
      "members": {
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_HIGH"
          }
        },
        "MEDIUM_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_LOW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Aac Vbr Quality"
      }
    },
    "com.amazonaws.medialive#Ac3BitstreamMode": {
      "type": "enum",
      "members": {
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMENTARY"
          }
        },
        "COMPLETE_MAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE_MAIN"
          }
        },
        "DIALOGUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIALOGUE"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        },
        "HEARING_IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEARING_IMPAIRED"
          }
        },
        "MUSIC_AND_EFFECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_AND_EFFECTS"
          }
        },
        "VISUALLY_IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISUALLY_IMPAIRED"
          }
        },
        "VOICE_OVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_OVER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Bitstream Mode"
      }
    },
    "com.amazonaws.medialive#Ac3CodingMode": {
      "type": "enum",
      "members": {
        "CODING_MODE_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_0"
          }
        },
        "CODING_MODE_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_1"
          }
        },
        "CODING_MODE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_2_0"
          }
        },
        "CODING_MODE_3_2_LFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_3_2_LFE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Coding Mode"
      }
    },
    "com.amazonaws.medialive#Ac3DrcProfile": {
      "type": "enum",
      "members": {
        "FILM_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_STANDARD"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Drc Profile"
      }
    },
    "com.amazonaws.medialive#Ac3LfeFilter": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Lfe Filter"
      }
    },
    "com.amazonaws.medialive#Ac3MetadataControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Metadata Control"
      }
    },
    "com.amazonaws.medialive#Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.medialive#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.medialive#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.medialive#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.medialive#__integerMin1Max31",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        },
        "DrcProfile": {
          "target": "com.amazonaws.medialive#Ac3DrcProfile",
          "traits": {
            "smithy.api#documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
            "smithy.api#jsonName": "drcProfile"
          }
        },
        "LfeFilter": {
          "target": "com.amazonaws.medialive#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.medialive#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ac3 Settings"
      }
    },
    "com.amazonaws.medialive#AcceptHeader": {
      "type": "enum",
      "members": {
        "image_jpeg": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "image/jpeg"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The HTTP Accept header. Indicates the requested type fothe thumbnail."
      }
    },
    "com.amazonaws.medialive#AcceptInputDeviceTransfer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#AcceptInputDeviceTransferRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#AcceptInputDeviceTransferResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Accept an incoming input device transfer. The ownership of the device will transfer to your AWS account.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/inputDevices/{InputDeviceId}/accept",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#AcceptInputDeviceTransferRequest": {
      "type": "structure",
      "members": {
        "InputDeviceId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID of the input device to accept. For example, hd-123456789abcdef.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for AcceptInputDeviceTransferRequest"
      }
    },
    "com.amazonaws.medialive#AcceptInputDeviceTransferResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for AcceptInputDeviceTransferResponse"
      }
    },
    "com.amazonaws.medialive#AccessibilityType": {
      "type": "enum",
      "members": {
        "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DOES_NOT_IMPLEMENT_ACCESSIBILITY_FEATURES"
          }
        },
        "IMPLEMENTS_ACCESSIBILITY_FEATURES": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IMPLEMENTS_ACCESSIBILITY_FEATURES"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accessibility Type"
      }
    },
    "com.amazonaws.medialive#AfdSignaling": {
      "type": "enum",
      "members": {
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Afd Signaling"
      }
    },
    "com.amazonaws.medialive#AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "SourceAncillaryChannelNumber": {
          "target": "com.amazonaws.medialive#__integerMin1Max4",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the number (1 to 4) of the captions channel you want to extract from the ancillary captions. If you plan to convert the ancillary captions to another format, complete this field. If you plan to choose Embedded as the captions destination in the output (to pass through all the channels in the ancillary captions), leave this field blank because MediaLive ignores the field.",
            "smithy.api#jsonName": "sourceAncillaryChannelNumber"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ancillary Source Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveCdnSettings": {
      "type": "structure",
      "members": {
        "ArchiveS3Settings": {
          "target": "com.amazonaws.medialive#ArchiveS3Settings",
          "traits": {
            "smithy.api#jsonName": "archiveS3Settings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Cdn Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveContainerSettings": {
      "type": "structure",
      "members": {
        "M2tsSettings": {
          "target": "com.amazonaws.medialive#M2tsSettings",
          "traits": {
            "smithy.api#jsonName": "m2tsSettings"
          }
        },
        "RawSettings": {
          "target": "com.amazonaws.medialive#RawSettings",
          "traits": {
            "smithy.api#jsonName": "rawSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Container Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveGroupSettings": {
      "type": "structure",
      "members": {
        "ArchiveCdnSettings": {
          "target": "com.amazonaws.medialive#ArchiveCdnSettings",
          "traits": {
            "smithy.api#documentation": "Parameters that control interactions with the CDN.",
            "smithy.api#jsonName": "archiveCdnSettings"
          }
        },
        "Destination": {
          "target": "com.amazonaws.medialive#OutputLocationRef",
          "traits": {
            "smithy.api#documentation": "A directory and base filename where archive files should be written.",
            "smithy.api#jsonName": "destination",
            "smithy.api#required": {}
          }
        },
        "RolloverInterval": {
          "target": "com.amazonaws.medialive#__integerMin1",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Number of seconds to write to archive file before closing and starting a new one.",
            "smithy.api#jsonName": "rolloverInterval"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Group Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveOutputSettings": {
      "type": "structure",
      "members": {
        "ContainerSettings": {
          "target": "com.amazonaws.medialive#ArchiveContainerSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to the container type of the file.",
            "smithy.api#jsonName": "containerSettings",
            "smithy.api#required": {}
          }
        },
        "Extension": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Output file extension. If excluded, this will be auto-selected from the container type.",
            "smithy.api#jsonName": "extension"
          }
        },
        "NameModifier": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.",
            "smithy.api#jsonName": "nameModifier"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive Output Settings"
      }
    },
    "com.amazonaws.medialive#ArchiveS3Settings": {
      "type": "structure",
      "members": {
        "CannedAcl": {
          "target": "com.amazonaws.medialive#S3CannedAcl",
          "traits": {
            "smithy.api#documentation": "Specify the canned ACL to apply to each S3 request. Defaults to none.",
            "smithy.api#jsonName": "cannedAcl"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Archive S3 Settings"
      }
    },
    "com.amazonaws.medialive#AribDestinationSettings": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Arib Destination Settings"
      }
    },
    "com.amazonaws.medialive#AribSourceSettings": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Arib Source Settings"
      }
    },
    "com.amazonaws.medialive#AudioChannelMapping": {
      "type": "structure",
      "members": {
        "InputChannelLevels": {
          "target": "com.amazonaws.medialive#__listOfInputChannelLevel",
          "traits": {
            "smithy.api#documentation": "Indices and gain values for each input channel that should be remixed into this output channel.",
            "smithy.api#jsonName": "inputChannelLevels",
            "smithy.api#required": {}
          }
        },
        "OutputChannel": {
          "target": "com.amazonaws.medialive#__integerMin0Max7",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The index of the output channel being produced.",
            "smithy.api#jsonName": "outputChannel",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Channel Mapping"
      }
    },
    "com.amazonaws.medialive#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "target": "com.amazonaws.medialive#AacSettings",
          "traits": {
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.medialive#Ac3Settings",
          "traits": {
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "Eac3AtmosSettings": {
          "target": "com.amazonaws.medialive#Eac3AtmosSettings",
          "traits": {
            "smithy.api#jsonName": "eac3AtmosSettings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.medialive#Eac3Settings",
          "traits": {
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.medialive#Mp2Settings",
          "traits": {
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "PassThroughSettings": {
          "target": "com.amazonaws.medialive#PassThroughSettings",
          "traits": {
            "smithy.api#jsonName": "passThroughSettings"
          }
        },
        "WavSettings": {
          "target": "com.amazonaws.medialive#WavSettings",
          "traits": {
            "smithy.api#jsonName": "wavSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Codec Settings"
      }
    },
    "com.amazonaws.medialive#AudioDescription": {
      "type": "structure",
      "members": {
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.medialive#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "AudioSelectorName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the AudioSelector used as the source for this AudioDescription.",
            "smithy.api#jsonName": "audioSelectorName",
            "smithy.api#required": {}
          }
        },
        "AudioType": {
          "target": "com.amazonaws.medialive#AudioType",
          "traits": {
            "smithy.api#documentation": "Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.medialive#AudioDescriptionAudioTypeControl",
          "traits": {
            "smithy.api#documentation": "Determines how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.\n  useConfigured: The value in Audio Type is included in the output.\nNote that this field and audioType are both ignored if inputType is broadcasterMixedAd.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "AudioWatermarkingSettings": {
          "target": "com.amazonaws.medialive#AudioWatermarkSettings",
          "traits": {
            "smithy.api#documentation": "Settings to configure one or more solutions that insert audio watermarks in the audio encode",
            "smithy.api#jsonName": "audioWatermarkingSettings"
          }
        },
        "CodecSettings": {
          "target": "com.amazonaws.medialive#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Audio codec settings.",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__stringMin1Max35",
          "traits": {
            "smithy.api#documentation": "RFC 5646 language code representing the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__stringMax255",
          "traits": {
            "smithy.api#documentation": "The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.medialive#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Settings that control how input audio channels are remixed into the output audio channels.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Description"
      }
    },
    "com.amazonaws.medialive#AudioDescriptionAudioTypeControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Description Audio Type Control"
      }
    },
    "com.amazonaws.medialive#AudioDescriptionLanguageCodeControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Description Language Code Control"
      }
    },
    "com.amazonaws.medialive#AudioDolbyEDecode": {
      "type": "structure",
      "members": {
        "ProgramSelection": {
          "target": "com.amazonaws.medialive#DolbyEProgramSelection",
          "traits": {
            "smithy.api#documentation": "Applies only to Dolby E. Enter the program ID (according to the metadata in the audio) of the Dolby E program to extract from the specified track. One program extracted per audio selector. To select multiple programs, create multiple selectors with the same Track and different Program numbers. “All channels” means to ignore the program IDs and include all the channels in this selector; useful if metadata is known to be incorrect.",
            "smithy.api#jsonName": "programSelection",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Dolby EDecode"
      }
    },
    "com.amazonaws.medialive#AudioHlsRenditionSelection": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specifies the GROUP-ID in the #EXT-X-MEDIA tag of the target HLS audio rendition.",
            "smithy.api#jsonName": "groupId",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Specifies the NAME in the #EXT-X-MEDIA tag of the target HLS audio rendition.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Hls Rendition Selection"
      }
    },
    "com.amazonaws.medialive#AudioLanguageSelection": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Selects a specific three-letter language code from within an audio source.",
            "smithy.api#jsonName": "languageCode",
            "smithy.api#required": {}
          }
        },
        "LanguageSelectionPolicy": {
          "target": "com.amazonaws.medialive#AudioLanguageSelectionPolicy",
          "traits": {
            "smithy.api#documentation": "When set to \"strict\", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If \"loose\", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can't find one with the same language.",
            "smithy.api#jsonName": "languageSelectionPolicy"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Language Selection"
      }
    },
    "com.amazonaws.medialive#AudioLanguageSelectionPolicy": {
      "type": "enum",
      "members": {
        "LOOSE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOOSE"
          }
        },
        "STRICT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "STRICT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Language Selection Policy"
      }
    },
    "com.amazonaws.medialive#AudioNormalizationAlgorithm": {
      "type": "enum",
      "members": {
        "ITU_1770_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_1770_1"
          }
        },
        "ITU_1770_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_1770_2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Normalization Algorithm"
      }
    },
    "com.amazonaws.medialive#AudioNormalizationAlgorithmControl": {
      "type": "enum",
      "members": {
        "CORRECT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRECT_AUDIO"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Normalization Algorithm Control"
      }
    },
    "com.amazonaws.medialive#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.medialive#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.medialive#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.medialive#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Normalization Settings"
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsSegmentType": {
      "type": "enum",
      "members": {
        "AAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAC"
          }
        },
        "FMP4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FMP4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Segment Type"
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsSettings": {
      "type": "structure",
      "members": {
        "AudioGroupId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Specifies the group to which the audio Rendition belongs.",
            "smithy.api#jsonName": "audioGroupId"
          }
        },
        "AudioOnlyImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Optional. Specifies the .jpg or .png image to use as the cover art for an audio-only output. We recommend a low bit-size file because the image increases the output audio bandwidth.\n\nThe image is attached to the audio as an ID3 tag, frame type APIC, picture type 0x10, as per the \"ID3 tag version 2.4.0 - Native Frames\" standard.",
            "smithy.api#jsonName": "audioOnlyImage"
          }
        },
        "AudioTrackType": {
          "target": "com.amazonaws.medialive#AudioOnlyHlsTrackType",
          "traits": {
            "smithy.api#documentation": "Four types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto Select, Default\nAlternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate Audio, Auto Select, Not Default\nAlternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO",
            "smithy.api#jsonName": "audioTrackType"
          }
        },
        "SegmentType": {
          "target": "com.amazonaws.medialive#AudioOnlyHlsSegmentType",
          "traits": {
            "smithy.api#documentation": "Specifies the segment type.",
            "smithy.api#jsonName": "segmentType"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Settings"
      }
    },
    "com.amazonaws.medialive#AudioOnlyHlsTrackType": {
      "type": "enum",
      "members": {
        "ALTERNATE_AUDIO_AUTO_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALTERNATE_AUDIO_AUTO_SELECT"
          }
        },
        "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT"
          }
        },
        "ALTERNATE_AUDIO_NOT_AUTO_SELECT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ALTERNATE_AUDIO_NOT_AUTO_SELECT"
          }
        },
        "AUDIO_ONLY_VARIANT_STREAM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUDIO_ONLY_VARIANT_STREAM"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Only Hls Track Type"
      }
    },
    "com.amazonaws.medialive#AudioPidSelection": {
      "type": "structure",
      "members": {
        "Pid": {
          "target": "com.amazonaws.medialive#__integerMin0Max8191",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Selects a specific PID from within a source.",
            "smithy.api#jsonName": "pid",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Pid Selection"
      }
    },
    "com.amazonaws.medialive#AudioSelector": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SelectorSettings": {
          "target": "com.amazonaws.medialive#AudioSelectorSettings",
          "traits": {
            "smithy.api#documentation": "The audio selector settings.",
            "smithy.api#jsonName": "selectorSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Selector"
      }
    },
    "com.amazonaws.medialive#AudioSelectorSettings": {
      "type": "structure",
      "members": {
        "AudioHlsRenditionSelection": {
          "target": "com.amazonaws.medialive#AudioHlsRenditionSelection",
          "traits": {
            "smithy.api#jsonName": "audioHlsRenditionSelection"
          }
        },
        "AudioLanguageSelection": {
          "target": "com.amazonaws.medialive#AudioLanguageSelection",
          "traits": {
            "smithy.api#jsonName": "audioLanguageSelection"
          }
        },
        "AudioPidSelection": {
          "target": "com.amazonaws.medialive#AudioPidSelection",
          "traits": {
            "smithy.api#jsonName": "audioPidSelection"
          }
        },
        "AudioTrackSelection": {
          "target": "com.amazonaws.medialive#AudioTrackSelection",
          "traits": {
            "smithy.api#jsonName": "audioTrackSelection"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Selector Settings"
      }
    },
    "com.amazonaws.medialive#AudioSilenceFailoverSettings": {
      "type": "structure",
      "members": {
        "AudioSelectorName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The name of the audio selector in the input that MediaLive should monitor to detect silence. Select your most important rendition. If you didn't create an audio selector in this input, leave blank.",
            "smithy.api#jsonName": "audioSelectorName",
            "smithy.api#required": {}
          }
        },
        "AudioSilenceThresholdMsec": {
          "target": "com.amazonaws.medialive#__integerMin1000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The amount of time (in milliseconds) that the active input must be silent before automatic input failover occurs. Silence is defined as audio loss or audio quieter than -50 dBFS.",
            "smithy.api#jsonName": "audioSilenceThresholdMsec"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for AudioSilenceFailoverSettings"
      }
    },
    "com.amazonaws.medialive#AudioTrack": {
      "type": "structure",
      "members": {
        "Track": {
          "target": "com.amazonaws.medialive#__integerMin1",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "1-based integer value that maps to a specific audio track",
            "smithy.api#jsonName": "track",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Track"
      }
    },
    "com.amazonaws.medialive#AudioTrackSelection": {
      "type": "structure",
      "members": {
        "Tracks": {
          "target": "com.amazonaws.medialive#__listOfAudioTrack",
          "traits": {
            "smithy.api#documentation": "Selects one or more unique audio tracks from within a source.",
            "smithy.api#jsonName": "tracks",
            "smithy.api#required": {}
          }
        },
        "DolbyEDecode": {
          "target": "com.amazonaws.medialive#AudioDolbyEDecode",
          "traits": {
            "smithy.api#documentation": "Configure decoding options for Dolby E streams - these should be Dolby E frames carried in PCM streams tagged with SMPTE-337",
            "smithy.api#jsonName": "dolbyEDecode"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Track Selection"
      }
    },
    "com.amazonaws.medialive#AudioType": {
      "type": "enum",
      "members": {
        "CLEAN_EFFECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CLEAN_EFFECTS"
          }
        },
        "HEARING_IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEARING_IMPAIRED"
          }
        },
        "UNDEFINED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UNDEFINED"
          }
        },
        "VISUAL_IMPAIRED_COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISUAL_IMPAIRED_COMMENTARY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Type"
      }
    },
    "com.amazonaws.medialive#AudioWatermarkSettings": {
      "type": "structure",
      "members": {
        "NielsenWatermarksSettings": {
          "target": "com.amazonaws.medialive#NielsenWatermarksSettings",
          "traits": {
            "smithy.api#documentation": "Settings to configure Nielsen Watermarks in the audio encode",
            "smithy.api#jsonName": "nielsenWatermarksSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Audio Watermark Settings"
      }
    },
    "com.amazonaws.medialive#AuthenticationScheme": {
      "type": "enum",
      "members": {
        "AKAMAI": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AKAMAI"
          }
        },
        "COMMON": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMON"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Authentication Scheme"
      }
    },
    "com.amazonaws.medialive#AutomaticInputFailoverSettings": {
      "type": "structure",
      "members": {
        "ErrorClearTimeMsec": {
          "target": "com.amazonaws.medialive#__integerMin1",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "This clear time defines the requirement a recovered input must meet to be considered healthy. The input must have no failover conditions for this length of time. Enter a time in milliseconds. This value is particularly important if the input_preference for the failover pair is set to PRIMARY_INPUT_PREFERRED, because after this time, MediaLive will switch back to the primary input.",
            "smithy.api#jsonName": "errorClearTimeMsec"
          }
        },
        "FailoverConditions": {
          "target": "com.amazonaws.medialive#__listOfFailoverCondition",
          "traits": {
            "smithy.api#documentation": "A list of failover conditions. If any of these conditions occur, MediaLive will perform a failover to the other input.",
            "smithy.api#jsonName": "failoverConditions"
          }
        },
        "InputPreference": {
          "target": "com.amazonaws.medialive#InputPreference",
          "traits": {
            "smithy.api#documentation": "Input preference when deciding which input to make active when a previously failed input has recovered.",
            "smithy.api#jsonName": "inputPreference"
          }
        },
        "SecondaryInputId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The input ID of the secondary input in the automatic input failover pair.",
            "smithy.api#jsonName": "secondaryInputId",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for Automatic Input Failover."
      }
    },
    "com.amazonaws.medialive#AvailBlanking": {
      "type": "structure",
      "members": {
        "AvailBlankingImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "availBlankingImage"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#AvailBlankingState",
          "traits": {
            "smithy.api#documentation": "When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Blanking"
      }
    },
    "com.amazonaws.medialive#AvailBlankingState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Blanking State"
      }
    },
    "com.amazonaws.medialive#AvailConfiguration": {
      "type": "structure",
      "members": {
        "AvailSettings": {
          "target": "com.amazonaws.medialive#AvailSettings",
          "traits": {
            "smithy.api#documentation": "Ad avail settings.",
            "smithy.api#jsonName": "availSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Configuration"
      }
    },
    "com.amazonaws.medialive#AvailSettings": {
      "type": "structure",
      "members": {
        "Esam": {
          "target": "com.amazonaws.medialive#Esam",
          "traits": {
            "smithy.api#jsonName": "esam"
          }
        },
        "Scte35SpliceInsert": {
          "target": "com.amazonaws.medialive#Scte35SpliceInsert",
          "traits": {
            "smithy.api#jsonName": "scte35SpliceInsert"
          }
        },
        "Scte35TimeSignalApos": {
          "target": "com.amazonaws.medialive#Scte35TimeSignalApos",
          "traits": {
            "smithy.api#jsonName": "scte35TimeSignalApos"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Avail Settings"
      }
    },
    "com.amazonaws.medialive#BadGatewayException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BadGatewayException",
        "smithy.api#error": "server",
        "smithy.api#httpError": 502
      }
    },
    "com.amazonaws.medialive#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BadRequestException",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.medialive#BatchDelete": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#BatchDeleteRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#BatchDeleteResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Starts delete of resources.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/batch/delete",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#BatchDeleteRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of channel IDs",
            "smithy.api#jsonName": "channelIds"
          }
        },
        "InputIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of input IDs",
            "smithy.api#jsonName": "inputIds"
          }
        },
        "InputSecurityGroupIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of input security group IDs",
            "smithy.api#jsonName": "inputSecurityGroupIds"
          }
        },
        "MultiplexIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of multiplex IDs",
            "smithy.api#jsonName": "multiplexIds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to delete resources"
      }
    },
    "com.amazonaws.medialive#BatchDeleteResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "target": "com.amazonaws.medialive#__listOfBatchFailedResultModel",
          "traits": {
            "smithy.api#documentation": "List of failed operations",
            "smithy.api#jsonName": "failed"
          }
        },
        "Successful": {
          "target": "com.amazonaws.medialive#__listOfBatchSuccessfulResultModel",
          "traits": {
            "smithy.api#documentation": "List of successful operations",
            "smithy.api#jsonName": "successful"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BatchDeleteResponse"
      }
    },
    "com.amazonaws.medialive#BatchFailedResultModel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the resource",
            "smithy.api#jsonName": "arn"
          }
        },
        "Code": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Error code for the failed operation",
            "smithy.api#jsonName": "code"
          }
        },
        "Id": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ID of the resource",
            "smithy.api#jsonName": "id"
          }
        },
        "Message": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Error message for the failed operation",
            "smithy.api#jsonName": "message"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details from a failed operation"
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionCreateRequest": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "A list of schedule actions to create.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of schedule actions to create (in a request) or that have been created (in a response)."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionCreateResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "List of actions that have been created in the schedule.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions that have been created in the schedule."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionDeleteRequest": {
      "type": "structure",
      "members": {
        "ActionNames": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "A list of schedule actions to delete.",
            "smithy.api#jsonName": "actionNames",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A list of schedule actions to delete."
      }
    },
    "com.amazonaws.medialive#BatchScheduleActionDeleteResult": {
      "type": "structure",
      "members": {
        "ScheduleActions": {
          "target": "com.amazonaws.medialive#__listOfScheduleAction",
          "traits": {
            "smithy.api#documentation": "List of actions that have been deleted from the schedule.",
            "smithy.api#jsonName": "scheduleActions",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions that have been deleted from the schedule."
      }
    },
    "com.amazonaws.medialive#BatchStart": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#BatchStartRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#BatchStartResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Starts existing resources",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/batch/start",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#BatchStartRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of channel IDs",
            "smithy.api#jsonName": "channelIds"
          }
        },
        "MultiplexIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of multiplex IDs",
            "smithy.api#jsonName": "multiplexIds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to start resources"
      }
    },
    "com.amazonaws.medialive#BatchStartResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "target": "com.amazonaws.medialive#__listOfBatchFailedResultModel",
          "traits": {
            "smithy.api#documentation": "List of failed operations",
            "smithy.api#jsonName": "failed"
          }
        },
        "Successful": {
          "target": "com.amazonaws.medialive#__listOfBatchSuccessfulResultModel",
          "traits": {
            "smithy.api#documentation": "List of successful operations",
            "smithy.api#jsonName": "successful"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BatchStartResponse"
      }
    },
    "com.amazonaws.medialive#BatchStop": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#BatchStopRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#BatchStopResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Stops running resources",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/batch/stop",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#BatchStopRequest": {
      "type": "structure",
      "members": {
        "ChannelIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of channel IDs",
            "smithy.api#jsonName": "channelIds"
          }
        },
        "MultiplexIds": {
          "target": "com.amazonaws.medialive#__listOf__string",
          "traits": {
            "smithy.api#documentation": "List of multiplex IDs",
            "smithy.api#jsonName": "multiplexIds"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to stop resources"
      }
    },
    "com.amazonaws.medialive#BatchStopResponse": {
      "type": "structure",
      "members": {
        "Failed": {
          "target": "com.amazonaws.medialive#__listOfBatchFailedResultModel",
          "traits": {
            "smithy.api#documentation": "List of failed operations",
            "smithy.api#jsonName": "failed"
          }
        },
        "Successful": {
          "target": "com.amazonaws.medialive#__listOfBatchSuccessfulResultModel",
          "traits": {
            "smithy.api#documentation": "List of successful operations",
            "smithy.api#jsonName": "successful"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BatchStopResponse"
      }
    },
    "com.amazonaws.medialive#BatchSuccessfulResultModel": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ARN of the resource",
            "smithy.api#jsonName": "arn"
          }
        },
        "Id": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ID of the resource",
            "smithy.api#jsonName": "id"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Current state of the resource",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Details from a successful operation"
      }
    },
    "com.amazonaws.medialive#BatchUpdateSchedule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#BatchUpdateScheduleRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#BatchUpdateScheduleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Update a channel schedule",
        "smithy.api#http": {
          "method": "PUT",
          "uri": "/prod/channels/{ChannelId}/schedule",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#BatchUpdateScheduleRequest": {
      "type": "structure",
      "members": {
        "ChannelId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Id of the channel whose schedule is being updated.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        },
        "Creates": {
          "target": "com.amazonaws.medialive#BatchScheduleActionCreateRequest",
          "traits": {
            "smithy.api#documentation": "Schedule actions to create in the schedule.",
            "smithy.api#jsonName": "creates"
          }
        },
        "Deletes": {
          "target": "com.amazonaws.medialive#BatchScheduleActionDeleteRequest",
          "traits": {
            "smithy.api#documentation": "Schedule actions to delete from the schedule.",
            "smithy.api#jsonName": "deletes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "List of actions to create and list of actions to delete."
      }
    },
    "com.amazonaws.medialive#BatchUpdateScheduleResponse": {
      "type": "structure",
      "members": {
        "Creates": {
          "target": "com.amazonaws.medialive#BatchScheduleActionCreateResult",
          "traits": {
            "smithy.api#documentation": "Schedule actions created in the schedule.",
            "smithy.api#jsonName": "creates"
          }
        },
        "Deletes": {
          "target": "com.amazonaws.medialive#BatchScheduleActionDeleteResult",
          "traits": {
            "smithy.api#documentation": "Schedule actions deleted from the schedule.",
            "smithy.api#jsonName": "deletes"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for BatchUpdateScheduleResponse"
      }
    },
    "com.amazonaws.medialive#BlackoutSlate": {
      "type": "structure",
      "members": {
        "BlackoutSlateImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported.",
            "smithy.api#jsonName": "blackoutSlateImage"
          }
        },
        "NetworkEndBlackout": {
          "target": "com.amazonaws.medialive#BlackoutSlateNetworkEndBlackout",
          "traits": {
            "smithy.api#documentation": "Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the \"Network Blackout Image\" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in \"Network ID\".",
            "smithy.api#jsonName": "networkEndBlackout"
          }
        },
        "NetworkEndBlackoutImage": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster.",
            "smithy.api#jsonName": "networkEndBlackoutImage"
          }
        },
        "NetworkId": {
          "target": "com.amazonaws.medialive#__stringMin34Max34",
          "traits": {
            "smithy.api#documentation": "Provides Network ID that matches EIDR ID format (e.g., \"10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C\").",
            "smithy.api#jsonName": "networkId"
          }
        },
        "State": {
          "target": "com.amazonaws.medialive#BlackoutSlateState",
          "traits": {
            "smithy.api#documentation": "When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata.",
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blackout Slate"
      }
    },
    "com.amazonaws.medialive#BlackoutSlateNetworkEndBlackout": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blackout Slate Network End Blackout"
      }
    },
    "com.amazonaws.medialive#BlackoutSlateState": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Blackout Slate State"
      }
    },
    "com.amazonaws.medialive#BurnInAlignment": {
      "type": "enum",
      "members": {
        "CENTERED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CENTERED"
          }
        },
        "LEFT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LEFT"
          }
        },
        "SMART": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SMART"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Alignment"
      }
    },
    "com.amazonaws.medialive#BurnInBackgroundColor": {
      "type": "enum",
      "members": {
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Background Color"
      }
    },
    "com.amazonaws.medialive#BurnInDestinationSettings": {
      "type": "structure",
      "members": {
        "Alignment": {
          "target": "com.amazonaws.medialive#BurnInAlignment",
          "traits": {
            "smithy.api#documentation": "If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting \"smart\" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "alignment"
          }
        },
        "BackgroundColor": {
          "target": "com.amazonaws.medialive#BurnInBackgroundColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundColor"
          }
        },
        "BackgroundOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "backgroundOpacity"
          }
        },
        "Font": {
          "target": "com.amazonaws.medialive#InputLocation",
          "traits": {
            "smithy.api#documentation": "External font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "font"
          }
        },
        "FontColor": {
          "target": "com.amazonaws.medialive#BurnInFontColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontColor"
          }
        },
        "FontOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontOpacity"
          }
        },
        "FontResolution": {
          "target": "com.amazonaws.medialive#__integerMin96Max600",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontResolution"
          }
        },
        "FontSize": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "fontSize"
          }
        },
        "OutlineColor": {
          "target": "com.amazonaws.medialive#BurnInOutlineColor",
          "traits": {
            "smithy.api#documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineColor"
          }
        },
        "OutlineSize": {
          "target": "com.amazonaws.medialive#__integerMin0Max10",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "outlineSize"
          }
        },
        "ShadowColor": {
          "target": "com.amazonaws.medialive#BurnInShadowColor",
          "traits": {
            "smithy.api#documentation": "Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowColor"
          }
        },
        "ShadowOpacity": {
          "target": "com.amazonaws.medialive#__integerMin0Max255",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowOpacity"
          }
        },
        "ShadowXOffset": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowXOffset"
          }
        },
        "ShadowYOffset": {
          "target": "com.amazonaws.medialive#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "shadowYOffset"
          }
        },
        "TeletextGridControl": {
          "target": "com.amazonaws.medialive#BurnInTeletextGridControl",
          "traits": {
            "smithy.api#documentation": "Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.",
            "smithy.api#jsonName": "teletextGridControl"
          }
        },
        "XPosition": {
          "target": "com.amazonaws.medialive#__integerMin0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "xPosition"
          }
        },
        "YPosition": {
          "target": "com.amazonaws.medialive#__integerMin0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match.",
            "smithy.api#jsonName": "yPosition"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Destination Settings"
      }
    },
    "com.amazonaws.medialive#BurnInFontColor": {
      "type": "enum",
      "members": {
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLUE"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RED"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YELLOW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Font Color"
      }
    },
    "com.amazonaws.medialive#BurnInOutlineColor": {
      "type": "enum",
      "members": {
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK"
          }
        },
        "BLUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLUE"
          }
        },
        "GREEN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "GREEN"
          }
        },
        "RED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RED"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        },
        "YELLOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "YELLOW"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Outline Color"
      }
    },
    "com.amazonaws.medialive#BurnInShadowColor": {
      "type": "enum",
      "members": {
        "BLACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BLACK"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "WHITE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WHITE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Shadow Color"
      }
    },
    "com.amazonaws.medialive#BurnInTeletextGridControl": {
      "type": "enum",
      "members": {
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        },
        "SCALED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SCALED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Burn In Teletext Grid Control"
      }
    },
    "com.amazonaws.medialive#CancelInputDeviceTransfer": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.medialive#CancelInputDeviceTransferRequest"
      },
      "output": {
        "target": "com.amazonaws.medialive#CancelInputDeviceTransferResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.medialive#BadGatewayException"
        },
        {
          "target": "com.amazonaws.medialive#BadRequestException"
        },
        {
          "target": "com.amazonaws.medialive#ConflictException"
        },
        {
          "target": "com.amazonaws.medialive#ForbiddenException"
        },
        {
          "target": "com.amazonaws.medialive#GatewayTimeoutException"
        },
        {
          "target": "com.amazonaws.medialive#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.medialive#NotFoundException"
        },
        {
          "target": "com.amazonaws.medialive#TooManyRequestsException"
        },
        {
          "target": "com.amazonaws.medialive#UnprocessableEntityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Cancel an input device transfer that you have requested.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/prod/inputDevices/{InputDeviceId}/cancel",
          "code": 200
        }
      }
    },
    "com.amazonaws.medialive#CancelInputDeviceTransferRequest": {
      "type": "structure",
      "members": {
        "InputDeviceId": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "The unique ID of the input device to cancel. For example, hd-123456789abcdef.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CancelInputDeviceTransferRequest"
      }
    },
    "com.amazonaws.medialive#CancelInputDeviceTransferResponse": {
      "type": "structure",
      "members": {},
      "traits": {
        "smithy.api#documentation": "Placeholder documentation for CancelInputDeviceTransferResponse"
      }
    },
    "com.amazonaws.medialive#CaptionDescription": {
      "type": "structure",
      "members": {
        "Accessibility": {
          "target": "com.amazonaws.medialive#AccessibilityType",
          "traits": {
            "smithy.api#documentation": "Indicates whether the caption track implements accessibility features such as written descriptions of spoken dialog, music, and sounds.",
            "smithy.api#jsonName": "accessibility"
          }
        },
        "CaptionSelectorName": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which input caption selector to use as a caption source when generating output captions. This field should match a captionSelector name.",
            "smithy.api#jsonName": "captionSelectorName",
            "smithy.api#required": {}
          }
        },
        "DestinationSettings": {
          "target": "com.amazonaws.medialive#CaptionDestinationSettings",
          "traits": {
            "smithy.api#documentation": "Additional settings for captions destination that depend on the destination type.",
            "smithy.api#jsonName": "destinationSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "ISO 639-2 three-digit code: http://www.loc.gov/standards/iso639-2/",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Human readable information to indicate captions available for players (eg. English, or Spanish).",
            "smithy.api#jsonName": "languageDescription"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "Name of the caption description.  Used to associate a caption description with an output.  Names must be unique within an event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Description"
      }
    },
    "com.amazonaws.medialive#CaptionDestinationSettings": {
      "type": "structure",
      "members": {
        "AribDestinationSettings": {
          "target": "com.amazonaws.medialive#AribDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "aribDestinationSettings"
          }
        },
        "BurnInDestinationSettings": {
          "target": "com.amazonaws.medialive#BurnInDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "burnInDestinationSettings"
          }
        },
        "DvbSubDestinationSettings": {
          "target": "com.amazonaws.medialive#DvbSubDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "dvbSubDestinationSettings"
          }
        },
        "EbuTtDDestinationSettings": {
          "target": "com.amazonaws.medialive#EbuTtDDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "ebuTtDDestinationSettings"
          }
        },
        "EmbeddedDestinationSettings": {
          "target": "com.amazonaws.medialive#EmbeddedDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "embeddedDestinationSettings"
          }
        },
        "EmbeddedPlusScte20DestinationSettings": {
          "target": "com.amazonaws.medialive#EmbeddedPlusScte20DestinationSettings",
          "traits": {
            "smithy.api#jsonName": "embeddedPlusScte20DestinationSettings"
          }
        },
        "RtmpCaptionInfoDestinationSettings": {
          "target": "com.amazonaws.medialive#RtmpCaptionInfoDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "rtmpCaptionInfoDestinationSettings"
          }
        },
        "Scte20PlusEmbeddedDestinationSettings": {
          "target": "com.amazonaws.medialive#Scte20PlusEmbeddedDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "scte20PlusEmbeddedDestinationSettings"
          }
        },
        "Scte27DestinationSettings": {
          "target": "com.amazonaws.medialive#Scte27DestinationSettings",
          "traits": {
            "smithy.api#jsonName": "scte27DestinationSettings"
          }
        },
        "SmpteTtDestinationSettings": {
          "target": "com.amazonaws.medialive#SmpteTtDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "smpteTtDestinationSettings"
          }
        },
        "TeletextDestinationSettings": {
          "target": "com.amazonaws.medialive#TeletextDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "teletextDestinationSettings"
          }
        },
        "TtmlDestinationSettings": {
          "target": "com.amazonaws.medialive#TtmlDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "ttmlDestinationSettings"
          }
        },
        "WebvttDestinationSettings": {
          "target": "com.amazonaws.medialive#WebvttDestinationSettings",
          "traits": {
            "smithy.api#jsonName": "webvttDestinationSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Destination Settings"
      }
    },
    "com.amazonaws.medialive#CaptionLanguageMapping": {
      "type": "structure",
      "members": {
        "CaptionChannel": {
          "target": "com.amazonaws.medialive#__integerMin1Max4",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The closed caption channel being described by this CaptionLanguageMapping.  Each channel mapping must have a unique channel number (maximum of 4)",
            "smithy.api#jsonName": "captionChannel",
            "smithy.api#required": {}
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__stringMin3Max3",
          "traits": {
            "smithy.api#documentation": "Three character ISO 639-2 language code (see http://www.loc.gov/standards/iso639-2)",
            "smithy.api#jsonName": "languageCode",
            "smithy.api#required": {}
          }
        },
        "LanguageDescription": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Textual description of language",
            "smithy.api#jsonName": "languageDescription",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Maps a caption channel to an ISO 693-2 language code (http://www.loc.gov/standards/iso639-2), with an optional description."
      }
    },
    "com.amazonaws.medialive#CaptionRectangle": {
      "type": "structure",
      "members": {
        "Height": {
          "target": "com.amazonaws.medialive#__doubleMin0Max100",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "See the description in leftOffset.\nFor height, specify the entire height of the rectangle as a percentage of the underlying frame height. For example, \\\"80\\\" means the rectangle height is 80% of the underlying frame height. The topOffset and rectangleHeight must add up to 100% or less.\nThis field corresponds to tts:extent - Y in the TTML standard.",
            "smithy.api#jsonName": "height",
            "smithy.api#required": {}
          }
        },
        "LeftOffset": {
          "target": "com.amazonaws.medialive#__doubleMin0Max100",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Applies only if you plan to convert these source captions to EBU-TT-D or TTML in an output. (Make sure to leave the default if you don't have either of these formats in the output.) You can define a display rectangle for the captions that is smaller than the underlying video frame. You define the rectangle by specifying the position of the left edge, top edge, bottom edge, and right edge of the rectangle, all within the underlying video frame. The units for the measurements are percentages.\nIf you specify a value for one of these fields, you must specify a value for all of them.\nFor leftOffset, specify the position of the left edge of the rectangle, as a percentage of the underlying frame width, and relative to the left edge of the frame. For example, \\\"10\\\" means the measurement is 10% of the underlying frame width. The rectangle left edge starts at that position from the left edge of the frame.\nThis field corresponds to tts:origin - X in the TTML standard.",
            "smithy.api#jsonName": "leftOffset",
            "smithy.api#required": {}
          }
        },
        "TopOffset": {
          "target": "com.amazonaws.medialive#__doubleMin0Max100",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "See the description in leftOffset.\nFor topOffset, specify the position of the top edge of the rectangle, as a percentage of the underlying frame height, and relative to the top edge of the frame. For example, \\\"10\\\" means the measurement is 10% of the underlying frame height. The rectangle top edge starts at that position from the top edge of the frame.\nThis field corresponds to tts:origin - Y in the TTML standard.",
            "smithy.api#jsonName": "topOffset",
            "smithy.api#required": {}
          }
        },
        "Width": {
          "target": "com.amazonaws.medialive#__doubleMin0Max100",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "See the description in leftOffset.\nFor width, specify the entire width of the rectangle as a percentage of the underlying frame width. For example, \\\"80\\\" means the rectangle width is 80% of the underlying frame width. The leftOffset and rectangleWidth must add up to 100% or less.\nThis field corresponds to tts:extent - X in the TTML standard.",
            "smithy.api#jsonName": "width",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Caption Rectangle"
      }
    },
    "com.amazonaws.medialive#CaptionSelector": {
      "type": "structure",
      "members": {
        "LanguageCode": {
          "target": "com.amazonaws.medialive#__string",
          "traits": {
            "smithy.api#documentation": "When specified this field indicates the three letter language code of the caption track to extract from the source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Name": {
          "target": "com.amazonaws.medialive#__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name identifier for a caption selector.  This name is used to associate this caption selector with one or more caption descriptions.  Names must be unique within an event.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SelectorSettings": {
          "target": "com.amazonaws.medialive#CaptionSelectorSettings",
          "traits": {
            "smithy.api#documentation": "Caption selector settings.",
            "smithy.api#jsonName": "selectorSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Output groups for this Live Event. Output groups contain information about where streams should be distributed."
      }
    },
[...]
