{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix": {
      "type": "enum",
      "members": {
        "BROADCASTER_MIXED_AD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BROADCASTER_MIXED_AD"
          }
        },
        "NORMAL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NORMAL"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType."
      }
    },
    "com.amazonaws.mediaconvert#AacCodecProfile": {
      "type": "enum",
      "members": {
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "HEV1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEV1"
          }
        },
        "HEV2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEV2"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "AAC Profile."
      }
    },
    "com.amazonaws.mediaconvert#AacCodingMode": {
      "type": "enum",
      "members": {
        "AD_RECEIVER_MIX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AD_RECEIVER_MIX"
          }
        },
        "CODING_MODE_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_0"
          }
        },
        "CODING_MODE_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_1"
          }
        },
        "CODING_MODE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_2_0"
          }
        },
        "CODING_MODE_5_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_5_1"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The Coding mode that you specify determines the number of audio channels and the audio channel layout metadata in your AAC output. Valid coding modes depend on the Rate control mode and Profile that you select. The following list shows the number of audio channels and channel layout for each coding mode. * 1.0 Audio Description (Receiver Mix): One channel, C. Includes audio description data from your stereo input. For more information see ETSI TS 101 154 Annex E. * 1.0 Mono: One channel, C. * 2.0 Stereo: Two channels, L, R. * 5.1 Surround: Five channels, C, L, R, Ls, Rs, LFE."
      }
    },
    "com.amazonaws.mediaconvert#AacRateControlMode": {
      "type": "enum",
      "members": {
        "CBR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CBR"
          }
        },
        "VBR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VBR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Rate Control Mode."
      }
    },
    "com.amazonaws.mediaconvert#AacRawFormat": {
      "type": "enum",
      "members": {
        "LATM_LOAS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LATM_LOAS"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container."
      }
    },
    "com.amazonaws.mediaconvert#AacSettings": {
      "type": "structure",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "target": "com.amazonaws.mediaconvert#AacAudioDescriptionBroadcasterMix",
          "traits": {
            "smithy.api#documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
            "smithy.api#jsonName": "audioDescriptionBroadcasterMix"
          }
        },
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin6000Max1024000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "CodecProfile": {
          "target": "com.amazonaws.mediaconvert#AacCodecProfile",
          "traits": {
            "smithy.api#documentation": "AAC Profile.",
            "smithy.api#jsonName": "codecProfile"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#AacCodingMode",
          "traits": {
            "smithy.api#documentation": "The Coding mode that you specify determines the number of audio channels and the audio channel layout metadata in your AAC output. Valid coding modes depend on the Rate control mode and Profile that you select. The following list shows the number of audio channels and channel layout for each coding mode. * 1.0 Audio Description (Receiver Mix): One channel, C. Includes audio description data from your stereo input. For more information see ETSI TS 101 154 Annex E. * 1.0 Mono: One channel, C. * 2.0 Stereo: Two channels, L, R. * 5.1 Surround: Five channels, C, L, R, Ls, Rs, LFE.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "RateControlMode": {
          "target": "com.amazonaws.mediaconvert#AacRateControlMode",
          "traits": {
            "smithy.api#documentation": "Rate Control Mode.",
            "smithy.api#jsonName": "rateControlMode"
          }
        },
        "RawFormat": {
          "target": "com.amazonaws.mediaconvert#AacRawFormat",
          "traits": {
            "smithy.api#documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
            "smithy.api#jsonName": "rawFormat"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max96000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify the Sample rate in Hz. Valid sample rates depend on the Profile and Coding mode that you select. The following list shows valid sample rates for each Profile and Coding mode. * LC Profile, Coding mode 1.0, 2.0, and Receiver Mix: 8000, 12000, 16000, 22050, 24000, 32000, 44100, 48000, 88200, 96000. * LC Profile, Coding mode 5.1: 32000, 44100, 48000, 96000. * HEV1 Profile, Coding mode 1.0 and Receiver Mix: 22050, 24000, 32000, 44100, 48000. * HEV1 Profile, Coding mode 2.0 and 5.1: 32000, 44100, 48000, 96000. * HEV2 Profile, Coding mode 2.0: 22050, 24000, 32000, 44100, 48000.",
            "smithy.api#jsonName": "sampleRate"
          }
        },
        "Specification": {
          "target": "com.amazonaws.mediaconvert#AacSpecification",
          "traits": {
            "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
            "smithy.api#jsonName": "specification"
          }
        },
        "VbrQuality": {
          "target": "com.amazonaws.mediaconvert#AacVbrQuality",
          "traits": {
            "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
            "smithy.api#jsonName": "vbrQuality"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode."
      }
    },
    "com.amazonaws.mediaconvert#AacSpecification": {
      "type": "enum",
      "members": {
        "MPEG2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MPEG2"
          }
        },
        "MPEG4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MPEG4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers."
      }
    },
    "com.amazonaws.mediaconvert#AacVbrQuality": {
      "type": "enum",
      "members": {
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM_LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_LOW"
          }
        },
        "MEDIUM_HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM_HIGH"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "VBR Quality Level - Only used if rate_control_mode is VBR."
      }
    },
    "com.amazonaws.mediaconvert#Ac3BitstreamMode": {
      "type": "enum",
      "members": {
        "COMPLETE_MAIN": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMPLETE_MAIN"
          }
        },
        "COMMENTARY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "COMMENTARY"
          }
        },
        "DIALOGUE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DIALOGUE"
          }
        },
        "EMERGENCY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EMERGENCY"
          }
        },
        "HEARING_IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HEARING_IMPAIRED"
          }
        },
        "MUSIC_AND_EFFECTS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_AND_EFFECTS"
          }
        },
        "VISUALLY_IMPAIRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VISUALLY_IMPAIRED"
          }
        },
        "VOICE_OVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VOICE_OVER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E)."
      }
    },
    "com.amazonaws.mediaconvert#Ac3CodingMode": {
      "type": "enum",
      "members": {
        "CODING_MODE_1_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_0"
          }
        },
        "CODING_MODE_1_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_1_1"
          }
        },
        "CODING_MODE_2_0": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_2_0"
          }
        },
        "CODING_MODE_3_2_LFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CODING_MODE_3_2_LFE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels."
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionLine": {
      "type": "enum",
      "members": {
        "FILM_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_STANDARD"
          }
        },
        "FILM_LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_LIGHT"
          }
        },
        "MUSIC_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_STANDARD"
          }
        },
        "MUSIC_LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_LIGHT"
          }
        },
        "SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf."
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile": {
      "type": "enum",
      "members": {
        "FILM_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_STANDARD"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes."
      }
    },
    "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionRf": {
      "type": "enum",
      "members": {
        "FILM_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_STANDARD"
          }
        },
        "FILM_LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FILM_LIGHT"
          }
        },
        "MUSIC_STANDARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_STANDARD"
          }
        },
        "MUSIC_LIGHT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MUSIC_LIGHT"
          }
        },
        "SPEECH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPEECH"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf."
      }
    },
    "com.amazonaws.mediaconvert#Ac3LfeFilter": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode."
      }
    },
    "com.amazonaws.mediaconvert#Ac3MetadataControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used."
      }
    },
    "com.amazonaws.mediaconvert#Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin64000Max640000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify the average bitrate in bits per second. The bitrate that you specify must be a multiple of 8000 within the allowed minimum and maximum values.  Leave blank to use the default bitrate for the coding mode you select according ETSI TS 102 366. Valid bitrates for coding mode 1/0: Default: 96000. Minimum: 64000. Maximum: 128000. Valid bitrates for coding mode 1/1: Default: 192000. Minimum: 128000. Maximum: 384000. Valid bitrates for coding mode 2/0: Default: 192000. Minimum: 128000. Maximum: 384000. Valid bitrates for coding mode 3/2 with FLE: Default: 384000. Minimum: 384000. Maximum: 640000.",
            "smithy.api#jsonName": "bitrate"
          }
        },
        "BitstreamMode": {
          "target": "com.amazonaws.mediaconvert#Ac3BitstreamMode",
          "traits": {
            "smithy.api#documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
            "smithy.api#jsonName": "bitstreamMode"
          }
        },
        "CodingMode": {
          "target": "com.amazonaws.mediaconvert#Ac3CodingMode",
          "traits": {
            "smithy.api#documentation": "Dolby Digital coding mode. Determines number of channels.",
            "smithy.api#jsonName": "codingMode"
          }
        },
        "Dialnorm": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max31",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
            "smithy.api#jsonName": "dialnorm"
          }
        },
        "DynamicRangeCompressionLine": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionLine",
          "traits": {
            "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
            "smithy.api#jsonName": "dynamicRangeCompressionLine"
          }
        },
        "DynamicRangeCompressionProfile": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionProfile",
          "traits": {
            "smithy.api#documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile (DynamicRangeCompressionProfile). The mode-specific settings are Dynamic range compression profile, line mode (dynamicRangeCompressionLine) and Dynamic range compression profile, RF mode (dynamicRangeCompressionRf). Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None (NONE) to leave out DRC signaling. Keep the default Film standard (FILM_STANDARD) to set the profile to Dolby's film standard profile for all operating modes.",
            "smithy.api#jsonName": "dynamicRangeCompressionProfile"
          }
        },
        "DynamicRangeCompressionRf": {
          "target": "com.amazonaws.mediaconvert#Ac3DynamicRangeCompressionRf",
          "traits": {
            "smithy.api#documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile (DynamicRangeCompressionProfile). For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
            "smithy.api#jsonName": "dynamicRangeCompressionRf"
          }
        },
        "LfeFilter": {
          "target": "com.amazonaws.mediaconvert#Ac3LfeFilter",
          "traits": {
            "smithy.api#documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
            "smithy.api#jsonName": "lfeFilter"
          }
        },
        "MetadataControl": {
          "target": "com.amazonaws.mediaconvert#Ac3MetadataControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
            "smithy.api#jsonName": "metadataControl"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin48000Max48000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "This value is always 48000. It represents the sample rate in Hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationMode": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "PREFERRED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PREFERRED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "target": "com.amazonaws.mediaconvert#AccelerationMode",
          "traits": {
            "smithy.api#documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
            "smithy.api#jsonName": "mode",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content."
      }
    },
    "com.amazonaws.mediaconvert#AccelerationStatus": {
      "type": "enum",
      "members": {
        "NOT_APPLICABLE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_APPLICABLE"
          }
        },
        "IN_PROGRESS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "IN_PROGRESS"
          }
        },
        "ACCELERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ACCELERATED"
          }
        },
        "NOT_ACCELERATED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_ACCELERATED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED."
      }
    },
    "com.amazonaws.mediaconvert#AfdSignaling": {
      "type": "enum",
      "members": {
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "FIXED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FIXED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data."
      }
    },
    "com.amazonaws.mediaconvert#AiffSettings": {
      "type": "structure",
      "members": {
        "BitDepth": {
          "target": "com.amazonaws.mediaconvert#__integerMin16Max24",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
            "smithy.api#jsonName": "bitDepth"
          }
        },
        "Channels": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max64",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
            "smithy.api#jsonName": "channels"
          }
        },
        "SampleRate": {
          "target": "com.amazonaws.mediaconvert#__integerMin8000Max192000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Sample rate in hz.",
            "smithy.api#jsonName": "sampleRate"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF."
      }
    },
    "com.amazonaws.mediaconvert#AllowedRenditionSize": {
      "type": "structure",
      "members": {
        "Height": {
          "target": "com.amazonaws.mediaconvert#__integerMin32Max8192",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Use Height to define the video resolution height, in pixels, for this rule.",
            "smithy.api#jsonName": "height"
          }
        },
        "Required": {
          "target": "com.amazonaws.mediaconvert#RequiredFlag",
          "traits": {
            "smithy.api#documentation": "Set to ENABLED to force a rendition to be included.",
            "smithy.api#jsonName": "required"
          }
        },
        "Width": {
          "target": "com.amazonaws.mediaconvert#__integerMin32Max8192",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Use Width to define the video resolution width, in pixels, for this rule.",
            "smithy.api#jsonName": "width"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use Allowed renditions to specify a list of possible resolutions in your ABR stack. * MediaConvert will create an ABR stack exclusively from the list of resolutions that you specify. * Some resolutions in the Allowed renditions list may not be included, however you can force a resolution to be included by setting Required to ENABLED. * You must specify at least one resolution that is greater than or equal to any resolutions that you specify in Min top rendition size or Min bottom rendition size. * If you specify Allowed renditions, you must not specify a separate rule for Force include renditions."
      }
    },
    "com.amazonaws.mediaconvert#AlphaBehavior": {
      "type": "enum",
      "members": {
        "DISCARD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISCARD"
          }
        },
        "REMAP_TO_LUMA": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "REMAP_TO_LUMA"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs."
      }
    },
    "com.amazonaws.mediaconvert#AncillaryConvert608To708": {
      "type": "enum",
      "members": {
        "UPCONVERT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "UPCONVERT"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708."
      }
    },
    "com.amazonaws.mediaconvert#AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "target": "com.amazonaws.mediaconvert#AncillaryConvert608To708",
          "traits": {
            "smithy.api#documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
            "smithy.api#jsonName": "convert608To708"
          }
        },
        "SourceAncillaryChannelNumber": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max4",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
            "smithy.api#jsonName": "sourceAncillaryChannelNumber"
          }
        },
        "TerminateCaptions": {
          "target": "com.amazonaws.mediaconvert#AncillaryTerminateCaptions",
          "traits": {
            "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
            "smithy.api#jsonName": "terminateCaptions"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for ancillary captions source."
      }
    },
    "com.amazonaws.mediaconvert#AncillaryTerminateCaptions": {
      "type": "enum",
      "members": {
        "END_OF_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "END_OF_INPUT"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting."
      }
    },
    "com.amazonaws.mediaconvert#AntiAlias": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting."
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificate": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconvert#AssociateCertificateResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconvert#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ConflictException"
        },
        {
          "target": "com.amazonaws.mediaconvert#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconvert#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconvert#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconvert#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/2017-08-29/certificates",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
            "smithy.api#jsonName": "arn",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconvert#AssociateCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.mediaconvert#AudioChannelTag": {
      "type": "enum",
      "members": {
        "L": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "L"
          }
        },
        "R": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "R"
          }
        },
        "C": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "C"
          }
        },
        "LFE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LFE"
          }
        },
        "LS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LS"
          }
        },
        "RS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RS"
          }
        },
        "LC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LC"
          }
        },
        "RC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RC"
          }
        },
        "CS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CS"
          }
        },
        "LSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LSD"
          }
        },
        "RSD": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "RSD"
          }
        },
        "TCS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TCS"
          }
        },
        "VHL": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VHL"
          }
        },
        "VHC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VHC"
          }
        },
        "VHR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VHR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS)."
      }
    },
    "com.amazonaws.mediaconvert#AudioChannelTaggingSettings": {
      "type": "structure",
      "members": {
        "ChannelTag": {
          "target": "com.amazonaws.mediaconvert#AudioChannelTag",
          "traits": {
            "smithy.api#documentation": "You can add a tag for this mono-channel audio track to mimic its placement in a multi-channel layout.  For example, if this track is the left surround channel, choose Left surround (LS).",
            "smithy.api#jsonName": "channelTag"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel."
      }
    },
    "com.amazonaws.mediaconvert#AudioCodec": {
      "type": "enum",
      "members": {
        "AAC": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AAC"
          }
        },
        "MP2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP2"
          }
        },
        "MP3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MP3"
          }
        },
        "WAV": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "WAV"
          }
        },
        "AIFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AIFF"
          }
        },
        "AC3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AC3"
          }
        },
        "EAC3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EAC3"
          }
        },
        "EAC3_ATMOS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "EAC3_ATMOS"
          }
        },
        "VORBIS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "VORBIS"
          }
        },
        "OPUS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OPUS"
          }
        },
        "PASSTHROUGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PASSTHROUGH"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output"
      }
    },
    "com.amazonaws.mediaconvert#AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "target": "com.amazonaws.mediaconvert#AacSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
            "smithy.api#jsonName": "aacSettings"
          }
        },
        "Ac3Settings": {
          "target": "com.amazonaws.mediaconvert#Ac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
            "smithy.api#jsonName": "ac3Settings"
          }
        },
        "AiffSettings": {
          "target": "com.amazonaws.mediaconvert#AiffSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
            "smithy.api#jsonName": "aiffSettings"
          }
        },
        "Codec": {
          "target": "com.amazonaws.mediaconvert#AudioCodec",
          "traits": {
            "smithy.api#documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough (PASSTHROUGH) applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
            "smithy.api#jsonName": "codec"
          }
        },
        "Eac3AtmosSettings": {
          "target": "com.amazonaws.mediaconvert#Eac3AtmosSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
            "smithy.api#jsonName": "eac3AtmosSettings"
          }
        },
        "Eac3Settings": {
          "target": "com.amazonaws.mediaconvert#Eac3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
            "smithy.api#jsonName": "eac3Settings"
          }
        },
        "Mp2Settings": {
          "target": "com.amazonaws.mediaconvert#Mp2Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
            "smithy.api#jsonName": "mp2Settings"
          }
        },
        "Mp3Settings": {
          "target": "com.amazonaws.mediaconvert#Mp3Settings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
            "smithy.api#jsonName": "mp3Settings"
          }
        },
        "OpusSettings": {
          "target": "com.amazonaws.mediaconvert#OpusSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value OPUS.",
            "smithy.api#jsonName": "opusSettings"
          }
        },
        "VorbisSettings": {
          "target": "com.amazonaws.mediaconvert#VorbisSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value Vorbis.",
            "smithy.api#jsonName": "vorbisSettings"
          }
        },
        "WavSettings": {
          "target": "com.amazonaws.mediaconvert#WavSettings",
          "traits": {
            "smithy.api#documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
            "smithy.api#jsonName": "wavSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec."
      }
    },
    "com.amazonaws.mediaconvert#AudioDefaultSelection": {
      "type": "enum",
      "members": {
        "DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DEFAULT"
          }
        },
        "NOT_DEFAULT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NOT_DEFAULT"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio."
      }
    },
    "com.amazonaws.mediaconvert#AudioDescription": {
      "type": "structure",
      "members": {
        "AudioChannelTaggingSettings": {
          "target": "com.amazonaws.mediaconvert#AudioChannelTaggingSettings",
          "traits": {
            "smithy.api#documentation": "When you mimic a multi-channel audio layout with multiple mono-channel tracks, you can tag each channel layout manually. For example, you would tag the tracks that contain your left, right, and center audio with Left (L), Right (R), and Center (C), respectively. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use audio layout tagging, your output must be in a QuickTime (.mov) container; your audio codec must be AAC, WAV, or AIFF; and you must set up your audio track to have only one channel.",
            "smithy.api#jsonName": "audioChannelTaggingSettings"
          }
        },
        "AudioNormalizationSettings": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
            "smithy.api#jsonName": "audioNormalizationSettings"
          }
        },
        "AudioSourceName": {
          "target": "com.amazonaws.mediaconvert#__string",
          "traits": {
            "smithy.api#documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
            "smithy.api#jsonName": "audioSourceName"
          }
        },
        "AudioType": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max255",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
            "smithy.api#jsonName": "audioType"
          }
        },
        "AudioTypeControl": {
          "target": "com.amazonaws.mediaconvert#AudioTypeControl",
          "traits": {
            "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
            "smithy.api#jsonName": "audioTypeControl"
          }
        },
        "CodecSettings": {
          "target": "com.amazonaws.mediaconvert#AudioCodecSettings",
          "traits": {
            "smithy.api#documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec.",
            "smithy.api#jsonName": "codecSettings"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringPatternAZaZ23AZaZ",
          "traits": {
            "smithy.api#documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "LanguageCodeControl": {
          "target": "com.amazonaws.mediaconvert#AudioLanguageCodeControl",
          "traits": {
            "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
            "smithy.api#jsonName": "languageCodeControl"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Advanced audio remixing settings.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "StreamName": {
          "target": "com.amazonaws.mediaconvert#__stringPatternWS",
          "traits": {
            "smithy.api#documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
            "smithy.api#jsonName": "streamName"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings related to one audio tab on the MediaConvert console. In your job JSON, an instance of AudioDescription is equivalent to one audio tab in the console. Usually, one audio tab corresponds to one output audio track. Depending on how you set up your input audio selectors and whether you use audio selector groups, one audio tab can correspond to a group of output audio tracks."
      }
    },
    "com.amazonaws.mediaconvert#AudioDurationCorrection": {
      "type": "enum",
      "members": {
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        },
        "AUTO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "AUTO"
          }
        },
        "TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACK"
          }
        },
        "FRAME": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAME"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Apply audio timing corrections to help synchronize audio and video in your output. To apply timing corrections, your input must meet the following requirements: * Container: MP4, or MOV, with an accurate time-to-sample (STTS) table. * Audio track: AAC. Choose from the following audio timing correction settings: * Disabled (Default): Apply no correction. * Auto: Recommended for most inputs. MediaConvert analyzes the audio timing in your input and determines which correction setting to use, if needed. * Track: Adjust the duration of each audio frame by a constant amount to align the audio track length with STTS duration. Track-level correction does not affect pitch, and is recommended for tonal audio content such as music. * Frame: Adjust the duration of each audio frame by a variable amount to align audio frames with STTS timestamps. No corrections are made to already-aligned frames. Frame-level correction may affect the pitch of corrected frames, and is recommended for atonal audio content such as speech or percussion."
      }
    },
    "com.amazonaws.mediaconvert#AudioLanguageCodeControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify."
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm": {
      "type": "enum",
      "members": {
        "ITU_BS_1770_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_BS_1770_1"
          }
        },
        "ITU_BS_1770_2": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_BS_1770_2"
          }
        },
        "ITU_BS_1770_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_BS_1770_3"
          }
        },
        "ITU_BS_1770_4": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ITU_BS_1770_4"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1."
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl": {
      "type": "enum",
      "members": {
        "CORRECT_AUDIO": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "CORRECT_AUDIO"
          }
        },
        "MEASURE_ONLY": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEASURE_ONLY"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted."
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging": {
      "type": "enum",
      "members": {
        "LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOG"
          }
        },
        "DONT_LOG": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DONT_LOG"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file."
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation": {
      "type": "enum",
      "members": {
        "TRUE_PEAK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRUE_PEAK"
          }
        },
        "NONE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "NONE"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness."
      }
    },
    "com.amazonaws.mediaconvert#AudioNormalizationSettings": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "AlgorithmControl": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationAlgorithmControl",
          "traits": {
            "smithy.api#documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
            "smithy.api#jsonName": "algorithmControl"
          }
        },
        "CorrectionGateLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative70Max0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected.",
            "smithy.api#jsonName": "correctionGateLevel"
          }
        },
        "LoudnessLogging": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationLoudnessLogging",
          "traits": {
            "smithy.api#documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
            "smithy.api#jsonName": "loudnessLogging"
          }
        },
        "PeakCalculation": {
          "target": "com.amazonaws.mediaconvert#AudioNormalizationPeakCalculation",
          "traits": {
            "smithy.api#documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
            "smithy.api#jsonName": "peakCalculation"
          }
        },
        "TargetLkfs": {
          "target": "com.amazonaws.mediaconvert#__doubleMinNegative59Max0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
            "smithy.api#jsonName": "targetLkfs"
          }
        },
        "TruePeakLimiterThreshold": {
          "target": "com.amazonaws.mediaconvert#__doubleMinNegative20Max0",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specify the True-peak limiter threshold in decibels relative to full scale (dBFS). The peak inter-audio sample loudness in your output will be limited to the value that you specify, without affecting the overall target LKFS. Enter a value from 0 to -20. Leave blank to use the default value 0.",
            "smithy.api#jsonName": "truePeakLimiterThreshold"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelector": {
      "type": "structure",
      "members": {
        "AudioDurationCorrection": {
          "target": "com.amazonaws.mediaconvert#AudioDurationCorrection",
          "traits": {
            "smithy.api#documentation": "Apply audio timing corrections to help synchronize audio and video in your output. To apply timing corrections, your input must meet the following requirements: * Container: MP4, or MOV, with an accurate time-to-sample (STTS) table. * Audio track: AAC. Choose from the following audio timing correction settings: * Disabled (Default): Apply no correction. * Auto: Recommended for most inputs. MediaConvert analyzes the audio timing in your input and determines which correction setting to use, if needed. * Track: Adjust the duration of each audio frame by a constant amount to align the audio track length with STTS duration. Track-level correction does not affect pitch, and is recommended for tonal audio content such as music. * Frame: Adjust the duration of each audio frame by a variable amount to align audio frames with STTS timestamps. No corrections are made to already-aligned frames. Frame-level correction may affect the pitch of corrected frames, and is recommended for atonal audio content such as speech or percussion.",
            "smithy.api#jsonName": "audioDurationCorrection"
          }
        },
        "CustomLanguageCode": {
          "target": "com.amazonaws.mediaconvert#__stringMin3Max3PatternAZaZ3",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
            "smithy.api#jsonName": "customLanguageCode"
          }
        },
        "DefaultSelection": {
          "target": "com.amazonaws.mediaconvert#AudioDefaultSelection",
          "traits": {
            "smithy.api#documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
            "smithy.api#jsonName": "defaultSelection"
          }
        },
        "ExternalAudioFileInput": {
          "target": "com.amazonaws.mediaconvert#__stringPatternS3MM2PPWWEEBBMMMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSSOOGGGGaAHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMKKAAMMOOVVMMTTSSMM2TTWWMMVVaAAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEAATTMMOOSSOOGGGGaA",
          "traits": {
            "smithy.api#documentation": "Specifies audio data from an external file source.",
            "smithy.api#jsonName": "externalAudioFileInput"
          }
        },
        "HlsRenditionGroupSettings": {
          "target": "com.amazonaws.mediaconvert#HlsRenditionGroupSettings",
          "traits": {
            "smithy.api#documentation": "Settings specific to audio sources in an HLS alternate rendition group. Specify the properties (renditionGroupId, renditionName or renditionLanguageCode) to identify the unique audio track among the alternative rendition groups present in the HLS manifest. If no unique track is found, or multiple tracks match the properties provided, the job fails. If no properties in hlsRenditionGroupSettings are specified, the default audio track within the video segment is chosen. If there is no audio within video segment, the alternative audio with DEFAULT=YES is chosen instead.",
            "smithy.api#jsonName": "hlsRenditionGroupSettings"
          }
        },
        "LanguageCode": {
          "target": "com.amazonaws.mediaconvert#LanguageCode",
          "traits": {
            "smithy.api#documentation": "Selects a specific language code from within an audio source.",
            "smithy.api#jsonName": "languageCode"
          }
        },
        "Offset": {
          "target": "com.amazonaws.mediaconvert#__integerMinNegative2147483648Max2147483647",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
            "smithy.api#jsonName": "offset"
          }
        },
        "Pids": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
            "smithy.api#jsonName": "pids"
          }
        },
        "ProgramSelection": {
          "target": "com.amazonaws.mediaconvert#__integerMin0Max8",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
            "smithy.api#jsonName": "programSelection"
          }
        },
        "RemixSettings": {
          "target": "com.amazonaws.mediaconvert#RemixSettings",
          "traits": {
            "smithy.api#documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
            "smithy.api#jsonName": "remixSettings"
          }
        },
        "SelectorType": {
          "target": "com.amazonaws.mediaconvert#AudioSelectorType",
          "traits": {
            "smithy.api#documentation": "Specifies the type of the audio selector.",
            "smithy.api#jsonName": "selectorType"
          }
        },
        "Tracks": {
          "target": "com.amazonaws.mediaconvert#__listOf__integerMin1Max2147483647",
          "traits": {
            "smithy.api#documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
            "smithy.api#jsonName": "tracks"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use Audio selectors (AudioSelectors) to specify a track or set of tracks from the input that you will use in your outputs. You can use multiple Audio selectors per input."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorGroup": {
      "type": "structure",
      "members": {
        "AudioSelectorNames": {
          "target": "com.amazonaws.mediaconvert#__listOf__stringMin1",
          "traits": {
            "smithy.api#documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
            "smithy.api#jsonName": "audioSelectorNames"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use audio selector groups to combine multiple sidecar audio inputs so that you can assign them to a single output audio tab (AudioDescription). Note that, if you're working with embedded audio, it's simpler to assign multiple input tracks into a single audio selector rather than use an audio selector group."
      }
    },
    "com.amazonaws.mediaconvert#AudioSelectorType": {
      "type": "enum",
      "members": {
        "PID": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "PID"
          }
        },
        "TRACK": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "TRACK"
          }
        },
        "LANGUAGE_CODE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LANGUAGE_CODE"
          }
        },
        "HLS_RENDITION_GROUP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HLS_RENDITION_GROUP"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specifies the type of the audio selector."
      }
    },
    "com.amazonaws.mediaconvert#AudioTypeControl": {
      "type": "enum",
      "members": {
        "FOLLOW_INPUT": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FOLLOW_INPUT"
          }
        },
        "USE_CONFIGURED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "USE_CONFIGURED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD."
      }
    },
    "com.amazonaws.mediaconvert#AutomatedAbrRule": {
      "type": "structure",
      "members": {
        "AllowedRenditions": {
          "target": "com.amazonaws.mediaconvert#__listOfAllowedRenditionSize",
          "traits": {
            "smithy.api#documentation": "When customer adds the allowed renditions rule for auto ABR ladder, they are required to add at leat one rendition to allowedRenditions list",
            "smithy.api#jsonName": "allowedRenditions"
          }
        },
        "ForceIncludeRenditions": {
          "target": "com.amazonaws.mediaconvert#__listOfForceIncludeRenditionSize",
          "traits": {
            "smithy.api#documentation": "When customer adds the force include renditions rule for auto ABR ladder, they are required to add at leat one rendition to forceIncludeRenditions list",
            "smithy.api#jsonName": "forceIncludeRenditions"
          }
        },
        "MinBottomRenditionSize": {
          "target": "com.amazonaws.mediaconvert#MinBottomRenditionSize",
          "traits": {
            "smithy.api#documentation": "Use Min bottom rendition size to specify a minimum size for the lowest resolution in your ABR stack. * The lowest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 640x360 the lowest resolution in your ABR stack will be equal to or greater than to 640x360. * If you specify a Min top rendition size rule, the value that you specify for Min bottom rendition size must be less than, or equal to, Min top rendition size.",
            "smithy.api#jsonName": "minBottomRenditionSize"
          }
        },
        "MinTopRenditionSize": {
          "target": "com.amazonaws.mediaconvert#MinTopRenditionSize",
          "traits": {
            "smithy.api#documentation": "Use Min top rendition size to specify a minimum size for the highest resolution in your ABR stack. * The highest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 1280x720 the highest resolution in your ABR stack will be equal to or greater than 1280x720. * If you specify a value for Max resolution, the value that you specify for Min top rendition size must be less than, or equal to, Max resolution.",
            "smithy.api#jsonName": "minTopRenditionSize"
          }
        },
        "Type": {
          "target": "com.amazonaws.mediaconvert#RuleType",
          "traits": {
            "smithy.api#documentation": "Use Min top rendition size to specify a minimum size for the highest resolution in your ABR stack. * The highest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 1280x720 the highest resolution in your ABR stack will be equal to or greater than 1280x720. * If you specify a value for Max resolution, the value that you specify for Min top rendition size must be less than, or equal to, Max resolution. Use Min bottom rendition size to specify a minimum size for the lowest resolution in your ABR stack. * The lowest resolution in your ABR stack will be equal to or greater than the value that you enter. For example: If you specify 640x360 the lowest resolution in your ABR stack will be equal to or greater than to 640x360. * If you specify a Min top rendition size rule, the value that you specify for Min bottom rendition size must be less than, or equal to, Min top rendition size. Use Force include renditions to specify one or more resolutions to include your ABR stack. * (Recommended) To optimize automated ABR, specify as few resolutions as possible. * (Required) The number of resolutions that you specify must be equal to, or less than, the Max renditions setting. * If you specify a Min top rendition size rule, specify at least one resolution that is equal to, or greater than, Min top rendition size. * If you specify a Min bottom rendition size rule, only specify resolutions that are equal to, or greater than, Min bottom rendition size. * If you specify a Force include renditions rule, do not specify a separate rule for Allowed renditions. * Note: The ABR stack may include other resolutions that you do not specify here, depending on the Max renditions setting. Use Allowed renditions to specify a list of possible resolutions in your ABR stack. * (Required) The number of resolutions that you specify must be equal to, or greater than, the Max renditions setting. * MediaConvert will create an ABR stack exclusively from the list of resolutions that you specify. * Some resolutions in the Allowed renditions list may not be included, however you can force a resolution to be included by setting Required to ENABLED. * You must specify at least one resolution that is greater than or equal to any resolutions that you specify in Min top rendition size or Min bottom rendition size. * If you specify Allowed renditions, you must not specify a separate rule for Force include renditions.",
            "smithy.api#jsonName": "type"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify one or more Automated ABR rule types. Note: Force include and Allowed renditions are mutually exclusive."
      }
    },
    "com.amazonaws.mediaconvert#AutomatedAbrSettings": {
      "type": "structure",
      "members": {
        "MaxAbrBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin100000Max100000000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Optional. The maximum target bit rate used in your automated ABR stack. Use this value to set an upper limit on the bandwidth consumed by the highest-quality rendition. This is the rendition that is delivered to viewers with the fastest internet connections. If you don't specify a value, MediaConvert uses 8,000,000 (8 mb/s) by default.",
            "smithy.api#jsonName": "maxAbrBitrate"
          }
        },
        "MaxRenditions": {
          "target": "com.amazonaws.mediaconvert#__integerMin3Max15",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Optional. The maximum number of renditions that MediaConvert will create in your automated ABR stack. The number of renditions is determined automatically, based on analysis of each job, but will never exceed this limit. When you set this to Auto in the console, which is equivalent to excluding it from your JSON job specification, MediaConvert defaults to a limit of 15.",
            "smithy.api#jsonName": "maxRenditions"
          }
        },
        "MinAbrBitrate": {
          "target": "com.amazonaws.mediaconvert#__integerMin100000Max100000000",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Optional. The minimum target bitrate used in your automated ABR stack. Use this value to set a lower limit on the bitrate of video delivered to viewers with slow internet connections. If you don't specify a value, MediaConvert uses 600,000 (600 kb/s) by default.",
            "smithy.api#jsonName": "minAbrBitrate"
          }
        },
        "Rules": {
          "target": "com.amazonaws.mediaconvert#__listOfAutomatedAbrRule",
          "traits": {
            "smithy.api#documentation": "Optional. Use Automated ABR rules to specify restrictions for the rendition sizes MediaConvert will create in your ABR stack. You can use these rules if your ABR workflow has specific rendition size requirements, but you still want MediaConvert to optimize for video quality and overall file size.",
            "smithy.api#jsonName": "rules"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use automated ABR to have MediaConvert set up the renditions in your ABR package for you automatically, based on characteristics of your input video. This feature optimizes video quality while minimizing the overall size of your ABR package."
      }
    },
    "com.amazonaws.mediaconvert#AutomatedEncodingSettings": {
      "type": "structure",
      "members": {
        "AbrSettings": {
          "target": "com.amazonaws.mediaconvert#AutomatedAbrSettings",
          "traits": {
            "smithy.api#documentation": "Use automated ABR to have MediaConvert set up the renditions in your ABR package for you automatically, based on characteristics of your input video. This feature optimizes video quality while minimizing the overall size of your ABR package.",
            "smithy.api#jsonName": "abrSettings"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Use automated encoding to have MediaConvert choose your encoding settings for you, based on characteristics of your input video."
      }
    },
    "com.amazonaws.mediaconvert#Av1AdaptiveQuantization": {
      "type": "enum",
      "members": {
        "OFF": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "OFF"
          }
        },
        "LOW": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "LOW"
          }
        },
        "MEDIUM": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MEDIUM"
          }
        },
        "HIGH": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGH"
          }
        },
        "HIGHER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "HIGHER"
          }
        },
        "MAX": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MAX"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify the strength of any adaptive quantization filters that you enable. The value that you choose here applies to Spatial adaptive quantization (spatialAdaptiveQuantization)."
      }
    },
    "com.amazonaws.mediaconvert#Av1BitDepth": {
      "type": "enum",
      "members": {
        "BIT_8": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT_8"
          }
        },
        "BIT_10": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BIT_10"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Specify the Bit depth (Av1BitDepth). You can choose 8-bit (BIT_8) or 10-bit (BIT_10)."
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateControl": {
      "type": "enum",
      "members": {
        "INITIALIZE_FROM_SOURCE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INITIALIZE_FROM_SOURCE"
          }
        },
        "SPECIFIED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "SPECIFIED"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator."
      }
    },
    "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm": {
      "type": "enum",
      "members": {
        "DUPLICATE_DROP": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DUPLICATE_DROP"
          }
        },
        "INTERPOLATE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "INTERPOLATE"
          }
        },
        "FRAMEFORMER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FRAMEFORMER"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost."
      }
    },
    "com.amazonaws.mediaconvert#Av1QvbrSettings": {
      "type": "structure",
      "members": {
        "QvbrQualityLevel": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max10",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Use this setting only when you set Rate control mode (RateControlMode) to QVBR. Specify the target quality level for this output. MediaConvert determines the right number of bits to use for each part of the video to maintain the video quality that you specify. When you keep the default value, AUTO, MediaConvert picks a quality level for you, based on characteristics of your input video. If you prefer to specify a quality level, specify a number from 1 through 10. Use higher numbers for greater quality. Level 10 results in nearly lossless compression. The quality level for most broadcast-quality transcodes is between 6 and 9. Optionally, to specify a value between whole numbers, also provide a value for the setting qvbrQualityLevelFineTune. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33.",
            "smithy.api#jsonName": "qvbrQualityLevel"
          }
        },
        "QvbrQualityLevelFineTune": {
          "target": "com.amazonaws.mediaconvert#__doubleMin0Max1",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Optional. Specify a value here to set the QVBR quality to a level that is between whole numbers. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33. MediaConvert rounds your QVBR quality level to the nearest third of a whole number. For example, if you set qvbrQualityLevel to 7 and you set qvbrQualityLevelFineTune to .25, your actual QVBR quality level is 7.33.",
            "smithy.api#jsonName": "qvbrQualityLevelFineTune"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Settings for quality-defined variable bitrate encoding with the AV1 codec. Use these settings only when you set QVBR for Rate control mode (RateControlMode)."
      }
    },
    "com.amazonaws.mediaconvert#Av1RateControlMode": {
      "type": "enum",
      "members": {
        "QVBR": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "QVBR"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'"
      }
    },
    "com.amazonaws.mediaconvert#Av1Settings": {
      "type": "structure",
      "members": {
        "AdaptiveQuantization": {
          "target": "com.amazonaws.mediaconvert#Av1AdaptiveQuantization",
          "traits": {
            "smithy.api#documentation": "Specify the strength of any adaptive quantization filters that you enable. The value that you choose here applies to Spatial adaptive quantization (spatialAdaptiveQuantization).",
            "smithy.api#jsonName": "adaptiveQuantization"
          }
        },
        "BitDepth": {
          "target": "com.amazonaws.mediaconvert#Av1BitDepth",
          "traits": {
            "smithy.api#documentation": "Specify the Bit depth (Av1BitDepth). You can choose 8-bit (BIT_8) or 10-bit (BIT_10).",
            "smithy.api#jsonName": "bitDepth"
          }
        },
        "FramerateControl": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateControl",
          "traits": {
            "smithy.api#documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
            "smithy.api#jsonName": "framerateControl"
          }
        },
        "FramerateConversionAlgorithm": {
          "target": "com.amazonaws.mediaconvert#Av1FramerateConversionAlgorithm",
          "traits": {
            "smithy.api#documentation": "Choose the method that you want MediaConvert to use when increasing or decreasing the frame rate. We recommend using drop duplicate (DUPLICATE_DROP) for numerically simple conversions, such as 60 fps to 30 fps. For numerically complex conversions, you can use interpolate (INTERPOLATE) to avoid stutter. This results in a smooth picture, but might introduce undesirable video artifacts. For complex frame rate conversions, especially if your source video has already been converted from its original cadence, use FrameFormer (FRAMEFORMER) to do motion-compensated interpolation. FrameFormer chooses the best conversion method frame by frame. Note that using FrameFormer increases the transcoding time and incurs a significant add-on cost.",
            "smithy.api#jsonName": "framerateConversionAlgorithm"
          }
        },
        "FramerateDenominator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
            "smithy.api#jsonName": "framerateDenominator"
          }
        },
        "FramerateNumerator": {
          "target": "com.amazonaws.mediaconvert#__integerMin1Max2147483647",
          "traits": {
            "smithy.api#default": 0,
[...]
