{
  "smithy": "2.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.mediaconnect#AddFlowMediaStreams": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowMediaStreamsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowMediaStreamsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/mediaStreams",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowMediaStreamsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the flow.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.+:mediaconnect.+:flow:.+$",
            "smithy.api#required": {}
          }
        },
        "MediaStreams": {
          "target": "com.amazonaws.mediaconnect#__listOfAddMediaStreamRequest",
          "traits": {
            "smithy.api#documentation": "The media streams that you want to add to the flow.",
            "smithy.api#jsonName": "mediaStreams",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add media streams to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowMediaStreamsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you added media streams to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "MediaStreams": {
          "target": "com.amazonaws.mediaconnect#__listOfMediaStream",
          "traits": {
            "smithy.api#documentation": "The media streams that you added to the flow.",
            "smithy.api#jsonName": "mediaStreams"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowOutputsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#AddFlowOutputs420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds outputs to an existing flow. You can create up to 50 outputs per flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/outputs",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputs420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to add outputs to.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "A list of outputs that you want to add.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add outputs to the specified flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowOutputsResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these outputs were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The details of the newly added outputs.",
            "smithy.api#jsonName": "outputs"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSources": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowSourcesRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowSourcesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds Sources to flow",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/source",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSourcesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to mutate.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
          "traits": {
            "smithy.api#documentation": "A list of sources that you want to add.",
            "smithy.api#jsonName": "sources",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add sources to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowSourcesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these sources were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSource",
          "traits": {
            "smithy.api#documentation": "The details of the newly added sources.",
            "smithy.api#jsonName": "sources"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfaces": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Adds VPC interfaces to flow",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/vpcInterfaces",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfacesRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to mutate.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
          "traits": {
            "smithy.api#documentation": "A list of VPC interfaces that you want to add.",
            "smithy.api#jsonName": "vpcInterfaces",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to add VPC interfaces to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddFlowVpcInterfacesResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these VPC interfaces were added to.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterface",
          "traits": {
            "smithy.api#documentation": "The details of the newly added VPC interfaces.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#AddMaintenance": {
      "type": "structure",
      "members": {
        "MaintenanceDay": {
          "target": "com.amazonaws.mediaconnect#MaintenanceDay",
          "traits": {
            "smithy.api#documentation": "A day of a week when the maintenance will happen. Use Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday.",
            "smithy.api#jsonName": "maintenanceDay",
            "smithy.api#required": {}
          }
        },
        "MaintenanceStartHour": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "UTC time when the maintenance will happen. Use 24-hour HH:MM format. Minutes must be 00. Example: 13:00. The default value is 02:00.",
            "smithy.api#jsonName": "maintenanceStartHour",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Create maintenance setting for a flow"
      }
    },
    "com.amazonaws.mediaconnect#AddMediaStreamRequest": {
      "type": "structure",
      "members": {
        "Attributes": {
          "target": "com.amazonaws.mediaconnect#MediaStreamAttributesRequest",
          "traits": {
            "smithy.api#documentation": "The attributes that you want to assign to the new media stream.",
            "smithy.api#jsonName": "attributes"
          }
        },
        "ClockRate": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The sample rate (in Hz) for the stream. If the media stream type is video or ancillary data, set this value to 90000. If the media stream type is audio, set this value to either 48000 or 96000.",
            "smithy.api#jsonName": "clockRate"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description that can help you quickly identify what your media stream is used for.",
            "smithy.api#jsonName": "description"
          }
        },
        "MediaStreamId": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "A unique identifier for the media stream.",
            "smithy.api#jsonName": "mediaStreamId",
            "smithy.api#required": {}
          }
        },
        "MediaStreamName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A name that helps you distinguish one media stream from another.",
            "smithy.api#jsonName": "mediaStreamName",
            "smithy.api#required": {}
          }
        },
        "MediaStreamType": {
          "target": "com.amazonaws.mediaconnect#MediaStreamType",
          "traits": {
            "smithy.api#documentation": "The type of media stream.",
            "smithy.api#jsonName": "mediaStreamType",
            "smithy.api#required": {}
          }
        },
        "VideoFormat": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The resolution of the video.",
            "smithy.api#jsonName": "videoFormat"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The media stream that you want to add to the flow."
      }
    },
    "com.amazonaws.mediaconnect#AddOutputRequest": {
      "type": "structure",
      "members": {
        "CidrAllowList": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.",
            "smithy.api#jsonName": "cidrAllowList"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the output. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Destination": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "destination"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "encryption"
          }
        },
        "MaxLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The maximum latency in milliseconds. This parameter applies only to RIST-based, Zixi-based, and Fujitsu-based streams.",
            "smithy.api#jsonName": "maxLatency"
          }
        },
        "MediaStreamOutputConfigurations": {
          "target": "com.amazonaws.mediaconnect#__listOfMediaStreamOutputConfigurationRequest",
          "traits": {
            "smithy.api#documentation": "The media streams that are associated with the output, and the parameters for those associations.",
            "smithy.api#jsonName": "mediaStreamOutputConfigurations"
          }
        },
        "MinLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The minimum latency in milliseconds for SRT-based streams. In streams that use the SRT protocol, this value that you set on your MediaConnect source or output represents the minimal potential latency of that connection. The latency of the stream is set to the highest number between the sender’s minimum latency and the receiver’s minimum latency.",
            "smithy.api#jsonName": "minLatency"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the output. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Port": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port to use when content is distributed to this output.",
            "smithy.api#jsonName": "port"
          }
        },
        "Protocol": {
          "target": "com.amazonaws.mediaconnect#Protocol",
          "traits": {
            "smithy.api#documentation": "The protocol to use for the output.",
            "smithy.api#jsonName": "protocol",
            "smithy.api#required": {}
          }
        },
        "RemoteId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The remote ID for the Zixi-pull output stream.",
            "smithy.api#jsonName": "remoteId"
          }
        },
        "SenderControlPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port that the flow uses to send outbound requests to initiate connection with the sender.",
            "smithy.api#jsonName": "senderControlPort"
          }
        },
        "SmoothingLatency": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.",
            "smithy.api#jsonName": "smoothingLatency"
          }
        },
        "StreamId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The stream ID that you want to use for this transport. This parameter applies only to Zixi-based streams.",
            "smithy.api#jsonName": "streamId"
          }
        },
        "VpcInterfaceAttachment": {
          "target": "com.amazonaws.mediaconnect#VpcInterfaceAttachment",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface attachment to use for this output.",
            "smithy.api#jsonName": "vpcInterfaceAttachment"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The output that you want to add to this flow."
      }
    },
    "com.amazonaws.mediaconnect#Algorithm": {
      "type": "enum",
      "members": {
        "aes128": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aes128"
          }
        },
        "aes192": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aes192"
          }
        },
        "aes256": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "aes256"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 400
      }
    },
    "com.amazonaws.mediaconnect#Colorimetry": {
      "type": "enum",
      "members": {
        "BT601": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT601"
          }
        },
        "BT709": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT709"
          }
        },
        "BT2020": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT2020"
          }
        },
        "BT2100": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "BT2100"
          }
        },
        "ST2065_1": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST2065-1"
          }
        },
        "ST2065_3": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ST2065-3"
          }
        },
        "XYZ": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "XYZ"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#CreateFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#CreateFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#CreateFlow420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows",
          "code": 201
        }
      }
    },
    "com.amazonaws.mediaconnect#CreateFlow420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowRequest": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS Region.",
            "smithy.api#jsonName": "availabilityZone"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The entitlements that you want to grant on a flow.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "MediaStreams": {
          "target": "com.amazonaws.mediaconnect#__listOfAddMediaStreamRequest",
          "traits": {
            "smithy.api#documentation": "The media streams that you want to add to the flow. You can associate these media streams with sources and outputs on the flow.",
            "smithy.api#jsonName": "mediaStreams"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfAddOutputRequest",
          "traits": {
            "smithy.api#documentation": "The outputs that you want to add to this flow.",
            "smithy.api#jsonName": "outputs"
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#SetSourceRequest",
          "traits": {
            "smithy.api#jsonName": "source"
          }
        },
        "SourceFailoverConfig": {
          "target": "com.amazonaws.mediaconnect#FailoverConfig",
          "traits": {
            "smithy.api#jsonName": "sourceFailoverConfig"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSetSourceRequest",
          "traits": {
            "smithy.api#jsonName": "sources"
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterfaceRequest",
          "traits": {
            "smithy.api#documentation": "The VPC interfaces you want on the flow.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        },
        "Maintenance": {
          "target": "com.amazonaws.mediaconnect#AddMaintenance",
          "traits": {
            "smithy.api#jsonName": "maintenance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50)."
      }
    },
    "com.amazonaws.mediaconnect#CreateFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DeleteFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Deletes a flow. Before you can delete a flow, you must stop the flow.",
        "smithy.api#http": {
          "method": "DELETE",
          "uri": "/v1/flows/{FlowArn}",
          "code": 202
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to delete.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DeleteFlowResponse": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that was deleted.",
            "smithy.api#jsonName": "flowArn"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The status of the flow when the DeleteFlow process begins.",
            "smithy.api#jsonName": "status"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlow": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeFlowResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of a flow. The response includes the flow ARN, name, and Availability Zone, as well as details about the source, outputs, and entitlements.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows/{FlowArn}",
          "code": 200
        },
        "smithy.waiters#waitable": {
          "FlowActive": {
            "documentation": "Wait until a flow is active",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "ACTIVE",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "STARTING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "UPDATING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerErrorException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "ServiceUnavailableException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "ERROR",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 3
          },
          "FlowDeleted": {
            "documentation": "Wait until a flow is deleted",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "errorType": "NotFoundException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "DELETING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerErrorException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "ServiceUnavailableException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "ERROR",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 3
          },
          "FlowStandby": {
            "documentation": "Wait until a flow is in standby mode",
            "acceptors": [
              {
                "state": "success",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "STANDBY",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "STOPPING",
                    "comparator": "stringEquals"
                  }
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "InternalServerErrorException"
                }
              },
              {
                "state": "retry",
                "matcher": {
                  "errorType": "ServiceUnavailableException"
                }
              },
              {
                "state": "failure",
                "matcher": {
                  "output": {
                    "path": "Flow.Status",
                    "expected": "ERROR",
                    "comparator": "stringEquals"
                  }
                }
              }
            ],
            "minDelay": 3
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowRequest": {
      "type": "structure",
      "members": {
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that you want to describe.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeFlowResponse": {
      "type": "structure",
      "members": {
        "Flow": {
          "target": "com.amazonaws.mediaconnect#Flow",
          "traits": {
            "smithy.api#jsonName": "flow"
          }
        },
        "Messages": {
          "target": "com.amazonaws.mediaconnect#Messages",
          "traits": {
            "smithy.api#jsonName": "messages"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOffering": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeOfferingRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeOfferingResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/offerings/{OfferingArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOfferingRequest": {
      "type": "structure",
      "members": {
        "OfferingArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the offering.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeOfferingResponse": {
      "type": "structure",
      "members": {
        "Offering": {
          "target": "com.amazonaws.mediaconnect#Offering",
          "traits": {
            "smithy.api#jsonName": "offering"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservation": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#DescribeReservationRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#DescribeReservationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/reservations/{ReservationArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservationRequest": {
      "type": "structure",
      "members": {
        "ReservationArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) of the reservation.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DescribeReservationResponse": {
      "type": "structure",
      "members": {
        "Reservation": {
          "target": "com.amazonaws.mediaconnect#Reservation",
          "traits": {
            "smithy.api#jsonName": "reservation"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#DestinationConfiguration": {
      "type": "structure",
      "members": {
        "DestinationIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address where contents of the media stream will be sent.",
            "smithy.api#jsonName": "destinationIp",
            "smithy.api#required": {}
          }
        },
        "DestinationPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port to use when the content of the media stream is distributed to the output.",
            "smithy.api#jsonName": "destinationPort",
            "smithy.api#required": {}
          }
        },
        "Interface": {
          "target": "com.amazonaws.mediaconnect#Interface",
          "traits": {
            "smithy.api#documentation": "The VPC interface that is used for the media stream associated with the output.",
            "smithy.api#jsonName": "interface",
            "smithy.api#required": {}
          }
        },
        "OutboundIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address that the receiver requires in order to establish a connection with the flow. This value is represented by the elastic network interface IP address of the VPC. This field applies only to outputs that use the CDI or ST 2110 JPEG XS protocol.",
            "smithy.api#jsonName": "outboundIp",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport parameters that are associated with an outbound media stream."
      }
    },
    "com.amazonaws.mediaconnect#DestinationConfigurationRequest": {
      "type": "structure",
      "members": {
        "DestinationIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address where you want MediaConnect to send contents of the media stream.",
            "smithy.api#jsonName": "destinationIp",
            "smithy.api#required": {}
          }
        },
        "DestinationPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port that you want MediaConnect to use when it distributes the media stream to the output.",
            "smithy.api#jsonName": "destinationPort",
            "smithy.api#required": {}
          }
        },
        "Interface": {
          "target": "com.amazonaws.mediaconnect#InterfaceRequest",
          "traits": {
            "smithy.api#documentation": "The VPC interface that you want to use for the media stream associated with the output.",
            "smithy.api#jsonName": "interface",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport parameters that you want to associate with an outbound media stream."
      }
    },
    "com.amazonaws.mediaconnect#DurationUnits": {
      "type": "enum",
      "members": {
        "MONTHS": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MONTHS"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#EncoderProfile": {
      "type": "enum",
      "members": {
        "main": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "main"
          }
        },
        "high": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "high"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#EncodingName": {
      "type": "enum",
      "members": {
        "jxsv": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "jxsv"
          }
        },
        "raw": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "raw"
          }
        },
        "smpte291": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "smpte291"
          }
        },
        "pcm": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "pcm"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#EncodingParameters": {
      "type": "structure",
      "members": {
        "CompressionFactor": {
          "target": "com.amazonaws.mediaconnect#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.",
            "smithy.api#jsonName": "compressionFactor",
            "smithy.api#required": {}
          }
        },
        "EncoderProfile": {
          "target": "com.amazonaws.mediaconnect#EncoderProfile",
          "traits": {
            "smithy.api#documentation": "A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol.",
            "smithy.api#jsonName": "encoderProfile",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source."
      }
    },
    "com.amazonaws.mediaconnect#EncodingParametersRequest": {
      "type": "structure",
      "members": {
        "CompressionFactor": {
          "target": "com.amazonaws.mediaconnect#__double",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.",
            "smithy.api#jsonName": "compressionFactor",
            "smithy.api#required": {}
          }
        },
        "EncoderProfile": {
          "target": "com.amazonaws.mediaconnect#EncoderProfile",
          "traits": {
            "smithy.api#documentation": "A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, if at least one source on the flow uses the CDI protocol.",
            "smithy.api#jsonName": "encoderProfile",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source."
      }
    },
    "com.amazonaws.mediaconnect#Encryption": {
      "type": "structure",
      "members": {
        "Algorithm": {
          "target": "com.amazonaws.mediaconnect#Algorithm",
          "traits": {
            "smithy.api#documentation": "The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).",
            "smithy.api#jsonName": "algorithm"
          }
        },
        "ConstantInitializationVector": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.",
            "smithy.api#jsonName": "constantInitializationVector"
          }
        },
        "DeviceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "deviceId"
          }
        },
        "KeyType": {
          "target": "com.amazonaws.mediaconnect#KeyType",
          "traits": {
            "smithy.api#documentation": "The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).",
            "smithy.api#jsonName": "keyType"
          }
        },
        "Region": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The AWS Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "region"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "resourceId"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect as a trusted entity).",
            "smithy.api#jsonName": "roleArn",
            "smithy.api#required": {}
          }
        },
        "SecretArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the secret that you created in AWS Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.",
            "smithy.api#jsonName": "secretArn"
          }
        },
        "Url": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.",
            "smithy.api#jsonName": "url"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Information about the encryption of the flow."
      }
    },
    "com.amazonaws.mediaconnect#Entitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "EntitlementStatus": {
          "target": "com.amazonaws.mediaconnect#EntitlementStatus",
          "traits": {
            "smithy.api#documentation": "An indication of whether the entitlement is enabled.",
            "smithy.api#jsonName": "entitlementStatus"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flow using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow entitlement."
      }
    },
    "com.amazonaws.mediaconnect#EntitlementStatus": {
      "type": "enum",
      "members": {
        "ENABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "ENABLED"
          }
        },
        "DISABLED": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "DISABLED"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#FailoverConfig": {
      "type": "structure",
      "members": {
        "FailoverMode": {
          "target": "com.amazonaws.mediaconnect#FailoverMode",
          "traits": {
            "smithy.api#documentation": "The type of failover you choose for this flow. MERGE combines the source streams into a single stream, allowing graceful recovery from any single-source loss. FAILOVER allows switching between different streams.",
            "smithy.api#jsonName": "failoverMode"
          }
        },
        "RecoveryWindow": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Search window time to look for dash-7 packets",
            "smithy.api#jsonName": "recoveryWindow"
          }
        },
        "SourcePriority": {
          "target": "com.amazonaws.mediaconnect#SourcePriority",
          "traits": {
            "smithy.api#documentation": "The priority you want to assign to a source. You can have a primary stream and a backup stream or two equally prioritized streams.",
            "smithy.api#jsonName": "sourcePriority"
          }
        },
        "State": {
          "target": "com.amazonaws.mediaconnect#State",
          "traits": {
            "smithy.api#jsonName": "state"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for source failover."
      }
    },
    "com.amazonaws.mediaconnect#FailoverMode": {
      "type": "enum",
      "members": {
        "MERGE": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "MERGE"
          }
        },
        "FAILOVER": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "FAILOVER"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#Flow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current AWS.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow. This value is not used or seen outside of the current AWS Elemental MediaConnect account.",
            "smithy.api#jsonName": "description"
          }
        },
        "EgressIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address from which video will be sent to output destinations.",
            "smithy.api#jsonName": "egressIp"
          }
        },
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements in this flow.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN), a unique identifier for any AWS resource, of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "MediaStreams": {
          "target": "com.amazonaws.mediaconnect#__listOfMediaStream",
          "traits": {
            "smithy.api#documentation": "The media streams that are associated with the flow. After you associate a media stream with a source, you can also associate it with outputs on the flow.",
            "smithy.api#jsonName": "mediaStreams"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "Outputs": {
          "target": "com.amazonaws.mediaconnect#__listOfOutput",
          "traits": {
            "smithy.api#documentation": "The outputs in this flow.",
            "smithy.api#jsonName": "outputs",
            "smithy.api#required": {}
          }
        },
        "Source": {
          "target": "com.amazonaws.mediaconnect#Source",
          "traits": {
            "smithy.api#jsonName": "source",
            "smithy.api#required": {}
          }
        },
        "SourceFailoverConfig": {
          "target": "com.amazonaws.mediaconnect#FailoverConfig",
          "traits": {
            "smithy.api#jsonName": "sourceFailoverConfig"
          }
        },
        "Sources": {
          "target": "com.amazonaws.mediaconnect#__listOfSource",
          "traits": {
            "smithy.api#jsonName": "sources"
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "VpcInterfaces": {
          "target": "com.amazonaws.mediaconnect#__listOfVpcInterface",
          "traits": {
            "smithy.api#documentation": "The VPC Interfaces for this flow.",
            "smithy.api#jsonName": "vpcInterfaces"
          }
        },
        "Maintenance": {
          "target": "com.amazonaws.mediaconnect#Maintenance",
          "traits": {
            "smithy.api#jsonName": "maintenance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings for a flow, including its source, outputs, and entitlements."
      }
    },
    "com.amazonaws.mediaconnect#Fmtp": {
      "type": "structure",
      "members": {
        "ChannelOrder": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The format of the audio channel.",
            "smithy.api#jsonName": "channelOrder"
          }
        },
        "Colorimetry": {
          "target": "com.amazonaws.mediaconnect#Colorimetry",
          "traits": {
            "smithy.api#documentation": "The format that is used for the representation of color.",
            "smithy.api#jsonName": "colorimetry"
          }
        },
        "ExactFramerate": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The frame rate for the video stream, in frames/second. For example: 60000/1001. If you specify a whole number, MediaConnect uses a ratio of N/1. For example, if you specify 60, MediaConnect uses 60/1 as the exactFramerate.",
            "smithy.api#jsonName": "exactFramerate"
          }
        },
        "Par": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The pixel aspect ratio (PAR) of the video.",
            "smithy.api#jsonName": "par"
          }
        },
        "Range": {
          "target": "com.amazonaws.mediaconnect#Range",
          "traits": {
            "smithy.api#documentation": "The encoding range of the video.",
            "smithy.api#jsonName": "range"
          }
        },
        "ScanMode": {
          "target": "com.amazonaws.mediaconnect#ScanMode",
          "traits": {
            "smithy.api#documentation": "The type of compression that was used to smooth the video’s appearance",
            "smithy.api#jsonName": "scanMode"
          }
        },
        "Tcs": {
          "target": "com.amazonaws.mediaconnect#Tcs",
          "traits": {
            "smithy.api#documentation": "The transfer characteristic system (TCS) that is used in the video.",
            "smithy.api#jsonName": "tcs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "FMTP"
      }
    },
    "com.amazonaws.mediaconnect#FmtpRequest": {
      "type": "structure",
      "members": {
        "ChannelOrder": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The format of the audio channel.",
            "smithy.api#jsonName": "channelOrder"
          }
        },
        "Colorimetry": {
          "target": "com.amazonaws.mediaconnect#Colorimetry",
          "traits": {
            "smithy.api#documentation": "The format that is used for the representation of color.",
            "smithy.api#jsonName": "colorimetry"
          }
        },
        "ExactFramerate": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The frame rate for the video stream, in frames/second. For example: 60000/1001. If you specify a whole number, MediaConnect uses a ratio of N/1. For example, if you specify 60, MediaConnect uses 60/1 as the exactFramerate.",
            "smithy.api#jsonName": "exactFramerate"
          }
        },
        "Par": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The pixel aspect ratio (PAR) of the video.",
            "smithy.api#jsonName": "par"
          }
        },
        "Range": {
          "target": "com.amazonaws.mediaconnect#Range",
          "traits": {
            "smithy.api#documentation": "The encoding range of the video.",
            "smithy.api#jsonName": "range"
          }
        },
        "ScanMode": {
          "target": "com.amazonaws.mediaconnect#ScanMode",
          "traits": {
            "smithy.api#documentation": "The type of compression that was used to smooth the video’s appearance.",
            "smithy.api#jsonName": "scanMode"
          }
        },
        "Tcs": {
          "target": "com.amazonaws.mediaconnect#Tcs",
          "traits": {
            "smithy.api#documentation": "The transfer characteristic system (TCS) that is used in the video.",
            "smithy.api#jsonName": "tcs"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The settings that you want to use to define the media stream."
      }
    },
    "com.amazonaws.mediaconnect#ForbiddenException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 403
      }
    },
    "com.amazonaws.mediaconnect#GrantEntitlementRequest": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the entitlement. This description appears only on the AWS Elemental MediaConnect console and will not be seen by the subscriber or end user.",
            "smithy.api#jsonName": "description"
          }
        },
        "Encryption": {
          "target": "com.amazonaws.mediaconnect#Encryption",
          "traits": {
            "smithy.api#documentation": "The type of encryption that will be used on the output that is associated with this entitlement.",
            "smithy.api#jsonName": "encryption"
          }
        },
        "EntitlementStatus": {
          "target": "com.amazonaws.mediaconnect#EntitlementStatus",
          "traits": {
            "smithy.api#documentation": "An indication of whether the new entitlement should be enabled or disabled as soon as it is created. If you don’t specify the entitlementStatus field in your request, MediaConnect sets it to ENABLED.",
            "smithy.api#jsonName": "entitlementStatus"
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement. This value must be unique within the current flow.",
            "smithy.api#jsonName": "name"
          }
        },
        "Subscribers": {
          "target": "com.amazonaws.mediaconnect#__listOf__string",
          "traits": {
            "smithy.api#documentation": "The AWS account IDs that you want to share your content with. The receiving accounts (subscribers) will be allowed to create their own flows using your content as the source.",
            "smithy.api#jsonName": "subscribers",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The entitlements that you want to grant on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ForbiddenException"
        },
        {
          "target": "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Grants entitlements to an existing flow.",
        "smithy.api#http": {
          "method": "POST",
          "uri": "/v1/flows/{FlowArn}/entitlements",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlements420Exception": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "client",
        "smithy.api#httpError": 420
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsRequest": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfGrantEntitlementRequest",
          "traits": {
            "smithy.api#documentation": "The list of entitlements that you want to grant.",
            "smithy.api#jsonName": "entitlements",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The flow that you want to grant entitlements on.",
            "smithy.api#httpLabel": {},
            "smithy.api#pattern": "^arn:.*",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "A request to grant entitlements on a flow."
      }
    },
    "com.amazonaws.mediaconnect#GrantFlowEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfEntitlement",
          "traits": {
            "smithy.api#documentation": "The entitlements that were just granted.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow that these entitlements were granted to.",
            "smithy.api#jsonName": "flowArn"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#InputConfiguration": {
      "type": "structure",
      "members": {
        "InputIp": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The IP address that the flow listens on for incoming content for a media stream.",
            "smithy.api#jsonName": "inputIp",
            "smithy.api#required": {}
          }
        },
        "InputPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port that the flow listens on for an incoming media stream.",
            "smithy.api#jsonName": "inputPort",
            "smithy.api#required": {}
          }
        },
        "Interface": {
          "target": "com.amazonaws.mediaconnect#Interface",
          "traits": {
            "smithy.api#documentation": "The VPC interface where the media stream comes in from.",
            "smithy.api#jsonName": "interface",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport parameters that are associated with an incoming media stream."
      }
    },
    "com.amazonaws.mediaconnect#InputConfigurationRequest": {
      "type": "structure",
      "members": {
        "InputPort": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The port that you want the flow to listen on for an incoming media stream.",
            "smithy.api#jsonName": "inputPort",
            "smithy.api#required": {}
          }
        },
        "Interface": {
          "target": "com.amazonaws.mediaconnect#InterfaceRequest",
          "traits": {
            "smithy.api#documentation": "The VPC interface that you want to use for the incoming media stream.",
            "smithy.api#jsonName": "interface",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The transport parameters that you want to associate with an incoming media stream."
      }
    },
    "com.amazonaws.mediaconnect#Interface": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The VPC interface that is used for the media stream associated with the source or output."
      }
    },
    "com.amazonaws.mediaconnect#InterfaceRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the VPC interface.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The VPC interface that you want to designate where the media stream is coming from or going to."
      }
    },
    "com.amazonaws.mediaconnect#InternalServerErrorException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The error message returned by AWS Elemental MediaConnect.",
            "smithy.api#jsonName": "message",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Exception raised by AWS Elemental MediaConnect. See the error message and documentation for the operation for more information on the cause of this exception.",
        "smithy.api#error": "server",
        "smithy.api#httpError": 500
      }
    },
    "com.amazonaws.mediaconnect#KeyType": {
      "type": "enum",
      "members": {
        "speke": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "speke"
          }
        },
        "static_key": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "static-key"
          }
        },
        "srt_password": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "srt-password"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlements": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListEntitlementsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/entitlements",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Entitlements",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListEntitlements request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 20 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListEntitlementsResponse": {
      "type": "structure",
      "members": {
        "Entitlements": {
          "target": "com.amazonaws.mediaconnect#__listOfListedEntitlement",
          "traits": {
            "smithy.api#documentation": "A list of entitlements that have been granted to you from other AWS accounts.",
            "smithy.api#jsonName": "entitlements"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListEntitlements request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListEntitlements request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlows": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListFlowsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListFlowsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of flows that are associated with this account. This request returns a paginated result.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/flows",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Flows",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListFlows request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListFlowsResponse": {
      "type": "structure",
      "members": {
        "Flows": {
          "target": "com.amazonaws.mediaconnect#__listOfListedFlow",
          "traits": {
            "smithy.api#documentation": "A list of flow summaries.",
            "smithy.api#jsonName": "flows"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListFlows request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListFlows request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferings": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListOfferingsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListOfferingsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all offerings that are available to this account in the current AWS Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings.",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/offerings",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Offerings",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferingsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListOfferings request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListOfferingsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListOfferings request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Offerings": {
          "target": "com.amazonaws.mediaconnect#__listOfOffering",
          "traits": {
            "smithy.api#documentation": "A list of offerings that are available to this account in the current AWS Region.",
            "smithy.api#jsonName": "offerings"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservations": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListReservationsRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListReservationsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#ServiceUnavailableException"
        },
        {
          "target": "com.amazonaws.mediaconnect#TooManyRequestsException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "Displays a list of all reservations that have been purchased by this account in the current AWS Region. This list includes all reservations in all states (such as active and expired).",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/v1/reservations",
          "code": 200
        },
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "items": "Reservations",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservationsRequest": {
      "type": "structure",
      "members": {
        "MaxResults": {
          "target": "com.amazonaws.mediaconnect#MaxResults",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "The maximum number of results to return per API request. For example, you submit a ListReservations request with MaxResults set at 5. Although 20 items match your request, the service returns no more than the first 5 items. (The service also returns a NextToken value that you can use to fetch the next batch of results.) The service might return fewer results than the MaxResults value. If MaxResults is not included in the request, the service defaults to pagination with a maximum of 10 results per page.",
            "smithy.api#httpQuery": "maxResults"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListOfferings request a second time and specify the NextToken value.",
            "smithy.api#httpQuery": "nextToken"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListReservationsResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The token that identifies which batch of results that you want to see. For example, you submit a ListReservations request with MaxResults set at 5. The service returns the first batch of results (up to 5) and a NextToken value. To see the next batch of results, you can submit the ListReservations request a second time and specify the NextToken value.",
            "smithy.api#jsonName": "nextToken"
          }
        },
        "Reservations": {
          "target": "com.amazonaws.mediaconnect#__listOfReservation",
          "traits": {
            "smithy.api#documentation": "A list of all reservations that have been purchased by this account in the current AWS Region.",
            "smithy.api#jsonName": "reservations"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.mediaconnect#ListTagsForResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.mediaconnect#BadRequestException"
        },
        {
          "target": "com.amazonaws.mediaconnect#InternalServerErrorException"
        },
        {
          "target": "com.amazonaws.mediaconnect#NotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "List all tags on an AWS Elemental MediaConnect resource",
        "smithy.api#http": {
          "method": "GET",
          "uri": "/tags/{ResourceArn}",
          "code": 200
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Amazon Resource Name (ARN) that identifies the AWS Elemental MediaConnect resource for which to list the tags.",
            "smithy.api#httpLabel": {},
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListTagsForResourceResponse": {
      "type": "structure",
      "members": {
        "Tags": {
          "target": "com.amazonaws.mediaconnect#__mapOf__string",
          "traits": {
            "smithy.api#documentation": "A map from tag keys to values. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.",
            "smithy.api#jsonName": "tags"
          }
        }
      }
    },
    "com.amazonaws.mediaconnect#ListedEntitlement": {
      "type": "structure",
      "members": {
        "DataTransferSubscriberFeePercent": {
          "target": "com.amazonaws.mediaconnect#__integer",
          "traits": {
            "smithy.api#default": 0,
            "smithy.api#documentation": "Percentage from 0-100 of the data transfer cost to be billed to the subscriber.",
            "smithy.api#jsonName": "dataTransferSubscriberFeePercent"
          }
        },
        "EntitlementArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the entitlement.",
            "smithy.api#jsonName": "entitlementArn",
            "smithy.api#required": {}
          }
        },
        "EntitlementName": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the entitlement.",
            "smithy.api#jsonName": "entitlementName",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "An entitlement that has been granted to you from other AWS accounts."
      }
    },
    "com.amazonaws.mediaconnect#ListedFlow": {
      "type": "structure",
      "members": {
        "AvailabilityZone": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Availability Zone that the flow was created in.",
            "smithy.api#jsonName": "availabilityZone",
            "smithy.api#required": {}
          }
        },
        "Description": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A description of the flow.",
            "smithy.api#jsonName": "description",
            "smithy.api#required": {}
          }
        },
        "FlowArn": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The ARN of the flow.",
            "smithy.api#jsonName": "flowArn",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The name of the flow.",
            "smithy.api#jsonName": "name",
            "smithy.api#required": {}
          }
        },
        "SourceType": {
          "target": "com.amazonaws.mediaconnect#SourceType",
          "traits": {
            "smithy.api#documentation": "The type of source. This value is either owned (originated somewhere other than an AWS Elemental MediaConnect flow owned by another AWS account) or entitled (originated at an AWS Elemental MediaConnect flow owned by another AWS account).",
            "smithy.api#jsonName": "sourceType",
            "smithy.api#required": {}
          }
        },
        "Status": {
          "target": "com.amazonaws.mediaconnect#Status",
          "traits": {
            "smithy.api#documentation": "The current status of the flow.",
            "smithy.api#jsonName": "status",
            "smithy.api#required": {}
          }
        },
        "Maintenance": {
          "target": "com.amazonaws.mediaconnect#Maintenance",
          "traits": {
            "smithy.api#jsonName": "maintenance"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "Provides a summary of a flow, including its ARN, Availability Zone, and source type."
      }
    },
    "com.amazonaws.mediaconnect#Maintenance": {
      "type": "structure",
      "members": {
        "MaintenanceDay": {
          "target": "com.amazonaws.mediaconnect#MaintenanceDay",
          "traits": {
            "smithy.api#documentation": "A day of a week when the maintenance will happen. Use Monday/Tuesday/Wednesday/Thursday/Friday/Saturday/Sunday.",
            "smithy.api#jsonName": "maintenanceDay"
          }
        },
        "MaintenanceDeadline": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "The Maintenance has to be performed before this deadline in ISO UTC format. Example: 2021-01-30T08:30:00Z.",
            "smithy.api#jsonName": "maintenanceDeadline"
          }
        },
        "MaintenanceScheduledDate": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "A scheduled date in ISO UTC format when the maintenance will happen. Use YYYY-MM-DD format. Example: 2021-01-30.",
            "smithy.api#jsonName": "maintenanceScheduledDate"
          }
        },
        "MaintenanceStartHour": {
          "target": "com.amazonaws.mediaconnect#__string",
          "traits": {
            "smithy.api#documentation": "UTC time when the maintenance will happen. Use 24-hour HH:MM format. Minutes must be 00. Example: 13:00. The default value is 02:00.",
            "smithy.api#jsonName": "maintenanceStartHour"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "The maintenance setting of a flow"
      }
    },
    "com.amazonaws.mediaconnect#MaintenanceDay": {
      "type": "enum",
      "members": {
        "Monday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Monday"
          }
        },
        "Tuesday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Tuesday"
          }
        },
        "Wednesday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Wednesday"
          }
        },
        "Thursday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Thursday"
          }
        },
        "Friday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Friday"
          }
        },
        "Saturday": {
          "target": "smithy.api#Unit",
          "traits": {
            "smithy.api#enumValue": "Saturday"
          }
        },
[...]
